[2019-03-28 09:19] humitos commented on #5516
@smk508 how much memory does `pytorch` require to be installed?

[2019-03-28 12:44] vidartf opened #5545 "Which install flags should pip use?"
After https://github.com/rtfd/readthedocs.org/pull/5386, I've had some issues when installing my project with `pip` on top of a conda environment. The error messages from `pip` that I'm seeing are along the lines of this:

[code]

This is caused by the following conditions:
- The `--force-install` flag to pip causes all dependencies to be reinstalled as well.
- Some quite common, deeper dependenci

[2019-03-28 12:50] vidartf commented on #5545
Possible flags to consider:
- `--ignore-installed`: What was there before #5386. See the PR for arguments against it.
- `--force-install`: Gives the issues explained here (and might increase install times be reinstalling all deps).
- `--upgrade`: From CLI help:

  - `--upgrade-strategy <upgrade_strategy>`:

[2019-03-28 13:33] vidartf commented on #5545
For my case, I think no flags would be sufficient:
- It is installing the project package from a path. As far as I can tell from looking at pip, this means it will always be reinstalled (?).
- Dependencies will only be (re-)installed if current versions are conflicting with requirements. As I'm using conda, most deps will be recent / up to date.

However, an approach that might be a better approxi

[2019-03-28 14:43] vidartf opened #5546 "Conda core requirements install should use channels from env"
While troubleshooting / looking for a workaround for the issue in #5545, it came to my attention that several of the conda packages that are missing the setuptools metadata come from the default anaconda channel. The same packages on the conda-forge channel will normally include this metadata. This caused me some confusion, as I had specified the channels in my environment.yml to only use conda-fo

[2019-03-28 15:18] stsewd commented on #5545
Thanks for digging in to this! I read the thread and seems that a solution is downgrading pip https://github.com/pypa/pip/issues/5247#issuecomment-410910018

So, maybe you can install that version of pip from conda? Another option will be having a requirements.txt installed with that version of pip https://docs.readthedocs.io/en/stable/config-file/v2.html#python-install

Sadly, we don't support in

[2019-03-28 15:20] smk508 commented on #5516
I'm not sure. The package itself is 582 MB from PyPi.

[2019-03-28 15:27] stsewd commented on #5546
Not sure about this, this will be tricky to know which channel to use, some channels probably don't include some core requirements and builds will fail.

[2019-03-28 16:05] vidartf commented on #5546
How about something like this:
[code]

[2019-03-28 17:00] stsewd commented on #5390
Yeah, latest shouldn't be there. What do you think about including `stable`? I think neither should be listed there (actually they should if the user put those branches/tasg)., we should filter for `machine=False` I think.

[2019-03-28 17:03] #5220 closed

[2019-03-28 17:54] saadmk11 commented on #5390
I was proposing something like this on my initial response. I think this is a good way to go :+1:

[2019-03-28 18:16] stsewd commented on #4764
I can't replicate this anymore locally or in production. It was fixed https://github.com/rtfd/readthedocs.org/pull/4947/ in with the `delete_unsynced_media` arg

[2019-03-28 18:16] #4764 closed

[2019-03-28 19:25] humitos commented on #5390
@stsewd yeah, `stable` shouldn't be there either. Filtering by `machine=False` looks good to me :+1:

[2019-03-29 16:23] Ahleroy commented on #5532
Could I build the documentation by switching to mkdocs 0.17 ? Or would this fail the same way ?

[2019-03-29 17:55] stsewd commented on #5532
It would fail too, you can move your docs to the `doc` directory to make it work, but once we merge and release #5539 everything should work without moving your docs.

[2019-03-29 18:09] Ahleroy commented on #5532
Do you mean all the markdown files into `docs` folder alongside the `mkdocs.yml` ?

[2019-03-29 19:33] ask opened #5548 "Please enable USE_PDF_LATEXMK flag for the faust project"
## Details

* Read the Docs project URL: http://faust.readthedocs.io
* Read the Docs username (if applicable): faustdocs

[2019-03-29 20:44] stsewd commented on #5532
The mkdocs.yaml file should be in the root of your repo. The rest of files relative to the mkdocs.yaml file

[2019-03-29 23:04] jasonaowen opened #5550 "Installation instructions for virtualenv should specify python3"
## Details

The [installation instructions](https://docs.readthedocs.io/en/stable/install.html) say:

[code]

On Ubuntu 18.04, the `virtualenv` binary provided by the [`virtualenv` package](https://packages.ubuntu.com/bionic/virtualenv) defaults to using python2, as shown by `virtualenv --help`:

[code]

However, RTD no longer works with Python 2, and the subsequent pip install step fails as a res

[2019-03-29 23:17] jasonaowen opened #5551 "Local instance allows weak passwords"
## Details

The [installation instructions](https://docs.readthedocs.io/en/stable/install.html) say to run `python manage.py createsuperuser`, which prompts for a password; self-sign-up users are also prompted for a password. By default, `createsuperuser` requires a non-empty password, and self-sign-up requires a password that is six characters or longer. Neither impose any further password comple

[2019-03-30 14:46] #5174 closed

[2019-03-31 13:28] facundobatista commented on #5291
I saw #5151, it's a branch about applying a "smart" sort to this list.

My point (unanswered here) is that if people want to select a recent version (@stsewd words above) why not sorting about commit timestamp?

[2019-04-01 03:49] jasonaowen opened #5553 "Recommended Docker image does not contain Python 3.7"
## Details

The [instructions for setting up a Docker build environment](https://docs.readthedocs.io/en/stable/development/buildenvironments.html) specify using the `latest` image:

Attempting to build with that image fails due to the image not including Python 3.7.

Looking at the [Docker Hub image tags](https://hub.docker.com/r/readthedocs/build/tags), it appears that the `latest` tag hasn't bee

[2019-04-01 04:01] jasonaowen opened #5554 "Docker instructions should estimate size"
## Details

The [instructions on setting up a Docker build environment](https://docs.readthedocs.io/en/stable/development/buildenvironments.html) describe pulling the build image, but give no sense of how much space will be required. The [Docker Hub list of tags](https://hub.docker.com/r/readthedocs/build/tags) does not seem to accurately describe how much space the assembled image requires.

Runn

[2019-04-01 07:06] EDI-N opened #5555 "Build fail error"

[2019-04-01 08:26] humitos commented on #5555
Hi, the build that you mentioned here failed because there are some Unicode characters in the documentation and `pdflatex` fails because it's not well supported.

You may need to use another latex engine, like `xelatex` for example.

Check out this guide: https://docs.readthedocs.io/en/latest/guides/pdf-non-ascii-languages.html

Let me know if that helps.

[2019-04-01 09:07] humitos commented on #5553
I can confirm this is an issue. I just downloaded `6b9ab0a5ddaf` and it does not contain `python3.7`.

Although, there is something weird since it says the image was built 12 months ago

[code]

So, it seems they are not properly tagged.

[2019-04-01 09:13] humitos commented on #5062
Docker did what I'm proposing here. See https://success.docker.com/article/i-have-issues-triggering-autobuilds

[2019-04-01 10:02] humitos opened #5557 "Proxito: look for custom 404 pages in the parent project of subprojects"
After implementing #353 we do support custom 404 pages if we find a `404.html` page in the current version (or default version) of the project.

Although, if we are accessing a `subproject` this logic does not work and the standard 404 page is served.

My guess is that the problem is at

https://github.com/rtfd/readthedocs.org/blob/2e29b61a815994b646dda204b975e1c8d7926b79/readthedocs/core/views/__

[2019-04-01 11:01] humitos commented on #5548
I enabled it and triggered a build at https://readthedocs.org/projects/faust/builds/8846501/

Let me know if anything. Thanks!

[2019-04-01 11:01] #5548 closed

[2019-04-01 11:13] humitos commented on #5548
The build failed because you need to disable `xindy` since we don't support it yet (this is already fixed in master, but it's not deployed)

[2019-04-01 13:05] hwindlass commented on #4969
It is too cryptic for me to understand, which file I need to do modifications for python version change?
Could you please specify the path of the file? Or there is any configuration file, which I need to download?

[2019-04-01 13:55] agjohnson commented on #5227
I'm not a fan of hiding operations tasks in management commands, code tends to rot there.

I'd rather we focus on the admin dashboard, this seems like a great chance to add more there, and would accomplish most of what you're describing out of the box with the admin.

Perhaps we could add better filters to make :

* Probably spam -- have some query terms that are usually spam, add this as an admin

[2019-04-01 14:45] stsewd commented on #4969
@hwindlass you can read https://docs.readthedocs.io/en/latest/config-file/index.html

[2019-04-01 14:58] stsewd commented on #5291
We don't save that information in the db as far as I know

[2019-04-02 07:44] orlnub123 opened #5559 "Unorthodox MkDocs layouts cause docs to become stale"
My [docs](https://django-class-settings.rtfd.io/) haven't been updating for a while now so I've looked into the problem. It started when I changed how they were laid out, or more specifically when I took the MkDocs configuration file out of the root folder, in this [commit](https://github.com/orlnub123/django-class-settings/commit/629bae1f2362129498fc9989af9881b99f96801b). The only hint was the di

[2019-04-02 08:11] orlnub123 opened #5560 "The mkdocs_json builder is obsolete"
While looking into https://github.com/rtfd/readthedocs.org/issues/5559 I tried to figure out where the mkdocs_json builder was used. It was added in https://github.com/rtfd/readthedocs.org/commit/92a183a56dd754287ae02774c2af013101818ab7 but has since become obsolete and isn't used anywhere.

The only difference between the mkdocs_json builder and the regular mkdocs builder is that `mkdocs json` ge

[2019-04-02 08:24] dojutsu-user commented on #5560
Hi @orlnub123
Thanks for opening this issue.
I think it is a duplicate of #4205

[2019-04-02 08:58] orlnub123 commented on #5560
You're right, thanks for looking into it! I'll close this in favor of that one.

[2019-04-02 08:58] #5560 closed

[2019-04-02 11:10] humitos opened #5561 "Mention that PDF/epub is not generated on MkDocs"
In our [YAML documentation](https://docs.readthedocs.io/en/latest/config-file/v2.html#formats) we mention that you can set `formats: all` (or include `pdf`) to build the PDF format of your documentation.

Although, there are some people expecting a PDF/epub output when using MkDocs which does not support building PDF/epub as an output.

We should create a note in that section communicating this.

[2019-04-02 14:41] lukebakken opened #5562 "Owner addition / transfer: pika.readthedocs.io"
## Details

* Read the Docs project URL:

https://pika.readthedocs.io/

https://github.com/pika/pika

* Read the Docs username (if applicable):

Currently it's probably `gmr` (Gavin Roy). My username is `lukebakken`.

## Expected Result

User `lukebakken` is allowed to manage `pika.readthedocs.io`

[2019-04-02 15:16] #5332 closed

[2019-04-02 15:30] bersace commented on #5332
Thanks @stsewd ! :heart:

[2019-04-02 15:37] stsewd commented on #5332
Hope we can deploy the fix soon!

[2019-04-02 15:51] stsewd commented on #5562
Can you please explain a little more? Why do you need permissions? Why `gmr` can't give you permissions?

[2019-04-02 15:55] stsewd commented on #5559
I already have a PR to fix this in https://github.com/rtfd/readthedocs.org/pull/5539

[2019-04-02 16:32] rshrc commented on #5561
Will send a PR addressing this issue

[2019-04-02 16:34] rshrc commented on #5557
Is someone working on this issue currently?

[2019-04-02 16:57] lukebakken commented on #5562
@gmr has been unresponsive to my email over the past month. As you can see from the following issues in the Pika project, this is a long-standing problem:

https://github.com/pika/pika/issues/1196

https://github.com/pika/pika/issues/1103

I just released Pika `1.0.0` and the out-of-date documentation at pika.readthedocs.io is confusing users. To be honest I'm surprised any manual intervention is

[2019-04-02 17:09] stsewd commented on #5562
I think the problem is https://docs.readthedocs.io/en/stable/webhooks.html#i-was-warned-i-shouldn-t-use-github-services, do you have access to the repo's webhooks? If you don't, after having permissions in rtd, you'll still need to trigger a manual build every time.

BTW, I just triggered a new build to latest manually, so at least you have that up to date, I can't activate new versions.

[2019-04-02 17:12] lukebakken commented on #5562
Thank you for triggering the new build.

Yes, I have administrative permissions for the Pika repository (https://github.com/pika/pika) and I can modify / add webhooks. I will do that as soon as I can access the integration settings for Pika on RTD (according to [this doc](https://docs.readthedocs.io/en/stable/webhooks.html#webhook-integration-github)).

[2019-04-02 17:49] gmr commented on #5562
Luke, what is your rtd username so I can add you as a maintainer?

[2019-04-02 18:12] humitos commented on #5557
@rshrc I don't think so. It's labeled as `design decision`.

Please, feel free to analyze its context and give and propose a detailed solution. It would be good to make the discussion happen and work towards the solution.

[2019-04-02 18:14] lukebakken commented on #5562
I just confirmed that I have been added as a maintainer. Thanks everyone!

[2019-04-02 18:14] #5562 closed

[2019-04-02 19:49] humitos commented on #5384
@muammar it seems that your GitHub repository is private now. `git` is prompting for a user and password.

Please, let me know if you need further help here.

[2019-04-02 20:23] #5365 closed

[2019-04-02 20:36] #5435 closed

[2019-04-03 05:58] orlnub123 commented on #5559
That's great! I'll take a look at it.

[2019-04-03 07:01] koaning opened #5563 "Banners don't render nicely depending on Project CSS"
Howdy.

I'm digging your service (it seems to work a bit nicer than github pages for my project) which I why I'd like to notify you of a possible optimisation for your ads. I have a sphinx template with a custom css which makes the text of your banner slightly hard to read.

![image](https://user-images.githubusercontent.com/1019791/55458992-b512db00-55ee-11e9-8066-9402501c1fcf.png)

## Details

*

[2019-04-03 08:29] EDI-N commented on #5555
Hi, sorry for long time respond: I add new settings ``latex_engine = 'xelatex'``` to **conf.py** file (https://github.com/EDI-N/Test/blob/rock/docs/source/conf.py) and nothing happend - got same error:
https://readthedocs.org/projects/for-test/builds/8858534/
What should I do to fix ```preloaded format=pdflatex```?

[2019-04-03 10:34] humitos commented on #5555
Hi @EDI-N! I enabled the feature flag mentioned in the guide I linked to your project and now it's building with `xelatex`. See the build at https://readthedocs.org/projects/for-test/builds/8859142/

You will need to adapt the font since it's not properly defined, though.

[code]

I'm closing this issue. Let me know if you have any further question. Thanks!

[2019-04-03 10:34] #5555 closed

[2019-04-03 11:37] DominikaK opened #5564 "Inability to delete old builds breaks use of exact redirects"
## Details

* Read the Docs project URL: https://readthedocs.com/projects/ez-systems-developer-documentation/
* Build URL (if applicable): https://doc.ezplatform.com/en/2.2/
* Read the Docs username (if applicable):

## Expected Result

We use Exact Redirects to redirect from outdated documentation versions (in this case 2.2) to the latest version.
Our redirect looks like this: `/en/2.2/$rest -> /

[2019-04-03 15:28] humitos commented on #5564
Hi @DominikaK! It seems you are using readthedocs.com (corporate) service and this is the repository for readthedocs.org (community) service only.

Please, contact us via email at support@readthedocs.com so we can follow up from there.

Thanks!

[2019-04-03 15:28] #5564 closed

[2019-04-03 15:29] stsewd commented on #5564
Just in case, you should see a `clean` button in the versions list.

[2019-04-03 16:59] #3712 closed

[2019-04-03 17:00] #5559 closed

[2019-04-03 17:00] #5532 closed

[2019-04-03 18:15] stsewd commented on #5532
This is deployed, you can use whatever layout you want :)

[2019-04-03 19:00] stsewd opened #5568 "Validate docs dir before writing custom js"
If the user puts an invalid docs dir, we fail with a generic error, we should raise a more specific one.

https://github.com/rtfd/readthedocs.org/blob/44951fbf8fe1fe12fa9f99f3075f87bd77188525/readthedocs/doc_builder/backends/mkdocs.py#L175-L176

[2019-04-03 19:22] saadmk11 commented on #5568
@stsewd Should the validation be here?
https://github.com/rtfd/readthedocs.org/blob/44951fbf8fe1fe12fa9f99f3075f87bd77188525/readthedocs/doc_builder/base.py#L84

or should we put it be before
https://github.com/rtfd/readthedocs.org/blob/44951fbf8fe1fe12fa9f99f3075f87bd77188525/readthedocs/doc_builder/backends/mkdocs.py#L175-L176

[2019-04-04 15:30] #5402 closed

[2019-04-04 17:20] pllim commented on #337
Six years on and https://github.com/rtfd/readthedocs.org/issues/337#issuecomment-13444783 still helped. Thanks!

[2019-04-04 17:27] stsewd commented on #337
@pllim if your project was imported ~2 months ago, it should work, if your project was imported a time ago, you can have this new feature adding new permissions to the github webhook https://docs.readthedocs.io/en/stable/webhooks.html#github

`Branch or tag creation, Branch or tag deletion `

[2019-04-04 19:58] pllim opened #5570 "How do disable "On GitHub" options in RTD footer"
## Details

* Read the Docs project URL: https://readthedocs.org/projects/astropy/
* Build URL (if applicable):
* Read the Docs username (if applicable): pllim

## Expected Result

Want to hide the "On GitHub" options (both View and Edit) in RTD footer (that thingy that let you choose version on bottom right).

## Actual Result

Not sure how to disable it. I found the code snippet in your reposito

[2019-04-04 20:03] stsewd commented on #5570
I don't think this is possible right now with css, we should put classes to the html labels to make it work.

[2019-04-04 20:08] stsewd commented on #5570
You could still do it with a hacky way using the `injected` class

https://github.com/rtfd/readthedocs.org/blob/ee5ffd0d5e9951da95942fa1badb796ac3f58484/readthedocs/restapi/templates/restapi/footer.html#L2-L2

[2019-04-04 20:12] pllim commented on #5570
@stsewd , thanks for the quick reply. My HTML/CSS skills are very limited. Can you please elaborate on the hacky option? How do I use it to overwrite the footer?

[2019-04-04 20:21] stsewd commented on #5570
I believe this should work
[code]

[2019-04-04 22:24] webknjaz opened #5572 "Add support for arbitrary package names in `python.install`"
I was trying to follow https://docs.readthedocs.io/en/stable/config-file/v2.html#packages but it seems to miss one important use-case.

My project requires pip 19 for building (because of PEP517 dep).
So I tried to do this:
[code]

And it failed because the validator expects a file system path.

I however need this and I don't want to create a requirements file just for this. It also doesn't make

[2019-04-04 22:41] stsewd commented on #5572
We already install the latest version of pip, this is done just after the virtual env creation and before the package/requirements installation.

[2019-04-04 22:42] webknjaz commented on #5572
Yeah, I see that now. Now I realized that I'm hitting Pip's bug: basically, `setuptools` from system site-packages leak into the isolated build...

[2019-04-04 22:44] webknjaz commented on #5572
As you can see, bumping things in the virtualenv manually doesn't help: https://readthedocs.org/projects/octomachinery/builds/8869252/

[2019-04-04 22:45] webknjaz commented on #5572
Looks like https://github.com/pypa/pip/issues/6264

[2019-04-04 22:49] webknjaz commented on #5572
By the way, did anyone suggest providing the ability to just specify `tox` env for building things? This would save me because I've made it work there.

[2019-04-04 22:51] webknjaz commented on #5572
Anyway, _I think_ bumping setuptools/tox in the system site-packages would "fix" this. At least, it seems like a valid workaround.

[2019-04-04 22:53] hroncok commented on #5572
Bumping system site-packages setuptools to at least 40.8.0 or removing it entirely works as workaround.

[2019-04-04 22:55] webknjaz commented on #5572
Nice, but in my case, it's 40.9.0 which is required because I rely on a feature introduced there (missing `setup.py`, having only `setup.cfg`).

[2019-04-04 23:19] stsewd commented on #5572
The global system package comes from the default in ubuntu https://github.com/rtfd/readthedocs-docker-images/blob/71714aa45ffd2b00dc599fd1353651a706ed9f49/Dockerfile#L124-L125

[2019-04-04 23:22] stsewd commented on #5572
I don't think we will support that, we depend on a specific workflow, you may find this interesting #1083

[2019-04-04 23:31] webknjaz commented on #5572
Yeah... I see. I know I could migrate to gh-pages but if it's possible to fix this on RTD, maybe we should try.
I'm curious whether you could inject `pip install -U pip setuptools --user` so that it'd use user install. Maybe It'd help. I also see you use `pyenv` so probably "system" site-packages are coming from there, not OS, because OS-installed things probably point to a different version of Py

[2019-04-05 00:28] stsewd commented on #5572
If the buggy lib is coming from the installation in pyenv, it would be updated the next time we update the docker images

https://github.com/rtfd/readthedocs-docker-images/blob/71714aa45ffd2b00dc599fd1353651a706ed9f49/Dockerfile#L177-L178

[2019-04-05 08:12] dojutsu-user commented on #5057
I am interested in sending a PR for this.
But, I am not able to find what exactly needs to be removed.
Can I get some help on this to get started.

[2019-04-05 13:13] webknjaz commented on #5572
@stsewd you update `pip` there but not `setuptools`

[2019-04-05 13:45] webknjaz commented on #5572
@stsewd it would be nice to indicate which docker image was used on the build page...
Can you please tell me how can I reproduce this locally? Which image should I use? `latest` one year outdated (#5553), `stable` doesn't have 3.7. I'm guessing `testing`?

[2019-04-05 13:48] webknjaz commented on #5572
Alright, it looks like `latest` in config points to `4.x` branch...

[2019-04-05 13:55] webknjaz commented on #5572
I've also found another issue in the build log:
[code]

for some reason, it installs `setuptools<41`

[2019-04-05 13:57] webknjaz commented on #5572
Ah, that's fine...

[2019-04-05 14:32] stsewd commented on #5057
@dojutsu-user there is a PR open for this https://github.com/rtfd/readthedocs.org/pull/5479

[2019-04-05 14:33] webknjaz commented on #5572
So I've tried out `testing` tag and doing `pip3.7 install -U setuptools` against the pyenv-managed Python outside the virtualenv helped.

@stsewd when should we expect

P.S. btw a bit unrelated: since you're already using `pyenv` why don't you use its `pyenv-virtualenv` plugin for managing venvs?

[2019-04-05 14:41] stsewd commented on #5572
I'm not really sure about the docker images in dockerhub, I'm using them without any problem, I guess they work for me bc I added them in a custom dockerfile.

I time ago I tried updating pip from the global system/pyenv, but I was facing some complications (I don't remember exactly), that's why I ended up updating pip inside the virtualenv. I'm going to try to play around updating `setuptools` an

[2019-04-05 14:46] webknjaz commented on #5572
So I went for a dirty hack and now it fails with SphinX:
https://readthedocs.org/projects/octomachinery/builds/8872497/

Any ideas?
https://github.com/sanitizers/octomachinery/blob/b0fc5300e54fec8167892761adc48d9dedecdc1a/docs/conf.py#L14-L52

[2019-04-05 14:52] stsewd commented on #5572
What version of sphinx are you using locally?

[2019-04-05 14:55] webknjaz commented on #5572
latest

[2019-04-05 14:56] webknjaz commented on #5572
I think I've figured it out. I'll need to `exec` and restart it. Because old sphinx is already in memory which messes things up...

[2019-04-05 14:58] stsewd commented on #5572
We install 1.8.x by default, we don't support 2.0 yet, so you may experiment some weird things (maybe)

[2019-04-05 15:20] webknjaz commented on #5572
I improved the hack: https://github.com/sanitizers/octomachinery/blob/819713b/docs/conf.py#L14-L65

And it worked: https://readthedocs.org/projects/octomachinery/builds/8872645/

_**don't repeat this at home!**_

[2019-04-05 15:21] dojutsu-user commented on #5057
@stsewd
Thanks for that.

[2019-04-05 15:26] webknjaz commented on #5572
Yeah, it says https://docs.octomachinery.dev/ here in the bottom. I didn't set any version limitations. But the problem with hack was replacing things which have already been loaded into runtime via a separate process...

[2019-04-05 15:35] dojutsu-user commented on #4654
This issue can be closed now.

[2019-04-05 15:44] dojutsu-user commented on #3541
@humitos
I request you to please update the issue description as the link provided is not working anymore.
I am interested in sending a PR for this.

[2019-04-05 15:47] ericholscher commented on #4654
:+1:

[2019-04-05 15:47] #4654 closed

[2019-04-05 16:15] pllim commented on #5570
@stsewd , ah, the snippets you posted were meant for the RTD codebase and not downstream in our own project?

[2019-04-05 17:29] stsewd commented on #5570
You need put it on your project

[2019-04-05 17:59] Code-Egg opened #5573 "How to change the hyperlink of the title"
## Details

* Read the Docs project URL: https://mkdocs.readthedocs.io/en/stable/
* Build URL (if applicable):
* Read the Docs username (if applicable):

## Actual Result
Click the top left home icon will redirect to the original URL(https://mkdocs.readthedocs.io/en/stable/), not sure how I can define a specific URL,e.g. "https://google.com" and it won't effect any other existing pages.

[2019-04-05 23:57] stsewd commented on #5254
Still valid

[2019-04-06 00:39] medmunds commented on #5254
@stsewd happy to submit a PR if that would help. I think the fix is in [footer_views.py](https://github.com/rtfd/readthedocs.org/blob/3.4.1/readthedocs/restapi/views/footer_views.py#L96-L97):

[code]

If so, I could use some guidance on where to add a test or pointers to similar tests. (test_footer.py? There don't seem to be many tests specific to sphinx_htmldir.)

[2019-04-06 14:27] profgrammer commented on #5561
Hi, I would like to work on this issue, How can I proceed?

[2019-04-06 14:43] dojutsu-user commented on #5561
Hi @profgrammer
Thanks for your interest in contributing.
But, there's already a PR for this issue #5565.

[2019-04-06 15:46] bbengfort opened #5574 "Please enable USE_PDF_LATEXMK flag for the yellowbrick-zh project"
## Details

* Read the Docs project URL: https://readthedocs.org/projects/yellowbrick-zh/
* Build URL (if applicable): https://www.scikit-yb.org/zh/latest/
* Read the Docs username (if applicable): bbengfort

## Expected Result

Per [the docs for building PDF format for non-ASCII languages](https://docs.readthedocs.io/en/latest/guides/pdf-non-ascii-languages.html), I am requesting that the Read th

[2019-04-07 01:01] humitos commented on #5572
We do support Sphinx 2.0. Although, our theme is not 100% ready for it.

[2019-04-07 01:11] humitos commented on #5572
@webknjaz I'm happy to have you on board!

I think this should be reported into our https://github.com/rtfd/readthedocs-docker-images repository and we should install the latest versions `setuptools` as well, here:

https://github.com/rtfd/readthedocs-docker-images/blob/71714aa45ffd2b00dc599fd1353651a706ed9f49/Dockerfile#L178

[2019-04-07 01:12] humitos commented on #5572
We have very old versions currently,

[code]

[2019-04-07 01:30] humitos commented on #5574
@bbengfort done!

Closing. Feel free to reopen if you consider.

Also, I'd appreciate your feedback here so we can start thinking on enable it by default.

[2019-04-07 01:30] #5574 closed

[2019-04-08 02:44] Seenivasanseeni commented on #5445
I have started to work on this.

[2019-04-08 08:33] cromefire opened #5577 "Gitlab login failure"
## Details

* Read the Docs project URL: N/A
* Build URL (if applicable): N/A
* Read the Docs username (if applicable): Should be `Cromefire_` or `cromefire_`

## Expected Result

I'm able to login/sign up via Gitlab

## Actual Result

[code]

[2019-04-08 10:36] david-cortes commented on #5297
In response to the bot @stale, the issue is still present.

[2019-04-08 13:04] humitos commented on #5577
Hrm. I couldn't reproduce your issue.

* Did you accept RTD app on Gitlab?
* Can you revoke it permission from Gitlab page and login again?
* Can you connect your account from the Admin page under RTD?

[2019-04-08 13:05] cromefire commented on #5577
1. Yes
2. No
3. No

[2019-04-08 13:06] cromefire commented on #5577
I tried everything multiple times

[2019-04-08 13:08] humitos commented on #5297
@david-cortes it's hard to debug those builds without the links to them. Can you update your comments to put the proper links on those numbers? Thanks!

At this point, I don't understand why this is a problem on Read the Docs and not with the package itself.

[2019-04-08 13:55] humitos commented on #3541
@dojutsu-user I don't remember exactly what I wanted to do, but it seems that we have some classes in `doc_builder/environments.py` that can be refactored and move it out from that directory.

I think there are some class names that don't really make sense because they have a `Build` prefix but they don't handle a build, or similar.

I suggest you to read the PR linked and check if you find our a

[2019-04-08 15:38] stsewd commented on #5577
Why can't you do that? You should be able to remove the rtd integration app from your github account

[2019-04-08 16:05] cromefire commented on #5577
I can revoke it, reauthorize it, but it doesn't work

[2019-04-08 16:56] david-cortes commented on #5297
@humitos If you mean the build links, here are some:

Let’s call this pakcage A:
https://readthedocs.org/projects/ctpfrec/builds/8596895/
In the link above, package A fails to install due to a dependency failing to install from `pip` – let’s call that one package B. Specifically, when the RTD environment tried to install package B, it fails at this line:
[code]

Now this is package B also building

[2019-04-08 18:24] stsewd commented on #5573
If you mean for mkdocs projects, you should ask there, or search if there is an option in https://www.mkdocs.org/user-guide/configuration/ For sphinx, you can override the template used in https://github.com/rtfd/sphinx_rtd_theme/blob/a49a812c8821123091166fae1897d702cdc2d627/sphinx_rtd_theme/layout.html#L119

We don't maintain the theme for mkdocs https://github.com/mkdocs/mkdocs/tree/master/mkdoc

[2019-04-08 18:24] #5573 closed

[2019-04-08 18:31] stsewd commented on #5254
That should work only if the project is using only `sphinx_htmldir` with all the versions. We are trying to remove the `project.documentation_type` calls https://github.com/rtfd/readthedocs.org/issues/4638

So, not sure if want to keep patching this or fix this for complete with #4638 (it may take some time)

[2019-04-09 04:30] dojutsu-user commented on #5112
This is still valid I think.

[2019-04-09 08:14] yohanboniface commented on #5332
This issue is marked as closed since a week, but it seems to me that the problem still exists, see:

https://readthedocs.org/projects/umap-project/builds/8886819/

That seems to fails with https://github.com/mkdocs/mkdocs/issues/1531

(Sorry if it's just a deployment missing.)

[2019-04-09 12:25] humitos commented on #5297
Are you able to install all those requirements in your local computer with pip into a virtualenv?

After installing those reqs, can you execute the `from ... import` line? Does it work?

Using the same virtualenv, can you build the docs locally?

Those are the questions that I'm interested on having an answer.

From my point of view it's a problem on how the packages are packaged. `hpfrec` fails w

[2019-04-09 13:00] humitos commented on #5557
Also, I think there is another discussion that can take place here. There are two possible paths to take here,

1. setup a 404.html page on the superproject and that page should be server for all the subprojects (current behavior, but broken)
1. each subproject should have their own custom 404 at their root path (behavior proposed on the description by changing the `request.slug`)

[2019-04-09 16:06] stsewd commented on #5332
We put this under a feature flag based on time, means that projects created before the flag was added will be using the old mkdocs by default. If you create a new project the default version will be 1.x, if you have an old project, you need to add a requirements.txt file with an updated version of mkdocs or use a configuration file to downgrade to python 3.6.

[2019-04-09 16:18] yohanboniface commented on #5332
Thanks for your answer :)

Ah, oops, it's on my `-dev` version:

https://github.com/umap-project/umap/blob/master/requirements-dev.txt

Thanks for the info, I've forced this file on the RTFD admin page, and it works :)

[2019-04-09 17:28] david-cortes commented on #5297
@humitos Yes, I'm able to install `hpfrec` through `pip`, and can build the docs locally with `setuptools`, `distutils`, and `pip`. You can also  check that `cython` is among the package requirements:
https://github.com/david-cortes/hpfrec/blob/master/requirements.txt
https://github.com/david-cortes/hpfrec/blob/master/setup.py

And is also among the requirements for the package that depends on `hp

[2019-04-09 20:40] #5297 closed

[2019-04-10 13:17] Juanlu001 commented on #4367
Plotly merged a significant refactor of their render machinery, so it would be nice to repeat the tests with the master version (or wait for the next release if you're patient enough):

https://github.com/plotly/plotly.py/pull/1474#issuecomment-481658471

[2019-04-10 19:28] jkhartshorne opened #5581 "Where is the admin page? Srsly."
The documentation constantly refers to things that must be done on the admin page. There is no discussion of *where* this page might be found. This seems like a serious oversight.

Also, where is the admin page? I've spent over an hour trying to track it down...

[2019-04-10 20:11] dojutsu-user commented on #5581
Hi @jkhartshorne
You can access the admin page from here.
Link: `https://readthedocs.org/projects/<project-slug>/`

![export](https://user-images.githubusercontent.com/29149191/55910003-eeed6e00-5bfa-11e9-9f89-f894e381b2d4.png)

[2019-04-10 20:17] dojutsu-user commented on #3541
@humitos
I did go through the attached PR and there are some small refactors suggested there.
I am working on it.
Will make a PR soon.

[2019-04-10 21:22] dojutsu-user opened #5582 "Implement Static Type Checking Using ``mypy`` in RTD"
RTD code base is growing on a regular basis and we might want to implement static type checking for cleaner code.

- We can update the code base in a step by step manner. Making changes in one app at a time and testing it.
- Integrating mypy with travis-ci will also help to prevent avoidable errors.

Many orgs have already implemented it (Zulip, Dropbox, Instagram... ).
[Zulip](https://github.com/

[2019-04-11 07:26] dojutsu-user commented on #4846
Still valid bot.

[2019-04-11 07:26] dojutsu-user commented on #4386
Still valid bot.

[2019-04-11 07:28] dojutsu-user commented on #3554
Still valid bot.

[2019-04-11 09:15] cutemomo6256 opened #5583 "self-hosted readthedocs issue"
Hi, I've got an issue when I use self-hosted readthedocs
when rtd build on this step--> python3.6 -mvirtualenv --no-site-packages --no-download /readthedocs.org/user_builds/testrtd/envs/latest

I got an error that says --> readthedocs.doc_builder.environments:709[107]:ERROR (Build)[testrtd:latest][Errno 2] no such file or directory: '/readthedocs.org/user_builds/testrtd/envs/latest/readthedocs-env

[2019-04-11 13:56] stsewd commented on #5581
We could expand a little about this in the initial page of the docs (or the first time we mention it)

[2019-04-11 14:14] stsewd commented on #5583
How are you using docker? Do you mean running the whole project with docker or https://docs.readthedocs.io/en/stable/development/buildenvironments.html?

[2019-04-11 14:28] stsewd commented on #5582
If we implement this, I think we could just add the type checking in new code and little refactors rather than whole apps. There could be some problems with type checking and imports (executing unnecessary code, circular dependencies). I know there are some workarounds but, they feel hacky sometimes.

[2019-04-11 14:34] dojutsu-user commented on #5582
@stsewd
I understand the problem of circular imports. But, my inspiration is from Zulip, as it is another big project, and has implemented it. And we can also do the same. It will benefit us in the long run.

[2019-04-11 14:47] stsewd opened #5584 "Error in `Versions` dashboard when a project has many versions"
When a user has many versions and edits the version from the `Versions` menu in the admin panel, they can hit this problem

`The number of GET/POST parameters exceeded settings.DATA_UPLOAD_MAX_NUMBER_FIELDS.`

Sentry issue https://sentry.io/organizations/read-the-docs/issues/790916614/?project=148442&referrer=RegressionActivityEmail

From our docs project https://readthedocs.org/dashboard/docs/ver

[2019-04-11 15:10] saadmk11 commented on #5584
I have ran into this issue in the django admin panel also while trying to edit a project.
The versions menu on the admin panel is almost similar to the version menu on the navbar which seems much more efficient to handle version editing. and for the admin panel version page if the project has a lot of versions it creates a very long list of forms which feels less and less usable to my eyes.

[2019-04-11 16:36] smk508 commented on #5516
Hi guys,

I think when you increased the memory limit, you did so for the development branch. That one builds just fine, meaning that 2G of RAM is sufficient. Would it be possible to do that for the master branch of my project so I can have documentation for that?

Thanks

[2019-04-11 22:05] davidfischer commented on #2140
We have decided to drop `getattr` and define settings in the base.

[2019-04-11 22:28] saadmk11 commented on #2140
Working on it. I'll open a PR soon.

[2019-04-11 22:34] davidfischer commented on #1340
This feature is accepted and we plan to do it. Our plan is to do this after all build artifacts are stored in blob storage (see https://github.com/rtfd/readthedocs.org/pull/5549 for a start on that) because this change will significantly increase our storage requirements as RTD would be storing build output for every PR docs build indefinitely. This will become higher priority in the latter half o

[2019-04-11 22:35] alex commented on #1340
That's wonderful to hear! If you ever want a beta tester, don't hesitate to holler!

[2019-04-11 22:41] ericholscher commented on #2483
Updated this issue to be about removing the magic around README handling.

[2019-04-11 22:55] ericholscher commented on #5006
This information is currently in the build output page (eg. the pip install). We had some bugs in the past where libraries were not being used correctly after being installed, which is where this feature would be useful. We believe we've fixed those issues, so we're going to close this issue now because we aren't likely to implement this.

[2019-04-11 22:55] #5006 closed

[2019-04-11 23:03] agjohnson opened #5586 "Move our application settings to a READTHEDOCS prefix on our settings"
We have a number of settings that don't have a `READTHEDOCS` prefix and this makes our settings hard to find. The core team would like to consolidate our application settings to use a prefix so that they are easier to find and search for in our code.

This is related to how we would like to remove the use of getattr usage in #2140. It's probably either blocked or at least related.

[2019-04-11 23:07] agjohnson commented on #4912
@rtfd/core discussed this a bit today -- and I've mostly only skimmed this issue just now -- but it sounds like `pip` will eventually support installation with poetry? If so, I think our stance at the moment is that we won't implement this in RTD directly, and instead wait for pip to support installation via poetry.

If there is anyone more intimately familiar with the plans of pip here, I think w

[2019-04-11 23:07] stsewd commented on #3507
Related https://github.com/rtfd/readthedocs.org/issues/5570

[2019-04-11 23:15] stsewd commented on #4912
###

[2019-04-11 23:15] #4912 closed

[2019-04-12 00:46] cutemomo6256 commented on #5583
both of it, including readthedocs service and readthedocs build environments
I've use "-v /var/run/docker.sock:/var/run/docker.sock" on readthedocs service
and set the "base.py" file of "docker enable" to true,

I've read the error log, and the log tells me that it has start the container of  readthedocs build environments, but stop at

 readthedocs.doc_builder.environments:709[107]:ERROR (Build)[

[2019-04-12 04:56] maldag opened #5587 "Show differences between 2 versions"
Is there a chance to display the difference of two different versions of the same project in the html view, preferrable as inline diff?

Currently we use a self-designed pdf workflow and highlight the differences in our documentation with different colors so workers and customers can see at a glance what changed in the documentation. Thus, they don't need to read everything again ...

[2019-04-12 06:10] cutemomo6256 commented on #5583
Here is the complete log, which hope you help me out with my problem, thanks!
![擷取](https://user-images.githubusercontent.com/46988439/56015751-af26a380-5d2c-11e9-8497-0cbd21d847e8.PNG)

[2019-04-12 08:41] kpym commented on #5481
I have an empty [readthedocs.yml](https://gitlab.com/kpym/recettes-sphinx/blob/ccdb754577cdb6796f694247fc034a84c376d813/readthedocs.yml) and I [obtain](https://readthedocs.org/projects/recettes/builds/8904039/) `Problem in your project's configuration. Parse error in readthedocs.yml: Expected mapping`. Before it was working [without problem](https://readthedocs.org/projects/recettes/builds/8801471

[2019-04-12 12:42] humitos commented on #5516
@smk508 hi! The increase affect all your branches. Actually, `latest` and `development` are passing properly.

What's the problem that you are experiment?

[2019-04-12 12:50] stsewd commented on #5587
We don't have this feature right now, but it looks an interesting feature.

[2019-04-12 13:07] bbengfort commented on #5574
@humitos perfect, thank you -- looks like everything is building correctly now!

Unfortunately, I don't have a lot of feedback in this area. We are fortunate to have speakers of languages besides English contribute to our documentation and translate them. It is my hope that in the future, automatic translation tools will be useful enough to also support this and make our code bases much more acces

[2019-04-12 13:25] stsewd commented on #5583
I believe this is a problem with permissions, you should check if the file is created with enough permissions for the user running the docker process.

We have some problems when running docker locally in linux systems https://github.com/rtfd/readthedocs.org/pull/5556

Short story, we have the user and group harcoded in the docker file

https://github.com/rtfd/readthedocs-docker-images/blob/869ede

[2019-04-12 13:25] #5583 closed

[2019-04-12 13:45] humitos commented on #5574
Yes! There is where I'm wanting to go. This is a new feature and I was worried that it could break some projects if it's enabled by default. That's why it's under a flag for now.

I'm trying to get more people testing it and giving me some feedback in return. Actually, it feels very solid for now and we will probably enable it by default soon.

[2019-04-12 13:48] bbengfort commented on #5574
Great news! Thank you for all your hard work on Read the Docs!

[2019-04-12 14:15] smk508 commented on #5516
master branch still doesn't build. It gives the same excessive memory consumption error. I temporarily mapped latest to development because of this.

[2019-04-12 15:09] stsewd commented on #5516
Do you have some substantial changes in master that makes the docs more _heavy_?

[2019-04-12 15:39] smk508 commented on #5516
No, it's currently the same as development branch.

[2019-04-13 20:40] #5581 closed

[2019-04-13 20:41] davidfischer commented on #5586
Let's wait on this one at least until #5588 is merged. That should be soon though.

[2019-04-13 21:16] stsewd commented on #5481
Sure!

[2019-04-13 21:28] saadmk11 commented on #5586
@davidfischer I would like to work on this after #5588 gets merged but I'm not quite sure what @agjohnson  means by `application settings`. which settings from the settings file should have the Prefix? Can you please explain?

[2019-04-13 21:36] stsewd commented on #5586
@saadmk11 all the settings that we have in `settings/base.py` and  that we use for internal usage only (like `DOCKER_ENABLE`), should be renamed to `RTD_DOCKER_ENABLE` or `READTHEDOCS_DOCKER_ENABLE` (first one is shorter and clear for me)

[2019-04-13 21:45] saadmk11 commented on #5586
@stsewd Thanks a lot for the clarification :)

[2019-04-13 23:47] stsewd opened #5591 "Search doesn't work for only numbers search"
We got an email with this report

https://topicaltraceflags.readthedocs.io/en/latest/search.html?q=8666&check_keywords=yes&area=default

returns no results, but, for example, there are

https://topicaltraceflags.readthedocs.io/en/latest/cat/qry_StatsAndEst.html
https://topicaltraceflags.readthedocs.io/en/latest/cat/qry_CompInfo.html

pages with "8666" term.

[2019-04-15 13:33] cromefire commented on #5577
Don't you have some logs that collect errors like this?

[2019-04-15 13:35] cromefire commented on #5577
It gives me some `code` (I guess that OAuth2) and `state` parameters. Does the `state` provide some useful information to you?

[2019-04-15 14:52] stsewd commented on #5291
We discussed this with the team, and we decided that sort by senver is the best path.

[2019-04-15 14:52] #5291 closed

[2019-04-15 14:53] simontorres opened #5592 "Build error with build id #8916159"
## Details:

Builds have failed since 3 month ago. I had a `readthedocs.yml` (without the dot) file configured but I set the configuration mostly on the webpage. Now I'm renaming it to `.readthedocs.yml` and see what happens, but it seems very unlikely that it will fix the build issue.

* Project URL: https://readthedocs.org/projects/goodman_pipeline/
* Build URL(if applicable): https://readthedoc

[2019-04-15 14:54] stsewd commented on #5018
We decide that adding more flags is not a solution for all this cases. A better solution would be #1083

[2019-04-15 14:54] #5018 closed

[2019-04-15 15:08] stsewd commented on #5592
I think this is because you don't have a submodule in your repo as it is declared in https://github.com/soar-telescope/goodman_pipeline/blob/master/.gitmodules

Ref #4371

[2019-04-15 16:08] brannondorsey commented on #5426
I too had this same problem. Removing the autogenerated hook and replacing it with my own (following [these instructions](https://docs.readthedocs.io/en/stable/webhooks.html#webhook-creation)) fixed this problem.

[2019-04-15 17:20] #5384 closed

[2019-04-15 18:10] dojutsu-user commented on #5247
I would like to work on this.
Can I get more info on this... it is not clear to me.

[2019-04-15 18:31] saadmk11 commented on #779
Is this Still Valid?
If yes, I would Like to work on this. We can add font awesome icons instead of text for those buttons.
We might use these icons:
https://fontawesome.com/icons/eye?style=regular
https://fontawesome.com/icons/eye-slash?style=regular

[2019-04-15 19:11] bpeake-illuscio commented on #5265
Just checking back in. This is still blocking using RTD for our documentation.

Would it be possible to update to 2048, then leave this ticket open for any further discussion the devs would like to have long-term?

[2019-04-15 19:38] #3708 closed

[2019-04-15 19:42] stsewd commented on #5265
2048 seems fine

[2019-04-15 19:47] stsewd commented on #779
This affects more elements in the UI, so isn't a solution for everything

[2019-04-15 20:48] Nic30 commented on #5426
@brannondorsey Did also the automatic configuration created the wrong hook?

If this is a case there is a bug which affect every new user and it kind of mean as everything seems to be configured properly and it just does not work.
Can you confirm this?

[2019-04-16 01:38] humitos commented on #5591
It works now!

The last build for this documentation was almost 2 years ago and we may turned off some part of the logistic (ImportedFile model) needed for the migration/reindex of the projects. That's probably why this stop working: there were no ImportedFile for this project and version in the db.

[2019-04-16 01:38] #5591 closed

[2019-04-16 09:12] tdegeus opened #5595 "Build error with build id #8920567"
## Details:

* Project URL: https://readthedocs.org/projects/GooseEYE/
* Build URL(if applicable): https://readthedocs.org/projects/gooseeye/builds/8920567/
* Read the Docs username(if applicable): tdegeus

## Expected Result

Perfect build (the docs compile without warnings or errors locally).

## Actual Result

The build fails after `git clean -d -f -f` without any error message.

I have already

[2019-04-16 10:10] dojutsu-user commented on #5595
I think this is because you don't have a submodule in your repo as it is declared in https://github.com/tdegeus/GooseEYE/blob/master/.gitmodules

Ref: #4371

[2019-04-16 10:17] tdegeus commented on #5595
Thanks @dojutsu-user !

[2019-04-16 10:17] #5595 closed

[2019-04-16 12:28] brannondorsey commented on #5426
I can confirm that the automatic configuration created an invalid hook. Editing this hook didn't even work, I had to add a completely new hook in order to trigger builds correctly.

[2019-04-16 13:09] Nic30 commented on #5426
Yes I had to do the same thing. It seems that there is really the problem with the automatically generated github webhook and everything seems to have right values however it does not work.

[2019-04-16 13:14] mgeier commented on #5545
I had the same problem with this `readthedocs.yml`:

[code]

This is the error log: https://readthedocs.org/projects/nbsphinx/builds/8920771/

It worked again when I changed to `setup_py_install`:

[code]

[2019-04-16 14:35] dojutsu-user commented on #4966
@stsewd
I think that this issue is no longer blocked.

By this... did you mean to change the variable name to `_raw_config`?

[2019-04-16 14:37] dojutsu-user commented on #4745
@stsewd
Is this still valid?

[2019-04-16 15:13] stsewd commented on #4966
Yeah, maybe rename it to something more explicit if it makes sense or keep the same name, that's fine

[2019-04-16 15:18] dojutsu-user commented on #4966
I suggest to rename it to `raw_config_copy`.

[2019-04-16 15:22] stsewd commented on #4966
If renamed it should still be private, I don't see `_copy` adding more meaning, we can just keep the same name I guess

[2019-04-16 15:26] dojutsu-user commented on #4966
Okay... then, I think it can be renamed to `_raw_config` or else this issue can be closed.

[2019-04-16 16:45] dojutsu-user commented on #3186
Is this still valid?
I would like to work on this.
Also, what exactly is required here? Breaking gold app in multiple small apps or removing gold app and merging the code in other apps?

[2019-04-16 16:51] dojutsu-user commented on #1858
@ericholscher
Is this still valid?

[2019-04-16 16:53] dmfigol commented on #4912
@agjohnson
`pip` already supports non-editable PEP-517 installs and this is why it is possible to use the following workaround:
[code]
However, there is an inconvenience: RTD dependencies like `sphinx` and other plugins should be listed as extras in `pyproject.toml`, which in turn will add this metadata to the published package on PyPi. Instead I'd prefer to keep these dependencies in `dev` sectio

[2019-04-16 17:03] stsewd commented on #3186
@dojutsu-user this is still valid, but only actionable for the core team (because the code needs to be moved to a private repo)

[2019-04-16 17:26] stsewd commented on #4745
Yeah, I think we fail with a general exception with the above structure https://github.com/rtfd/readthedocs.org/issues/4745#issuecomment-470754025

[2019-04-16 17:53] dojutsu-user commented on #4745
@stsewd
I am not sure as what needs to be done here.
Can you provide some details here.

[2019-04-16 18:22] ericholscher commented on #3186
I think we should close it -- we're not going to remove `gold` any time soon, and likely won't put more work into it until we remove it :)

[2019-04-16 18:22] #3186 closed

[2019-04-16 18:52] dojutsu-user commented on #5410
It seems like no one is working on it currently.
I'm working on it.

[2019-04-16 20:03] jorisvandenbossche opened #5598 "Build error with build id #8923859"
## Details

* Read the Docs project URL: https://geopandas.readthedocs.io/en/latest/
* Build URL (if applicable): https://readthedocs.org/projects/geopandas/builds/8923859/

The GeoPandas (https://github.com/geopandas/geopandas) doc building is already failing for some time. I assume this is due to the conda environment creation that is taking too resources.

Some time ago, I put some effort into

[2019-04-17 08:20] dojutsu-user commented on #5584
Happens with me also.

I am +1 with @saadmk11 here.

I am +1 on removing the menu from there because
- It is creating problems
- The long list doesn't look good to eyes
- We have similar implementation in `readthedocs.org/projects/<slug>/versions/`

I don't think that users edit 9-10 versions at a single time.

Also I think that we can set `DATA_UPLOAD_MAX_NUMBER_FIELDS` to `None` in development e

[2019-04-17 08:52] saadmk11 commented on #3561
@stsewd We can use something like this to use django translation on the javascript code.
https://docs.djangoproject.com/en/1.11/topics/i18n/translation/#internationalization-in-javascript-code

but what needs to be translated on the footer API response?
do you means texts on the `footer.html` template like: `Languages` `Versions`

[2019-04-17 09:35] saadmk11 commented on #2483
If I understood correctly we need to remove this part of the code:
https://github.com/rtfd/readthedocs.org/blob/2872832d75ebd8098184e714b9101a455504e1eb/readthedocs/doc_builder/base.py#L106-L111

we will not support README to index creation anymore ?

 and for `sphinx` builder we should remove this part of the code to not automatically create the config file:
https://github.com/rtfd/readthedocs.or

[2019-04-17 12:03] davidfischer commented on #2483
I will let others chime in as well, but I am in favor :+1: of removing this.

In general, I believe that Read the Docs should not make broken projects build that are unable to be built outside of Read the Docs. This will lead to more predictable builds.

[2019-04-17 12:14] davidfischer commented on #5584
:+1: Definitely

It's kind of annoying. I checked GA and it does ~1,500 pageviews/month which is ~0.1%. I think we can kill it.

[2019-04-17 12:16] dojutsu-user commented on #5584
@davidfischer
Can I start working on this?
Also, what is your opinion on setting `DATA_UPLOAD_MAX_NUMBER_FIELDS` to `None` in development environment?

[2019-04-17 12:49] davidfischer commented on #5584
Yes please.

I would rather leave this on in development as it catches a type of problem. It forces us to not ever show 1,000+ fields at a time which is definitely broken UX. Also, I think it is more secure in production. Feel free to override it in your `local_settings.py` file.

[2019-04-17 12:58] internetandnetwork opened #5599 "AOI Tech Solutions | Network Security Solutions Provider - 8888754666"
AOI Tech Solutions | Network security refers to a subdivision of cyber security that strives to safeguard any information that is being transmitted via devices in a network to make sure that this data does not get altered or blocked. The major purpose of internet and network security is to secure an organization’s Information Technology infrastructure against all sorts of threats and infections. C

[2019-04-17 13:38] davidfischer commented on #4135
To give an update here:

* We are going to enable HSTS for readthedocs.org and *.readthedocs.io. I believe there are no downsides to this at all at this point and we've taken care of all the lingering issues of various things served over plain HTTP. I'm looking to have this done by the end of May at the latest.
* I am leaning toward **NOT** enabling HSTS for custom domains or if we do, only settin

[2019-04-17 14:38] dojutsu-user commented on #5584
@davidfischer
Thank you for the information.
Will make a PR soon.

[2019-04-17 16:10] internetandnetwork opened #5601 "Tek-wire | Call: 8444796777 for Network Security Solutions"
Tekwire | Provides You a Better and Safe Internet Services For Secure Your Laptop's and Computer's. One Of The Famous Security Concerns is a Viruses. Fortunately, Tekwire Have Perfected The Techniques to Help Big and Small Companies Secure Themselves Against The Various Network Security and Internet Security Threats For Instance, Some Of The Best Network Security Providers Post Online Updates Cove

[2019-04-17 17:02] internetandnetwork opened #5602 "Wire IT Solutions | 844-313-0904 | Network Security Issues"
Wire IT Solutions give you the best network security solutions that can help you and protect your business. In order to run a successful business, it needs to ensure that productivity is always high. For this, the networks and devices should always be running fast. With proper network security servicing, slow computers and downtime will not decrease the company’s productivity, For more details cal

[2019-04-17 17:05] #5599 closed

[2019-04-17 17:05] #5601 closed

[2019-04-17 17:05] #5602 closed

[2019-04-17 17:23] internetandnetwork opened #5603 "Fegon Group | 844-513-4111 | Complete Web Services"
Fegon Group | specialists detect, prevent and resolve security threats to computer networks. They also play an important role in maintaining the integrity and confidentiality of a company's data and information systems. Fegon Group, Employers Provides you Better and Safe Internet and Network Services So You Can use your Computers and Laptops Without any Types of Viruses.

We Provides :

Network Se

[2019-04-17 17:43] internetandnetwork opened #5604 "Zone Firewall Protection | 8449090430 | Best Network Security Solutions"
Zone Firewall | As new cyber threats and network vulnerabilities emerge, it’s difficult to keep up. It’s especially hard to predict where the next cyber attack will come from, what form it will take, and which security tactics will be effective against it. The resources and vigilance it takes to protect a network are becoming prohibitively burdensome. zone firewall, can help keep your network prot

[2019-04-17 18:22] #5265 closed

[2019-04-17 18:57] #5603 closed

[2019-04-17 18:57] #5604 closed

[2019-04-17 20:04] bpeake-illuscio commented on #5265
Awesome! Thank you! What is your release schedule for the website? I just tried to set an environmental variable and got the same result.

[2019-04-17 20:08] saadmk11 commented on #5265
@bpeake-illuscio The PR hasn't been deployed yet. it will be Deployed soon. Thanks!

[2019-04-18 00:27] humitos opened #5605 "ProxyMiddleware could be removed"
We have installed `ProxyMiddleware` (forked from old Django) at:

https://github.com/rtfd/readthedocs.org/blob/a7e27120e34e87ebccc691008c5d25a0192847b4/readthedocs/settings/base.py#L137

and it only adds the `REMOTE_ADDR` based on `HTTP_X_FORWARDED_FOR`.

The only place where `REMOTE_ADDR` is used is at `readthedocs.analytics.utils.get_client_ip`:

https://github.com/rtfd/readthedocs.org/blob/a7e2

[2019-04-18 03:39] #4399 closed

[2019-04-18 04:35] rainwoodman opened #5606 "Build timeout"
## Details

* Read the Docs project URL:  https://nbodykit.readthedocs.io
* Build URL (if applicable):  https://readthedocs.org/projects/nbodykit/builds/8698186/
* Read the Docs username (if applicable):

## Expected Result

Build proceeds.

## Actual Result

Build is stuck at 'installing' with no log written after `git clean`. Even after cleaning the build it still appears to be stuck in installi

[2019-04-18 06:34] dojutsu-user commented on #5605
I'm working on it.
I have one doubt.
I grepped for `get_client_ip` and didn't found anything except its definition.
Is it being used in a private repo?

[2019-04-18 09:14] jd opened #5608 "Set no shallow clone for tenacity"
As noted in https://github.com/rtfd/readthedocs.org/issues/5031, I'm asking to disable shallow clone for tenacity.

We're using [reno](https://docs.openstack.org/reno/latest/) to maintain our release notes and shallow clone breaks it.

Thanks!

[2019-04-18 13:03] NewishBrand commented on #4745
www.mynewish.com

[2019-04-18 15:03] ericholscher commented on #5265
Yep, you can watch our changelog to see when it's released: https://docs.readthedocs.io/en/latest/changelog.html

[2019-04-18 16:16] shivanshu1234 commented on #5476
Hello there. I have been looking into this issue but I can't find where the XINDYOPTS environment variable is being configured. Usually it is configured in the Makefile (https://github.com/rtfd/readthedocs.org/issues/4454#issuecomment-458336199), but the core team specifically mentioned to **not** use the Makefile (https://github.com/rtfd/readthedocs.org/issues/4454#issuecomment-410103714). Any po

[2019-04-19 07:12] SuryaGrandhi opened #5610 "text column in the array not able to render into PDF (build fail in pdflatex step)"
## Details
In our documentation I have used piecewise function in doxygen content (without cases). It has been done using the below comment in the code:

[code]
I am able to get the hmtl doxygen output but while building the project, the build is failing in the pdflatex step and PDF is not getting generated.

**I have tried:**

- adding  latex_engine = 'xelatex'  in the sphinx conf.py but it did n

[2019-04-19 12:10] marcelstoer commented on #5104
Ah, it's obvious but missing on the above list...

If you send _temporary_ redirects to search engine crawlers they won't update their index. Thus, they will forever keep the old URLs (-> more load on your infrastructure).

[2019-04-19 14:36] jorisvandenbossche commented on #5598
This is somewhat blocking a new release (since I want to be sure to have docs for the released version).

Is there a possibility to manually upload html files for a certain tag? To at least have the docs for that release, making the actual issue less urgent?

[2019-04-19 15:14] stsewd commented on #5598
We don't support uploading html files for now, see #1083. Hope we can increase the memory on monday.

[2019-04-19 15:17] stsewd commented on #4399
We are planning in refactor the auth code, so it's easier to use/extend. Not sure if we should re-open this issue or wait for the refactor.

[2019-04-19 16:44] stsewd commented on #5606
I'll investigate more on monday

[2019-04-19 17:54] davidfischer commented on #5104
I think a 302 is the best choice. If you make a mistake with a 301 redirect, there isn't a good way to reverse that change. Chrome and Firefox cache 301s until the user manually clears their cache so a mistake is essentially permanent for users who don't manually clear their cache. I don't like to present users with choices where they can make nearly permanent mistakes.

[2019-04-19 18:56] marcelstoer commented on #5104
I appreciate your feedback and I understand you have a slightly different perspective. If you allowed us to _edit_ a redirect rule (currently I can only add or remove) then you could simply add a "permanent yes/no" checkbox. That way we could tune our rules until everything works as expected - a which point  we could enable the flag.

[2019-04-19 19:02] davidfischer commented on #5104
That's fair. I would consider it as an option but the default should be 302.

[2019-04-20 11:52] jorisvandenbossche commented on #5598
@stsewd that would be great, thanks for considering it!

[2019-04-20 13:16] XinArkh commented on #2569
Encountered the same problem here.

I'm using sphinx 2.0.1. The generated structure by `sphinx-quickstart` command is built into html documentation successfully in my environment, while in `readthedocs.org` there occurs "contents.rst not found" error.

I finally found it works by adding the following line in `conf.py` to explicitly assign [the master document](https://www.sphinx-doc.org/en/master/

[2019-04-20 14:17] dojutsu-user commented on #3216
Still valid.

[2019-04-21 18:34] chrisjsewell commented on #5546
+1 this issue.

At a bare minimum, I think the [install_core_requirements](https://github.com/rtfd/readthedocs.org/blob/11a674f6c938f1cb31dd03554e615267fe5f951b/readthedocs/doc_builder/python_environments.py#L416) step command should include `-c conda-forge`.

Ideally though, I would like the option to completely skip this step, and handle the install of the core requirements (mock, pillow, sphinx

[2019-04-22 03:23] #4962 closed

[2019-04-22 04:41] chrizzFTD commented on #3829
Installers for Miniconda 4.6.14 now available on https://repo.anaconda.com/miniconda/
Do we know what the next steps are? :p

[2019-04-22 08:11] dojutsu-user commented on #5420
Still valid bot.

[2019-04-22 13:37] bno5761 opened #5611 "Build Passed But Documentation Not Showing"
## Details
I’m trying to create documentation for a new project, but the docs are not rendering online. In order to get everything started, I made just a couple of simple .md files (including one named index.md) and set up the .yml file, as well. To further reduce mistakes, I’ve even copied the format of another RtD I oversee; so I know this new one should work. I’ve connected the project GitHub t

[2019-04-22 14:30] dojutsu-user commented on #5611
Hi @bno5761
It would be helpful for the team to debug this if you can provide the build URL.

[2019-04-22 14:58] #5249 closed

[2019-04-22 15:49] stsewd commented on #5610
Please add the link to the project and build

[2019-04-22 15:55] stsewd commented on #2569
You can use a `requirements.txt` file to use the same version of sphinx you use locally https://docs.readthedocs.io/en/stable/guides/specifying-dependencies.html

[2019-04-22 15:55] davidfischer commented on #4135
We have enabled HSTS for `readthedocs.org` and `*.readthedocs.io` with short durations. If you encounter issues, please let me know. Otherwise, we are going to increase the durations in a week or two.

[2019-04-22 15:58] bno5761 commented on #5611
I apologize for not posting it earlier! I've updated the original post to include it.

[2019-04-22 16:01] stsewd commented on #5611
Looks like you are missing to change the documentation type to mkdocs (default is sphinx) https://docs.readthedocs.io/en/stable/config-file/v2.html#mkdocs

[2019-04-22 16:47] MicBoucinha opened #5614 "Build error with build id #8948351"
## Details:

* Project URL: https://readthedocs.org/projects/PyBpod GUI Plugin Emulator/
* Build URL(if applicable): https://readthedocs.org/projects/pybpod-gui-plugin-emulator/builds/8948351/
* Read the Docs username(if applicable): MicBoucinha

## Expected Result

Build successful.

## Actual Result

Build failed.
With the following raw log, which doesn't seem to have any specific error.

[code]

[2019-04-22 17:00] lerks commented on #5614
I'm having a similar issue in build 8948306 (project torchbiggraph): even though my build was able to progress one command further than yours, it also then mysteriously and silently failed with no error. See https://readthedocs.org/api/v2/build/8948306.txt

[2019-04-22 17:04] martindevans commented on #5614
Same problem for me with build [8948432](https://readthedocs.org/api/v2/build/8948432.txt) and a few others (I've tried to run 5 builds over the last 15 minutes). They all get to this stage:

    Installing setuptools, pip, wheel...
    done.

And mysteriously stop there.

[2019-04-22 17:16] mcicolella commented on #5614
Same problem for me with build https://readthedocs.org/api/v2/build/8948452.txt

[2019-04-22 17:24] lwanger opened #5615 "Build error with build id #8948520"
## Details:

* latest build is failing... no error messages for what is failing are being shown
* Project URL: https://readthedocs.org/projects/cooked_input/
* Build URL(if applicable): https://readthedocs.org/projects/cooked-input/builds/8948520/
* Read the Docs username(if applicable): lwanger

## Expected Result

Expected the docs to build. As far as I can tell nothing has changed since it buil

[2019-04-22 17:27] lwanger commented on #5614
Same for me with Build #8948520 . They are all failing at the "git clean -d -f -f" too with no error messages reported.

[2019-04-22 17:27] #5615 closed

[2019-04-22 17:28] lwanger commented on #5615
Repeat pf ossies #5614

[2019-04-22 17:53] lukio opened #5616 "Build error with build id #8948278"
## Details:

* Project URL: https://readthedocs.org/projects/tryton-ar/
* Build URL(if applicable): https://readthedocs.org/projects/tryton-ar/builds/8948278/
* Read the Docs username(if applicable): gcooplibre

## Expected Result

Build success

## Actual Result

The build faild. This is the raw information:

Read the Docs build information
Build id: 8948278
Project: tryton-ar
Version: latest
Com

[2019-04-22 18:07] rafmudaf opened #5617 "Build error with build id #8948721"
## Details:

* Project URL: https://readthedocs.org/projects/FLORIS/
* Build URL(if applicable): https://readthedocs.org/projects/floris/builds/8948721/
* Read the Docs username(if applicable): raf

## Expected Result

I expected the readthedocs scripts to clone and build my documentation

## Actual Result

The script cloned my project and successfully checked out the appropriate branch as can be

[2019-04-22 18:26] bno5761 commented on #5611
I've added a configuration file to the root directory, but the build is now failing to build altogether! This makes me think there's an issue with the configuration file.

[2019-04-22 18:31] davidfischer commented on #5614
There appears to be a regression with our latest release. We are looking at it.

[2019-04-22 18:53] ericholscher commented on #5616
This was a regression with our latest release. It should be fixed now if you try and rebuild your project.

[2019-04-22 18:53] ericholscher commented on #5617
This was a regression with our latest release. It should be fixed now if you try and rebuild your project.

[2019-04-22 18:53] ericholscher commented on #5614
This was a regression with our latest release. It should be fixed now if you try and rebuild your project.

[2019-04-22 18:56] rafmudaf commented on #5617
Yep, looks good. Thanks for the support!

[2019-04-22 18:56] #5617 closed

[2019-04-22 18:57] MicBoucinha commented on #5614
Thanks so much. It is working again.

[2019-04-22 18:58] #5614 closed

[2019-04-22 19:27] lwanger commented on #5614
Working... thanks!

[2019-04-22 19:37] stsewd commented on #5611
I think the other problem was due a regression in our latest release, I just triggered a new build and it was successful https://readthedocs.org/projects/stapletonlab/builds/8949337/

Also, you may want to use the v2 of the config file https://github.com/jdc5884/StapletonLab/blob/master/.readthedocs.yml

[2019-04-22 19:40] stsewd opened #5620 "Upgrade elastic search to 7.x"
https://www.elastic.co/blog/elasticsearch-7-0-0-released

Changelog https://www.elastic.co/guide/en/elasticsearch/reference/current/breaking-changes-7.0.html

[2019-04-22 19:49] stsewd commented on #5616
Project is passing now https://readthedocs.org/projects/tryton-ar/builds/8949207/, feel free to reopen if you have more problems.

[2019-04-22 19:49] #5616 closed

[2019-04-22 19:57] #4289 closed

[2019-04-22 23:40] stsewd commented on #5608
Done

[2019-04-22 23:40] #5608 closed

[2019-04-22 23:40] taradinoc commented on #5253
@stsewd I'm experiencing this too.

https://mdl-language.readthedocs.io/en/latest/ - Public. No problems.

https://mdl-language.readthedocs.io/en/sphinx/ - Private. It has built successfully, but I can't view it even though I'm logged in as the only project maintainer.

[2019-04-22 23:46] stsewd commented on #5592
Latest build is passing https://readthedocs.org/projects/goodman/builds/8936137/

[2019-04-22 23:46] #5592 closed

[2019-04-22 23:52] stsewd commented on #5606
Looks like it takes a lot of time to create the conda env https://readthedocs.org/projects/nbodykit/builds/8945515/

We can considerate increasing the build time, but we would appreciate if you can try some of these options first
https://docs.readthedocs.io/en/stable/guides/build-using-too-many-resources.html

[2019-04-23 00:08] rainwoodman commented on #5606
Thanks. I will try to tweak the build time.

Is there a partial log of the step that I can use to check for gradual
improvments? The current empty log doesn't provide a lot of useful feedback
for tweaking.

On Mon, Apr 22, 2019, 4:52 PM Santos Gallegos <notifications@github.com>
wrote:

[2019-04-23 00:10] stsewd commented on #5606
Sorry no, you can try passing from conda to pip first (if possible) since that's the more heavy step

[2019-04-23 10:15] SuryaGrandhi commented on #5610
Build #8938949
Project Link: https://readthedocs.org/projects/doc-test-1-rtd/

[2019-04-23 10:26] SuryaGrandhi opened #5623 "Build Failure at "generating doctree and html" step"
## Details

* Read the Docs project URL: https://readthedocs.org/projects/doc-test-1-rtd/
* Build URL (if applicable): https://readthedocs.org/projects/doc-test-1-rtd/builds/8952548/
* Read the Docs username (if applicable): SuryaGrandhi

## Expected Result

*Build should be passed to get the proper documentation*

## Actual Result

Build failed at step

`python /home/docs/checkouts/readthedocs.or

[2019-04-23 13:17] dojutsu-user commented on #5620
We are using [django-elasticsearch-dsl](https://github.com/sabricot/django-elasticsearch-dsl) and unfortunately it is not actively maintained (last commit was on 8th Nov 2018).

What should we do in this case? I can see three options.
* Wait for the update of `django-elasticsearch-dsl`.
* Find another library.
* Switch to only using official low-level library (elasticsearch-py), which is updated,

[2019-04-23 13:34] simontorres commented on #5592
Yes, thanks, it was that. I removed the `.gitmodules` file and I also had the repo configured by the web interface and changed to the `.readthedocs.yml` file.

Thanks again for the solution and sorry for forgetting to report back.

[2019-04-23 15:06] stsewd commented on #5610
Are you able to build the pdf successfully locally?

[2019-04-23 15:09] stsewd commented on #5623
Are you able to build this locally? What version of sphinx are you using locally?

[2019-04-24 07:24] jorisvandenbossche commented on #5598
Sorry for pinging (I know this is not necessarily a priority for you), but any update?

[2019-04-24 13:15] SuryaGrandhi commented on #5623
Yes @stsewd the build is succeeded locally and we are using Sphinx v1.8.1

[2019-04-24 15:55] stsewd commented on #5598
I moved the Geopandas project to another queue, but it didn't help. So I ended up increasing the memory limits to 1200 mb. I just triggered a new build and it was successful https://readthedocs.org/projects/geopandas/builds/8960434/.

Let me know if you still have more problems.

[2019-04-24 15:55] #5598 closed

[2019-04-24 17:52] stsewd commented on #5623
I was able to build the docs locally after increasing the build time and memory limit. You can check https://docs.readthedocs.io/en/stable/guides/build-using-too-many-resources.html. Also, I think you are just testing rtd in the moment, so we can increase the build/memory time to the final project.

[2019-04-24 18:30] stsewd commented on #5561
Fixed in https://github.com/rtfd/readthedocs.org/pull/5565

[2019-04-24 18:30] #5561 closed

[2019-04-24 18:34] stsewd commented on #5238
We decided in remove the validations for files in the config level and check for this before build. We already do some of these validations there.

[2019-04-24 19:01] bpeake-illuscio commented on #5265
Saw the new change log. Just wanted to confirm this fixed my issue and now my docs are building. Thanks so much!

[2019-04-24 19:51] jorisvandenbossche commented on #5598
Thanks a lot! Very much appreciated, and thanks for the awesome readthedocs platform

[2019-04-24 22:35] banesullivan commented on #1951
**FYI for others trying to figure out how to setup headless displays on Read The Docs:**

 I ran into this issue using [`sphinx-gallery`](https://sphinx-gallery.github.io) with [`vtki`](https://github.com/vtkiorg/vtki) to build [these examples](http://docs.vtki.org/examples/index.html) in our documentation.

Since RTD cannot handle headless displays, I outright switched my projects to deploying fr

[2019-04-24 22:46] stsewd commented on #3829
We need to update the docker file and test some projects with the new flag to see if nothing breaks or projects that were broken are fixed after that :)

[2019-04-24 22:50] stsewd commented on #5570
Closing as duplicated of https://github.com/rtfd/readthedocs.org/issues/3507

[2019-04-24 22:50] #5570 closed

[2019-04-24 22:52] stsewd commented on #5572
We updated this in the dockerfile, we only need to wait for a new release of the docker images https://github.com/rtfd/readthedocs-docker-images/pull/101

[2019-04-24 22:54] webknjaz commented on #5572
@stsewd that's a workaround. This issue is about allowing to do `pip install <pkg_name>`, not just `pip install -r <req_file>`

[2019-04-24 22:55] webknjaz commented on #5572
@stsewd today with the release of the new `Pip` which is now breaking some of the use-cases it's still relevant: https://github.com/pypa/pip/issues/6434.

[2019-04-24 22:56] stsewd commented on #5554
We could mention that each image is around 5 and 9 GB

This are my local images

[code]

[2019-04-24 22:57] webknjaz commented on #5572
@stsewd so I'd say this should be reopened and implemented as a feature request.

[2019-04-24 23:04] stsewd commented on #5572
We do support installing packages from local system https://docs.readthedocs.io/en/stable/config-file/v2.html#packages or from pip using a requirements file or like an option in the `extra_requirements` of the setup.py file (we respect the installation order).

If you mean adding _inline_ packages in the rtd config file, it feels like re implementing a requirements file.

Also, we used to install

[2019-04-24 23:10] webknjaz commented on #5572
Yes, I still think that it's useful: I often choose to not have `requirements.txt` files in favor of something else and it's odd if I'd be forced to have one just for RTD. It's an inconsistent experience.
Not using `extras` is another choice sometimes because pip doesn't have "install only extras" mode yet.

That issue I mentioned is Pip's own. And the latest Pip renders some of the projects unusa

[2019-04-25 09:16] SuryaGrandhi commented on #5623
I am not able to get what you meant by increasing the build time and memory unit while building locally.

I have check the link and have created a .yml to remove the html-zip downloadable form. Is there anything else we can do?

Also if the build failure is due to insufficient build time, the build failure message should be "Error: Build exited due to time out" but it is different in this case. I

[2019-04-25 10:56] #5584 closed

[2019-04-25 11:09] #2140 closed

[2019-04-25 11:33] humitos commented on #3829
I create a PR for this at https://github.com/rtfd/readthedocs-docker-images/pull/102

Once the previous PR get merged, I can upgrade the `testing` image in our build servers.

If you want to help us to test this image, let me know and I will enable a flag on your project.

We need this PR merged and deployed as well: #5631

[2019-04-25 11:41] dojutsu-user commented on #5620
Just a note.
My elasticsearch version is:
[code]

And all the tests pass.

[2019-04-25 14:00] 2fasc commented on #5328
@muammar it seems like the links are broken. It would be awesome if you could share your solution since I face the same error at the moment.

[2019-04-25 15:38] humitos commented on #3829
I'm marking this as blocked again :disappointed: . See https://github.com/rtfd/readthedocs.org/pull/5631#issuecomment-486724453

[2019-04-25 16:52] cheshirekow opened #5633 "yellow badge when using underscore in project name"
I'm not sure exactly when, but at some point in the past few weeks my doc status badge went from green to yellow. I have been including the following in my README.rst:

[code]

Which is now serving up a yellow/uknown badge:

![Selection_180](https://user-images.githubusercontent.com/1309820/56753328-33225780-673f-11e9-9345-eefc2183f53d.png)

The status page for my project however is green:

![Sele

[2019-04-25 16:53] stsewd commented on #3829
https://github.com/conda/conda/issues/6845#issuecomment-444656635

[2019-04-25 17:15] stsewd commented on #5633
Yeah, sorry. I think this was done a time ago when we changed to serve from subdomains. The `_` is not allowed in subdomains https://stackoverflow.com/questions/7111881/what-are-the-allowed-characters-in-a-subdomain

[2019-04-25 17:40] stsewd commented on #5633
Please use the new url `https://cmake-format.readthedocs.io/en/latest/` (with a dash), that will work for everything :)

[2019-04-25 17:50] cheshirekow commented on #5633
You mean `https://cmake-format.readthedocs.io/en/latest/` for the link to the documentation right? So the `:target:` in my README...

and then `https://readthedocs.org/projects/cmake-format/badge/` is the correct URL for the badge, right?

I'll make those changes in my project, thanks for the confirmation that this is what I should be using.

[2019-04-25 17:52] stsewd commented on #5633
Yeah, that's right.

[2019-04-25 22:30] stsewd commented on #5623
Sorry for the confusion, I mean I did it in my local installation of read the docs. For doing it in the live site, you should ask for more resources creating an issue (here is fine). But I just wanted to put more resources in your final project, not the ones for testing.

Avoid heavy requirements that are not needed to build the docs, we can add more resources if there isn't anything else that we

[2019-04-25 22:32] stsewd commented on #5620
To execute the elastic search test, you need to pass an extra option to tox
`tox -r -e py36 --including-search`

[2019-04-26 03:03] dojutsu-user commented on #5620
@stsewd
Yes... I am aware of that.
All tests are passing including the search tests. :smile:

[2019-04-26 12:14] humitos commented on #5546
This issue is related to #3829 and not being able to pin packages at env creation because they will be upgraded in the second step when RTD installs its needed dependencies.

[2019-04-26 14:42] rainwoodman commented on #5606
It turns out we only use a handful a packages from conda-forge. Thus I converted them to pip, and removed conda-forge from my channel list.

https://github.com/bccp/nbodykit/pull/582/

Either this change, or conda improved its algorithm, but the doc buids seems to be working now. Thanks!

[2019-04-26 14:42] #5606 closed

[2019-04-26 23:29] KelSolaar opened #5636 ""Latest" version does not seem to be updating automatically and missing builds."
## Details

* Read the Docs project URL: https://colour.readthedocs.io
* Build URL (if applicable): https://readthedocs.org/projects/colour/builds/8976284/
* Read the Docs username (if applicable):

## Expected Result

The *latest* version of the documentation should be built automatically along with builds for tagged project release.

## Actual Result

The *latest* version of the documentation ha

[2019-04-27 16:26] stsewd commented on #5636
The other versions are triggered because `v0.3` becomes the new stable. Not sure about `latest`. Can you check the webhook's log? https://readthedocs.org/dashboard/colour/integrations/

[2019-04-27 18:59] humitos commented on #5623
I think it would be good to enable `SHARE_SPHINX_DOCTREE` to this project since each of the build steps is using ~200s (and I suppose it's because of doxygen, but that maybe the doctree could be shared and improve these times)

[2019-04-27 19:16] humitos commented on #4846
@stsewd If I understand correctly, we only call `create_slug` when `bool(slug) == False`. That's probably the issue: the uniquification does not happen when creating Version object and passing a slug.

[2019-04-27 19:24] #5390 closed

[2019-04-27 19:27] humitos commented on #5337
I suppose the problem of these docs is this the page [Single Page Reference](https://oracle-cloud-infrastructure-python-sdk.readthedocs.io/en/latest/api/index.html) that includes all the API reference in one incredible huge page.

[2019-04-27 19:32] humitos commented on #5446
@saadmk11 the `hreflang` label from the sitemap uses some incorrect codes. Those incorrect ones (for example, `zh_CN`) should be replaced for the correct ones (`zh-CN`). The linked document from the description has more detailed information.

[2019-04-27 19:38] humitos commented on #4428
I'm closing this issue because we decide that we will be pushing the HTML output to a cold storage soon. So, there is no need to spend time fixing this issue.

[2019-04-27 19:38] #4428 closed

[2019-04-27 19:45] humitos commented on #5058
Django 2.2 is already released. This issue is not blocked anymore. It would be good to receive contributions for this migration.

I suppose the changes there won't be too many considering the list of  deprecated things.

[2019-04-27 19:49] humitos commented on #4987
I'm going to close this issue since it's not going to happen soon, unfortunately. We can revisit later if we consider valuable to add another builder. Thanks!

[2019-04-27 19:49] #4987 closed

[2019-04-27 19:59] humitos commented on #5587
Hi @maldag! I'd like to hear more about this feature from your side.

Do you have a specific idea in mind or an example from another service to show? It would be good also if you can share more about your current workflow. The good and the bad of it and what can be improved under the RTD platform.

I imagine this feature living as a Sphinx extension and using the API to fetch the current page from

[2019-04-27 21:25] soumitrakp opened #5639 "Please revive deleted project or allow creating new project with the same name"
## Details

* Read the Docs project URL: JUDI
* Build URL (if applicable):
* Read the Docs username (if applicable): soumitrakp

## Expected Result

I am new to readthedocs. I created a project named 'JUDI' based on a private github repository. Later I moved the repository to a public github repository. So I deleted the old project and tried to recreate the project with the updated github reposito

[2019-04-28 06:00] KelSolaar commented on #5636
@stsewd : We don't have any integration configured apparently:

![image](https://user-images.githubusercontent.com/99779/56859454-5408d800-69df-11e9-801e-0c38cee9ffbe.png)

[2019-04-28 11:37] rshrc commented on #5586
@stsewd I was working on this issue, working with settings for the first time and I was unable to understand whether we should make changes to the `CSRF` and `Database and API hitting settings`.. refactoring them with the **RTD_** prefix broke a lot of things which gave rise to errors on running the development server like `AttributeError: 'Settings' object has no attribute 'DOCKER_IMAGE_SETTINGS'

[2019-04-28 15:50] stsewd commented on #5636
Please check https://docs.readthedocs.io/en/stable/webhooks.html#webhook-creation and https://docs.readthedocs.io/en/stable/webhooks.html#i-was-warned-i-shouldn-t-use-github-services

[2019-04-28 15:53] stsewd commented on #5639
The namne is taken by https://readthedocs.org/projects/judi/, you can follow https://docs.readthedocs.io/en/stable/abandoned-projects.html

[2019-04-28 16:06] davidfischer commented on #5058
Well, there will be a fair bit of changes and coordinating with the other repos will involve some challenges. For example, every single `urls.py` file will require changes. Every single `models.py` with a foreign key will require changes.

[2019-04-28 16:07] davidfischer commented on #5586
I think every setting that we define should be prefixed with `RTD_`. Every setting that either comes from Django or a 3rd party package shouldn't change. The `DOCKER_IMAGE_SETTINGS` for example are defined by us.

[2019-04-28 16:14] stsewd commented on #5058
We also need to check if our dependencies support django 2.x

[2019-04-28 16:17] dojutsu-user commented on #5058
Will definitely send PRs relating to this.

[2019-04-28 18:01] humitos commented on #5478
@davidfischer can you expand here? I'm not sure if in your linked comment you refer specifically to the `analytics_code` setting or another portion of that code.

I'm not sure to understand why having an `analytics_code` per version would be useful.

[2019-04-28 18:07] humitos commented on #5359
I suppose there should be an option in the theme to disable the searchbox completely. Then, our builder should be called with that option.

This also option will be useful in other cases too.

[2019-04-28 18:08] humitos commented on #5152
@dojutsu-user you can work on it if you want. I think it's clear what it's needed to do. I'm marking this issue as `Accepted`.

[2019-04-28 18:16] humitos commented on #3231
There is a PR related to this at https://github.com/rtfd/redirect/pull/12

[2019-04-28 18:20] humitos commented on #4550
I think we decided to go in this direction all together with "El proxito" (an app that will receive all the requests and translate an URL into the path of that file in blob storage and this file will be proxy).

I'm closing this issue here. We can revisit it if we need it when implementing _El Proxito_.

[2019-04-28 18:20] #4550 closed

[2019-04-28 18:24] humitos commented on #2971
I think this issue is solved by the feature flag `DONT_OVERWRITE_SPHINX_CONTEXT` (https://docs.readthedocs.io/en/latest/guides/feature-flags.html) and can be closed at this point.

Please, let me know if you want to enable this feature flag in any of your projects and I will do it for your.

If there is anything actionable in this issue, I will close it soon.

[2019-04-28 18:37] humitos commented on #2776
I wouldn't add another way to install pip requirements in conda if there is already a way to do it, more maintained, contained in the YAML file and it's standard.

Please, if you think that this is a blocker for your project to build on RTD make a new comment of feel free to reopen explaining the situation. Thanks!

[2019-04-28 18:37] #2776 closed

[2019-04-28 19:43] rshrc commented on #5586
Cool then, I'll segregate things as such then.

[2019-04-28 20:55] dojutsu-user commented on #5152
@humitos
I will start working on it and will submit a PR soon.

[2019-04-29 00:39] soumitrakp commented on #5639
Thank you for the information. I understand. You may close the issue.
Best regards,
Soumitra

On Sun, Apr 28, 2019 at 11:53 AM Santos Gallegos <notifications@github.com>
wrote:

[2019-04-29 00:50] stsewd commented on #5639
@soumitrakp the project hast not successful builds, and the last one was +7 months ago. The GitHub project doesn't even exists https://github.com/belummandi/Perihal-Situs-Judi-Online. You can request the name if you want.

[2019-04-29 04:02] achaiah commented on #5328
@muammar @stsewd  I too am facing the same issues. torch may be a large dependency but it's something people are including more and more often in their builds. Anyone have a good workaround?

[2019-04-29 07:22] sriharikarnam opened #5640 "Build error with build id #8973732"
## Details:

* Project URL: https://readthedocs.org/projects/ROCm Documentation/
* Build URL(if applicable): https://readthedocs.org/projects/rocm-documentation/builds/8973732/

## Expected Result

*The build should get built successfully*

## Actual Result

*Build is getting failed with a error message as*
`ERROR: Command "python setup.py egg_info" failed with error code 1 in /tmp/pip-install-5Dz

[2019-04-29 07:49] humitos commented on #5640
Hi @sriharikarnam! You can use the `readthedocs.yml` file for to define what version of Python to use. See the docs at https://docs.readthedocs.io/en/stable/config-file/v2.html. Thanks!

[2019-04-29 07:49] #5640 closed

[2019-04-29 08:01] humitos opened #5641 "Serve custom 404 pages from Django"
Currently, we are serving the `404.html` from NGINX returning a `Response` that includes the `X-Accel-Redirect` header:

https://github.com/rtfd/readthedocs.org/blob/537f7b8d2e8d81f8243d1d4a562968e472bc6337/readthedocs/core/views/__init__.py#L208-L210

We found that even marking the `response.status_code = 404`, the response is 200.

[code]

To fix this, we have to serve this file directly from Dj

[2019-04-29 08:22] soumitrakp commented on #5639
It would be great if I get the name. Please let me know what I need to do.
Thank you.

On Sun, Apr 28, 2019, 20:50 Santos Gallegos <notifications@github.com>
wrote:

[2019-04-29 08:39] saadmk11 commented on #5641
Working on it!

[2019-04-29 08:47] 2fasc commented on #5328
I am looking into http://www.sphinx-doc.org/en/master/usage/extensions/autodoc.html#confval-autodoc_mock_imports but didn't get it to work yet.

[2019-04-29 09:55] sriharikarnam commented on #5640
Thanks @humitos. The issue has been solved.

[2019-04-29 11:18] saadmk11 commented on #5641
I looked into it. I'm a bit confused. can you tell me why this test passes:
`self.assertEqual(response.status_code, 404)`
https://github.com/rtfd/readthedocs.org/blob/537f7b8d2e8d81f8243d1d4a562968e472bc6337/readthedocs/rtd_tests/tests/test_doc_serving.py#L206-L224

and do we need to use the `serve()` or `render()` instead of `_serve_file()` method from django to serve this?

[2019-04-29 12:33] humitos commented on #5641
The test passes because Django is returning a 404 properly. Although, that response is passed to NGINX who looks for the `X-Accel-Redirect` header and serve that file directly from disk. At this point, because NGINX found that file and was able to serve it properly, it adds the 200 in the response.

As we don't use NGINX at all for our tests, it succees.

I suppose we need to use `serve` since it'

[2019-04-29 14:15] 2fasc opened #5643 "Inconsistent theme and display of docstrings"
## Details

* Read the Docs project URL: https://distributed-malaria-detection.readthedocs.io/en/latest/index.html
* Build URL (if applicable): https://readthedocs.org/projects/distributed-malaria-detection/builds/8984800/
* Read the Docs username (if applicable): 2fasc
* Github: https://github.com/2fasc/Distributed_Malaria_Detection

## Expected Result
I expected RTD to apply the rtd theme and di

[2019-04-29 15:27] stsewd commented on #5643
The read the docs theme doesn't support sphinx 2.x yet https://github.com/2fasc/Distributed_Malaria_Detection/blob/1d30cfd9a94809ba39d1ca42532d294f1a8697a1/requirements_rtd.txt#L78

https://github.com/rtfd/sphinx_rtd_theme/issues?utf8=%E2%9C%93&q=is%3Aissue+is%3Aopen+sphinx+2

[2019-04-29 15:32] stsewd commented on #2971
@humitos I'm still not sure why we override by default. Feature flag feels like the default behavior for my

[2019-04-29 15:42] 2fasc commented on #5643
Thank you!

[2019-04-29 15:42] #5643 closed

[2019-04-29 15:50] 2fasc commented on #5328
I solved it in my project https://github.com/2fasc/Distributed_Malaria_Detection . I created a new requirements file where I got rid of all requirements that take a heavy toll on the memory.  Save the deleted requirements like in http://www.sphinx-doc.org/en/master/usage/extensions/autodoc.html#confval-autodoc_mock_imports and you should be good.

[2019-04-29 15:52] 2fasc commented on #5643
I checked a couple hours later and everything is displayed as it should.

[2019-04-29 15:57] stsewd commented on #2776
https://github.com/rtfd/readthedocs.org/issues/2776#issuecomment-377738855

About that we have https://github.com/rtfd/readthedocs.org/issues/5545

[2019-04-29 16:10] stsewd commented on #2776
https://github.com/rtfd/readthedocs.org/issues/2776#issuecomment-377738855

About that we have https://github.com/rtfd/readthedocs.org/issues/5545

Also reading https://www.anaconda.com/using-pip-in-a-conda-environment/, looks like we shouldn't use pip at all when using conda

[2019-04-29 16:12] stsewd commented on #5643
I think the mixture about sphinx and alabaster was because of cache :)

[2019-04-29 16:19] stsewd commented on #5633
We just added a redirect for old projects https://github.com/rtfd/readthedocs.org/pull/5634, but the recommended way is using `-` instead of `_`

[2019-04-29 16:19] #5633 closed

[2019-04-29 16:38] 2fasc commented on #5643
That makes sense.

I don't know if this is of general interest but adding a sentence in the FAQs that make clear that updates might not occur immediately could be helpful for others as well :sweat_smile:

I really appreciated your support!

[2019-04-29 18:47] humitos commented on #2971
It's legacy. I suppose they should not avoid other people to override RTD internals here. I'd :+1: on changing this behavior if it does not break projects --which is hard to know.

[2019-04-29 22:57] arthall commented on #5337
That page is enormous.  I've got to check to see if there is any part of the build and package process which references it.  It's worth removing the page from the docs which get built on ReadTheDocs if it allows the other pages to get built.

[2019-04-29 23:13] davidfischer commented on #5478
I missed this when it was opened but I'm glad you followed up.

For the vast majority of cases, I suspect that all versions of a project would want the same analytics code. With that said, I could envision a case where certain versions don't want to send data to GA. The bigger advantage I see is that this adds the analytics code to version control rather than having a project level setting.

[2019-04-30 06:33] agjohnson opened #5646 "Remove build artifacts and repo storage after build"
One of the tests that we'd like to perform, in order to address our build disk usage, is to remove build artifacts and repo storage directly after the build process ends. This will reduce storage, remove the need for wiping environments, and will further allow us to isolate build processes. We do need to test for the performance hit of continually re-fetching repositories and pip/etc fresh each bu

[2019-04-30 10:18] SuryaGrandhi commented on #5610
I have tried the steps as per this:
http://www.sphinx-doc.org/en/master/usage/builders/index.html#sphinx.builders.latex.LaTeXBuilder

Installed required packages along with latexmk.
But I am only getting the default pdf but not as expected. Can I know how to do it locally?

[2019-04-30 12:24] AJJLagerweij opened #5647 "Error message missing for failed build"
## Details

* Read the Docs project URL: https://topopt.readthedocs.io/en/latest/
* Build URL (if applicable): https://readthedocs.org/projects/topopt/builds/8991163/
* Read the Docs username (if applicable): AJJLagerweij

## Expected Result
Build should be passed to get the proper documentation, at least it did locally.
If any error occurs I would expect an error message.

## Actual Result
The bu

[2019-04-30 12:37] SuryaGrandhi commented on #5623
Do you mean we need to eanble the flag in doxygen file.
As we are documenting 6 APIs project using breathe and doxygen and including in single rst file, so will it have some impact on build time??

Do we have any other way to reduce build time because main concern is six APIs project which are taking more time for build as you pointed.

[2019-04-30 17:40] stsewd commented on #5610
I think an easy way is looking at the make or bat files and see what commands are executed in there or just use the files, if the content is the same locally as rtd, this isn't a rtd problem.

https://github.com/SuryaGrandhi/Doc_Test/blob/master/Makefile

[2019-04-30 17:41] stsewd commented on #5647
This is probably a time out problem, your conda requirements are a really heavy https://github.com/AJJLagerweij/topopt/blob/master/anaconda/TopOpt_Linux.yml

You can check https://docs.readthedocs.io/en/stable/guides/build-using-too-many-resources.html

[2019-04-30 17:53] stsewd commented on #5623
Probably that's the reason, you can try splitting it in  more files

No, that's an internal flag in rtd, but I don't think it will help so much, because the first build isn't passing anyway.

[2019-04-30 18:03] stsewd commented on #3753
We are definitely going to remove symlinks, so closing :)

[2019-04-30 18:03] #3753 closed

[2019-04-30 18:25] AJJLagerweij commented on #5647
Thanks for your help.
In the past I've tried to run it with the pip installer only. But that resulted in other errors.
I had, among others problems with mkl-fft.
I'll try some more, and will create a new issue when I encounter new problems.

[2019-05-01 03:21] achaiah commented on #5328
@2fasc Thanks that got me unstuck! I guess we fake it till sphinx makes it :)

[2019-05-01 11:48] humitos commented on #5337
I think if you remove that page, your build will work.

[2019-05-01 11:53] humitos commented on #5623
This will help at step by step level (the second step will share the doctree of the first one), no need for the first build to pass.

[2019-05-01 12:11] stsewd commented on #5623
Yeah, I mean the first step isn't passing

[2019-05-01 12:36] humitos commented on #5623
The first step is not passing in the build linked in the description, but it's in the other ones.

[2019-05-01 14:58] Cadair opened #5648 "Please set DONT_SHALLOW_CLONE for sunpy"
## Details

* Read the Docs project URL: https://readthedocs.org/projects/sunpy/
* Read the Docs username (if applicable): Cadair

Hi, we are using `setuptools_scm` to get our versions and the shallow clone is preventing `git describe` working correctly, it would be awesome if you could change this for us! Thanks!

[2019-05-01 15:12] stsewd commented on #5648
Done, I just triggered a build to latest. It's doing a full clone. Let us know if there is a problem

[2019-05-01 15:12] #5648 closed

[2019-05-01 15:18] stsewd commented on #5647
I can see that your latest builds are passing and using pip, where you able to solve the problem?

[2019-05-01 15:20] #5554 closed

[2019-05-01 15:26] #5092 closed

[2019-05-01 15:29] #5568 closed

[2019-05-01 15:38] Cadair commented on #5648
Thanks!

[2019-05-01 15:51] RohanNagar commented on #3181
Hi all, is there any update on this? Looks like #4740 was merged, so can #4783 be merged in as well? Really looking forward to this feature.

[2019-05-01 16:00] stsewd opened #5649 "Track commit time in versions"
We can have this data from gitpython I think, for the other VCSs, not sure, I believe it should be a way to get that info as well, or we can just support git to start.

Why? It can help us to have a more deterministic order of the versions

More background at https://github.com/rtfd/readthedocs.org/pull/5323#discussion_r280093576

[2019-05-01 17:46] stsewd commented on #5623
I activated the flag, but the build is still failling.

Also, if you don't require the pdf for your documentation, you can disable it from the admin panel of your project

[2019-05-01 18:14] dojutsu-user commented on #5152
@humitos
I will start working on this after a few days. I am busy with the project evaluations and end semester exams right now.
Sorry for the delay.

[2019-05-01 23:13] manycoding commented on #4367
I am using alabaster, and graphs are not shown. I am not sure if it's a rtd or nbsphinx issue.
If I export the notebook with `jupyter nbconvert --to html --execute docs/source/nbs/in-short.ipynb` graphs are visible.
https://arche.readthedocs.io/en/docs/nbs/in-short.html

[2019-05-02 06:11] maldag commented on #5587
Right now, everything is done manually. We use pdf-documents for documentation and changes from the previous version are highlighted in a certain color and deletions in another color. This makes it easy to read for everyone else since only changes need to be looked at.

The idea is to show changes for released versions of the documentations. RTD already supports different versions so what about a

[2019-05-02 06:43] cbleek opened #5652 "Account inactive"
## Details

* Read the Docs project URL: https://yawik.readthedocs.io/en/latest/
* Read the Docs username yawik

## Expected Result

successfull login

## Actual Result

I can reset my password. But if I try to login, I receive:

Account Inactive
This account is inactive.

[2019-05-02 07:37] vinjana opened #5653 "Build error with build id #9000594"
## Details:

* Project URL: https://readthedocs.org/projects/Roddy/
* Build URL(if applicable): https://readthedocs.org/projects/roddy-documentation/builds/9000594/
* Read the Docs username(if applicable): vinjana

## Expected Result

The documentation should build.

## Actual Result

Four commands seem to be issued, all of which terminate with exit code 0. Still the build status is set to failed

[2019-05-02 08:14] Juanlu001 commented on #4367
@manycoding I see a `ReferenceError: require is not defined` in the web developer tools. I'm a bit lost on what are the best practices now, but perhaps just including `require.js` will fix your issue.

[2019-05-02 09:04] humitos commented on #3999
I just manually upgraded `docker` in our `build03` to version `3.7.2` and triggered a couple of builds: they passed. Also, Sentry does not report any problem on build03 at the moment.

I think we can test this for some days more and then upgrade our requirements file to make this change in all of our builders.

[2019-05-02 09:44] humitos opened #5655 "Use latexmk to build PDF when Sphinx > 1.6"
Some time ago I added a flag called `USE_PDF_LATEXMK` to support non-ASCII languages and Unicode characters on docs. This flag is enabled by request at the moment.

We want to change this behavior to "enable that flag" automatically, but still support building PDF on Sphinx =< 1.6 (before `latexmk` was used). So, to do this, we want to decide what command to call depending on the Sphinx version in

[2019-05-02 09:47] humitos commented on #5655
I created a PR at #5656 asking for some help on this.

[2019-05-02 12:10] julienfastre commented on #5653
Same error, buildId is 9001996

[2019-05-02 12:45] SuryaGrandhi commented on #5623
And the reason the build is failing is in the pdflatex step (I think RC for this is https://github.com/rtfd/readthedocs.org/issues/5610). Can you elaborate on what went wrong there.

To add to that, even after removing that piecewise functions I am getting the errors like below.
[code]

Yes I am aware of the advanced options, but I need pdf for the documentation.

[2019-05-02 12:48] SuryaGrandhi commented on #5610
The content is same as in local as well as in the repo.

[2019-05-02 13:11] humitos opened #5658 "pypy3.5 virtualenv does not support venv re-creation"
Setting `Project.container_image` to `pypy3.5` works the first time. Although, when triggering a new build for that project and version it fails with an error saying that the file already exists.

[code]

Outputs this error,

[code]

Wiping the version makes it works again (or running the command with `--clean` option).

Related #5657

[2019-05-02 14:04] stsewd commented on #5653
@vinjana the issue is because you have some old/unused submodules in your repo https://github.com/TheRoddyWMS/Roddy/blob/master/.gitmodules

See #4371

@julienfastre please provide the full build link

[2019-05-02 14:27] stsewd commented on #5610
I mean if building the pdf locally is the same result as building the pdf in read the docs

[2019-05-02 16:27] manycoding commented on #4367
@Juanlu001 Yeah, that's probably `nbsphinx` issue since I see that `nbconvert` includes `require.js`.

[2019-05-02 16:28] davidfischer commented on #5652
I can see that this account was marked as inactive although I don't see why. Normally when a user is explicitly banned (typically for spam) there is another setting so that doesn't appear to be the case. From what I can see, it looks like the account hasn't been used since 2014. Regardless, I have activated the account and you should be able to use it.

This account does not have access to any pro

[2019-05-02 16:29] davidfischer commented on #5652
I'm going to close this issue for now as it is resolved.

If you need access to the [yawik project](https://readthedocs.org/projects/yawik/), please start by contacting the user "cross" if you know who that person is.

[2019-05-02 16:29] #5652 closed

[2019-05-02 17:07] timothydmorton opened #5659 ""default branch" under "advanced settings" does not persist"
## Details

I am trying to build docs for a development branch of a project (github.com/timothydmorton/isochrones).  I change the "default branch" to "bolo" under the "advanced settings" for the project on RTD, save changes, and it triggers a build from the "bolo" branch.  When I try to push changes to "bolo", however, nothing triggers, and I go back to the settings page, and see that the default

[2019-05-02 19:23] KelSolaar commented on #5636
Thanks I don't remember seeing a notification that this was happening. I will look into it over the weekend.

[2019-05-03 00:16] stsewd commented on #5653
@julienfastre feel free to open a new issue.

@vinjana let us know how it goes

[2019-05-03 00:16] #5653 closed

[2019-05-03 00:19] stsewd commented on #5659
I think this was fixed in https://github.com/rtfd/readthedocs.org/pull/5547 (which got merged after the last deploy). I'm going to double check before closing.

[2019-05-03 07:14] vinjana commented on #5653
Everything working now! Further issues were related to plantuml (added a `requirements.txt` to my Gradle project).

[2019-05-03 07:37] AJJLagerweij commented on #5647
Hello Stsewd,
I've solved the problem for the most part, still it doesn't do exactly what I want.
I made a minimal working environment to be installed with pip.
This solved the time-out problem but brought back another one, that of python 3.7.

My code is (currently) meant for python 3.6 due to dependencies.
It runs in python 3.7 but this is detrimental for the performance (a.o. due to the lack of

[2019-05-03 13:45] SuryaGrandhi commented on #5610
No the result is different though the make and bat files are similar on repo and local directory.

[2019-05-03 15:56] stsewd commented on #5647
The error is because your project isn't a python instalable package itself, I think you don't need to install your package to build the docs. You can just remove the `install.method` key, and only leave the `requirements` key.

[2019-05-03 16:28] soumitrakp commented on #5639
Hi Santos,
Could you please make the existing project named 'judi' abandoned so that I
can reuse it. I guess the existing project meets all these requirements:
* The project has been determined abandoned by the rules described above
* The candidate is able to demonstrate their own failed attempts to contact
the existing owner
--   I could not find the contact of the existinting owner as the github

[2019-05-04 05:58] KelSolaar commented on #5636
Adding the integration worked by the look of it! I will close this one for now.

Cheers,

Thomas

[2019-05-04 05:58] #5636 closed

[2019-05-04 07:57] AJJLagerweij commented on #5647
I'm not sure if I can say this, but man I love you.
Thanks for helping me out, and I want to thank all of those who created readthedocs, its awsome.

[2019-05-04 12:15] humitos commented on #5476
Hi @shivanshu1234! `XINDYOPTS` is [defined by the output of the `sphinx-build latex`](https://github.com/sphinx-doc/sphinx/blob/master/sphinx/texinputs/Makefile_t#L26) and used in the `latexmkjarc` file by `latexmk` command.

I'm not sure yet if we can read the content of that env variable that it's added by Sphinx automatically via the Makefile (as you found) --this may need more research. Althou

[2019-05-04 13:47] shivanshu1234 commented on #5476
@humitos Thanks for the info!

[2019-05-04 14:52] dojutsu-user commented on #3382
Still valid bot.

[2019-05-04 18:19] dojutsu-user commented on #5351
Still valid.... I think.

[2019-05-05 18:23] chrahunt commented on #4912
The fundamental problem is that Poetry "dev dependencies" don't map directly to a concept that pip understands. `pip install` installs the package itself (+ any specified extras), which means only things listed as dependencies of the package make it into the virtual environment. At no point currently are dev dependencies considered actual dependencies except within poetry itself.

Users are not ne

[2019-05-05 23:16] alex commented on #4135
I see there's a checkbox for " Always use HTTPS for this domain" in the admin now, but it looks like that just controls redirects.

When HSTS finally makes it to the top of the feature queue, pyca/cryptography would be happy to beta test it :-)

[2019-05-06 06:59] yackx opened #5665 "Notifications don't disappear after action"
## Details

A persistent error message appears on every page and claims my email address is not verified, although it is.

I have a single email address associated with my account, and it has been verified. Actually, after verification, I even saw both success and error messages.

<img width="596" alt="readthedocs-bug" src="https://user-images.githubusercontent.com/1193689/57210423-e3644b80-6fdc-1

[2019-05-06 07:12] dojutsu-user commented on #5665
@yackx
It will go away once you click on `verify it here`.

[2019-05-06 09:42] humitos commented on #5623
@SuryaGrandhi those errors that you are mentioning are more related to the PDF Sphinx build step than with Read the Docs itself. We can't help too much there unfortunately.

[2019-05-06 09:52] #3999 closed

[2019-05-06 10:14] jsnigula opened #5666 "Build error with build id #9019701"
## Details:

* Project URL: https://readthedocs.org/projects/vhc/
* Build URL(if applicable): https://readthedocs.org/projects/vhc/builds/9019701/
* Read the Docs username(if applicable): hetdex

## Expected Result

Tried to build documentation

## Actual Result

Build fails during cloning stage, resetting build environment didn't help.

[2019-05-06 10:52] SuryaGrandhi commented on #5610
@stsewd I think the problem is with the \text{some_text} unable to get rendered properly by the readthedocs in the math mode, i.e while using `\f$`. I have faced a similar problem while inserting a **_subscript text_**.

The output of `\f$\text{aaa}_{\text{bbb}} = \text{ell_width}\f$` is throwing pdflatex error
while `\f$ aaa_{bbb} = ell\_width\f$` executed fine.

And the solution(possible) for th

[2019-05-06 15:23] stsewd commented on #5610
Sorry, I'm not really familiar with latex. Maybe this is due a different version of latexmk used in rtd and the one used locally?

[2019-05-06 15:32] #5647 closed

[2019-05-06 15:50] humitos commented on #5666
I think you have your project configured as `Git` repository instead of `Subversion`. Could you check that?

[2019-05-06 15:54] stsewd commented on #5665
As mention the note will disappear if you click on it. I'm pretty sure there was an issue for this already, I couldn't find it :/

[2019-05-06 15:55] stsewd commented on #5665
It was closed https://github.com/rtfd/readthedocs.org/issues/4684

[2019-05-06 16:24] Juanlu001 commented on #4135
As far as I understand, there are no redirects for custom domains yet. Or, at least, I tried with `http://docs.poliastro.space` and it didn't redirect.

[2019-05-06 16:34] alex commented on #4135
Ah, so that checkbox actually governs the RTD subdomain.

On Mon, May 6, 2019 at 12:25 PM Juan Luis Cano Rodríguez <
notifications@github.com> wrote:

--
All that is necessary for evil to succeed is for good people to do nothing.

[2019-05-06 17:46] davidfischer commented on #4135
All that checkbox currently governs is all the "view docs" links in the RTD dashboard link to HTTPS. Eventually (this year) we will use that database entry to do HTTP -> HTTPS redirects on custom domains but it requires an architectural change. Currently, serving docs does not hit a server that connects to a database at all.

For `*.readthedocs.org` we always redirect HTTP -> HTTPS.

HSTS is rolli

[2019-05-06 17:49] alex commented on #4135
So, for cryptography.io we currently have a reverse proxy we put in from of RTD to add TLS (predating RTD's current TLS support), and it adds HSTS. We'd love to be able to drop that in favor of just using RTD end to end, but HSTS is kind of a requirement for us.

[2019-05-06 17:55] davidfischer commented on #4135
For cryptography.io I completely understand.

I could see HSTS on custom domains being an option that we don't expose in the dashboard UX and it shouldn't be too complicated once the [architectural change I mentioned above](https://github.com/rtfd/readthedocs.org/issues/4135#issuecomment-489710217) is done. I think there are definitely some instances where people really need it. I just worry about

[2019-05-06 18:29] julienfastre commented on #5653
@stsewd Thanks. I could solve my issue by... reading the docs :-)

[2019-05-06 20:36] svenevs commented on #5221
Hello, sorry for not responding.  I ended up just creating a new e-mail and committing to it since I couldn't get `.edu` to work.  I setup overly agressive filters and this went in a very not correct inbox :(

[2019-05-06 20:36] #5221 closed

[2019-05-06 21:02] jsnigula commented on #5666
Under settings, it is configured as subversion… There was a mistake, that the Default Branch was set to latest, but that didn’t dix the problem

[2019-05-06 21:13] svenevs opened #5668 "Search returns a 404 link"
## Details

* Read the Docs project URL: https://readthedocs.org/projects/nanogui/
* Build URL (if applicable): https://nanogui.readthedocs.io/en/latest/search.html?q=ButtonGroup&check_keywords=yes&area=default
* Read the Docs username (if applicable): `svenevs`

## Expected Result

Only valid entires show up in the search index.  When I `wipe` a build, all extra search related utilities should be

[2019-05-06 23:05] thejohnfreeman commented on #4912
@dmfigol is there an unstated assumption in your example? I tried the [`.readthedocs.yml`](https://github.com/thejohnfreeman/project-template-python/blob/master/.readthedocs.yml) you wrote, and it [didn't work for me](https://readthedocs.org/projects/project-template-python/builds/9024852/):

[code]

[code]

[2019-05-06 23:50] agjohnson commented on #5605
We might want to verify that we aren't using this in other ways. It might not be directly called in our code, but are we using it to log the correct IP of a request, for example?

[2019-05-07 00:05] davidfischer commented on #5605
Some of this conversation is in #5607. I do not believe that the proxymiddleware is used anymore and I don't see `REMOTE_ADDR` used outside of advertising code. I checked in .org and in the private .com or -ext repos.

[2019-05-07 06:29] jsnigula commented on #5666
I tried to set the repository to git, and then back to subversion, after that I got a different error (build 9024091) I fixed that, but now I’m back at the original cloning error.

[2019-05-07 07:16] pawamoy commented on #4912
You might need to wipe your build cache: https://docs.readthedocs.io/en/stable/guides/wipe-environment.html

[2019-05-07 09:01] allanleal opened #5669 "Using conda ends up with sphinx 2.0.1 and cannot update doxygen version"
## Details

* Read the Docs project URL: https://reaktoro.readthedocs.io/en/fix-readthedocs-integration-with-doxygen/
* Build URL (if applicable): https://readthedocs.org/projects/reaktoro/builds/
* Read the Docs username (if applicable):

## Expected Result

Using conda with environment.yml in which `sphinx==1.8.5` and `doxygen==1.8.14` are specified as dependencies:

[code]

should actually forc

[2019-05-07 09:52] yackx commented on #5665
The referenced issues #4684 does not seem to match this one.

If I click on "verify it here", I am lead to "Change email" screen. There, if I click on "Make primary", the warning/error message goes away. But that was just me guessing and clicking on a what seemed to be an unrelated button ("make primary" vs "verify" actions).

I fail to see why that extra action is required after I've clicked the

[2019-05-07 10:22] humitos commented on #5666
It's taking more that 15 minutes to do the `svn checkout`. That's why it's failing. My guess is that the server running the SVN is very slow and/or the repository too big.

(I tried to checkout it locally and it goes really slow in a 50mb connection)

The error message could be improved, though.

[2019-05-07 11:20] humitos commented on #5669
Hi @allanleal! This is a known issue: #3829. There is a proposal at #5631 but it does not behave as we need.

I'm closing as duplicate. Please, subscribe to one of those if you want to be up to date.

[2019-05-07 11:20] #5669 closed

[2019-05-07 11:32] masterandrey commented on #3866
I cannot delete project
https://readthedocs.org/dashboard/tregexpr/delete/

[2019-05-07 11:34] masterandrey opened #5670 "Cannot delete the project"
## Details

* Read the Docs project URL:
https://readthedocs.org/projects/tregexpr/

* Build URL (if applicable):
https://readthedocs.org/dashboard/tregexpr/delete/

* Read the Docs username (if applicable):
masterAndrey

## Expected Result
Project deleted

## Actual Result
https://readthedocs.org/dashboard/tregexpr/delete/

Fail.  Check back in a bit!

[2019-05-07 11:35] masterandrey commented on #5670
Similar issue
https://github.com/rtfd/readthedocs.org/issues/3866

[2019-05-07 11:36] masterandrey commented on #5670
Ups - I tried may be a 10 times and at last it's deleted

[2019-05-07 11:36] #5670 closed

[2019-05-07 12:38] thejohnfreeman commented on #4912
Wiping the environment did it. Thanks for the instructions, @pawamoy!

[2019-05-07 13:01] #5524 closed

[2019-05-07 13:39] jxcl opened #5671 "Information about becoming a gold member is behind login screen"
## Details

The ReadTheDocs ethical ads page and the become a supporter page both link to `/accounts/gold/`. If the user is not logged in, this URL redirects to a login page.

## Expected Result

I would like to see the information about becoming a gold member without being required to create an account first.

## Actual Result

I am required to create an account before viewing the information.

[2019-05-07 13:45] stsewd commented on #5665
There are related to the notification, when the user _fixes_ the problem that the notifications says, it doesn't disappear until it's clicked.

[2019-05-07 14:32] stsewd commented on #5671
I think we can explain more about gold in https://docs.readthedocs.io/en/stable/advertising/ethical-advertising.html#opting-out and link to that.

[2019-05-07 14:50] stsewd opened #5672 "Unify build_env and setup_env"
Currently we are using two different build instances

https://github.com/rtfd/readthedocs.org/blob/2e797fa1b45fe9772c6cf77c4fd55731d515585d/readthedocs/projects/tasks.py#L454-L454

https://github.com/rtfd/readthedocs.org/blob/2e797fa1b45fe9772c6cf77c4fd55731d515585d/readthedocs/projects/tasks.py#L536

We have some places where we are expecting for the `setup_env`  attr.

This should be only one in

[2019-05-07 15:39] jsnigula commented on #5666
Aah,

thanks a lot, that solved the problem, I moved the test data out of the repository, now it works fine.

[2019-05-07 16:18] #5666 closed

[2019-05-07 16:30] stsewd commented on #5668
RTD uses elastic searh instead of the default sphinx search. Looks like that for some reason that file isn't getting deleted in the search index.

[2019-05-07 17:24] stsewd opened #5673 "Execute all checkout steps inside docker"
Right now we execute the checkout step (clone, pull) in the build itself (outside docker). The rest of commands (install deps, build html, etc) are executed inside docker.

We can't execute all the commands inside docker because we are using gitpython to parse branches/tags and other operations.

Possible solutions:

1) Go back to parse the git output ourselves and drop gitpython (we basically onl

[2019-05-07 17:27] davidfischer commented on #5605
Also, we shouldn't be logging full IPs anywhere except our server logs which are deleted after 10 days. This is part of our DNT pledge.

[2019-05-07 21:19] agjohnson opened #5675 "Guide users more on top level documentation page"
We determined that the top level documentation page should probably be restructured and help guide users better. Looking at the types of users that we have viewing our documentation, and the context with which they arrive at the top level documentation page, there were a few changes that we discussed:

* The marketing material is important, but can be reduced. The top level documentation page isn'

[2019-05-07 21:19] arthall commented on #5337
The single page reference was removed with the latest release and the docs are building again.  Thank you for the help.

[2019-05-07 21:19] #5337 closed

[2019-05-07 21:28] agjohnson opened #5676 "Point new contributors to other pieces in the RTD ecosystem"
The core team has decided that the code for Read the Docs is not the best place to send new contributors. We've found it's really hard to point contributors to digestible work, and setup is already complex, and scheduled to become more complex. There are a number of areas where contributors can get started with less trouble:

* Sphinx extensions
* Autoapi
* Our theme
* Eventually we want to have d

[2019-05-08 20:14] humitos commented on #5677
I enabled that feature in your project and triggered a new build at https://readthedocs.org/projects/learnrst/builds/9037815/

I can see that now it's calling `latexmk` in the build output and the build passed.

[2019-05-08 20:14] #5677 closed

[2019-05-08 20:23] humitos commented on #5477
Marking the issue as `Accepted` since it's something that still needs to be fixed.

[2019-05-08 20:34] humitos commented on #5672
I'm not sure to follow this issue.

* What are the current problems?
* What are the benefits of using the same build environment?

[2019-05-08 20:59] stsewd commented on #5672
Code is hard to read and follow, the `setup_env` is expected in a parent class. Also, sometimes we are setting the environment to `None`, but we always need an environment. Also that we sometimes expect a dictionary and others an object.

We could still use separated environments, because we don't know the docker image to use at the clone step (this is known after parsing the config file). But the

[2019-05-08 21:14] jpch89 opened #5677 "Please enable USE_PDF_LATEXMK for the learnrst project"
## Details

* Read the Docs project URL: https://readthedocs.org/projects/learnrst/
* Build URL (if applicable): https://readthedocs.org/projects/learnrst/builds/9035466/
* Read the Docs username (if applicable): jpch89

## Expected Result
I am writing some notes for reST in Chinese, but I failed to build the project with a downloadable pdf link. Then I've changed the settings in conf.py according

[2019-05-08 21:59] saadmk11 commented on #5477
@humitos I'll add a PR on this.

[2019-05-08 22:56] davidfischer commented on #5058
Django 2.x added `SESSION_COOKIE_SAMESITE` and `CSRF_COOKIE_SAMESITE`. I believe no changes to our codeline are required as the default values are appropriate for us.

[2019-05-08 23:21] davidfischer commented on #2793
Things are moving somewhat on sphinx and on the Read the Docs sphinx theme but we could probably add a content security policy to readthedocs.org without waiting for anything else.

* Read the Docs currently uses some inline styles and JS
* Read the Docs currently links to some 3rd party scripts and styles notably GA (www.google-analytics.com), Stripe (js.stripe.com), some advertising landing page

[2019-05-08 23:58] jpch89 commented on #5677
Thank you, new feature works like magic!

[2019-05-09 09:25] humitos commented on #5516
Hi @smk508! I increased the memory to 3g (which is crazy to build docs) and I'm still seeing problems when installing `torch`.

`master` branch passed, but `development` and `latest` failed when installing `torch`. So, I'm not sure what it's doing when installing it since it does not behave in the same way on multiples runs.

Also, I created a sample project at (https://test-builds.readthedocs.io/

[2019-05-09 09:25] #5516 closed

[2019-05-09 09:33] humitos commented on #5639
I'm sending an email to the owner of the project and if we don't have any reply in 6 weeks we can mark the project as abandoned.

/remind me about mark `judi` project abandoned in 6 weeks.

[2019-05-09 11:21] #5641 closed

[2019-05-09 11:22] #5605 closed

[2019-05-09 17:22] #5477 closed

[2019-05-09 18:02] brandondube opened #5682 "cannot install project module in rtd venv"
## Details

* Read the Docs project URL: https://prysm.readthedocs.io/en/stable/
* Build URL (if applicable): https://readthedocs.org/projects/prysm/builds/9043634/
* Read the Docs username (if applicable): bdube

## Expected Result

rtd builds docs normally

## Actual Result

sphinx crashes because my project's package is not installed.

I used to use conda for the RTD environment which worked gr

[2019-05-09 18:06] stsewd commented on #5682
You are missing the `version` key in the configuration file https://docs.readthedocs.io/en/stable/config-file/v2.html#version

[2019-05-09 18:10] brandondube commented on #5682
no dice --

https://readthedocs.org/projects/prysm/builds/9043683/
https://github.com/brandondube/prysm/commit/dacd2186f7b54731c154f4b84c55ce098b071377

[2019-05-09 19:47] agjohnson commented on #5605
But the actual IPs are still useful regardless of the timeframe that we're storing them. Did anyone verify that this isn't important to our logging mechanisms before merge?

[2019-05-09 19:59] epruesse opened #5683 "Please set DONT_SHALLOW_CLONE for ymp"
## Details

* Read the Docs project URL: https://ymp.readthedocs.org

We're using `setuptools_scm`, which is broken by a shallow clone.

[2019-05-09 20:58] davidfischer commented on #5605
I looked and as far as I can tell it isn't. Our application logs `/var/log/readthedocs` do not log IPs. The only logs I can see with full IPs are our nginx logs which aren't affected by this and are rotated away after 10 days.

It is conceivable that Sentry uses this although if Sentry does capture this info, we should probably set it such that it doesn't.

[2019-05-09 21:28] stsewd commented on #5682
Looks like a known problem with the package you are using for automatic versioning https://stackoverflow.com/questions/35811267/readthedocs-and-setuptools-scm-version-wrong

[2019-05-09 21:33] saadmk11 opened #5684 "Autobuild Docs for Pull Requests"
## Initial Discussion about the PR Builder

This project involves automatically building docs for Pull Requests in GitHub repositories.
This Issue will work as the initial discussion for completing this project.
We can extend this to other issues when required while working on this part by part.

### Initial Proposal

* We already get `Pull requests` event from Github webhooks. So, I think there i

[2019-05-09 21:59] brandondube commented on #5682
I don't think so

- When I was using conda on RTD, this was no issue ( see, e.g., https://readthedocs.org/projects/prysm/builds/9015056/)

- This is a botched install, not a versioning problem

[2019-05-09 22:39] #5468 closed

[2019-05-09 23:01] stsewd opened #5685 "Cache pip packages per version rather than per project"
We are currently saving the pip cache per project, which can lead to some weird deps problems when building from different versions.

https://github.com/rtfd/readthedocs.org/blob/768856e3f72fd0ec1e4fbe9eab8913cb5f01b490/readthedocs/projects/models.py#L616-L621

Ref https://github.com/rtfd/readthedocs.org/pull/5680#issuecomment-491095510

[2019-05-09 23:50] stsewd commented on #5683
Done, let us know if you find any problem

[2019-05-09 23:50] #5683 closed

[2019-05-09 23:53] stsewd commented on #5682
I saw a warning about the shallow cloning, I activated a flag for your project to do a full clone. The dev version is private, so I can't see if it's working now.

[2019-05-10 01:16] brandondube commented on #5682
I triggered a build for dev -- no dice, same problem.  On my dashboard the dev docs are listed as public -- what do I change to make them public?

[2019-05-10 01:25] epruesse commented on #5683
Thanks!

[2019-05-10 01:50] brandondube commented on #5682
/home/docs/checkouts/readthedocs.org/user_builds/prysm/envs/dev/bin/python ./setup.py install --force

[code]

It looks like setup.py executes just fine.  The sphinx invocation,

python /home/docs/checkouts/readthedocs.org/user_builds/prysm/envs/dev/bin/sphinx-build -T -b readthedocs -d _build/doctrees-readthedocs -D language=en . _build/html

does start with `python`, not `/home/docs/checkouts/re

[2019-05-10 01:50] #5682 closed

[2019-05-10 06:32] maldag opened #5686 "Run RTD on local VM with local Gitlab Server using Self-Signed SSL Certificate"
I'm trying to setup a local installation of the readthedocs.org environment according to the installation manual on rtd.org.
The use case is to locally host a documentationserver based on rtd and connect it with a locally hosted Gitlab server which holds the source code and documentation files.

[code]

Setup signed SSL-Cert in Ubuntu 18.04 ca-Chain for connection to hosted gitlab-Server <GitlabLo

[2019-05-10 14:04] ericholscher commented on #5673
I think we should definitely we trying to run everything in docker, so #2 sounds the best to me. I think we can do it in stages though. Let's move the clone inside docker first, then we can figure out the best approach for the other commands after that.

[2019-05-10 14:43] jkanche opened #5687 "Build fails when depending on pyodbc"
Hello,

I am working on a repo that depends on pyodbc. The build fails since it cannot find `sql.h`. I was wondering if there's a way to fix this! Build info below

## Details

* Read the Docs project URL:https://readthedocs.org/projects/epivizfileparser
* Build URL (if applicable):https://readthedocs.org/projects/epivizfileparser/builds/9049219/

[code]

Thanks!
Jay

[2019-05-10 17:26] timothydmorton opened #5688 "No syntax highlighting with nbsphinx"
## Details

* Read the Docs project URL: https://isochrones.readthedocs.io
* Read the Docs username: timothydmorton

## Expected Result

Documentation built on rtd from notebooks with nbsphinx would have syntax highlighting  in the code cells as they do when built locally on my machine.

## Actual Result

The documentation builds on rtd and everything looks good except there is no syntax highlight

[2019-05-10 17:44] davidfischer commented on #5688
I see a lot of warnings in [recent builds](https://readthedocs.org/projects/isochrones/builds/9050048/) related to:

    WARNING: Pygments lexer name 'ipython3' is not known

Pygments is the library that provides syntax highlighting so I suspect it is related.

[2019-05-10 17:49] timothydmorton commented on #5688
Interesting, thanks for finding this-- is there anything I can do to fix this?  I have pygments version 2.2.0 locally; not sure what is on RTD by default.

[2019-05-10 17:50] timothydmorton commented on #5688
OK, looks like 2.3.1 on RTD.

[2019-05-10 17:53] davidfischer commented on #5688
That lexer comes from ipython itself. There's a bug (with a workaround) here: https://github.com/spatialaudio/nbsphinx/issues/24

[2019-05-10 17:54] timothydmorton commented on #5688
yup, just found it, and trying now!  thanks

[2019-05-10 18:03] timothydmorton commented on #5688
OK, the solution was actually just to add ipython to the requirements.txt used by RTD.

[2019-05-10 18:03] #5688 closed

[2019-05-10 23:02] tsibley opened #5689 "Set no shallow clone for nextstrain-augur"
## Details

* Read the Docs project URL: https://readthedocs.org/projects/nextstrain-augur
* Read the Docs username (if applicable): trs

## Expected Result

Builds to run with a full clone of the git repo so author information can be generated from the full git history.

[2019-05-10 23:30] davidfischer commented on #5689
No problem. This is all setup. If you encounter issues, please feel free to re-open it.

[2019-05-10 23:30] #5689 closed

[2019-05-10 23:31] davidfischer commented on #5687
Do you strictly need pyodbc for building the documentation and is there no pre-built version of it? We would need to have some C libraries installed on the build docker images to be able to build it from source.

[2019-05-11 01:36] jkanche commented on #5687
I was able to remove the `pyodbc`, `pymysql` & `aiomysql` dependencies and get the docs to build.

[2019-05-11 22:13] stsewd commented on #5686
Looks like you are missing setting up the user for the api.

See https://docs.readthedocs.io/en/stable/install.html

Also, we don't use the issue tracker for custom installations, please see

https://docs.readthedocs.io/en/stable/support.html
https://docs.readthedocs.io/en/stable/custom_installs/index.html

Asking in another channel like irc/gitter/stack overflow, you could get more help.

[2019-05-12 16:17] willingc commented on #4638
I believe that we ran into the redirect issue re: htmldir builder in the latest CPython devguide build. https://github.com/python/devguide/issues/483

[2019-05-12 16:28] willingc commented on #4638
FYI. [Sphinx builder dirhtml in Sphinx 2.0+](https://www.sphinx-doc.org/en/2.0/_modules/sphinx/builders/dirhtml.html) uses the name `dirhtml`. I think RTD v2 config is using `htmldir`. I'm not sure if the two are mapping correctly.

[2019-05-13 08:54] #5446 closed

[2019-05-13 09:00] humitos commented on #5064
(from https://github.com/rtfd/readthedocs.org/issues/4638#issuecomment-491609697)

[2019-05-13 09:43] humitos commented on #5687
Thanks! I'm closing it as resolved.

[2019-05-13 09:43] #5687 closed

[2019-05-13 13:27] akien-mga commented on #2971
I still think this feature flag should be the default behaviour, or at least something users can enable themselves in their conf.py or RTD dashboard...

Still, in the meantime, I'd be glad if it could be enabled for `godot`: https://readthedocs.org/projects/godot/

[2019-05-13 16:09] stsewd commented on #5064
We map the builder from the config file to our custom builder, so if anything we should change our builder custom builder (if needed). Also maybe is a good idea to include `dirhtml` as option in the config  file too?

[2019-05-13 16:26] stsewd commented on #2971
I think it will only break projects that are already broken locally, I mean building outside rtd.

[2019-05-13 19:01] davidfischer opened #5691 "Deleting a project does not delete media in storage"
As we write more build output to cloud storage we need to make sure that those remote files are removed when versions or projects are deleted. Currently this does not appear to be happening.

[2019-05-13 22:18] epruesse opened #5693 "Conda install needs up to 500MB RAM"
## Details

* Read the Docs project URL: https://ymp.readthedocs.io
* Build URL (if applicable): https://readthedocs.org/projects/ymp/builds/

## Expected Result

Conda environment install passing.

## Actual Result

Conda breaks.

Sometimes it's a timeout, sometimes it's an out-of-memory, sometimes it terminates with code 247 (which seems to indicate OOM as well).

## Fixes...

These are just thi

[2019-05-13 22:40] epruesse commented on #5693
xref https://github.com/conda/conda/issues/8650

[2019-05-13 23:59] davidfischer commented on #5551
I'm not opposed to having a more sane default setting of [`AUTH_PASSWORD_VALIDATORS `](https://docs.djangoproject.com/en/1.11/topics/auth/passwords/#enabling-password-validation).

[2019-05-14 06:24] avinashbhat commented on #5481
Hi! Is this issue fixed or up to grabs?

[2019-05-14 06:26] stsewd commented on #5481
Yeah, but there is an open PR already https://github.com/rtfd/readthedocs.org/pull/5490 the only thing missing are tests, you can base your work on that.

[2019-05-14 08:36] humitos commented on #2971
@akien-mga I've enabled this in `godot`. Please, let me know if it works as you expected. Otherwise, open a new issue so we can track it there. Thanks!

[2019-05-14 09:47] humitos commented on #5693
Hi @epruesse! This is a known problem, there are several issues on RTD about conda eating memory and also in their own repository.

Currently your build is using 1Gb of memory to build, so if it fails because of memory, it means that it's using more than that.

We have a small guide with some suggestions at https://docs.readthedocs.io/en/latest/guides/build-using-too-many-resources.html. One of th

[2019-05-14 11:33] humitos commented on #5668
I changed the title to show the exact problem. Wiping should not affect search results. Once a new build is triggered and successfully built, the search index should be updated accordingly.

I just verified that those 3 results comes from our own search API endpoint: https://readthedocs.org/api/v2/docsearch/?q=ButtonGroup&project=nanogui&version=latest&language=en

[2019-05-14 12:17] trasher opened #5697 "NameError: name 'reportlab' is not defined"
## Details

* Read the Docs project URL: https://glpi-install.readthedocs.io/
* Build URL (if applicable): https://readthedocs.org/projects/glpi-install/builds/9066046/
* Read the Docs username (if applicable): trasher

## Expected Result

Build success.

## Actual Result

Build failing with error `NameError: name 'reportlab' is not defined`

[2019-05-14 14:12] humitos commented on #5697
It seems that you are calling `rst2pdf` from your `conf.py` file. That's not needed when building on Read the Docs. RTD uses a different PDF builder.

[2019-05-14 14:17] trasher commented on #5697
I have used it in the past locally, but this is no longer required now. Did not pay attention since I think it was not used (and previousely do not breaks builds).

Thank you :)

[2019-05-14 14:17] #5697 closed

[2019-05-14 14:43] stsewd commented on #5668
I retriggered it after the support ticket in ES, but it didn't work :/

[2019-05-14 15:51] humitos commented on #5668
Yeah. I'm still seeing problems on Sentry around timeout connection to ES.

[2019-05-14 17:22] ivankravets commented on #2971
:) Oh... Why did a bot close this issue? :) Could someone summarize what should be done on our https://docs.platformio.org side?

[2019-05-14 17:33] stsewd commented on #2971
@ivankravets it was closed automatically because it didn't have any activity.

If you need to override `html_context` let us know, and we can activate a flag for your project. We are going to sample some projects before making this the default.

[2019-05-14 17:34] ivankravets commented on #2971
Aha, got you. Please activate for our project too. Currently, we overwrite "Edit page" with JS hook. Thanks!

[2019-05-14 17:39] stsewd commented on #2971
@ivankravets done!

[2019-05-14 17:43] bno5761 commented on #5611
I apologize for taking so long to respond. The last couple of weeks involved finishing my classes, and I didn't have much opportunity to work on this.

Thanks for helping get the build to pass again. But, the RtD is not allowing the docs referenced in the index.md file to populate. I have only a couple of simple trial documents under /doc_files, but I would still expect them to appear online.

[2019-05-14 17:49] davidfischer commented on #5611
For mkdocs, you need to use v2 of the Read the Docs configuration file. Your project is [currently using v1](https://github.com/jdc5884/StapletonLab/blob/9bcf81abc7fb2f43e662b8f1fe142bca7c3800d5/.readthedocs.yml#L1) which only supports sphinx for building documentation.

If you update your config file to look like the sample in [our documentation](https://docs.readthedocs.io/en/stable/config-file/

[2019-05-14 20:18] ivankravets commented on #2971
Thanks! It works now!

[2019-05-14 20:49] stsewd commented on #2971
We are keeping this issue open till we came with a final decision if enabling the flag by default doesn't break anything :)

[2019-05-14 21:50] dojutsu-user commented on #504
@ericholscher @davidfischer

I did some research on how algolia implemented its search on [Requests](https://2.python-requests.org/en/master/) docs...

When query is `This part of the documentation`, this is the response

![docs](https://user-images.githubusercontent.com/29149191/57580282-3babb980-74c5-11e9-8233-56fa32cf0ec3.png)

**POST data sent with each request -**
[code]

**GET data sent with

[2019-05-14 22:57] ericholscher opened #5699 "In-doc search design document"
We should create a design document that lays out the design of our in-doc search UI. This comment is the start of that work already, but we should make a PR of it on our own.

Some existing examples of design docs are here: https://docs.readthedocs.io/en/latest/design/

[2019-05-14 23:03] ericholscher opened #5700 "Pull Request Builder Design Doc"
We should create a design document that lays out the design of our PR Builder. This comment is the start of that work already, but we should make a PR of it on our own.

Some existing examples of design docs are here: https://docs.readthedocs.io/en/latest/design/

[2019-05-14 23:16] safwanrahman commented on #5684
I think we should move to [Github Apps](https://developer.github.com/apps/). @saadmk11 Can you evaluate Github Apps to know if we can move to Github Apps?

[2019-05-14 23:19] safwanrahman commented on #5684
The important part is, how do we serve the documentation. Should be it in the same domain or it should be served from different domain/subdomain. Moreover, are we going to support only Github or we should also evaluate if we can support Github/Gitlab both.

[2019-05-15 06:33] rahulgorai22 commented on #2569
Worked for me !! Thanks

[2019-05-15 06:34] saadmk11 commented on #5684
@safwanrahman I was thinking we could serve the PR builds using `<pr_number>` namespace.
We can do something like: : `https://<project_slug>.readthedocs.io/en/pr/<pr_number>/`
What do you think ?

[2019-05-15 08:10] saadmk11 commented on #5684
I read briefly about Github apps from the official Documentations. Github App has many differences from the OAuth implementation that we are currently using. we would need a good amount of refactoring to implement this and it is not as flexible as our current implementation.

Which we do not want.

It does not provide authentication for users and needs to be installed by users and give permission

[2019-05-15 09:38] humitos commented on #2971
The original issue is solved. The discussion if enabling it by default or not is going to happen in another place since we need more data to make it. There is no need to keep this issue open here until then.

There are not too many users with this problem and we have a solution (feature flag) for the ones that need it (just need to ask for it). I'm closing it.

[2019-05-15 09:38] #2971 closed

[2019-05-15 15:19] #5551 closed

[2019-05-15 17:31] dojutsu-user commented on #5699
Linking the issue #504 and the [comment](https://github.com/rtfd/readthedocs.org/issues/504#issuecomment-492423346)

[2019-05-16 14:09] effigies opened #5702 "ReadTheDocs footer not being inserted"
## Details

Most RTD-hosted docs I've worked with automatically insert a footer that allows other versions of the docs to be browsed easily. For a project ([bids-standard/bids-specification](https://github.com/bids-standard/bids-specification)) using the [mkdocs-material](https://github.com/squidfunk/mkdocs-material) theme, this does not occur.

At least in the case of Sphinx themes, no explicit a

[2019-05-16 14:37] humitos commented on #5672
We have to be careful with this because on `setup_env` we are passing `update_on_success=False` to avoid changing the state of the build and we are only passing `environment=` to the `build_env` (although, I'm not sure if it could be a problem)

[2019-05-16 14:39] effigies commented on #5702
Looks like it's a failure of the theme to import jQuery. Found via https://github.com/geosolutions-it/MapStore2/pull/3570. Sorry for the noise.

[2019-05-16 14:39] #5702 closed

[2019-05-16 14:49] #5655 closed

[2019-05-16 18:42] davidfischer commented on #5702
It is a goal of mine to make our footer JavaScript more self-contained and dependency free. However, I believe a number of sphinx features may not work well without jquery.

[2019-05-16 18:48] effigies commented on #5702
That'd be neat; still, adding a minified copy jQuery isn't a big thing to ask of users. I'm not sure if this dependency is documented somewhere, but it took me a couple hours of digging to finally figure it out. Hopefully I've put enough good search terms in the initial post that others running into this problem will be able to find this issue.

[2019-05-16 18:49] dojutsu-user commented on #5699
Update:
Researching on the topic and will make the PR for the design document in a day or two.

[2019-05-16 19:58] grihabor opened #5704 "Transfer ownership of "biopython" project"
## Details

I want to transfer biopython.readthedocs.io url to the actual maintainer of the project

* Project: https://github.com/peterjc/biopython
* Target maintainer: https://github.com/peterjc

[2019-05-16 20:03] stsewd commented on #5704
Hi, you can do this adding the user as maintainer in https://readthedocs.org/dashboard/biopython/users/

After that, the other user can remove you from the maintainers if you wish

[2019-05-16 20:11] grihabor commented on #5704
Thank you! Done, @peterjc please check

[2019-05-16 21:58] peterjc commented on #5704
Thank you!

Minor correction - we will want to use https://github.com/biopython/biopython (the official repository) not https://github.com/peterjc/biopython (my personal fork), but it looks like I can now change the RTD repository URL as needed. It might be useful to point at my personal fork in the short term to avoid too many test changes on the official repository.

I hope to look at this tomor

[2019-05-16 22:03] stsewd commented on #5704
Yes, you can change that.

[2019-05-16 22:03] #5704 closed

[2019-05-17 10:15] humitos commented on #5553
I added a rule to our Docker Hub repository that matches `5.0.x` to `latest`. This should not be an issue anymore.

[2019-05-17 10:15] #5553 closed

[2019-05-17 17:39] bdbaddog opened #5708 "Can we claim scons for the SCons project"
## Details

* Read the Docs project URL: https://readthedocs.org/projects/scons/
* Build URL (if applicable):
* Read the Docs username (if applicable): bdbaddog

## Expected Result

Looks like someone tried to build rtd docs for scons a while back but the git repo is gone.
We'd like to  claim the project name for SCons project (http://scons.org)

## Actual Result

Someone else owns rtd's scons pro

[2019-05-17 23:15] alexpreynolds opened #5709 "Latest html build of docs does not include images; branch html build does"
## Details

* Read the Docs project URL: https://readthedocs.org/projects/bedops/
* Build URL (if applicable): https://readthedocs.org/projects/bedops/builds/9087007/
* Read the Docs username (if applicable): alexpreynolds

## Expected Result

Images in: https://bedops.readthedocs.io/en/latest/ are rendered exactly as they are rendered in: https://bedops.readthedocs.io/en/v2p4p36/

## Actual Resul

[2019-05-18 21:04] saadmk11 opened #5710 "Switching to Github Apps for PR Builder"
## Details

This Issue will talk about if we want to migrate to Github Apps for PR Builder or not.
if we start migrating to Github Apps through PR Builder we can eventually migrate to Github Apps for all the Github Functionality on RTD. This will be a big transaction but this can be a start of that.

## Why migrate to Github Apps?

GitHub Apps are the officially recommended way to integrate with G

[2019-05-19 09:53] koaning commented on #5563
@davidfischer this is a ping, just to check if this is on your roadmap. i am pining you because @humitos assigned you.

[2019-05-19 18:48] #1846 closed

[2019-05-20 08:02] humitos commented on #5708
Hi @bdbaddog! I sent an email to the user following our http://docs.readthedocs.io/page/abandoned-projects.html policy.

I will contact you back in 6 weeks if the user does not respond us.

/remind me about take action on this project in 6 weeks

[2019-05-20 08:07] humitos commented on #1846
We do not plan to support this soon. We can keep this issue closed for now.

[2019-05-20 09:37] humitos commented on #5709
I don't see any errors related to your project in our servers.

Also, it seems that something you changed is producing this effect because I build your docs locally (outside Read the Docs) by calling `make html` and I have the missing images as well.

Please, check your latest changes to find out if there is something wrong there.

[2019-05-20 09:38] humitos commented on #5709
Try building your docs locally and let me know if you can reproduce this issue or not.

[2019-05-20 10:16] #5550 closed

[2019-05-20 13:46] humitos commented on #4287
In case we ended up with our Python code documented by `sphinx-autoapi`, I think it could be a really good example to mention on our guide [My build is ussing too many resoures](https://docs.readthedocs.io/en/latest/guides/build-using-too-many-resources.html)

[2019-05-20 13:58] humitos commented on #4729
I'm marking this issue as a `Good First Issue` since it's not "too complicated" to do it.

The FAQ that Anthony mention in the description is this guide: https://docs.readthedocs.io/en/latest/guides/build-using-too-many-resources.html

In fact, I think it would be good to add a mention to `sphinx-autoapi` to that guide for users that are documenting the source code API.

[2019-05-20 14:18] bno5761 commented on #5611
It now works! After changing the version and one of the admin settings in Read the Docs (from Sphinx to Mkdocs), it built without error. Thanks so much!

[2019-05-20 14:18] #5611 closed

[2019-05-20 16:01] stsewd commented on #5710
Is there a way to have both? Sounds like migrating to github apps the current auth, webhooks would require a lot of work, and I wouldn't like to block the PR builder project because of that. If is possible to use github apps only with the PR builder integration, I'll be +1 on that, so we can move the rest later.

[2019-05-20 16:19] #3742 closed

[2019-05-20 16:28] #5364 closed

[2019-05-20 17:03] saadmk11 commented on #5710
It will take a lot of work but I think we can have both of them together. But I'm worried about single webhook thing of github apps because we allow a github repository to be imported multiple times but it might be a problem as the central webhook will not specify a project.
Also do we want to migrate partially now? Or we want to start a full migration process later on the line? Which will be more

[2019-05-20 18:29] stsewd opened #5711 "Remove `UPLOAD_ROOT` setting and `uploaded` field"
This is a follow up of https://github.com/rtfd/readthedocs.org/pull/5443

More info in https://github.com/rtfd/readthedocs.org/pull/5443#issuecomment-476072991

[2019-05-21 11:28] humitos commented on #5711
Do you wonder about breaking anything when removing it?

Some considerations:

1. we do not have any `uploaded=True` in corporate
1. we have 113 on community
1. we need to decide what to do with the logic in code that uses `.uploaded` (grepping gave me some results under an "if" clause
1. we should probably check what are those 113 versions
   * don't care if they are SPAM or broken docs, etc
   *

[2019-05-21 17:04] davidfischer commented on #5563
@koaning I will be the one working on this. It isn't the top of my queue but I should get to it in the next week.

[2019-05-21 17:11] stsewd commented on #5693
If you are still not able to build your docs, let us know and we could increase the memory limits for your project

[2019-05-21 17:53] epruesse commented on #5693
@stsewd If you don't mind, it would be great to try that. My docs builds still fail occasionally (https://readthedocs.org/projects/ymp/builds/9063498/)

@mbargull - If you have time to work on `conda`, I suppose the memory requirements are really an issue. Since the solver's usage will be hard to trim down, perhaps making `conda env install` accept a solved env (i.e. the `@EXPLICIT` export of `con

[2019-05-21 22:10] alexpreynolds commented on #5709
I cannot reproduce this issue if I build the documents locally — outside of RTD (_i.e._, `git pull origin master`, `cd docs`, and `make html`, followed by `open _build/html/index.html`, loads images correctly).

The issue only seems to appear on the documentation site hosted through bedops.readthedocs.io, and only in the `latest` build (based off the `master` branch).

For instance, this image can

[2019-05-22 06:19] davidfischer commented on #5709
I ran the following exactly and I see the same issues as @humitos:

    git clone https://github.com/bedops/bedops.git
    cd bedops/docs/
    virtualenv .venv
    source .venv/bin/activate
    pip install -r requirements.txt
    pip install "sphinx<2"
    make html

I see a couple problems:

* Since you are using a custom stylesheet in `docs/_static`, you need to add the following to your `conf.p

[2019-05-22 08:53] humitos commented on #5709
Did you cleanup your local environment before? You may have some old files (images) located in the right folder and that's why they are found in your computer but not in ours.

Try running `make clean` first or starting from scratch following the steps that David mentioned. Let us know.

[2019-05-22 09:57] tlongers opened #5715 "Docs served without SSL, though SSL is set"
Thank you for this thoughtfully-designed, helpful tool - I've had a great experience so far in migrating my org's research handbook to Read The Docs. I just encountered this small glitch when setting up a custom domain for testing.

## Details

* Read the Docs project URL: https://doccydoc.readthedocs.io/
* Custom domain: https://newhelp.securityforcemonitor.org/

## Expected Result

If the user v

[2019-05-22 10:41] tlongers commented on #5715
Okay, so time is the great healer: it fixed itself!

[2019-05-22 10:42] tlongers commented on #5715
Actually no it didn't - sorry, reopening.

[2019-05-22 11:09] cas-- opened #5716 "Set no shallow copy for deluge"
As noted in #5031, I'm asking to disable shallow clone for [deluge](https://readthedocs.org/projects/deluge/).

This is a real pain to suddenly encounter failed builds and spend time searching around to finally stumble upon this!

[2019-05-22 14:49] humitos commented on #5715
@tlongers thanks for your report.

We are already aware about this and we have this issue opened to track this issue at #4641. Please, subscribe there to be notified about any news.

I'm closing this one.

[2019-05-22 14:49] #5715 closed

[2019-05-22 14:52] humitos commented on #5716
I enabled the flag in your project. Please, wipe it and re-trigger a build.

Let me know if anything.

[2019-05-22 14:52] #5716 closed

[2019-05-22 15:24] cas-- commented on #5716
Thanks.

A link to wipe environment document would have been useful: https://docs.readthedocs.io/en/stable/guides/wipe-environment.html

[2019-05-22 15:26] lpsinger opened #5717 "Request to increase memory limit for ligo-virgo-public-alerts-user-guide"
Please increase the memory limit for the project ligo-virgo-public-alerts-user-guide to 4 GB. This project builds some images based on astronomical data using the Matplotlib plot directive. When I test the build in a docker container, the memory usage (maximum resident set size) peaks at about 3 GB. The 4 GB request includes a safety margin.

## Details

* Read the Docs project URL: https://readth

[2019-05-22 15:28] lpsinger opened #5718 "Build error with build id #9109576"
## Details:

* Project URL: https://readthedocs.org/projects/ligo.skymap/
* Build URL(if applicable): https://readthedocs.org/projects/ligo-skymap/builds/9109576/
* Read the Docs username(if applicable): lpsinger

## Expected Result

Build should succeed.

## Actual Result

The build fails without providing a clear log message.

[2019-05-22 18:11] lwasser opened #5719 "RTD build fails quietly on envt setup for earthpy. it did used to work however."
## Details

* Read the Docs project URL: earthpy -- https://earthpy.readthedocs.io/en/latest/
* Build URL (if applicable):  https://readthedocs.org/api/v2/build/9110151.txt
* Read the Docs username (if applicable): lwasser

## Expected Result
I expected the docs to build successfull

## Actual Result

my doc build keeps failing quietly. the raw logs are below and i don't understand what is the iss

[2019-05-22 18:20] stsewd commented on #5719
Believe this is because you are using conda, which is timing out or consuming a lot of resources, please try https://docs.readthedocs.io/en/stable/guides/build-using-too-many-resources.html

If that doesn't work for you, we can increase the memory limits.

[2019-05-22 18:22] lwasser commented on #5719
Ok thank you @stsewd  i will look into this now. I really appreciate the quick response.

[2019-05-22 21:31] lwasser commented on #5719
hi @stsewd if you can increase the memory limits that would be great.
i have modified my envt file to be more bare bones following the existing docker image... it still is hanging. Unfortunately the spatial libraries really need to be installed via conda-forge for dependencies to work properly.

i am open to trying some other things but it still seems to be spinning and failing.
[code]

many thank

[2019-05-22 22:08] alexpreynolds commented on #5709
I did the following on a "clean" computer with Python 3.5.2 (Anaconda):

[code]

The `index.html` that I open links to the images and displays them correctly.

The problem seems to be specifically with the `latest` RTD build, which is hosted on bedops.readthedocs.org.

I don't know how to troubleshoot why the `latest` build is failing, while the `v2p4p36` build on bedops.readthedocs.org works fine

[2019-05-22 22:16] alexpreynolds commented on #5709
To reiterate what seems like the root of the problem with an example:

This image can be found, taken from the `v2p4p36` build:

https://bedops.readthedocs.io/en/v2p4p36/_images/set_operations_v2.png

But this image is not found for the `latest` build:

https://bedops.readthedocs.io/en/latest/_images/set_operations_v2.png

This is the exact same image file. The only change here is in the path.

Th

[2019-05-22 22:21] stsewd commented on #5709
What version of sphinx are you using locally? Read the Docs is using `v1.8.5`

[2019-05-22 23:10] atwilso opened #5720 "Build error on build #9111781"
## Details

Project URL: https://tracktable.readthedocs.io
Build URL: https://readthedocs.org/projects/tracktable/builds/9111781/
RTD username: atwilso

### Expected result:

I expected my documentation to finish building.  This works locally on my OS X + Anaconda install.  The main complication is that I use breathe to combine Doxygen documentation of C++ components with Sphinx documentation of P

[2019-05-22 23:21] stsewd commented on #5720
What version of python and sphinx are you using locally?

[2019-05-22 23:22] atwilso commented on #5720
Python 3.7, Sphinx 2.0.1.

I can now reproduce the problem locally if I back off to Sphinx 1.8.5.

[2019-05-22 23:25] atwilso commented on #5720
Aha!  Pinning Sphinx to 2.0.1 in my Python requirements file fixed the problem.

[2019-05-22 23:25] #5720 closed

[2019-05-23 04:25] dojutsu-user commented on #5445
Still valid bot.

[2019-05-23 09:01] humitos commented on #5709
There are something missing in your steps for full clean environment.

This `pip install` command will only install `sphinx-better-theme==0.1.4` and the next command `make html` will fail saying that sphinx is not installed in the system.

So, you are probably using an environment with a bunch of other packages. I can't reproduce the error without knowing exactly how is your environment setup.

[2019-05-23 09:08] humitos commented on #5445
Marking the issue as Accepted since is something we want to fix.

[2019-05-23 09:22] tlongers commented on #5715
Thanks @humitos

[2019-05-23 09:44] humitos commented on #5718
Hi @lpsinger. It seems it was a temporary problem in our servers.

I just triggered a new build for your docs and it failed for a different reason.

Please, take a look at this guide first and come back to us if you have any doubt: https://docs.readthedocs.io/en/latest/guides/build-using-too-many-resources.html

Thanks!

[2019-05-23 09:48] tgamblin opened #5721 "RTD project failing to init/update submodules."
## Details

I'm trying to set up a single repository for localized documentation projects, and that involves having a submodule for my main project, with a lot of "fake" symlink tree directories in `docs/*`  that point back to the main project and differ only in what language is set in config.py.  This build *was* working before but it seems to have gotten into a weird state.

* Read the Docs proj

[2019-05-23 11:28] humitos commented on #1812
I've been thinking a little more about this and how to emulate the Github behavior in our docs: when you hover an issue number in a Github conversation it shows a small popup with some useful information about it

![Screenshot_2019-05-23_12-41-32](https://user-images.githubusercontent.com/244656/58248449-75e64800-7d5c-11e9-84a6-47a611d9b1dd.png)

I think we could do something similar in a separate

[2019-05-23 11:32] humitos commented on #2955
Is there anything else actionable here that we want to do?

[2019-05-23 11:41] humitos commented on #3474
We do have a feature flag to disable Read the Docs to override the context: [`DONT_OVERIDE_SPHINX_CONTEXT`](https://docs.readthedocs.io/en/latest/guides/feature-flags.html).

That way, you can define `canonical_url` with the value you want and it will be used at https://github.com/rtfd/readthedocs-sphinx-ext/blob/master/readthedocs_ext/_templates/readthedocs-insert.html.tmpl#L17

@begriffs please,

[2019-05-23 11:44] humitos commented on #5685
What are these problems?

[2019-05-23 11:49] humitos commented on #5665
Unfortunately, this is how our notification system works now.

We are not using template-based notifications, but instead when an action is needed based on some db field, we create a notification object with the proper message. Then, the only way to make it disappear is to click on the link from the notification (which trigger an AJAX call to delete it).

We are not going to change this behavior s

[2019-05-23 11:49] #5665 closed

[2019-05-23 11:54] typ1-brods opened #5723 "RTD: Build exited due to time out"
## Details

* Read the Docs project URL: https://androidaps.readthedocs.io/en/latest/
* Build URL (if applicable): https://readthedocs.org/projects/androidaps/builds/9114296/
* Read the Docs username (if applicable): typ1-brods

## Expected Result

I want to built l10n_master branch. It has been working for months.

## Actual Result

Now it has failed serveral times since yesterday due to timeout.

[2019-05-23 11:58] humitos commented on #5104
We do have a `Redirect.http_status` field that its default is `301`, although we are not using it anywhere.

I think we could accept a PR that:

* create a migration to update the default to 302
* use this value [when redirecting](https://github.com/rtfd/readthedocs.org/blob/8726fb652a355bbf974fc704d9ba93f8f22ef6a3/readthedocs/redirects/utils.py#L94)
* tests for the different cases

Then, we can h

[2019-05-23 12:07] humitos commented on #4529
I'm not really sure that we want to change the default behavior here without making it configurable since it will affect to all our users suddenly.

For anyone interesting on using a custom `current_version` value we can enable the feature flag [`DONT_OVERWRITE_SPHINX_CONTEXT`](https://docs.readthedocs.io/en/latest/guides/feature-flags.html) on that particular project.

Please, let us know.

If we

[2019-05-23 12:12] humitos commented on #4914
This will take care the person that implements it.

I'm removing the `Design decision` label and marking it as `Accepted`.

We can decide that when we see the changes in the PR propsed.

[2019-05-23 12:27] lpsinger commented on #5718
Thank you!

[2019-05-23 12:27] #5718 closed

[2019-05-23 13:33] orenbenkiki commented on #4529
Yes, "all" I was asking for was some configuration option. I agree changing the default would be too disruptive.

That said, I don't fully understand the proposed solution. If I wanted to override the strings "stable" and "latest" to show additional information (wherever they appear on the web page, regardless of the chosen theme), what exactly should I write in my `conf.py` file?

E.g., would it

[2019-05-23 13:33] saadmk11 commented on #5104
@humitos I'm a bit confused about the second point. As one `Project` might have many `Redirect` objects which one should we use for redirecting.

[2019-05-23 14:11] stsewd commented on #5721
This is because we now validate these files before the fetching submodules, we are moving these validations to a later step https://github.com/rtfd/readthedocs.org/pull/5627

See https://github.com/rtfd/readthedocs.org/issues/5238

[2019-05-23 14:11] #5721 closed

[2019-05-23 14:12] mattparrilla opened #5725 "Organization repos neither show up, nor build when entered manually"
## Details

I tried to import a project from a Github Organization that I am an admin of but I don't see any of the repositories from that organization in my "Import a Repository" list, even when I filter on that organization and even after I "refresh my accounts" or click on the sync button.

When I then attempt to add the repository manually, the build fails, giving me the following error:
[code

[2019-05-23 14:21] stsewd commented on #5685
Different versions have different requirements, dependencies of another dependencies, etc.

[2019-05-23 14:22] stsewd commented on #5685
Also if the cache gets corrupted, users need to wipe in order to get it working again.

And we can't clean the cache in #5680

[2019-05-23 14:34] mattparrilla commented on #5725
Based on [this stack overflow answer](https://stackoverflow.com/a/50982047/723998) I am guessing this is because our repositories are private.

I'll close the issue. Though a note about this on the [Importing Your Documentation](https://docs.readthedocs.io/en/stable/intro/import-guide.html) page might be helpful. I'll create a PR

[2019-05-23 14:34] #5725 closed

[2019-05-23 14:40] stsewd commented on #5725
For private repos you can use readthedocs.com https://docs.readthedocs.io/en/stable/commercial/index.html

[2019-05-23 14:40] humitos commented on #5685
I don't think we are having this problem.

There is no need to save a cache if we are going to clean it after use it once. If that's what we want, we just don't need to save the cache at all. We can use,

* do not mount a a volume outside the docker container
* use `--no-cache-dir` option in pip

Having a per-version pip cache does not makes too much sense to me.

[2019-05-23 14:43] mattparrilla commented on #5725
@stsewd that's great. That SO post was the first I'd heard of your commercial solution. That's exactly what we're looking for. Thanks.

https://github.com/rtfd/readthedocs.org/pull/5726

[2019-05-23 14:44] humitos commented on #5104
@saadmk11 each `Redirect` object has a `http_status` value on its own. So, when one instance of a redirect that match the url, we access that field and return that status code.

[2019-05-23 16:28] tgamblin commented on #5721
Thanks!  This enabled me to get things working.

[2019-05-23 20:19] alexpreynolds commented on #5709
I added a [hotfix](https://github.com/bedops/bedops/commit/6a7bd31a585b5e8a7d2e66ff9d1e40ae89aed16f) to manually copy images from the docs folder to the `_build/html/_static` build subdirectory, to ensure that they are available.

The following works for me locally:

[code]

However, with this hotfix, the `latest` build on RTD now gives a build failure error:

[2019-05-23 20:22] alexpreynolds commented on #5709
For reference: https://readthedocs.org/api/v2/build/9117264.txt

[2019-05-23 23:23] lwasser commented on #5719
ok @stsewd   one other note.
when the build happens it sits on this step with no messages in the dialog box for several minutes... it seems like it is hanging? is this still because of conda? it's odd as things used to work just a few weeks ago and then it just broke again.

i'm playing with settings on the rtd branch of earthpy but am just wondering why it seems to be hanging for so long. i remov

[2019-05-23 23:32] stsewd commented on #5719
Sorry for the confusion, the last executed command is  `conda env create` isn't show in the build page because rtd saves the commands after they are executed (some timnes when the command fails for memory limits rtd doesn't capture the last command)

We are tracking these problems in

https://github.com/rtfd/readthedocs.org/issues/3613
https://github.com/rtfd/readthedocs.org/issues/4288

Probably

[2019-05-24 05:14] dojutsu-user commented on #5112
@humitos
Is this actionable or should we close it for now?

[2019-05-24 07:34] 2Eagle2 opened #5730 "needtable not shown in RTD"
## Details

When running the basic example in Sphinx from https://sphinxcontrib-needs.readthedocs.io/en/latest/index.html#

database style table is not shown when using RTD

## Minimal Example:

.. req:: My first requirement
  requirement 1

.. req:: My second requirement
  requirement 2

.. needtable::
  :style: datatables

## Expected Result

the table is shown as in example

## Actual Result

o

[2019-05-24 07:37] 2Eagle2 commented on #5730
When investigate
changing in theme.css

**from:**

.wy-table-responsive {
  overflow: auto
}

**to:**

.wy-table-responsive {
  overflow: visible
}

fix the issue

[2019-05-25 15:34] humitos commented on #4746
In #5519 we added a message to communicate with users about the usage of a `.readthedocs.yml` config in the build output.

I think a cool idea would be to add a link to create this file with the specific content on their own repository. I found that adding `?filename=.readthedocs.yml` to the link that creates the file into the GitHub repository we can name it properly. Although, I didn't find how

[2019-05-25 15:54] saadmk11 commented on #4746
@humitos we can do this by just adding `&value=` after filename. something like:
https://github.com/rtfd/readthedocs.org/new/master?filename=.readthedocs.yml&value=version%3A%202%0Aformats%3A%20all%0Asphinx%3A%0A%20%20configuration%3A%20docs%2Fconf.py%0Apython%3A%0A%20%20%20install%3A%0A%20%20%20%20%20%20-%20requirements%3A%20requirements%2Flocal-docs-build.txt

[2019-05-25 16:07] humitos commented on #4746
That's exactly what I was looking for!

I think this is a really good usage for this,

* we can generate the proper content depending on the user's settings
* we are not being rude like by just performing a commit
* we let the user to customize our content suggestion
* immediately after the user makes the commit, we will trigger a new build with these new settings

I would add this link next to th

[2019-05-26 03:51] bdbaddog commented on #5708
Thanks @humitos

[2019-05-26 09:22] dojutsu-user commented on #3554
Still valid

[2019-05-26 09:23] dojutsu-user commented on #4386
Still valid.

[2019-05-26 19:44] Chilipp opened #5732 "SKIP_SUBMODULES: psy-maps and psy-simple"
## Details

* Read the Docs project URL: https://readthedocs.org/projects/psy-maps and https://readthedocs.org/projects/psy-simple
* Read the Docs username (if applicable): Chilipp

## Expected Result

The submodules should not be cloned because they only contain test files, unimportant for the docs.

## Actual Result

The submodules are currently cloned drastically slowing down the build. Please

[2019-05-27 01:55] stsewd commented on #5730
@2Eagle2  Can you put some screanshots with/out the fix? Can you replicate this locally? Looks like you are using the alabaster theme,

[2019-05-27 08:26] humitos commented on #5708
@bdbaddog the user's email does not exist anymore and I couldn't deliver it. So, I just granted permissions to you. Enjoy!

[2019-05-27 08:26] #5708 closed

[2019-05-27 12:29] humitos commented on #5732
You can do this by yourself using the config file: https://docs.readthedocs.io/en/latest/config-file/v2.html#submodules

I'm closing this issue, but feel free to re-open if you consider that it's still valid. Let us know if the config file works for you as well.

[2019-05-27 12:29] #5732 closed

[2019-05-27 12:51] Borda opened #5735 "incomplete path of linked source, missing `master`"
## Details

I am generating the documentation with Sphinx, and I found a way how to link the particular functions from a repository such that I have custom `linkcode` function. Running it locally, everything works fine, but after build on Read-the-docs one segment of the path is missing - `master`.
The particular path generation is here - https://github.com/Borda/BIRL/blob/fccb6bc7abfd8a44377097fd

[2019-05-27 13:18] Borda commented on #5735
or is there another way how to link source-code to the docs? I have tried a few from stack-overflow, but none worked as expected... :/

[2019-05-27 13:54] dothebart opened #5736 "pages missing from pyArango"
## Details
As reported by a user via https://github.com/ArangoDB-Community/pyArango/issues/146 it seems a page went away; Meanwhile its there again. Is there any way to track this down or any more reasoning?

one of the pages in question was:
https://pyarango.readthedocs.io/en/latest/database/

[2019-05-27 14:47] stsewd commented on #5736
Do you mean it was 404? or the docs from the docstrings weren't showed?

[2019-05-27 14:51] dothebart commented on #5736
maybe @aernesto can answer this better, since I'm only forwarding this.

[2019-05-27 14:59] stsewd commented on #5723
Could you check https://docs.readthedocs.io/en/stable/guides/build-using-too-many-resources.html first? If that doesn't work, we can increase the build limits for your project.

[2019-05-27 15:41] aernesto commented on #5736
@stsewd It was not 404. The docs from the docstrings weren't showed.

[2019-05-27 15:49] stsewd commented on #5735
That's weird because you are harcoding the `master` branch.

The only thing I can see that may be causing problems is https://github.com/Borda/BIRL/blob/fccb6bc7abfd8a44377097fdc0178afeeefd396a/docs/source/conf.py#L303

It could return (`../foo`) and then it resolves to `blob/master/../foo` -> `blob/foo/`

At first sight I think you don't need to use `relpath`, you already have the correct path fr

[2019-05-27 15:58] Borda commented on #5735
ok, I will try... and is there a way how to get the actual branch/tag name to be inserted?

[2019-05-27 16:03] stsewd commented on #5736
I can only think that an error happened when running the install package step.

Here for example

https://readthedocs.org/projects/pyarango/builds/9130011/

Then the other successful build was run in the same server, where we cache the previous _half installed package_

You can clean all cache files going\ to `versions -> edit -> wipe`

And btw, I don't see your package is being installed (`./setu

[2019-05-27 16:11] stsewd commented on #5735
In an easy way I don't think so. But I've used this to get the actual branch for another type of project `git symbolic-ref --short HEAD`

[2019-05-27 16:17] Borda commented on #5735
well the previous hint did not work, I got a very full path
https://github.com/Borda/BIRL/blob/master//home/docs/checkouts/readthedocs.org/user_builds/birl/checkouts/devel/birl/utilities/cls_experiment.py#L26-L176
but now I can try to dig deeper into this...

[2019-05-27 16:26] stsewd commented on #5735
In that case, I think you need to get the full path from `__file__` first, and them `../..` and use that to get the relpath. Actually, you already have the root here https://github.com/Borda/BIRL/blob/fccb6bc7abfd8a44377097fdc0178afeeefd396a/docs/source/conf.py#L22

[2019-05-27 16:38] Borda commented on #5735
pls, could you be more specific, instead of the `fn`?

[2019-05-27 16:40] stsewd commented on #5735
[code]

[2019-05-27 21:09] #5735 closed

[2019-05-27 22:34] bdbaddog commented on #5708
Thanks!

On Mon, May 27, 2019 at 1:26 AM Manuel Kaufmann <notifications@github.com>
wrote:

[2019-05-28 06:43] Borda commented on #5735
in the end, I made a switch between local build and RTD...

[2019-05-29 08:21] humitos commented on #5050
@sg-s hey! we do support custom 404 pages now!

Your project now shows your custom page at: https://xolotl.readthedocs.io/en/master/notfound

The only thing missing is fixing the resources (css, js, images, etc) to use absolute URLs so they are found by the browser properly.

[2019-05-29 09:07] alexpreynolds commented on #5709
In addition to showing that the build works with an Anaconda environment (e.g., "sphinx-test"), I added a hotfix that manually copies files to the `_static` subfolder.

The `latest` build does not work, but the `v2p4p36` build does.

Before the hotfix, both builds relied on the same configuration.

After the hotfix (based on recommendations described above), `latest` and `v2p4p36` have different c

[2019-05-29 22:11] ericholscher commented on #5710
I agree with @stsewd. I'd like to move to GitHub Apps, but don't want to block our GSOC project on it. Is there some functionality we *need* from Apps for GSOC, or is this just a useful thing to do?

[2019-05-30 00:48] aernesto commented on #5736
Thank you @stsewd
Just in case it is useful, some pages are down again (see[ this one ](https://pyarango.readthedocs.io/en/latest/connection/)for instance).

[2019-05-30 01:19] stsewd commented on #5736
I think this is because you are not installing your package or given access to it with `sys.path`.

This is a log from the last build

No module named 'pyArango'

See https://www.sphinx-doc.org/en/master/usage/extensions/autodoc.html

But I'm curious why it sometimes success :thinking:

[2019-05-30 01:22] tariqdaouda commented on #5736
That might be because I am trying things at the moment. This is a new error, never seen it before.

[2019-05-30 01:27] stsewd commented on #5736
Try with

[code]

[2019-05-30 01:31] tariqdaouda commented on #5736
Thanks @stsewd , @dothebart  and @aernesto got it working! Not sure exactly what happened, all pages display now on both stable and latest.

`sys.path.insert(0, os.path.abspath('../../..'))`

Does not seem to change anything, it is on on master and off on dev, both work.

[2019-05-30 01:35] stsewd commented on #5736
You should try wiping the version first, just in case to remove the cache. That will give you a more deterministic result

https://docs.readthedocs.io/en/stable/guides/wipe-environment.html

[2019-05-30 01:38] tariqdaouda commented on #5736
That's what I did this time, systematically wiping in between changes. Thanks for pointing out the *wipe* button, I did not see it and assumed that the wiping was automatic.

[2019-05-30 02:03] stsewd commented on #5736
Just in case, I build your docs locally and with the current configuration I can't see the docs.

I tested it with `python setup.py install` to install the package but there are some C dependencies that probably are not in the servers (this makes the build to fail in rtd)

I made it work with (this is necessary so autodoc knows where is your package)

[code]
\+ installing the requirements needed i

[2019-05-30 02:09] tariqdaouda commented on #5736
Thanks for your help.

[2019-05-30 05:57] saadmk11 commented on #5710
Actually we can get by well without Github Apps for the PR Builder. We don't need it for any features in the PR builder. I was suggesting github Apps because github is standardising it on their platform. But I'm worried about somethings, do we actually want them or not.

- there are some issues we can face because github apps use centralized webhook as we cant pin point the exact project with it.

[2019-05-30 07:18] asfaltboy commented on #662
I admin I haven't read all the thread above, but would really love to see more rtfd docsets in dash. Maybe we should undertake this feature iteratively, for example first creating an rtfd scraper which handles a few common sphinx themes, and try to make it modular enough to allow people to add their own?

If one was to write this sort of parser, where would y'all suggest to start?

[2019-05-30 09:45] forikal-uk commented on #1846
Hi, thanks for letting us know.

Is there a published, documented, workaround available for those who have git-lfs installed.

I am wondering how to go about setting the git-lfs tracking configuration to, say, let everything with a certain file suffix stay as binary instead of being tracked under git-lfs.

Or maybe, some method to make all items inside the _static folder that are tracked under git

[2019-05-30 12:00] 2Eagle2 commented on #5730
sorry for late response.
here are the screenshots

(it is shown in firefox - the same results is also in IE)
without fix

![without_fix](https://user-images.githubusercontent.com/8529463/58631524-21564600-82e3-11e9-9ba8-07daff121b45.png)

with fix

![with_fix](https://user-images.githubusercontent.com/8529463/58631531-2915ea80-82e3-11e9-9167-fe47fd61a785.png)

[2019-05-30 17:34] #5563 closed

[2019-05-30 17:36] #5691 closed

[2019-05-30 23:44] ericholscher commented on #1812
Yea, I don't think we need much new backend code, just frontend/JS.

[2019-05-31 04:33] typ1-brods commented on #5723
@stsewd I could not find a solution until now. It's disappointing that "latest" branch is built, "l10n_master" not. Both should have nearly the same content. Can we check if increasing build limits will work?

[2019-05-31 04:44] stsewd commented on #5723
Sure, I'll try to check that soon

[2019-05-31 18:57] mlsmithjr opened #5751 "Build succeeds, no html generated (aka maze screen)"
## Details

* Read the Docs project URL: https://readthedocs.org/projects/pytranscoder/
* Build URL (if applicable): https://readthedocs.org/projects/pytranscoder/builds/9157413/
* Read the Docs username (if applicable): mlsmithjr

## Expected Result

Docs accessible via published URL http://pytranscoder.readthedocs.io.

## Actual Result

Successful build, but always get the maze screen (document

[2019-05-31 20:09] davidfischer commented on #5751
@mlsmithjr, The build appears to be generated but there's no index.html file in the output. I'm trying to figure out why not. However, for example, there are other pages: https://pytranscoder.readthedocs.io/en/latest/contents.html

[2019-05-31 20:13] mlsmithjr commented on #5751
My conf.py sets master_doc = "contents".  First attempts to publish and the build complained there was no "contents.html" file so I switch to that.  For a time it worked fine.

[2019-05-31 20:20] davidfischer commented on #5751
I think there are two possible courses of action:

* The best one in my opinion would be to unset `master_doc` and move `contents.rst` -> `index.rst`.
* The alternative if you really want to use `contents.rst` and `contents.html` is setup [a redirect](https://docs.readthedocs.io/en/stable/user-defined-redirects.html). I recommend the first one though.

https://docs.readthedocs.io/page/faq.html?hig

[2019-05-31 20:21] mlsmithjr commented on #5751
Excellent.  Will do. Thanks much for your help.

[2019-05-31 20:21] #5751 closed

[2019-06-01 03:26] stsewd commented on #5410
Feel free to take this issue!

[2019-06-01 04:08] Harmon758 opened #5752 "Rename version with tag"
## Details

According to https://docs.readthedocs.io/en/stable/faq.html#how-do-i-change-the-version-slug-of-my-project, you can rename a tag to change the corresponding version slug.
Upon renaming a tag from `3.7.0` to `v3.7.0` by creating the latter and deleting the former, the RTD version slug is still `3.7.0`. Attempting to delete the new `v3.7.0` tag and pushing `latest` in an attempt to trigg

[2019-06-01 04:14] stsewd commented on #5752
Hi, I can see the new version under `Inactive versions` https://readthedocs.org/projects/tweepy/versions/

`3.7.0` isn't deleted because is active (under active versions). You should go to `Edit` and disable the `3.7.0` version and activate the `v3.7.0` version.

We don't remove versions marked as active, so users don't see a 404.
New versions are created but no activated by defaul, you can do thi

[2019-06-01 04:16] Harmon758 commented on #5752
Ah, I see. My mistake. Thank you!

[2019-06-01 04:16] #5752 closed

[2019-06-01 10:23] saadmk11 commented on #5410
@stsewd if we use `build_docs_class` then what will happen to:
https://github.com/rtfd/readthedocs.org/blob/4911600c230809bd6fb3585d1903121db2928ad6/readthedocs/projects/tasks.py#L845-L847

as they depend on the `builder` but `build_docs_class` returns only `success` not the `builder`.

[2019-06-01 16:51] humitos commented on #3932
Yesterday, I was bitten by this again. This time in a different case.

1. I imported my project from GH using the auto-import (not manually)
1. the webhook failed to be created because I didn't have admin permissions on the repo

At this point, I request admin permissions to the organization the project is under, and I was granted.

Now, I don't have a way (without deleting and recreating the proj

[2019-06-01 17:39] stsewd commented on #5659
@timothydmorton can you please tell us if you are still having this issue?

[2019-06-01 18:10] alexpreynolds commented on #5709
This is kind of a black box once the files are pushed out to the readthedocs site. I don't know how to troubleshoot a situation where the documents build locally, but do not get hosted correctly on the readthedocs site. Is there anyone who can help?

[2019-06-02 19:18] j-gooding commented on #2993
This still an issue and not fixed in the current release.

[2019-06-02 20:23] humitos commented on #1812
I started writing this extension at https://github.com/humitos/sphinx-hoverxref

There is a first implementation for the Python side of the extension already done that adds the attributes to the `<a>` tags that are mentioned in the previous comment. There are some things that can be added to be more configurable, though.

Front-end part is coming soon, but I will probably need some help to make it

[2019-06-03 05:44] kendonB opened #5755 "Build error with build id #9164079"
## Details:

* Project URL: https://readthedocs.org/projects/Caster/
* Build URL(if applicable): https://readthedocs.org/projects/caster/builds/9164079/
* Read the Docs username(if applicable): AnonymousUser

## Expected Result

This repo hasn't built for a while and I've been unable to figure out what's going wrong. I was originally getting the error where the site_dir was inside the docs_dir. I

[2019-06-03 05:59] kendonB commented on #5755
Opened in error - will open a new one.

[2019-06-03 05:59] #5755 closed

[2019-06-03 06:00] 2Eagle2 commented on #5730
As you can see - this is minimalistic example
And yes I can reproduce it locally.
I am sending you whole source example:
[doc.zip](https://github.com/rtfd/readthedocs.org/files/3246064/doc.zip)

[2019-06-03 06:03] kendonB opened #5756 "Build error with build id #9164099"
## Details:

* Project URL: https://readthedocs.org/projects/Caster/
* Build URL(if applicable): https://readthedocs.org/projects/caster/builds/9164099/
* Read the Docs username(if applicable): AnonymousUser

## Expected Result

This repo hasn't built successfully for a while and I've been unable to figure out what's going wrong. I was originally getting the error where the site_dir was inside the

[2019-06-03 06:51] Juanlu001 opened #5757 ""SyntaxError: unexpected token: identifier" with filenames with apostrophes"
## Details

* Read the Docs project URL: https://readthedocs.org/projects/poliastro/
* Build URL (if applicable): https://readthedocs.org/projects/poliastro/builds/9072047/
* Read the Docs username (if applicable): Juanlu001

## Expected Result

No JS syntax errors.

## Actual Result

![Screenshot from 2019-06-03 08-42-52](https://user-images.githubusercontent.com/316517/58781653-cd967600-85dc-11e

[2019-06-03 08:59] 2Eagle2 commented on #5730
In other themes like "alabaster" it works without need of any fix.

[2019-06-03 12:15] dothebart commented on #5736
Thank you very much for helping us to understand and fix this.

[2019-06-03 12:15] #5736 closed

[2019-06-03 14:03] typ1-brods commented on #5723
@stsewd Did you try that yet?

[2019-06-03 14:14] justinshenk opened #5758 "Build error with build id #9166117"
## Details:

* Project URL: https://readthedocs.org/projects/simages/
* Build URL(if applicable): https://readthedocs.org/projects/simages/builds/9166117/
* Read the Docs username(if applicable): justinshenk

## Expected Result

Build would give an error

## Actual Result

Build fails without error:

[code]

[2019-06-03 15:33] stsewd commented on #2993
@j-gooding can you please open a new issue with more information about the problem you are facing?

[2019-06-03 15:39] stsewd commented on #5756
Your project is missing the required `mkdocs.yml` file, we are generating one automatically for you, but isn't exactly what your project needs.

Please refer to the mkdocs configuration https://www.mkdocs.org/user-guide/configuration/

Also, take a look to the rtd configuration file to help you setup your mkdocs project https://docs.readthedocs.io/en/stable/config-file/v2.html

[2019-06-03 15:42] stsewd commented on #5756
Also, we are going to remove soon the _try to guess and create a configuration file for users_, most of the time it doesn't work and isn't explicit to the user what's happening https://github.com/rtfd/readthedocs.org/issues/2483.

Closing as this isn't a RTD issue.

[2019-06-03 15:42] #5756 closed

[2019-06-03 15:48] stsewd commented on #5758
Hi, this is a problem while reading the submodules file.

You don't have this submodule in your repo https://github.com/justinshenk/simages/blob/4eb6293ca73c0ae13845f8ebc3ce9c9af539139c/.gitmodules#L2

See #4371

[2019-06-03 15:48] #5758 closed

[2019-06-03 16:19] justinshenk commented on #5758
Thank you @stsewd!

[2019-06-03 16:25] Juanlu001 commented on #4367
An update after https://github.com/rtfd/readthedocs.org/issues/4367#issuecomment-476603124: I didn't rebuild `rtd-js-test`, but now things appear to be working in my upstream project https://github.com/poliastro/poliastro/issues/530#issuecomment-498131602. I feel bad bothering everybody about this already, it's also tiring for me :) I don't have time now to know exactly what changed in the middle

[2019-06-03 17:05] stsewd commented on #5757
Thanks for reporting this!

We inject these values from our sphinx extension, PR at https://github.com/rtfd/readthedocs-sphinx-ext/pull/66

[2019-06-03 18:04] kendonB opened #5761 "Project building with mkdocs 17.3 and I can't figure out how to get it to use a later version"
## Details

* Read the Docs project URL: https://caster.readthedocs.io/en/latest/
* Build URL (if applicable): https://readthedocs.org/projects/caster/builds/9167222/
* Read the Docs username (if applicable): kendonB

## Expected Result

Page builds just like the page here: https://kendonbcaster.readthedocs.io/en/latest/ with build info https://readthedocs.org/api/v2/build/9167056.txt

## Actual R

[2019-06-03 18:06] manycoding commented on #4367
My issue is being fixed in https://github.com/spatialaudio/nbsphinx/pull/302

[2019-06-03 18:19] stsewd commented on #5761
Read the Docs is installing your requirements from https://github.com/kendonB/Caster/blob/fix_docs/castervoice/doc/build/requirements.txt

Which doesn't contain `mkdocs<1.1`

Looks like you are using an old type of configuration for mkdocs, so you wanto to pin your mkdocs version to `mkdocs==17.3`

[2019-06-03 18:24] kendonB commented on #5761
To be clear, the kendonb copy works fine and I'm trying to fix the dictation-toolbox copy. See here: https://github.com/dictation-toolbox/Caster/blob/develop/castervoice/doc/build/requirements.txt which does contatin `mkdocs<1.1` yet it gets built with `mkdocs==17.3`

[2019-06-03 18:33] stsewd commented on #5761
So, here is the explanation. The other project was created a time ago, we updated the default version of mkdocs for new projects, so we don't break old projects.

That's why you see `mkdocs==17.3` in the pip install step.

However, according to your requirements, you want to install `mkdocs<1.1`, which is already installed (0.17.3). So what you really want to put in your requirements is `mkdocs==1

[2019-06-03 18:36] kendonB commented on #5761
OK I tried that and I can see that it installs the new version near the end of the requirements bit. https://readthedocs.org/projects/caster/builds/9167350/

However, I still see no updates to the actual site: https://caster.readthedocs.io/en/latest/

[2019-06-03 18:40] stsewd commented on #5761
Sorry, I can't tell the difference between those docs. Anyway, please try cleaning your browser's cache

[2019-06-03 18:42] kendonB commented on #5761
That might have been it. I can see it's working now. Thanks for your help!!!

[2019-06-03 18:42] #5761 closed

[2019-06-03 19:24] #5757 closed

[2019-06-04 11:56] geier opened #5766 "Build Issue: "AttributeError: 'ReadtheDocsSingleFileHTMLBuilderLocalMedia' object has no attribute 'fignumbers'""
## Details

* Read the Docs project URL: https://readthedocs.org/projects/khal/
* Build URL (if applicable): https://readthedocs.org/projects/khal/builds/9170578/
* Read the Docs username (if applicable): cgeier

## Expected Result

Building the doc

## Actual Result
We do use a very outdated plugin (sphinxcontrib-newsfeed-0.1.4), but for me the documentation builds fine with sphinx 1.7.9

[code]

[2019-06-04 13:17] humitos commented on #5388
@stsewd what do you think about @Mike-Dai proposal?

[2019-06-04 15:32] stsewd commented on #5388
@humitos, @Mike-Dai looks great, we should add the same notes under the conda setting too.

[2019-06-04 15:36] stsewd commented on #5766
Read the Docs uses Sphinx 1.8.5 by default. If you require another version of sphinx, you should use a requirements file  https://docs.readthedocs.io/en/stable/guides/specifying-dependencies.html

[2019-06-04 17:49] #5686 closed

[2019-06-04 18:04] stsewd commented on #5723
So, I increased the build time and memory, but the build is still failing. I just noticed that latest build in only 232 seconds, I increased the build time to 1500 seconds but i10n branch is still failing. And a first sight the changes aren't that many, or changes in requiremenst or conf.py.

So, my guessing this is a bug parsing the md files, I'll try to build this locally (outside rtd) and see i

[2019-06-04 18:43] sg-s commented on #5050
@humitos Thanks! will check this out

[2019-06-04 18:49] stsewd commented on #5050
@sg-s all links to css/js are relative, those should be absolute. Since the 404 page can be displayed in any subpage `/foo/bar/404.thml` not just in `/404.hml`

[2019-06-04 18:59] stsewd commented on #5723
So, I'm not able to build your docs locally, there are several errors like this one

`sphinx-build -b html . _build/html`

[code]
Please fix those errors and try again. I'm not sure why the build is reported as time out, I'm investigating that.

[2019-06-04 19:14] sg-s commented on #5050
Great, thanks. Sounds like I need to modify the theme I'm using and replace all relative links with absolute links

[2019-06-04 19:44] typ1-brods commented on #5723
Thank you very much. This is a error I can work with. Can you post the whole log file?