[2018-07-27 20:05] humitos commented on #4441
There are some issues related to this one already: #1820 and #1802

In this particular case, it does worth to mention that it's a `mkdocs` project.

[2018-07-27 21:07] ba66e77 commented on #4441
Thanks for the response, @humitos. I looked at those before posting but, even though they have the same observed issue (the Edit on Github link is inaccurate), they don't seem directly relevant. We're not referencing a tag nor are we using git submodules.

[2018-07-27 22:10] stsewd commented on #4435
@jouvin I can see that your stable version has the new commit now, were you able to solve the issue?

[2018-07-28 01:34] dognie commented on #4428
@humitos Thank you for your reply.Yesterday, I deleted the project that failed to build. Today, this problem still reappears.
- Project URL https://smartraiden.readthedocs.io/en/latest/
- Build URL https://readthedocs.org/projects/smartraiden/builds/7554960/
- latest:master build failed

Before I had the 404 problem in the 0.3 branch, I moved the document to master, and I thought it would be norma

[2018-07-28 03:29] humitos commented on #3481
Just in case that someone else arrives at this issue, I just published a very small sphinx extension that allows project's owner to get a similar behaviour than the one described in this comment: https://github.com/rtfd/readthedocs.org/issues/3481#issuecomment-378000845

There are still work to do to make it more customizable but it's a good starting point: https://github.com/humitos/sphinx-versio

[2018-07-28 12:55] jouvin commented on #4435
As said by @jrha we managed to fix the problem by creating the missing branch so that RTD managed to compile the stucked `stable` and after that it got updated as expected. May be worth an entry in the FAQ...

[2018-07-28 12:55] #4435 closed

[2018-07-28 20:37] davidfischer commented on #3497
I'm not seeing it! It is fixed.

[2018-07-28 20:37] #3497 closed

[2018-07-29 20:02] molpopgen commented on #3192
This issue is popping up again.  After a long time of now pushes to branches that get built, I want to build a new branch, but it is not listed.  having to delete hooks, etc., again.

[2018-07-29 20:34] stsewd commented on #3192
@molpopgen can you please provide your rtd project?

[2018-07-29 20:44] molpopgen commented on #3192
@stsewd https://readthedocs.org/projects/fwdpy11/

I don't really understand what the webhook is accomplishing.  The RTD side lists branches that were deleted from GitHub over a year ago.  New branches simply don't make it there.

I just manually deleted the webhooks from both the RTD and the GitHub side in the hopes that "checking if it is plugged in" will help.

[2018-07-29 21:08] eendebakpt opened #4443 "Build timeout due to autodoc requirements"
## Details

To get autodoc to work I added `setup_py_install: true` to the `.readthedocs.yml` (as described in #3634). A side effect is that my project must now be compiled by readthedocs, before it can be installed. Since my projects compiles code using swig and C++ I created a conda environment file in order to install [swig](http://www.swig.org/) in the build environment. This seems to be worki

[2018-07-29 21:31] stsewd commented on #3192
@molpopgen yeah, that should be documented, I'll see where that can be placed. Let me know if rebuilding fix your problem with new/old branches

[2018-07-29 21:43] peendebak commented on #4443
@stsewd I checked the link, but I don't see how this would help. My project does have a C extension, but I don't  see hoe the mocks can prevent building the extension.

[2018-07-29 23:03] humitos commented on #4258
I think we can implement the command you mentioned here very soon since we are migrating our servers to Ubuntu 18.04 which includes 2.17.1 by default: https://packages.ubuntu.com/bionic/git

The PR needed for this should be very simple and shouldn't have any secondary effect :)

I'm :+1: on adding the `--prune-tags` to our current command.

[2018-07-30 01:23] Benjamin-Lee opened #4444 "Build 7554404 fails because it downloads wrong package"
## Details

* Read the Docs project URL: freqgen.readthedocs.io
* Build URL (if applicable): https://readthedocs.org/projects/freqgen/builds/7554404/
* Read the Docs username (if applicable):

## Expected Result

The build should pass. There are no substantive changes between when the build last passed and the build that failed (it was only a comment change.)

## Actual Result

The build failed.

[2018-07-30 03:35] LevavasseurYann opened #4445 "Build use wrong python version"
## Details

Hello,

I'm strugelling with *sphinx* and *readthedoc* since about 2 weeks and i'm about to left the battlefield.
Since the beginning i've tried many thing to build the documentation first with setup.py and now with YAML file. The point is that some of my imported package seems to fail the build even tough the build is a success. In fact some of my module/class/function aren't readed b

[2018-07-30 04:09] stsewd commented on #4445
When you use conda, you need to specify the python version in your environment file

[2018-07-30 04:12] stsewd commented on #4445
See https://github.com/rtfd/readthedocs.org/issues/4293#issuecomment-405094548

[2018-07-30 07:34] t-makaro opened #4446 "autosummary failed to import on latest build image"
## Details

I've tried everything I can think of / could find on the internet, but autosummary keeps failing because it can't import my package.

At first I thought it was because, rtd wasn't installing matplotlib. I created a new local environment without matplotlib, and was able to reproduce the error. I set rtd to install matplotlib. The error persisted.

Then I realized it might be python3.5 (

[2018-07-30 07:43] t-makaro commented on #4446
Huh, adding python 3.5 support to my library and removing my readthedocs.yml fixed my problem.

[2018-07-30 08:18] jrha commented on #4435
@stsewd thanks, #4259 seems like precisely what we hit, I don't feel like trying to reproduce it again though!

[2018-07-30 13:42] ttmc commented on #4413
We resolved the issue that was causing our docs to not build. They are building again, and now they look great in my browser (Chrome on Ubuntu). Thanks!

[2018-07-30 13:46] humitos commented on #4444
Hi!

The module installed does require `click` and `click_default_group`: https://github.com/Lab41/freqgen/blob/master/setup.py#L25 that's why it's being installed. Read the Docs just calls `python setup.py install --force` and which is a standard command to install the module.

I don't see how this could be a problem in RTD at first sight. Maybe there is a problem with the environment, I don't kn

[2018-07-30 13:46] humitos commented on #4444
Hi!

The module installed does require `click` and `click_default_group`: https://github.com/Lab41/freqgen/blob/master/setup.py#L25 that's why it's being installed. Read the Docs just calls `python setup.py install --force` and which is a standard command to install the module.

I don't see how this could be a problem in RTD at first sight. Maybe there is a problem with the environment, I don't kn

[2018-07-30 13:51] humitos commented on #4446
To use python3.6 in Read the Docs you need to use `latest` build image and set `3.6` in the `python` option. Look at the example at: http://docs.readthedocs.io/en/latest/yaml-config.html

[2018-07-30 15:27] wkerzendorf opened #4447 "Conda crashes with error 247"
## Details

* Read the Docs project URL:  tardis.rtfd.org
* Build URL (if applicable): https://readthedocs.org/projects/tardis/builds/7555533/
* Read the Docs username (if applicable): wkerzend

## Expected Result

Should just install the conda environment and make the documentation

## Actual Result

it crashes with error code 247

[2018-07-30 17:00] stsewd commented on #4446
I think maybe it was a problem when changing environments and using the pip cache, can you try wiping the environment before changing the python version or triggering a new build with the new python version? You can wipe the environment in the Versions page, edit button

[2018-07-30 17:08] molpopgen commented on #3192
@stsewd

Yes, that did fix it.  The idea that you have to force a build of an existing branch on RTD in order to update the list of branches should be front and center in bold in the integrations part of the docs.  This issue was closed without ever mentioning this, which could have save a lot of time.  Rather, I probably fixed it by luck last time and then had to try to recreate that luck this ti

[2018-07-30 17:11] davidfischer opened #4448 "Changes required to MkDocs build backend for 1.0"
MkDocs is [preparing a 1.0 release](https://github.com/mkdocs/mkdocs/releases) and some [changes](https://github.com/mkdocs/mkdocs/blob/master/docs/about/release-notes.md#version-10-2018--) are coming down the pipeline that will affect Read the Docs.

- `theme_dir` (which RTD sets) is fully deprecated and will throw an error
- The `--theme` option overrides what is in `mkdocs.yml` ([RTD uses this]

[2018-07-30 17:13] stsewd commented on #4447
Looks like a problem with a package and the build environment, maybe you can test this solution https://github.com/stan-dev/pystan/issues/384#issuecomment-334356158

[2018-07-30 17:13] molpopgen opened #4449 "Unexpected build failure"
## Details

* Read the Docs project URL: https://readthedocs.org/projects/fwdpy11
* Build URL (if applicable): https://readthedocs.org/projects/fwdpy11/builds/7560011/
* Read the Docs username (if applicable): molpopgen
## Expected Result

The docs to be built

## Actual Result

While trying to resolve #3192 for my project, @stsewd suggested that I trigger a rebuild of a branch manually.  Doing so

[2018-07-30 17:23] stsewd commented on #4449
The step that fails is when creating the documentation with sphinx (it's not displayed because of https://github.com/rtfd/readthedocs.org/issues/4288), I think your build if failing because of memory limits, I'm not sure why the other pass months ago, maybe the builders were too busy at the moment. Can you try building again?

[2018-07-30 17:25] stsewd commented on #3192
@molpopgen we are thinking in a way to solve this, listening to more GitHub events and trigger a resync, so no manual intervention is needed

[2018-07-30 17:35] humitos commented on #3192
@stsewd would you mind creating an issue for this linking the github docs (and finding the docs for the other VCS that we support) + explaning what are the limitations in each case? Thanks! :)

[2018-07-30 17:37] stsewd commented on #3192
@humitos that's what I'm doing right now! hehe

[2018-07-30 17:37] molpopgen commented on #4449
ok, will give that a try.

[2018-07-30 17:48] stsewd commented on #4447
I'm seeing the same issue in this project https://readthedocs.org/projects/fwdpy11/builds/7564088/. Maybe this is a conda problem? Can your try building locally?

[2018-07-30 17:50] wkerzendorf commented on #4447
Locally it builds the conda env with ease

[2018-07-30 19:00] molpopgen commented on #4449
Still no luck.  Another attempt seems to fail at the conda install step, but no reason is given.

[2018-07-30 19:41] stsewd opened #4450 "Sync versions when creating a new branch/tag"
Currently rtd doesn't detect if a branch/tag was deleted, we only detect if a commit was pushed to a branch or a tag was re-tagged.

Ref https://github.com/rtfd/readthedocs.org/issues/3192#issuecomment-408704631

## Current status

### GitHub

We only listen to push events for branch and tags in github https://developer.github.com/v3/activity/events/types/#pushevent. We can listen to Create and De

[2018-07-30 19:42] stsewd commented on #3192
@humitos done https://github.com/rtfd/readthedocs.org/issues/4450

[2018-07-30 20:45] davidism opened #4452 "Search results are different when logged in"
### Details

* Read the Docs project URL: https://readthedocs.org/projects/flask/
* Build URL (if applicable): https://readthedocs.org/projects/flask/builds/7564797/
* Read the Docs username (if applicable): davidism

### Expected Result

Searching using the Sphinx-generated search page should return the same results whether I am logged in to RTD or not.

### Actual Result

When I am logged in to

[2018-07-30 21:32] humitos commented on #4449
@molpopgen does this happen randomly? (I triggered a new build of `dev` to test it)

I was able to build `dev` branch locally with `2gb` of memory. So, my guessing is that your process start consuming too much memory (more than `1gb` which is the default) and it was killed.

There is an issue reported in conda repo about the 247 exit code: https://github.com/conda/conda/issues/5004

I suggest you

[2018-07-30 21:42] davidfischer commented on #4452
This definitely looks like an API bug. It seems like there is a [search API](https://readthedocs.org/api/v2/docsearch/?q=render_template&project=flask&version=rtd&language=en) that 404s when a user is logged out.

[2018-07-30 21:50] molpopgen commented on #4449
@humitos It seems to happens pretty consistently.

As for the RAM use, the setup is already minimal.  The requirements.txt is the minimum required to build the package and the dox.   The package must be built on RTD, else I can only build docs for, say, the current release on bioconda, and not the development/latest branches.

On my Pop OS! laptop, using GCC7.3, the peak RAM for the build is ~600M

[2018-07-30 21:57] davidfischer commented on #4452
This API 404s when the version is not public. I'm still investigating this to see exactly what the benefits and tradeoffs are.

[2018-07-30 22:43] Benjamin-Lee commented on #4444
Thanks for pointing that out. I should have showed more of the log. The problem is not that `click_default_group` is being installed _per se_. Rather, it is that it is being installed instead of `click`, which does not get installed.

I wiped and rebuilt and am still getting the same problem:

[code]

[2018-07-31 03:18] LevavasseurYann commented on #4445
It work ! Thanks a lot
And after some others changes all finaly working.

[2018-07-31 03:26] mrconway commented on #4123
Build is working automagically again.

[2018-07-31 03:26] #4123 closed

[2018-07-31 03:31] stsewd commented on #4123
Not sure about the real problem, maybe a timeout downloading the conda packages? Thanks for the update!

[2018-07-31 03:32] stsewd commented on #4445
Thanks for the update and using rtd ;)

[2018-07-31 03:32] #4445 closed

[2018-07-31 03:49] safwanrahman commented on #4452
I do not think its a bug. If the project is not public, we do not show to them to public user.

[2018-07-31 04:07] t-makaro commented on #4446
I tried the following three ```readthedocs.yml``` files. Tried building twice each with a wipe in between.

[code]
This gives the original issue. (docs build but without autodoc/summary)

[code]
This gives also the original issue. (docs build but without autodoc/summary)

And finally I tried:
[code]
Works perfectly.

[2018-07-31 04:39] davidism commented on #4452
Not sure what you mean. I accessed the docs when logged out, so they must have been accessible to the public user. And I got different, correct results doing that than what was served when I was logged in.

[2018-07-31 05:13] t-makaro commented on #4446
It doesn't help that the autosummary warning doesn't say why the import failed.

I can't make heads or tails of the docker image. (I've never dealt with docker before.)

The only packages that my package imports are ```numpy```(basically any version should work) and ```matplotlib>=2.2```(hard dependency even at import time) both are specified in my ```docs/requirements.txt```.

[2018-07-31 07:26] patricdev opened #4453 "Configuring PHP framework in Readthedocs"
Hi Team,

First of all, ReadTheDocs is amazing and I like the concept much and like to use it for my project developed in PHP.

I am trying to Implement readthedocs for my laravel project which is managed in bitbucket. Basically, it's a PHP language.

**Steps  Completed**

1. Created an account in readthedocs.org
2. Configured repository url, branch, programming language and other stuff.
3. Genera

[2018-07-31 09:06] jfbu opened #4454 "PDF builds should use Sphinx provided LaTeX Makefile which uses Latexmk (and possibly xindy)"
It seems PDF builds at RTD by default use something like this

[code]

i.e. they don't simply proceed via `make -C <buildir> all-pdf` which would use the Sphinx provided Makefile (there are [ways to pass options](http://www.sphinx-doc.org/en/master/usage/builders/index.html#sphinx.builders.latex.LaTeXBuilder) to pdflatex if needed). The latter uses Latexmk which does automatically the correct numb

[2018-07-31 12:27] wkerzendorf commented on #4447
@stsewd it now works again - for whatever reason. In our latest PR we've now also removed other channels - maybe that helps with resource problems.

[2018-07-31 12:30] humitos commented on #4450
On Github, for example, we are only listening for `push` and `pull_request` events. Here is the code where this lives and should be updated to add more events:

https://github.com/rtfd/readthedocs.org/blob/b04b11298f5a45d6f6c6ec3f9bbbf368b942295b/readthedocs/oauth/services/github.py#L175

(the `get_webhook_data` on the other services classes have the same info for GitLab and Bitbucket)

I prefer t

[2018-07-31 12:33] humitos commented on #4450
I just realize that we have an inconsistency in our code. Even though that we are subscribed to `push` and `pull_request` in GitHub. Then, when we receive an event we are just considering `push` only:

https://github.com/rtfd/readthedocs.org/blob/b04b11298f5a45d6f6c6ec3f9bbbf368b942295b/readthedocs/restapi/views/integrations.py#L161

[2018-07-31 12:35] ericholscher commented on #4334
@safwanrahman how are you getting these numbers?

[2018-07-31 13:56] ericholscher commented on #4281
Do you have an example of somewhere that has implemented this? It seems like each entry in each document would need to be it's own search result, which would make the design of the search interface much more complex.

[2018-07-31 14:17] arthall commented on #4251
A new services was added to our docs with the last release and there were no issues building the expanded docs.  Thank you @stsewd and @humitos.

[2018-07-31 14:18] davidism commented on #4452
How is getting different, incorrect results when logged in not a bug? Why is the Sphinx-generated search calling out to the RTD API and changing the results when logged in. I don't want that, I want search results to match what we currently get with Sphinx.

[2018-07-31 14:37] ericholscher commented on #4289
One approach would be using the Sphinx `objects.inv` data that is output. We had old code in RTD that parsed this data, which you can see here: https://github.com/rtfd/readthedocs.org/blob/b0f8d6a27feb87275fd01e9e6629f6f2f0c867d1/readthedocs/projects/tasks.py#L389-L422

[2018-07-31 15:44] humitos commented on #4447
@wkerzendorf multiple channels are a possible problem. Read my comment at https://github.com/rtfd/readthedocs.org/issues/4449#issuecomment-409018796 and the linked conda issue there.

[2018-07-31 15:49] stsewd commented on #4447
@wkerzendorf thanks for letting us know, I'm closing this issue, seems like the problem that @humitos mentions.

[2018-07-31 15:49] #4447 closed

[2018-07-31 15:55] stsewd commented on #4450
@humitos maybe for a future implementation #1340 , we don't need that at the moment

[2018-07-31 16:43] safwanrahman commented on #4452
With sphinix, its not possible to have many search features. That can be a different design issue.
This can be discussed if we can open up the search regardless of permission.

[2018-07-31 17:04] safwanrahman commented on #4452
I strongly hope our ongoing search upgrade will have more accurate result than current one.

[2018-07-31 18:02] humitos commented on #4450
I meant that we are subscribing webhooks for two different events and we are processing only one.

[2018-07-31 19:53] davidfischer commented on #4452
I think a combination of proceeding on the search upgrade and an opt-out flag for custom search seems like a good path forward.

[2018-07-31 20:34] humitos commented on #3261
Unfortunately, I didn't find a proxy for conda channels similar to `devpi` for PyPI.

I found `conda-mirror` (https://github.com/Valassis-Digital-Media/conda-mirror) which creates a mirror of an upstream channel. Although it's not exactly what we need, it could be useful to link it here. There is possibles solution around using a custom mirror, but they are too complex.

[2018-07-31 20:45] stsewd opened #4455 "Support strict validation for the configuration file"
We can support strict validation in the configuration file (v2 only at this point).

## What do I mean by _strict validation_?

Just to validate that there aren't other keys in the config file

## Why do we want this?

It can prevent typos :). It should be straightforward to implement this in the current validation steps. Just pop each value whenever it is used.

[2018-07-31 21:48] davidfischer commented on #4286
One drawback of this would be that if somebody needed to use the API during a build, they would need a way to expose their API key securely to the Read the Docs builder.

[2018-07-31 21:49] davidfischer commented on #4455
I'm +1 for this as it will prevent future bugs.

[2018-07-31 21:54] stsewd commented on #4286
A way to expose their api key can be with https://github.com/rtfd/readthedocs.org/issues/3992

[2018-07-31 21:55] davidfischer commented on #4286
I was looking for this and I couldn't find it. Thanks.

[2018-07-31 22:25] stevepiercy commented on #1556
Could I get some clarity on what is the proposed direction to resolve this issue? I'm eager to help resolve this issue prior to Pyramid 1.10's looming release. Just tell me what would help, and I'll do my best to do it. Otherwise I'll have to revert changes and drop support for characters in tree diagrams that come only with Unicode support, and that would make me sad. Thank you!

[2018-08-01 04:06] #4365 closed

[2018-08-01 04:10] stsewd commented on #4365
@imyiningliu were you able to solve the problem?

[2018-08-01 06:24] ericholscher commented on #4289
Another approach would be to look at how Sphinx generates it's search index, as it's indexing this data already in a good manner.

[2018-08-01 06:27] ericholscher commented on #4452
This is generally a bug with privacy levels, which shouldn't effect projects once they are live and public.

The goal here is to provide better search than Sphinx can with it's basic JS backed search indexes. Sphinx search isn't full-text, and doesn't provide results for a large number of words in the normal documentation text. Our goal is to build something better built on top of elastic search.

[2018-08-01 10:36] ericholscher commented on #4452
I tried to test flask against our revamped search, but ended up with an issue building the docs with the theme:

[code]

Seems related to the removal of `versions` from the flask `conf.py` and the theme still wanting it.

[2018-08-01 11:08] ericholscher commented on #4452
I've got results for this in the new branch, and we're working to make sure the proper API reference gets weighted properly.

[2018-08-01 15:31] humitos commented on #1556
@stevepiercy I read the whole thread again (including PRs and issues linked) and it's not clear what is the direction to take.

I'd say that the best approach is to respect the `latex_engine` option from Sphinx's `conf.py` file (http://www.sphinx-doc.org/en/master/usage/configuration.html#confval-latex_engine) making `pdflatex` the default if it's not defined.

Although, this makes a little of noi

[2018-08-01 17:18] humitos opened #4457 "Update sponsors pages"
We are mentioning Rackspace (our current host) at:

* https://readthedocs.org/sustainability/
* https://docs.readthedocs.io/en/latest/sponsors.html#past-sponsors
* https://readthedocs.org/
* http://docs.readthedocs.io/en/latest/architecture.html

We should probably update these pages to mention Azure and/or adapt them.

[2018-08-01 17:53] doronbehar opened #4458 "LaTex, Texinfo and Man pages downloads options"
Question:

In [sphinx website's front page](http://www.sphinx-doc.org/en/master/), it is stated that it has the capability to export the documentation in formats like LaTex, Texinfo and Man pages.
I was wondering what is holding the documentations hosted on https://readthedocs.org from having in the downloads page (like this: https://readthedocs.org/projects/beets/downloads/).

Thanks.

[2018-08-01 18:02] stsewd commented on #4458
I don't think that kind of formats will be useful for the final user, I mean the download options are for offline reading and most common is reading in pdf or ePub

[2018-08-01 18:13] davidism commented on #3483
I don't need this anymore, although it may be useful to others. Perhaps it's more appropriate (or already present) in the YAML config?

[2018-08-01 20:14] doronbehar commented on #4458
Very often I find my self in need of offline documentation of some software with internal links for navigating between the documentation's nodes. I find Texinfo to be the best format for this since it is also available when no X display is running, the same with Man pages.
I understand that on a documentation's website it may bring unnecessary clutter to the side menu but perhaps it may be useful

[2018-08-01 23:53] davidism commented on #4452
When I said "API result", I meant the link to specific API methods, not the literal "API" link, although that does appear to be weighted differently too. The header and api links have a `#id` hash that takes you to the specific location on the page. None of the results in the RTD search version have these hashes, whereas the Sphinx search version has these at the top in addition to the 18 results.

[2018-08-02 15:29] bdice opened #4460 "Builds killed due to memory usage"
## Details

* Read the Docs project URL: http://freud.readthedocs.io/en/stable/
* Build URL (if applicable): Build number 7580308
* Read the Docs username (if applicable): bdice

## Expected Result

I maintain a library for molecular dynamics trajectory analysis, freud (https://bitbucket.org/glotzer/freud). It's heavily written in Cython and C++. We currently use CMake and Cython to build the pack

[2018-08-02 16:15] humitos commented on #3060
I just tested this is in our Azure instance that it's running Python 3.6.5:

1. Imported this project https://gitlab.com/humitos/rtd-project-a
1. `d-` **tag** was created. All Unicode chars were removed completely. The tag name is `úńìĉõdê`
1. A **branch** called `aúbranchńwithìweirdĉcharactersõanddê` was enabled in Read the Docs. The name was converted to a slug: `a-branch-with-weird-characters-a

[2018-08-02 17:34] humitos commented on #3060
We could use what I suggested at https://github.com/rtfd/readthedocs.org/issues/1410#issuecomment-306091586 some time ago. Instead of removing the chars, it tries to use a "similar one".

[code]

On the other hand, if there is not an "easy replacement" it just skip/ignore it:

[code]

[2018-08-02 17:41] stsewd commented on #3806
This was done in https://github.com/rtfd/readthedocs.org/pull/4355, but the feature is not activated yet.

[2018-08-02 17:41] #3806 closed

[2018-08-02 17:43] stsewd commented on #4346
This was done in https://github.com/rtfd/readthedocs.org/pull/4355 using name tuples

[2018-08-02 17:43] #4346 closed

[2018-08-02 18:18] RichardLitt commented on #4021
Sorry to hear that, @skirpichev. The CoC is there to make it easier for people to work, not the opposite.

Thanks @stevepiercy. It looks like discussion is happening on #1556. Let's discuss this there.

[2018-08-02 18:19] RichardLitt commented on #1556
I think a user setting would make more sense, too. However, I don't know how much more effort it would take to implement this.

[2018-08-02 18:49] RichardLitt commented on #4042
@humitos - I'm curious, how are you internally logging that you'll come back in 6 weeks?

[2018-08-02 19:44] skirpichev commented on #4021
Or to block unpleasant opinions about the project, how did others.  I don't know.

[2018-08-02 20:08] RichardLitt commented on #4021
If you have unpleasant opinions about readthedocs, you're welcome to politely point out issues or to suggest changes. That's what the open source community is for - pointing out bugs and issues and making them better. As long as you're considerate, respectful, and generally nice, we're glad to have you and your work here. :) Let us know if you want to help out with this ticket.

[2018-08-02 20:09] skirpichev commented on #1556
Just not guessing, please.  Unless this algorithm will specify defaults for some option(s), that will be also configurable by user (via rtfd.yml or conf.py).

I would suggest approach in https://github.com/rtfd/readthedocs-build/pull/18 (but, perhaps, with better naming for option).  With another simple few-liner PR for rtfd.org - it will solve really annoying problem, which kills PDF builds for m

[2018-08-02 23:47] agjohnson commented on #4453
You can find a lot of this information in our documentation or in the sphinx documentation and quick start guides. Read the Docs hosts documentation, so you don't need to add apache to host your documentation.

There are ways to do php autodoc, I'd suggest you look at some of the php projects that have had luck using sphinx already.

Closing as this isn't an issue with Read the Docs

[2018-08-02 23:47] #4453 closed

[2018-08-03 00:01] agjohnson commented on #4454
We aren't going to execute any pdfs builds through the Makefile, we avoid the Makefile completely. Is there a solution that doesn't require using the Makefile?

[2018-08-03 00:02] agjohnson commented on #4437
The docs are currently correct and will be updated as soon as we have a release. The docker images repo latest doesn't reflect production.

Closing as this isn't currently an issue.

[2018-08-03 00:02] #4437 closed

[2018-08-03 00:11] agjohnson commented on #4458
Hrm, interesting proposal, but I'd probably be -1 just because I don't think these formats are generally useful for others. Read the Docs focuses on more useable formats -- html, pdf, and epub are all easily viewable. Man pages are a strange thing to distribute as one off files, latex is not easily humanly readable, and i don't know much about texinfo but I know it's somewhat synonymous with latex

[2018-08-03 00:16] agjohnson commented on #4411
Sounds like we need to update our language selector to add the new identifiers for chinese lanuages? We can leave the old identifiers probably? Optionally, we can hide the deprecated identifier for new projects.

Sphinx should be agnostic to this.

I imagine a PR should be fairly quick to put together for this.

[2018-08-03 00:32] agjohnson commented on #4354
There are a few issues open on this. It probably makes sense, especially if we also have a way to set path for requirements file/etc. I think originally we were going to use the `base` configuration option for this. For a case where you have a `foo/setup.py` and `docs/conf.py` for example, this would not work, so I guess we need an explicit `setup.py` path?

@stsewd any opinions here?

[2018-08-03 00:39] agjohnson commented on #4315
Just dropping in here to note that you do not need to create multiple repositories to support multiple languages. You can set each translation project's conf.py path separately in the project admin dashboard. We don't have a good pattern for this that strictly uses our yaml config though. Ideally, we should just automate setting the conf.py language so that no different conf.py is needed at all th

[2018-08-03 00:41] agjohnson commented on #4338
We already support this manually. You need to specify the conf.py path in the translation project admin.

Eventually, I think this feature is not to guess the project translation path. We would instead just use a single conf.py and override the language parameters in the conf.py.

[2018-08-03 00:44] agjohnson commented on #4334
Moving conversation to blog issues: https://github.com/rtfd/blog/issues/44

[2018-08-03 00:44] #4334 closed

[2018-08-03 00:48] agjohnson commented on #4307
This is part of our theme, sphinx_rtd_theme. Feel free to suggest/mock up any design changes you're thinking of first. After we make a decision we can move on to a development phase.

[2018-08-03 00:49] agjohnson commented on #4359
Yeah, this bugs me a lot. It should be a small change.

[2018-08-03 01:02] agjohnson commented on #3777
Agreed. We need much better docs around this all. I'm really looking forward to making translations a priority on RTD. I think we can do much better at offering first class support for translations. They are obviously more of an after thought currently.

First steps here I think are:

* Describe how to manage translations better on RTD projects
* Describe patterns for this (how to support multiple

[2018-08-03 01:04] agjohnson commented on #4152
👍 from me. I think there are a few things that we need:

* A call out for translation reviewers in our docs/elsewhere
* Translation sources and updating transifex should be a more frequent process. Maybe in our CI?
* Local translation files should be updated as a normal part of our release process

Getting reviewers is tricky, but something we could promote more if our translation support was bett

[2018-08-03 01:32] agjohnson commented on #4152
For instance, in order to approve the italian translations, I need someone to review all the translations. The italian translation team on transifex has a few people, but no reviewers. I'm not sure the best way to recruit or manage community there.

It's too bad github doesn't natively support a similar feature, as i'd prefer not to have 2 separate communities.

[2018-08-03 01:53] stsewd commented on #4354
@agjohnson I was thinking about this, what I understand, users want to specify their python project root, so rtd can install the project from there. If we use the base option (too general) it won't solve all cases. What I was thinking is having a `python.path` or `python.installation_path` or something like that, so this should only affect the `python.install` option. `mkdocs and `sphinx` has its

[2018-08-03 02:12] agjohnson opened #4462 "Help translate Read the Docs"
Read the Docs has a number of language translations that are either not fully translated or need translation reviewers to approve the translations in order for us to use them.

This is a great place to contribute if you want to contribute to Read the Docs but aren't familiar with our code or even programming in general.

We use Transifex for managing our translation workflow. If you have a user ac

[2018-08-03 02:16] agjohnson opened #4463 "Integrate Transifex with Travis"
We do a bad job of keeping translation files up to date. Let's automate it!

Docs here:
https://docs.transifex.com/integrations/github/

The problem is that these docs are bad. This would result in every PR pushing up translations. This is bad, we probably only want this on pushes to `master`. That's cool, lets just make a contrib script or something that emulates the steps in the Travis config in

[2018-08-03 02:32] agjohnson commented on #3992
@humitos what do you think of this feature + https://github.com/pypa/pip/pull/3728 to support private repositories through pip? Maybe there is a way to also address git submodules?

It feels a bit hacky still. A GitHub user looks to be the prescribed path, as much as i hate it.

[2018-08-03 02:50] agjohnson opened #4464 "Add submodule configuration"
Migrated from https://github.com/rtfd/readthedocs-build/issues/30

Seems a number of projects are hitting issues with submodule clone steps, and this should be configurable in our config. Because git doesn't provide the mechanism for optional submodules, we can do something like:

[code]

as implicit default. And:

[code]

As include example.

[code]

^ is the exclude example.

Legacy projects imp

[2018-08-03 05:10] strophy commented on #4307
Thanks @agjohnson I suspected I might have the wrong repo here. Let me know if you want me to open another issue on the sphinx_rtd_theme repo instead.

Regarding design:

- I love the language switcher in the footer of readthedocs.org because it follows best practices of writing the native language name, followed by either a language code or the English name for the language. Language switchers sh

[2018-08-03 05:15] stsewd commented on #4307
I think something should be done with the floating footer too since not all projects use the rtd theme, so we inject the floating footer for them. Or maybe just make this change for the rtd theme?

[2018-08-03 07:37] mertyildiran opened #4465 "Getting 404 on Module Index page"
## Details

* Read the Docs project URL: https://readthedocs.org/projects/dragonfire/
* Build URL (if applicable): https://readthedocs.org/projects/dragonfire/builds/
* Read the Docs username (if applicable): **mertyildiran**
* GitHub Sphinx documentation source: https://github.com/DragonComputer/Dragonfire/tree/master/docs/source

## Expected Result

On my local machine, I'm building the document

[2018-08-03 08:11] wilsonyou opened #4466 "ReadtheDocs cannot parse tables in markdown"
## Details

I build my file from github to readthedocs but found the tables in markdown files cannot be parsed.

Could you please give an effective way to solve the issue.

This is my project address：
https://github.com/wilsonyou/hopeone

this is location for the build

https://hopeone.readthedocs.io/en/latest/generating-addresses.html

If you can provide an easy-to-understand method to solve this

[2018-08-03 09:39] safwanrahman commented on #4334
@ericholscher I have taken it from making queries to `RTD` production and local machine, and only taken the `waiting time` from the browser console.

[2018-08-03 13:19] Flohack74 commented on #4411
Yeah I think thats the best way, stay compatible with whats there, but try to offer only the new shortcuts for new stuff.

[2018-08-03 15:15] stsewd commented on #4443
Yeah, you can't use mocks in those cases :/, we need to wait for a maintainer to increase your time limit, but it seems very weird: the command says ` Command killed due to excessive memory consumption`, but the general message says `Build exited due to time out`

[2018-08-03 16:07] stsewd opened #4468 "Confusing build failed message (time out and memory consumption)"
Recently I have seen some reports of build failure like https://github.com/rtfd/readthedocs.org/issues/4443, where the failed build display two different messages as the failure reason.

Here you can see an example https://readthedocs.org/projects/oapackage/builds/7559891/. The error message is `Build exited due to time out`, but the last command that was executed failed with ` Command killed due

[2018-08-03 16:12] stsewd commented on #4466
This is a problem with sphinx and markdown file, here you can see some solutions https://github.com/rtfd/recommonmark/issues/3 https://github.com/rtfd/recommonmark/issues/103, or maybe you can consider writing your docs using reStructuredText.

[2018-08-03 16:12] #4466 closed

[2018-08-03 16:20] stsewd commented on #4465
Sorry but I don't see the file in your repo https://github.com/DragonComputer/Dragonfire/tree/master/docs/source

[2018-08-03 16:25] mertyildiran commented on #4465
`make html` generates it by looking up for **docstrings** in the whole project:
![](https://i.imgur.com/ZWikcK3.png)
I did what you said in [here](https://github.com/rtfd/readthedocs.org/issues/2396#issuecomment-397715773) but did not change anything.

[2018-08-03 16:38] stsewd commented on #4465
RTD execute the `sphinx-build` command only, it doesn't execute the `make` file nor the `sphinx-apidodc` command. See https://github.com/rtfd/readthedocs.org/issues/1139

[2018-08-03 16:50] mertyildiran commented on #4465
@stsewd I removed the build directory with `rm -rf build/` and ran:

[code]

It gave me exactly the same result with `make html`. I don't understand your point?

[2018-08-03 16:59] stsewd commented on #4465
You executed this command `sphinx-apidoc -f -o source/ ../dragonfire/`, which places the output inside the source/ dir

[2018-08-03 17:07] mertyildiran commented on #4465
@stsewd `sphinx-apidoc -f -o source/ ../dragonfire/` generates the `.rst` files according to my module structure right? So what's the relevance of `sphinx-apidoc` to generating `.html` documents from those `.rst` files?

[2018-08-03 17:57] stsewd commented on #4465
The `modindex` or `py-modindex` is still missing there, not sure how apidoc works here, can you check if this happens in a new virtualenv executing the same steps that rtd does?

[2018-08-03 18:03] mertyildiran commented on #4465
@stsewd please look at this repository for example: https://github.com/goldsmith/Wikipedia/tree/master/docs/source

It does not have any `modindex.rst` file, `py-modindex.rst` file or anything like that but it has http://wikipedia.readthedocs.io/en/latest/py-modindex.html available in its documentation.

[2018-08-03 18:12] agjohnson commented on #4354
yeah, i think it's probably possible to hit a case where the `setup.py` path is sibling to the `docs/` path. Being explicit here is probably best.

Regarding schema, i think `python.path` implies altering `PYTHON_PATH`, and `python.installation_path` sounds a little like this too. I'd say we want something else for the namespace.

A couple other options:

1) Allow multiple packages as a list. This

[2018-08-03 18:47] stsewd commented on #4354
I haven't seen a project with multiple python packages, what would be the use case? Having a common repo for all packages with a single documentation point?

1) We still need to know the requirements path for each package
2) I like this one, not sure if we need `name`.
3) A requirements file doesn't imply pip, as the user can install a setup.py project using pip too.
    I like the third option.

[2018-08-03 21:30] agjohnson commented on #4182
I'll say we can close this. I don't think we have enough support to consider graphql as an option here.

[2018-08-03 21:30] #4182 closed

[2018-08-03 21:46] agjohnson commented on #4201
This is going stale, so we should either accept or close it probably. I'm -1 on monkeypatching, as i think it will give us different problems or inconsistencies. I hesitate getting too creative with anything that touches out db at such a low level.

We can easily add the missing migrations, but to automate for future consistency, i think a simple CI check to fail PRs without necessary migraitons s

[2018-08-03 21:50] davidfischer commented on #2652
@Juanlu001 @rmzelle Both of these domain names somehow got into a bad state with respect to Cloudflare issuing the certificate. When I manually retried the request (which is supposed to happen automatically) it worked. I don't yet have a good reason for why this happened but both domains now have a working certificate.

[2018-08-03 21:51] Juanlu001 commented on #2652
@davidfischer confirmed, thanks!

[2018-08-03 21:53] stsewd commented on #4201
+1 on CI check

[2018-08-03 21:56] mertyildiran commented on #4465
@stsewd I realized that the build was actually **failing** due to some missing dependencies and/or post-install scripts(when I noticed the "View raw" link on Read the Docs):

[code]

So after dealing some problems like **excessive memory consumption**, mocking out Python C extension, including Markdown into reStructuredText, etc. and after 23 commits/builds I finally achieved what I want:

https:/

[2018-08-03 21:56] #4465 closed

[2018-08-04 06:28] doronbehar commented on #4458
Texinfo is much more superior then man pages or LaTeX since it is converted into `.info` files which can be used to read the documentation on a terminal. Try to run on your command line `info info` and learn about it.

The default `info` viewer on GNU systems is capable of jumping between nodes just like jumping between internal links in a documentation website. That's what makes it so useful for

[2018-08-05 02:06] humitos commented on #4402
I found another way to reproduce this issue in Chrome and Firefox (both without any ad blocker).

Load any docs page (e.g. http://sphinx-autoapi.readthedocs.io/en/latest/) and press Escape before it loads completely. You will see the that nag.

[2018-08-05 02:10] stsewd commented on #4402
I can confirm that.

[2018-08-05 02:35] ewjoachim opened #4471 "Things around i18n"
Following last years's chat on #2944 and the recent announcement on transifex by @agjohnson , I did a new pass on the french translation and found some problems (I've been marking them through transifex directly, see "39 problems" on this page https://www.transifex.com/readthedocs/readthedocs/dashboard/).

Now I think most of these problems are pretty much stemming from the usage of `blocktrans` w

[2018-08-05 02:42] ewjoachim commented on #4471
Wow how did I miss the other i18n issues you opened >< Sorry for the noise, should have been posting to an existing issue 😭

[2018-08-05 08:28] cithukyaw opened #4472 "Missing a theme resource include on built"
## Details

* Read the Docs project URL: http://phplucidframe.readthedocs.io/en/latest/
* Build URL (if applicable):
* Read the Docs username (if applicable): cithukyaw

## Expected Result

Built docs should be rendered with the Sphinx RTD theme (`sphinx_rtd_theme`)

## Actual Result

Docs are rendered on the web page without any theme formatting. I found that this css include is not rendered, but

[2018-08-05 08:46] stsewd commented on #4472
You are using a custom theme, not the one that rtd provides https://github.com/phplucidframe/phplucidframe-docs/tree/master/_themes/sphinx_rtd_theme, see https://github.com/rtfd/readthedocs.org/issues/4249#issuecomment-397689901

[2018-08-05 09:16] emodric commented on #2652
@davidfischer When subprojects are accessed via https (e.g. `https://example.com/projects/subproject/`) they redirect to HTTP variant: `http://example.com/projects/subproject/en/latest/`. Is there something that can be done about that?

[2018-08-05 10:48] cithukyaw commented on #4472
@stsewd got it, thanks! I did the following:

- removed `html_theme_path = ["_themes"]` from `config.py`
- removed the folder `_themes`
- run `pip install sphinx_rtd_theme`
- run `make html`

It works now.

[2018-08-05 10:48] #4472 closed

[2018-08-05 17:14] davidfischer commented on #2652
Yes. I'm working on it. I of course welcome help.

[2018-08-05 19:30] lextm opened #4473 "Support request: deletion of several projects"
## Details

* Read the Docs project URLs:
https://readthedocs.org/projects/dockpanelsuite/
https://readthedocs.org/projects/jexus/
https://readthedocs.org/projects/jexuswebserver/
https://readthedocs.org/projects/linpeiman/
https://readthedocs.org/projects/obfuscar/
https://readthedocs.org/projects/restructuredtext.net/
https://readthedocs.org/projects/sharpsnmp/
https://readthedocs.org/projects/s

[2018-08-05 23:37] skaller opened #4474 "Table of Contents jumping"
## Details

* Read the Docs project URL: https://felix.readthedocs.io/
* Read the Docs username (if applicable): skaller

Using a  vertically constrained browser window:

(1) Please open https://felix.readthedocs.io/en/latest/expressions.html
(2) Scroll down the left margin TOC and click on "Qualified Names"
(3) The TOC jumps back to the top
(4) To select the next entry from the TOC, one has to sc

[2018-08-05 23:56] skaller opened #4475 "Index layout wrong"
## Details

* Read the Docs project URL: https://felix.readthedocs.io/
* Read the Docs username (if applicable): skaller

Please examine the generated index here:

https://felix.readthedocs.io/en/latest/genindex.html

## Expected Result

The index contains two level index entries. It should look like this:

[code]

## Actual Result

The second level subentries line up on the left margin, making
th

[2018-08-06 01:17] wilsonyou commented on #4466
Thank you for you suggestions. But I cannot get the issue solved.

I don't know  what files are needed or how to configure the Admin in ReadtheDocS.

Some says that the setup.py is needed or the requirements.txt is needed. I am not sure how to handle this.

Could you help me on this ?

Thanks

[2018-08-06 01:49] stsewd commented on #4466
You can use the admin interface of your project to specify a requirements.txt file or use a yaml file https://docs.readthedocs.io/en/latest/yaml-config.html#requirements-file

[2018-08-06 04:05] wilsonyou commented on #4466
@stsewd

Thank you for your quick turnaround.

But I still cannot solve my issue.

The major issue is that I have many tables in md files, but  these tables cannot be parsed. If you could give me a real example about what files are needed and how to configure these file, then I think I can figure out.

Thanks

[2018-08-06 04:32] stsewd commented on #4466
In the related issue, there is a suggestion about using https://github.com/ryanfox/sphinx-markdown-tables, you may want to read those instructions

[2018-08-06 04:56] wilsonyou commented on #4466
@ I have read these instructions and did as the guide told. But the tables are still not parsed
Could you check my projects?
https://hopeone.readthedocs.io/en/latest/generating-addresses.html
Thanks

[2018-08-06 04:57] wilsonyou commented on #4466
@stsewd
I have read these instructions and did as the guide told. But the tables are still not parsed
Could you check my project?
https://hopeone.readthedocs.io/en/latest/generating-addresses.html

Thanks

[2018-08-06 06:39] femtotrader commented on #4421
Hello @humitos

I haven't get any reply from @milktrader.
Could you remove RTD project page https://readthedocs.org/projects/marketdata/ because doc is now available at http://juliaquant.github.io/MarketData.jl/latest/

Kind regards

[2018-08-06 07:46] emodric commented on #2652
I can test perhaps. I doubt I can be of help any further :)

[2018-08-06 14:42] humitos opened #4477 "Update our documentation translations"
I tried to update our docs in other languages by pulling the translations from Transifex, but I wasn't able because of permissions.

[code]

@ericholscher @agjohnson can you grant me permissions for this?

[2018-08-06 17:49] stsewd commented on #4466
I think you need to add a `requirements.txt` on your project with `sphinx-markdown-tables` as requirement.

[2018-08-06 18:04] humitos commented on #4473
Thanks for reporting this @lextm! I found some interesting logs that could point us in the right direction to solve this issue.

There is a problem with how we delete the SSL via Cloudflare for the custom domain. We will be working on this and hopefully, we will have a fix for this soon.

Sentry: https://sentry.io/read-the-docs/readthedocs-org/issues/630965612/
Error at: https://github.com/readthe

[2018-08-06 18:39] danepowell commented on #4441
I think this is due to mkdocs' version of the readthedocs theme not supporting reading the active github_version: https://github.com/mkdocs/mkdocs/issues/1578

The fix is pretty simple, downstream projects just need to set `edit_uri` to be the correct path: https://github.com/mkdocs/mkdocs/blob/master/docs/user-guide/configuration.md#edit_uri

Obviously it would be ideal if this worked out of the

[2018-08-06 19:14] davidfischer commented on #4473
Thanks for reporting these. You should be able to delete these projects now. For some reason, Cloudflare failed to get an SSL certificate for these, they got into a weird state, and then the API to remove them was throwing a 500. A fix to handle this more gracefully on the RTD side is in review.

[2018-08-06 20:43] humitos commented on #4471
I added a note in #4479 mentioning the usage of `trimmed` in our docs. I think this could help to keep the blocktrans updated.

Also, I created a PR to add `trimmed` to all blocktrans that need this option at #4480

@ewjoachim does this help? do you have other suggestions?

[2018-08-06 21:01] stsewd commented on #4466
This should help too https://docs.readthedocs.io/en/latest/guides/specifying-dependencies.html

[2018-08-06 21:33] hsorby commented on #4437
Then it would seem that the documentation isn't clear.

[2018-08-07 00:02] lextm commented on #4473
Thank you, guys! It works now.

[2018-08-07 00:02] #4473 closed

[2018-08-07 08:33] wilsonyou commented on #4466
@stsewd
Yes, I think you are right. A requirement.txt is needed. But I don't know how to configure the requirement.txt even I read the link you provided.

Could you please check my project and provide a reqirement.txt which is configured and ready to use?

Thank you for your support.

[2018-08-07 08:37] wilsonyou commented on #4466
@stsewd
If you could provide that requirement.txt file. Please send it to me
Email: wilson_you@126.com
BTW, I think readthedocs is a great website to host documentation but if table conversion is not supported, I would feel really disappointed.

[2018-08-07 08:49] wilsonyou commented on #4466
I read your documentation on the website. It seems that the backend will read the conf.py file by default. But in this way, the table conversion is not supported. So, I tried to configure the Advanced Setting, but got stuck in it. In Advanced Setting, when I clikc the option  'Install your project inside a virtualenv using setup.py install', I have to input the requirement.txt file below the optio

[2018-08-07 10:28] #4441 closed

[2018-08-07 14:51] stsewd commented on #4466
You need to create a `requirements.txt` file with this content

[code]

The link to the docs explains how to setup rtd to use the requirements.txt file.

I think that is a problem with the sphinx extension that does the markdown supports, sphinx is mainly focused in reStructuredText, you also have mkdocs, which does support markdown.

BTW, your `setup.py` file doesn't seem to be right https://gith

[2018-08-07 14:54] stsewd commented on #4307
There are two ways of using rtd.

1) Using the rtd theme, here we can put the language switcher at the top
2) Using a different theme, here we can't put that at the top in an easy way, we only can inject the floating footer. See http://docs.python-requests.org/en/master/

So, or we only modify the rtd theme, or we do it in both, the rtd theme and the floating footer. Or maybe another place.

[2018-08-07 18:13] safwanrahman commented on #1088
I believe this Issue should be open as we are not indexing MkDocs in Elasticsearch index.

[2018-08-07 18:26] kwosie commented on #2243
I also searched for a solution to this problem with no knowledge of Django. Found it's actually the allauth setup that is missing, and a tutorial with screenshots at [allauth tutorial](https://wsvincent.com/django-allauth-tutorial/ ).
Furthermore, the allauth git repo has more info on additional auth providers: [allauth github](https://github.com/pennersr/django-allauth/blob/master/docs/providers.

[2018-08-07 18:28] stsewd commented on #1088
But it uses the default search from mkdocs (I think this issue was about the search in the docs, not in the rtd.org site?)

[2018-08-07 18:34] safwanrahman commented on #1088
@stsewd Yeah. currently it uses built in search of mkdocs. But it would be better if we could index the content to our elasticsearch index so we can provide better search result to our users.

[2018-08-07 18:46] stsewd commented on #1088
@safwanrahman maybe this interest you https://github.com/rtfd/readthedocs.org/issues/4205

[2018-08-07 19:34] humitos commented on #1088
IIRC, the problem we have with MkDocs is there is no way to generate a context to create the `.json` file as we do with Sphinx. The limitation was on MkDocs side, not on us.

I may be wrong, though.

[2018-08-07 19:37] safwanrahman commented on #1088
@humitos The json file is created with the HTML file by default. But the structure is different. We need to port the json file to be indexed into our Elasticsearch.

[2018-08-07 19:40] ericholscher commented on #1088
We need a way to dump mkdocs HTML unthemed, which is the main problem. It needs to be consistent across themes and builds.

[2018-08-07 19:57] humitos commented on #2236
Just want to mention before #4483 gets merged and deployed, than hitting https://python-hyper.org/hpack/en/latest/ I'm not redirected to HTTP only. I'm not sure if we have changed something since Jun...

cc @davidfischer

[2018-08-07 19:58] barseghyanartur commented on #1618
@stsewd:

Sorry! I didn't notice your question. Yes, the issue is solved for me by switching to BitBucket, where I don't have git sub-modules (I use Mercurial there). It did seem to work (on GitHub) with `Programming Language` set to `Only Words` (instead of `Python` in settings). Without the change it kept failing. But then again something broke and I just made it simple for myself, by switching

[2018-08-07 20:13] davidfischer commented on #2236
This domain appears to have a different setup. It is not setup with the normal [Read the Docs custom domain instructions](https://docs.readthedocs.io/en/latest/alternate_domains.html#cname-support). This domain is using a naked domain (an A record, not a CNAME) and is probably doing their own proxying to Read the Docs.

I believe that this issue is more about generating "http" links (as opposed to

[2018-08-07 21:41] davidfischer commented on #2652
If you just changed the CNAME, it can take up to an hour. Did you just change it? I see your certificate as "pending issuance" so it should be issued shortly.

[2018-08-07 21:46] RichardLitt commented on #4437
@agjohnson Any chance we could improve them?

[2018-08-07 21:48] nijel commented on #2652
Yes, I did change it (sorry for not being clear in the previous comment). I've tried to improve docs to cover this situation so that others do not have to ask same question :-). See https://github.com/rtfd/readthedocs.org/pull/4487

[2018-08-07 22:32] davidfischer commented on #2652
I'm seeing errors related to `docs.weblate.org`. It's possible this will be resolved in time, but it looks like you've added a number of DNS records pointing to Read the Docs that are unnecessary:

    dig docs.weblate.org A +short
    dig docs.weblate.org TXT +short
    dig docs.weblate.org MX +short

Only the `CNAME` -> `readthedocs.io` is needed.

[2018-08-08 01:42] wilsonyou commented on #4466
@stsewd
Thank you for your suggestion. But I have little programming experience, and I don't know how to get started with your suggested link. Could you help on how to configure my setup.py？

[2018-08-08 01:49] stsewd commented on #4466
I think you may not need a `conf.py` file, can you try having only the `requirements.txt` file?

[2018-08-08 02:06] wilsonyou commented on #4466
I just now tried to input the requirements.txt file without selecting the conf.py. But it did not work.

[2018-08-08 02:06] wilsonyou commented on #4466
@stsewd I just now tried to input the requirements.txt file without selecting the conf.py. But it did not work.

[2018-08-08 02:17] stsewd commented on #4466
You don't need to mock `sphinx_markdown_tables` https://github.com/wilsonyou/hopeone/blob/6dd3252af7646c964a37a573d8eb042e8d5901d7/conf.py#L27

[2018-08-08 02:27] stsewd commented on #4466
I'm not sure if your project needs to mock the other packages, but you only need to delete the `sphinx_markdown_tables` from that list

[2018-08-08 02:34] wilsonyou commented on #4466
Hi man, finally, it works! Thank you so much!

By the way, if you want to know anything about China, please do not hesitate to ask me.

I am a technical writer in Beijing, China.

If you come to China in the near future, please contact me, I must buy a dinner.

Phone number : +86 13671352506
WeChat: 13671352506

[2018-08-08 02:57] davidfischer commented on #2236
Actually I think I read this one wrong. You are right @humitos and this issue doesn't seem to be an issue anymore in terms of redirects.

[2018-08-08 03:02] stsewd commented on #4466
haha, glad that it works! I don't have plans to go to China in the near future, but who knows, I'll keep it in mind, thanks!

[2018-08-08 04:18] Modelmat commented on #4286
Couple of things I would definitely like to see:
- api for `genindex.html` file (e.g [http://discordpy.readthedocs.io/en/rewrite/genindex.html])
- possibly to return a specific object's representation, slightly possible with /search endpoint and with html parsing, but it would be nice for an api with this (possibly tied in with the `genindex.html`

[2018-08-08 04:47] Modelmat opened #4490 "Switching languages on non-default branch goes to default branch"
## Details
When switching the language from en to ja [here](http://discordpy.readthedocs.io/en/rewrite/faq.html) it goes to the default branch [here](http://discordpy.readthedocs.io/en/latest/faq.html) (which since it has no ja language goes back to en.

* Read the Docs project URL: http://discordpy.readthedocs.io/en/rewrite/faq.html & http://discordpy.readthedocs.io/en/rewrite/faq.html
* Build UR

[2018-08-08 05:37] nijel commented on #2652
Just remove `+short` and you will see these are glue records from your resolver:

[code]

Anyway apparently this is not yet ready for switch, I'm reverting to the old proxying setup for now. In case you want to test something, I can switch the DNS back to the readthedocs.io.

[2018-08-08 06:30] strophy commented on #4307
Understood, thanks! Waiting for design decision from RTD side.

[2018-08-08 06:35] davidfischer commented on #2652
The cert was successfully issued, finally.

[2018-08-08 10:02] nijel commented on #2652
You mean after I changed CNAME back to my own server? DNS caching can be sometimes funny. Thanks it indeed works now.

[2018-08-08 10:42] nijel commented on #2652
Also it might be worth mentioning in the docs is need to adjust CAA if domain has one, see https://support.cloudflare.com/hc/en-us/articles/115000310832-Certification-Authority-Authorization-CAA-FAQ

[2018-08-08 12:30] jacobseiler opened #4491 "Building Docs with mpi4py"
I'm attempting to build the Docstrings of my Python modules using `Automodule`.  One of my modules (`treefrog_to_lhalo`) uses the `mpi4py` package.  When I use `rtd` to build the Docs I get a warning that the `treefrog_to_lhalo` could not be imported due to missing `mpi4py`.  All other modules are imported and built correctly.

[code]

I've attempted to remedy this by checking the "Install your pr

[2018-08-08 14:46] stsewd commented on #4490
It makes sense to me to stay on the same branch. We'll need to send the current branch to the footer API, I think we already have this information.

[2018-08-08 14:47] humitos commented on #4490
Just adding more context here to have the URLs hardcoded:

At https://discordpy.readthedocs.io/en/rewrite/faq.html (`rewrite` version) the `ja` link from the version menu points to https://discordpy.readthedocs.io/ja/latest/faq.html (`latest` version) and it should points to https://discordpy.readthedocs.io/ja/rewrite/faq.html (`rewrite` version --same as we were when clicking the link)

[2018-08-08 14:54] stsewd commented on #4491
You can mock the requirement https://docs.readthedocs.io/en/latest/faq.html#i-get-import-errors-on-libraries-that-depend-on-c-modules, but I'm not sure if your requirement is really needed for automodule

[2018-08-08 15:03] humitos opened #4492 "Seaching camel-case words returns invalid results"
Entering a `ReadTimeout` (camel-case) is interpret as `read timeout`.

I found a way to reproduce this issue in `requests` project:

* `read timeout` (separated words), returns 2 hits: https://requests.readthedocs.io/en/master/search/?q=read+timeout

![captura de pantalla_2018-08-08_11-57-04](https://user-images.githubusercontent.com/244656/43845349-30737c58-9b02-11e8-9870-4029a34a95e9.png)

* `Re

[2018-08-08 15:05] humitos commented on #4492
I noted two more things here:

1. the results that you can see in the images, all of them are in _Italic_ but the last one is highlighted in yellow
1. only the last image has reStructuredText on its response

[2018-08-08 15:20] humitos commented on #4109
I hit this again today.

I think we need to refactor our exceptions a little by creating specific `BuildEnvironmentError` for these cases and do not log them. For example,

https://github.com/rtfd/readthedocs.org/blob/fea0215bce79d8b7167b1d16eecddd525b6c7a3d/readthedocs/projects/tasks.py#L407-L426

Those three exceptions should be something like `BuildDisabledError`, `VersionLockedError` and `YAML

[2018-08-08 15:40] davidfischer commented on #2652
Good idea.

[2018-08-08 17:53] humitos opened #4494 "Builds break after adding SNI for API HTTPS endpoint"
#4423 introduced a bug when trying to access the API from the builder.

This is needed for our Azure migration, so we need to find a way to make it work. This is currently working under our Azure servers.

[code]

I need to research a little more to understand why this is not working locally but it is on Azure VM.

[2018-08-08 19:53] humitos opened #4496 "Footer menu "needs" vertical scroll when many version/translation shown"
Accessing a project with so many versions and clicking on the versions menu, you will see so many versions that it impossible to click on Read the Docs links (project, build, github, etc) and also it's hard to select the translation.

![screenshot_2018-08-08 requests http for humans requests 2 19 1 documentation](https://user-images.githubusercontent.com/244656/43860880-73f7f14c-9b2b-11e8-8174-fab

[2018-08-08 20:53] humitos commented on #4494
The important code regarding the `assert_hostname` is at

https://github.com/requests/toolbelt/blob/master/requests_toolbelt/adapters/host_header_ssl.py#L37-L41

I put a log in my instance and I see that `host_header` is `localhost:8000`, which comes from `PRODUCTION_DOMAIN`

 https://github.com/rtfd/readthedocs.org/blob/7511411e508b32022c2568e216c020b2a793494a/readthedocs/restapi/client.py#L46

[2018-08-09 01:49] jacobseiler commented on #4491
Thanks @stsewd , that was exactly what was required.  Mocking `mpi4py` resulted in everything building correclty.

Cheers!

[2018-08-09 04:50] stsewd commented on #4491
I'm glad that worked!

[2018-08-09 04:50] #4491 closed

[2018-08-09 07:18] caganze opened #4500 "should readthedocs.yml have a pip version setting?"
Hi,

This is the message that I get while trying to build
"You should consider upgrading via the 'pip install --upgrade pip' command", do I have control over this?

Thank you,

[2018-08-09 13:54] RichardLitt commented on #4500
I believe you should have control over this. Could you try running this command locally, and then seeing if the message comes up when you build again?

[2018-08-09 14:16] wohali commented on #2444
We also want the ability to specify redirects of the form `/$lang/#.#.#` to `/$lang/#.#.#`, or even `/$lang/#.#.#` -> `/$lang/stable`, so that people looking for obsolete versions of the documentation get auto-redirected to the current or a specified supported old version.

[2018-08-09 16:31] stsewd commented on #4500
The pip version comes from the docker image used to build the docs. See https://github.com/rtfd/readthedocs.org/issues/4127#issuecomment-391522520 (closing in favor of the other issue).

[2018-08-09 16:31] #4500 closed

[2018-08-09 16:56] barbara-sfx commented on #2444
@wohali  My guess is that is what prefix redirect is supposed to do, but I just reported that it only has From and not To, so I'm actually not sure how it is supposed to work.

![image](https://user-images.githubusercontent.com/17709550/43913600-5f59e454-9bba-11e8-8d01-85b4129d4ca7.png)

[2018-08-09 17:01] stsewd commented on #2444
@barbara-sfx please see https://docs.readthedocs.io/en/latest/user-defined-redirects.html

[2018-08-09 17:04] barbara-sfx commented on #2444
Ah, looks like prefix redirect ONLY redirects to latest version (per response from support, which led me to this doc):

https://docs.readthedocs.io/en/latest/user-defined-redirects.html

I responded: Thanks, that helps. But it would be even better if I could specify where I wanted to redirect to. e.g. Maybe I have /rev4/ and want to redirect to /rev5/ . Can you add this as a feature request?

[2018-08-09 17:10] barbara-sfx commented on #2444
Thanks, that helps. But it would be even better if I could specify where I wanted to redirect to. e.g. Maybe I have /rev4/ and want to redirect to /rev5/ . Can you add this as a feature request?

-- Barbara

P.S. I also suggest you add a link to that document on the redirects page.

[2018-08-09 18:01] #2236 closed

[2018-08-09 18:50] humitos commented on #2444
I think this is a bug on our side.

First of all, our UX says that a Prefix Redirect will match the _Absolute path_, but taking a look at the code it only consider the `path` as everything that comes _after_ the language and version:

https://github.com/rtfd/readthedocs.org/blob/5d8becd51bc9272511ebd86262a3be5e00c7e851/readthedocs/redirects/models.py#L128

So, for example, if the URL is `/en/2.0/g

[2018-08-09 21:50] #4494 closed

[2018-08-10 01:01] UniversalSuperBox opened #4503 "Upgrading a Gold subscription causes two recurring charges"
## Details

* Read the Docs username (if applicable): UniversalSuperBox

## Expected Result

When changing from one subscription level to another, the difference between the two levels is charged. Alternatively, the previous subscription level is kept until the renewal where the new subscription amount is charged.

Either way, only one level is charged on the next renewal.

## Actual Result

I sub

[2018-08-10 01:06] stsewd commented on #4503
Thanks for supporting rtd, hope the team can debug this and see what is happening soon.

[2018-08-10 01:15] UniversalSuperBox opened #4504 "Cancelling a Gold subscription ends benefits immediately"
## Details

* Read the Docs username (if applicable): UniversalSuperBox

## Expected Result

Upon canceling a Read the Docs Gold subscription, benefits are retained until the renewal would be charged.

## Actual Result

Upon canceling a Read the Docs Gold subscription, benefits end for all adopted projects immediately, regardless of the next renewal date.

I think I'm telling a bit of a story betw

[2018-08-10 13:45] ivankravets commented on #2652
Do we have any options to make `301 Moved Permanently` from HTTP to HTTPS using built-in CNAME SSL provided by Cloudflare?

We can inject JS redirect but it's not good for search engines.

[2018-08-10 13:55] davidfischer commented on #2652
@ivankravets, I am going to start with 302s but redirects are coming.

[2018-08-10 13:57] ivankravets commented on #2652
@davidfischer Thank you so much for the fast response. Do you have any ETA? Will we have some checkbox in UI/Admin part?

[2018-08-10 14:03] davidfischer commented on #2652
I don't have an ETA right now. There will be a checkbox in the admin. That's actually merged already and will go live at the next deploy. See https://github.com/rtfd/readthedocs.org/pull/4483.

[2018-08-10 14:37] RichardLitt commented on #4503
@davidfischer Probably related to #4504.

[2018-08-10 15:57] UniversalSuperBox commented on #4503
@RichardLitt, it's related but I tried the steps in #4504 to fix this.

[2018-08-10 17:29] stsewd commented on #3524
There is an option for that already https://github.com/agjohnson/github-changelog/blob/1915b5b24d1b0840eb15f5e07bcce0cd8c5e08a7/index.js#L31, we only need to modify how the script is called

[2018-08-10 17:34] stsewd commented on #3524
And we already pass that option https://github.com/rtfd/common/blob/ae892294342da555c90f69c6594277b0c546ede3/tasks.py#L89... @agjohnson how we really run the script?

[2018-08-10 17:51] davidfischer commented on #4503
Thanks for reporting this. From a charging (Stripe) perspective, here's what I see:

- 4 total charges:
  * $10 on 2018-07-08
  * $50 on 2018-07-09
  * $10 on 2018-08-08
  * $50 on 2018-08-09
- There is not an active "subscription" so unless action is taken you will not be charged in September.

So it looks to me like there are definitely some erroneous charges. Which ones would you like refunded?

[2018-08-10 18:08] davidfischer commented on #4503
It isn't actually! The code is supposed to [upgrade the subscription correctly](https://github.com/rtfd/readthedocs.org/blob/4d10f2e/readthedocs/gold/forms.py#L60-L68) which I believe won't charge until the next period. However, I can see from the Stripe logs that `source` didn't make it into the request and Stripe rejected the request after that. Then it defaulted to a new subscription.

Long sto

[2018-08-10 18:11] UniversalSuperBox commented on #4503
@davidfischer, It'd be great if 07-08, 08-08, and 08-09 could be refunded. Thank you for digging in to this so quickly!

[2018-08-10 18:19] davidfischer commented on #4503
Ok, I have refunded those 3. According to Stripe:

    Refunds take 5-10 days to appear on a customer's statement.

I'm going to leave this ticket open until we fix it.

[2018-08-10 20:59] stsewd commented on #3524
The current changelog contains PRs that just were closed too.

[2018-08-10 23:12] humitos commented on #3524
@stsewd the script is called via `invoke prepare $RELEASE_VERSION` and that `prepare` function is executed.

[2018-08-10 23:16] davidfischer commented on #4001
See #4505 for version aliases (to some degree)

[2018-08-11 11:45] jamesread commented on #533
Is this of use? https://github.com/lruzicka/sphinx_asciidoc

[2018-08-11 12:30] Tahsin-Mayeesha opened #4506 "One module documentation is not showing in readthedocs even if it shows up in local sphinx build"
## Details

Project URL : https://github.com/Tahsin-Mayeesha/Mediaviz/tree/master/docs/build/html
* Read the Docs project URL: https://mediaviz.readthedocs.io/en/latest/py-modindex.html

## Expected Result

I've one module named mediaviz.draw that is not showing up in Readthedocs, but it shows up
in my local build.  I'm not sure why readthedocs is skipping this module even if it's picking up
other

[2018-08-11 14:01] RichardLitt commented on #4506
Thanks for logging this issue, @Tahsin-Mayeesha. ReadTheDocs support here is volunteer run, which means that there is no guarantee that someone will get to this urgently; if you want more urgent support, I would suggest either paying for support by buying a commercial license, or trying StackOverflow. Please see this [Support page](https://docs.readthedocs.io/en/latest/support.html).

[2018-08-11 22:52] safwanrahman commented on #4409
fixed by #4368

[2018-08-11 22:52] #4409 closed

[2018-08-11 22:53] safwanrahman commented on #4333
Fixed by #4368

[2018-08-11 22:53] #4333 closed

[2018-08-12 05:05] Tahsin-Mayeesha commented on #4506
@RichardLitt  I found a workaround by directly writing into index.rst file all the automodules for the project.

The reason I asked for urgent support was because I am participating in Google Summer Of Code 2018 with the deadline coming on August 14th, I basically needed to make the documentation work by then or find out other ways like directly hosting in Github pages and ditch readthedocs if nec

[2018-08-12 08:10] stsewd commented on #4506
I can see your package, not really sure what is the issue.

![screenshot_2018-08-12 python module index mediaviz 0 1 documentation](https://user-images.githubusercontent.com/4975310/43999992-2660c35a-9ddd-11e8-8ffd-ba1b56240457.png)

[2018-08-12 14:59] RichardLitt commented on #4506
@Tahsin-Mayeesha Glad you found a workaround. I edited the title so that other maintainers know this is not urgent anymore (it's a bit unfair to everyone else who might also have urgent bugs to say that yours is more important than theirs).

I'm not sure what the issue was. But if it's resolved, go ahead and close this. :)

[2018-08-12 17:47] Tahsin-Mayeesha commented on #4506
@RichardLitt  I don't care about the title at this point :) , I simply like my work to be done.

To be really clear, the issue on why Readthedocs has failed to pick up one module consistently from the github import while sphinx makes the local build correct, that issue has not been solved as of yet.

 However I'm closing the issue. Glad I didn't have to ditch readthedocs from my first user experie

[2018-08-12 17:50] #4506 closed

[2018-08-12 20:45] AumitLeon opened #4507 "mkdocs doesn't look in the root of the repo"
The above is not true. I had a project with `mkdocs.yml` in the root (along with relevant markdown files), and the build failed-- I was getting the same error referenced in #4231.

[2018-08-13 15:46] stsewd commented on #4507
A link to your rtd project and build would be helpful here, anyway, I think your issue was because of the `docs_dir` was at the same level of the `mkdocs.yml` file instead of a child directory, and btw, I think you mention that moving all inside docs solved the issue. It does, but we are not longer reading your `mkdocs.yml` file, but generating one for you in the root of your project.

[2018-08-13 16:08] AumitLeon commented on #4507
Ah, you are correct! Just tested this here: https://github.com/AumitLeon/module_starter_cli/pull/35

[2018-08-13 16:54] davidfischer opened #4509 "Cloudflare security Captchas or JavaScript browser checks"
Documentation sites (`*.readthedocs.io` and others) are cached for us by Cloudflare who also does SSL termination on those domains. Cloudflare can block certain requests or issue challenges which take the form of a captcha or a javascript check ("checking your browser before accessing...") when the requestor seems suspicious. Suspicion is based on a number of factors including details of the reque

[2018-08-13 17:04] peterjones8787 opened #4510 "someone selling narcotics on your website"
## Details

* Read the Docs project URL:
* Build URL (if applicable):
* Read the Docs username (if applicable):

## Expected Result

*A description of what you wanted to happen*

## Actual Result

*A description of what actually happened*

[2018-08-13 17:04] peterjones8787 commented on #4510
https://readthedocs.org/projects/1-804-381-4664-buy-oxycodone-online/

[2018-08-13 17:07] peterjones8787 commented on #4510
another link  here       https://m.capnp.readthedocs.io/projects/1-804-381-4664-buy-oxycodone-online/

[2018-08-13 17:09] stsewd commented on #4510
Thanks for reporting, hope the rtd team can ban the project/user soon

[2018-08-13 18:15] laserson opened #4511 "https error on custom domain"
Hi RTD-folk,

We host our docs using a custom URL:

docs.airr-community.org

which corresponds to the `airr-standards` RTD project.

When I load

https://airr-standards.readthedocs.io

I can successfully load the page with https.

When I try to load our custom domain with https, we get

We do not have any CAA records set.

[code]

My read of the RTD docs and issue #2652 is that this is theoretical

[2018-08-13 18:44] RichardLitt commented on #4506
Thanks @Tahsin-Mayeesha! Glad you got it working.

[2018-08-13 19:54] davidfischer commented on #4511
@laserson, please go to https://readthedocs.org/dashboard/airr-standards/domains/, edit your custom domain, and re-save it. This should re-request a new certificate for your domain.

When did you add this domain to Read the Docs? It looks like previous request timed-out and/or failed presumably because the DNS was recently changed. As a result, the certificate needs to be requested again. Editing

[2018-08-13 20:33] davidfischer commented on #4511
I added some clarifications in #4514.

[2018-08-13 20:49] davidfischer commented on #4403
In my limited testing, pypy had much better build performance from a time perspective. See https://github.com/rtfd/readthedocs.org/issues/3870.

[2018-08-14 15:36] laserson commented on #4511
Looks like that worked.  Thanks!

[2018-08-14 15:36] #4511 closed

[2018-08-14 15:44] timgraham opened #4519 "Add 2.1.x version alias for Django docs"
## Details
- Project URL: https://readthedocs.org/projects/django/
## Request
As in https://github.com/rtfd/readthedocs.org/issues/2285, please add version 2.1.x as an alias for the stable/2.1.x branch just like have for other branches.

[2018-08-14 15:53] stsewd commented on #4519
This would be soon possible from the admin panel https://github.com/rtfd/readthedocs.org/pull/4505, btw, aren't the django docs hosted in https://docs.djangoproject.com/?

[2018-08-14 16:53] timgraham commented on #4519
Yes, we use readthedocs as a backup and for PDFs/offline versions downloads.

[2018-08-14 17:29] agjohnson opened #4521 "Use <slug>.readthedocs.io for suggested custom domain endpoint"
Our custom domain directions tell people to CNAME to readthedocs.io. One idea that might be nice is to have them CNAME to <slug>.readthedocs.io. This would let us configure DNS for a single domain rather than making large changes.

In order for this to work, we need to tweak our Cloudflare settings to have the "orange cloud" for *.readthedocs.io. Projects that already proxy through cloudflare and

[2018-08-14 17:34] davidfischer commented on #4521
There is a ticket with solutions for users experiencing issues with Cloudflare #4395.

[2018-08-14 17:41] davidfischer commented on #3564
This is now resolved. After we moved all our static media to `assets.readthedocs.org` which is served by Azure's CDN solution all static assets serve with correct gzip settings.

[2018-08-14 17:41] #3564 closed

[2018-08-15 13:18] humitos commented on #4519
Hi @timgraham! As @stsewd mentioned this will be possible soon. Please, follow #4505 to know when it's merged and our changelog (http://docs.readthedocs.io/en/latest/changelog.html) to know when it's deployed.

We are in a development-freeze week because we are migrating servers (https://blog.readthedocs.com/azure-migration/). So, I estimate that this feature will be available in 2 weeks.

If that

[2018-08-15 13:40] timgraham commented on #4519
It would be nice to have this addressed asap since Django 2.1 has been released since August 1 and we have some broken links on our site without this.

[2018-08-15 14:11] humitos commented on #4519
@timgraham I just manually created the version `2.1.x` for you and triggered a build of this version. It's building at https://readthedocs.org/projects/django/builds/7640924/

You can see this version at https://django.readthedocs.io/en/2.1.x/ when the build finishes.

Let me know if you find something weird or broken after this. Hopefully I didn't break anything.

[2018-08-15 14:31] dmalan commented on #3282
Hi @davidfischer, all, just wanted to check if deployment of 302 (or 301) redirects is still pending for docs using non-custom `subdomain.readthedocs.io` URLs? Is there any way we can induce on our end in the meantime, as via `.readthedocs.yml` or such? Afraid I only saw HTTPS settings under *Admin* for custom domains. Thank you!

[2018-08-15 14:44] humitos commented on #4519
Glad to hear that! :smiley:

[2018-08-15 15:04] davidfischer commented on #3282
Currently all this check box does is ensure that the link generated for custom domains is HTTPS. This is already the case for all `*.readthedocs.io` sites.

[2018-08-15 15:11] dmalan commented on #3282
Ah, are there still plans to issue 302 (or 301) redirects for visits to `http://*.readthedocs.io/*`?

[2018-08-15 15:43] stsewd opened #4523 "Use `ignore` keyword to ignore the requirements file"
Currently, we use `''` empty string to rtd ignore completely a requirements file, we can't use null, as that behavior is for automatically find a requirements file.

We have a suggestion to use a `ignore` keyword for this, as we use the `all` keyword for formats

Ref to https://github.com/rtfd/readthedocs.org/pull/4451#discussion_r210291258

[2018-08-15 16:29] davidfischer commented on #3282
Thanks for reminding me. This is live as a 302.

[2018-08-15 16:35] jab commented on #3059
Looks like https://foo.rtfd.io is working now! 🎉
Close?

[2018-08-15 16:35] davidfischer commented on #3282
I'm going to make a PR right now that changes the 302 to a 301 but my plan is to not merge that for a couple weeks to a month in case I see any reported issues.

I'm closing this though as we are now redirecting.

[2018-08-15 16:35] #3282 closed

[2018-08-15 16:39] davidfischer commented on #4135
Just to give an update here, we are now redirecting to HTTPS for `*.readthedocs.io`. We are not yet doing that for custom domains.

[2018-08-15 16:40] davidfischer commented on #1190
We are now redirecting HTTP -> HTTPS for all `*.readthedocs.io` domains. I think we can now close this.

[2018-08-15 16:40] #1190 closed

[2018-08-15 16:43] davidfischer commented on #3059
Yes. We deployed that today.

We can close it. I'm working on getting a wildcard cert for `*.rtfd.org` as well although I think fewer people are using that.

[2018-08-15 16:43] #3059 closed

[2018-08-15 16:45] davidfischer commented on #3282
The last step of this 5 step plan is being tracked in https://github.com/rtfd/readthedocs.org/issues/2652. This is a bit trickier as it requires a database lookup or API call to know if we have a certificate for any specific domain.

[2018-08-15 16:53] davidfischer commented on #2652
There is a checkbox in the admin now.

[2018-08-15 16:56] ivankravets commented on #2652
@davidfischer do you have any ideas why it does not redirect from http://docs.platformio.org to https://docs.platformio.org? However, it redirects from "nested" pages.

P.S: I enabled HTTPS for docs.platformio.org

[2018-08-15 17:15] davidfischer commented on #2652
There are no redirects in place for custom domains. Right now, all that checkbox does is make all the "view docs" links anywhere on Read the Docs an HTTPS link. The plan is to use that checkbox to do HTTPS redirects but that is not in place today.

[2018-08-15 17:30] stsewd opened #4525 "Refactor config models to dataclasses"
Currently, we are using namedtuples. A problem with this is that you can't have default values when we move to python3 in production (3.7) we can refactor those to dataclasses.

Pros:

- Default values
- Type hints
- Less repetition
- Our code looks more cool :sunglasses:

ref https://github.com/rtfd/readthedocs.org/pull/4456#discussion_r207318041

[2018-08-15 18:36] davidfischer commented on #3226
I have no idea if this is still needed but I would like to get rid of it.

* As far as I can tell, nothing Read the Docs does relies on this.
* It is not included by Sphinx by default in local docs builds.
* MkDocs builds on Read the Docs do not include this at all.
* Removing it would simplify https://github.com/rtfd/readthedocs-sphinx-ext

[2018-08-15 18:37] dmalan commented on #3282
Thanks very much! Working well so far!

[2018-08-15 19:00] stsewd commented on #4523
from https://github.com/rtfd/readthedocs.org/pull/4456#discussion_r210366634

[2018-08-15 21:38] humitos commented on #3286
@paulproteus are you still experimenting this issue?

[2018-08-15 21:45] humitos commented on #2810
Hi @colomet! I re-activate your account.

I'm closing this issue. Let me know if you have any problem with it.

[2018-08-15 21:45] #2810 closed

[2018-08-15 21:47] humitos commented on #2320
@stsewd I suppose that merged branches are safe to remove.

[2018-08-15 22:40] humitos commented on #2740
hi @lhadjchikh! I just triggered a new build for your project using `latest` and I found that the problem of the memory is when building `readthedocssinglehtmllocalmedia`. I recommend you to disable these formats using https://docs.readthedocs.io/en/latest/guides/build-using-too-many-resources.html#reduce-formats-you-re-building

Please, let me know if doing that solves your problem of memory/

[2018-08-15 22:41] stsewd commented on #2320
I just delete all merged branches, what a relief! `git fetch --prune`

[2018-08-15 22:42] stsewd commented on #2320
There are a lot of branches from closed PRs too

[2018-08-15 22:45] humitos commented on #2258
The first one from the list is solved at #3312

I'm not sure to understand the resolution for this. If the request from the builder fails when hitting the API with a 5xx, what we can do?

[2018-08-16 03:48] wilsonyou opened #4527 "Failed to create PDF build in readthedocs"
The original docment was written in Chinese.

1. Failed to build a PDF file
2. The links in html files did not work

Read the Docs project URL:
https://readthedocs.org/projects/bumodoc/builds/7644052/

github URL:
https://github.com/bumoproject/bumo/tree/wilsonyou-patch-1

When I tried to build a PDF build, it failed and the following error message was displayed.

! Package inputenc Error: Unicode

[2018-08-16 05:32] wilsonyou commented on #4527
@stsewd

I tried some methods as you suggest, but it did not work.

Previously I build the doc written in English, it works.

We need to generate PDF files.

But now when the doc is Chinese, it seems some characters readthedocs cannot parse.

Could you provide some suggestions on how to configure the conf.py or the Admin?

Thanks

[2018-08-16 05:34] stsewd commented on #4527
As the linked issue, there isn't a solution right now :/

[2018-08-16 05:40] wilsonyou commented on #4527
@stsewd
If the hyperlink does not,  i have to accept that.

But I hope the pdf problem can be solved.

[2018-08-16 05:47] wilsonyou commented on #4527
@stsewd

Could you help to figure out what happened to the hyperlink. Because the hyperlink works in github and after i push the doc to readthedocs, the hyperlink does not work

[2018-08-16 05:58] stsewd commented on #4527
Which hyperlink?

[2018-08-16 06:05] wilsonyou commented on #4527
@stsewd
https://bumodoc.readthedocs.io/zh_CN/wilsonyou-patch-1/docs/keypair%E6%89%8B%E5%86%8C.html#protobuf%E6%95%B0%E6%8D%AE%E7%BB%93%E6%9E%84
But when you check the hyperlinks in the file on github, they work.
https://github.com/bumoproject/bumo/blob/wilsonyou-patch-1/docs/keypair%E6%89%8B%E5%86%8C.md

[2018-08-16 06:30] stsewd commented on #4527
Oh, I see, the anchor links to the same document don't work, looks like the Chinese characters are removed from the anchor. I just found this https://github.com/rtfd/recommonmark/issues/83, can you check if the given workaround works for you?

[2018-08-16 06:45] wilsonyou commented on #4527
@stsewd

Thank you, i will check out.

Do you have a solution to parse the encoding in the doc?

[2018-08-16 07:35] wqh17101 opened #4528 "Some weird exceptions when building"
## Details

* Read the Docs project URL: https://readthedocs.org/projects/matchzoo
* Build URL (if applicable): https://readthedocs.org/projects/matchzoo/builds/7644468/
* Read the Docs username (if applicable):wqh17101

## Expected Result

*A description of what you wanted to happen*
Get a doc normally

## Actual Result

*A description of what actually happened*
[code]
I build it locally and got

[2018-08-16 07:47] stsewd commented on #4528
If the error happens locally, then this isn't a rtd problem, this issue tracker is for problems related to rtd only.

Anyway, from the first error looks like you need to run your project with python3.5, not 3.6

[2018-08-16 07:55] wqh17101 commented on #4528
DId you mean that the problem was caused by tensorflow with py3.6?
https://readthedocs.org/projects/matchzoo/builds/7623201/
As you can see the last successful one had the same warning. @stsewd

[2018-08-16 12:10] orenbenkiki opened #4529 "Display actual version number (possibly a new feature request)"
I posted this on stack overflow https://stackoverflow.com/questions/51840964/showing-the-version-number but got no answers.

**TL;DR**:

How do I make read-the-docs show the actual version number instead of the word "latest" or "stable" in the top-left of the documentation pages?

For the best of both worlds, it should say something like "latest v0.1.2".

**Details**:

I have a Python project, and

[2018-08-16 17:16] davidfischer commented on #4402
Ok, thanks. This is good feedback. I was detecting an ad blocker by the ad request returning a 404. I guess I'll need a better method. I want to avoid [something heavy](https://github.com/sitexw/FuckAdBlock).

[2018-08-16 18:39] stsewd opened #4530 "Change validation message"
This line contains a wrong error message

https://github.com/rtfd/readthedocs.org/blob/79032b53b0aa75bce4d4a522c7f4771db730aa6c/readthedocs/config/config.py#L448-L452

 should be changed to a more accurate one, or even better, use the new validator `validate_dict` as we do in other places

https://github.com/rtfd/readthedocs.org/blob/79032b53b0aa75bce4d4a522c7f4771db730aa6c/readthedocs/config/conf

[2018-08-16 19:00] davidfischer commented on #3059
There is now a cert for `*.rtfd.org` as well.

[2018-08-16 19:00] davidfischer commented on #328
There is a cert for `*.rtfd.org` as well now.

[2018-08-16 19:34] stsewd commented on #4528
I didn't know that, looks like there is something wrong in the code

Or maybe you are using features that aren't available in python 3.6 or there is a missing dependency. I'll recommend you to first try to fix the problem locally, closing as this isn't a rtd problem.

[2018-08-16 19:34] #4528 closed

[2018-08-16 19:51] stsewd commented on #4529
I'm attaching an image to be clear

![screenshot_2018-08-16 welcome to twine s documentation twine 1 11 0 documentation](https://user-images.githubusercontent.com/4975310/44230953-3e5dc600-a162-11e8-98b4-56ecaa3c01b7.png)

We only set the version value when there isn't a conf.py file https://github.com/rtfd/readthedocs.org/blob/79032b53b0aa75bce4d4a522c7f4771db730aa6c/readthedocs/templates/sphinx/

[2018-08-16 19:55] stsewd commented on #3587
@pdp7 Thanks for the update!

[2018-08-16 19:55] #3587 closed

[2018-08-16 20:02] stsewd commented on #4527
Sorry, I don't know what you mean with that

[2018-08-17 01:12] wilsonyou commented on #4527
@stsewd

I want to build a PDF file, but the readthedocs could not parse some characters in my documentation. So could you help me to solve this issue.
The following are some error codes:
1]

! Package inputenc Error: Unicode char 发 (U+53D1)
(inputenc)                not set up for use with LaTeX.

See the inputenc package documentation for explanation.
Type  H <return>  for immediate help.
 ...

[2018-08-17 01:14] wilsonyou commented on #4527
@stsewd  You told me that I can deselect the "generate PDF" option, I tried and it really worked.
But now my question is that I need the pdf file. So, please help me on this issue.
You can also refer to the following link:
https://readthedocs.org/projects/bumodoc/builds/7644690/

[2018-08-17 01:29] wilsonyou commented on #4527
@stsewd
Thank you. When this function can be available? Do you have a plan?

[2018-08-17 02:34] stsewd commented on #4527
We don't have any plan, but I will try to see if the team can give priority to that issue (probably not soon as the team is really busy right now because we are migrating rtd to azure).

But I let you know that it could take a while, as we need to install the program in the latest docker image, then wait to release that image and finally change our code

Closing as there are other issues that trac

[2018-08-17 02:34] #4527 closed

[2018-08-17 06:42] strophy opened #4536 "Build project with --character-level-inline-markup option for CJK languages"
## Details

This issue is regarding a Chinese translation of English documentation. reStructuredText requires spaces around markup, but the written Chinese language does not use spaces between words. This results in Chinese documentation with spaces around links where there should be none. The same problem exists for Korean and Japanese (CJK languages). This is addressed for CJK languages in docut

[2018-08-17 17:01] stsewd commented on #4536
Looks like you can scape the spaces `\ `, why that doesn't work for you? I think we depend on sphinx here to pass the `--character-level-inline-markup` option

[2018-08-17 18:14] #4402 closed

[2018-08-17 19:34] JohnStrunk commented on #4314
Because I landed here after having my RTD build break w/ `strict: true`...
Changing the `mkdocs.yml`:
[code]
to
[code]
fixes the issue (and lets you keep `strict`)
Ref: https://github.com/gluster/anthill/pull/37

[2018-08-18 17:12] remyabel opened #4538 "Pip dependency"
## Details

The [installation guide](https://docs.readthedocs.io/en/latest/install.html) suggests that you need pip >= 1.5, but this is not true. As of the latest commit, the required version is 10.0.1. Even when running `pip install -r requirements.txt` in a virtualenv, it will try to uninstall the system-wide pip and upgrade. I see that the pip requirements using `pur` such as in 3c02f8feb0ecc93

[2018-08-18 17:42] stsewd commented on #4538
That's curious, I don't think I have experienced that before. I think we use `pip` as a dependency to build projects locally (we use docker images in production).

The main reason we pin pip is because we use some options that are only available in some pip versions.

[2018-08-18 17:50] remyabel commented on #4538
Something must be screwy on my end. I redid the virtualenv and it's using the correct pip now.

[2018-08-18 17:50] #4538 closed

[2018-08-18 23:41] paulproteus commented on #3286
Testing it now. I expect whatever peovlel I had 9 months ago is fixed now. If you don't hear back from me in a day or two, it's probably safe to close the issue. Cheers!

[2018-08-19 08:38] Pravandan opened #4540 "Integration of Apache Solr to power search"
## Details

As of now no search engine is seemed to be used and also when a user searches it loads an entire new page, but with integration of Apache Solr we can have an AJAX request to display search results, on the same web page on which the user is currently present.

## Expected Result

Using Apache Solr to display the search results on the same page.

[2018-08-19 13:40] JoyMonteiro opened #4541 "Build Failed, asked to report"
## Details

* Read the Docs project URL: https://climt.readthedocs.io
* Build URL (if applicable): https://readthedocs.org/projects/climt/builds/7657398/

## Expected Result

Due to an issue with pandas and pip, I decided to add the yaml config file to use python 3.6
for installation. I expect the docs to build not, since nothing has changed since when it was
building successfully.

## Actual Resu

[2018-08-19 13:55] humitos commented on #4541
I took a look at the logs, and this problem is exactly the same as #3900

I will need to research a little more to propose a solution. I tried to replicate it by myself and I wasn't able. Maybe, I can try with your project locally and see if I can fix it.

[2018-08-19 14:07] humitos commented on #3900
I can't reproduce this locally, even knowing that in production fails with project `climt`. I think it worth a test with the same database we have in production: Postgres 9.3

[2018-08-19 16:28] JoyMonteiro commented on #4541
Thanks for looking into it, following the other thread...

[2018-08-19 17:31] stsewd commented on #4540
Actually, we use Elastic Search to power the search in projects, I think there are some plans to implement this feature soon. /cc @safwanrahman

[2018-08-19 17:46] agjohnson commented on #4540
Yeah, we use ES, so I don't think we'd switch backends at this point.

[2018-08-19 17:46] #4540 closed

[2018-08-19 18:36] safwanrahman commented on #4540
I dont think its needed to change the Search Engine of Read the Docs to Solr.
As we are already using Elasticsearch, we are thinking in #504 to implement Search As You Type functionality!

[2018-08-19 20:13] safwanrahman commented on #3195
Seems like this issue has been resolved. [django-bootstrap4](https://readthedocs.org/projects/django-bootstrap/) now belongs to @dyve. Thanks a lot for hosting your documentation at Read The Docs.

[2018-08-19 20:13] #3195 closed

[2018-08-19 20:15] safwanrahman commented on #4005
Seems like this issue has been resolved!

[2018-08-19 20:15] #4005 closed

[2018-08-20 04:52] dyve commented on #3195
👍 Yes, this has been handled very well, thanks all!

[2018-08-20 05:43] stsewd commented on #4536
You may want to create an issue on the sphinx repo

[2018-08-20 15:59] marcelstoer commented on #4314
@JohnStrunk not sure if this is a catch-all solution. I noticed that on https://nodemcu.readthedocs.io/en/latest/ the fly-out menu bottom left is gone/broken (used the above snippet).

[2018-08-20 17:49] stsewd opened #4543 "Drop python 2 support"
We are already running python3 in production and python2 support is ending. We can drop the python2 compatibility layer (from isort for example), and also don't run python2 on Travis, instead start testing with python 3.7

[2018-08-20 18:49] jorisvandenbossche commented on #4071
Yes, it seems to work now. Thanks, closing then!

(back in July, I still saw some intermittent failures, but at least when re-triggering a build it sometimes passed. However, I am not sure it was related to a time-out, because when it passed, it was not close to the limit)

[2018-08-20 18:49] #4071 closed

[2018-08-20 19:07] RichardLitt commented on #4538
@remyabel Thanks for following up and letting us know.

[2018-08-20 19:54] JordonPhillips opened #4546 "Redirect botocore and boto3 doc pages"
## Details

We would like for the boto3 and botocore docs to be redirected to the following sites:

* botocore: https://botocore.amazonaws.com/v1/documentation/api/latest/index.html
* boto3: https://boto3.amazonaws.com/v1/documentation/api/latest/index.html

Preferably in such a way that links still go to the right place. The url path is a bit different, but everything after latest follows the sam

[2018-08-20 20:02] stsewd commented on #4546
For that you only need to remove the webhook from the project admin page (`Admin` -> `Integrations` -> select integration -> click on delete).

For the redirects, I'm not sure, but maybe #4501 could help

[2018-08-20 21:57] JordonPhillips commented on #4546
Thanks! I went ahead and removed the webhooks. The redirect looks like it's probably working. Error pages are getting redirected, though the content pages are not. Hopefully that's due to CDN caching.

[2018-08-21 05:29] marcelstoer commented on #4314
Nevermind, it's actually the same issue I noticed already back in January: https://groups.google.com/d/topic/mkdocs/v7AVbeB105w/discussion. It broke when RTD moved the default MkDocs version to >= 0.16 (currently 0.17.3).

1. I'll report it as a separate issue here
2. @davidfischer I'd like to register our NodeMCU project as one of the MkDocs projects you verify the correctness of your changes aga

[2018-08-21 05:36] marcelstoer opened #4549 "Fly-out menu broken from MkDocs projects"
This is a follow-up to https://github.com/rtfd/readthedocs.org/issues/4314#issuecomment-414554221

## Details

* Read the Docs project URL: https://nodemcu.readthedocs.io/en/latest/en/lfs/
* Build URL (if applicable): https://readthedocs.org/projects/nodemcu/builds/7653466/

## Expected Result

* The usual fly-out menu bottom left

## Actual Result

* No fly-out menu, just a GitHub link and previo

[2018-08-21 06:11] JoyMonteiro commented on #3900
is there anything that can be done from my end? Can I modify something in my docs or build process to
 prevent these nulls from appearing in the output?

We just did a major refactor and I would like to update the docs to reflect it.

[2018-08-21 09:00] jfbu commented on #4454
For pdflatex engine, Sphinx 1.8 still uses makeindex per default even for non-English (non-Japanese) documents. But for xelatex/lualatex it will use xindy because makeindex is incompatible with UTF-8.

[2018-08-21 13:44] arsenovic commented on #4320
@humitos  any idea of when this could be solved?  possible solutions;
1. we can pay for more memory
2. RTD makes  option to only build tagged versions, but with more memory allocated
3.  RTD increases mem limit

i dont think our docs can be trimmed down in memory, because of the format we are using (jupyter notebooks in sphinx with nbsphinx).

without a fix, i am afraid we are going to  have to mo

[2018-08-21 14:38] ericholscher opened #4550 "Remove symlinks and serve static files with Python"
Currently all of our documentation pages are served by Nginx. We maintain this with a web of symlinks that is pretty error prone and hard to maintain. We also throw a large number of errors in these code paths, trying to manipulate the filesystem in wonky ways.

We currently already have a pattern that solves this problem: Sendfile. It allows us to handle processing of the request in Python, but s

[2018-08-21 15:45] ericholscher commented on #4543
I'm +1 on this. The corporate side is still Python 2, so that is the primary blocker currently, but I'm +1 on it after that.

[2018-08-21 16:45] stsewd commented on #4549
I guess that is because of https://github.com/rtfd/readthedocs.org/issues/4448

Not sure about the problem with your docs :/

[2018-08-21 16:46] agjohnson opened #4551 "Change our mock docs to use sphinx"
We have some clumsy code around mocking dependencies. We should point to `autodoc_mock_imports` instead.

http://www.sphinx-doc.org/en/master/usage/extensions/autodoc.html#confval-autodoc_mock_imports

[2018-08-21 16:57] stsewd commented on #4551
The related docs are on https://docs.readthedocs.io/en/latest/faq.html#i-get-import-errors-on-libraries-that-depend-on-c-modules

[2018-08-21 17:16] JordonPhillips commented on #4546
We could try running a build where we have no contents, but we'd still end up with a root index that wouldn't redirect. If we just deleted the project then we wouldn't have redirects at all, and I'm not terribly confident that we'd be able to recreate the project.

[2018-08-21 17:51] marcelstoer commented on #4549
#4448 isn't exactly the same as it mentions changes for MkDocs 1.0. The fly-out broke with your 0.15.x to 0.17.3 upgrade. It means it's currently broken for all MkDocs projects, I assume, that don't explicitly downgrade MkDocs via `requirements.txt` or so.

[2018-08-21 18:01] stsewd commented on #4549
We don't have the `Mkdocs` label anymore, `Needed replication` means that someone else can replicate the issue. mkdocs is using the install option, so they are using that version to build the docs (1.0.1)

[2018-08-21 18:05] humitos commented on #4320
@arsenovic I'm working on a solution for this. Since it involves some changes in the server architecture it may take some days and testing to be stable and reliable.

I've already proposed a solution to the team and I'm waiting for some feedback on it. I'll come back to you when I have this reviewed, deployed and tested.

[2018-08-21 18:05] stsewd commented on #4549
Yep, I can confirm that https://github.com/mkdocs/mkdocs/pull/1571

[2018-08-21 19:32] stsewd commented on #4549
I think this bug was introduced in https://github.com/rtfd/readthedocs.org/pull/4499/files, I'm investigating

[2018-08-21 19:40] #4507 closed

[2018-08-21 19:42] humitos commented on #3407
Closing as stale. Please, ping me if you need more help with this.

[2018-08-21 19:42] #3407 closed

[2018-08-21 20:07] humitos commented on #3014
@psi29a we changed some settings in our servers and we are testing if we can offer more memory for projects that were having this kind of issues. So, I increased the memory available for `openwm` and I'd like you to re-enable breath/doxygen so we can see that it builds properly.

Please, keep me informed. Thanks!

[2018-08-21 20:10] humitos commented on #4320
@arsenovic the solution was just deployed and we are testing it now. I've already enabled this change into your project and triggered a new build. It passed.

I'd like you to keep an eye on these builds and let me know if you find any issue while building regarding memory issues. Thanks!

[2018-08-21 21:54] davidfischer commented on #4549
They are building with MkDocs 1.0+. I think the issues are related to that. I outlined some of the issues we have with MkDocs 1.0 here: https://github.com/rtfd/readthedocs.org/issues/4448

[2018-08-22 00:01] davidfischer commented on #4314
@marcelstoer I'll definitely check your project going forward.

[2018-08-22 00:32] JordonPhillips commented on #4546
Thanks! I'll give that a try. Since it'll just be the index remaining I can put a meta refresh in to redirect that particular page. Not ideal, but shouldn't be too bad since 99% of pages won't have to go through that.

[2018-08-22 00:35] davidfischer commented on #4549
I am going to move https://github.com/rtfd/readthedocs.org/issues/4448 up my priority list and try to get a PR as soon as possible. There have been some significant compatibility problems between Read the Docs and mkdocs and a lot of them stem from different users using different versions of mkdocs and the difficulty in testing that. It also doesn't help that the mkdocs Read the Docs theme is outs

[2018-08-22 04:32] pradyunsg commented on #1543
I request reconsidering the addition of this in the YAML file. I'm currently working on reorganizing pip's documentation, to simplify the build process. This reorganization is intended to split up pip's man pages and html pages.

I want to be able to specify the source directory (either docs/html or docs/man) while pointing to the same conf.py (docs/conf.py) file.

I disagree.

Sphinx allows speci

[2018-08-22 04:44] davidfischer commented on #4549
I figured out exactly what the problem is and why our [template overrides](https://github.com/rtfd/readthedocs.org/tree/master/readthedocs/templates/mkdocs/readthedocs) weren't taking effect (which in turn broke the flyout menu). The problem is that the `--theme` option changed slightly with 0.17. Starting in 0.17, it seems like passing the `--theme` option to mkdocs (as Read the Docs [currently d

[2018-08-22 06:15] psi29a commented on #3014
I'll give it a spin when I have time. Cheers!

[2018-08-22 09:53] hugohadfield commented on #4320
@humitos thank you so much for the support, I am a big fan of read the docs and glad to be able to keep using it!

[2018-08-22 11:58] humitos commented on #4546
Hi @JordonPhillips! I'm working on a solution for this. I'll add the redirect at NGINX level. After that we can test if it's working as you expect.

[2018-08-22 14:48] humitos opened #4555 "Validate user input URLs on redirect form"
There are cases where allowing the user to input a `To URL` without a leading slash produce weird redirects. See https://github.com/rtfd/readthedocs.org/pull/4501#issuecomment-414677186

Besides the case described in that comment, there are other that needs to be validated. For example when we redirect to external sites, this should allow a URL that starts with `http` for example.

I pushed a comm

[2018-08-22 15:59] #2444 closed

[2018-08-22 15:59] #3794 closed

[2018-08-22 15:59] #4029 closed

[2018-08-22 16:10] humitos commented on #3014
I found our queue routing wasn't working properly. So, although your project is properly configured to have more resources available, it's not going to the correct Celery queue.

This will be fixed once #4553 gets merged and deployed. I'm sorry for the confusion.

[2018-08-22 16:31] JordonPhillips commented on #4546
That would be awesome! We were about to merge a PR in a branch with empty docs an an html redirect, but an nginx level redirect would be much better. How long do you expect it would take?

[2018-08-22 16:33] agjohnson commented on #1543
I think the workaround above still stands. You can have a single `conf.py` with the per-directory `conf.py` that doesn't need to be edited. We are trying to keep bloat out of our yaml config, this particular case isn't common enough for us to warrant the work to add this feature.

Is there a reason using `conf.py` as a package doesn't work for your case? For example, some untested pseudo sphinx co

[2018-08-22 17:01] pradyunsg commented on #1543
Of course, it works. I'm actually going to not do a duplicated import and moved the file to the HTML directory, letting RTD build the HTML docs since the man pages are anyways going to not be built on RTD.

I'll withdraw my proposal - the workaround is simple enough in nearly all cases and there is no need to ask for low-benefit work from others. :)

[2018-08-22 17:52] davidfischer commented on #4549
I have a PR along the lines of what I discussed above: https://github.com/rtfd/readthedocs.org/pull/4556 Any feedback on that PR is welcome.

[2018-08-22 18:44] #4109 closed

[2018-08-22 19:47] vcalderon2009 opened #4557 "Wrong badge status in README.rst file, but correct status in RTD documentation"
## Details

* Github Project URL: https://github.com/vcalderon2009/ECO_Mocks_Catls_CAM
* Read the Docs project URL: https://readthedocs.org/projects/eco-mocks-catls-cam/
* Build URL (if applicable): https://eco-mocks-catls-cam.readthedocs.io/en/latest/
* Read the Docs username (if applicable): **vcalderon**

## Expected Result

Build status badge on the **README.rst** in the root directory shows u

[2018-08-22 19:57] stsewd commented on #4557
The problem is that github is caching the badge with a control-cache header with `max-age=31536000`. The badge does a have a contro-cache header, but it redirects to the new azure storage https://rtdcommunitypublic.blob.core.windows.net/static/projects/badges/passing-flat.13d664e1afd7.svg, which doesn't have a control-cache header, I suppose that there is the problem, I think this can be configure

[2018-08-22 20:09] vcalderon2009 commented on #4557
In that case, do you know if that is something that I can fix on my end? Or are Github/Microsoft the only ones with the ability to fix the caching-issue?

[2018-08-22 20:13] stsewd commented on #4557
Sadly there is nothing users can do here, hope the rtd team can find the setting to fix this in the Azure storage.

[2018-08-22 20:13] humitos commented on #4546
The PR is already done and reviewed. I need to make a change and it will be ready to be deployed. I'd say a couple of days as much.

[2018-08-22 20:15] vcalderon2009 commented on #4557
That makes sense. In that case, I'll wait and hopefully it can be fixed.

But thanks again!

[2018-08-22 20:44] humitos commented on #4557
Just linking some prior art on this, #3323

[2018-08-22 21:14] davidfischer commented on #4557
As @stsewd suggested, the final URL (`https://rtdcommunitypublic.blob.core.windows.net/static/projects/badges/passing-flat.13d664e1afd7.svg`) does not set the cache control header.

I see two oddities here but hopefully we can resolve them quickly. Firstly, the code to handle [redirecting to the badges](https://github.com/rtfd/readthedocs.org/blob/d981d0b/readthedocs/projects/views/public.py#L124)

[2018-08-23 09:48] #4418 closed, assigned to stsewd

[2018-08-23 12:26] vin-ni opened #4560 "Templating {{ super() }} doesn't return body but articleBody"
## Details

I'm using the readthedocs template and need a class on the body or a bodywrapper, so I can apply custom styles to a certain page. I'm using the layout.html to add to the template, but the wrapper is around `articleBody`. Any other way I could add a special refference class to the body?

The documentation says, `document` returns the body.

My Code in layout.html is:

[code]

## Expecte

[2018-08-23 12:34] vin-ni commented on #4560
Ok, I found a solution. I just went into the original layout.html and added
`<body class="wy-body-for-nav" id="{{pagename}}">`

[2018-08-23 16:04] humitos commented on #4560
@vin-ni thanks for reporting this and sharing the solution.

I'm closing the issue here, but feel free to reopen if you need further help with this.

[2018-08-23 16:04] #4560 closed

[2018-08-23 19:14] vin-ni opened #4563 "Retrieving variables via rst works offline not online"
## Details

I'm setting variables via the rst and use them in *layout.html*. It works fine locally, but throws an error with readthedocs online.

The rst:

[code]
and I retrieve it in the layout.html like that:
[code]

## Expected Result

The project builds and uses the variable as an id. As when I build it with `make clean html`

## Actual Result

The build fails with the following error:
`An err

[2018-08-23 19:20] stsewd commented on #4563
Please provide the build url of your rtd project. I'm not familiar with using variables in sphinx, but I guess this is because you are using another sphinx version locally.

[2018-08-23 19:31] humitos opened #4564 "Improve Manage Translations guide"
#4470 went live today at https://docs.readthedocs.io/en/latest/guides/manage-translations.html and I like that.

Although there are more ideas to improve this that should be good to have:

 - [ ] mentioning poedit https://github.com/rtfd/readthedocs.org/pull/4470#discussion_r208104820
 - [ ] write a guide per service https://github.com/rtfd/readthedocs.org/pull/4470/files#r208261091

[2018-08-23 19:48] vin-ni commented on #4563
I currently took it out, as I'm adding other stuff.
https://vinnireaddocstest.readthedocs.io/en/latest/

How can I compare the versions?

[2018-08-23 20:03] stsewd commented on #4563
On rtd, in the sphinx-build step, you can see `Running Sphinx v1.7.7`. Locally you can see something similar on the output or just run `sphinx-build --version`

[2018-08-23 20:05] vin-ni commented on #4563
I'm using `1.7.5`. Can I downgrade the online version?

[2018-08-23 20:06] stsewd commented on #4563
Yeah, you can use a `requirements.txt` file, and setup rtd to use it (from the web interface or using a configuration file) https://docs.readthedocs.io/en/latest/guides/specifying-dependencies.html

[2018-08-23 20:14] vin-ni commented on #4563
Can I set it directly in the web interface or do I need to write a requirements.txt?

[2018-08-23 20:16] stsewd commented on #4563
You need to write the requirements file, also is a good idea to pin the sphinx version in a requirements file, as we constantly update the default sphinx version.

[2018-08-23 20:17] vin-ni commented on #4563
Like that: `sphinx>=1.7.5` ?
How can I check the online version of Sphinx?
(Sorry for so many questions. Using it for the first time)

[2018-08-23 20:27] vin-ni commented on #4563
Unfortunately still fails with the same error.
[code]

[2018-08-23 20:28] vin-ni commented on #4563
I have a feeling, that this is the issue in the layout.html code.
`meta.viewkeys()`

[2018-08-23 20:31] vin-ni commented on #4563
Maybe you have another idea what I'm trying to achieve:
I just want to pass a custom id to the body of each page via the rst file so I can use it in the custom css.

[2018-08-23 20:41] stsewd commented on #4563
Not sure what kind of data type is meta, but if it's a python like dict, you can try `{%- if bodyCssID_key in meta %}`

[2018-08-23 20:43] vin-ni commented on #4563
I got it from [stackoverflow](https://stackoverflow.com/a/26691408/1779355).

Apparently you don't need the meta?

[2018-08-23 20:46] stsewd commented on #4563
Looks like a little old, but you say that does work locally

[2018-08-23 20:46] vin-ni commented on #4563
Yes

[2018-08-23 20:47] markcmiller86 opened #4565 "Builds failing with message to report it"
## Details

Builds are failing with this message...

Error

There was a problem with Read the Docs while building your documentation. Please report this to us with your build id (7681147).

* Read the Docs project URL: https://readthedocs.org/projects/visit-sphinx-python-manual/
* Build URL (if applicable): https://readthedocs.org/projects/visit-sphinx-python-manual/builds/7681147/

## Expected Re

[2018-08-23 20:50] stsewd commented on #4563
what python version are you running locally? on rtd you are running 2.7. You can change that in your project's admin panel.

[2018-08-23 20:51] vin-ni commented on #4563
I tried that I think.
Local Version `2.7.15`

[2018-08-23 21:30] stsewd commented on #4565
Although the correct error should be shown, I got this traceback

[code]

Investigating...

[2018-08-23 22:29] markcmiller86 commented on #4565
@stsewd Thanks so much for looking into this! That said, I use pretty much the identical conf.py file in another RTD hosted project without issue, https://readthedocs.org/projects/visit-sphinx-user-manual.

As an aside, can you recommend best way to run sphinx locally to emulate/duplicate behavior of RTD?

[2018-08-23 22:34] stsewd commented on #4565
The main problem with this project is that it has 2 conf.py files, then rtd first tries to load the one from the admin panel, which doesn't exist, then it tries to find one for itself, it found 2 (conf.py and tests/conf.py). So it raises an exception instead of choosing one.

About your other question, you can run the same commands that are shown in the build page.

[2018-08-23 22:39] markcmiller86 commented on #4565
Ok, super. Thx. Fixed now and its generating!

[2018-08-23 22:39] #4565 closed

[2018-08-24 17:00] stsewd commented on #4543
Just linking to some tools that can help with the cleanup

- https://github.com/asottile/pyupgrade

[2018-08-24 17:49] stsewd commented on #3841
https://github.com/rtfd/readthedocs.org/pull/3913/ was merged and released, this should be fixed by re-building another version that isn't stable (that way the versions are refreshed). Let me know if you still have this problem to reopen the issue.

[2018-08-24 17:49] #3841 closed

[2018-08-24 17:54] stsewd commented on #3733
I think we already decide that this is correct or I maybe I don't remember... But what is for sure that privacy levels are going to be removed. Not sure if you want to keep this issue open.

[2018-08-24 18:02] stsewd commented on #3697
The guide was merged, you can see it in https://docs.readthedocs.io/en/latest/custom_installs/elasticsearch.html

[2018-08-24 18:02] #3697 closed

[2018-08-24 18:06] stsewd commented on #3517
May be related to https://github.com/rtfd/readthedocs.org/issues/4428

[2018-08-24 18:14] stsewd commented on #4555
Related to https://github.com/rtfd/readthedocs.org/issues/4023

[2018-08-24 18:19] stsewd commented on #3160
The validation was added in https://github.com/rtfd/readthedocs.org/pull/3790

[2018-08-24 18:28] davidfischer commented on #4543
I'm a definite +1 on dropping support for Python2. Supporting both comes at a cost. I have a few notes:

- Dropping support should involve a major rev (eg. `v3.0.0`).
- We might want to drop dual Python support at a specific date (eg. January 1, 2019). I don't think this is super critical but for 3rd parties who take our code that might be nice.
- I assume we'll discontinue use of `six` and `futur

[2018-08-24 18:40] stsewd commented on #2858
I see only two possible fixes here:

- It was because of https://github.com/rtfd/readthedocs.org/pull/3913
- https://github.com/rtfd/readthedocs.org/issues/4450

Also related to https://github.com/rtfd/readthedocs.org/issues/4259

Closing in favor of the other issues, but I think this is already solved. Let us know if you still have this problem

[2018-08-24 18:40] #2858 closed

[2018-08-24 18:42] stsewd commented on #2637
Related to https://github.com/rtfd/readthedocs.org/issues/4452

[2018-08-24 18:50] anubhavsinha98 commented on #4551
Hey can I take this issue?

[2018-08-24 18:53] stsewd commented on #4551
@anubhavsinha98 sure!

[2018-08-24 18:55] anubhavsinha98 commented on #4551
So @stsewd so I am not getting what is need to be done in this issue?

[2018-08-24 18:58] stsewd commented on #4551
You need to update the docs at https://docs.readthedocs.io/en/latest/faq.html#i-get-import-errors-on-libraries-that-depend-on-c-modules. There we recommend using the mock library, but as Anthony mentions, there is a better and native way of solving the issue. So we need to point the users to the other solution

[2018-08-24 19:01] stsewd commented on #855
If this can be solved by installing with pip, we already support that https://docs.readthedocs.io/en/latest/yaml-config.html#python-pip-install

[2018-08-24 19:05] anubhavsinha98 commented on #4551
Thanks @stsewd I got it. Any gitter channel or IRC for this org so that I can join.

[2018-08-24 19:06] anubhavsinha98 commented on #4551
It means thats I get import errors on libraries that depend on C modules will be replaced by the
http://www.sphinx-doc.org/en/master/usage/extensions/autodoc.html#confval-autodoc_mock_imports

[2018-08-24 19:09] stsewd commented on #4551
Something like "if you have this problem, use..."

We are on freenode as #readthedocs, or on gitter https://gitter.im/rtfd/readthedocs.org

[2018-08-24 19:15] stsewd commented on #1717
Cannonilas urls are https, rtd run on https for *.readthedocs.io and custom domains.

[2018-08-24 19:15] #1717 closed

[2018-08-24 19:19] stsewd commented on #1633
We don't index from the json artifacts for mkdocs projects, as they don't support that option anymore.

[2018-08-24 19:25] gjtorikian opened #4568 "Deprecate old /github, /bitbucket, /build endpoints"
Sorry @ericholscher, I should've reached out sooner, but it suddenly occurred to me: is the https://readthedocs.org/ integration into GitHub still using [GitHub Services](https://github.com/github/github-services/blob/a71f251994d146e43843b9e6659da87ecdb03a58/lib/services/read_the_docs.rb)? If so, services [are being deprecated](https://developer.github.com/changes/2018-04-25-github-services-deprec

[2018-08-24 19:30] stsewd commented on #1313
We only extend these settings, we don't override them. We don't discover them automatically or at least we don't do that anymore.

Let me know if this is still a problem to reopen this issue.

[2018-08-24 19:30] #1313 closed

[2018-08-24 19:33] anubhavsinha98 commented on #4551
Okay Thanks!

[2018-08-24 19:55] anubhavsinha98 commented on #4551
@stsewd I have a doubt, Issue #4551. Can I add a link to the of mock dependencies using sphinx or I should remove the current solution and add the new one?

[2018-08-24 20:01] stsewd commented on #4551
Yeah, we need to remove the previous workarround

[2018-08-24 20:03] anubhavsinha98 commented on #4551
Ok, Thanks!

[2018-08-24 20:19] agjohnson commented on #4568
Thanks for the heads up! We used GitHub services in the past, and there are likely a non-trivial number of projects still using the old service. However, if you sign up your project today, your project will get a webhook, not the service.

An easy path forward for us is to collect projects hitting the mostly deprecated `/github` endpoint and send a warning. We should:

- [ ] Collect projects as th

[2018-08-24 20:32] anubhavsinha98 commented on #4551
Hey I am getting this issue, I have changed the work. I have installed pre-commit via pip and when I am running pre-commit run its showing no command found(Even I have installed it). So what can be the reason?

[2018-08-24 20:44] stsewd commented on #4551
Isn't necessary to run pre-commit in docs changes

[2018-08-24 20:53] anubhavsinha98 commented on #4551
Hey did a PR #4569 !
Check it out @stsewd !

[2018-08-24 21:07] JoyMonteiro commented on #3900
I tried re-building my docs, and it worked just fine, thanks! However, RTD still reports that
the build errored. Not sure what it means since the the docs are live!

https://readthedocs.org/projects/climt/builds/7686064/

[2018-08-24 21:09] stsewd commented on #3900
The PR was merged, but the code wasn't deployed yet, probably it failed in the pdf generation step

[2018-08-24 21:11] JoyMonteiro commented on #3900
I see, thanks. How long does this process normally take? I'm in no hurry since the HTML docs are live, but just curious.

[2018-08-24 21:44] stsewd commented on #3900
We do not have a schedule, but I think a deployment is planned for next week.

[2018-08-24 22:07] JoyMonteiro commented on #3900
Great, thanks!

[2018-08-24 23:36] #4220 closed

[2018-08-27 04:16] Benjamin-Lee commented on #4444
This is still happening? Anyone have any ideas as to why?

[2018-08-27 06:07] Benjamin-Lee commented on #4444
I worked on the problem some more and was able to get the build to work by pinning the version of click. Still no idea why it wasn't working without a pinned version.

[2018-08-27 12:54] humitos commented on #3900
This is already fixed and merged. I will deployed in the next days, so @JoyMonteiro you will just need to re-build your version once it's deployed.

[2018-08-27 14:09] humitos opened #4573 "Apply failing projects for more resources"
We have been experimenting with issues regarding CPU time and RAM memory when constructing documentation. Because of this reason, we have been increasing CPU time on projects that need more to build properly and we have thoughts several ideas on how to manage this resources in a smart way at #4403

The process of increasing the resources can't be automatic since any misconfigured  (or vandalism) p

[2018-08-27 14:54] frankier opened #4574 "Segmentation fault (core dumped) when installing sphinx packages in conda"
## Details

* Read the Docs project URL: https://desdeo.readthedocs.io/projects/desdeo-vis/en/latest/
* Build URL (if applicable): https://readthedocs.org/projects/desdeo-vis/builds/7693988/ and https://readthedocs.org/projects/desdeo-vis/builds/7694049/
* Read the Docs username (if applicable): frankier

Firstly, thanks for the project. It's been a lot of help with streamlining the process of get

[2018-08-27 17:04] RichardLitt commented on #4565
Glad you got it fixed!

[2018-08-27 19:31] bdice commented on #4460
Hi, just wanted to give an update -- since the shift to Azure a week ago, it seems like our docs have been building successfully. I'm not sure what changed under the hood of ReadTheDocs, but this issue may be resolved. I'll update this issue again if we continue to have challenges. Thanks!

[2018-08-27 20:00] agjohnson commented on #4354
we haven't had the request a lot, and i don't have example projects, but we've had the request to support multiple paths. The repos are generally some form of a monorepo.

Example 1 above is only for installation of a package via setup.py given a path. It leaves requirements file config option where it is now.

I meant that a requirements file implies pip install for the requirements file, as you

[2018-08-27 21:36] JordonPhillips commented on #4546
Sorry to bug you, but is there any status update?

[2018-08-27 21:37] stsewd commented on #4546
A deploy is planned for this Wednesday I think

[2018-08-27 23:42] #4557 closed

[2018-08-27 23:51] #4440 closed

[2018-08-27 23:52] #2813 closed

[2018-08-28 01:47] davidfischer opened #4576 "Missing python packaging user guide"
## Details

This is based on [this tweet](https://twitter.com/theavalkyrie/status/1034254482832470016).

* Read the Docs project URL: https://readthedocs.org/projects/python-packaging-user-guide/

## Expected Result

I expect the packaging guide to be there

## Actual Result

It is not there

[2018-08-28 01:52] theacodes commented on #4576
More Context:
About 10 minutes ago, I deleted the account associated with my dead name, `jonparrott`. This seems to have broken every project associated with that name even though all of these projects have additional owners.

Prior to deletion I added my new account, `theacodes`, to every project. After deletion, this account does not have access.

Projects affected:

- https://readthedocs.org/pr

[2018-08-28 01:59] theacodes commented on #4576
To specify: I deleted the RTD account. I disassociated the old RTD account from my GitHub account before deletion.

[2018-08-28 02:05] ncoghlan commented on #4576
The symptoms from my side are the same as those that Thea is seeing on her new account: projects where we're co-maintainers (i.e. including Thea's old account) are not appearing in my project list at https://readthedocs.org/dashboard/

[2018-08-28 02:09] stsewd commented on #4576
Ok, I was able to replicate this in my local instance. Looks like we are deleting all projects that belong to a user when it deletes its account (even if this wasn't the original owner of the project).

[2018-08-28 02:13] theacodes commented on #4576
Yeah I'm thinking that if there are *any* other owners the project
shouldn't be deleted. In this case it was my intention to rotate to my new
account, so if projects created by my old account get deleted that would
have defeated the purpose.

On Mon, Aug 27, 2018, 7:10 PM Santos Gallegos <notifications@github.com>
wrote:

[2018-08-28 03:08] agjohnson commented on #4576
Absolutely. We had a similar theoretical bug that we patched a while back, this is a different but related. Let me see if I can easily restore things from a backup

[2018-08-28 03:10] theacodes commented on #4576
Thank you! (& Sorry again for breaking stuff)

On Mon, Aug 27, 2018, 8:08 PM Anthony <notifications@github.com> wrote:

[2018-08-28 03:13] agjohnson commented on #4576
No worries!

Everything is in flux since our migration to Azure, so frankly, it might be faster to just recreate the projects unfortunately.

[2018-08-28 03:29] theacodes commented on #4576
packaging.python.org and google-auth-library-python had a significant
number of redirects in place that would be practically impossible to
recreate.

On Mon, Aug 27, 2018, 8:13 PM Anthony <notifications@github.com> wrote:

[2018-08-28 05:02] agjohnson commented on #4576
Files for the projects above have mostly been restored, I'm working on the database restore pieces now. Files aren't accessible by domain name until I get data out from the snapshot and back into our production database.

Good news: our new database restore procedure has officially been tested though :heavy_check_mark:

[2018-08-28 05:55] theacodes commented on #4576
Yes, if you can restore those and assign to my new account that would be
awesome.

On Mon, Aug 27, 2018, 10:22 PM Anthony <notifications@github.com> wrote:

[2018-08-28 07:32] agjohnson commented on #4576
Sounds good. I'll need verification for the changes on the orphaned projects as per our policy on intervening on project changes -- I'll send some verification emails tomorrow.

Things are mostly restored now. I didn't reload builds or build commands, if there is anything important there, let us know and we can manage restoring it. I haven't fully tested building either, but things appear okay.

I

[2018-08-28 09:34] frankier commented on #4574
Just to note, still happening intermittently. Easy to workaround since I can always just trigger another build.

https://readthedocs.org/projects/desdeo-vis/builds/7699176/

[2018-08-28 13:55] pradyunsg commented on #4359
I'd like to take a stab at this issue, if no one would mind... Any pointers as to which part of the codebase needs the relevant changes here? :)

[2018-08-28 14:44] humitos commented on #3794
Just in case. It's already fixed but not deployed yet. That will happen tomorrow, hopefully.

[2018-08-28 14:49] humitos commented on #4460
Thank you @bdice for reporting this back! I really appreciate.

I will close this issue then, but please, let me know if you experience this again in the future.

We are working on different solutions. You can read more about this at #4573.

Our new servers on Azure are bigger (more CPU and more RAM) which gives us less building time for projects and seems the extra RAM gives us more stability to

[2018-08-28 14:49] #4460 closed

[2018-08-28 15:19] veenamj commented on #3794
Thanks, @RichardLitt, and @humitos for informing!

[2018-08-28 15:26] willingc opened #4578 "Build error message"
Hi wonderful RTD folks :smile:

## Details

Error message: There was a problem with Read the Docs while building your documentation. Please report this to us with your build id (7701130).

## Expected Result

Docs to build.

## Actual Result

There was a problem with Read the Docs while building your documentation. Please report this to us with your build id (7701130).

[2018-08-28 15:27] willingc commented on #4578
For now, an FYI. I'm doing some work on the repo later today. Will let you know if it happens again. thanks.

[2018-08-28 16:05] theacodes commented on #4576
Cool, so after the verification process my access will be restored to all of those projects?

[2018-08-28 17:02] stsewd commented on #4359
@pradyunsg here is the current redirect https://github.com/rtfd/readthedocs.org/blob/dde104daf23f580887e79d4fae91cf9577fbbb76/readthedocs/builds/views.py#L58-L58, we need to change that.

[2018-08-28 17:07] stsewd commented on #4578
Could you please provide the build url? The id isn't enough if we don't have the project name

[2018-08-28 17:08] agjohnson commented on #3160
Reopening, this issue doesn't describe how translations are added, but how it is possible to set a project language in such a way that it would cause multiple versions to return. I believe this is how to reproduce:

* Add project A, language `en`
* Add project B, language `fr`
* Add project B as translation of project A
* Change project B language to `en`
* Version query above (and in rtd.org) wil

[2018-08-28 17:12] agjohnson commented on #4578
We have enough info here. Sentry report seems to imply it's an issue communicating with the Docker unix socket:

https://sentry.io/read-the-docs/readthedocs-org/issues/612009754/events/28746990813/

[2018-08-28 17:28] agjohnson commented on #4578
As far as I can tell, when calling `stop` on a container, Docker is not returning within the timeout. We can perhaps remedy this by catching the timeout exception and hard killing the container?

[2018-08-28 18:04] humitos commented on #4578
Mmm... The docker timeout is one thing, but the build shouldn't fail because of that. This exception is handled in our code:

https://github.com/rtfd/readthedocs.org/blob/6fd22b01d9f4772c96c86a145da2cb3b7008e61d/readthedocs/doc_builder/environments.py#L770-L776

There has to be something else.

[2018-08-28 19:33] willingc commented on #4578
I think that this was a hiccup. I can build again. Closing.

[2018-08-28 19:33] #4578 closed

[2018-08-28 22:59] theacodes commented on #4576
Okay, I'm not sure if this is related or not, but it appears one of the restore projects is not updating properly.

See https://nox.thea.codes/en/stable/ and https://nox.thea.codes/en/latest. These docs are quite old. The most recent two builds for [latest](https://readthedocs.org/projects/nox/builds/7703178/) and [stable](https://readthedocs.org/projects/nox/builds/7703179/) were successful and p

[2018-08-29 09:39] humitos commented on #3160
I didn't try it yet, but I remember that @stsewd's PR makes impossible this step with a validation on the form:

IRC, the user is informed about this but, maybe I'm confused and this is _impossible_ from the translation page of project A, but not from the Admin page of project B. It worth a test.

[2018-08-29 13:52] agjohnson commented on #4576
Oops, I didn't test that I restored things with the correct permissions, so there is probably an issue there. I'll check on that later and follow up on email verification

[2018-08-29 14:35] bwulff opened #4580 "Build failed (Sphinx in sub-directory)"
## Build failed after switching to rst (Build #7706619)

* Read the Docs project URL: https://readthedocs.org/projects/lecturesight/
* Build URL (if applicable): https://readthedocs.org/projects/lecturesight/builds/7706619/
* Read the Docs username (if applicable): bwulff

## Expected Result

Docs are built.

## Actual Result

Build failed with no further information about what went wrong. Last li

[2018-08-29 15:05] bwulff commented on #4580
Important info: A clone of the exact same content (except renamed theme dir) is at: https://github.com/bwulff/materialdoctest

The rtd project is: https://readthedocs.org/projects/lecturesight-doc-test/

That build works. I copied the stuff into the other repo (main project), suspect I have a bug in the conf.py or the project conf on rtd.

[2018-08-29 15:13] stsewd commented on #4580
I think your project is still trying to be built with mkdocs, maybe you forgot to change the doc type in the admin panel?

[2018-08-29 15:14] bwulff commented on #4580
Apparently I failed to hit "Save" when I switched the doc type from Markdown to Sphinx on rtd. Now I've got a Sphinx error message that is clearly due to an error in conf.py

[2018-08-29 15:16] bwulff commented on #4580
Swift reaction from you RTD, great!

..sorry for spamming

[2018-08-29 15:16] #4580 closed

[2018-08-29 15:55] humitos commented on #4546
We just deployed this and should be working now.

I'm closing this issue but feel free to reopen if you find that it's not correct. Thanks for your patience.

[2018-08-29 15:55] #4546 closed

[2018-08-29 16:10] petersmithca commented on #3181
Is there any update on this? Seems like it should be high on the radar?  Really holding me back from using readthedocs as I don't want to hack the codebase, then not be able to get updates.

[2018-08-29 16:37] petersmithca commented on #3181
Maybe misunderstanding, but essentially my workflow basically replaces creating of `virtualenv` and `pip install -r requirements.txt` with `pipenv install` and any activation of the environment with `pipenv shell`

[2018-08-29 16:59] Peque commented on #3181
@petersmithca Rather than `pipenv install` I would use `pipenv sync --dev` instead. I normally put dependencies related to documentation generation and tests under the "dev" section in the Pipfile. Also, `sync` will make sure the installed packages match those defined in the `Pipfile.lock`, although, if that file does not exist, then `pipenv install --dev` would make sense.

[2018-08-29 17:01] petersmithca commented on #3181
I'd not used sync before, but I do agree with the --dev, I also put the
docs under my dev, just forgot that

On Wed, Aug 29, 2018 at 1:59 PM Miguel Sánchez de León Peque <
notifications@github.com> wrote:

[2018-08-29 19:51] agjohnson opened #4582 "Front page caching shows a somewhat random language"
We need to account for language in what we're caching, currently with my language preference set to English, i get a Russian translation on the front page. Changing my language doesn't help.

[2018-08-29 20:56] humitos opened #4583 "Error when trying to open the yaml file"
Triggering builds on this project fails immediately and the error is not well reported to the user.

* https://readthedocs.org/projects/invest/

I checked the logs and it seems there is a problem when trying to read the config file.

[code]

Sentry issue: https://sentry.io/read-the-docs/readthedocs-org/issues/667664442/?query=is:unresolved

It may be related to #4512

[2018-08-29 21:57] agjohnson opened #4586 "Add better tests for regex file search"
We fixed the regex search issue in #4584, test coverage is still required though. The PR was hotfixed in.

[2018-08-29 22:05] #4576 closed

[2018-08-29 22:35] #4583 closed

[2018-08-29 22:38] #4582 closed

[2018-08-30 02:44] stsewd commented on #4586
Closed on https://github.com/rtfd/readthedocs.org/pull/4587

[2018-08-30 02:44] #4586 closed

[2018-08-30 03:23] davidfischer opened #4588 "Vision for MkDocs on Read the Docs"
There was quiet a bit of discussion in #4556 about MkDocs on Read the Docs. I wanted to move some of that discussion here as that is an active PR that I am hoping to merge soonish.

I don't want to speak for people other than myself as the RTD maintainer who has worked on MkDocs more recently than anyone else at RTD.

## Where RTD would like to go with MkDocs

* We have an [MkDocs Milestone](https

[2018-08-30 10:26] best-tech opened #4589 "Add bsl language support"
## Expected Result

Adding supporl bsl like

[github support](https://github.com/search?l=1C+Enterprise&q=%D0%9D%D0%BE%D0%B2%D1%8B%D0%B9&type=Code)
[vsc](https://github.com/nixel2007/vsc-language-1c-bsl)

[code]

## Actual Result

not supported

[2018-08-30 10:29] humitos opened #4590 "Cleanup exception that are not logged as error"
After #4495 got merged @agjohnson suggested to have an attribute in the Exception class and check for that attribute before log the exception, instead of defining a list for the warning exceptions as I did at:

https://github.com/rtfd/readthedocs.org/pull/4495/files#diff-ca52b098301dd315a834b3556ab9a7d5R424

Also, there are more exceptions that have to treat in the same way: `ProjectConfigurationE

[2018-08-30 10:35] humitos commented on #3014
@psi29a This should be fixed and your project should have more resources available to build your docs. I'm closing this issue here, but feel free to reopen if you consider.

[2018-08-30 10:35] #3014 closed

[2018-08-30 10:38] humitos commented on #4320
@hugohadfield `clifford` is building now. I increased the resources and route its builds to a specialized server for these kind of projects.

I'm closing this issue here, but feel free to reopen if you consider necessary.  Also, if you have any feedback, it's appreciated. Thanks!

[2018-08-30 10:38] #4320 closed

[2018-08-30 10:43] humitos commented on #4403
News no this: we implementing this idea:

Although, the projects are manually added to that queue and manually increased the resources available to build.

Making this process automatic, is part of #4573 and should be discussed there.

I'm closing this issue here since there is no action to take for now. In case we want to change our current implementation, we can consider to reopen it.

[2018-08-30 10:43] #4403 closed

[2018-08-30 11:15] humitos commented on #4363
At first sight, it makes sense to me what you said regarding sharing the same `-d` PATH between different build steps (html, pdf, epub, etc) --note that `json` was removed and it's done inside the `html` step now.

[code]

I'd like to have more context on why this was done like this (independent environment for each step) and thinking a little more if it's something that can be really shared  or i

[2018-08-30 11:18] humitos commented on #4432
Hi @fmaussion! `xarray` and `salem` are already using our preference queue that allows more build time and ram.

Let me know if you find any issue related to this or if you have any feedback. I appreciate.

I'm closing this issue here, but feel free to reopen if you consider.

[2018-08-30 11:18] #4432 closed

[2018-08-30 12:09] humitos commented on #3900
I'm reopening this issue because after yesterday's deploy it's still happening.

[2018-08-30 12:38] stevepiercy commented on #1556
ping @stsewd @agjohnson. I'm available to serve as a test subject for resolving this issue. I appreciate that the migration of RTD to Azure was successful, and that us Merkins got a 3-day weekend coming up. Please let me know what, if anything, I can do to help.

[2018-08-30 13:33] humitos commented on #2444
Hi all! This was deployed yesterday and should be working properly. You may want to create the redirects you weren't able to do it.

Please, if you find any other issue open a new one :)

[2018-08-30 13:44] humitos commented on #4366
Hi @adarshp!

The owner of the project didn't answer. The namespace `delphi` is free to use.

Closing here.

[2018-08-30 13:44] #4366 closed

[2018-08-30 13:48] humitos commented on #4449
Hi @molpopgen! I've already increased the MEM available for your project's build.

I'm closing this issue for now but feel free to re-open if you consider.

Please, open a new issue if after deploying that fix your project is still having problem and I will take a look at it.

[2018-08-30 13:48] #4449 closed

[2018-08-30 14:52] ncoghlan commented on #4576
The Python Packaging User Guide has reverted quite a bit as well - most notably, the new Overview page that was merged in https://github.com/pypa/python-packaging-user-guide/commit/4b5e8600775f8be01cbd282d95a1255dded198db is missing.

The currently displayed PyPUG build *does* include the changes from mid-July to update Continuum Analytics references to Anaconda, Inc (to account for the company na

[2018-08-30 15:11] waylan commented on #4588
## Things MkDocs needs from RTD

In addition to the item listed above, we also need:

* **Clear documentation of what RTD depends on**. Ideally, there would be one location which would list all of the hooks/APIs that RTD uses. For example, if such a list existed, we might not have removed the `json` builder, as we were of the impression that it was unused. Yes, this information is available by rea

[2018-08-30 15:12] stsewd commented on #4589
The lang highlight is done by Pygments http://www.sphinx-doc.org/en/master/usage/restructuredtext/directives.html#directive-code-block, not sure if there is something we can do.

The pygments supported langs http://pygments.org/languages/

[2018-08-30 15:33] adarshp commented on #4366
Great, thank you very much!

[2018-08-30 15:36] stsewd commented on #1556
I think the main decision to take here is from where to get the type of pdf engine, I'm -1 on guessing based on the language, as users like @stevepiercy want to use it in english docs. I'd say we can have a feature flag to change the engine to xelatex in the meantime, and see if this works without any major changes. If so, I think we can move to parse the conf.py file or whatever makes more sense.

[2018-08-30 16:18] stsewd commented on #3181
About using pipenv as a replacement of venv/virtualenv, actually, we can still use them.

From pipenv docs

So, probably we can treat pipenv as another installation method (like pip or setup.py)

[2018-08-30 16:19] stsewd commented on #4354
I think we should leave this to the project dep, not to the rtd config file.

[code]

Maybe we want to consider #3181 here too? `method` can be setup.py, pip and pipenv

[2018-08-30 16:42] #3900 closed

[2018-08-30 16:42] theacodes commented on #4576
Yeah I rebuilt nox again earlier today as well and it's still not updating.

On Thu, Aug 30, 2018, 10:52 AM Nick Coghlan <notifications@github.com>
wrote:

[2018-08-30 16:46] stsewd commented on #3160
@agjohnson that was already fixed from both sides, admin panel and translations sections

![screenshot_2018-08-30 edit project read the docs](https://user-images.githubusercontent.com/4975310/44866164-12eed700-ac4a-11e8-96a0-906bf018eef4.png)

I'll leave it to you to close the issue.

[2018-08-30 17:55] humitos commented on #1556
I agree with @stsewd on these:

* -1 on guessing: this is always a headache :)
* I think a quick implementation for this feature is a Feature flag for the project that want this
  * the problem with this is that a Feature flag is a boolean decision, and there are more than 2 options for `latex_engine` (4 actually): http://www.sphinx-doc.org/en/master/usage/configuration.html#confval-latex_engine
*

[2018-08-30 17:57] agjohnson commented on #4576
Sorry, we had a busy day yesterday, so i'm just now getting to my yesterday todo list.

@theacodes it looks like nox is updating correctly. I see the version of nox that is marked as stable showing up at https://nox.thea.codes/en/stable/. I think latest looks correct too?

@ncoghlan I think the pypa guide is also updating correctly. Can you confirm your versions look as you expect, or if they don'

[2018-08-30 17:57] stsewd commented on #4589
You can ask in the pygments issue tracker https://bitbucket.org/birkenfeld/pygments-main/ to add this new lexer. Closing, as there is nothing we can do from the rtd side.

[2018-08-30 17:57] #4589 closed

[2018-08-30 17:58] humitos commented on #3160
@stsewd thanks for checking this. I'd say that we can close this issue.

[2018-08-30 18:06] stsewd commented on #3160
Just adding that 3 of those engines are included in the `texlive-full` package https://packages.debian.org/sid/texlive-full (Not, sure about `pLatext`, it is the same as `Plain Latex`?)

[2018-08-30 18:07] stsewd commented on #1556
Just adding that 3 of those engines are included in the `texlive-full` package https://packages.debian.org/sid/texlive-full (Not, sure about `pLatext`, it is the same as `Plain Latex`?)

[2018-08-30 18:33] stsewd commented on #1556
To parse the conf.py file, the file needs to be executed, I'm not sure if users want to execute the file twice (or maybe it doesn't matter).

Sphinx docs

We can use https://github.com/sphinx-doc/sphinx/blob/bc02abcb77143d12c08265c4c10ba9c6cd003832/sphinx/config.py#L183 to read the file from the rtd application.

[2018-08-30 18:40] agjohnson commented on #4363
I don't have any background on why this would have been changed. The change seems to imply we directly had some issues sharing the doctree environment though. If I had to guess, I'd say we're safe to reuse the doctree, though I think we don't want to reuse the existing doctree on the first build maybe?

I haven't dug too deep here, but it looks like we force a new doctree env on the first builder

[2018-08-30 19:56] JordonPhillips commented on #4546
Thanks so much! Looks perfect!

[2018-08-30 21:28] vimalloc opened #4593 "Unexpected build failed."
## Details

I'm getting a build failed on my project, but according to the logs I don't see any build failures, and only one warning:

[code]

Locally I am able to build the html without issue.

* Read the Docs project URL: https://readthedocs.org/projects/flask-jwt-extended
* Build URL (if applicable): https://readthedocs.org/projects/flask-jwt-extended/builds/7714303/
* Read the Docs username (i

[2018-08-30 21:53] stsewd commented on #4593
Looks like it's failing in the pdf generation step

[2018-08-30 21:59] piccolbo commented on #3323
I can see it right now on my project:
https://github.com/piccolbo/altair_recipes

Badge is red but docs are right there in place. Last failed build close to two days old. Loading the image separately (per rst file) results in a green badge. The image appears to be cached by github per address bar if I open the image alone. Other badges are moving along just fine.

[2018-08-30 22:03] piccolbo commented on #3323
Never mind I see there's a three days old fix. Hopefully it will kick in at some point.

[2018-08-30 22:24] agjohnson opened #4594 "Deprecation list Jan 2019 & RTD v3.0"
We've talked about deprecating a number of things in Jan 2019, so let's make official plans and get things announced for a v3.0. Here are things on the chopping block:

* ~API v1~ We've already announced this one. :wave:
* ~Old authenticationless github/bitbucket/generic build trigger API-ish endpoints. GitHub is removing "Services" Jan 31 2019, which uses the `/github` deprecated endpoint as well

[2018-08-30 22:28] stsewd commented on #4594
.com is still running py2 I think.

[2018-08-30 22:30] davidfischer commented on #4594
I would like to get rid of all dashboard access over HTTP including the API. Basically [all this stuff](https://github.com/rtfd/readthedocs-ops/blob/8dbdaff/salt/base/nginx/sites/readthedocs-site.conf#L105-L115) should forward to HTTPS.

[2018-08-30 22:30] stsewd commented on #4594
Also, our current version of django, not sure if other people are using a heavily customized fork of rtd that could cause problems.

[2018-08-30 22:31] stevepiercy commented on #1556
I think they are different, based on my parsing of this post. `platex` allows for vertical typesetting for languages including Japanese.
https://tex.stackexchange.com/questions/397182/what-is-the-difference-between-platex-and-pdflatex

Here's the repo for `platex`.
https://github.com/texjporg/platex

It would be good to solicit information from someone who can read and write Japanese to advise, pe

[2018-08-30 22:32] davidfischer commented on #4594
I don't know how we do this in practice. Nothing stops people from just putting `mkdocs<1.0` in their requirements file. I would be +1 on locking down versions of Sphinx/MkDocs based on something in the YAML file and it can't be overridden with a requirements file. That way we can deprecate versions of Sphinx/MkDocs.

[2018-08-30 22:35] davidfischer commented on #4594
I would not let that slow us down. If we could get to Django 1.11 before January, that would be amazing.

[2018-08-30 23:07] vimalloc commented on #4593
I'm glad I'm not crazy at least :) If there's any information I can provide or anything I can do to help test this I would be more then happy to do so. FWIW the commit that triggered this was purely a documentation commit. If needed I could try reverting it and seeing if it still is having an issue, to help narrow down the target area.

[2018-08-30 23:08] stsewd commented on #4593
Can you try building your project again? Maybe it was a temporal issue on the servers

[2018-08-30 23:26] vimalloc commented on #4593
It was triggered via a webhook, doing a quick search I don't see a way to manually retrigger that. Do you know if there is any way to retry that without dirtying the git history, or would my best bet be to push up a dummy commit to trigger it again?

Thanks for you help with this :+1:

[2018-08-30 23:39] stsewd commented on #4593
You need to do it from your project builds page https://readthedocs.org/projects/flask-jwt-extended/builds/

[2018-08-31 00:05] piccolbo commented on #3323
Will keep an eye on it thanks.

[2018-08-31 00:59] Breakthrough opened #4595 "Support Ads Shown For Gold User Logged In with Adblock"
## Details

* Read the Docs project URL: http://pyscenedetect.readthedocs.io
* Build URL (if applicable): http://github.com/Breakthrough/PySceneDetect
* Read the Docs username (if applicable): Breakthrough

## Expected Result

**I am a gold member** using RTD to host docs for my users, and I happen to use an ad blocker.  I should see no ads.

Furthermore, neither should my users, as I am paying to

[2018-08-31 03:54] vimalloc commented on #4593
I’m embarrassed to say that I didn’t realize the button on that page was used for retriggering, I though it was a filter. Retriggered and everything is peachy. Thanks for the help! 👍

[2018-08-31 03:54] #4593 closed

[2018-08-31 07:57] psi29a commented on #3014
Thanks, I'll give it a spin and report back.

[2018-08-31 17:07] stsewd commented on #2161
Closing in favor of https://github.com/rtfd/sphinx_rtd_theme/issues/117

[2018-08-31 17:07] #2161 closed

[2018-08-31 17:10] stsewd commented on #3213
For the command not showing I opened https://github.com/rtfd/readthedocs.org/issues/4288.

We migrate to Azure recently, we have faster builders now, could you test if your project is still falling?

[2018-08-31 17:27] stsewd commented on #3796
Are you still having this problem? We move to azure recently and now we have faster servers, can you try building your project again?

[2018-08-31 17:29] stsewd commented on #3591
Looks like the project is removed, feel free to re-open if you consider.

[2018-08-31 17:29] #3591 closed

[2018-08-31 17:32] stsewd commented on #3478
Your latest builds are passing, Do you still need to increase the time for your project? Also, we recently move to azure, so we have faster builders now.

[2018-08-31 17:35] stsewd commented on #3865
I have opened an issue for that in https://github.com/rtfd/readthedocs.org/issues/4288

[2018-08-31 17:35] #3865 closed

[2018-08-31 17:36] stsewd commented on #3910
Hi, could you please try building your project again? We move to azure recently and we have faster builders now.

[2018-08-31 17:38] stsewd commented on #3938
RTD now supports https on custom domains, let us know if you still need help.

[2018-08-31 17:38] #3938 closed

[2018-08-31 17:41] stsewd commented on #3208
The https://discordjs.readthedocs.io project is deleted, can we close this issue?

[2018-08-31 17:43] stsewd commented on #3924
Your latest builds are passing, are you still having problems?

[2018-08-31 17:51] stsewd commented on #3903
Are you still having this problem? You can also try setting the webhook manually https://docs.readthedocs.io/en/latest/webhooks.html

[2018-08-31 17:51] lgarcin commented on #3910
Sorry, it's still failing.
Build #7719190

[2018-08-31 17:56] stsewd commented on #3668
We can't replicate this, I think it was a corrupted environment, wiping before triggering a new build should solve if this happens again. Feel free to reopen if this happens again.

[2018-08-31 17:56] #3668 closed

[2018-08-31 18:06] amishshah commented on #3208
Yep, sorry this has been resolved for a while now, will close

[2018-08-31 18:06] #3208 closed

[2018-08-31 18:11] stsewd commented on #4412
Closing as this was resolved, hope the team can make a more up to date release of recomonmark soon!

[2018-08-31 18:11] #4412 closed

[2018-08-31 18:13] stsewd commented on #3910
Can you check https://docs.readthedocs.io/en/latest/guides/build-using-too-many-resources.html? If nothing of that works, could you change the title to be more descriptive about asking for more resources to build your project?

[2018-08-31 18:18] stsewd commented on #4332
You need to do it with a custom css file https://dohttps://docs.readthedocs.io/en/latest/guides/adding-custom-css.htmlcs.readthedocs.io/en/latest/guides/adding-custom-css.html

Closing as this isn't a rtd problem.

[2018-08-31 18:18] #4332 closed

[2018-08-31 18:28] stsewd commented on #2422
Although, I think this can be done with our new $rest keyword, see https://docs.readthedocs.io/en/latest/user-defined-redirects.html#exact-redirects

[2018-08-31 18:30] stsewd commented on #3105
Closing this as the user [hasn't responded or given more information](https://docs.readthedocs.io/en/latest/contribute.html#initial-triage), feel free to reopen with more information if you are still having this problem :).

[2018-08-31 18:30] #3105 closed

[2018-08-31 18:31] stsewd commented on #4163
Closing this as the user [hasn't responded or given more information](https://docs.readthedocs.io/en/latest/contribute.html#initial-triage), feel free to reopen with more information if you are still having this problem :).

[2018-08-31 18:31] #4163 closed

[2018-08-31 18:36] stsewd commented on #4126
I think you are missing the api configuration for the slumber_username, you can see it here https://docs.readthedocs.io/en/latest/install.html.

Closing this as the user [hasn't responded or given more information](https://docs.readthedocs.io/en/latest/contribute.html#initial-triage), feel free to reopen with more information if you are still having this problem :).

[2018-08-31 18:36] #4126 closed

[2018-08-31 18:39] stsewd commented on #4086
I can see that you were added as a maintainer of the rtd project, closing. Feel free to reopen if that wasn't the case.

[2018-08-31 18:39] #4086 closed

[2018-08-31 18:41] stsewd commented on #3833
Seems like your previous builds are successful, and the latest 2 builds are failing because of a sphinx error. Closing, feel free to reopen if you consider.

[2018-08-31 18:41] #3833 closed

[2018-08-31 18:49] ryanpitts commented on #3938
oh fantastic! thank you!

[2018-08-31 18:51] stsewd commented on #3938
Here are the docs btw https://docs.readthedocs.io/en/latest/alternate_domains.html#cname-ssl

[2018-08-31 18:53] stsewd commented on #3185
Closing this as the user [hasn't responded or given more information](https://docs.readthedocs.io/en/latest/contribute.html#initial-triage), feel free to reopen with more information if you are still having this problem :).

[2018-08-31 18:53] #3185 closed

[2018-08-31 18:55] stsewd commented on #3796
You can also check https://docs.readthedocs.io/en/latest/guides/build-using-too-many-resources.html

[2018-08-31 19:09] stsewd commented on #2009
So, this works as Anthony mentions, if another project add a custom domain, that can't be used by another project (different user even). So, if someone has this problem, please feel free to open a new issue so the team can manually remove the other domain, also you need to verify that you really own the domain.

[2018-08-31 19:09] #2009 closed

[2018-08-31 19:17] stsewd commented on #2422
Ok, I can confirm I was able to make this redirect with this.

![screenshot_2018-08-31 edit redirects read the docs](https://user-images.githubusercontent.com/4975310/44931761-5ddf1c00-ad28-11e8-85f3-8f6842bc7b98.png)

I'm closing this issue, as this can be done with the above redirect, feel free to reopen if you consider

[2018-08-31 19:17] #2422 closed

[2018-08-31 20:37] davidfischer commented on #4595
I refunded 2 more $5 charges and left only the $10 charge and the $10/mo subscription.

I also figured out the problem and have a PR in for it.

[2018-08-31 21:45] Breakthrough commented on #4595
Awesome, thanks for all your help looking into and solving the problem @davidfischer!!

[2018-08-31 21:57] stsewd commented on #1705
I think this is solved, right?

[2018-08-31 22:03] stsewd commented on #1812
Related to https://github.com/rtfd/readthedocs.org/issues/1758

[2018-08-31 22:04] stsewd commented on #1854
Is this still relevant? I don't think we have that anymore

[2018-08-31 22:08] davidfischer commented on #2233
I realize it is two years later but this sounds like a good idea to me. I don't know if you're still around to do this but I'd appreciate if you did open that PR. If not, I'll go ahead and do it in a week or two.

[2018-08-31 22:17] stsewd commented on #1959
I'm closing this issue in favor of https://github.com/rtfd/readthedocs.org/issues/1556, where we are considering platex too. @hitsumabushi would be great if you could help up us with some feedback on the other issue.

[2018-08-31 22:17] #1959 closed

[2018-09-01 06:58] wohali opened #4598 "Cannot redirect from old version to new version if old version is marked inactive"
## Details

* Read the Docs project URL: http://docs.couchdb.org/

## Expected Result

Pursuant to #2444 and #4501, I should be able to add a redirect from a now-obsolete version of our documentation (2.1.1) to our current stable version (stable) by adding an Exact redirect:

[code]

This should redirect a page such as http://docs.couchdb.org/en/2.1.1/intro/overview.html to http://docs.couchdb.org

[2018-09-01 17:44] stsewd commented on #4598
I think the problem is that the docs of an inactive version (the version was already built) aren't removed. In order to a redirect to work, it should be 404, so I'm not sure why the redirect now works (maybe that page doesn't exist?).

Also, I believe that there is a task that clean docs from inactive versions, so maybe you only need to wait a little (I haven't look at the code yet, I'll do it by

[2018-09-01 18:12] sriks123 commented on #4530
Hi @stsewd can I work on this issue?

[2018-09-01 18:14] stsewd commented on #4530
Sure, go ahead!

[2018-09-02 07:43] wohali commented on #4598
@stsewd The versions marked inactive had been marked inactive for *months*. I recently re-marked them active so the redirects would work. I even tried clicking the "clean" button to no avail.

[2018-09-03 08:00] #4310 closed

[2018-09-03 08:02] stsewd commented on #4310
Thanks for the update!

[2018-09-03 18:05] robbert-harms commented on #3903
Thanks! This solved the issue for me.

[2018-09-03 18:05] #3903 closed

[2018-09-03 18:06] stsewd commented on #3903
Thanks for the update!

[2018-09-03 23:30] ncoghlan commented on #4576
The overview is back in PyPUG, so it does look like that's building again: https://packaging.python.org/overview/

Potentially still a CDN cache invalidation issue, though?

[2018-09-04 07:45] humitos commented on #2422
I think the redirect needed here is `/$rest -> /en/latest/`

[2018-09-04 07:54] ericholscher commented on #4363
Yea, I don't 100% remember why this was done. I'm guessing because of build caching of changed files. So:

* I build the HTML files, and it updates all changes files
* I build the PDF, but it doesn't see any files as changed since the "last" build, so it doesn't update anything

I'd be curious to see benchmarks here, and some real testing to see if this is an issue while running. I'm guessing it w

[2018-09-04 08:52] humitos commented on #4363
I don't think this will happen because the documentation says that it can be shared among all the builders. Although, it definitely worth a test.

This is also that needs some testing and could help us to decide what to do here.

I wouldn't take any action before having at least a couple of tests shared here for different projects. Otherwise, we will end up with strange behavior on production and

[2018-09-04 09:28] humitos commented on #4598
I got confused at first read. I understand what's happening now and I think there is a bug in our redirection system.

As @stsewd mentioned, the redirects are only considered when a 404 is found (there is an issue opened that will change this when implemented https://github.com/rtfd/readthedocs.org/issues/4550).

Even the version of the redirect is `active=True` it has a `built=False` which means

[2018-09-04 09:39] humitos commented on #4598
This logic is not accurate to me:

https://github.com/rtfd/readthedocs.org/blob/a29fea4f2ddde27bf5785841e6e29ac16fd803d4/readthedocs/core/views/serve.py#L155-L161

`project.versions.public` looks for `public` versions _and_ `active=True`. In your case that returns the `DoesNotExist` exception and it enters to the except block. There, as the Version `2.1.1` exists it returns 401 as if the user has

[2018-09-04 11:53] strophy opened #4600 "Detect user's preferred language from Accept-Language header and switch to that language if available"
Read The Docs should check the `Accept-Language` header in the user's http request and attempt to display a localized version of the documentation, if a matching language is available. This would ideally be paired with an implementation of a language switcher as described in #4307 so an override cookie could be set if the user manually selects a language.

As mentioned in #4307 I am prepared to pa

[2018-09-04 13:26] ilovetogetspamed opened #4601 "Buttons in Everything Bagel example don't render text unless clicked on macOS High Sierra"
## Details

Buttons in Everyting Bagel example don't render text unless clicked on OSX 10.13.6

iMac (Retina 5K, 27-inch, Late 2015), AMD Radeon R9 M380 2048 MB
Python 3.7.0

Source and image of output: https://gist.github.com/ilovetogetspamed/73a55800fa0dd9b440f59eb04609f503

* Read the Docs project URL:  https://pysimplegui.readthedocs.io/en/latest/
* Build URL (if applicable):
* Read the Docs u

[2018-09-04 14:38] humitos commented on #3839
Just want to note here that I'm starting to feel uncomfortable with `gitpython` because it has several issues around unicode that cause our builds to fail and to debug them, write tests, etc.

I mentioned some of these problem at: https://github.com/rtfd/readthedocs.org/pull/4318#discussion_r214176024

I'd like to start thinking for better alternatives. Although, I don't have one in mind yet.

[2018-09-04 16:12] stsewd commented on #4601
I don't follow this... Is this an error with the pysimplegui? If so, you should create an issue in their repo, rtd only host their docs.

If this is something else, can you please include a screenshot or describe where/how we can see that behavior?

[2018-09-04 17:04] ilovetogetspamed commented on #4601
So sorry!  It's been a 'Monday' on Tuesday.  I apologize.  It is a problem with their code.  I'll post it there.  I think I need another cup of coffee!

[2018-09-04 17:04] #4601 closed

[2018-09-04 17:54] humitos commented on #1408
I'm closing this issue because nowadays it's possible to delete a Project and that action will remove all the HTML versions of it also. Besides, a Version can be marked as inactive and its docs are not served.

I consider this issue already done.

In case we want to keep going to the discussion of "archiving deleted projects on S3 or similar" we can open a new one.

[2018-09-04 17:54] #1408 closed

[2018-09-04 18:01] humitos commented on #2439
Closing as duplicated.

[2018-09-04 18:01] #2439 closed

[2018-09-04 18:26] stsewd commented on #3233
I believe that this is a rtd feature, if we hide this, rtd will not provide any value... But I think this should be possible to remove with some js or css

[2018-09-04 18:28] humitos commented on #2430
I was wrong when I wrote this.

You can use exactly that option and it will work. I just tested it on a personal project.

Sphinx documentation at http://www.sphinx-doc.org/en/master/usage/configuration.html#confval-html_extra_path

Feel free to reopen if you think that doesn't solve your issue.

[2018-09-04 18:28] #2430 closed

[2018-09-04 18:31] humitos commented on #3145
This is already implemented. Once a project is deleted, all artifacts are removed. Closing here.

Reference in code: https://github.com/rtfd/readthedocs.org/blob/bde0088ee61bebc0d7227c5056c7e8f88255357a/readthedocs/projects/views/private.py#L183-L184

[2018-09-04 18:31] #3145 closed

[2018-09-04 18:41] humitos opened #4602 "Snapshot projects documentation periodically"
When deleting a project, we remove it from our database, but we also remove all the artifacts (HTML, PDF, epub, etc).

Some time ago, we were thinking that it may be good to save this history somewhere.

From #2722

[2018-09-04 18:41] humitos commented on #2722
This is already implemented. Deleting a project removes all the artifacts.

Opened a new issue for this at #4602

Closing here.

[2018-09-04 18:41] #2722 closed

[2018-09-04 18:44] stsewd commented on #2024
I don't see the download options for mkdocs projects anymore, only htmlzip (if this option is activated). For the another issue, it's kind of solved, more info in #1820

[2018-09-04 18:44] #2024 closed

[2018-09-04 18:47] stsewd commented on #1615
I think this needs a design decision, otherwise the issue is solved as we don't serve README files as index

[2018-09-04 18:49] stsewd commented on #3079
I'm not sure how this would be integrated. RTD already serves ads on their own and also have the gold memberships.

[2018-09-04 18:53] davidfischer commented on #3079
I talk with Eric from CodeSponsor regularly and we are focused on figuring out the areas we can work together. Currently, however, we do run our own ads and that's what pays the bills (mostly devs).

I think this issue can be closed.

[2018-09-04 19:29] stsewd commented on #3193
So, the default option is to not install the project, as some heavy projects don't need that, and would take some resources to build. I think the remaining issue is to document more the usage of the yaml config on the getting started guide. I'm documenting this on #4451

[2018-09-04 19:34] agjohnson opened #4603 "Add docs on sphinx tags"
Another Sphinx feature that would be helpful would be addition of Sphinx tags:
http://www.sphinx-doc.org/en/stable/markup/misc.html#including-content-based-on-tags

It allows for having content like:

[code]

The tags config option is already exposed in conf.py

[2018-09-04 19:42] stsewd commented on #4603
Seems very useful, I wonder how many people are aware of this functionality, maybe Sphinx heavy users, or maybe I was the only one that didn't know about this :grin:

[2018-09-04 19:47] stsewd commented on #3193
Or maybe I can put that on another PR after #4451

[2018-09-04 19:50] humitos commented on #4603
Does it worth to implement this as a YAML option, add validation, modify the command, etc instead of just using the `conf.py` for this?

I mean, we need to do some extra work and I don't think we are adding any value by using the YAML file here. Instead, by using the `conf.py` we get the same benefits and the user just need to add:

[code]

[2018-09-04 19:54] stsewd commented on #3986
Ok, you should be able to install your project by putting this in your requirements file `-e .` and making pip_install = false instead of making a new configuration for the yaml file. We want to cover only common cases there, and there is a way of solving the problem, so closing.

[2018-09-04 19:54] #3986 closed

[2018-09-04 19:59] stsewd commented on #4603
There is only one downside of only using the conf.py file

But not sure if that worth it

[2018-09-04 20:00] stsewd commented on #4603
Also, some useful tags are already provided

[2018-09-04 20:03] humitos commented on #4603
I'm not following you about the downside that you are mentioning here. Can you expand?

[2018-09-04 20:06] DannyBen commented on #1615
Well, as it seems this issue is one comment away from being closed, I leave you with food for thought:

There is only something to gain, and probably nothing to lose, by having a logic that shows `index.md` if found, and falls back to showing `README.md` if not. No dirty tricks needed, no copying of anything. Just a fallback.

[2018-09-04 20:06] stsewd commented on #4603
@humitos I think this would be a downside if we pass tags per builder, so they are exposed on the config.py file or people only want some tags on rtd.

[2018-09-05 00:13] stsewd commented on #855
Can someone try https://github.com/rtfd/readthedocs.org/issues/855#issuecomment-415852721? If not, we can consider using the `-e` option on pip.

[2018-09-05 02:11] RichardLitt commented on #3079
Thank you for the suggestion, @CrazyPython!

[2018-09-05 02:11] #3079 closed

[2018-09-05 02:12] RichardLitt commented on #4601
@ilovetogetspamed No worries! Thanks for following up and for figuring it out. :)

[2018-09-05 02:17] RichardLitt commented on #4593
@vimalloc No worries. Thanks for circling back and letting us know.

Is there anything we could do to make that button clearer?

[2018-09-05 02:35] vimalloc commented on #4593
I'm not a web designer so take this with a *huge* grain of salt, but I think for me at least it might be more clear if it was the select option first then the build button second. It just feels a bit more intuitive to me that way. Something like:

[code]

Maybe updating the size  on the components to be the same to visually indicate that they were grouped together as well? Not sure if that would a

[2018-09-05 09:28] humitos commented on #3233
@autophagy Read the Docs injects the HTML returned by the `/footer_html` API call into `div.rst-other-versions`. If you remove that element from your theme, RTD won't be able to inject it.

What's the use case you want this for? Why would you like to hide that menu?

[2018-09-05 09:42] humitos commented on #4603
I don't understand this :confused:

This is still possible and simpler:

[code]

[2018-09-05 12:38] matanster opened #4604 "Getting started"
Sorry for using this place here, but I have noticed no other. I would like to begin creating documentation for my project which is otherwise just a github repo. I've no idea from the getting started guide, what I need to do for that. It's all vague: do I need to write my markup in a dedicated new repo somewhere? do I have to add it in my existing github repo somewhere? the docs are long, but there

[2018-09-05 13:54] stsewd commented on #4603
Nevermind, I don't think that case is worth it p: But we could expose "something" to the rst files with a tag like `-tag readthedocs` and used it as

[code]

[2018-09-05 13:58] stsewd commented on #4604
You can use any repo you want, you only need to have a sphinx or mkdocs project in that repo. I recommend you to look at the documentation of sphinx or mkdocs

http://www.sphinx-doc.org/en/master/usage/quickstart.html
https://www.mkdocs.org/#getting-started

[2018-09-05 15:02] humitos commented on #4455
I think this is something good to have. I will avoid confusions to users, and by given them a good validation error message, it's something that they can fix by themselves.

[2018-09-05 15:06] #4598 closed

[2018-09-05 15:12] humitos commented on #4603
That could be. It's another feature/issue, though. And it doesn't require to _implement_ anything from our side. Just change the command on the builders to add that option.

Although, I don't think it's really useful.

[2018-09-05 21:31] #4503 closed

[2018-09-05 21:31] #4595 closed

[2018-09-06 06:08] wilsonyou opened #4610 "Image not readable"
## WARNING: image file not readable: docs/image/download_bumo_back2.png

* https://readthedocs.org/projects/bumo1/builds/7743348/

I tried to build a doc on docthedocs, although the build was completed, the images were not readable and not displayed.

Could you help me solve this issue?

[2018-09-06 07:12] #4610 closed

[2018-09-06 07:12] wilsonyou commented on #4610
solved. directory error.

[2018-09-06 08:04] strophy opened #4612 "Correct rendering of Chinese characters becomes incorrect during page load"
When loading a full (no cache) Read The Docs hosted page with Chinese text, the font rendering changes from some default font (probably Arial) to some web font (probably Lato). While the web font can render Chinese characters, it does so incorrectly. Chinese typography should conform to a grid. In particular, the Chinese Em dash should [span the width of two characters without a break](https://en.

[2018-09-06 11:29] humitos commented on #4612
I have **no idea** about Chinese. That said, here we go.

I was able to notice the issue you reported here. Also, I noticed that the third paragraph also has a dash but it looks correct to me: the alignment doesn't break.

I pasted them into a Python console and I could notice that the "correct dash" has a little space on its right which seems to keep the correct alignment:

[code]

From my unders

[2018-09-06 12:14] humitos commented on #3070
@ericholscher I think we can do this now. I wonder if we need to create a date Feature flag for this, so only new projects start building with `python3` instead of forcing all the projects that were already building with `python2` to migrate. What do you think?

[2018-09-06 12:15] humitos commented on #3070
Oh, I got confused. By changing the `default=` attribute in the model we already get what I was proposing with the Feature flag :)

[2018-09-06 12:48] humitos commented on #4568
@agjohnson how are you thinking to collect these projects? our logs are not saved for too many days now.

Maybe creating a temporal model in the database and calling `get_or_create` on each `/github`, `/bitbucket`, `/build` and send an email notification every two weeks. After depreciation, we can just remove this model safely. What do you think?

This will cover most of your points. We will need

[2018-09-06 13:07] humitos commented on #1621
From this comment https://github.com/rtfd/readthedocs.org/pull/4355/files#r202485887 I suppose that using `''` we are forcing RTD to **not use** or install any `requirements.txt` file.

I don't really like that solution because it's not too explicit to me, but if that works to omit finding it, we can close this issue. @stsewd what do you think?

[2018-09-06 13:41] agjohnson commented on #4603
I didn't realize sphinx exposed a tag element in the conf.py, that is a better ux. We should document this usage

[2018-09-06 14:03] gjtorikian commented on #4568
I pulled numbers for you all at one point (I work at GitHub) but forgot to share them. I think there was something like 27,000 users on the old services, with 24,000 of them being enabled (not active -- simply "turned on." I can't pull active numbers.)

I can grab the users and projects associated with the service, but I'm not sure if that's useful.

[2018-09-06 15:47] stsewd commented on #4603
@agjohnson but you can't see the builder tags in the conf.py file

[2018-09-06 15:52] stsewd commented on #1621
I was waiting to have the v2 released to close this, right now, people can't use `''` in v1 (I haven't tested it, but I'm pretty sure it will raise an error).

[2018-09-06 15:57] #4457 closed

[2018-09-06 18:41] stsewd commented on #3465
The rest keyword is now documented https://docs.readthedocs.io/en/latest/user-defined-redirects.html#exact-redirects Looks like it solves all the problems here, not sure if a wildcard is still needed after that.

[2018-09-06 19:16] ryanpitts commented on #3938
First of all, thank you so much for building this feature into RTD! I'm not sure if I should reopen this ticket (or probably create a new one), but now that I've followed this documentation and switched our project to use https on a custom domain as described, I'm noticing that:

* This works great: https://securitytraining.opennews.org/en/latest/
* But this does not automatically redirect to http

[2018-09-06 19:20] stsewd commented on #3938
@ryanpitts I think this is the same problem as https://github.com/rtfd/readthedocs.org/issues/4395#issuecomment-406437065

[2018-09-06 19:40] stsewd commented on #3465
I believe `/en/latest/en/$rest` -> `/en/latest/` should work (I just tested this and it works!). I'm not completely sure, but for me looks like the rest keyword is the _wildcard redirect_  p:

[2018-09-06 20:29] ryanpitts commented on #3938
Awesome! Thanks so much for the update. And for working on https for custom domains overall. Super helpful and appreciated.

[2018-09-07 03:41] gdbarron opened #4616 "Getting error ValueError: need more than 1 value to unpack"
I've been using rtd for some time now with no issues, but now getting a failure on 1 page which is causing the build to fail.  I am using platyPS to convert PowerShell help to markdown.  The error I'm receiving is

The file it is failing on can be found [at GitHub](https://github.com/gdbarron/VenafiTppPS/blob/master/docs/functions/Get-TppPermission.md).

* Read the Docs project URL: https://venafi

[2018-09-07 03:48] stsewd commented on #4616
Does this work locally for you?

[2018-09-07 03:51] stsewd commented on #4616
If this was working for you a time ago, it may be related to a mkdocs update, rtd uses `mkdocs==0.17.3`. We recommend to pin your mkdocs version in a requirements file, so you don't have these problems.

[2018-09-07 10:04] boegel commented on #2702
Any idea if using https://pypi.org/project/sphinx-asciidoc would work to use asciidoc as a format for documentation hosted on readthedocs?

[2018-09-07 11:44] codegeschrei opened #4618 "Build failing because of a problem with Read the Docs"
## Details

* Read the Docs project URL: [bigchaindb-python-driver](https://readthedocs.org/projects/bigchaindb-python-driver)
* Build URL (if applicable): [7746483](https://readthedocs.org/projects/bigchaindb-python-driver/builds/7746483/)
* Read the Docs username (if applicable): codegeschrei

## Expected Result

Build the docs

## Actual Result

There was no error during the build of the docs b

[2018-09-07 12:44] jonashaag commented on #662
@Kapeli what's the state of Dash and RTD integration? I'd be interested in helping with this.

[2018-09-07 13:11] Kapeli commented on #662
I've given up on it for now. Even if I come up with a way to get what I need from RTD (search, versioning and so on), there's still the issue with Sphinx, which doesn't have a strict/common format between docs and is hard to index right. Using the intersphinx index is the best approach I have so far, but it often misses things and is incomplete, even for the main Python docs.

It's one of those fe

[2018-09-07 14:40] nomeata commented on #3140
Had to do
[code]
to fix this problem.

[2018-09-07 14:45] stsewd commented on #2702
@boegel looks like it should work!

[2018-09-07 15:15] stsewd commented on #4618
I was able to build your docs in my local instance, not sure what is happening on the servers :/

[2018-09-07 17:34] #4530 closed

[2018-09-07 18:20] jwage opened #4619 "Trying to gain access to doctrine.readthedocs.io"
## Details

* Read the Docs project URL: https://doctrine.readthedocs.io/
* Build URL (if applicable):
* Read the Docs username (if applicable): jwage

Hi, I am with the Doctrine project (https://github.com/doctrine), we recently changed the way our website and documentation works and I am trying to regain access to doctrine.readthedocs.io.

I am pretty sure I am the one that set it up, but it has

[2018-09-07 20:40] davidfischer commented on #4619
If I look at the [project page](https://readthedocs.org/projects/doctrine/), it appears to be setup by [somebody else](https://readthedocs.org/profiles/dominics/). Do you know this person? If so, you can contact them and ask them to add you as a co-maintainer or delete the project or whatever. If not, I can contact them and point them to this ticket.

In general, we follow the process in our docs

[2018-09-07 21:08] jwage commented on #4619
Hmm, I do not know that person and they aren't affiliated with Doctrine. It looks like they set it up recently. I guess there is nothing stopping someone from setting this up and using our documentation source. But the problem is, people are searching in Google and ending up there instead of on our website domain where we have the same documentation and we're trying to improve our SEO so developer

[2018-09-07 23:29] davidfischer commented on #4619
I contacted the user and requested that they either grant you access or delete the project.

[2018-09-08 02:53] gdbarron commented on #4616
Thanks, @stsewd.  It was working up until 2 weeks ago.  0.17.3 was released in March so I didn't think that was it.

The process looks to fail on a curly brace so I did some troubleshooting and found that it doesn't like the following line

`{@{Name=Given Name; Value=Greg}, @{Name=Surname; Value=Brownstein}}`

Does anything strike you as being problematic?

[2018-09-08 09:54] invinciblycool commented on #4492
@humitos Tried reproducing this but the search results vary in my local deployment where I have built the docs of `requests` using the Github URL of my fork.

Search query `read timeout`:

![image](https://user-images.githubusercontent.com/24691797/45252836-e68a3780-b37a-11e8-80a3-65fbb19b530d.png)

Search query `ReadTimeout`:

![image](https://user-images.githubusercontent.com/24691797/45252847-0

[2018-09-09 09:10] sriks123 commented on #4463
Hello @agjohnson can I work on this issue ?

[2018-09-09 10:00] akien-mga commented on #3555
@davidfischer Could you bump timeout again to 5400 for `godot-ru`?

I recreated it today (deletion + new project) as the GitHub webhook was invalid after the `godot-rus`->`godot-ru` renaming in #4202, and I couldn't find an easy way to edit it - but I forgot that it would mean the timeout needs to be increased anew.

[2018-09-10 00:58] RichardLitt commented on #4604
@matanster Was this helpful, for you? Are you stuck - if so, what did you try last? Let's figure this out. :)

[2018-09-10 01:00] RichardLitt commented on #4610
Glad you got it, @wilsonyou. Don't hesitate to keep reaching out if you're lost. :)

[2018-09-10 01:04] RichardLitt commented on #4530
@sriks123 Just wanted to point out that @invinciblycool has provided a fix for this! Might want to find another issue. :)

[2018-09-10 01:05] RichardLitt commented on #4619
@davidfischer Would a "remindme" bot help you come back to this easier in six weeks?

[2018-09-10 01:06] RichardLitt commented on #4462
Should this be on the ReadTheDocs docs itself, so that we don't have a constant open issue?

[2018-09-10 03:06] davidfischer commented on #4619
I suppose it would

[2018-09-10 06:54] strophy commented on #4612
Hi, that's a nice bit of research there!

The character from the third paragraph that you have marked "right dash" is actually the Chinese number one. It might make a bit more sense when you see the progression `1 2 3 --> 一 二 三`, so the word `一些` means `some`. It is not possible or meaningful to use the character `一` as replacement for `-`.

I was unaware of the existence of a `TWO-EM DASH` but I

[2018-09-10 07:57] codegeschrei commented on #4618
Thanks for looking in to it @stsewd
Do you have any idea what I should do now?

[2018-09-10 09:10] vivianyangsh opened #4623 "Question about subprojects"
## Details

By following https://docs.readthedocs.io/en/latest/subprojects.html, we configured project b,c,d as the subproject of a, expecting that these projects will share search index.

We hosted the docs in our own server, so not a project on readthedocs.

## Expected Result

When I search in project a, search engine should search among a and its subprojects.

## Actual Result

When I search i

[2018-09-10 09:15] vivianyangsh opened #4624 "How to get rid of /docs segment in the URL"
## Details

We deployed a documentation center on our own server, it is now access through : https://docs.eniot.io/docs/enos/en/latest/

## Expected Result

The wanted the URL is https://docs.eniot.io/enos/en/latest/ (without `/docs` behind `docs.eniot.io`)

## Actual Result

Currently it is https://docs.eniot.io/docs/enos/en/latest/

## Question

Where is configure the URL to get rid of `/docs`

[2018-09-10 09:26] vivianyangsh opened #4625 "Can I reference a subproject through relative path?"
## Details

We are using readthedocs to deploy 2 sets of environemnts: staging and production. And we used subprojects. From the parent project, can I use a relative path to reference a child project? I currently used absolute path, but because the production environment has a different domain address, the link to subprojects become broken when in the production environement

## Expected Result

I

[2018-09-10 10:32] ltalirz commented on #4500
@stsewd I'm not sure (closed) issue #4127 really covers this issue.

For example, my problem is that I need pip >= 10 in order to build my package.
However, including `pip>=10` in the requirements.txt does not solve this issue, since the newer pip version is required already at install time (see [failed build here](https://readthedocs.org/projects/idea-code/builds/7761509/) ).

In essence, being a

[2018-09-10 12:28] valeriy-efimov opened #4626 "This page does not exist yet"
## Details

* Read the Docs project URL:
* Build URL (if applicable):
* Read the Docs username (if applicable):
https://dcdailydocs.readthedocs.io

![image](https://user-images.githubusercontent.com/5989188/45297384-df476300-b50d-11e8-983b-694d76ac8b0b.png)

## Expected Result

*A description of what you wanted to happen*

I get  SORRY   This page does    not exist yet. But no one error in build

[2018-09-10 13:16] #4626 closed

[2018-09-10 15:47] davidfischer commented on #3555
Done!

[2018-09-10 17:14] stsewd commented on #4500
@ltalirz Currently there is no way to do that, we need to wait for the next release of the rtd docker image which should include a more recent version of pip.

[2018-09-10 17:17] stsewd commented on #4626
Just for clarification, this is due to the time that the docs are copied from the builders to the final servers.

[2018-09-10 17:44] davidfischer commented on #4521
This is a bit of a tricky situation since it's not really easy for us to tell which domains will have problems once we make this change. We don't really know which projects have their custom domains proxying through Cloudflare. Perhaps the right solution here is to make the switch and have a test script where we can uncover these issues quickly and then either put workarounds in place or contact t

[2018-09-10 18:07] stsewd commented on #4616
I'm not really familiar with that syntax, I think the missing `}` should be located in another place (maybe above that line)

[2018-09-10 18:09] stsewd commented on #4616
Also, are you having this problem locally? If so, you should try solving that first, this issue tracker is for rtd related problems only.

[2018-09-10 18:44] stsewd commented on #4492
I think you need to setup elastic search on your local instance

[2018-09-10 18:45] invinciblycool commented on #4492
I have the exact version as mentioned in the docs setup already.

[2018-09-10 19:01] stsewd commented on #4624
I think you need https://github.com/rtfd/readthedocs.org/blob/3501ca08db9372877a071a8f97ff93a5ac5cc694/readthedocs/settings/base.py#L45-L45

[2018-09-10 19:03] stsewd commented on #4623
I'm not sure if that's by design, but if not, looks like a feature request.

[2018-09-10 19:06] stsewd commented on #4625
I think there is another directory that you need../project_name_b/index (because locally on our build server, parent and subprojects are in the same location at the same level), ../projects/project_b/

[2018-09-10 22:29] davidfischer commented on #4619
That sounds like a design decision that should involve more than just myself. I'll ask the team about their thoughts.

[2018-09-10 22:37] RichardLitt commented on #4618
@humitos Can you take a look?

[2018-09-11 02:07] dominics commented on #4619
Hi @jwage, long time follower.

Yup, that's true.

I set this up in 2012.

I set it up after the Doctrine 1.2 documentation was completely removed from the website after the launch of 2.0, when plenty of people were still stuck on Symfony 1.4 without an upgrade path. In order to set it up, I had to convert the entire 1.2 documentation to restructured text.

My work was later merged back in under t

[2018-09-11 03:11] jwage commented on #4619
Hi @dominics, no problem. I am happy you kept the doctrine1 docs going when we did not. Thank you!

I have the doctrine1 docs rendering now on the new website and I will continue to maintain it there. https://www.doctrine-project.org/projects/doctrine1/en/latest/index.html

Thanks for your help!

[2018-09-11 08:53] ttmc commented on #4618
Some more details:

- Builds of v0.5.1 docs are still working. We tried again today. See https://readthedocs.org/projects/bigchaindb-python-driver/builds/7766672/
- Builds of v0.5.1 docs are still failing for no apparent reason. See https://readthedocs.org/projects/bigchaindb-python-driver/builds/7766659/
- What changed between v0.5.1 and v0.5.2?
  - [Pull request #472](https://github.com/bigchain

[2018-09-11 11:00] humitos commented on #4618
I took a quick look into it (logs are not really helpful) and I think the problem is because of NULL chars in the install output. I'd need to take a deeper look to be sure, though.

If this is the problem, it's already fixed in #4591 but it's not already deployed.

@stsewd if you use PostgreSQL to build the docs, does it work?

[2018-09-11 11:11] humitos commented on #4403
I just want to add that the solution implemented of the `build03` queue has been working properly and we haven't had more reports of projects with failing builds due to timeout or memory.

There is an issue that talks about this possible solution that worth to link it here: #3990

[2018-09-11 12:15] ttmc commented on #4618
We just merged a few things into our master branch, and now those docs (based on master) are building. See https://readthedocs.org/projects/bigchaindb-python-driver/builds/7767473/

I'm not sure if this is because of the changes we made, or something changed at ReadTheDocs.org.

[2018-09-11 13:09] DzianisH opened #4629 "Center Document Body"
## Details

* Read the Docs project URL: https://docs.readthedocs.io/en/latest/guides/build-using-too-many-resources.html
## Expected Result

*Page content either shows at the center of the page or it justifies to improve user experience*

## Actual Result

*Page content aligned to left side => right part of the screen is unused.
Screenshot: http://prntscr.com/kt4m3w*

[2018-09-11 15:32] davidfischer commented on #4629
Different [sphinx themes](http://www.sphinx-doc.org/en/master/theming.html) will have different behavior with respect to this.

The attached image is the Read the Docs sphinx theme and you can open an issue or create a pull request [here](https://github.com/rtfd/sphinx_rtd_theme).

[2018-09-11 15:32] #4629 closed

[2018-09-11 15:37] stsewd commented on #4618
@humitos I'll be investigating more

[2018-09-11 17:45] stsewd commented on #4618
I can't replicate using postgres (10.5) with a commit previous to the null char fix

[2018-09-11 18:14] Benjamin-Lee opened #4630 "Read the docs adds title to Alabaster theme"
## Details

* Read the Docs project URL: squiggle.readthedocs.io
* Build URL (if applicable):
* Read the Docs username (if applicable):

## Expected Result

![expected](https://snag.gy/d5fbKQ.jpg)

There is no title in the top left.

This issue persists even though my conf.py contains the following:

[code]

## Actual Result

![actual](https://snag.gy/PMH4zQ.jpg)

The title of the project is in th

[2018-09-11 19:16] stsewd commented on #4619
@jwage can we close this, then?

[2018-09-11 20:49] jwage commented on #4619
Yes. Thanks!

[2018-09-11 20:49] #4619 closed

[2018-09-12 01:57] stsewd commented on #4623
oh, I didn't read that. I think that should work, I'll investigate a little more.

[2018-09-12 10:45] ttmc commented on #4618
Update: As I write this,

- The v0.5.3 docs (== latest docs == master docs) are building fine on ReadTheDocs
- The v0.5.2 docs are failing to build on ReadTheDocs

[2018-09-12 22:37] ericholscher commented on #4477
:+1:

[2018-09-12 22:52] #4314 closed

[2018-09-12 22:52] #4549 closed

[2018-09-12 22:52] #4448 closed

[2018-09-13 08:46] EnvisionIot commented on #4624
we tried this, but still cannot get rid of `/docs` in the URL, this is how our URL looks like: https://docs.envisioniot.com/docs/enos/en/latest/, other settings we can try to make it into https://docs.envisioniot.com/enos/en/latest/ ?