[2017-12-28 10:06] cjw296 commented on #3109
Okay, well, I'll ask people to post here and then you can re-open if there are further problems. Thanks for taking a look!

[2017-12-28 15:06] humitos commented on #2173
Hi @carukc! Can you provide more information about this? I don't know what you mean by "create bookmarks", I don't know this feature.

[2017-12-28 15:11] humitos commented on #2181
Hi all! I don't know the problem behind this but what I can tell is that it probably won't be fixed since there is a plan of removing the `Private` privacy level: https://github.com/rtfd/readthedocs.org/issues/2663

[2017-12-28 15:16] humitos commented on #2146
Is this issue still valid? I mean, it seems that @therealssj already created a cli and looks good.

Is RTD interested on creating _another_ tool for this?

[2017-12-28 15:20] humitos commented on #2128
Not sure if this issue is still valid or not.

If it is, can you explain a little more and point some code lines to take a look?

[2017-12-28 15:23] humitos commented on #2111
Thank you all! I'm closing this issue since all the links mentioned in the comments are 404 now. So it seems that all is fixed/deleted.

[2017-12-28 15:23] #2111 closed

[2017-12-28 15:34] humitos commented on #2093
Hi @SylvainCorlay! I wanted to check with you if you still have this issue? If you already solve it, can you please share your solution?

Besides, I found similar situation on these issues https://github.com/rtfd/readthedocs.org/issues/2387 and https://github.com/rtfd/readthedocs.org/issues/2511 that you may find useful.

I'm closing this issue since it's quite old and there was no updates. Please

[2017-12-28 15:34] #2093 closed

[2017-12-28 15:44] edmorley commented on #3219
Hi - thank you for the reply. I'm not sure the `support` label is correct - our project has worked fine for months (ie this wasn't a problem with us figuring out how to use RTD) and the failure occurred in the RTD bootstrap steps rather than our own requirements file. However given this hasn't occurred since I'm happy to just close it out and call it a one-off corruption bug :-)

[2017-12-28 15:44] #3219 closed

[2017-12-28 15:46] humitos commented on #2085
I just imported this repository to my local instance: `git//github.com/humitos/turtle-confusion-es.git` and the links to Edit or View in github work great.

The problem is in the project home page at RTD, `http://localhost:8000/projects/turtle-confusion/`,

![captura de pantalla_2017-12-28_10-44-15](https://user-images.githubusercontent.com/244656/34415336-116dea96-ebbc-11e7-9a9c-c577bb76c6a2.png)

[2017-12-28 15:47] humitos commented on #2084
We have a policy regarding abandoned projects now that maybe interesting for you, http://docs.readthedocs.io/en/latest/abandoned-projects.html

[2017-12-28 15:54] ericholscher commented on #2128
Not sure, believe we fixed this though! :)

[2017-12-28 15:54] #2128 closed

[2017-12-28 15:57] humitos commented on #2065
I think this issue is no more relevant since RTD is already serving badged under its own domain and the badges are the same for all the project: `docs: passing`, `docs: failing` and `docs: unknown`. So, no project name on it or anything else.

I'm closing this issue. Please, feel free to reopen if you consider that something is missing or more work is needed here.

[2017-12-28 15:57] #2065 closed

[2017-12-28 16:05] humitos commented on #2032
A lot of work on how stable versions are handled were done in the last year. So I'd like to know, @fasaxc, if you still have this issue?

If you don't, please close the issue.

Thanks for your report!

[2017-12-28 16:11] humitos commented on #2031
Hi all! What's the status of this issue?

Now, RTD takes preference of tags over branches. So, if you have a `1.5` tag and a `2.0` branch, the `stable` version at RTD will be `1.5` since the branch is considered "in development" since it's a branch.

[2017-12-28 16:20] humitos commented on #2000
It seems that most of the latest build are succeed. So, I'm closing this issue. Please, feel free to reopen if you consider. Thanks!

[2017-12-28 16:20] #2000 closed

[2017-12-28 16:26] humitos commented on #1994
Hi people! All the projects linked on the comments give 404, so it seems this issue can be closed. Please, feel free to reopen if you consider. Thanks!

[2017-12-28 16:26] #1994 closed

[2017-12-28 16:41] humitos commented on #1986
Hi @mstajdohar! I noticed there are no more builds after this issue was created (the latest was more than a year ago).

I just imported your project in my local RTD instance (latest version of the code) and I was able to build `stable` and `latest` versions without any problem. So I'd say that this issue is already fixed.

Besdies, I created a sample git project with `publicsuffix` as requirement

[2017-12-28 16:41] #1986 closed

[2017-12-28 16:41] stanislaw55 commented on #2047
Hello,
currently  I'm trying to setup local instance of RtD, using Docker to build docs (`DOCKER_ENABLE = True` in `local_settings.py`). However, no matter in which way I clone my repo, it still gets stuck in 'Cloning' state.

Updating git to version `2.1.5.1` doesn't change a thing.

Any help appreciated

[2017-12-28 16:44] humitos commented on #1981
we have a policy for abandoned project that you may be interested on http://docs.readthedocs.io/en/latest/abandoned-projects.html

[2017-12-28 16:50] humitos commented on #1899
Related to #3337

[2017-12-28 20:23] dhermes commented on #3183
Nope

[2017-12-28 20:30] psi29a commented on #3014
We still have this issue if we want to a full build, we tried to work around it now by only building part of our documentation.

[2017-12-28 21:25] #3351 closed

[2017-12-28 21:31] #3338 closed

[2017-12-29 00:22] humitos commented on #1883
I think this has already solved. Trying to change the lang from the page you linked I end at http://docs.readthedocs.io/i18n/setlang/ and I see the Maze.

I'm closing this issue. Feel free to reopen it if you consider.

[2017-12-29 00:22] #1883 closed

[2017-12-29 00:24] humitos commented on #1881
This logic was implemented at https://github.com/rtfd/readthedocs.org/pull/3331

Please, would you mind confirming if you still have this issue? I think it should have solved now. If the problem is gone, please close the issue :)

[2017-12-29 00:26] humitos commented on #1863
@agjohnson can you explain this issue a little more?

BTW, is this issue still relevant?

[2017-12-29 01:03] humitos commented on #1616
After https://github.com/rtfd/readthedocs.org/pull/3331 got merged, if `1.0` and `1.1` are tags, this shouldn't be a problem anymore :)

[2017-12-29 01:10] humitos commented on #1843
Just pinging @emgerner-msft here since it seems that the original project reported in the issue is building properly (https://readthedocs.org/projects/azure-storage/builds/) and @jotes says that the issue was solved.

Can you confirm that it's solved for you and we can close this issue?

[2017-12-29 01:15] humitos commented on #1822
I'm closing this one in favor of #1410 and #2491. Thanks you all for reporting. Feel free to reopen if you consider.

[2017-12-29 01:15] #1822 closed

[2017-12-29 01:22] humitos commented on #1800
I think this is already implemented since when there is no `index.html` generated RTD generates one for us with a message which also points to the "Getting Started Guide" at #3447

@ericholscher If that's the issue, can we close this one?

[2017-12-29 01:37] ericholscher commented on #1800
Believe this should still be the case. People can still have no `index.[md|rst]` and have a build pass. We're only generating them if there is no sphinx/mkdocs config found.

[2017-12-29 01:39] humitos commented on #1592
What are the steps to audit this? Is it possible to test this locally or we need access to the server?

Is it enought to kill celery in a local instance and hit a webhook? or should I kill redis and test the webhook? Would it be that enough?

Is this issue still valid? It's from 2015 with `Priority: High` so... it doesn't seem to be too high :P

[2017-12-29 01:42] humitos commented on #1543
Hi @rweickelt! The documentation for the yaml file is at http://docs.readthedocs.io/en/latest/yaml-config.html and it seems that this is not supported yet :(

[2017-12-29 02:08] humitos commented on #238
I think this is duplicated of https://github.com/rtfd/readthedocs.org/issues/1340

[2017-12-29 02:16] RichardLitt commented on #3133
Thanks @humitos. @Ev1dentFir3 - if this doesn't answer you, let us know!

[2017-12-29 02:16] #3133 closed

[2017-12-29 02:17] RichardLitt commented on #3454
If you're a beginner and you want to take this, feel free to ask questions here or on Slack, new contributors!

[2017-12-29 02:28] stsewd commented on #2465
+1 for this option

Also exposing the build logs (no generate docs, just logs).

[2017-12-29 06:59] nigelbabu commented on #2686
@humitos We solved this slightly differently by using our own domain and pointing that as the canonical address. This has helped stemmed the tide of problems we used to have.

It appears that at some point the RTD team has removed https://glusterfs.readthedocs.io. Much thanks to solving one of our problems for the last year! Thank you for the near-thankless job you do :)

[2017-12-29 06:59] #2686 closed

[2017-12-29 10:37] joachimwolff opened #3459 "RemovedInSphinx20Warning: builder.css_files is deprecated."
Subject: Red the docs fails to build

### Problem
- I wanted to build the read the docs files, but it is crashing with the error message below. I asked already the sphinx project, they recommended to ask here. See https://github.com/sphinx-doc/sphinx/issues/4353

* Project URL: hicexplorer.readthedocs.io
* Build URL (if applicable):
* Read the Docs username (if applicable): joachimwolff

#### Proc

[2017-12-29 11:43] Rapptz opened #3460 "Unable to use Sphinx 1.6.5 on 3.5 environment"
## Details

* Project URL: https://readthedocs.org/projects/discordpy/
* Build URL (if applicable): https://readthedocs.org/projects/discordpy/builds/6471244/
* Read the Docs username (if applicable): Rapptz

## Expected Result

The build to run successfully.

## Actual Result

The build fails.

There have been multiple setuptools/pip related issues when building my project (probably unrelated, se

[2017-12-29 12:45] aero31aero commented on #3409
Hey!  We disabled the pdf and epub creation. Thanks for responding on this and debugging.

[2017-12-29 12:45] #3409 closed

[2017-12-29 12:51] theheibenator opened #3462 "Reactivate account"
Could you reactivate account aheibel please?  Thanks in advance

[2017-12-29 15:13] stanislaw55 commented on #2047
AFAICS, ReadTheDocs can clone my repo, and it does that, I can see it in `user_builds`. Next step is to create container and build docs inside it. That's the point where it enters 'Cloning' state. Here are mine four last output lines before 'Cloning'

[code]

[2017-12-29 16:47] CrazyPython commented on #2955
`*.js ≈ 269KB`
[code]
+ cache `*.js` `*.css`

google has a NGINX module that does all of this automatically https://www.modpagespeed.com/doc/build_ngx_pagespeed_from_source

`https://developers.google.com/speed/pagespeed/insights/?url=https%3A%2F%2Fkintojs.readthedocs.io&tab=desktop`

[2017-12-29 17:08] ericholscher commented on #2955
I'm not following. Are you wanting us to minify the JS along with gzipping it? I don't feel comfortable changing the actual served JS content of folks, other than compressing it, at scale.

[2017-12-29 19:15] emgerner-msft commented on #1843
We ended up (incidentally) changing how our project was built so this looks like it went away as a result of that based on the timeline, not because the issue was necessarily fixed. So, that's why you stopped hearing from me. :) Up to you if you want to close the issue or root cause further, but my project is in a good state so I'm perfectly happy.

[2017-12-29 23:33] marcelstoer opened #3465 "No wildcard redirects possible?"
When we started with RTD & MkDocs two years ago we tried to work around some l10n shortcomings ourselves. Turns out we don't need that all; all files can be moved up one level in the directory tree. To avoid dead links we'd like to configure wild card redirects to omit that extra folder in the URL.

Examples:
- https://nodemcu.readthedocs.io/en/latest/en/ -> https://nodemcu.readthedocs.io/en/lates

[2017-12-30 16:11] RichardLitt commented on #3462
Note: I believe there is a page for this in the docs, but I was unable to find it within three minutes of searching. This may mean that we need to up its visibility for others.

[2017-12-30 16:23] RichardLitt commented on #3183
Let's reopen if anyone still has it. Thanks all.

[2017-12-30 16:23] #3183 closed

[2017-12-30 16:25] RichardLitt commented on #3219
@edmorley Thanks for clarifying! Glad that you think this can be closed, regardless of my poor labelling. :)

[2017-12-30 20:16] iambibhas commented on #3454
This particular issue seems to be in `readthedocsext` template. But it doesn't seem to exist when I install and run this project. Any hint?

[2017-12-31 15:10] bieagrathara opened #3466 "reading all chat to nombor phone"
## Details

* Project URL:
* Build URL (if applicable):
* Read the Docs username (if applicable):

## Expected Result

*A description of what you wanted to happen*

## Actual Result

*A description of what actually happened*

[2017-12-31 17:09] DavidLutton commented on #3109
Not an issue at this time

[2017-12-31 21:03] CrazyPython commented on #2955
Google PageSpeed insights suggests:
 - Enabling compression
 - Eliminating render-blocking JavaScript and CSS in above-the-fold content
 - Leveraging browser caching
 - Minifying CSS and JS

[And Google provides NGINX and Apache modules to apply those optimizations automatically](https://developers.google.com/speed/pagespeed/module/)

[2017-12-31 21:19] #3466 closed

[2018-01-01 10:07] avinashs95 opened #3467 "Python 3 only Project Documentation with autodoc."
## Details

* Project URL: https://readthedocs.org/projects/sprw-iot/
* Build URL (if applicable): https://readthedocs.org/projects/sprw-iot/builds/
* Read the Docs username (if applicable): avinash_sprw

## Expected Result

Python3 project should be installed in readthedocs environment. API Documentation should become available.

## Actual Result

Since the my project package is not installed, it

[2018-01-01 12:55] #1881 closed

[2018-01-01 20:21] stsewd commented on #2036
I did some local testing, this issue seems to be fixed.

As seen on the image, the stable version points to the commit with the 1.2.0 tag, and there is 2 pre-release tags.

![screenshot-2018-1-1 versions read the docs](https://user-images.githubusercontent.com/4975310/34470765-c92d73d4-ef06-11e7-841c-42073620c43e.png)

[2018-01-01 21:04] humitos commented on #2036
Thanks @stsewd for testing it. I'm closing this issue. Feel free to reopen it if you consider.

[2018-01-01 21:04] #2036 closed

[2018-01-01 21:48] stsewd commented on #2919
I was able to reproduce this problem on my local instance with a little example

[code]

Then I change the interpreter to python 3.x (advanced settings on read the docs site) and it works.

![screenshot-2018-1-1 no title type_hints documentation](https://user-images.githubusercontent.com/4975310/34471272-dfa7cee6-ef12-11e7-82c3-8dcdb2e25c45.png)

Looks like type hints are only supported by python3

[2018-01-01 23:31] humitos commented on #2919
@abulka Hi! Can you test the solution proposed by @stsewd and let us know if that's your problem? In case you can fix it with these steps, please close the issue. Otherwise, please explain us the problems you found :)

[2018-01-02 00:39] stsewd commented on #2757
This works for me on my local instance

![screenshot-2018-1-1 versions read the docs 1](https://user-images.githubusercontent.com/4975310/34472229-1f7ac5b0-ef2b-11e7-9021-0e80789b1385.png)

![screenshot-2018-1-1 welcome to the jungle tag-test 2017 03 lts 1 documentation](https://user-images.githubusercontent.com/4975310/34472230-20d53210-ef2b-11e7-9d83-a51656dd524a.png)

Sorry if I don't understan

[2018-01-02 02:46] stsewd commented on #3467
I can't find `actionlib` package on pypi https://pypi.python.org/pypi/actionlib.

Also there is no results on `pip3 search actionlib` and `pip2 seach actionlib`.

[2018-01-02 03:38] stsewd commented on #2216
What I understand here is that one class is used to run the build command on local environment and the other on a docker environment. All this logic is decided from here https://github.com/rtfd/readthedocs.org/blob/master/readthedocs/projects/tasks.py#L240-L252.

I think remember someone saying that support for local builds isn't going to be maintained anymore (maybe I just making it up), it's tha

[2018-01-02 07:16] avinashs95 commented on #3467
My Bad. I generated requirements.txt using pip freeze. But it had generated the packages present in the whole of my python environment. Then I used pipreqs to generate requirements specific to my project. Package installation is now fine.

Regarding the page does not exist, I added this in conf.py,
[code]
This is because my folder structure is **/src/docs/source/conf.py**.
**src** contains the sou

[2018-01-02 07:16] #3467 closed

[2018-01-02 08:46] liiight commented on #2581
so if i want to use use python 3.6 ill have to dockerize my project? I'm sorry if I misunderstood how that PR solves the 3.6 issue...

[2018-01-02 12:54] dirn commented on #2581
RTD runs the builders in Docker containers. The PR provides more control over which image is used.

[2018-01-02 13:02] liiight commented on #2581
I see. Thanks for the explanation, looking forward for the implemented solution

[2018-01-02 16:04] humitos commented on #3190
I think this issue can be closed, since it's already implemented in #3432. Is there any of the questions/ideas posted here missing?

[2018-01-02 18:41] r-barnes opened #3468 "Hitting memory limit for figure generation"
## Details

* Project URL: https://richdem.readthedocs.io/en/latest/
* Build URL (if applicable): https://readthedocs.org/projects/richdem/builds/6481868/
* Read the Docs username (if applicable): rbarnes

## Expected Result

My project manipulates geospatial raster data. I've included a 16MB test file in the git repo. The documentation includes many beautiful pictures of the test dataset that are

[2018-01-03 05:20] r-barnes commented on #3468
I decide to try Option (2).

I gamely rewrote matplotlib's plot directive so that it could load cached imagery and committed that imagery to a submodule. The build process should now require no computation from my code, so I'd expect the memory usage to be low.

Unfortunately, I'm still hitting the memory consumption limit. But now I really don't know why.

[2018-01-03 07:08] r-barnes commented on #3468
Okay. Everything is working now. I've stashed the big images in a submodule. I'll write a full report tomorrow.

[2018-01-03 10:02] mstajdohar commented on #1986
Thanks

[2018-01-03 13:42] vbotka opened #3470 "sphinx_rtd_theme: Line numbers not aligned with code."
## Details
Line numbers don't align with the code. Created with
[code]

* Project URL:
http://redis-c-examples.readthedocs.io
http://redis-c-examples.readthedocs.io/en/latest/examples.html#create-frequency-graph-from-a-log

* Build URL (if applicable):
https://readthedocs.org/projects/redis-c-examples/builds/6487522/

* Read the Docs username (if applicable):
vbotka

## Expected Result
Line number

[2018-01-03 14:22] vbotka commented on #3470
Might be related to line-height.
 https://github.com/rtfd/sphinx_rtd_theme/commit/8355c2162fbb4bf0b216f15afdb9484bd791c649

I see local build aligned properly. When I compare the local build with RTFD I see larger vertical spacing between numbers at RTFD.

[2018-01-03 17:04] cokelaer commented on #3144
@RichardLitt @agjohnson sorry to bother you again but I had temporarily fixed the issue by removing some of the documenation (gallery examples) but facing again the 900 seconds issue today. I will need to update the doc for a publication very soon and will need to update the installation section but this is currently failing. Not sure what your decision is or will be. I have no issues with about 1

[2018-01-03 17:09] jieter commented on #3195
@safwanrahman what is the status on this? Would be very nice if we could put proper docs on readthedocs.org.

[2018-01-03 17:37] stsewd commented on #3195
@jieter there is a policy for this now http://docs.readthedocs.io/en/latest/abandoned-projects.html#name-conflict-resolution-for-active-projects

[2018-01-03 19:02] r-barnes commented on #3468
I ended up going with Option 2: I still use RTD to generate textual documentation, but generate image documentation on my own computer.

To do so, I modified the matplotlib's Sphinx [plot directive](https://github.com/matplotlib/matplotlib/blob/master/lib/matplotlib/sphinxext/plot_directive.py) in the following ways.

1. I added an option so that the user can specify the output names of images. Th

[2018-01-03 19:03] r-barnes commented on #3468
I'll leave this open in hopes that one of the RTD folks can weigh in about whether there might be a better way of handling this that I haven't thought of.

If there isn't, I'm happy to have this issue closed.

[2018-01-03 20:11] stsewd commented on #2491
See related comment here https://github.com/rtfd/readthedocs.org/issues/1822#issuecomment-285510144.

I'm not sure about this use case, but I think is unnecessary to have to build the last docs in order to get the new branch, (probably this one is going to be build too). Having a webhook to do this seems reasonable to me. I going to see the code if this is _easily_ possible.

[2018-01-04 05:47] dyve commented on #3195
@safwanrahman @stsewd It's good that there is a policy. This request predated the policy, and some help would very really be appreciated. The project in question is a fork of the `django-bootstrap3` project that we maintain (under @dyve instead of under @zostera). The owner @bitkits has not responded (and has turned into "nobody" on GitHub as far as commits go). The last activity on GitHub is 10 m

[2018-01-04 10:10] ttmc commented on #2271
@stuartaccent Are you still having that problem? Can we close this issue?

[2018-01-04 11:39] Chilipp commented on #3165
@RichardLitt and others. I know you have a lot to do and I really appreciate your work! Thanks for your great platform. Anyway, since I did not hear anything for the past 3 months since I opened this issue, I would like to know at least, whether it will be possible or whether I have to look for different solution.

[2018-01-04 12:45] RichardLitt commented on #3165
@agjohnson Any thoughts on this?

[2018-01-04 16:12] TimShawver opened #3473 "Build completed successfully, changes not appearing"
## Details

* Project URL: http://qgrid.readthedocs.io/en/latest/
* Build URL (if applicable): https://readthedocs.org/projects/qgrid/builds/6494788/
* Read the Docs username (if applicable): tim_shawver

## Expected Result

http://qgrid.readthedocs.io/en/latest/ would be updated to show the latest changes I've committed to master since my last build attempt.  Specifically I would like the changes

[2018-01-04 17:24] begriffs opened #3474 "Allow canonical tag to be selectively overridden"
## Details

Some pages in our docs contain content that is duplicated with our blog. I've modified our Sphinx template to include a canonical link on these pages pointing back to their source. For instance here is one such page:

https://docs.citusdata.com/en/v7.1/articles/hll_count_distinct.html

If you view the source you can see two canonical links, one that is ours and one added by Read the Do

[2018-01-05 01:32] agjohnson opened #3476 "UX changes around project tags"
There are a few issues with project "tags". I've noticed misuse of tags since we started prompting users for these:

* This overlaps with VCS "tags", something we rely on for versions. We shouldn't continue to introduce this confusion. We could rename "tags" to something else, or could improve the UX around tags
* I'd say prompting for tags on the dashboard page is a bad pattern. We should conside

[2018-01-05 02:22] stsewd commented on #3476
GitHub uses the word `Topics`.
What about `Keywords`?

[2018-01-05 02:39] stsewd commented on #2491
If we want to add this feature, we need to pass all the tags or branches (we can get this data from the cloned repo), Or we can implement a `patch` endpoint for only add branches.

Should we implement all the crud for versions? When a branch or tag is created or deleted on the repo, we have to update this on the project.

Or... we could call the build process when a new branch is created, this wil

[2018-01-05 02:56] stsewd commented on #2774
Adding all the hash would be a little long, for git we can truncate to 7 characters and add a link to the repo.
I don't know how this works with the others vcs.

[2018-01-05 03:10] delivrance opened #3478 "Increase build timeout limit for Pyrogram project"
## Details

* Project name: Pyrogram
* Project URL: https://github.com/pyrogram/pyrogram
* Build URL (if applicable): https://readthedocs.org/projects/pyrogram/builds/6498536
* Read the Docs username (if applicable): delivrance (https://readthedocs.org/profiles/delivrance)

Pyrogram is a fully functional Telegram Client Library written in Python, which also offers a complete documentation of the l

[2018-01-05 04:02] reece commented on #2774
I agree the full hash is long and unnecessary. 7 prefix chars is fine. The point is to be able to link to a specific changeset. Thanks!

(And Mercurial will also accept prefixes of the revision hash)

[2018-01-05 08:50] glyg commented on #3411
I got the same error today on a python 3.6 / sphinx 1.6.3 env. Maybe worth adding a short comment to the error message saying 'please wipe your build'? I can open a PR for that if ok.

[2018-01-05 10:06] stanislaw55 commented on #2047
Nevermind, I've solved that problem. ReadTheDocs doesn't care about actual docker version. All you have to do is to set `DOCKER_VERSION` to `1.18` in `local_settings.py`

End... that's it. It works.

[2018-01-05 10:52] cokelaer commented on #3144
@RichardLitt @agjohnson

I noticed that last week I had a "passed" build (http://readthedocs.org/projects/sequana/builds/6460617/) during the chritmas and new year time. I believe RTD was not as busy and so to give you an idea it took 720 seconds to build the sequana's documentation. Now, we are back to the 900 seconds limits. However, the good news is that I can assess more precisely the timeout

[2018-01-05 16:46] davidism opened #3481 "display banner link to stable docs from latest and old docs"
RTD will display a banner when viewing old versions of docs that links to the highest released version. We'd like to display a banner when viewing the latest docs as well, so that users don't try to use features that aren't released yet. For examples, see [Flask](http://flask.pocoo.org/docs/dev/) or [Django](https://docs.djangoproject.com/en/dev/).

[2018-01-05 16:53] davidism opened #3482 "Define new spec for Sphinx template context data"
RTD injects a [bunch of template variables](https://github.com/rtfd/readthedocs.org/blob/97e2c26dab68c59aa865e578508ef0ecabab2748/readthedocs/doc_builder/templates/doc_builder/conf.py.tmpl#L76-L124) that are useful for theme designers. I only discovered this after talking with @ericholscher while working on porting the Flask theme for RTD. Especially useful to me is the `versions` list, because ou

[2018-01-05 17:00] davidism opened #3483 "interface for adding extra template context"
I've been working on porting Flask's docs to be built on RTD instead of our custom builder. Our builder has a separate JSON file with metadata about versions, and inserts it into `html_context` by combining each project's Sphinx config with a standard config. `html_context` can also be set on the command line with `-A key=value` flags. RTD's interface doesn't allow doing this yet.

While that vers

[2018-01-05 17:04] davidism commented on #3483
@ericholscher mentioned this could be accomplished with a Sphinx plugin. However, this would require us to maintain a separate public package, make a new release of it with new context, and trigger RTD builds for all versions every time we wanted to change the global context, which is not very convenient. RTD directly supporting extra global context would be much nicer.

[2018-01-05 17:09] davidism opened #3484 "allow specifying extras instead of requirements.txt"
Our projects rely on `setup.py` instead of `requirements.txt` for specifying requirements. I'd like to be able to add an `extras_require` named "docs" and tell RTD about it so that it can do `pip install .[docs]` when building, instead of creating a separate `docs-require.txt` file.

[2018-01-05 18:25] tannerjfco commented on #2929
@RichardLitt unfortunately this does not appear to be resolved. While the error message has changed, it looks to be the same problem, with the same behavior. I can attempt rebuilds and eventually get a success.

Updated error message:
"There was a problem connecting to your repository, ensure that your repository URL is correct and your repository is public. Private repositories are not supported.

[2018-01-06 09:21] vbotka commented on #3470
http://redis-c-examples.readthedocs.io switched to guzzle_sphinx_theme.

[2018-01-06 13:15] hhsecond opened #3486 "Support pipfile from pipenv"
RTD now prefer requirement.txt file for installation but since Pipenv is the officially recommended Python packaging tool from Python.org, we should support that as well.

[2018-01-06 15:38] TimShawver commented on #3473
Closing because this is a problem on my end...I forgot to update the conda package my docs build depends on (in docs/environment.yml).

[2018-01-06 15:38] #3473 closed

[2018-01-06 21:26] RichardLitt commented on #3481
This sounds good to me.

[2018-01-06 21:26] RichardLitt commented on #3411
@glyg That makes sense to me! Can you open a PR?

[2018-01-06 21:29] RichardLitt commented on #3476
Keywords makes the most sense to me. Topics would also work, but I think it is more semantically constrained in scope.

[2018-01-07 00:23] humitos commented on #3476
Maybe a stupid question but, is `keywords` a meanful word for people that's not technical? I mean, people that it's not a developer, for example (considering that RTD is not just software projects)

To me, not being a native English speaker, `keywords` it's associated with software and `topics` has a more general meaning/sense. It invites me to add some words about the content of my docs itself.

[2018-01-07 00:58] stsewd commented on #3481
This seems that was implemented a long time ago (https://github.com/rtfd/readthedocs.org/issues/587#issuecomment-32586007), I don't know what happened with that feature.

[2018-01-07 01:06] stsewd commented on #1340
I don't know how the GitHub API works for this case, but I think this feature #872 could be used for this

[2018-01-07 01:09] davidism commented on #3481
That's going from old to stable, I'm asking for latest to stable.

[2018-01-07 01:47] tdryer commented on #855
Related to #3193.

[2018-01-07 02:32] stsewd commented on #1826
Related to #2380 and there is a PR on progress #2711

[2018-01-07 02:51] stsewd commented on #3066
Are you still having this issue?
I tested on my local instance and get the appropriate error message

[2018-01-07 03:07] stsewd commented on #3061
Are you still having this issue? I checked all the links you mention, and everything is ok.

[2018-01-07 03:21] stsewd commented on #1921
Tastypie is already updated to 0.13.0 https://github.com/rtfd/readthedocs.org/blob/master/requirements/pip.txt#L15

This can be closed.

[2018-01-07 03:28] stsewd commented on #1077
Is this issue still valid? Can you explain a little more this issue? Maybe a screenshot, thanks!

[2018-01-07 03:33] stsewd commented on #1777
Hi, this functionality is now implemented, if you are the project owner you can delete your project/docs here https://readthedocs.org/dashboard/guidesec/edit/ (at the bottom)

[2018-01-07 03:47] humitos commented on #1921
Closing. Tastypie can't be upgraded more because tests fails and it doesn't worth the work since we need to deprecate it

[2018-01-07 03:48] #1921 closed

[2018-01-07 03:49] stsewd commented on #1940
I think what is suggested here #2921 is the best option. Probably we can closes this issue in favor of the other one.

[2018-01-07 03:52] humitos commented on #1940
Agree with @stsewd. Closing

[2018-01-07 03:52] #1940 closed

[2018-01-07 03:53] humitos commented on #2921
I like the idea of a "full log" link that return a simple text file with all the commands and output

[2018-01-07 04:15] stsewd commented on #1800
Related issue #2483

[2018-01-07 04:26] stsewd commented on #1644
Probably this #3481 is better to solve the problem.

[2018-01-07 04:35] stsewd commented on #2469
Related PR #3446

[2018-01-07 05:26] stsewd commented on #2266
Are you still having this issue? All the links provided work properly.

[2018-01-07 05:52] stsewd commented on #2968
Hi, are you still having this issue? All the links provided work properly (I really don't understand your last comment, sorry)

[2018-01-07 06:03] stsewd commented on #3027
I think this was already solved here #3201

[2018-01-07 06:12] stsewd commented on #2472
@jwogrady Yes, you need to create a index.{md,rts} file. Here you can see your docs http://status26.readthedocs.io/en/latest/README/

[2018-01-07 06:21] stsewd commented on #2365
Are you still having this issue? I think this problem is (was?) because the slug is `depot-docs`, no `radiokit-depot` as the name, probably that value is sent. I going  to see the code later.

[2018-01-07 10:13] andrewshadura commented on #2266
I had to remove RTD CNAME and use our own proxy. The `Host` header was in the requests, yes.

Unless anything was specifically done to fix this issue, it should still be valid.

[2018-01-07 12:58] mfrasca commented on #2968
I had forgotten about this, I think it has to do with the fact I'm not using 'master': I'm working with branches 'ghini-1.0-dev' and 'ghini-1.1-dev' and 'master' does not mean much to me.

http://ghini.readthedocs.io/it/ does not work,
http://ghini.readthedocs.io/it/ghini-1.0-dev works
and I wish to use the first, shorter link, when telling people where they can find the translated docs.

ghini-1.

[2018-01-07 14:35] RichardLitt commented on #3476
Keywords can be used in nontechnical contexts too, yes. The meaning doesn't change much between contexts: salient words which are useful for identifying content.

[2018-01-07 21:01] justvanrossum opened #3489 "No notification emails received upon build failure"
## Details

* Project URL: https://readthedocs.org/projects/drawbot/
* Build URL (if applicable): https://readthedocs.org/projects/drawbot/builds/
* Read the Docs username (if applicable): justvanrossum, typemytype

## Expected Result

We entered three valid, active, working email addresses on the Admin / Notifications page; we expected to receive notification emails upon build failure.

## Actual

[2018-01-07 21:03] justvanrossum commented on #3489
Oh, I failed to note that we meticulously checked our spam folders.

[2018-01-07 22:10] timabbott commented on #2995
Yeah, seems to have been fixed.

[2018-01-07 22:10] #2995 closed

[2018-01-08 07:56] glyg commented on #3411
Ok, turned out to be a fix, not just some editing of the warning:

https://github.com/sphinx-doc/sphinx/pull/4397

Thanks for the work on those tools!

[2018-01-08 12:41] goranvrbaski commented on #2581
When can we expect this solution to be implemented?

[2018-01-08 12:48] marcelstoer commented on #3465
The 'Enhancement' tag added by @RichardLitt suggests that it's b) indeed...what a relief 😜

[2018-01-08 14:50] RichardLitt commented on #3465
Best guess on my part. Let's see what the others have to say. :)

[2018-01-08 15:39] cokelaer commented on #3144
@RichardLitt @agjohnson
I am closing this issue. You may have changed something on RTD and the build now pass again with a time below the 900 seconds.

[2018-01-08 15:39] #3144 closed

[2018-01-08 16:25] ericholscher commented on #3484
Believe this will do it: http://docs.readthedocs.io/en/latest/yaml-config.html#python-extra-requirements

[2018-01-08 16:28] ericholscher commented on #3483
We currently support a user having a defined `html_context` in their `conf.py`. This can be generated with Python code, and doesn't require an extension. An example here: https://github.com/writethedocs/www/blob/master/docs/conf.py#L111-L114 -- I believe this is what you want?

[2018-01-08 16:29] ericholscher commented on #3483
We already call update on the existing `html_context` here: https://github.com/rtfd/readthedocs.org/blob/master/readthedocs/doc_builder/templates/doc_builder/conf.py.tmpl#L130

I guess we could add `additiona_html_context` in YAML, but I'm not sure how this would be better than just having it defined in the `conf.py`?

[2018-01-08 16:45] ericholscher commented on #3482
I think this is actually about defining a proper "public template API" for projects. Currently most of the template data is mainly for internal use, and hasn't been thought of as a public API.

## Define a new "public project JSON API", that is namespaced

Currently we pollute the top-level `html_context` on the project build with a bunch of junk data. We should really namespace this. We should al

[2018-01-08 16:54] davidism commented on #3483
The problem with it being in the code is that it's now tied to the version being built. The useful thing about the context is that it can be modified at build time.

[2018-01-08 17:17] RichardLitt commented on #3144
@cokelaer Glad to hear it. Let us know if this issue pops up again.

[2018-01-08 17:33] davidism commented on #1644
Flask and Django both use the URL and label "dev" instead of "latest". I can say I've definitely been confused in the past when I land on "latest" by default on RTD.

[2018-01-08 17:37] davidism commented on #3484
That can work, I was thinking of trying out the YAML support. How does this work when building multiple versions? Does each tag need the YAML file or is it always pulled from master?

[2018-01-08 18:52] ericholscher commented on #2581
http://docs.readthedocs.io/en/latest/yaml-config.html#build-image

[2018-01-08 18:54] ericholscher commented on #2581
It's a new feature, so please let us know if it isn't working for some case.

[2018-01-08 18:54] ericholscher commented on #3483
I'm not sure I follow. Can you explain the exact use case?

[2018-01-08 19:11] davidism commented on #3483
Let's say we want to display the docs for Flask 0.10, 0.11, 0.12, and 1.0. If we want to display some standard information in the sidebar for each build, like links to each version, we don't want to have to go back to the 0.10 branch and update it so it knows that 1.0 was released. We want to inject the current list of versions as we build each one. The specific example with versions is already ha

[2018-01-08 19:19] ericholscher commented on #3483
Yea, this is actually a different problem on our side. We solve this in JavaScript by sending the data via the footer response. That is "v2" of #3482, where we give users access to that "realtime" project data in JS, so you don't have to rebuild all docs every time one version changes.

[2018-01-08 19:20] ericholscher commented on #3483
but I believe #3482 has what you want (a list of all active versions injected in template context on build)

[2018-01-08 19:21] davidism commented on #3483
Yes, for the versions use case, I've already got the information I need. This was a more general request for specifying global context at build time.

[2018-01-08 19:24] ericholscher commented on #3483
Gotcha.

[2018-01-08 22:59] pwab commented on #3242
The [Godot](https://github.com/godotengine/godot) [docs](http://docs.godotengine.org/en/latest/) have the same problem. When [downloading the html export](http://readthedocs.org/projects/godot/downloads/htmlzip/latest/) you receive an index file consisting of 68000 lines at a size of 6.5 mb.

As stated on [stackoverflow](https://stackoverflow.com/questions/32771287/download-html-as-separate-pages)

[2018-01-09 01:46] agjohnson commented on #3486
Agreed. Closing as duplicate of #3181

[2018-01-09 01:46] #3486 closed

[2018-01-09 11:59] jtyr commented on #3321
I have the `README.md` file in the root of the repo and I'm getting 404 as well.

[2018-01-09 13:53] gasparka commented on #2581
I ran into https://github.com/pypa/pip/issues/4216 while installing 'sphinxcontrib.fulltoc' as extra requirement... updating the pip should fix this.

Otherwise it works, thanks :)

[2018-01-09 14:33] liiight commented on #2581
Well, the build runs now and it doesn't fail but for some reason I don't see autodoc stuff (even though it looks fine locally when i `make html` via sphinx).
I'm not sure if it's a config issue on my part (probably) or a real issue.

docs: http://notifiers.readthedocs.io/en/latest/API.html
source: https://github.com/liiight/notifiers/blob/develop/source/API.rst

I'd appreciate the help and I apoli

[2018-01-09 14:39] cdeil commented on #2827
I'm closing this issue. Since no-one else chimed in here, it doesn't look like this is an issue that other projects have. For Gammapy, at the moment the issue isn't there any more, we have a build timeout (see #3360).

[2018-01-09 14:39] #2827 closed

[2018-01-09 14:45] cdeil commented on #3360
We've decided to move Gammapy away from RTD (work in progress: https://github.com/gammapy/gammapy/issues/1241). Either build on travis-ci or our Jenkins, and host on gh-pages.

RTD maintainers: Thank you very much for setting up and supporting this great service!!! It was of great help to our project over the past years, and for me still is for several other Python package docs I have.

If someone

[2018-01-09 14:51] gasparka commented on #2581
@liiight i use ``pip_install: true`` and autodoc works.

[2018-01-09 14:52] #3360 closed

[2018-01-09 15:52] liiight commented on #2581
Thanks @gasparka! That did the trick! python 3.6 works great here too 😄

[2018-01-09 16:22] humitos opened #3493 "Remove old symlink when Domain is changed"
I started getting random 404 at https://docs.pytest.org/en/latest/ and we found they have confifured `doc.pytest.org` as a their domain so, the new web server was failing on serving the files.

At some point, they should have configured `docs.pytest.org` under RTD and then they changed it to just `doc`, otherwise RTD should know nothing about the `docs` domain in the old web servers.

To fix this,

[2018-01-09 16:26] ericholscher commented on #3493
We should do two things:

* Change the logic of the Domain Form or View to trigger a delete symlink task
* Have a background task that runs every hour that checks for invalid symlinks, then deletes them if found

The change should be immediate when users act, but it's nice to have something in the background doing cleanup. It also catches a number of cases the Views & Forms don't catch (eg. if we

[2018-01-09 16:27] ericholscher commented on #3493
It looks like our symlink domain logic already accounts for deletions, we just aren't calling it: https://github.com/rtfd/readthedocs.org/blob/master/readthedocs/projects/tasks.py#L775-L801

[2018-01-09 20:27] stsewd commented on #3321
I'm sorry you're having this issue, I think this is just a documentation problem (see https://github.com/rtfd/readthedocs.org/issues/1954#issuecomment-183138623).

You can access to your docs here:
@joshvillbrandt  http://wireless.readthedocs.io/en/latest/README/
@dearmond http://sitefarm.readthedocs.io/en/latest/README/

[2018-01-09 20:30] stsewd commented on #3321
@jtyr you need an index.md file as mention above

[2018-01-09 22:35] davidfischer opened #3497 "Duplicate static files with mkdocs"
## Details

On the very first build of a brand new mkdocs project, the docs build runs twice which creates duplicate CSS and JS files in the `<head>` of the output. When a project is built a second time, this error does not manifest itself.

To reproduce locally, do a manual project import of [mkdocs itself](https://github.com/mkdocs/mkdocs) and trigger a build.

## Expected Result

The HTML build

[2018-01-09 22:37] davidfischer commented on #3497
Very specifically it looks like since the build is triggered twice, the extra CSS and JS are appended twice. See: https://github.com/rtfd/readthedocs.org/blob/4d10f2e/readthedocs/doc_builder/backends/mkdocs.py#L89-L97

[2018-01-09 23:11] stsewd commented on #1615
Hi all!, I think this feature (renaming README files to index files) was removed. The docs needs to be updated (#3498 )

[2018-01-09 23:41] stsewd commented on #1770
Hi, are you still having this issue? The build links don't work and your last builds seems successful.

[2018-01-10 00:49] shoyer commented on #1770
We switched to using conda (instead of pip) for our builds, which resolved the issue for us.

[2018-01-10 15:41] deshipu commented on #3066
I didn't create any new projects recently, so I can't really tell. As I mentioned, the projects actually get created, so I didn't need to repeat this.

[2018-01-10 16:18] gpagliuca commented on #3148
I have the same `AttributeError: 'HTML5Translator' object has no attribute 'set_first_last'` for my project here https://github.com/gpagliuca/pyfas.
Fixed forcing `sphinx<1.6` as well

[2018-01-10 19:36] lazka opened #3500 "gitlab theme integration not working"
## Details

* Project URL: https://pygobject.readthedocs.io
* Build URL (if applicable): https://readthedocs.org/projects/pygobject/builds/6533135/

## Expected Result

I've added a gitlab configuration to the conf.py as suggested in https://docs.readthedocs.io/en/latest/vcs.html#gitlab

Building locally everything works and the proper links to gitlab are shown on each page
## Actual Result

As ca

[2018-01-10 22:24] stsewd commented on #3500
I think the gitlab context variables are injected from the git url (check only urls containing gitlab.com).

https://github.com/rtfd/readthedocs.org/blob/master/readthedocs/doc_builder/backends/sphinx.py#L85-L88

But I think that these context variables have to be allowed to be redefined, I'm not sure if readthedocs.org support this (custom gitlab installations).

[2018-01-10 22:33] humitos commented on #3500
Hi @lazka !

That documentation is obsolete I'd say (there is a PR that fixes that at https://github.com/rtfd/readthedocs.org/pull/3490 --not sure if it fixes, but it removes that section and explains it better where/how it's used)

RTD autoinjects those variables when the repository is a GitHub.com, Bitbucket.com or Gitlab.com. At the moment, this integration is not supported for other domain.

[2018-01-10 23:16] stsewd commented on #2632
Hi, I just tested this on my local instance, when creating a branch like `tílde` or `😁-happy`, the build fails immediately, no versions are created/updated (but I can access to versions or admin -> versions  normally), when removing the branches and building again, everything it's fine, if I add new valid branches these are listed.

So, was this problem fixed at some point?

[2018-01-10 23:43] stsewd commented on #1788
I was able to reproduce this, the issue is on the regex that checks the repo url, the `.github` part is the problem, while a patch is provided you can use this url form `https://github.com/{user}/{user}.github.io.git`. Note the final `.git`.

[2018-01-11 01:22] stsewd commented on #2879
The whole comments app needs to be removed? I don't know where is used on the site right now.

[2018-01-11 01:42] stsewd commented on #2746
Hi, have you experienced this problem again?

[2018-01-11 01:46] anarcat commented on #2746
not recently, i guess we can close this, sorry.

[2018-01-11 01:46] #2746 closed

[2018-01-11 01:52] stsewd commented on #2933
I checked all the links, everything is ok now, @krzychb are you still having this issue?

[2018-01-11 01:54] stsewd commented on #2746
Feel free to reopen if you have this problem again, thank for reporting.

[2018-01-11 08:52] vanetellez opened #3502 "Owner name Briana Magana"
## Details

* Project URL:
* Build URL (if applicable):
* Read the Docs username (if applicable):

## Expected Result

*A description of what you wanted to happen*

## Actual Result

*A description of what actually happened*

[2018-01-11 08:55] CAM-Gerlach opened #3503 "Unknown user created an out of date RTD repo for our project, and we have no way to contact them to claim it"
## Details

* Project URL: https://spyderide.readthedocs.io/en/latest/
* Read the Docs username (if applicable): Mine: [CAM-Gerlach](https://readthedocs.org/profiles/maxgam/) User in question: [maxgam](https://readthedocs.org/profiles/maxgam/)

I'm a member of the development team for [Spyder](https://github.com/spyder-ide/spyder), the Scientific PYthon Development EnviRoment, which is to our know

[2018-01-11 08:56] krzychb commented on #2933
@stsewd, the latest docs in pdf look fine:
https://readthedocs.com/projects/espressif-esp-idf/downloads/pdf/latest/

[2018-01-11 10:51] lazka commented on #3500
Thanks for having a look.

So, afaics, it would be easy to fix by only replacing the user provided config if "display_gitlab" on the injection site is True (same with the others)?

Is this something you'd take contributions for?

If not, feel free to close this :)

[2018-01-11 13:32] Wrzlprmft commented on #2563
Another case of this, unless I am mistaken:

* Project URL: http://jitcode.readthedocs.io/en/v1.1.0/
* Build URL (if applicable): https://readthedocs.org/projects/jitcode/builds/6537796/
* Read the Docs username (if applicable): Wrzlprmft

[2018-01-11 16:13] ericholscher commented on #2933
Great!

[2018-01-11 16:13] #2933 closed

[2018-01-11 17:19] stsewd commented on #2667
I think the urls are:

- `{host}/media/css/readthedocs-doc-embed.css`
- `{host}/media/javascript/readthedocs-doc-embed.js`

And on rtd:

- `https://media.readthedocs.org/javascript/readthedocs-doc-embed.js`
- `https://media.readthedocs.org/css/readthedocs-doc-embed.css`

But doesn't look like this is implemented.

[2018-01-11 20:09] RichardLitt commented on #3500
That sounds good to me. One of the other maintainers should also weigh in before you start work on this, though! I'll label this as needing a design decision to make that clear.

[2018-01-11 20:11] RichardLitt commented on #3503
Thanks for pointing out lack of clarity in our docs. I personally don't have the answers for resolving this, but I would like to make sure that the docs are fixed to make it clearer for cases like this in the future. So, before this issue is eventually closed, let's circle back around and see if we can make that happen.

[2018-01-11 20:12] RichardLitt commented on #3502
Thanks @vanetellez. This doesn't look filled out, so I am going to close it. Feel free to edit the issue or open a new one if you have something you need help with.

[2018-01-11 20:12] #3502 closed

[2018-01-11 20:12] RichardLitt commented on #2746
@anarcat Nothing to be sorry for. :) Thanks again.

[2018-01-11 20:17] RichardLitt opened #3506 "Update AUTHORS.rst file"
It doesn't seem to have been updated since 2014.

[2018-01-11 20:18] RichardLitt commented on #2827
Thank you, @cdeil, for logging and for self-moderating this issue. Apologies that none of us got back to you in a timely fashion!

[2018-01-11 20:19] RichardLitt commented on #3360
Thank you for letting us know, @cdeil, for the nice words, and for clearly saying what you would need to come back!

@agjohnson do we have issues that you know of for those two requests he mentions?

[2018-01-11 20:20] RichardLitt commented on #2581
That's two confirmations. I am going to call this as closed. If anyone has an issue, let's reopen. Thanks everyone!

[2018-01-11 20:20] #2581 closed

[2018-01-11 20:25] RichardLitt commented on #1770
Thanks for letting us know! Reopen this if it happens again.

[2018-01-11 20:25] #1770 closed

[2018-01-11 20:26] RichardLitt commented on #3066
Ok. Let's close this; if someone else has this issue, we can reopen it.

[2018-01-11 20:26] #3066 closed

[2018-01-11 21:31] ccordoba12 commented on #3503
Well, we read in your docs that anyone can upload any project they want to RTD. And that's fine, we don't see any problem with that.

But the thing is we can't get in touch with `maxgam` so she/he can give us admin access to the Spyder project in RTD, and that's why we are asking for your help to do that, i.e. to contact with her/him.

[2018-01-11 21:45] CAM-Gerlach commented on #3503
Thanks for your response. However, the primary issue, as @ccordoba12 states, is not the docs
(that was just a side comment), but rather contacting the user. Specifically, the aforementioned doc states:

However, there appears to be no means that we can find to contact this user through ReadTheDocs, and as we have no idea who this person is, we have no way to reach out to them otherwise. Therefore,

[2018-01-11 22:32] SaraOgaz commented on #3395
Thanks for the additional help @willingc.  I am still very interested in finding out why the build time for this suddenly became 10x longer.  We may add more notebooks in the future and would find it frustrating to have our builds constantly on the verge of timing out.

[2018-01-11 22:39] SaraOgaz commented on #3395
Hold the phone, I just restarted a build, and it's back to taking ~30 seconds for each nbconvert section...  Did something change back on your guys's end?  I guess I can close this issue now since it appears to be fixed?

[2018-01-12 05:03] agjohnson opened #3507 "Enable configuration of doc navigation menu"
One request we get commonly is how to disable parts of the navigation menu. I've consider some how we might overhaul our navigation menu, and this probably overlaps with a version 2 of the menu.

Whatever the technical solution is, the outcome would be:

* User decides they don't want a section on the navigation menu
* User sets an option
* Navigation menu no longer includes the section (downloads

[2018-01-12 09:18] axnsan12 opened #3508 "ReadTheDocs does not pull tags"
## Details

* Project URL: https://readthedocs.org/projects/drf-yasg/
* Build URL (if applicable): N/A
* Read the Docs username (if applicable): cvijdea

## Expected Result

When I push a new tag with git, I expect ReadTheDocs to automatically pick it up and build the documentation for it.

## Actual Result

If you push a tag for an existing commit, ReadTheDocs does not react. You have to manually

[2018-01-12 09:35] agjohnson commented on #3180
I vaguely remember addressing this. @ericholscher do you know if this is still a valid bug?

[2018-01-12 10:44] xflr6 commented on #2812
I think I have a related issue: I tend to use `requirements.txt` for the development environment (including dependencies for testing, pinning versions, etc.). I don't want this file to be used in the RTD build.

Currently I need to have an empty `docs/requirements.txt` (configured to be used in the webinterface) to avoid the RTD build replicating my development environment with all its dependencie

[2018-01-12 20:37] wmayner opened #3509 "Support different badge styles"
## Details

PR #3057 incidentally removed support for different badge styles that were available via https://shields.io/ querystrings. In projects that have badges from other services with other styles, this makes it more difficult to use a consistent badge style.

I will try to implement a PR for this if maintainers think it would be merged.

## Expected Result

`https://readthedocs.org/projects/

[2018-01-12 22:09] stsewd commented on #2563
@Wrzlprmft I don't see in your version list http://readthedocs.org/projects/jitcode/versions/ the `stable` version. Did you deactivate it?

[2018-01-12 22:27] Wrzlprmft commented on #2563
@stsewd I protected it so it doesn’t appear in version lists and mislead people. The [direct link](http://jitcode.readthedocs.io/en/stable/) should still work.

[2018-01-12 22:27] stsewd commented on #2563
Also on http://docs.django-cms.org/en/release-3.4.x/ the edit on GitHub is invalid, because rename the branch `release/3.4.x` to `release-3.4.x`

[2018-01-12 22:32] stsewd commented on #2563
@Wrzlprmft the build url you give says it is the latest version, no the stable one.

[2018-01-13 04:30] Wrzlprmft commented on #2563
@stsewd: Indeed, my mistake. Fixed it in the above.

[2018-01-13 05:31] akarasulu commented on #2020
It's been over a year and a half since this discussion and I'm wondering if there's any clarity on using CommonMark over MkDocs. Need to make a choice myself wondering what others are thinking and doing. Thanks!

[2018-01-13 05:49] zhaowei19920524 opened #3511 "There was a problem with Read the Docs while building your documentation. Please report this to us with your build id (6548347)"
## Details

* Project URL: https://readthedocs.org/projects/mcmaster/
* Build URL (if applicable):https://readthedocs.org/projects/mcmaster/builds/6548347/
* Read the Docs username (if applicable): zhaowei0524@outlook.com

## Expected Result

Build success

## Actual Result

I don't know what happens. I only get some error info.

Having trouble with your build environment? Try reseting it.
Error
T

[2018-01-13 05:51] zhaowei19920524 commented on #3511
However, It works fine now.
Please still have a look at what happens to that build process.

[2018-01-13 15:56] ericholscher commented on #3180
We fixed the root cause of this specific bug, but we should really have some kind of failsafe on our notifications and retagging of latest/stable, to stop the general case. We could open a new ticket for that though.

[2018-01-13 15:56] #3180 closed

[2018-01-13 16:02] ericholscher opened #3513 "Build failsafes for latest/stable retagging"
There are a number of classes of bugs that we have where we get stuck in build loops over and over again for builds. A few of them:

* A person retags a tag, and two of our builders each have the tag at a different commit. Each time we rebuild, they re-update the tag
* A person pushes and then updates/removes a tag, and our builders have a different version of `stable` that they keep re-updating a

[2018-01-13 17:22] aseering commented on #2858
I can confirm that the nonexistent-tag bug still exists.

`stable` no longer points to that tag because this bug is old enough that we have pushed a tag with a larger version number, which it now correctly points to.

You can see the docs here:
http://eureqa-api.nutonian.com/en/v1.68/

And you can see the repository tags on a dropdown on this page (or just check out the repository):
https://bitbuc

[2018-01-14 09:18] micheles commented on #2032
I have a similar issue. I have released a new version of my decorator module (version 4.2.0) but `stable` is pointing to version 4.1.1, see http://decorator.readthedocs.io/en/stable/tests.documentation.html.
If I go to the page https://readthedocs.org/projects/decorator/versions/ I see that `stable` is indeed pointing to origin/4.1.1 and I cannot figure out how to change that.

[2018-01-14 19:29] 1a1a11a commented on #2462
I don't have a second account signed up, but I also got this error, anyway to resolve this?

[2018-01-14 19:31] 1a1a11a commented on #2360
The disconnect button not working, it does nothing just return to the same page.

[2018-01-14 19:38] 1a1a11a commented on #2360
Solved by deleting account. Thank you!

[2018-01-15 07:22] grez911 opened #3515 "View / Edit doesn't work"
## Details

* Project URL: https://github.com/HelloZeroNet/Documentation
* Build URL (if applicable): https://zeronet.readthedocs.io/en/latest/
* Read the Docs username (if applicable):

## Expected Result

Click on `v:latest` in the right bottom corner -> On GitHub -> View / Edit.
It should open https://github.com/HelloZeroNet/Documentation/blob/master/docs/faq.md

## Actual Result

404 Error.

P

[2018-01-15 14:10] humitos commented on #2827
I'm sorry. I completely lost this notification. Nice to know you could solve the original issue.

[2018-01-15 14:19] humitos commented on #2812
@xflr6 thanks for your report.

RTD automatically finds a `requirements.txt` (first under the `docs_dir` and then under the root). If it finds it, it installs the dependencies automatically (even if the option from the web interface is empty):

https://github.com/rtfd/readthedocs.org/blob/8c7123b4ba2b5401e3a351f124cf45b04975e503/readthedocs/doc_builder/python_environments.py#L249-L280

Reading the

[2018-01-15 14:23] xflr6 commented on #2812
Thanks: I agree. It is probaly enough to provide some form of opt-out (on the website and/or `.readthedocs.yml`) from this default.

[2018-01-15 16:38] humitos opened #3516 "Py3 incompatibility"
I just realize that the `unicode` function is not available in Py3 and produces an error

https://github.com/rtfd/readthedocs.org/blob/909cb56ef69edb4fc36dbbf91f8c39422d5af041/readthedocs/doc_builder/python_environments.py#L164-L166

[2018-01-15 17:06] adamjstewart commented on #2758
It seems to me like there is a 1-day delay in updating the PDF for a project. Is this correct? My HTML pages update very quickly, but my PDF generally lags behind by a day. It would be nice if the RtD docs mentioned this delay.

[2018-01-15 18:18] humitos commented on #2758
@adamjstewart would you mind opening a new issue to address your problem by filling the template and mentioning that it could be related to this one so we can address that problem there? Thanks!

[2018-01-15 18:28] adamjstewart opened #3517 "Delay in updating PDF"
## Details

* Project URL: https://github.com/adamjstewart/prolog
* Build URL: https://travis-ci.org/adamjstewart/prolog
* Read the Docs username: adamjstewart
* Read the Docs project name: prolog

## Expected Result

When I push a new commit to my GitHub repository, the HTML pages displayed on Rtd update almost immediately. I would expect the PDF to update at the same time.

## Actual Result

The

[2018-01-15 18:37] adamjstewart commented on #3517
If I look at the most recent [build log](http://readthedocs.org/projects/prolog/builds/6561919/), it does indeed appear to be building both HTML and PDF versions of the documentation after each commit. I don't see any errors during the PDF build, so I'm not sure why it is not being updated on the website.

[2018-01-15 22:05] #1788 closed

[2018-01-16 00:04] Blendify opened #3521 "Code question: is old code needed"
## Details

https://github.com/rtfd/readthedocs.org/blob/master/readthedocs/core/static-src/core/js/doc-embed/sphinx.js#L25

This whole thing seems rather confusing to me. One thing references a theme issue that was fixed and the other why are we dynamically adding the class?

[2018-01-16 03:20] sobolevn commented on #3181
What's the status of this issue? Maybe there are something I can help with?
Thanks!

[2018-01-16 04:06] stsewd commented on #3516
It's going to be fixed in #3514

https://github.com/rtfd/readthedocs.org/pull/3514/files#diff-31f8391d8643c47c6caedf53930c0b7eL166

See http://python-future.org/compatible_idioms.html#unicode

[2018-01-16 04:12] humitos commented on #3516
Using str will make the code fail in py2. I had that problem when i wore that code but i didn't realize that Unicode wasn't available in py3

[2018-01-16 04:12] humitos commented on #3516
Using str will make the code fail in py2. I had that problem when i wore that code but i didn't realize that Unicode wasn't available in py3

[2018-01-16 05:20] agjohnson opened #3523 "Support two factor auth (2FA)"
We should enable 2fa for dashboard users. I keep wanting to add site admin features to the dashboard, but then think about the security aspects of adding these features and find myself also wanting 2fa. There are some libraries that do handle a 2fa workflow for standard django logins, but i don't know if this extends to django + allauth or django + mamacas.

I'm sure we're probably in agreement of

[2018-01-16 12:38] akien-mga commented on #3268
Is there no way to configure the `stable` branch manually without having to rely on the magic performed here?

I just noticed that our `stable` version changed for Godot Engine (http://docs.godotengine.org/en/stable/index.html ) when I pushed a `3.0` branch on our git repository: https://github.com/godotengine/godot-demo-projects

But our stable version is currently the `2.0` branch, the `3.0` one

[2018-01-16 15:51] stsewd commented on #3268
@akien-mga the stable release is chosen following the pep-440 you can use a pre-release branch https://www.python.org/dev/peps/pep-0440/#pre-releases

[2018-01-16 15:59] akien-mga commented on #3268
That doesn't work for my use case, as I want to use the http://docs.godotengine.org/en/3.0/ namespace now even though it's not released yet. Our documentation for releases is not static, it evolves daily based on PRs from contributors (so I want the 3.0 branch to follow the master/latest branch until the real release and incompatible changes in 3.x happen).

[2018-01-16 16:01] akien-mga commented on #3268
I guess I can just disable the `stable` version and try to work around the hundreds of broken links with a redirect from `/en/stable` to `/en/2.1` - and update that redirect when I want to change the stable version.

[2018-01-16 18:21] humitos commented on #3268
Unfortunately, no.

If you want to keep `2.0` as the stable while having a `3.0` branch, you can create a tag for `2.0` and that will be considered the `stable`. That way, RTD will take preferences for tags over changes to decide which one is the stable.

(in fact, that's exactly what this issue was about and was fixed)

[2018-01-16 18:27] stsewd commented on #2351
@chummels are you still having this issue? Your latest builds are building successfully. I also noted that you migrate the project to GitHub, was because of this issue?

[2018-01-16 18:30] stsewd commented on #2032
@micheles do you try manually building the latest version? (that way the version list is refreshed)

[2018-01-16 18:32] stsewd commented on #1785
I wasn't able to reproduce this issue on my local instance. I think this other issue is related #2032. Probably happens when force a push (commits/tags)?

[2018-01-16 19:21] stsewd opened #3524 "The changelog contains non-merged PRs"
## Details

Chagelog http://docs.readthedocs.io/en/latest/changelog.html#version-2-1-4

Not merged PRs:

- #3444
- #3463
- #3377
- #2699

How is the changelog  generated?

[2018-01-16 19:24] stsewd commented on #3524
Also the previous release contains invalid issues as changelog: #3416, #3415

[2018-01-16 19:26] humitos commented on #3524
The changelog is generated with a script that is under a private repository. It uses this tool in the back, https://github.com/agjohnson/github-changelog

This is relatively new and we are testing it. Nice you have found some issues! This will help us to tweak it a little more and make it more robust.

[2018-01-16 20:40] akien-mga commented on #3268
Thanks, I've tried that but it doesn't seem to work: https://github.com/godotengine/godot-docs/releases/tag/2.1 (btw our stable is 2.1, I made a typo above).

[2018-01-16 21:22] stsewd commented on #3515
I think this issue is related to Mkdocs only, with sphinx works fine.

I was able to replicate this on my local instance, looks like the "Edit" url is taken from the `mkdocs.yml` [file.](https://github.com/HelloZeroNet/Documentation/blob/master/mkdocs.yml#L5)

And also noted that the footer url (from the floating v) is incorrect `https://github.com/HelloZeroNet/Documentation/blob/master/home/docs/

[2018-01-16 21:26] stsewd commented on #3515
I think the top edit button is related to the theme (not sure, I was unable to find that code), the link on the footer is definitely related to the code base.

[2018-01-16 21:30] akien-mga commented on #3268
I've tried deleting the `3.0` branch, disabling it, pushing a new commit to the `2.1` branch, but nothing goes, `stable` still tracks a non-existing `origin/3.0`... https://readthedocs.org/projects/godot/versions/

[2018-01-16 22:14] chummels commented on #2351
We moved to github for a number of reasons, but these problems with rtd were not the main cause.  That said, it appears that the issue is now resolved with the move to github.

[2018-01-16 22:14] #2351 closed

[2018-01-17 00:43] humitos commented on #3268
Mmm... "This seems like a bug in the new feature". @akien-mga would you mind opening a new issue explaining this and what are the steps to reproduce it? Like, what branches do the repository needs and in which order should be created and the attemp to workaround with the tag, etc... so we can test it locally and see how it behaves?

[2018-01-17 04:15] stsewd commented on #3515
After investigating more on this issue, I found you are using a custom theme (based on rtd). So, the real problem is on the templates, isn't a RTD bug.

For the "edit" link you need to update this file https://github.com/HelloZeroNet/Documentation/blob/master/readthedocs/breadcrumbs.html and inject the appropriates values (see http://www.mkdocs.org/about/release-notes/#context-variables).

About t

[2018-01-17 04:44] stsewd opened #3526 "Missing documentation for override variables on custom themes"
## Details

There isn't documentation about integrating a custom theme with rdt (see related issue #3515). I'm not sure if you like to keep supporting this on the long way anyway. But if so, we need to document how to override some values of `READTHEDOCS_DATA` https://github.com/rtfd/readthedocs.org/blob/master/readthedocs/core/static-src/core/js/doc-embed/rtd-data.js#L54

[2018-01-17 04:58] micheles commented on #2032
Yes, I tried but it does not work. At the end I turned "stable" into inactive status, since "latest" does what I expect (i.e. points to the latest version 4.2.1 which is stable anyway) and it is good enough for me.

[2018-01-17 07:37] akien-mga commented on #3268
Will do, but I'll have to make a test RTD project for it as I would prefer to avoid borking https://readthedocs.org/projects/godot/ again, it's used by hundreds of users every day :)

[2018-01-17 13:40] jessetan commented on #3470
Looks like https://github.com/rtfd/sphinx_rtd_theme/issues/417, which comes from a bug in the theme code (related to line-height as suggested). This is fixed by https://github.com/rtfd/sphinx_rtd_theme/pull/504 which has landed on master and should be available in in upcoming (> 0.2.5b2) release of the theme.

[2018-01-17 15:13] humitos opened #3527 "Old webhooks gives 502"
Running this command,

    $ http POST https://readthedocs.org/github repository:='{"url": "", "ssh_url": ""}' ref=""

breaks the site and may produce tons of tasks being ran.

After running that command I get 502 and I tried it locally and I found that the problem is at the Project query since all the repo urls ends with `''`

https://github.com/rtfd/readthedocs.org/blob/445683fc0c86b0de56779447a

[2018-01-18 02:33] stsewd opened #3528 "Documentation about preferences for tags over branches on stable version"
## Details

As mention here https://github.com/rtfd/readthedocs.org/issues/3268#issuecomment-358057139

I think this needs to be documented here http://docs.readthedocs.io/en/latest/versions.html

[2018-01-18 04:45] lk-geimfari opened #3529 "No such file or directory: 'docs/requirements.txt'"
## Details

* Project URL: http://mimesis.readthedocs.io
* Build URL (if applicable): https://readthedocs.org/projects/mimesis/builds/6582000/

## Expected Result

The successful build of the docs.

## Actual Result

Build fails because RTD does not find file `requirements.txt`, which was defined  in `Advanced settings`:

![screenshot from 2018-01-18 07-44-15](https://user-images.githubusercontent

[2018-01-18 04:53] stsewd commented on #3529
Hi, your stable version is the `v1.0.4` tag, https://github.com/lk-geimfari/mimesis/tree/v1.0.4. On this version there isn't a `docs/requirements` file `https://github.com/lk-geimfari/mimesis/tree/v1.0.4/docs/requirements.txt`

[2018-01-18 05:06] lk-geimfari commented on #3529
@stsewd I forgot to create a new tag. Sorry for this and thank you very much for the fulminant feedback.

[2018-01-18 05:06] #3529 closed

[2018-01-18 05:58] stsewd commented on #3497
Seems like the second build is triggered when synchronizing versions
`[17/Jan/2018 23:49:31] readthedocs.restapi.views.model_views:174[14143]: INFO Triggering new stable build: mkdocs:269190c9aa18a33d397f424860fcf07bbfe96f0c
`

[2018-01-18 09:37] danielmitterdorfer opened #3530 ""Edit on Github" points to non-existing commit"
## Details

* Project URL: https://esrally.readthedocs.io
* Build URL (if applicable): https://readthedocs.org/projects/esrally/builds/6575685/
* Read the Docs username (if applicable): danielmitterdorfer

## Expected Result

Each page of the Rally docs contains an "Edit on Github" link. Clicking on that link will open a Github page that shows the respective file's content.

## Actual Result

Each

[2018-01-18 11:43] kakulukia commented on #1717
I just found out that the link cannot be set to https .. is anyone looking into this?

[2018-01-18 12:03] johanneskoester opened #3531 "Build failed without details"
## Details

* Project URL: https://snakemake.readthedocs.io
* Build URL (if applicable): http://readthedocs.org/projects/snakemake/builds/6583093/
* Read the Docs username (if applicable): johanneskoester

## Expected Result

An automatic build should succeed

## Actual Result

It failed without further details: http://readthedocs.org/projects/snakemake/builds/6583093/

[2018-01-18 12:04] johanneskoester commented on #3531
This happens now since one week.

[2018-01-18 12:35] malarzm opened #3532 "searchtools.js missing init() call"
It seems like something is off with generating `searchtools.js`, it's ending with

[code]

instead of

[code]

Cross-referencing: https://github.com/doctrine/doctrine-sphinx-theme/pull/14

## Details

* Project URL: http://docs.doctrine-project.org/projects/doctrine-mongodb-odm/
* Build URL (if applicable): https://readthedocs.org/projects/doctrine-mongodb-odm/builds/6583841/
* Read the Docs usern

[2018-01-18 16:23] stsewd commented on #3530
Hi, thanks for reporting, I think this is a duplicate of #1820, it's because there are two hashes, one for the commit and other for the tag, GitHub doesn't recognize one of those.

[2018-01-18 16:38] stsewd commented on #1717
@kakulukia  sorry if I don't understand this, what link is this?

[2018-01-18 16:44] kakulukia commented on #1717
It’s the automatically inserted canonical link defaulting to the servers domain and or the project domain marked as canonical and if I remember it correctly it’s living inside readthedocs-include.html.tmpl
I will recheck an Post the full path at home.

[2018-01-18 17:58] nlgranger commented on #3374
Ok, so I did the worst case scenario:
1- Github account linked to old account
2- Project imported and set to build automatically with old account
3- Delete old account
4- Link github to new account
5- Import project into new account

Everything worked as expected. Thanks for the fix.

[2018-01-18 17:58] #3374 closed

[2018-01-18 18:10] pllim commented on #3489
I have the same problem across several projects that I signed up for notifications. I get failure notifications from other services like Appveyor and Travis CIs to the same email address without problem. c/c @bsipocz @rendinam

[2018-01-18 20:00] kakulukia commented on #1717
here is the problematic template
.venv/lib/python2.7/site-packages/readthedocs_ext/_templates/readthedocs-insert.html.tmpl
Its used in the default template and is always filled with an http url. Even if i enter https:// in the domains config page it gets stripped away. :/

[2018-01-18 20:12] LeeEvans1234 commented on #1717
Thank you I hope to get these issues fixed so things can work for the better good cause the hub I'm trying to create is for all with minds to see and knowloge to help each other no matter how great or small the need it's like the creation story it's just there

[2018-01-18 20:12] RichardLitt commented on #3374
Thanks for updating us, @nlgranger!

[2018-01-18 20:13] RichardLitt commented on #3531
Related to #1822.

[2018-01-18 20:30] RichardLitt commented on #1717
Thanks for the comment, @LeeEvans1234. In the future, although thanks are appreciated, try to keep comments relevant to the thread that they're in.

[2018-01-18 20:43] johanneskoester commented on #3531
Yes that helps, thanks a lot!

[2018-01-18 20:43] #3531 closed

[2018-01-18 22:24] jflory7 commented on #1341
Hi, it doesn't seem like it's possible to delete sub-projects anymore? I am looking at this page but see no method of deleting a sub-project. I tried using the above URL but had no luck.

![Cannot delete sub-project](https://user-images.githubusercontent.com/4721034/35124536-6e707e20-fc74-11e7-88dd-c6711362964c.png)

[2018-01-18 22:33] stsewd commented on #1341
@jflory7 you need to click on the "coordinate_to_admin..." link

[2018-01-18 22:57] jflory7 commented on #3069
Hi! I tried setting this up for a project and hit the same issue as others above. Could we have our image updated for this project?

https://readthedocs.org/projects/coordinates-to-admin-id-server/

[2018-01-18 23:03] jflory7 commented on #1341
@stsewd Oh, I feel dumb now. I guess I was misclicking by a few pixels – I was redirected to back to the project page the first two times I tried it.

So I guess this isn't a bug then, but maybe better UI/UX would be helpful – an "Edit" button would be really clear.

[2018-01-19 06:12] danielmitterdorfer commented on #3530
Thanks for your quick answer. This really sounds like the exact same problem as #1820 to which you pointed to. I'll just close this issue then as it is a duplicate.

[2018-01-19 06:12] #3530 closed

[2018-01-19 09:52] kakulukia commented on #1717
too bad i deleted the problematic template line yesterday so i cant test the new/found checkbox that easily :/

[2018-01-19 12:04] AnatoliyURL opened #3534 "Project in the local read the docs don't see tags."
## Details

* Project URL: local project.

## Expected Result

*I can see my tags and choose version in the admin panel*

## Actual Result

*ReadTheDocs pull repository without tags.*
I used one and the same project in local ReadTheDocs and in the readthedocs.org (url: https://readthedocs.org/projects/testdocstola/)

Tags is see in the readthedocs.org but not see in the local.

I did one and the s

[2018-01-19 12:50] RichardLitt commented on #1341
@jflory7 Want to open an issue for that? :)

[2018-01-21 03:07] CAM-Gerlach commented on #3503
Any updates, @RichardLitt or others? We're really hoping to be able to switch to RTD but wanted to get this issue resolved first. Thanks!

[2018-01-21 18:44] Alig1493 commented on #872
Would it be possible to get a more up to date information on this issue? I'm interested to have a look. Thanks.

[2018-01-21 20:54] marcelstoer commented on #3174
Answering my own question...you find out if you pick any build (https://readthedocs.org -> Builds) and scroll to the end of the 2nd row:
![screen shot 2018-01-21 at 21 46 32](https://user-images.githubusercontent.com/624195/35198846-10386aba-fef5-11e7-8655-62d106a05d08.png)
If you want to change this you
- create a new file `rtd-requirements.txt` (or any other name) in the root of your repository

[2018-01-22 00:13] ofloveandhate commented on #1059
@michaelaye i got this sense, too.  it feels weird to require my users to install packages needed for documentation only.

[2018-01-22 07:47] safwanrahman commented on #2251
@Korijn There are only one calls of `webhook_notification` is `send_notifications` task. As `send_notifications` is already a task and is called assynchronously everywhere, I think creating task for each webhook notification is overkill.
https://github.com/rtfd/readthedocs.org/blob/712e75d30a92bbdcf3a2597dafc16c58897eeefc/readthedocs/projects/tasks.py#L732-L739

I think this issue should cover sen

[2018-01-22 08:01] #3534 closed

[2018-01-22 16:12] Peque commented on #2563
Cross-linking #3142. In case anybody wants to try it.

[2018-01-22 16:19] humitos commented on #2047
I'm closing this issue.

Feel free to create new issues (and link this one) in case there is something that it's not working as you expects.

For the stale states, a PR was merged that should mark them as `failed`: https://github.com/rtfd/readthedocs.org/pull/3312

Thanks you all!

[2018-01-22 16:19] #2047 closed

[2018-01-22 17:58] jflory7 opened #3538 "Better UI for editing sub-projects (e.g. "Edit" button)"
## Background

See some background discussion in #1341 (relevant comment [here](https://github.com/rtfd/readthedocs.org/issues/1341#issuecomment-358802027)).

## Details

Editing a sub-project is not clear. To edit one, you have to click the title of the project, which is also close to the button to take you to the project page. I was confused at first about how to edit a project and commented in

[2018-01-22 17:59] jflory7 commented on #1341
@RichardLitt Done, see #3538. 🙂

[2018-01-22 19:46] begriffs commented on #3474
I tried another trick: overriding the `extrahead` block in my page template.

[code]

But even this is not enough. RTD injects the following code after mine in the document head:

[code]

Short of disabling canonical links on all pages, I don't think there is a workaround to customize one for individual pages. Any ideas?

[2018-01-22 20:11] humitos opened #3539 "Link to open an issue from a failed Build with pre-filled details"
There are several issues that are reported where there are missing information in the details section.

To solve this I was thinking on generating a link inside this message that could contain all the information pre-filled:

![captura de pantalla_2018-01-22_15-07-15](https://user-images.githubusercontent.com/244656/35242041-6ed4e288-ff86-11e7-9b89-c69a45505318.png)

I found that github supports _

[2018-01-22 20:15] humitos commented on #1045
I'm removing the `Good First Issue` since elasticsearch is not a good place to start working with RTD :)

[2018-01-22 20:19] humitos commented on #872
Thanks for your interest.

I think the original aspect of the issue is still valid: "build an API endpoint that receive a project and a commit hash and return the status (failed/success) of that build"

The `Build` object should have the commit hash: https://github.com/rtfd/readthedocs.org/blob/1af444173481df9a7b16e015fc6b12abe8155e7e/readthedocs/builds/models.py#L430-L431

So, I think we have all

[2018-01-22 21:26] RichardLitt commented on #1341
Thanks. :)

[2018-01-22 21:26] #1341 closed

[2018-01-22 21:31] RichardLitt commented on #3539
Could you not have the link generated with that information in the body tag?

[2018-01-22 21:37] humitos commented on #3539
Yeah, _maybe_.

The template is 227 chars long, if we add the project and build link plus username I'm not sure if we are not creating a too long URL that it's not standard. I know there is a limit and I think it depends on the browser also...

https://stackoverflow.com/questions/417142/what-is-the-maximum-length-of-a-url-in-different-browsers

We could do that since the limit is around 2000 chars

[2018-01-22 21:41] RichardLitt commented on #3534
@AnatoliyURL Your English is fine. :)

Any reason you closed this? Did you solve the problem?

[2018-01-22 21:52] humitos commented on #3493
I'm not really sure how the `Domain` works under RTD, but I see there is a `count` attribute (Number of times this domain has been hit) in the model that won't have more sense if we _modify/edit_ the domain object.

Taking a look at the code, it doesn't seem to be tought to allow the _edit_ operation. It looks like more _delete_ and _create_ a new one. In this case, the `delete` method will remove

[2018-01-22 22:20] humitos commented on #3493
To modify the Domain Form or view, we will need to modify the `symlink_domain` task to accept a `domain_name` instead of a `domain_pk` since the domain name that we want to remove doesn't exist anymore in the database but in the filesystem. So, at the moment we don't have a way to remove a "domain name" that it's not a "domain object" in the database.

I see two possible solutions:

1. do not allo

[2018-01-23 03:59] stsewd commented on #3497
On readthedocs.org works fine, is this something that just affect to local instances? or maybe a recent regression?

[2018-01-23 04:53] agjohnson opened #3540 "Remove yet another command execution pattern"
`projects/utils.py` has yet another command execution pattern. We should remove this and move it to the `BuildEnvironment` pattern.

Raised in rtfd/readthedocs.org#3520

[2018-01-23 04:56] agjohnson commented on #3539
Neat idea. We need to make sure wouldn't show on the .com though, as we don't want github issues for those issues.

[2018-01-23 04:57] agjohnson commented on #3532
Not sure of the actual issue here. This removal is on purpose, as we monkey patch the Sphinx included search with our search index. Closing this for now.

[2018-01-23 04:57] #3532 closed

[2018-01-23 05:00] agjohnson commented on #3524
My above fork should be easy to modify. I think eventually we want the search to only include pull requests that have been merged. The script currently searches for anything that has been closed, which is noisy. I've been hand editing the list of issues on release for now.

[2018-01-23 05:06] agjohnson commented on #3509
This seems reasonable. I would avoid adding any UX around this feature in RTD, but I think if users want to customize the badge via URL hacks, that is absolutely okay. I'm not sure if it makes sense to send a pruned list of query string args or not. I'd prefer pruning if we don't anticipate a lot of maintenance around the expected arguments. My only concern is that we're acting as a potentially ma

[2018-01-23 05:09] agjohnson commented on #3500
Having more conditional operations around setting the `display_*` options, or the GitHub/GitLab/Bitbuket URLs would be a good addition. For instance, if a user has these options defined, perhaps we shouldn't force the `display_*` and URL options on the context data.

Feel free to open a PR with your thoughts there, we can offer some more guidance on the technical implementation there.

[2018-01-23 05:59] AnatoliyURL commented on #3534
Well. I'm stupid man.)
We used old version read the docs 2.1.3. This version not supported tags.
This problem exactly solved in 2.1.5.
I'm sorry that I disturbed you. 
Thanks for the answer. :)

22 янв. 2018 г. в 13:41 Richard Littauer <notifications@github.com> написал(а):

@AnatoliyURL Your English is fine. :)

Any reason you closed this? Did you solve the problem?

—
You are receiving this beca

[2018-01-23 07:21] Alig1493 commented on #872
Will the api endpoint be under v1 or v2?

[2018-01-23 08:51] lazka commented on #3500
ok, thanks

(related issue: https://github.com/rtfd/sphinx_rtd_theme/issues/536)

[2018-01-23 11:06] malarzm commented on #3532
@agjohnson can you please tell more about about the monkey patching process? It's somehow broken (or not working) in our case and I can't infer how it should be working basing on other readthedocs projects, also found nothing useful in the documentation. FWIW the search works perfectly fine in a locally built sphinx pages.

[2018-01-23 12:56] humitos commented on #872
v2 is the right place.
v1 is deprecated and shouldn't be used.

[2018-01-23 13:45] humitos opened #3541 "Refactor BuildCommand and move outside doc_builder/"
Once #3520 got merged, we will end up with a couple of name that are inconsistent: https://github.com/rtfd/readthedocs.org/pull/3520/files/7f6c098983acb4bb3afc90e5c780af7dae9ec9d8#r163198277

In this case it should be named just `Command` and moved out `doc_builder/`. Besides a new `BuildCommand` should exist that handles all the interaction with the Build itself and saving the command in the data

[2018-01-23 14:04] humitos opened #3542 "Refactor run command outside a Build and Environment"
There are some commands for symlinks that are ran outside a Build and even outside an Evironment. Once #3520 got merged, we will have a `LocalEnvironment` that doesn't depend on a Build at all. So, that environment will be useful for this `ln` commands.

Reference: https://github.com/rtfd/readthedocs.org/pull/3520#issuecomment-359557030

[2018-01-23 14:20] humitos commented on #3542
Duplicated of #3540

[2018-01-23 14:20] #3542 closed

[2018-01-23 18:26] safwanrahman commented on #872
@humitos There are already `api/v2/buid/<id>`, so what should be the endpoint for this?

[2018-01-23 18:30] humitos commented on #872
Yes. What I understood from the original report is to have the ability that given the sha and the project you can know the status of that build.

Now, a build id is needed, that you don't know how to get it from a sha.

Makes sense?

[2018-01-23 18:35] safwanrahman commented on #872
@humitos I have understand. I wanted to explain that, there are already a endpoint for `api/v2/buid/<id>`, so the getting with another endpoint like `api/v2/buid/<commit hash>` will make the user confuse.
So I was wondering, what the API endpoint will be.

[2018-01-23 20:37] stsewd commented on #2561
From the documentation

https://developer.github.com/v3/repos/hooks/#create-a-hook

When does this happens anyway? I think the webhooks are only created on import time.

[2018-01-23 21:12] humitos commented on #534
I see two different ideas here:

1. suggest the user that `latest` tag/branch is incompatible with RTD and won't make RTD work properly
1. give the user the ability to choose if he/she wants to use the `latest` from his/her repository or the auto-created by RTD

Which one is the best one? or both?

[2018-01-23 22:04] stsewd commented on #2775
Hi @rgerkin are you still having this issue? I see you have 3 active versions now.

[2018-01-23 22:07] stsewd commented on #2190
Also similar to #2775 and #3043

[2018-01-23 22:09] stsewd commented on #3043
@petarmaric @guillochon are you still having this issue?

[2018-01-23 22:33] humitos commented on #2190
Do we know why this is happening?

[2018-01-23 23:09] rgerkin commented on #2775
Yes.  [Here](https://readthedocs.org/projects/neuronunit/builds/) it appears that I am getting two builds per push for most branches, and an additional two per push (for four total) for the `dev` branch which is marked as `latest`.

[2018-01-23 23:37] stsewd commented on #3497
Also experienced with this repo https://github.com/orbingol/NURBS-Python (local instance only)

[2018-01-24 00:47] stsewd commented on #2190
I wasn't able to reproduce this on my local instance (manually activating the webhooks and from github). This issue is still around (see https://github.com/rtfd/readthedocs.org/issues/2775#issuecomment-359963181)

[2018-01-24 09:39] codelucas commented on #3282
Anyone working on this one? Seems important as browsers deprecate non https

[2018-01-24 11:12] petarmaric commented on #3043
I can't really say, as my project hasn't had any builds recently.

[2018-01-24 17:38] EdOverflow commented on #3129
https://bugbountyguide.com/ now has some instructions on helping you launch a security program. It might be a good idea to start there to get a better idea of what the requirements are.

[2018-01-24 20:28] orbingol commented on #3255
Hello again,

I would like to update my post since I have merged `3.x-dev` branch to master and then deleted `3.x-dev` a couple of weeks ago.

* Project URL: https://readthedocs.org/projects/nurbs-python/
* Build URL: http://nurbs-python.readthedocs.io/en/devmaster/

__Commit__: `1b0e5b24413d681ca603749dc3a7088bd0055121`

RTD links to builds pointing to the same commit:

* __Build 1:__ https://rea

[2018-01-25 01:47] humitos commented on #872
What about `/api/v2/build/commit/{hash}`?

[2018-01-26 09:01] Chilipp commented on #3165
Dear @agjohnson and @RichardLitt,

I have to make some decisions and plans for the new release of this project by beginning of February, so since this issue is now 3.5 months old, I would really appreciate any comment on it. Can I stay on RTD or do I have to use a different platform?

Thanks for your help!
Philipp

[2018-01-26 09:14] agjohnson opened #3553 "Support devpi inside docker containers"
Devpi[1] is a great tool to help with intermittent connections. While I am traveling (airports/airplanes/spotty cell service), I find myself wanting a local pypi server. Devpi allows for online and offline usage, and so normal day to day usage on solid internet connections should seed a cache that can be used offline.

The problem blocked this from use is that the docker container would need to be

[2018-01-26 09:44] agjohnson opened #3554 "Better version listing for project dashboard"
Here are a few possible template level changes that we could make to the project dashboard page to make it :100:

- [ ] Make dashboard version listing the same as the project version page version listing, we don't have a good reason to make this different. The dashboard page should only show the active versions of course.
- [ ] Remove "Default Version" and "latest Version" sidebar items from the f

[2018-01-26 10:28] akien-mga opened #3555 "Recent build failures for Godot Engine docs ("godot" project)"
## Details

* Project URL: https://readthedocs.org/projects/godot
* Build URL (if applicable):
  - Timeout: https://readthedocs.org/projects/godot/builds/6631323/
  - `ImportError: no module named debug`: https://readthedocs.org/projects/godot/builds/6631922/
  - `IOError: [Errno 2] No such file or directory: '/home/docs/checkouts/readthedocs.org/user_builds/godot/envs/latest/local/lib/python2.7/s

[2018-01-26 14:01] RichardLitt commented on #3165
@ericholscher Any thoughts on this, too?

[2018-01-26 14:46] humitos commented on #3553
I think that using devpi is a good idea but maybe overkill for this. I proposed a simpler solution some time ago by adding something similar in #3299 but I left comment at the end why it wasn't working for DockerEnvironments, so I'm adding a new PR at https://github.com/rtfd/readthedocs.org/pull/3556

[2018-01-26 17:18] humitos commented on #3555
@akien-mga I think all this problems are because OOM (which produces strange things) and/or build timeout.

I just imported your project in my local instance and I ran the build with 1 hour as building time and 2gb of memory. `stable` and `latest` built without any problem but it took like 30 minutes :/

Besides, this build passed on RTD platform: https://readthedocs.org/projects/godot/builds/6634

[2018-01-26 17:29] humitos commented on #2561
This happen at

https://github.com/rtfd/readthedocs.org/blob/b12e1885dc7f6da6b9719054e3654019b1e0fe65/readthedocs/oauth/services/github.py#L182-L273

I think is issue is old and github doesn't behaves as it mentioned in the description. @stsewd  Would you like to do a quick test by hitting the webhook endpoint and writting a test case for this?

[2018-01-26 17:44] humitos commented on #3503
@CAM-Gerlach thanks for your report. There is already an issue to work on these points you mentioned mainly, the ability to contact the owner of the project at #3382. Unfortunately, nobody has been able to start with that one yet :(

I'm asking other core devs to see if I can get the contact of `maxgam` so I can help you guys.

Keep rocking with Spyder ;-)

[2018-01-26 23:00] CAM-Gerlach commented on #3503
@humitos

Thanks for letting us know, and sorry for the partial duplicate. For the time being, until a PR gets merged to implement that, might you want to modify

in the docs since that's currently not possible (at least through RTD)?

I can't quite tell given the quote and syntax, but if this request is directed at me/us then I would be glad to at least provide some feedback, ideas and a (new) us

[2018-01-27 00:04] humitos commented on #3503
Nope. Currently is not possible to contact the owner of a project via RTD. This has been managed as you did: filling an issue and talking to the core devs (I've never been involved in this flow, but I'm trying to be helpul on this one as my first time)

Please do!

I have a vague idea on what we want to build, that's why I wanted to hear more ideas from people that really need this feature, regard

[2018-01-27 00:34] CAM-Gerlach commented on #3503
Right. So, my suggestion is that the docs be clarified as to this, as the implication in the current form is that that it is possible to contact the user (without going through this rather roundabout process).

Sure, hopefully later tonight or early tomorrow I can do so. Thanks!

[2018-01-27 20:05] humitos commented on #3251
I just found the problem here and it's because we are using a default `LimitOffsetPagination` as a global setting. Besides, in the involved endpoints we are overriding the `paginated_by` settings but those are deprecated and since DRF 3.1 it's needed to use a `pagination_class`.

So, I opened a PR for that at #3559. Please review it and let me know.

[2018-01-28 02:45] stsewd commented on #3554
Maybe this #3445 is what you mean?

[2018-01-28 15:12] humitos commented on #3470
@vbotka thanks for your report!

I'm closing this issue since it's not a RTD.org bug but a Sphinx Theme bug and it's tracked in the issues linked by @jessetan and the PR is already merged!

Feel free to reopen if you consider.

[2018-01-28 15:12] #3470 closed

[2018-01-28 15:14] humitos commented on #3516
This is already fixed.

[2018-01-28 15:14] #3516 closed

[2018-01-28 15:27] humitos commented on #2940
@stevepiercy I'm not sure to understand the problem. Is this for the RTD docs itself? I mean, should we create a `docutils.conf` under our `docs/` directory with that content?

If that's the case, I don't see that we are using the old setting `html_use_smartypants` at https://github.com/rtfd/readthedocs.org/blob/b12e1885dc7f6da6b9719054e3654019b1e0fe65/docs/conf.py and the default is `True`. So, I

[2018-01-28 15:46] safwanrahman commented on #3251
@humitos I think there should be a button in the UI for going `next`
Moroever, if you send `page_size` parameter while getting the projects, you can control the size from the frontend.

[2018-01-28 15:54] safwanrahman commented on #3511
Seems like your project was taking long time to setup.
Good to see it automatically fixed!

[2018-01-28 15:54] #3511 closed

[2018-01-28 20:27] stsewd commented on #2085
I think this doesn't need to be a link, instead just show as _normal text_ (maybe with some style as background). Something like GitHub does.

![gh](https://user-images.githubusercontent.com/4975310/35486660-3ebdd074-043f-11e8-8280-fdccf1e22a4a.png)

Given that this _link_ is basically the clone url of the repo, not the project page, and there is already a field for that.

[2018-01-28 20:46] stsewd commented on #2561
@humitos what I mean was when the _second_ call to create a webhook happens, I will test the webhook creation manually.

[2018-01-28 20:53] stevepiercy commented on #2940
@humitos this is for all docs published at RTD in the event that RTD decides to bump Sphinx to 1.6.x or higher.

[2018-01-28 21:17] stsewd opened #3561 "Missing i18n for footer and warning banner"
## Details

The text displayed on the warning banner (when using an old version of the documentation) right now is hard coded on the js code.

https://github.com/rtfd/readthedocs.org/blob/b12e1885dc7f6da6b9719054e3654019b1e0fe65/readthedocs/core/static-src/core/js/doc-embed/version-compare.js#L18

Also the footer response from the API

https://github.com/rtfd/readthedocs.org/blob/master/readthedoc

[2018-01-28 21:22] stsewd commented on #3561
We could for instance parse the current url `/en/latest/` and pass the lang to the API, or use the language from the current session.

[2018-01-28 21:50] phyowaimg commented on #3528
#3268

[2018-01-29 02:44] humitos commented on #2085
@stsewd mmm... Interesting. In the case that we don't want to make it a link, I'd say that we need to reorder them by showing the "Home Page" first and then "Repository" (excactly in the opposite order than now)

On the other hand, in the case of Github it makes sense to not be a link since you want to copy and clone the repo, but I think that use case is not applicable to RTD. I mean, I suppose t

[2018-01-29 02:48] humitos commented on #2940
@stevepiercy in the previous comment you linked the `pip.txt` and that reqs file is for RTD itself. The `Sphinx` installed for docs built by RTD is pinned at https://github.com/rtfd/readthedocs.org/blob/b12e1885dc7f6da6b9719054e3654019b1e0fe65/readthedocs/doc_builder/python_environments.py#L223

and it's currently a `1.6.x`. Anyway, I don't see what we can do here since RTD didn't inject this sett

[2018-01-29 03:22] stsewd commented on #2085
@humitos if the repo is from GitLab, Bitbuckert or GitHub, we could get a link, but if there is a public repo from other service (or a custom GitLab installation for example), what could we do then?

We also could generate the home page link when the project is created (in case of the known services). What do you think?

[2018-01-29 05:45] stevepiercy commented on #2940
@humitos, sorry, my mistake. I think this issue was a placeholder and reminder for our projects for the eventual update to Sphinx 1.6.x by RTD. I opened this issue when RTD was using Sphinx 1.5.x and we had to use `html_use_smartypants=False` to prevent quote conversion. We also did not want to pin our docs to a specific version of Sphinx and miss out on the eventual upgrade to RTD, so when buildi

[2018-01-29 05:45] #2940 closed

[2018-01-29 09:08] HannahVMeyer commented on #3032
Are there any updates on this issue? I really like the arg-parse documentation, but am running into the same issues as described above: http://readthedocs.org/projects/limmbo/builds/6644960/

Are there any good alternatives for arg-parse?

Thanks

[2018-01-29 10:45] clefebvre opened #3562 "Unknown locale u'ia'"
## Details

* Project URL: https://readthedocs.org/projects/linuxmint-installation-guide-ia
* Build URL (if applicable): https://readthedocs.org/projects/linuxmint-installation-guide-ia/builds/6647565/
* Read the Docs username (if applicable): linuxmint

## Expected Result

The documentation should be in Interlingua.

## Actual Result

The documentation is in English.

## More Info

Hi,

There see

[2018-01-29 10:50] krzychb opened #3563 "Read The Docs panel in the menu on left bottom side does not open in Google Chrome and FireFox"
## Details

*  Project URL:
   *  ~~https://esp-idf.readthedocs.io/en/latest/~~ (EDIT: this site is not affected anymore)
    * https://espressif-docs.readthedocs-hosted.com/projects/esp-idf/en/latest/
    * ~~actually the issue concerns any of couple of projects I have checked~~
* Build URL (if applicable): n/a
* Read the Docs username (if applicable): n/a

## Expected Result

The panel should op

[2018-01-29 12:16] RichardLitt commented on #3562
Thanks @clefebvre. It sounds like this is unfortunately a Sphinx issue, not a Read The Docs issue. Can you open a ticket on the Sphinx project, and reference this here?

[2018-01-29 15:17] humitos commented on #2940
@stevepiercy thanks for your clarification. I appreciate.

[2018-01-29 16:43] agjohnson commented on #1989
I think that's fine. The bigger question is why this isn't already happening I suppose. The logic should exist already

[2018-01-29 16:50] humitos commented on #1989
There are more discussion in the PR, but the thing is that we were transforming the `slug` _and_ the `verbose_name` and we need to transform the `slug` only.

`verbose_name` is used for the "Edit on Github" link for example and GH wants the full name in the URL, even with the `/` on it (`release/foobar`)

[2018-01-30 01:38] Blendify commented on #3563
This is probably going to be a be a theme issue if there is an issue. Just tested on chrome-os  63.0.3239.140 and had no issues. Can you give your build number for your browser?

Theme issues can be filed here: https://github.com/rtfd/sphinx_rtd_theme

[2018-01-30 02:05] #1989 closed

[2018-01-30 10:09] jessetan opened #3564 "Fonts are sent without gzip compression"
The fonts used (Lato and Roboto) are not sent using gzip compression. This makes them responsible for the bulk of the traffic on an initial page load. See the blue bars in the following graph:
![network-rtd](https://user-images.githubusercontent.com/3284111/35559962-541ddd1a-05ac-11e8-88e7-c83dbea52ed9.png)

Suggestion:
Turn on gzip compression for the following types in the RTD nginx config.

ext

[2018-01-30 13:53] krzychb commented on #3563
I do not see this issue anymore under https://esp-idf.readthedocs.io/en/latest/
The issue still persists under https://espressif-docs.readthedocs-hosted.com/projects/esp-idf/en/latest/

Checked using:
![image](https://user-images.githubusercontent.com/12953787/35569528-9a20f606-05cc-11e8-80ab-ef44df1800a0.png)

[2018-01-30 14:57] Blendify commented on #3563
I see that now on my end too. I have not looked to see exactly what the
issue is.

On Tue, Jan 30, 2018 at 8:53 AM, Krzysztof <notifications@github.com> wrote:

--
Aaron Carlisle

Picture taker | Bit cruncher | Pixel pusher | Document writer |
Project administrator for the Blender 3D Documentation Project

[2018-01-31 07:34] KelSolaar opened #3565 "Incomprehensible build time increase."
## Details

* Project URL: http://colour.readthedocs.io/
* Build URL (if applicable): https://readthedocs.org/projects/colour/builds/6661997/ and https://readthedocs.org/projects/colour/builds/6661968/
* Read the Docs username (if applicable): colour-science

## Expected Result

*A description of what you wanted to happen*

The documentation should build correctly and faster.

## Actual Result

Th

[2018-01-31 08:04] KelSolaar commented on #3565
Adding a `import colour` statement in the `conf.py` is responsible for the build time skyrocketing. I decided to time how long the import itself was and I get 1.3496119976 seconds locally and 1.11778497696 seconds on RtD: https://readthedocs.org/projects/colour/builds/6662217/

[2018-01-31 19:30] nkasmanoff opened #3566 "read the docs does not read in certain python modules"
## Details

* Project URL: http://burstcube.readthedocs.io/en/master/
* Build URL (if applicable):
* Read the Docs username (if applicable): nkasmanoff

## Expected Result
A more or less complete form of documentation for a series of python modules.
*A description of what you wanted to happen*

## Actual Result
Using sphinx I have a list of python modules to be read in and have their respective fu

[2018-01-31 20:19] nkasmanoff commented on #3566
After reading through the build I've found that it fails for these programs because they depend on numpy and matlplotlib which readthedocs is unable to find.

[2018-01-31 20:27] nkasmanoff commented on #3566
found solution in previous issues.

[2018-01-31 20:27] #3566 closed

[2018-01-31 21:53] stsewd commented on #2561
So, I tested manually and indeed GitHub returns a error code 422 when there is already a webhook, but there is no use case right now that generate this.

Because, the webhooks are only created when a user import a new project, there is an option for resync a webhook (this works fine), and an option fro create a new webhook, but this option just gives an link to manually configurate the webhook on

[2018-02-01 00:50] humitos commented on #2561
@agjohnson how did you get that error? what was the workflow/steps?

What happen if you import the project, delete it and import it again? I suppose that could be the use case since I don't think RTD is removing the webhook from the repository (which I think we _should_ do, right?)

We use mocks for this (https://docs.python.org/3/library/unittest.mock.html) so we can emulate a response from githu

[2018-02-01 01:30] stsewd commented on #2561
@humitos it creates another webhook, and the old one still remains on the repo

[2018-02-01 04:17] hubo1016 opened #3567 "Generated documents not included by readthedocs builder"
## Details

* Project URL: https://readthedocs.org/projects/vlcp/
* Build URL (if applicable): https://readthedocs.org/projects/vlcp/builds/6668960/
* Read the Docs username (if applicable): hubo1016

## Expected Result

I'm using a custom plugin to generate reference documents (some .rst files). They are linked from a static .rst file like this:

[code]

When .rst files are written to gensrc/ref/

[2018-02-01 04:24] hubo1016 commented on #3567
This issue only appears in Linux operating system, with `-b readthedocs` builder. The default HTML builder does not have this issue. Also, it does not appear in Windows.

[2018-02-01 05:05] hubo1016 commented on #3567
Seems that it appears when the source files are generated at the first time, and it is not related to readthedocs. I'm closing this.

[2018-02-01 05:05] #3567 closed

[2018-02-01 05:21] veenamj opened #3568 "Is it possible to add a simple feedback form on each page of my documentation project as we have copyright info now?"
## Details

* Project URL: community user
* Build URL (if applicable):
* Read the Docs username (if applicable):

## Expected Result

*We need to add a feedback form at the bottom of each page. So, is there any solution. I could get this https://github.com/rtfd/readthedocs.org/issues/2533 but it is still an open issue.

## Actual Result

*Request tips to add a feedback form.

[2018-02-01 14:53] giansalex commented on #3424
i used github pages.

[2018-02-01 14:53] #3424 closed

[2018-02-01 16:01] stsewd commented on #3568
Probably this could be a partial solution for now https://docs.readthedocs.io/en/latest/faq.html#i-want-comments-in-my-docs

[2018-02-01 16:58] davidfischer commented on #3568
One possibility is to embed a form directly with a `raw` directive. The documentation for readthedocs.org [used to have one](https://github.com/rtfd/readthedocs.org/commit/943fabd5a615114c0658e6e261907442fa5eb8c9#diff-42131210f9da9ab7f8109bf9af79860eL119).

Like the disqus plugin @stsewd mentioned, this may be best handled by a 3rd party Sphinx plugin.

[2018-02-01 17:37] humitos commented on #3503
I already sent an email to `maxgam` communicating him this situation and linking this issue so `maxgam` can get more context. Let's see if he reply.

[2018-02-01 18:12] CAM-Gerlach commented on #3503
Thanks @humitos ! I'll await their reply.

[2018-02-01 22:51] humitos opened #3570 "Tastypie needs to upgrade our dependencies to support Python3"
If you go to http://localhost:8000/api/v1/project/46162/sync_versions/ while running your instance with Python3 you will get this error:

I found that we are using `mimetype`, https://github.com/rtfd/readthedocs.org/blob/df8079a18ed9c15e9c85f0646e3e9169e725b310/requirements/pip.txt#L49 and `python-mimeparse` should be used.

We should write a simple test for this, otherwise we will find this out i

[2018-02-02 01:28] maxgamurar commented on #3503
Hello there!
Please give me list of usernames to grant access for and I will do it right away.

Thanks

[2018-02-02 03:07] maxgamurar commented on #3503
Btw, I've added this repo as I was working on anaconda OSS docs package.

[2018-02-02 05:57] wfer88 opened #3573 "Local repository not working properly"
##I cloned repository as per https://docs.readthedocs.io/en/latest/install.html but cant connect to social accounts

* Project URL: Local
* Build URL (if applicable):Local
* Read the Docs username (if applicable): fernawil

## Expected Result

*when i clone repository and set it up locally ,it should be able to connect social accounts like github ,gitlab*

## Actual Result

*I cloned repository an

[2018-02-02 11:14] rhtyd opened #3574 "Build failing: due inactivity in only 34 seconds"
## Details

* Project URL: https://readthedocs.org/projects/cloudstack-release-notes/builds/
* Build URL (if applicable): https://readthedocs.org/projects/cloudstack-release-notes/builds/6678782/
* Read the Docs username (if applicable): bhaisaab

## Expected Result

Build should pass

## Actual Result

Build failed

[2018-02-02 11:53] ewangi opened #3575 "Canonicalisation changes protocol from https to http"
If you link to the page https://linuxmint-installation-guide.readthedocs.io/en/latest (without a trailing slash), the server canonicalises that address by adding a trailing slash. However, at the same time, it also changes the protocol to http, returning http://linuxmint-installation-guide.readthedocs.io/en/latest/ .

This means that, unless noticed, the user spends their subsequent time in readth

[2018-02-02 13:16] RichardLitt commented on #3566
Thanks for updating us, @nkasmanoff.

[2018-02-02 14:22] nilsnolde opened #3576 "Build failed without error message"
## Details

* Project URL: https://readthedocs.org/projects/openrouteservice-py
* Build URL (if applicable): https://readthedocs.org/projects/openrouteservice-py/builds/6679713/
* Read the Docs username (if applicable): nilsnolde

## Expected Result

Build should have passed.

## Actual Result

Build failed.

[2018-02-02 15:07] vidartf commented on #3576
I'm seeing the same behavior across two different projects as well.

[2018-02-02 15:19] lhadjchikh commented on #3123
@RichardLitt Just wanted to revisit this and see if it's still possible to increase the timeout setting for cyphon. I would be so happy to get a passing build. Thanks!

[2018-02-02 15:21] agccie commented on #3576
I'm also seeing the same issue although the latest documentation seems to be correct.
https://readthedocs.org/projects/aci-enhancedendpointtracker/builds/6680075/

[2018-02-02 15:46] humitos commented on #3574
This build was terminated due to inactivity: `This build was terminated due to inactivity` but the it says that only took 34 seconds.

This is done by a Celery task at https://github.com/rtfd/readthedocs.org/blob/df8079a18ed9c15e9c85f0646e3e9169e725b310/readthedocs/projects/tasks.py#L1048-L1089

I'm marking this report as a bug and changing the title.

[2018-02-02 16:00] stsewd commented on #3575
Hi, thanks for reporting, I think this is a duplicated of #714

[2018-02-02 16:22] stsewd commented on #3573
You need to create a social app on the admin panel http://127.0.0.1:8000/admin/socialaccount/socialapp/, but first you need to create an application on [GitHub](https://github.com/settings/applications/new) or [GitLab](https://gitlab.com/profile/applications)  to get the secret keys. The callback urls are http://mydomain.com/accounts/gitlab/login/callback/ and http://mydoamain.com/accounts/github/

[2018-02-02 16:24] stsewd commented on #3576
On my local instance the build succeeded, seems like a problem on the servers.

[2018-02-02 16:26] stsewd commented on #3573
I use [ngrok](https://ngrok.com/) for local testing.

[2018-02-02 16:51] ccordoba12 commented on #3503
Thanks @maxgamurar for your offer! My username in RTD is ccordoba12.

[2018-02-02 17:02] stsewd commented on #1856
This is because `0.6.x`, `0.7.x`, `1.0.x` and so on aren't valid versions according to [PEP440](https://www.python.org/dev/peps/pep-0440/). RTD uses [this library](https://packaging.pypa.io/en/latest/version/#packaging.version.Version) for get the version order, if one version is not valid, it is omitted.

[2018-02-02 17:40] ewangi commented on #3575
Ah, thanks stsewd. My apologies that I didn't notice that other post.

Goodness, has that bug report really been open for almost 4 years? Good to see it was self-assigned by humitos in late December 2017. Hopefully something will be done about it. Changing the protocol from https to http for no reason (the site appears to support both protocols) is not really on.

[2018-02-02 19:30] jbednar opened #3577 "Moving away from readthedocs.io"
* Project URL: http://datashader.readthedocs.io/

My project's documentation is now hosted on S3 in a custom domain (datashader.org), and I no longer want to use readthedocs to build its documentation.  I've pointed readthedocs at a special branch where all the .rst files have been replaced with links to the new site, which should help ensure that people aren't confused. But ideally:

1. readthedo

[2018-02-02 20:57] remram44 commented on #1856
Couldn't it just point to the default branch?

[2018-02-02 21:51] stsewd commented on #1725
Are you still having this issue? I just checked on my local instance and I can delete translations.

[2018-02-02 22:09] ThomasWaldmann commented on #1856
Why does it try to parse a BRANCH name as version anyway?

A release has a version and is a TAG, not a branch.

[2018-02-02 22:09] humitos commented on #3573
This issue is being marked as `Community Effort`. The core team will try to facilitate resolution with this issue, but without the resources to support external installations outside of our production environment, we must rely on the community to help.

You can read more information on our philosophy around supporting Read the Docs as an open source and volunteer run effort here: http://docs.readt

[2018-02-02 22:31] stsewd commented on #1856
@ThomasWaldmann currently RTD support both kind of work-flows (tags and branches), but if the project has at least one tag, those are given priority (see #3528)

[2018-02-02 23:30] davidfischer commented on #3577
With respect to redirects to another domain, we don't yet have support for it but there is another PR #2267 tracking it. We would welcome a PR for it and it could be an enhancement to the existing redirects. I think your solution is the current best solution.

Was there a specific reason why you decided to self host? It wasn't just because of a custom domain right (RTD supports that)?

[2018-02-03 04:04] maxgamurar commented on #3503
@ccordoba12 done

[2018-02-03 05:09] maryroseMXXXVI commented on #2857
Why do you want me  to think by my self if I can work with you

[2018-02-03 10:00] nilsnolde commented on #3576
Builds again. Probably a temp server failure...

[2018-02-03 10:05] nilsnolde commented on #3576
Sorry, that was too quick apparently. It says it builds successfully, but then it doesn't compile the autodoc sections at all:
[](http://openrouteservice-py.readthedocs.io/en/latest/openrouteservice.html#openrouteservice-client-module)

[2018-02-03 13:55] RichardLitt commented on #3575
It _has_ been open for a while. I hear you on that. We have a lot of issues which are old, as this is an [open source and volunteer run effort](http://docs.readthedocs.io/en/latest/open-source-philosophy.html). This means that some bugs will remain until we have time for them. Any help would be and always is appreciated - however, judgement about our response time doesn't help anyone. Constructive

[2018-02-03 13:56] RichardLitt commented on #3123
@ericholscher What do you think?

[2018-02-03 14:01] ewangi commented on #3575
Thanks, Richard. My comment wasn't a criticism, I just guessed that the issue had somehow fallen through the net and I am concerned because I believe security is an important issue. I would very gladly change the relevant piece of code if you can direct me to it (I had a quick look through the code but couldn't find it). It will be a simple change, especially if it involves an Apache directive - I

[2018-02-03 14:20] RichardLitt commented on #3575
@ewangi Thanks for clarifying! You're right, of course - sec is very important. @humitos Can @ewangi help at all?

[2018-02-03 14:26] mipapo commented on #1725
I'm not sure anymore - I don't use rtd anymore. I will close this issue

[2018-02-03 14:26] #1725 closed

[2018-02-03 16:26] humitos commented on #3575
@ewangi thanks for your report!

As @stsewd mentioned this is a duplicated one. So I will close it and we can continue the technical discussion in the other issue. I added a comment.

@RichardLitt you always so kind explaining the situation. Thanks for that. I appreciate it :)

[2018-02-03 16:26] #3575 closed

[2018-02-03 16:27] humitos commented on #714
The nginx config files to handle this lives in a private repository, so I can't share those config files with you. I'm sorry about that.

Answering a comment from #3575 to @ewangi:

I self assigned it to me to take a look when I have some time because I consider this important and I thought it shouldn't be so difficult. Although, I'm new in the operations repository and I'm trying to learn/underst

[2018-02-03 16:32] humitos commented on #1725
@mipapo thanks for the update.

Can you give us feedback on why you move out Read the Docs if you don't mind? Thanks!

[2018-02-03 17:04] stsewd commented on #3576
@nilsnolde that's because autodoc can't find the package, you need to mark the `Install Project` option on your project settings. And I believe injecting your project path here https://github.com/GIScience/openrouteservice-py/blob/master/docs/source/conf.py#L21 also can work.

[2018-02-03 20:37] ewangi commented on #714
Can I back up @travcunn 's request that the relevant files are placed in a public repo. I'm very new to this, but I can't understand why an open source project on here should have some files that are hidden from view - it allows less opportunity for bugs to be resolved. This isn't a criticism, it is a request that someone might explain to me why that is the case.

@humitos - I remain at your dispo

[2018-02-03 21:08] humitos commented on #714
@ewangi I don't have the proper answer, I'm also new here. I'd say that _time_ has been one of the reasons at least. Open source some code it's not trivial: you have to remove all the secrets from the repository and maintain the automated flow working properly.

It's what the private repository says in the description :)

Anyway, I think it would be awesome to follow that path.

[2018-02-03 21:15] humitos commented on #2955
@CrazyPython I have just some comments/questions on this:

This is already done. Just #3564 missing

What's needed for this? I think with the public code you can propose a PR, right? How complicated it is? How much work does this involve?

What is needed for this?

From Eric's reply I think this is not going to be done in the near future.

[2018-02-03 22:32] iCrawl commented on #3208
Hello readthedocs team,

I certainly do not want to be the booman and call out a sloppy way of handling this issue, but looking at the date of this issue and follow-up email conversations, which are all available if needed, I have to ask myself: does it even matter?
We followed the procedure inquired and filled out a DMCA takedown to the old doc site (http://discordjs.readthedocs.io/en/latest/) wh

[2018-02-03 22:51] shirt-gov commented on #3133
This issue has not been resolved as is the case with the discord.js issue.

[2018-02-04 05:37] scaleoutsean opened #3578 "RTD replaces branch/release with branch-release and 404's "Edit on Github" URL to docs"
## Details

RTD adds a broken "Edit on Github" URL to docs.

Repro:
1) https://netapp-trident.readthedocs.io/en/stable-v18.01/
2) click on "Edit on Github".

* Project URL: https://github.com/NetApp/trident
* Build URL (if applicable): https://github.com/NetApp/trident/releases/tag/v18.01.0
* Read the Docs username (if applicable): netapp-trident (https://netapp-trident.readthedocs.io/en/stable-v1

[2018-02-04 11:41] Ev1dentFir3 commented on #3133
the discord.js docs not being updated doesn't count as my question not being answered.

They answered my original question so his closing the ticket is valid.

[2018-02-04 12:09] veenamj commented on #3568
Thank you, @stsewd  and @davidfischer. I added sphinxcontrib-disqus in the conf,.py extensions and requirements file. I ran pip install sphinxcontrib-disqus. After running make html (a local build), I get this error -
[code]
Pip install went fine though. What would be the fix for this? Thanks in Advance.

[2018-02-04 16:54] humitos commented on #3578
Thanks for the report. This is an already known bug and it's addressed at #1989 and a PR already merged at #3545 so, this should be solved in the next deploy.

[2018-02-04 16:54] #3578 closed

[2018-02-04 17:16] scaleoutsean commented on #3578
Thanks. I did search open issues but not the closed ones :-)

[2018-02-05 06:48] KelSolaar commented on #3565
@RichardLitt : I have figured out what was the cause for the long build times, I don't know the exact reasons but I'm assuming it is related to memory consumption and possibly VM swapping.

Basically we are building a cubic spline interpolator [from a large number of data points](https://github.com/colour-science/colour/blob/7083a4cd919c28b6d2adb5e979a8d940fdc8eefc/colour/plotting/dataset/astm_g_1

[2018-02-05 08:29] nilsnolde commented on #3576
Oopsa, didn't see that option. Sorta figured that'd happen automatically. Thanks @stsewd for the info, it worked beautifully:) I rather set the option in advanced settings than sys.path injections.

[2018-02-05 08:29] #3576 closed

[2018-02-05 13:00] RichardLitt commented on #3565
@KelSolaar I'm not sure what is happening, either! Hopefully one of the other maintainers can help out.

[2018-02-05 14:49] jbednar commented on #3577
Thanks.  The main reason for moving to our own host is that datashader's website build process involves about 30 GB of data that is impractical to host in github and impractical to download as part of the readthedocs build process.  But it's a project about working with big data, so we're a special case!

[2018-02-05 14:49] #3577 closed

[2018-02-05 22:13] davidfischer commented on #3568
@veenamj if you have a build URL, that would be helpful.

[2018-02-06 00:15] svenevs opened #3580 "Unable to build project online"
## Details

* Project URL: http://fake-nanogui.readthedocs.io/en/latest/
* Build URL (if applicable): https://readthedocs.org/projects/fake-nanogui/builds/6699993/
* Read the Docs username (if applicable): sjm324

## Expected Result

Build of docs with 26 warnings (template issues with breathe).

## Actual Result

After `cat docs/conf.py` it spins for a bit, but then nothing continues.

Build id:

[2018-02-06 00:31] kchawla-pi commented on #3426
First time aspiring contributor here (poised to dip toe in water).
I would like to help. Is this just the usual `requirements.txt` that pip uses or is there something special about this?
Any aspect I should be mindful of?

[2018-02-06 01:37] ericholscher commented on #3165
Sorry fro the delay here. Have you tried turning off pdf & epub builds, that should solve things in the short term.

[2018-02-06 01:39] ericholscher commented on #3165
I've raised the time limits to 1 hr.

[2018-02-06 06:08] veenamj commented on #3568
There is no build URL  it is just a local build. I run the command and I get this error as soon as the command is executed?

[2018-02-06 08:39] Chilipp commented on #3165
Great! Thanks a lot :)

[2018-02-06 08:39] #3165 closed

[2018-02-06 13:04] vidartf commented on #3465
I need to do something similar, so I looked at code here: https://github.com/rtfd/readthedocs.org/blob/96f6da57d89a37bdfa6b99de93e8ae6d09e2a586/readthedocs/redirects/models.py

There does not seem to be any wildcards, but I see that exact redirects have a '$rest' parameter. I think this will allow you to do what you want, by the following pattern:
 - from: `/$lang/$version/en/$rest`
 - to: `/$lang

[2018-02-06 19:38] RichardLitt commented on #3426
@kchawla-pi Welcome! While I can't help you technically here, @humitos might be able to.

[2018-02-06 19:38] davidfischer commented on #3568
If the build isn't on readthedocs, this doesn't sound like a readthedocs issue. Perhaps open an issue on https://github.com/Robpol86/sphinxcontrib-disqus.

[2018-02-06 21:30] stsewd commented on #2621
Hi, I just test this case on my local instance and I was able to delete successfully the translation. Are you still having this issue?

[2018-02-06 23:17] lb- commented on #3481
We are running into this same issue with our Wagtail docs https://github.com/wagtail/wagtail/issues/3375

Some people end up viewing the latest and are not sure that it is actually the development version (ie. not stable).

[2018-02-07 00:08] stsewd commented on #3031
Well, the original problem seems that was resolved, (I believe it was because of memory limits), now your builds seem to fail because of this dependency https://pypi.python.org/pypi/requests-mock

[2018-02-07 00:14] stsewd commented on #3580
Hi, I just build your docs on my local instance successfully, could you try building the docs again? (probably was a temporary problem on the servers).

[2018-02-07 00:20] svenevs commented on #3580
Hi @stsewd, thanks for checking.  Unfortunately, [it seems to have failed again in the same way (Build #`6707242`)](https://readthedocs.org/projects/fake-nanogui/builds/6707242/).

Is it possible that having submodules may somehow be a problem?  Are there any kinds of build logs you could potentially post here that I could help stare at?

[2018-02-07 00:29] stsewd commented on #3580
That's very strange, could you try wiping the environment? https://readthedocs.org/wipe/fake-nanogui/latest/

The logs from my local instance looks very similar to yours!

[2018-02-07 00:39] svenevs commented on #3580
Harumph.  Yeah I've tried wiping a couple of times, it installs cleanly each time (though it does use cached versions of the extensions in the install logs, but I seriously doubt that matters).

I'm digging through the stuff added to `conf.py` by RTD, the only thing that looked dubious was this

[code]
since I already had `'_static'` in the `html_static_path`, but removing it from the original `co

[2018-02-07 00:49] stsewd commented on #3580
@svenevs I just imported your project on the org site, and indeed, it fails. I'm not sure why on my local instance succeeds, here are some errors that I found on the output on my local instance. Sorry for not being more helpful.

[code]

[2018-02-07 00:55] svenevs commented on #3580
No need to apologize!  Those warnings are expected, `breathe` has some issues with how it processes C++11 `using` directives, as well as template signatures.  On a fully-updated local build, those are `WARNING`'s.

Has the RTD policy changed such that these warnings are now errors?  Is there a way to relax this so that these warnings are allowed to pass through, even if they make some weird signat

[2018-02-07 01:49] macrocosme commented on #152
This may not be exactly the fix requested, but by overriding the ``sidebartitle`` block from rtd ``layout.html``, I managed to change the link to something other than the ``master_doc``.

So, in my own ``_layout/layout.html``, I override it with the following:

[code]

[2018-02-07 03:18] humitos commented on #3426
@kchawla-pi Hi! Thanks for showing your interest!

The idea is to write a guide on how to use the `requirements.txt` file in a Read the Docs project. The general idea should be covered, but also this two specific cases:

* using the `yaml` file: http://docs.readthedocs.io/en/latest/yaml-config.html#requirements-file
* using the project admin's web interface: Admin -> Advanced Settings -> Requireme

[2018-02-07 11:56] lsaffre commented on #3031
Yes, the memory limit is fixed. That other problem is of course mine and not yours.

[2018-02-07 11:56] #3031 closed

[2018-02-07 13:09] atodorov commented on #2621
I am still having this issue with the link in the first comment.

[2018-02-07 14:36] vingar commented on #3032
I'm hitting the same problem: https://readthedocs.org/projects/rucio/builds/6710110/

I tried to enforce `CommonMark==0.7.4` in the project requirements and configured in rtds but it didn't help.

Would you know any work around  ?

[2018-02-07 15:20] stsewd commented on #2621
@atodorov can you attach a screenshot of your translations panel? Just in case I didn't understand the issue, thanks!

[2018-02-07 20:20] JordonPhillips opened #3583 "Viewing / Modifying Redirects"
## Details

* Project URL: https://boto3.readthedocs.io
* Build URL (if applicable):
* Read the Docs username (if applicable):

## Expected Result

I want to find out what redirects I have configured. I go to the redirect section of the admin page or call an api to get the information. If a redirect is incorrect I can then modify or delete it.

## Actual Result

I go to the redirect section of the

[2018-02-08 09:51] aaksarin opened #3586 "Access to media.readthedocs.org/fonts/fontawesome-webfont.woff2 blocked by CORS policy"
## Details

* Project URL: http://django-compressor.readthedocs.io/
* Build URL (if applicable):
* Read the Docs username (if applicable):

## Expected Result

Page loaded without errors.

## Actual Result

[2018-02-08 10:14] dplanella opened #3587 "Github webhook stopped working, resync fails"
## Details

* Project URL: http://adafruit-beaglebone-io-python.readthedocs.io
* Build URL: https://readthedocs.org/projects/adafruit-beaglebone-io-python/builds/
* Read the Docs username: dplanella
* Upstream: https://github.com/adafruit/adafruit-beaglebone-io-python/blob/master/docs/index.rst

## Expected Result

- Documentation is automatically built upon an upstream git commit
- The latest tag

[2018-02-08 11:54] joaobentes commented on #2798
Hey @agjohnson and @martinfletcher! Is that any progression in that issue? Do you need any help? I'd like to contribute on fixing this issue.

[2018-02-08 18:50] davidfischer commented on #3586
I think the issue is here because the URL https://media.readthedocs.org/fonts/fontawesome-webfont.woff2?v=4.6.3 404s. This shouldn't actually cause any page differences as https://media.readthedocs.org/fonts/fontawesome-webfont.woff is also loaded and loads without issue.

I believe there is a CORS issue because when a successful 200 is returned the `Access-Control-Allow-Origin` header is added. H

[2018-02-08 19:52] marcelstoer commented on #3465
You mean https://github.com/rtfd/readthedocs.org/blob/96f6da57d89a37bdfa6b99de93e8ae6d09e2a586/readthedocs/redirects/models.py#L134 right? I don't see support for either `$lang` or `$version` in the code though.

I was recently testing redirects _w/ modifying my file structure first_ (i.e. I didn't _have_ any invalid links) and was then wondering why my redirect rules weren't applied at all. Turns

[2018-02-09 01:00] #2261 closed

[2018-02-09 04:32] stsewd commented on #3583
Thanks for reporting, I think this is a duplicate of #2431

[2018-02-09 05:37] veenamj commented on #3568
Thanks @davidfischer  I will raise it as an issue on  https://github.com/Robpol86/sphinxcontrib-disqus.

[2018-02-09 06:48] veenamj commented on #3568
I haven't posted anything on the disqus site. It looks like we need to create an account on Disqus site and add that to our project as described in http://www.milos.curuvija.com/miscellaneous/sphinx/how_to_integrate_disqus_with_sphinx.html

@davidfischer  and @stsewd  - This is FYI.

[2018-02-09 08:01] aaksarin commented on #3586
@davidfischer yeah, I think you are right. I did pull request with missing file. Thanks.

[2018-02-09 08:27] fgimian opened #3590 "Unable to verify email address on the website"
## Details

* Project URL: N/A
* Build URL (if applicable): N/A
* Read the Docs username (if applicable): fgimian

## Expected Result

1. I receive an email with a link to confirm my email address **works**
2. I click the link and see a page that asks me to confirm **works**
3. I click confirm and expect a success message **fails**

## Actual Result

After clicking confirm I see:

[code]

[2018-02-09 09:42] krzychb commented on #3108
Hi Team,

Could you, please, review this issue?
I just got another report, ref. links above, of users getting broken links when searching documentation.

[2018-02-09 10:44] vidartf commented on #3465
Yes, looking closer on this I see that. Are you sure your case can't be covered by the prefix redirect?

[2018-02-09 11:01] atodorov commented on #2621
![rtd](https://user-images.githubusercontent.com/1002300/36024720-45f3b472-0d99-11e8-9404-1caaa6f94b5c.png)

[2018-02-09 12:24] tpeeters opened #3591 "Delete deprecated project that no longer has a github project"
I would like to delete the project on http://mintapi.readthedocs.io
The associated github repositories were deleted a while ago. The company that was providing these APIs is no longer called Mint Labs, and the old API that is documented on readthedocs.io no longer works.

Can you please remove mintapi.readthedocs.io for me?

Thank you.

[2018-02-09 13:14] #3528 closed

[2018-02-09 13:36] tiran commented on #3269
The configuration also causes issue with stricter security policies, see https://bugzilla.redhat.com/show_bug.cgi?id=1543861 With Fedora's FUTURE security policy, NSS (Firefox's TLS library) requests only certificates with SHA 256 and SHA 384 PRF in signature algorithms. Since the trust anchor of the alternative trust chain uses a RSA+SHA1 signature, the server aborts the TLS handshake with a fata

[2018-02-09 14:26] stsewd commented on #3591
The read the docs project is yours?

[2018-02-09 14:56] tpeeters commented on #3591
No, it was was created to host the documentation for a library provided by the company that I work for now, but the person who originally created the readthedocs project is no longer employed here (for several years already). I am now tasked with removing the incorrect/outdated documentation online and nobody has the account on read the docs that owns the project.

[2018-02-09 15:59] stsewd commented on #3591
There is a policy for abandoned projects, hope it helps a little https://docs.readthedocs.io/en/latest/abandoned-projects.html

Related #3382

[2018-02-09 19:32] davidfischer commented on #3590
I just ran through the signup flow without an issue. This is a cross-site request forgery (CSRF) protection failure which requires cookies to work correctly. Do you happen to have cookies disabled? This issue can also occur if you clear your session between when you click the email and when you submit the "confirm" although that seems unlikely.

Would you mind trying again?

[2018-02-09 20:13] RichardLitt commented on #3583
Agreed. Thank you, @JordonPhillips!

[2018-02-09 20:13] #3583 closed

[2018-02-09 20:15] RichardLitt commented on #3108
@humitos Want to take a stab at this?

[2018-02-10 00:39] CrazyPython commented on #2955
Would you consider using the NGINX module google made that does the optimizations automatically?

[2018-02-10 02:51] fgimian commented on #3590
Thanks so much for your reply @davidfischer, I tried again just now and everything worked correctly.  Not sure what was going on yesterday 😄

Cheers
Fotis

[2018-02-10 02:51] #3590 closed

[2018-02-11 01:18] stsewd commented on #3539
What about putting this information on the header of the raw build log (see #3585)? So the user can just referrer that link or copy/paste the raw log on the issue.

[2018-02-11 02:15] stsewd commented on #3570
will api v1 still be supported in the long term?

[2018-02-11 02:31] stsewd commented on #3573
I think the same issue is addressed here #2243

[2018-02-11 02:51] stsewd opened #3594 "Add branding guidelines"
## Details

I think this information needs to be on the docs index page and/or on the footer of the RTD site.

There is a repo containing the guidelines https://github.com/readthedocs/guidelines, but there is no mention where is the rtd project.

[2018-02-11 03:34] stsewd commented on #1137
I believe this issue is already solved, the `_static` directory is created if isn't found.

[2018-02-11 03:37] stsewd commented on #1078
Is this necessary/useful right now or is in the plans of rtd?

/cc @humitos

[2018-02-11 03:39] stsewd commented on #1455
Related #3561

[2018-02-11 03:53] stsewd commented on #1998
This issue was solved on #3495 (already merged).

[2018-02-11 04:06] stsewd commented on #3115
You can help with a PR similar to #3588

[2018-02-11 22:27] marcelstoer commented on #3380
Multi-language in the same repository is not currently supported by MkDocs problem. It's not a RTD issue. See mkdocs/mkdocs#774 for details.

[2018-02-11 22:45] stsewd commented on #1096
This issue was already solved on #1570 (merged)

[2018-02-12 08:23] rrahn commented on #1096
@stsewd can you close the issue. I am afraid I can't as I am not the original author. The others probably will not respond.

[2018-02-12 19:02] 142ayushkumar commented on #3570
I will like to work on this issue.

[2018-02-12 19:09] suraj1829 opened #3599 "Not able to access my old account as it has my office mail connected"
## Details

* Project URL:
* Build URL (if applicable):
* Read the Docs username (if applicable):

## Expected Result

## Actual Result

*A description of what actually happened*

[2018-02-12 19:10] #3599 closed

[2018-02-12 19:15] Ayukha commented on #3586
@aaksarin  Can i try?

[2018-02-12 19:16] Tikam02 opened #3600 "Problem Installing the setup"
1)when installing through requirements.txt all modules are not installed.
2) problems in modules

![screenshot from 2018-02-13 00-44-14](https://user-images.githubusercontent.com/10548085/36114806-19b19c24-1057-11e8-9bb6-b8839efc59ad.png)

[2018-02-12 19:19] Tikam02 commented on #3600
Official Pagenation Download page.

https://pythonhosted.org/linaro-django-pagination/installation.html

Installation
Prerequisites

This package requires django 1.2. It is not tested on earlier versions and may not work properly there.

To build the documentation from source you will need sphinx.
Installation Options

There are several installation options available:
Using Ubuntu PPAs

For Ubuntu

[2018-02-12 19:22] Tikam02 commented on #3600
it's not running even after installing all pagenation modules.

[2018-02-12 19:26] 142ayushkumar commented on #3600
@Tikam02 did you followed each and every step? I set up my system today itself and it is working fine.
Also provide the console error which you are getting.

[2018-02-12 19:36] stsewd commented on #3600
That's because RTD use a custom package from GitHub https://github.com/rtfd/readthedocs.org/blob/master/requirements/pip.txt#L73

Please follow the instructions here https://docs.readthedocs.io/en/latest/install.html

[2018-02-12 19:47] 142ayushkumar commented on #3570
@humitos @stsewd
the webpage is not available on my local server @ http://localhost:8000/api/v1/project/46162/sync_versions/
a screenshot of error page:
![image](https://user-images.githubusercontent.com/23264605/36116277-a8a860c6-105b-11e8-94b4-9d65493ad828.png)

[2018-02-12 19:55] Tikam02 commented on #3600
default environment  is python3 or python2

[2018-02-12 19:56] 142ayushkumar commented on #3600
mine is Python 2.7.12

[2018-02-12 20:00] stsewd commented on #3600
@Tikam02 do you mean the python interpreter on which rtd run? Python 2 and 3 (no well tested) are supported. If is about the build environment for documentation, python2 is the default.

[2018-02-12 20:03] Tikam02 commented on #3600
yup i think now it'll work for 2.7 and 3.4 specifically.Please upgrade this platform to 3.6 and if possible we can also make it python package pip rtd  in future development.
Thanks for the information.

[2018-02-12 20:04] stsewd commented on #3570
@142ayushkumar that's because that url was just an example, you need to create a project on your local instance and take the id. `http://localhost:8000/api/v1/project/{id}/sync_versions/`. And I believe this endpoint only support POST requests, but I'm not sure.

Thanks for your interest on contributing :)

[2018-02-12 20:19] Tikam02 commented on #3600
still there is some problem with celery module in 2.7, followed each steps.bug even after istalling celery module.

![screenshot from 2018-02-13 01-47-32](https://user-images.githubusercontent.com/10548085/36117523-e89e5ad8-105f-11e8-8c54-e381dee1e0a6.png)

[2018-02-12 20:21] 142ayushkumar commented on #3600
@Tikam02  you working on python 2?

[2018-02-12 20:22] Tikam02 commented on #3600
yeah, because i had 2.7, 3.5 and 3.6 environment that's why.

[2018-02-12 20:57] Jigar3 commented on #3600
Your celery module is being installed in python 3.6 and you are running python 2.7.
This is causing ImportError.
Use python --version to check which version of python you are using

[2018-02-12 20:59] Jigar3 commented on #3594
I would like to take this issue @stsewd.
Can you give me details about how to accomplish this as I am new over here.
Any help is appreciated.

[2018-02-12 21:36] stsewd commented on #3594
@Jigar3 hi, thanks for your interest on collaborating! I think first we need to wait to some maintainer to tell us where is the guidelines rtd project. Then make a PR adding a link to the guidelines here https://github.com/rtfd/readthedocs.org/blob/master/readthedocs/templates/base.html#L101 and/or https://github.com/rtfd/readthedocs.org/blob/master/docs/index.rst

[2018-02-12 21:37] Jigar3 commented on #3594
Till then can you suggest some beginner friendly issues

[2018-02-12 21:47] stsewd commented on #1096
@rrahn I can't neither, let's wait to someone with permissions to do it.

[2018-02-12 21:52] stsewd commented on #3594
You can search for issues with this label https://github.com/rtfd/readthedocs.org/issues?q=is%3Aissue+is%3Aopen+label%3A%22Good+First+Issue%22

[2018-02-12 21:55] Jigar3 commented on #3506
I would like to take this issue.
Can you give me more details regarding it as I am new over here.
Any help is appreciated

[2018-02-13 01:24] RichardLitt commented on #3506
Welcome, @Jigar3! I think the easiest solution would be to go through the Contributors list and add in the names of users there to the list under 'Awesome Contributors'. You can do this by making a Pull Request to this repository. We can help with editing anyone who needs to be moved into a different category.

[2018-02-13 02:57] Jigar3 commented on #3506
Thank you will do the same

[2018-02-13 04:26] YatriP commented on #3600
I am also facing the same problems

[2018-02-13 04:36] stsewd commented on #3600
@Tikam02 as @Jigar3 mention, probably is a problem with your virtualenv, try using pip as `python -m pip` or `python3 -m pip` (in your case looks like your virtualenv is python3, you can try running `python3 manage.py migrate`).

[2018-02-13 06:58] holtgrewe commented on #1096
Thanks!

[2018-02-13 06:58] #1096 closed

[2018-02-13 08:49] aaksarin commented on #3586
@Ayukha, yeah, fill free to fix it.

[2018-02-13 08:58] fiennyangeln commented on #3586
@aaksarin Hi, a newcomer here. I have downloaded the fontawesome file and put the woff2 file. Please check if my way of doing things are correct. Thanks a lot

[2018-02-13 09:48] paugier opened #3603 "`CondaValueError: pip returned an error` while creating the conda environment"
## Details

* Project URL: fluidsim
* Build URL (if applicable): https://readthedocs.org/projects/fluidsim/builds/6740246/
* Read the Docs username (if applicable): paugier

## Expected Result

Building the doc with conda (as described in the files `.readthedocs.yml` and `doc/environment.yml`).

## Actual Result

The build fails at the first command (creating the conda environment) with the **very

[2018-02-13 09:53] Tikam02 commented on #3600
@Jigar3 after running in virtualenv 2.7 and installing celery in 2.7 still there is error.
ImportError: No module named celery

[2018-02-13 09:55] Jigar3 commented on #3600
Upload screenshot

[2018-02-13 10:28] Tikam02 commented on #3600
virtualenv - python2.7
all modules installed manually
error after python2 manage.py migrate
![screenshot from 2018-02-13 15-56-15](https://user-images.githubusercontent.com/10548085/36145203-a8d4b074-10d6-11e8-8313-466054118832.png)

[2018-02-13 10:29] aaksarin commented on #3586
@fiennyangeln, Hi. I don't know if this is correct, i'm just posted issue and supposed fix. @RichardLitt, can you look please?

[2018-02-13 10:54] Tikam02 commented on #3603
Try running as default environment 2.7 or 3.4, without anaconda

[2018-02-13 11:33] Tikam02 commented on #3600
django.contrib.gis.geos.error.GEOSException: Could not parse version info string "3.6.2-CAPI-1.10.2 4d2925d6"

[2018-02-13 11:42] paugier commented on #3603
Thank you for the advice, but I don't see how the documentation could be built without conda. The dependencies:
[code]

FFTW on the readthedocs server without conda?

For scientific code, it is a very nice feature of readthedocs to be able to work with conda. I don't see how I could use readthedocs without conda (or a similar distribution) for such type of codes.

[2018-02-13 12:44] alen12345 commented on #2988
@humitos sorry for the very late reply! The project is back to public, and everything is passing smoothly now!!!

Thanks again for your interest"

[2018-02-13 12:44] #2988 closed

[2018-02-13 13:37] fiennyangeln commented on #3454
Hi @RichardLitt I would like to take this. However, I tried to grep -rnH "img src=" and all results seem to have had https / uses {{ }} tag / uses {% static '...' %} tag provided by Django.

[2018-02-13 15:35] 142ayushkumar commented on #3570
@stsewd, I am facing some problem in webhook integration on my local instance the same way i followed on my live account and it worked. But on the local server
![image](https://user-images.githubusercontent.com/23264605/36158003-39beba6a-1101-11e8-8b4e-76cbe71e02a5.png)

And one more thing is that how to run my local instance with python3
I am getting some error `python3 manage.py runserver`
![ima

[2018-02-13 15:45] stsewd commented on #3570
@142ayushkumar did you have any problem when building your project? You can check the builds section `/projects/django-kon/builds`. And about your other problem I thinks it's because you only setup your project for python2, please follow the installation steps with a python3 virtualenv.

[2018-02-13 15:51] 142ayushkumar commented on #3570
![image](https://user-images.githubusercontent.com/23264605/36158961-a47ba500-1103-11e8-8364-5f3de99ac97b.png)
Build is sucessful.

[2018-02-13 15:57] stsewd commented on #3570
@142ayushkumar That isn't a successfully build, it's just triggered. I think you need to setup your build environment (see https://docs.readthedocs.io/en/latest/development/buildenvironments.html), by the way, that guide needs improvement, so probably you may want to read https://github.com/rtfd/readthedocs.org/pull/2692/files too.

[2018-02-13 16:47] stsewd commented on #3603
I tested on my local instance, seems like a problem with your repo visibility, I tried `git clone https://bitbucket.org/fluiddyn/fluidsim` on my terminal and also fails.

[2018-02-13 16:47] shreyateeza commented on #3186
@ericholscher Please explain me how this could be implemented. I am new here and would like to contribute to it.

[2018-02-13 16:50] shreyateeza commented on #2879
@smcoll I too have the same query as @stsewd . Please explain. I am new here and would like to work on this issue.

[2018-02-13 16:55] shreyateeza commented on #3554
Hello! I want to work on this issue. Please help me get started.

[2018-02-13 17:14] Tikam02 commented on #3426
while installing it i faced problem installing modules, like you have to manually install some of the modules with version wise.

[2018-02-13 17:16] stsewd commented on #3454
@fiennyangeln as @iambibhas says looks like this template isn't located in this repo. @humitos any hint where it is?

[2018-02-13 17:48] Tikam02 commented on #2691
@agjohnson clean-up the css/theme.css. check it once so that i can PR it.
![screenshot from 2018-02-13 23-17-21](https://user-images.githubusercontent.com/10548085/36164984-17376920-1114-11e8-9b9e-99d08e265e8c.png)

[2018-02-13 17:51] Tikam02 commented on #3186
we have to do complete removal of 'gold' app?? @ericholscher

[2018-02-13 17:57] davidfischer commented on #2691
To be 100% honest, I think this issue can be closed. The donate app has been moved out of this repository.

[2018-02-13 17:59] Tikam02 commented on #2691
@ericholscher  actually i saw the whole code for js/css/html , sorry to say that but it's not formatted properly can i clean-up the codes.for better understanding.

[2018-02-13 18:03] stsewd commented on #2691
@Tikam02 you can check this PR for reference #2699 (was closed due inactivity)

[2018-02-13 18:25] RichardLitt commented on #3586
@fiennyangeln Looks like a good start! Comments will happen on that PR; when it is merged, this will be fixed. :)

[2018-02-13 18:57] paugier commented on #3603
I think the repository has no problem. It is a Mercurial repository and Git can not handle Mercurial repositories (while it is possible to clone a Git repository with Mercurial).

Anyway, can you please try with
[code]

[2018-02-13 19:54] Blendify opened #3605 "Add support for doxygen generated documentation?"
This is just an idea but what do we think about supporting doxygen http://www.doxygen.org/ generated HTML. One issue I can see off the top of my head is that these types of projects can have large build times / size requirements (a couple Gb for a project for e.g.) But maybe this wont be an issue by the time we actually support this.

[2018-02-13 20:06] stsewd commented on #3603
@paugier, sorry, my bad. I was able to pass the first step on my local instance, but increasing the memory and time limits. So I think that's the problem here (memory limit exceeded).

[2018-02-13 20:57] paugier commented on #3603
Thank you for the hint. Do you know what are the memory and time limits for the "production" instance?

[2018-02-13 21:09] stsewd commented on #3603
According to https://docs.readthedocs.io/en/latest/builds.html#build-process 1GB and 15 minutes.

[2018-02-13 22:08] Blendify opened #3606 "How does RTD know all project versions even for older releases"
I am trying to understand how the version selector gets all the version numbers even for older versions of the docs. In some example projects, I looked at few were defined in the HTML I assume the rest ad injected by a javascript? Can someone help clear this up for me? Thank you.

[2018-02-13 22:20] stsewd commented on #3606
This is done with a call to the rtd API (`/footer_html` endpoint)

https://github.com/rtfd/readthedocs.org/blob/0c547f47fb9dffbeb17e4e9ccf205a10caf31189/readthedocs/restapi/urls.py#L43

Here is the js call

https://github.com/rtfd/readthedocs.org/blob/0c547f47fb9dffbeb17e4e9ccf205a10caf31189/readthedocs/core/static-src/core/js/doc-embed/footer.js#L40-L58

[2018-02-13 23:13] Blendify commented on #3606
Thanks.

[2018-02-13 23:13] #3606 closed

[2018-02-14 00:11] rawtaz commented on #1637
@ericholscher This issue is still a problem on the website, the "Edit on GitHub" still doesn't work for the `stable` version.

I see there has been a bunch of related issues (of which I proposed a very very simple fix for the problem in #1820) and PRs. But the issue persists.

What about the approach I suggested? It seems to be a tough issue to tackle with the approaches tried so far, so perhaps j

[2018-02-14 01:24] fiennyangeln commented on #3186
Hi, I want to take this issue and I was thinking of moving the gold app to the `profiles` app. Is it correct?

[2018-02-14 03:14] 142ayushkumar commented on #3570
@stsewd, Can you help me with the (configuration part)[https://docs.readthedocs.io/en/latest/development/buildenvironments.html#configuration]. How to change these configurations?

[2018-02-14 03:37] stsewd commented on #3570
You need to create a file `readthedocs/settings/local_settings.py` and put there your settings.

This is my local settings https://gist.github.com/stsewd/1fd3178435397c72c563dc83480dc663, you need to set `DOCKER_IMAGE` to yours.

[2018-02-14 06:08] #3506 closed

[2018-02-14 06:40] shaddygarg commented on #872
Hey, I would like to contribute to this project. Can I take up this issue if no one is currently working on it?

[2018-02-14 07:16] shreyateeza commented on #2879
@humitos Please throw some light on this issue.

[2018-02-14 07:22] Jigar3 commented on #2646
@agjohnson  I want to work on this issue.
Can you give me more details regarding this

[2018-02-14 07:24] safwanrahman commented on #872
@shaddygarg It has been already worked on by @Alig1493

[2018-02-14 09:56] ericholscher commented on #3605
I think our goal is just to support Sphinx docs well for the forseeable future. Adding other backends adds a lot of complexity, which we've done before, and it's almost always a net loss in terms of value vs. complexity.

[2018-02-14 09:56] ericholscher commented on #3605
Pretty sure doxygen has sphinx integration though.

[2018-02-14 09:56] ericholscher commented on #3605
https://breathe.readthedocs.io/en/latest/

[2018-02-14 14:20] mohitkyadav opened #3609 "Add venv to the .gitignore file"
## Expected Result

Python virtual environment files should be ignored.

## Actual Result

Currently venv folder is not ignored by git.

I would like to send a PR, I'm also looking forward to apply for GSoC 2018 in readthedocs org please guide me.

[2018-02-14 15:12] humitos opened #3610 "Dropdown to select Advanced Settings"
There are bunch of input fields under `Admin -> Advanced Settings` that could be converted into a dropbox:

* Default branch
* Default version

(this will limit the user to just those _active_/possible versions instead of writting things that are invalid or does not exist)

Also, this would involve more coding (since we need to populate the dropdown with data that we don't have in the database at

[2018-02-14 15:19] humitos opened #3611 "Validate user input under Advanced Settings"
Validate default branch/version and files conf.py/requeriments.txt on form submit. Raise a `ValidationError` if branch/version/file is invalid so the user can immediately fix the issue instead of triggering a random build.

Adding this validation would probably be enough to implement while we keep discussing #3610.

[2018-02-14 15:37] danwos commented on #3460
Can confirm this bug.
Currently no working builds with Python3.5.
Detailed error:
[code]
Project + example build: https://readthedocs.org/projects/sphinxcontrib-needs/builds/6747648/

sphinxcontrib-websupport gets collected during installation phase:
[code]
Switching to Python 2.7 solves the problem.

[2018-02-14 15:52] humitos commented on #3460
Hi! This seems to be a problem related to the virtual environment itself. Did you try wiping it? Could you try that and let us know?

[2018-02-14 15:54] 142ayushkumar commented on #3570
@stsewd where to save the Dockerfile(as mentioned here) in the readthedocs.org folder or in settings?

[2018-02-14 15:55] danwos commented on #3460
Yes, that was the first thing I tried.
Unluckily it hasn't worked.

[2018-02-14 16:16] 142ayushkumar commented on #3570
@stsewd @humitos
Also after saving the local settings as you suggested I am getting this error
![image](https://user-images.githubusercontent.com/23264605/36214867-88b3c852-11d0-11e8-9cfd-d1d901fa7e9e.png)

[2018-02-14 17:21] apoorvkhare07 commented on #3611
Hi, a newcomer here. Would like to contribute to readthedocs community.
Would this be a good issue to start with ?

[2018-02-14 20:36] paugier commented on #3603
Thanks a lot @stsewd for your time and your useful hint. I manage to decrease the memory usage during the build and the new version of the documentation is now available!

Of course, it could be nice to get an explicit warning when the memory or time limits are exceeded.

[2018-02-14 20:37] RichardLitt commented on #3506
Well done, @Jigar3! Jump in with any other issues in the future if you'd like. Great work. :)

[2018-02-14 20:42] humitos commented on #3454
Yeah! My fault. This page is under a private repository: https://github.com/readthedocs/readthedocs-ext/tree/master/readthedocsext

https://github.com/rtfd/readthedocs.org/blob/021c5467c94c2df85951e85eed73d52a015f8894/readthedocs/urls.py#L87-L91

So, I think this is not possible to solve by the community. I will take a look by myself. Sorry about this confusion.

[2018-02-14 20:43] Jigar3 commented on #3506
Thank you.
Can you redirect me to some challenging issues which I could solve
@RichardLitt. I also want to apply for gsoc this year so getting started with some demanding issues will be a great step forward.
Any help is appreciated

[2018-02-14 20:45] RichardLitt commented on #3506
@Jigar3 I would keep looking for "Good First Issue" issues. Some of them will be harder. As you scale up, just start picking issues you want that you think you may be able to do. Never worry about reaching out to us! Ask for help. We're here. :)

[2018-02-14 20:46] RichardLitt commented on #3603
This would be good, I think. Any chance you'd like to work on a PR for this? If not, let's flag open a new ticket for this.

[2018-02-14 20:48] RichardLitt commented on #3611
@apoorvkhare07 If you think you can take it on, do so! However, there are other issues labelled "Good First Issue" which might be easier. We'd be happy to help you with this one. My suggestion would be to try and get a PR up and going, and then open it and ask for help and feedback. If you have questions, feel free to ask here, too.

[2018-02-14 20:52] RichardLitt commented on #3609
I think this would be a pretty good PR! Since it's simple, I would go ahead and open it up. :)

[2018-02-14 20:52] Jigar3 commented on #3611
I want to take up this issue.
Can you explain this in more detail so as to I can have a more clear idea
@RichardLitt

[2018-02-14 20:53] RichardLitt commented on #2646
@stsewd Would you be able to help with this?

[2018-02-14 20:54] RichardLitt commented on #2879
@ericholscher or @agjohnson may know more. :)

[2018-02-14 20:55] RichardLitt commented on #3186
It sounds like it should be in it's own app, perhaps called `gold`. But I'm not sure.

[2018-02-14 20:57] RichardLitt commented on #3554
@shreyateeza We need a bit more information to be able to help. What can we help you with? Which of the steps are you trying to do, and where are you stuck? :)

[2018-02-14 21:00] humitos commented on #3186
@agjohnson what's the idea here? to move the `gold` app to the `readthedocs-ext` repo since it's not tied to RTD as software project?

[2018-02-14 21:01] RichardLitt commented on #3611
@humitos Can you put a bit more legwork in describing the issue and what should a good PR would look like? :)

[2018-02-14 21:03] RichardLitt commented on #3380
Thanks @marcelstoer. @chfw I am going to close this as out of scope. Take a stab in the mkdocs repo if you want this to be changed! Feel free to continue the conversation here if I you think I prematurely judged this.

[2018-02-14 21:03] #3380 closed

[2018-02-14 21:04] #1998 closed

[2018-02-14 21:13] humitos commented on #3454
I'm closing this one to be opened in the proper repository. Thanks you all!

[2018-02-14 21:13] #3454 closed

[2018-02-14 21:51] #3363 closed

[2018-02-14 23:25] RichardLitt commented on #3363
@JordonPhillips Did you find a solution? :)

[2018-02-15 00:05] jadolfbr opened #3612 "MemoryError with larger dependency files"
## Details

* Project URL: https://github.com/SchiefLab/Jade
* Build URL (if applicable): https://readthedocs.org/projects/bio-jade/builds/6749799/
* Read the Docs username (if applicable): jadolfbr

## Expected Result

Clean build of requirements.txt

## Actual Result

Hit a MemoryError while downloading SciPy in the virtualenv. Had to remove from requirements.txt temporarily
https://stackoverflo

[2018-02-15 02:01] stsewd commented on #3612
The memory limit is 1Gb

https://docs.readthedocs.io/en/latest/builds.html#build-process

(You can request more memory as mention on the docs)

Probably we could add an option for the pip options (--no-cache-dir).

[2018-02-15 02:11] stsewd opened #3613 "Better message for memory limit errors"
## Details

In some cases the build fails due to memory limits, but there isn't a clear message of what happened (I think I see some few projects with the correct message, or maybe none?).

See #3031, #3603, #3612, #3580

## Expected Result

A message about memory limit is shown.

## Actual Result

A plain message "Build failed" is shown.

I'm not sure if we can catch this types of errors on the e

[2018-02-15 02:13] stsewd commented on #3603
@RichardLitt I create a new issue for this (#3613).
@paugier glad I was helpful here :)

[2018-02-15 02:30] stsewd commented on #3611
@humitos I think being very strict with this validation could be a problem.

- What about if someone wants to set all this options before building?
- Or want to move the requirements file on the next commit/version.

(I face this cases when testing on my local instance)

What about just showing a _warning_ (probably more complicated that the original issue)?

[2018-02-15 02:41] #3251 closed

[2018-02-15 02:42] stsewd commented on #3611
@Jigar3 This issue is about adding more validations when setting the options  of requirements file, conf.py, and default version (can be a branch or a tag). This is done under Admin/Advanced Settings ot the project. Currently you can put any string on this fields, so if you made a typo o put the wrong file, you will need to build your project for getting feedback of what was wrong.

So, what @humi

[2018-02-15 02:46] stsewd commented on #3610
Referencing to my comment on the other issue https://github.com/rtfd/readthedocs.org/issues/3611#issuecomment-365809242. What about listing the valid options (like recommendations), but the user also can enter a _custom option_, with this the validation isn't necessary and probably a more simple solution.

[2018-02-15 03:12] humitos commented on #3553
This was cloed automatically but @agjohnson said my implementation in the PR is not a replacement of this issue. So, I'm reopening it.

[2018-02-15 03:25] stsewd commented on #3382
I think we can develop this as two features.

## Marking a doc as _inactive/abandoned_

With this a project that meets the policy requirements for abandoned projects gets marked as inactive/abandoned, this is visible for everyone.

And probably we may want to be able to mark a project as _protected_ (on the django admin panel only), so in a special case this project never gets marked as inactive/a

[2018-02-15 04:53] ericholscher commented on #2879
The `comments` app was a dead end, and should probably be deleted. It was our attempt at doing comments on the site, but we never got it working well enough to ship it at scale.

[2018-02-15 05:32] shreyateeza commented on #2879
@ericholscher, you mean this needs to be deleted. Right?

[2018-02-15 06:00] stsewd commented on #1078
If I'm right this is part of the comments app, and as explained here https://github.com/rtfd/readthedocs.org/issues/2879#issuecomment-365825197, I thinks this issue has no relevance now.

[2018-02-15 06:08] stsewd commented on #2621
@atodorov sorry for the late replay, I was able to reproduce this issue, but haven't found a way of delete the translation, this is because a circular dependency (Project A is added as translation of project B, and project B is added as translation of project A). The current solution (_almost solution_) is to delete one project, or someone with access to the server database to remove the relations

[2018-02-15 06:49] techtonik commented on #1637
@rawtaz the first thing that should be done is to ensure prod runs git 2+ https://github.com/rtfd/readthedocs.org/pull/3615, then the rabbit hole will be less deep.

[2018-02-15 08:12] atodorov commented on #2621
@stsewd thanks for the update. The translation I was trying to delete, the one that fails, is a project made by somebody else and configured as translation to my own project. Thus I don't have control over it and I can't get in touch with the original author to ask them to delete the relation. In this case I'm not going to pursue the matter further. Feel free to close this issue.

[2018-02-15 08:21] stsewd commented on #2621
@atodorov for the record, neither user can delete the translation. Current solution is deleting one of the projects and making a new one (same name can be used).

I think we can keep it open to fix the circular dependency. Sorry for the problem.

[2018-02-15 08:50] stsewd commented on #2646
@RichardLitt @Jigar3 I'm not familiar with the https://github.com/rtfd/readthedocs-build project, but what I understand this would be a step for moving the build process to the other library. I'm going to take a look to the other project on the next days, so hope to be more helpful then.

[2018-02-15 09:28] rawtaz commented on #1637
@ericholscher Is there something blocking #3615 that seems to be the fix for the long-running Edit button problems?

[2018-02-15 09:30] rawtaz commented on #1637
@techtonik Thanks for working on this. I'm still unsure why we don't just make RTD pull in the latest release tag (when available, of course) instead of a stable branch when the latter is missing. Seems like a very simple fix to the problem. Could have been solved a long time ago and without having to upgrade prod etc.

[2018-02-15 10:21] svenevs commented on #3580
@stsewd does anything show up in the online logs after `cat conf.py`?  I've wiped / rebuilt a few times, the [latest build `6751769`](https://readthedocs.org/projects/fake-nanogui/builds/6751769/) is still silently failing after `cat conf.py`.  I don't know if this is helpful, but I needed the `master` branch back so the `latest` now points to a [`fix_the_docs_online` branch](https://github.com/sv

[2018-02-15 10:35] matteobachetti opened #3617 "TypeError: get_documenter() takes exactly 3 arguments (2 given)"
## Details

* Project URL: github.com/stingraysoftware/hendrics
* Build URL (if applicable): http://readthedocs.org/projects/hendrics/builds/6751812/
* Read the Docs username (if applicable): mbachett

## Actual Result

Sphinx throws the following error:
[code]
The project builds correctly locally, with Sphinx 1.6.2 and 1.7.0, with
[code]
so it may be that the problem lies with the readthedocs-rel

[2018-02-15 11:06] sylvainbeo commented on #2929
Does not seems to be resolved for me neither. I've tried @barseghyanartur tip (changing Programming Language from python to Only words), bu with no success. I alos got a public repository.

Error is :

When i try to build manually, it works about 1 time out of 3 or 4.

[2018-02-15 12:04] barseghyanartur commented on #2929
@sylvainbeo:

How I finally solved it (what works now) - I have a mirror repository on BitBucket (without git sub-module). The docs are built from there with no problems.

For BitBucket I use Mercurial. Thus, I commit twice (to both GitHub and BitBucket). I'm quite please with the way it works now.

[2018-02-15 12:27] sylvainbeo commented on #2929
@barseghyanartur Thanks for the feedback, we will try this.

[2018-02-15 12:28] 142ayushkumar commented on #3570
@stsewd I am still getting error
Error log when i tried to build image using dockerfile
![image](https://user-images.githubusercontent.com/23264605/36256667-dd5cad8e-1279-11e8-9101-8775acfce710.png)

[2018-02-15 14:26] RichardLitt commented on #2879
@shreyateeza Sounds like it to me.

[2018-02-15 14:26] RichardLitt commented on #1078
I agree.

[2018-02-15 14:26] #1078 closed

[2018-02-15 14:27] #3603 closed

[2018-02-15 14:29] mukul09 commented on #2847
I want to work on this issue, as far as I got your point is that the contribute documentation should be in other languages also. right?

[2018-02-15 15:11] humitos commented on #2879
Yeah, please. If you have some time to work on this, remove the whole app. People is using `sphinx-disqus` for comments, which is not great, but this doesn't work as Eric said. We can recover this code in the future in case we want to continue this work.

In the meanwhile, if we remove it, the code won't interfers in our lives :)

[2018-02-15 15:14] shreyateeza commented on #2879
Will do it @humitos. Please assign this issue to me. :)

[2018-02-15 15:37] humitos commented on #2879
I can't assign the issue, sorry.

Yes, remove the folder and make the necessary changes to keep the code working :)

[2018-02-15 15:41] humitos commented on #3570
@stsewd the API v1 is _deprecated_ but people still use it. So, we don't want to add features or support it if this involves too much work, but making this small change to keep the compatibility shouldn't be so complicated and I think it worth the effort.

Anyway, the first step is to write a test that fails with Python3 so at least we are covered and this error doesn't pass silently.

[2018-02-15 15:52] humitos commented on #3611
@stsewd I think you are facing those issues because you are under development, but the most common use of those fields is to write something that's already in the repository and well known by RTD.

I personally prefer to solve the general case, and handle the couple of edge cases as exceptions of this rule. Besides, RTD should detect/find those files automatically. So, in case it doesn't find them

[2018-02-15 16:34] Tikam02 commented on #1084
I think it's already done and someone has commented it in models.py
![screenshot from 2018-02-15 22-02-45](https://user-images.githubusercontent.com/10548085/36268271-0d65bf8a-129c-11e8-9294-a1e50926066c.png)

[2018-02-15 16:41] stsewd commented on #2847
@mukul09 this issue is about improving the steps for contributing to translations (but also looks like about contributing to documentation and design).

Here are a links about the current docs:
- https://docs.readthedocs.io/en/latest/i18n.html?highlight=translations#administrative-tasks
- https://docs.readthedocs.io/en/latest/contribute.html#helping-on-translations (here there is just a link!)

No

[2018-02-15 16:48] stsewd commented on #3570
@142ayushkumar you should use `docker build -t readthedocs/build:2.0-modified .`

Also I believe we are populating this issue with irrelevant content, probably is better to make this questions on https://gitter.im/rtfd/readthedocs.org or irc (#readthedocs), I would be glad to help you there if you don't mind.

[2018-02-15 16:58] stsewd commented on #3580
@svenevs now I believe this could be a problem with memory limits, see https://github.com/rtfd/readthedocs.org/issues/3613

[2018-02-15 17:04] matt-hammond-bbc opened #3619 "URL path of docs contains unexpected suffix"
## Details

* Project URL: https://readthedocs.org/projects/pydvbcss/
* Build URL (if applicable):
* Read the Docs username (if applicable): matt_bbcrd

## Expected Result

* A new release was prepared in a branch called "0.5.2" and was released with tag "0.5.2"
* Expected the URL of the docs to be http://pydvbcss.readthedocs.io/en/0.5.2/

## Actual Result

The actual URL of the docs turned out to

[2018-02-15 17:07] stsewd commented on #1084
This is part of the comments app, as mention here https://github.com/rtfd/readthedocs.org/issues/2879#issuecomment-365825197, this issue has no relevance and must be closed.

Note: [Here](https://github.com/rtfd/readthedocs.org/milestone/2) are some more related issues to the comment app, probably need them to be closed too.

[2018-02-15 17:13] stsewd commented on #3619
This is because should no be two versions with the same slug (branch and tag are considered both versions, same model). This suffix is done automatically.

[2018-02-15 17:28] matt-hammond-bbc commented on #3619
Thanks for the explanation. Is this a recent behaviour change? On previous releases (that have followed the same process) this has not occurred.

In the documentation [here](https://docs.readthedocs.io/en/latest/versions.html#tags-and-branches) it says:

My understanding of this is that it means that because I have tags, the branches should be ignored.

[2018-02-15 17:32] matt-hammond-bbc commented on #3619
Update: I've fixed the problem for the tags/branches already committed by manually changing which builds are active in the Settings->Versions admin interface. But I'm still wondering if this will happen again.

[2018-02-15 17:44] stsewd commented on #3619
@matt-hammond-bbc I don't remember very well the process for creating branches/tags, but yeah, I think this should solve the problem, and it will happened again only if you have two versions with the same name.

And about the docs you mention, branches are ignored when selecting the stable version, but still are created on the database.

[2018-02-15 20:31] techtonik commented on #1637
@rawtaz the problem is in annotated tags only. If release tag is annotated, RTD gets the wrong hash.

[2018-02-15 20:46] rawtaz commented on #1637
Hm, I'm not sure we're talking about the same thing :)

What I'm talking about is the fact that when you are on the `stable` version of a project's docs on RTD, and that project does not have a corresponding `stable` branch (that is named `stable`, that is), the Edit on GitHub button fails to identify a proper URL on GitHub to link the button to. It works fine for the `master` branch (the `latest`

[2018-02-15 22:06] svenevs commented on #3580
Possibly, though I'd be surprised.  Local testing averages a maximum of 150 megabytes of memory usage by `sphinx-build`.  It is known that the underlying XML parser in breathe produces memory leaks, but I don't think machine differences on the servers would lead to 150 megabytes -> over 1GB.

I'll start back-tracking `breathe` versions and see if there are different results.  Do you happen to know

[2018-02-15 22:32] #3449 closed

[2018-02-15 23:00] svenevs commented on #3580
Oh snap.  I think I've found the problem.  I capture the output of `doxygen` and write it to the console, I silenced all printing to the console and logged the output to `/dev/null` and it seems to get past it.  It seems more likely that the subprocess buffers are overflowing, even though I was actually very very careful about how that was done (writing to a tmpfile).

It'll take a little more eff

[2018-02-16 04:38] stsewd commented on #3580
@svenevs thanks for investigating the root of this problem, the problem was because of a memory limit caused by the flooding output of doxygen, right? If that is the case I can add this issue to #3613 for future consideration.

[2018-02-16 06:53] #3609 closed

[2018-02-16 14:06] humitos commented on #1637
This shouldn't be a problem. None of the repositories need to have a `stable` branch/tag; this is something created by RTD itself.

Take a look at this example that works as it's expected: http://requests-oauthlib.readthedocs.io/en/stable/. If you click in Edit on Github link, it just works.

I don't know why you are having that exact problem yet. We need replication for this in a local installati

[2018-02-16 16:29] stsewd opened #3622 "Add rstcheck for linting rst files on travis"
[rstchek](https://github.com/myint/rstcheck) looks like a good tool for helping us to catch some common mistakes on our docs.

More background about this issue here https://github.com/rtfd/readthedocs.org/pull/3498#discussion_r168798352

[2018-02-16 22:45] agjohnson commented on #3215
For now, the most basic for of this change is to look for a `.gitmodules` and only conditionally run the submodule operations if we have submodules in the repository.

This would also address one of the issues in #3520, where i think we're going to have a lot of noisy commands that we can prune from the build output list.

[2018-02-16 23:30] agjohnson opened #3627 "Conditionally do git submodule operations"
We shouldn't be doing submodule operations on repositories that don't have submodules. We can check for this by determining if a repository has a `.gitmodules` file at the top level, and if not, we can skip these commands.

Raised in #3520 as we're storing all these as extraneous commands now.

[2018-02-16 23:41] #3397 closed

[2018-02-17 00:49] mithro opened #3628 "SSL certificate used on bam.nr-data.net will be distrusted soon"
## Details

* Project URL: https://readthedocs.org

The admin interface for ReadTheDocs includes resources from the domain https://bam.nr-data.net

The domain https://bam.nr-data.net uses a SSL certificate which will be soon distrusted in most web browsers such as Chrome from M70 onwards. If you load the admin page currently and open the Chrome console you will get the following warning;
[code]

F

[2018-02-17 00:58] mithro opened #3629 "Rich text editor on settings page is broken on Chrome & Firefox"
## Details

* Project URL: https://readthedocs.org/dashboard/vtr-verilog-to-routing/edit/
* Read the Docs username (if applicable): mithro

The editor widget for a project description in the settings page seems to be broken on Chrome. I'm unable to get any rich formatting to work.

## Expected Result

Able to use rich text editor on the setting page to add formatting to the description.

## Actual

[2018-02-17 01:50] stsewd commented on #3629
I can see the same on my Firefox (58.0.1 64 bits), OS: Fedora 27

[2018-02-17 12:11] reox commented on #2818
I have a similar problem here. Someone already created the repository on RTD, thus I can not create a webhook nor trigger the build manually.
How can I contact the owner of the project? If I go to the profile page, there is no information on how to contact the person...

[2018-02-17 12:18] apoorvkhare07 commented on #3622
@stsewd Hi, I would like to work on this issue.
Will open a PR soon.
Are their any other details I need to know before I begin ?

[2018-02-17 12:20] stsewd commented on #3622
@apoorvkhare07 there is a PR in progress already #3624

[2018-02-17 12:27] stsewd commented on #2818
@reox I have made a suggestion for future implementation of this feature here https://github.com/rtfd/readthedocs.org/issues/3382#issuecomment-365815824, would be awesome to have some feedback from your, since you are the one who need this.

[2018-02-17 12:53] reox commented on #2818
Something like this seems fine - but there is the potential to abuse this feature. Can you couple this with the existence of a webhook? For example in my case there is no chance that the current author has the webhook enabled, as it requires logging in to github and edit the preferences of the repository. If I'm able to proof that I can set up the webhook, I might also be the owner of the reposito

[2018-02-17 13:33] apoorvkhare07 commented on #3538
Is this still up for taking ?

[2018-02-17 15:51] stsewd commented on #3538
@apoorvkhare07 there is  a PR already #3572

You can check this by seeing the references that GitHub puts after the issue.

[2018-02-17 17:34] stsewd commented on #3617
Hi, your last builds are successful, were you able to solve the problem?

[2018-02-17 18:01] Jigar3 commented on #3629
I can see the same on Chromium Version 64.0.3282.119 (Official Build) Built on Ubuntu , running on Ubuntu 17.10 (64-bit)

[2018-02-17 18:13] jeancochrane opened #3630 "Intermittent 404s and missing stylesheets when using custom domain"
## Details

* Project URL:
     - Readthedocs link: http://dedupe.readthedocs.io
     - Custom domain: https://dedupe.io/developers/library
* Docs repo on GitHub: https://github.com/dedupeio/dedupe/tree/master/docs

## Expected Result

Docs should load at the custom domain (https://dedupe.io/developers/library) and use custom styles:

![dedupe-theme](https://user-images.githubusercontent.com/14170

[2018-02-17 18:24] jeancochrane commented on #3630
A little bit more information:

- When the page returns a 404, there are a couple console errors from CDNs:

![typekit](https://user-images.githubusercontent.com/14170650/36344264-36f3d12e-13dd-11e8-9282-505b65ce5340.png)

- Contrary to what I initially reported, when the stylesheets (and JS, it also seems like) fail to load, the correponding files are **not** accessible -- they return 404. This m

[2018-02-17 19:58] matteobachetti commented on #3617
Apparently something happened that solved the situation without my
intervention :D. Thanks!

On Sat, Feb 17, 2018, 18:34 Santos Gallegos <notifications@github.com>
wrote:

[2018-02-18 04:04] stsewd commented on #2242
This was solved on #3498. @humitos did you mind to close this?

[2018-02-18 04:09] stsewd commented on #2472
I think this was a doc problem, and the docs were updated on https://github.com/rtfd/readthedocs.org/pull/3498/commits/d907524ddec69c2530324d9c6cc7011830a209d8 (merged)

[2018-02-18 04:10] stsewd commented on #1615
Docs updated on https://github.com/rtfd/readthedocs.org/pull/3498/commits/d907524ddec69c2530324d9c6cc7011830a209d8 (merged).

[2018-02-18 04:12] stsewd commented on #3321
This was also a documentation problem, solved on https://github.com/rtfd/readthedocs.org/pull/3498/commits/d907524ddec69c2530324d9c6cc7011830a209d8

[2018-02-18 04:22] fenilgandhi commented on #3586
@RichardLitt  @fiennyangeln Is this issue still open ? Or can i fix it ?

[2018-02-18 04:25] stsewd commented on #3586
@fenilgandhi there is a PR #3602 already.

[2018-02-18 04:33] fenilgandhi commented on #3586
Ok Thanks

[2018-02-18 06:34] apoorvkhare07 commented on #3426
Is this issue still up for taking ?
Would like to work on it.

[2018-02-18 08:59] fiennyangeln commented on #3186
@RichardLitt does it mean it needs a new repo?

[2018-02-18 10:08] fenilgandhi commented on #3509
So, from what i understand, we can have different static badges in the media static folder and then they can be url pruned. This way we get different styles while not being dependent on https://shields.io

[2018-02-18 14:05] sriks123 commented on #3570
@stsewd I would like to work on this issue..

[2018-02-18 14:25] aasis21 commented on #3629
Do these editor formatting buttons need to produce rst code or its preview?

[2018-02-18 14:59] stsewd commented on #3570
@sriks123  I think the steps given by @hmitos are very clear, just follow them. If anything isn't clear, feel free to ask.

[2018-02-18 15:12] stsewd commented on #3426
@apoorvkhare07 sure, a PR is welcome.

[2018-02-18 16:18] patdaburu opened #3634 "Python 3.6: autodoc page builds locally, but is empty on readthedocs.org"
## Details

* Project URL: https://github.com/patdaburu/djio.git
* Build URL (if applicable):
* Read the Docs username (if applicable): patdaburu

## Expected Result

I am attempting to build documentation for my project.  When I build locally, autodoc produces API documentation, so I would expect that the same result on readthedocs.org, or that inspecting the build output for the project would re

[2018-02-18 16:40] stsewd commented on #3634
Please provide the build url or the RTD project page.

[2018-02-18 18:20] patdaburu commented on #3634
Thanks for your reply.  I apologize for not including that information with my original post.

The build URL is: https://readthedocs.org/projects/djio/builds/6766175/
The RTD project page that corresponds is: http://djio.readthedocs.io/en/conda/

Again, many thanks!

[2018-02-18 23:25] kchawla-pi commented on #3426
I have the first draft ready for review., pending addition of doc-links .
It covers the case for:
 `using the project admin's web interface: Admin -> Advanced Settings -> Requirements file` .
I will attend to the second use case once this is green lit.

I am having trouble using pre-commit. It is giving me the error:
[code]
Since I am pushing to my fork, I don't understand why I need ssh key authe

[2018-02-19 01:41] stsewd commented on #3275
I believe this is because `metapensiero` is not really a package, you need to add a `__init__.py` file on that folder to be considered as a module. And them edit your `setup.py` in this way:

- Remove this line https://github.com/metapensiero/metapensiero.signal/blob/ca75ba0c8859bead26b5e7ac566435df5adee156/setup.py#L47
- This https://github.com/metapensiero/metapensiero.signal/blob/ca75ba0c8859be

[2018-02-19 02:46] stsewd commented on #3634
@patdaburu did you try marking the "Install Project" option on advanced settings?

[2018-02-19 06:47] swzang commented on #2757
How to solved this problem?

[2018-02-19 11:04] patdaburu commented on #3634
Thank you for this suggestion.  I had not tried this, but have now tried it both ways with no apparent change.  My project does have a tricky dependency (GDAL) which was, I think, originally causing the builds to fail all together.  Since the build still apparently passes (https://readthedocs.org/projects/djio/builds/6768637/) I'm not entirely sure what to look for, but I will go back and make sur

[2018-02-19 13:54] azazel75 commented on #3275
Mmm.. I use native native namespace packages  ( packages without unuseful __init__.py files, See https://packaging.python.org/guides/packaging-namespace-packages/#native-namespace-packages) everywhere and they work very well, this is the only problem so far

[2018-02-19 17:33] shubham76 commented on #2271
Hello! I faced the similar issue when I tried doing it locally.
I tried building a sample template repository doc forking it into my account. [](https://github.com/readthedocs/template)
It fails to build even after trying 4-5 times.
It gives `OSError: [Errno 2] No such file or directory`
What should be done?

(I am a newbie here and trying to learn the project so that I could contribute. Thanks fo

[2018-02-19 17:42] shubham76 commented on #2281
Hello! I have installed the project locally according to [docs.readthedocs.io/en/latest/install.html#installing-read-the-docs](url).
I am still getting this as an issue whenever I use search from home page.
The exact error is something like this:

[code]
I am a newbie here trying to understand the code so that I can contribute. Thanks for the help!

[2018-02-19 17:48] humitos opened #3637 "Improve security contact webpage"
We need to improve our documentation about a user who found a security issue could contact us to report this vulnerability in a confidential way.

This page should be clear regarding how to report the issue, how submit a patch (wihtout making it public) and what to do receive feedback / discuss about the solution.

There is a page already but it's too poor: https://readthedocs.org/security/

[2018-02-19 18:16] stsewd commented on #3275
@azazel75 I checked the link, I didn't know about namespace packages :).

But reading, it gives you a real example https://github.com/pypa/sample-namespace-packages/tree/master/native

And I got your docs working (without the __init__.py file) with this:

[code]

[2018-02-19 18:16] humitos commented on #2271
@shubham76 can you provide more information regarding the steps you are following?

Besides, are you able to build completely one/another project without errors and see the docs?

[2018-02-19 18:30] stsewd commented on #2281
@shubham76 you need to setup elasticsearch to get the search working (this isn't mandatory to start contributing or for your builds)

You can check this PR with some improvements on the installation guide https://github.com/rtfd/readthedocs.org/pull/3631

[2018-02-19 18:36] stsewd commented on #3634
Now this error is shown on your build

[code]

[2018-02-19 19:28] RichardLitt commented on #3426
@kchawla-pi Thanks for updating us on your progress! That particular error couldn't be the fault of Read the Docs; it must be something involving your local environment. I would troubleshoot your git instance, and see which remotes you are accessing.

[2018-02-19 19:29] RichardLitt commented on #3186
Again, I'm not sure. Let's wait on one of the main maintainers to answer.

[2018-02-19 20:27] #2242 closed

[2018-02-19 20:28] humitos commented on #2242
@BruceEckel let us know if this is clearer now!

[2018-02-19 20:30] #2472 closed

[2018-02-19 20:30] humitos commented on #2472
Updated docs at http://docs.readthedocs.io/en/latest/builds.html

[2018-02-19 20:32] davidfischer opened #3639 "Improvements to Build Screen Especially for Firefox"
## Details

* Project URL: http://readthedocs.org/projects/requests-oauthlib/
* Build URL (if applicable):http://readthedocs.org/projects/requests-oauthlib/builds/6165196/
* Read the Docs username (if applicable):

## Expected Result

The page should look the same as it does in Chrome/Webkit.

## Actual Result

In Firefox, the build screen scrollbars are unstyled and awkward. While this is an impr

[2018-02-19 21:42] humitos commented on #2818
@reox can you open a new issue with your problem by filling the template? (project, username and which project you are requesting).

We can help you by contacting the owner and maybe the owner can add you as an owner also. But please, fill a new issue refering to this one.

Also, I'm closing this one since the original author didn't reply for a long time.

[2018-02-19 21:42] #2818 closed

[2018-02-19 23:20] patdaburu commented on #3634
This is supremely helpful!  I feel foolish asking this for fear that it's obvious, but I'm just not sure where I would go to see this output.  I am currently mocking the external modules (I had included geoalchemy2, but I think I now understand I needed to add geoalchemy2.types specifically, along with some others).  That said, I still see the same result, though the build just indicates that it p

[2018-02-19 23:29] stsewd commented on #3634
@patdaburu Don't worry about asking questions :). And yes, the build is shown as successful because no error happened, but on the sphinx step (6th command) you can see some warnings.

Currently you need to scroll a little to see the warnings, I'm working or a PR to see the raw log (#3585)

![screenshot-2018-2-19 djio read the docs](https://user-images.githubusercontent.com/4975310/36401030-99fd1f5

[2018-02-20 00:09] kchawla-pi commented on #3426
Thanks, I'll check them.
I have documented usage of pip requirements file via admin's web interface  and YAML config file.
I will create a dummy project with docs, make sure everything is working the way I wrote they do.
After that, should I include information on using a Conda `environmet.yml` file as well, if the user is using Conda and not venv?

[2018-02-20 00:40] jimfulton commented on #3287
Hi, any update on this?

[2018-02-20 03:10] shubham76 commented on #2281
@stsewd Okay! I don't think I am going to use search for now. I will leave this aside then!
Thanks for your help! :)

[2018-02-20 03:30] shubham76 commented on #2271
I tried running it on a different port. I go to my projects->click on import our own projects for demo
Now the expected result is 'build is successful'. But it doesn't happen. it says it's building and it's stuck! It shows the build is triggered.

No. I couldn't build a single project yet.

I tried changing the port as it was suggested in [ "Installation Guide"](http://docs.readthedocs.io/en/lates

[2018-02-20 16:37] dfranco opened #3642 "No documentation with several versions"
## Details

* Project URL: http://docs.bacula-web.org/en/latest/
* Build URL (if applicable):http://readthedocs.org/projects/bacula-web/builds/
* Read the Docs username (if applicable): davide

## Expected Result

* I'm trying to build several version of my current Git tag repo and expect to have documentation for each versions.

## Actual Result
* Latest version is built without issue, but previo

[2018-02-20 17:02] stsewd commented on #3642
Make sure your versions are activated and public on https://readthedocs.org/projects/bacula-web/versions/

[2018-02-20 17:27] humitos opened #3643 "Remove record dependency from BaseEnvironment"
Currently, the `BaseEnvironment` class check if `record` is defined and if so, record the command into the database, https://github.com/rtfd/readthedocs.org/pull/3520/files#r168777620

This is not a good approach since `BaseEnvironment` should know nothing about recording a command.

So, I think it's a good idea to have something like `pre_run_command` and `post_run_command` methods so classes tha

[2018-02-20 18:35] agjohnson opened #3644 "After build is triggered, state is shown as failed"
To reproduce, fire off a new build, make sure to catch the build list page while VCS operations are happening. Build will be in a failure state. This is a regression where we are setting the state of the build to failed without checking that the build has completed. This might be a byproduct of using multiple environments during the build process.

[2018-02-20 22:01] agjohnson commented on #3644
@davidfischer noted he also saw this in production, which means it might not even be related to the VCS changes

[2018-02-21 03:30] shubham76 commented on #2271
@humitos Do I need to have Github account connected before building the project?
In that case, I am not able to connect to my Github account in localhost.
I am getting this as error: `SocialApp matching query does not exist.`
What do you think is the problem?

[2018-02-21 03:45] stsewd commented on #2271
@shubham76 You don't need to setup the social account part for building a project :)

[2018-02-21 05:00] shubham76 commented on #2271
@stsewd
[code]
Also,
[code]
I am getting these errors while buildiing any sample demo project. I also tried changing the ports as it was suggested in installation guide.
Please help me through this.
Thanks :)

[2018-02-21 08:15] dfranco commented on #3642
I have both latest and v7.4.0 version enabled and public.

But problem still persist as v7.4.0 is empty
http://docs.bacula-web.org/en/v7.4.0/

[2018-02-21 14:18] stsewd commented on #2271
@shubham76 I think the first error is because some missing libs for pdf compilation, you can try uncheccking the pdf and epub generation on the advanced settings of the project and see if the build success.

The other problem is because elastic search is missing, but that's "normal", nothing that makes the build to fail.

[2018-02-21 15:43] shubham76 commented on #2271
@stsewd Yes. That was the problem. I unchecked PDF & EPUB options in advanced settings.
It is working now. Thank you :)

[2018-02-21 17:16] #3321 closed

[2018-02-21 17:29] patdaburu commented on #3634
Thank you again!  It took a while for me to work out the source of the warnings which seems to have been mocking the typing library.  Things seem to be working well now: http://djio.readthedocs.io/en/latest/api.html#module-djio.geometry

Thanks again for your help!!

[2018-02-21 17:29] #3634 closed

[2018-02-21 18:10] humitos commented on #3644
Mmm...

I'm not able to reproduce this in my local instance with `master` branch. I see the states: `Triggered`, `Clonning` and `Installing` without problem.

[2018-02-21 18:11] humitos commented on #3644
Same behaviour in .org production

[2018-02-21 18:19] stsewd commented on #3644
@humitos I also experiment this behavior on my local instance:

- Build any project
- Enter to the build (failure is shown)
- Wait ~5 seconds, reload the page
- Build is continued and successful

![screenshot-2018-2-21 bookpy read the docs](https://user-images.githubusercontent.com/4975310/36497585-bcb8b084-1709-11e8-8b30-da6743bc8bf1.png)
![screenshot-2018-2-21 bookpy read the docs 1](https://use

[2018-02-21 19:07] RichardLitt commented on #2757
@humitos I'm not sure why you labelled this as a good first issue. Since you did, can you help explain (perhaps to @swzang) how to solve this?

[2018-02-21 19:11] #3617 closed

[2018-02-21 19:59] humitos commented on #2757
I probably made a mistake. I'm removing that tag.

Also, @ajantiss can you provide the Project URL, Build URL and username of the project? The link you pasted here gives 404.

[2018-02-21 20:37] RichardLitt commented on #2757
Thanks @humitos! I agree with that decision - this is a bit of a tricky one. :)

[2018-02-21 21:18] humitos commented on #3396
I followed the steps to reproduce it mentioned here and I was able to reproduce it.

Then, the solution proposed (call a `A.save()`) does work and I can access to http://localhost:8000/docs/a/projects/B/en/latest/

[code]

I'm trying to write a test case to make this fail first, but I don't know how to manage symlinks from the tests and check the documentation URLs yet.

[2018-02-21 21:25] stsewd commented on #3642
@dfranco I can see both of your versions now, were you able to solved? what was the problem?

[2018-02-21 21:38] stsewd commented on #3642
Also on the commit that the version is marked https://github.com/bacula-web/bacula-web/tree/0ec2420ff79f5d56485b648ea064cebea18ccf70, there isn't a sphinx project, neither an index file.

[2018-02-22 01:11] #3637 closed

[2018-02-22 07:48] shubham76 commented on #3554
I would like to work on this issue.

[2018-02-22 08:18] ajantiss commented on #2757
@humitos, indeed we removed completely the source branch, as we were just trying to find a way to handle multiple LTS documentation branch in a single project.

Finally we created two readthedocs project, one for ongoing development (and so flagged as next-lts) and one for each LTS with simple tag version (just numbers) no fancy PEP 440 characters.

If you want to reproduce the issue, you just nee