[2015-07-06 12:49] ugocupcic commented on #1322
@gregmuellegger yes it's still failing for me: https://readthedocs.org/projects/sr-ronex/versions/ is still returning the fail check back in a bit error. Might be due to our `#` in the branch name?

[2015-07-06 12:50] pitrou commented on #1240
(that checkbox is confusing, by the way, it's not obvious if it controls the use of a virtualenv, the call to setup.py install, or both at the same time; also as a user it's not obvious why I should choose one or the other...)

[2015-07-06 12:55] gregmuellegger commented on #1204
It seems that PDF build for your latest version (1.0.3) was reported as success and the PDF is available. @astrofrog is this still an issue for you?

[2015-07-06 13:00] gregmuellegger commented on #1202
I think this should be fixed as readthedocs is using Sphinx 1.3.1 since this commit: 0ac37e2902d8e65864c60a38fedfdd114dec957f
Please comment here or open a new issue if this is still a valid issue for you.

[2015-07-06 13:00] #1202 closed

[2015-07-06 13:04] gregmuellegger commented on #1201
@ronichoudhury We updated Sphinx 1.3.1 in https://github.com/rtfd/readthedocs.org/commit/0ac37e2902d8e65864c60a38fedfdd114dec957f so I assume this issue is fixed now.

I've rebuilt your documentation and it seems to be fixed: http://tangelo.readthedocs.org/en/v0.9/tutorials/db-vis.html#establishing-orm-classes

[2015-07-06 13:04] #1201 closed

[2015-07-06 13:07] gregmuellegger commented on #1180
Closing due to inactivity. Please create open a new issue if this is still a problem for you.

[2015-07-06 13:07] #1180 closed

[2015-07-06 13:08] gregmuellegger commented on #1177
Closing due to inactivity. Please open a [new issue](https://github.com/rtfd/readthedocs.org/issues/new) if this is still a problem for you.

[2015-07-06 13:09] #1177 closed

[2015-07-06 14:35] cheerfulstoic commented on #1210
I'm going to say no, somewhat hesitantly ;)

There have been times when I've needed to run the wipe at `https://readthedocs.org/wipe/neo4jrb/latest/` multiple times (which now has a UI where it didn't before, which is great).  I also discovered that I had to delete the tag again in git recently because it was apparently still there (maybe I didn't do it correctly, but I think I saw it missing it G

[2015-07-06 14:35] #1210 closed

[2015-07-06 16:41] agjohnson commented on #1382
Great, this is a good sample set, I'll poke around the associated builds and try to pinpoint where and why this is happening

[2015-07-06 16:43] #1403 closed

[2015-07-06 16:45] yuyichao commented on #1382
@agjohnson Thanks for looking into this! I might be imagining but it seems less likely to happen around noon EST (i.e. around this time everyday).

[2015-07-06 17:33] agjohnson opened #1410 "UTF8 characters on version slugging -- or slugging in general"
This ticket came up as part of #1407. We should make sure version slugging is handling UTF8 characters in a sane way.

[2015-07-06 17:34] #1405 closed

[2015-07-06 18:30] gregmuellegger commented on #1410
Is there any algorithm you can suggest? Currently if a all-non-ascii name is provided the algorithm will return `unknown`. Partly non-ascii words like `Straße` will look "chunked" like `stra-e`.

[2015-07-06 18:32] ericholscher commented on #1410
This might be a good solution: https://pypi.python.org/pypi/unicode-slugify
-- It convert utf8 chars to their "equivalent" in ascii. We could also just
generate utf-8 slugs. I don't know a lot about this, but in general I think
we support UTF-8, but we might run into issues with nginx/etc downstream,
but perhaps that is the best solution.

On Mon, Jul 6, 2015 at 11:30 AM, Gregor Müllegger <notific

[2015-07-06 21:02] destroyerofbuilds commented on #1115
:+1:

I would like, given that the badge says `docs: latest`, that clicking on the badge would take me to the build artifacts associated with the `latest` label in ReadTheDocs.

The same would go for `docs: stable`, which would point to documentation associated with the latest tagged version.

[2015-07-06 21:37] ericholscher opened #1411 "Only show V button on "View Docs" if there are >1 version"
We show the Dropdown for projects with 1 version, which makes no sense. Only show it if there are > 1 version.

[2015-07-06 21:37] ericholscher commented on #1411
Also consider moving search to the bottom.

[2015-07-07 10:31] sils1297 opened #1412 "RFE: Custom documentation build"
Hi,

wouldn't it be easy for you and cool for the users to be able to just build a webpage with arbitrary commands and you serve it? I'd love to use pandoc with a few custom tweaks here and there, building the commands is easy.

[2015-07-07 18:20] destroyerofbuilds opened #1414 "Websockets not working on /live page"
I was testing the [live](https://readthedocs.org/live/) page to verify behavior of the ReadTheDocs project, but noticed in dev-tools that the live updating was not working.

I received the following in dev-tools:

[code]

[2015-07-07 20:04] ronichoudhury commented on #1201
Looks great.  Thanks @gregmuellegger!

[2015-07-08 02:20] destroyerofbuilds opened #1415 "NGINX_X_ACCEL_REDIRECT No Longer Used"
Seems `NGINX_X_ACCEL_REDIRECT` option in the setting files is no longer used. Looks to have been refactored out after pull request [366](https://github.com/rtfd/readthedocs.org/pull/366).

[2015-07-08 02:30] destroyerofbuilds opened #1416 "Tastyapi Client no longer used"
I was trying to find where the `IMPORT_EXTERNAL_DATA` setting was used, but the only file that uses that setting `tastyapi/client.py` does not seem to be used any longer.

It looks like the other use of `tastyapi/client.py` was removed in bf1a3d2c49150f3b6d4362625375457cb7817fa2

[2015-07-08 14:23] mboersma commented on #1052
I haven't seen this in a few weeks, which is notable. I'll close this and reopen it if it recurs.

[2015-07-08 14:23] #1052 closed

[2015-07-09 09:20] gregmuellegger commented on #1322
Probably that is the problem yes. If I try the same project in my local installation, then the `#` is escaped as expected. A migration should have fixed the invalid slugs. Maybe there are still some strange slugs left in the DB.

@agjohnson @ericholscher Could one of you look into the server's database to see if there is any version slug left with invalid characters? Namely a version with a `#` in

[2015-07-09 09:32] ugocupcic commented on #1322
@gregmuellegger it's not only in sr-ronex, I get the same on:
- https://readthedocs.org/projects/shadow-robot/versions/
- https://readthedocs.org/projects/shadow-robot-ethercat-driver/versions/

(we use the same convention for our branch names: F#123_feature - where 123 links to the github issue. It's used in waffle.io to automatically update some TODO lists)

Cheers,

[2015-07-09 09:54] gregmuellegger commented on #1052
Awesome! Thanks for the feedback. So the work on this end helped. That's good to know.

[2015-07-09 11:07] gregmuellegger commented on #1284
@frontendphil @jab we changed the version parsing to be compliant with PEP 440 so that the version ordering etc gets a lot more reliable. Can you test if this fixes the issue for you when you push a new version?

[2015-07-09 11:09] gregmuellegger commented on #1176
@arigo is this fixed for you now?

[2015-07-09 11:35] arigo commented on #1176
Yes, thanks!

[2015-07-09 12:11] #1176 closed

[2015-07-09 14:47] claesenm opened #1419 "Bad gateway errors"
I'm getting a lot of bad gateway errors when accessing one of my project's pages: https://readthedocs.org/projects/optunity/

The error (picture attached)
![badgateway](https://cloud.githubusercontent.com/assets/5254910/8598353/80637f8a-265a-11e5-8ee0-60ee49d25d6a.png)
:
502 Bad Gateway

nginx/1.4.6 (Ubuntu)

The builds are also taking very long, one is triggered for 19 min so far. I'm not sure if

[2015-07-09 17:11] ericholscher commented on #1419
Yea, this was an issue on our side. It should be resolved now, you might
need to re-trigger your build.

On Thu, Jul 9, 2015 at 7:47 AM, Marc Claesen <notifications@github.com>
wrote:

--
Eric Holscher
Maker of the internet residing in Portland, Oregon
http://ericholscher.com

[2015-07-09 17:38] claesenm commented on #1419
Working perfectly now, thanks!

[2015-07-09 17:38] #1419 closed

[2015-07-09 22:09] HelloZeroNet opened #1422 "On GitHub: View / Edit points to wrong url"
The View / Edit links are broken on the panel that appears when clicking on bottom left arrow.

Example:
http://zeronet.readthedocs.org/en/latest/faq/
 - Points to: https://github.com/HelloZeroNet/Documentation/blob/master/docs/Frequently%20asked%20questions.md
 - It shoud: https://github.com/HelloZeroNet/Documentation/blob/master/docs/faq.md

[2015-07-10 01:46] destroyerofbuilds commented on #1387
@gregmuellegger the `pre_build` method is a possibility, but that would, to me, seem like a trade off, we don't have to worry about forgetting to add the decorator to every builder, but now we have to remember to call `pre_build` everywhere we call `build`.

For a brief moment I started looking at creating a `BaseBuilder` metaclass that would wrap the `build` method in a function that would cleanu

[2015-07-10 11:42] gregmuellegger commented on #1199
Yes I can confirm that it's still that way. We probably need to `tx push` the files more oftenly. We should do it by hand for this time, but need a more automated way in the long run.

@ericholscher could you please push the current state of translation strings from master to transifex?

[2015-07-10 13:17] gregmuellegger commented on #1190
I'm not sure if yet another option in the admin panel is desirable. Also are we using different nginx configs for every project? Because having a switch would require that, right?

We could give docs.readthedocs.org site a special config and force HTTPS there (with 301 permanent redirects) to see the impact that it might have and whether something breaks.

CNAME domains need to be excluded from th

[2015-07-10 13:20] ericholscher commented on #1190
pip and others doing SSL CNAME's are doing their own load balancing & SSL
term, so they are able to enforce it at that level. We are looking into
possibly offering CNAME SSL, but it would definitely be a paid feature
because of the overhead of managing the certs on our side.

I'd love to turn SSL on for all projects, but that would require proxying
all media through our SSL, or anything with any i

[2015-07-10 13:27] gregmuellegger commented on #1175
I think there is no documentation so far on the API v2 endpoints. However I'm not sure if that would benefit anyone as it seems to me that they more are targeted at internal use of RTD.

What would you like to do with the API? I guess for most user facing purposes the API v1 is just fine (like crawling through the details of a specific project etc).

[2015-07-10 13:32] stygiansabyss commented on #1175
I was hoping to build a dashboard that would allow me to trigger builds for my sites.  Things like scrutinizer, travis CI and rtd.

[2015-07-10 13:34] gregmuellegger commented on #1170
I think changing the default branch should do the trick as lazka pointed it out. But it's strange that it didn't work for the totalopenstation project.

I'm re-targeting the ticket to better support changing the VCS type of a project. Maybe testing that changing the default branch works might be enough with some help text on the VCS type field that you should consider changing the default branch w

[2015-07-10 13:36] gregmuellegger commented on #1169
@e9t @vitaut seems like the issue is resolved for your projects, I'm closing this ticket for now.
Please open a new one if you still experience troubles with the builds.

[2015-07-10 13:36] #1169 closed

[2015-07-10 13:46] e9t commented on #1169
No, I haven't seen the issue these days either. Thanks a ton!

[2015-07-10 14:30] gregmuellegger commented on #1157
The oneoffs template is no longer used. I created #1423 to remove it. Also we already noted in #1199 that we need to update the translations to a more currrent date. That's why I'm closing this ticket now and keep track of it in #1199.

Cheers for the report :)

[2015-07-10 14:30] #1157 closed

[2015-07-10 14:33] ericholscher commented on #1157
We do need to update the translations. However, we should do a full sweep
of the code to kill old strings, and make sure everything is marked as
translatable, so that we can actually make the i18n experience good.

This is something I've been wanting to build a proper workflow around,
since it's always been rather ad hoc. Another thing to add to the list, but
we should at least have a ticket open

[2015-07-10 14:34] gregmuellegger commented on #1175
Ok, I don't think it is possible so far to use the API to create a new project. But we are ofcourse happy to accept any patches in that regard.

I think triggering a build is already possible using the post-commit-hook described on your project's page: `curl -X POST http://readthedocs.org/build/<project-slug>`

[2015-07-10 14:35] gregmuellegger commented on #1175
If you really want to push this idea further it might be good to open a new ticket for every aspect that you want to add to the API. We are happy to review any individual request.

[2015-07-10 14:36] ericholscher commented on #1175
The idea here is to have API V2 eventually replace the old V1 API. It's
using REST framework instead of tastypie, and actually allow RTD to be
orchestrated like this. It's not currently working, but most new code
should go into V2, and we should be actively working towards this.

Add it to the massive list of things to do, but it's definitely something
we're interested in supporting.

On Fri, Jul

[2015-07-10 14:39] gregmuellegger commented on #1154
This is done with the merge of #1344.

[2015-07-10 14:39] #1154 closed

[2015-07-10 14:47] gregmuellegger commented on #1139
We are currently developing a new build system. And I assume we could integrate this in there somehow. However it's not there yet, so I assume we won't have a fix for this in the next couple of weeks, but more in the terms of months.

[2015-07-10 15:11] gregmuellegger commented on #1137
We'll consider this while building our new build system. Thanks for the report!

[2015-07-10 15:12] gregmuellegger commented on #1136
I assume that's fixed as with snide/sphinx_rtd_theme#187 so closing it here.

[2015-07-10 15:12] #1136 closed

[2015-07-10 15:17] gregmuellegger commented on #1100
This is about to be addressed in #1420 I'm happy about any reviews.

[2015-07-10 15:19] gregmuellegger commented on #1099
It's not sufficient as we need to have Django 1.7 style migrations :) However the biggest part of the work is already done in #1420
I'm happy about any reviews of the PR.

[2015-07-10 15:34] gregmuellegger commented on #1127
Hm, seems like the referenced project is removed. For the badge URL we perform a redirect to the shields.io service. The 302 does not contain any caching information.

I guess we could add this to be ~5 Minutes or so.

[2015-07-10 15:37] gregmuellegger commented on #1127
Oh and we cache the badges up to 30 minutes in the Django level of things, since https://github.com/rtfd/readthedocs.org/commit/bf8931082f29ca1f6f3825b0d3bdc99edbcf537f

[2015-07-10 15:39] yuyichao commented on #1382
I just see `Python function` again when I was searching for fft just now. Commit is

[code]

FWIW, this might be the first time I see a broken one around this time of the day recently....

[2015-07-10 16:10] gregmuellegger commented on #1098
That's taken care of in #1420

[2015-07-10 16:11] gregmuellegger commented on #1087
Could you make that feature request a bit more precisely :) That was probably a reminder for something, but it would be good if we could make that a full fledged ticket, valueable as base for discussion.

[2015-07-10 16:14] gregmuellegger commented on #1117
That's no good. We need to investigate here.

[2015-07-10 16:19] gregmuellegger commented on #1105
Does this happen in a build on readthedocs.org? I cannot find any dogwalker project there.

[2015-07-10 16:23] gregmuellegger commented on #1096
We could make the version available as a environment variable. Let's put this on the list, but it's not high in priority for us. @holtgrewe @rrahn would you be interested in working on this in a Pull Request? I'm happy to guide you through any of this if you need help.

[2015-07-10 16:33] destroyerofbuilds opened #1424 "Add code linting"
Could we re-enable linting in the Travis-CI build? My hope is to avoid my own tendency to introduce poorly written code, while encouraging the community as a whole (which has grown recently) to move the code base towards a cleaner style.

[2015-07-10 16:41] tisdall commented on #1154
@gregmuellegger, thank you!

[2015-07-10 16:56] lmjohns3 commented on #1105
FWIW I haven't seen this show up on any of my recent builds (my projects are theanets and downhill).

[2015-07-10 17:56] edmorley commented on #947
This was fixed in #1344 - there are now additional checkboxes to turn off PDF/epub in settings.

[2015-07-10 19:01] gregmuellegger commented on #1105
Awesome, so we might have fixed that already (maybe by accident ;)) I'm closing this for now, feel free to open up a new ticket if this occurs to you again.

[2015-07-10 20:46] gregmuellegger commented on #947
Yep, indeed. Thanks for pointing this out. Closing this ticket for now.

[2015-07-10 20:46] #947 closed

[2015-07-10 21:37] stevepiercy commented on #947
Thank you!

[2015-07-10 22:54] stevepiercy opened #1425 "Link to PDF in RTD popup menu shows even though PDF build is turned off"
See https://github.com/rtfd/readthedocs.org/pull/1344#issuecomment-120510729

The link is in the RTD popup menu
![RTD popup menu](http://i.imgur.com/9E5C1Sl.png)

An example is in [Pyramid docs](http://docs.pylonsproject.org/projects/pyramid/en/latest/).

[2015-07-10 23:39] agjohnson commented on #1414
This is a half baked feature, use of websockets was experimental here

[2015-07-10 23:43] agjohnson commented on #1412
Would we be executing the commands? Or would we be accepting arbitrary HTML? I think either way this is outside the scope of what we want to do. We support Sphinx, and don't have much interest in being a naive web hosting provider.

[2015-07-10 23:55] sils1297 commented on #1412
Well, how about pandoc support then? Preferably with the mddia preprocessing script for generating flow charts and stuff.

I'd really love be able to use pandocs gorgeous and powerful markdown for building docs.

[2015-07-11 00:16] agjohnson commented on #1382
Looked into this a little more, it's happening across all the servers, so there is no correlation between a single server here. I'll keep looking. There are some sphinx errors on overlapping object names, but normally that wouldn't cause anything like what you're seeing

[2015-07-11 06:20] rbtcollins commented on #1364
@NYKevin that error indicates that there is a versioned setup-requires on a newer setuptools than you have, and setuptools is bailing out (it can't handle that situation itself). upgrading your virtualenv package should get you a newer bundled setuptools, and that should get things going.

[2015-07-11 06:23] rbtcollins opened #1426 "too-old setuptools (likely due to too-old virtualenv)"
Virtualenv bundles pip, wheel and setuptools. The Python packaging ecosystem is moving quite rapidly at the moment, and the version of virtualenv used to build the docs is sufficiently old that the bundled setuptools cannot handle the new version of mock (which needs setuptools 17.1).

Options:
1. upgrade your virtualenv to 13.1.0
2. add a call to pip install -U pip wheel setuptools between making

[2015-07-11 15:14] takluyver commented on #1394
This issue seems to be back today:

https://readthedocs.org/builds/astsearch/3070812/

[2015-07-11 16:01] WoLpH commented on #1268
I've just tried again and it apears that I am not able to reproduce it anymore. My guess is that it was a certain combination of Chrome, Ghostery and Adblock which has since been resolved in one of these projects.

The CSRF error itself is still reproducible by blocking referrer headers (several client-side firewalls do this) but it's more of a Django bug that missing/empty headers also give the e

[2015-07-11 18:13] agjohnson commented on #1394
It is, looks like i provisioned the servers with a branch lacking this patch. Fixing it now.

[2015-07-11 18:48] agjohnson commented on #1394
Reprovisioned with the patch applied, @takluyver your docs seem to building now

[2015-07-11 19:58] takluyver commented on #1394
They are indeed. Thanks for the quick response!

[2015-07-11 19:58] #1394 closed

[2015-07-12 17:06] ericholscher commented on #1426
I believe you should be able to specify this in your requirements file also. Which seems like a good idea if you require a specific, newer version. I'll look into upgrading our versions as well though.

[2015-07-12 17:07] ericholscher commented on #1426
Ah, I see, it's the bundled verisons in venv. I will update that.

[2015-07-12 17:08] #1426 closed

[2015-07-12 20:24] rbtcollins opened #1428 "setuptools being downgraded"
This is a follow-on to #1426. With the newer virtualenv the requirements.txt processing does manage to complete, but the install target fails due to very old setuptools (1.1!) - the doc_builder target appears to be downgrading it to 1.1 in the middle. :(.
[code]

This is from https://readthedocs.org/builds/mock/3074098/

[2015-07-12 20:31] rbtcollins commented on #1428
And https://github.com/rtfd/readthedocs.org/blob/b4c6c7bcd750bd0751c7a151b485b22df932a435/readthedocs/projects/tasks.py#L335 seems to be the culprit. I don't know why setuptools 1.1 is being pinned - but its really rather old. In fact - https://github.com/rtfd/readthedocs.org/commit/d5d71c0d1e326a38ab607d2e688982e439b3c35e is where it was introduced.

Would a PR to bump that to 18 be acceptable?

[2015-07-13 07:45] gregmuellegger commented on #1428
I created #1429 as a fix. I want to get it reviewed before we can deploy it. If you need a very quick workaround you can pin the setuptools/virtualenv versions you need in your repo's `requirements.txt`.

[2015-07-13 07:57] gregmuellegger opened #1430 "Add custom styling for CSRF error"
In #1268 we found that the CSRF error sometimes happens when some headers are blocked. We cannot really avoid that, but we could make the styling more appealing so that users don't see the Django default error page for this.

To override the styling the csrf failure view, this can be used: https://docs.djangoproject.com/en/1.8/ref/settings/#csrf-failure-view

[2015-07-13 07:58] gregmuellegger commented on #1268
Ok I've created a new issue for this as it's a different topic: #1430

Closing this for now. Thanks for the suggestion, we'll look into styling it properly.

[2015-07-13 07:58] #1268 closed

[2015-07-13 08:02] gregmuellegger commented on #1364
@rbtcollins do you see this as related to #1428 ?

[2015-07-13 09:08] gregmuellegger commented on #1425
I've added PR #1431 for this. Thanks for the report :sunglasses:

[2015-07-13 09:17] gregmuellegger commented on #1414
@agjohnson What's the resolution here, shall we remove the related code?

[2015-07-13 15:11] destroyerofbuilds opened #1432 "media/javascript/analytics.js Not Used"
Turns out `media/javascript/analytics.js` is not used anywhere.

It was added as part of aadfdfd6c2d387ba1087bdafb0be16aee7275eeb but never hooked into anything.

[2015-07-13 16:53] #1428 closed

[2015-07-13 16:55] #1425 closed

[2015-07-13 17:17] ericholscher commented on #1428
Should be deployed.

On Mon, Jul 13, 2015 at 12:45 AM, Gregor Müllegger <notifications@github.com

--
Eric Holscher
Maker of the internet residing in Portland, Oregon
http://ericholscher.com

[2015-07-13 17:17] ericholscher commented on #1414
+1 on removing it.

On Mon, Jul 13, 2015 at 2:17 AM, Gregor Müllegger <notifications@github.com>
wrote:

--
Eric Holscher
Maker of the internet residing in Portland, Oregon
http://ericholscher.com

[2015-07-13 18:59] destroyerofbuilds opened #1433 "Sponsorship Code Duplicated"
It seems the front-end promo code is duplicated between `readthedocs/core/static/core/js/readthedocs-doc-embed.js ` and `readthedocs/core/static-src/core/js/sponsorship.js `.

[2015-07-13 19:26] destroyerofbuilds opened #1434 "Consider Using django-gulp"
Please consider employing [django-gulp](https://pypi.python.org/pypi/django-gulp/2.0.0).

`django-gulp` intercedes at the beginning of `runserver` and `collectstatic`, running `gulp` prior to the normal actions of those Django commands.

`django-gulp` would allow the `browserify` task to run, building the contents of the `static-src` directory at runtime, instead of needing to commit build artifac

[2015-07-13 19:26] destroyerofbuilds commented on #1433
This is actually a misunderstanding on my part. It looks like there's a `gulp` setup that takes files in `static-src` and builds the content into a single file located in `static`.

Resolving in favor of #1434

[2015-07-13 19:26] #1433 closed

[2015-07-13 19:39] stevepiercy commented on #1425
Thank you!

[2015-07-14 08:32] KSSonline opened #1435 "Search has problems with special chars ", : . " in the search string"
We are having a lot of strings like "php::class" or "TYPO3.Neos:Headline" which are therefore common search strings. We figured out, that as soon as a special char like ":" is in the search string, the search won't find anything at all. If you remove the chars by hand, then you find what you are searching for.

Example of current search:
Open: http://neos.readthedocs.org/en/stable/Appendixes/Comma

[2015-07-14 16:45] agjohnson commented on #1434
This is a deployment decision for now. We may replace this step with precompilation before deployment at some point, but we will not be compiling assets on each server with this.

[2015-07-14 16:45] #1434 closed

[2015-07-14 16:48] agjohnson commented on #1432
New javascript also supersedes this. It can be removed.

[2015-07-14 16:51] agjohnson commented on #1430
Yes, i've been meaning to get something in for this for a while.

[2015-07-14 16:56] destroyerofbuilds commented on #1434
@agjohnson, though you are correct that deployment should be a consideration, I argue that your duplication of code in the code base is not only bad practice (submitting build artifacts to a source code repository), but is detrimental to people that wish to contribute (because they have to know how to run `npm install` followed by `gulp`, and then remember to not only add their changed file, but t

[2015-07-14 17:13] agjohnson commented on #1434
Yes, I meant to write documentation on front end development, it's written somewhere, but apparently not here. I'll make a ticket and take ownership on actually getting that into our docs now.

We know the limitations around checking in bundles, but it's less error prone than assuming contributors need to instantiate our full front end stack to just make simple changes. This is an intermediate des

[2015-07-14 17:14] agjohnson opened #1436 "Write missing documentation on front end build chain"
It's written somewhere, port it here.

[2015-07-14 18:41] agjohnson commented on #1424
Well, the issue here isn't that linting isn't enabled, it's that we don't have an official position on linting to enforce yet. So preceding this will require us to take a stance on what style guides we want in place for python and javascript. This is not a bad thing, and I'm :+1: on standards here. It will depend on what we agree on though.

I'd be happy to enforce a subset of pylint rules, but th

[2015-07-14 18:44] agjohnson commented on #1430
I have some thoughts here, as we are talking about error pages at several levels. I'll mock up what I have in mind maybe this weekend.

[2015-07-14 18:52] agjohnson commented on #1412
We want to support Markdown as a secondary format, but where we support rST + Sphinx, we don't see much benefit in supporting Markdown mashups to make Markdown behave more like rST. At least not with our development time.

We already have mkdocs as an option, and we have Markdown in Sphinx support in the pipeline, I don't think we'll fragment our efforts any more on Markdown. We might accept a pat

[2015-07-14 18:53] agjohnson commented on #1401
@geertj does this solve your problem?

[2015-07-14 18:55] agjohnson commented on #1296
Closing this, it looks resolved

[2015-07-14 18:55] #1296 closed

[2015-07-14 21:09] destroyerofbuilds commented on #1424
So the strong options seem to be `pep8`, `pylint`, and `flake8`.

The later is actually a wrapper around `pyflake` and `pep8`.

I filed merge request !1437 as a proposal for getting started with enforcing linting rules. It removes `flake8`, and incorporates `pep8`, which seems pretty standard for Python projects. Furthermore, to accommodate the fact that little of this code complies with `pep8` I

[2015-07-14 21:14] destroyerofbuilds commented on #1424
Setting max line length to 120, and ignoring migration directories, almost all remaining errors are `E265 block comment should start with '# '`.

I could probably get through those pretty quickly.

[2015-07-14 21:17] agjohnson commented on #1424
My preference is pylint, as I already use that against code I introduce here, and it provides more than pep8 compliance, but other opinions welcome on this.

cc @ericholscher and @gregmuellegger

[2015-07-15 12:27] ssbarnea commented on #1143
Need to reopen this as is clearly not fixed.

[2015-07-15 16:14] jimmyjames opened #1438 "Google Analytics Not Tracking Search"
We use Google analytics on our RTD site, and have enabled search tracking (using 'q' as the query parameter), but our analytics show no search results (tested by searching several times).

Is there a way to get search analytics from RTD using Google Analytics? Or is this not supported?

[2015-07-15 22:59] takotuesday commented on #1068
@agjohnson would the place to start be adding gitlab to oauth and then work from there?

[2015-07-16 02:42] agjohnson commented on #1068
@takotuesday It depends on the level of integration.

To just accept a webhook and update a project on push, there needs to be an endpoint for github to push to, similar to:
https://github.com/rtfd/readthedocs.org/blob/1511716c9c984e7a53521c0fcc91e50f49e1473c/readthedocs/core/views.py#L197-L274

Ideally, integration would set this up automatically, but this requires oauth support for gitlab in [dj

[2015-07-16 05:33] nanuxbe commented on #327
+1 for this or simply not allowing people to freely change their slug but mirroring project name changes on the project slug.

[2015-07-16 08:55] gregmuellegger commented on #327
Regarding setting up a new project with the same config as another one: We are working on some `readthedocs.yml` config that you can put in your repository, similiar to a `.travis.yml`.

@nanuxbe That's a good point. However usually the project slug should be kept stable. Where did you experience the change in the slug after changing the name?

[2015-07-16 09:06] gregmuellegger commented on #1143
Reopening this based on @ssbarnea feedback.

However I for myself cannot reproduce:
[code]

So it seems that the documentation is no longer there. What responses would you expect?

[2015-07-16 09:08] nanuxbe commented on #327
@gregmuellegger BitBucket is one example of a name change leading to a slug change.
I can see the need of keeping the slug stable as for search engine and external links but this is also the reason why changing the slug can be important as urls are very important to search-engines. Here's my current situation and why I'm interested in the topic:
I recently had to rename a project because the proje

[2015-07-16 09:50] gregmuellegger commented on #1424
I would be in for using a linter over a code-style only checking. But flake8 works pretty well in my experience.

I have not used pylint so far. I justed tested it out on the code base and it seems as it is reporting lots of false positives like not knowing about Django's reverse related managers: `E:694,15: Instance of 'Project' has no 'versions' member (no-member)`

So I'm happy with using flake

[2015-07-16 09:58] gregmuellegger opened #1440 "Allow change of project slug"
We should make it possible to change the slug of a project. There are valid
reasons for it.

This was reported by @nanuxbe in #327. She wrote:

[2015-07-16 09:59] gregmuellegger commented on #327
That all seems like a valid point. I created a new ticket for this in #1440 as this one has different topic.

[2015-07-16 14:34] ericholscher commented on #1143
Sorry, I went ahead and deleted the old files. Not sure how they
reappeared, though we just did a server migration so that might have
somehow done it.

On Thu, Jul 16, 2015 at 2:06 AM, Gregor Müllegger <notifications@github.com>
wrote:

--
Eric Holscher
Maker of the internet residing in Portland, Oregon
http://ericholscher.com

[2015-07-16 14:34] #1143 closed

[2015-07-16 14:58] ericholscher commented on #1424
I am the one guilty of having lines over 80. I guess we should aim for that as a goal :relaxed: -- I believe pylint is the old stuff, and flake8 is the newest version that has fanciness.

Perhaps @sigmavirus24 has some thoughts?

[2015-07-16 16:37] agjohnson commented on #1424
I don't believe pylint was superseded by any of the pep8, pyflake, flake8 migrations. Pyflakes has some overlap, but is not as useful in my experience. I'd use flake8 next though, and can always run my linting on top of flake8, that would be just fine.

Pylint does require some agreed upon tuning before it's useable, and would likely be improved by https://github.com/landscapeio/pylint-django to s

[2015-07-16 17:53] destroyerofbuilds commented on #1424
`pylint` includes a sub-set of `pep8` rules.

`flake8` just runs `pep8`, `pyflakes`, and `Ned Batchelder's McCabe script`.

I personally don't know whether `pylint` or `pyflakes` is better. They both look actively maintained. Though, as mentioned earlier, `pylint` seems to catch quite a bit more, and provides great summaries. I have used `pylint` in previous projects.

`pylint-django` looks intere

[2015-07-16 18:04] sigmavirus24 commented on #1424
So disclaimer, I maintain/develop/whatever you want to call it Flake8, pep8, pyflakes, mccabe, and a bunch of Flake8 extensions (of which we have [lots](https://pypi.python.org/pypi?%3Aaction=search&term=flake8&submit=search)). I personally don't see Flake8 and PyLint as mutually exclusive tools. As @destroyerofbuilds points out, PyLint doesn't do as much as `pep8`. `pyflakes` overlaps with PyLint

[2015-07-16 18:24] takotuesday opened #1441 "Add GitLab Provider from django-allauth"
Add GitLab as an option to Social Accounts so that users can connect rtd accounts to thier GitLab repositories. There seems to be the demand and use cases, as discussed in #1068.

Once this [issue](https://github.com/pennersr/django-allauth/issues/964) is resolved,  integrate the gitlab provider into rtd.

[2015-07-16 18:31] agjohnson commented on #1424
flake8 definitely seems like the right way forward to start cleaning up our codebase. Pylint is a lot more critical of coding style and there definitely is a curve to getting it tuned enough to be useful and not overbearing. If we migrate to pylint after, that's all fine with me, otherwise I'll continue using both if I find it necessary.

We'll have our work cut out for us, cleaning up years of co

[2015-07-16 18:56] sigmavirus24 commented on #1424
So, I'll just reiterate, flake8 and pylint aren't mutually exclusive. Several OpenStack projects run both as part of their CI. Every OpenStack project runs Flake8 + OpenStack's Flake8 plugin, hacking. Each project configures Flake8 by using config files included in the repository to ignore rules and such. For example, [one project](https://github.com/openstack/python-glanceclient/blob/master/tox.i

[2015-07-16 19:51] agjohnson commented on #1424
And yes, this is a good point, there isn't any reason to not perform both once we are ready. I'll be using flake8 + pylint in this fashion as we go forward anyways.

In terms of line length error cleanup efforts, which is the majority of flake8 output for us if we disregard migrations, we have 550 lines >80 characters, 300 lines >90 characters, and 160 lines >100 characters.

I'm not into the 120

[2015-07-16 19:53] carlio commented on #1424
Hi all, thanks for the glowing reference @sigmavirus24!

Obviously I endorse using [Landscape](https://landscape.io) but I'm clearly biased. Also please wait 24 hours because my workers got banned from the GitHub API and nothing works right now. The diff between code though is designed to help improve from a starting point, because nobody has perfect code at the beginning.

You may also want to co

[2015-07-16 21:30] takluyver commented on #1336
@ericholscher is this any closer to being ready for us to test?

I'd also like to see a way to put more flexible installation steps in the config file as an alternative to the specific options for `setup.py` and `requirements.txt`. I'm thinking of a list of commands to run before building the docs, similar to the 'install' section in a Travis config file.

[2015-07-16 21:43] Carreau commented on #1336
If there is any way to enable that as a beta for some repositories that would be great !

[2015-07-16 23:04] yuyichao commented on #1382
FWIW, I just noticed that functions are not the only thing that goes wrong. I was searching `blas` and it shows up as "Python module"

[code]

[2015-07-16 23:50] destroyerofbuilds opened #1442 "Add GitLab Web Hook End-Point"
Need to add an end-point to Read the Docs to received on-push events from a GitLab installation.

The GitLab end-point would be similar to Read the Docs' existing [GitHub support](https://github.com/rtfd/readthedocs.org/blob/1511716c9c984e7a53521c0fcc91e50f49e1473c/readthedocs/core/views.py#L197-L274) with only minor changes needed to support the slightly different response sent by a GitLab web ho

[2015-07-16 23:54] destroyerofbuilds opened #1443 "Setup GitLab Web Hook on Project Import"
When a GitLab project is imported into Read the Docs, the imported project's GitLab project needs to be automatically setup with a Read the Docs web hook.

Support already exists for [GitHub and Bitbucket](https://github.com/rtfd/readthedocs.org/blob/1511716c9c984e7a53521c0fcc91e50f49e1473c/readthedocs/projects/signals.py#L26)

This enhancement must wait until #1442 has been completed, and a Read

[2015-07-16 23:58] agjohnson commented on #1424
@carlio I just started playing with this. Honestly, when I glanced at the tool this morning, I originally thought the linting chain didn't need another tool in the progression. But prospector does a great job of wrapping up all the tools and setting sane defaults. Strictness profiles is something I really miss from Perl::Critic.

I have a config now that sets us a low bar for easing back into lint

[2015-07-17 00:21] destroyerofbuilds opened #1444 "Add Read the Docs Service to GitLab"
Needs to add a new Read the Docs service to GitLab. The service is a web hook service that would be setup on a GitLab project as a result of #1443

Tracking here to keep beside all the other GitLab issues, and because I don't have an account on GitLab.com.

[2015-07-17 00:30] agjohnson commented on #1444
We'll set this up under a RTD owned account once the webhook exists.

[2015-07-17 01:09] destroyerofbuilds commented on #1444
@agjohnson , would you mind adding this to the GitLab milestone?

Also, I think the actual service will need to be added through the commit of a new [GitLab Service Project](https://gitlab.com/gitlab-org/gitlab-ce/tree/master/app/models/project_services).

[2015-07-17 01:33] destroyerofbuilds commented on #1442
I would like to assign this to myself.

[2015-07-17 02:37] destroyerofbuilds commented on #1442
I just realized, there is test code for the GitHub end-point in `test_post_commit_hooks.py`. No Bitbucket tests though.

Should I add tests for GitLab? If so, how would I go about doing that since it seems the file is setup for only testing GitHub?

[2015-07-17 10:44] rbtcollins commented on #1364
@gregmuellegger no - I was looking for related issues, and saw that @NYKevin had gotten stuck here with something i could explain. The setuptools issue encountered is outside the venv that rtd creates during builds - its the one that NYKevin was using to test rtd, so yeah, unrelated.

[2015-07-17 12:15] tfeldmann opened #1445 "RTD template and Mac OS X scroll behaviour"
The RTD sphinx template has problems with the Mac OS X Safari scroll behaviour. If you scroll past the top and the page bounces back the navigation is partly hidden (see the attached video).
![rqmhq0idyg](https://cloud.githubusercontent.com/assets/385566/8746905/4b0c7de8-2c8e-11e5-83cf-cc2cf06e6ceb.gif)

[2015-07-17 14:06] bhanuvrat commented on #1029
@ericholscher yes its still happening to me https://readthedocs.org/builds/vyked/3098727/

[2015-07-17 17:48] agjohnson commented on #1445
This is a bug with sphinx_rtd_theme, it should be addressed there. Feel free to open a ticket.

I've noted the issue in Safari as well but should try to get a fix in for the 0.1.9 release there.

[2015-07-17 17:48] #1445 closed

[2015-07-17 17:49] agjohnson commented on #1442
Yes, we should have tests for integrations, including the missing ones for bitbucket. I'll open a separate issue for that.

[2015-07-17 17:56] agjohnson opened #1446 "Add tests on bitbucket integration"
There are a lot of test cases we should be testing for here, as integration with github and bitbucket has proven to be buggy. Surfaced in #1442.

[2015-07-17 20:04] tfeldmann commented on #1445
Thank you. I opened an issue in sphinx_rtd_theme.

[2015-07-17 20:32] Balooga opened #1447 "Local VM Install only build docs with 127.0.0.1 address"
I have a local VM installation of ReadTheDocs.

Documentation builds successfully when ReadTheDocs is launched from "./manage.py runserver" and the builds are kicked off from a browser on the local machine.

However, the build process does not seem to start when ReadTheDocs is launched from "./manage.py runserver [VM IP ADDRESS]:8000" and the browser is on a non-local machine.  The build state rem

[2015-07-17 21:29] agjohnson commented on #1447
This isn't something we can really help with, if you are deviating from our supported development installation. My only guess would be that you don't have celery configured correctly, it should be always eager resolution on tasks.

[2015-07-17 21:30] agjohnson commented on #1445
@tfeldmann thanks! i'll take a look at it shortly

[2015-07-17 21:37] Balooga commented on #1447
I'll check thanks.

Somewhat related/unrelated question.  Your commercial offering of ReadTheDocs; will this support the configuration I described above?  Having all servers and repos internal to a company WAN?

[2015-07-17 21:39] takotuesday commented on #1447
@Balooga can you elaborate a bit more on your vm set up? Are you using sqlite? Which settings .py file are you using?

[2015-07-17 21:44] agjohnson commented on #1447
@Balooga It won't be available after our initial launch, but we do plan to have an installable instance available for companies sometime in the future

[2015-07-17 21:51] Balooga commented on #1447
The latest git version of ReadTheDocs running on top of Centos SCL & Python 2.7.

It's a vanilla install using the instructions from https://read-the-docs.readthedocs.org/en/latest/install.html, apart from a "local_settings.py" file containing ALLOW_PRIVATE_REPOS = True

[2015-07-17 21:55] Balooga commented on #1447
After clicking "Build Version:", the output of "./manage.py runserver apollocreed.isg.directv.com:8000" ends as follows;

[17/Jul/2015 16:54:11] INFO [requests.packages.urllib3.connectionpool:180] Starting new HTTP connection (1): localhost
[17/Jul/2015 16:54:11] "POST /build/24 HTTP/1.1" 302 0
[17/Jul/2015 16:54:11] "GET /builds/edm-v/ HTTP/1.1" 200 10856

[2015-07-17 22:02] takotuesday commented on #1447
what do you have the SLUMBER_API_HOST set to? I would take a look at your settings, if SLUMBER vars are not configured correctly than you may experience hanging builds.

[2015-07-17 22:39] Balooga commented on #1447
Thank you!  I modified the value of SLUMBER_API_HOST to the address of the VM, and now everything works.

[2015-07-17 22:40] #1447 closed

[2015-07-18 04:11] GeminiKLabrie commented on #292
Please someone delete the account GeminiDRSoftware.

[2015-07-19 07:42] titusz opened #1451 "Account inactive"
When I try to login at https://readthedocs.org/accounts/login/ I always get the error: `This account is currently inactive`. I did a successful password reset but I still get the same error at login.

I tried to get help via irc but got no response. My username is **`titusz`**. It would be great if some of the admins could checkout why the account is `inactive` and maybe hit the `active` flag in t

[2015-07-19 12:04] jnmclarty opened #1452 "Latest PDF links to stale file, despite build succeeding"
My pdfs appear to be building fine, however after 12h, it's still serving up a pdf from a few builds ago.  I just forced a new build, and it seems to have built fine, but the pdf from the 18th is still being served.

Project is here: http://trump.readthedocs.org/en/latest/

As soon as it serves a PDF from the 19th, I believe it'll be working.

I'm wondering if it has t odo with the RTD web-server

[2015-07-19 20:33] jnmclarty commented on #1452
Ok, so pressing the "latest" link, will direct you to:

https://cdnmedia.readthedocs.org/pdf/trump/latest/trump.pdf

...but, my hunche was right, it is a web-server caching kind-of problem, because if I hit:

http://media.readthedocs.org/pdf/trump/latest/trump.pdf

I get the correct latest build.  Maybe this stuff gets refreshed nightly or periodically?

[2015-07-20 02:27] JakeGinnivan opened #1453 "Move readme to index rather than copy"
Hey,

I am just getting started using readthedocs and am wondering why the change (see https://github.com/rtfd/readthedocs.org/commit/b1a037066b39b428471604674ed7b2ce68382496) to copy instead of move? I now get both the HOME and README pages when I really just want HOME.

[2015-07-20 08:49] gregmuellegger commented on #1029
@bhanuvrat I assume you get the error `Unknown distribution option: 'install_requires'` because you are using distutils. Please use setuptools instead as recommended by the Python Packaging Authority: https://packaging.python.org/en/latest/current.html#packaging-tool-recommendations

[2015-07-20 08:52] AbdealiJK opened #1454 "Choosing search index summary"
Currently at coala we use the following home page - http://coala.readthedocs.org/en/latest/

Due to this, the default summary provided by google is:
[code]

Is there a way to make search indexes ignore the ascii art ? It'd be nice to be able to choose which section should be indexed by search engines

[2015-07-20 08:57] gregmuellegger commented on #1454
I'm not 100% sure, but I think google is using the `<meta name="description" content="...">` as the summary in the search result if available. You can use the ReST `meta` directive to set it:

[code]

See here for the docs http://docutils.sourceforge.net/docs/ref/rst/directives.html#meta (It's currently offline but will hopefully come back later today)

[2015-07-20 09:04] AbdealiJK commented on #1454
We use mkdocs, and according to mkdocs the equivalent way of adding metadata is:

http://pythonhosted.org/Markdown/extensions/meta_data.html

I'll try this and get back to you :) Thanks

[2015-07-20 09:15] gregmuellegger commented on #1424
I'm fan of 80 chars but it's a higher priority to get the linting in soonish! So :+1: to the plan you have expressed here.

We should open tickets to keep track of long term code quality goals:
- Follow PEP257
- Use <80 line length
- Document required coding styles and coding guidelines
- .. propably more to come ..
- Setting up JS linting (with eslint)

[2015-07-20 09:34] gregmuellegger opened #1455 "Review current code base regarding i18n"
As suggested in #1157 we should walk through the code base and make sure that all relevant strings in Python files, JavaScript files and templates are marked as translatable.

[2015-07-20 10:19] stuaxo commented on #1029
install_requires works on versions of setuptools for a while now.

distutils comes with the standard library.

I think distribute, introduced install_requires, it has since been merged into setuptools for a while now.

[2015-07-20 13:38] weitzhandler opened #1456 "ASP.NET documentation is using RTFD!"
I'm sure you noticed the official ASP.NET documentation team is using your repo to represent their documentation, pointing to it from Visual Studio and the project templates ReadMe file!

Anyway, I thought it would be worth putting it on the "Featured Projects" on RTD homepage.

[2015-07-20 13:57] AbdealiJK commented on #1454
According to the `mkdocs` docs - http://www.mkdocs.org/user-guide/configuration/
What I needed was `site_description` in mkdocs.yml

Thanks !

[2015-07-20 13:57] #1454 closed

[2015-07-20 14:51] gregmuellegger commented on #1017
@rmzelle We have merged a change which might have fixed the problem with you not beeing able to build a staging version. Is this possible for you now?

[2015-07-20 15:00] destroyerofbuilds commented on #1456
http://docs.asp.net/en/latest/

[2015-07-20 15:03] destroyerofbuilds commented on #1068
To everyone who has previously commented on the desire to have GitLab integration with ReadTheDocs, @agjohnson has setup a [GitLab Milestone](https://github.com/rtfd/readthedocs.org/milestones/Gitlab) to track all issues related to adding GitLab support.

We would appreciate your help in developing merge requests to close out the issues, and/or [reviewing merge requests](https://github.com/rtfd/re

[2015-07-20 15:05] rmzelle commented on #1017
I got it to work a while back (https://readthedocs.org/projects/citation-style-language/). Not sure how, but I did switch back and forth between GitHub repos, which might have done the trick.

[2015-07-20 15:11] weitzhandler commented on #1456
@destroyerofbuilds haha oops forgot to include link...
tx

[2015-07-20 15:13] gregmuellegger commented on #1379
We are upgrading to celery 3.1 in the process of #1420
However we won't make go djcelery go away in that. That's still and open issue.

[2015-07-20 15:42] gregmuellegger commented on #1416
I addressed this in #1458

[2015-07-20 15:46] gregmuellegger commented on #1410
I think using UTF-8 in the URL is no good as there are just too many tools that do not properly handle UTF-8. However Wikipedia is doing it. The problem I see is with subdomains that contain project slugs. They definitely will make problems when they contain non-ascii characters.

[2015-07-20 15:48] gregmuellegger commented on #1398
I'm closing this as this will be addressed in Django 1.8 with #1420 Also see my latest comment in #1397

[2015-07-20 15:48] #1398 closed

[2015-07-20 15:58] gregmuellegger commented on #1065
@hwine is this still an issue for you?

[2015-07-20 16:04] gregmuellegger commented on #1056
@ankostis I'm wading through old tickets and discovered that this was never responded to yet. Sorry for this! We updated the matplotlib on the server and some of its configuration lately so I'm wondering if that issue still exists for you and needs further investigation by readthedocs?

[2015-07-20 16:10] gregmuellegger commented on #1001
@ericholscher Has this feature already landed?

@wallrj we implemented PEP 440 support in #1384 that is already live. But I think we do not strip the post version numbers from the slug so far. The problem is that we would run into duplicated slugs then ... If you are still interested in the changes you describe then please open a separate ticket for it so that we can keep track.

[2015-07-20 16:17] jimmyjames commented on #1438
I got it working - this is not an issue with RTD but just user error. Closing issue.

[2015-07-20 16:17] #1438 closed

[2015-07-20 20:11] ericholscher commented on #1017
Great :)

[2015-07-20 20:11] #1017 closed

[2015-07-20 20:14] ericholscher commented on #1424
:+1: as well. Using computers to make me not lazy == <3

On Mon, Jul 20, 2015 at 2:15 AM, Gregor Müllegger <notifications@github.com>
wrote:

--
Eric Holscher
Maker of the internet residing in Portland, Oregon
http://ericholscher.com

[2015-07-20 20:15] ericholscher commented on #1452
Ah, this is likely a bug in our server settings. I'll try and get it
addressed today.

On Sun, Jul 19, 2015 at 1:33 PM, Jeffrey McLarty <notifications@github.com>
wrote:

--
Eric Holscher
Maker of the internet residing in Portland, Oregon
http://ericholscher.com

[2015-07-20 20:50] Balooga opened #1459 "Stale html documentation"
On a fresh install of RTD with a manual import from a HTTP git repository.  RTD generates the documentation the first time, even though the following error is displayed on stdout.

[code]

However subsequent updates to the documentation in git are not reflected.  The build indicates "passed", and in the log I see this;

[code]

[2015-07-20 21:30] destroyerofbuilds commented on #1416
Closed by #1458

[2015-07-20 21:30] #1416 closed

[2015-07-20 22:01] destroyerofbuilds commented on #714
@toffer can you please retest. This no longer seems to be the case.

[2015-07-20 22:33] tillig commented on #1325
We moved our docs from one repo to a different repo. The tags remained the same, but I wanted to make sure everything including the old docs are built from the new repo. Can't remove versions, can't re-point versions to different commits... :(

[2015-07-21 00:17] ericholscher commented on #1195
Believe this should be fixed.

[2015-07-21 00:17] #1195 closed

[2015-07-21 00:24] ericholscher commented on #1239
This is now fixed on our deployment scripts.

[2015-07-21 00:24] #1239 closed

[2015-07-21 07:18] ankostis commented on #1056
Sorry, v cannot provide confirmation any more.
Have switched to using Python-2 for working with matplotlib in rtd.

Feel free to close it.

[2015-07-21 07:28] carltongibson opened #1460 "Help with access to Django Filter"
Hi.

I'm maintaining [Django Filter](https://github.com/alex/django-filter). I need to manage the [RTD project for it](https://readthedocs.org/projects/django-filter/).

Unfortunately, neither I, nor Alex Gaynor — who originally created Django Filter — know [the RTD user who owns the project on RTD](https://readthedocs.org/profiles/jamespacileo/).

My RTD username is `[carltongibson](https://readt

[2015-07-21 07:33] gregmuellegger commented on #1460
Seems legitimate. Carlton has permissions on the alex/django-filter repository.
@ericholscher @agjohnson could you make this happen?

[2015-07-21 07:42] carltongibson commented on #1460
Thanks @gregmuellegger — we can @mention a few people if you need someone known to vouch.

[2015-07-21 10:32] alexjironkin commented on #1068
Hi, I am going to find some time to test this on our Gitlab server and feedback as much as I can. I saw there is #1448, would it be better if I pull down that revision before the merge and test it out, or you would like to merge first?

Also, you may not want this polluting your current development, maybe gilab branch would be good place to merge this code, then others might find it easier to pull

[2015-07-21 10:54] gregmuellegger commented on #995
Seems like this project is no longer on the described github page. @noamg if this is still a problem for you on another project, then please open a new ticket.
@maelstrom59 thanks for trying to help out!

[2015-07-21 10:54] #995 closed

[2015-07-21 11:00] gregmuellegger commented on #913
I would also recommend introducing a Vagrant environment for the readthedocs.org repository. It should be easy for developers to get started with a full setup using Postgres, Celery with Redis and all the other bells and whistles.

It does not need to resemble the production environment in total as this might be to complex. But just being able to test against a similar stack would be very benefici

[2015-07-21 11:04] gregmuellegger commented on #994
We should find out about the maximum path length that we can support and fix this in the code.
@ericholscher Can you remember any of the investigations you did for this?

[2015-07-21 11:11] gregmuellegger commented on #871
When we implement it, we should stick to a generic tag like travis is doing (so that more documentation  platforms could support it), like `[docs skip]` and `[skip docs]`.

[2015-07-21 11:16] gregmuellegger commented on #814
@douglatornell @zaro0508 We are using Sphinx 1.3.1 now on the server. Is this resolved now for you?

[2015-07-21 11:17] gregmuellegger commented on #752
We are working on this as part of the https://github.com/rtfd/readthedocs-build repository. So stay tuned!

[2015-07-21 11:20] gregmuellegger commented on #743
Is this solved for you? It seems that you got help in #681 and fixed it on your own, right? :)

[2015-07-21 11:34] gregmuellegger commented on #327
Closing this issue as we now have #1440 to keep track of the development of "Allow to change project slug".

[2015-07-21 11:35] #327 closed

[2015-07-21 11:39] gregmuellegger commented on #203
Closing this as we have the **Maintainers** tab in the projet's admin panel now.

[2015-07-21 11:39] #203 closed

[2015-07-21 11:43] gregmuellegger commented on #152
@ericholscher What's the current status of this?

[2015-07-21 13:39] gregmuellegger opened #1463 "Add Version Compare information to the RTD Footer Response"
We want to unify the API calls for `/api/v1/<project>/highest/<version>` and `/api/v2/footer_html` in order to reduce the number of API calls.

[2015-07-21 13:41] gregmuellegger commented on #1463
@ericholscher I have a few questions regarding this task.

1. The version comparison call is part of API v1. Shall this be moved into API v2? Do we need to stay backwards compatible?
2. The API calls are made from the `readthedocs/core/static-src/core/js/readthedocs-doc-embed.js` file. I noticed that the API is also called from the `media/javascript/rtd.js` file. Is this file still relevant?

[2015-07-21 16:15] carljm opened #1464 "Build fails without explanation when claiming to pass"
The RTD-hosted docs at http://susydocs.oddbird.net/en/latest/ are not being styled. They are using the default theme. Latest Firefox and Chrome both show two console errors related to RTD CSS assets:

[code]

[code]

(I note that another random project with working styling, http://django-model-utils.readthedocs.org/en/latest/, is using slightly different links for these CSS files -- at `cdnmedia.r

[2015-07-21 16:25] ericholscher commented on #1464
This was a short lived deployment bug that should now be resolved.

On Tue, Jul 21, 2015 at 9:15 AM, Carl Meyer <notifications@github.com>
wrote:

--
Eric Holscher
Maker of the internet residing in Portland, Oregon
http://ericholscher.com

[2015-07-21 16:28] ericholscher commented on #152
It's still an issue, where we use it for our customizations.

On Tue, Jul 21, 2015 at 4:43 AM, Gregor Müllegger <notifications@github.com>
wrote:

--
Eric Holscher
Maker of the internet residing in Portland, Oregon
http://ericholscher.com

[2015-07-21 16:30] ericholscher commented on #1463
We should just move the logic into the footer response. I don't believe we
need to maintain backwards compat, I don't think. It might make sense to
keep the logic seperate, and have an API endpoint for it, but to embed it
in the footer response on doc page load to decrease server requests, but
keep it available.

I believe rtd.js is old -- likely around for docs that haven't been rebuilt
in a long

[2015-07-21 16:46] carljm commented on #1464
Thanks @ericholscher! The lack-of-styling issue does seem to be resolved. Unfortunately the builds still aren't working. I triggered another one, with the same mysterious "Build Standard Error" and "Environment Standard Error" results in the build output (and no changes reflected in the live docs), even though the build claims to be "Passed" in the builds list: https://readthedocs.org/builds/susy/

[2015-07-21 16:56] carljm commented on #1464
For a litmus test of whether a new build has actually been deployed, see the two CSS code blocks at https://github.com/ericam/susy/blob/master/docs/install.rst#bower are missing at http://susydocs.oddbird.net/en/latest/install/#bower

I pushed a fix to the syntax for those code blocks this morning, and they render correctly locally. I've manually triggered several builds since then which claim to

[2015-07-21 17:13] ericholscher commented on #1395
UserString isn't defined in our project at all. Do your docs build locally?

[2015-07-21 18:16] svisser commented on #743
It's been a while but looking at the current source code it seems the values are still computed [here][1] and they get appended to the user's configuration [here][2]. So the original use case of having Github account details but then setting `display_github` to `False` doesn't seem possible.

If that's correct, I think there should be a way of overriding the template context variables after both l

[2015-07-21 18:47] modulec commented on #1464
I've just installed the new instance from latest commit. From what I see
this folder

/home/docs/checkouts/readthedocs.org/user_builds/[project-name]/rtd-builds/
is never created even though builds are passing in status output.

Perhaps you your styles issue is related to this. Will try to find any additional informations.

[2015-07-21 18:54] carljm commented on #1464
@modulec Thanks for looking into it! To be clear, the styles issue seems to be unrelated (an RTD deployment issue), and is now fixed. The only remaining issue is that builds are claiming to pass but not actually updating the docs.

[2015-07-21 18:55] agjohnson commented on #1464
@carljm @modulec The missing stylesheet was an unrelated issue to build output not showing up on our web servers. The web syncing queue was backed up, causing built html to not show up on the web servers.

[2015-07-21 18:55] ericholscher commented on #1464
This was an issue with our doc syncing queues being backed up. I believe it
should be resolved now as well.

On Tue, Jul 21, 2015 at 11:54 AM, Carl Meyer <notifications@github.com>
wrote:

--
Eric Holscher
Maker of the internet residing in Portland, Oregon
http://ericholscher.com

[2015-07-21 19:05] carljm commented on #1464
Just pushed a new commit, and the build did indeed update the markup. But now the styling is gone again, with this error in FF console:

[code]

It's now using the `cdnmedia` url instead of the `media` url it was using before, but now that URL isn't sending the correct mime type either. It seems styling is now broken on other projects too, e.g. http://django-model-utils.readthedocs.org/en/latest/

[2015-07-21 19:07] ericholscher commented on #1464
Yea, that was likely a bad CDN cache. I've cleared that cache as well, so
hopefully it should be actually fixed now. We had 1 web server that didn't
get the proper patch applied, which likely caused a few bad CDN cached
files.

On Tue, Jul 21, 2015 at 12:05 PM, Carl Meyer <notifications@github.com>
wrote:

--
Eric Holscher
Maker of the internet residing in Portland, Oregon
http://ericholscher.com

[2015-07-21 19:08] carljm commented on #1464
Confirmed that everything is working well now!

Much much gratitude to everyone who works on RTD. You all are awesome!

[2015-07-21 19:08] #1464 closed

[2015-07-21 19:45] bendk commented on #1395
I thought they did, but now that I check they don't anymore.

After testing it a bunch, I realize the issue has to do with six.moves.  I'm not sure why, but somehow one of our dependencies changes that.  It seems like it has to do with raven and/or haystack, but I'm not sure which.  At this point, I guess it's more on us than you and we should close this ticket.

[2015-07-21 19:45] #1395 closed

[2015-07-21 22:25] jmcanterafonseca opened #1468 "build passes but documentation is not published"
Hello,

The build in question is:

https://readthedocs.org/builds/fiware-cloto/3126899/

It passes but

https://fiware-cloto.readthedocs.org

displays an NGINX not found page

However documentation has been generated as .zip in the downloads page

https://readthedocs.org/projects/fiware-cloto/downloads/

Any help would be appreciated

thanks

[2015-07-21 22:30] ericholscher commented on #1468
You don't have an index.html file, which is what the HTTP server will
default to serving.

On Tue, Jul 21, 2015 at 3:25 PM, Jose M. Cantera <notifications@github.com>
wrote:

--
Eric Holscher
Maker of the internet residing in Portland, Oregon
http://ericholscher.com

[2015-07-21 22:31] ericholscher commented on #1468
Upon further inspection, it looks like we had a README.html as an available
index file. We've added README/index.html, which will support README files
for the dirhtml sphinx backend, which I believe is what was breaking here.

On Tue, Jul 21, 2015 at 3:30 PM, Eric Holscher <eric@ericholscher.com>
wrote:

--
Eric Holscher
Maker of the internet residing in Portland, Oregon
http://ericholscher.com

[2015-07-22 03:03] KathleenLabrie opened #1470 "Deleting ownerless project"
Since there are no other 'contact us'-like avenue, I will post my question here.

A while ago I created a project pointing to a URL on my machine behind a firewall.  The project is now ownerless, yet I know it's mine.  I would like to delete but since I'm not assigned as an owner, I can't delete it.   The dead project is 'gemini_python', at https://readthedocs.org/projects/gemini-python/

I just w

[2015-07-22 03:28] agjohnson opened #1471 "Respond to linting errors and enable CI linting"
With #1450, we will be getting back to performing linting on contributed code. Because we haven't been linting code for a while, there are a lot of outstanding issues that need to be resolved before we can start using linting as a metric for code quality.

The ultimate goal of this ticket is to ensure that we can run automated linting via Travis, against all applications except `projects/` and `bu

[2015-07-22 03:29] agjohnson opened #1472 "Clean up linting errors in projects"
Once #1471 has addressed linting errors in lesser applications, clean up the `projects/` path.

refs #1424

[2015-07-22 03:30] agjohnson opened #1473 "Clean up linting errors in builds"
Once #1471 addresses linting errors in lesser projects, clean up linting errors in the `builds/` path.

Refs #1424

[2015-07-22 03:38] agjohnson opened #1474 "Clean up docstrings to PEP257 specs and enable CI linting with pep257"
Once #1471 addresses initial linting errors, we will continue linting clean up by targetting errors produced by pep257 linting. Similar to #1471, address docstring cleanup efforts in small chunks, which will be easier to merge into other work and will not create broad changes that are difficult to merge. This will encourage the clean up effort to be quick, and will not block other work.

Work addr

[2015-07-22 03:41] agjohnson opened #1475 "Document code style guidelines"
As discussed in #1424, we will want to decide on and document style guidelines for Python, JavaScript, and CSS. This ticket will be a place we can discuss changes before putting together any pull requests.

[2015-07-22 03:47] agjohnson opened #1476 "Add JavaScript linting with eslint"
This will be a sizeable amount of work, as our javascript code is not formalized currently. Once we have some standards in place, it would be good to get linting running on our javascript code. eslint is a good candidate here.

We will need to decide on what to test -- that is, a lot of javascript is inlined in templates and it would make a good deal of sense to break that out into proper files. T

[2015-07-22 03:50] agjohnson opened #1477 "Raise strictness of linting"
Once #1471, #1472, and #1473 are in place and we feel comfortable with the linting process, we should improve linting further by making the ruleset more strict. This can be managed by Prospector and some tuning of pylint rules, but increasing the strictness profile with Prospector. Additionally, we should consider enforcing stricter rules on line length, as discussed in #1424.

[2015-07-22 03:51] agjohnson commented on #1477
Blocking for now, revisit this later.

[2015-07-22 03:51] agjohnson commented on #1476
Blocking this for now, we will want to address other linting issues before this.

[2015-07-22 04:01] agjohnson commented on #1424
Okay, addressed a lot of the additional clean up work with some ticket that will follow #1450 and #1471.

Closing discussion here, thanks @sigmavirus24 and @carlio for dropping some knowledge!

[2015-07-22 04:01] #1424 closed

[2015-07-22 08:25] jmcanterafonseca commented on #1468
@ericholscher many thanks for the prompt response!

Now the README and the table of contents is being generated perfectly but the links point to nowhere.

http://fiware-cloto.readthedocs.org/en/develop/

I've been reading the config.py documentation but no idea what could be wrong

Could you help with that?

thanks

[2015-07-22 08:29] tormi opened #1478 "Missing "Edit on GitHub" link in markdown-based projects"
"Edit on GitHub" link is missing in markdown-based docs, see http://infohaldus.readthedocs.org/et/latest/ for example ([source](https://github.com/kinnisvara/infohaldus/)).

[2015-07-22 08:59] jmcanterafonseca opened #1479 "docs_dir: . is it supported?"
Hi,

I would like to have the repository root as the doc_dir base. So I have configured

https://github.com/jmcanterafonseca/fiware-orion/blob/develop/mkdocs.yml

The rationale for doing so is that my README.md file has links to the other documents as well and I would like to have such a README as the home page of my doc.

Unfortunately even though the build process finishes successfully the resul

[2015-07-22 09:19] shravantc opened #1480 "Documentation version selection broken with Mkdocs"
If we switch versions from the options to release-3.7.0-1 on http://gluster.readthedocs.org/en/latest/
the resultant URL gets appended with "None" as in http://gluster.readthedocs.org/en/release-3.7.0-1/None/

also from any page, we cannot view the different versions of the documents, what I observed is the URL fired is mis matching the directory.

![image](https://cloud.githubusercontent.com/asse

[2015-07-22 10:56] d0ugal commented on #1479
I see you have `docs_dir: ./` - can you try `.` and remove the slash?

[2015-07-22 10:58] d0ugal commented on #1480
For some reason it is adding a None to the end of the url. I am not sure why. I guess there is an issue getting the current path?

[2015-07-22 11:00] d0ugal commented on #1480
Yeah, so this line isn't working for some reason: https://github.com/mkdocs/mkdocs/blob/master/mkdocs/themes/readthedocs/base.html#L29

[2015-07-22 11:02] d0ugal commented on #1480
and actually, page title isn't the right thing to put there. We should be putting the URL. You can see it being used incorrectly when you change the version here: http://gluster.readthedocs.org/en/latest/Quick-Start-Guide/Terminologies/

[2015-07-22 11:09] d0ugal commented on #1478
This needs to be added in MkDocs itself. https://github.com/mkdocs/mkdocs/issues/269

[2015-07-22 11:09] #1478 closed

[2015-07-22 11:10] jmcanterafonseca commented on #1479
I've tried without the slash and the same happens

2015-07-22 12:56 GMT+02:00 Dougal Matthews <notifications@github.com>:

[2015-07-22 11:13] d0ugal commented on #1479
I'm not sure, I built this locally with MkDocs and it worked fine. The issue is somewhere in the ReadTheDocs integration code.

[2015-07-22 11:19] tormi commented on #1478
Thanks.

[2015-07-22 11:37] jmcanterafonseca commented on #1479
yes as per my investigations it seems that the paths to the CSS is not set
properly on the pages

2015-07-22 13:13 GMT+02:00 Dougal Matthews <notifications@github.com>:

[2015-07-22 12:54] deyhle opened #1481 "svg files trigger 404 if external domain is used (CNAME)"
I have a svg image in my docs, which works fine on readthedocs directly:

http://entrecode.readthedocs.org/en/latest/img/statediagram.svg

However, using a CNAME redirection, the request fails and triggers a 404:

http://rtdtest.entrecode.de/en/latest/img/statediagram.svg

The DNS entry is correct:

[code]

So it is probably an issue with the server configuration at readthedocs.org.

[2015-07-22 14:41] telemachus commented on #1479
I'm seeing this as well: http://split.readthedocs.org/en/latest.

Also for what it's worth, if I didn't add `docs_dir` to the configuration file, then `./README.md` was ignored. My understanding was that it would be checked as a fallback (after looking in `./doc`). Is that wrong?

[2015-07-22 21:55] hashar commented on #814
I triggered a build https://readthedocs.org/builds/jenkins-job-builder/3131982/

It fails because sphinx is apparently not run in the venv that has all the requirements.

    File "conf.py", line 54, in <module>   # That is Sphinx config file
        from jenkins_jobs.version import version_info as jenkins_jobs_version
       from pbr.version import VersionInfo
       jenkins_jobs/version.py", lin

[2015-07-23 02:22] agjohnson commented on #1068
@alexjironkin We won't merge PRs into master until they are ready for production. Feel free to target the PR branch.

[2015-07-23 15:42] hwine commented on #1065
It would be great if alternate character sets were supported, but sufficient if PDF failures are at least reported. At the time I commented, I thought I also opened an issue about non-html formatting failures, but I can't find that at the moment.
Like @gerv, I also modified my source to remove the unsupported characters.

[2015-07-24 09:35] gregmuellegger commented on #1402
Closing this as I assume it was fixed. @IvanMalison feel free to open a new ticket if it's still an issue for you.

[2015-07-24 09:35] #1402 closed

[2015-07-24 11:33] gregmuellegger opened #1483 "Edit on GitHub link is broken for Markdown files in Sphinx projects"
Here is an example: http://docs.readthedocs.org/en/latest/changelog.html

The changelog source is in `changelog.md` but the link goes to `https://github.com/rtfd/readthedocs.org/blob/master/docs/changelog.rst`.

[2015-07-24 11:34] gregmuellegger commented on #1100
Fixed with the merge of #1420.

[2015-07-24 11:34] #1100 closed

[2015-07-24 11:34] gregmuellegger commented on #1099
Fixed with the merge of #1420.

[2015-07-24 11:34] #1099 closed

[2015-07-24 11:34] gregmuellegger commented on #1098
Fixed with the merge of #1420.

[2015-07-24 11:34] #1098 closed

[2015-07-24 12:03] gregmuellegger commented on #814
I think the reason for this is that you specified `-rrequirements.txt -rtest-requirements.txt` as your requirements file. You can find the following line in the build logs: `Could not open requirements file: [Errno 2] No such file or directory: '-rrequirements.txt'`

Please only provide the filename here. No pip options are allowed there. So if you need multiple files with requirements installed,

[2015-07-24 12:18] IvanMalison commented on #1402
Yep. Things look good!

[2015-07-24 15:20] zaro0508 commented on #814
I've stated my use case for passing in multiple requirements files in issue https://github.com/rtfd/readthedocs.org/issues/1112 so I'm not sure why ericholscher shot down the idea.  Anyways I guess the root of the problem is that passing multiple requirements files will not be supported

[2015-07-24 16:08] waveform80 commented on #1161
Seeing the same thing on builds of my docs in the past couple of minutes: https://readthedocs.org/builds/compoundpi/3148272/

[2015-07-24 16:43] jakirkham commented on #857
+1 for `conda` support.

[2015-07-25 07:10] jerel opened #1485 "When using CommonMarkParser code blocks do not get code highlighting"
Example:

[code]
renders as `<pre class="literal-block"></pre>` with no code styling classes applied.

![highlighting](https://cloud.githubusercontent.com/assets/322706/8888409/d891e61a-3271-11e5-90fb-87c8d479e38a.png)

[2015-07-25 16:18] ericholscher commented on #1483
This is a Sphinx bug. I pushed a patch into Sphinx that fixes it, and gives us the proper source_suffix in the template context, we just need to make sure we are respecting it.

https://github.com/sphinx-doc/sphinx/pull/1876

[2015-07-25 16:35] jmcanterafonseca opened #1487 "Search is not working"
hello,

If I try to search for something under my project http://fiware-orion.readthedocs.org nothing is found regardless the word I enter. Should I do anything to enable search for my project?

thanks

[2015-07-25 16:40] jmcanterafonseca opened #1488 "Links to the individual subdocuments in the TOC are not working"
hello,

In this project http://fiware-cloto.readthedocs.org/en/develop/ linked to
https://github.com/jmcanterafonseca/fiware-cloto none of the links in the TOC are working. Any idea?

Thanks in advance

[2015-07-27 07:39] gregmuellegger commented on #1284
Closing this as I assume that it's fixed. Feel free to open a new ticket if this is still an issue for you.

[2015-07-27 07:39] #1284 closed

[2015-07-27 07:59] gregmuellegger commented on #1485
`CommonMark` seems to do the right thing:

[code]

But you are referencing python code in the ticket description and show JSON output in the screenshot. Could you give us a link to the page where the rendering breaks for you?

[2015-07-27 08:02] gregmuellegger commented on #1487
I think the search should work out of the box. So it's not your fault :) We need to investigate this.

[2015-07-27 08:10] gregmuellegger commented on #1488
Hm, the branch name is not included in the link URL ... So the doc is linking to
http://fiware-cloto.readthedocs.org/en/doc/admin_guide/ instead of
http://fiware-cloto.readthedocs.org/en/develop/doc/admin_guide/

We need to investigate here.

[2015-07-27 08:18] gregmuellegger commented on #814
@zaro0508 The pattern I see in projects evolving is that you have one requirements file for every usecase and then use composition to bring in the exact packages you need.

**requirements/_base.txt**
[code]

**requirements/development.txt**
[code]

**requirements/deploy.txt**
[code]

**requirements/docs.txt**
[code]

**requirements/tests.txt**
[code]

Ofcourse it's a matter of taste but we decided

[2015-07-27 08:35] gregmuellegger commented on #1488
When beeing on a deep link, then the TOC is working. https://fiware-cloto.readthedocs.org/en/develop/doc/architecture/

I think the issue could be related to the Sphinx-HTMLDir Builder. The README.rst that lives in the top-level of the project will be served when accessing `/en/develop` but it's actual path in the filesystem is `README/index.html`. So it links one directory up to get the actual do

[2015-07-27 08:37] gregmuellegger commented on #1161
@waveform80 I think the problem went away again. Your builds should work fine again.

[2015-07-27 08:51] #1056 closed

[2015-07-27 08:59] paugier opened #1489 "Can not upgrade Ipython version"
Hello,

I try to use readthedocs for a documentation (http://fluidlab.readthedocs.org/en/latest/) which contains some ipython notebooks which need to be converted to rst. With Ipython 1.2.1, the notebooks can not be converted and I got the error:

    NBFormatError: Unsupported JSON nbformat version 4 (supported version: 3)

I would have to upgrade to a more recent version of Ipython but I do not

[2015-07-27 08:59] gregmuellegger commented on #1459
You get this error when running a standalone installation of RTD, right? Seems a bit like your Redis setup is not running, but I'm not 100% sure based on the message.

We cannot support custom RTD installations because of resouce constraints, but I'm marking this ticket as community effort to allow anyone who wants to help out to help here.

[2015-07-27 09:05] gregmuellegger commented on #1489
Hi, could you give us an idea about what the project is called on RTD you have troubles with? Cheers :)
:balloon:

[2015-07-27 09:12] paugier commented on #1489
Yes, I'm trying RTD with this project:

http://fluidlab.readthedocs.org/en/latest/

[2015-07-27 09:27] gregmuellegger commented on #1489
Seems like we have `ipython` installed on the servers, but it shouldn't interfere with the builds ... I cannot find any reference to `ipython` in the readthedocs.org code base.

@paugier I don't know the `ipython[notebook]` notation. Is there something special about the brackets? I cannot find a reference on what this does at first try. Could you quickly describe it?

[2015-07-27 09:30] waveform80 commented on #1161
Yup, looking good again :)

[2015-07-27 10:11] paugier commented on #1489
Yes python 1.2.1 is installed on the servers. And if a project use a virtualenv with the option "Give the virtual environment access to the global site-packages dir." (for example to get numpy, scipy, matplotlib...), it does not seem possible to upgrade Ipython to a more recent version in the virtualenv.

So the issue is really about the version of Ipython installed on the servers and the fact tha

[2015-07-27 10:20] paugier commented on #1489
To be clear, `ipython nbconvert` is called in the file conf.py of the project and not in the readthedocs.org code base.

I know it is not common to do this but it seems to me that using Ipython notebooks converted to rst during the build is quite convenient.

[2015-07-27 14:43] gregmuellegger commented on #1463
@ericholscher What's your take on this?

[2015-07-27 15:41] jerel commented on #1485
Sure, here is a link to the docs page http://django-rest-framework-json-api.readthedocs.org/en/latest/usage.html#configuration I suppose CommonMark is doing what it is supposed to do but its output differs from the `rst` code blocks so there's no highlighting style in the readthedocs.org theme.

Also note that the `Edit on Github` button on the page I linked to has `.rst` hardcoded so returns a 40

[2015-07-27 15:42] gregmuellegger opened #1490 "Problems with new gulp build system"
While working on #1417 and merging the current master I found these problems with the gulp buildsystem. When running `gulp build` I get:

[code]

However `PYTHONPATH=readthedocs DJANGO_SETTINGS_MODULE=settings.sqlite gulp build` works. Is this expected?

Also the `gulp dev` doesn't work. I get this (both when run from top-level or from within `readthedocs/`):

[code]

The reason is propably that g

[2015-07-27 15:47] gregmuellegger commented on #1463
Sorry ignore my comment. Your take on the rtd.js was hidden in the github UI because it thought it was part of the quoted email text...

[2015-07-27 16:45] ericholscher commented on #1488
Ah, that was me trying to be clever, but I can remove the README/index.html
as an 'index page' in nginx.

On Mon, Jul 27, 2015 at 1:35 AM, Gregor Müllegger <notifications@github.com>
wrote:

--
Eric Holscher
Maker of the internet residing in Portland, Oregon
http://ericholscher.com

[2015-07-27 16:50] ericholscher commented on #1485
Support for this was just merged into our upstream, and should be pushed to
RTD with a new release of recommonmark:
https://github.com/ericholscher/recommonmark/pull/1

On Mon, Jul 27, 2015 at 8:41 AM, Jerel Unruh <notifications@github.com>
wrote:

--
Eric Holscher
Maker of the internet residing in Portland, Oregon
http://ericholscher.com

[2015-07-27 18:00] agjohnson commented on #1490
So two issues here. I missed the second `manage.py` script, which i intended to be `django-admin.py`. The second issue is that I assumed other had their env configured like mine was :). If you don't set the default settings module and a pythonpath, `django-admin` is likely to fail like this ^.

After some discussion, we figure we should probably continue using manage.py for development purposes, u

[2015-07-27 21:44] gregmuellegger commented on #1490
Awesome! #1491 fixed this for me. :beers: cheers!

[2015-07-27 21:44] #1490 closed

[2015-07-28 10:54] mightyiam opened #1493 "Version-agnostic docs and their handling"
Hi and thank you for rtfd.

I've a question about page redirects and how I can get the right kind of setup I want.

Also, a more general question about documentation arises from this (or the other way around).

I'll start with the general question.

I've found a certain quality that some versioned software documentation pages have.
This quality is being version-specific.

Some pages are version-sp

[2015-07-28 11:12] hamogu opened #1494 "Version mismatch in matplotlib?"
This issue appeared for me in the project "marx.readthedocs.org". The sphinx docs contain a plot directive
[code]
which should include the following matplotlib plot:
[code]
This builds without warnings locally using matplotlib 1.4.3.
However, it fails on readthedocs, even though I require the exact same matplotlib version there.
[code]

An example is this build: https://readthedocs.org/builds/marx

[2015-07-28 13:07] hashar commented on #814
We went with docs-requirements.txt .  I have updated the readthedocs.org project to use it and sphinx-programoutput got installed properly.

[2015-07-28 15:38] ericholscher commented on #814
Great :fireworks:

[2015-07-28 15:38] #814 closed

[2015-07-28 17:06] jonafato commented on #1459
It looks like both redis and elasticsearch are unreachable based on the errors shown here. Do you have both of these running on localhost on the default ports?

[2015-07-28 17:36] ericholscher commented on #1493
Fabric did this in an interesting way with:

http://www.fabfile.org/ - as the "versionless" docs
http://docs.fabfile.org/en/1.10/ - as the "versioned" docs

I believe they are different repos, and interlink.

[2015-07-28 17:51] ericholscher commented on #1460
Should have access now.

[2015-07-28 17:51] #1460 closed

[2015-07-28 18:19] mightyiam commented on #1493
@ericholscher I appreciate your response.

It seems that indeed they have solved it in some way.

The two documentations are in the same repo.
* [the wwww](https://github.com/fabric/fabric/blob/master/sites/www/index.rst)
* [the docs](https://github.com/fabric/fabric/blob/master/sites/docs/index.rst)

The www is built from master and the docs are built from each version, I am assuming.

That is a

[2015-07-28 18:21] mightyiam commented on #1493
I'm thinking perhaps if there's a custom redirects feature, this can be quite easy. Just redirect all the versionless pages to the latest version. But then the reader may find himself on a different version and not knowing why. Or worse, now realizing that he's on a different version than what he was in just a moment ago.

[2015-07-28 18:21] ericholscher commented on #1493
Fabric is using Read the Docs for their documentation, so yes it's possible
:)

On Tue, Jul 28, 2015 at 11:19 AM, Shahar Or <notifications@github.com>
wrote:

--
Eric Holscher
Maker of the internet residing in Portland, Oregon
http://ericholscher.com

[2015-07-28 18:44] ericholscher commented on #1453
Hmm, not sure. I believe there was an issue with moving them, but I don't remember what it was. We can likely support that.

[2015-07-28 18:45] #1453 closed

[2015-07-28 18:46] ericholscher commented on #1391
Agreed. Feel free to send a PR that makes this change, along with a comment explaining it (perhaps pointing to this issue)

[2015-07-28 22:54] JakeGinnivan commented on #1453
Suppose you will now find out the other way what the issue is :) Thanks, it is a minor thing but I like being able to browse both the docs folder on github and readthedocs. Having the index called readme makes that nicer

[2015-07-29 00:14] slaneyrw opened #1497 "modernizr is being requested relative to the page, not the site"
I have noticed this on my local sphinx build, but also on some RTD hosted ( ie docs.asp.net ).

The layout.html page has a link...

    <script src="_static/js/modernizr.min.js"></script>

This link is relative to the current page, so if you are creating folders in your documentation then the path to the modernizr file will move as well.

Example:

http://docs.asp.net/en/latest/getting-started/ins

[2015-07-29 00:23] slaneyrw commented on #1497
I changed my local sphinx template to use

    <script src="{{ pathto('_static/js/modernizr.min.js', 1) }}"></script>

It appears to work in my *limited* testing.

[2015-07-29 09:28] paugier commented on #1489
Why this issue is still tagged "Needed: more information" ? Which information should I give ?

[2015-07-29 11:46] jmcanterafonseca commented on #1488
@ericholscher with the index.rst addition (including README.rst) now it
worked!

thanks!

2015-07-27 18:45 GMT+02:00 Eric Holscher <notifications@github.com>:

[2015-07-29 16:21] jmcanterafonseca commented on #1487
hello guys,

Any idea on how to fix this?

thanks!

2015-07-27 10:02 GMT+02:00 Gregor Müllegger <notifications@github.com>:

[2015-07-30 04:24] hannorein opened #1498 "Support iPython nbconvert"
I'd like to include iPython notebooks in my sphinx documentation. To do that, I can locally just run `ipython nbconvert -to rst` to [produce](http://ipython.org/ipython-doc/1/interactive/nbconvert.html) nicely formatted rst files.

Unfortunately, readthedocs does currently not have the required packages installed (such as pygments) to do the conversion. Is there any chance `ipython nbconvert` can

[2015-07-30 04:33] hannorein commented on #1489
I just saw this issue (I filed a similar one an hour ago). I also want to use `ipython nbconvert` to convert my ipython examples to rst and then include them in the documentation. I can't seem to figure out how to do this on the build servers.

[2015-07-30 12:16] gregmuellegger commented on #1489
@paugier could you provide us with a link to the project you are having problems with?

[2015-07-30 12:17] gregmuellegger commented on #1489
Related: #1498

[2015-07-30 12:21] gregmuellegger commented on #1487
@ericholscher @agjohnson any ideas?

[2015-07-30 12:23] gregmuellegger commented on #1488
@jmcanterafonseca cool! glad to hear :)
@ericholscher what action do we need to take to fix that?

[2015-07-30 12:41] gregmuellegger commented on #1497
Seems valid and is already fixed in the sphinx_rtd_theme repository. We should update the theme in RTD to fix this issue. I've created #1500 for this.

[2015-07-30 12:44] gregmuellegger opened #1501 "Use sphinx_rtd_theme directly instead of vendoring it"
Are there any reasons why the sphinx rtd theme is copied into the RTD code base instead of referenced as dependency?

There were bugs like #1497 that would not have been raised if the theme would have been up to date.

[2015-07-30 13:02] gregmuellegger commented on #1494
I'm not 100% sure but I think we are using the 1.3.1 version of `python-matplotlib` on the server. We are using the ubuntu distribution of this as we do not want to maintain a self-compiled package.

Is it possible so that you make the code compatible with 1.3.x of matplotlib?

[2015-07-30 13:19] gregmuellegger commented on #1485
That commit fixed it https://github.com/rtfd/recommonmark/commit/4005ba5f2f19112fa1469b748d48a3a4ec01822f
@ericholscher when will a new release happen?

[2015-07-30 13:33] hamogu commented on #1494
I'll try rewriting my matplotlib code (but not right now,  because there are currently other issues in that repository that I'll need to resolve, but don't have time to look at right now).

However, if you use version 1.3.1, why does the build log claim that 1.4.3 is installed?
[code]

[2015-07-30 13:34] hamogu commented on #1494
(That's why I chose "Version mismatch in matplotlib?" as the title for this issue). It looks to me that the version of matplotlib that is used and the one that is listed in the build log are not the same.

[2015-07-30 13:54] gregmuellegger commented on #1494
Oh, ok. I assume someone with more matplotlib/server experience needs to have a look. @ericholscher maybe? :)

[2015-07-30 13:59] hamogu commented on #1494
Please note: I've just removed the line "matplotlib>=1.4.3" from
readthedocs-pip-requirements (no point wasting extra time in the build
if it does not do what it's supposed to anyway), so you won't see the
problem any longer in new builds, but it's of course still present in
any of the older builds.

[2015-07-30 14:27] gregmuellegger commented on #1483
I reviewed the code and I think we are passing `source_suffix` through from the build to the API to the function that builds the github URL. So we should be good, but we now need to wait for a new Sphinx release :(

[2015-07-30 15:23] hannorein commented on #1489
Thank you! Very much appreciated!

[2015-07-30 16:50] #1497 closed

[2015-07-30 16:51] ericholscher commented on #1501
ha, read my mind :)

[2015-07-30 18:25] #1463 closed

[2015-07-30 18:30] ericholscher opened #1504 "Solve CNAME Javascript interactions w/ the API"
## Description

Currently we don't really support any kind of writing via the API from CNAME'd websites. This is mainly because of the cross domain requirements inside the browser. We've done some basic work w/ CORS to look into supporting this, but there are some security implications we need to think through before we turn on any kind of real access.
## Proposed Solution

We now have Domain obje

[2015-07-30 20:41] ericholscher opened #1505 "Track modified date of all files"
This refs the work in #1390 -- we are slowly learning more about each of the files that we're hosting, so we should be tracking the modified date as well.

This will allow interesting features, like "freshness" UI around each page or section.

[2015-07-30 22:17] ericholscher commented on #1485
Just released 0.2.0 of recommonmark and updated our dep. It will be resolved with next deploy.

[2015-07-30 22:17] #1485 closed

[2015-07-31 00:37] Balooga commented on #1459
Negative on both counts.  I shall attempt to fix.

[2015-07-31 00:45] Balooga opened #1508 "./manage.py migrate"
Just noticed that "./manage.py migrate" no longer works.

In https://docs.readthedocs.org/en/latest/install.html, the instructions state to;

    cd readthedocs
    ./manage.py migrate

However "manage.py" is in the "readthedocs.org" folder, not the "readthedocs.org/readthedocs" folder.

And running "./manage.py migrate" in "readthedocs.org" returns the following;

[code]

[2015-07-31 01:50] destroyerofbuilds commented on #1508
I'm encountering the same issue while upgrading to 1075845fc69191cc19a26beb30a84fdfaff8a20e from the previous master branch commit.

I attempted to run the steps listed under _Deployment Note_ from pull request #1420

I'm still looking into this issue.

[2015-07-31 06:33] gregmuellegger commented on #1508
Can you please try to remove all the `.pyc` files and `__pycache__` directories if there are any. I usually use this command:
`find . -name \*.pyc -delete ; find . -name __pycache__ -delete`

We had a bigger restructure merged into master which touched nearly every python file. So if the cached ones are stale, you might end up in that situation.

[2015-07-31 09:51] gregmuellegger opened #1511 "Upgrade global ipython on servers to at least 3.x"
Hi, we have a few issues (#1498 #1489) that are related to the out-dated system wide ipython. This should usually not interfere with the builds. However pip is refusing to upgrade ipython in the build environments when the virtualenv was instantiated with the `--system-site-packages` that can be set in the RTD project admin.

The output then looks like this if `ipython>=3.0.0` was referenced in th

[2015-07-31 09:53] gregmuellegger commented on #1498
You can require `ipython[notebook]>=3.0.0` in your project's requirements.txt file. However we currently have a issue that this won't work if your project uses the system site packages as well ... follow #1511 for this.

[2015-07-31 09:55] gregmuellegger commented on #1498
I'm closing this as I think it's either resolved by the comment above (when you don't use the system site packages) or is a duplicate of #1489 when you are using the system site packages :)

Feel free to comment in one of the other issues, or here if you think it's still a separate issue.

[2015-07-31 09:55] #1498 closed

[2015-07-31 10:00] gregmuellegger commented on #1497
That's fixed an will be live with the next deploy

[2015-07-31 10:45] gregmuellegger opened #1512 "build_files managment command is broken"
The management command cannot work since it's calling `project.tasks.fileify` without the `commit` argument:

The `commit` argument was added in Oct 2014 to the function: https://github.com/rtfd/readthedocs.org/blob/291d7d61e626c1dfb998d9e5d4e5b734a44a7024/readthedocs/projects/tasks.py#L704

That means the management command is broken since then. Is the command still in active use? We can either f

[2015-07-31 11:26] gregmuellegger opened #1515 "Bug in core.views.queue_info, is it used anymore?"
The code in `core.views.queue_info` contains this:

[code]
So it has a typo in `kwrags`. That means the third line of the example won't pick up the correct variable. It might still succeed without a `NameError` as it might be already initialized by another for loop above in the same function.

See https://github.com/rtfd/readthedocs.org/blob/291d7d61e626c1dfb998d9e5d4e5b734a44a7024/readthedocs/cor

[2015-07-31 13:37] jerel commented on #1485
Thanks so much guys. It looks very nice now with markdown

[2015-07-31 15:17] kermit666 opened #1520 "Social Network Login Failure"
When clicking on connect GitHub on the [social accounts page](https://readthedocs.org/accounts/social/connections/?) I get a message:

There's a `?` in the url. Could that be a hint? Is it missing some request arguments? If I omit it, the bug persists.

Cheers!

[2015-07-31 15:36] ericholscher commented on #1515
It was mainly used for debugging celery, but we now have real monitoring
for it, so it can likely be deleted.

On Fri, Jul 31, 2015 at 4:26 AM, Gregor Müllegger <notifications@github.com>
wrote:

--
Eric Holscher
Maker of the internet residing in Portland, Oregon
http://ericholscher.com

[2015-07-31 15:43] #1122 closed

[2015-07-31 15:46] ericholscher commented on #1512
We don't actively use it, but it was created to help populate things if your data gets out of sync. We can probably safely remove it for now, but we should implement a way to do a full "finish build" on all projects to enable us to reindex everything that happens after a build, in case we get out of sync in the future.

[2015-07-31 15:54] gregmuellegger commented on #1473
See #1522

[2015-07-31 15:54] gregmuellegger commented on #1472
See #1522

[2015-07-31 15:54] gregmuellegger commented on #1471
See #1522

[2015-07-31 18:10] agjohnson commented on #1501
I have a refactor that i'd like in v0.1.9 of the theme which will allow us to use it as a bower dependency

[2015-07-31 20:44] gossi commented on #1341
Thanks. Since I'm not an admin of the "manual" project. Could you delete it for me?

[2015-07-31 21:15] ericholscher opened #1526 "Audit management commands"
Refs #1524

We have a bunch of random management commands that have been written over time. I don't think any of them are tested, and most are just wrapped around util functions, or old dead code. We should think through what we actually need to ship with, make them work, document them, and kill the rest.

[2015-07-31 22:21] aventurella commented on #1520
I am having the same issue.

[2015-07-31 23:08] kermit666 commented on #1520
As a workaround, I managed to manually import a GitHub repository by entering the repo url and adding Read The Docs as a service to notify of new commits in the repo's settings on GitHub. Explained [here](https://read-the-docs.readthedocs.org/en/latest/webhooks.html).

[2015-08-01 23:29] aventurella commented on #1520
This is the Error in the URL:
[code]

[2015-08-02 00:17] aventurella commented on #1520
More info.. It looks like it has to do with how `allauth`  is doing it's job:

https://github.com/pennersr/django-allauth/blob/8efc7e5ebb3326d467248de3350853407e3fc73b/allauth/account/app_settings.py#L42-L44

[code]

where `self._setting` is:

[code]

So my guess now is all the production app at `https://readthedocs.org` has to do to fix this issue is to set `DEFAULT_HTTP_PROTOCOL` in the django a

[2015-08-02 03:35] dogweather commented on #1435
Came here to report this as well. Here's an example:

![screenshot 2015-08-01 20 22 16](https://cloud.githubusercontent.com/assets/150670/9024597/bd8e7d1c-388c-11e5-9d7a-34de419a7e00.png)

![screenshot 2015-08-01 20 22 09](https://cloud.githubusercontent.com/assets/150670/9024598/caf1011e-388c-11e5-9f33-c1579a9c0e07.png)

[2015-08-02 06:04] tqchen opened #1527 "Cannot use a customized markdown parser in sphinx"
I tried to use my customized markdown parser derived from recommonmark here https://github.com/dmlc/xgboost/blob/master/doc/conf.py#L44  But seems it do not take effect.

 Specifically, there has been some url remapping that did not happen. Maybe because readthedocs overrides this option afterwards?

[2015-08-03 01:38] tqchen opened #1528 "Wrong Github Link for remarkdown generated sphinx doc"
When using sphinx to generate the document, the view on github in default template redirect everything into rst suffix, including the ones that should be markdown.

[2015-08-03 07:57] gregmuellegger commented on #1528
Hi, thanks for the report. We already tracking this bug in #1483 It's currently blocked by a new release of Sphinx :(

[2015-08-03 07:57] #1528 closed

[2015-08-03 08:12] gregmuellegger commented on #1341
The changes are not deployed yet. You will be able to remove the the subproject without beeing an admin of it once it's in production. Will probably happen early in the week.

[2015-08-03 08:50] gregmuellegger commented on #1512
Will be fixed by #1525

[2015-08-03 09:54] gregmuellegger commented on #1520
I was able to reproduce it locally with the `django-sslserver` and a custom GitHub app. #1530 should be fixing it.

[2015-08-03 10:13] carltongibson commented on #1460
Awesome thanks!

[2015-08-03 10:18] gregmuellegger commented on #1527
We use [this template](https://github.com/rtfd/readthedocs.org/blob/master/readthedocs/doc_builder/templates/doc_builder/conf.py.tmpl#L22) to create RTD specific config that will be appended to the `conf.py`. So your settings will get overwritten.

Maybe we can set the `source_parser` so that your setting won't get overwritten. I created #1531 to discuss this.

[2015-08-03 14:41] lfalvarez opened #1533 "Connecting with github returns a redirect_uri_mismatch"
Hey there I'm getting an error when trying to connect with my github account
![screenshot from 2015-08-03 11 39 13](https://cloud.githubusercontent.com/assets/585757/9039822/6669faf4-39d4-11e5-8b51-5c80495c6822.png).

Is this just me? what can I do to make it work?

[2015-08-03 15:56] #1515 closed

[2015-08-03 15:57] #1520 closed

[2015-08-03 15:59] gregmuellegger commented on #1533
This should be fixed with the next deployment (fixed with #1530).
Thanks for the report!

(it's a duplicate of #1520)

[2015-08-03 15:59] #1533 closed

[2015-08-03 16:01] lfalvarez commented on #1533
:+1: thanks!

[2015-08-03 16:07] #1527 closed

[2015-08-03 16:19] ericholscher opened #1534 "Minimize logic in our standard conf.py"
We currently have 2 `conf.py` files we generated:
- One we append to every build
- One we generate for users without a conf.py in their repo

I think we should remove a lot of the magic in our general `conf.py`, and keep it in the auto-generated one. The idea is that users can throw a repo with rst & md files, and we will generate docs for them without any configuration. But once they start using

[2015-08-03 16:36] gregmuellegger commented on #1534
:+1:

Related: #885

[2015-08-03 16:47] kermit666 commented on #1520
That was fast. Thanks, folks!

[2015-08-03 18:51] destroyerofbuilds commented on #1508
In a clean checkout of my copy of readthedocs at the 1.8 migration, I ran the following:

[code]

[code]

I'm not sure what the reference is to `South`.

Also, even after executing the other two migration steps, the actual application still crashes for the same reason.

[2015-08-03 18:57] ericholscher commented on #1508
You have to uninstall south.

On Mon, Aug 3, 2015 at 11:51 AM, Hutson Betts <notifications@github.com>
wrote:

--
Eric Holscher
Maker of the internet residing in Portland, Oregon
http://ericholscher.com

[2015-08-03 19:25] destroyerofbuilds commented on #1508
@ericholscher this seems to have been an issue with deploying readthedocs using the Heroku Python buildpack (which was installing over an existing virtual environment, thereby, leaving South around).

I managed to wipe the Heroku cache, and run through the installation mostly successfully.

While running `python readthedocs/manage.py migrate contenttypes` and I got `django.db.utils.ProgrammingErro

[2015-08-03 20:16] takotuesday opened #1535 "Post commit hook should be https"
The url given in the `Post Commit Hook` should be `https` instead of `http`

https://github.com/rtfd/readthedocs.org/blob/69fe15bb56ffa522e7a1111708bc9153f4bde375/readthedocs/templates/core/project_detail_right.html#L111

[2015-08-03 20:28] Balooga opened #1536 ""pip install -r requirements.txt" failure"
Hi,

Using the latest from git, "pip install -r requirements.txt" returns the following error.

[code]

[2015-08-03 20:44] #1535 closed

[2015-08-03 22:17] urosjarc opened #1538 "Removing project that to not exist on github"
Hy I want to ask if there is possibility to remove/rename project that do not exist on github.
The case is that i want for my project to have the same name as this project... https://readthedocs.org/projects/mylinux/ but this project do not exist at all...

I tried to contact the owner but no luck...

So is there a possibility to rename/delete old project(s) that do not exist on github or any othe

[2015-08-03 22:19] iandennismiller opened #1539 "build hangs when conf.py blocks for TTY input; cannot kill hung build"
I had a misconfigured conf.py that blocked for TTY input (it invoked `git` with `less`).  When I committed this and RTD began building the documentation, the builds started hanging.  Now I have 3 builds that started ~45 minutes ago and they are still hanging.  I'm concerned that I am clogging up the build queue with these 3 hung builds.

I have fixed the issue with my project so that it will not b

[2015-08-04 23:35] ericholscher commented on #1451
I've marked your account active. Sorry this took a while to get to.

[2015-08-04 23:35] #1451 closed

[2015-08-05 08:16] gtorodelvalle opened #1541 "Inactive account"
Hi guys, I just reset my password and when I try to log in I get a "This account is inactive". How can I get it set as active? :)
I saw this issue you solved in the past: https://github.com/rtfd/readthedocs.org/issues/1451 Just in case it helps :)
My username in readthedocs.org is gtorodelvalle
Thank you very much in advance for your help.

[2015-08-05 13:50] titusz commented on #1451
There is absolutely no need apologize. I very much appreciate you volunteered to fix this. **Thank you very much!**

[2015-08-05 14:42] d0ugal opened #1542 "MkDocs theme integration broken by a recent change"
The popup thing used to be docked in the left side, now it off floating on the right again.

[2015-08-05 14:43] d0ugal commented on #1542
See for example here: http://mkdocs.readthedocs.org/en/latest/

(I had somebody else test it, and it worked as first due to caches, so make sure you hard refresh)

[2015-08-05 16:47] ericholscher commented on #1541
Should be good to go.

[2015-08-05 16:47] #1541 closed

[2015-08-05 20:27] paternal commented on #1494
Shameless self promotion : [python-matplotlib 1.3.1 is installed](http://packages.readthedocs.org/en/latest/deb/?highlight=matplotlib) (look for `matplotlib` on the jinked page).

[2015-08-05 22:45] sid-kap opened #1543 "Sphinx - specify source directory (sphinx-build arguments)"
Hi,

It looks like the default sphinx builder assumes that the source directory is the same as the configuration directory.
In https://github.com/rtfd/readthedocs.org/blob/master/readthedocs/doc_builder/backends/sphinx.py#L128,
it looks like it CDs to the configuration directory and runs sphinx-build specifying "." as the source directory.

I want a directory structure as follows:

[code]

where `

[2015-08-06 07:27] gtorodelvalle commented on #1541
Indeed... :) Thank you very much!

[2015-08-06 08:57] gregmuellegger commented on #1543
Hi, I think we won't add this very soon as there are alreadya lot configuration options in the project's admin panel. However we are working on a configuration that can be put in your directory (i.e. a `readthedocs.yml` config in your repo). We have enough room there for as many config options as we want and will consider it there. Stay tuned :)

[2015-08-06 08:59] gregmuellegger commented on #1494
@paternal thanks for the clarification! :)

[2015-08-06 09:21] gregmuellegger commented on #1539
Hi thanks for the report! I agree we should make it possible to kill builds.

[2015-08-06 09:27] gregmuellegger commented on #1538
We ofcourse cannot auto-remove any projects that lack a github repository. However as for this specific case I agree that we might be able to remove the repository as the GIT repo went away and the project has zero successful builds:

https://readthedocs.org/builds/mylinux/

But I'm deferring this to the product managers @agjohnson and @ericholscher to make the final decision.

[2015-08-06 09:33] gregmuellegger commented on #1536
It works for me in a new empty virtualenv. Do you have all the required dependencies installed listed here: http://docs.readthedocs.org/en/latest/install.html ?

For example, on Ubuntu you need:
[code]

[2015-08-06 09:35] gregmuellegger commented on #1508
@destroyerofbuilds Were you able to apply the migrations somehow? Maybe try: `python manage.py migrate contenttypes --fake-initial`

[2015-08-06 10:00] gregmuellegger commented on #1542
@d0ugal can you remember when it last worked?

[2015-08-06 10:04] d0ugal commented on #1542
I'd guess it worked around a week ago and perhaps more recently too.

[2015-08-06 11:00] gregmuellegger commented on #1542
Ok, found the problem. The JS refactor in #1463 did the harm (I'm responsible on that :cry:)
Will be fixed with the merge of #1545

[2015-08-06 11:49] gregmuellegger commented on #1534
Hm, when using Sphinx for the documentation, aren't people going to build it locally first anyways before pushing it to readthedocs? Do you know of actual cases where people do not have a `conf.py` in their repository?

[2015-08-06 11:57] d0ugal commented on #1542
Awesome, thanks! It's good to see that refactor, the code was somewhat hacky to make it work with a Sphinx documentation. Good work :)

[2015-08-06 13:05] gregmuellegger commented on #1489
Related: #1511

[2015-08-06 13:32] ThomasWaldmann opened #1546 "need some header files for install, installed code needed for docs build"
Hi, I just wanted to migrate https://borgbackup.github.io/ project's docs to rtfd.

But I ran into issue I could not solve.

To build the usage docs, I need working code installed as the interactive help output (borg init --help for example) is used to generate part of the docs.

To build / install borg, I need some header files and libraries not present on rtfd, see there for debian/ubuntu:
https

[2015-08-06 14:21] pditommaso opened #1547 "Customise the PDF layout"
Is there any way to modify or provide a custom layout to the PDF generated by ReadTheDocs ?

In particular I would need to change the text formatting in the source code blocks.

[2015-08-06 14:43] urosjarc commented on #1538
Great to hear some response, anything done in this case will be much appreciate it.

[2015-08-06 15:12] gregmuellegger commented on #1547
The PDF is created by compiling the `rst` files into LaTeX files and then converting those into a PDF. So you can adjust the Sphinx latex options in order to customize the outcome, see here: http://sphinx-doc.org/config.html#latex-options

[2015-08-06 15:15] gregmuellegger commented on #1546
Unfortunatelly we cannot support arbitrary header files and compiling from source. Maybe you can work around the problem by mocking out the C libraries that you depend on. See the FAQ for more info on that: http://docs.readthedocs.org/en/latest/faq.html#i-get-import-errors-on-libraries-that-depend-on-c-modules

[2015-08-06 15:55] #1542 closed

[2015-08-06 16:05] ericholscher commented on #1473
Added this back into linting

[2015-08-06 16:05] #1473 closed

[2015-08-06 16:35] pditommaso commented on #1547
Thanks, for your quick reply. However in that link I'm unable to find any way to manage the style of Literal code blocks. Any clue about that ?

[2015-08-06 17:28] Balooga commented on #1536
"pip install -r requirements.txt" worked for me in an empty virtualenv up until very recently (about a week ago, I think).

[2015-08-06 17:49] #1370 closed

[2015-08-06 22:04] #1442 closed

[2015-08-07 00:09] destroyerofbuilds commented on #1508
@gregmuellegger so, though it seemed like I applied the migrations correctly, despite that error, I decided to pursue the issue a little further.

Eventually I came to the same conclusion as you, about using `--fake-initial`, for the `contenttypes` migration.

Using the following steps I'm able to apply the migrations without any errors or warnings:

* `python readthedocs/manage.py migrate content

[2015-08-07 17:26] jmcanterafonseca commented on #1487
hello guys, @ericholscher @gregmuellegger @agjohnson

any idea or recommendation on how to solve the issue?

thanks!

[2015-08-07 18:38] rtveitch commented on #1139
+1

Adding this support would be incredible and would significantly reduce the friction associated with keeping documentation current. If sphinx-apidoc was supported in readthedocs, a developer wouldn't even need the sphinx toolchain installed locally if they didn't want; their only responsibility would be to keep docstrings up to date.

[2015-08-08 00:25] agjohnson commented on #1536
This looks to be because you are using Python 3.3, which we do not support. We might aim for Python 3 support with 3.4 at some point, but the long tail of dependencies like the above bzr failure on Python 3 needs to be addressed.

[2015-08-08 00:26] #1536 closed

[2015-08-08 00:40] agjohnson commented on #1539
* @iandennismiller was kind enough to alert us when his build was taking a long time, but I don't know that an admin button would get much use normally. If we go through the trouble of tracking build <-> task relationship, this would be a trivial addition -- if we decided to include it
* I'd be -1 on killing superseding builds, I feel like that would be unexpected behavior on our end
* We should p

[2015-08-09 15:21] wdv4758h opened #1550 "wrong link for "Edit on GitHub" of README.rst (if index.rst does not exist)"
Currently, `doc_builder/base.py` will rename `README.rst` to `index.rst` if repo does not have `index.rst`. And this make the generated index.html finding `index.rst` as source. Then, it cause 404 when user click "Edit on GitHub". (repo only have `README.rst`)

[2015-08-09 22:16] Swader opened #1551 "Requirements"
I have a `requirements.txt` file in the appropriate advanced settings input field, and it's in my repo [here](https://github.com/sitepoint-editors/samplesphinx-php/blob/master/requirements.txt), but it's not getting executed. To be precise, I'm trying to get sphinxcontrib-phpdomain to install but no dice, it's like it never runs - the build error log just tells me it can't fine the sphinxcontrib-p

[2015-08-09 22:32] Swader commented on #1551
Never mind, realized the errors are actually in another section, and the file wasn't being fully executed. Suggestion: style the build fail screen a bit better.

[2015-08-09 22:32] #1551 closed

[2015-08-10 07:31] gregmuellegger commented on #1547
I'm afraid that will require LaTeX knowledge to change the style. I'm not good with that, but I think it would go into the `latex_elements` in the `preamble` section. Also examine the files emitted when you run "make latex" for your Sphinx project. These will be the source file used to convert into PDF. You will see the markup that wraps the code block. Based on that you will probably be googling

[2015-08-10 07:36] gregmuellegger commented on #1508
@destroyerofbuilds Thanks for the investigation. I've updated the deployment notes in #1420
Closing this as it seems that we solved all the problems.

[2015-08-10 07:36] #1508 closed

[2015-08-10 08:25] gregmuellegger commented on #1551
@Swader Glad that it is resolved for you. We are reworking the build page and will hopefully have visible improvements on the build logs in a few weeks. I'm absolutely with you that the build page can be confusing sometimes.

[2015-08-10 18:13] Balooga commented on #1536
Yes.  Me actually following the instructions helped enormously.

[2015-08-11 08:20] pditommaso commented on #1547
Thanks for the tip. I will try to investigate that.

[2015-08-11 08:20] #1547 closed

[2015-08-11 08:55] cjw296 opened #1552 "orphaned project 'testfixtures'"
Hi All,

When I try and register my 'testfixtures' project, I get told a project already exists, but I can't find it anywhere.

My suspicion is that it was created in the very eary days of rtd and is somewhat broken.

Would someone be able to delete the remnants so I can re-register the project?

thanks,

Chris

[2015-08-11 14:59] ericholscher commented on #1552
https://readthedocs.org/projects/testfixtures/ is the project. It's owned
by "chrisw": https://readthedocs.org/profiles/chrisw/

I'm guessing that is an old account that you created. I can delete the
project if that's easiest?

On Tue, Aug 11, 2015 at 1:55 AM, Chris Withers <notifications@github.com>
wrote:

--
Eric Holscher
Maker of the internet residing in Portland, Oregon
http://ericholscher.co

[2015-08-11 15:16] ericholscher commented on #1487
Believe this is a bug with our mkdocs integration. It seems the json builder is breaking when using the theme option. We should have a patch for it soon.

[2015-08-11 18:46] takluyver opened #1553 "Uninformative error when branch name contains a dot"
We were just experimenting with some docs stuff, and @minrk created a branch name with a dot (`.`) in it. Builds on this branch all failed, and the only error message in the logs was "top level build failure". It took us a while to work out that the branch name was the problem.

I don't think it's especially important to allow branch names with dots, but it would be nice to at least get an error t

[2015-08-11 22:57] Swader opened #1554 "Possible to create multiple projects from single repo?"
I have some Gettext translations all in a single repo, under /docs in my project. I can create a separate config file for every language, so that every language setup is essentially a translation of the original project, but is there a way to add multiple RTD projects via a single repository? I need this in order to not have to make a separate github repo for every one of the included languages -

[2015-08-11 23:02] ericholscher commented on #1554
You can point RTD to the specific conf.py file for Sphinx in the Advanced
Settings of the project Admin. This will use that specific conf.py,
allowing multiple projects that live in a repo.

We are hoping to add support for multiple translations within 1 project at
some point, but it's a low priority since it already works currently,
though it's a bit more effort.

On Tue, Aug 11, 2015 at 3:57 PM,

[2015-08-12 02:20] hannorein commented on #1489
Now might be a good time for the update:

http://blog.jupyter.org/2015/08/12/first-release-of-jupyter/

[2015-08-12 04:06] agjohnson commented on #1553
Agreed, this could be an edge case bug that wasn't covered with some changes to branch name slugging.

[2015-08-12 04:09] agjohnson opened #1555 "Vendor bundles don't export correctly as libraries"
This was working but apparently doesn't want to work correctly now. Vendor bundles correctly export to `window`, but are not available via `require()`. This is likely some browserify sloppiness. Vendor libraries should be available on the `global`/`window`, but modular javascript code should expect to use it as a module.

[2015-08-12 05:03] NoralK opened #1556 "Xelatex for PDF generation"
I was wondering if xelatex is supported for PDF generation?  If so is the font Symobla.ttf installed as well?  If not do you know when it will be supported.

Thank you

[2015-08-12 06:07] NoralK opened #1557 "PDF Indexes are not being generated"
The PDF index is missing.  Local generation index shows RTD no index.

Let me know if you need further information.

[2015-08-12 07:14] Swader commented on #1554
Settings of the project Admin. This will use that specific conf.py,
allowing multiple projects that live in a repo.

That was the original idea, yes, but as I can only set up one project from a single repo, I don't get the change to set up several projects, each pointing to its own `conf.py`. Or am I missing something.

[2015-08-12 16:30] whit537 commented on #632
We're getting [bit by this as well](https://github.com/gratipay/filesystem_tree.py/pull/20#issuecomment-130357210). I installed `sphinx_rtd_theme` locally, and (as @wbolster reports), my results differ between local and production regardless of the theme:

# Local

![screen shot 2015-08-12 at 12 25 51 pm](https://cloud.githubusercontent.com/assets/134455/9229879/5628a65c-40ed-11e5-9f6e-c9ab9584a86

[2015-08-12 20:03] agjohnson commented on #994
I'll take this on.

For background information here, the shebang max length is set in the kernel by `BINPRM_BUF_SIZE`, which defaults to 127 characters. Short of compiling a custom kernel, the easiest fix is to avoid shebang lines all together and instead call the virtualenv `python` with the script we're executing as an argument.

[2015-08-12 22:38] jhamman commented on #1480
I'm getting the same behavior on this site: http://vic.readthedocs.org/en/master/.

All the links under `Versions` and `On GitHub` send you to a url with the word "None" at the end.

[2015-08-12 23:50] #994 closed

[2015-08-13 08:10] gregmuellegger commented on #1554
@Swader I think you can create a new project that uses the same repository url. You will have two distinct projects on RTD with different names that use the same repository.

[2015-08-13 08:21] gregmuellegger commented on #1511
@ericholscher @agjohnson anyone up for this? See #1489 for a usecase.

[2015-08-13 10:43] rrahn commented on #1096
Hey thank you for your response.
@esiragusa and me can work on this.
Can you give us a starting point to look at? We could then create a pull request.

[2015-08-13 11:25] deejay1 commented on #1487
Don't know if it's related but when I try to build an mkdocs site on my installation of rtd (commit f54d78b372845e9236377cbe38a9a401b84d34d7) I get:

[code]

Sample repo is here https://github.com/deejay1/rtfd_test

[2015-08-13 18:05] Balooga opened #1562 ""./manage.py migrate" no longer prompts for a Django superuser account"
Most likely something on my end.  But following the rtd install from scratch per https://docs.readthedocs.org/en/latest/install.html, "./manage.py migrate" no longer prompts for a superuser password.

[2015-08-13 21:51] nathanaelhuffman commented on #1562
I'm experiencing the same, so it may not be on your end.

[2015-08-13 22:44] Balooga commented on #1562
I created a superuser manually using "./manage.py createsuperuser", which seems to do the trick.

[2015-08-13 23:12] Balooga commented on #1508
FYI; https://docs.readthedocs.org/en/latest/install.html states to run "./manage.py migrate" from the "readthedocs" directory.  But this should be run from within "readthedocs.org".

[2015-08-14 18:13] matteobachetti commented on #1139
+1

[2015-08-14 19:11] bmbouter commented on #1207
When I filed this issue I talked with @ericholscher. He indicated it would be difficult to do this in practice. Nevertheless, I maintain that RTD should use the version from `conf.py`. RTD is built around Sphinx and should not ignore the Sphinx version defined in `conf.py` in favor of its own. Not only is it theoretically wrong, but it makes the banners show up on the "latest" version in some case

[2015-08-14 21:37] Balooga commented on #1459
Redis is now running, so the errors above have disappeared.  However RTD does not seem to be building any updates to the documentation following the initial manual import.

[code]

[2015-08-15 20:43] bendk commented on #1395
FWIW this hack seems to fix things:

https://github.com/pculture/unisubs/commit/48d509e61f980d790ccb9e24615ba6f07a8fbc20

[2015-08-16 15:59] Gabriel-p opened #1564 "Check visitor stats?"
Not sure if this qualifies as an 'issue', perhaps more a question about the site.

I might me missing something obvious here, but I searched around and I've found no way to check the visitors stats for a RTD project. Is this correct?

If there is no built in stats page for a project, can a tracking block (e.g: Google Analytics) be added? If so, are there any instructions on how to do this?

Cheers

[2015-08-17 09:22] gregmuellegger commented on #1564
You can set a google analytics code in your admin panel. Go to the dashboard of your project, then select "Admin" and then "advanced settings" in the sidebar on the left. You will see a field called "Analytics-Code" at the very bottom of the page:

![screen1](https://cloud.githubusercontent.com/assets/88278/9301875/23249322-44d2-11e5-8efd-c014fdb74aa6.png)

Hope this helps :)

[2015-08-17 09:22] #1564 closed

[2015-08-17 10:37] gregmuellegger commented on #1508
@Balooga Thanks! I created #1566 for this.

[2015-08-17 10:48] gregmuellegger commented on #1562
Thanks for the report! The docs will be fixed with #1566
The `./manage.py createsuperuser` is the recommend way to create a new superuser.

[2015-08-17 14:49] gregmuellegger commented on #1096
This would be a good place to set the actual environment variable: https://github.com/rtfd/readthedocs.org/blob/master/readthedocs/doc_builder/environments.py#L92

You can get to the `Version` model instance for the current build there with `self.build_env.version`. It is an instance of https://github.com/rtfd/readthedocs.org/blob/master/readthedocs/builds/models.py#L30
The `slug` attribute on the

[2015-08-17 15:11] Gabriel-p commented on #1564
Don't know how I missed that, mainly because I had *already set up the tracking code*. Sorry and thank you!

[2015-08-17 15:38] gregmuellegger commented on #632
I tried it with your repository: https://github.com/gratipay/filesystem_tree.py

I created a fresh Python 2.7 virtualenv, installed `filesystem_tree` with `python setup.py install` installed Sphinx with `pip install Sphinx` and then ran `make html` in the `docs` directory.

The result is this:
![screen1](https://cloud.githubusercontent.com/assets/88278/9308875/b33527e0-4506-11e5-8891-2f1bbe8c8694.

[2015-08-17 15:48] gregmuellegger commented on #1557
@NoralK Hi, thanks for the report.
Can you tell us the project you are having problems with?

[2015-08-17 15:50] gregmuellegger commented on #1556
That's a question for @agjohnson or @ericholscher. Let's see what they say :)

[2015-08-17 16:10] gregmuellegger commented on #1553
Hm, I tried locally with the pypy project and built their `release-2.6.x` branch which worked.
@takluyver could you provide us with the branch you have problems with?

[2015-08-17 16:13] takluyver commented on #1553
I think it was a docs project @minrk had set up with his fork of the ipython/ipython GH repo to experiment. He might have more details.

[2015-08-17 17:15] NoralK commented on #1557
Thank you for the help - here is the URL https://github.com/NoralK/TestDocs

[2015-08-17 17:15] whit537 commented on #632
Well, I'll be darned. I performed the steps you performed and got the same result:

![screen shot 2015-08-17 at 1 14 14 pm](https://cloud.githubusercontent.com/assets/134455/9311069/f281a768-44e1-11e5-816f-bd6b60979800.png)

Perhaps my previous result is with an older version of Sphinx?

[2015-08-17 17:15] whit537 commented on #632
/me skims http://sphinx-doc.org/changes.html

[2015-08-17 17:18] whit537 commented on #632
Possibly relevant: https://github.com/sphinx-doc/sphinx/issues/1444 and https://github.com/sphinx-doc/sphinx/issues/344?

[2015-08-17 17:31] whit537 commented on #632
Reticketed as https://github.com/sphinx-doc/sphinx/issues/2006.

[2015-08-17 17:32] whit537 commented on #632
@gregmuellegger To answer your question directly: `make html` in the `docs` directory, just as you used.

[2015-08-17 18:13] minrk commented on #1553
The branch name was 'conf.py-hacks' Pushing the same commit to a new branch 'target' resulted in a successful build.

[2015-08-17 21:09] soltanmm opened #1567 "Support setup.py in nonstandard locations"
[gRPC](https://github.com/grpc/grpc) is interested in hosting our docs on `readthedocs.org`, but from what we can tell there's no way to handle our directory structure. Due to the multi-language nature of the project, the Python subproject is not located at the git repository top-level and thus the `setup.py` file is not located at the git repository top-level. As much as we like readthedocs, and

[2015-08-18 15:20] tillig opened #1569 "Automatic build doesn't run after changing git repo location"
Our documentation used to be at https://github.com/autofac/Autofac.git but we moved it to https://github.com/autofac/Documentation.git for easier maintenance.

After updating the repo URL in the ReadTheDocs admin dashboard, I was able to force a build, but since then the build fails to automatically build after changes to the repo.

Is there something I need to do to signal the system to stop watc

[2015-08-19 00:01] ericholscher opened #1571 "Add Domain objects"
The goal here is to make our usage of domains more explicit. This includes CNAME's, and our tracking or domain usage of people on our site.

To do:

* [x] Model Domain objects
* [ ] Migrate Canonical URL on project to Domain object
* [ ] Build admin panel (API-based)
* [ ] Create objects in middleware on domain usage

[2015-08-19 01:30] #1562 closed

[2015-08-19 05:20] Swader commented on #1554
Ah, correct. So that worked and I have everything running smoothly on my local machine.

My builds on RTD are failing, though - any help would be much appreciated.

It keeps looking for the master file in the location of the custom `conf.py` file, specific to the language. How do I make it look for the sources two folders above the current file's location? I tried appending paths, to no avail. See

[2015-08-19 10:27] edmorley opened #1572 "Intermittent "Top-level Build Failure: __init__() takes exactly 2 arguments (1 given)""
Only occurs intermittently, eg:
https://readthedocs.org/builds/treeherder/3256061/
https://readthedocs.org/builds/treeherder/3223958/
https://readthedocs.org/builds/treeherder/3223481/
https://readthedocs.org/builds/treeherder/3219551/
https://readthedocs.org/builds/treeherder/3210710/

If a new build is manually triggered it then succeeds.

Any ideas? :-)

[2015-08-19 12:21] ppikula commented on #1028
Hi @ericholscher, we  started to observe this kind of intermittent failures.

recent fail: https://readthedocs.org/builds/mongooseim/3256523/

[2015-08-19 13:03] Swader commented on #1572
+1 happens often for me too lately

[2015-08-19 13:07] Swader opened #1573 "Custom build params"
Suggest adding possibility of providing custom build params and flags.

Related to #1554, more specifically [this build error](https://readthedocs.org/builds/rtdsphinx-php/3255152/).

Due to alternative conf files in locale subfolders, the build fails, looking for stuff in the folders where the `conf.py` was found.

Locally, I successfully build with:

[code]

where xx is the locale I'm building f

[2015-08-19 15:06] jstoiko commented on #1572
same here https://readthedocs.org/builds/ramses/3257411/

[2015-08-19 16:06] ericholscher commented on #1572
Yea, this appears to be a random Django 1.8 failure that I haven't quite
tracked down yet. I am looking into it.

On Wed, Aug 19, 2015 at 8:06 AM, Jonathan Stoikovitch <
notifications@github.com> wrote:

--
Eric Holscher
Maker of the internet residing in Portland, Oregon
http://ericholscher.com

[2015-08-19 16:08] ericholscher commented on #1028
I believe this is a Django 1.8 upgrade issue, I have deployed something
that might fix it, and am monitoring the servers now.

On Wed, Aug 19, 2015 at 5:21 AM, Paweł Pikuła <notifications@github.com>
wrote:

--
Eric Holscher
Maker of the internet residing in Portland, Oregon
http://ericholscher.com

[2015-08-19 16:09] ericholscher commented on #1573
The Language setting on the project will pass the proper language code to
Sphinx.

On Wed, Aug 19, 2015 at 6:07 AM, Bruno Škvorc <notifications@github.com>
wrote:

--
Eric Holscher
Maker of the internet residing in Portland, Oregon
http://ericholscher.com

[2015-08-19 16:11] jstoiko commented on #1572
ramses does not use django

[2015-08-19 16:12] ericholscher commented on #1572
It's an error on our side, and seems to have started when we upgraded to Django 1.8 a couple weeks ago, I mean.

[2015-08-19 16:18] jstoiko commented on #1572
I see. time to switch to pyramid maybe :)

[2015-08-19 16:19] Swader commented on #1573
Yes, but unless the build process runs from the root folder and targets the locale/xx folder for the extended conf file, it won't work (see build error) because it's looking for sources in the folder where I told RTD the conf file was under Advanced Settings. If there were a way to have it run the builder from `/` but look for the config file in `locale/xx`, that would solve things. It would be ea

[2015-08-19 16:21] ericholscher commented on #1573
Why don't you just have one config file that has the locale dir set to
`locale`, and then let us or the user configure the language at build time?

On Wed, Aug 19, 2015 at 9:19 AM, Bruno Škvorc <notifications@github.com>
wrote:

--
Eric Holscher
Maker of the internet residing in Portland, Oregon
http://ericholscher.com

[2015-08-19 16:53] Swader commented on #1573
Well... now I feel stupid. Thanks, never thought of that.

I've now successfully built both on RTD, but redirecting to the Croatian version from the English one does not work: http://rtdsphinx-php.readthedocs.org/en/latest/

I have set the Croatian version ([rtdsphinx-php-hr](http://rtdsphinx-php-hr.readthedocs.org/hr/latest/)) as the translation of the main one, but when I click on "hr" to switch

[2015-08-19 17:18] ericholscher commented on #1573
the /hr/ work and be an alias for that project. I looked into it, and the
syncing code is triggered on project save -- but not on the addition of the
translation. I went ahead and saved your project, and it should be working
now -- We should be firing that syncing task on translation save though,
too.

On Wed, Aug 19, 2015 at 9:53 AM, Bruno Škvorc <notifications@github.com>
wrote:

--
Eric Holsche

[2015-08-19 17:18] ericholscher commented on #1573
The idea is that you can define "translations" and they will live at the
/langcode/ on the parent project, so that it provides a nice UX/UI.

On Wed, Aug 19, 2015 at 10:17 AM, Eric Holscher <eric@ericholscher.com>
wrote:

--
Eric Holscher
Maker of the internet residing in Portland, Oregon
http://ericholscher.com

[2015-08-19 17:19] ericholscher commented on #1573
In the future we hope not to require multiple RTD Projects to provide
translations, and to be able to support it on one main Project -- which is
what this approximates, but is definitely not the best possible solution.

On Wed, Aug 19, 2015 at 10:18 AM, Eric Holscher <eric@ericholscher.com>
wrote:

--
Eric Holscher
Maker of the internet residing in Portland, Oregon
http://ericholscher.com

[2015-08-19 17:24] Swader commented on #1573
This is fantastic, thank you! Full post on SitePoint coming soon, with caveats, tips and tricks so others don't trip up like I did here. Thanks again!

[2015-08-19 17:24] #1573 closed

[2015-08-19 17:38] ericholscher commented on #1573
Thanks again for the awesome stuff you're writing up as well. I think it
will help a lot -- I think that our work with
https://github.com/rtfd/sphinx-autoapi might be useful for the PHP
community soon also. We are working to integrate third party autodoc tools
into Sphinx in a nice way, which I think will be quite powerful. If there
is a preferred PHP doc API doc tool that generates JSON or some o

[2015-08-19 17:53] Swader commented on #1573
That's really interesting.
I had begun work on a tool that turns PHP source code into [PHP domain friendly](http://pythonhosted.org/sphinxcontrib-phpdomain/) format via [Sage](https://github.com/dotink/sage/), but the entire foray into Sphinx and RTD was actually so that I could write proper API + prose docs (a combination), something no other system offers out of the box and Sphinx comes closest

[2015-08-19 17:58] ericholscher commented on #1573
Yea, that's exactly what autoapi is doing -- but it will be fully supported
on RTD when we're done. What tool were you using to pull out the PHP source
docs?

On Wed, Aug 19, 2015 at 10:53 AM, Bruno Škvorc <notifications@github.com>
wrote:

--
Eric Holscher
Maker of the internet residing in Portland, Oregon
http://ericholscher.com

[2015-08-19 18:02] Swader commented on #1573
I played around with [Apigen](https://github.com/ApiGen/ApiGen)'s internals, [PhpDocumentor](http://www.phpdoc.org/)'s token parsers and [Sage](https://github.com/dotink/sage/), but didn't get a very smooth workflow out of any of them so far (only been toying with this over the past few days).

[2015-08-19 18:41] agjohnson commented on #1556
Ubuntu offers the `texlive-xetex` package, which is installed. Past that, I don't know anything about xelatex, so I don't know if your case would be supported. You can certainly try though.

`Symbola.ttf` is installed via `ttf-ancient-fonts-symbola`, which is not installed, and isn't on or backported to the ubuntu 14.04 release. We would install this if there was a supported package, but won't ins

[2015-08-20 07:09] #1554 closed

[2015-08-20 07:09] Swader commented on #1554
Resolved via #1573 and in [this project](https://github.com/sitepoint/rtdsphinx-php)

[2015-08-20 10:06] gregmuellegger commented on #1572
@ericholscher expressed that he has deployed a fix as described in #1028
Seems to be fixed for Treeherder: https://readthedocs.org/projects/treeherder/builds/

[2015-08-20 10:06] #1572 closed

[2015-08-20 10:22] gregmuellegger commented on #1571
Related #1575

[2015-08-20 10:34] gregmuellegger commented on #1569
We use GitHub post commit hooks in order to know when you changed something in your repository. When you move the docs from one repo into another then you need to setup the hooks in the new repository. Therefore go into the admin panel on GitHub for your project and look for "Webhooks & services". See this document for more information: https://docs.readthedocs.org/en/latest/webhooks.html

You can

[2015-08-20 10:39] gregmuellegger commented on #1472
Was fixed with the merge of #1522

[2015-08-20 10:40] gregmuellegger commented on #1471
Was fixed with the merge of #1522.

[2015-08-20 10:40] #1471 closed

[2015-08-20 10:41] gregmuellegger commented on #1474
It's no longer blocked and open for everyone who wants to tackle this.

[2015-08-20 10:43] gregmuellegger commented on #1477
This is no longer blocked and therefore open to be worked on.

[2015-08-20 10:55] gregmuellegger commented on #1567
Directly running your setup.py will probably not work, that is right. But I can suggest a workaround for that. Create a `requirements.txt` file that contains the dependencies for your project (if there are any that are not listed in setup.py) and then give it the path to your package directory inside the project. I tried this at the top level of your project:

[code]

The build finally failed beca

[2015-08-20 13:31] gregmuellegger commented on #632
@whit537 I hope you are okay when I'm closing this here as I think it's a Sphinx issue.

[2015-08-20 13:31] #632 closed

[2015-08-20 13:32] whit537 commented on #632
@gregmuellegger Yeah, that's fine. I will follow up here if necessary based on what Sphinx says. :-)

[2015-08-20 13:35] gregmuellegger commented on #1557
@NoralK I can't seem to find the related project on readthedocs. It seems that there was https://readthedocs.org/projects/noral-testdocs/ before but it was deleted. Do you still have the project on readthedocs.org that you are having problems with?

I need to have a look at the build output and see the PDF results you are getting before I can invest any further.

[2015-08-20 13:54] gregmuellegger commented on #1480
@d0ugal I tried using https://github.com/mkdocs/mkdocs/commit/74031a084d776f45ad43568e334da2b89133986b of mkdocs, but it still appended `None` on the version select links. Is there anything that we need to adjust on the RTD end?

[2015-08-20 14:02] gregmuellegger commented on #1435
I guess a solid resolution to this is quite tricky. I don't have a good strategy for this in mind.
I'm deferring this to @ericholscher and @agjohnson. They are quite experienced with the search system and might have a solution in mind.

[2015-08-20 14:02] d0ugal commented on #1480
@gregmuellegger Yeah, I think so. I just made the data available, I don't really know how it works on your end, but it looked like you were using the Title incorrectly as the URL so I added that.

[2015-08-20 14:04] d0ugal commented on #1480
I was planning to come and figure it out, but hadn't found the time yet :)

[2015-08-20 14:29] gregmuellegger commented on #1480
I tried to install the mkdocs master in the venv that is used for the rtd build, but the change didn't pick up. The base.html in the filesystem contains the change ... but the build doesn't seem to use it.

@d0ugal could there be any other path in RTD that is loading the mkdocs theme templates from except from the mkdocs package in the venv?

[2015-08-20 14:51] NoralK commented on #1557
The project is there.  I do not know if it will help but I changed it from private to protected.  Last build was approx. 7 days ago.

[2015-08-20 14:55] gregmuellegger commented on #1550
Example: http://python-best-practices.readthedocs.org/en/latest/

[2015-08-20 14:56] #1512 closed

[2015-08-20 15:35] NoralK commented on #1556
Locally, I had to modify the Make.bat to give an option for xelatex and then script changes to the makefile using SED.  RFTD is calling the pdflatex option and a new option would need to be created for xelatex.

For this to work I am guessing an advanced option preference would need to be added to select pdflatex (recommended) and xelatex.  Based on that option there would be scripting to correct

[2015-08-20 15:42] NoralK commented on #1556
BTW - here is my xelatex section of make.bat:
[code]

[2015-08-20 16:06] ericholscher commented on #1477
I did a test run with medium strictness, and it outputs a lot, but it's
likely worth doing. It complains about missing docstrings & logging a lot
-- which would be good to raise the quality of our code in general, but it
would definitely be a solid chunk of work.

On Thu, Aug 20, 2015 at 3:43 AM, Gregor Müllegger <notifications@github.com>
wrote:

--
Eric Holscher
Maker of the internet residing in

[2015-08-20 16:11] ericholscher commented on #1435
I believe this is actually a Sphinx issue, where it is indexing these objects. Read the Docs search should be stripping them out: https://readthedocs.org/projects/neos/search/?q=typo3.neos%3Adomain%3Aactivate -- the main issue is that we need to integrate the RTD Elastic Search-based search into the main Sphinx search page via the API.

[2015-08-20 16:13] ericholscher commented on #385
This is now done :)

[2015-08-20 16:13] #385 closed

[2015-08-20 16:14] ericholscher commented on #553
CLosing this, as we have multiple efforts under way to fix the build system, one of which was just deployed :)

[2015-08-20 16:14] #553 closed

[2015-08-20 16:14] ericholscher commented on #558
This is a theme issue, and should be moved there.

[2015-08-20 16:14] #558 closed

[2015-08-20 16:15] ericholscher commented on #590
We have a maintenance mode in the code now.

[2015-08-20 16:15] #590 closed

[2015-08-20 16:16] ericholscher commented on #635
I believe this should be fixed with our updates to this logic -- please let me know if it is still an issue, and I will re-open.

[2015-08-20 16:16] #635 closed

[2015-08-20 16:16] ericholscher commented on #682
This should be fixed now with #1524

[2015-08-20 16:16] #682 closed

[2015-08-20 16:17] ericholscher commented on #798
Closing this, as it is an old issue, and that UI element is going to be removed.

[2015-08-20 16:17] #798 closed

[2015-08-20 16:17] ericholscher commented on #888
This will be addressed with #1575 -- closing this here.

[2015-08-20 16:17] #888 closed

[2015-08-20 16:18] ericholscher commented on #890
This should be fixed in #1524 -- our build process output is now much more explicit.

[2015-08-20 16:18] #890 closed

[2015-08-20 16:19] ericholscher commented on #1001
We have built a newer version page, closing this now.

[2015-08-20 16:19] #1001 closed

[2015-08-20 16:19] ericholscher commented on #1009
This is fixed.

[2015-08-20 16:20] ericholscher commented on #1065
This is now fixed with #1524 :)

[2015-08-20 16:20] #1065 closed

[2015-08-20 16:21] ericholscher commented on #1068
We have merged a hook for GitLab. #1442

[2015-08-20 16:21] #1068 closed

[2015-08-20 16:21] ericholscher commented on #1117
I believe this is fixed now.

[2015-08-20 16:21] #1117 closed

[2015-08-20 16:23] ericholscher commented on #1151
This should be fixed with #1524

[2015-08-20 16:23] #1151 closed

[2015-08-20 16:23] ericholscher commented on #1204
This is fixed in #1524

[2015-08-20 16:23] #1204 closed

[2015-08-20 16:24] ericholscher commented on #1257
We have removed bookmarks for now, so this should be fixed.

[2015-08-20 16:24] #1257 closed

[2015-08-20 16:25] ericholscher commented on #1258
This is an issue with the theme, please open it at https://github.com/snide/sphinx_rtd_theme/ if it's still an issue.

[2015-08-20 16:25] #1258 closed

[2015-08-20 16:25] #1265 closed

[2015-08-20 16:25] ericholscher commented on #1293
The wipe command in the Versions page should fix this now.

[2015-08-20 16:25] #1293 closed

[2015-08-20 16:26] ericholscher commented on #1320
We have a new build system that should fix this issue.

[2015-08-20 16:26] #1320 closed

[2015-08-20 16:27] ericholscher commented on #1322
This problem with version slugging has been fixed.

[2015-08-20 16:27] #1322 closed

[2015-08-20 16:27] ericholscher commented on #1326
Closing this issue, and I don't think it is a RTD issue, and hasn't been updated in a few months.

[2015-08-20 16:27] #1326 closed

[2015-08-20 16:28] ericholscher commented on #1332
If you turn off the ``Install Project`` in the Advanced Settings on your project, it will now not be installed.

[2015-08-20 16:28] #1332 closed

[2015-08-20 16:28] ericholscher commented on #1336
This is the same as #752 -- closing as dupe.

[2015-08-20 16:28] #1336 closed

[2015-08-20 16:29] ericholscher commented on #1347
Closing this, as it is an old local install issue.

[2015-08-20 16:29] #1347 closed

[2015-08-20 16:29] ericholscher commented on #1356
These should now be installed on the build servers, closing this.

[2015-08-20 16:29] #1356 closed

[2015-08-20 16:30] ericholscher commented on #1357
This is now included in the footer, and is fixed.

[2015-08-20 16:30] #1357 closed

[2015-08-20 16:30] ericholscher commented on #1381
Closing this, as it is a configuration error in your repo, not an issue on our side.

[2015-08-20 16:30] #1381 closed

[2015-08-20 16:31] ericholscher commented on #1401
Closing this for lack of feedback.

[2015-08-20 16:31] #1401 closed

[2015-08-20 16:32] ericholscher commented on #454
CLosing as dupe of #1408

[2015-08-20 16:32] #454 closed

[2015-08-20 16:33] ericholscher commented on #1409
Dupe of #893

[2015-08-20 16:33] #1409 closed

[2015-08-20 16:33] ericholscher commented on #1412
Closing this, as we won't be supporting custom build commands any time soon.

[2015-08-20 16:33] #1412 closed

[2015-08-20 16:34] ericholscher commented on #1414
This has been removed.

[2015-08-20 16:34] #1414 closed

[2015-08-20 16:34] jcw commented on #1117
The jcw/buzz repository I created two weeks ago is not showing up in my RTD list.
No big deal for me, but it looks like this is not yet 100% fixed - or perhaps just lagging?

[2015-08-20 16:36] ericholscher commented on #1452
This was an issue with our CDN which is now fixed.

[2015-08-20 16:36] #1452 closed

[2015-08-20 16:37] ericholscher commented on #1468
I'm going to close this, and say that we require an ``index.html`` file to exist, and remove the README setting in our nginx config.

[2015-08-20 16:37] #1468 closed

[2015-08-20 16:39] ericholscher commented on #1481
This was fixed with a PR a few weeks ago.

[2015-08-20 16:39] #1481 closed

[2015-08-20 16:40] ericholscher commented on #1422
CLosing as a dupe of #1483

[2015-08-20 16:40] #1422 closed

[2015-08-20 16:40] ericholscher commented on #1488
Closing this, as I have removed the README/index.rst hack -- it isn't a good way to move forward, and you should just serve a root-level index.html file.

[2015-08-20 16:40] #1488 closed

[2015-08-20 16:41] NoralK commented on #1557
I think I know what is happening.  RTFD has changed how many times it generates the PDF in the makefile or custom script and has cut too many, specifically the pass to incorporate the index.  So if another pass was made, after the index files get created, then the index inside the PDF should show up.

There should be a minimum of three passes, as I know it:
1. To generate/check the initial PDF
2.

[2015-08-20 16:44] ericholscher commented on #1489
I have upgraded the ipython install to 4.0, and as @gregmuellegger mentioned in #1511, you can install it in your own requirements file if needed.

[2015-08-20 16:44] #1489 closed

[2015-08-20 16:46] ericholscher commented on #1511
Fixed this.

[2015-08-20 16:46] #1511 closed

[2015-08-20 16:48] ericholscher commented on #1546
Closing this, as we aren't able to support this.

[2015-08-20 16:48] #1546 closed

[2015-08-20 16:48] ericholscher commented on #1550
I believe our servers will now serve README.html as an index file, so we can probably stop transforming the files and be good.

[2015-08-20 16:49] ericholscher commented on #1567
We should document the use of the requirements file in this way in the FAQ

[2015-08-20 16:49] ericholscher commented on #1571
Closing as we now have a PR.

[2015-08-20 16:49] #1571 closed

[2015-08-20 16:52] ericholscher commented on #714
-> curl -sI https://pip.readthedocs.org/en/latest  |grep Location
Location: http://pip.readthedocs.org/en/latest/

[2015-08-20 16:53] ericholscher commented on #1194
CLosing this, as we don't have enough information to debug it.

[2015-08-20 16:53] #1194 closed

[2015-08-20 16:54] ericholscher commented on #292
Closing this as a dupe of #1408 -- we will work on this soon.

[2015-08-20 16:54] #292 closed

[2015-08-20 16:55] ericholscher commented on #1127
Believe this should be fixed, as it was an issue with our caching.

[2015-08-20 16:55] #1127 closed

[2015-08-20 17:11] agjohnson commented on #1472
This doesn't seem to be resolved. We are still ignoring `projects/` path in `prospector.yaml` and I get a lot of failures in that path.

[2015-08-20 17:15] agjohnson commented on #1477
We are still ignoring the `projects.yaml` path, so that should be addressed as per #1472 first.

Medium strictness is definitely worth it, pylint gives more useful errors at this level and beyond. We can tune some of the noise if we want.

For instance, one that is used all over the place is the logging arguments error. I do prefer the `log.info('Something %s', foo)` syntax, but it's so minor we c

[2015-08-20 17:23] agjohnson commented on #1477
Also, any thoughts on docstrings? I suppose we should be settings good example and actually documenting everything, but there are a lot of cases where docstrings will be just noise. Do we want to say that if construct usage is very obvious, pylint ignore the line? I suppose at that point, a docstring is no more noisy than a line ignoring the docstring.

[2015-08-20 17:37] ThomasWaldmann commented on #1546
yes, I understand. thanks for the hint, i'll try if we can install without or with mocking that lib.

[2015-08-20 18:41] dangra commented on #635
looks good. thanks!

[2015-08-20 18:48] anarcat commented on #1357
that's great! unfortunately, it doesn't seem like it puts the release number in there - how about a little bit of `git describe` magic? :)

[2015-08-20 19:19] hannorein commented on #1489
Thanks a lot! Everything works now!

[2015-08-20 19:46] tillig commented on #1569
Yup, that did it. Thanks!

[2015-08-20 19:46] #1569 closed

[2015-08-20 20:30] Balooga opened #1578 "Paths to the generated documentation in "Downloads" (pdf, epub, zip) is "locahost" on a local RTD installation"
I just noticed that the path to the pdf, epub & zip'ed HTML documentation in the "Downloads" section of a project is "localhost" on a *local* installation of RTD, and not the server name specified in "SLUMBER_API_HOST"

[2015-08-20 23:05] soltanmm commented on #1567
Alright, we'll take a look at that option for now. Thanks!

cc @nathanielmanistaatgoogle

[2015-08-21 02:14] agjohnson commented on #1578
Check your production domain setting, `SLUMBER_API_HOST` only sets the host for API calls.

[2015-08-21 02:53] Balooga commented on #1578
That did the trick. Thank you.

[2015-08-21 02:53] #1578 closed

[2015-08-21 08:16] marmotz commented on #1009
On http://docs.atoum.org/fr/latest/ the problem is still here
"en" link is ok, but "fr" link is not

[2015-08-21 13:31] KevinBrolly opened #1579 "Deleted project still appears."
Hello,

I deleted a project (aliss-engineclub) a while ago but it is STILL active on readthedocs.  The first time you visit the docs (https://aliss-engineclub.readthedocs.org/en/latest/) they will appear!  Subsequent refreshes will occasionally bring up the "You've found something that doesn't exist." page, but a few more refreshes and the docs will be back.

How do you permanently delete a projec

[2015-08-21 22:10] paternal commented on #1320
[It works !](https://readthedocs.org/projects/dummypdf/builds/3265399/) Thanks.

[2015-08-21 23:22] agjohnson commented on #1477
I dropped an example in #1581, I used this file to make `projects/` pass linting in #1580

[2015-08-22 00:00] agjohnson commented on #1009
@marmotz I see both links and they seem to link correctly.

[2015-08-22 07:32] marmotz commented on #1009
I don't know where you watch, but in the bottom left menu, just after "Languages", the links are incorrect
![capture](https://cloud.githubusercontent.com/assets/932553/9423006/96d14c20-48b0-11e5-94e6-da8c5e876b06.png)

[2015-08-22 07:34] marmotz commented on #1009
And just to be sure, i've just launch a new compilation. Same results for en and fr documentation.

[2015-08-22 10:39] gregmuellegger commented on #1009
I confirm, the fr links to the readthedocs.org subdomain, the en links the CNAME setup.
Maybe is there additional setup required for the atoum-en subproject to work with the domain?

[2015-08-22 10:48] gregmuellegger commented on #1472
Ohoh, you are right. Sorry for the sloppiness.

[2015-08-22 10:56] gregmuellegger commented on #1477
I'm not a big fan of adding docstrings to *every* class and method. If it's a very simple and easy implementation, then the names of the arguments and the methodname will speak for itself. Nevertheless it is surely worth adding some docstrings (I had a hardtime getting behind the meaning of all the fields in the `Version` model at the beginning for instance).

But I think there cannot be a automat

[2015-08-22 11:51] gregmuellegger commented on #1557
RTD runs the pdflatex command twice. That was introduced with #749. However we never ran it more than this. So it seems that it didn't change. Was it already working for you at some point?

However we could try running the pdflatex command three times and see if that helps.

[2015-08-22 11:57] gregmuellegger commented on #1557
I've proposed the third run in #1583.

[2015-08-22 12:54] gregmuellegger commented on #1579
Thanks for the report. I assume that's a bug on our side. The project's html and everything was successfully deleted from one webserver, but the web02 and web03 are still containing your data. That makes it to appear randomly on refresh, depending on which webserver you are redirected by the load balancer.

I'm working on a fix for this.

Regardless, we need to delete the leftovers from web02 and

[2015-08-22 13:43] gregmuellegger commented on #1550
@ericholscher I tried this in #1585, but it seems to be more complicated. See there for comments.

[2015-08-22 16:50] agjohnson commented on #1477
I definitely agree. If we can be strict about documentation in review, then we don't need to automate this. If we did want to automate it, we might be able to find a regex pattern that reasonably matches what we should be documenting. Or maybe we set the `docstring-min-length` even higher, to automate only very non-obvious constructs.

It would be a benefit to have a linting requirement here, as I

[2015-08-23 11:29] gregmuellegger commented on #1477
Yes, let's try it. Turning it off will be possible anytime if it turns out to be hindering.

[2015-08-23 12:59] lucamorelli opened #1586 "api request: list of the latest updated documents"
I would like to poll periodically and ask for updated or new documents in a project. How can I do this?

[2015-08-24 10:02] pabogdan opened #1589 "Dashboard inaccessible"
Monday morning at around 9AM BST the dashboard became inaccessible due to an unknown reason.
According to @agjohnson (chat on IRC) the queue server went down. During this downtime, the language of the error page would change randomly after every refresh.

Actual documentation pages seem to still be up though.

After reporting the initial issue, everything started working as normal for about half a

[2015-08-24 14:39] eivind88 commented on #1589
I'm having the same issue.
Currently only seeing a fail whale.

![skjermbilde 2015-08-24 kl 16 36 57](https://cloud.githubusercontent.com/assets/939844/9442888/64772388-4a7e-11e5-997b-c757f3def4c1.png)

[2015-08-24 15:42] davehunt commented on #1589
I'm seeing this too.

[2015-08-24 17:28] tbielawa opened #1590 "Dead "fundraising-wrapup" link on homepage (maze found)"
In the **Thanks for supporting us!** call-out on the RTD homepage there is a link in this sentence:

* Please read our [blog post](https://blog.readthedocs.com/fundraising-wrapup/) outlining our plan going forward.

Which points to ``https://blog.readthedocs.com/fundraising-wrapup/``

However, visiting the link brings one to a non-existent page (maze found)

[2015-08-24 18:05] jarvisschultz opened #1591 "Can't login even after password reset"
I've successfully reset my password many times. I've tried logging in with both my email and username. I've tried pasting the username that was included in the password reset email. I've looked at my user metadata: http://readthedocs.org/api/v1/user/?username=jarvisschultz&format=json and I can't see anything weird. However, every time I login I get

[code]
and the page title is `Server Error | Re

[2015-08-24 19:14] agjohnson commented on #1591
This was a server error with our session storage, it should be resolved now.

[2015-08-24 19:24] agjohnson commented on #1589
I noticed our session caching went belly up and bounced the cache last night. About 30m later, the cache crashed again, with an OOM state, but this time the cache wasn't consuming any memory. I'm still poking this, and why I didn't get woken up

[2015-08-24 19:25] agjohnson commented on #1589
Also, pushing a repo to us when our build queue is hosed shouldn't remove the current documentation. I'm going to open up another ticket to audit this.

[2015-08-24 19:27] #1591 closed

[2015-08-24 19:27] pabogdan commented on #1589
@agjohnson Sorry I forgot to update the issue, the take down of the docs was just temporary, they came back up the next time I checked

[2015-08-24 19:29] agjohnson opened #1592 "With build queue nonresponsive, changes to documentation should not be possible"
Audit the scenario brought up in #1589.

If the build queue is non-responsive, pushing a commit via webhook should not alter built documentation in any way. Make sure this isn't the case.

[2015-08-24 19:34] agjohnson commented on #1589
@pabogdan at least they didn't go completely down then. We should probably still be ensuring we don't touch them at all until a successful build.

Also, I've discovered the original culprit here. The very checks we used to monitor the cache turned on us in a thundering herd and caused an out of memory state. I'll address in our monitoring and close out this issue.

Thanks for the report @pabogdan

[2015-08-24 19:34] #1589 closed

[2015-08-24 20:11] jarvisschultz commented on #1591
Definitely fixed... Thanks!

[2015-08-24 23:34] tcosta84 commented on #1060
I second that! I just found out I needed Elastic Search. How can I contribute with the docs?

[2015-08-25 03:52] tevino opened #1593 "Duplicated requirement of dnspython given in onebox.txt"
I'm using code from master branch, tell me if I'm doing something wrong.

[code]

[2015-08-25 04:39] hgrecco commented on #872
New (simpler?) idea: Is it possible to insert the commit hash in the sphinx html? If it can be done already, then I just need to download the the page and check that it matches the version my latest hash.

[2015-08-25 04:44] sih4sing5hong5 opened #1594 "error by the branch name with Unicode chars"
I used `文件` as the branch name and got the error message.
[code]
I created another branch `docs` with the same commit and worked.

I really setted the interpreter with Cpython 3 in advanced settings.

This issue is like #1553  ?

Here is [my repository](https://github.com/sih4sing5hong5/tai5-uan5_gian5-gi2_kang1-ku7).

[2015-08-25 06:36] agjohnson commented on #1594
It is similar, though we already started discussing the implications of utf8 slugs in #1410. Closing this as a duplicate, feel free to chime in on or watch that ticket.

[2015-08-25 06:36] #1594 closed

[2015-08-25 06:40] agjohnson commented on #872
This should be part of newly built documentation with our theme already, we pass the commit hash in with via the API. We are storing the commit hash on the build object now, but we don't expose the commit as a first class endpoint in the api.

[2015-08-25 08:18] sih4sing5hong5 commented on #1594
Thanks.

[2015-08-25 14:19] Ichimonji10 opened #1595 "Upgrade to Pip 7.0.2 or later"
For quite some time, pip has allowed the use of requirements specifiers, like so:

    SomeProject
    SomeProject == 1.3
    SomeProject >=1.2,<.2.0
    SomeProject[foo, bar]
    SomeProject~=1.4.2

Pip 6.0 and later also allow the use of environment markers, like so:

    SomeProject ==5.4 ; python_version < '2.7'
    SomeProject; sys.platform == 'win32'

Unfortunately, pip 7.0.0 and 7.0.1 suffe

[2015-08-25 14:21] Ichimonji10 commented on #1595
I've manually tested the proposed solution for this issue. In short, it goes like this:

[code]

[2015-08-26 04:46] agjohnson commented on #1477
+1, I bumped the minimum length to 20 lines, which sounded reasonable, we can see what sort of errors that accumulates.

[2015-08-26 05:17] agjohnson commented on #1556
Running xelatex would require special processing in our build environments. Our build environments disregard makefiles completely, you would probably want to implement your special processing as a sphinx extension. The changes you are describing are slightly outside the realm of RTD though.

Marking this community support if anyone wants to take this on, it's off our roadmap for now.

[2015-08-26 05:22] agjohnson commented on #1436
Forgot to close this, docs are doc'ed.

[2015-08-26 05:22] #1436 closed

[2015-08-26 05:26] agjohnson commented on #1121
As part of a build refactor, we aren't performing a goofy magic pdf build anymore on build trigger, so failures should be per build and you should get notified on pdf failures.

[2015-08-26 05:26] #1121 closed

[2015-08-26 05:35] agjohnson commented on #1120
The build refactor is in production and accomplishes part of what was discussed above. The builds for HTML and PDF are now a single build, which if it fails, will notify the author of failure and trigger the standard build failure badge. I believe this addresses the original scenario.

I still like the idea of tracking build output objects, so that we can give an idea of freshness to the user for

[2015-08-26 05:47] agjohnson commented on #1552
Was this resolved?

[2015-08-26 06:28] cjw296 commented on #1552
Yep, I recovered the password for 'chrisw' and deleted the project there.

[2015-08-26 06:28] #1552 closed

[2015-08-26 06:41] agjohnson commented on #1579
I've removed the files from web02/03. I'll leave this open as it is tracking a bug fix.

[2015-08-26 07:04] #1472 closed

[2015-08-26 07:18] ericholscher commented on #1595
Pip should be set at 7.1.0 in our requirements now: https://github.com/rtfd/readthedocs.org/blob/master/requirements/pip.txt#L2

[2015-08-26 07:18] #1595 closed

[2015-08-26 07:19] #1593 closed

[2015-08-26 07:20] ericholscher commented on #1590
-> curl -I https://blog.readthedocs.com/fundraising-wrapup/
HTTP/1.1 200 OK

Works for me?

[2015-08-26 07:20] #1590 closed

[2015-08-26 07:22] ericholscher commented on #1579
This is a duplicate of #1408 -- closing as a dupe. It should also have been solved with #1584 I believe.

[2015-08-26 07:22] #1579 closed

[2015-08-26 07:25] ericholscher commented on #1470
This is a dupe of #1408 -- I've gone ahead and deleted the specific project now.

[2015-08-26 07:25] #1470 closed

[2015-08-26 07:26] ericholscher commented on #1264
This is a dupe of #1408 -- and it should be fixed with a recent commit that will be deployed soon. Closing it now and you can track #1408 for a proper resolution.

[2015-08-26 07:26] #1264 closed

[2015-08-26 07:27] ericholscher commented on #1538
I have deleted the `mylinux` project -- The larger issue here is being tracked with #1408 if you want to follow along with that.

[2015-08-26 07:27] #1538 closed

[2015-08-26 07:28] ericholscher commented on #1325
This is a dupe of #1408 -- closing this, and you can watch for a proper solution there. This specific issue has been addressed with #1584 and will be deployed soon.

[2015-08-26 07:29] ericholscher commented on #1325
Bah sorry -- thought this was a different issue. This sounds like a bug in our version syncing code -- which should be deleting old versions.

[2015-08-26 07:31] ericholscher commented on #1567
The work around for this is now documented in #1582

[2015-08-26 07:31] #1567 closed

[2015-08-26 10:14] Ichimonji10 commented on #1595
:+1:

[2015-08-26 13:04] Gabriel-p opened #1598 "Docs not building after push to repo"
I noticed this yesterday for my repo: https://github.com/asteca/ASteCA-Docs

After a push, the documentation wouldn't update automatically (I have RTD set up as a Service in the Github repo).

I had to manually build it and even so only the HTML version was built, when I have the `Create a PDF version of your documentation with each build.` option checked.

I just made another push (few minutes ag

[2015-08-26 14:24] SteveDiamond opened #1599 "Build started failing without any change in the documentation"
5 days ago the HTML build for my repo (https://readthedocs.org/projects/cvxpy/) started failing. The documentation being built was exactly the same as the day before, which succeeded. Since then all the HTML builds have failed. I only noticed that the builds were failing today.

I can't figure out why the builds are failing. I would really appreciate help with this.

[2015-08-26 16:00] tbielawa commented on #1590
That is so weird, sorry for the false alarm. Must be on my end of things.

I tried with google chrome when I reported the bug. I tried in Firefox after seeing your response and everything worked fine (same w/ chrome incognito mode).

[2015-08-26 17:48] #1550 closed

[2015-08-26 18:29] Gabriel-p commented on #1598
Weird, I just notices that the PDF *is* being produced even if no notice of "Passed" is given in the builds page.

Still not making the builds automatically though, I have to force them manually.

[2015-08-26 19:06] takotuesday opened #1600 "Remove duplication of get_downloads"
These seem to be duplicate implementations:
https://github.com/rtfd/readthedocs.org/blob/master/readthedocs/builds/models.py#L167

and

https://github.com/rtfd/readthedocs.org/blob/master/readthedocs/projects/models.py#L422

It appears that the only implementation of get_downloads used, is within the Version class:
https://github.com/rtfd/readthedocs.org/search?utf8=%E2%9C%93&q=get_downloads

Is t

[2015-08-26 21:26] jhamman commented on #1480
@d0ugal and @gregmuellegger -

Can either of you give us an update on where this issue is at? We have live docs on RTD that are not working because of this bug.  If there is something I can do to help move this forward, let me know.

[2015-08-27 00:33] ctb commented on #1599
I'm seeing this as of about 10 hours ago; https://readthedocs.org/projects/angus/builds/3276897/ for admins on the site.

The error I'm getting is
[code]

and I'm guessing that my use of custom templates has caused problems.

Is there a way that I can run exactly the build command/environment that RTD uses?

[2015-08-27 01:30] ctb commented on #1599
I think I have repeated everything that RTD seems to be running except using the readthedocs builder - i.e. I set the various versions of the software properly, etc. etc. - and can't repeat the error locally. Help!

[2015-08-27 01:42] ctb commented on #1599
Huh, OK, creating a new blank project works just fine....

[2015-08-27 02:15] ctb commented on #1599
OK, got it kind of working. It turns out there was one file that was problematic on RTD that wasn't causing me trouble locally - it was [this file](https://github.com/ngs-docs/angus/blob/5da04c2f172252d1327a7c3749388ae25a54b9c1/week3/DEG_replicates_analysis/README.md) if anyone is interested -- and removing it fixed my RTD build.  So this may or may not have been the original issue here, but it fi

[2015-08-27 13:26] sih4sing5hong5 opened #1602 "404 Not Found with unicode subproject"
I have 2 projects, `tai5-uan5-gian5-gi2-tsu1-liau7-khoo3` and `tai5-uan5-gian5-gi2-hok8-bu7`.
The latter is the subproject of the former.
So I have two urls for the latter docs.

* `http://tai5-uan5-gian5-gi2-hok8-bu7.readthedocs.org/zh_TW/latest/`
* `http://tai5-uan5-gian5-gi2-tsu1-liau7-khoo3.readthedocs.org/projects/tai5-uan5-gian5-gi2-hok8-bu7/zh_TW/latest/`

All pages in first url worked.
But

[2015-08-27 16:37] orsenthil opened #1604 "[Support] Unable to build projects. Invalid Git Repository or Connection times out."
All the recent builds of my project (https://readthedocs.org/projects/uthcode/builds/) have failed either due

* Invalid git repository - That's not the case as sometimes the trigger proceeds past this error.
* While building after 400 seconds the Connection times out.

How can I solve this?

[2015-08-27 19:32] takotuesday opened #1605 "Remove unused variable media_url_prefix"
This code appears to no longer be in use. If you look at the template being rendered, `media_url_prefix` is never used.

https://github.com/rtfd/readthedocs.org/commit/35a942b71c047c2518f96bea9a2f9bdc0aa921d6#diff-4fcca638684a1c1611b72a6dd6f1119aR34

[2015-08-28 08:37] mickaelandrieu opened #1606 "the website generated is still alive after remove the project on rtd"
Hi,

http://blogbee-docs.readthedocs.org/en/latest/ should be down :/  this cause a duplicate content issues on http://blogbee.backbee.com.

Can someone in charge of the platform can take a look ?

Thank you

[2015-08-28 10:45] robertmain opened #1607 "Docblock Support"
Is there any particular reason that read the docs doesn't just support standard docblock?

[2015-08-28 14:59] ffleandro opened #1608 "Docs Information Pop Up not working"
I've installed readthedocs on my own private server, configured it and i'm correctly building a repo, with several versions, just one language, and exporting to pdf.

Howver, when i'm viewing the builded html, the pop up that can be viewed on the lower left corner is always minimized. I click on it, but it doesn't show.

Is there any configuration needed to make this feature work or it should work

[2015-08-28 16:18] ericholscher commented on #1607
What is "standard docblock support"?

[2015-08-28 16:20] robertmain commented on #1607
It's a fairly common syntax throughout most languages, it also means you
can reuse your docblock documentation rather than adding another markdown
file to your project
On 28 Aug 2015 5:18 pm, "Eric Holscher" <notifications@github.com> wrote:

[2015-08-28 18:04] agjohnson commented on #1607
@robertmain Because there is no standard for these blocks across languages, and without language specific parsing of these files, all we get is a list of comment blocks. For proper reference documentation, we need to contextualize these blocks -- what namespace/class/object/whatever is this comment block in? -- and so need language specific parsing for each implementation.

We've added basic jsdoc

[2015-08-28 18:04] #1607 closed

[2015-08-28 18:51] agjohnson commented on #1598
The build system no longer creates magic pdf builds, they are encapsulated under the main build object.

Not sure on the webhook, we'd have to look more into that.

[2015-08-28 23:06] jhamrick opened #1609 "Build failing with "text file busy""
I've recently been having trouble with my builds failing, usually with the following error message (from https://readthedocs.org/projects/nbgrader/builds/3267954/):

[code]

I read somewhere else that this could be due to running multiple builds at the same time, but then if that's the case, how can I prevent this from happening? It happens on pretty much every commit (e.g. it will pass on `master

[2015-08-29 13:18] Gabriel-p commented on #1598
Thanks for clarifying the PDF building issue. I'll try a new commit push in a couple of hours to see if this problem is fixed and report back here.

[2015-08-29 19:10] hwine commented on #1121
:100:

[2015-08-29 23:23] orsenthil commented on #1604
Invalid issue. I had a mistake with that project.

[2015-08-29 23:23] #1604 closed

[2015-08-30 01:44] khilnani opened #1610 "v1 API seems broken when compared to the v1 API docs"
When i review the end points below against https://read-the-docs.readthedocs.org/en/latest/api.html , the end point resources below do not match the documentation.

Are the end points working correctly??
- http://readthedocs.org/api/v1/file/anchor/?format=json&q=virtualenv
  returns

[code]

instead of the below as per docs

[code]
- http://readthedocs.org/api/v1/file/search/?format=json&q=virtual

[2015-08-30 01:49] khilnani opened #1611 "v2 API returns far fewer fields as compared to v1"
There seems to be several differences between the amount of data returned by v2 vs. v1.

Example -
- http://readthedocs.org/api/v1/project/13/?format=json returns several fields, including the file download urls.
- http://readthedocs.org/api/v2/project/13/?format=json has very few fields to make it usable.

Given #1610, which is the API version recommended for public use, and is there any timeline

[2015-08-30 16:34] SteveDiamond commented on #1599
I still can't get my project to build. I'd really appreciate some help. Were there any major changes in the readthedocs build process 9 days ago?

[2015-08-30 16:58] ctb commented on #1599
Steve, can you paste in the build error?

--
Titus Brown, ctbrown@ucdavis.edu

[2015-08-30 17:01] SteveDiamond commented on #1599
Here's the build error in it's entirety. You can see it fails at the end to compile the CVXOPT package because it's missing LAPACK and BLAS libraries. But I've always had this error, even when the HTML build worked. In fact the "error" message is exactly the same as the output I got for successful builds.

[code]

[2015-08-30 17:58] gianarb commented on #606
@ericholscher this flow works in different branch? I added a submodule into the branch feature/layout-docs but it doesn't seem work..

Thanks for your work!

PS I use mkdocs

[2015-08-30 22:37] nedbat commented on #1115
I agree: the badge should link to the docs themselves.  No one but me is going to want to see the project page.

[2015-08-30 22:41] nedbat opened #1612 "GitHub aggressively caches status badges: need HTTP headers to prevent it."
My "docs status" badge is stuck on red, because GitHub caches them.  Here's the GitHub issue discussing the caching headers needed: https://github.com/github/markup/issues/224  I'm not sure rtfd's redirect to shields.io affects things.

[2015-08-31 09:59] claus022015 opened #1613 "CNAME for a project imported from Github"
Hi!

I`m a newbie in readthedocs.org and i`m trying to setup a CNAME for a sub project.
The main project is this :
http://nutrition-database-modernization.readthedocs.org/en/latest/

I`ve followed the tutorial, added a canonical name to the subproject , but i`m getting " Server not found " error.

Here is what i see in page source :

  <link rel="canonical" href="http://docs.nutrition-database-mod

[2015-08-31 10:44] hoechenberger opened #1614 "PyFFTW installation fails despite module being mocked-out"
My project depends on [PyFFTW](https://hgomersall.github.io/pyFFTW/).

Following [the RTD documentation](http://docs.readthedocs.org/en/latest/faq.html#i-get-import-errors-on-libraries-that-depend-on-c-modules), I mocked out the `pyfftw` import in my `conf.py`:
[code]
However, as `setup.py` is run, the installation of the dependency`pyfftw` fails, because the FFTW3 C header is missing:
[code]
How

[2015-08-31 14:28] ctb commented on #1599
Yep, when I set it up on RTD I get the same error.

Reading https://docs.readthedocs.org/en/latest/builds.html#how-we-build-documentation, I thought I'd try building it without the virtualenv. But this option is already disabled on the control panel... despite the use of it in the building of the cxpy docs.

What command do you run locally to build the docs?

[2015-08-31 15:07] Gabriel-p commented on #1598
Just pushed a commit (~10 min ago: https://github.com/asteca/ASteCA-Docs) and there's no new build: https://readthedocs.org/projects/asteca/builds/

[2015-08-31 15:09] yalp opened #1615 "README.md not found"
Hi and thanks for the readthedocs.org project,

I'm using readthedocs.org and mkdocs for the following project:

https://github.com/Orange-OpenSource/fiware-cepheus/

All docs are in 'doc' and only have README.md files (as github displays them by default), and using the following [mkdocs.yml](https://github.com/Orange-OpenSource/fiware-cepheus/blob/master/mkdocs.yml) with explicit pages:

[code]

[2015-08-31 15:43] lennartkoopmann opened #1616 "How to disable the "You are not using the most up to date version" warning"
Thanks for making ReadTheDocs happen first of all. I just discovered that the .com offering launched so you can expect us from [Graylog](http://www.graylog.org/) to upgrade soon.

We are releasing v1.2 of our software as an RC these days. When activating the `1.2` branch in RTD I noticed this warning on the RTD pages of `1.0` and `1.1`:

The current default version is `1.1` so everybody who opens

[2015-08-31 16:41] Gabriel-p commented on #1598
2 hrs since pushed commit, still no build.

[2015-08-31 17:02] NoralK commented on #1557
Any update on this?

[2015-08-31 17:10] agjohnson commented on #1616
@lennartkoopmann great! we're slowly rolling out more information about readthedocs.com, so stay tuned

Looking into this a bit, I thought there was a clear way to disable that feature, but there doesn't seem to be. Maybe this should live as an RTD theme option, and the javascript improved on to detect if the theme can take the warning.

The block gets added here, but it doesn't do much to detect

[2015-08-31 17:13] agjohnson commented on #1614
You have the mocking theoretically correct, but you are still installing your requirements, which include pyfftw. I'd suggest you use a separate requirements file to install only the dependencies you'll need to build your documentation.

[2015-08-31 17:14] agjohnson commented on #1613
What's the hostname you are trying to point to RTD? It seems that isn't set up correctly.

[2015-08-31 17:16] agjohnson commented on #1611
There isn't meant to be parity between our APIs in general, though as we move over to using APIv2 exclusively, we'll need to address these issues. We're slowly deprecating our v1 API, but in the meantime, that should be used until we have a solid v2 API

[2015-08-31 17:18] agjohnson commented on #1609
Hrm, this shouldn't be happening, as we try to make and effort to block builds if another task is running for the version. This might be a stale build on the builders, but is more likely a bug

[2015-08-31 17:22] cdeil commented on #896
Something changed on readthedocs.
For me `pip install scipy` now works:
https://readthedocs.org/projects/gammapy/builds/3287203/
Thanks!

[2015-08-31 17:33] agjohnson commented on #1602
I'm not quite sure on the cause of this, I can do some digging and see why this might be the case.

[2015-08-31 17:57] SteveDiamond commented on #1599
I just run ``make html`` from the ``cvxpy/doc`` folder.

If I were to guess what the problem is, I'd say that the readthedocs build process has changed so that the gcc error I posted makes the HTML build fail. When the HTML build was working I still got the gcc error, but the build as a whole went through. Does this make any sense?

[2015-08-31 18:02] ctb commented on #1599
On Mon, Aug 31, 2015 at 10:58:00AM -0700, Steven Diamond wrote:

My guess too!

[2015-08-31 18:23] SteveDiamond commented on #1599
Is there a way to install system packages as part of the build process (i.e., apt-get install)?

[2015-08-31 18:31] claus022015 commented on #1613
I'm trying to point it to
  <link rel="canonical" href="http://docs.nutrition-database-modernization.org/en/latest/" />

I have also tried to point my own hostname www.afdsi.org , but again it returns a Server Not Found error.

Should i modify the DNS on my own server, and point www.afdsi.org to docs.afdsi.org ?

[2015-08-31 18:32] claus022015 commented on #1613
Trying to point to this:
link rel="canonical" href="http://docs.nutrition-database-modernization.org/en/latest/

previous comment didnt show the URL path

[2015-08-31 18:40] agjohnson commented on #1613
Yes, you'll need to point the subdomains you want to use at you:
http://docs.readthedocs.org/en/latest/alternate_domains.html?highlight=domain#cname-support

[2015-08-31 18:41] claus022015 commented on #1613
Thank you for taking the time to clarify this.

[2015-08-31 18:43] #1613 closed

[2015-08-31 21:44] hoechenberger commented on #1614
Thank you very much for your suggestion. I got it to work now by:
* stripping down `setup.py`'s `install_requires` section to the bare minimum,
* introducing an `extras_require` directive in `setup.py`,
* adding a `requirements-doc.txt` file that only contains the list of dependencies absolutely necessary to build the docs.

Now both RTD and Travis-CI are happy :)

Thanks again for your quick help

[2015-08-31 21:44] #1614 closed

[2015-08-31 21:57] agjohnson commented on #1614
Giddyup. Glad it worked :)

[2015-08-31 22:03] agjohnson commented on #896
I believe py3 is still affected here. I'll open a ticket to get some of the missing py3 dependencies into our builders

[2015-08-31 22:10] agjohnson commented on #1599
Correct, a recently overhauled build system provides more explicit failures now. It probably should have been failing before, but there were a lot of cases where the builder would just move on after a build step failure.

We don't allow arbitrary installation of packages on the builders, but you should be able to mock this all out. If BLAS is a requirement of your project and not building document

[2015-08-31 22:15] agjohnson commented on #1612
Agreed, we should be doing this. If we can't do this in the badge view, we can do it in the production environment.

[2015-08-31 22:34] Gabriel-p commented on #1598
+8 hrs now, still nothing. @agjohnson should I just build it manually?

[2015-08-31 22:41] agjohnson commented on #1598
If it isn't triggered immediately, the webhook failed. My guess is your repository name doesn't match the github repo URL (it's case sensitive).

[2015-09-01 00:33] Gabriel-p commented on #1598
Yep, that was it. I didn't notice it was case sensitive and some time ago I had changed  the name of the repo from `asteca` to `ASteCA`.

Closing the issue, thank you for your help @agjohnson!

[2015-09-01 00:33] #1598 closed

[2015-09-01 01:02] mlubin opened #1617 "list of branches isn't updated"
For JuMP (http://jump.readthedocs.org/en/latest/), I recently pushed a branch called ``release-0.10``, but it's not showing up on the list at https://readthedocs.org/dashboard/jump/versions/ so that I can enable docs for this branch. I've rebuilt the docs a number of times and pushed commits using webhooks, but doesn't seem to update the list of branches. Any ideas?

Thanks!

[2015-09-01 01:16] SteveDiamond commented on #1599
I see. I have CVXOPT (the package that needs BLAS) as a dependency in my setup.py, and I don't want to remove it. How do I get readthedocs to use a different version of the setup.py?

[2015-09-01 01:45] khilnani commented on #1611
Thanks for including in APIv2.1

[2015-09-01 07:09] gianarb opened #1618 "mkdocs build flow supports submodule?"
Hi! I'm working on this project
https://github.com/gianarb/penny/tree/feature/layout-docs

I read #606 issue but it seem doesn't works for my case.. This feature is not supported by mkdocs build flow?

Thanks

[2015-09-01 12:36] mostafahussein opened #1619 "readthedocs self hosted , errors after installation"
I have followed the steps of installation on this [page](https://read-the-docs.readthedocs.org/en/latest/install.html) , then i have a version of read the docs up and running , but the building of demo always fail , and also i cannot import docs manually , even when i try to connect to a github account i am getting this error:

[code]

Is there additional steps should be done after installation ?

[2015-09-01 14:13] yalp commented on #1615
Workaround: I moved the contents all of `README.md` files to `index.md` and it now works correctly.

[2015-09-01 18:47] agjohnson commented on #1617
This might be another bug with our version parsing, I get a 500 error on your version page.

[2015-09-01 18:55] agjohnson commented on #1617
Dug into this a little more, it's a utf8 character in the version name apparently. We don't do a good job of handling utf8 names yet. This is a duplicate of #1410, moving conversation there.

[2015-09-01 18:55] #1617 closed

[2015-09-01 19:06] agjohnson commented on #1599
You don't need to remove it, but just don't install packages with a blas dependency in the RTD environment. This could be accomplished with a separate requirements.txt file

[2015-09-01 19:09] agjohnson commented on #1618
Yes, submodule support is baked into the git backend, independent of sphinx or mkdocs backends.

[2015-09-01 19:11] SteveDiamond commented on #1599
I'm already using a separate requirements.txt for RTD. The problem is the RTD build is also running setup.py, which has an "install_requires" field with CVXOPT (the package that needs BLAS).

If the "install_requires" field is the wrong way to manage dependencies, I can change it. But I want ``pip install cvxpy`` to automatically install all the dependencies.

[2015-09-01 19:13] gianarb commented on #1618
I can do this process from read the docs build? How can I manage this flow?

Thanks a lot!

[2015-09-01 19:16] agjohnson commented on #1618
You shouldn't need to do anything to invoke submodules. Is there a specific issue to solve here? Which project are you having problems with?

[2015-09-01 19:19] agjohnson commented on #1599
You builds seem to fail on installing from `doc/requirements.txt`, which has the line:
https://github.com/cvxgrp/cvxpy/blob/master/doc/requirements.txt#L9

I would try to remove that and mock out cvxopt in your conf.py

[2015-09-01 19:24] gianarb commented on #1618
Yes sorry this project https://github.com/gianarb/penny/tree/feature/playout

This is the last build
https://readthedocs.org/projects/penny/builds/3290310/

[2015-09-01 19:36] agjohnson commented on #1618
This seems to be a mkdocs issue. I see the submodule is pulled in successfully, this should work if mkdocs is configured correctly. Can you verify you are running `mkdocs==0.14.0` locally, and that the path isn't an issue running the same command:

[code]

[2015-09-01 19:44] gianarb commented on #1618
It works in my local env but I already resolved playout submodule

[2015-09-01 19:58] SteveDiamond commented on #1599
Oops, I removed that line on my local cvxpy but forgot to push it.

If I remove that line it still fails because of the CVXOPT requirement in setup.py. If I also remove the CVXOPT requirement from setup.py, the build succeeds. But I really don't want to remove that requirement. Is there a workaround?

[2015-09-01 21:00] agjohnson commented on #1618
I don't think this is a submodule issue. This branch works on my local instance of RTD.

[2015-09-01 21:06] gianarb commented on #1618
eheh sorry but I have not a strong experience with read the docs.. How can
I help you to debug this issue?

2015-09-01 23:00 GMT+02:00 Anthony <notifications@github.com>:

--
Gianluca Arbezzano
www.gianarb.it

[2015-09-02 04:29] ugocupcic opened #1620 "Add sumome analytics support"
Hi,

I was wondering how hard it would be to add support for [sumome](http://sumome.com)?

The idea is to inject the line below - it should be close to what google analytics require:

[code]

Cheers,

Ugo

[2015-09-02 12:10] SmokinCaterpillar opened #1621 "readthecods uses virtual environment even when it is disabled"
Hi, I haven't changed anything in my code but from one day to the next the built of my docs fails.

When building, it starts with

[code]

The latest statement fails because it cannot find the HDF5 library (which is used by PyTables).
However, I don't want read the docs to install my package at all, I have **not** checked the box "Install your project inside a virtualenv using setup.py install". B

[2015-09-02 14:10] mlubin commented on #1617
So is there anything I can do in the meantime? I deleted the branch with unicode characters but the list of branches is still stuck.

[2015-09-02 14:52] alasdairdc commented on #1615
I've jsut noticed this as well.  Contrary to what is stated in https://read-the-docs.readthedocs.org/en/latest/builds.html

What it actually does is create a directory called README with an index.html file inside it.  This is not the behaviour required.  It should create the index.html at the level the README.md was and not README/index.html

[2015-09-02 16:04] hach-que opened #1622 "rtd theme shows expand bullets on local instance, but not readthedocs.org"
Locally:

![image](https://cloud.githubusercontent.com/assets/504826/9636655/f3b90c6a-51df-11e5-854a-8b12661bd56d.png)

On readthedocs.org:

![image](https://cloud.githubusercontent.com/assets/504826/9636664/fd3a4f06-51df-11e5-8c69-328c3094553e.png)

Note the lack of the "[+]" icon on readthedocs.org.  This icon is valuable to indicate what items have additional content underneath them (as opposed

[2015-09-02 17:18] aperezalbela commented on #1325
Hi, I need to delete two test docs but I can't find the option in the UI. Could you please remove them completely? Their names are: "ScrapinghubTest" and "ScrapinghubTests". They are really messing with our official docs in search engines.

Thanks in advance.

[2015-09-03 00:36] SteveDiamond commented on #1599
I unchecked the build a virtualenv option, and now everything works. Thanks so much for being so responsive!

[2015-09-03 00:36] #1599 closed

[2015-09-03 09:07] SmokinCaterpillar commented on #1621
Btw I do have a `requirements.txt` in my top-level project folder. Have there been some internal changes in read the docs that ignore the tick mark "Install your project inside a virtualenv using setup.py install" if there is such a file?

[2015-09-03 09:21] SmokinCaterpillar commented on #1621
Well, I can confirm my hypothesis. In case I remove the `requirements.txt` file from my package, readthedocs stops installing my package.

Can you please fix the problem that having a `requirements.txt` file overrides the tick mark `Install your project inside a virtualenv using setup.py install`? Thanks!

[2015-09-03 09:48] colons commented on #1609
I *think* [this](https://readthedocs.org/projects/police-api-client-python/builds/3294839/) is the same thing?

[2015-09-03 16:05] capcarr opened #1624 "Unable to build project with numpy"
I'm unable to build the documentation for my project, which depends on numpy (and scipy and matplotlib). The build fails with a RequirementParseError for numpy. Here's the log: https://readthedocs.org/projects/biosppy/builds/3295858/

Under Tools->Advanced Settings I have both the options "Install your project inside a virtualenv using setup.py install" and "Give the virtual environment access to

[2015-09-03 16:18] jhamrick commented on #1609
Looks like it, to me.

[2015-09-03 16:19] jhamrick commented on #1609
I should clarify that I have tried wiping the virtualenvs for all my builds, which usually makes things work a *little* better for the first build after that, but then goes back to failing pretty much everytime after that.

[2015-09-03 22:04] mattions commented on #1612
+1 on this one

[2015-09-03 22:21] agjohnson commented on #1624
I can replicate the issue locally with `pip==7.1.0` and your requirements file. The error is from pip, which is stating you have a malformed spec for `numpy`. I'm not sure what makes the spec malformed here though.

Closing as this isn't a Read the Docs issue.

[2015-09-03 22:21] #1624 closed

[2015-09-03 22:52] agjohnson commented on #1621
If the intended outcome is to skip `requirements.txt` or `setup.py`, we should have build options for those, and not piggyback on `use_virtualenv`. The `use_virtualenv` option only stops the `setup.py` as it stands now, and could likely be dropped.

Fixes for this are welcome.

[2015-09-03 23:01] agjohnson commented on #1609
@jhamrick forgot to look into this on the servers, sorry for the delay. I see the `nbgrader` project causing a number of defunct python3 processes on our build servers. Any thoughts on why that would be the case?

Here's the specific command that that forked for python3 and never cleaned up:
[code]

I've killed the processes for now, but sounds like it will come back.

@colons I don't see the same

[2015-09-04 04:12] #1555 closed

[2015-09-04 09:31] capcarr commented on #1624
OK, thanks.

Can you suggest any workarounds in the mean time?

[2015-09-04 18:10] agjohnson commented on #1624
Try a standard `pip freeze` in your virtualenv to create a valid `requirements.txt`

[2015-09-04 23:28] gianarb commented on #1618
Any idea to solve this problem?

[2015-09-05 10:35] hoechenberger commented on #1105
This problem occurs quite frequently for me for the automated builds after pushing to Github. If I then restart the build manually, it finishes just fine.

[code]

[2015-09-06 03:57] TheBlueSky opened #1625 "Issue in building and installing on Windows"
Hello everyone,

Is building and running on Windows supported?

I followed the [installation steps](https://read-the-docs.readthedocs.org/en/latest/install.html), or rather the equivalent Windows version, and made sure all my tools are installed with their supported vertions; e.g., Python 2.7, pip, virtualenv, and Visual C++ Compiler for Python 2.7.

However, when I run `pip install -r requirement

[2015-09-06 07:19] ZeeD26 opened #1626 "matplotlib plot directive unable to import documented project"
Matplotlib provides a plot directive that allows rendering the image that results from code by merely inserting said code.
If this code, however, includes an import statement of the very same package I am trying to document it does not work with the readthedocs builder, while on my machine everything runs smoothly.

As a minimal example take
http://pydougu.readthedocs.org/en/latest/matplotlib/colo

[2015-09-06 16:36] jhamrick commented on #1609
@agjohnson Thanks for looking into this! The defunct python processes is definitely odd. There are two other types of errors that I've been seeing, both of which are bizarre to me, but perhaps are possibly related?

1. There are some failed builds that don't actually have any error messages associated with them (e.g. https://readthedocs.org/projects/nbgrader/builds/3285081/) so I have not idea wha

[2015-09-06 20:34] agjohnson commented on #1625
This error means the redis development headers are not found. I'm not familiar with windows though, so not sure what the equivalent procedure would be here.

Anyways, no, windows is not supported. If you are able to install dependencies, we make heavy use of symlinking on built documentation. This would require significant changes to our infrastructure to support. Happy to discuss what that means

[2015-09-06 20:37] agjohnson commented on #1609
My guess is that failures without response are likely the task not reporting a response when python process goes defunct, with subsequent errors about busy files a symptom of the defunct process still hanging around.

[2015-09-06 21:34] arq5x opened #1627 "New build failure in epub.py"
Hello,

I have been able to cleanly build the documentation for bedtools for a couple of years now. Last week, however, and a very minor update to the docs, I am consistently getting the following build error:

      File "/home/docs/checkouts/readthedocs.org/user_builds/bedtools/envs/latest/local/lib/python2.7/site-packages/sphinx/builders/epub.py", line 210, in esc
    name = name.replace('&', '

[2015-09-06 23:44] agjohnson commented on #1620
This could be handled by including the script with template modifications. I think this is outside the scope of RTD otherwise.

[2015-09-06 23:44] #1620 closed

[2015-09-07 06:26] itayher opened #1628 "Search results for mkdocs do not use CNAME"
When ever I search for a phrase in the documentation, the results links are coming back with wrong URL. It seems that they don't consider multi level. Also the URL comes with readthedocs.org domain and not the our domain. Is this a bug or we missing configuration?

[2015-09-07 07:02] gregmuellegger commented on #1553
I investigated on this and found that the problem is not related to the dot in the branch name but the substring `conf.py`. I proposed a fix in #1629.

[2015-09-07 07:18] gregmuellegger commented on #1586
Just to be clear, you want to get a list of the latest updated `.rst` documents?

One possibility to do so would be to check the source code repository for the latest updates in the docs directory. If this is feasible depends of course on your usecase. There is currently no way to achieve that with our REST API

What do is the usecase you have in mind for this?

[2015-09-07 07:20] minrk commented on #1553
Thanks, @gregmuellegger!

[2015-09-07 07:24] gregmuellegger commented on #1060
@tcosta84 You can fork the readthedocs.org repository here on GitHub and start modifying the relevant files in the `docs` directory. Then commit and push your changes to a branch in your fork and propose a pull request when you think your changes are worthwhile to be integrated into readthedocs.

[2015-09-07 07:45] gregmuellegger commented on #1557
@NoralK we haven't merged the proposed fix so far as we are not sure about *why exactly* we need the third run. Can you maybe jump in #1583 and shed some light onto the strangenesses of LaTeX for us? That would be super helpful!