[2018-05-08 18:47] davidfischer commented on #3954
@csadorf Docs authors will not need to do anything. I'm aiming to avoid a specific cookie/consent notice on docs sites and that will probably involve some changes. Any necessary changes though will be made in the Read the Docs codebase and rolled out to all docs sites automatically.

From a cookie standpoint, GA sets 1st party cookies which are not compliant currently but with some changes they ma

[2018-05-08 18:56] humitos commented on #4061
I'm re labelling this since it's not a bug in RTD but a feature that is useful for local RTD installation. Marking as Community Effort.

[2018-05-08 19:07] csadorf commented on #3954
@davidfischer Thank you very much for clarifying.

[2018-05-08 20:25] davidfischer commented on #4064
I'm investigating...

I can see that the problem is on the index page: http://sporco-cuda.readthedocs.io/en/latest/index.html
But not on any other pages: http://sporco-cuda.readthedocs.io/en/latest/install.html

This is pretty bizarre and I haven't found out why. That CSS should be added to all the pages.

[2018-05-08 20:44] stsewd commented on #4064
@davidfischer this is the same issue as #3715, I have a patch that fixes this https://github.com/rtfd/readthedocs.org/pull/4054

[2018-05-08 21:00] davidfischer commented on #4064
I can confirm that this is duplicate of that issue. The workaround in that ticket or removing the `sphinx_tabs` extension will do the trick. Hopefully we can get that fix merged soon.

[2018-05-08 21:09] humitos commented on #3716
It seems that your latest build are building properly. I'm closing here.

Anyway, those builds are five minutes away from the time limit. So, I just increased the time with 5 minutes more which should be enought for now. Feel free to request more time if it's needed, though.

Let us know in any case. Thanks!

[2018-05-08 21:09] #3716 closed

[2018-05-08 21:13] humitos commented on #4051
The problem is with the theme itself: `pallets_sphinx_theme`

You will need to dig a little into that to understand what's the problem there. Probably the context sent is different from the context expected by the theme.

[2018-05-08 22:03] imWildCat opened #4069 "Cannot use Type Hints (Python 3.5)"
## Details

* Read the Docs project URL: https://github.com/imWildCat/scylla/tree/master/docs
* Build URL (if applicable): https://readthedocs.org/projects/scylla-py/builds/7154547/
* Read the Docs username (if applicable): WildCat

## Expected Result

The doc is build successfully.

## Actual Result
Detailed info shown at: https://readthedocs.org/projects/scylla-py/builds/7154547/
[code]

It seem

[2018-05-08 22:03] dusktreader commented on #4051
@humitos I've removed that as a dependency, so that shouldn't be the cause of this issue any more

[2018-05-08 22:11] stsewd commented on #4051
Can you try wiping the environment? You can do this on the `versions` section (edit button)

[2018-05-08 22:16] imWildCat commented on #4069
Fixed according to https://github.com/rtfd/readthedocs.org/issues/2919

I created a file `.readthedocs.yml`: https://github.com/imWildCat/scylla/blob/master/.readthedocs.yml and specifies Python 3.6:

[code]

[2018-05-08 22:16] #4069 closed

[2018-05-09 03:45] bwohlberg commented on #4064
@davidfischer: Thanks for the very fast response. Unfortunately the workaround in #3715 doesn't work: it fixes the problem reported here, but corrupts other aspects of the page style. No problem, though, since it looks as if this will be fixed soon.

[2018-05-09 04:12] stsewd commented on #4064
@bwohlberg since the affected page is the index page of your docs, you can create a page with a name previous to `index` like `a_foo.rst` in the meantime, the problem only affects to the first page (alphabetically ordered) of the docs.

[2018-05-09 09:01] jorisvandenbossche opened #4071 "There was a problem with Read the Docs while building your documentation. Please report this to us"
## Details

* Read the Docs project URL: https://readthedocs.org/projects/geopandas/
* Build URL (if applicable): https://readthedocs.org/projects/geopandas/builds/7161608/
* Read the Docs username (if applicable):

I am not fully sure why it is failing, I don't find something in the different log parts that fail, but it just stops after the "cat doc/source/conf.py" step.
And since it asked to rep

[2018-05-09 09:18] mgiaco commented on #4056
Is there a way to find out how the workspace on the rtd server looks like? I am wondering if the static data is there. Do I need any special handling with the static Content?

 Many thanks

[2018-05-09 10:37] amit1rrr opened #4072 "Code formatting works locally but not on ReadTheDocs.org"
## Details

* Read the Docs project URL: docs.nurtch.com
* Build URL (if applicable):
* Read the Docs username (if applicable): amit.juschill@gmail.com

## Expected Result

I am expecting python code snippets to be syntax highlighted on ReadTheDocs.org.  It's working fine locally where I have readthedocs theme installed.  I am using code block. Here is the snippet example inside .rst file:

[code]

[2018-05-09 12:46] ivankravets commented on #4072
The same problem http://docs.platformio.org/en/latest/projectconf/advanced_scripting.html#before-pre-and-after-post-actions

[2018-05-09 12:49] ivankravets commented on #4072
It seems duplicate of https://github.com/rtfd/readthedocs.org/issues/4050

[2018-05-09 14:13] iccicci opened #4073 "Invalid project name, a project already exists with that name"
## Details

* Read the Docs project URL: http://ccc.readthedocs.io/en/latest/
* Build URL (if applicable):
* Read the Docs username (if applicable): iccicci

## Expected Result

Maybe I did confusion creating and deleting the project to change it's name.
I'm no longer able to create a project named "ccc" even if I created it yesterday and deleted it today.

Please just clean the project in the DB.

[2018-05-09 14:27] humitos commented on #4073
@iccicci In the middle a spam project was created with that name :/

I deleted it. You should be able to re-create your project. Thanks.

[2018-05-09 14:27] #4073 closed

[2018-05-09 14:40] humitos commented on #3973
We were hitting this at #3946. Here is the official explanation of this (which is not a bug in Celery --but a potential feature :D): http://docs.celeryproject.org/en/latest/userguide/tasks.html#instantiation

[2018-05-09 15:15] amit1rrr commented on #4072
Yes, looks like the same issue. Workaround is to explicitly specify the version of `sphinx_rtd_theme`
sphinx_rtd_theme>=0.3.1

I don't have any requirements.txt in my repository. There is one scant reference to it in the docs:
http://docs.readthedocs.io/en/latest/faq.html?highlight=requirements.txt#my-project-isn-t-building-with-autodoc

Basically, I need to go to Advanced settings and enable buil

[2018-05-09 15:28] amit1rrr commented on #4072
My issue is resolved.

Steps for other folks:
- Go to Advanced Settings and select this option: `Install your project inside a virtualenv using setup.py install`
- Add requirements.txt file to the text box on Advanced settings (see screenshot)
- Scroll down and select this option as well: `Give the virtual environment access to the global site-packages dir.`
- Create requirements.txt file in your

[2018-05-09 15:34] amit1rrr commented on #4050
I am new to RTD and Sphinx. I had to figure out how to do this. If you are in the same boat, I documented the steps in this thread:
https://github.com/rtfd/readthedocs.org/issues/4072

[2018-05-09 16:10] flexatone opened #4075 "Syntax highlighting not applied in HTML on code example via literalinclude"
## Details

I am seeing an issue where syntax highlighting is not being rendered in HTML output on code examples brought in via a literalinclude directive. I observe this result with multiple browsers. When I render the same RST source files with Sphinx 1.6.6 on my local system, syntax highlighting works as expected, both with built-in themes, as well as with the installable Read the Docs theme.

[2018-05-09 19:09] RichardLitt commented on #4072
Thank you, @amit1rrr, for both logging and resolving your issue! Glad you got it fixed.

[2018-05-09 19:10] RichardLitt commented on #4069
Thanks, @imWildCat, for logging this. Glad you got it resolved!

[2018-05-09 19:11] davidfischer commented on #4075
I believe this is a duplicate of #4050

[2018-05-09 19:41] ivankravets commented on #4072
@RichardLitt I'm not sure that a thousand developers should do the same. I think it should be fixed on RTFD side.

[2018-05-09 19:54] stsewd commented on #4072
@ivankravets yeah, we didn't update the package on rtd because of a previous bug on the 0.3 version of the theme. But now that is fixed.

[2018-05-09 20:51] iccicci commented on #4073
I really fast action, @humitos !

Much appreciated

[2018-05-09 21:16] humitos opened #4076 "If one social account fails on sync the rest are not executed"
While working on #4070 I found that if the user has 3 accounts connected and the first one fails for any reason (revoked token, for example) the other two are not going to be executed.

In this case, the user has two options to workaround this:

1. disconnect the account that it's failing
1. solve the issue with that account

I think we need to solve this from RTD side. The sync is executed in a c

[2018-05-09 21:25] humitos opened #4077 "SyncRemoteRepository (PublicTask) fail when an Exception is raised"
`PublicTask` is used to run a Celery Task and communicate the result to the FE. When the result is an `Exception` we are having an `EncodeError` since the exception is not being able to be encoded properly by `kombu`:

    kombu.exceptions.EncodeError: Object of type 'Exception' is not JSON serializable

This error happens at https://github.com/rtfd/readthedocs.org/blob/eb6dd0b3ddf0c8dee32f0aa7c61

[2018-05-10 00:06] flexatone commented on #4075
Thanks for the response. Yes, this appears to be a duplicate of #4050

As suggested there, I was able to bypass this issue by targeting a version of the RTD theme in my requirements.txt file.

sphinx_rtd_theme>=0.3.1

[2018-05-10 00:06] #4075 closed

[2018-05-10 00:59] bwohlberg commented on #4064
@stsewd: Thanks for the suggestion - I'll give it a try.

[2018-05-10 01:01] aaronmarkham commented on #4042
Hi @stsewd  - Is there another way to deal with this? It's super complicated how the MXNet org is setup right now, and getting a DMCA notice hasn't happened yet.
This isn't really a copyright issue. The content is wrong and outdated. It actually hurts users to find this old documentation in a google search and try to use it. It should be removed on that fact alone.

[2018-05-10 01:18] humitos commented on #3980
To reproduce this, just change the `Documentation Type` to `auto` and the next build will fail.

[2018-05-10 01:44] #2953 closed

[2018-05-10 06:41] stsewd opened #4081 "Better UX for the docs badge"
This is related to the badge that is in the project overview section.

There are two things:

First is a little hard to know that clicking the badge will make the popup to copy the badge to appear. This is also because if the user puts the cursor under the badge, a link is shown.

![badge](https://user-images.githubusercontent.com/4975310/39855808-ffbd1836-53f2-11e8-9d49-272336f814c2.png)

The oth

[2018-05-10 06:44] stsewd commented on #4066
Maybe the same issue as https://github.com/rtfd/sphinx_rtd_theme/issues/636? If so, that is a chrome bug, not from rtd.

[2018-05-10 06:54] stsewd commented on #1459
@Balooga Hi, can you check if what Anthony says is the problem? Or maybe you have already solved this problem?

[2018-05-10 07:25] stsewd commented on #2365
Closing this as the user [hasn't responded or given more information](https://docs.readthedocs.io/en/latest/contribute.html#initial-triage), feel free to reopen with more information if you are still having this problem :).

[2018-05-10 07:25] #2365 closed

[2018-05-10 07:26] stsewd commented on #2621
Closing this as the user [hasn't responded or given more information](https://docs.readthedocs.io/en/latest/contribute.html#initial-triage), feel free to reopen with more information if you are still having this problem :).

[2018-05-10 07:26] #2621 closed

[2018-05-10 07:27] stsewd commented on #3061
Closing this as the user [hasn't responded or given more information](https://docs.readthedocs.io/en/latest/contribute.html#initial-triage), feel free to reopen with more information if you are still having this problem :).

[2018-05-10 07:27] #3061 closed

[2018-05-10 07:30] stsewd commented on #3820
Closing this as the user [hasn't responded or given more information](https://docs.readthedocs.io/en/latest/contribute.html#initial-triage), feel free to reopen with more information if you are still having this problem :).

[2018-05-10 07:30] #3820 closed

[2018-05-10 07:36] stsewd commented on #1618
Closing this as the user [hasn't responded or given more information](https://docs.readthedocs.io/en/latest/contribute.html#initial-triage), feel free to reopen with more information if you are still having this problem :).

Also, the other problem was fixed on https://github.com/rtfd/readthedocs.org/issues/3020#issuecomment-354030446

[2018-05-10 07:36] #1618 closed

[2018-05-10 07:39] stsewd commented on #2024
Related to https://github.com/rtfd/readthedocs.org/pull/4041

[2018-05-10 07:41] stsewd commented on #2181
@zmeggyesi are you still having this issue?

[2018-05-10 07:43] stsewd commented on #2320
Can I do this? With merged branches at least :). I really like to see the project clean :grin:

[2018-05-10 07:48] stsewd commented on #2491
Closing this as the user [hasn't responded or given more information](https://docs.readthedocs.io/en/latest/contribute.html#initial-triage), feel free to reopen with more information if you are still having this problem :).

[2018-05-10 07:48] #2491 closed

[2018-05-10 07:50] stsewd commented on #2885
Closing this as the user [hasn't responded or given more information](https://docs.readthedocs.io/en/latest/contribute.html#initial-triage), feel free to reopen with more information if you are still having this problem :).

[2018-05-10 07:50] #2885 closed

[2018-05-10 07:54] stsewd commented on #2984
@monicacecilia  Hi, I can see that your docs look good now, are you still having this issue?

[2018-05-10 07:57] stsewd commented on #3026
You can check this to help on translations https://docs.readthedocs.io/en/latest/contribute.html#helping-on-translations and also https://docs.readthedocs.io/en/latest/i18n.html#administrative-tasks

[2018-05-10 08:05] stsewd commented on #1777
Closing this as the user [hasn't responded or given more information](https://docs.readthedocs.io/en/latest/contribute.html#initial-triage), feel free to reopen with more information if you are still having this problem :).

[2018-05-10 08:05] #1777 closed

[2018-05-10 08:11] stsewd commented on #4062
Yes, you need to build the latest branch for rtd to pull new branches/tags, and sometimes the local repo gets confused when forcing tags so is better to wipe the latest version and rebuilding to get a clean information.

[2018-05-10 08:15] stsewd commented on #2081
Closing this as the user [hasn't responded or given more information](https://docs.readthedocs.io/en/latest/contribute.html#initial-triage), feel free to reopen with more information if you are still having this problem :).

And also as mention above, rtd doesn't support building docs on Windows.

[2018-05-10 08:15] #2081 closed

[2018-05-10 08:17] stsewd commented on #2984
@monicacecilia thanks for the update!

[2018-05-10 08:17] #2984 closed

[2018-05-10 08:19] stsewd commented on #2164
Closing this as the user [hasn't responded or given more information](https://docs.readthedocs.io/en/latest/contribute.html#initial-triage), feel free to reopen with more information if you are still having this problem :).

[2018-05-10 08:19] #2164 closed

[2018-05-10 08:28] stsewd commented on #2782
You can check http://readthedocs.com for private repos.

[2018-05-10 08:29] stsewd commented on #2803
@pllim are you still having this issue?

[2018-05-10 08:33] stsewd commented on #2962
Closing this as the user [hasn't responded or given more information](https://docs.readthedocs.io/en/latest/contribute.html#initial-triage), feel free to reopen with more information if you are still having this problem :).

And the latest builds are successful

[2018-05-10 08:33] #2962 closed

[2018-05-10 08:35] stsewd commented on #3014
So, the issue here is a problem with the time/memory limits?

[2018-05-10 08:35] stsewd commented on #3030
Closing this as the user [hasn't responded or given more information](https://docs.readthedocs.io/en/latest/contribute.html#initial-triage), feel free to reopen with more information if you are still having this problem :).

[2018-05-10 08:35] #3030 closed

[2018-05-10 08:37] stsewd commented on #3076
Closing this as the user [hasn't responded or given more information](https://docs.readthedocs.io/en/latest/contribute.html#initial-triage), feel free to reopen with more information if you are still having this problem :).

[2018-05-10 08:37] #3076 closed

[2018-05-10 08:39] stsewd commented on #3078
Closing this as the user [hasn't responded or given more information](https://docs.readthedocs.io/en/latest/contribute.html#initial-triage), feel free to reopen with more information if you are still having this problem :).

And a solution was proposed.

[2018-05-10 08:39] #3078 closed

[2018-05-10 08:42] stsewd commented on #3257
Closing this in favor of #3108

[2018-05-10 08:42] #3257 closed

[2018-05-10 08:44] stsewd commented on #3155
Closing this as the user [hasn't responded or given more information](https://docs.readthedocs.io/en/latest/contribute.html#initial-triage), feel free to reopen with more information if you are still having this problem :).

And I can see your latest builds are successful.

[2018-05-10 08:44] #3155 closed

[2018-05-10 08:49] stsewd commented on #3197
@cokelaer Some of your builds are passing, were you able to do a workaround for this?

[2018-05-10 08:53] stsewd commented on #3275
@azazel75 can you please tell if my solution works for you?

[2018-05-10 08:58] stsewd commented on #3619
Closing this as the problem was fixed, and the slug is a rtd feature to be unique.

[2018-05-10 08:58] #3619 closed

[2018-05-10 09:05] stsewd commented on #3836
@rajujha373 hey, were you able to solve this?

[2018-05-10 09:07] stsewd commented on #3871
@uncelvel please check Anthony's solution and tell us if that works.

[2018-05-10 09:08] stsewd commented on #3890
This was solved on https://github.com/rtfd/readthedocs.org/pull/3725

[2018-05-10 09:08] #3890 closed

[2018-05-10 09:18] stsewd commented on #3515
Closing in favor of https://github.com/rtfd/readthedocs.org/issues/3991

[2018-05-10 09:18] #3515 closed

[2018-05-10 09:45] stsewd commented on #534
Closing in favor of https://github.com/rtfd/readthedocs.org/issues/3887

[2018-05-10 09:45] #534 closed

[2018-05-10 13:29] pllim commented on #2803
Ah, I think we decided to just "live with it". Thanks for following up.

[2018-05-10 13:29] #2803 closed

[2018-05-10 14:15] humitos commented on #4081
Wow! I didn't know that this even exists :/

Do you have some opinions/ideas on how the proper way of showing this information will be?

[2018-05-10 15:15] dusktreader commented on #4051
I was able to work-around this issue by pinning my flask dependency. However, this is a less than desirable way of dealing with the issue. I'd still like to figure out why this is happening

[2018-05-10 16:19] hen commented on #4042
I've appealed with the Apache MXNet developer community to see if anyone is able to contact the individual who setup the 'newdocs' account.

Failing that - @stsewd - where is the Trademark Violation Policy for readthedocs? I see the DMCA, but I think what's probably more applicable here is the equivalent to GitHub's https://help.github.com/articles/github-trademark-policy/

[2018-05-10 18:13] stsewd commented on #4081
@humitos I discovered this by mistake a month ago :grin:, I don't remember where I saw some good UX for this, I'll try to see if I can remember. But basically, there was a _info_ symbol to the side of the badge, clicking that symbol shows the popup with links to the badge.

[2018-05-10 18:15] stsewd commented on #4081
Also, the popup can be shown as a modal window.

[2018-05-10 18:40] stsewd commented on #4064
Closing this as a duplicate of #3715 I hope the fix will be merged soon.

[2018-05-10 18:40] #4064 closed

[2018-05-10 19:10] stsewd commented on #3221
The cache is saved on other directory https://github.com/rtfd/readthedocs.org/blob/f22289a30b909a61c6d498d6faf4e90b0824b4ed/readthedocs/projects/models.py#L468-L473

[2018-05-10 19:12] stsewd commented on #3221
I think this feature is not needed if the cache directory is outside the virtual environment, right?

[2018-05-10 19:50] stsewd commented on #1621
So, the residual problem of this ticket is that rtd automatically picks the `requirements.txt` file?

[2018-05-10 19:55] stsewd commented on #3562
Closing this as isn't a RTD issue but Sphinx.

[2018-05-10 19:55] #3562 closed

[2018-05-10 19:57] stsewd commented on #2844
Related to https://github.com/rtfd/readthedocs.org/issues/3329

[2018-05-10 19:59] stsewd commented on #2107
Related to https://github.com/rtfd/readthedocs.org/issues/2607

[2018-05-10 20:05] stsewd commented on #1703
Those translations aren't on the docs project anymore, is this issue still relevant?

[2018-05-10 20:08] stsewd commented on #1315
@carukc hi, is this still needed for you? Travis has a `rebuild` button (or another name, I don't remember)

[2018-05-10 20:09] stsewd commented on #1199
Closing this in favor of https://github.com/rtfd/readthedocs.org/issues/2844 and https://github.com/rtfd/readthedocs.org/issues/3329

[2018-05-10 20:09] #1199 closed

[2018-05-10 20:18] stsewd commented on #3160
I'm not sure if I understand this issue, maybe this was fixed with the recent changes on translations? Also, this seems something from the .com project

[2018-05-11 09:37] janw opened #4082 "Expired certificate for cdnmedia.readthedocs.org"
## Details

Accessing docs for projects using cdnmedia.readthedocs.org for assets causes bare html output, since browsers are returning a certificate error for expiry (26 days ago).

* Read the Docs project URL: https://icalendar.readthedocs.io/en/latest/

Overriding the expiry error manually causes all contents to render properly.

## Expected Result

![bildschirmfoto 2018-05-11 um 11 31 38](http

[2018-05-11 14:36] davidfischer commented on #4082
Thanks for reporting this. Read the docs doesn't really use the host cdnmedia.readthedocs.org anymore as all the static media is served from media.readthedocs.org. The reason icalendar is having this issue is that these docs haven't had a successful build in almost 3 years so they are using an old server.

I'm still considering updating the cert but perhaps a better solution is to try to help the

[2018-05-11 14:40] davidfischer commented on #4082
The error in their docs is on this line:

    pkg_resources.get_distribution('icalendar').version

which results in an error.

[2018-05-11 14:52] davidfischer commented on #4082
I created a PR for them that should fix their docs: https://github.com/collective/icalendar/pull/262

[2018-05-11 16:36] humitos commented on #4028
Sorry for the delay. I was able to send an email today. I will come back to this in 6 weeks from now.

    datetime.datetime(2018, 6, 22, 11, 35, 48, 961598)

[2018-05-11 16:47] humitos commented on #4030
I sent an email today to the author. I will be back to this in 6 weeks:

    datetime.datetime(2018, 6, 22, 11, 47, 21, 663167)

[2018-05-11 16:50] humitos commented on #3771
I'm closing this issue here. Please, feel free to reopen if you consider.

[2018-05-11 16:50] #3771 closed

[2018-05-11 20:31] pagreene commented on #4071
We are experiencing a potentially similar failure for several weeks:

- Project: https://readthedocs.org/projects/indra/
- Failing build url: https://readthedocs.org/projects/indra/builds/7174578/
- Usernames: https://github.com/pagreene, https://github.com/bgyori (our Read the Docs usernames are the same as Github usernames)

As with the above, our _automatic_ builds seem to fail directly after t

[2018-05-11 20:33] stsewd commented on #3061
@chriseth thanks for the update :)

[2018-05-11 23:51] humitos commented on #4030
@lukehinds you are now maintainer. `klondon` just added you.

Please feel free to re open the issue if there is a problem.

[2018-05-11 23:51] #4030 closed

[2018-05-12 00:39] adrn commented on #3153
Hi @humitos, @RichardLitt -- I'm still facing these timeouts...Any way you could increase the timeout? If not, I'm going to have to move my docs off of RTD :(

[2018-05-12 00:52] humitos commented on #3153
Hi @adm. I'll take a look next week

[2018-05-12 03:03] mrconway commented on #3603
I've been getting this error for the past couple of months without any change in the build procedure:

https://readthedocs.org/projects/alphapy/builds/7177424/

Could be a memory limit issue as well...

[2018-05-12 04:09] rgerkin commented on #3156
As long as people have dependencies that are not on pypi, I think it is still relevant.

[2018-05-12 05:06] stsewd commented on #3156
What about the solution of putting that option inside the requirements file?

[2018-05-12 05:09] rgerkin commented on #3156
I guess this could work if setup.py is also configured to just load the contents of the requirements file into `install_requires` (which is what I do anyway).  Then `python setup.py install`, and `pip install` should both work with dependency links.

[2018-05-12 05:10] rgerkin commented on #3156
Let me give it a shot and report back and if it doesn't work I'll reopen this.

[2018-05-12 05:10] #3156 closed

[2018-05-12 05:17] stsewd commented on #3156
Great! Let us know how that goes :)

[2018-05-12 15:06] janwh commented on #4082
Great — thanks! In the end, I decided against using the module anyways, so there's no pressure in that regard 😆

[2018-05-12 18:52] techtonik commented on #1703
@stsewd if you find the commit that fixes this - that would be the best.

[2018-05-13 08:02] psi29a commented on #3014
We can only do a partial build of our documentation as we need around 1.6 GiB to do a full build. Anyway we can bump to 2GiB please?

[2018-05-13 15:25] trelau opened #4085 "Problems with conda dependencies"
## Details

* Read the Docs project URL: https://readthedocs.org/projects/afem/
* Build URL (if applicable): https://readthedocs.org/projects/afem/builds/7181617/
* Read the Docs username (if applicable): trelau
* Read the Docs yaml: https://github.com/LaughlinResearch/AFEM/blob/rtd_conda/readthedocs.yml
* Conda env yaml: https://github.com/LaughlinResearch/AFEM/blob/rtd_conda/docs/environment.yml

[2018-05-13 16:03] jorisvandenbossche commented on #4071
I also did a manual trigger of the build, but that failed as well (and also didn't update the docs online)

[2018-05-13 19:56] amit1rrr commented on #4072
After I followed those steps a couple of builds went fine and I started seeing this error:
```python: can't open file 'setup.py': [Errno 2] No such file or directory```

And rightly so, because if we have selected to install a project inside virtual env with setup.py then we need to write our own setup.py :( I am not sure why it succeeded the first few time.

Now spending time writing a setup.py t

[2018-05-13 20:11] amit1rrr commented on #4072
I just made an attempt at simple setup.py that worked.
https://github.com/amit1rrr/nurtch-docs/blob/master/setup.py

For others: Everyone shouldn't have to do all this to get syntax highlighting working for code blocks. Seems like an essential feature for any documentation system.

[2018-05-14 11:10] alexeyraspopov commented on #4066
Can `overflow-x: hidden` be just removed from CSS?

[2018-05-14 11:44] colinoflynn opened #4086 "Support: Contacting owner of readthedocs.io project who isn't core maintainer to request ownership transfer"
## Details

* Read the Docs project URL: http://chipwhisperer.readthedocs.io
* Build URL (if applicable):
* Read the Docs username (if applicable): coflynn (mine)

## Expected Result

The readthedocs.io link for the ChipWhisperer project (http://github.com/newaetech/chipwhisperer) isn't pointing to the main repo, as the readthedocs.io project isn't owned by a core maintainer, and they are very out

[2018-05-14 13:19] RichardLitt commented on #3603
@mrconway Could you open a new issue and reference this one for that? This should have been resolved, so we should look into your error separately.

[2018-05-14 14:09] stsewd commented on #4072
I can say that the `Install project` option isn't required for your project, you only need the `requirements.txt` file

[2018-05-14 14:26] amit1rrr commented on #4072
Worked fine after wiping. I think the rtfd package would have got cached or something. Shouldn't `wipe` be default internal steps on RTD builds.

[2018-05-14 14:53] amit1rrr commented on #4072
I'm not sure about that. I have had inconsistent results twice in my first 2 weeks with RTD (documented in this thread above). While there is nothing exceptional in my build/package/config.
If it's package caching issue then at least every build that specifies requirements.txt should have wipe option enabled.

[2018-05-14 15:52] andy-maier opened #4087 "Stable version is stuck on a particular commit"
## Details

* Read the Docs project URL: https://readthedocs.org/projects/python-zhmcclient/
* Build URL (if applicable): https://python-zhmcclient.readthedocs.io/
* Read the Docs username (if applicable): andi0661

## Actual & Expected Results

We had an issue in the python-zhmcclient project with showing the correct version number of the RTD page, and did some test releases (on a separate github

[2018-05-14 16:47] stsewd commented on #4087
Did you try to wipe the environment (this can be done on the `Versions` section) before the build? maybe this is not part of #3913 but just old repo content.

I don't understand that policy you mention, you can recreate your project with the same name :)

[2018-05-14 16:58] Fohlen opened #4088 "Navigation is stuck / readthedocs is unusable in latest Chrome"
## Details

The site navigation is stuck / scrolling is impossible.
*Any*
*Stable, I assume*

## Expected Result

I should be able to use the site just fine.

## Actual Result

In Chrome readthedocs.org and *any* of it's subdomains is totally unusable for me. The navigation is stuck, meaning that I cannot scroll the page (it is indeed frozen). This occurs on `Version 66.0.3359.139 (Official Build)

[2018-05-14 16:58] humitos commented on #3153
@adrn Hi! I've increased the time limit. Let me know if that works. Feel free to reopen otherwise.

[2018-05-14 16:58] #3153 closed

[2018-05-14 17:04] humitos commented on #2967
This is done at #3604. Closing.

[2018-05-14 17:04] #2967 closed

[2018-05-14 17:04] stsewd commented on #4088
Duplicate of https://github.com/rtfd/readthedocs.org/issues/4066

[2018-05-14 17:04] #4088 closed

[2018-05-14 17:09] Fohlen commented on #4066
Removing `overflow-x: hidden` does also make it possible to scroll for me again.

[2018-05-14 17:18] stsewd commented on #4066
@Fohlen thanks for the update, @konsumer can you try that solution?

[2018-05-14 17:20] humitos commented on #4028
@steffengraber hi! He gave you permissions to update the docs. You are now maintainer of that project.

Let us know if there is any problem. I'm closing this issue.

Thanks,

[2018-05-14 17:20] #4028 closed

[2018-05-14 17:44] konsumer commented on #4066
@stsewd: As I said, it worked fine when I disabled the experimental chrome features, so I just did that (I don't even remember why I originally enabled those.)

[2018-05-14 17:46] stsewd commented on #4066
@konsumer can we close this then?

[2018-05-14 19:45] julienmalard opened #4089 "Consistently failing builds with no helpful error message"
## Details
Build fails during pre-build git operations.

* Read the Docs project URL: http://readthedocs.org/projects/tinamit
* Build URL (if applicable): http://readthedocs.org/projects/tinamit/builds/7186051/
* Read the Docs username (if applicable): julien.malard

## Expected Result
Successful build or helpful error message.

## Actual Result
`Error: There was a problem with Read the Docs while

[2018-05-14 22:36] humitos commented on #4089
You are experimenting this issue: #3060, because of your unicode branch name: https://github.com/julienmalard/Tinamit/tree/%E6%98%9F%E8%B0%95

This should be probably fixed by #4052

I'm closing here because of duplicated with a possible pending solution. Feel free to reopen if you consider.

[2018-05-14 22:36] #4089 closed

[2018-05-14 22:49] xKeiro opened #4090 "No ReadTheDocs theme on one specific page in my documentation"
## Details

Project URL:  https://bless-online.readthedocs.io
The Page that hes the Problem: https://bless-online.readthedocs.io/en/stable/community/extreme_guild_specific_content/index.html

Note: When I built the document offline on my machine it worked just fine.

## Expected Result

As every other page in the document to have the Read The Docs theme

## Actual Result

For some reason if I clic

[2018-05-14 23:09] stsewd commented on #4090
Duplicate of https://github.com/rtfd/readthedocs.org/issues/3715

There is a PR to try to fix this https://github.com/rtfd/readthedocs.org/pull/4054

[2018-05-14 23:09] #4090 closed

[2018-05-15 07:39] mgiaco commented on #4056
@RichardLitt okay no problem.
many thanks

[2018-05-15 10:17] devArtoria commented on #4051
Hi I get the same error when I tried to build devartoria/flask (fork of pallets/flask for translation.) docs.
It absolutely appears to be a matter of pallets-sphinx theme.
[code]

[2018-05-15 14:55] stsewd commented on #4066
Closing this, as is more a google chrome bug not rtd.

[2018-05-15 14:55] #4066 closed

[2018-05-15 14:56] joncison commented on #1938
I had the same issue (readthedocs not showing my GitHub repos) and this problem disappeared when using Google Chrome "incognito".

[2018-05-15 14:58] stsewd commented on #4062
Closing this as the original issue was solved, feel free to reopen if you consider.

[2018-05-15 14:58] #4062 closed

[2018-05-15 15:04] stsewd commented on #4072
We can close this, as the original issue was solved. I think there is already a follow up by the rtd team to upgrade the theme on the rtd side.

[2018-05-15 15:04] #4072 closed

[2018-05-15 15:05] webknjaz opened #4091 "https://rtfd.io/ SSL broken"
## Details

* Read the Docs project URL: https://rtfd.io/
* Build URL (if applicable):
* Read the Docs username (if applicable):

## Expected Result

*Browser follows redirect, as in case of http://*

## Actual Result

*Browser shows a scary red warning to the user.*
Details reveal the following:
[code]
Clearly you'd want to serve a correct certificate or disable listening to 443 for that domain c

[2018-05-15 15:08] stsewd commented on #4053
@samlobel hi, with the above explanation it is cleared enough? or maybe we can be more explicit about that on the docs? We will love for you to help us improve the docs if you consider.

[2018-05-15 15:12] grimmlink commented on #3836
Hi,

I was having the same problem :
[code]

When i opened the URL `/api/v2/project/1/` then it works and i get the JSON data while the server gets a 403

So then it was a permission issue: i just added the parameters in local_settings
SLUMBER_USERNAME = '***'
SLUMBER_PASSWORD = '***'

[2018-05-15 15:16] stsewd opened #4092 "Remove unused field from Project model"
When removing the comments app from the codebase in https://github.com/rtfd/readthedocs.org/pull/3802. A field was missing to be removed, we need to remove this and make a migration.

https://github.com/rtfd/readthedocs.org/blob/696a25f9b3350bb047caf1899a876aa1aa0fcbaa/readthedocs/projects/models.py#L140-L143

[2018-05-15 15:48] #4091 closed

[2018-05-15 15:54] ivankravets commented on #4072
@stsewd I did “wipe” for docs.platformio.org and it still doesn’t work without a custom requirements.txt

Should it work without extra steps as in the previous years?

[2018-05-15 16:00] stsewd commented on #4072
@ivankravets yes, you need a requirements file with the rtd_theme version that fixes the syntax.

[2018-05-15 16:01] stsewd commented on #4072
And as mention, rtd only needs to upgrade the default version of the theme and then you wouldn't need a requirements file.

[2018-05-15 16:19] ivankravets commented on #4072
Do you have any ETA when you will have this fixed on your side?

[2018-05-15 17:47] safwanrahman opened #4094 "Design architecture of search"
The search functionality hopefully will be rewritten in the upcoming months. Before we start, we need to make some architectural decision about it.

Currently the search functionality lives inside the readthedocs main application. But there are 2 kind of search. One resides inside project page and another one is on the readthedocs.org site. Both of the functionality is hosted on the core applicati

[2018-05-15 19:19] davidfischer commented on #4072
Probably within a week. We generally don't limit ourselves with strict timelines.

[2018-05-15 19:28] davidfischer commented on #4050
I'm going to re-open this until https://github.com/rtfd/readthedocs.org/pull/4096 is fixed.

[2018-05-15 19:30] davidfischer commented on #4072
I re-opened #4050 until #4096 is merged. I think that's for the best so people can find it.

As to what it takes to get this working *now*, you need to pin to `sphinx_rtd_theme>=0.3.1`. Both of the two threads discuss that.

[2018-05-15 19:33] Paebbels commented on #2715
@davidfischer
I'm currently dividing the project into two parts:
* The IP core library with VHDL contents
* The Python infrastructure to automate simulations

On the onehand I want to minimize ReadTheDocs compile times, but the main reason is that others should be able to use the Python scripts I developed for PoC.

I think when the split is done, we can investigate much better what part of docume

[2018-05-15 19:37] davidfischer commented on #2715
The size of the output does not necessarily yield larger memory consumption. We have projects that write very large output but consume normal amounts of memory. 240MB of memory would be totally fine but something is consuming large amounts. I haven't profiled it.

Seems likely.

[2018-05-15 19:41] Paebbels commented on #2715
How can I profile it?
I have a PyCharm installation. Can I start Sphinx (the Python module) directly without the `sphinx-build.exe` wrapper in PyCharm? I know how to setup environments and other settings for such runs.

[2018-05-15 19:43] davidfischer commented on #2715
At the simplest, you could just monitor its memory consumption with `top` or the like. That will tell you whether it is using a lot locally. As to figuring out what is taking all the memory, you might have to use [cProfile](https://docs.python.org/3.5/library/profile.html) or something similar.

[2018-05-15 22:03] Paebbels commented on #2715
@davidfischer  how many memory can be used in a RTFD run?

Here are some numbers for the Python Infrastructure part. So this is measured without all the documentation for the IP cores.
Reading sources: ~100 MB
Writing results: ~150 MB
This was measured with Windows task manager for `python.exe`; build target was set to `html`.

The generated HTML output is around 70 MB in size. The index lists ~6,

[2018-05-15 22:14] davidfischer commented on #2715
I'm going to give the project a build and see what I can see. In general, everything you're saying seems pretty normal although that is pretty large in terms of classes for autoapi. The out of memory error happens on the `singlehtmllocalmedia` builder and not the regular `html` one so I'm going to check that as well.

Our default memory limit is ~250MB (I believe it's a soft limit at 200MB and a h

[2018-05-15 22:38] davidfischer commented on #2715
The single HTML builder uses significantly more memory in my tests. The regular HTML builder was ~250MB but the `singlehtml` builder peaked at 620MB.

I know there is an effort to make the `singlehtml` builder optional in #3220 but that isn't done yet.

The short term solution here is to just increase your memory limit. I'm going to do that now to 750MB. I think this memory consumption is just do

[2018-05-15 23:33] davidfischer commented on #4094
I'll preface my part of the discussion by saying that I'm not extremely familiar with our current search setup.

I believe our search solution:

- It should work with other documentation formats (eg. MkDocs but others in the future) in addition to just Sphinx. Perhaps this involves an API for adding to the search index or perhaps we have a crawler that crawls build artifacts.
- Search should run i

[2018-05-16 00:12] Paebbels commented on #2715
Wow, that's a lot of memory!

That would be great to turn it off. We are fine with PDF (or ePub) downloads. The single file HTML version still can not be used standalone, because it needs java scripts and images ... (at least my output directory contains more than just one HTML file).

[2018-05-16 00:50] jmbowman commented on #2465
Would any of the code or ideas from [Precog](https://github.com/mapzen/precog) be useful in designing this?  The hosted service is defunct, but the code is there under an open license.  It's a webhook-driven Flask app which supports per-PR static sites by linking to the artifacts from a corresponding CircleCI build.

I'm currently looking into options for auto-building doc previews for the assorte

[2018-05-16 03:20] pllim opened #4098 "LaTeX Error: Environment notice undefined"
## Details

* Read the Docs project URL: http://ginga.readthedocs.io/
* Build URL (if applicable): https://readthedocs.org/projects/ginga/builds/7195367/
* Read the Docs username (if applicable): pllim

## Expected Result

Successful build (albeit with LaTeX warnings).

## Actual Result

PDF fails to generate with the following error:
[code]

Any advice on how to fix or workaround this would be ap

[2018-05-16 14:28] gasman commented on #1826
Unless anyone has any information to suggest otherwise, I believe that #2380 fully accounts for the problems described here, and so this can be closed now that the fix (#3811) is merged.

[2018-05-16 14:46] humitos commented on #4094
I want to echo all @davidfischer has said (including the part of not being very familiar with how our current search works :) )

Besides that, some specific comments:

I want to mention a little our experience with `readthedocs-build` as a separate library (not django app, but library) and the final decision to merge it in the core repository: https://github.com/rtfd/readthedocs-build/issues/46 be

[2018-05-16 15:43] stsewd commented on #1826
@gasman thanks for following this! I think the same, this was the problem as #2380. I'm closing this, if anyone is having this problem, feel free to ask to reopen this issue or create a new one with more information.

[2018-05-16 15:43] #1826 closed

[2018-05-16 15:50] cas-- opened #4100 "Builds ignore yaml config settings"
## Details

* Read the Docs project URL: https://readthedocs.com/projects/niteo-minisites
* Build URL (if applicable): https://readthedocs.com/projects/niteo-minisites/builds/109251/
* Read the Docs username (if applicable): cas--

## Expected Result

Add a `.readthedocs.yaml` config file and use the settings for the build

[code]
and `.readthedocs.requirements.txt` contains:

`sphinxcontrib.spell

[2018-05-16 15:59] stsewd commented on #4100
If you are using `readthedocs.com` I think you should contact support there, this issue tracker is for the open source project.

[2018-05-16 16:34] humitos commented on #4100
Hi @cas--! Thanks for your report. I took a look to your project under .com and I think you have found a bug. I still need replication to confirm it, though.

I will explain it here since it should also affect the community site. What _I think_ it's happening is that as you are not setting up a requirements file from the web Admin interface, RTD searches for an existing `requirements.txt` in the r

[2018-05-16 16:48] stsewd commented on #2775
@rgerkin can you try this solution https://github.com/rtfd/readthedocs.org/issues/3255#issuecomment-373564346?

[2018-05-16 16:50] stsewd commented on #2190
Closing this as the user [hasn't responded or given more information](https://docs.readthedocs.io/en/latest/contribute.html#initial-triage), feel free to reopen with more information if you are still having this problem :).

Also, there are other issues reporting the same problem

[2018-05-16 16:50] #2190 closed

[2018-05-16 16:51] humitos opened #4101 "Project import remote repository sync doesn't sync when org selected"
Steps to reproduce it:

1. go to "Import Project"
1. filter by your service (i.e. GitLab)
1. you will see the list of your repos under that service
1. go to the service page (i.e. gitlab.com)
1. create a repo there
1. go back to RTD import page
1. click on sync

When sync is finished you won't see your new repository there to be imported as project. You will have to refresh the page or filter by a

[2018-05-16 16:56] stsewd commented on #1856
As commented https://github.com/rtfd/readthedocs.org/issues/1856#issuecomment-177037500 and https://github.com/rtfd/readthedocs.org/issues/1856#issuecomment-362643595. The issue wasn't a bug but related to an invalid version name (PEP440), which is documented on the docs https://docs.readthedocs.io/en/latest/versions.html#how-we-envision-versions-working.

Also, the team has decided to implement h

[2018-05-16 16:56] #1856 closed

[2018-05-16 17:00] stsewd commented on #1608
Closing this as the user [hasn't responded or given more information](https://docs.readthedocs.io/en/latest/contribute.html#initial-triage), feel free to reopen with more information if you are still having this problem :).

And I think the solution pointed in https://github.com/rtfd/readthedocs.org/issues/1608#issuecomment-141774500 is the correct.

[2018-05-16 17:00] #1608 closed

[2018-05-16 17:17] humitos commented on #4100
I'm a little confused here.

I saw that you said in the build linked and I see everything properly configurated in your project. Although,  I tried to reproduce it by creating a sample project at https://gitlab.com/humitos/rtd-yaml-requirement with a similar configuration that you mentioned and I'm not able to reproduce it locally nor in readthedocs.com

![captura de pantalla_2018-05-16_12-09-51](

[2018-05-16 17:54] stsewd commented on #3988
Closing this as the user [hasn't responded or given more information](https://docs.readthedocs.io/en/latest/contribute.html#initial-triage), feel free to reopen with more information if you are still having this problem :).

Also, I think this is the same as #3986

[2018-05-16 17:54] #3988 closed

[2018-05-16 18:09] cas-- commented on #4100
Oh how silly of me, I swear I read it as `.yaml`! I'll test and let you know

[2018-05-16 19:05] ericholscher commented on #4094
### Follow up

No. I think David was just suggesting a UI element that would let you expand the search, similar to what GitHub does.

This is a separate issue though, and should be raised elsewhere to continue discussion.

This is hard, because of Elastic Search. We can do some work around docker compose or something that could make this easier, but it will always require having an additional serv

[2018-05-16 19:06] cas-- commented on #4100
Yep that was it after all, sorry for the wild-goose-chase! However it is a pain that projects pick one or the other for YAML extension. e.g. *pre-commit* uses only `.yaml` whereas *Travis* use only `.yml`.

Perhaps since the 'official' recommended extension is `.yaml` a warning/error in build log if RTD finds a `.yaml` file?

As an aside the move by Python to TOML will save us from these config fi

[2018-05-16 19:31] safwanrahman commented on #4094
Yes. I hope to work to index other documentation formats after making some progress with the current Sphinx one.

I will eventually give a try to dockerize the application so all the stack can be run in separate container seamlessly. Maybe, in future, we need to work heavily in search feature because its much needed for big documentations!

Currently, its possible to search project names in the co

[2018-05-16 22:18] humitos opened #4102 "Support .yaml extension for our configuration file"
Currently we only support `.yml` extension, which make some users (including myself) to be confused.

Probably, we need to just modifiy this file (https://github.com/rtfd/readthedocs-build/blob/bf2d1267c9a3dfa0b94588f23549ec527d5d5532/readthedocs_build/config/config.py#L17) to add the new names with the `.yaml` extension.

(take into account that `.yaml` is the official extension of the YAML file:

[2018-05-17 00:31] stsewd commented on #3341
We have the [common](https://github.com/rtfd/common) repo now, is this issue still relevant?

[2018-05-17 01:01] stsewd commented on #4102
Maybe a `Good First Issue`?

[2018-05-17 01:55] stsewd commented on #2793
Depends on https://github.com/rtfd/sphinx_rtd_theme/pull/545

[2018-05-17 02:09] stsewd commented on #3718
This was implemented on https://github.com/rtfd/readthedocs.org/pull/3788 (merged)

[2018-05-17 02:09] #3718 closed

[2018-05-17 09:10] kklmn opened #4103 "Sphinx custom theme support sporadically doesn't work"
## Details

* Read the Docs project URL: http://xrt.readthedocs.io/
* Build URL (if applicable): https://github.com/kklmn/xrt
* Read the Docs username (if applicable): konstantin.klementiev

## Expected Result

In my theme template I have default.css_t stylesheet that imports basic.css. I expect *my* default.css (not a generic one) in the _static directory, with all the imports properly done.

##

[2018-05-17 09:10] fantix commented on #3465
I have a case needing wildcard redirects that one language of translation is completely hosted somewhere else, so I'd like to redirect `/en/(.*)` to `https://else.where/en/$1`.

[2018-05-17 11:31] stevepiercy commented on #1556
FWIW, my local build of the Pyramid docs in PDF works, but it fails on RTD. There might be some useful configuration items in my [PR that got it to work locally](https://github.com/Pylons/pyramid/pull/3288).

[2018-05-17 13:57] freakboy3742 commented on #3715
Another data point; The [original problem page](http://toga.readthedocs.io/en/latest/background/commands.html) now works, but [a new page](https://toga.readthedocs.io/en/latest/background/architecture.html) is showing the same problem. This is after the #4054 fix has been applied.

[2018-05-17 14:01] stsewd commented on #3715
@freakboy3742 the PR that fix this problem hasn't been applied yet. This _bug_ only affects the first page (alphabetical ordered), that's why the new page now doesn't contain the styles.

[2018-05-17 15:17] stsewd opened #4104 "Unused packages"
There are two packages that are mention to be from `Commenting stuff` (the comment app was removed https://github.com/rtfd/readthedocs.org/pull/3802)

https://github.com/rtfd/readthedocs.org/blob/b05c82acc69e492533da9b7e3e40fef2456af6de/requirements/pip.txt#L98-L100

The `nilsimsa` package can be deleted without problems, but the cors package seem to be something that is used in others parts of th

[2018-05-17 15:28] stsewd commented on #3833
@Peque please provide the build url

[2018-05-17 15:29] stsewd commented on #3670
This was fixed in https://github.com/rtfd/readthedocs.org/pull/3671

[2018-05-17 15:29] #3670 closed

[2018-05-17 16:27] stsewd commented on #3888
This was removed on https://github.com/rtfd/readthedocs.org/pull/1580/files#diff-b9399e1d3499066c5564f98a620e8881L95 in https://github.com/rtfd/readthedocs.org/pull/1580

Looks like this was never used :thinking:

[2018-05-17 16:30] stsewd commented on #2593
Maybe https://github.com/rtfd/readthedocs.org/issues/871 is a better solution?

[2018-05-17 16:35] stsewd commented on #1556
@stevepiercy maybe this would help https://github.com/rtfd/readthedocs.org/issues/4021?

[2018-05-17 18:00] humitos opened #4106 "Project.has_valid_clone is not really used/useful"
While debugging a different issue (https://github.com/readthedocs/readthedocs-corporate/issues/332) I found that `Project.has_valid_clone` is present in just 3 places in the whole codebase and it's not really used/useful.

Besides, we making an extra API call (https://github.com/rtfd/readthedocs.org/blob/10b6d53cbcdb33d9241a885e730784ba13da35e8/readthedocs/projects/tasks.py#L404) to set this to `T

[2018-05-17 20:06] stsewd commented on #1960
We don't convert README files to index files anymore, so I'm not sure if this is still relevant (or maybe I misunderstood the issue)

[2018-05-17 20:31] wkerzendorf commented on #2714
@humitos I'm running into an issue on readthedocs as I need a specific version of sphinx but the subsequent conda install `mock pillow sphinx sphinx_rtd_theme` upgrades the sphinx that I require in my environment yaml file. How do I fix the version of sphinx

[2018-05-17 20:37] stsewd commented on #2714
@wkerzendorf maybe you want to check https://github.com/rtfd/readthedocs.org/issues/3829

[2018-05-17 20:38] wkerzendorf commented on #2714
thanks

[2018-05-17 20:40] kklmn commented on #4103
I don't think it is. If instead of importing basic.css into my "mydefault.css_t" I copy-paste it, it still uses body_min_width but now without errors. So it looks like a problem of importing (templating).

[2018-05-17 20:43] wkerzendorf commented on #3829
@stsewd does this mean you can't pin sphinx at the moment (sorry am not quite understanding it)

[2018-05-17 20:44] stsewd commented on #1859
I tested this on my local instance with the latest rtd-theme, it works as expected

![screenshot-2018-5-17 rst header test test documentation](https://user-images.githubusercontent.com/4975310/40202863-00894cfc-59e9-11e8-9ce2-7d5adb50ecbd.png)

![screenshot-2018-5-17 2nd level rst header test test documentation](https://user-images.githubusercontent.com/4975310/40202865-01f095d2-59e9-11e8-87f4-658

[2018-05-17 20:44] #1859 closed

[2018-05-17 20:47] stsewd commented on #3829
@wkerzendorf no, you can't. If you pin sphinx it will be updated by rtd later, this issue depends on https://github.com/conda/conda/issues/6845

[2018-05-17 20:50] wkerzendorf commented on #3829
That’s unfortunate- any idea for some work around. Could I revert to pip or does that also not work. Could RTD just change the order of when which conda is called

[2018-05-17 20:51] stsewd commented on #3829
@wkerzendorf you can do it with pip, this is only a conda problem.

[2018-05-17 20:53] kalefranz commented on #3829
https://github.com/conda/conda/issues/6845 should be resolved in conda 4.6 with https://github.com/conda/conda/pull/7291

[2018-05-17 20:55] davidfischer commented on #4103
In [this build](https://readthedocs.org/projects/xrt/builds/7201143/), it did.

[2018-05-17 20:55] stsewd commented on #1802
Hmm, I'm not sure how rtd can manage this since it only takes the repo url and the page name to built the edit url. We will need to inject the information about submodules in the theme context.

[2018-05-17 20:55] wkerzendorf commented on #3829
Any idea when this is coming out?

[2018-05-17 20:57] kklmn commented on #4103
Yes, I see it now, you're right.

[2018-05-17 20:58] kalefranz commented on #3829
Best estimate right now is to have 4.6 enter the beta stage in canary in six weeks, which would mean a release to defaults around six weeks after that.

Sent from my iPhone

[2018-05-17 21:08] Paebbels commented on #2715
I started the build process again. It shows another error but still related to not enough memory. It's a libc error directly from the system bubbling through Python.

Source: https://readthedocs.org/projects/poc-library/builds/7196859/

As far as the log looks, it was short before finishing.

Any ideas?

[2018-05-17 21:08] davidfischer commented on #4103
My current best guess is that there was some sort of deployment error and one of the builders didn't deploy correctly. The failures appear to be on build01. Successes are elsewhere.

[2018-05-17 21:12] stsewd commented on #1869
Looks like the projects that are mention here has pretty solid builts (there are some failures, but none of then related to this issue). And one project hasn't had recent builds and the last 2 years.

I will close this issue in a couple of weeks if there isn't a recent report with the same issue.

[2018-05-17 21:17] kklmn commented on #4103
Ok, I see that this problem with ThemeError was temporary. The issue with not copying default.css is really minor, I will just keep it renamed.
Thanks!

[2018-05-17 21:18] stsewd commented on #2158
@martijndeh your latest builds seems to be failing for another problem.
@tigerhawkvok I can't see your project, maybe it was deleted?

[2018-05-17 21:28] stevepiercy commented on #1556
@stsewd heh, yeah, I subscribed to that issue last night. 😉

I am looking for a way to resolve my [failed PDF build](https://readthedocs.org/projects/pyramid/builds/7203237/):

[code]

/me raises hand to be a guinea pig! 🖐

[2018-05-17 21:35] stsewd commented on #1887
This is a duplicate of https://github.com/rtfd/readthedocs.org/issues/2412, closing this in favor of the other one.

[2018-05-17 21:35] #1887 closed

[2018-05-17 21:36] willingc commented on #3829
@kalefranz I wonder what happens if you have Sphinx install in the pip section of the environment.yml. I'm on limited bandwidth right now or I would try it now.

[2018-05-17 21:40] stsewd commented on #2860
This bug is better documented in https://github.com/rtfd/readthedocs.org/issues/3887 and there is a PR https://github.com/rtfd/readthedocs.org/pull/3913. So, closing this in favor of the other issue.

[2018-05-17 21:40] #2860 closed

[2018-05-17 21:49] stsewd commented on #1556
I'll add this as something to consider for the next version of the yaml file https://github.com/rtfd/readthedocs.org/pull/4084

[2018-05-17 22:03] stsewd commented on #2139
I can see the `source` link working on other projects without updating the conf.py file (http://pynvim.readthedocs.io/en/latest/api/nvim.html)

So, closing this. Anyone else having this issue, feel free to ask to reopen.

[2018-05-17 22:03] #2139 closed

[2018-05-17 22:03] kalefranz commented on #3829
I don't *think* we add any type of `--upgrade` flag when we shell out to `pip` for the `environment.yml` stuff.  So my hunch is that it works as you want.

[2018-05-17 22:18] stsewd commented on #3080
I can see that the only module having troubles is `DisplayStimulus` and there is a warning in the build process

[code]

[2018-05-17 22:24] humitos opened #4109 "Risen BuildEnvironmentError exception from projects.tasks.py are logged"
There are some BuildEnvironmentError exceptions that we are riseing inside of the `run_setup` and `run_build` which end user messages that are being logged into our Sentry as errors but they are not errors to be reported to us at all since are just messages to the user.

Example: https://github.com/rtfd/readthedocs.org/blob/84cefc40f00083cbc74a473ffb4ef890294159a1/readthedocs/projects/tasks.py#L38

[2018-05-17 22:30] stsewd commented on #3979
Ok, reading the docs http://www.sphinx-doc.org/en/master/ext/imgconverter.html RTD needs to install `imagemagick` in its docker images https://github.com/rtfd/readthedocs-docker-images.

This would be a feature request.

[2018-05-17 22:42] stsewd commented on #2420
@xalgorithm @WoLpH your latest builds are passing or failing for other reasons. Feel free to reopen if you are still having this problem,

[2018-05-17 22:42] #2420 closed

[2018-05-18 09:17] WoLpH commented on #2420
it seems the issue hasn't occurred recently so I assume it has been fixed

[2018-05-18 11:41] kklmn commented on #4103
Thanks for pointing to the Sphinx version used in the failed build. Closed

[2018-05-18 11:41] #4103 closed

[2018-05-18 13:16] dvorapa opened #4110 "Our project admin inactive -> outdated Read the Docs"
Hello,

with our project Pywikibot we also have the docs on Read the Docs. But the former admin of our project and of Read the Docs account is inactive for a long time and the docs on Read the Docs are horribly outdated (you can see our issue tracker task here: https://phabricator.wikimedia.org/T187008). **Is there a way to somehow hide those outdated docs from Read the Docs website** (in order no

[2018-05-18 13:34] RichardLitt commented on #3833
@stsewd Do we need that? Should we include that in the message about what to report?

[2018-05-18 13:45] stsewd commented on #3833
@RichardLitt I don't have access to the database so I need it :/

[2018-05-18 13:56] RichardLitt opened #4111 "Add Probots"
### Why

I want to add probots because I think that they can significantly make it easier for us to do triaging, and will relieve the maintainers of some pressure.

### Wait, what are probots?

They're automated scripts that interact with GitHub issues and basically do some work for you, such as checking that users respond in times, that old threads are locked, and other things which are easy for

[2018-05-18 15:25] dtantsur commented on #1112
That's a really bad decision. You're excluding essentially any serious projects using autodoc, which have to install both requirements.txt (for autodoc) and test-requirements.txt (for sphinx plugins). For example, you're excluding any OpenStack project (following OpenStack guidelines https://governance.openstack.org/tc/reference/project-testing-interface.html#pti-documentation).

[2018-05-18 15:26] #3980 closed

[2018-05-18 15:41] fungi commented on #1112
Note that the documentation portion of OpenStack's PTI selected doc/requirements.txt expressly to maintain compatibility with RTD. If there is still something missing which prevents use of RTD by projects following the PTI recommendations then we can probably get those recommendations updated.

[2018-05-18 15:46] dtantsur commented on #1112
@fungi autodoc requires installing the complete requirements. Which, given the decision made in this bug, requires copying everything from requirements.txt to doc/requirements.txt and then keeping both in sync. And if we consider people building docs locally, then we need the 3rd file just for RTD, and then keep it in sync with the 2 previously created... This is just a nightmare compared to poten

[2018-05-18 16:12] ericholscher commented on #1112
You can reference requirements files from each other: https://stackoverflow.com/questions/11704287/split-requirements-files-in-pip

[2018-05-18 16:30] spookylukey commented on #2139
@stsewd - perhaps this is to do with the `.readthedocs.yml` file - https://github.com/neovim/python-client/blob/master/.readthedocs.yml

[2018-05-18 16:43] stsewd commented on #2139
I don't think so, those settings (from the linked file) don't have anything to do with sphinx.

[2018-05-18 17:32] KeyWeeUsr commented on #1112
While this is true via using `include PATH` inside the requirements.txt, it does not allow installing packages from the multiple requirements.txt *one after another*. For example:

**req1.txt**:
[code]

**req2.txt**:
[code]

[2018-05-18 17:34] stsewd commented on #4101
Actually, I think this never does the final request.

[2018-05-18 17:58] davidfischer commented on #3954
With respect to a data protection officer, we have created a small team internally to handle privacy related things. The email is privacy@readthedocs.org.

[2018-05-18 18:05] stsewd commented on #1479
Is anyone still having this issue? I checked the projects here: the first seems like the docs_dir was moved, and the second project doesn't exist.

[2018-05-18 18:06] spookylukey commented on #2139
@stsewd  - the [setup_py_install](http://docs.readthedocs.io/en/latest/yaml-config.html?highlight=readthedocs.yml#python-setup-py-install) setting from that file does seem to have a lot to do with sphinx and its ability to produce 'source' links. It determines whether or not to install a project before building documentation, which could make a big difference as to whether your code is importable

[2018-05-18 18:15] davidfischer commented on #2715
Jeez. That looks like an out of memory issue on the docker container as a whole.

[2018-05-18 18:18] davidfischer commented on #3282
This is going live next week

[2018-05-18 18:28] Paebbels commented on #2715
I'm back from a business trip, so I can go on and split the code into two repos.

Any ideas, when #3220 can be used?

I could use Travis-CI to build the documentation, but I cannot deploy to RTFD, right?

[2018-05-18 20:28] austin-plixer commented on #2457
Our company is looking for this feature request as well. It would be very helpful to our readers to search a phrase.

Even if that meant wrapping the search string with quotes as a workaround, it would greatly improve the search feature.

[2018-05-18 20:39] #4050 closed

[2018-05-18 21:10] stsewd commented on #2139
@spookylukey I'll see if I can research a little more on your project.

[2018-05-18 21:17] safwanrahman commented on #4094
@ericholscher

If we keep it inside the the RTD repo, we can use many built in signals of models like post_save and other in order to index in elasticsearch. Thats a good point also!

[2018-05-18 21:57] stsewd commented on #2139
I wasn't able to make the `source` link work locally. How are you testing this?

[2018-05-18 22:59] davidfischer commented on #3954
With respect to advertising, when somebody clicks an ad, we store some data to prevent fraud, handle billing, and to report aggregated statistics to advertisers (more on that below). We store a user agent, an anonymized version of a user's IP address, and a client ID which will change periodically per user but will be unique for a limited period of time. We believe this is in line with the GDPR an

[2018-05-19 07:28] spookylukey commented on #2139
@stsewd

    mkvirtualenv --python=`which python3.5` parsy-docs-test
    git clone git@github.com:python-parsy/parsy.git
    cd parsy
    ./setup.py develop
    # (or ./setup.py install, both work)
    cd docs
    pip install sphinx
    make html
    firefox _build/html/ref/primitives.html

This worked with the repo as it was. To make it easier, I've just explicitly [re-added]( a 'sys.path' change

[2018-05-19 07:39] stsewd commented on #2139
@spookylukey hey, I just saw that there is a source link now :)

![screenshot-2018-5-19 parsing primitives parsy 1 2 1-dev1 documentation](https://user-images.githubusercontent.com/4975310/40266279-c940bab6-5b0d-11e8-811d-e23973c993e6.png)

[2018-05-19 08:36] spookylukey commented on #2139
OK, I see that now. There must have been some caching because it wasn't there before, meaning I'm not sure which thing finally fixed it.  (I've just realised there is a revision number at the bottom of the docs pages which helps check whether you've got the latest version!).

In this case, I think the fixes must have been:

1) a `.readthedocs.yml` file that enabled Python 3 (without which I'm prob

[2018-05-19 15:53] martingalloar opened #4115 "`cannot import name new_document` exception on latex extension"
## Details

* Read the Docs project URL: http://pysap.readthedocs.io/
* Build URL (if applicable): http://readthedocs.org/projects/pysap/builds/7215941/
* Read the Docs username (if applicable): martingalloar

## Expected Result

Successful build (as in Travis for example https://travis-ci.org/CoreSecurity/pysap/jobs/381096678#L1456)

## Actual Result

Build failed with the following exception:

[

[2018-05-19 21:03] safwanrahman commented on #4110
@dvorapa Can you please check the documentation and follow according to it?
http://docs.readthedocs.io/en/latest/abandoned-projects.html

[2018-05-20 09:05] DannyBen commented on #1615
I see this is still an open issue, and I believe I have seen several issues in regards to the `README.md` and `index.md` relationship. Can someone comment on where does it stand?

Specifically, I am very much interested to know if there is a way to configure ReadTheDocs to simply use README.md as the index file - as is the practice on GitHub itself and GitHub Pages. this will make it fully compati

[2018-05-20 10:37] xylar commented on #2032
I have been trying to get `stable` to build for my project, https://github.com/MPAS-Dev/MPAS-Analysis.  The project had tags `v0.43` and `v0.41` that should have been `v0.4.3` and `v0.4.1`.  I have renamed the tags (by creating new tags and deleting the old ones).  However, ReadTheDocs still sees the old  `v0.43` and `v0.41` tags even many hours later.  I tried deleting my ReadTheDocs project comp

[2018-05-20 10:47] StrikerRUS opened #4117 "not latest version of rtd_theme while building site"
## Details

* Read the Docs project URL: https://lightgbm.readthedocs.io/en/latest/
* Build URL (if applicable): https://readthedocs.org/projects/lightgbm/builds/7218315/
* Read the Docs username (if applicable):

## Expected Result

The last version of `rtd_theme` on the site.

## Actual Result

Theme version is limited by `sphinx-rtd-theme<0.3`:
![image](https://user-images.githubusercontent.com

[2018-05-20 14:32] StrikerRUS commented on #4117
Is it caused by that latest `release` was 19 days ago?

[2018-05-20 16:12] davidfischer commented on #4117
#4096 is scheduled for deploy tomorrow.

[2018-05-20 16:28] StrikerRUS commented on #4117
So the sites are built not from master branch, right?

[2018-05-20 16:58] davidfischer commented on #4117
What is in `rel` is what's deployed. When the site is deployed, `master` is merged into `rel`. Also you can always check the [changelog](https://github.com/rtfd/readthedocs.org/blob/master/CHANGELOG.rst) to see what's deployed.

[2018-05-20 18:44] Peque commented on #3833
@stsewd Found it! :blush:

https://readthedocs.org/projects/mmsim/builds/6932440/

Reporting the error number or the complete URL makes no difference for the user. Finding the URL later is a bit harder, as you need to look among all your projects.

If build IDs are really unique maybe they should be accessible from `https://readthedocs.org/builds/0123456/`?

[2018-05-21 01:30] dwasyluk opened #4118 "Builds pass but only generate HTML, no PDF or EPUB"
## Details

* Read the Docs project URL: http://syscoin-docs.readthedocs.io/en/latest/
* Build URL (if applicable): https://readthedocs.org/projects/syscoin-docs/builds/7220403/
* Read the Docs username (if applicable): dwasyluk

## Expected Result

A PDF and EPUB download is generated with each build.

## Actual Result

No PDF or EPUB files are generated/built, and the build output seems to sugge

[2018-05-21 01:39] dwasyluk commented on #4118
Looks like I need to use RST to get automatic PDF generation...

[2018-05-21 01:39] #4118 closed

[2018-05-21 07:36] safwanrahman commented on #3825
Hi @xrmx
I have written some of the tests in #4116

[2018-05-21 14:31] humitos opened #4119 "Cleanup how path are handled (dev/production)"
There are some places where we are checking for the `DEFAULT_PRIVACY_LEVEL` to decide things that are not related to the privacy level but more related to the site/instance we are running (community/corporate site).

Example, `get_production_media_path` is using this to decide if we need to use `MEDIA_ROOT` or `PRODUCTION_MEDIA_ARTIFACTS`: https://github.com/rtfd/readthedocs.org/blob/84cefc40f0008

[2018-05-21 14:50] stsewd commented on #2032
@xylar please provide your Read the Docs project url

[2018-05-21 14:56] stsewd commented on #2032
I think I found your project https://readthedocs.org/projects/mpas-analysis/

Anyway, I just import your project on my local instance and seems to be ok

![screenshot-2018-5-21 versions read the docs](https://user-images.githubusercontent.com/4975310/40314090-180dca50-5cdd-11e8-8abe-5c3c8f5ca2ba.png)

If you are still having the problem you can try wiping the environment (this can be done in the `

[2018-05-21 15:09] stsewd commented on #1615
@DannyBen no, there isn't a way of serving the README file as index. I the past rtd was renaming the README to index, but that's isn't supported anymore. Maybe https://github.com/rtfd/readthedocs.org/pull/3635 can help to people realize that an index file is needed.

[2018-05-21 15:18] DannyBen commented on #1615
Thanks a lot. I see the PR is open and I am unsure of the vibe there: Is it a feature that will make it (back?) in? Or is the plan to leave it as "index is the only index"?

[2018-05-21 15:28] DannyBen commented on #1615
I see. I wish it was different - I really like cross-platform compatibility, and was hoping I can use the same repo for both GitHub pages and RTD.

[2018-05-21 15:59] stsewd commented on #2563
Closing this as duplicate of https://github.com/rtfd/readthedocs.org/issues/1820. The issue is with annotated tags. #4052 fix this.

[2018-05-21 15:59] #2563 closed

[2018-05-21 16:01] xylar commented on #2032
@stsewd, yes, that is the correct URL for our project on ReadTheDocs.

I tried wiping each unwanted environment with no effect.

I tried deleting the project and re-importing it, also with no effect.  Could something be cached on the ReadTheDocs side when I delete a project and bring it back?

[2018-05-21 16:08] davidfischer commented on #2715
That is correct.

[2018-05-21 21:08] #2602 closed

[2018-05-21 21:50] davidfischer commented on #3954
The privacy policy went live today: https://docs.readthedocs.io/en/latest/privacy-policy.html

[2018-05-21 21:58] agjohnson opened #4121 "Accumulate some test cases that we want tested around search"
Related to the work that @safwanrahman is taking on, it would be helpful for us to outline some of the test cases that we want to verify before making changes to tests. The most helpful tests for us are probably integration tests however. I'm not certain how we want to test this. Things that would be good to test are:

* Search term hit rate, for currently matching queries
* Search term miss rate,

[2018-05-21 23:22] StrikerRUS commented on #4117
`2.3.12` release fixed the problem. Thanks for the info and changelog link!

[2018-05-21 23:22] #4117 closed

[2018-05-21 23:31] #3799 closed

[2018-05-21 23:51] humitos commented on #3833
It's too much easier when we are debugging if we have all the information filled in from the template. Clicking on an URLs it way faster that composing the URL by hand and remembering how was that format.

Those small things will help us to research/solve your issue faster.

Thanks!

[2018-05-22 00:27] davidfischer commented on #3282
Just to give a small update here, this is partially live. We deployed a change such that all "view docs" links on Read the Docs will now have an HTTPS link. However, we are not yet issuing a redirect. That change will probably go live this week as a 302 redirect. If all goes well, we will update that to a 301 redirect.

[2018-05-22 08:53] TelDragon opened #4122 "Centos7_python2.7.5 virtualenv Import project error"
## Details
Import project error
导入项目错误
Import project error
日志：
log：
[code]
* Read the Docs project URL:
[https://docs.readthedocs.io/en/latest/install.html](https://docs.readthedocs.io/en/latest/install.html)
* Build URL (if applicable):
* Read the Docs username (if applicable):

## Expected Result
![error1](https://github.com/TelDragon/Dragon/blob/master/image/QQ%E5%9B%BE%E7%89%8720180522164213.

[2018-05-22 13:33] mrconway opened #4123 "CondaValueError: pip returned an error."
## Details

* Read the Docs project URL: https://readthedocs.org/projects/alphapy/
* Build URL (if applicable): https://readthedocs.org/projects/alphapy/builds/7223645/
* Read the Docs username (if applicable): alphapy

## Expected Result

This build was working "as is" without any changes in the *environment.yml* or *readthedocs.yml* files. Please refer to the [AlphaPy](https://github.com/ScottFr

[2018-05-22 14:46] humitos commented on #3829
This issue was closed in conda (implemented by https://github.com/conda/conda/pull/7291)

I suppose that we will need to wait for the next mini conda release that contains this feature and then:

* update our docker image with that conda version
* update our build servers with that docker image
* update our python code to call the conda command with the `-S, --satisfied-skip-solve` argument

[2018-05-22 15:59] ericholscher commented on #4121
I think:

* Test that main site search returns facets
  - Test that adding a facet query to that search filters properly (eg. only `File`'s from that `Project` are returned)
* Test that doc search properly filters to the project that you're searching
  - We could also add a test for "subproject" search. Currently we should be returning results for the current project, and and others that are linke

[2018-05-22 16:35] #3778 closed

[2018-05-22 16:40] boerngen-schmidt opened #4125 "Celery broken in RTD 2.3.12"
## Details

Own on premise Docker container fails to start celery with current requirements

## Expected Result

Starting celery with `celery worker -A readthedocs -Q default,celery,web,builder -l DEBUG -c 2`

## Actual Result

[code]

## Fix
Either fix kombu to Version `(venv) rtd@rtd:~/readthedocs.org$ pip install kombu==4.1.0` which works with celery 4.1.0
** OR **
Upgrade celery and use newest

[2018-05-22 17:05] humitos commented on #4125
We are not experimenting this issue in production or in our local environments.

Anyway, I just created a PR that updates Celery together with other packages as well: #4124.

[2018-05-22 17:24] boerngen-schmidt opened #4126 "API calls fail on new installation"
## Details

Documentation is not build when DB Backend is set to Postgresql

## Expected Result

Documentation being build

## Actual Result
[code]

Once I comment out the following block in my local_settings.py
[code]
it works fine again, since it will be using the default sqlite backend. Or am I just missing a setting?

[2018-05-22 17:41] begriffs commented on #4071
Experiencing this as well. My builds have been failing for days starting at [build 7213846](https://readthedocs.org/projects/citus-docs/builds/7213846/).

[2018-05-22 18:21] theacodes opened #4127 "Outdated pip is causing builds with namespace packages to fail"
* Read the Docs project URL: https://google-cloud-python.readthedocs.io
* Build URL (if applicable):

Recent failures:
- https://readthedocs.org/projects/google-cloud-python/builds/7229979/
- https://readthedocs.org/projects/google-cloud-python/builds/7225937/
- https://readthedocs.org/projects/google-cloud-python/builds/7225738/

Last successful build:
https://readthedocs.org/projects/google-clou

[2018-05-22 18:52] stsewd commented on #4127
The pip message is just a warning, so it shouldn't be the cause of the failure. I'm not sure why is this happening, I'll try to see if I can reproduce this on my local instance. Let us know if the build keeps failing.

[2018-05-22 18:58] stsewd commented on #4071
Hi @begriffs,  think your build is failing because your repo has a unicode branch https://github.com/citusdata/citus_docs/tree/metrics-%E2%88%82eco%E2%88%82e, rtd doesn't support unicode names for now (we are planning to support them soon https://github.com/rtfd/readthedocs.org/pull/4052)

[2018-05-22 18:58] davidfischer commented on #3954
Moz had a [pretty good blog yesterday](https://moz.com/blog/gdpr-and-online-marketing) regarding the GDPR and online marketing. Here's a brief summary:

- They believe Google Analytics is good to go as long as IP anonymization is on (RTD has it on)
- Email newsletters must be opt-in. No list buying/sharing. (our newsletter is double opt-in)
- The privacy policy must be in plain language (ours is p

[2018-05-22 19:38] begriffs commented on #4071
@stsewd thanks for the quick response! That was exactly the issue. I deleted the offending remote branch and builds are back to normal.

[2018-05-22 19:45] ericholscher commented on #3060
@stsewd We should check that the rest of the workflow handles unicode branch names properly. We might fix one thing, just to have it break further down the line. Have you tested #4052 with a unicode branch name, and confirmed doc serving, etc. work?

[2018-05-22 19:48] safwanrahman commented on #4126
Seems like you do not generate dumpdata after adding postgress as database!

[2018-05-22 19:56] StefanoChiodino commented on #4102
This seems easy enough for me to get me started...hopefully ;)

[2018-05-22 19:58] stsewd commented on #3060
@ericholscher #4052 is just for tags, unicode branches are still failing. Using py3 solves this also p:

[2018-05-22 20:06] theacodes commented on #4127
The most recent few have failed. Here's one: https://readthedocs.org/projects/google-cloud-python/builds/7230941/

[2018-05-22 20:13] StefanoChiodino commented on #4102
Looking into this I've found mention of `environment.yml`, `mkdocs.yml`. No mention of `yaml` extension for those so either they have the same problem or they are not correctly documented. Would those be look at in another issue?

[2018-05-22 20:26] ericholscher opened #4128 "Evaluate django-elasticsearch-dsl"
We might be able to simplify our integration with Elastic Search using existing tools.

Look at https://github.com/sabricot/django-elasticsearch-dsl to see if it makes sense.

[2018-05-22 21:01] agjohnson commented on #4102
Also, the python YAML implementation will parse JSON as well, perhaps we extend the even further :)

[2018-05-22 22:19] NathanielHoefer opened #4130 "Problem Building Documentation (build id 7231626)"
## Details

* Read the Docs project URL: https://readthedocs.org/projects/ref-master/
* Build URL (if applicable):
* Read the Docs username (if applicable): NathanielHoefer

I am new to ReadTheDocs and after attempting to build the latest version of my project, I receive a generic error described below.

## Expected Result

A successful build

## Actual Result

Build failure with the following res

[2018-05-22 22:29] stsewd commented on #4130
This is because you have an unexisting submodule https://github.com/NathanielHoefer/ref-master/blob/89659eba87d5a03c9b093ce14aecd552505801a5/.gitmodules#L1-L3, so rtd is very strict with that.

[2018-05-22 23:03] boerngen-schmidt commented on #4126
@safwanrahman care to elaborate a little more on the term "dumpdata". I do not understand what you mean by this. I found https://docs.djangoproject.com/en/2.0/ref/django-admin/#dumpdata but I do not want to dump any data, since there is none.
According to the docs it is not nessesary to load the sample data, if I set slumber username and password, but I'll give it a try tomorrow.

[2018-05-23 00:20] Coconutcoo opened #4132 "rst-versions footer cannot be expanded when using sphinx_rtd_theme"
## Details

* Read the Docs project URL: http://gather-documentation.readthedocs.io/en/latest/
* Build URL (if applicable): https://readthedocs.org/projects/gather-documentation/builds/7231904/
* Read the Docs username (if applicable): coconutcoo

## Expected Result

When clicking the injected rst-versions footer ![image](https://user-images.githubusercontent.com/15087570/40396618-e89ff334-5e25-11

[2018-05-23 00:53] TelDragon commented on #4122
Yes！

I read the log “pdflatex” error.
However, the installation document does not seem to indicate the need to install this dependency.
Please give a specific operation.
Thank you。

[2018-05-23 01:01] stsewd commented on #4122
if you want to use internally, I think the packages are documented somewhere in https://docs.readthedocs.io/en/latest/custom_installs/index.html. But, rtd uses docker images on production https://github.com/rtfd/readthedocs-docker-images

[2018-05-23 01:08] NathanielHoefer commented on #4130
That's exactly what it was. Thank you for assisting me!

[2018-05-23 01:08] #4130 closed

[2018-05-23 01:09] TelDragon commented on #4122
Well。 I'll get to know it first.
but docker The mirror is too big Go beyond 2G。The environment is not allowed

[2018-05-23 01:30] stsewd commented on #4122
I think the dependencies you are looking for are https://github.com/rtfd/readthedocs-docker-images/blob/master/Dockerfile#L38

[2018-05-23 02:08] stsewd commented on #4132
At first, I wasn't able to replicate this on your project, then I clear the cache and was able to replicate this. So, I think this is due to a recent update.

[2018-05-23 02:09] TelDragon commented on #4122
Thank you very much for solving the problem of dependency. Because the operating system is different, I can only use the stupid method "Yum install texlive* latex*".

But there is still one remaining problem.

[code]

[2018-05-23 02:14] stsewd commented on #4122
That's an elastic search problem. The site can work without it. Here is a guide in progress to install and setup ES https://github.com/rtfd/readthedocs.org/pull/3881

[2018-05-23 02:17] Coconutcoo commented on #4132
Should've clarified in the post what I've tried;

Clean install of Sphinx (sphinx-quickstart) and Alabaster theme, build on RTD, worked correctly.
Clean Sphinx install, RTD theme, build on RTD, did not work correctly.

Both of these had the same set of my .rst files and images, and with no other changes to the conf.py file than the theme this issue arises.

[2018-05-23 02:37] TelDragon commented on #4122
Thank you very much for your support!

Elasticsearch I have installed and run on the server.

[code]

[2018-05-23 02:58] TelDragon commented on #4122
Is it because my Elasticsearch version is too high?

I installed 2X

[2018-05-23 03:18] TelDragon commented on #4122
When I dropped the Elasticsearch version to 1.3.8

[code]

[code]

[code]

[2018-05-23 03:25] TelDragon commented on #4122
open url ip:prot

[code]

[2018-05-23 05:42] StefanoChiodino commented on #4102
Just realised: is `.readthedocs.yaml` also valid?

[2018-05-23 08:13] dillonsvincent commented on #4132
I am also experiencing this issue, i'm not able to reproduce locally.

[2018-05-23 12:45] davidfischer commented on #4132
@dillonsvincent, do you have a project url? It would really help to investigate.

[2018-05-23 14:29] tylerbutler commented on #4132
@davidfischer I am seeing this on my project as well. URL is https://wopi.readthedocs.io/

[2018-05-23 14:31] tylerbutler commented on #4132
Could this be related to #3925?

[2018-05-23 14:32] tylerbutler commented on #4132
This bug also seems to break the 'hamburger' menu on mobile devices (or devices with a small viewport). Tapping it does nothing.

[2018-05-23 15:56] westurner opened #4135 "Optional HSTS support"
## Details

- [Optional] HSTS support for readthedocs.io and custom domains would be great
- https://en.wikipedia.org/wiki/HTTP_Strict_Transport_Security

[2018-05-23 15:59] LewisSmallwood commented on #4132
I believe it crashes jquery / disables the DOM as soon as the error occurs so any onclick events, etc don't get called

[2018-05-23 16:08] davidfischer commented on #4132
It definitely is.

There is a problem where Read the Docs was getting too clever trying to speed up docs by centralizing the theme JavaScript. However, it ran into problems with a version mismatch. There was supposed to be short term fix for this but it doesn't appear to be working correctly.

[2018-05-23 16:31] davidfischer commented on #4132
This looks like there was a problem building the static assets correctly in the last deploy. I should have this fixed relatively shortly.

[2018-05-23 16:32] RichardLitt commented on #4118
Thanks for logging and following up with this, @dwasyluk!

[2018-05-23 16:45] westurner commented on #4135
django.middleware.security.SecurityMiddleware supports app-wide HSTS
https://docs.djangoproject.com/en/2.0/ref/middleware/#http-strict-transport-security

https://docs.djangoproject.com/en/2.0/topics/security/#ssl-https

https://docs.djangoproject.com/en/2.0/_modules/django/middleware/security/#SecurityMiddleware

``SecurityMiddleware.process_response()`` checks ``self.sts_seconds``, ``self.sts_in

[2018-05-23 16:57] westurner commented on #4135
https://github.com/rtfd/readthedocs.org/blob/master/readthedocs/projects/models.py

- Project > #project features
  -  ``hsts_enabled`` (Boolean?)
- forms.py (UpdateProjectForm, ProjectAdvancedForm)
- admin.py?

https://github.com/rtfd/readthedocs.org/blob/master/readthedocs/settings/base.py

- ``MIDDLEWARE_CLASSES``
  - already includes SecurityMiddleware, which we don't want to modify
    - "Per

[2018-05-23 17:16] dillonsvincent commented on #4132
@davidfischer https://atra.readthedocs.io/ https://github.com/dillonsvincent/docs
Are all effected sites going to need to rebuild after the fix?

[2018-05-23 17:43] davidfischer commented on #4132
I believe this issue is resolved. I'm running a few tests but I believe this should be fixed. You may need to reload without cache (I'm working on that too).

[2018-05-23 17:51] davidfischer commented on #4132
Yes, the static assets didn't get built correctly and old static assets were used.

I'm glad we got this sorted out.

[2018-05-23 17:51] #4132 closed

[2018-05-23 18:45] davidfischer commented on #4135
You have a few different ideas here and I'll attempt to address them:

## HSTS on readthedocs.org (not Documentation Sites)

This should be relatively easy to add. It isn't my top priority right now but I will get around to it. This can be rolled out transparently. However, I don't really think this is what you're asking about.

## HSTS on *.readthedocs.io (Documentation Sites hosted on our domain

[2018-05-23 19:31] westurner commented on #4135
Is it possible to create per-project nginx configs in order to make HSTS an optional per-project setting?

Why would anyone want HSTS to be optional?
- At one time, e.g. CloudFlare couldn't proxy to GitHub Pages HTTPS sites; IDK if this is still the case.
- Are there customers which cannot or do not want to support HTTPS?

That could be a paid feature; but people might go to other services where l

[2018-05-23 19:54] davidfischer commented on #4135
I believe the plan is for this to be a free feature.

[2018-05-23 19:58] davidfischer commented on #4135
That's why we are rolling it out slowly:

- [x] Make all the links point to HTTPS
- [ ] Respond with a 302 redirect when loaded over HTTP -> HTTPS
- [ ] Respond with a 301 redirect when loaded over HTTP -> HTTPS

If there are issues, hopefully we catch them before people's browsers store permanent redirects or HSTS with long durations. Those are harder to undo.

[2018-05-23 22:31] theacodes commented on #4127
Seems like our recently builds today have consistently failed due to this: https://readthedocs.org/projects/google-cloud-python/builds/

Is there anything we can do to help? I'm happy to make the change to update pip/setuptools, I just don't know where to do it.

[2018-05-23 22:43] stsewd commented on #4127
Maybe you can try wiping the environment, you can do this in the `Versions` section then `Edit` button.

What I can see is that the `pip` version comes from the docker image https://github.com/rtfd/readthedocs-docker-images/blob/9b0816d1b610373036ce16eb3653c99ca30e4207/Dockerfile#L92

So, the team needs to rebuild the image to get the latest versions, I think we should support upgrade pip before i

[2018-05-23 22:50] theacodes commented on #4127
Thanks, @stsewd! Clearing the environment seems to have helped.

Since we're using 'latest', it seems you'd need to rebuild the 3.x docker image from [here](https://github.com/rtfd/readthedocs-docker-images/blob/releases/3.x/Dockerfile).

[2018-05-24 00:26] stsewd commented on #2965
The notification viewset represents the `EmailHook` model only

https://github.com/rtfd/readthedocs.org/blob/076539117f9b2db7a76e9e8456332b0ef725abe3/readthedocs/restapi/views/model_views.py#L236-L242

For the webhooks notifications, there are other specific urls

https://github.com/rtfd/readthedocs.org/blob/076539117f9b2db7a76e9e8456332b0ef725abe3/readthedocs/restapi/urls.py#L69-L86

[2018-05-24 00:28] stsewd commented on #2965
So, it seems correct to me (from the point of view of the logic at least)

[2018-05-24 01:26] tclose commented on #3951
I am also missing an organisation that I am the owner of ('monashbiomedicalimaging') (although the 5 other organisations I am a member show up). I just switched my membership to be 'public' but still no luck

[2018-05-24 14:35] #3622 closed

[2018-05-24 14:41] ericholscher opened #4140 "Investigate using autosectionlabel in our docs"
This Sphinx extension automatically creates references for all sections with the title as the reference:

http://www.sphinx-doc.org/en/stable/ext/autosectionlabel.html

It might be useful to allow us to magically link to section titles in the same fashion in the same document and across documents.

Refs #3622

[2018-05-24 15:01] ericholscher commented on #4106
I think it's useful data to have. We originally added it to have basic stats, and the ability to query projects that aren't hooked up to a valid git repo. So I think adding it is probably useful.

[2018-05-24 16:13] stsewd commented on #3715
The fix was merged, you only need to wait for this to be deployed and then rebuilding your docs.

[2018-05-24 17:52] #4106 closed

[2018-05-24 18:19] NathanielHoefer opened #4144 "Search Feature Doesn't Return Pages"
## Details

When compiling the documents locally, the search feature works as expected, however when compiled by ReadTheDocs, the search feature doesn't return any pages.

* Read the Docs project URL: https://readthedocs.org/projects/nathaniel-reference/
* Build URL (if applicable): https://nathaniel-reference.readthedocs.io/en/latest/
* Read the Docs username (if applicable): Nathaniel Hoefer

##

[2018-05-24 18:20] ericholscher commented on #3014
Just saw the data here: https://github.com/aiidateam/aiida_core/issues/1472#issuecomment-391610600 -- we should also be looking in the Sphinx theme it seems, though perhaps this is just a case of having a ton of stuff need to be in memory.

[2018-05-24 18:37] psi29a commented on #3014
I know why, we use doxygen, autodoc and the breath sphinx extension... on a rather large project (OpenMW). We marked it at about 1.6 GiB of RAM before finishing.

For the time being, I turned this off, but now we have no API documentation being generated.

[2018-05-24 18:57] Guts commented on #1139
Since last version, the behavior is the same as local doc build, as expected. So, I removed the workaround made in March.

Thanks for the fix.

[2018-05-24 20:15] #3665 closed

[2018-05-24 20:17] #1616 closed

[2018-05-24 21:00] #2357 closed

[2018-05-24 22:21] agjohnson commented on #4121
I did start documenting some from customers, i can fish up some misses. One found so far:

I know there are other misses

[2018-05-24 22:34] stsewd commented on #4144
I just search something on your project and it works as expected. Maybe a cache issue?

![screenshot-2018-5-24 search nathaniel hoefer reference 1 0 documentation](https://user-images.githubusercontent.com/4975310/40516938-924e135e-5f78-11e8-8575-8dc92b6f5862.png)

[2018-05-24 22:39] stsewd commented on #1139
@Guts that means you just add the extension and it works as expected? Can we close this issue then?

[2018-05-25 09:05] coffeedogs opened #4148 "Broken link to your help"
While [editing my project]( https://readthedocs.org/dashboard/my-pybitmessage-fork/edit/) I clicked the `Type of documentation you are building. [More info](http://www.sphinx-doc.org/builders.html#sphinx.builders.html.DirectoryHTMLBuilder)` but get a 404.

[2018-05-25 12:57] giovannipizzi commented on #3220
Dear administrators, while this issue is being resolved, could it be possible to increase the memory limit for our project (aiidateam/aiida_core, https://aiida-core.readthedocs.io/en/latest/ on RTD)?

We did quite a bit of investigation on the memory usage of our code, see e.g. aiidateam/aiida_core#1472 and we also believe that the autoapi might be the reason, due to the large number of dependenci

[2018-05-25 14:32] NathanielHoefer commented on #4144
That's exactly what it was. Thanks for your help!

[2018-05-25 14:32] #4144 closed

[2018-05-25 15:10] stsewd commented on #4148
Thanks for reporting! I think the link should be http://www.sphinx-doc.org/en/stable/builders.html#sphinx.builders.html.DirectoryHTMLBuilder.

The helptext is in

https://github.com/rtfd/readthedocs.org/blob/2f5ae97d543f1c8051a3e1b708b63f7b858b3015/readthedocs/projects/models.py#L132-L137

We also need to do a migration after the change.

[2018-05-26 08:33] xrmx opened #4152 "please update translations"
@francescozaia kindly completed the italian translation so it would be cool to have it available :). I suppose it's the same for other languages. Thanks!

BTW i don't see the transifex client in any requirements.

[2018-05-27 00:51] MarkCBell commented on #1139
@bpteague When prepending a None since the first argument is removed, the None needs to be an argument before the list. That is, the line of @TheChymera code should be:

    main(None, ['-e', '-o', cur_dir, module, '--force'])

[2018-05-27 19:29] mojochao opened #4154 "Python module not found by automodule."
## Details

API documentation builds fine locally, but cannot find my `configaro.py` module when built by readthedocs

The configaro project (https://github.com/mojochao/configaro) contains a single top-level `configaro.py` module.  There are no project packages.  I have added the project directory to my `docs/source/conf.py` file.

* Read the Docs project URL: https://readthedocs.org/projects/con

[2018-05-28 00:53] TelDragon commented on #4005
Hello, are you successful in your local deployment?

I have successfully deployed the local environment here, but I failed to import the project successfully.

[2018-05-28 01:23] TelDragon opened #4155 "Which community leaders are requested to provide centos7 local deployment documents?"
## Details

Do not use docker
The document provided now is only an Debian environment, and my environment is centos7, which involves many complex dependencies.

[#4122](https://github.com/rtfd/readthedocs.org/issues/4122)

[2018-05-28 14:49] safwanrahman commented on #4086
Can you get the email address of @phonchi from the repositroy commit log?
https://github.com/phonchi/chipwhisperer

[2018-05-28 20:09] xrmx commented on #4128
Probably using https://github.com/elastic/elasticsearch-dsl-py will simplify enough code you won't need more wrappers.

[2018-05-28 22:43] wmayner opened #4156 "Enable `PIP_ALWAYS_UPGRADE` feature"
The project feature `PIP_ALWAYS_UPGRADE` was merged in PR #3201. I'm wondering if it's possible to use this feature as a user; it looks like it's not exposed yet.

[2018-05-28 22:59] stsewd commented on #4156
The features options are set by the rtd team by user requesting it. This could be an option for https://github.com/rtfd/readthedocs.org/pull/4084

[2018-05-29 00:02] wmayner commented on #4156
Oh, gotcha—didn't realize that!

In that case, I'd like to enable it for my project: <https://pyphi.readthedocs.io> (username `wmayner`)

[2018-05-29 03:39] mojochao commented on #4154
Added a .travis.yml file configuring py3.6 builder and all is working now.

[2018-05-29 03:39] #4154 closed

[2018-05-29 11:55] colinoflynn commented on #4086
I didn't think that github would be redacting the emails online, so didn't even try cloning it. Yes that worked - will see if it was the true/active email, I've just sent them a note!

I'll update this when I hear back (or if I don't hear back), as assume anything else would need RTD admin to process.

[2018-05-29 12:23] xrmx opened #4157 "UpdateDocsTaskStep fails becasue api returns wrong type"
## Details

With python3.5 sometimes the call to the slumber client in UpdateDocsTaskStep.get_project returns a bytestring and not a dict. The data inside the bytestring is just fine and decoding as json works correctly.

[code]

I can reproduce this easily the first time the celery worker for the build is restarted.

I can easily workaround this bug by trying to decode and unserialize the json an

[2018-05-29 12:34] xrmx commented on #4157
With easy workaround i mean something like this:

[code]

[2018-05-29 12:45] colinoflynn commented on #4086
Quick update - did receive an OK, please let me know how to proceed, Thanks.

[2018-05-29 12:56] benjaoming commented on #4094
I have referenced this issue in our downstream docs project (see above) -- because it seems related: It has been flagged that search results need some kind of scoring _or_ we need a way to configure exclusion of directories or sets of files from the search results (because they for one reason or the other aren't nice to have in search results).

[2018-05-29 13:45] ericholscher commented on #4094
Having more project control over search is definitely a good addition that we should think about. We could likely support metadata on the page, or some kind of setting which could support this. Thanks for the idea @benjaoming.

[2018-05-29 14:42] stsewd commented on #4086
@colinoflynn you can check https://docs.readthedocs.io/en/latest/abandoned-projects.html I think you only need to ask him and that is.

[2018-05-29 15:12] #4148 closed

[2018-05-29 16:24] mgiaco opened #4158 "update doxygen?"
Hi,

As I found out RTD uses doxygen version 1.8.11. Is it possible to update to the latest version? There is a newer version available.

http://www.stack.nl/~dimitri/doxygen/manual/changelog.html

cheers
mathias

[2018-05-29 16:39] stsewd commented on #4158
So, we need to wait for the new docker image to be released wich use ubuntu 18.04 and maybe have a more recent version of doxygen

https://github.com/rtfd/readthedocs-docker-images/blob/master/Dockerfile#L2

[2018-05-29 16:50] francescozaia commented on #4152
Actually, there are [many translations that are ready to be reviewed](https://www.transifex.com/readthedocs/readthedocs/dashboard/) on Transifex, but they might need a review. I also sent a message to the italian translation coordinator @ojii with no luck. 😭

[2018-05-29 21:42] ederag commented on #1951
Since https://github.com/sphinx-doc/sphinx/issues/4956 is solved, `sphinx-1.7.5` would work around this issue for PyQt (with `autodoc_mock_imports`).

[2018-05-30 10:46] xrmx commented on #4157
Found the root cause:
[code]

[2018-05-30 12:39] colinoflynn commented on #4086
I had seen those instructions (why I opened the issue originally), but it wasn't clear how moving the project itself has possible? Do they just delete the project and I recreate it on the new account is best?

[2018-05-30 13:47] greschd opened #4161 "Unspecified error on new project"
## Details

* Read the Docs project URL: https://readthedocs.org/projects/phasemap/
* Build URL (if applicable): https://readthedocs.org/projects/phasemap/builds/7267555/
* Read the Docs username (if applicable): greschd

## Expected Result

ReadTheDocs should clone the repository and build the documentation.

## Actual Result

After the ``cat source/conf.py`` step, the build crashes with the gene

[2018-05-30 14:05] RichardLitt commented on #4152
Could there be a process for maintainers to easily review this in the future, so that we don't end up with a build-up of translations that aren't reviewed? At the moment, I'm unsure of how I can help, as a community member.

[2018-05-30 14:06] RichardLitt commented on #4154
Thanks for following up with this, @mojochao!

[2018-05-30 14:09] RichardLitt commented on #3777
Might be worth adding notes so that #3348 and #4152 can be resolved more gracefully in the future.

[2018-05-30 14:13] xrmx commented on #4152
To move things forward it may help would be to promote active translators to reviewers, no clue if you can do that as RTD developers or not though.

[2018-05-30 14:21] bhouser opened #4162 "Using "Sphinx Single Page HTML" Documentation type produces css-free output, and retroactively affects previous builds in the same way"
## Details

* Read the Docs project URL: private readthedocs.com project (https://knuddels-documentationtest.readthedocs-hosted.com/en/latest/)
* Build URL (if applicable):
* Read the Docs username (if applicable): bhouser

## Expected Result
I want to produce a build with with Settings -> Documentation Type set to "Sphinx Single Page HTML".  I expect the theme to load.

## Actual Result
The proje

[2018-05-30 15:41] humitos commented on #3220
@giovannipizzi Hi! We are working to make this option available through the YAML file configuration. The code is almost ready to support it but it's still not completed. I suppose we will have news about this in the following weeks. I'm sorry for the time that this is taking but I'm happy we are in the right direction now.

[2018-05-30 15:48] humitos commented on #3484
Each tag will have its own yaml version file with its specific settings.

As a general rule (although, it's not 100% strict yet), we are having "global settings" (those that affect all the builds/versions) under the web admin interface and "version specific settings" on the YAML file.

[2018-05-30 15:51] humitos commented on #1190
I think this can be considered done by https://github.com/rtfd/readthedocs.org/pull/3987 and tracked by https://github.com/rtfd/readthedocs.org/issues/3282#issuecomment-369509347

I'm closing it, but feel free to re-open it if you consider.

[2018-05-30 15:54] ericholscher commented on #1190
It isn't done, we still aren't fully redirecting all web pages to HTTPS in nginx.

[2018-05-30 16:19] wmayner commented on #4156
Thanks! It looks like the upgrade flag is working.

I'm still not getting the behavior I expect, however (maybe this should be a separate issue—let me know):

I have my own [fork of `sphinx_rtd_theme`](https://github.com/wmayner/sphinx_rtd_theme), and I'm trying to get the styles from my fork to override the default styles on readthedocs.org. But it looks like the `theme.css` that's served is stil

[2018-05-30 16:35] humitos commented on #4156
I just check this build output (https://readthedocs.org/projects/pyphi/builds/7268449/) and the feature that I added to your project worked since I can see the `--upgrade` option passed to `pip`.

Regarding the css: yes, that seems to be a different issue. Please, open a new one (and close this one) so we can track it there. We will need to research a little more to solve that.

[2018-05-30 16:47] humitos commented on #4086
Didn't he added you as a maintainer under the rtd project? If he agreed with you, you can ask him to grant you permissions. After that, you will have access to the project.

[2018-05-30 16:50] #4156 closed

[2018-05-30 16:53] wmayner opened #4163 "Override CSS with fork of `sphinx_rtd_theme`"
## Details

I have my own [fork of `sphinx_rtd_theme`](https://github.com/wmayner/sphinx_rtd_theme), and I'm trying to get the styles from my fork to override the default styles on readthedocs.org. I'm attempting to do this by using the upgrade flag (#4156) to replace the upstream `sphinx_rtd_theme` with my fork in my project's environment.

However, it looks like the `theme.css` that's served is

[2018-05-30 17:03] davidism commented on #3481
I implemented this in our own theme, so as long as we can get information for all the versions during build (#3482) or add extra context globally (#3483) then we don't need RTD to do anything here.

[2018-05-30 17:03] #3481 closed

[2018-05-30 17:05] davidism commented on #3484
That won't work for us. We want to build docs for old versions, but we've already released those tags, we don't usually go back and add new commits / releases just for docs. This is the same motivation for #3483.

[2018-05-30 17:14] humitos commented on #3481
@davidism Can you pointed me to this? I'm interesting on building a sphinx extension at some point. Started a PoC for this at https://github.com/humitos/sphinx-version-warning

[2018-05-30 17:36] davidism commented on #3481
This code parses and adds to the context: https://github.com/pallets/pallets-sphinx-themes/blob/master/pallets_sphinx_themes/versions.py, which is read in this template for the sidebar: https://github.com/pallets/pallets-sphinx-themes/blob/master/pallets_sphinx_themes/pocoo/versions.html, and this one for the banner: https://github.com/pallets/pallets-sphinx-themes/blob/master/pallets_sphinx_theme

[2018-05-30 17:44] davidfischer commented on #4163
I'm pretty sure this is due to the optimization that replaces the theme CSS/JS with centralized versions on readthedocs.org. See this: https://github.com/rtfd/readthedocs-sphinx-ext/pull/39 and https://github.com/rtfd/sphinx_rtd_theme/pull/614

[2018-05-30 17:44] stsewd commented on #4086
Not sure about that, I think if he adds you as maintainer is the same result

[2018-05-30 18:51] wmayner commented on #4163
Thanks—looks like it should work as expected when/if those get merged.

[2018-05-30 18:57] #4140 closed

[2018-05-30 19:39] davidism opened #4167 "Use common URL for each point release / maintenance branch"
The Flask docs present versions like "0.12" and "1.0", but behind the scenes these are actually the "0.12-maintenance" and "1.0-maintenance" branches. This is so we don't create separate URLs for every minor update, as well as being able to correct mistakes in the docs without making a new tag and release.

So `http://flask.pocoo.org/docs/1.0/` is the URL for 1.0, 1.0.1, 1.0.2, and any unreleased

[2018-05-30 19:59] stsewd commented on #3220
@giovannipizzi and everyone, good news! Turns out that this feature is already implemented. You can add this to your `readthedocs.yml` file

[code]

[2018-05-30 19:59] #3220 closed

[2018-05-30 20:14] stsewd commented on #4162
Hi, this issue tracker is for the .org project, if you are using readthedocs.com, you should contact support there.

[2018-05-30 20:26] bhouser commented on #4162
I suppose I assumed that the software is so similar, that the .org project would have the same bug.  Sorry!  And thanks for the tip.

[2018-05-30 20:31] bhouser commented on #4162
Unfortunately I do not :(

[2018-05-30 20:35] stsewd commented on #4167
Maybe the same as https://github.com/rtfd/readthedocs.org/issues/893?

I think you can deactivate each tag version in the `Versions` section.

[2018-05-30 21:06] ericholscher opened #4170 "Link the version in the footer to the changelog"
Currently we have a version in the footer. This should link to the changelog:

* https://github.com/rtfd/readthedocs.org/blob/master/readthedocs/templates/base.html#L208
* http://docs.readthedocs.io/en/latest/changelog.html

[2018-05-30 21:09] davidfischer commented on #3952
Just to give a small update here, it is now possible to opt out of Google Analytics on all docs pages built after May 1, 2018 by enabling your browser's Do Not Track setting.

See: https://docs.readthedocs.io/en/latest/privacy-policy.html#do-not-track

[2018-05-30 21:11] stsewd commented on #4161
mmm, I imported your project on my local instance it fails in the pdf generation step, here you can check the logs

[code]

Can you try unchecking the pdf and epub generation for your project? (in case you don't really need that or also to confirm the error is there)

[2018-05-30 21:14] stsewd commented on #3220
Now we have this documented https://docs.readthedocs.io/en/latest/guides/build-using-too-many-resources.html

[2018-05-30 21:30] greschd commented on #4161
Unfortunately I still get an error with pdf and epub disabled: https://readthedocs.org/projects/phasemap/builds/7270680/

However, in hindsight it's obvious that pdf and epub won't work: The doc contains an mp4 video embedded with

[code]

Although that works with "bare" sphinx locally, maybe it's still the cause for the error in the html build?

[2018-05-30 21:39] #3538 closed

[2018-05-30 21:54] #2921 closed

[2018-05-30 22:26] giovannipizzi commented on #3220
@stsewd This is awesome, thanks a lot!
I already added this to our code - it might have worked, even if it's hard at this stage to say if it really did, as there were three builds triggered at the same time and
- 1 failed due to timeout
- 1 passed (but build the single html)
- 1 passed (but did not build the single html as we wanted)

I'll report back if the problem is not solved, otherwise thanks

[2018-05-30 22:35] stsewd commented on #3220
You can try wiping the environments to have a clean build (`Versions` section, `edit` button)

[2018-05-31 05:03] stsewd opened #4174 "Meta: Upgrade Django to 1.10"
There is a PR already to update Django to 2.0 (https://github.com/rtfd/readthedocs.org/pull/3305), but as the official docs from django says

https://docs.djangoproject.com/en/2.0/howto/upgrade-version/

Is better to upgrade incrementally, and there are some breaking changes related to very delicate parts of the code (like the middleware), so we need to make sure that those parts are well tested.

[2018-05-31 14:51] gasman commented on #4132
I'm now seeing this error on http://docs.wagtail.io/en/v2.1/ - not sure when it started.

[2018-05-31 14:52] mgiaco commented on #4158
Sounds great, many thanks

[2018-05-31 14:52] #4158 closed

[2018-05-31 15:03] stsewd commented on #4132
@gasman yeah, this was from yesterday, the team is working on that right now

[2018-05-31 15:41] xylar opened #4175 "Version link in lower left not working"
## Details

* Read the Docs project URL: http://mpas-analysis.readthedocs.io/en/master/
* Build URL (if applicable): https://readthedocs.org/projects/mpas-analysis/builds/7273820/ (probably not relevant, as the issue applies to all recent builds)
* Read the Docs username (if applicable): xylar

## Expected Result

The link in the lower left corner of our Read the Docs page could be used to switch

[2018-05-31 15:48] stsewd commented on #4175
Thanks for reporting, the team is working on fixing this.

[2018-05-31 17:46] stsewd commented on #3792
Resolved on https://github.com/rtfd/readthedocs.org/pull/4176/

[2018-05-31 17:46] #3792 closed

[2018-05-31 18:02] stsewd commented on #4175
This was fixed with the new release.

[2018-05-31 18:02] #4175 closed

[2018-05-31 19:08] davidfischer commented on #3954
We published our [blog post on the GDPR](https://blog.readthedocs.com/gdpr-what-it-means-for-readthedocs/) and merged the somewhat related [Do Not Track PR](https://github.com/rtfd/readthedocs.org/pull/4046). As a result, I think we can close this.

If issues related to compliance arise, we are committed to addressing them as separate action items.

[2018-05-31 19:08] #3954 closed

[2018-05-31 20:42] agjohnson commented on #4155
We only support our production environment, which is Ubuntu 16.04, soon Ubuntu 18.04. We don't have the bandwidth to support more platforms. Feel free to submit a guide -- in our docs, under `/guides` if you have a working solution.

[2018-05-31 20:42] #4155 closed

[2018-05-31 20:43] agjohnson opened #4179 "GitLab login and account connection are broken"
There seems to be a problem with `django-allauth` and the return from gitlab. I get a 500 error on attempting to connect or reconnect my account, and can't login. Didn't test signup.

[code]

[2018-05-31 21:27] agjohnson commented on #1820
Testing a version `stable`, the `Edit` link gives me a 404 still. The `View` link still works for me, but if I try to edit this file on GitHub, the edit button is disabled and tells me that "i must be on a branch" -- so perhaps this is a clue.

Reopening.

[2018-05-31 21:30] ThomasWaldmann commented on #1820
can we just remove (or disable by default) the annoying / buggy features like this or that "outdated library version" note?

[2018-05-31 21:32] rawtaz commented on #1820
@agjohnson I have the exact same symptoms in e.g. https://restic.readthedocs.io/en/stable/040_backup.html. I have asked the project owner of restic to trigger a rebuild of the docs, but haven't heard from him yet on whether or not he did that.

Would be great if stable just pointed to the last release tag instead, that would have solved it by now.

[2018-05-31 21:43] stsewd commented on #1820
That's because commits nor tags can't be edited. So I think this kind of be another issue (hide the `Edit` button when a version isn't a branch).

[2018-05-31 21:43] agjohnson commented on #4102
@StefanoChiodino yup, that is valid, some folks liked the idea of keeping the file hidden

[2018-05-31 21:47] rawtaz commented on #1820
@stsewd has a good point, one cannot edit tags either. So at the GitHub end we're left with the branches that exist in the repo. Usually this is master and perhaps some other dev branches.

In order for the edit link to have a purpose, perhaps it simply needs to point to the main branch at all times, regardless of which version you are looking at in RTD?

How to deduct/define the "main" branch is

[2018-05-31 21:55] agjohnson commented on #4094
I think the disadvantages outweigh the advantages with regard to splitting out this code. Namely:

* Splitting out code actually makes development and deployment more confusing for core contributions. This has been the downfall of `readthedocs-build` and `readthedocs_sphinx_ext` suffers the same neglect.
* RTD is the only consumer of this application, we don't want to make something generalized as

[2018-05-31 21:57] agjohnson commented on #4109
We're consistently hitting sentry limits, so putting this on our next release milestone

[2018-05-31 22:03] agjohnson commented on #4126
The API call is failing, this isn't related to Postgres. My guess is that the API user is either missing or misconfigured.

[2018-05-31 22:40] agjohnson commented on #4111
@humitos originally brought this up internally, though we sidelined the work as we have a lot of bigger priorities on our roadmap.

I think this is a good list to get started with. A few notes:

* ProBot No Response - we'll need to audit these issues and perhaps update our triaging guidelines before enabling. I use "Needed: more information" to track issues without responses, but I don't think tha

[2018-05-31 23:37] agjohnson commented on #2403
#2406 and a few others implement this. Closing.

[2018-05-31 23:37] #2403 closed

[2018-05-31 23:46] humitos commented on #4179
I couldn't replicate this issue in production (.org and .com)

I actually tested login with the three social services we support and it worked.

[2018-05-31 23:50] humitos commented on #4179
After login with gitlab, I disconnected my account. Log out. Reconnect the gitlab account. Log out and log in without problems.

The only issue that I'm seeing here is that I have to authorize the RTD.org app each time that I login with gitlab :/

[2018-06-01 00:27] agjohnson commented on #3884
It's not clear that it's happening, but the last command to complete is the `cat conf.py` step. The command that is failing (and not displayed as running yet) is the first pass at a Sphinx build. Do you get similar results running a full build (make clean; make html)?

[2018-06-01 00:28] agjohnson commented on #3927
Closing due to inactivity.

[2018-06-01 00:28] #3927 closed

[2018-06-01 00:34] agjohnson commented on #3848
Feel free to turn any of this into a PR. We're likely going to eventually rip out the design and settle on a UX framework, but have no priority on either.

[2018-06-01 00:43] agjohnson commented on #3651
Closing due to inactivity. Feel free to reopen if you want to take this on.

[2018-06-01 00:43] #3651 closed

[2018-06-01 00:45] agjohnson commented on #3586
I believe we fixed this with a previous release. I don't see the behavior on the reported doc site anymore, so safe to close I think.

[2018-06-01 00:45] #3586 closed

[2018-06-01 00:48] agjohnson commented on #3181
No updates. Feel free to take this work on if you want.

[2018-06-01 00:58] agjohnson commented on #3043
Closing for now then, sounds like this is a configuration issue with GitHub/Bitbucket webhooks, not RTD.

@petarmaric feel free to reopen if you are still noticing the issue once you commit to your repo

[2018-06-01 00:58] #3043 closed

[2018-06-01 02:36] stsewd commented on #3871
Closing this as the user [hasn't responded or given more information](https://docs.readthedocs.io/en/latest/contribute.html#initial-triage), feel free to reopen with more information if you are still having this problem :).

[2018-06-01 02:36] #3871 closed

[2018-06-01 02:38] stsewd commented on #3836
Closing this as the user [hasn't responded or given more information](https://docs.readthedocs.io/en/latest/contribute.html#initial-triage), feel free to reopen with more information if you are still having this problem :).

Also there is pointed solution https://github.com/rtfd/readthedocs.org/issues/3836#issuecomment-389203663

[2018-06-01 02:38] #3836 closed

[2018-06-01 02:39] stsewd commented on #3774
Closing this as the user [hasn't responded or given more information](https://docs.readthedocs.io/en/latest/contribute.html#initial-triage), feel free to reopen with more information if you are still having this problem :).

[2018-06-01 02:39] #3774 closed

[2018-06-01 02:42] stsewd commented on #3354
Closing this as the user [hasn't responded or given more information](https://docs.readthedocs.io/en/latest/contribute.html#initial-triage), feel free to reopen with more information if you are still having this problem :).

[2018-06-01 02:42] #3354 closed

[2018-06-01 02:56] stsewd commented on #3197
Closing this as the user [hasn't responded or given more information](https://docs.readthedocs.io/en/latest/contribute.html#initial-triage), feel free to reopen with more information if you are still having this problem :).

[2018-06-01 02:56] #3197 closed

[2018-06-01 02:58] stsewd commented on #3018
Closing this as the user [hasn't responded or given more information](https://docs.readthedocs.io/en/latest/contribute.html#initial-triage), feel free to reopen with more information if you are still having this problem :).

[2018-06-01 02:58] #3018 closed

[2018-06-01 03:12] stsewd commented on #3346
You can try disabling the pdf and epub generation if you don't need that.

https://readthedocs.org/projects/rtd-test-stsewd-2/builds/7277980/
https://readthedocs.org/projects/rtd-test-stsewd-2/builds/7277959/

[2018-06-01 03:16] davidfischer commented on #4179
I'm seeing the same which is weird. However, I am also able to connect, disconnect, and login without any other issues.

[2018-06-01 03:30] stsewd commented on #1139
Also, maybe you wan to use https://github.com/rtfd/sphinx-autoapi

[2018-06-01 03:51] stsewd commented on #1459
Closing this as the user [hasn't responded or given more information](https://docs.readthedocs.io/en/latest/contribute.html#initial-triage), feel free to reopen with more information if you are still having this problem :).

[2018-06-01 03:51] #1459 closed

[2018-06-01 03:52] stsewd commented on #1479
Closing this as the user [hasn't responded or given more information](https://docs.readthedocs.io/en/latest/contribute.html#initial-triage), feel free to reopen with more information if you are still having this problem :).

[2018-06-01 03:52] #1479 closed

[2018-06-01 03:58] stsewd commented on #1954
Closing this as the user [hasn't responded or given more information](https://docs.readthedocs.io/en/latest/contribute.html#initial-triage), feel free to reopen with more information if you are still having this problem :).

Also, we can move the conversation about the index file on https://github.com/rtfd/readthedocs.org/pull/3635 https://github.com/rtfd/readthedocs.org/issues/1960 https://github

[2018-06-01 03:58] #1954 closed

[2018-06-01 04:02] stsewd commented on #2151
Closing this as the user [hasn't responded or given more information](https://docs.readthedocs.io/en/latest/contribute.html#initial-triage), feel free to reopen with more information if you are still having this problem :).

[2018-06-01 04:02] #2151 closed

[2018-06-01 04:04] stsewd commented on #2158
Closing this as the user [hasn't responded or given more information](https://docs.readthedocs.io/en/latest/contribute.html#initial-triage), feel free to reopen with more information if you are still having this problem :).

[2018-06-01 04:04] #2158 closed

[2018-06-01 04:04] stsewd commented on #2181
Closing this as the user [hasn't responded or given more information](https://docs.readthedocs.io/en/latest/contribute.html#initial-triage), feel free to reopen with more information if you are still having this problem :).

[2018-06-01 04:04] #2181 closed

[2018-06-01 04:06] stsewd commented on #2192
Closing this as the user [hasn't responded or given more information](https://docs.readthedocs.io/en/latest/contribute.html#initial-triage), feel free to reopen with more information if you are still having this problem :).

[2018-06-01 04:06] #2192 closed

[2018-06-01 05:35] nad2000 commented on #4
Using "Version" tab I can see that "latest" is mapped to a branch (git):
![screenshot from 2018-06-01 17-30-22](https://user-images.githubusercontent.com/177266/40822789-fd737666-65c1-11e8-8bc5-d88b01739028.png)
But how it could be mapped to a different branch? While I was testing I was using this specific branch. Now I need to map it to **master**. Hitting edit or going via Admin->Versions... did

[2018-06-01 05:43] stsewd commented on #4
@nad2000 you need to do this in the `Admin section`, `Advanced settings` -> `Default branch`

[2018-06-01 11:37] rawtaz commented on #1820
The restic doc project was rebuilt in RTD, but the same state still applies, for obvious reasons. Not much else we can do about it suppose :) Thanks for your hard work!

[2018-06-01 16:12] agjohnson commented on #4111
Oh, also, I think automating branch deletion is another plugin that would be easy to configure and get started with:
https://github.com/sandfox/probot-baumpfleger

[2018-06-01 17:15] agjohnson commented on #1556
A RTD option is not needed to use xelatex, this is a Sphinx option. See http://www.sphinx-doc.org/en/master/usage/configuration.html#confval-latex_engine

As long as the engine is installed, it should just build with the specified engine. If there is something else that we need for fonts or other latex magic, we'll likely need to make a change to our build image.

[2018-06-01 17:42] agjohnson opened #4181 "Decide best way to do validation on yaml config"
When organizing work for the YAML configuration, I wanted to start with writing a schema first, using `yamale`. This was supposed to be to help formalize our specification in a human and machine readable format.

The next step of the work around the YAML improvements is to start writing the code to ensure the specification implementation matches our schema. The decision here is whether to continue

[2018-06-01 18:40] skirpichev commented on #1556
@agjohnson, how it possible given rtfd coming [with hardcoded pdflatex command](https://github.com/rtfd/readthedocs.org/blob/290ad5bd22fa89e5c00864565738c2a5ab4a4c9b/readthedocs/doc_builder/backends/sphinx.py#L352)?

[2018-06-01 18:40] agjohnson commented on #4179
Aha!

[code]

This was returned from the gitlab api

[2018-06-01 18:42] stsewd commented on #4181
Just some thoughts:

- The yamale project doesn't look very active (in adding new features at least), so we may need to fork the project or build around that.
- If we don't use yamale, we need to update the spec and the validation at the same time (or maybe we want to describe all the validation in our code?).
- I think we can improve the current validation system, so there isn't so much duplicati

[2018-06-01 18:44] agjohnson commented on #4179
Yup! By logging in to GitLab, I was immediately prompted to accept the ToS. Accepted resolved the bug.

Closing this as this is an edge case I don't think we really need to handle.

[2018-06-01 18:44] #4179 closed

[2018-06-01 18:47] stsewd commented on #1556
Maybe what @agjohnson mean is that rtd respecting that configuration is a new feature? (in favor of adding a new option or #4021)

[2018-06-01 18:50] davidfischer commented on #1088
It sounds like this is resolved.

[2018-06-01 20:54] stsewd commented on #1487
All projects listed here have a working search, is this still an issue for anyone?

[2018-06-01 21:50] stsewd commented on #2339
`setup.py install` uses easy_install behind the scenes and I didn't find an option for that https://setuptools.readthedocs.io/en/latest/easy_install.html#command-line-options. I think that is the behavior of setuptools. Also, I find this https://stackoverflow.com/questions/48642708/specify-dependency-range-in-setuptools-setup-py#comment84718849_48642708

[2018-06-01 22:17] stsewd commented on #2637
Also, the version selector is broken, the data.js file is missing (I think this is injected only in the main html build process)

[2018-06-01 22:43] stsewd commented on #3249
@blairconrad are you still having this issue?

[2018-06-01 23:02] shoyer commented on #3261
My project's builds on RTD have been [timing-out](https://github.com/pydata/xarray/issues/2209) recently. The biggest contributor (likely ~300 seconds) appears to be time spent downloading packages in packages as part of `conda env create`.

So if we could setup caching, that would make a big difference for us.

[2018-06-01 23:07] Daniel085 commented on #1487
This seems to be resolved fo us at least!

[2018-06-01 23:54] stevepiercy commented on #2339
For a short while, we used `Sphinx >= 1.3.5, != 1.7.3` when there was a bug introduced:
https://github.com/sphinx-doc/sphinx/issues/4889

[2018-06-02 11:01] harielakantie commented on #765
I have another GITHub account with userName: harielakanti. and link: https://github.com/harielakanti
I don't the emailId for this account and I forgot the PW.
am not able to logIn here, and not able to do ForgotPassword.
I was to reActivate or Permanently delete this Account.
Please help me.

[2018-06-02 19:39] ericholscher commented on #1487
👍

[2018-06-02 19:39] #1487 closed

[2018-06-02 22:03] jflory7 commented on #3538
Whoooo! Happy to see this added. Thanks RTD team! :tada:

[2018-06-03 06:57] Alig1493 commented on #4092
I would like to take up this issue if no one else is doing it.

[2018-06-03 18:42] stsewd commented on #4092
@Alig1493 thanks for the interest, but there is a PR in progress already https://github.com/rtfd/readthedocs.org/pull/4097

[2018-06-04 09:40] jorisvandenbossche commented on #4071
Any updates on this?
I just triggered a build for latest, and still have the same problem: https://readthedocs.org/projects/geopandas/builds/7289654/

(although in the meantime, there also has been a build that went further than the "cat doc/source/conf.py" step, but that one failed at the time due to an error in one of the our dependencies: https://readthedocs.org/projects/geopandas/builds/725976

[2018-06-04 12:13] RichardLitt commented on #4111
Good points, @agjohnson. I agree. I also don't know how I feel about Probot Stale, in general, but it was worth bringing up. I'm actually in favor of simply not including it as one of the one's we start with; I think that it's better to wait a bit.

I think we should update the triaging guides or simply send around a re-read to triagers about the label differences. If we all used the same labels t

[2018-06-04 15:17] bhouser commented on #4162
I think I now have a project on the org site, that has the same problem.  It's not my project, but most people have heard of it:
http://kernel.readthedocs.io/en/latest/

[2018-06-04 15:17] humitos commented on #4071
Where you able to solve this? This one in particular doesn't seem to be a problem in RTD but in your project configuration.

In case you need to mock a C library, you can read the FAQ at http://docs.readthedocs.io/en/latest/faq.html#i-get-import-errors-on-libraries-that-depend-on-c-modules

[2018-06-04 15:20] bhouser commented on #4162
I'm only guessing that this might be the same problem, since the symptoms appear to be the same.

[2018-06-04 16:01] stsewd commented on #2339
I'm not sure if rtd can do anything about this, seems like a setuptools issue :/

[2018-06-04 16:37] stsewd commented on #4162
The problem on your project only happens when building as single html page? Because the kernel project is built as a muli html page. Also, it doesn't have a successful build in more than a year.

[2018-06-04 17:54] stsewd commented on #3249
Thanks for the screenshot, looks like rtd isn't searching for the mkdocs.yml file in other directories, just in the root

https://github.com/rtfd/readthedocs.org/blob/master/readthedocs/doc_builder/backends/mkdocs.py#L60-L60

Just a question, there is any difference putting it in another directory? Or it is just for keeping the root clean?

This will be allowed with the new configuration file http

[2018-06-04 18:05] blairconrad commented on #3249
Oh, it was for keeping the root clean and because the docs actually said that `doc` or `docs` were the preferred locations.

Thanks, I'll keep an eye on #4084.

[2018-06-04 18:33] bhouser commented on #4162
I am so sorry ... it appears the kernel documentation has been moved here: https://www.kernel.org/doc/html/latest/index.html

So that was a false alarm.  The other URL I posted is probably not maintained anymore.  I found that page and thought it might be the same problem.

[2018-06-04 18:33] #4162 closed

[2018-06-04 19:15] agjohnson opened #4182 "GraphQL for Apiv3"
@humitos and I discussed APIv3 more this morning. He brought up GraphQL as an option for maintaining a flexible API client side. I don't have experience using GraphQL, but it could reduce the amount of code we're maintaining, or move the code to a more maintainable spot.

A few points worth considering:

* Path of least resistance is to continue with DRF
* I don't think there are any particular pr

[2018-06-04 19:54] stevepiercy commented on #2339
Yeah it is. I'll close this issue.

[2018-06-04 19:54] #2339 closed

[2018-06-04 21:10] ericholscher opened #4183 "Search Proof of Concept"
As part of the GSOC for our Search Upgrades, we should build out a proof of concept that works with ES 6, and does a similar version of what we're doing now. It shouldn't take into account performance or anything like that yet, but mostly just basic functionality.

It should:

* Model & Index `Project` and `File` objects in Elastic Search
* Allow searching for `Project` and `File`'s
  - Including

[2018-06-04 22:27] safwanrahman commented on #4182
I am not comfortable to use GraphQL if its highly necessary.
Using Rest API would be helpful as developers are comfortable with the design, as well as good development resource.
I dont know, if there are any auto API documentation is present for GraphQL, but for DRF, there are plenty auto doc generators.

[2018-06-04 22:32] humitos commented on #4111
Anthony opened a PR regarding the guidelines upgrade at #4180

[2018-06-05 15:49] ericholscher commented on #4121
We've added some initial search test cases -- this ticket is mostly calling for more specific regression type tests, so I'm going to keep it open, and see about adding them as we address the issues.

[2018-06-05 17:39] dlech commented on #3508
Thanks for the workaround (manually rebuilding latest). I couldn't figure out why a tag worked last night but not today. Apparently I did something without realizing it last night.

It would be really nice to get #3546 merged.

[2018-06-05 18:15] humitos commented on #4181
I think if we don't use yamale to validate the file we are loosing half of its features and we will end up maintaining two different things: the spec and the validators. I understand that at this point it means extra effort without winning (since our current validator is working) but I think in the future this will save us time, finally. On the other hand, I saw that Santos did some custom validat

[2018-06-05 18:20] humitos commented on #3014
Hi @psi29a!

I just saw that you @giovannipizzi did a change that seemed to work (https://github.com/giovannipizzi/aiida_core/commit/82dfcf1eaf304c8b0f46879205de2717858f5735)

All your last 10 builds were built without issues. Was that enough for you or you disabled something else from your code?

Let me know if this is still and issue for you or we can close it for now.

[2018-06-05 19:41] psi29a commented on #3014
Thanks for reply! :)

The last 10 builds built without issues because I disabled the C++ autodoc code, so still no API docs. The change above won't change the fact that sphinx with breath plugin and doxygen takes up 1.6GiB of memory. So until the memory limit gets raised, the documentation can't be built. :/

[2018-06-05 20:49] stsewd commented on #4181
I think we could parse the error, but better would be to modified yamale and return the additional information
https://github.com/23andMe/Yamale/blob/edb7ea4972fc8420e4470907dc60967cb91ad9bb/yamale/schema/schema.py#L45-L56

[2018-06-05 20:59] #3957 closed

[2018-06-05 21:09] ericholscher commented on #3611
I'm not sure I follow the logic here. Is there a list of things we should be validating, and how we might validate them? In particular, it could be really tricky to validate that a `conf.py` file exists.

[2018-06-05 21:37] ericholscher commented on #4174
I'd love to get upgraded, so big +1 from me on this one.

[2018-06-05 21:39] ericholscher commented on #4167
Yea, we should add support for aliases for versions, which would solve this use case.

[2018-06-05 21:40] ericholscher commented on #4167
We have aliases for subprojects, so it would be a similar pattern, except just live on the Version object.

[2018-06-05 22:02] giovannipizzi commented on #3014
Hi, in my case the memory problem was occurring only in the `singlehtml` build. The RTFD folks now enabled a way to disable selectively only this build (see discussion here https://github.com/rtfd/readthedocs.org/issues/3220, it required committing a suitable `.readthedocs.yml` file.
Now, the builds are working normally.

[2018-06-06 05:11] stsewd commented on #3067
Closing this as the user [hasn't responded or given more information](https://docs.readthedocs.io/en/latest/contribute.html#initial-triage), feel free to reopen with more information if you are still having this problem :).

Also, I think this is probably an issue with the dependencies of your project rather than rtd. Can you verify that this works on your local environment with py3?

[2018-06-06 05:11] #3067 closed

[2018-06-06 05:11] Guts commented on #1139
Yes. I removed the workaround and it works. To close the issue, Maybe we should wait for the author feedback? cc @radix

I've not really tested https://github.com/rtfd/sphinx-autoapi because it says Python 2 only (`Python (2 only -- Epydoc doesn't support Python 3)`) and I've not much time to give it a try and understand another Sphinx extension (I'm not a doc expert so it would requires me to rea

[2018-06-06 05:15] stsewd commented on #1139
Thanks for reporting back, I will close this in a couple of days if the original author doesn't respond or anyone else is having this issue :)

[2018-06-06 08:15] akien-mga opened #4190 "Build option for HTML zip with standalone files (not `singlehtml`)"
## Details

* Read the Docs project URL: https://readthedocs.org/projects/godot-fr
* Build URL (if applicable): https://readthedocs.org/projects/godot-fr/builds/7301006/
* Read the Docs username (if applicable): Akien

## Proposal

I would like an option (either in the project settings or in the [Read the Docs YAML config](https://docs.readthedocs.io/en/latest/yaml-config.html)) to change the `sin

[2018-06-06 09:27] rom38 opened #4191 "can not build"
There was a problem with Read the Docs while building your documentation. Please report this to us with your build id (7301518).

[2018-06-06 13:28] radix commented on #1139
yeah, go ahead and close it if you have a resolution, I am not going to have a chance to verify it soon. Thanks very much!

[2018-06-06 14:22] ericholscher commented on #3611
We don't keep repos checked out in any reliable fashion in production.

[2018-06-06 15:08] stsewd commented on #1139
Ok, I'm closing, please let us know if you have the problem again or if the solution works for you too

[2018-06-06 15:08] #1139 closed

[2018-06-06 15:16] stsewd commented on #3611
Ha, yesterday I noted that. In my local instance, the existing projects just pull the code but on rtd if I don't touch them in the same day or so, a clone happens.

[2018-06-06 15:19] stsewd commented on #4191
Please provide all the information suggested by the template

[2018-06-06 17:21] stsewd commented on #1951
Anyone can test if this solution https://github.com/rtfd/readthedocs.org/issues/1951#issuecomment-392955385 works as expected? If so, probably there is nothing else to do from the rtd side, right?

[2018-06-06 17:35] stsewd commented on #1917
I didn't know that this issue was already reported, I'm fixing this in https://github.com/rtfd/readthedocs.org/pull/3525

[2018-06-06 17:39] ederag commented on #1951
Yes, for this solution to work, rtd just has to upgrade the underlying sphinx to `1.7.5.`
This is not the case yet.
[Last build](https://readthedocs.org/projects/geoptics/builds/7147921/) was " Running Sphinx v1.7.4"

[2018-06-06 17:41] stsewd commented on #1951
@ederag you can specify any version of sphinx in your requirements.txt file

[2018-06-06 17:55] stsewd commented on #2398
@liiight you need to create a `requirements.txt` file in your project with `sphinx >= 1.6` and go to the admin section of your rtd project, there you can specify using it.

I'm closing this since looks like it's already solved, the users need to update the sphinx version only.

[2018-06-06 17:55] #2398 closed

[2018-06-06 18:35] ederag commented on #1951
Perfect. It does not bypass the setup.cfg.
For others, I just created a `docs/requirements.txt` with a single line
[code]
and declared `docs/requirements.txt` in the readthedocs project
`admin>advanced settings>Requirements file`
Thank you, readthedocs is great !

[2018-06-06 18:51] dvorapa commented on #4110
Hello there, we finally reached one of the devs with an access by an email, so consider this as resolved :)

[2018-06-06 18:51] #4110 closed

[2018-06-06 19:03] stsewd commented on #3497
I can't replicate this anymore, I think this was something to do with https://github.com/rtfd/readthedocs.org/pull/3946. @davidfischer can you confirm if this issue is solved?

[2018-06-06 19:35] #3991 closed

[2018-06-07 02:01] stsewd commented on #3249
I had tested the new changes with your project, you may want to see this https://www.mkdocs.org/about/release-notes/#stricter-directory-validation

[2018-06-07 03:15] stsewd commented on #3249
So, with the information below, we don't want to support that behavior (is deprecated and marked as an error in recent versions). What we will support (yaml file only) is having a mkdocs project inside another directory:

- mkdocs/docs/index.md
- mkdocs/docs/mkdocs.yml

[2018-06-07 03:15] #3249 closed

[2018-06-07 03:36] blairconrad commented on #3249
Yup, very clear, @stsewd. At least we know what not to do now.

Although I'm confused by

I'd've expected

What do I miss?

[2018-06-07 03:40] stsewd commented on #3249
Ups, my mistake. It is as you mention (editing my comment)

[2018-06-07 12:16] anthokalel commented on #1718
How did you do that @agjohnson  ?

[2018-06-07 14:24] #4125 closed, assigned to nobody

[2018-06-07 14:28] ericholscher opened #4201 "Stop automatically creating migrations on certain fields"
Currently we get a bunch of junk migrations when we rename `help_text` or `choices` in a model. I don't think these are actually useful, and we should find a way to stop them.

There is a suggestion presented here: https://stackoverflow.com/a/39801321 -- it basically monkey-patches the Django migrations to ignore these fields. I'm not in love with this solution, but I also think we should find a w

[2018-06-07 16:30] davidfischer opened #4202 "Reclaim the Russian translation of the Godot docs"
## Details

A user on IRC wanted to reclaim the stagnant [Russian translation of the Godot docs](https://readthedocs.org/projects/godot-ru/). The underlying git repository for those docs appears to be deleted.

The ideal outcome would be any of the following:

* Deleting the project on RTD so that another user who wants to actively maintain it can do so.
* Giving the IRC user control over the RTD

[2018-06-07 16:38] davidfischer commented on #4202
I am following the process we have for [abandoned projects](https://docs.readthedocs.io/en/latest/abandoned-projects.html).

The user requesting access to the docs is here: https://readthedocs.org/profiles/Akien/

I have emailed the owner of the Russian translation to request that they either delete the project or give another user management privileges.

[2018-06-07 18:32] stsewd opened #4205 "Remove MkdcocsJson builder"
Now we use mkdocs 1.7, the json command was removed here https://www.mkdocs.org/about/release-notes/#other-changes-and-additions-to-version-0170

Looks like we aren't using it since I have built some mkdocs projects with no errors (just the html build is reported anyway).

Looks like it is used in the search `readthedocs/search/utils.py` file.

Here is the unused builder

https://github.com/rtfd/r

[2018-06-07 19:08] akien-mga commented on #4202
Thanks, I'm user Akien on RTD.

The current owner of the `godot-ru` project is @amulek84. I've tried contacting them by email using the email address found in their Git commits, but had no answer so far.

[2018-06-08 08:12] robmoss opened #4208 "autoclass not working, but no warnings or errors in log"
## Details

* Read the Docs project URL: http://epifx.readthedocs.io/en/latest/getting_started.html#forecast-summaries
* Build URL (if applicable): https://readthedocs.org/projects/epifx/builds/7306664/
* Read the Docs username (if applicable): robmoss

## Expected Result

When I build the documentation locally, I see:

![epifx-docs-local](https://user-images.githubusercontent.com/5481883/41146617

[2018-06-08 08:20] bochen87 commented on #1690
@stsewd @RichardLitt I also have this issue with our badge
https://enway-gmbh-cleansquare-ros.readthedocs-hosted.com/en/latest/?badge=latest

[2018-06-08 09:21] RichardLitt commented on #765
This is quite an old issue, and not ideal as a place to drop requests like this, because it isn't a catch-all for this type of issue (as it as opened by one person for one support task), and because it's likely that comments here will be missed in the general amount of issues RTFD has. Please open a new issue. For now, I am going to lock this. Thanks.

[2018-06-08 13:18] stsewd commented on #4208
I think you need to mark the option to install your project inside the virtualenv https://docs.readthedocs.io/en/latest/faq.html#can-i-document-a-python-package-that-is-not-at-the-root-of-my-repository

[2018-06-08 14:36] stsewd commented on #1690
@bochen87 that's a project from rtd.com, this issue tracker is for rtd.org version, you can contact support there or provide a project in rtd.org with the same problem.

[2018-06-08 17:37] safwanrahman commented on #3209
@humitos Is it possible to reactivate the account?

[2018-06-08 18:56] davidism commented on #4167
As part of the alias, I'd also like to be able to set the `version` and `release` values for the branch. So instead of Sphinx seeing `version = '1.0.3-dev'` (which is what the branch technically is), it should see `1.0.2`, since that's the closeset release to that branch.

[2018-06-08 19:50] jtpaquet opened #4210 "Read The Docs automodule not working when I'm building it with rtd. but works when I build it with **make html** command"
## Details

* Read the Docs project URL: https://readthedocs.org/projects/picamera-gui/
* Build URL (if applicable): https://readthedocs.org/projects/picamera-gui/builds/
* Read the Docs username (if applicable): jtpaquet (github)

Hi,
I'm having trouble documenting a class with the autoclass command. I specified where are my source files and I don't get import errors that tell me Sphinx is not fi

[2018-06-08 20:04] safwanrahman commented on #4128
@ericholscher [ImportedFile](https://github.com/rtfd/readthedocs.org/blob/master/readthedocs/projects/models.py#L887) does not include the json we use for indexing search. Should I create another model for including the json file or should add in `ImprotedFile`?

[2018-06-08 20:11] agjohnson commented on #4157
We aren't seeing this in production or development, though we also aren't going to support python 3.5. Does the same happen with Python 3.6?

I think we need more information to verify this.

[2018-06-08 20:19] xrmx commented on #4157
I've added a PR with a test that should fail with the actual code. The commit contains a stacktrace and an explanation of what is happening. Just look at DRF parser code and the slumber one that is extended and you'll see that they are expecting two different types.

[2018-06-08 20:31] agjohnson commented on #3684
@ajatprabha we are looking for a django site admin feature, on VersionAdmin.

[2018-06-08 20:38] stsewd commented on #4210
You have a warning in your build https://readthedocs.org/api/v2/build/7316389.txt line 558

[code]

I think you need this https://docs.readthedocs.io/en/latest/faq.html#i-get-import-errors-on-libraries-that-depend-on-c-modules

[2018-06-08 20:40] humitos commented on #3209
@BurntWill @OpenPavilion what do you mean by "reactive"? What's the problem with that account?

If you don't recall the password, you can reset it.

[2018-06-08 20:41] robmoss commented on #4208
I've tried that, but installing the project in a virtual environment fails because it can't install scipy:

`Running scipy-1.1.0/setup.py -q bdist_egg --dist-dir /tmp/easy_install-wlwgiltd/scipy-1.1.0/egg-dist-tmp-yp4yf4ya /tmp/easy_install-wlwgiltd/scipy-1.1.0/setup.py:375: UserWarning: Unrecognized setuptools command, proceeding with generating Cython sources and expanding templates warnings.war

[2018-06-08 20:46] agjohnson commented on #3382
I'm going to unblock this. I think the feature we actually need here is:

* Djano site admin functions for sending an email to project owners that their namespace has been requested
* Djano site admin function for marking a project as abandoned (Adds `-abandoned` to slug, marks `Project.is_abandoned`
* Project detail sidebar piece that states project is abandoned.

In this feature, we don't want:

[2018-06-08 20:51] stsewd commented on #4208
I'm not sure about that, putting it the requirements.txt doesn't work? If  it is for a C dependency, you can see https://docs.readthedocs.io/en/latest/faq.html#i-get-import-errors-on-libraries-that-depend-on-c-modules

You may try conda too https://docs.readthedocs.io/en/latest/conda.html

[2018-06-08 21:01] robmoss commented on #4208
Thanks, I'll try that out. I'm confused though, the documentation did build correctly until (somewhat) recently:

https://epifx.readthedocs.io/en/0.5.4/getting_started.html#forecast-summaries

[2018-06-08 21:19] safwanrahman commented on #3209
@humitos In the past, deleting a account would make the account inactive. That was fixed later on.
So the account maybe become `is_active=False`

[2018-06-08 22:04] robmoss commented on #4208
No, removing numpy and scipy from `install_requires` and installing into a virtualenv doesn't fix this, the autoclass content is still missing and there are no warnings or errors apart from static files one noted in my original report.

[2018-06-08 22:06] agjohnson commented on #4094
Without any additional feedback here, I think we've determined that splitting this out to a microservice, or out to a separate repository, doesn't have many benefits for us.

[2018-06-08 22:06] #4094 closed

[2018-06-08 22:08] agjohnson commented on #4174
+1 from me, but not on our immediate roadmap. If anyone non-core wants to take this on, go for it. Targeting 3.0 as this will be a backwards incompat version change.

[2018-06-08 22:35] #3508 closed

[2018-06-08 22:39] robmoss commented on #4208
The last known-good build was on October 25, 2017:

https://readthedocs.org/projects/epifx/builds/6179336/

Since that build, the only changes to build/configuration files (such as setup.py and the Spinx configuration file) were to bump the version number from 0.5.5 to 0.5.6.

[2018-06-08 22:46] agjohnson commented on #4201
I'd say I'm -1 on this probably. What about a CI check that does something similar to:

[code]

(We don't have a django version that supports this yet)

Similar: https://gist.github.com/nealtodd/a8f87b0d95e73eb482c5

A simple test case could error out when a migration is required.

[2018-06-08 22:51] agjohnson commented on #1315
I really would like to have transifex integration, see #3329 for more there, if we ever add this to our roadmap. Closing this due to lack of activity.

[2018-06-08 22:51] #1315 closed

[2018-06-08 22:55] #1690 closed

[2018-06-08 22:56] #1951 closed

[2018-06-08 23:01] agjohnson commented on #2146
Nope. If we ever want a cli tool, we can extend the project above.

[2018-06-08 23:01] #2146 closed

[2018-06-08 23:02] agjohnson commented on #2254
Closing as a duplicate, and due to lack of activity.

[2018-06-08 23:02] #2254 closed

[2018-06-08 23:06] agjohnson commented on #2266
I'm not sure there is anything we can do to help. Even if proxying was configured still, there isn't much visibility we have on our side to provide guidance. I know that this isn't a bug however, as proxying works without issue for other projects with custom domains.

Feel free to provide more information with sample requests and responses that would help us. Closing for now.

[2018-06-08 23:06] #2266 closed

[2018-06-08 23:07] agjohnson commented on #2510
Sounds like files are removed. Closing this due to inactivity.

[2018-06-08 23:07] #2510 closed

[2018-06-08 23:08] agjohnson commented on #2545
I think the autocomplete removal also fixes this. Closing due to inactivity.

[2018-06-08 23:08] #2545 closed

[2018-06-08 23:09] agjohnson commented on #2775
My guess is this is an issue of having 2 webhooks, or a webhook and the deprecated service. Check the comment above for more info.

Closing due to inactivity.

[2018-06-08 23:09] #2775 closed

[2018-06-08 23:10] #2926 closed

[2018-06-08 23:12] #2512 closed

[2018-06-08 23:14] agjohnson commented on #2613
I'm not sure there is anything actionable here. Feel free to submit some test cases if you'd like to see about resolving this issue.

[2018-06-08 23:14] #2613 closed

[2018-06-08 23:18] agjohnson commented on #2850
Feel free to provide more information around this case, but otherwise I'm not sure there is anything we can do here unless we can recreate the issue. We've had no problem with python version specific virtualenvs, so this might be a local environment issue.

Closing for now.

[2018-06-08 23:18] #2850 closed

[2018-06-08 23:26] agjohnson commented on #4181
For sake of pushing this project forward, it sounds like we can go the path of least resistance and just reuse the current validation and test patterns. We can discuss refactoring to use yamale at the end of the project.

There definitely are some benefits to using yamale for validation, but we're about a month into this project and haven't started with the meat and potatoes of the implementations

[2018-06-08 23:26] #4181 closed

[2018-06-08 23:44] ederag commented on #1951
It works fine, though some server load could be saved.
Currently `PyQt5` is still installed
`Installing PyQt5` in the `python setup.py install --force` [build](https://readthedocs.org/projects/geoptics/builds/7304749/) stage.
Ideally, mocked modules would not be installed.
Meanwhile, is it possible to set a negative requirement ?

[2018-06-09 00:01] agjohnson opened #4214 "Refactor to use yamale for configuration parsing/validation"
We discussed this in #4181 but didn't come up with any significant reasons to throw out our current validation patterns. This still might be a win, but we'll focus on implementations first.

This is set to low priority and will only be a refactor at the end of the project, if we find a need for it.

Refs #4181

Required work:
- [ ] Create new validators for any field types that aren't handled (pat

[2018-06-09 00:02] agjohnson commented on #4058
The underlying PR was just merged. Closing.

[2018-06-09 00:02] #4058 closed

[2018-06-09 00:17] #4101 closed

[2018-06-09 13:00] yarons commented on #2463
Well, Hebrew is pretty complete, I think this issue should be back on the table.

[2018-06-09 13:44] Titan-C commented on #1951
In our use case it still doesn't work, we don't want to mock the imports that use the X server, we want to effectively use it. But our current work around of building the docs in travis and pushing to github pages works well enough.

[2018-06-10 14:41] erwanp commented on #1139
I've been using @TheChymera fix with great success until now, but I have to comment it when I want to build the  docs locally.

Does the @Guts update mean I can drop this fix, add `extensions = ['autoapi.extension']` in my `conf.py`, and it will run both locally and on RTD?

[2018-06-10 18:14] stsewd commented on #1139
I think so, if you require to execute code conditionally you can see https://docs.readthedocs.io/en/latest/faq.html#how-do-i-change-behavior-for-read-the-docs

[2018-06-10 20:06] stsewd commented on #4053
Closing this as the user [hasn't responded or given more information](https://docs.readthedocs.io/en/latest/contribute.html#initial-triage), feel free to reopen with more information if you are still having this problem :).

[2018-06-10 20:06] #4053 closed

[2018-06-11 08:17] Guts commented on #1139
That's what it means. At least, this is what I did: a workaround to handle local/RTD build envs, then removing it with the RTD update.

[2018-06-11 13:38] humitos commented on #3209
Thanks @safwanrahman! I just did that. Please, @BurntWill @OpenPavilion check that your account is active again.

Feel free to re-open the issue if there still a problem.

[2018-06-11 13:38] #3209 closed

[2018-06-11 14:13] humitos commented on #4077
This is already fixed in #4078 with _one_ solution but it's not the best: to be able to get `info` data, `status` _and_ the `exception` raised we are marking a FAILED task as SUCCESS.

[2018-06-11 14:19] jtpaquet commented on #4210
Thanks a lot! I didn't think there was any problems, because it was building. I already had my packages imported this way, but i forgot to add 'picamera'. Here in my ``conf.py``.

![solved](https://user-images.githubusercontent.com/26312569/41236970-629383f6-6d60-11e8-90db-708945343643.png)

It was probably building with ``make html`` because Python was able to locate the 'picamera' package, but R

[2018-06-11 14:19] #4210 closed

[2018-06-11 16:00] ericholscher commented on #4128
We don't want to store the JSON in the database -- it would vastly increase the size of the data we'd have to store, so it's not a goal. What do you need the JSON in the DB for?

[2018-06-11 16:06] ericholscher commented on #4201
Thats good and all, but it still leaves a tangled mess of migration filenames and PR's. We end up with a bunch of PR's with migrations that are out of order, and that require additional work to clean up, with no real value as a migration since they don't effect DB state.

What is the value of having a bunch of migrations that don't actually do anything to the DB state?

[2018-06-11 16:23] davidfischer opened #4218 "Blocking ads triggers nag even when no ad would be displayed"
## Details

* Read the Docs URL: https://phpunit.readthedocs.io/en/7.1/
See: https://twitter.com/s_bergmann/status/1005062504962318341

## Expected Result

There shouldn't be ads on this page.

Edit: PHP Unit is a project that has paid to remove ads. As a result, there are not ads on this page. However, if somebody running an ad-blocker tuned to restrict these ads, they will still get an ad block

[2018-06-11 16:37] davidfischer commented on #4218
I'm not seeing any ads on PHPUnit even in an incognito window.

Is it possible Sebastian saw ads on different docs and had been logged out of RTD?

[2018-06-11 17:05] agjohnson opened #4219 "Add config v2.0 sphinx/mkdocs fail_on_warning options"
Add feature for sphinx/mkdocs to fail the build on warnings. This is a config option for both CLI applications, Sphinx has no fail on warning config option, only nitpick options.

[2018-06-11 17:08] agjohnson opened #4220 "Move config options for Python"
We have several python specific configuration options in our yaml file. These should be moved under the `python` key for organization. Currently, this is `version`, `requirements`, `install`, `extra_requirements`, and `system_packages`. There will be some merging of the parsed config file with database options.

[2018-06-11 17:09] stsewd commented on #4219
mkdocs build:

[code]

sphinx-build:

[code]

[2018-06-11 17:26] agjohnson opened #4221 "Improve redirects feature"
We brought up the idea of using our YAML file for redirects. There are a number of problems with this though, as well as many existing problems.

Current problems:

* ~~If the application is down, redirects don't work~~ Update: still technically true, but the application has been super solid
* ~~If we wanted to make a Azure storage hosted version, we don't have an application or ngnix to fall back

[2018-06-11 17:49] sebastianbergmann commented on #4218
I see this
![screenshot from 2018-06-11 19-45-45](https://user-images.githubusercontent.com/25218/41248079-24fc4abe-6db0-11e8-884b-54166e87ba6f.png) in a browser with uBlock Origin.

I neither see ads nor the "suggestion to turn off ad blocking" shown above in a browser without an adblocker.

I expect to not get the anti-adblock message when no ads are to be displayed anyway. Looks like a bug to m

[2018-06-11 17:56] safwanrahman commented on #4128
@ericholscher In my last comment I meant, "in `ImprotedFile`, only the `html` and `txt` file path is stored. But currently, there are no model where `json` file path is stored."
As we do not store the json file path in anywhere into database, Should I create another model where the json files path is stored or store the path in `ImprotedFile` model.

I did not mean storing content of json file. On

[2018-06-11 18:18] davidfischer commented on #4218
Hmmm. I now understand the problem.

The problem here is that the check to see whether an ad should be displayed or not is done server side. With uBlock Origin, you are blocking the server side request. Blocking the server side request triggers this message. If you allowed the server side request, you would not see this message or get an ad.

I'm going to have to think about this as a good solutio

[2018-06-11 18:53] davidfischer commented on #4218
Counter-intuitively, if you were to whitelist our advertising, you wouldn't get this nag OR the ads.

[2018-06-11 20:34] humitos commented on #4201
I'd be against of hacking the `makemigrations` command because we could be breaking things without noticing them immediately but, reading the answer from Andrew here (https://code.djangoproject.com/ticket/21498#comment:6) and the whole discussion, it seems that it could affect some weird usages of those fields so I think we will be safe on ignoring those fields.

I'd say that we want to have both

[2018-06-11 22:09] aminzarshenas opened #4223 "autoclass works locally but not on rtd"
## Details

* Read the Docs project URL: https://readthedocs.org/projects/bca/
* Build URL (if applicable): https://readthedocs.org/projects/bca/builds/7328757/
* Read the Docs username (if applicable): aminzarshenas
Project doc URL: https://github.com/aminzarshenas/bca/tree/master/doc

## Expected Result

When I locally go to the doc folder in my project and do:

make latexpdf

It works perfectly

[2018-06-12 02:17] stsewd commented on #4223
Your build has some warnings

[code]

You can see your build logs with more detail in https://readthedocs.org/api/v2/build/7328757.txt

By the way, I can see the docs generated

![screenshot-2018-6-11 api documentation bca 0 1 0 documentation](https://user-images.githubusercontent.com/4975310/41266504-d1c4e7d6-6dbc-11e8-9651-20a535c91da5.png)

[2018-06-12 02:50] stsewd opened #4226 "Better UX to comunicate warnings on the build page"
## Details

Some users that report a problem say that the build show no errors, but there are warnings (which contains very useful information to solve the problem). The problem is that those warnings aren't very easy to see.

## Possible solutions

We can't identify in a proper way if there is a warning, the status code is `0` for success, and everything else an error. But we can parse the output

[2018-06-12 03:10] aminzarshenas commented on #4223
@stsewd Thank you for checking that and mentioning the warnings. I have noticed the warnings too but I was not able to fix them.

It is very weird that I was not able to see the doc (API Documentation) before but now all of a sudden it is perfectly fine.

[2018-06-12 03:39] svenevs opened #4227 "Build fails after (recursive) clone, before git submodule sync"
## Details

The same mysterious build error occurs on the main project, as well as the test project.  "Fake NanoGUI" is the test project which I have admin access to, but I will include links to both build errors in case it is helpful.

* Read the Docs project URL:
    - https://readthedocs.org/projects/fake-nanogui/ and
    - http://readthedocs.org/projects/nanogui/
* Build URL (if applicable):

[2018-06-12 03:59] stsewd commented on #4223
@aminzarshenas can we close the issue, then?

[2018-06-12 05:07] stsewd commented on #4227
The error is probably because you don't have this submodule

https://github.com/svenevs/nanogui/blob/885e4fccc69bbfdd4c527009eef8ed33641d9765/.gitmodules#L7-L9

https://github.com/svenevs/nanogui/tree/master/ext

(rtd uses gitpython which is very strict with unexisting submodules)

[2018-06-12 05:14] aminzarshenas commented on #4223
@stsewd yes, please. Thank you very much.

[2018-06-12 05:17] #4223 closed

[2018-06-12 06:20] svenevs commented on #4227
How very interesting!  Thanks @stsewd you hit it right on the nose.

It's interesting that this surfaced recently, the GLEW submodule has been gone I think over a year now, possibly longer.  Nonetheless, it is fixed and building now, so future readers if you exist I deleted lines from `.gitmodules` that were not applicable anymore (that commit might be getting force pushed away).

[2018-06-12 06:20] #4227 closed

[2018-06-12 12:27] ericholscher commented on #3393
@safwanrahman you might find this and the attached PR's interesting!

[2018-06-12 19:29] akien-mga commented on #557
I'd also support this feature being available in the standard build process, as it might be especially relevant for multilingual RTD projects, see https://en.wikipedia.org/wiki/Sitemaps#Multilingual_and_multinational_Sitemaps

Context: For Godot Engine, we recently put up localized RTD instances, most of which are still over 80% of English text while translators work on things string by string. Se

[2018-06-12 20:30] agjohnson commented on #4201
I think this is 2 phase. Fix the current errors, then use CI to ensure that any new changes that should incur a migration make a corresponding migration. The fact that we have missing migrations now is a secondary issue to this -- the main issue is that users don't know they need to create these when making changes, linting, etc.

[2018-06-12 20:37] humitos commented on #4226
Not a real fix but the `-W` or strict mode option will make these commands to fail. I'm saying that's not a real fix since the user has to activate that option.

Since we are marking the `not 0` exit codes with _read_, I suppose that we could mark any output with the `WARNING` word (or similar) with _yellow_ from the client.

[2018-06-12 21:16] agjohnson opened #4230 "Automate documentation language indexing"
For projects that have translations, if the document is not fully translated, Google can display results for the base language untranslated strings in a translated version. We can address this with a sitemap, and we can also address this with meta tags:
https://support.google.com/webmasters/answer/189077

The implementation of this might be difficult though:

* If we can use a common context varia

[2018-06-13 08:59] jorisshh opened #4231 "docs_dir and site_dir errors during build"
## Details

* Read the Docs project URL: https://readthedocs.org/projects/rucksack-docs
* Build URL: http://rucksack-docs.readthedocs.io/en/latest
* Read the Docs username: devdogio

## Expected Result

Build fails due to errors.

My mkdocs.yml file from git repo:

[code]

cat mkdocs.yml during build:
[code]

Errors:
[code]

Am I missing something here? My repos are unchanged and worked perfectly

[2018-06-13 13:56] xrmx opened #4232 "migrations does not match models on python 3"
## Expected Result

With python3 `makemigrations` does not find changes.

## Actual Result

Most of them looks bytestrings vs unicode, you may want to take at the Proxy models though.

[code]

I've run the command on 2.3.13 so may not match perfectly the output on master, still the few i've checked are not fixed.

[2018-06-13 14:01] stsewd commented on #4231
We upgrade the version of mkdocs, you can pin in your `requirements.txt` file a compatible version, or fix your project structure. Please see https://www.mkdocs.org/about/release-notes/#stricter-directory-validation

[2018-06-13 14:07] stsewd commented on #4232
Mostly are from help_text https://github.com/rtfd/readthedocs.org/pull/3608

There is this discussion https://github.com/rtfd/readthedocs.org/issues/4201 to fix the problem

[2018-06-13 14:16] xrmx commented on #4201
I understand the annoyance when changing content of text but some of these are from different *types* which are worth to fix imho.

[2018-06-13 14:38] humitos commented on #4232
Thanks for your report.

I'm closing this in favor of #4201 which it's tracking the same issue with different proposals to the solution..

[2018-06-13 14:38] #4232 closed

[2018-06-13 17:21] agjohnson opened #4233 "Add information on process for roadmap"
We've formalized how we are prioritizing work, but don't currently have resources for contributors that communicates how to work on features that are on our roadmap.

The simple version is:

* Core team works on issues that are `Accepted`, which implies they are somewhere on our roadmap
* Versioned milestones are our current roadmap
* Named milestones include issues that we aren't yet actively wor

[2018-06-13 17:41] #3393 closed

[2018-06-13 17:57] jorisshh commented on #4231
Thanks. Moved everything to docs/ folder and all is working well 👍

[2018-06-13 17:57] #4231 closed

[2018-06-13 18:52] agjohnson opened #4235 "Move pseudo-notification for webhooks from project pages"
In unifying some of the patterns for notifications, we noticed that the pseudo-notification for a disconnected webhook stands out. A couple patterns for moving this would be:

* An indicator to let users know that project is incorrectly configured
* Email notification on the problem, if it persists?
* When a webhook is not configured correctly, instead of notifications pointing to the connect serv

[2018-06-13 19:04] stsewd commented on #4191
Closing this as the user [hasn't responded or given more information](https://docs.readthedocs.io/en/latest/contribute.html#initial-triage), feel free to reopen with more information if you are still having this problem :).

[2018-06-13 19:04] #4191 closed

[2018-06-14 04:37] stsewd commented on #3999
@humitos the docker client was updated in https://github.com/rtfd/readthedocs.org/pull/4124, we don't have this problem anymore, right?

[2018-06-14 04:41] stsewd commented on #3835
This was resolved in https://github.com/rtfd/readthedocs.org/pull/3850

[2018-06-14 04:41] #3835 closed

[2018-06-14 04:45] stsewd commented on #3891
Is this really a problem? To me, this seems "normal". If I wipe the build, it's because I want to do a clean build, so, the current builds should stop (or fail).

[2018-06-14 04:50] stsewd commented on #3810
Resolved in https://github.com/rtfd/readthedocs.org/pull/3817

[2018-06-14 04:50] #3810 closed

[2018-06-14 04:53] stsewd commented on #3803
A guide was writing in https://github.com/rtfd/readthedocs.org/pull/3881

[2018-06-14 04:53] #3803 closed

[2018-06-14 05:06] stsewd commented on #3694
This was resolved in https://github.com/rtfd/readthedocs.org/pull/3703

[2018-06-14 05:06] #3694 closed

[2018-06-14 05:09] stsewd commented on #3652
@humitos is this still an issue? or it was solved after https://github.com/rtfd/readthedocs.org/issues/3644?

[2018-06-14 05:18] stsewd commented on #3509
This was solved in https://github.com/rtfd/readthedocs.org/pull/3632

[2018-06-14 05:18] #3509 closed

[2018-06-14 05:35] stsewd commented on #4170
This was resolved in https://github.com/rtfd/readthedocs.org/pull/4217

[2018-06-14 05:35] #4170 closed

[2018-06-14 05:38] stsewd commented on #1673
Haystack was removed https://github.com/rtfd/readthedocs.org/pull/4039 and there is a guide for setup ES https://github.com/rtfd/readthedocs.org/pull/3881

[2018-06-14 05:38] #1673 closed

[2018-06-14 06:58] jrobert2 opened #4238 "Problem building project on fresh install"
I've installed a fresh rtd instance in docker behind a proxy like this :

[code]

It runs well untill i try to build a project (any). I get :
[code]

I've found that : ``--use-wheel``  is deprecated [since pip 7](https://pip.pypa.io/en/stable/news/#id25) (in favor of --only-binary) and removed since[ pip 10 beta 1 ](https://pip.pypa.io/en/stable/news/#b1-2018-03-31 )

Removing --use-wheel from the

[2018-06-14 12:08] humitos commented on #3999
@stsewd we don't know yet. That PR wasn't deployed yet.

[2018-06-14 12:11] humitos commented on #3652
@stsewd probably. I didn't see his issue anymore in several weeks.

I'm closing it here.

[2018-06-14 12:11] #3652 closed

[2018-06-14 12:19] humitos commented on #3891
It's not a big problem, but at least the build output page says something completely different to what has happened. I mean, it fails because we removed the files and the error makes no sense.

That, at least, will confuse the users.

[2018-06-14 14:06] stsewd commented on #2958
Closing this as the user [hasn't responded or given more information](https://docs.readthedocs.io/en/latest/contribute.html#initial-triage), feel free to reopen with more information if you are still having this problem :).

[2018-06-14 14:06] #2958 closed

[2018-06-14 14:09] stsewd commented on #4238
That's because of your pip version, rtd uses a lower version in production.

Also see https://github.com/rtfd/readthedocs.org/pull/4206

[2018-06-14 14:14] stsewd commented on #4238
I didn't know that, I think we can merge the above PR after all. I thought this was only in the last version.

[2018-06-14 14:19] RichardLitt commented on #4233
I'd also like to know the process for how the roadmap is formed, and where contributors can get involved with that (if they can!).

[2018-06-14 14:21] jrobert2 commented on #4238
Ok, great, thanks !

[2018-06-14 17:00] stsewd commented on #3075
@jkroes can you please provide your rtd project url? Also, the github project that your linked is 404.

[2018-06-14 17:05] agjohnson commented on #4233
Good idea. This is sort of tricky for us as we have found we have multiple roadmaps essentially -- one for community focus, one for our commercial hosting focus, and another for our ad initiative.

I'd like to have a better story for new contributors. One thing we found during GSOC application period was that we had a lot of issues labeld `Good First Bug`, but these issues, while they were smaller

[2018-06-14 17:59] humitos commented on #3999
Just deployed and the issue is still present in 3.3.0 :(

I downgraded it to 3.1.3 again.

[2018-06-14 18:08] RichardLitt commented on #4233
I think that a reframing of what `Good First Bug` does may help. You're not taking time away from other, mission-critical tags. Instead, you're actively developing the community for the sake of building a better one. Ultimately, the roadmaps matter less than the strength of the open source community. Without the community, the code collapses; with it, you end up having people who are interested in

[2018-06-14 18:29] #3888 closed

[2018-06-14 21:13] ericholscher commented on #1340
I just had a realization for this, which is that GH lets us access the PR's for a project as a remote:

https://gist.github.com/piscisaureus/3342247

You can then checkout a PR on the repo in a normal fashion:

`git reset --hard origin/pr/95`

This would let us treat PR's as just another type of Version (Tag/Branch/Pull Request) and use the existing RTD modeling to support them. We could then have

[2018-06-14 21:29] jakirkham commented on #1340
Yeah there is a `/merge` and `/head` under that. The first is a generated merge commit with the base branch (presumably `master`). The second is the latest commit on the PR.

Can also get both using `git fetch` and optionally attach branches to them locally. We use this a lot in conda-forge. Happy to answer questions.

[2018-06-15 04:59] robmoss commented on #4208
Would you like me to close this bug report, since it's caused by a bug in Sphinx?

[2018-06-15 05:12] stsewd commented on #4208
Thanks for finding the root of the problem, I think we can keep this open till we update the default Sphinx version, btw, you can pin to a recent version of Sphinx too.

[2018-06-15 07:31] jacobtomlinson opened #4246 "Builds failing due to up to date packages not being available"
## Details

* Read the Docs project URL: https://readthedocs.org/dashboard/opsdroid
* Build URL (if applicable): https://readthedocs.org/projects/opsdroid/builds/7347736/
* Read the Docs username (if applicable): jacobtomlinson

## Expected Result

Builds successfully

## Actual Result

All my latest builds are failing with the following error

[code]

The package `aiohttp` at version `3.3.2` is a

[2018-06-15 09:56] robmoss commented on #4208
No worries. And yes, good point about pinning a newer version of Sphinx.

[2018-06-15 10:22] ericholscher commented on #4128
Going to call this done, as we have successfully used it in the prototype (#4183)

[2018-06-15 10:22] #4128 closed

[2018-06-15 10:24] ericholscher commented on #2457
I'd like to get this as one of the next steps in our Summer of Code project. Having the ability to search with quotes and other common "google style" search queries would be a really good improvement for our search.

[2018-06-15 10:27] ericholscher commented on #2039
@agjohnson do you have an example of this anywhere to test against?

[2018-06-15 10:30] ericholscher opened #4247 "Delete old Elastic Search code"
As part of the GSOC Search Updates, we should remove the old ES code, so that our working branch is cleaner and easier for people to read. This should be done in a PR after the initial prototype (#4183) is merged.

[2018-06-15 10:58] safwanrahman commented on #2013
I strongly bet that the search index get automatically removed as soon as the file is removed.
I will add a test to make sure it works perfectly

[2018-06-15 11:00] safwanrahman commented on #2328
@ericholscher If anyone wants to have a case sensitive search, what they will need to do then?

[2018-06-15 11:02] safwanrahman commented on #504
Really excited to see its coming next to my work.
@ericholscher Is it possible to provide any UI or something like that so I can try to implement them? Can anyone from the team help me do the frontend things? Can you design the API for the suggestions?

[2018-06-15 11:03] safwanrahman commented on #504
@robhudson Thanks a lot for filling the issue. I will work on this in next couple of weeks.
Do you have any suggestion you would like to provide that will help me to implement this?

[2018-06-15 12:21] ericholscher commented on #2328
I don't know if we need to support case sensitive, but perhaps we could support it with quotes. ""importedFile" for example.

[2018-06-15 12:36] kakulukia opened #4248 "Version missing in generated READTHEDOCS_DATA"
## Details

Its a project an a self hosted version of RTD.
RTD creates a file called `readtehdocs-data.ja` which results from the function `generate-rtd-data` and should create the following:

    # Will be available in the JavaScript as READTHEDOCS_DATA.
    readthedocs_data = {
        'project': self.version.project.slug,
        'version': self.version.slug,
        'language': self.version.pr

[2018-06-15 14:34] stsewd commented on #3426
Resolved in https://github.com/rtfd/readthedocs.org/pull/4212

[2018-06-15 14:34] #3426 closed

[2018-06-15 14:50] stsewd commented on #4246
I'm not sure why the package isn't found, but about the other issue, is because rtd tries to found a `requirements.txt` file and install it. You can create an empty requirements file and point to that in the admin section.

[2018-06-15 15:27] jacobtomlinson commented on #4246
Thanks for the suggested workaround @stsewd. It would be great if we could just turn it off in the settings rather than having to introduce a random empty file into our project though.

[2018-06-15 15:52] stsewd commented on #3911
@avanobberghen your latest builds are successful, was your problem solved?

[2018-06-15 16:28] stsewd commented on #4246
I think there is an issue open for that (I couldn't find it), probably would be available using the configuration file.

[2018-06-15 16:31] stsewd commented on #3587
Closing this as the user [hasn't responded or given more information](https://docs.readthedocs.io/en/latest/contribute.html#initial-triage), feel free to reopen with more information if you are still having this problem :).

Also https://github.com/rtfd/readthedocs.org/issues/3931 was resolved. And I can't replicate the problem in my account.

[2018-06-15 16:49] tswast commented on #4127
Adding `pip_install: true` to the config in `pandas-gbq` seemed to be the right fix for a similar error. https://github.com/pydata/pandas-gbq/commit/ee9955f81b454ff43b3c9c20e15d776444503ac8

[2018-06-15 17:05] Len-PGH opened #4249 "CSS format issue"
## Details

* Read the Docs project URL:
http://fusionpbx-documentation.readthedocs.io/en/latest/
* Build URL (if applicable):
* Read the Docs username (if applicable):
https://github.com/Len-PGH/fusionpbx-docs.git
https://github.com/fusionpbx/fusionpbx-docs
https://github.com/LEN-PGH/fusionpbx-docs
Using theme https://github.com/rtfd/sphinx_rtd_theme
## Expected Result

*A description of what you

[2018-06-15 17:10] stsewd commented on #4249
I think this is because of an update in theme, I'll try to see if I can reproduce this (also you can try to specify the latest version of the theme).

[2018-06-15 17:13] Len-PGH commented on #4249
Where do I find the version of the theme and sphinx?

[2018-06-15 17:19] davidfischer commented on #4249
They will be in the [build output](http://readthedocs.org/projects/fusionpbx-docs/builds/7349909/).

[2018-06-15 17:20] davidfischer commented on #4249
Looks like it is using the latest version of the theme (0.4.0) with Sphinx 1.7.4.

[2018-06-15 17:22] stsewd commented on #4249
Seems like you are using a custom theme

https://github.com/Len-PGH/fusionpbx-docs/blob/d44f3545d85eedf9a4df8e43ef37cdeeaff36ecc/source/conf.py#L39

https://github.com/Len-PGH/fusionpbx-docs/tree/master/source/_themes/sphinx_rtd_theme

[2018-06-15 17:28] davidfischer commented on #4249
Thanks for the tip @stsewd. So what happened is that:

- The latest sphinx_rtd_theme is installed but *not* used because you have duplicated an old version of the theme into your project directory.
- Older versions of the theme relied on Read the Docs always using the same CSS (bundled with readthedocs.org) rather than the CSS that is bundled with the theme. This is necessary to allow the theme to

[2018-06-15 17:31] Len-PGH commented on #4249
Theme has been the same since starting to use read the docs. I'm happy to do whatever needs done but trying to understand why this just happened this week with constant builds  and after 2 years?

[2018-06-15 17:43] stsewd commented on #4249
@Len-PGH that is explained above

RTD update that in the latest deploy.

[2018-06-15 17:43] davidfischer commented on #4249
Another solution is to update your duplicated theme although I suspect you can just remove it.

We made a change this week to increase the default version of the RTD theme used with Read the Docs. If there wasn't an overridden version of the theme in your project, this would have been transparent to you. The newest version of the theme bundles CSS a little differently and in the build process we d

[2018-06-15 18:00] Len-PGH commented on #4249
Thank you for the help. I just moved the theme folder and ran a build and css is back.  I really appreciate everyone's help!

[2018-06-15 18:04] #4249 closed

[2018-06-15 18:38] stsewd commented on #3732
Closing as we can't replicate. Probably it was a corrupted file as mention in https://github.com/rtfd/readthedocs.org/issues/3732#issuecomment-371187950. And we have a test for this too (passing).

[2018-06-15 18:38] #3732 closed

[2018-06-15 18:57] stsewd commented on #4246
Found it https://github.com/rtfd/readthedocs.org/issues/1621#issuecomment-388165551

[2018-06-15 19:09] stsewd commented on #2396
There are some warnings in the build process https://readthedocs.org/projects/polygons/builds/4345860/ (6th step). It's because of the python version. Your project is using type annotations, which are available only in python3. You can change the python version in the admin section of your project.

[2018-06-15 19:09] #2396 closed

[2018-06-15 19:14] stsewd commented on #872
https://github.com/rtfd/readthedocs.org/pull/3544 (just linking the PR here)

[2018-06-15 19:16] stsewd commented on #2673
We don't have the `Community Effort` label anymore, is this issue solved?

[2018-06-15 19:34] stsewd commented on #2226
Closing this as the user [hasn't responded or given more information](https://docs.readthedocs.io/en/latest/contribute.html#initial-triage), feel free to reopen with more information if you are still having this problem :).

Also see https://github.com/rtfd/readthedocs.org/issues/2226#issuecomment-228490809

[2018-06-15 19:34] #2226 closed

[2018-06-15 19:36] stsewd commented on #2543
Please provide the build url of your rtd project.

Closing this as the user [hasn't responded or given more information](https://docs.readthedocs.io/en/latest/contribute.html#initial-triage), feel free to reopen with more information if you are still having this problem :).

[2018-06-15 19:36] #2543 closed

[2018-06-15 19:41] stsewd commented on #2718
Closing in favor of https://github.com/rtfd/readthedocs.org/issues/3829

[2018-06-15 19:41] #2718 closed

[2018-06-15 19:48] stsewd commented on #3362
I think so, maybe you can try updating to the latest template, also seems like the recent failures are related to your project having unicode branch names, rtd don't support unicode branches at the moment,

[2018-06-15 20:03] avanobberghen commented on #3911
Hi, yes, it's solved. I changed some contents in the .rst. Seems to work.
Thanks.

On Fri, 15 Jun 2018, 17:52 Santos Gallegos, <notifications@github.com>
wrote:

[2018-06-15 20:04] #3911 closed

[2018-06-15 20:12] stsewd commented on #2274
You can disable the `single page html` build with the yaml file https://docs.readthedocs.io/en/latest/yaml-config.html#formats. For the JSON build, we can't do that, since rtd uses to provide the search feature. But we have a _beta_feature to output the json artifacts in the normal html build step https://github.com/rtfd/readthedocs.org/pull/4229 (only selected projects has this feature at the mom

[2018-06-15 20:13] arthall opened #4251 "Intermittent failures for time or memory usage"
## Details

* Read the Docs project URL: https://oracle-cloud-infrastructure-python-sdk.readthedocs.io/en/latest/
* Build URL (if applicable): https://readthedocs.org/projects/oracle-cloud-infrastructure-python-sdk/builds/
* Read the Docs username (if applicable): arthall

## Expected Result

Project would build without issues, or all builds would fail for the same reason.

## Actual Result

The b

[2018-06-15 20:23] stsewd commented on #4251
Please see https://docs.readthedocs.io/en/latest/guides/build-using-too-many-resources.html

[2018-06-15 20:46] stsewd commented on #4065
Closing this as the user [hasn't responded or given more information](https://docs.readthedocs.io/en/latest/contribute.html#initial-triage), feel free to reopen with more information if you are still having this problem :).

[2018-06-15 20:46] #4065 closed

[2018-06-15 20:54] stsewd commented on #3468
@r-barnes thanks for document all the process here, I don't this there is a better way of handling this. Perhaps you can automate the build of the images in travis instead of doing it locally.

[2018-06-15 20:54] #3468 closed

[2018-06-15 21:09] stsewd commented on #4163
@wmayner the attached PRs were merged and released. You can check now :)

[2018-06-15 21:31] stsewd commented on #3044
Are you still having this problem? All the links are 404.

[2018-06-15 21:42] vstinner commented on #3044
Oh. I changed the name of my project from haypo-notes to vstinner. I created a new project when I renamed the GitHub repositry. And GitHub now notify properly ReadTheDocs. Thanks!

[2018-06-15 21:42] #3044 closed

[2018-06-15 21:43] vstinner commented on #3044
FYI my new website: http://vstinner.readthedocs.io/

[2018-06-16 05:56] safwanrahman commented on #1045
Maybe we can close this in favor of #4183

[2018-06-16 05:57] #1045 closed

[2018-06-16 08:16] Tobotimus commented on #3181
Hey guys, firstly, thanks for all the work you guys do on this project :smiley:

I've taken an interest in this issue, and I'd just like to note a few things down about how we expect people will use this feature, and which use cases we should accommodate for. People often get confused about how pipenv should be used, and thus I expect it will be difficult to please everyone with this feature.

I a

[2018-06-16 13:11] jacobtomlinson commented on #4246
Yep it does seem related to that one. I'll do the workaround and close this issue in favour of #1621. Thanks again!

[2018-06-16 13:11] #4246 closed

[2018-06-16 13:29] DEKHTIARJonathan opened #4252 "Compilation Passing with Layout completely bugged"
Hello dear friends,

I am one of the maintainer of the project [tensorlayer/tensorlayer](https://github.com/tensorlayer/tensorlayer), we noticed yesterday that RTD is messing up completely our builds for maybe a few days (we just noticed).

Unfortunately, if we try to compile old versions of the docs (which already worked and was working in the past), it is not working anymore.

**I have noticed a

[2018-06-16 13:36] DEKHTIARJonathan commented on #4252
Maybe related to this: https://github.com/rtfd/readthedocs.org/issues/3715

[2018-06-16 13:46] DEKHTIARJonathan commented on #3715
@stsewd Is it deployed ? Or is the problem still alive ?
Thanks for the help.

[2018-06-16 16:32] stsewd commented on #3715
@DEKHTIARJonathan the bug is fixed and the patch deployed.

[2018-06-16 16:35] stsewd commented on #4252
This is because you are using a custom theme, not the one that rtd provides

https://github.com/tensorlayer/tensorlayer/blob/5e61f27c9edbdeeb7e513ceabd977960b65996bf/docs/conf.py#L441-L442

https://github.com/tensorlayer/tensorlayer/tree/master/docs/_themes/sphinx_rtd_theme

See https://github.com/rtfd/readthedocs.org/issues/4249

[2018-06-16 17:12] DEKHTIARJonathan commented on #3715
@stsewd do you have any idea where the bug could come from?

[2018-06-16 17:15] DEKHTIARJonathan commented on #3715
Thanks for the help and quick reply

[2018-06-16 17:34] DEKHTIARJonathan commented on #4252
Fixed the issue, thanks a lot 👍

[2018-06-16 17:34] #4252 closed

[2018-06-16 17:50] zsdonghao commented on #4252
@stsewd thanks a lot

[2018-06-16 18:04] densh opened #4253 "Do not show disable adblocker messages to paying customers"
## Details

* Read the Docs project URL: https://scala-native.readthedocs.io/en/latest/
* Read the Docs username (if applicable): densh

## Problem

Our project supports read the docs with 5/mo payments, but it looks like read the docs still shows this to our users:

    Support Read the Docs!

    Please help keep us sustainable by allowing our Ethical Ads in your ad blocker or go ad-free by subs

[2018-06-16 20:00] stsewd commented on #4253
Thanks for support rtd, I think this is a duplicate of #4218

[2018-06-18 03:15] adamjstewart commented on #3769
For anyone else who encounters this issue, I opened up an issue with Sphinx directly. In my case, the problem is caused by calling `sphinx.apidoc.main` inside of my `conf.py`. `sphinx.apidoc.main` is erroneously pulling in command-line args from `sphinx-build`, causing the error message you see. See https://github.com/sphinx-doc/sphinx/issues/5104 for more details.

[2018-06-18 09:45] ericholscher commented on #504
I'd really like to see us be able to index & autocomplete API objects as well. So that you could type `Pro` and it would autocomplete `Project` or similar. I don't know the best UI for it though.

This existing Sphinx extension has at least a basic take on this: https://github.com/jimfulton/sphinxautoindex/tree/master/findanything -- but could definitely use some UX improvements :)

[2018-06-18 10:03] ericholscher commented on #2673
Yep. 👍

[2018-06-18 10:03] #2673 closed

[2018-06-18 12:47] #4102 closed

[2018-06-18 14:32] JrCs opened #4256 "Bad build requirement"
I've create a fresh rtd docker image with this Dockerfile:
[code]

All is working well but when i try do build the admin-demo i've got:
[code]

Why the requirement (for mock) is not valid ?

[2018-06-18 14:52] jakirkham commented on #3769
Thanks for opening the upstream issue, @adamjstewart 😄

[2018-06-18 14:56] jakirkham commented on #1139
Sphinx 1.6 to 1.7 broke some things that the [aforementioned workaround]( https://github.com/rtfd/readthedocs.org/issues/1139#issuecomment-312626491 ) relied on. A Sphinx 1.6 and 1.7+ compatible version is included below.

[code]

[2018-06-18 14:58] jakirkham commented on #3769
Added a workaround that solved the issue for me in [this comment]( https://github.com/rtfd/readthedocs.org/issues/1139#issuecomment-398083449 ).

[2018-06-18 15:07] stsewd commented on #4238
Closed in https://github.com/rtfd/readthedocs.org/pull/4206

[2018-06-18 15:07] #4238 closed

[2018-06-18 15:08] humitos opened #4257 "Rework around skipping a build"
Currently, we have something like `if project.skip: return None` in `prepare_build` which is then handled at `trigger_build` helper. It's not a really good workflow and we probably want to raise an exception instead and manage it in a proper way.

https://github.com/rtfd/readthedocs.org/blob/14942e9c1322a320ec3ecd34fe6a797e975d3a6f/readthedocs/core/utils/__init__.py#L98-L104

Additionally, we were

[2018-06-18 15:32] ericholscher commented on #4182
I'm generally -0. Last time I talked w/ folks about it, it didn't seem like there was strong support for the server-side in Python, and it would be locking ourselves into a much smaller ecosystem. I think just building a proper REST API with REST Framework is going to be the best path forward for most of our users, and the simplest thing that we can do.

[2018-06-18 16:09] stsewd commented on #3181
@Tobotimus thanks, that's a great summary of the use case of pipenv, currently, we are doing a v2 of the configuration file https://github.com/orgs/rtfd/projects/2, I think this should be there.

[2018-06-18 16:30] stsewd opened #4258 "Delete untracked tags on fetch step"
Currently, if the user deletes a tag, it needs to wipe the environment for this change be reflected in their version list.

There are some solutions to delete untracked tags (require more than 2 commands). But I found that the newest version of git has the `--prune-tags` option, which is used as `git fetch --prune --prune-tags` (`git >2.17`). We need to update git on the servers (we use 2.7.4) and

[2018-06-18 16:33] #4253 closed

[2018-06-18 16:43] stsewd opened #4259 "Better UX when `git checkout` to a not existing branch/tag"
Sometimes we can end in a case where the user deletes a version in their repo and want to build that version in rtd. When this happens, the user needs to build a different available version.

Because of the order of the build process, a wipe isn't enough to solve this

- RTD will clone or update the repo as a first step
- Then, rtd will fetch the new versions (and deletions)
- RTD will checkout to

[2018-06-18 16:50] stsewd commented on #4259
A solution can be: change the build process order

- clone or update the repo as a first step
- fetch the new versions (and deletions)
- sync the versions with the data from the repo
- checkout to the version that is going to build

But I'm not sure about the consequences of this change

https://github.com/rtfd/readthedocs.org/blob/9a4c45932cf6f1cf4f878e06e27d281f2cf24736/readthedocs/projects/task

[2018-06-18 18:22] safwanrahman commented on #3123
@humitos Can you take a look?

[2018-06-18 18:40] stsewd commented on #2673
Ups, wrong repo. Yeah, we still have the community effort label, but it was dropped in https://github.com/rtfd/readthedocs.org/pull/4180, we need to update the rest of the docs to match the changes

[2018-06-18 19:30] humitos commented on #3123
@lhadjchikh I just increased it to 30 minutes and triggered a build: https://readthedocs.org/projects/cyphon/builds/7361441/

Let's see if it passes. If so, we can close this issue.

Also, you can test by disabling the `htmlzip` format as it's mentioned here: https://docs.readthedocs.io/en/latest/guides/build-using-too-many-resources.html

[2018-06-18 20:41] stsewd commented on #2551
This was removed in https://github.com/rtfd/readthedocs.org/pull/2191

Here https://github.com/rtfd/readthedocs.org/pull/2191/commits/64faed20fd3a5672f9b34c4b4565a567eba3deec

[2018-06-18 22:13] humitos opened #4262 "pip --only-binary=:all: option is not an exact replacement of --use-wheels"
On today's deploy we found that `mock==1.0.1` is not installable with `--only-binary=:all:` option but it was installable with the `--use-wheels`.

I tested this locally before deploying but it did work in my instance, so I was probably using a different version of pip or something like that. We are using pip 9.0.1 in production.

We need to keep discussing this.

For now, we revert the PR #4206 t

[2018-06-18 22:18] humitos commented on #4262
It seems like `--use-wheels` was like _prefer wheels_ instead of _force_ them. I think that maybe new pip versions do that by default and no option is needed.

[2018-06-19 00:13] youkaichao opened #4263 "save the environment if dependencies don't change"
Hi, I'm wondering if you can consider saving the environment if the project dependencies don't change.

Package dependencies are supposed to be rather stable, so building the same environment for so many times is wasting time & computing resourse.

It's easy to detect whether the dependencies change or not, simply by checking the status of setup.py or readthedocs.yml.

Thanks for your wonderful we

[2018-06-19 00:22] stsewd commented on #4263
The pip dependencies are cached, so the next time they aren't downloaded from internet, but reused from the cache. Also, to save disk space I have understood that rtd clean these resources regularly, so if you don't build your docs in a while, there isn't a cache and the dependencies are downloaded from internet.

[2018-06-19 00:46] youkaichao commented on #4263
so it's a tradeoff between computing resource and storage resource, and rtd think the storage resource is more valuable, right?

[2018-06-19 01:13] stsewd commented on #4263
I think is right to do it, I mean if you don't build your docs in some time there isn't a good reason to keep all that space in the servers, but if you build your docs every 5 minutes or so, the cache is used.