[2019-02-18 16:00] rexzing commented on #5300
I would like to work on this one. Where should I start?

[2019-02-18 16:02] humitos commented on #5216
I will take care of this in the following days.

[2019-02-18 16:38] stsewd commented on #5287
So, when parsing the yaml, this generates `['recomended', "docs'"]` It adds the `'` to the element, so the error comes from another step. So, I think a better hint is https://github.com/rtfd/readthedocs.org/issues/4288

[2019-02-18 16:53] humitos commented on #4286
I update the description of this issue to write what we talked in our meeting last week and the decisions we made. I will start modifying the document proposed at #4863 soon.

[2019-02-18 17:05] gorshunovr commented on #4986
Hello team. Airship project (lives under OpenStack) is affected by this bug. Is there anything I can help with? Thank you.

[2019-02-18 17:22] stsewd opened #5302 "Show configuration used in each build"
Currently is hard to see/debug the actual configuration that was used in each build of docs.

We are saving this data already https://github.com/rtfd/readthedocs.org/pull/4749. Old projects don't have this, but new projects have it :).

I'm guessing we can hold off this till when we have a new UI.

[2019-02-18 17:55] mahmoud opened #5303 "Extra slash in "Edit on GitHub" link"
## Details

* Read the Docs project URL: http://glom.readthedocs.io/
* GitHub URL: https://github.com/mahmoud/glom
* Build URL (if applicable): N/A
* Read the Docs username (if applicable): mahmoud

## Expected Result

"Edit on GitHub" link at the top of the page should link to doc on GitHub.

## Actual Result

"Edit on GitHub" link at the top of the page links to 404. There is an extra slash in t

[2019-02-18 18:02] pevogam commented on #5295
Yes, what I meant was why using the wrong python version is a warning and not an error on the first place (especially on major version change) but it might make sense for most projects out there.

The advised fix worked well, thanks a lot!

[2019-02-18 18:02] #5295 closed

[2019-02-18 18:22] dojutsu-user commented on #5300
Hi @rexzing.
You can use `tox` for running all the tests and to reproduce these warnings.
Docs: https://docs.readthedocs.io/en/latest/tests.html
Also, these warnings can be seen in travis, like in this case: https://travis-ci.org/rtfd/readthedocs.org/jobs/495002436

[2019-02-18 18:33] rexzing commented on #5300
Got it. I am following these steps. Thanks

[2019-02-18 18:41] rexzing commented on #5303
Hi magnunleno,
I don't think it happens because of the extra slash but because of the missing word `blob`. The url should be `https://github.com/mahmoud/glom/blob/master/docs/index.rst`. Isn't it?

[2019-02-18 18:53] stsewd commented on #4001
So, our first step here is modeling.

This is what we or need to agreed:

- Allow us to override the way we match the rules (so we can support exact match, regex, or using https://pypi.org/project/semver/)
- Allow us to give priorities over rules
- Apply the given rule to branches/tags only?

Another thoughts:

- Aliases could only work with exact matches I guess?
- Are we going to re-run this rul

[2019-02-18 18:55] stsewd commented on #4001
I think maybe version aliases are better in the version model? Or match all the versions (not only new ones) with exact matches only?

[2019-02-18 18:59] rexzing opened #5304 "Incompatible dependency for prospector with pylint-django"
When installing `requirements/lint.txt` I got the error `prospector 1.1.6.2 has requirement pylint-django==2.0.2, but you'll have pylint-django 2.0.4 which is incompatible`.

[2019-02-18 19:01] stsewd commented on #5304
Can you please give more details? Where are you seeing this problem? What error is this causing?

[2019-02-18 19:03] rexzing commented on #5304
Sorry for the details I miss-pressed the enter button. I think I can fix this by changing `pylint-django<2.0.5 ` to `pylint-django==2.0.4 `

[2019-02-18 19:03] rexzing commented on #5304
Should I make a PR?

[2019-02-18 19:07] stsewd commented on #5304
Yes, it should be https://github.com/PyCQA/prospector/blob/8bb1970aa31b962291ef0cff4b757a34aa566298/setup.py#L38

[2019-02-18 19:21] stsewd commented on #5303
Can you try updating the rtd-theme? https://github.com/mahmoud/glom/blob/5a10e66c2f1204988f97e6545055bfc5b36e052f/requirements-rtd.txt#L36 Current one is `0.4.3` https://pypi.python.org/pypi/sphinx_rtd_theme

[2019-02-18 19:34] rexzing commented on #5137
I think this issue is fixed and ready to close.

[2019-02-18 19:37] stsewd commented on #5137
Yes, thanks

[2019-02-18 19:37] #5137 closed

[2019-02-18 19:47] mahmoud commented on #5303
@rexzing you're absolutely right!

@stsewd trying this now, thanks!

[2019-02-18 21:27] mahmoud commented on #5303
@stsewd Hmm, no luck I'm afraid. In fact, I see 3 slashes now: `https://github.com/mahmoud/glom///master/docs/index.rst`.

[2019-02-18 21:59] stsewd commented on #5303
Thanks, I'll try to replicate this locally and dig a little more

[2019-02-18 23:41] mahmoud commented on #5303
Whoops, I lied, did stuff on the wrong local branch. Updating the theme got me a working link, with blob, but it does have an extra slash fwiw: `https://github.com/mahmoud/glom//blob/master/docs/index.rst`

It still gets me to GitHub though, so I'm happy enough! :) Thanks for your help!

[2019-02-19 00:28] stsewd commented on #5303
The extra slash is from the repo url, we could strip it, tho

[2019-02-19 00:54] mahmoud commented on #5303
I'll leave it up to you, but I think an rstrip and join of a single slash should yield a nicely normalized URL. :)

[2019-02-19 14:59] doutriaux1 opened #5310 "conda env takes too long to be loaded"
## Details

* Read the Docs project URL: https://readthedocs.org/projects/cdat-vcs

* Build URL (if applicable): https://readthedocs.org/projects/cdat-vcs/builds/8575975/

* Read the Docs username (if applicable): cdoutrix

## Expected Result

*A description of what you wanted to happen*

The doc build takes almost no time but creating the env seem to take so long it times out or something similar

[2019-02-19 15:12] stsewd commented on #5310
Yes, this is a known problem in conda, not much we can do about this from our side. And your conda file looks really heavy https://github.com/CDAT/vcs/blob/master/environment.yml, between more channels conda is slower.

[2019-02-19 15:14] #5303 closed

[2019-02-19 15:58] ericholscher commented on #4001
Feels like v1 here is just building the ability to expose our existing rules to users:

* latest version selection
* stable version selection
* Auto-building the latest tagged version for projects with any tags built (do we still do this?)

I feel like a regex solution is moving a bit farther down the path of building UI/UX for users, without really understanding what they could be used for.

It a

[2019-02-19 16:54] #5304 closed

[2019-02-19 17:02] doutriaux1 commented on #5310
@stsewd I'll tried to minimize channels didn't seem to help much. Somewhere on readthedocs website it says we can get an exemption (or longer build time). Do you know who to contact about it? Thanks.

[2019-02-19 17:08] stsewd commented on #5310
This same issue works, just need to wait for a maintainer.

[2019-02-19 17:20] stsewd commented on #5298
I just built our docs locally with 3.7 and it's working, make sure you updated your requirements, bc we are using sphinx 1.84 now. `pip install -r requirements/local-docs-build.txt`

[2019-02-19 17:20] #5298 closed

[2019-02-19 17:47] stsewd commented on #5254
So, yeah, this is definitely a bug, the page slug for nested dirs is `page/index` while for no-nested pages is just `page`. Not sure if this is a breaking change in sphinx or if this was wrong the whole time, I'll try to check with some previous sphinx versions.

[2019-02-19 18:52] dojutsu-user commented on #5298
@stsewd
I reinstalled my ubuntu again and installed python3.7 again.
Created a virtual environment with it and setup the project.
Now, `make html` is success but I'm still unable to build the docs with RTD.
It fails with this error.

![screenshot from 2019-02-20 00-17-50](https://user-images.githubusercontent.com/29149191/53039345-02a31080-34a5-11e9-8b3c-13cd8d7a2c4c.png)

Log:
[code]

I think thi

[2019-02-19 19:15] stsewd commented on #5298
Oh, runnning the reas the docs instance isn't supported with 3.7 yet, mostly because we need to update celery. #4756

[2019-02-19 19:26] #4986 closed

[2019-02-19 19:41] dojutsu-user commented on #5298
Ohh.. Okay I get it.
Only the python3.7 was needed to install while still running RTD with python3.6
Thanks

[2019-02-19 19:44] medmunds commented on #5254
It's very possible I'm remembering wrong that it worked before.

If RTD's `page_slug` is Sphinx's `docname`, it *does* seem like Sphinx's dirhtml builder has had [special](https://github.com/sphinx-doc/sphinx/blob/master/sphinx/builders/dirhtml.py#L37-L38) [handling](https://github.com/sphinx-doc/sphinx/blob/master/sphinx/builders/dirhtml.py#L43-L45) for `docname.endswith(SEP + 'index')` going [ba

[2019-02-19 19:55] ericholscher commented on #4986
This should now be deployed.

[2019-02-19 21:00] #1410 closed

[2019-02-19 21:00] #3856 closed

[2019-02-19 21:00] #4978 closed

[2019-02-19 21:00] #5114 closed

[2019-02-19 21:41] humitos commented on #5310
Assigning this one to myself to take a look in the following days, hopefully.

[2019-02-19 23:05] mahmoud commented on #5303
@ststewd Thank you!

[2019-02-19 23:11] ianw commented on #4986
Thank you, it seems our jobs are working again

http://zuul.openstack.org/builds?job_name=trigger-readthedocs-webhook

[2019-02-20 01:09] Peque opened #5316 "Missing JavaScript files"
## Details

* Read the Docs project URL: https://bulebule.readthedocs.io/en/sphinxcadquery/building.html
* Build URL (if applicable): https://readthedocs.org/projects/bulebule/builds/8614142/
* Read the Docs username (if applicable): Peque

## Expected Result

`_static/thingiview/xxxx.js` files are accesible/served. When I build the documentation locally, that is the case.

## Actual Result

It se

[2019-02-20 01:19] stsewd commented on #5316
Which version of sphinx are you using locally?

[2019-02-20 01:20] Peque commented on #5316
@stsewd 1.8.4.

[2019-02-20 01:24] Peque commented on #5316
I am essentially using the same Conda environment configuration file that Read the Docs is using:

https://github.com/Bulebots/bulebule/blob/sphinxcadquery/environment.yaml

Read the Docs is then provided with:

https://github.com/Bulebots/bulebule/blob/sphinxcadquery/.readthedocs.yaml

[2019-02-20 03:00] wilsonyou opened #5317 "Custom domain do not work"
## Details
Could you please checkout whether the setup for custom domain is correct?

The following is my domain name set on readthedocs:

![image](https://user-images.githubusercontent.com/40747875/53063201-4bd37e80-34fe-11e9-9ac8-081efe13aa84.png)

The following is the setup on cloudfare:
![image](https://user-images.githubusercontent.com/40747875/53063273-81786780-34fe-11e9-9df3-2eb180886a6c.pn

[2019-02-20 05:21] davidfischer commented on #5317
Firstly, we do not explicitly support a top level naked domain. You would need an A record for that (your first CNAME in the picture would be for bumo.io.bumo.io, BTW) and point to our IP. That will work but we don't explicitly support it in case we want to move our IP address.

Secondly, I'm not seeing those records in DNS. It's possible this is a propagation issue and it will be resolved in time

[2019-02-20 06:35] wilsonyou commented on #5317
@davidfischer

Thank you David.

Now I changed it to as the following figure, does it work?
![image](https://user-images.githubusercontent.com/40747875/53071276-b1cefe80-351c-11e9-8b45-01e11cb97205.png)

[2019-02-20 07:18] agjohnson commented on #4001
`latest` and `stable` is more of a refactor of our logic, and isn't the feature we necessarily want here. It's more of a byproduct once we have automation rules set up, and gives us a place to explicitly state how the project determines `latest` and `stable`.

This feature is more for examining the incoming tag/branches and automatically taking actions based on matches. Actions might be automatica

[2019-02-20 08:07] agjohnson opened #5318 "Add alias support to version automation"
In #4001 we started by adding version automation rules to enable new versions.

In this next phase, we will address the use case of automation of version aliases. Prior to this, we might need to refactor how we are managing version alias, and potentially more widely support alias management in our UI.

Example use cases here are:

* User want to set up aliases for minor versions that point to bugf

[2019-02-20 08:08] agjohnson opened #5319 "Add latest/stable rules to version automation"
Work we started in #4001 and #5318 will be expanded on here. We will refactor latest/stable alias management and make this more explicit to users. Users will be able to manage these aliases and our implicit rules will be surfaced in the UI for user management.

Example of psuedo rule logic we'll support with this:

* On [Most recent commit], [Set alias `latest`]
* On [Most recent tag/branch], [Set

[2019-02-20 08:10] agjohnson commented on #4001
I've updated the description to be more discrete amount of work. I added #5318 to address automating aliases, and #5319 to address refactoring our latest/stable logic. We'll re-evaluate next steps after that, which would be better UX rules.

Also, to clarify previous comments here:

* We are addressing difficulty with automating version by surfacing the exact rules to users. Problems with automati

[2019-02-20 09:27] humitos commented on #5216
Hi @justinmayer, considering the whole background that you linked here, I think there is no need to try to contact @neithere again and wait for 6 weeks. I will add you as mantainer of the `django-autoslug` project on Read the Docs.

You should be maintainer of the project under Read the Docs now.

Let me know if it works and feel free to re-open the issue if you consider.

[2019-02-20 09:27] #5216 closed

[2019-02-20 12:42] humitos opened #5321 "Extend versions' states"
Currently we have `active` and `non-active` versions' states.

[I suggested](https://github.com/rtfd/readthedocs.org/issues/4001#issuecomment-432165843) more states like `inactive` and `deprecated` so they are still being served or shown in the flyout as needed.

I'm creating this issue here to tack this since the #4001 won't cover these new states for now.

[2019-02-20 14:57] stsewd commented on #5321
What would be the difference between "inactiva" and "deprecated"? Or are you talking about one state here? Maybe "hidden" is a better name?

[2019-02-20 16:57] davidfischer commented on #5317
Very odd but I'm still not seeing this DNS record

[2019-02-20 21:03] #4036 closed

[2019-02-20 21:15] slochower opened #5322 "Build error with build id #8621987"
## Details:

* Project URL: https://readthedocs.org/projects/pAPRika/
* Build URL(if applicable): https://readthedocs.org/projects/paprika/builds/8621987/
* Read the Docs username(if applicable): slochower

## Expected Result

Read the Docs uses `.readthedocs.yaml` to install a `conda` environment and build the documentation.

## Actual Result

No documentation builds and the output does not indic

[2019-02-20 21:24] stsewd commented on #5322
Probably timing out in the conda env creation. This is a known problem in conda, between more channels conda is slower.

https://docs.readthedocs.io/en/stable/guides/build-using-too-many-resources.html

[2019-02-20 21:31] humitos commented on #3193
The issue (#4279) that was blocking this one is already closed and #4451 merged. What is the actionable part of this one now?

Reading the getting started guide, seems to be some _fast_ to go live into RTD. I wouldn't go through our YAML file there. Maybe, I'd mention it on a `.. tip::` or "What's next?" section at the bottom.

[2019-02-20 21:31] slochower commented on #5322
Hmm, that could be! I just added a separate environment for Read the Docs that's pretty trim (no external channels) and I'm still getting no output from the build process.

Separate environment: https://github.com/slochower/pAPRika/blob/readthedocs/docs/rtd.yaml
RTD yaml: https://github.com/slochower/pAPRika/blob/readthedocs/.readthedocs.yml
Build output: https://readthedocs.org/projects/paprika/b

[2019-02-20 21:34] stsewd commented on #5322
Can you trying wiping the version first? Admin -> Versions -> Edit -> Wipe

[2019-02-20 21:54] ChoiByungWook opened #5325 "local build is failing due to from sphinx.cmd.build import main ImportError: No module named sphinx.cmd.build"
## Details
I was attempting to emulate the doc build process within RTD, as a preventative test measure for changes made to our project's README.

I was following the process in regards to here: https://docs.readthedocs.io/en/latest/builds.html and reproducing the build steps that have happened within RTD: https://readthedocs.org/projects/sagemaker/builds/8577862/

I pulled down the readthedocs/bu

[2019-02-20 21:59] stsewd commented on #5325
What version of sphinx are you installing? Your docs are running with `Sphinx v1.7.9` in rtd

[2019-02-20 22:02] ChoiByungWook commented on #5325
Oh apologies, the I forgot grep was case sensitive.

/home/docs/checkouts/readthedocs.org/user_builds/sagemaker/envs/v1.18.3.post1/bin/python -m pip list | grep Sphinx
Sphinx                   1.7.9

I'll update the original correspondence above as well.

[2019-02-20 22:10] stsewd commented on #4446
We released our new docker images, can you give it a try now?

[2019-02-20 22:16] stsewd commented on #5260
We only show this button if the repo was imported using the `import from repo` option, if the project was manually imported, or the webhook was deleted and add it again, it doesn't show the `Resync option`.

Probably we can close this in favor of https://github.com/rtfd/readthedocs.org/issues/3932. Or clarify the docs in the meantime.

[2019-02-20 22:22] ChoiByungWook commented on #5325
If I don't use a pyenv I am able to build properly, although I need to modify builder from readthedocs to html.

[2019-02-20 22:29] davidfischer commented on #5316
Looking at the build output, I can see it tried to install sphinxcadquery 0.3.0:

[code]

However, the file on PyPI does not contain those JavaScript files:

[code]

This is probably a problem with the `setup.py` as I can see the problem persists to the latest release 0.5.0. Try creating a [MANIFEST.in](https://docs.python.org/2/distutils/sourcedist.html#manifest-template) and make sure that when

[2019-02-20 22:29] davidfischer commented on #5316
If you're satisfied with this and it works, feel free to close this issue out.

[2019-02-20 22:30] slochower commented on #5322
Wiping doesn't appear to have had any effect.

[2019-02-20 22:35] ChoiByungWook commented on #5325
I think I found the issue.

I am attempting to reproduce each step that RTD runs through bash commands, however all of the RTD commands are executed within Python. I believe removing the python in the last build step, allows for running the build steps that readthedocs runs.

`python /home/docs/checkouts/readthedocs.org/user_builds/sagemaker/envs/v1.18.3.post1/bin/sphinx-build -T -W -b readthedocs

[2019-02-20 22:37] stsewd commented on #5325
I think we modify the python path to have the correct interpreter, and yeah, we are not always explicit about the cwd #4962 .

[2019-02-20 22:38] ChoiByungWook commented on #5325
@stsewd, Awesome. Closing.

[2019-02-20 22:38] #5325 closed

[2019-02-20 22:46] stsewd opened #5327 "Remove unused fiels and methods from core/models"
We are not using these:

https://github.com/rtfd/readthedocs.org/blob/3218c808e87206983c4eb3ce4faceddbcc0f7aa3/readthedocs/core/models.py#L35-L39

https://github.com/rtfd/readthedocs.org/blob/3218c808e87206983c4eb3ce4faceddbcc0f7aa3/readthedocs/core/models.py#L53-L67

And I don't think we are going to use them in the future, if we agreed in the removal, we can mark this as a good first issue.

[2019-02-20 22:59] Peque commented on #5316
@davidfischer I did have the wrong line defined in `package_data`. [It is fixed now](https://github.com/Peque/sphinxcadquery/commit/67a832adaf8d83e5763a91009a60268ac4659f52) and it seems to be working.

Thanks for your help, and really sorry for the noise! :sweat_smile:

[2019-02-20 22:59] #5316 closed

[2019-02-21 00:20] muammar opened #5328 "Command killed due to excessive memory consumption"
## Details

* Read the Docs project URL: https://mlchem.readthedocs.io/en/latest/
* Build URL (if applicable): https://readthedocs.org/projects/mlchem/builds/8623080/
* Read the Docs username (if applicable):
* GitHub: https://github.com/muammar/mlchem/tree/master/docs/

## Expected Result

The documentation created with `moduleindex`.

## Actual Result

No module index and build failing with:

[c

[2019-02-21 03:24] agjohnson commented on #4932
Is there a reason we want to block users with multiple connections? I'd guess that this is probably not a serious problem and we could probably better address this by altering the query in #4818.

[2019-02-21 03:29] stsewd commented on #4932
So, yeah, this isn't a serious problem, but it just feels weird to have two GitHub accounts linked to one rtd account :). We can close this, or wait to have some option from allauth

[2019-02-21 04:39] emceeaich opened #5330 "Make ToC sidebar closeable/collapseable"
## Details

* Read the Docs project URL: Any, but https://bmo.readthedocs.io/en/latest/ is an example

## Expected Result

User should be able to collapse the ToC sidebar

## Actual Result

Unable to collapse ToC sidebar which has been reported to the bugzilla.mozilla.org team as a migraine trigger making this [a potential a11y issue](https://bugzilla.mozilla.org/show_bug.cgi?id=1524434#c3).

[2019-02-21 09:10] Zlopez opened #5331 "Build error #8619059"
## Details

* Read the Docs project URL: https://readthedocs.org/projects/anitya
* Build URL (if applicable): https://readthedocs.org/projects/anitya/builds/8619059/
* Read the Docs username (if applicable):

## Expected Result

Build passed

## Actual Result

Build failed when installing project dependecies
[code]

[2019-02-21 09:16] bersace opened #5332 "mkdocs 0.17 is broken on CPython 3.7"
Hi,

## Details

* Read the Docs project URL: https://ldap2pg.readthedocs.io/en/latest/
* Build URL (if applicable): https://readthedocs.org/projects/ldap2pg/builds/8609860/
* Read the Docs username (if applicable): bersace

## Expected Result

- Choose mkdocs
- Choose CPython-3.x runtime
- trigger build
- docs is properly built

## Actual Result

Build fails with a cryptic `RuntimeError: generato

[2019-02-21 10:13] humitos commented on #5260
Do we have a proposed workaround in the meantime? I'd like to give a solution to @Juanlu001 and other people hitting this problem.

[2019-02-21 10:28] humitos commented on #5080
@MatthieuDartiailh hey! The `atom` namespace should be free. I'm closing the issue. Let me know if anything.

[2019-02-21 10:28] #5080 closed

[2019-02-21 10:48] humitos commented on #5332
Are you able to build the docs locally? At first sight, this doesn't seem to be a problem with Read the Docs itself.

[2019-02-21 10:49] bersace commented on #5332
Hi @humitos, thanks for the reply.

Yes, running mkdocs 0.17 and Python 3.7 locally triggers the bug.

[2019-02-21 10:50] bersace commented on #5332
Good to know there is a better workaround than 2.7 :-)

[2019-02-21 10:56] humitos commented on #5331
This need a little more research since I'm not able to reproduce the problem locally yet.

I saw this error before produced because of a network issue or similar where the zip file was corrupted.

I just triggered `latest` version in your project and it did build.

[2019-02-21 10:58] humitos commented on #5332
Please, use YAMLv2: https://docs.readthedocs.io/en/latest/config-file/v2.html

I'm closing this issue here, but feel free to reopen if you consider.

:100:

[2019-02-21 11:06] bersace commented on #5332
Well, there is multiple workarounds (for ldap2pg, I bin mkdocs in a requirements.txt file), but that would be better if rtd wont fail when you pick mkdocs + cpython3 in configuration. Thats going to be a fair default configuration for many projects now that 2.7 is going EOL.

[2019-02-21 11:09] Zlopez commented on #5331
Thanks
I also tried to build it locally and didn't encountered any issue. If the build is now working I think we can close this issue.
I see that there is still one issue in https://readthedocs.org/projects/anitya/builds/8625660/, but this looks like some missing dependency.

[2019-02-21 11:47] humitos commented on #5332
You are right! We should consider to default to `1.0.4` instead. @davidfischer were you playing with new mkdocs version? do you think we are close to upgrade our default? We could use a feature flag to default to `1.0.4` for new projects and keep `0.17` for old ones.

[2019-02-21 12:21] stsewd commented on #5330
Thanks, this is already tracked in our theme https://github.com/rtfd/sphinx_rtd_theme/issues/336

[2019-02-21 12:21] #5330 closed

[2019-02-21 13:14] MatthieuDartiailh commented on #5080
I was able to add the project. Thanks @humitos.

[2019-02-21 14:24] humitos commented on #5080
You are welcome. Enjoy Read the Docs

[2019-02-21 15:05] MatthieuDartiailh commented on #5080
And now my docs are live ! I really love readthedocs !

[2019-02-21 15:42] stsewd commented on #5328
Those are really heavy dependencies https://github.com/muammar/mlchem/blob/master/docs/requirements.txt. If you don't rely on specific versions, our images have some of this libraries already installed https://docs.readthedocs.io/en/stable/config-file/v2.html#python-system-packages

[2019-02-21 16:00] stsewd commented on #2106
I think we can close this one too.

[2019-02-21 16:00] #2106 closed

[2019-02-21 16:10] kmpaul opened #5334 "Build error with build id #8627546"
## Details:

* Project URL: https://readthedocs.org/projects/mpirical/
* Build URL(if applicable): https://readthedocs.org/projects/mpirical/builds/8627546/
* Read the Docs username(if applicable): kmpaul

## Expected Result

The next step in the build process should be a `conda env create ...` step, but it does not appear to happen.

## Actual Result

Here is the raw output:

[code]

As you can s

[2019-02-21 16:48] davidfischer commented on #5332
We probably have to do the latter. Mkdoc 1.x and 0.17.x are mostly compatible but there are some configuration file changes that can cause build errors. In general, it should be smooth to just use Mkdocs 1.x for new projects.

I strongly suggest that users of mkdocs (and Sphinx for that matter) pin to the major version in their requirements file as @bersace has done. This will make sure that their

[2019-02-21 16:56] muammar commented on #5328
@stsewd thanks for your fast reply. Until now I am not using anything very special so I assume this should work with any pytorch version. I will read the link you posted above and will write back.

[2019-02-21 17:42] muammar commented on #5328
This https://github.com/muammar/mlchem/blob/master/docs/environment.yml and this https://github.com/muammar/mlchem/blob/master/readthedocs.yml fixed it :)

https://mlchem.readthedocs.io/en/latest/py-modindex.html

Thanks for your guidance. I will proceed to close this report.

[2019-02-21 17:42] #5328 closed

[2019-02-21 18:28] stsewd commented on #5238
Another solution is to remove the validations for files from the config module, and wait to blow up in the build process (or do the validation here)

[2019-02-21 18:30] #5331 closed

[2019-02-21 19:27] et304383 opened #5335 "Python Interpreter for doc build is forced to Python 3.7 despite starting in virtualenv with python 3.6"
## Details
This happens trying to trigger a doc build, even for the demo project.  Did this on a fresh install on both Ubuntu 18.04 and Amazon Linux 2.

My Ubuntu script:

[code]

Error:
[code]
## Expected Result

Docs build

## Actual Result

Error on missing Python 3.7

This was not happening a few days ago when I tried this, using the same setup scripts.

[2019-02-21 19:33] stsewd commented on #5335
The docs building is separate from the application. We default to 3.7 in our newest releases. You can use a configuration file to use another python version or change the default settings from readthedocs/settings

[2019-02-21 19:33] #5335 closed

[2019-02-21 20:22] et304383 commented on #5335
Please explain how to do this.  Is this documented?

[2019-02-21 20:33] stsewd commented on #5335
Using a config file https://docs.readthedocs.io/en/stable/config-file/v2.html

Or you can remove 3.7 from settings https://github.com/rtfd/readthedocs.org/blob/ed8dd29a68d009fc08929fabf7155883482619c1/readthedocs/settings/base.py#L292-L294 (because we take the latest version from the latest image)

And we use docker in production

[2019-02-21 20:41] slochower commented on #5322
As far as I can tell, it doesn't look like RTD is building from my conda file. Is there a straightforward way to check this?

[2019-02-21 21:09] davidfischer commented on #5317
There must be some other problem with the setup here. These DNS records are not propagating at all.

Here's some info on using a naked root domain with Cloudflare: https://blog.cloudflare.com/zone-apex-naked-domain-root-domain-cname-supp/

[2019-02-21 21:13] palewire commented on #5261
Looks like it's working now. I don't know why, but I'm happy!

[2019-02-21 21:13] #5261 closed

[2019-02-21 22:36] stsewd commented on #5260
I think there is a confusion with the feature that @Juanlu001 is mentioning

We currently listen to create/delete events to update the versions list of a project. Users still need to activate and trigger a build to new branches. If you want that feature, keep an eye in #4001

[2019-02-21 23:08] bpeake-illuscio commented on #5265
Hey! Just checking back about what the timetable for something like this usually is.

Not trying to add pressure, just want to be able to plan ahead. Thanks so much for looking into it!

[2019-02-21 23:24] stsewd commented on #5265
@agjohnson which would be the max length here?

[2019-02-21 23:43] arthall opened #5337 "Command killed due to excessive memory consumption for Oracle Cloud Infrastructure Python SDK"
## Details

* Read the Docs project URL: https://oracle-cloud-infrastructure-python-sdk.readthedocs.io/en/latest/
* Build URL (if applicable): https://readthedocs.org/projects/oracle-cloud-infrastructure-python-sdk/builds/8630806/
* Read the Docs username (if applicable): arthall

## Expected Result

Project would build without issues.

## Actual Result

Process fails while writing output:
[code]

[2019-02-21 23:46] stsewd commented on #5337
I just saw that @humitos incremented the build time in https://github.com/rtfd/readthedocs.org/issues/4251#issuecomment-405958817, probably your project needs more memory too.

[2019-02-21 23:47] stsewd commented on #5322
I'll try to replicate this locally.

[2019-02-22 00:05] stsewd commented on #5322
Sorry, this looks like a bug from our side. I think a temporal solution is to update your config file to v2 https://docs.readthedocs.io/en/stable/config-file/v2.html#migrating-from-v1

I'll try to fix this now.

[2019-02-22 00:11] stsewd commented on #5334
Hi, sorry about this. Looks like a bug from our side, can you try https://github.com/rtfd/readthedocs.org/issues/5322#issuecomment-466219872. Please subscribe to the other issue.

[2019-02-22 00:11] #5334 closed

[2019-02-22 00:25] slochower commented on #5322
Thanks! Working now with version 2.

[2019-02-22 00:32] stsewd commented on #5322
Reopening till I have a fix for v1 :)

[2019-02-22 00:33] slochower commented on #5322
Okay thanks -- sorry for the quick close.

By the way, I get successful builds but some unexpected errors:

[code]

for some modules. Is this also a problem on your end or should I look for something locally? (We can build on Travis, etc., without problems.)

[2019-02-22 00:34] stsewd commented on #5322
That looks like something else, maybe a dependency from conda.

[2019-02-22 00:51] stsewd commented on #5322
Ok, so, this isn't a _bug_ actually. You were using `conda.environment` with v1, but in v1 this setting is `conda.file` https://docs.readthedocs.io/en/stable/config-file/v1.html#conda-file. We should raise an error tho.

[2019-02-22 00:53] slochower commented on #5322
Ah, sorry about that. Thanks for looking into it.

[2019-02-22 01:20] stsewd commented on #1758
Another sphinx related issue https://github.com/sphinx-doc/sphinx/issues/6089

[2019-02-22 02:53] xylar commented on #4446
I am having what I believe to the the same problem.  Many of the classes that I document in my reference API show up fine when I build my documentation locally but not in ReadTheDocs.  For an example of missing autosummary, see:
https://mpas-analysis.readthedocs.io/en/v1.2/api.html#ocean-tasks

Like @t-makaro, this has been a problem for quite some time, likely ever since I switched to python 3.6

[2019-02-22 03:15] xylar commented on #4446
I apologize, I spoke too soon.  Reverting back to python 3.5 and dropping latest seems to have made no difference for me so I suspect my issue is something else.

[2019-02-22 03:24] xylar commented on #4446
Again, very sorry.  I have found the problem and it is a library dependency, so unrelated.

[2019-02-22 04:49] xylar opened #5339 "environment variables not assigned via conda activate"
## Details

* Read the Docs project URL: https://github.com/MPAS-Dev/MPAS-Analysis
* Build URL (if applicable): https://readthedocs.org/projects/mpas-analysis/builds/8631850/
* Read the Docs username (if applicable): xylar

## Expected Result

`from mpl_toolkits.basemap import Basemap` (`basemap` one of the dependencies of my project) would happen without any errors, allowing autosummary to parse

[2019-02-22 08:08] nukappa commented on #5297
Hi, just wanted to tell you that I solved a similar problem I had by simply adding a `requirements.txt` inside the docs which omits any libraries that need C++ compiling. Maybe that helps. #5257

[2019-02-22 08:08] nukappa commented on #5257
Solved this by adding a `requirements.txt` file inside the docs and omitting any library that needs to be C++ compiled.

[2019-02-22 08:08] #5257 closed

[2019-02-22 08:34] david-cortes commented on #5297
Well, that “solves” the issue for the majority of use cases – same as using `mock` for them – but still:
* If subclassing something from the package that has Cython code, those methods wouldn’t end up being documented.
* There was no problem importing `Cython.Distutils` within dependencies in RTD environement 6 months ago – would be nicer to have it behave like before.

[2019-02-22 10:09] dojutsu-user commented on #5152
@ericholscher
I would like to take this issue up.

[2019-02-22 10:17] dojutsu-user commented on #4590
@humitos
I think this can be closed now.

[2019-02-22 11:32] ericholscher opened #5340 "Be more defensive in how we insert our mkdocs media"
This logic can be executed multiple times on [some builds](https://readthedocs.org/projects/phpspreadsheet/builds/8340376/) (see the `mkdocs.yml`):

https://github.com/rtfd/readthedocs.org/blob/ed8dd29a68d009fc08929fabf7155883482619c1/readthedocs/doc_builder/backends/mkdocs.py#L143-L152

If we have an issue reseting the branch/tag of the docs, we will end up inserting our media files twice, which

[2019-02-22 12:26] et304383 commented on #5335
This seems like a weird state to be in considering you don't support Python 3.7 for running the application (#4756).

Why would you require two versions of Python by default?  That's not a good state to be in for default behaviour.

[2019-02-22 13:49] #5228 closed

[2019-02-22 13:49] #5322 closed

[2019-02-22 14:06] rexzing commented on #5300
Hi guys,
I searched for a solution in past few days. But couldn't find out how to use `request.config` inside the `class CoreTagsTests(TestCase)`.

[2019-02-22 15:47] stsewd commented on #4746
We could warn in each build to a link with the new config or docs as suggested in https://github.com/rtfd/readthedocs.org/pull/5338#pullrequestreview-206764047

[2019-02-22 16:38] stsewd commented on #5339
Thanks, I think I've seen this issue before with other projects, I'll try to figure out how we can support `conda activate` (we don't share env variables between commands I think). Also, we do support setting env variables manually, maybe you can try hardcoding these? https://docs.readthedocs.io/en/stable/guides/environment-variables.html

[2019-02-22 16:42] stsewd commented on #4590
I think we still need https://github.com/rtfd/readthedocs.org/pull/5073 to close this

[2019-02-22 16:43] xylar commented on #5339
Thanks @stsewd, yes, I was able to solve the problem by manually setting `PROJ_LIB` in my `conf.py`.  I think that's okay for now since `basemap` is the only package I'm aware of that uses environment variables from another package.  But I suspect this problem could balloon going forward if more packages decide to use this functionality.  RTD is certainly not the only place where this is causing i

[2019-02-22 16:49] stsewd commented on #3513
As my comment in https://github.com/rtfd/readthedocs.org/issues/3513#issuecomment-452141712 I'm closing this issue.

Also, we are looking further for have aliases for latest and stable :)

[2019-02-22 16:49] #3513 closed

[2019-02-22 19:20] saadmk11 commented on #5340
Can I work on This Issue?
If I understood the problem correctly we need to add conditions for `'extra_javascript'` and `'extra_css'`
to check if the static files already exist in the `user_config` if not then add the files. Please Correct me if I'm Wrong.

[2019-02-22 19:21] humitos commented on #5080
@MatthieuDartiailh it's mutual! Enjoy it!

[2019-02-22 19:36] humitos commented on #5332
This is the way to go, then.

I'm removing design decision from this issue and marking as accepted so we do this.

[2019-02-22 20:42] dojutsu-user commented on #5112
@humitos
I researched on this issue a bit.
We need to take some design decisions on this.
Turns out that these two lines will go through all the requirements mentioned in `INSTALLED_APPS` and will raise an error if the app is not found.
https://github.com/rtfd/readthedocs.org/blob/86bfdffaee2a6a5143f6c7c75af2600817101ce1/docs/conf.py#L18-L19
That's the reason, `make html` command raises `ModuleNot

[2019-02-22 20:45] dojutsu-user commented on #5112
Also, `doc_extensions.py` uses some setting variables from `settings` which are not accessible without `django.setup()`

[2019-02-24 15:46] MilosKozak opened #5347 "Build disabled"
Your project is currently disabled for abuse of the system. Please make sure it isn't using unreasonable amounts of resources or triggering lots of builds in a short amount of time. Please file a ticket to get your project re-enabled.

https://readthedocs.org/projects/androidaps/builds/?page=1

[2019-02-24 16:14] AdrianLxM commented on #5347
The reason probably was, that we had our i10n branch that was integrated with crowdin being set to auto-build with crowdin pushing too many commits. Sorry for that.

I disabled auto-build for that branch.

It would be great if you could re-enable our account. Thanks!

[2019-02-24 16:31] turicas opened #5348 "Request abandoned project: rows"
## Details

* Read the Docs project URL: https://readthedocs.org/projects/rows/
* Build URL (if applicable):
* Read the Docs username (if applicable): turicas

## Expected Result

I'm the creator of [rows](https://pypi.org/project/rows/) Python package (available on PyPI) but another user created a ["test" project called rows on RTD](https://readthedocs.org/projects/rows/). He didn't add any docs

[2019-02-24 19:54] dojutsu-user commented on #3554
This is still valid bot.
I'm working on it.
Will submit a PR soon.

[2019-02-24 20:05] stsewd commented on #2596
This issue looks like https://github.com/rtfd/readthedocs.org/issues/5254, I'm not able to replicate it anymore. I guess we don't use the resolver anymore in the new search.

[2019-02-24 20:37] stevepiercy commented on #1556
Please remove the `status: stale` label.

There is some relevant discussion taking place in #4454 about how to avoid a makefile.

[2019-02-24 21:19] eriklax commented on #5089
Is there anything I can do to proceed with this?

[2019-02-24 21:48] stsewd commented on #5089
Sorry, I'll try to push this a little more next week

[2019-02-24 23:05] geographika opened #5349 "Build error with build id #8647215 - no errors in log"
## Details:

* Project URL: https://readthedocs.org/projects/mappyfile/
* Build URL(if applicable): https://readthedocs.org/projects/mappyfile/builds/8647215/
* Read the Docs username(if applicable): geographika

## Expected Result
A successful build

## Actual Result

The build fails, with very little in the log - it seems to fail at ``git clean -d -f -f``

Tried wiping the build environment, and

[2019-02-25 02:32] stsewd commented on #5349
Probably same as #4371. You don't have this submodules https://github.com/geographika/mappyfile/blob/master/.gitmodules in your repo https://github.com/geographika/mappyfile/tree/master/tests/mapfiles

[2019-02-25 02:34] stsewd commented on #4846
Still valid, maybe a race condition in some part of the code

[2019-02-25 02:36] stsewd commented on #4386
Still valid, but very low priority

[2019-02-25 02:38] stsewd commented on #3279
This can be closed in favor of https://github.com/rtfd/readthedocs.org/issues/5319, but we could still document that people can create a version named `latest` or `stable`

[2019-02-25 04:45] duetosymmetry opened #5350 "Pinning of sphinx version not working"
## Details

* Read the Docs project URL: https://readthedocs.org/projects/qnm/
* Build URL (if applicable): https://readthedocs.org/projects/qnm/builds/8647909/
* Read the Docs username (if applicable): duetosymmetry

## Expected Result

Attempted to pin version of sphinx to >=1.8.4 in `docs/requirements.txt`. This is higher than the version of sphinx that is used by default (1.7.9).

## Actual Re

[2019-02-25 09:51] humitos commented on #3279
Yes. The only actionable thing missing from this issue is the documentation part https://github.com/rtfd/readthedocs.org/issues/3279#issuecomment-435141663

[2019-02-25 09:53] humitos commented on #2596
I'm closing this one since we can't replicate it anymore. Feel free to reopen if you still have this issue.

[2019-02-25 09:53] #2596 closed

[2019-02-25 10:06] geographika commented on #5349
@stsewd - many thanks for the quick reply and solution. Fixing the submodules fixed the builds. I had found the issue previously but forgot the project had submodules..
It looks like reporting the error to the log is only possilble by fixing gitpython as mentioned at https://github.com/gitpython-developers/GitPython/issues/279 ?

[2019-02-25 10:06] #5349 closed

[2019-02-25 10:12] humitos commented on #5350
Hi! Checking the output of your builds, I don't see that `sphinx==1.8.4` is being installed.

It seems that your project is pointing to the `requirements.txt` file from the root of your project and not the one under `docs/` directory.

Pointing to the right reqs file will solve your issue.

[2019-02-25 12:35] shivanshu1234 commented on #2251
Has this issue gone stale? If not, I would like to work on it.

[2019-02-25 12:48] duetosymmetry commented on #5350
Thanks for taking a look @humitos . It is in fact pointing to both, using .readthedocs.yml, like so: https://github.com/duetosymmetry/qnm/blob/master/.readthedocs.yml
You can see pip was called with both requirements files in the build log.

[2019-02-25 13:00] julie-sullivan commented on #2596
thank you!! Yes, it seems to be working now. :)

[2019-02-25 18:56] remram44 opened #5351 "Database RemoreRepository inconsistent data: multiple objects returned at `.get`"
## Details

* Read the Docs project URL: N/A
* Build URL (if applicable): N/A
* Read the Docs username (if applicable): remram

## Expected Result

A list of repositories on https://readthedocs.org/dashboard/import/

## Actual Result

Every time I visit the page, there are no repositories. I can see my name and only one of my organizations on the right (I am actually in 12 organizations).

When I

[2019-02-25 19:42] ericholscher commented on #5347
This has been reenabled. 👍

[2019-02-25 19:42] #5347 closed

[2019-02-25 19:43] ericholscher commented on #5350
Guessing if you switch the order, so you install the docs requirements last, it should work.

[2019-02-25 22:45] stsewd commented on #5351
I'll take a further look later, but maybe it's the same as https://github.com/rtfd/readthedocs.org/issues/4818

[2019-02-25 22:50] stsewd commented on #5350
The current order should work, I guess something in how we call the sphinx command.

[2019-02-25 22:57] stsewd commented on #5349
Yeah, I already have a PR almost accepted in gitpython https://github.com/gitpython-developers/GitPython/issues/279, but looks like tests are failing in their master branch for python 3.7

[2019-02-26 11:18] #5061 closed

[2019-02-26 13:25] SuryaGrandhi opened #5355 "doxygen content exceding theme width"
## Expected Result

Want to display the doxygen API content like this..
https://imgur.com/LEB3jcH

## Actual Result

I am trying it on the local machine.

Here the doxygen content is going out of bounds like below.
https://imgur.com/CqcIWzC

I have tried:
Giving custom css in the **_static** folder.
Adding **css to the class** of the doxygen content.
Tried adding 'body_max_width': '80%' to the **h

[2019-02-26 15:08] stsewd commented on #5355
So, you are seeing this locally and not only on read the docs?

Maybe is worth creating this issue in the theme repo https://github.com/rtfd/sphinx_rtd_theme

[2019-02-26 15:58] stsewd commented on #5350
Found the problem, when `system_packages` is active https://github.com/duetosymmetry/qnm/blob/4c6c19a84fc91ef24871d034d7ea04a8aea8dca7/.readthedocs.yml#L12

It would take precedence over the other sphinx version, not sure why. I don't think that's the way it should work.

[2019-02-26 16:01] dmfigol commented on #4912
I am `poetry` user as well and if I could store all dependencies in `pyproject.toml`, I'd be happy.
I am not sure that it is `poetry` job to change how they build the wheel with PEP517 API - I don't think they should include dev dependencies in the metadata.
Wouldn't it be possible to install `poetry` along with the `pip`, add some flag in `.readthedocs.yml` like `python.poetry_install=true` and t

[2019-02-26 16:12] duetosymmetry commented on #5350
Thanks for tracking down the issue, @stsewd! I didn't want the build process to waste time installing numpy/scipy/etc. Do you recommend that I remove `system_packages`, or wait for a fix to the rtd build code?

[2019-02-26 16:15] stsewd commented on #5350
If you really need to use that sphinx version, probably you can just remove `system_packages`. The only downside is that maybe your build could time out because you are installing those libraries, but not sure, you can give it a try.

I'm still tracking how to fix this.

[2019-02-26 16:58] stsewd commented on #5350
Hmm, looks like a bug from the sphinx release, virtualenv or pip :/, I tried installing `sphinx==1.8.4` inside the docker container, but I was still getting `1.7`, then I tried installing `sphinx==1.8.3` and it was successful installed and updated, updating from 1.8.3 to 1.8.4 worked too.

I'm investigating more, but doesn't look like a rtd bug

[2019-02-26 17:01] arthall commented on #5337
I tried another build today.  https://readthedocs.org/projects/oracle-cloud-infrastructure-python-sdk/builds/8659397/  The process is still being killed.  Are there any recommendations for how to get past this?  We are planning to add new services with the next release which means an increase in the number of rst files.

[2019-02-26 17:02] #5340 closed

[2019-02-26 17:02] duetosymmetry commented on #5350
Thanks for investigating. I turned off system_packages for now and got everything to build as expected. I also had to pin the version of recommonmark (maybe it should be mentioned in the rtd docs alongside the recommendation of pinning the version of sphinx — if the goal is reproducibility, then one should pin the versions of all dependencies used to build the docs)

[2019-02-26 17:13] stsewd commented on #5350
Ok, it's a problem with `sphinx==1.8.4` only, I don't know why this is happening, but pinning to `sphinx==1.8.3` works as expected. Updating from 1.7 to 1.8.4 doesn't work but updating from 1.7 to 1.8.3 does. Closing this issue as isn't a rtd problem.

[2019-02-26 17:13] #5350 closed

[2019-02-26 17:45] stsewd commented on #779
Still valid, bot :)

[2019-02-26 18:19] #3684 closed

[2019-02-26 18:21] saadmk11 commented on #5265
can I work on This?
What Should be the max_length for this Field?
https://github.com/rtfd/readthedocs.org/blob/cca41b7b023f44267f7d5214eafcda33bf3ef7e4/readthedocs/projects/models.py#L1381-L1384

[2019-02-27 00:03] stsewd opened #5358 "Trigger build on default branch when saving a project"
Currently when we save a project form (admin panel),
it triggers a build to latest

https://github.com/rtfd/readthedocs.org/blob/9874b866fea9696fa8495d7b3699f1bf1a3f923d/readthedocs/projects/forms.py#L69-L74

https://github.com/rtfd/readthedocs.org/blob/9874b866fea9696fa8495d7b3699f1bf1a3f923d/readthedocs/core/utils/__init__.py#L97-L98

Even if latest is deactivated, we should trigger a build to t

[2019-02-27 00:19] dojutsu-user commented on #5358
@stsewd
I'm working on it.

[2019-02-27 00:59] stsewd opened #5359 "Don't include searchbox in singlehtml builds"
Search isn't supported in this kind of builders (search.html isn't included).

Building locally doesn't show the search box, but on rtd it's shown, because our builder is named `readthedocssinglehtml`

Themes check only for https://github.com/rtfd/sphinx_rtd_theme/blob/8c31a26a79702a0ffbb2ee153d4bb054d58087ac/sphinx_rtd_theme/searchbox.html#L1-L1

Should we patch the theme? (problem will still pre

[2019-02-27 01:07] stsewd commented on #2637
Actually search shouldn't be shown here, we provide singlethml versions of the docs to download. See https://github.com/rtfd/readthedocs.org/issues/5359. But this is still relevant because we are including links to online resources

Like https://github.com/rtfd/readthedocs.org/issues/2637#issuecomment-394024089

[2019-02-27 01:17] caravansary83 opened #5360 "RTD built succesfully but documentation not updated"
## Details

* Read the Docs project URL: https://jupiter.readthedocs.io/en/latest/
* Build URL (if applicable):
* Read the Docs username (if applicable):

## Expected Result

*A description of what you wanted to happen*
The build was successful and the documentation at https://jupiter.readthedocs.io/en/latest/ should be updated.

## Actual Result

*A description of what actually happened*

The bui

[2019-02-27 07:15] SuryaGrandhi commented on #5355
Thanks @stsewd. I will look into that.

[2019-02-27 07:25] veer11997 commented on #4462
i want to contribute..... on it.

[2019-02-27 09:31] humitos commented on #5350
I don't think so. The libraries that we install at system level are now compiled by default and do not take too much time to get installed. In fact, I think we should deprecate the `system_package` option and remove those libs from the Docker image: https://github.com/rtfd/readthedocs-docker-images/issues/90

[2019-02-27 10:05] humitos commented on #5360
Hi! Can you provide more information about what is the specific commit that was built and what's one of the differences that we should be able to notice on the docs? Otherwise, it's hard to guess and prone to make mistakes.

[2019-02-27 11:45] humitos commented on #5310
I jumped into this today but I found that your build is failing because a package is not found: https://readthedocs.org/projects/cdat-vcs/builds/8665155/

Although, I put your project into a queue with more resources. Use this power accordly ;)

Feel free to reopen the issue if it still does not build properly. Also, I'd appreciate an update here if it does work.

[2019-02-27 11:45] #5310 closed

[2019-02-27 11:49] humitos commented on #5348
I sent this email today.

/remind me to mark `rows` project abandoned in 6 weeks if no reply for the `toguko`

[2019-02-27 11:53] humitos commented on #5089
Hi! I sent the email today following our policy (http://docs.readthedocs.io/en/latest/abandoned-projects.html). I will come back in 6 weeks if no reply from the user.

/remind me to transfer ownership on `halonctl` project in 6 weeks.

[2019-02-27 12:30] humitos commented on #5089
@eriklax the maintainer replied to me and gave me permissions to give you permissions :)

Enjoy Read the Docs!

Let me know if anything.

[2019-02-27 13:12] #4886 closed

[2019-02-27 13:36] doutriaux1 commented on #5310
@humitos thank you so much, will be using this power VERY carefully! I appreciate this!

[2019-02-27 13:38] #4767 closed

[2019-02-27 14:01] ericholscher commented on #5270
This is using the ES [Simple String Query](https://www.elastic.co/guide/en/elasticsearch/reference/current/query-dsl-simple-query-string-query.html) -- but it has almost no documentation on how it works. Quoting the search does result in a smaller set of results than not quoting, but I don't fully understand what is happening.

[2019-02-27 14:03] ericholscher commented on #5270
I believe it's saying "all these words must be present on the page", but not all those words are showing up in the query results, but they are indeed all _on_ the page.

[2019-02-27 14:08] ericholscher commented on #5270
You can see the results better on site search: http://localhost:8000/search/?q=%22custom+domains%22&type=file&version=latest&project=docs

[2019-02-27 14:10] ericholscher commented on #5270
Looks like a known issue: https://www.elastic.co/guide/en/elasticsearch/reference/current/search-request-highlighting.html

[2019-02-27 14:31] doutriaux1 commented on #5310
@humitos it still seems to take too long. see: https://readthedocs.org/projects/cdat-vcs/builds/8666237/
At this point I'm not sure what to do... Can we manually upload the documentation?

[2019-02-27 18:19] humitos commented on #5310
It's not a problem of time consumed, but memory.

247 exit code is a problem known for conda devs (there are some history on RTD issues about this --you can do a search on the issues).

I'm not sure if there are anything else we can do from Read the Docs.

Are you able to build your docs locally? Can you measure how much memory and time it takes? People from conda has shared this with us in the pa

[2019-02-27 18:21] doutriaux1 commented on #5310
Thanks I will look into this! I appreciate the feedbacks.

[2019-02-27 18:33] stsewd opened #5364 "Save relative paths from the config module"
We currently are saving the whole path, including the root of the servers, that info isn't useful for us or for the user later. We will not lose any kind of information, because we already have the base path to validate files. This shouldn't be a big refactor, and we have a lot of tests.

Ref https://github.com/rtfd/readthedocs.org/pull/4863#discussion_r260421353

[2019-02-27 19:05] humitos opened #5365 "Sitemap assumes that all versions are translated"
When the project has a translation, URLs for _all the versions_ from the original one are generated and this is not true in most of the cases.

Example,

    http http://docs.python-requests.org/sitemap.xml

`latest` is the only one translated for `es`. So, the rest of alternate rel link should not be shown in the `sitemap.xml` file.

At this point we need to check that the version of the translat

[2019-02-27 19:09] humitos commented on #5364
I saw that we are using absolute path in other places, not just in this config module. For example, on the build output page --which generate to scroll horizontally to know the command executed.

Do you think it worth to consider to user relative path in other places also? What are your thoughts on this?

[2019-02-27 19:16] stsewd commented on #5364
Yeah, when I refactored the code, I tried to put most of the commands with relative paths (like requirements, conda env, etc).

We still depend on absolute urls to set the cache to pip, virtualenv root, python binnary.

We can remove some of those using env variable, after all, isn't helpfull at all for the user to know where we are saving the cache/virtualenv. This is another issue, not in the sc

[2019-02-27 19:56] caravansary83 commented on #5360
Hello, the specific commit is https://github.com/ANRGUSC/Jupiter/commit/2a9c3068932373d4909663c12997e7566bba69ad

[2019-02-27 20:46] aswinshenoy commented on #2759
I wish to work this issue @agjohnson, is this still open?
Regards

[2019-02-27 22:37] stsewd opened #5368 "Search isn't indexing the index page of nested pages in htmldir builder"
You can test with this project

https://anymail.readthedocs.io/en/latest/search/?q=Sending+email&check_keywords=yes&area=default

There aren't results from this page https://anymail.readthedocs.io/en/latest/sending/

This is kind of related to the doctype that we want to remove https://github.com/rtfd/readthedocs.org/issues/4638 and kind of the same as https://github.com/rtfd/readthedocs.org/issue

[2019-02-27 22:38] davidfischer commented on #5360
Looking at the generated docs (eg. [this](https://jupiter.readthedocs.io/en/latest/Jdeploy.html)), those changes are definitely present and there hasn't been a [build](https://readthedocs.org/projects/jupiter/builds/) since 10 minutes before this issue was opened.

[2019-02-27 22:39] stsewd commented on #5360
I'm guessing browser or ISP cache issue, you can try cleaning the cache and see if that fixed it.

[2019-02-27 22:44] ericholscher commented on #5368
Hrm, I thought we fixed this here: https://github.com/rtfd/readthedocs.org/blob/e4966e51a521a5cae44842aa87bb870f59b13b36/readthedocs/projects/models.py#L1149-L1159

[2019-02-27 22:46] stsewd commented on #5368
We shouldn't use doctype anymore :).

I think `basename` is `sending` only, that's why.

[2019-02-27 22:50] ericholscher commented on #5368
How do you figure out if you should check for an HTMLDir path without doctype? I guess we could just try both, but that feels like it would lead to other bugs.

[2019-02-27 22:57] stsewd commented on #5368
That's what I want I figure out now. If there isn't a clean way, we have the doctype from the config module in the database (old projects don't have this, but we could create a migration).

[2019-02-27 23:01] ericholscher commented on #5368
Seems like this should work?
[code]

[2019-02-27 23:02] ericholscher commented on #5368
Oh, the filename is `/home/docs/checkouts/readthedocs.org/media/json/anymail/latest/sending/index.fjson` -- that's the issue.

[2019-02-27 23:04] ericholscher commented on #5368
Seems like the logic is broken, and without it it would work 😢

[2019-02-27 23:10] ericholscher commented on #5368
Seems like this logic works for everything except the index file... There's some weird edge case here:
[code]

[2019-02-27 23:11] stsewd commented on #5368
Yeah, index is the only one affected.

[2019-02-27 23:12] ericholscher commented on #5368
It's because `sending.rst` or `sending/index.rst` both lead to the same file :/

[2019-02-27 23:14] stsewd commented on #5368
There isn't a `sending.rst` file, just `sending/index.rst` https://github.com/anymail/django-anymail/blob/master/docs/sending/index.rst

[2019-02-27 23:15] ericholscher commented on #5368
Right, but both files could lead to the same output file, so there's no way to know which it came from :/

[2019-02-27 23:59] caravansary83 commented on #5360
Those changes finally showed up. Thank you so much for all your reply!

[2019-02-28 00:07] stsewd commented on #5360
Glad it works, closing.

[2019-02-28 00:07] #5360 closed

[2019-02-28 00:17] #5368 closed

[2019-02-28 02:24] pkdaidong55 opened #5372 "Build error with build id #8616020"
## Details:

* Project URL: https://readthedocs.org/projects/Chi phí phá thai 2 tuần tuổi/
* Build URL(if applicable): https://readthedocs.org/projects/chi-phi-pha-thai-2-tuan-tuoi/builds/8616020/
* Read the Docs username(if applicable): suckhoedaidong

## Expected Result

*A description of what you wanted to happen*

## Actual Result

*A description of what actually happened*

[2019-02-28 02:30] stsewd commented on #5372
The repository url isn't valid. It's pointing to https://github.com/pkdaidong55/suckhoedaidong/issues/14/ instead of https://github.com/pkdaidong55/suckhoedaidong/

[2019-02-28 02:30] #5372 closed

[2019-02-28 09:35] SuryaGrandhi commented on #5355
Hi, @stsewd I have also tried the same on readthedocs server. It was not working. Moreover I have seen the repos for which it is working as required.

Checked Conf.py and Doxyfile. Do we need to check any other details. Please suggest.

[2019-02-28 12:32] kulichechka opened #5373 "path problem, wrong images displayed"
## Details
Two of our guideline artlicles are displayed on readthedocs with wrong screenshots. On github everything is ok and the path is correct but when displayed on readthedocs the screenshots seem to be taken from wrong catalog and mixed. Please see the details below:

* Read the Docs project URL: https://wiki.edi-n.com/ru/latest/services/EDIN_DOCflow/edin_docflow/instruktsia-biznes-administra

[2019-02-28 14:58] stsewd commented on #5355
Sorry, no. I still think this is a problem with the theme https://github.com/rtfd/sphinx_rtd_theme/issues/731 or with something else, not from read the docs (since it can be replicated locally).

[2019-02-28 18:00] humitos commented on #5227
I have some ideas about this, for example:

1. write a management command to use internally
1. it "auto detects" SPAM projects that are already in the database
1. show N projects to the user (where N is a reasonable number to review. Let's say ~25)
1. ask the users to specify which one are spam (like `1-5, 15, 20-25`)
1. save spam data into a different model (`SpamProject`) to keep training our mo

[2019-02-28 21:04] saadmk11 commented on #3708
Can I Work on This Issue?

[2019-02-28 22:53] stsewd commented on #557
This is already implemented https://github.com/rtfd/readthedocs.org/pull/5122

[2019-02-28 22:53] #557 closed

[2019-03-01 01:15] stsewd commented on #5373
I can see the same images as the repo

https://github.com/EDI-N/Docs/blob/master/docs/source/services/EDIN_DOCflow/edin_docflow/instruktsia-administratora-polzovatelei.rst

https://github.com/EDI-N/Docs/blob/master/docs/source/services/EDIN_DOCflow/edin_docflow/instruktsia-biznes-administratora.rst

[2019-03-01 01:23] stsewd commented on #1534
We don't have much logic now I believe, most of the stuff is metadata from the build/rtd to feed the theme and the extension.

Closing now, feel free to reopen if you consider.

[2019-03-01 01:23] #1534 closed

[2019-03-01 01:25] stsewd commented on #1440
There are still some design decisions here, we were talking about this. And isn't clear how this would affect the commercial site, where we use slugs in a different way.

[2019-03-01 01:27] stsewd commented on #1375
This would be useful if we save the one checkout in one server/location, right now we have several builders and it wouldn't make much difference if we save one checkout per builder.

[2019-03-01 01:33] ReshmaPD commented on #5327
Hello @stsewd,
do we just delete these specific lines and send a PR?

[2019-03-01 01:38] stsewd commented on #3500
We can close this in favor of https://github.com/rtfd/readthedocs.org/issues/2971. After that you can use that together with https://github.com/rtfd/sphinx_rtd_theme/blob/ddfdd35e6977f21fb1771734732756b0cf1d6bba/sphinx_rtd_theme/breadcrumbs.html#L59

[2019-03-01 01:38] #3500 closed

[2019-03-01 01:42] stsewd commented on #5327
Yes, and any other code related to these lines. Also, you can check that all tests are passing after that. And I think you'll need to generate a migration file.

[2019-03-01 01:50] stsewd commented on #4687
@ericholscher Is this still valid with the new search?

[2019-03-01 01:53] stsewd commented on #4962
This is also helps to show the relative path more explicitly, right now the full path is hidden in the `cwd` of the command (not  visible from the build page). I mean, currently we show the relative path to the `conf.py` file instead of the repo root.

[2019-03-01 01:54] stsewd commented on #4914
This isn't blocker anymore, but we still need to figure out a clean way of implementing this.

And I'm not really sure adding that logic is worth it, we should just keep the current message.

[2019-03-01 06:40] kulichechka commented on #5373
@stsewd thank you for dealing with the issue. I don't know how it happened but the screenshots are ok now.

[2019-03-01 06:51] stsewd commented on #5373
Probably something with the browser cache. Closing.

[2019-03-01 06:51] #5373 closed

[2019-03-01 11:47] SuryaGrandhi commented on #5355
Okay then. Let us see if anyone can help out. Else we can close it.

Thanks.

[2019-03-01 12:05] ericholscher commented on #4687
Yea, I believe we removed the workaround. There is still another issue with counting in #5235, but we can close this.

[2019-03-01 12:05] #4687 closed

[2019-03-01 14:50] rshrc commented on #4343
![screenshot from 2019-03-01 19-59-05](https://user-images.githubusercontent.com/28453217/53645698-77bdd500-3c5f-11e9-8c75-eccb13301e48.png)

So this is already done?

[2019-03-01 18:48] dojutsu-user commented on #5358
@stsewd
Does the build needs to trigger build for both the `default_branch` and `latest` branch ?

[2019-03-01 18:50] Blendify commented on #5355
Let's use the [rtfd/sphinx_rtd_theme#731](https://github.com/rtfd/sphinx_rtd_theme/issues/731) to continue this discussion.

[2019-03-01 18:50] #5355 closed

[2019-03-02 00:14] muammar opened #5384 "Segmentation fault (core dumped) when reading sources..."
## Details

* Read the Docs project URL: https://readthedocs.org/projects/mlchem/
* Build URL (if applicable): https://readthedocs.org/api/v2/build/8685923.txt
* Read the Docs username (if applicable):

## Expected Result

New documentation generated.

## Actual Result

[code]
I read related reports but I have no idea how to solve this. Any suggestion would be greatly appreciated. Thanks.

[2019-03-02 00:19] BenMusch opened #5385 "[development] Error when running loaddata: no such table: projects_project__old"
Running into some issues when setting up the application locally. I'm running:

- macOS 10.14 (18A391)
- python 3.7.2
- sqlite3 2.6.0

After installing dependencies and migrating the database, I get this error when running `python manage.py loaddata`:

[code]

I've done some digging, and it seems _potentially_ related to [this issue with django](https://code.djangoproject.com/ticket/29182). Howeve

[2019-03-02 00:38] stsewd commented on #5385
Like you mention, this is a bug in django not from read the docs. You need to downgrade your sqlite version. I'm using this in fedora 29 `dnf install sqlite-3.24.0-2.fc29.x86_64`

[2019-03-02 00:38] #5385 closed

[2019-03-02 00:42] BenMusch commented on #5385
@stsewd Do you know off-hand of any workaround people are using on Mac OS? My system sqlite version is 3.22, but python ships with 3.26 and I can't find any method to change that version on Mac

[2019-03-02 10:19] Mike-Dai commented on #5101
@humitos  Can I work on this issue?

[2019-03-03 00:04] chrisjsewell opened #5387 "New builds crashing at conda environment.yml install phase"
## Details

* Read the Docs project URL: https://ipypublish.readthedocs.io
* Build URL (if applicable): https://readthedocs.org/projects/ipypublish/builds/?page=1
* Read the Docs username (if applicable): cjsewell

## Expected Result

Successful install of Conda dependencies from environment.yaml

## Actual Result

All builds from the last few days fail with:

[code]

There has been on change in t

[2019-03-03 00:25] stsewd commented on #5387
Looks like a missing dependency

[2019-03-03 00:28] chrisjsewell commented on #5387
@stsewd thanks for the quick reply.

That is only in the most recent [Build #8690163](https://readthedocs.org/projects/ipypublish/builds/8690163/) (just created),
where I try using `system_packages: true` for the `matplotlib`  and `pandas` dependencies.
Am I writing the configuration file wrong?

[code]

[2019-03-03 00:37] stsewd commented on #5387
Maybe they are interfering from the packages in the docker image, can you remove the `system_packages` option (default is false and looks like you don't need that option)?

[2019-03-03 01:13] chrisjsewell commented on #5387
ok fixed by moving all but the non-python (pandoc) dependency to an extras_requirement:

.readthedocs.yml:

[code]

docs/environment.yaml:

[code]

Two things I noted are:

1. Despite setting the python version in the .readthedocs.yml,
    it still builds a python 3.7 environment, unless I set python in the environment.yaml
2. In [Build #8690254](https://readthedocs.org/projects/ipypublish/builds/

[2019-03-03 01:19] chrisjsewell commented on #5387
and obviously, in the future, it might cut down on issues like this being raised, if there was a better error message. But I'll leave that up to you guys :)

[2019-03-03 01:19] #5387 closed

[2019-03-03 01:24] stsewd commented on #5387
it still builds a python 3.7 environment, unless I set python in the environment.yaml
(see Build #8690221)

Conda is in charge of managing the python version when using conda. We can add a note about this in the docs.

I again tried to use system_packages: true (instead of pip installing matplotlib),
but again, it did not find it. Perhaps that mechanism is broken?

oh, now I get it, that option on

[2019-03-03 01:29] chrisjsewell commented on #5387
Ah, I see, no problem. Yeh just a few extra notes in the documentation would be good,
and a warning that RTD can't handle building too big conda environments

[2019-03-03 01:33] chrisjsewell commented on #5387
Actually I see now, there is already documentation to this effect: https://docs.readthedocs.io/en/latest/guides/build-using-too-many-resources.html#use-pip-when-possible,
I was just too lazy to read the full instructions lol

[2019-03-03 03:09] t-makaro commented on #4446
I tested the new 4.0 image and it works fine. What's strange is that I then decided to try to use the 3.0 image and it worked too! I ended up using:

[code]
for my ```.readthedocs.yml```.

I can now build my docs with python 3.6 on rtd, so I'm closing as fixed.

[2019-03-03 03:09] #4446 closed

[2019-03-03 03:17] stsewd opened #5388 "Add note about the constrains of using conda"
We should mention the restrictions of using conda, a better approach would be to raise an exception in the validation process, but that would break some projects, so that's not possible now.

Constraints:

- The virtual environment creation in managed by conda
- So, `syste_packages` does't have any effect
- The python version doesn't have any effect, that's managed by conda
- We don't install requ

[2019-03-03 05:18] Mike-Dai commented on #5388
Can I work on this issue?

[2019-03-03 10:18] humitos commented on #5388
@Mike-Dai hi! I think the actions for this issue are not well defined yet. Although, if you want, you can start with a proposal of how to do it and what to change and where (considering the context that Santos wrote in the description)

[2019-03-03 12:54] pawamoy commented on #4912
I'm trying this again for [aria2p](https://github.com/pawamoy/aria2p).

Here is my RTD config:

[code]

Previously, I had my own `aria2p` package in this requirement file to make it work:

[code]

It means that the docs were built using the latest available release, not the local fetched code.

Today I changed it to `.`, to use the local code:

[code]

It seems to work perfectly in a Docker contai

[2019-03-03 13:08] pawamoy commented on #4912
Funny, I checked the box, rebuilt (failed), unchecked it again, rebuilt, and it completed!

It completed without `pip_install: true` in the config, and with `.` in `docs/requirements`. Then I tried again with the opposite: **with** `pip_install: true`, and **without** `.`: failed.

Forced-push back the previous config, which worked: failed.

Tried the check-uncheck trick, failed, failed.

I am los

[2019-03-03 13:17] humitos commented on #5101
@Mike-Dai Yes. Go ahead.

[2019-03-03 13:18] humitos commented on #5358
@dojutsu-user I think it should trigger just the `default_branch` without `latest`.

[2019-03-03 13:19] humitos commented on #5384
@muammar Hi! Are you able to build your docs project locally?

[2019-03-03 13:29] pawamoy commented on #4912
One thing that could help debugging these kind of issues would be the ability to see the config used for the current build: the `readthedocs.yml` if any, and the settings from Admin:Settings and Admin:Advanced Settings.

To summarize, here are the things I tried:
- use a requirements.txt file for the docs, add your package in it: `my-package>=0.1.0`. It won't use the latest code, but the latest *r

[2019-03-03 16:04] stsewd commented on #4912
Yes, you can wipe the environment before triggering a new build https://docs.readthedocs.io/en/stable/guides/wipe-environment.html

[2019-03-03 16:58] pawamoy commented on #4912
Yes! That did the trick, thank you :heart: Will edit my comments above

[2019-03-03 19:22] #5258 closed

[2019-03-03 19:46] muammar commented on #5384
@humitos thanks for your reply. Yes, it does:

[code]

[2019-03-03 23:59] toguko commented on #5348
6 weeks, to much time :)

I receive an e-mail from Read the Docs asking to "give him permissions to be able to manage that project documentation under the Read the Docs platform so they can keep it updated"

I replied saying the I don't want to give permission, I want to give the ownership to you guys.
I was just testing the "rows" and learning how to use the Read the Docs properly when I created

[2019-03-04 02:30] Mike-Dai commented on #5388
@stsewd  @humitos
Here is my proposal:
1.In `docs/config-file/v2.rst`, add a warning below `python.system_packages`, which says "If you install your project with conda, you should not set the value to `True`. Because the virtual environment creation in managed by conda. So, `syste_packages` does't have any effect."
2.In the same file, add a note below `python.verison` part, which says: "If you use

[2019-03-04 06:24] anvithks commented on #4466
@wilsonyou how did you manage to get this working?

[2019-03-04 08:35] humitos commented on #5348
@toguko hi! Thanks for replying. To give permissions to @turicas you have to log in into Read the Docs, and go to your project's admin page: https://readthedocs.org/dashboard/rows/users/ and add `turicas`. Thanks!

[2019-03-04 09:27] humitos opened #5390 ""Default branch: latest" does not exist"
* Read the Docs project: https://readthedocs.org/projects/test-builds/

Going to `Advanced settings` the `Default branch` selector shows `latest` as an option. I think this is invalid since the repo has no `latest` branch: https://github.com/rtfd/test-builds/branches/all?utf8=%E2%9C%93&query=latest

In this particular project seems that this is not a real problem, since the build that was triggere

[2019-03-04 09:34] humitos commented on #5267
@lpsinger this is done! Enjoy Read the Docs.

Let me know if this works as you expected. Thanks!

[2019-03-04 09:34] #5267 closed

[2019-03-04 09:47] humitos commented on #4942
The build fails when installing `torch` that it's `~600Mb`. I'm not sure what `pip` is doing there, but I had to double the memory set by default.

[code]

Elektronn3 is building now. This is the last build that I triggered: https://readthedocs.org/projects/elektronn3/builds/8695023/

Let me know if anything.

[2019-03-04 09:47] #4942 closed

[2019-03-04 10:03] humitos commented on #3708
@saadmk11 I'd double check with @agjohnson or @ericholscher that my proposal is what we want before start working on it. I'm pinging them here looking for the :+1: of one of them.

[2019-03-04 10:08] humitos opened #5391 "Generate a sitemap index"
We already are generating `sitemap.xml` for all projects by default. Although, we don't consider any `sitemap.xml` generated by Sphinx at all.

This issue is the continuation of #557 and this [specific comment](https://github.com/rtfd/readthedocs.org/issues/557#issuecomment-431102109) about creating a global sitemap index at root pointing to the ones that are in subpaths.

[2019-03-04 10:12] humitos commented on #1440
For now, this will keep being handled by specific requests and the user won't be able to change the slug by themselves until we make some decisions about it.

[2019-03-04 10:14] humitos commented on #1375
We are talking about having volatile servers in the middle term because different reasons (disk costs, reproducibility, etc), so I think this issue is not valid anymore. I'm closing it here.

[2019-03-04 10:14] #1375 closed

[2019-03-04 10:31] humitos commented on #5108
@stsewd did you tested that the json gets the proper value on it? It should match the image used to execute the commands to the one saved in the json file.

[2019-03-04 10:39] dojutsu-user opened #5392 "Search result page must not contain "Edit on GitHub" Link."
"Edit on GitHub" link (top right corner) must not be present on Search results page. Also it leads to 404 pages.

![screenshot from 2019-03-04 16-06-22](https://user-images.githubusercontent.com/29149191/53728014-a4f4c800-3e97-11e9-8711-e852172e1adf.png)

[2019-03-04 11:34] saadmk11 commented on #3708
Okay Sure.

[2019-03-04 14:05] Mike-Dai commented on #5388
Should I open a PR or wait for more discussion? Please let me know if any changes required.

[2019-03-04 15:27] stsewd commented on #5392
I think we can fix this from the theme https://github.com/rtfd/sphinx_rtd_theme/blob/master/sphinx_rtd_theme/search.html https://github.com/rtfd/sphinx_rtd_theme/blob/master/sphinx_rtd_theme/layout.html

[2019-03-04 15:32] toguko commented on #5348
Done, turicas added as maintainer.

On Mon, Mar 4, 2019, 3:35 AM Manuel Kaufmann <notifications@github.com>
wrote:

[2019-03-04 15:57] humitos commented on #5348
Thanks @toguko! I'm closing this issue.

@turicas you should be able to manage the project now.

[2019-03-04 15:57] #5348 closed

[2019-03-04 16:11] stsewd opened #5394 "Refactor Integration models to use `django-polymorphic`"
We are using a custom solution for that right now, we can migrate to `django-polymorphic` as https://github.com/rtfd/readthedocs.org/pull/5323.

Migration guide https://django-polymorphic.readthedocs.io/en/stable/migrating.html

Raised in https://github.com/rtfd/readthedocs.org/pull/5324#issuecomment-467546317

[2019-03-04 18:40] saadmk11 commented on #5390
@humitos I went Through the Code for this. it seems like we are creating a duplicate version for `LATEST` an `STABLE`

![screenshot from 2019-03-05 00-34-44](https://user-images.githubusercontent.com/24854406/53754601-a0073700-3ede-11e9-9591-baf3bbf47efe.png)

and in the forms we are showing all the `Versions` as the `default_branch` choices
https://github.com/rtfd/readthedocs.org/blob/c428dd33699

[2019-03-04 18:47] stsewd commented on #5390
The project has a `latest` version https://readthedocs.org/projects/test-builds/versions/, it points to master. That version we create automatically.

[2019-03-04 18:54] stsewd commented on #5390
I think the related issue is because of https://github.com/rtfd/readthedocs.org/issues/5358

[2019-03-04 21:38] dojutsu-user commented on #3784
@ericholscher @agjohnson

What is the meaning of this line. I believe that 'Collections` is specific to a user and not specific to a project. Like there might be a user with zero projects built in RTD but may have one or more collections.

I have some loose ideas about features of collections:
1. Multiple Collection - A user can have multiple collections and not just one.
2. Name and Description -

[2019-03-04 23:43] tweep opened #5397 "readthedocs.org "Search all docs" endpoint forwards to incorrect link (.html missing)"
## Details

Hi there,
I got some trouble regarding the Readthedocs search on your website.

* Read the Docs project URL: N/A
* Build URL (if applicable): 3.13.3 ( web version )
* Read the Docs username (if applicable): N/A

## How to reproduce

- visit https://readthedocs.org/
- scroll down to "Search all docs"
- enter a search phrase in the box. I use :    "RNA-Seq homepage displays"
- click on "

[2019-03-05 10:11] Mike-Dai commented on #5392
Does anyone work on this issue? If not, I'd like to take this issue.

[2019-03-05 14:45] #5101 closed

[2019-03-05 15:55] rshrc commented on #5392
@stsewd https://github.com/rshrc/sphinx_rtd_theme/blob/master/sphinx_rtd_theme/breadcrumbs.html
maybe, it is here, I think.
`
{% if check_meta and 'github_url' in meta %}
{% set display_github = True %}
{% endif %}
`

[2019-03-05 16:43] humitos commented on #5260
@stsewd oh, I think you are right.

@Juanlu001 the new feature regarding how we handle webhooks on Read the Docs was about "detecting that a new branch/tag was added into the repo and create a Version for it" (not activated --which won't build by default, though). Can you confirm that the new branch created in the repo was automatically detected and added as a version on RTD?

[2019-03-05 16:52] FRCTeam5902 opened #5399 "Unable to Login with OAuth"
## Details

We are trying to connect our GitHub and Read the Docs account. It's showing a dimmed out connect button. Successfully did it with one GitHub account (personal) but now trying to do it with our robotics team account and it's not allowing us to click authorize.

## Expected Result

Authorize GitHub account on Read the Docs.

## Actual Result

Authorization button is dimmed out and not ab

[2019-03-05 17:03] stsewd commented on #5399
Are you saying trying to connect two github accounts to the same rtd project? I have never tried that, maybe it's not possible? (https://github.com/rtfd/readthedocs.org/issues/4932)

[2019-03-05 17:29] stsewd commented on #4001
Another action suggested by @humitos is set default version, also maybe set default branch too?

[2019-03-05 17:30] stsewd commented on #4001
Actually set default branch is covered by https://github.com/rtfd/readthedocs.org/issues/5319

[2019-03-05 17:32] Juanlu001 commented on #5260
If I recall correctly, the new branch didn't create a new version, although it eventually did when I pushed more commits to it.

If I understand correctly there's some progress in https://github.com/rtfd/readthedocs.org/issues/4001 by @stsewd, so let's revisit this when I branch my project again. If you don't want to keep an issue open until July, let's close it and I will comment here if I have f

[2019-03-05 18:40] stsewd commented on #5397
This also happens in the internal search https://readthedocs.org/projects/docs/search/?q=docs. I'm investigating. Probably related to some new changes in #5230

The search in the project itself isn't affected.

[2019-03-05 19:07] stsewd commented on #5397
The problem is here

https://github.com/rtfd/readthedocs.org/blob/0917fbd925998086c958f642d6564de88b142d1b/readthedocs/core/templatetags/core_tags.py#L39-L43

So, related to the resolver, but I think that was added before :/

[2019-03-05 19:40] mashrikt commented on #5265
@stsewd Can we convert it to TextField?

[2019-03-05 19:50] stsewd commented on #5397
Ok, so I though that we were using the path from imported file for search, but happens that we don't do that.

There we have the real path with the html extension.
https://github.com/rtfd/readthedocs.org/blob/0917fbd925998086c958f642d6564de88b142d1b/readthedocs/projects/models.py#L1159-L1159

But int the further function, we pass the `.fson` path only.

https://github.com/rtfd/readthedocs.org/blob

[2019-03-05 19:55] stsewd commented on #5397
Also, saving the original path, would help us to reduce the magic that depends on in the doctype.

[2019-03-05 19:58] JLLeitschuh commented on #4641
This should be considered a security vulnerability in RTFD.

Developers utilizing RTFD sometimes link to their releases which could be maliciously MITM to link to compromised artifacts.

Additionally, there are vulnerabilities that can be executed by abusing the Copy-Paste functionality in browsers to hide unexpected payloads, for example when copying shell commands.

Here's an example:
https://th

[2019-03-05 20:02] ericholscher commented on #5397
I don't fully understand what's going on here, but capturing the real file path is the goal of https://github.com/rtfd/readthedocs-sphinx-ext/pull/62/files#diff-1b00543baae13c24c6592e94f0ea6c1dR210

[2019-03-05 20:06] stsewd commented on #5397
I was going to take a look at the extension too, that should fix this problem :)

[2019-03-05 21:41] rshrc commented on #5327
Since this issue is addressed now, should we close it?

[2019-03-05 22:10] stsewd commented on #5327
https://github.com/rtfd/readthedocs.org/pull/5383 isn't merged yet.

[2019-03-05 22:11] kdheepak commented on #353
Works great!

[2019-03-05 23:04] #5300 closed

[2019-03-05 23:41] stsewd commented on #5397
Actually if we take the solution from the extension, old projects still will point to the buggy path (we'll need to rebuild all projects to make that work, which is impossible).
If we use the path from the `process_json` function, we'll only need to re-index all projects (thing that we already have done before).

[2019-03-06 00:23] stsewd commented on #5351
Sentry issue https://sentry.io/organizations/read-the-docs/issues/910559197/?project=148442&query=is%3Aunresolved+it+returned+2&statsPeriod=14d&utc=false

[2019-03-06 00:29] FRCTeam5902 commented on #5399
No just one GitHub account to the rtd account

It worked on another computer. May have been a caching issue.

[2019-03-06 00:29] #5399 closed

[2019-03-06 00:32] stsewd commented on #5351
Ok, that wasn't the related sentry issue, I don't think we are logging that to sentry.

Maybe did you integrated two github accounts to your rtd account?

[2019-03-06 00:39] remram44 commented on #5351
I only have one GitHub account though. I do I check and/or correct this?

[2019-03-06 00:40] stsewd opened #5402 "Don't allow to create subprojects with same alias"
Currently we can create several subprojects with the same alias, when serving the docs from

https://github.com/rtfd/readthedocs.org/blob/bdb4aa5da5b5b5fb45244176c2bee58fb5442414/readthedocs/core/views/serve.py#L71-L74

It gives a 500 error.

[2019-03-06 01:06] saadmk11 commented on #5402
@stsewd I would like to work on this bug fix.

[2019-03-06 01:11] stsewd commented on #5402
Sure

[2019-03-06 11:23] saadmk11 commented on #5402
@stsewd I have added a `clean_alias` method in the `ProjectRelationshipBaseForm` which will check if the alias already exists. This will prevent Projects from Creating New subprojects with same alias. But what should we do for the existing subprojects with same alias. Should
 it Return the first object if `ProjectRelationship.MultipleObjectsReturned` exception occurs. What do you suggest?

[2019-03-06 12:38] dojutsu-user commented on #3216
This is still valid I think.

[2019-03-06 16:07] stsewd commented on #5402
We should inspect the database and remove/rename those alias, I think they are almost spam projects.

[2019-03-06 17:28] mdraw commented on #4942
Thank you so much for the help! I don't understand what is happening in the
`pip install -r docs/sphinx-requirements.txt` step. Its output claims that
`Requirement already satisfied: torch==1.0.0 from https://download.pytorch.org/whl/cpu/torch-1.0.0-cp36-cp36m-linux_x86_64.whl in /home/docs/checkouts/readthedocs.org/user_builds/elektronn3/envs/latest/lib/python3.6/site-packages (from -r docs/sphin

[2019-03-06 18:10] aditya-369 commented on #4343
Hi I am Aditya. Is this still on to do or someone else is working?

[2019-03-06 18:11] saadmk11 commented on #5402
Okay. :+1:

[2019-03-06 18:13] davidfischer commented on #4641
@JLLeitschuh There's a couple things going on here:

I'm all for running the entire site over HTTPS and I do believe that would increase security and privacy. However, I would not call running a static website over HTTP a security vulnerability.

Can you go into a little more details here?

What does this have to do with an HTTPS redirect?

[2019-03-06 18:14] aditya-369 commented on #5391
Hi @humitos does this feature still need amendments or ready to implement? If yes can you provide with some insights to accomplish this. Thank You.

[2019-03-06 18:18] dojutsu-user commented on #4343
@rshrc @aditya-369
This issue is still valid.

[2019-03-06 19:00] agarwalrounak commented on #4343
Hi @aditya-369, I am working on this issue. I am so sorry that I forgot to comment here the same.

[2019-03-06 19:11] aditya-369 commented on #4343
@agarwalrounak cool no problem.

[2019-03-06 19:58] agarwalrounak opened #5408 "update the clone step in the installation guide to include submodules"
## Details

When running the pre-commit command `pre-commit run`, it gives the error that `.pre-commit-config.yaml` does not exist though the command `ls -a` clearly mentions that `.pre-commit-config.yaml` exists.

## Actual Result

![screenshot from 2019-03-07 01-23-19](https://user-images.githubusercontent.com/38394281/53909628-2b680000-4078-11e9-8d32-5cb45437a135.png)

[2019-03-06 20:03] stsewd commented on #5408
You are missing the submodule.

`git submodule update --init`

We should update the clone step in the installation guide to include submodules.

https://docs.readthedocs.io/en/stable/install.html#get-and-run-read-the-docs

[2019-03-06 20:12] agarwalrounak commented on #5408
@stsewd Thanks for the prompt reply :) I will send a PR with the required changes soon.

[2019-03-06 20:31] stsewd opened #5410 "Refactor `build_docs_html` to use `build_docs_class`"
`build_docs_html`

https://github.com/rtfd/readthedocs.org/blob/4911600c230809bd6fb3585d1903121db2928ad6/readthedocs/projects/tasks.py#L839-L839

should use https://github.com/rtfd/readthedocs.org/blob/4911600c230809bd6fb3585d1903121db2928ad6/readthedocs/projects/tasks.py#L903-L917

as the other builders and not be a special case.

[2019-03-06 22:36] #5076 closed

[2019-03-06 22:36] #5008 closed

[2019-03-06 22:53] brianmay opened #5412 "github services warning"
## Details

For a number of my projects, I continue to see this warning:

[code]

I have already reconfigured these projects already to delete the github service and add the webhook. I did so way before the deadline.  Why am I still seeing this warning?

## Expected Result

No warning message.

## Actual Result

Warning messages appear.

[2019-03-06 23:06] agjohnson commented on #5412
These are one time warnings. If your projects are configured, you can click the link in the messages to acknowledge them.

[2019-03-06 23:17] stsewd commented on #4371
Just updating that I have an open to fix this https://github.com/gitpython-developers/GitPython/pull/818

[2019-03-06 23:34] stsewd commented on #5108
Yes, I just checked it

[code]

Before it was building with the latest image.

[2019-03-06 23:34] #5108 closed

[2019-03-06 23:46] stsewd commented on #4490
We can add the version in https://github.com/rtfd/readthedocs.org/blob/4911600c230809bd6fb3585d1903121db2928ad6/readthedocs/restapi/templates/restapi/footer.html#L21-L30

But, that is a function, we need to use this tag

https://github.com/rtfd/readthedocs.org/blob/4911600c230809bd6fb3585d1903121db2928ad6/readthedocs/core/templatetags/core_tags.py#L39-L43

But, we need to be careful with the perfo

[2019-03-07 00:09] stsewd opened #5413 "Point users to use a configuration file from advanced settings"
Currently users may still be using the advanced settings to build their docs, they should use a configuration file, now they can do everything from the web in the config file.

I was thinking in blocking the UI for new projects, but we can't do that, because that would be a problem for people moving to read the docs (they can't modify their docs). A long solution can be allowing to have a global c

[2019-03-07 00:17] stsewd opened #5414 "Point users to use a configuration file from the import menu"
I was thinking we can put a link just next to the `Edit advanced options` or as a help text.

![screenshot_2019-03-06 add a project read the docs 1](https://user-images.githubusercontent.com/4975310/53922895-31dc8480-4044-11e9-9f29-7695020165c2.png)

[2019-03-07 00:27] davidfischer commented on #5413
I think this is a great proposal. I like the idea of separating out global features that can't be configured in the YAML file. I almost wish there was another page to put those 3 settings on but I don't think they belong on the regular settings page.

[2019-03-07 00:28] stsewd commented on #5413
There are more, I didn't put all p:

[2019-03-07 00:29] davidfischer commented on #5413
There aren't *that* many though.

[2019-03-07 01:02] brianmay commented on #5412
Clicking the link just takes me to the documentation. I don't see anyway of acknowledging them, and they keep showing up every time I log in.

[2019-03-07 01:04] brianmay commented on #5412
Oh, I see, I am middle clicking the link so it opens a new window.

I have to left click on each link, view the documentation, then click back and it is gone. This is terrible UI.

[2019-03-07 01:15] stsewd commented on #5412
Yes, we have an open issue about that https://github.com/rtfd/readthedocs.org/issues/4684

[2019-03-07 01:15] #5412 closed

[2019-03-07 09:07] dhruvkb commented on #5414
From a design point of view, I'd suggest a help text would be more efficient because a link to the advanced settings page would not exist before the project is added and clicking 'Next' to add the project would redirect the user to a different page anyway.

I'm new here and not very certain of the design aspect, but this seems like a good **first issue**. Can I work on this after we reach a design

[2019-03-07 09:48] rshrc commented on #5327
So when will this be ready for merge?

[2019-03-07 09:49] wilsonyou commented on #4466
@anvithks  Hi, you can refer to the following link : https://github.com/bumoproject/bumo-docs-cn

[2019-03-07 10:00] humitos commented on #4454
I tried a little more today to build the [Chinese version of requests](http://docs.python-requests.org/zh_CN/latest/) with `latexmk` inside our Docker image locally (outside all of the Read the Docs steps) and I wasn't able to make it work.

I was trying to do this, to see if we can start allowing [some experimental testing with this under a Feature flag in production](#5405). Although, I don't wa

[2019-03-07 10:16] dojutsu-user commented on #5414
Hi @dhruvkb
@stsewd had already assigned this issue to himself and @davidfischer.
I would suggest you to please look into another issues.
Thanks

[2019-03-07 10:21] dojutsu-user commented on #5327
Hi @rshrc
Team will merge it when the time permits.
Thanks for the contribution.

[2019-03-07 10:46] humitos commented on #5108
@stsewd so, your project was building with `latest`, then you set `project.container_image = 'readthedocs/build-dev:3.0'` and trigger the build again and that's the JSON that you are showing here?

[2019-03-07 12:17] stsewd commented on #5108
Yes

[2019-03-07 12:52] saisrivathsa commented on #1391
I have gone through the current files and I don't think this issue persists. The `move_files` task was called twice with `html=True` when the issue was created.

[2019-03-07 14:12] stsewd commented on #5414
@dhruvkb thanks for the interest, but as mentioned, this work is already assigned. And for clarification, we are talking about this configuration file https://docs.readthedocs.io/en/stable/config-file/index.html

[2019-03-07 15:33] stsewd commented on #1391
Yeah, this issue isn't valid anymore.

https://github.com/rtfd/readthedocs.org/blob/dfbc8142e70d2ddd893ecabba765690319b5f5aa/readthedocs/projects/tasks.py#L749-L764

[2019-03-07 15:33] #1391 closed

[2019-03-07 16:35] Iamshankhadeep commented on #5410
Can I work on it? I think it is easy enough to solve. but still I am new to this community so learning everything I can.

[2019-03-07 16:41] #5408 closed

[2019-03-07 16:59] Iamshankhadeep commented on #3775
is this issue still open?

[2019-03-07 17:13] agarwalrounak commented on #3279
I will work on it.

[2019-03-07 18:21] dojutsu-user commented on #3775
Hi @Iamshankhadeep
Thanks for your interest in contribution.
There's already PR open for this issue #5333.
I would suggest to please look for another open issues.
Thanks.

[2019-03-07 20:05] agarwalrounak commented on #4603
I will work on it.

I am new to Sphinx, so I might need a little guidance along the way:sweat_smile:

[2019-03-07 20:13] agjohnson opened #5420 "Docs on conditional content"
A common question we get is how to do conditional content with Sphinx. There are a few options for this:

* https://www.sphinx-doc.org/en/master/usage/extensions/ifconfig.html#module-sphinx.ext.ifconfig
* https://www.sphinx-doc.org/en/master/usage/restructuredtext/directives.html#directive-only

We should document these two methods in a guide or perhaps even break out an author's guide to start so

[2019-03-07 20:18] agarwalrounak commented on #5420
Hi @agjohnson ! I think the issue #4603 deals with the same thing.

[2019-03-07 20:20] agarwalrounak commented on #5420
I have asked to work on that issue and I can include one more description under "How to have conditional content in your documentation" :
- Using `ifconfig` directive to make conditional content

[2019-03-07 21:42] mdraw commented on #4942
I've just tried changing some stuff in the readthedocs configuration file to see if I can get the requirements installation to work as intended (without any 600MB wheels...) and to make it work again in a normal memory-constrained builder.
Strangely, the first build with this worked fine (https://readthedocs.org/projects/elektronn3/builds/8720636/) but a subsequent build that didn't change anythin

[2019-03-07 21:57] stsewd commented on #4942
No, sometimes the builders are too busy, and sometimes we don't have so much load.

[2019-03-07 22:42] stsewd commented on #5319
I just realized that we have some kind of automation for `stable` right now.

- If stable is active
- A new version is created and it's a _new stable_ (greater than the previous one)
- If the previous version and stable were active
- The new version is activated too

https://github.com/rtfd/readthedocs.org/blob/78c34c904b347110b2cd545b4b5a80ed526590f7/readthedocs/restapi/views/model_views.py#L229-

[2019-03-07 22:45] stsewd commented on #5420
@agarwalrounak yes, they are related. Probably they can be addressed in the same PR

[2019-03-07 23:53] stsewd commented on #4745
We haven't seen this in ~2 months, we should test if this can be replicated. I think it was raised when the project has 2 `conf.py` files, and isn't using a config file.

[2019-03-08 00:17] stsewd commented on #4745
I was able to replicate this locally

[code]

with this structure

[code]

[2019-03-08 00:27] #5327 closed

[2019-03-08 00:29] stsewd opened #5422 "Remove possibel unused constant"
At first sight looks like isn't used anymore after https://github.com/rtfd/readthedocs.org/pull/5383

https://github.com/rtfd/readthedocs.org/blob/78c34c904b347110b2cd545b4b5a80ed526590f7/readthedocs/core/models.py#L13-L13

We should still double check and make sure tests are passing after the removal.

[2019-03-08 01:13] anvithks commented on #4466
@wilsonyou thank you. I managed to get it to work.

[2019-03-08 03:42] saadmk11 commented on #5422
Okay. I'll remove the constant and double check if the tests are passing and submit a PR.

[2019-03-08 05:47] agarwalrounak commented on #5420
@stsewd Sure, I will send a PR soon.

[2019-03-08 09:51] Solosneros commented on #353
@humitos We created a custom 404.rst in root and let ReadtheDocs render the pages. All paths that start like /en/latest/pagethatdoesnotexist show the 404.html perfectly in the theme but when that /en/latest part is missing the 404.html gets shown but the css is broken and the theme is missing. Any hints how to fix that? :)

[2019-03-08 10:53] humitos commented on #353
@Solosneros yes, you have to use absolute links to make the resources load properly. This is the most important part.

You have 2 options to achieve this:

1. create the HTML by hand hard-coding all the URL resources (and adding that `404.html` page as a static file using the config [html_extra_path](http://www.sphinx-doc.org/en/stable/usage/configuration.html#confval-html_extra_path))
1. use the

[2019-03-08 11:09] humitos commented on #4942
@mdraw do you _realy_ need `torch` to build your docs or [you can mock it](https://docs.readthedocs.io/en/latest/faq.html#i-get-import-errors-on-libraries-that-depend-on-c-modules) and have render the documentation anyways?

Or, using autodoc and mock it?: http://www.sphinx-doc.org/en/master/usage/extensions/autodoc.html#confval-autodoc_mock_imports

[2019-03-08 12:33] #3279 closed

[2019-03-08 12:47] Solosneros commented on #353
@humitos thanks for the fast reply. I tried using our extension and the build keeps failing. Is the extension automatically include in ReadtheDocs.org?

`Could not import extension sphinx-notfound-page (exception: No module named 'sphinx-notfound-page')`

[2019-03-08 13:55] kdheepak commented on #353
You probably need to add it to a `requirements.txt` file and let rtd know where that file is located.

[2019-03-08 14:10] mdraw commented on #4942
As I mentioned in my comment earlier (https://github.com/rtfd/readthedocs.org/issues/4942#issuecomment-449163335) I've tried mocking `torch` but this breaks the docstrings, because they make use of types like `torch.Tensor` a lot. E.g. `torch.nn.Module` is rendered as "sphinx.ext.autodoc.importer._MockObject" and `torch.Tensor` is rendered as "<sphinx.ext.autodoc.importer._MockObject object at 0x7

[2019-03-08 16:43] #5317 closed

[2019-03-08 17:18] ivankravets commented on #5337
The same with @PlatformIO :(

https://readthedocs.org/projects/platformio/builds/8726293/

[2019-03-08 18:29] Nic30 opened #5426 "automatically generated Github Webhook Integration: response:400"
## Details

* Read the Docs project URL: https://netlistdb.readthedocs.io/
* Build URL (if applicable):
* Read the Docs username (if applicable): nic30

## Expected Result

*A description of what you wanted to happen*
I added the webhook as described on the https://docs.readthedocs.io/en/latest/webhooks.html
I used the webhook url https://readthedocs.org/api/v2/webhook/netlistdb/78249/ to Github r

[2019-03-08 18:36] Nic30 commented on #5426
However I just deleted the webhook and added new and it is working.
(The first was generated by "new project" wizard. Maybe it does not work correctly)

[2019-03-08 21:14] agjohnson commented on #5265
I have no opinion on field length. Feel free to refer to other examples of CI services, or Heroku, and support for URLs from Azure Artifacts.

[2019-03-08 21:53] jasonaowen opened #5427 "Link to in-progress build from dashboard"
## Details

When a project is building, the dashboard page (eg `https://readthedocs.org/projects/<project-name>/`) shows a message:

## Expected Result

I expected to find a link to the in-progress build, as I would find on a dashboard in Travis CI or Jenkins.

## Actual Result

There is no link, and instead I have to navigate to the builds tab and click on the most recent build.

[2019-03-09 00:06] agjohnson commented on #3784
In thinking about how to implement this, I'm completely overwhelmed by the number of features we're tacking on here and I'm starting to have reservations about collections as a feature. I think this would benefit from a deeper initial planning phase and would definitely benefit from discussions with users.

We need to start by at least defining who wants this and how they would use it, as we've no

[2019-03-09 04:50] shivanshu1234 commented on #5427
I would like to work on this issue.

[2019-03-09 11:38] saadmk11 commented on #5265
@agjohnson
**Heroku:** `Config var data (the combination of all keys and values) cannot exceed 32kb for each app.`
**ref:** https://devcenter.heroku.com/articles/config-vars#config-var-policies

**Azure:** Request URL size: `The maximum size for a request URL is 2,048 chars.`
**ref:** https://docs.microsoft.com/en-us/azure/azure-subscription-service-limits#application-gateway-limits

[2019-03-10 06:07] dojutsu-user commented on #3784
@agjohnson
I can give one use case for this -
A user can create a collection of dependencies for a larger project.
Example -
A user have a large project that uses certain versions of some projects. So instead of going to one of the dependency project and manually select its version, he/she can create a collection of particular versions projects to ease the task.

[2019-03-10 14:33] humitos commented on #353
@Solosneros no, you have to install it as any other dependency (https://docs.readthedocs.io/en/latest/guides/specifying-dependencies.html) as @kdheepak mentioned.

[2019-03-10 18:27] #3682 closed

[2019-03-11 13:34] sea212 opened #5428 "Invalid example in the readthedocs documentation"
## Details

The example code contains a bug:
https://docs.readthedocs.io/en/latest/config-file/v2.html

## Expected Result
``extra_requirements: [docs]``

or

[code]

a list should be assigned to extra_requirements

## Actual Result
``extra_requirements: docs``

[2019-03-11 14:18] felipelm opened #5429 "Build error with build id #8736950"
## Details:

* Project URL: https://readthedocs.org/projects/qlf/
* Build URL(if applicable): https://readthedocs.org/projects/qlf/builds/8736950/
* Read the Docs username(if applicable): felipelm

## Expected Result

Build the documentation

## Actual Result

After checking out to the correct branch it stops and fails the build.

[2019-03-11 15:19] humitos commented on #5337
@ivankravets please, can you open a different issue for you request?

[2019-03-11 15:25] humitos commented on #5391
@aditya-369 the issue is under "Design decision" (https://docs.readthedocs.io/en/latest/contribute.html#initial-triage) and need some discussion still.

Although, if you follow the links from the description you will find some extra context and proposals about how to implement it. If you want, you can read them all and make a more specific proposal on how this could be implemented and we can discu

[2019-03-11 15:31] humitos commented on #4490
The problem of linking to the specific version translated is that most of the docs do not have _all the versions_ translated. So, in the end, we will be generating a lot of 404 for many projects also. I assume that's why we link to the "default version" instead.

We could add more logic here and "link to the same version only if that version exists in the translated project or fallback to the defa

[2019-03-11 15:44] humitos commented on #3784
@agjohnson when I think about Collections it comes to me organizations/groups like: [encode](https://github.com/encode/), [pallets](https://github.com/pallets) and [jazzband](https://github.com/jazzband/). So, maybe they are good people to ask about how they could be benefits from this.

On the other hand, what would be the differences between a Collections of projects and the concept of Organizat

[2019-03-11 16:01] stsewd commented on #5429
Probably the same as #4371 Can you check if your submodules are correct https://github.com/desihub/qlf/blob/master/.gitmodules?

[2019-03-11 16:18] humitos commented on #4641
That private issue is closed and it seems that it's already active.

I think the solution at nginx level is better because of performance, but I'd probably like to have the data on the db also as a "trustable source".

[2019-03-11 16:19] felipelm commented on #5429
@stsewd yes they all exists and are used in the project. I can't see the error in the raw build log. Is it possible to change the build log level to debug?

[2019-03-11 16:22] davidfischer commented on #4641
HSTS is not active. We just had a few remnants of the dashboard that were served over plain HTTP and if we enable HSTS none of the dashboard can be served over HTTP.

[2019-03-11 16:39] stsewd commented on #4490
We already jump between files when switching versions, even if the file gives 404.

[2019-03-11 16:43] stsewd commented on #5429
I don't see this submodule in your project https://github.com/desihub/qlf/blob/0b707af3d5fcef2929ebb38ca6e2ecfd88c81cd0/.gitmodules#L19-L20

[2019-03-11 16:44] #5428 closed

[2019-03-11 16:52] felipelm commented on #5429
@stsewd that's true I missed that one.

The build worked fine now.

Sorry for the trouble and thanks for the help!

[2019-03-11 16:53] #5429 closed

[2019-03-11 16:57] #5422 closed

[2019-03-11 19:27] stsewd opened #5433 "Remove asserts from code"
We have some asserts statements outside our tests, we should remove them and replace them with a more explicit check and raise an exception or remove them at all, it may depend on the place of the code.

See https://bandit.readthedocs.io/en/latest/plugins/b101_assert_used.html

[2019-03-11 19:36] dojutsu-user commented on #5433
Working on it.

[2019-03-11 21:19] ivankravets opened #5434 "Command killed due to excessive memory consumption"
## Details

* Read the Docs project URL: https://readthedocs.org/projects/platformio/
* Build URL (if applicable): https://readthedocs.org/projects/platformio/builds/8726293/
* Read the Docs username (if applicable): ikravets

## Expected Result

Completed build.

## Actual Result

Broken build.

[2019-03-11 21:19] ivankravets commented on #5337
@humitos thanks, done! => https://github.com/rtfd/readthedocs.org/issues/5434

[2019-03-12 06:02] ironbatshashank opened #5435 "Remove Login button when already clicked on login"
## On the homepage when the user clicks login instead of signup the user can still see the login button on login page.

 https://github.com/rtfd/readthedocs.org
On readthedocs.org/accounts/login/  page

*The user should not be able to see the login button when he is already on login page. *

[2019-03-12 06:06] agjohnson commented on #5321
"hidden" or "archived" are pretty clear adjectives for these versions. Seems we could have the following fields on the version model:

* `active` = `True` or `False` -- is the version going to build again?
* `archived` = `True` or `False` -- is the version archived?
* maybe `deprecated` = `True` or `False` -- is the version not recommended for use?

I think all the possible combinations make sense

[2019-03-12 07:33] agjohnson commented on #3708
Yeah, all our admin forms should follow the new pattern. #3572 looks like a good base, we also have some existing admin forms that already use the pattern we're describing. I'd use those to start.

[2019-03-12 08:12] agjohnson commented on #4932
I think most CI/CD services allow connecting multiple accounts, so perhaps it's better to keep this functionality. Removing multiple accounts as a feature for new users seems a little like throwing the baby out with the bath water, so I do lean towards a more direct approach for the bugs we're noticing around detecting the oauth source.

[2019-03-12 08:59] strophy commented on #5391
I noticed `sitemap.xml` started being generated recently, thanks for this extremely useful development! I have just read through the previous discussion and PR. A couple of points (can open separate issues if you prefer):

- The generated sitemap currently gets the URL by calling [`get_docs_url`](https://github.com/rtfd/readthedocs.org/blob/master/readthedocs/projects/models.py#L474), which by def

[2019-03-12 09:07] humitos commented on #4490
That's my point. It's not a good UX clicking on a link and get 404.

[2019-03-12 09:27] bcismariu commented on #4922
I had to rename `nav` to `pages` and also specify the python version in the `readthedocs.yml` file:

[code]

[2019-03-12 10:40] #4286 closed

[2019-03-12 10:42] saadmk11 commented on #3708
I saw  a few admin pages use the Old Pattern (Form and List view at the same time). I would like to propose to change the Old pattern with the new one as suggested by @agjohnson.
I was able to Find these pages using the old pattern:

1. **Domains**
2. **Maintainers**
3. **Redirects**
4. **Translations**
5. **Notifications**

And I would also like to address the **Environment Variables** page shoul

[2019-03-12 11:31] humitos commented on #5391
@strophy I appreciate your feedback here.

I think the docstring of that method is wrong. For now, it only returns HTTP when its a custom domain because we can't guarantee that it has SSL setup (see #4641)

[code]

Yes, please. This issue is about generating a sitemap index and your suggestions/reports are about bugs in the current implementation. I'd appreciate if you create one issue per problem

[2019-03-12 12:41] ziirish opened #5436 "BackendUnavailable while building the documentation"
## Details

* Read the Docs project URL: https://readthedocs.org/projects/burp-ui
* Build URL (if applicable): https://readthedocs.org/projects/burp-ui/builds/8509365/
* Read the Docs username (if applicable): ziirish

## Expected Result

The documentation used to build without any issue.

## Actual Result

For a few weeks, every build attempt fails in an early step whereas nothing changed in my r

[2019-03-12 14:30] humitos commented on #5321
@agjohnson I'm not following you exactly.

Although the adjectives are clear, I'm not sure to understand how they behaves on our platform:

* `archived` won't be shown in the flyout menu and won't be served
* `deprecated` won't be shown in the flyout but it will be served when hitting the URL

Combining these, `archived=True` and `active=True` is the only state that does not make too much sense si

[2019-03-12 15:42] Solosneros commented on #353
@humitos thanks, it works now :)

[2019-03-12 15:44] stsewd commented on #5435
Just for clarification, this is what the issue is about

https://readthedocs.org/accounts/login/

![Screenshot_2019-03-12 Sign In Read the Docs](https://user-images.githubusercontent.com/4975310/54214213-ce26e100-44b3-11e9-860c-986551f42d00.png)

[2019-03-12 15:45] stsewd commented on #5435
I don't think this is worth it, seems fine for me having the login button there.

[2019-03-12 15:57] stsewd commented on #5436
Can you try wiping the enviroment https://docs.readthedocs.io/en/stable/guides/wipe-environment.html?

Also, if this bug isn't present in python 3.5 or 3.7, you can use a different version https://docs.readthedocs.io/en/stable/config-file/v2.html#python

(note that is using the v2 of the config file)

[2019-03-12 16:12] #4363 closed

[2019-03-12 16:22] ziirish commented on #5436
Thanks for the hints.

The wipe trick didn't solve the issue. I'll have a look at python 3.7 then config v2.

I cannot try 3.5 though because I'm using format strings which were introduced in 3.6.
I couldn't use 3.7 because I had variables called `async` which is a reserved keyword since 3.7 but this issue should be fixed by now.

[2019-03-12 16:27] stsewd commented on #5436
You can also use a previous version of pip that was working with that version of python. You can create a requirements file with pip only and put it before the requirements of your project https://docs.readthedocs.io/en/stable/config-file/v2.html#requirements-file

[2019-03-12 16:27] stsewd commented on #5436
Also, we install the latest version of pip by default, so if the problem is solved in the pip side, it would be fixed here as soon as they make a new release.

[2019-03-12 17:50] mathieuboudreau opened #5438 "Branch not appearing on the "inactive list" in the Versions tab"
## Details

* Read the Docs project URL: https://readthedocs.org/projects/axondeepseg/
* Build URL (if applicable): N/A
* Read the Docs username: mathieuboudreau

## Expected Result

That our branch name ([jca/171-logo](https://github.com/neuropoly/axondeepseg/tree/jca/171-logo)) appears in the inactive list in the "Versions" tab so that we can trigger a build and preview the changes before mergin

[2019-03-12 17:58] stsewd commented on #5438
We don't create versions from Pull requests, but we create version when you create a new branch. Can you check that we received that event? (branch creation). Also, webhooks in github were down for a moment today, so maybe related.

Anyway, you can force the version update triggering a build in any version.

[2019-03-12 18:08] mathieuboudreau commented on #5438
I did try creating a a new branch from that branch t debug this issue, but that one did not appear in the list either.

This isn't clear to me (both what it's for or how to do it) in my case where my branch isn't appearing.

[2019-03-12 18:14] stsewd commented on #5438
https://readthedocs.org/projects/axondeepseg/builds/ go ther is trigger a build to latest or any other branch, that way we clone the repo and update the list of versions.

[2019-03-12 18:24] mathieuboudreau commented on #5438
I just checked again and the branch appeared; either someone on your side triggered that build on latest for me, or maybe I was just too impatient (though I waited +1 hours) and/or the initial branch creation occurred during the githook blackout. Thanks!

[2019-03-12 18:24] #5438 closed

[2019-03-12 18:45] stsewd opened #5439 "Report parsing error of the yaml to the user"
When a project has a syntax error in the yaml file like

[code]

https://github.com/flatironinstitute/CaImAn/blob/1885c51aab3592d8f07f866637985016c50fab0d/readthedocs.yml#L3

(there should be a space)

We raise a general exception instead of something more useful.

[2019-03-12 18:52] pgunn opened #5440 "RTD build killed in conda"
## Details

* Read the Docs project URL: https://readthedocs.org/projects/caiman
* Build URL (if applicable): https://readthedocs.org/api/v2/build/8744881.txt
* Read the Docs username (if applicable): caiman

## Expected Result

Builds of "dev" succeed

## Actual Result

Builds of "dev" fail while conda is creating the environment.

This is a request to up the resource limit for this project. I kn

[2019-03-12 20:25] agjohnson commented on #3708
It would be best to split this all into digestible chunks either way, but :+1: on addressing the old pattern use in all of our forms. We are about to start a contract that will address the UX and styling on these forms, so this part is not as important as having all the correct views and form handling.

[2019-03-12 21:50] humitos commented on #5439
This one is a good candidate for a contributor as Good First Issue

[2019-03-12 22:26] webknjaz opened #5441 "502 Bad Gateway on the Import a Repository page"
It's about https://readthedocs.org/dashboard/import

When I open DevTools, I see that API requests for getting a list of repos to show fail with 502 after 10-12 seconds of waiting.

## Details

* Read the Docs project URL: N/A
* Build URL (if applicable): N/A
* Read the Docs username (if applicable): webknjaz

## Expected Result

*Import page shows the list of projects to import*

## Actual Result

[2019-03-12 22:29] Mike-Dai commented on #5439
Can I work on this issue?

[2019-03-12 22:31] webknjaz commented on #5441
UPD: after a lot of retries I actually succeeded to see that list...

[2019-03-12 22:36] stsewd commented on #5441
I'm seeing 502 two, we need to improve the performance of this :/

[2019-03-12 22:38] stsewd commented on #5441
Actually this in only happening with the github integration :thinking:

[2019-03-12 22:39] webknjaz commented on #5441
FTR: I've managed to add a project I wanted to add :)

Additional info: I've got Uptime Robot set up to watch another project availability and occasionally I get notifications about it being down. Usually, when I get to check it manually it's already up. But at least once, when I did the check immediately I was seeing 502 on the project page as well. It doesn't happen very often but I thought I'd

[2019-03-12 23:58] davidfischer commented on #5414
Of the configurable options on the import screen's "advanced options", the only one that can be configured in the YAML file is the documentation type (sphinx, mkdocs, etc). That's also the only one that really **must** be configured before a project can be built. All the others are just metadata about the project.

![Screen Shot 2019-03-12 at 4 40 41 PM](https://user-images.githubusercontent.com/1

[2019-03-13 02:23] krutik710 commented on #5439
@stsewd @humitos I'd also like to work on this issue

[2019-03-13 02:50] krutik710 commented on #5410
@stsewd Has this issue been assigned to anyone?
If not I can start working on it!

[2019-03-13 03:07] krutik710 commented on #5435
@stsewd Do this issue still has to be worked on?

[2019-03-13 03:10] ironbatshashank commented on #5435
@stsewd I just thought it's a good newcomer issue.

[2019-03-13 03:43] stsewd commented on #5435
It is, but it requires a design decision from someone of the core team before someone can work on this.

[2019-03-13 08:50] strophy opened #5445 "Sitemap does not include HTTPS links for custom domains"
The generated `sitemap.xml` gets the URL for each available version by calling [`get_docs_url`](https://github.com/rtfd/readthedocs.org/blob/master/readthedocs/projects/models.py#L474). For custom domains, this returns HTTP links, which perform a 301 redirect to the HTTPS version. But sitemaps should only point to actual pages (references: [Google](http://www.thesempost.com/google-avoid-including-

[2019-03-13 08:56] strophy opened #5446 "Sitemap hreflang syntax invalid for regional language variants"
The `hreflang` for regional variations in `sitemap.xml` follows the format of the URL language slug [generated by Sphinx](http://www.sphinx-doc.org/en/master/usage/configuration.html#confval-language), e.g. `zh_CN` for Chinese (China). This is invalid syntax for `hreflang` in a sitemap ([reference](https://en.wikipedia.org/wiki/Hreflang#Common_Mistakes)), where a hyphen must be used instead, e.g.

[2019-03-13 09:01] strophy opened #5447 "Sitemap sort order may prioritise unstable/development documentation"
In `sitemap.xml`, the sort order should prioritise the user-selected default version (Admin > Versions > Default Version) in the backend instead of setting `latest` to highest priority. In many cases (and also by [definition](https://docs.readthedocs.io/en/stable/versions.html)), `latest` points at development documentation while `stable` is the version most people should be using, and should appe

[2019-03-13 10:13] ziirish commented on #5436
I have updated my `.readthedocs.yml` to the v2 format and I'm now using python 3.7 instead of 3.6 but I am hitting a new issue still in the early build stages.

Config:

[code]

Traceback:

[code]

It looks like this issue has been fixed in setuptools [v40.8.0](https://setuptools.readthedocs.io/en/latest/history.html#v40-8-0)
I'll try to add another requirement forcing that version of setuptools p

[2019-03-13 11:19] M1k13 opened #5448 "Manual cloning via SSH is not supported"
Hey,

When I go to "Import a Project" > "Manual import" and fill in "Repository URL:(git@gitolite.x.x.org:/docs.git" I get a warning: "Manual cloning via SSH is not supported".

I want to use ssh and not http/https, is that possible?
Its a testing environment with no firewall and its on the same vlan as my readthedocs.x.x.org machine.

Kind regards,

[2019-03-13 13:46] dojutsu-user commented on #3382
This is still valid bot.
Can I get a review on the attached PR?

[2019-03-13 14:48] ziirish commented on #5436
Adding an explicit `setuptools==40.8.0` seems to have fixed the above error for python 3.7.

[2019-03-13 15:05] stsewd commented on #5436
Thanks, looks like we need to install the latest version of setuptools to play nice with the latest version of pip. I'll do a PR soon.

[2019-03-13 15:08] stsewd commented on #5448
No, we don't support ssh urls, this is because we don't suppor private repositorios. For that we have https://readthedocs.com

[2019-03-13 15:08] #5448 closed

[2019-03-13 15:12] M1k13 commented on #5448
Thanks !

[2019-03-13 15:30] WoLpH commented on #5441
I'm only getting timeouts and 502's from the import it seems. After waiting for several minutes while it's syncing I'm not hopeful it will ever finish.

Maybe I've got too many repositories linked to my account?
In addition to the 200+ repo's I've got myself I am also in the Conda organisation which adds 6000+ repo's

[2019-03-13 15:36] webknjaz commented on #5441
Yeah, that's my guess as well. Maybe RTD does sequential requests to GitHub and times out...
I think I've got a lot of repos across orgs as well but probably less than 6k.

[2019-03-13 15:49] WoLpH commented on #5441
Yeah... honestly, I'd prefer to simply filter those out. Even if it does work, it's just a pain to search through all them and they're not useful for most things. The conda-forge repo's are metapackages only so they're never interesting for RTD if you ask me.

[2019-03-13 16:09] ziirish commented on #5436
Awesome! Thanks for your hard work.

[2019-03-13 16:24] dojutsu-user opened #5449 "Inconsistency of links in footer"
Links in the footer of https://readthedocs.org/ points to `latest` version of documentation except the link for `Documentation`, which points to https://docs.readthedocs.io/ which redirects to `stable` version.
~It should also points to https://docs.readthedocs.io/en/latest/~

All the links must points to `stable` version.

[2019-03-13 16:35] stsewd commented on #5449
All links should point to stable, we change that some time ago.

[2019-03-13 16:44] dojutsu-user commented on #5449
@stsewd
Most of the links are pointing to `latest` as of now....
I will change the issue description and will make a PR soon.

[2019-03-13 16:52] stsewd commented on #5449
We also have the page redirect, which will redirect to the default version https://docs.readthedocs.io/page/getting_started.html I think that's better, so we don't have to keep track of these links if we change the default version again.

[2019-03-13 16:58] davidfischer commented on #5441
I'm pretty sure the problem has to do with the code that attempts to limit users ability to import a repository that is already in Read the Docs. Specifically, [this code here](https://github.com/rtfd/readthedocs.org/blob/d0db3e7717f57216260495334ed76db2b6601567/readthedocs/oauth/models.py#L183-L188) which is called from [here](https://github.com/rtfd/readthedocs.org/blob/54397a07a1baed5b183c05350

[2019-03-13 17:06] dojutsu-user commented on #5449
yeahh... that is better.
I will make the required changes.
Thanks.

[2019-03-13 17:12] dojutsu-user commented on #5449
btw... I am not clear as why the links should not point to `latest` version?

[2019-03-13 17:16] stsewd commented on #5449
Because the documentation will be not even with the production running instance of rtd (which is always stable). So, if we add a new feature and their docs, the feature will be available in master, but not in the site. That will be confusing.

[2019-03-13 17:20] dojutsu-user commented on #5449
ohhh... okay
I get it.
Thanks for the explanation.

[2019-03-13 17:59] stsewd commented on #5446
The fact that we rely on sphinx for this make it hard to follow the standard way, there are other parts of the code that we should take care of too.

[2019-03-13 22:12] stsewd commented on #4643
This happens when we execute the task with a callback

https://github.com/rtfd/readthedocs.org/blob/54397a07a1baed5b183c0535093643467c3edaba/readthedocs/core/utils/__init__.py#L50

The task is already running in a celery task, so when we call `chord`, it's basically doing something like

[code]

That get is causing the error :)

I'll try to see how we can fix/refactor this

[2019-03-13 22:48] stsewd commented on #4643
So, we can't execute the callback from outside a task anyway, it will block the request :/. So, I guess we just need to ignore the error as the docs shown.

[2019-03-13 23:10] #5449 closed

[2019-03-14 00:03] stsewd commented on #4643
I tried a lot of ways, but looks like there is a bug in celery :/

[code]

https://github.com/celery/celery/issues/5330

[2019-03-14 13:07] saadmk11 commented on #3708
@agjohnson If I understood you correctly, you want to split the old pattern views (different views for list, create/update form) so that it matches the new pattern. Such as the subproject views in the project Admin
https://github.com/rtfd/readthedocs.org/blob/b06dedb5bf008d5d835110faa6176c24146546f1/readthedocs/projects/views/private.py#L484-L503
If I'm correct we can start working on this in smal

[2019-03-14 15:27] #5358 closed

[2019-03-14 16:01] markcoatsworth opened #5458 "502 Bad Gateway on Projects > Versions page"
The Projects > Versions page for our project is throwing a 502 Bad Gateway error. It's happening at the following URL:

https://readthedocs.org/projects/htcondor/versions

I thought this might be a transient error but it's been happening consistently for the last day or so. All the other pages I've tried seem to work fine.

It's worth noting a similar ticket  #5441  was filed a couple of days ago

[2019-03-14 16:07] dojutsu-user commented on #5458
Hi @markcoatsworth
I am able to open the webpage.
![Screenshot from 2019-03-14 21-36-04](https://user-images.githubusercontent.com/29149191/54372408-41417a80-46a1-11e9-9d8a-7c1b0e97ed96.png)

[2019-03-14 16:09] stsewd commented on #5458
I'm seeing 502 too, Investigating now

[2019-03-14 16:11] stsewd commented on #5458
Looks like this only happens to users with admin/owner privileges.

[2019-03-14 16:25] #5131 closed

[2019-03-14 16:43] markcoatsworth commented on #5458
Thanks @dojutsu-user for looking into this! I just checked again and @stsewd is correct. The page loads correctly when not logged in. But when I log in as the project owner it's still throwing the 502 error.

[2019-03-14 19:03] stsewd commented on #3689
This is the PR https://github.com/rtfd/readthedocs.org/pull/3754 (closed because of inactivity)

[2019-03-14 19:13] dojutsu-user commented on #3689
I am working on it.
Will submit a PR soon.

[2019-03-14 21:06] stsewd commented on #5458
Just an update here, the problem is caused due the amount of versions (branches and tags) that your project has. We are trying to figure out where the bottleneck is, but if you don't need all those branches/tags removing them from the repo could fix the problem.

[2019-03-15 09:36] MIKNOTAURO opened #5462 "Remove Haystack reference in Docs"
This can be confusing...
url: https://docs.readthedocs.io/en/stable/features.html

![image](https://user-images.githubusercontent.com/2102746/54422086-56370180-46d3-11e9-8339-066ee808bf05.png)

[2019-03-15 15:08] rshrc opened #5463 "dev.db-journal file is being tracked"
## Details

When the server is running on a local instance, and we are importing a project and building a doc there is this automatic creation of a dev.db-journal which as per assumption is different for all the different users.

## Expected Result
The file creation is normal but it should not be tracked by git. It might lead to merge conflicts later on.

[2019-03-15 15:50] stsewd commented on #5463
Yes, I think that file is generated from celery. We can add it to our `.gitignore` file.

[2019-03-15 15:51] stsewd commented on #5462
Yeah, we removed the `Haystack` dependency a time ago https://github.com/rtfd/readthedocs.org/pull/4039

[2019-03-15 17:13] saadmk11 commented on #5462
@stsewd ill create a PR for this.

[2019-03-15 17:42] davidfischer opened #5465 "Dashboard screen performance issue"
While working on #5464, I discovered a performance issue on the [dashboard screen](https://readthedocs.org/dashboard/).

Getting the latest build status and the number of builds for each project results in an extra SQL query each. This results in O(n) SQL queries where n is the number of projects displayed. It should be possible to get the latest build and number of builds for each project using a

[2019-03-15 18:02] davidfischer opened #5467 "Build List Screen Performance Issue"
While working on #5464, I discovered a performance issue on the [build list screen](http://readthedocs.org/projects/requests/builds/).

There appears to be a couple duplicated queries in the build list screen. One is to get the project (probably from `Build.get_absolute_url`) for the build and the other gets the version (probably from `build_list_detailed.html`). This results in O(n) SQL queries w

[2019-03-15 18:02] saadmk11 commented on #5465
Working on it

[2019-03-15 18:03] saadmk11 commented on #5467
Working on it!

[2019-03-15 18:36] davidfischer opened #5468 "Profile page performance issue"
While working on #5464, I discovered a performance issue on the [profile page](https://readthedocs.org/profiles/davidfischer/).

There appears to be a couple duplicated queries in the profile screen. One is to get maintainers for a project and another is to get the latest build. This results in O(n) SQL queries where n is the number of projects displayed. It should be possible to get this data usi

[2019-03-15 18:40] saadmk11 commented on #5468
@davidfischer should these issues be worked on after merging #5464 or should i install debug toolbar locally and try to resolve them?

[2019-03-15 19:00] davidfischer commented on #5468
#5464 will help you work on them but it isn't necessary to fix them.

[2019-03-15 20:03] markcoatsworth commented on #5458
Alright thanks @stsewd! This makes sense and we've actually already been working to reduce the number of branches and tags. This will give us extra motivation to move on with it. Much appreciate your help.

[2019-03-16 16:13] funkyfuture commented on #4043
working with `http` as scheme for submodules isn't ideal. could the URLs be transformed (like the referencing commits in this issue) before the submodules are clones?

[2019-03-16 23:49] MikeTheWatchGuy opened #5474 "Builds suddenly started failing a month ago with Stop Iteration error (Markdown docs)"
## Details

* Read the Docs project URL:
I've tried 2 different accounts thinking maybe it got corrupt.
The latest one is here:
https://readthedocs.org/projects/pysimplegui/

* Build URL (if applicable):
* Read the Docs username (if applicable):
PySimpleGUI and MikeTheWatchGuy

## Expected Result

I want the docs to PASS, not fail

## Actual Result

I get a failure, even when using older docs.  It

[2019-03-17 21:20] #5463 closed

[2019-03-17 21:23] stsewd commented on #5474
You can update to a new version of mkdocs with a requirements file or downgrading the python version. You can do both things using a configuration file https://docs.readthedocs.io/en/stable/config-file/v2.html

Closing as duplicated of #5332

[2019-03-17 21:23] #5474 closed

[2019-03-18 03:50] MikeTheWatchGuy commented on #5474
I've spent the past hour trying to figure out
1. what the config file should have in it
2. getting it to work

I just want things to work like they used to and now I've lost all of my online documentation.

Would it be possible to supply me with a file and instructions?

I created one based on the examples and put it in my home folder, but I got complaints, so I removed lines that it complained ab

[2019-03-18 09:15] humitos commented on #5321
I like these states. `hidden` is clearer than `archived` to me, though.

I'm :+1: on going forward with them.

[2019-03-18 11:09] humitos opened #5476 "Support xindy and XINDYOPTS environment variable"
Once #5437 gets merged, we will be able to build PDF supporting non-ASCII languages. Although, there is one step missing that is to support `xindy` to generate the index.

Currently there are two problem for this,

1. `xindy` is not installed in our docker image (https://github.com/rtfd/readthedocs-docker-images/pull/98)
1. when `XINDYOPTS` is concatenated via `.` in the `latexmkrc` file it breaks

[2019-03-18 12:21] Abhi-khandelwal commented on #5439
@stsewd @humitos I would like to work on this issue , Can I work on this issue. This would be my first contribution.

[2019-03-18 12:35] raulcd opened #5477 "Warning about using sqlite 3.26.0 for development"
## Details

Hi,
I was trying to build locally as specified on the [developer documentation](https://docs.readthedocs.io/en/latest/install.html) and I've faced an issue while loading the `test_data` fixtures:

[code]

There was a change of behaviour of sqlite `3.26.0` which is the new default with `python 3.6`. Django had some issues that were fixed on Djando 2.1.5 (I think) and 2.2 see issue here:

[2019-03-18 13:04] raulcd commented on #5477
I've been able to make it run by downgrading the python3.6 version to `3.6.7` instead of `3.6.8`. Which basically uses a lower version of sqlite3. New Dockerfile working:
[code]
and the version of sqlite that uses is lower than `3.26.0`:
[code]

[2019-03-18 14:19] dojutsu-user commented on #3689
@stsewd @humitos
While working on this, I found that we detect Spam Projects through `description` field.

https://github.com/rtfd/readthedocs.org/blob/fcc89f436e508386817ce663b2a28d7e55d1b783/readthedocs/projects/forms.py#L177-L181

So, would it be okay to hide this field as this will remain empty for all the new projects and spam detection will not work.

[2019-03-18 15:37] #5462 closed

[2019-03-18 15:39] #5458 closed

[2019-03-18 15:43] #5441 closed

[2019-03-18 15:48] stsewd commented on #5439
Anyone, please feel free to send a PR with a test.

[2019-03-18 15:52] stsewd opened #5478 "Add analytics code per-version using a config file"
This is currently a per-project option currently.

Ref https://github.com/rtfd/readthedocs.org/pull/5459#discussion_r266131947

My doubt about this: Don't people use just one analytics code per site? And also, isn't a way of identify each page from analytics?

Also, one good thing is people changing their analytics code over time.

[2019-03-18 16:05] stsewd commented on #3689
I'm not really sure that we use that at all, fighting spam is hard, and the description field is helping to have more space for spam, that's one reason why we want to remove it too :)

[2019-03-18 16:06] ericholscher commented on #3784
My initial thoughts around this were mostly for search. Mostly:

* It would be cool to be able to create custom search indexes of arbitrary sets of projects
  - Those could then be exposed to other users, or just used for yourself

Thinking more about this, I agree there's a few similar but overlapping ideas:

* My original idea, which is a user feature
* A similar idea to my original, but adding

[2019-03-18 16:09] stsewd commented on #5477
Please see https://github.com/rtfd/readthedocs.org/issues/5385#issuecomment-468860491

[2019-03-18 16:40] stsewd commented on #5474
This is a compatibility problem with the mkdocs version that is installed by default.

You can use a version compatible with python 3.7 https://docs.readthedocs.io/en/stable/guides/specifying-dependencies.html or just downgrade to 3.6

I can't give you a functional example of the config, because I don't know the current settings of your project.

But you need something like this

[code]

[2019-03-18 16:42] MikeTheWatchGuy commented on #5474
What goes into the mkdocs.yml file?

[2019-03-18 16:45] humitos opened #5480 "Make /random/ path works"
Currently hitting https://readthedocs.org/random/ produces 502 and hitting https://readthedocs.org/random/pip/ may return a `.js` file or a non `.html` file which is not useful.

We need to fix it and return always return a HTML file. For this, we could use the model `HTMLFile`.

[2019-03-18 16:50] MikeTheWatchGuy commented on #5474
Making progress?

I added your .yml file and I added a mkdocs one with my docs listed.  Now I'm getting this error:

![image](https://user-images.githubusercontent.com/13696193/54547526-47bf4300-497c-11e9-8a4c-b09a691575cd.png)

[code]

[2019-03-18 16:51] saadmk11 commented on #5480
working on it :)

[2019-03-18 16:52] stsewd commented on #5474
So, I saw your builds, your latest successful build was using Sphinx https://readthedocs.org/projects/pysimplegui/builds/8767815/, then it changed to build witch mkdocs.

You can read our guides to start with sphinx using markdown https://docs.readthedocs.io/en/stable/intro/getting-started-with-sphinx.html

or using markdown out of the box with mkdocs https://docs.readthedocs.io/en/stable/intro/ge

[2019-03-18 16:55] stsewd commented on #5474
This "magic" is removed when using a configuration file, because there was a lot of confusion.

The other problem looks like something else, I'll take a look soon

[2019-03-18 16:57] MikeTheWatchGuy commented on #5474
Yea, that Sphinx test was kinda invalid.  100% of my docs are markdown.

But it appears I've missed the links you've provided earlier.  I was searching last night for tools to convert mkdown to sphinx but came up empty.

I did manage to create a standalone HTML version, but this is not at all what I want because I had to hand build it.

Previously I LOVED readthedocs!  I mean, it did everything I

[2019-03-18 17:15] stsewd commented on #5474
I saw the problem, your `mkdocs.yml` file isn't valid. You should use the one that is generated by mkdocs https://www.mkdocs.org/#getting-started `mkdocs new .`

But, there is a bug, we are failing with a generic error instead of pointing the user the error. I'm creating a new issue about that.

We still do that, we only need to update the default version of mkdocs that is installed when the users

[2019-03-18 17:22] stsewd opened #5481 "Validate dict when parsing the mkdocs.yml file"
https://github.com/rtfd/readthedocs.org/blob/429126503822056f2e1278461cdf655637035897/readthedocs/doc_builder/backends/mkdocs.py#L90

This function doesn't always return a dict, and we expect a dict in the code. We need to show an appropriated error to the user.

This check should be something similar to https://github.com/rtfd/readthedocs.org/blob/429126503822056f2e1278461cdf655637035897/readthed

[2019-03-18 17:23] stsewd commented on #5474
Looks like the only required setting for mkdocs is

[code]
https://www.mkdocs.org/user-guide/configuration/

[2019-03-18 17:24] saadmk11 commented on #5481
I would like to work on this

[2019-03-18 17:34] MikeTheWatchGuy commented on #5474
I ran the `mkdocs new` and it generated that yml file.  I'm afraid to change anything in it because....

## It's working!!!!!

![image](https://user-images.githubusercontent.com/13696193/54550442-645e7980-4982-11e9-997e-59721e7893cf.png)

### THANK YOU SO very much!

Man, I cannot thank you enough for your time.  I know it's tedious to step a newbie through something like this, but you spent the t

[2019-03-18 17:44] stsewd commented on #5474
Don't worry, it helps us to identify where to put better docs, and also I just discovered a bug in the meantime :)

[2019-03-18 17:47] MikeTheWatchGuy commented on #5474
Yea, well, I know what it's like to support users through my project and it takes time and patience, both of which you showed lots of.  It doesn't go unnoticed by most people has been my experience.  If I could 'tip' you I would.  Can I tip you? 😏

[2019-03-18 17:48] #5127 closed

[2019-03-18 17:59] #5467 closed

[2019-03-18 18:13] MikeTheWatchGuy commented on #5474
Can I ask one more question?

I tried previously to have PDF files built in addition to the html.  What ended up happening is that a PDF from August was the only thing shown to users to download.

So, I'm trying once again to get a PDF file generated.  I have this setting checked in the Advanced Settings:
![image](https://user-images.githubusercontent.com/13696193/54553092-d5ecf680-4987-11e9-95d3-

[2019-03-18 18:26] stsewd commented on #5474
When you use mkdocs, we don't generate PDFs, that's a downside of mkdocs itself https://github.com/rtfd/readthedocs.org/issues/1939.

What you are seeing is the PDF that was generated when you were using Sphinx, we are not cleaning those old PDFs when changing from sphinx to mkdocs https://github.com/rtfd/readthedocs.org/issues/4764

[2019-03-18 18:54] MikeTheWatchGuy commented on #5474
Again you come to my rescue!!

OK, one last one?

In my readme file, I have links to other documents that are on readthedocs.  My Cookbook is an example.

My Readme File has this address:
https://pysimplegui.readthedocs.io/cookbook/
which  now gives me a 404 error.

But when I access the cookbook from readthedocs using the tab at the top of the page, I get this address
https://pysimplegui.readthed

[2019-03-18 18:55] #5436 closed

[2019-03-18 18:55] #1556 closed

[2019-03-18 18:55] #4454 closed

[2019-03-18 18:57] #5465 closed

[2019-03-18 19:04] stsewd commented on #5474
The firs address https://pysimplegui.readthedocs.io/cookbook/ is when you set your project with this option https://docs.readthedocs.io/en/stable/single_version.html

It is used when you don't need versioning your docs.

[2019-03-18 19:05] dojutsu-user commented on #3784
@ericholscher
For the UI/UX, we can use the existing styles for maintaining the consistency.

Wouldn't it create too many redundant indexes, like many users can have collections of different names but have same project in their collection?

Also thanks for the clarification. I was having the doubt about whether this will this remain as an idea or not.

[2019-03-18 19:07] MikeTheWatchGuy commented on #5474
Dude, you're on FIRE!

I found the "single version" setting, checked it, and *POOF* all of my links start working again.

You're my hero!

[2019-03-18 19:22] dojutsu-user opened #5484 "Integrate elasticsearch in django admin panel"
RTD hosts millions of documentation, each documentation have many versions and each version have many builds.
Searching through it is slower with sql queries.
Elasticsearch can be used to speed up the search in the admin panel.

The workflow can be something like this -
- Enter the search term in the search bar
- That term is used to query from elasticsearch which gives the relevant `ids` of the m

[2019-03-18 19:25] humitos commented on #5477
I think we should add a note/comment/warning in our developers guide that talks about how to start because it's our official guide to start contributing and all new contributors will hit this issue.

This won't be fixed in our project until we upgrade our Django version.

[2019-03-18 19:31] saadmk11 commented on #5477
@humitos we can add a warning pointing the user to the ticket and also provide them with the fix.

[2019-03-18 19:42] #5414 closed

[2019-03-18 20:29] agjohnson commented on #3784
@dojutsu-user When we say we're not sure of the UX, we're more concerned about how users interact with and use the feature at this stage, not necessarily the styles/css/or technical implementation.

@ericholscher agreed that we are discussing many different core feature sets here.

Collections as a reader user feature has me thinking instead about a third party project that interacts with our API,

[2019-03-18 20:30] ericholscher commented on #5441
This is now deployed. Please let me know if it's working better. 👍

[2019-03-18 20:31] davidfischer commented on #5458
This is fixed and deployed. https://readthedocs.org/projects/htcondor/versions is still a little slow, but it shouldn't timeout now.

[2019-03-18 20:31] webknjaz commented on #5441
@ericholscher tested a few minutes ago. It's very responsive now. Great work!

[2019-03-18 20:51] WoLpH commented on #5441
Yes! Finally works again for me The site simply gave up after trying for 15 minutes this afternoon.

[2019-03-18 21:34] skirpichev commented on #1556
@ericholscher, you closed this issue.

Unless I misunderstood something, new feature (from #5437) is not working on the https://readthedocs.org/, it may be enabled only for custom installations.

If so, I don't think the original issue was solved.  Or this is closed as "will not fix" and the https://readthedocs.org/ will never support xelatex?

[2019-03-18 21:56] krzychb commented on #353
@humitos I was just looking for custom 404 page support.
Thank you for this extension :+1:

Separate thanks to @bdarnell for his foresight requesting this feature :smiley:

[2019-03-18 22:22] webknjaz opened #5488 "Builds page returns 502"
## Details

* Read the Docs project URL: https://tutorial.octomachinery.dev
* Build URL (if applicable): https://readthedocs.org/projects/octomachinery-bot-tutorial/builds/
* Read the Docs username (if applicable): webknjaz

## Expected Result

I see a list of builds

## Actual Result

**502 - Web server received an invalid response while acting as a gateway or proxy server.**

**There is a proble

[2019-03-18 22:28] stsewd commented on #5488
It looks ok now, we saw some timeouts ~5 minutes ago

[2019-03-18 22:33] webknjaz commented on #5488
I was able to see builds page and trigger a new build a minute ago and then when I opened https://readthedocs.org/projects/octomachinery-bot-tutorial/builds/ I saw 502 again.
So I think the issue is still there.

Also, it didn't autobuild the commit from two hours ago https://github.com/sanitizers/github-bot-tutorial/commit/ea87e719fcd0ff5a88b46ed47ad954c806430a53, this is the reason I went to see

[2019-03-18 22:36] stsewd commented on #5488
Ok, I'm seeing the issue again, the problem is the whole site, not just the build page.

[2019-03-18 22:39] stsewd commented on #5488
Hopefully this is going to get resolved in some minutes.

[2019-03-18 22:40] webknjaz commented on #5488
Okay, I was able to open the page once and now it's 502 again...

[2019-03-18 22:42] webknjaz commented on #5488
I've managed to catch 502 on the front page as well...

[2019-03-18 22:43] webknjaz commented on #5488
Alright... Works again, seems pretty responsive.

[2019-03-18 22:53] webknjaz commented on #5488
FTR it still works for me. I think this can be closed now.

[2019-03-18 22:53] #5488 closed

[2019-03-18 22:53] stsewd commented on #5488
Yes, this was solved in the operations level

[2019-03-18 22:54] webknjaz commented on #5488
@stsewd thanks!

[2019-03-18 22:58] WoLpH commented on #1899
The timing out is now fixed luckily :)
https://github.com/rtfd/readthedocs.org/issues/5441

But it's definitely not ideal for people like me with too many repos. Even when just looking through my own repos I've got 14 pages to browse through. I think that even a simple `repo_name__istartswith` would be more than sufficient. Assuming that in the case of this repo it would search in the `readthedocs

[2019-03-19 04:23] stevepiercy commented on #1556
I followed this issue in hopes that it would resolve https://github.com/Pylons/pyramid/issues/3290. Although #5437 was merged, this issue was not resolved, unless I have missed some configuration or other user-configurable option. Should I open a new issue or is there another that I should follow?

[2019-03-19 05:11] stsewd commented on #1556
Please see https://github.com/rtfd/readthedocs.org/pull/5453

[2019-03-19 07:11] skirpichev commented on #1556
@stsewd, it seems - it's impossible to use xelatex on the readthedocs.org, I don't think your reference to #5453 could help.  For example, I set latex_engine="xelatex" in `conf.py`, but rtfd still uses pdflatex: [see failed build](https://readthedocs.org/projects/diofant/builds/8775797/).

[2019-03-19 08:14] rshrc commented on #5484
I would like to work on this, but would require some assistance

[2019-03-19 08:17] dojutsu-user commented on #5484
Hi @rshrc.
Thanks for your interest in contribution.
This issue requires knowledge of Elasticsearch.
Also, this needs to get approval of the core team before any work can be done on this.

[2019-03-19 08:24] rshrc commented on #5484
I've worked with Elasticsearch before but when I looked up integration of the same with the admin, I did not find a lot of material or documentation. Is there any kind of reference that might help?

[2019-03-19 08:26] dojutsu-user commented on #5484
@rshrc
We should wait for the core team to approve this and then we can discuss on its implementation details.

[2019-03-19 08:37] dojutsu-user commented on #3784
@agjohnson
Thanks for the explanation.

I still have some doubts though.

* > Collections as a reader user feature has me thinking instead about a third party project that interacts with our API, instead of an RTD feature.

    Is this going to be a completely different project interacting with the RTD API ? If yes, this can be implemented with ReactJs.

* > This could potentially be controlled by

[2019-03-19 09:15] humitos commented on #1556
The issue was closed automatically because the PR was merged.

If you want to test/try this new feature in your project, please open a new issue asking to enable `USE_PDF_LATEXMK` (https://docs.readthedocs.io/en/latest/guides/feature-flags.html)

Thanks!

[2019-03-19 09:57] skirpichev opened #5494 "Please enable USE_PDF_LATEXMK flag for the diofant project"
It [seems](https://github.com/rtfd/readthedocs.org/issues/1556#issuecomment-474258894), there should be a separate request to enable this new feature per project, so here it is.  Project URL: https://diofant.readthedocs.io/.

N.B.  pdf docs are build on Travis-ci with the following font packages installed:
[code]
I hope, rtfd environment has above stuff, but could you first - check that?

Thank yo

[2019-03-19 09:57] skirpichev commented on #1556
Ok, thank you for the explanation, see  #5494.

[2019-03-19 12:27] humitos commented on #5494
I enabled the feature flag in your project.

`lmodern` is not installed in our build environment, though. I'm not sure that we will able to install it soon since we use Ubuntu 18.04 and it seems that it's only available in 18.10 (https://packages.ubuntu.com/search?keywords=lmodern&searchon=names&suite=cosmic&section=all)

You may probably need to change your font or similar. Although, in that case

[2019-03-19 12:57] saadmk11 commented on #5480
@humitos  I changed the Model to `HTMLFile` but I wasn't able to reproduce the error you talked about on `/random/ ` page. Can you tell me how I can reproduce the Error?

[2019-03-19 13:32] skirpichev commented on #5494
Thank you.  Unfortunately, it [doesn't work](https://readthedocs.org/projects/diofant/builds/8779140/).  It seems, xindy wasn't installed. But you have an issue #5476.

I'll play around a little more trying to use makeindex instead of xindy

Hmm, perhaps I use some wrong Ubuntu 18.04:
https://packages.ubuntu.com/search?suite=bionic&searchon=names&keywords=lmodern

I doubt this will work.

[2019-03-19 13:32] #5480 closed

[2019-03-19 13:54] skirpichev commented on #5494
With makeindex - pdf file was created and looks ok.

But it seems I have found another problem.  Building of the pdf was enabled in the `.readthedocs.yml`.  Yet, after this - no links to this build artifact was displayed, until I turn on "Enable PDF build" checkbox in the web-interface.  Should I create an issue, or there is one (which I fail to find)?

[2019-03-19 13:57] dojutsu-user commented on #1440
@humitos
I think this issue can be closed.

[2019-03-19 14:20] humitos commented on #5494
You are right. My query on the Ubuntu packages was wrong. I will add `lmodern` to our build environment --although, it won't be deployed _soon_. It may take some weeks: https://github.com/rtfd/readthedocs-docker-images/pull/99

Yes. Please. I thought I also saw this problem while debugging.

I'm thinking on closing this issue. Is there any else actionable here?

[2019-03-19 14:26] humitos commented on #1440
Closing. More info at https://github.com/rtfd/readthedocs.org/pull/5403

[2019-03-19 14:26] #1440 closed

[2019-03-19 15:00] #5494 closed

[2019-03-19 15:10] skirpichev opened #5497 "Build artifacts aren't available, if non-html formats turned on in readthedocs.yaml"
See [this](https://github.com/rtfd/readthedocs.org/issues/5494#issuecomment-474380581).

Building of the pdf was enabled in the `.readthedocs.yml` and this artefact was created. Yet, after this - no links to this file was displayed, until I turn on "Enable PDF build" checkbox in the web-interface of the [diofant](https://readthedocs.org/dashboard/diofant/) project.

At least, checkboxes "Enable XY

[2019-03-19 15:11] skirpichev commented on #5494
Thank you, closed.  #5497 created to track the last problem.

[2019-03-19 15:29] ZeyadYasser commented on #2251
Seems like nobody is working on this, I will start working on it.

[2019-03-19 15:48] kwshaw1 opened #5498 "Can't login to account"
## Details

A few months ago I created an account for the content shown at https://pi-spec-test.readthedocs.io/en/latest/, but now I can’t get back into that account. Maybe I don't have the correct user name, because when I try to log in with what I think are correct credentials I get new account setup. Can you send me the login name associated with the content mentioned above, or provide other in

[2019-03-19 15:49] stsewd commented on #5498
This is the current owner https://readthedocs.org/profiles/kwshaw1/

[2019-03-19 15:52] kwshaw1 commented on #5498
Thanks, I was now able to reset the password and log in.

-      Kevin

From: Santos Gallegos [mailto:notifications@github.com]
Sent: Tuesday, March 19, 2019 8:50 AM
To: rtfd/readthedocs.org <readthedocs.org@noreply.github.com>
Cc: Shaw, Kevin W <kevin.w.shaw@intel.com>; Author <author@noreply.github.com>
Subject: Re: [rtfd/readthedocs.org] Can't login to account (#5498)

This is the current owner

[2019-03-19 15:53] dputhier opened #5499 "Build time out"
## Details

* Read the Docs project URL: https://readthedocs.org/projects/pygtftk
* Build URL (if applicable): https://readthedocs.org/projects/pygtftk/builds/8780238/
* Read the Docs username (if applicable): dputhier

## Expected Result

* Build pass

## Actual Result

* Issue with time out.

Hello,
Our python package, pygtftk, requires the installation of several external dependencies through c

[2019-03-19 15:58] #5498 closed

[2019-03-19 16:12] stsewd opened #5500 "Point users to use the latest configuration file from the build page"
We can tell the build used a config file and which version, so we can put a warning so users can migrate to the latest config file or use one if they are not using one.

![Screenshot_2019-03-19 nox Read the Docs](https://user-images.githubusercontent.com/4975310/54622585-d5ac3400-4a37-11e9-9f18-87ba252816bb.png)

[2019-03-19 19:44] stevepiercy opened #5503 "Pyramid docs PDF version fails to build"
## Details

Per https://github.com/rtfd/readthedocs.org/pull/5453#issuecomment-474279358 I have opened this issue. This is the `master` branch of Pyramid.

Note that I install extra xelatex packages. I don't know if that is relevant. The build error appears to be because it cannot find

Please let me know what I can do to troubleshoot. Thank you!

* Read the Docs project URL:

https://readthedocs.

[2019-03-19 20:55] appellj opened #5504 "Build failure"
## Details

* Read the Docs project URL: https://readthedocs.org/projects/writing-fundamentals-guide/
* Build URL (if applicable): https://readthedocs.org/projects/writing-fundamentals-guide/builds/8781987/
* Read the Docs username (if applicable): appellj

## Expected Result
Successful build

## Actual Result
Getting the following error:

Error
There was a problem with Read the Docs while buildin

[2019-03-19 21:16] stsewd commented on #5504
Your latest build is working, looks like you were experimented the same problem as #5332

[2019-03-19 21:22] #5497 closed

[2019-03-20 06:39] ZeyadYasser commented on #2251
As @safwanrahman said `send_notifications` is already a task and is called asynchronously, I think it would be sufficient to adjust it so it only sends emails if the build fails, and just use it for other states (queued, running, failed, succeeded).
https://github.com/rtfd/readthedocs.org/blob/master/readthedocs/projects/tasks.py#L1352-L1365
Please correct me if I am wrong.

[2019-03-20 07:18] cjw296 opened #5506 ".readthedocs.yaml not being used"
## Details

* Read the Docs project URL: https://readthedocs.org/projects/testfixtures/
* Build URL (if applicable): https://readthedocs.org/projects/testfixtures/builds/8783893/
* Read the Docs username (if applicable): chris@python.org

## Expected Result

I'm trying to move this project from the web config interface to using `.readthedocs.yaml`, I've added the config file and configured it to d

[2019-03-20 07:33] Korijn commented on #2251
Sounds good to me?

[2019-03-20 10:17] humitos commented on #5503
Hi @stevepiercy! The problem is that you are using `xindy` and we don't support it yet. It's failing because it's not installed in our environment. See #5476.

`latex_use_xindy` is setup to `False` by default on Read the Docs right now until we support it. It seems you are set it to `True` at some point. Actually, because it's the default behavior when using `xelatex`

http://www.sphinx-doc.org/en

[2019-03-20 10:35] stevepiercy commented on #5503
@humitos thanks for the tip. Tried again with that setting, and the [PDF version of the docs built successfully](https://readthedocs.org/projects/pyramid/builds/8784843/). 🎆 🍾 🍻

Once #5507 is merged, then I should remove the setting, correct?

[2019-03-20 12:50] humitos commented on #5503
It's the same. I won't change anything.

You should remove it if you really want your PDF to build using `xindy`, but it doesn't seem needed for your project.

[2019-03-20 12:52] #5503 closed

[2019-03-20 15:09] astrofrog opened #5508 "Out of date warning about web hooks"
Since the end of last year, I've seen warnings about the change in the web hooks behavior. I've updated all my projects to the new way of dealing with hooks and they are all building fine but I still see the same warnings when I log in to RTD. Is there any way to remove these?

<img width="841" alt="Screenshot 2019-03-20 at 16 04 09" src="https://user-images.githubusercontent.com/314716/54695523-6

[2019-03-20 15:34] stsewd commented on #5508
You can remove them by clicking the links (middle click doesn't work)

[2019-03-20 15:43] #5433 closed

[2019-03-20 15:51] humitos commented on #5474
@MikeTheWatchGuy Yes! You can become a Gold User at https://readthedocs.org/accounts/gold/subscription/ :smile:

[2019-03-20 15:58] humitos commented on #5484
@dojutsu-user Hi! I'm not really sure to understand the benefits of using ES on the Admin (Django Admin, I understand, right?). Let me know if I'm wrong.

We currently use the Django Admin only for administration purposes, like changing a slug for a project or a version. Look up for a user and give more permissions, and things like that. How are you thinking to connect ES on these cases?

[2019-03-20 15:59] stsewd commented on #5506
I'm going to investigate a little more here, at first sight seems like you have a valid config file.

[2019-03-20 16:04] dojutsu-user commented on #5484
@humitos
Elasticsearch can just improve the speed of lookups of versions, user and other things.
But, I think that RTD is not "heavily" dependent on django admin as per your comment above, so this will be just extra code without gaining much output.

[2019-03-20 16:13] #5484 closed

[2019-03-20 16:33] stsewd commented on #5506
I think there is a syntax error here

https://github.com/Simplistix/testfixtures/blob/5b0857f125d15a5f4b5b120bede6e0e1934f7ebc/.readthedocs.yml#L7-L8

The indentation is wrong.

But instead of showing that error to the user, we are defaulting to create our own config file, I think showing the error should be the way to go, instead of trying to fix it magically.

[2019-03-20 16:38] cjw296 commented on #5506
Ah, nice spot! Yes, showing the error would definitely save lots of work all round :-)

[2019-03-20 16:39] stsewd commented on #5506
I'm going to fix the bug around not showing the correct message to the user, but fixing the indentation should make your project pass.

[2019-03-20 16:45] cjw296 commented on #5506
yaml fix worked, thanks: https://readthedocs.org/projects/testfixtures/builds/8786855/

[2019-03-20 16:49] MikeTheWatchGuy commented on #5474
That's one expensive 'tip', but, what the heck, **_I signed up_**.  You got me through several days of icky debugging of stuff I didn't/don't understand (ok, maybe a little better now).

You guys provide such a crucial service for me.  I get comments every week, almost daily, and one of the things that's often brought up are my docs.  Users claim they chose PySimpleGUI specifically because of thos

[2019-03-20 17:37] agjohnson commented on #5321
Cool. I'm not sure exactly how these attributes are structured yet, as there are some competing values there perhaps. Like, any value of `hidden` doesn't make sense when we have `live=False`.

Any opinions here?

[2019-03-20 17:56] remram44 commented on #5351
Today I noticed that my repository list was updated (showing thousands of repository because I'm in conda-forge) but still clicking on the refresh button shows:

[2019-03-20 18:01] stevepiercy commented on #5503
Thank you to everyone who worked on this beast. PDFing is *hard*.

[2019-03-20 19:20] JiaweiZhuang opened #5512 "Allow `pip install --no-deps` to meet the dependencies for Sphinx autodoc"
## Details

* Read the Docs project URL: https://readthedocs.org/projects/xesmf
* Build URL (if applicable): https://readthedocs.org/projects/xesmf/builds/8484627/
* Read the Docs username (if applicable): zhuangjw

## Problem

I am using [Sphinx-autodoc](http://www.sphinx-doc.org/en/master/usage/extensions/autodoc.html) to generate API docs for [my Python package](https://github.com/JiaweiZhuang/

[2019-03-20 20:18] AakankashaNarayanSharma1 commented on #5439
Hi. I am trying to push the changes but am getting the error
remote: Permission to rtfd/readthedocs.org.git denied to AakankashaNarayanSharma1.
fatal: unable to access 'https://github.com/rtfd/readthedocs.org.git/': The requested URL returned error: 403
please help me in resolving this as this is my first commit. Thanks

[2019-03-20 20:44] stsewd commented on #5439
Sorry, this is fixed by https://github.com/rtfd/readthedocs.org/pull/5510, it solves two problems, didn't realize of this issue.

@AakankashaNarayanSharma1 looks like you are pushing to the main repo instead of your fork. I recommend you to read about remotes in git.

[2019-03-20 20:49] bpeake-illuscio commented on #5265
Hello -- just wanted to check back since I am still unable to build our docks. Thanks again to you all for looking into this.

[2019-03-20 20:55] stsewd commented on #5512
I don't think we are going to add more options for pip, sorry. One solution that comes to my mind is make use of the `READTHEDOCS` env variable https://docs.readthedocs.io/en/stable/faq.html#how-do-i-change-behavior-for-read-the-docs in your setup.py file.

[2019-03-20 20:56] stsewd commented on #5512
And if you need some dependencies, you can just create a custom requirements file only for your  docs.

[2019-03-20 23:02] appellj commented on #5504
Weird! Nothing changed in my files, so I don't know why it started working. Thanks!

[2019-03-20 23:02] #5504 closed

[2019-03-21 00:01] JiaweiZhuang commented on #5512
@stsewd Thanks for the suggestion! I tweaked `setup.py` so that:

[code]
(https://github.com/JiaweiZhuang/xESMF/commit/5ce3364bfbd3081aad848c5cf4ac54a287ca236e)

Feels a bit hacky but does solve the problem. Thanks again.

[2019-03-21 00:01] #5512 closed

[2019-03-21 08:35] basnijholt opened #5515 "Documentation is loaded very slowly"
## Details

* Read the Docs project URL: https://adaptive.readthedocs.io/en/latest/docs.html#examples
* Build URL (if applicable): https://readthedocs.org/projects/adaptive/builds/8787274/
* Read the Docs username (if applicable): `basnijholt`

## Expected Result

The page/documentation to load quickly.

## Actual Result

Loading [this](https://adaptive.readthedocs.io/en/latest/docs.html#examples)

[2019-03-21 09:16] humitos commented on #5474
Thanks @MikeTheWatchGuy! My next beer will be in your name :wink:

Keep documenting with us :heart:

[2019-03-21 10:28] astrofrog commented on #5508
Ah great, thanks!

[2019-03-21 10:28] #5508 closed

[2019-03-21 10:33] paulmeems-waterwatchfoundation commented on #3203
I know this issue is closed, but I'm facing the same problem.
Not sure if I should create a new issue.

My project: http://datastandard.globalcoffeeplatform.org
The 'Edit on GitHub' points to
https://github.com/globalcoffeeplatform/CoffeeDataStandard/blob/origin/master/docs/source/index.rst
but it should point to
https://github.com/globalcoffeeplatform/CoffeeDataStandard/blob/master/docs/source/in

[2019-03-21 10:59] humitos commented on #5494
Hey @skirpichev! Where you able to build your PDF _without_ using `lmodern` in the end or this was not a problem when building your PDF on RTD? Thanks!

[2019-03-21 11:24] skirpichev commented on #5494
Yep, sorry.  Perhaps, fonts-lmodern was installed on your system.  This variant also works.

[2019-03-21 11:55] ericholscher commented on #5515
This page is incredibly large, how much data are you trying to serve before the page is rendered?

[2019-03-21 14:04] smk508 opened #5516 "Request to increase memory limits for project fireworks-ml"
## Details

* Read the Docs project URL: fireworks.readthedocs.io
* Build URL (if applicable): https://readthedocs.org/projects/fireworks/builds/8791197/
* Read the Docs username (if applicable): smk508

## Expected Result

Documentation build.

## Actual Result

The build gets cancelled because of excessive memory consumption. This always happens when it tries to pip install torch (pytorch). I ha

[2019-03-21 15:25] #5439 closed

[2019-03-21 15:25] #5506 closed

[2019-03-21 15:29] paulmeems-waterwatchfoundation opened #5518 "Link to GitHub include 'origin' and thus are broken"
## Details
I'm facing the same problem as mentioned in #3203
That issue is closed.

* Read the Docs project URL: http://datastandard.globalcoffeeplatform.org
* Build URL (if applicable): https://readthedocs.org/api/v2/build/8790271.txt
* Read the Docs username (if applicable):

## Expected Result
I expect the 'Edit on GitHub' to be
https://github.com/globalcoffeeplatform/CoffeeDataStandard/blob/ma

[2019-03-21 15:31] stsewd commented on #5515
Loading all those interactive graphics make the page slow, I don't think we can do something about that.

[2019-03-21 15:33] stsewd commented on #5516
Do you really need pytorch to build your docs?

[2019-03-21 15:51] smk508 commented on #5516
I need pytorch to build the package itself, and without that, the autodoc functionality doesn't work. The documentation that I currently have is generated by not having anything in my doc-requirements.txt; this generates everything except for the detailed API reference automodule stuff because it can't import the package itself.
If there's a way to get automodule to work without this issue, then I

[2019-03-21 16:15] stsewd commented on #5518
I'm not really sure why we put the `origin` there, but you can solve this problem in the meantime going to your project's advanced settings, the `default branch` setting will be filled with `master`, you just need to change it to `blank` (which is basically the same as master) and click `save`.

[2019-03-21 16:27] paulmeems-waterwatchfoundation commented on #5518
Thanks @stsewd your workaround works.

[2019-03-21 16:36] humitos commented on #2551
I'm marking this issue as Accepted since the extension that I added to our docs that generates nice 404 pages like https://docs.readthedocs.io/en/latest/notfound it's not the default behavior and needs customization from the author.

So, this issue is still valid and we will eventually need to do more work here to have a better default 404 page.

[2019-03-21 17:23] WoLpH commented on #2551
Indeed. Ideally it should show search results that match your page

[2019-03-22 02:55] stsewd commented on #5518
Looks like we are mixing some fields when saving the versions

https://github.com/rtfd/readthedocs.org/blob/5ed7677e864360b10b9f2d0efbf2b22ac8af354c/readthedocs/builds/models.py#L180-L185

[2019-03-22 12:32] #5500 closed

[2019-03-22 13:11] DiogoMarques29 opened #5524 "Owner change: wagtail-modeltranslation"
## Details

* Read the Docs project URL: https://readthedocs.org/projects/wagtail-modeltranslation/
* Build URL (if applicable): https://wagtail-modeltranslation.readthedocs.io/en/latest/
* Read the Docs username (if applicable):  InfoPortugal

## Expected Result
I would like to require the ownership of the RTD project as the current owner is not a main committer of the github repo.

## Actual Res

[2019-03-22 13:52] xwy27 opened #5525 "Improve installation guide suggestion"
## Details

As a windows user, when following the [installation guide](https://docs.readthedocs.io/en/latest/install.html) for Other OS: `source venv/bin/activate`, I get the error output for no source command and no such directory.

## Expected Result

1. Virtual environment is activated.
1. The active file is in `\venv\bin\` folder

## Actual Result

1. Error occurs.
1. The activate file is in `

[2019-03-22 14:11] stsewd commented on #5525
Actually, RTD doesn't run on Windows, we use symbolic links and other unixlike commands. I think there is a way of using something like that on Windows, but I don't think it will work with the default cmd/powershell

[2019-03-22 14:52] xwy27 commented on #5525
Ops, I see that. It works rendering the index page, but could not work for other fucntions.

[2019-03-22 15:05] #5525 closed

[2019-03-22 15:25] #5413 closed

[2019-03-22 15:31] stsewd commented on #5525
We still can have some notes for windows users, like using the linux subsystem could work, but I don't have experience with that.

[2019-03-22 15:45] xwy27 commented on #5525
Actually, windows provides WSL(windows subsystem for linux) to match the requirement of running native Linux command-line tools directly on Windows. I'm trying to find whether it could works if RTD runs in the WSL and is retrieved in windows browser. I would post the result later.

[2019-03-22 15:53] zxiiro opened #5526 "Set no shallow clone option for lf-releng-common-packer"
## Details

* Read the Docs project URL: https://readthedocs.org/projects/lf-releng-common-packer/

We're running into issues caused by #5031 shallow cloning since we use a tool called reno to generate release notes from git commits. Please disable shallow clone for this project.

## Expected Result

Reno is able to execute in RTD with access to the full git repo.

## Actual Result

Reno blows up

[2019-03-22 15:53] zxiiro opened #5527 "Set no shallow clone option for lf-releng-global-jjb"
## Details

* Read the Docs project URL: https://readthedocs.org/dashboard/lf-releng-global-jjb/

We're running into issues caused by #5031 shallow cloning since we use a tool called reno to generate release notes from git commits. Please disable shallow clone for this project.

## Expected Result

Reno is able to execute in RTD with access to the full git repo.

## Actual Result

Reno blows up du

[2019-03-22 15:54] zxiiro opened #5528 "Set no shallow clone option for lf-releng-tools"
## Details

* Read the Docs project URL: https://readthedocs.org/projects/lf-releng-tools/

We're running into issues caused by #5031 shallow cloning since we use a tool called reno to generate release notes from git commits. Please disable shallow clone for this project.

## Expected Result

Reno is able to execute in RTD with access to the full git repo.

## Actual Result

Reno blows up due to m

[2019-03-22 15:55] zxiiro opened #5529 "Set no shallow clone option for lfdocs-conf"
## Details

* Read the Docs project URL: https://readthedocs.org/projects/lfdocs-conf/

We're running into issues caused by #5031 shallow cloning since we use a tool called reno to generate release notes from git commits. Please disable shallow clone for this project.

## Expected Result

Reno is able to execute in RTD with access to the full git repo.

## Actual Result

Reno blows up due to missi

[2019-03-22 15:59] stsewd commented on #5526
Thanks, someone will put the flag soon.

Just a note, you can request several projects for the flag in the same issue, no need to create one issue per project.

[2019-03-22 16:15] zxiiro commented on #5526
Good to know. I'll keep that in mind for future requests. Thanks!

[2019-03-22 17:51] ZeyadYasser commented on #2251
While working on this I faced a design issue.
[Github's build status](https://developer.github.com/v3/repos/statuses/#create-a-status) webhook url depends on the sha of the commit
e.g. `https://api.github.com/repos/:owner/:repo/statuses/:sha`
so the user will not be able to supply it as webhook in the settings of his project as it might vary from build to build.
I found that the case is similar wi

[2019-03-22 18:15] davidfischer commented on #5526
I set the flag. Please reopen if you encounter any issues.

[2019-03-22 18:15] #5526 closed

[2019-03-22 18:15] davidfischer commented on #5529
I set the flag. Please reopen if you encounter any issues.

[2019-03-22 18:15] #5529 closed

[2019-03-22 18:15] davidfischer commented on #5528
I set the flag. Please reopen if you encounter any issues.

[2019-03-22 18:15] #5528 closed

[2019-03-22 18:15] davidfischer commented on #5527
I set the flag. Please reopen if you encounter any issues.

[2019-03-22 18:15] #5527 closed

[2019-03-22 22:07] davidfischer commented on #5385
I'm using both Python and sqlite from homebrew and I was able to just switch to the older version of sqlite.

    brew switch sqlite3 3.25.2    # see the versions you have with brew info sqlite3
    # Possibly needed if you are using the latest readline as well
    brew switch readline 7.0.5    # brew info readline

After running that, I saw the following:

    echo $(python -c "import sqlite3; pr

[2019-03-22 22:08] davidfischer commented on #5477
I just wanted to add a note that I saw this same issue with sqlite 3.27.1 as well.

[2019-03-22 22:35] raulcd commented on #5477
The issue happens with `sqlite >=3.26.0`

[2019-03-22 23:00] BenMusch commented on #5385
@davidfischer  thanks I'll try that out -- haven't tried switching readline yet

[2019-03-23 05:13] xwy27 commented on #5525
Unfortunately, I've tried the WSL, but it gets the same result while RTD serving in windows.
It always returns HTTP connection error with **status code 500**. The raising error shows new connection could not be established(I search). I could not solve the problem.

Below are the error images:
![front_display_error.jpg](https://i.loli.net/2019/03/23/5c95be7a75a4c.jpg)
![back_display_error.jpg](http

[2019-03-23 05:19] saadmk11 commented on #5525
@xwy27 you need elasticsearch installed and running on your local machine to use the search functionality.

[2019-03-23 05:46] mjwen opened #5531 "C++ extension cannot be found"
## Details

* Read the Docs project URL: https://readthedocs.org/projects/kliff/
* Build URL: https://readthedocs.org/projects/kliff/builds/8803186/
* Read the Docs username: mjwen

My package needs a C++ extension that is built with `pybind11`, which is specified in `requirements.txt`. The extension is successfully built (I suppose) when  `/home/docs/checkouts/readthedocs.org/user_builds/kliff/en

[2019-03-23 07:04] xwy27 commented on #5525
@saadmk11 Yes, I found that the elasticsearch is not activate. But the error output even occur when I try to login with Github. It still has a HTTP connection error.

[2019-03-23 07:29] saadmk11 commented on #5525
@xwy27 you need to setup allauth for that. You can use ngrok for that as you need a live server for it. I would suggest importing projects manually for development or use the test data.

[2019-03-23 08:10] #4684 closed

[2019-03-23 19:32] mjwen commented on #5531
Figured it out.

I added  `sys.path.insert(0, os.path.abspath('../..'))` in `conf.py`, which results in sphinx to look for the docs in the source directory of the package. However, when executing `python ./setup.py install --force`, the built C extension will be placed in `sdist` and then copied to the virtual environment (instead of being placed in the source directory of the package), then sphin

[2019-03-23 19:32] #5531 closed

[2019-03-24 00:21] Ahleroy opened #5532 "Building issue: Asked to contact the support"
## Details

* Read the Docs project URL: https://deeplodocus.readthedocs.io/en/master/
* Build URL (if applicable):
* Read the Docs username (if applicable): AhLeroy
* Build it : 8803998

## Expected Result

I was expecting my build to succeed.

Here is my readthedocs.yml :
[code]

and my requirements.txt :
[code]
My mkdocs.yml:
[code]

## Actual Result
[code]

[2019-03-24 14:32] humitos commented on #5477
#5491 was merged but it does not provide a solution to the developer and the warning note is not 100% accurate since it could happen that even using 3.6.7 you get a wrong libsqlite version and our project won't work.

[2019-03-24 19:36] saadmk11 commented on #5477
@humitos I think we can tell the users something like this.

[2019-03-25 06:32] humitos commented on #5435
I'm fine if someone wants to work on this.

[2019-03-25 06:46] humitos commented on #5447
@strophy do you think the `changefreq` should be as it is right now? So, in your example it could be

* `stable` with `priority=1` and `changefreq=weekly`
* `latest` with `priority=0.9` but `changefreq=daily`

What do you think?

[2019-03-25 07:07] humitos commented on #5515
This is not related with loading slowly.

It transfers 7.20Mb. That's probably the problem. `docs.html` file is 6.32Mb and it includes _a lot_ of inline javascript without being minified. That's the problem to me.

[2019-03-25 09:23] humitos commented on #2968
Supporting this is not trivial since these files are served by nginx directly and does not hit the Django instance. So, at that level, we don't know what it's the default version.

In case we want to handle this, we would need to redirect `/{lang}/` requests to Django, and it will needs to return a 302 to the full path containing the default version.

[2019-03-25 09:39] strophy commented on #5447
To some extent, it depends on the current development focus. Sometimes patches are released to a stable version, which results in updates to the `stable` documentation. Other times the focus is on new features, so `latest` sees most of the updates, and beta users (testnet) are the main audience.

If it is not possible to define `changefreq` in settings or conf files, I think your proposal makes re

[2019-03-25 10:05] humitos commented on #5447
OK, thanks for the explanation.

We won't probably accept a configuration option for this. So, I prefer to go forward with my proposal considering that you also think it's reasonable for most of the projects :)

[2019-03-25 17:05] stsewd commented on #5532
Ok, I figure out, there is an error in your mkdocs config file

https://github.com/Deeplodocus/deeplodocus/blob/13d87dc9859d051a85856d546275a8c9769dfb7c/docs/mkdocs.yml#L17

The path should be relative to the mkdocs.yml file.

[2019-03-25 17:06] stsewd commented on #5532
But, we shouldn't fail like this. We can just keep going the build or raise a more specific error.

[2019-03-25 17:10] stsewd commented on #5532
We are failing here https://github.com/rtfd/readthedocs.org/blob/44951fbf8fe1fe12fa9f99f3075f87bd77188525/readthedocs/doc_builder/backends/mkdocs.py#L175-L176

[2019-03-25 17:50] Ahleroy commented on #5532
Unfortunately even by changing the path to be realtive to the mkdocs.yml we have this issue :

https://github.com/Deeplodocus/deeplodocus/blob/b1d83b285bc1a50fb884806414fb7356792a26ec/docs/mkdocs.yml#L17

[code]

[2019-03-25 18:05] stsewd commented on #5532
can you try wiping the environment? https://docs.readthedocs.io/en/stable/guides/wipe-environment.html

Also, I think I saw this problem a while ago, the thing is that pip doesn't completely install the new mkdocs when updating from 0.17.3, so the old one is used.

We are updating the default mkdocs in https://github.com/rtfd/readthedocs.org/pull/5505

If wiping doesn't work, can try with the prev

[2019-03-25 18:11] Ahleroy commented on #5532
Wiping the environment worked. The build process now finishes without any fail.
However, I cannot see the updated documentation online, only the previous built.

[2019-03-25 18:12] #2039 closed

[2019-03-25 18:17] stsewd commented on #5384
It's failing for another reason in the two latest builds, but I think it's related to time/memory consumption, see this one https://readthedocs.org/projects/mlchem/builds/8793436/

[2019-03-25 19:30] dojutsu-user commented on #5249
Working on it.

[2019-03-26 01:36] dgasmith commented on #4367
Rebuilding @Juanlu001's repo locally with `sphinx_rtd_theme:0.4.3` does not appear to work. Trying the above fixes do not appear to work either. Has something changed in the last several months that would prevent this?

[2019-03-26 07:54] dojutsu-user commented on #5249
@humitos
I was working on it and I have some doubts about this.
* Names of the environment variables can be saved in `readthedocs-environment.json` file but for which version?

* > If an environment variable is added from the Admin

    Here `Admin` is referred to project admin, i.e. this url - `readthedocs.org/dashboard/<slug>/environmentvariables/` or Django admin?

[2019-03-26 07:55] dojutsu-user commented on #4504
What needs to be done here?
I am interested in sending a PR for this.

[2019-03-26 10:19] humitos commented on #5249
Each version contains its own `.json` file.

Supposing I build `latest` today with no env vars. It succeed. Immediately after it finished, I add a env var from the admin and build `latest` again. At this point, RTD should check the env vars in the `.json` file for `latest` version and if they are different wipe the environment before building.

Consider also saving not only the names but a hash of

[2019-03-26 10:34] humitos commented on #5384
Hi @muammar, did you check this guide? https://docs.readthedocs.io/en/latest/guides/build-using-too-many-resources.html

[2019-03-26 10:47] humitos commented on #5499
Hi @dputhier! Did you check this guide https://docs.readthedocs.io/en/latest/guides/build-using-too-many-resources.html ?

Also, I checked your latest builds and it's failing because of a problem in the YAML file.

Besides, it seems you have `latest` and `master` enabled which are the same and both builds are triggering on each push to master.

[2019-03-26 10:52] humitos commented on #5524
Hi @DiogoMarques29! I sent an email to the owner following our policy: http://docs.readthedocs.io/en/latest/abandoned-projects.html

I will come back here if I don't have a reply in 6 weeks.

/remind me about take action here in 6 weeks

[2019-03-26 10:58] basnijholt commented on #4367
We had the same problems which we fixed here https://github.com/python-adaptive/adaptive/pull/168

[2019-03-26 11:04] humitos commented on #5516
I had to increase the memory to 2g, which I don't really like because it may break other builds running in the same server.

PyTorch being crazy about memory consumption is not a Read the Docs problem, but I'd like to have a general solution for this situations.

It's known in the PyTorch community this problem:

* https://discuss.pytorch.org/t/out-of-memory-error-with-pytorch-installation/18734
*

[2019-03-26 11:05] basnijholt commented on #4367
@dgasmith, we had the same problems in [Adaptive](https://github.com/python-adaptive/adaptive/).

I am not a javascript expert but we solved it in [Adaptive](https://github.com/python-adaptive/adaptive/pull/168), basically by copying [`theme.js`](https://github.com/rtfd/sphinx_rtd_theme/blob/26d6108decf99a9c79adb08bc85ad610aad778b3/js/theme.js) to `_static/js` and commenting out the first line.

I

[2019-03-26 11:07] Juanlu001 commented on #4367
Before deeming this a problem with sphinx_rtd_theme, let me repeat the tests. The ipywidgets ecosystem is evolving very fast, sometimes in a not so organic way, and perhaps there's something that broke on the other side.

[2019-03-26 11:07] basnijholt commented on #5515
Thanks a lot for the comments!

I had the suspicion of the page being throttled in some way, which doesn't appear to be true.

The solution doesn't lie with RTD, but I'll address this issue in `bokeh` where I could indeed suggest the use of minified JS.

Thanks again for the great service that you guy provide! I'll close this issue.

[2019-03-26 11:07] #5515 closed

[2019-03-26 11:13] basnijholt commented on #4367
@Juanlu001, in Adaptive we use `ipywidgets`, `plotly` and `holoviews` plots and most of them broke. I solved it by what I wrote [above](https://github.com/rtfd/readthedocs.org/issues/4367#issuecomment-476578199).

[2019-03-26 11:17] humitos commented on #5434
Hi @ivankravets! I increased your memory and triggered a build. It should pass now.

BTW, did you check this guide? https://docs.readthedocs.io/en/latest/guides/build-using-too-many-resources.html I'm not sure _why_ it uses too much memory on the Sphinx step.

Actually, please disable `htmlzip` and maybe `pdf` formats which consume _a lot_ of resources on these kind of projects. @stsewd I suppose

[2019-03-26 11:19] humitos commented on #5440
Error 247 on conda is a problem on them, not us :/

I increased the memory of your project to overcome this situation for now.

Please feel free to reopen if you consider.

[2019-03-26 11:19] #5440 closed

[2019-03-26 12:27] Juanlu001 commented on #4367
Glad to know it's working for you @basnijholt. For me, however, things look a bit more complicated because I tested several combinations of plotly and sphinx-rtd-theme with the latest versions of all the packages, including ipywidgets, and... Now nothing seems to work.

@jonmmease is reworking Plotly rendering in https://github.com/plotly/plotly.py/pull/1474, so perhaps that has the potential of f

[2019-03-26 12:34] stsewd commented on #5434
I didn't see so much gain locally inside docker, but outside it was a lot of time being reduced. So, not really sure, but it's worth it to try.

[2019-03-26 12:39] Juanlu001 commented on #4367
(Clarified previous comment with respect to alabaster)

[2019-03-26 13:34] humitos commented on #5434
Without the flag, it took 785s

https://readthedocs.org/projects/platformio/builds/8815492/

After adding the feature flag,

https://readthedocs.org/projects/platformio/builds/8816161/

[2019-03-26 13:34] dgasmith commented on #4367
@bansalnitish Your solve work great! One small addendum, we need to to add `https://cdnjs.cloudflare.com/ajax/libs/require.js/2.3.4/require.min.js` to the JS headers as well. You pick this up via holoviews, but will not work for everyone.

[2019-03-26 14:56] timgraham opened #5537 "Add 2.2.x version alias for Django docs"
## Details
- Project URL: https://readthedocs.org/projects/django/
## Request
As in https://github.com/rtfd/readthedocs.org/issues/4519, please add version 2.2.x as an alias for the stable/2.2.x branch just like have for other branches.

[2019-03-26 18:50] ivankravets commented on #5434
@humitos Thank you so much for the help. Should be something done on our side? HTML + PDF are useful formats for our developers.

[2019-03-26 19:07] humitos commented on #5434
@ivankravets OK! We are done for now. Let us know if it happens again.

[2019-03-26 19:07] #5434 closed

[2019-03-26 19:42] stsewd commented on #5532
Ok, so there is another bug here, we are generating the html artifacts, but we are expecting them to exist in other location. The problem about failing randomly is another problem, I think I know the root cause, but I can't replicate it locally.

[2019-03-26 20:59] dojutsu-user commented on #5249
@humitos
Thank you for the explanation.

[2019-03-27 00:26] stsewd commented on #5390
Also, I think of this more like an alias. Actually the name is incorrect, it should be "default version" (but we already use that name for another setting!).

I say this because, it can be a tag too.

[2019-03-27 00:26] stsewd commented on #5390
The extra origin issue is fixed in https://github.com/rtfd/readthedocs.org/pull/5523

[2019-03-27 00:27] stsewd commented on #5390
I propose _re-propossing_ this issue to change the name of this setting to something more accurate p:

[2019-03-27 01:08] ni-code opened #5541 "Request: Scroll-bar for the left hand pane menu."
* Build URL (if applicable):
http://docs.godotengine.org/en/3.1/ or other docs that have long "menus"

## Expected Result
Currently there is no visible scoll-bars in the left hand pane menu, Long menu lists can be scrolled with the mouse wheel, but it would be nice if there was a visible scroll bar, it would also help to visualize that there is more items in the menu list, than just the ones displ

[2019-03-27 01:15] stsewd commented on #5541
Thanks, this issue is part of the theme, not from rtd itself. Please subscribe to https://github.com/rtfd/sphinx_rtd_theme/issues/468

[2019-03-27 01:15] #5541 closed

[2019-03-27 01:39] craig8 opened #5543 "Build error with build id #8819304"
## Details:

* Project URL: https://readthedocs.org/projects/volttron/
* Build URL(if applicable): https://readthedocs.org/projects/volttron/builds/8819304/
* Read the Docs username(if applicable): craig8

## Expected Result

The build to work

## Actual Result

Failed in the cloning I think.  What is weird is the clone command include . as where to clone it.  That makes it fail.

![image](https:/

[2019-03-27 02:37] stsewd commented on #5543
There is an invalid submodule in your repo https://github.com/VOLTTRON/volttron/blob/58b015c1e6f62fc1cf7151f4dd44a5a81bd295e0/.gitmodules#L2

See #4371

[2019-03-27 03:00] craig8 commented on #5543
That works for me as our project shouldn't have submodules this helps me move forward!  Thank you for your help...would never have found this without you!

[2019-03-27 03:00] #5543 closed

[2019-03-27 08:58] dputhier commented on #5499
Hi humitos,
I stopped builds of both latest and master. I also checked the guide. My feeling is that building dynamically our doc is just too time consuming for the ressources provided by readthedoc server. As we cannot limit the number and size of example usages (we would like to extend the documentation...) we will go for a github page to host the doc which will be easier for us to maintained.
B

[2019-03-27 08:58] #5499 closed

[2019-03-27 09:07] humitos commented on #5499
We can increase the built time and memory if it's needed, but before doing that I needed to guide you to the first steps that can be done from your side to decrease the usage of resources if possible.

That's a pity :cry:

[2019-03-27 09:20] humitos commented on #5390
If a project doesn't have a _branch_ or _tag_ called `latest` and you select `Default branch: latest` from the admin, does not fail the build when triggering `latest`?

[2019-03-27 10:57] humitos commented on #1846
Hi everybody!

I'm re-opening and re-purposing this issue to have some actionable things.

I read the whole conversation and it seems we need different things at this point:

- [ ] documentation guide with a workaround solution to point users while this gets implemented
- [ ] research a little more about what are the proper steps (and in which order) to follow when the repository uses git-lfs

I c

[2019-03-27 11:10] humitos commented on #5524
I received a confirmation to add you as maintainer from the owner. I've already done this. Let me know if anything.

[2019-03-27 11:24] john-arcus commented on #1846
Thanks for re-opening this @humitos. I'm looking forward to seeing how it develops. :)

[2019-03-27 12:25] stsewd commented on #5390
With the current PR no, it's doesn't. A build is triggered to master or whatever alias was used

[2019-03-27 14:30] humitos commented on #5537
Hi @timgraham! I did this and triggered a build for this version at https://readthedocs.org/projects/django/builds/8822677/

The documentation will be served online at https://django.readthedocs.io/en/2.2.x/

I'm closing the issue, but feel free to let me know if something wen't wrong or anything.

[2019-03-27 14:30] #5537 closed

[2019-03-27 14:35] humitos commented on #1846
I should have mentioned that the `conf.py` file shown in my example has 5 calls to `os.system` that do the trick to support `git-lfs` in a hacky way that you can use while we implement this properly.

[code]

[2019-03-27 15:52] smk508 commented on #5516
Hey humitos,

Thanks for helping out with this. I reran the build and it's still failing with memory error.

[2019-03-27 16:06] saadmk11 commented on #5446
Hey @humitos can you tell me how should this be approached? And what needs to be changed to fix this?

[2019-03-27 19:04] stsewd commented on #3561
Yeah, we can ignore translating the warning banner for now, footer api still needs translation

[2019-03-27 19:13] stsewd commented on #3193
We already have some docs that point to the config file https://docs.readthedocs.io/en/stable/intro/import-guide.html#building-your-documentation (that guide is linked from the first steps)

Also, we suggest the config file in the import menu, advanced settings and build page.

[2019-03-27 19:13] #3193 closed

[2019-03-27 19:37] stsewd commented on #5265
I'd say it depends on what kind of data users want to put as an env variable, it could be a path file, a URL, private keys, etc. For the first two cases we are safe with 2048.

[2019-03-27 19:39] saadmk11 commented on #5265
@stsewd should I open a PR for this with 2048 max_length?

[2019-03-27 19:40] stsewd commented on #5260
Maybe it was in a github downtime or in our servers downtime. You can revisit the webhooks page (on github and rtd) to see if the webhook was correctly handled. Let's close this for now, let us know if something doesn't work.

[2019-03-27 19:40] #5260 closed

[2019-03-27 19:46] stsewd commented on #5062
Projects without these permissions are building, they just don't have the new features, they can have them by granding more permissions like is mentioned in https://docs.readthedocs.io/en/stable/webhooks.html

Closing as looks like we don't want to put new permissions without user intervention.

[2019-03-27 19:49] stsewd commented on #4932
I'm going to close this, we could revisit if there is an update from alloauth side.

[2019-03-27 19:49] #4932 closed

[2019-03-27 22:01] #5518 closed

[2019-03-27 22:02] stsewd commented on #4529
We can use `commit_name` to get the actual name instead of latest or stable

https://github.com/rtfd/readthedocs.org/blob/6341bb155e2d5e55b19540e4b6be22ea33971853/readthedocs/builds/models.py#L150-L193

But, this would mean that we will lose the `latest` and `stable` tags from this part of the theme

![Screenshot_2019-03-27 Sorteo — Sorteo 0 1 0 documentation](https://user-images.githubusercontent

[2019-03-27 22:09] muammar commented on #5384
I did. Thanks for bringing that up. If I move matplotlib out of conda, and install it using `pip` then the build process goes further. But it fails with:

[code]

The documentation builds fine on my different computers I am using but creates this segmentation fault there. Any more ideas?

[2019-03-27 22:18] stsewd commented on #4000
Here is my comment, we can change this in the theme and in the API response. We have the information available.

https://github.com/rtfd/readthedocs.org/issues/4529#issuecomment-477364567

[2019-03-27 23:24] stsewd commented on #2637
https://github.com/rtfd/readthedocs-sphinx-ext/pull/63 will remove the online resources, but we are going to still see the footer with some dummy/invalid links. The only thing I see is removing this from the theme  https://github.com/rtfd/sphinx_rtd_theme/blob/ddfdd35e6977f21fb1771734732756b0cf1d6bba/sphinx_rtd_theme/versions.html#L1

[2019-03-28 08:47] humitos commented on #5062
@agjohnson I don't think we need extra permissions here. We do have permissions to add webhooks on behalf of the user. So, if it's not possible to upgrade the current webhook, we can delete it and create a new one that subscribes to the new events that we need. Don't you think this is possible?

I don't think many users will do this, and they will complain anyway saying that their versions are out

[2019-03-28 09:07] humitos commented on #5390
OK. I still think that `latest` should not appear there, but not failing is better than what we have now :)