[2018-10-29 17:16] gsemet commented on #3181
That’s the role of [pipenv-to-requirements/](https://pypi.org/project/pipenv-to-requirements/) :)

[2018-10-29 17:43] dkg commented on #2233
I've made https://github.com/publicsuffix/list/pull/722 .  In order for this to follow through, someone with access to the DNS zone needs to create the following TXT record, as documented in the [PSL Guidelines](https://github.com/publicsuffix/list/wiki/Guidelines):

    $ dig TXT _psl.readthedocs.io
    https://github.com/publicsuffix/list/pull/722

[2018-10-29 17:53] stsewd commented on #4808
This is weird, I'm installing the latest version of pip before the virtualenv is created, the build pass. BUT, if I build it again, the build fails... Also I noticed that the first time the latest version of pip is only downloaded, in the second time, the old pip version is uninstalled :_

[2018-10-29 18:56] dojutsu-user commented on #4818
@humitos Hey, can i take this issue up?
and also, it is not clear to me as to what needs to be done on this?

[2018-10-29 19:01] stsewd commented on #4808
I think we are messing up this https://github.com/rtfd/readthedocs.org/issues/4808#issuecomment-434012767 with the env variables

https://github.com/rtfd/readthedocs.org/blob/9b2b17c0fc603267b4b20f5923862c2db82602da/readthedocs/projects/tasks.py#L576-L583

https://github.com/rtfd/readthedocs.org/blob/9b2b17c0fc603267b4b20f5923862c2db82602da/readthedocs/doc_builder/environments.py#L142-L145

[2018-10-29 19:01] davidfischer commented on #2233
The TXT record is setup.

[2018-10-29 19:13] akdiem commented on #4813
Thank you, yes!

[2018-10-29 19:13] #4813 closed

[2018-10-29 21:58] tweep commented on #2243
Thanks, @kwosie for the links - it helped my get my installation going..
Here's a bit of info on how i got it to work :

1. Edit readthedocs/settings/base.py
Add  entry to the authentication backend section: *'allauth.account.auth_backends.AuthenticationBackend*

` AUTHENTICATION_BACKENDS = (
        # Needed to login by username in Django admin, regardless of `allauth`
        'django.contrib.aut

[2018-10-29 22:04] humitos commented on #4803
I just realize that this also happens at

https://github.com/rtfd/readthedocs.org/blob/dfc8fc9eba8dc9caae171ca0b3e8f6a71594e088/readthedocs/projects/tasks.py#L1085-L1087

probably for the same reason that the Version/Project is deleted manually by the user.

We should think about a _generic way_ of handling this from all the tasks that depend on objects being on the database.

[2018-10-29 23:35] stsewd commented on #4808
So, I have som code that "fixes" this AND install the latest version of pip.

For the pyproject problem we can change the cwd of the command to other than the project's root (probably `/`).

I wasn't able to install the latest version of pip before the virtualenv creation, because the command will need to be run with sudo (we don't have sudo anyway...). We could use this option https://virtualenv.

[2018-10-30 02:33] stsewd commented on #3137
I just build your docs locally and I wasn't able to see the canonical tag either, that means that this is an mkdocs issue. Also, if I change the theme to `mkdocs`, then I can see the canonical tag.

I just created an issue on mkdocs so you can follow https://github.com/mkdocs/mkdocs/issues/1667 I'm closing this one.

[2018-10-30 02:33] #3137 closed

[2018-10-30 02:40] stsewd opened #4820 "Inject canonical tag on mkdocs as we do with Sphinx"
In Sphinx if a user has a custom domain we setup the canonical tag for the user (we also have some docs for that feature https://docs.readthedocs.io/en/latest/canonical.html)

In Sphinx we do that here https://github.com/rtfd/readthedocs.org/blob/9b2b17c0fc603267b4b20f5923862c2db82602da/readthedocs/doc_builder/templates/doc_builder/conf.py.tmpl#L95-L95

On mkdocs we don't do that, but it's possibl

[2018-10-30 06:54] dojutsu-user commented on #4803
@humitos Probably we can implement custom `get()` method in the model manager of `Version`. I found it here
https://github.com/rtfd/readthedocs.org/blob/9b2b17c0fc603267b4b20f5923862c2db82602da/readthedocs/builds/managers.py#L17

in this, we can write our own `get()` method which may probably look something like this

[code]

[2018-10-30 07:12] dojutsu-user commented on #4820
@stsewd I would like to take this issue up.
I didn't find the way to get the canonical url of the project, is it present in the keyword arguments that `append_conf` receive, i.e. `__`?

[2018-10-30 08:14] kfrajtak opened #4821 "Problems with module import when running RTD inside docker container"
## Details

I am trying to run RTD inside docker container. I have spent countless hours of trying making it work. I have succeeded once, but then run into python version issue when building the documentation.

I am using docker-compose file originally based on https://hub.docker.com/r/moul/readthedocs/ and then customized (the base image is now `python:2.7-stretch`).

I believe everything is inst

[2018-10-30 09:36] humitos commented on #4794
@claresloggett I sent the email today.

We will wait for the user's response. Otherwise, we will follow our policy in 6 weeks.

Thanks,

[2018-10-30 09:42] p3trus commented on #4350
Just a short question, why is this issue closed? To me it appears that the fix has not been applied to readthedocs but to the fork only.

[2018-10-30 10:44] humitos commented on #4818
If you import a project and then setup from the Admin -> Integrations two or more integrations for the same service it fails when running that task linked in my previous comment.

[2018-10-30 10:56] humitos commented on #4808
I'm a little lost here. Can you explain in simple words/steps where is the current issue/bug and what's your proposal to fix it? It seems there are more than one specific problem (considering the `toml` case).

[2018-10-30 11:02] humitos commented on #4803
Sounds good to me.

We may have to name it different, though. I'd like to be more explicit on the name for the use case: `get_object_from_task` or `get_object_or_log`. I'm not sure, but something like that.

We will also need to handle when the query returns `None` from the task, so we stop the task there without failing.

[2018-10-30 12:05] dojutsu-user commented on #4803
`get_object_or_log` sounds good to me.
I am not sure about what you meant from **stop the task**, do you mean to `return None` from the task like this:
[code]

[2018-10-30 14:18] humitos commented on #4673
If that bug is fixed and just returns a 404, that would be enough for your use case?

[2018-10-30 15:11] humitos commented on #3856
Maybe this setting can be used to do not log known exceptions to Sentry on Celery tasks:

https://docs.sentry.io/clients/python/integrations/django/#additional-settings

[2018-10-30 15:12] pllim opened #4822 "RTD does not respect Numpy pinning in pip-requirements file"
## Details

* Read the Docs project URL: https://github.com/astropy/astropy
* Build URL (if applicable): https://readthedocs.org/projects/astropy/builds/8021231/
* Read the Docs username (if applicable): pllim

## Expected Result

Successful build.

## Actual Result

There is a known compatibility issue between our code and Numpy 1.15.3 (xref astropy/astropy#7943) and to get around that, we pin to

[2018-10-30 15:12] davidism commented on #4673
Yeah, I think that should cover it.

[2018-10-30 15:15] pllim commented on #4822
p.s. I just realized that `numpy>=1.13.0` is stated in `setup.py` and is overwriting `pip-requirements` in your build process. Is there a way to ask it to check that Numpy 1.15.2 is already there and therefore no need to install (again)?

[2018-10-30 15:33] lmakarov commented on #3137
@stsewd thanks for looking into this!

[2018-10-30 15:50] stsewd commented on #4808
The problem here is that we create the virtualenv with the cwd on the project's root, when creating the virtualenv, pip is triggered, pip reads the `.toml` file from the repo and everything explodes, as don't need to create the virtualenv from the project's root, I proposing to change the cwd to `/` here

https://github.com/rtfd/readthedocs.org/blob/9b2b17c0fc603267b4b20f5923862c2db82602da/readthe

[2018-10-30 15:58] stsewd commented on #4820
That comes from the project model, but this issue has the `Needed: design decision` label, we need to wait to be approved before writing some code

[2018-10-30 16:05] stsewd commented on #4821
No, we don't run the application with docker in production.

[2018-10-30 16:06] stsewd commented on #4808
My other solution is for installing the latest pip always, but that isn't part of the solution

[2018-10-30 16:09] davidfischer commented on #3594
At the very least, there should be a link to the [guidelines repo](https://github.com/rtfd/guidelines) on the [design docs](https://docs.readthedocs.io/en/latest/design.html).

I think putting it in the footer of readthedocs.org is good too. I would put it under "business info" (as in the screenshot) and I'd call it "Branding" as opposed to "Branding Guidelines".

[2018-10-30 16:10] tweep commented on #2571
I ran into similar issues, below is what what helped me:

First issue: `Custom Analyzer [default_icu] failed to find tokenizer under name [icu_tokenizer]`

1) stopped elasticsearch

` sudo systemctl stop   elasticsearch.service`

2) Removed + reinstalled ICU plugin
( I tried version 2.4.1 but that's incompatible)

`sudo  /usr/share/elasticsearch/bin/plugin  -remove  elasticsearch/elasticsearch-ana

[2018-10-30 16:11] stsewd opened #4823 "Always install the latest pip version"
Currently, the pip version comes from our docker images, since we don't release then too often, the pip version gets outdated very fast.

Here @humitos proposed to install the latest pip as a build step https://github.com/rtfd/readthedocs.org/issues/4808#issuecomment-433740753

I already have some code that makes that real (a description here https://github.com/rtfd/readthedocs.org/issues/4808#iss

[2018-10-30 16:44] stsewd commented on #4822
So, this is happening because we use the `--ignore-installed` option on pip, any reason to not pin on `setup.py`?.

I don't' think there is a better way right now, I guess changing the installation order would help for this cases (first install the package and then the requirements file), that will be possible with our config file v2.

[2018-10-30 17:30] dojutsu-user commented on #4818
okay, i was able to reproduce the error in terminal with `python manage.py shell`
I think we can try something like this
[code]
I find that every item in the queryset `original = super(IntegrationQuerySet, self).filter(*args, **kwargs)` corresponds to same value of `cls_replace`which is present in the method `_get_subclass_replacement`

For checking, i tried something like this
[code]
and in the s

[2018-10-30 17:59] pllim commented on #4822
@stsewd , thank you for your response. Yes, we ended up also pinning it in `setup.py` and the build is fixed now. Looking forward to config file v2. Thank you for the great service!

[2018-10-30 17:59] #4822 closed

[2018-10-30 18:09] stsewd commented on #1633
Closing as mention above, we don't support indexing from mkdocs projects at the moment, anyone interesting in rtd and search support on mkdocs follow https://github.com/rtfd/readthedocs.org/issues/1088

[2018-10-30 18:29] dojutsu-user commented on #3594
@davidfischer Where do you want the link to [guidelines repo](https://github.com/rtfd/guidelines) on the [design docs](https://docs.readthedocs.io/en/latest/design.html)? footer?

[2018-10-30 18:43] stsewd commented on #3594
@dojutsu-user I think both, also I think is better to link to the docs page https://read-the-docs-guidelines.readthedocs-hosted.com/ rather than the repo

[2018-10-30 19:06] stsewd commented on #3181
@willrogers I was able to build your docs with the current implementation, thanks!

[2018-10-30 19:37] dojutsu-user commented on #3594
@stsewd
i have a doubt.
The changes in the image above is approved in the [comment above](https://github.com/rtfd/readthedocs.org/issues/3594#issuecomment-434364784) with the text `Branding` under the `Business Info` (Will make a PR soon on this).

and i am still unclear about where to add the link in the design docs?
the footer of it is :
![screenshot from 2018-10-31 01-02-58](https://user-images

[2018-10-30 19:43] stsewd commented on #3594
On the design docs, I think probably adding a new subtitle makes sense

[2018-10-30 20:21] stsewd commented on #4010
Closing in favor of https://github.com/rtfd/readthedocs.org/issues/4751

[2018-10-30 20:21] #4010 closed

[2018-10-30 20:35] marcelstoer opened #4827 "Set `edit_uri` option on Mkdocs projects for better integration"
## Details

* Read the Docs project URL: https://nodemcu.readthedocs.io and **https://docs.readthedocs.io**
* Build URL (if applicable):
* Read the Docs username (if applicable):

## Expected Result

The "Edit on GitHub" **top right** should take you to the page on GitHub _on the selected branch_ and open it for editing (requires GH authentication).

## Actual Result

### For MkDocs projects

Rega

[2018-10-30 20:35] seanmcfeely opened #4828 "autoclass not working in read the docs. Tried specifying specific Sphinx version"
## Details
For some reason I'm able to use the autoclass feature locally just fine, however nothing happens then the docs are imported into read the docs. So, I specified the exact version of Sphinx I'm using locally in a a requirements.txt file for RTD but then got a failed build error:
"""
Error
There was a problem with Read the Docs while building your documentation. Please report this to us wi

[2018-10-30 20:58] stsewd commented on #4827
A new build was triggered on the stable version of rtd, the url is correct now

[2018-10-30 21:04] stsewd commented on #4828
Your latest build is passing now, looks like it was just a temporal problem, and I can see the docs from autoclass on the web

![screenshot_2018-10-30 control api live endpoint response client 1 0 0 documentation](https://user-images.githubusercontent.com/4975310/47750432-633fe080-dc5d-11e8-826d-41d3d2ab0385.png)

[2018-10-30 21:15] stsewd commented on #4827
I'll investigate about the mkdocs issue, not sure where the link is injected

[2018-10-30 21:31] davidfischer commented on #3594
This is good.

Agreed.

[2018-10-30 21:40] marcelstoer commented on #4827
Thanks for the super quick analysis! Now as I read that (again) I remember it to be vaguely familiar. Conclusion is that I _could_ potentially fix that myself (by editing `mkdocs.yml` in the branches) - at least temporarily until e.g. the `dev` branch is merged to `master`.

So yes, support from RTD in an integration task would be greatly appreciated.

Otherwise, I'd have to resort to a JavaScript

[2018-10-30 23:05] stsewd commented on #4827
So, I have brought this to the team, I'd say we don't have a final decision yet, our main concern is that the mkdocs.yml could change that options, and we don't have a way to identify the mkdocs version that the users are running, so things can break. I'm changing the title to reflect the request and adding the design decision label.

[2018-10-30 23:09] stsewd commented on #4827
`edit_uri` has been from the `0.16.0` version of mkdocs https://www.mkdocs.org/about/release-notes/#other-changes-and-additions-to-version-0160

[2018-10-30 23:12] stsewd commented on #4820
Just adding that looks like the `site_url` option have been there for a long time, nothing relevant on the changelog https://www.mkdocs.org/about/release-notes/#other-changes-and-additions-to-version-0160

[2018-10-30 23:32] stsewd commented on #4563
Any news from this? I'm not able to see the project anymore :/ I was going to try this locally

[2018-10-31 04:37] Mihir-Karbelkar commented on #4669
Is this issue open because I would like to work on this as my first bug. All the "Good First Issue" have a PR opened for them. Can you help me out?

[2018-10-31 06:02] dojutsu-user commented on #3594
@stsewd okay.. i get it
so what will come under the subtitle.

My suggesstion:

![screenshot from 2018-10-31 11-29-29](https://user-images.githubusercontent.com/29149191/47769056-76f05300-dd00-11e8-800b-cb85dcc17668.png)

[2018-10-31 10:13] humitos commented on #4823
I agree with this.

This is not true. If *I need* (for some reason) `pip==9.0.0` and I pin it in my requirements, all the requirements will be installed with the `pip` version already installed in the virtualenv (`18.0.0`, for example).

At the end of the command execution, all my packages were installed with `pip==18.0.0` and now I have `pip==9.0.0` available on the virtualenv, but it was not use

[2018-10-31 10:18] humitos commented on #4823
I don't see too much value here but a precaution. I mean, depending on a not pinned package is kind of dangerous because it's something that we don't control and could be anything.

Also, if the new release of `pip` breaks, all of our builds will break. I think it's preferable to add a Feature flag here that will install the latest `pip` by default for all the projects. If we notice that this fail

[2018-10-31 10:30] dojutsu-user commented on #4343
@stsewd
Is this still open? I would like to take this issue up.
If yes, what according to you can be the name of the function?

[2018-10-31 10:41] humitos commented on #4808
If the project has a `pyproject.toml` in the root of the repository, I assume that the project wants us to read it and use it, right?

If we change the CWD we will be fixing _this particular_ problem for this particular repository but breaking the general rule that it's to read that file (as the pip's documentation says).

Still, I don't understand why this fails. It seems an incompatibility with

[2018-10-31 12:11] aanm commented on #4756
I'm hitting the same issue.

[code]

[2018-10-31 12:19] LeaYeh opened #4832 "Build failing and stuck at Triggered state at local installation"
## Details

local installation

I use default port: 8000 with my own domain and setup `readthedocs/settings/local_settings.py`

[code]

## Expected Result

Build pass no matter failed or success but not stucking.

## Actual Result

Stuck at trigger...

 ./manage.py runserver 0.0.0.0:8000
Performing system checks...

System check identified some issues:

WARNINGS:
?: (guardian.W001) Guardian authen

[2018-10-31 12:50] humitos commented on #4669
I think it was closed by #4755. Thanks!

[2018-10-31 12:50] #4669 closed

[2018-10-31 13:01] humitos commented on #4794
The email address of the user is unreachable and

* it's the only contact that we have
* there is no docs built
* the github repo does not exist anymore

so, I decide to go forward with this an release the `ponder` name.

@claresloggett feel free to import your project under that slug.

Thanks

[2018-10-31 13:01] #4794 closed

[2018-10-31 13:07] humitos commented on #3856
http://docs.celeryproject.org/en/latest/userguide/tasks.html#Task.throws

[2018-10-31 13:15] humitos commented on #4590
I think this is easier to do by defining `Task.throws` and using the proper Sentry setting `SENTRY_CELERY_IGNORE_EXPECTED` for this.

[2018-10-31 13:38] stsewd commented on #4823
What I mean, the project itself may depend on pip, as a dependency, not to install their packages

[2018-10-31 13:39] stsewd commented on #4823
What about pin pip and then updated it on each release?

[2018-10-31 13:43] stsewd commented on #4343
Yes, it's still open, and actually I was waiting to finish the changes related to all the config file before going for this one.

[2018-10-31 13:47] dojutsu-user commented on #4343
okay, that means this issue needs to wait a little, right?

[2018-10-31 13:49] stsewd commented on #4343
Yeah, I mean we could start now, but it would cause some conflicts on some big PRs, anyway, not sure how deep would be this change, it may be very simple, but just in case. I'll let you know when we are safe to fix this

[2018-10-31 13:53] stsewd commented on #3594
Looks good to me, maybe just putting `here` instead of a naked link?

[2018-10-31 13:59] #4157 closed

[2018-10-31 14:02] stsewd commented on #4832
I guess you need to install the latest requirements, we updated django

[2018-10-31 14:03] #872 closed

[2018-10-31 14:11] ericholscher commented on #4777
I'm +1 on adding it as a ChoiceField -- I think the current implementation wasn't a design decision. If someone needs to adopt a project they don't own, we can handle that as a support issue.

[2018-10-31 14:17] dojutsu-user commented on #4777
@ericholscher So, can i start working on this?

[2018-10-31 14:41] ericholscher commented on #4777
Sure!

[2018-10-31 15:19] ericholscher commented on #4201
@stsewd what is tricky about the integrations? Looks like it's just adding options?

[2018-10-31 15:23] stsewd commented on #4201
@ericholscher the integrations app is creating models

[2018-10-31 15:23] ericholscher commented on #4201
Just proxy models, no?

[2018-10-31 15:25] stsewd commented on #4201
Yeah, looks like so

[2018-10-31 15:30] #4092 closed

[2018-10-31 15:32] ericholscher commented on #4270
Fixed in #4429

[2018-10-31 15:32] #4270 closed

[2018-10-31 15:43] #4692 closed

[2018-10-31 15:44] #4420 closed

[2018-10-31 16:34] humitos opened #4840 "Add test case for send_notifications on VersionLockedError"
To avoid #4839 to happen again, it would be good to have some good test cases to check that we are not sending any kind of notification when the version is locked.

[2018-10-31 16:58] #2246 closed

[2018-10-31 17:11] stsewd commented on #4127
Probably we can close this in favor of https://github.com/rtfd/readthedocs.org/issues/4823

[2018-10-31 17:13] stsewd commented on #4808
Yeah, but when installing the packages, not when creating the virtualenv

Only for the virtualenv creation, installation of packages are still running the cwd on the project's root

[2018-10-31 20:15] dojutsu-user commented on #4777
@ericholscher
I have made a PR, can you please review it.

[2018-10-31 21:12] dojutsu-user commented on #4840
@humitos
I want to take this issue.
Can you please guide me on where to add tests and if there are some similar tests so that I can learn from them on how to solve this issue.

[2018-10-31 23:59] stsewd commented on #1820
So, I just discovered that we have this, `is_editable` thing (sphinx only)

https://github.com/rtfd/readthedocs.org/blob/0f5d979c221da7140138359fc06660ebec6fff9b/readthedocs/doc_builder/backends/sphinx.py#L127-L132

It was added here https://github.com/rtfd/readthedocs.org/commit/4619c8297780c1c0d3e557a9712045e279fd6e95#diff-4ade07b2b17f38e60bfcb27301c99934

The commit msg describes what we are se

[2018-11-01 00:28] ThomasWaldmann opened #4844 "checking out wrong branch name"
## Details

* Read the Docs project URL: https://readthedocs.org/projects/flatland/
* Build URL (if applicable): https://readthedocs.org/projects/flatland/builds/8034952/
* Read the Docs username (if applicable): thomaswaldmann

## Expected Result

build docs from master branch.

## Actual Result

[code]

So it tries to checkout `default` instead of `master`. I  tried changing the branch in the se

[2018-11-01 00:29] ThomasWaldmann commented on #4844
Note: the project has recently switched from bitbucket/mercurial to github/git, in case that matters.

Building the docs for the `0.8` tag does not work either.

[2018-11-01 00:32] ThomasWaldmann commented on #4844
I already tried "cleaning" the build environment (as it offers on the rtfd site), did not help either.

[2018-11-01 00:35] stsewd commented on #4844
I think there was an open issue already for this  (I'm searching now.) Did you try changing the default branch from the advanced settings?

[2018-11-01 00:42] ThomasWaldmann commented on #4844
Yes, as I said: no `master` there. And not selecting anything (`------`) does obviously **not** choose the VCS default branchname as the help text there says (which would be `master` in case of git). Smells like a bug.

[2018-11-01 01:07] stsewd commented on #4844
Found the ticket, It was closed recently because it was stale https://github.com/rtfd/readthedocs.org/issues/1170, the current workaround is recreating the project.

[2018-11-01 01:19] ThomasWaldmann commented on #4844
Yes, deleting and recreating the project solves the problem.

Having to do that sucks, though. It's likely just a form field not getting updated / processed correctly, right?

[2018-11-01 01:20] stsewd commented on #4844
Ok, I was able to reproduce without having a real mercurial repo, if someone makes a mistake when creating the project and choose the wrong repo type can have this problem.

[2018-11-01 01:36] stsewd commented on #4844
So, the problem is that we are relying on the `LATEST` slug rather than calling `get_default_branch`, we could update the latest version or change where we are not using `get_default_branch`.

[2018-11-01 01:39] LeaYeh commented on #4832
@stsewd What do you mean **latest requirements** ? I clone latest git repository and install by pip==18.0.

[2018-11-01 01:55] stsewd commented on #4832
`pip install -r requirements.txt` https://docs.readthedocs.io/en/latest/install.html

[2018-11-01 02:40] LeaYeh commented on #4832
@stsewd  I follow the installation SOP, with python3.6 again. I still stuck but with different error message.

[code]

[2018-11-01 03:12] stsewd commented on #4832
Looks like you are missing the API configuration, try to run it with the default configuration (without local_settings)

[2018-11-01 03:53] LeaYeh commented on #4832
Sorry I'm really confused...
I removed `local_settings.py` and then run command `python managey runserver <MY_DOMAIN>:8000` but still got error.
And I also try to run command `python managey runserver 0.0.0.0:8000` but without `local_settings.py` I don't know how to setup external url.

[2018-11-01 10:43] humitos commented on #4808
@stsewd you are right! It seems that you have been trying to say that in many comments but I wasn't getting it :)

OK, so I suppose that a good place to point the CWD when creating the venv is the `HOME` directory instead of `/` because if the command needs to write a temp file or whatever, it will fail on `/`.

[2018-11-01 11:36] humitos opened #4846 "Sync version fails when two version end up with the same slug"
When `sync_versions` is called if there are two `verbose_name` that endup with the same `slug` this code breaks:

https://github.com/rtfd/readthedocs.org/blob/ba7623d2ff83b2c88cecbbe55800317f46116d0d/readthedocs/restapi/utils.py#L76-L82

As example,

[code]

[2018-11-01 12:18] ericholscher commented on #4450
Feels like the right implementation. That was the general idea behind that bit of code to behind with, so we're mostly just expanding when it gets called to include `delete` events, I think?

[2018-11-01 12:24] #4793 closed, assigned to nobody

[2018-11-01 13:37] BlackLight opened #4847 "Annotated methods: use the right method signature in RTD"
Problem: My project has docstrings associated to annotated methods. Example: [this plugin action](https://github.com/BlackLight/platypush/blob/master/platypush/plugins/websocket.py#L24) which is actually wrapped by [this decorator](https://github.com/BlackLight/platypush/blob/master/platypush/plugins/__init__.py#L9).

I would expect the signature of the original method to be shown in the RTD docum

[2018-11-01 13:50] #4673 closed

[2018-11-01 13:50] humitos commented on #4673
@davidism I merged the fix for the infinite redirect. It will be deployed soon.

[2018-11-01 13:54] humitos opened #4848 "Custom redirect produces an infinite redirect"
In #4673 we found that defining a custom redirect could produce an infinite redirect. Then, in #4833 we fixed this but some questions about "What's the best way to solve this?" came up.

For now, we are returning a 404 to avoid a 500 (which doesn't make too much sense) and also to avoid the original issue that was the infinite redirect.

This issue is just to track different opinions on how to sol

[2018-11-01 14:04] #4201 closed

[2018-11-01 14:14] ericholscher commented on #4777
Fixed in #4841

[2018-11-01 14:14] #4777 closed

[2018-11-01 14:17] #4844 closed

[2018-11-01 14:17] #4061 closed

[2018-11-01 14:21] #3801 closed

[2018-11-01 15:38] #1985 closed

[2018-11-01 15:40] stsewd commented on #4808
Pointing to home sounds better, not sure how to do that (yet), I think we don't allow shell expansions, I'll see what I can do

[2018-11-01 16:11] stsewd commented on #4847
When building your docs locally, do you see the same behavior? I don't think this is a rtd issue, I think you need https://docs.python.org/3/library/functools.html#functools.wraps

[2018-11-01 17:30] dojutsu-user commented on #4846
@humitos
I would like to work on this issue.
My suggestion:
We can modify the `slugify` method in `VersionSlugField` in a way so that it generates a unique hash for each slug and append it in last of the generated slug.

These lines

https://github.com/rtfd/readthedocs.org/blob/104c3a625978f31971a11766023516fc2de2aa8f/readthedocs/builds/version_slug.py#L84-L94

can be modified in this way
[code]

[2018-11-01 17:45] stsewd commented on #4846
Interesting, our tests didn't catch that

https://github.com/rtfd/readthedocs.org/blob/104c3a625978f31971a11766023516fc2de2aa8f/readthedocs/rtd_tests/tests/test_version_slug.py#L76-L90

[2018-11-01 18:09] dojutsu-user commented on #4846
@stsewd When i test the test cases manually, they give the wrong result (as described in the issue)

[code]

[2018-11-01 18:35] ericholscher commented on #3279
I feel like the answer here should be "If you want a custom `stable` version, create either a tag or branch in your project with that name." Do we want to apply the same logic to `latest` as well? If so, we should likely document this, and then make sure the code works that way :)

[2018-11-01 18:36] ThomasWaldmann commented on #4844
"Building the docs for the 0.8 tag does not work either." did you also fix that?

[2018-11-01 18:40] stsewd commented on #4846
We actually call to `create_slug` which does the uniquifying

https://github.com/rtfd/readthedocs.org/blob/104c3a625978f31971a11766023516fc2de2aa8f/readthedocs/builds/version_slug.py#L174-L181

[2018-11-01 18:43] BlackLight commented on #4847
Using `functools.wraps` indeed fixes the issue, thanks!

[2018-11-01 18:43] #4847 closed

[2018-11-01 18:53] stsewd commented on #3279
Currently, users can specify a custom latest on the web admin, I think the major feature here is that user's don't want to maintain 2 branches/tags, say they want `my-stable` be just `stable`.

[2018-11-01 18:57] stsewd commented on #4844
Isn't deployed yet. What I understand, that was referencing to an old version of mercurial, when building from master, the rest of the versions should refresh their versions.

[2018-11-01 18:58] ericholscher commented on #4594
+1 on removing python2 support. We should likely do that in an RTD v3.

I think the main thing here is to see who is using the old endpoints, and make a plan to email them about it. It should be a pretty simple thing to change, I hope, but we should definitely alert folks who are hitting `/build` for example in custom scripts of a migration path.

[2018-11-02 02:45] stsewd commented on #4832
Are you running it without the custom domain option? Also, the problem is on the API, if you enter to `http://127.0.0.1:8000/api/v2/project/1/` (same address as the error message), what do you see?

[2018-11-02 03:01] LeaYeh commented on #4832
@stsewd Yes, I running it without the custom domain option.
`> python manage.py runsver 0.0.0.0:8000`

[code]

[2018-11-02 03:12] stsewd commented on #4832
Maybe a problem with your network/firewall, I can't reproduce locally, we don't support custom installations https://docs.readthedocs.io/en/latest/custom_installs/index.html

[2018-11-02 03:18] LeaYeh commented on #4832
@stsewd OK, thank for your kindly support, will try it again with another machine.

[2018-11-02 03:31] stsewd commented on #4832
Also, you may have more answers on stack overflow/gitter/irc https://docs.readthedocs.io/en/latest/contribute.html#get-in-touch

And, maybe did you miss this step? This is from an old issue with the same problem
https://github.com/rtfd/readthedocs.org/issues/3836#issuecomment-389203663

[2018-11-02 14:01] offbyone commented on #3746
I'm not sure you would consider this part of the design, but receiving a "build failed" email in this retryable state is somewhat odd too; there's no action I can take on that email. If I'm watching doc builds closely for some reason, I'll be on the site doing so, and if I'm not worried about it -- if I'm happy to let it slide for a while -- then I don't really need the big FAILED in my inbox.

[2018-11-02 15:10] dojutsu-user opened #4854 "Invalid Project Webhook Notification doesn't vanish if the project is deleted."
**Steps To Reproduce**
While importing a project **manually**,
Repository URL: https://github.com/dojutsu-user/template.git (Making sure that the webhook set up is invalid)
During the building of the project (or after the build, it doesn't matter), in a new tab, open the same project settings and **delete it**.

![screenshot from 2018-11-02 20-25-18](https://user-images.githubusercontent.com/29149

[2018-11-02 15:10] humitos commented on #3746
We _do not want to send notifications_ on retry.

If you are receiving any kind of email when the version is locked, it's because I introduce a bug some time ago and I already fixed it but it's not deployed yet: #4839

My idea when I opened this issue is to "not mark the status as FAILED" because when it's FAILED I suppose, as a user, that it has ended and failed. I don't expect this particular bu

[2018-11-02 15:43] paulmueller opened #4855 "sphinx-argparse: WARNING: Failed to import "func" from "module.submodule""
## Details

* Read the Docs project URL: https://readthedocs.org/projects/nanite/
* Build URL: https://readthedocs.org/projects/nanite/builds/8043996/
* Read the Docs username: paulmueller

## Expected Result

sphinx-argparse correctly documents my CLI.

## Actual Result

I get errors like

[code]
without any explanation why the import failed.

This might be related to one of these things:
 - I am

[2018-11-02 15:44] paulmueller commented on #3032
I managed to get this working for some projects by editing requirements.txt:

sphinx-argparse==0.2.1
CommonMark==0.7.5

(see https://github.com/ZELLMECHANIK-DRESDEN/dclab/blob/master/docs/requirements.txt)

For other projects, this did not work (see #4855).

[2018-11-02 16:01] #2600 closed

[2018-11-02 16:01] dojutsu-user commented on #4854
@humitos
@stsewd
one way to fix this.
We need to make some changes in `project_delete` function

https://github.com/rtfd/readthedocs.org/blob/bc248aa6a7d2bb54e88e779fe4f78b9f0266acf4/readthedocs/projects/views/private.py#L172-L189

It can be edited in following manner:

[code]

[2018-11-02 16:08] stsewd commented on #4854
This is the case of https://github.com/rtfd/readthedocs.org/issues/4684, I wonder if we should just put all these cases on the other issue. We need to solve this in a generic way.

[2018-11-02 16:28] humitos commented on #4684
I introduced this bug in #4033 when I refactored how the webhook was added from a Celery task instead of the same request process and how all the notifications work when triggered from Celery and attached to the user.

[2018-11-02 16:29] humitos commented on #4854
I'm closing this in favor of #4684. I added an explanation there on why this is happening.

@dojutsu-user please, if you want to propose a change into the code, open a PR which is easier to see the differences and follow your changes. Thanks for your collaboration!

[2018-11-02 16:29] #4854 closed

[2018-11-02 16:35] stsewd commented on #4855
Did you try this locally? It works? Maybe you need to install using pip? (I think I saw something similar in another issue)

[2018-11-02 16:43] dojutsu-user commented on #4854
@humitos
Sorry for this.
I will take care of it from next time.

[2018-11-02 16:47] LeaYeh commented on #4832
@stsewd Thanks!! [#3836 (comment)](https://github.com/rtfd/readthedocs.org/issues/3836#issuecomment-389203663) solved my problem, I didn't setup slumber username and password. I had same permission issue.
:+1:

[2018-11-02 17:13] dojutsu-user commented on #4684
@humitos
fixing this issue means to undo the changes related to the webhook in #4033 ??

[2018-11-02 19:14] #4832 closed

[2018-11-02 20:03] dojutsu-user commented on #4756
@aanm
The reason for this error is that Django 1.11 is not compatible Python3.7 and probably there are no plans to make Django 1.11 compatible with latest version of python. (see the discussion [here](https://github.com/django/django/commit/931c60c#commitcomment-30423485))
Please stick to Python<=3.6

[2018-11-02 20:39] paulmueller commented on #4855
Yes, locally it works (using pip with --no-site-packages) on Ubuntu 17.10. Not sure what you meant by "installing using pip", but doing this:

https://github.com/AFM-analysis/nanite/commit/3ac1eb9dda8aeb8cebbeabe441a3df0f1b965f0a

does not help:

https://readthedocs.org/projects/nanite/builds/8045730/

[2018-11-02 20:57] kfrajtak commented on #4821
Please accept my apology, I made a stupid mistake and have been ignoring it in the output (the fileswere not being extracted correctly from the archive).

Now the problem is
[code]
and it is driving me crazy :)

[2018-11-02 21:15] stsewd commented on #4821
@kfrajtak looks like you should change the secret_key setting with something safe. Also, we will be deprecating python 2 very soon.

[2018-11-02 21:20] dojutsu-user commented on #4654
@agjohnson I would like to take this issue up.
Can you please guide me on how to get started with this.

[2018-11-03 10:41] dojutsu-user commented on #2034
@ericholscher
I found the "are you sure?" page on following activity:

- Deletion of a domain
- Wiping a version
- Signing Out
- Cancelling Gold Subscription
- Deletion of a project

Is there anything that I'm missing out?
and also, do you want the `in-page popup confirmation` and then `AJAX call` on all the pages in the above list?

[2018-11-03 17:58] ttmc opened #4858 "New Git tags not showing up in the readthedocs.org Admin interface"
## Details

* Read the Docs project URL: https://readthedocs.org/projects/bigchaindb-server/
* Build URL (if applicable): NA
* Read the Docs username (if applicable): NA

## Expected Result

We just release the latest version of BigchainDB Server, version 2.0.0b8. Here is the release on GitHub:

https://github.com/bigchaindb/bigchaindb/releases/tag/v2.0.0b8

Like all "releases" on GitHub, it has a

[2018-11-03 23:59] stsewd commented on #4858
We have an open issue about this, https://github.com/rtfd/readthedocs.org/issues/4450.

This _problem_ isn't new, you should be able to see your new branches if you trigger a new build on latest (or any other version).

[2018-11-04 07:49] ttmc commented on #4858
@stsewd Issue #4450 was created in July, but readthedocs.org was working fine (detecting _all_ Git tags, including new ones) until we did our latest releases. We did several releases (new Git tags) since July and were able to update readthedocs.org to tell it to use the new tag... until yesterday.

That's why this seems like something new and different.

[2018-11-04 09:11] alexmojaki opened #4860 "Easier way to add custom CSS"
[Adding Custom CSS or JavaScript to a Sphinx Project](https://github.com/rtfd/readthedocs.org/blob/f9a839dd4d1c8cf5444006bbdfde283a915d6071/docs/guides/adding-custom-css.rst) describes "The easiest way to add custom stylesheets..." but it seems there's an even easier undocumented way. Sphinx automatically includes a link to `_static/custom.css`, so creating that file is enough without changing `co

[2018-11-04 10:55] mgeier commented on #4367
I tried rebasing PR #545, but this is indeed quite hard. But the end result should really be just moving a few lines around, so I made a new PR doing just that: #696.

Can you please check out if that works for you?

[2018-11-04 13:50] rajdeepbharati opened #4861 "Warnings on build"
## Details

* Read the Docs project URL: [https://readthedocs.org/](https://readthedocs.org/)
* Build URL (if applicable): [http://127.0.0.1:8000/](http://127.0.0.1:8000/)
* Read the Docs username (if applicable): NA
* When I am building the project, a warning is being shown.

## Expected Result

Guardian authentication backend must be hooked.

## Actual Result

When I am building the database/loa

[2018-11-04 18:28] alexmojaki commented on #4860
Should I go ahead and make a PR?

[2018-11-04 18:32] RichardLitt commented on #4860
I want to ask @humitos or @agjohnson's opinion first.

[2018-11-04 19:10] humitos commented on #4860
@alexmojaki Undocumented by us or by Sphinx?

[2018-11-04 19:18] alexmojaki commented on #4860
I can't find any documentation for it anywhere. Now that I think of it, maybe it comes from the theme I'm using or something else, and not sphinx itself.

[2018-11-04 19:50] dojutsu-user opened #4862 "Remove 'Sphinx Template Changes' subtitle from Design Docs."
Link: https://docs.readthedocs.io/en/latest/design.html

I think **Sphinx Template Changes** subtitle is not required as it provides outdated information.
The path given for the styles of the generated documentation (`readthedocs/templates/sphinx/_static/rtd.css`) is also not present (or outdated).

And, RTD have separated repo for the [sphinx_rtd_theme](https://github.com/rtfd/sphinx_rtd_theme) w

[2018-11-04 21:33] dojutsu-user commented on #4861
@rajdeepbharati
I don't think RTD is using `django-guardian` as one of AUTHENTICATION_BACKENDS. It is being used for its other functions/classes - `assign`, `get_object_for_user`, `GuardedModelAdmin` (class).
I grepped all the files, searching for `guardian` and I found only these uses of it.

Also, AUTHENTICATION_BACKENDS was introduced during the configuration of `django-allauth` ( [#commit](htt

[2018-11-04 23:20] humitos commented on #4860
What you said about using custom.css sounds familiar to me but I wouldn't suggest to use that feature if it's undocumented from Sphinx because that probably means that it's not officially supported and may change in the near future.

[2018-11-05 01:52] Juanlu001 commented on #4367
@mgeier thanks! @Blendify already rebased his and it's working, so I will use that instead.

[2018-11-05 12:03] humitos opened #4864 "Standarize timestamp fields"
Currently, we have `pub_date`, `date`, `modified_date`, `add_date`, `created_dt` and `updated_dt`.

I suggest to use `created_at` and `updated_at` for all the models.

This is useful for #4286

[2018-11-05 14:06] kfrajtak commented on #4821
I have fixed the problem! The config file was not loaded. Please, close this issue. Thank you

BTW is there a way how to find out why my build is not working (i.e. log files, etc.)?

Thank you

[2018-11-05 14:58] #4821 closed

[2018-11-05 15:03] bluecmd opened #4865 "Yet another issue about submodules"
Hi,

Project: `u-bmc`
Error: https://readthedocs.org/projects/u-bmc/builds/8054931/

u-bmc uses submodules quite heavily and contains *a lot* of data. There is no earthly reason for readthedocs to check that out and I'd like to disable it.

I found some PRs and some other issues that talks about how this is possible, but I did not see any documentation about how to enable it for my own repo. Am I

[2018-11-05 15:14] stsewd commented on #4821
We save all the output on the db on the Build model, we also do some logging, that should be a django thing to see where the logs are saved.

[2018-11-05 15:23] stsewd commented on #4865
both, 1 and 2 are true. but I think there is something else causing the error, I'll investigate now

[2018-11-05 15:28] bluecmd commented on #4865
Sure thing! The build time has the suspicious number of 899 seconds, and I read you have a 900 seconds timeout, so if you start a betting pool you know where my bet is ;-).

[2018-11-05 15:34] stsewd commented on #4858
RTD has never been able to detect new tags/branches on webhooks. I think you were relying in one of two things:

1) A build to latest or another version was triggered
2) You were able to put anything on the admin interface

RTD currently works like this:

- Clone the repo
- Checkout to the branch
- Sync the versions with the information from the repo that was just cloned.

2) was changed to a sele

[2018-11-05 15:34] #4858 closed

[2018-11-05 15:42] stsewd commented on #4865
So, yeah, it's failing on `git submodule update --init --force --recursive u-boot linux`

[2018-11-05 15:51] stsewd commented on #4861
I think I saw the same warning on production, so this shouldn't be causing any problems.

[2018-11-05 15:51] ericholscher commented on #2258
I believe we should be able to have the build HTTP calls do a smart retry backoff. eg:

* Try call
* If it fails, try again
* If that fails, try again in 5s
* If that fails, try again in 10s
* If that fails, raise an exception

[2018-11-05 16:18] kfrajtak commented on #4821
Thank you a lot.

[2018-11-05 16:42] humitos opened #4866 "Remove unused model fields from Project"
I found that these fields are not used or are deprecated:

https://github.com/rtfd/readthedocs.org/blob/f9a839dd4d1c8cf5444006bbdfde283a915d6071/readthedocs/projects/models.py#L98-L109

https://github.com/rtfd/readthedocs.org/blob/f9a839dd4d1c8cf5444006bbdfde283a915d6071/readthedocs/projects/models.py#L192

https://github.com/rtfd/readthedocs.org/blob/f9a839dd4d1c8cf5444006bbdfde283a915d6071/readt

[2018-11-05 17:34] #1820 closed

[2018-11-05 17:43] #4401 closed

[2018-11-05 18:03] ericholscher commented on #4864
Yea, we should just have a subclass that standardizes these fields, and everything inherits from.

[2018-11-05 18:04] #4359 closed

[2018-11-05 18:29] ericholscher commented on #4864
I can probably implement it in #4850

[2018-11-05 18:36] ericholscher commented on #4864
Actually, I don't want to hold up that PR on this design decision, and we'll require code migrations anyways, so I'll hold off until we decide on names, etc.

[2018-11-05 18:43] #4808 closed

[2018-11-05 18:51] dojutsu-user commented on #4866
@humitos
I would like to work on it.
and just to bring it to your notice, RTD is using django-guardian,
So in the `settings/base.py`, one of its configurable variable is deprecated.
https://github.com/rtfd/readthedocs.org/blob/a6120f4e8af7127b887d4058df51805a8cabcf78/readthedocs/settings/base.py#L334
Here is the changelog from django-guardian
https://django-guardian.readthedocs.io/en/stable/develo

[2018-11-05 19:58] jaraco commented on #4808
\o/ Thanks all!

[2018-11-05 20:28] aanm opened #4868 "Read the docs is not building from the last commit from master (github integration)"
## Details

Read the docs is not building from the last commit of master

* Read the Docs project URL: https://cilium.readthedocs.io/en/latest/
* Build URL (if applicable): https://readthedocs.org/projects/cilium/builds/8056953/
* Read the Docs username (if applicable): aanm

## Expected Result

Build the documentation from the last commit available on github

## Actual Result

As you can see the

[2018-11-05 20:33] stsewd commented on #4868
The build url is 404  https://readthedocs.org/projects/cilium/builds/8056953/

[2018-11-05 20:36] stsewd commented on #4868
Also, I can't see a master or latest version on your versions

![screenshot_2018-11-05 versions read the docs 3](https://user-images.githubusercontent.com/4975310/48025115-81e82080-e110-11e8-91c8-e74e14dd96d2.png)

[2018-11-05 20:37] aanm commented on #4868
@stsewd I can see it, isn't required for an admin to login into RTD to check a build status?

[2018-11-05 20:38] aanm commented on #4868
@stsewd it's marked as "protected"

[2018-11-05 20:39] stsewd commented on #4868
I think you have your version as private/protected. Anyway, the problem is because you have a branch named latest https://github.com/cilium/cilium/tree/latest

[2018-11-05 20:39] aanm commented on #4868
thank you!

[2018-11-05 20:39] #4868 closed

[2018-11-05 21:30] rajdeepbharati commented on #4698
Can I take up this issue?

[2018-11-05 21:31] stsewd commented on #4698
@rajdeepbharati sorry, there is an open PR already https://github.com/rtfd/readthedocs.org/pull/4699

[2018-11-06 08:46] humitos commented on #4846
We can't generate slugs like this ones because all the URLs will become very ugly. Example, https://example.readthedocs.io/en/abcd-19060746/ (version) or https://abcd-19060746.readthedocs.io/en/latest/ (project).

[2018-11-06 09:53] humitos commented on #2258
If that's the way to go, I suppose we could modify our [slumber client API class](https://github.com/rtfd/readthedocs.org/blob/afd7dd98c1d35d5f826ace6b29b1a89803523939/readthedocs/restapi/client.py#L39-L72) to do this magic. It would be IO blocking, but I suppose that would be fine.

@agjohnson labeled as `Operations` so he is maybe thinking in another thing.

[2018-11-06 09:53] a-sevin opened #4869 "Build failed without any explicit error"
## Details

* Read the Docs project URL: https://shesha.readthedocs.io/en/master/
* Build URL (if applicable): https://readthedocs.org/projects/shesha/builds/8059786/
* Read the Docs username (if applicable):

## Expected Result

Documentation generated

## Actual Result

Build failed without any explicit error

There was a problem with Read the Docs while building your documentation. Please repor

[2018-11-06 10:03] humitos commented on #4866
@dojutsu-user thanks for noticing that. Would you like to propose a PR to upgrade that?

On the other hand, that guardian problem is not related to this issue, isn't it?

[2018-11-06 10:08] dojutsu-user commented on #4866
@humitos
no, it isn't related to this issue.
Will submit a PR soon for the things.

[2018-11-06 14:50] stsewd commented on #4869
I'm guessing this is because of a memory limit issue.

[2018-11-06 18:12] ericholscher commented on #4258
Believe that #4811 didn't totally fix this. Reopening for now.

[2018-11-06 21:09] stsewd opened #4875 "Versions aren't deleted if there is one with the same commit"
If we create two versions pointing to the same commit (say, master and a tag on master). If we delete the tag, when syncing the repositories that tag isn't deleted from the versions list (because master has the same commit).

This is also seeing when creating two tags that point to the same commit.

[2018-11-06 21:10] stsewd commented on #4258
So, tags are being deleted, the sync version is because of another problem, I opened https://github.com/rtfd/readthedocs.org/issues/4875

[2018-11-06 21:10] #4258 closed

[2018-11-06 23:21] ericholscher commented on #3775
I closed #3943 because it is old and had many conflicts. If anyone else wants to attempt this, I'm all for it. Please do try and keep the refactor minimal though!

[2018-11-06 23:38] bluecmd commented on #4865
Hi again,

Just making sure this didn't fall between the metaphorical chairs. @stsewd , what's the next steps here?

[2018-11-06 23:50] stsewd commented on #4865
Sorry, I almost forgot, not sure what to do here, but I'll ask the team. Some possibilities could be:

- Wait to release config v2 (probably not the best solution because of the time)
- Set a flag to use the _alfa_ version of v2 (which include submodules settings, but the schema is open to changes, so you'll need to change that on the final release, and we don't have deployed docs)
- Set the curre

[2018-11-07 07:47] Alig1493 commented on #3775
@ericholscher If this requires a new PR I'd like to take a stab at it.

[2018-11-07 12:02] NyanKiyoshi opened #4877 "Version list is most of the time out of date with GitHub"
## Details
Some times, the RTD versions list is up to date whenever the CI are done confirming everything is good and running correctly. But other times, new branches (versions) don't show up at all, even days after the new branch was pushed.

RTD does receive the webhook events telling it a new branch was pushed. But does not take that into account.

* Read the Docs project URL: https://readthedo

[2018-11-07 14:38] humitos commented on #4823
Yes. I think this is the best approach.

It has been easier updating some Python code than the docker image (I would like to release more frequently, though).

So, I propose to run

    pip install -U pip==18.1

as the first step before creating the virtualenv (this can be added in the VirtualEnvironment class as a method and run it first). That `18.1` can be updated just by changing the code (sim

[2018-11-07 14:47] stsewd commented on #3775
@Alig1493 go ahead!

[2018-11-07 15:20] a-sevin commented on #4869
Thanks for your answers... So I could not use readthedocs build system anymore...

[2018-11-07 15:20] #4869 closed

[2018-11-07 15:29] stsewd commented on #4869
You can, please see https://docs.readthedocs.io/en/latest/guides/build-using-too-many-resources.html and https://github.com/rtfd/readthedocs.org/issues/4573

[2018-11-07 15:40] stsewd commented on #4877
Please see https://github.com/rtfd/readthedocs.org/issues/4450

[2018-11-07 15:40] #4877 closed

[2018-11-07 16:39] stsewd commented on #4823
I wasn't able to do that https://github.com/rtfd/readthedocs.org/issues/4808#issuecomment-434119310

I wasn't able to install the latest version of pip before the virtualenv creation, because the command will need to be run with sudo (we don't have sudo anyway...). We could use this option https://virtualenv.pypa.io/en/stable/userguide/#the-extra-search-dir-option or more easy, create the virtual

[2018-11-07 21:43] ericholscher commented on #4862
Makes sense to me. :+1:

[2018-11-07 21:44] dojutsu-user commented on #4862
Will make a PR soon.

[2018-11-08 04:40] dojutsu-user commented on #4862
@ericholscher
I have made a PR.
Please review it

[2018-11-08 10:44] Alig1493 commented on #3775
@stsewd Before proceeding I noticed that there are 5 failing tests in the updated upstream master, namely in rtd_tests/tests/test_backend.py(3) and rtd_tests/tests/test_celery.py(2) files. Will this be an issue moving forward?

[2018-11-08 12:15] humitos commented on #4864
Considering that we are already using `django-extensions` I suggest to go with

https://github.com/django-extensions/django-extensions/blob/master/django_extensions/db/models.py#L14

When implementing this, we will need a migration that migrate the old datetimes values from old fields name to the new names.

[2018-11-08 21:10] #4791 closed

[2018-11-08 22:12] #4862 closed

[2018-11-09 07:52] dojutsu-user commented on #4864
Can i work on this?

and does all the needs to inherits from `TimeStampedModel` ??

and i didn't get the meaning of this line, does it mean to provide the update migrations file??

[2018-11-09 10:17] dojutsu-user commented on #4864
okay, I get it.
A custom function needs to be implemented, like in this case
https://github.com/rtfd/readthedocs.org/blob/39303838b17f844f388c0e284afb3761af391a49/readthedocs/projects/migrations/0010_migrate_domain_data.py#L10

[2018-11-09 13:16] ericholscher commented on #4864
You should be able to just do the `./manage.py makemigrations` and it will handle the rename of the field, I think.

[2018-11-09 13:20] dojutsu-user commented on #4864
@ericholscher
aren't we going to make every model inherit from `TimeStampedModel` ??

[2018-11-09 13:49] ericholscher commented on #4864
I think we shouldn't do every model, but just those that have either an updated or modified time. Maybe it makes sense to do an audit of them.

[2018-11-09 13:49] ericholscher commented on #4864
I believe some parts of the data are also exposed in public API's (eg. the Build object) so I'm not sure the best migration path for some of this stuff.

[2018-11-09 14:29] #4705 closed

[2018-11-09 16:54] dojutsu-user commented on #3594
@stsewd
I think this issue can be closed.

[2018-11-09 16:58] stsewd commented on #3594
Yes, it was resolved in https://github.com/rtfd/readthedocs.org/pull/4830

[2018-11-09 16:58] #3594 closed

[2018-11-09 17:00] dojutsu-user commented on #3781
Is this still open?
I would like to take this issue up.

[2018-11-09 17:04] ericholscher commented on #3781
Yea, there is a good bit of work and thinking required here, so I wouldn't start on it right away. We need to account for all the projects that have set non-default privacy levels, because removing the UI would make it impossible for them to change it. We also should figure out if we want this logic in the .org at all, or if we want to move it all into the .com as extensions somehow.

[2018-11-09 17:09] dojutsu-user commented on #3781
@ericholscher
One suggestion, we can remove the UI for the users which have default option set (i.e. PUBLIC) and for the other users, we can show a warning in the `Advanced Settings` saying something like this -
 **It is recommended to change your Privacy Level to Public.**

[2018-11-09 17:10] davidfischer commented on #4864
Since it's a read-only field on just a couple models in the v2 API, worst case we can just use a [SerializerMethodField](https://www.django-rest-framework.org/api-guide/fields/#serializermethodfield).

[2018-11-10 00:36] agjohnson commented on #4543
Nevermind, breaking out a discrete ticket! We'll address this at v3 at the end of the year.

[2018-11-10 00:47] agjohnson opened #4886 "Github signed webhook"
GitHub supports signing a webhook with a key. We should support this and configure the signing key on webhook set up. I believe GitLab might have something similar, but Bitbucket does not?

Requirements:

- [ ] Add model field for signature
- [ ] Store signature on webhook creation
- [ ] Validate webhook post with signature

[2018-11-10 00:55] agjohnson commented on #4594
Endpoint deprecations are found at #4568, we'll want to tackle that very soon to start the notification process. We need a month or two ideally.

It doesn't seem there is much to do with Mkdocs. Break out a separate ticket if there is and apply to v3 milestone.

We'll discuss removing privacy levels with v3 as well, that may be a later deprecation.

I'll close this as discrete tickets are more hel

[2018-11-10 00:55] #4594 closed

[2018-11-10 01:01] agjohnson commented on #2663
I just suggested adding a version field for "published" or something, but maybe the clearest field name would be `hidden`. A hidden version can be active, and is published, but not listed. Hidden versions can be public, or private on our commercial hosting.

[2018-11-10 01:14] agjohnson commented on #2663
@rtfd/core Where do folks stand on taking on this work for v3? If we can just hide the field and field choices we don't want anymore, and we don't need a migration event to upgrade old projects to the new logic, this becomes vastly simplified and is probably doable by EOY.

If not, this will be a much larger event and will likely need a separate deprecation event.

### Discovery

* Can we handle t

[2018-11-10 01:35] agjohnson commented on #4521
@davidfischer I forgot where we landed on this. Does the above point still stand? Should we script up something that resolves the custom project domains to detect cloudflare proxying first?

[2018-11-10 01:37] agjohnson commented on #4860
Also, it might be a Sphinx version-dependent feature. This would also be good to verify if it is a Sphinx feature. We could also make a helper for our theme, but that of course wouldn't be a universal fix.

[2018-11-10 01:40] agjohnson commented on #4865
:+1: on just setting the feature flag for now, if you don't need any of the submodules for the project.

[2018-11-10 01:54] davidfischer commented on #4521
I think we should script something and try to detect it. There's probably not too many projects that it will affect. I'd estimate ~5-10 but it's worth figuring it out first.

[2018-11-10 01:54] agjohnson commented on #4797
Moving this to our docker build images, this is feature addition there.

[2018-11-10 01:59] agjohnson commented on #4816
Discussion around privacy levels is happening at #2663, I'll roll this issue in there.

[2018-11-10 01:59] #4816 closed

[2018-11-10 02:02] agjohnson commented on #4521
Roger. In terms of priorities, this is pretty low and we're a few versions out from making this change. Perhaps this is a v3 change in fact.

[2018-11-10 02:04] agjohnson commented on #4001
Ah interesting. This might meld into our discussion on version level privacy and hiding the version. Perhaps we're really talking about a `status` or something field. It sounds like we have a few states that are exclusive:

* Active
* Active but deprecated
* Active but hidden
* Active but deprecated and hidden? Is this a thing? Does it need to be different from deprecated?
* Inactive

[2018-11-10 02:08] agjohnson commented on #2258
Yeah, my original take on this is that if a server is overloaded, we should be detecting this and limiting traffic to the server. It's probably a sign that our web servers are overloaded.

Looks like this is still an issue after Azure move.

Retrying is probably a good first place to be defensive. :+1:

[2018-11-10 02:13] agjohnson commented on #2652
I'm going to close up this issue, as we do now support custom domains through Cloudflare now. If you are hitting any issues with custom domains, be sure to open up a new ticket!

[2018-11-10 02:13] #2652 closed

[2018-11-10 03:06] agjohnson commented on #2463
@yarons agreed!

@rahmanidashti I missed your notification here, are you still interested in helping here?

So, we are going to be prioritizing a redesign of our site styles soon, so this is a great time to discuss design pieces like this. I do however think the larger benefit to users is to have a RTL Sphinx theme -- or an option on our theme for RTL. But I think a lot of the lessons will transla

[2018-11-10 03:32] agjohnson commented on #557
I am on the fence (only slightly!) on making this a Django view. We've been talking more about pushing docs off our servers and to Azure storage and historically served docs entirely from nginx on the community side.

However, we could maybe redirect to a .org endpoint in Azure storage (similar to S3 redirects), or could reverse proxy the request to an API endpoint through Nginx. Worst case for an

[2018-11-10 09:15] bluecmd commented on #4865
Sgtm! The submodules are just for building.

[2018-11-10 18:01] dojutsu-user commented on #3179
@stsewd any update on this?

[2018-11-11 01:12] stsewd commented on #2662
@anubhavsinha98 sure!

[2018-11-11 03:02] stsewd opened #4887 "Validate profile fields on form"
Related code

https://github.com/rtfd/readthedocs.org/blob/164800694a25d769234c6e7019c483f347fe9226/readthedocs/core/forms.py#L20-L46

This will raise an exception if the length is greater than the model

Sentry issue https://sentry.io/read-the-docs/readthedocs-org/issues/666774301/

[2018-11-11 08:00] Alig1493 commented on #3775
@stsewd I keep getting errors in tests which require for me to connect to a remote repository. Is there any chance that there certain tests that will fail in local?

[2018-11-11 09:02] Alig1493 commented on #3775
@dojutsu-user I see. I can't seem to figure out the issue on my end though. Keeps telling me it has failed to connect to remote repositories.

[2018-11-11 09:44] Alig1493 commented on #3775
@stsewd My git version shows to be at version 2.7.4

[2018-11-11 10:00] dojutsu-user commented on #3775
@Alig1493 Can you post an screenshot or some error log??
and also, are you using tox?

[2018-11-11 10:03] Alig1493 commented on #3775
@dojutsu-user sure.
![image](https://user-images.githubusercontent.com/15125420/48311525-485d5c80-e5cb-11e8-969b-c9b1106a3daa.png)

[2018-11-11 12:33] pazz opened #4889 "unexpected warnings when including a rst file without titl"
## Details
I would like to surpress warnings of the form
[code]
which I only get when using the `sphinx_rtd_theme`.
For context:
In order to avoid text duplication my documentations, I have several rst files which are included multiple times, for example a `description.rst` contains a (raw text) description of my project. This is used in the main index for html docs, as well as in the manpages.
Fo

[2018-11-11 17:23] MTecknology opened #4890 "Builds fail with no 'master' branch"
It seems RTD is unable to import/build my project if there is no 'master' branch, even though the default branch is 'develop'. If I create a master branch, builds will start succeeding.

After reading the logs, it looks a lot like the build process has 'master' hard coded into a few places.

* Read the Docs project URL: https://readthedocs.org/projects/gitlight/versions/
* Build URL (if applicable

[2018-11-12 07:55] michaelwittig opened #4893 "My docs look different / many links break header"
## Details

* Read the Docs project URL: https://readthedocs.org/projects/aws-cf-templates/
* Build URL (if applicable):
* Read the Docs username (if applicable): michaelwittig

It looks like the layout / theme changed between mid September and mid October. The new layout has problems if the navigation contains too many links.

## Expected Result

Before: https://templates.cloudonaut.io/en/v7.4.0/

[2018-11-12 08:43] humitos commented on #4001
If `deprecated` means that RTD will automatically add a version warning banner, I'd say this is a thing: "you don't want to expose the version in the flyout but you want to serve it with a warning message"

[2018-11-12 08:49] humitos commented on #3775
@Alig1493 you are not using the correct `git` version. The first line of your screenshot says that `--prune-tags` arg is not known.

[2018-11-12 09:20] humitos commented on #4865
@bluecmd I added the flag to skip submodules checkout to your project.

I'm closing this issue here, but feel free to reopen if it doesn't work as you expected or give us feedback/update ;)

Thanks!

[2018-11-12 09:20] #4865 closed

[2018-11-12 09:30] humitos commented on #4893
Mhr, what theme do you want to use? `readthedocs` or `mkdocs` default theme?

If you want `readthedocs` you need to set it in the `mkdocs.yml` file (this is because the default theme picked by RTD changed some time ago to behaves in the same way than building locally).

[2018-11-12 10:33] michaelwittig commented on #4893
okay. thanks

[2018-11-12 10:33] #4893 closed

[2018-11-12 11:01] humitos commented on #3992
I like this because it's not something that we are hacking to support but it comes from upstream and also because it seems pretty easy to do, follow and understand what's happening.

Do you see any potential problem by exposing all the ENV vars to all the commands?

I see as cons that we may end up sending secret data to places that should not be sent. On the other hand, as pros I think this will

[2018-11-12 11:10] humitos commented on #3992
Adding this link that contains useful information about how travis handles this: https://docs.travis-ci.com/user/best-practices-security/#Steps-Travis-CI-takes-to-secure-your-data

[2018-11-12 15:59] stsewd commented on #4887
I guess you are using sqlite, this can be replicated using postgres

[2018-11-12 18:04] stsewd commented on #2663
+1 on this, I think we can worry about migrating old projects later, but this will be the first step.

Also, I think you were talking to only have privacy levels on versions, but don't we need a way to show/hide the project dashboard/page in .com?

[2018-11-12 19:10] dojutsu-user commented on #4887
@stsewd
I am unable to set up postgres as of now, but i found from the django documentation that there is a limitation of 30 characters for both first_name and last_name in Django 1.11([reference](https://docs.djangoproject.com/en/1.11/ref/contrib/auth/#django.contrib.auth.models.User.first_name)).
Also the limit for homepage is set for 100 characters.

[2018-11-12 19:51] agjohnson commented on #3992
I'd be -1 on this is think, it's too complex for the user.

[2018-11-12 19:52] agjohnson commented on #3992
We can disregard the SSH use case for now. Users will potentially be able to use this for accessing GitHub, but it's multiple levels of bad UX at this point.

[2018-11-12 21:20] Trigun27 commented on #3836
Hi, can you help me pls. You just add SLUMBER_USERNAME  to local_settings and whar username did you  use?
thnaks

[2018-11-12 22:50] stsewd commented on #4890
I believe this should only pass once when first importing the project, rtd doesn't have the versions, it clones the repo, _checkout to master_, and then sync the versions.

That step can be done before the checkout, I think when https://github.com/rtfd/readthedocs.org/issues/4259 is fixed, will cover this case too.

I'll search if this only happens on the first import or in some other places later

[2018-11-12 22:57] stsewd commented on #4889
Just for confirmation, did you see the same warnings when building locally with the rtd theme? I'm not familiar with the internals of the theme, but if this only happens on rtd, it could be a problem with the extension https://github.com/rtfd/readthedocs-sphinx-ext. I'll investigate later

[2018-11-13 00:37] MTecknology commented on #4890
I tried adding the branch to the project for an initial import and then the docs could build. After deleting the branch, builds stopped working again.

[2018-11-13 01:44] agjohnson opened #4897 "Unpin dependencies to support old version of Django"
There are a number of requirements that were pinned to work with Django 1.9, these can mostly be unpinned now. A few of them are:

* DRF
* Allauth
* django-filter
* django-taggit

[2018-11-13 01:50] stsewd commented on #4897
We have an open PR for this https://github.com/rtfd/readthedocs.org/pull/4792

[2018-11-13 08:45] humitos commented on #4568
@agjohnson I will write some code today for your idea around notifications.

[2018-11-13 09:12] humitos commented on #4803
@dojutsu-user yes, something like that is what I have in mind

[2018-11-13 09:29] pazz commented on #4889
Yes, I do get the same warnings locally.

On Tue, 13 Nov 2018, 01:23 Santos Gallegos <notifications@github.com wrote:

[2018-11-13 09:32] paulmueller commented on #4855
It turns out that I had to mock tkinter and the matplotlib backend in conf.py:
[code]
For some reason, sphinxarg.ext is not very verbose when it comes to failed imports...

I tracked down the error by writing my own argparse extension (https://github.com/AFM-analysis/nanite/commit/7a00bdd8bb0371be89a74fc3862f4690d37491a3) which then gave me detailed error messages on rtd:
- https://readthedocs.org

[2018-11-13 09:32] #4855 closed

[2018-11-13 10:46] humitos commented on #4568
I'm not seeing this clearly because we have 2 different types of notifications: `site` and `email`. Site allows deduplication since it uses the message storage, but `email` send the email immediately when `.send()` is called and the notification is not saved anywhere to be recovered from a Celery task later.

I opened #4898 to discuss over the code proposed.

[2018-11-13 11:44] humitos commented on #3992
Which pattern do we want to follow here?

1. list and add in the same page, as Domain
1. list in the first page and a different page for add/edit/delete, as Integration

I think it's clearer the one from Integrations.

[2018-11-13 12:22] humitos commented on #3032
I read the whole thread and it's not clear to me what's the problem on Read the Docs. I mean, there are projects that are failing on their builds but it seems it's because of a problem in the external dependency `sphinx-argparse`.

What would be the action that we can take from Read the Docs, if any?

I was able to build properly in my dev instance without modifycation:
* `mpy-dev-tools`
* `fyrd`

[2018-11-13 15:13] anubhavsinha98 commented on #2662
So basically I researched on the issue and I founded that I have to add a documentation related to Docker, but I was not able to understand clearly so can you help to understad this issue @stsewd ?

[2018-11-13 15:30] stsewd commented on #4855
@paulmueller thanks for posting the solution!

[2018-11-13 16:51] paulmueller commented on #3032
I have not tested this on Python 2.7, but for Python 3 I would consider this problem resolved.

In general, the problem with sphinx-argparse in combination with RTD seems to be that detailed error messages are missing (see e.g. https://github.com/rtfd/readthedocs.org/issues/4855#issuecomment-438197912). Not sure who would be responsible for that.

[2018-11-13 18:02] humitos commented on #3032
Not sure to follow here. When you build locally in your computer do you have a better detailed message that explain the reasons (*)?

(*) those that you finally found with your custom extension, I think.

[2018-11-13 19:00] stsewd commented on #4638
So, I was digging a little here about removing `Project.documentation_type` completely.

- Previous projects don't have the config saved (we can do a migration here, just update all previous builds of earch version to the doctumentation_type of the project).
- People that want to build their docs with other than sphinx, have to use a config file.

If we don't want to completely removed it:

- We c

[2018-11-13 20:24] paulmueller commented on #3032
Yes, but I currently don't have a minimal example to support my claims. Give me some time and I will open a new issue.

[2018-11-13 21:13] stsewd commented on #1707
The related PR isn't merged in django yet

[2018-11-13 21:58] ericholscher commented on #4654
Should be easy enough to do it now, but we should build it knowing that the functionality that we call to index things might change, but that should be a small change in this part of the code.

[2018-11-13 23:58] stsewd commented on #4890
But did you change the default branch to be `develop`? Maybe a build to master was triggered by a webhook? Can you check the webhook responses? (if there is a push to develop, what branches are marked to build)

[2018-11-14 03:20] MTecknology commented on #4890
I thought I tried that, but I just tried again and it seems to be working. I guess it /is/ the same thing. Thanks!

[2018-11-14 03:20] #4890 closed

[2018-11-14 03:35] stsewd commented on #4890
Well, when the other problem gets fixed, the first build will still fail, but you won't need to create a master branch because there will be another branch (develop) in the list of available versions.

[2018-11-14 10:08] paulmueller commented on #3032
I can reproduce the missing error messages locally, so this is not related to RTD.
https://github.com/ribozz/sphinx-argparse/issues/102

[2018-11-14 10:42] humitos commented on #4638
How much is _slow_? We should need some measure here. I suppose that PostgreSQL is optimized to do a queries inside a JSON field. In case we consider that it's slower than we want, we can always denormalize the db a little and duplicate this data into a normal field (which will perform fast).

[2018-11-14 10:49] humitos commented on #3032
@paulmueller thanks for sharing your research here!

Now, I think that we can close this issue on RTD and people interested in this problem can subscribe to the issue that you opened in the sphinx extension.

Thank you all for debugging and helping us to make Read the Docs better ;)

[2018-11-14 10:49] #3032 closed

[2018-11-14 13:38] yarons commented on #2463
This is a pretty simple example of what RTL users expect to see:
https://material.io/design/usability/bidirectionality.html

In case of RTL it basically just like Latin (Although the vowels are hidden or incorporated in the consonants depending on the case) so the sizes should be similar.

For Arabic speakers a Pig is considered "Haram" (literally forbidden) so putting a donation button with a pig

[2018-11-14 14:42] humitos commented on #4354
We all arrive to a proper solution and we have the pipfile schema already merged. I'm removing the `Design decision` label from this issue because we already known what we want to implement.

[2018-11-14 14:51] humitos commented on #4823
Either way works for me.

Using `--extra-search-dir` is more robust to me, but there is a small problem with it that is we will need to download first the new version of `pip`/`setuptools` first. So, it will be,

    pip download pip setuptools

and then,

    python -m virtualenv --extra-search-dir .

Upgrading `pip` after creating the virtualenv env is easier, but if the first `pip` is broken fo

[2018-11-14 15:00] humitos commented on #3979
I suppose that this extension needs https://github.com/rtfd/readthedocs-docker-images/pull/79 (`librsvg2-bin` package), right?

By default, without any kind of extension, Sphinx will automatically use `imagemagick`, right?

If I'm right in both, I would say that we want to add `imagemagick` to the docker image also.

[2018-11-14 15:02] humitos commented on #3979
I read your suggestion from https://github.com/rtfd/readthedocs-docker-images/issues/70#issuecomment-437813494 and I think that I'm right and you have a point with that extension. Although, I think we should support both possibilities.

[2018-11-14 15:15] humitos commented on #4363
:+1: we should go in this direction that is not harmful.

[2018-11-14 16:04] dojutsu-user commented on #4887
@stsewd Can i start working on this?

[2018-11-14 17:10] humitos commented on #2267
I think I like this idea.

If we have an option under the admin that trigger in a broadcast way the deletion of _all_ the version of the current project, that will produce 404 in the nginx mechanism and Python will be reached.

At that point, we can check if that option is enabled and a redirect (previously defined by the user) will be returned.

This new options to mark this project as `moved` wi

[2018-11-14 17:29] davidfischer commented on #1911
To be 100% honest, I don't think whitenoise buys us a lot in our production setup. Whitenoise really shines with [static files in Django](http://whitenoise.evans.io/en/stable/django.html) (as opposed to user uploaded or generated files which Django calls "media files"). The biggest advantages of whitenoise I can see are:

* It handles generation (via `collectstatic`) of compressed versions of file

[2018-11-14 17:42] davidfischer commented on #1911
If we ever do decide to switch from storage for static files currently Azure storage to whitenoise, it shouldn't be that big of a deal but again the advantages are small. The work we already did to cleanly separate "static" files from "media" files would still be necessary (`collectstatic` used to write to a subdir of `media`). We would need to change our deploy process to run `collectstatic` on a

[2018-11-14 18:20] stsewd commented on #4638
Mostly it's because we are doing a query on a larger table (builds) on each request to the footer API, I'm not worried in other parts of the code (maybe in the resolver?). That's why I suggest saving this data on the `rtd-data.js` file, we alredy save a lot of info for the footer API there.

[2018-11-14 18:38] stsewd commented on #4823
If the first pip is broken all docs will be broken anyway and `--extra-search-dir` wouldn't work because `pip download` shouldn't work either p:

I can say that it will be easier to see what's going on for the user if we install pip after the env creation.

[2018-11-14 21:03] mgeier commented on #3979
@humitos

Yes, it needs the `librsvg2-bin` package.

You still need to explicitly enable the built-in extension `sphinx.ext.imgconverter`.

I agree, having both would be good.

Even though most of the times SVG -> PDF looks better, there are also cases where SVG -> PNG is preferable (e.g. when the SVG is overly complex).

[2018-11-15 02:35] stsewd commented on #4603
Just pointing that we already set up a `readthedocs` tag, because we have a custom builder, see https://github.com/rtfd/readthedocs.org/issues/4765#issuecomment-431927720

[2018-11-15 11:20] humitos commented on #3465
@marcelstoer could you please test the solution that @stsewd provided? I think that should achieve your goal.

I want to have something actionable on this issue or close it.

[2018-11-15 11:32] humitos commented on #4529
`latest` won't be associated to a version (or tag) in particular because it usually builds from `master` for git. So, I think that showing something like `latest (x.y.z)` doesn't make sense because in fact, the _real_ `x.y.z` will be different than `latest`. If there is some value here, it could be the commit hash like `latest (a1b2c3)`.

On the other hand, I think this could apply to `stable` sin

[2018-11-15 11:46] orenbenkiki commented on #4529
I agree that it makes perfect sense to include the version number in `stable`.

As for `latest`, I agree that in general, the `__version__` property of non-release commits is very suspect. However, in some projects (such as mine), the `__version__` property _is_ unique and _does_ identify the specific commit - at least on the `master` branch, which is where the docs are built from.

Ideally there

[2018-11-15 12:35] humitos commented on #4300
We use this pattern to extend which classes can be overrideable:

https://github.com/rtfd/readthedocs.org/blob/4fa2746040aee0aafcdb09e0e5674dcb42ea9809/readthedocs/core/utils/extend.py#L44-L79

when we need to override something from the corporate site that shares the code with the community site.

I suppose that we should be inherit the CondaEnvironment and VirtualenvEnvironment to from SettingsO

[2018-11-15 12:40] humitos commented on #4259
I suppose that this issue will be solved by #4876, right?

[2018-11-15 12:43] humitos commented on #4230
This issue is related to the generation of the sitemap: #557

[2018-11-15 12:53] humitos commented on #2218
This issue seems stale and like a temporary error in 2016. So, I'm going to close it but feel free to reopen it if you consider or open a new one.

[2018-11-15 12:53] #2218 closed

[2018-11-15 13:00] humitos commented on #2593
More than a user option I think this should be an automatic protection from Read the Docs to avoid people triggering multiple (more than X) builds in the same minute.

We should something similar than `skip=True` at

https://github.com/rtfd/readthedocs.org/blob/4fa2746040aee0aafcdb09e0e5674dcb42ea9809/readthedocs/core/utils/__init__.py#L96-L101

We need to consider:

* just skipping the trigger of

[2018-11-15 13:05] humitos commented on #3039
Closing this in favor of #4001 which is closer to start being implemented.

[2018-11-15 13:05] #3039 closed

[2018-11-15 13:14] humitos commented on #2347
I understand your point.

I'd say, how do we know that `/en` in `/en/changelog.html` means the language and not just a subpath?

We could adapt this code to check also without the `<version_slug>` but we would need to write a good amount of tests and check that we are not breaking other places.

https://github.com/rtfd/readthedocs.org/blob/4fa2746040aee0aafcdb09e0e5674dcb42ea9809/readthedocs/redir

[2018-11-15 13:19] humitos commented on #4000
This is related to #4529 that talks about showing the tag that `stable` points to in below the project's title.

[2018-11-15 13:22] humitos commented on #3914
Closing in favor of #4001

[2018-11-15 13:22] #3914 closed

[2018-11-15 13:32] humitos commented on #2956
Closing in favor of #2955

[2018-11-15 13:32] #2956 closed

[2018-11-15 13:34] humitos commented on #4267
This is being discussed at #3476

[2018-11-15 15:18] dojutsu-user commented on #4654
I am assuming that this command is `python manage.py reindex_elasticsearch -p <project_name>`.
right?

I will be making an initial PR soon.

[2018-11-15 16:04] stsewd commented on #2593
What travis does when receiving multiple webhooks from the same PR is block the others and just build the last one.

[2018-11-15 16:04] humitos commented on #4190
There is a related issue at #3242

[2018-11-15 16:07] stsewd commented on #4259
Yup, I forgot to linked it

[2018-11-15 16:09] stsewd commented on #4259
Actually no, this one will fix this https://github.com/rtfd/readthedocs.org/pull/4901

[2018-11-15 18:04] spencerahill opened #4905 "Updating environment.yml used by RTD for a release after release has been made"
## Details

* Read the Docs project URL: https://readthedocs.org/projects/aospy/
* Build URL (if applicable): https://readthedocs.org/projects/aospy/builds/8103255/
* Read the Docs username (if applicable): spencerahill

## Expected Result

n/a

## Actual Result

We recently released [v0.3](https://github.com/spencerahill/aospy/releases/tag/v0.3.0) of aospy.  After the release, we realized that we

[2018-11-15 18:14] stsewd commented on #4905
Sorry, we can't edit any files on the servers, that would break the build process (fetching the repo, changing branch/tag and build).

What about doing a `0.3.1` release?

You may be interested in https://github.com/rtfd/readthedocs.org/issues/1340 to catch this kind of errors early.

[2018-11-15 19:47] spencerahill commented on #4905
Thanks @stsewd .  I figured as much, but worth checking!

Yes, this is probably what we'll end up doing.  Lesson learned!

Cool, will look into this.

I'll close this.

[2018-11-15 22:42] ericholscher commented on #4363
I'm curious if the projects in prod are still active. We can probably just ping each 4 of them and ask them to configure formats, and be done with it.

[2018-11-15 23:09] stsewd commented on #4363
@ericholscher wrong issue I guess p:

[2018-11-15 23:11] ericholscher commented on #4363
Ha yea, I was wondering where that comment went :D

[2018-11-16 01:44] stsewd commented on #1758
I wasn't able to make it work with ngrok, so, I just upload it on github pages, and for some reason the `_static` dir doesn't work (I guess because of jekyll). But this is kind of how it looks my POC.

![screenshot_2018-11-15 sharing debugger - facebook for developers](https://user-images.githubusercontent.com/4975310/48592580-1162b000-e917-11e8-97e3-dd50a3b3891e.png)

this is how it looks without

[2018-11-16 02:44] austinhuang0131 opened #4907 "Cloudflare custom domain does not redirect http to https"
## Details

* Read the Docs project URL: https://readthedocs.org/projects/discordtel/
* Build URL (if applicable):
* Read the Docs username (if applicable): austinhuang

I have `Always use HTTPS` on for domain `discordtel.austinhuang.me`. Do note that my domain is under Cloudflare.

Cloudflare record: ![screen shot 2018-11-15 at 9 41 38 pm](https://user-images.githubusercontent.com/16656689/485946

[2018-11-16 03:16] stsewd commented on #4907
Please see https://github.com/rtfd/readthedocs.org/issues/4641. You can read for more background https://github.com/rtfd/readthedocs.org/issues/3938#issuecomment-419229337

[2018-11-16 03:16] #4907 closed

[2018-11-16 05:18] claresloggett commented on #4794
Thanks very much @humitos!

[2018-11-16 15:46] stsewd commented on #4788
Hi, were you able to solve the problem?

[2018-11-16 16:08] stsewd commented on #1758
I was able to do the `.nojekyll` thing, but facebook doesn't support svg images p: so, it kind of looks like the same https://developers.facebook.com/tools/debug/sharing/?q=https%3A%2F%2Fstsewd.github.io%2Frtd-test%2F

[2018-11-16 16:13] stsewd commented on #1758
At least on twitter it makes a LOT of o difference :grin:

![screenshot_2018-11-16 card validator twitter developers 1](https://user-images.githubusercontent.com/4975310/48633099-96d67680-e990-11e8-998b-7cc97abe1b3a.png)
![screenshot_2018-11-16 card validator twitter developers](https://user-images.githubusercontent.com/4975310/48633101-976f0d00-e990-11e8-84df-098fe8fa8108.png)

[2018-11-16 16:52] agjohnson commented on #2663
I think that showing the project dashboard page for public projects should be considered buggy behavior on the .com. This was a hold out from how the community site works, and I don't think translates well to customers using our commercial hosting.

[2018-11-16 17:17] RichardLitt commented on #4887
@dojutsu-user If you can craft a PR that seems to make a substantive difference towards resolving this issue, go ahead. You don't need to ask permission for that. We'll review it when we can. If you're asking for more help in figuring out how to resolve this issue, there's no need to ask if you can start working on it - just ask for help. :)

[2018-11-16 17:45] csadorf opened #4908 "Search index is not updated for sub-projects"
## Details

* Read the Docs project URL: https://readthedocs.org/projects/signac/
* Build URL (if applicable):
* Read the Docs username (if applicable): csadorf

This RTD page has sub projects.

## Expected Result

The search index is reindexed whenever the main or any of the sub-projects is updated.

## Actual Result

Search results lead to dead links, for example, the results for the following s

[2018-11-16 19:07] michaeldboyd commented on #4908
+1, I also can here today to post this

[2018-11-17 07:53] treeshtaloshan opened #4911 "Searching for Best MS Outlook OST Emails Converter Tool"
High level solution in the online market name of **[Atom TechSoft Outlook OST Emails converter software that 100% capable to remove virus/errors of Outlook offline .ost file and also recover Emails/mails from Outlook offline .ost2.pst file with 11 formats( PST, MSG, EML, PDF,TXT,DOC, MHTML,RTF HTML and MBOX . Tool works to Repair any version of Corrupted OST Files and also Along with it completely

[2018-11-17 14:16] #4911 closed

[2018-11-17 21:19] danielknell opened #4912 "Support Poetry"
It would be nice to be able to build docs for libraries managed with [poetry](https://poetry.eustace.io).

maybe  by checking for a `[tool.poetry]` section in `pyproject.toml`, having to keep a separate requirements.txt file in sync feels a bit fragile.

[2018-11-17 23:52] championballer commented on #4698
@RichardLitt It would be great if some good first time issues can be introduced for the project.

[2018-11-18 00:42] stsewd commented on #4698
There are, but some are already taken https://github.com/rtfd/readthedocs.org/issues?q=is%3Aissue+is%3Aopen+label%3A%22Good+First+Issue%22, we try to label introductory issues with that label. When watching the repo GitHub show issues on your "timeline/dashboard" when they are labeled.

[2018-11-18 00:44] stsewd commented on #4912
What would be the poetry workflow in read the docs? Pipfile support will be out soon btw. If this gets implemented, it would live as an option in the configuration file.

[2018-11-18 06:38] HarryShomer opened #4913 "AutoDocs not being generated"
## Details

* Project URL: https://readthedocs.org/projects/hockey-scraper/
* Build URL: https://readthedocs.org/projects/hockey-scraper/builds/8116770/
* Username: harryshomer

## Expected Result

I expected it to generate the documentation for the docstrings.

## Actual Result

They aren't generated and are just blank. This is something that works locally on my machine but isn't here. The build

[2018-11-19 12:44] joelanders commented on #4788
Hi again, I should let you know that recreating the project solved the issue.

Thanks for your help :)

[2018-11-19 12:44] #4788 closed

[2018-11-19 15:58] stsewd commented on #4913
Hi, can you point me out what pages aren't showing the docstrings?

[2018-11-19 16:13] HarryShomer commented on #4913
These two: [One](https://hockey-scraper.readthedocs.io/en/latest/live_scrape.html) and [two](https://hockey-scraper.readthedocs.io/en/latest/scrape_functions.html).

For both the docstrings should be at the bottom under the headers.

[2018-11-19 16:18] stsewd commented on #4913
I can see that there are some errors on the install and build steps

[code]

Looks like you need python3.6, you need to use a configuration file to have python3.6 support https://docs.readthedocs.io/en/latest/yaml-config.html

[2018-11-19 16:32] HarryShomer commented on #4913
Yep, that's it. Thank you for your help!

[2018-11-19 16:32] #4913 closed

[2018-11-19 17:08] stsewd commented on #4889
I was able to reproduce this, still not sure what's happening, I need to dig more

[2018-11-19 18:11] stsewd commented on #4889
This also happens with the `alabaster` theme.

[2018-11-19 18:27] stsewd opened #4914 "Better errror message for lists in config file"
After https://github.com/rtfd/readthedocs.org/pull/4740 is merged, we will show the error message for lists as `list.{index}`, which isn't so clear, we should use `list[{index}]` instead.

Raised in https://github.com/rtfd/readthedocs.org/pull/4740#discussion_r233957618

[2018-11-19 20:12] dojutsu-user commented on #4914
@stsewd
Can I take this issue?

[2018-11-19 20:54] simonvh opened #4916 "Build fails without error message"
## Details

* Read the Docs project URL: https://gimmemotifs.readthedocs.io
* Build URL (if applicable): https://readthedocs.org/projects/gimmemotifs/builds/8123114/
* Read the Docs username (if applicable): simonvh

## Expected Result

A finished build or an error message.

## Actual Result

The build fails after `git branch -r`, but I can't see any error.

[2018-11-19 22:08] humitos commented on #4912
So, replacing the `pip install` step by `poetry install` is all that's needed here or there are more tricks that I'm not seeing?

[2018-11-20 09:14] sobolevn commented on #4912
@humitos yes, I think so.

Mind, that we also have to work with `venv` differently: we need to prefix all commands with `poetry run`.

[2018-11-20 10:41] danielknell commented on #4912
if you have the venv active, you can run `poetry install` and it will install into the current environment the same way that `pip install -r requirements.txt` will, you can then use the  venv as you would had normally.

`poetry run` is just a shorthand to run things in the venv without having to remember where it is or activate it first.

[2018-11-20 11:34] ax3l opened #4917 "Multiple Builds per Merge, One per Tag"
## Details

* Read the Docs project URL: http://picongpu.readthedocs.io/
* Build URL: https://readthedocs.org/projects/picongpu/builds/
* Repo URL: https://github.com/ComputationalRadiationPhysics/picongpu/
* Read the Docs username: as as on GitHub

## Problem Description

I somehow have the feeling that I ill-configured my project.
Each merge commit is somehow build four times - is that correct?

[2018-11-20 12:31] humitos commented on #4917
Please, check if your project has the GitHub service enabled at https://github.com/ComputationalRadiationPhysics/picongpu/settings/installations. If there is a Read the Docs service there, please remove it since it's deprecated.

Also, go to https://github.com/ComputationalRadiationPhysics/picongpu/settings/hooks and check how many webhooks do you have for Read the Docs (you should have only one t

[2018-11-20 12:51] humitos commented on #1253
We are currently showing `Passed` and `Failed`. It could be improved with red/green colors, though.

Activating a version, automatically trigger a build for it already.

We should filter this line by `built` also,

https://github.com/rtfd/readthedocs.org/blob/4031b9078efba9948301e89c948a236671086d26/readthedocs/projects/forms.py#L417

like,

[code]

I do see two different approaches for this. When

[2018-11-20 13:03] humitos commented on #1707
This is the upstream PR: https://github.com/django/django/pull/7300

I'm moving this out from 3.0 since it's not on us and it's more like a Cleanup task.

[2018-11-20 13:05] humitos commented on #1707
This is the chunk of code we want to remove:

https://github.com/rtfd/readthedocs.org/blob/4031b9078efba9948301e89c948a236671086d26/readthedocs/projects/validators.py#L23-L50

Our code was copied from an old PR, https://github.com/django/django/pull/3477

[2018-11-20 13:44] Naereen commented on #3070
Hi! I'm quite curious, I though python 3.6 was supported, but for instance [this build](https://readthedocs.org/projects/smpybandits/builds/8126289/) tried to use `python.version: 3.6` in my YAML file, and failed instantly.
See #4918

[2018-11-20 15:14] stsewd commented on #4912
Is there a use case where users only want to install dev/prod deps? There are any other configurations that users may want to set?

[2018-11-20 15:20] stsewd commented on #3070
It's supported, please see https://docs.readthedocs.io/en/latest/yaml-config.html#python-version

You need

[code]

[2018-11-20 15:39] #4259 closed

[2018-11-20 15:54] danielknell commented on #4912
`poetry install` will install both dev and regular dependencies
`poetry install --no-dev` will install only regular dependencies and no dev stuff

the latter is more along the lines of `setup.py install` with the caveat that it wont install the module itself.

[2018-11-20 16:08] stsewd commented on #4916
I tested it locally, it's failing in the conda env creation

[2018-11-20 16:09] stsewd commented on #4916
And looks like your latest builds are passing now

[2018-11-20 16:36] Naereen commented on #3070
Oh, OK. Sorry I (still) didn't understand this point. Thanks!
My [latest build](https://readthedocs.org/projects/smpybandits/builds/8127151/) is working, thanks a lot!

[2018-11-20 16:41] stsewd commented on #3070
We use docker images to encapsulate the build process, each docker image has different python versions, and libs, here is the list https://docs.readthedocs.io/en/latest/builds.html#the-build-environment. Using latest is recommendable.

[2018-11-20 18:38] stsewd commented on #2971
We have a flag that allows projects to override the html_context from rtd (we need to setup this on the db)

https://github.com/rtfd/readthedocs.org/blob/c37b00995c1bbc5ee51d3552ef176546373bb912/readthedocs/doc_builder/templates/doc_builder/conf.py.tmpl#L119-L125

I also think that rtd should allow to override this values by default, not sure how else we can fix this issue.

[2018-11-20 18:55] simonvh commented on #4916
Thanks for testing! I simplified the conda environment, seems like that was the issue (somehow?). Not sure if the underlying issue is resolved, but it's fixed for me. I'll close the issue. Thanks again for looking at it.

[2018-11-20 18:55] #4916 closed

[2018-11-20 19:00] stsewd commented on #4916
Yeah, it could be, conda is very heavy in resources (memory or time), some builds are killed because of that.

[2018-11-20 19:32] ivankravets commented on #2971
We use a temporary solution with replacing links via DOM
- https://github.com/platformio/platformio-docs/blob/develop/_templates/footer.html#L114:L119

[2018-11-20 21:34] stsewd commented on #1802
I was able to replicate this https://rtd-test-submodule.readthedocs.io/en/latest/, but as I mentioned, there is no way for rtd to guess what submodule each page belong to (in an easy way at least). A way of avoiding broken links could be hiding the links https://docs.readthedocs.io/en/latest/guides/remove-edit-buttons.html

Or you could change the github links in the template instead of hiding it

[2018-11-20 21:54] ypid commented on #1802
@stsewd Hoping for GitHub could work.

Note that I implemented a workaround which you could use a staring point: https://github.com/debops/docs/pull/210

[2018-11-20 22:06] ax3l commented on #4917
Thank you very much for the help. I still had the old service enabled, hooks are at one.

[2018-11-20 22:07] #4917 closed

[2018-11-20 22:51] stsewd commented on #4371
The error happens inside the generator `repo.submodules`, so we can't just catch the exception, we would lose the other submodules. I'll try to fix this on upstream this weekend.

[2018-11-20 23:11] stsewd commented on #4630
Does the title show when building locally?

[2018-11-20 23:30] stsewd commented on #4630
Also, looks like it's by default false

https://github.com/bitprophet/alabaster/blob/7d94bd592ab7d2876b0855d321995a557a9b1d5b/alabaster/theme.conf#L25

And it's interpreted as a string https://github.com/bitprophet/alabaster/blob/7d94bd592ab7d2876b0855d321995a557a9b1d5b/alabaster/about.html#L5

[2018-11-21 00:17] stsewd commented on #4630
I just build your docs locally (inside and outside rtd), the `logo_name` setting is working as expected. Also, I can see that you are using `logo_name` to `True` https://github.com/Lab41/squiggle/blob/e0482237ced49750b5f1b0912079b5a47177f0d4/docs/conf.py#L91.

I'm closing, feel free to reopen with more information.

[2018-11-21 00:17] #4630 closed

[2018-11-21 00:33] stsewd commented on #3910
@lgarcin can you please try to build the project with pdf and epub disabled? (and maybe htmlzip too), see https://docs.readthedocs.io/en/latest/guides/build-using-too-many-resources.html. Let us know if that helps, I believe this is because of a memory consumption issue.

[2018-11-21 10:42] humitos commented on #1253
The idea is to not be able to set the "default version" a Version that it's not `built` yet because if so, when you access the docs you will get all 404s

[2018-11-21 15:07] stsewd commented on #2662
You need to remove `libevent` example from here https://docs.readthedocs.io/en/latest/faq.html#i-get-import-errors-on-libraries-that-depend-on-c-modules and maybe add a link to the available libs https://docs.readthedocs.io/en/latest/builds.html#the-build-environment

[2018-11-21 16:06] paternal commented on #2662
If you are referring to the list of installed libraries, I wrote a package for this purpose: [sphinxcontrib-packages](http://packages.rtfd.io). It automatically lists:
- [Python versions](https://packages.readthedocs.io/en/latest/pyversions/)
- Python libraries : [Python2](https://packages.readthedocs.io/en/latest/python/python2/) and [Python3](https://packages.readthedocs.io/en/latest/python/pyth

[2018-11-21 19:29] SolarLiner commented on #3181
@gsemet yes, or use `pipenv lock --requirements > requirements.txt` ;)

[2018-11-21 19:56] paternal commented on #2662
That's right. It lists the packages installed on the (physical/virtual/docker) system used to generate the documentation:
- you build the [packages](http://packages.rtfd.io) documentation at home: it lists the packages installed on your computer (not really interesting);
- the documentation is built on http://rtfd.io: it lists the packages installed on the system used to build the documentation.

[2018-11-22 07:22] graup opened #4920 "Add typedoc support to build environment"
RTD supports sphinx-js and jsdoc. It works well with `build: image: latest`.

Recently sphinx-js added typedoc support for typescript. Could typedoc be installed in the builder image? Or is there a way to install it myself?

    npm install -g typedoc

Ref #3338

[2018-11-22 12:54] humitos commented on #4920
@graup we are already installing `jsdoc` with `npm`, so I think it won't be a problem to another npm dependency.

The line that has to be modified is this one:

https://github.com/rtfd/readthedocs-docker-images/blob/master/Dockerfile#L62

Thanks!

[2018-11-22 14:10] dojutsu-user commented on #4920
@humitos
I am not familiar with that part of of the code, but would love to send a PR if it is just the modification of the line mentioned.
Can I take this?

[2018-11-22 18:19] pkovacs19 opened #4921 "Function annotation support"
## Details

* Read the Docs project URL: https://gitlab.com/energyincities/EPlusGA/tree/docs
* Build URL (if applicable): https://eplusga.readthedocs.io/en/latest/
* Read the Docs username (if applicable): pkovacs

Hello, I am having a similar issue to issue  #2919 (pep484 type annotation support at readthedocs.org).  My docs can build just fine locally when I run "make html" command in sphinx.  M

[2018-11-23 06:16] stsewd commented on #4921
Sphinx is reading the annotations, the problem happens here `AttributeError: module 'platypus' has no attribute 'Problem'`. https://gitlab.com/energyincities/EPlusGA/blob/docs/eplus_ga/problem.py#L139

The module `platypus` doesn't have a `Problem` class, maybe you have another version installed locally?

[2018-11-23 12:09] dojutsu-user commented on #4920
@humitos
I have made a PR
https://github.com/rtfd/readthedocs-docker-images/pull/81

[2018-11-23 18:01] pkovacs19 commented on #4921
Thanks for your reply, stsewd.  You were right, I've updated my requirements.txt file to have the proper platypus version installed.   Sorry for the newbie question!

Thanks for your help!

[2018-11-23 18:01] #4921 closed

[2018-11-23 20:13] nibblesnbits opened #4922 "Not Compatible with mkdocs 1.0.4"
It seems RTD is not compatible with the newest version of mkdocs.  The build throws a warning for my repo:
[code]

Using mkdocs 1.0.4 locally works fine, but from the logs it seems RTD is using mkdocs version 0.17.3:

[code]

In the mean time I'll start using mkdocs 0.17.3 locally to troubleshoot.  **(Does anyone know an easy way of accessing the docs for mkdocs version 0.17.3?)**

## Details

* R

[2018-11-23 20:19] stsewd commented on #4922
You can use `requirements.txt` file to specify another version of mkdocs https://docs.readthedocs.io/en/latest/guides/specifying-dependencies.html

[2018-11-23 20:20] stsewd commented on #4922
Also, we don't officially support mkdocs >= 1.0, so not sure if would be any weird problems.

[2018-11-23 20:31] nibblesnbits commented on #4922
Wait, I was wrong.  Turns out it's only the root `/` page that's broken.  Everything else looks fine.

[2018-11-23 22:38] stsewd commented on #4922
I don't see anything broken in https://anyq.readthedocs.io/en/latest/, can you be more specific?

[2018-11-25 18:52] nymd commented on #3179
This is still a bug @stsewd @dojutsu-user @AlbertMietus

Brand new project (sft-protocol.readthedocs.io)

Brand new domains (tried both sftprotocol.com and sft-protocol.com)

Using the "docs" subdomain, everything gets redirected the SAME project as the OP's issue.

;; ANSWER SECTION:
docs.sft-protocol.com.	300	IN	CNAME	readthedocs.io.

curl -v http://docs.sft-protocol.com/
*   Trying 104.18.228.1

[2018-11-26 02:17] ericholscher commented on #3179
You have to setup the exact CNAME you want, so `docs.sftprotocol.com (Edit) (Remove)`

[2018-11-26 10:56] Aazhar opened #4923 "Config value: 'pages'. Error: Invalid pages config"
## Details

* Read the Docs project URL: anhalytics.rtfd.io
* Build URL (if applicable): https://readthedocs.org/projects/anhalytics/builds/8150298/
* Read the Docs username (if applicable):

## Expected Result

To be built successfully

## Actual Result
WARNING -  Config value: 'include_search'. Warning: Unrecognised configuration name: include_search
ERROR   -  Config value: 'pages'. Error: Inva

[2018-11-26 15:39] stsewd commented on #4923
Read the Docs installs `mkdocs=0.17.3` by default, I guess you are using another version locally, you can use a `requirements.txt` file to install another version https://docs.readthedocs.io/en/latest/guides/specifying-dependencies.html

[2018-11-26 15:39] #4923 closed

[2018-11-26 15:49] Aazhar commented on #4923
I am using readthedocs build online, here you can see it : https://readthedocs.org/projects/anhalytics/builds/8150298/

[2018-11-26 15:52] stsewd commented on #4923
Yes, and rtd installs `mkdocs=0.17.3` by default, and you are using a configuration that is only supported in another mkdocs version, to rtd installs the version of mkdocs that your config uses, you need to create a `requirements.txt` file with the correct mkdocs version

[2018-11-26 16:06] Aazhar commented on #4923
Ok thank you for helping

[2018-11-26 16:07] stsewd opened #4924 "Create a plugin for mkdocs integration as we do with Sphinx"
Probably this would be a very low priority but I wanted to put it here so we don't forget.

Currently, we inject some values on the mkdocs config file

https://github.com/rtfd/readthedocs.org/blob/c37b00995c1bbc5ee51d3552ef176546373bb912/readthedocs/doc_builder/backends/mkdocs.py#L107-L169

This is a problem when mkdocs make incompatible changes between versions, if we write an extension we can ha

[2018-11-26 17:31] sergibondarenko opened #4926 "The docs are not updated"
## Details

* Read the Docs project URL: https://sentinl.readthedocs.io/en/latest/
* Build URL (if applicable):https://readthedocs.org/projects/sentinl/builds/8152458/
* Read the Docs username (if applicable): sergibondarenko

## Expected Result
The docs are updated.

*A description of what you wanted to happen*
I want to update the docs. Here is the source https://github.com/sirensolutions/sentin

[2018-11-26 17:37] stsewd commented on #4926
Which docs aren't up to date? I can see that the last change (howto) are here https://sentinl.readthedocs.io/en/latest/HOWTO-Alerts-in-Dashboard/

[2018-11-26 17:42] sergibondarenko commented on #4926
Why don't I see the changes here? And why there are 2 different formats?
![screenshot from 2018-11-26 18-41-49](https://user-images.githubusercontent.com/5389745/49031687-f90e5300-f1aa-11e8-9728-b9ad881559bd.png)

[2018-11-26 17:44] sergibondarenko commented on #4926
Click Wizard
![screenshot from 2018-11-26 18-42-51](https://user-images.githubusercontent.com/5389745/49031742-1f33f300-f1ab-11e8-8b01-c3a8d94d3278.png)
And you see this
![screenshot from 2018-11-26 18-43-22](https://user-images.githubusercontent.com/5389745/49031757-2d820f00-f1ab-11e8-8bc5-31d04af8a922.png)
But original doc is https://github.com/sirensolutions/sentinl/blob/master/docs/Watcher-Wiz

[2018-11-26 17:51] stsewd commented on #4926
I'm seeing the correct docs on rtd
![screenshot_2018-11-26 sentinl docs](https://user-images.githubusercontent.com/4975310/49031899-3954dd80-f179-11e8-95af-0c16cd1a93e4.png)

![screenshot_2018-11-26 wizard - sentinl docs](https://user-images.githubusercontent.com/4975310/49031915-4376dc00-f179-11e8-8af0-a986802039fd.png)

I'm guessing this is bc of cache in your browser or ISP (you can refresh the

[2018-11-26 17:54] sergibondarenko commented on #4926
Yeah, you are right, it was cache. I cleared it and now I see correct docs. Thank you.

[2018-11-26 17:54] #4926 closed

[2018-11-26 18:55] stsewd commented on #4846
I can't replicate even with the same verbose name from sentry

[code]

[2018-11-26 19:05] stsewd commented on #4846
[code]

I don't think the problem is in the sluggify step

[2018-11-26 19:34] stsewd commented on #4846
Here is the real problem

https://github.com/rtfd/readthedocs.org/blob/c37b00995c1bbc5ee51d3552ef176546373bb912/readthedocs/builds/models.py#L118-L118

Investigating

[2018-11-27 00:36] stsewd commented on #1615
Just commenting that mkdocs already handles this https://www.mkdocs.org/user-guide/writing-your-docs/#index-pages, README files are converted to index files.

For sphinx, the include directive is still valid, or use this method for md files inside rst https://github.com/sphinx-doc/sphinx/issues/2840#issuecomment-284863143

@DannyBen let me know if that solves your problem or if there is something

[2018-11-27 01:05] stsewd commented on #2483
We could create a redirect for all projects? Also, for mkdocs projects, this is already done in the mkdocs side https://github.com/rtfd/readthedocs.org/issues/1615#issuecomment-441853457

For sphinx there isn't a configuration or an extension (I just did a simple google search). I guess we could write this in the rtd-extension, or just deal with this creating an index file. Why? Because people can

[2018-11-27 01:07] stsewd commented on #1615
For sphinx we have this issue open https://github.com/rtfd/readthedocs.org/issues/2483, and we are also considering the mkdocs case (which I think is already solved by mkdos itself)

So, I'm closing this in favor of https://github.com/rtfd/readthedocs.org/issues/2483

[2018-11-27 01:07] #1615 closed

[2018-11-27 01:17] stsewd commented on #1800
I don't think we have a way to indicate a `waning` in the build process. Also, mkdocs already handle the case where users have a README file, so, we can't just check for a missing index file, we could do the check in the generated docs.

[2018-11-27 01:37] stsewd commented on #1800
Also, now sphinx-quickstart suggest an index file by default, which can help to have fewer users without an index file.

[2018-11-27 01:47] stsewd commented on #2233
The PR was already merged https://github.com/publicsuffix/list/pull/722, closing.

thanks @dkg!

[2018-11-27 01:47] #2233 closed

[2018-11-27 16:02] RichardLitt commented on #4921
@pkovacs19 We're all new at some point, and someone else may find this issue helpful. Don't worry about it! Thanks for logging the issue :)

[2018-11-27 18:49] stsewd commented on #4563
Closing this as the user [hasn't responded or given more information](https://docs.readthedocs.io/en/latest/contribute.html#initial-triage), feel free to reopen with more information if you are still having this problem :). Also, your latest builds are passing without any errors now https://readthedocs.org/projects/vinnireaddocstest/builds/

[2018-11-27 18:49] #4563 closed

[2018-11-27 19:02] #743 closed, assigned to nobody

[2018-11-27 19:20] stsewd commented on #3097
Closing in favor of #779

[2018-11-27 19:20] #3097 closed

[2018-11-27 20:35] stampylongr opened #4930 "vrv.js.org SSL On Cloudflare Problem"
## Details

* Read the Docs project URL: https://vrv.js.org
* Build URL (if applicable):
* Read the Docs username (if applicable):

## Expected Result
The expected result, in this case, is that the domain should be using an SSL certificate from js.org, but instead, it's Cloudflare settings is being managed by Read The Docs. Is there any way to fix this?
More details here (as I'm terrible at explai

[2018-11-27 20:51] davidfischer commented on #4930
There are a couple of mistakes in your setup of a custom domain on Read the Docs. Here's [our documentation for your reference](https://docs.readthedocs.io/en/latest/custom_domains.html?highlight=domains#custom-domain-ssl).

Firstly, our documentation says to point your CNAME to `readthedocs.io`, not to `<slug>.readthedocs.io`.

    $ dig CNAME +short vrv.js.org
    vrvjs.readthedocs.io.   # this

[2018-11-27 22:13] stsewd commented on #2646
Closing as this isn't on our current schema, and we have the new `install` key which accepts a path for each installation.

[2018-11-27 22:13] #2646 closed

[2018-11-27 22:49] stsewd commented on #2667
I guess we can remove that documentation till we have something working, the embed endpoint was removed https://github.com/rtfd/readthedocs.org/issues/4768.

Actually, it should just be updated, but we need to modify the ext:

The embebed logic comes from https://github.com/rtfd/readthedocs-ext/blob/af0f42aa1227551b0849605d9935d102f130ce8b/readthedocsext/embed/views.py#L35

and it's mounted on the

[2018-11-27 22:50] stsewd commented on #2667
Should we update the sphinx-ext? or should we mount the embed api on the v2 endpoint?

[2018-11-27 23:31] stsewd commented on #2292
I'm not sure if something changed in the server, but I can't replicate this now https://test-simple-stsewd.readthedocs.io/en/latest/projects/ I'm using `htmldir` as builder, I also tested it with the `html` builder, `/projects` was 404 and `/projects.html` was ok.

[2018-11-27 23:42] stsewd commented on #2292
Oops, now I was able to replicate the problem, it happens when the project is a `single version`.

[2018-11-28 00:39] stsewd commented on #3277
I'm closing this issue in favor of https://github.com/rtfd/readthedocs.org/issues/4288, which is about the problem why the output of `pdflatex` wasn't shown.

[2018-11-28 00:39] #3277 closed

[2018-11-28 00:48] stsewd commented on #3242
There isn't an option to download the docs as no-singlehtml, and yeah, this looks like a good feature for the rtd configuration file.

[2018-11-28 00:51] stsewd commented on #4190
Actually, it's a duplicated of #3242, @akien-mga if this is something else let me know!

[2018-11-28 00:51] #4190 closed

[2018-11-28 00:51] stsewd commented on #3242
Just linking to another opinion why this would be important https://github.com/rtfd/readthedocs.org/issues/4190

[2018-11-28 00:54] stsewd commented on #4127
Closing in favor of https://github.com/rtfd/readthedocs.org/issues/4823, but let me know if there are any other problems!

[2018-11-28 00:54] #4127 closed

[2018-11-28 01:02] stsewd commented on #3669
This was already done in https://github.com/rtfd/readthedocs.org/pull/3680 (merged)

[2018-11-28 01:02] #3669 closed

[2018-11-28 01:06] stsewd commented on #3297
We already run on django 1.11 :tada: https://github.com/rtfd/readthedocs.org/pull/4750

[2018-11-28 01:06] #3297 closed

[2018-11-28 08:46] akien-mga commented on #4190
It's the same issue indeed, thanks!

[2018-11-28 14:38] stampylongr commented on #4930
OK, thank you for clearing this up. I will be closing this now.

[2018-11-28 14:38] #4930 closed

[2018-11-28 15:17] stsewd commented on #4671
@iamarnavgarg hi, you should only need to trigger a new build on the affected version, you can do this from the `Build` section of your project's dashboard.

[2018-11-28 16:46] davidfischer commented on #4930
Feel free to re-open it if you can't get it working.

[2018-11-28 16:49] davidfischer commented on #3297
I think being on the latest LTS is where we ought to be. I am looking forward to 2.2 though.

[2018-11-28 19:24] stsewd opened #4932 "Don't allow to connect services of the same type"
Currently users can connect several accounts of the same provider (or at least the ui show that), this doesn't make much sense. We should remove/block the buttons and check that we can register only one account per provider.

![screenshot_2018-11-28 connected services read the docs](https://user-images.githubusercontent.com/4975310/49176080-0e54c000-f318-11e8-97c1-e11ad3dd919b.png)

note: I'm not

[2018-11-28 21:36] stsewd opened #4934 "Remove trailing slashes on svn checkout"
If someone enters an svn repo like `https://svn.code.sf.net/p/docutils/code/`, it would be concatenated with the version `/trunk/`, so we ended up with `https://svn.code.sf.net/p/docutils/code//trunk`

Related code

https://github.com/rtfd/readthedocs.org/blob/7f2b831ac18ee839535254e9b14e595621ebf653/readthedocs/vcs_support/backends/svn.py#L61

[2018-11-28 22:10] dojutsu-user commented on #4934
@stsewd
Working on it.

[2018-11-28 22:31] stsewd opened #4935 "Validate tags > 100 characteres"
Not sure how to do this validation yet, the best option is that django-taggit to handle that.

Related issue https://github.com/alex/django-taggit/issues/510

Sentry issue https://sentry.io/read-the-docs/readthedocs-org/issues/661257950/

[2018-11-29 09:59] humitos commented on #4934
Is this a problem when checking out? I don't think so. Does this cause any other issue?

[2018-11-29 10:05] humitos commented on #4935
We should probably add a `clean_tags` method in this form

https://github.com/rtfd/readthedocs.org/blob/7f2b831ac18ee839535254e9b14e595621ebf653/readthedocs/projects/forms.py#L164

This is low priority though since it only breaks with spam projects.

[2018-11-29 13:49] stsewd commented on #4934
@humitos I don't think so, but at the same time I'm not so familiar with svn p: but when testing yesterday, it didn't fail.

[2018-11-29 14:29] stsewd commented on #4934
I think so, it feels weird for the user to see `//` in the URL.

[2018-11-29 14:30] dojutsu-user commented on #4935
@humitos
Thanks for guiding to the code.
@stsewd
Will submit a PR soon.

[2018-11-29 14:35] dojutsu-user commented on #4935
This is to inform you.
Stack Trace/Error Log cannot be seen by all the people with the given Sentry link.
It requires to log in into the RTD.

[2018-11-29 14:52] stsewd commented on #4935
Yes I know, it can be only seen by the core team, it may contain secrets.

[2018-11-29 15:24] lucays opened #4936 "build often time out"
## Details

* Read the Docs project URL:https://readthedocs.org/projects/ocg-rule/
* Build URL (if applicable):https://readthedocs.org/projects/ocg-rule/builds/8169721/
* Read the Docs username (if applicable):碎冰

## Expected Result

build pass

## Actual Result

often time out

the issue happend  2 days ago when  I try to change sphinx theme.
all worked well before.

I have read some related issu

[2018-11-29 15:29] stsewd commented on #4936
What do you mean? I think `htmlzip` is the one that consumes a lot of time/memory, probably you can still keep pdf/epub. Also, you can check https://docs.readthedocs.io/en/latest/guides/build-using-too-many-resources.html

[2018-11-29 15:36] lucays commented on #4936
I tried [#2274](https://github.com/rtfd/readthedocs.org/issues/2274#issuecomment-397729907), disable it, but still dont work.
900s should be enough for me, before 2 days it takes only 1 min~3 minutes.

[2018-11-29 15:40] stsewd commented on #4936
your latest builds are still building `htmlzip`.

[2018-11-29 15:46] lucays commented on #4936
yes I tried it in the morning, such as [this](https://readthedocs.org/projects/ocg-rule/builds/8166289/) and [this](https://readthedocs.org/projects/ocg-rule/builds/8164039/), then I delete the yml...
now I tried again:https://readthedocs.org/projects/ocg-rule/builds/8170194/

[2018-11-29 16:00] lucays commented on #4936
I tried again and it still dont work: :https://readthedocs.org/projects/ocg-rule/builds/8170194/
it's strange...

[2018-11-29 16:03] stsewd commented on #4936
Are you still using the different theme? Maybe that's why is taking so much time to build pdf/epub formats

[2018-11-29 16:10] lucays commented on #4936
after I find this issue, I rollback codes, but still dont work.
now latest version dont use other theme.

[2018-11-29 16:18] stsewd commented on #4936
Maybe a cache thing? Can you try wiping the env before building again? (Versions -> Edit -> Wipe)

[2018-11-29 17:07] RichardLitt commented on #3164
Closing this as the user [hasn't responded or given more information](https://docs.readthedocs.io/en/latest/contribute.html#initial-triage), feel free to reopen with more information if you are still having this problem :).

[2018-11-29 17:07] #3164 closed

[2018-11-29 17:19] stsewd commented on #3884
I just trigger a new build, but it's failing because of another problem, feel free to reopen if you are still seeing the timeout problem.

I also opened https://github.com/rtfd/readthedocs.org/issues/4288 for the other issue commented here.

[2018-11-29 17:19] #3884 closed

[2018-11-29 19:39] stsewd commented on #1888
We have the depth option in the fetch command too https://git-scm.com/docs/git-fetch/2.17.0#git-fetch---depthltdepthgt, I'm testing it, looks like is something that could work for every project. Any reason to not do that on every project? Also, depth=1 looks fine.

[2018-11-29 20:20] #4450 closed

[2018-11-29 20:27] #4897 closed, assigned to nobody

[2018-11-29 20:31] ericholscher commented on #1888
Do we still get branch/tag info with a shallow clone?

[2018-11-29 20:34] stsewd commented on #1888
Yeah, we do, actually I just have a POC for this. So, we could add a feature flag to test and force everyone to do a shallow clone, or make it an option for the users. The only thing I can see is where a custom extension needs info from other commits I guess?

[2018-11-30 02:06] lucays commented on #4936
today(in China) build 4 times, once pass, other time out(pdf fail twice, output pdf, epub fail once)
just depend on luck...?

[2018-11-30 08:08] jay-johnson opened #4941 "Build timeouts"
## Details

Hello!

I want to thank you for hosting this service. I think it's a great product, and thanks for your time reading this issue report that is likely my fault.

* Read the Docs project URL:
https://readthedocs.org/projects/stock-analysis-engine
* Build URL (if applicable):
https://readthedocs.org/projects/stock-analysis-engine/builds/8174213/
https://readthedocs.org/projects/stock-anal

[2018-11-30 09:56] iamarnavgarg commented on #4671
Thanks @stsewd . While building the project using `make html ` and writing breadcrumbs.html for broken links returns the following error:

[code]

Can you please suggest where I am going wrong?

[2018-11-30 12:09] stsewd commented on #4671
Can you please point me to the project? Why do you need to override breadcrumbs.html?

[2018-11-30 18:13] jay-johnson commented on #4941
I added a ```.readthedocs.yaml``` file and it looks like that works!

Closing for now!

Here's the file that fixed this issue for me for anyone else hitting this in the future:
https://github.com/AlgoTraders/stock-analysis-engine/blob/master/.readthedocs.yml

[2018-11-30 18:13] #4941 closed

[2018-12-02 02:43] mdraw opened #4942 "Build fails because of memory limits"
## Details

* Read the Docs project URL: https://readthedocs.org/projects/elektronn3/
* Build URL (if applicable): https://readthedocs.org/projects/elektronn3/builds/8181031/
* Read the Docs username (if applicable): mdraw

## Expected Result

Documentation builds

## Actual Result

Build fails with "There was a problem with Read the Docs while building your documentation. Please try again later.

[2018-12-02 11:49] thomaslevesque opened #4943 "[Markdown] Trailing # is stripped in title"
## Details

* Read the Docs project URL: https://fakeiteasy.readthedocs.io/en/stable/raising-events/#from-c
* Build URL (if applicable): https://readthedocs.org/projects/fakeiteasy/builds/8180106/
* Read the Docs username (if applicable): thomaslevesque

## Expected Result

For this markdown title:

[code]

I expected it to be rendered like this:

## Actual Result

It's rendered without the final

[2018-12-02 18:35] coady opened #4944 "Pip install doesn't use editable option."
## Details
The [yaml config documentation](https://docs.readthedocs.io/en/latest/yaml-config.html) states that `pip install` is run in editable mode:

## Expected Result

## Actual Result
But it doesn't use the `-e` option.  This can break builds which rely on setting a relative path in `docs/conf.py`.

[2018-12-03 01:36] lucays commented on #4936
fix some rst syntax warning then seem it works.

[2018-12-03 01:36] #4936 closed

[2018-12-03 06:57] iamarnavgarg commented on #4671
Hi @stsewd I have overcome the issue. Thanks for help!
However, I am not able to understand the purpose of the following lines in sphinx_rtd_theme
1. [Line 41](https://github.com/rtfd/sphinx_rtd_theme/blob/b9bf19f5be9ec18fc60ada9220d222cf57c21394/sphinx_rtd_theme/breadcrumbs.html#L41
)
2. [Line 61](https://github.com/rtfd/sphinx_rtd_theme/blob/b9bf19f5be9ec18fc60ada9220d222cf57c21394/sphinx_rtd_th

[2018-12-03 07:05] strophy opened #4945 "Documentation not accessible in Russia without VPN"
## Details

* Read the Docs project URL: http://docs.dash.org
* Read the Docs project IP: 165.227.0.140
* Read the Docs username (if applicable): strophy

## Description

Roskomnadzor blocks the IP range 165.227.0.0-165.227.255.255 in Russia. This means our documentation is not available there without a VPN. The blocking seems to be collateral damage resulting from the decision to block Telegram m

[2018-12-03 08:50] humitos commented on #4944
You are right.

I think we should remove the `-e` from the documentation.

This doesn't sound like a good way to configure the project to me.

[2018-12-03 10:57] #3060 closed

[2018-12-03 11:07] #3540 closed

[2018-12-03 11:10] mrava87 opened #4946 "Readthedocs for PyLops library - memory issue"
## Details
Hello,
I have been trying to build my documentation from this project https://github.com/Statoil/pylops in readthedocs.

I get an error about memory comsumption (build report below) but I do not seem to find more details onto at which point of the build this happens.  I am aware of the fact that you limit the build to 1GB memory, if you could help me understand where the build fails I c

[2018-12-03 11:22] #4887 closed

[2018-12-03 15:21] RichardLitt commented on #4943
I think this may be an mkdocs issue, not a ReadTheDocs issue.

[2018-12-03 15:21] RichardLitt commented on #4936
Glad it worked, @lucays. Thanks for following up.

[2018-12-03 15:23] stsewd commented on #4945
We are hosted in azure right now

[2018-12-03 15:30] #4943 closed

[2018-12-03 15:30] RichardLitt commented on #4943
Great. Thanks. :)

[2018-12-03 16:45] coady commented on #4944
Well sphinx actually encourages it, particularly with autodoc.  From its default conf.py:
[code]

[2018-12-03 16:47] stsewd commented on #4942
It fails when creating the conda environment `conda env create --name latest --file docs/sphinx-environment.yml`, I can't see any more details, you may want to try that command locally and see if it fails locally too.

[2018-12-03 16:49] stsewd commented on #4944
I don't see any mention of installing the package in dev mode when modifying the path.

[2018-12-03 17:32] mrava87 commented on #4946
Hi humitos,
looking forward to hearing from you, hope you can help me troubleshoot this problem :)

[2018-12-03 20:49] agjohnson commented on #3992
Yeah, integrations is more recent, it's the pattern to follow.

[2018-12-03 21:31] Nick-Harvey opened #4948 "Best Practices Question: redirects for non-existent docs"
## Details
Overall, I'd like to find out what's the best way to handle redirects for docs that get deleted. Here's the situation

We have old docs (v1.2.1 and we're now on 1.7.11) that are still being indexed by Google that are showing up pretty high in search results. Version 1.2.1 has been retired for a long time now and is set to an inactive version in RTD. Also, there are documents that since

[2018-12-03 22:45] mdraw commented on #4942
Thanks for the info. `conda env create --name latest --file docs/sphinx-environment.yml` works fine on my machine, but I noticed that `conda-env` consumes up to 460 MB of RAM while resolving dependencies. Could it be that the process is killed due to excessive memory consumption?

[2018-12-03 22:55] mdraw commented on #4942
I'll assume that excessive memory usage is the problem. I just found https://github.com/conda/conda/issues/5003 and apparently there are no plans to fix this issue on conda's side. https://github.com/rtfd/readthedocs.org/blob/master/docs/guides/build-using-too-many-resources.rst#use-pip-when-possible recommends to pip if possible, so I guess I'll give pip another chance.

[2018-12-03 23:18] cweill opened #4949 "WARNING: autodoc: failed to import module 'adanet.subnetwork'; the following exception was raised: No module named 'adanet.subnetwork'"
## Details

I'm obtaining the following error only when building on RTD. It works fine locally on my Ubuntu machine with both Python 2.7 and 3.5.

`WARNING: autodoc: failed to import module 'adanet.subnetwork'; the following exception was raised: No module named 'adanet.subnetwork'`

This is occuring for this specific commit: https://github.com/tensorflow/adanet/commit/a78aeb9261bf2a7e17fa59de04d5

[2018-12-03 23:34] mdraw commented on #4942
Well, that didn't help a lot :(

[2018-12-04 01:20] cweill commented on #4949
Fixed the issue.

For posterity, the problem was a difference in the `sphinx` version. Pinning to `v1.8.2` resolved the discrepency. See https://github.com/tensorflow/adanet/commit/120d82675742e753fbe3e46feb1bdac49d7615d5.

[2018-12-04 01:20] #4949 closed

[2018-12-04 11:51] kmaehashi opened #4955 "Request for increase build timeout in Chainer project"
## Details

* Read the Docs project URL: https://chainer.readthedocs.io/en/latest/
* Build URL (if applicable): https://readthedocs.org/projects/chainer/builds/8191404/
* Read the Docs username (if applicable): kmaehashi

## Expected Result

Build succeeds.

## Actual Result

Build fails with timeout.

Recently we added native code to our Python module, which increased the build time.
We made some

[2018-12-04 14:50] stsewd commented on #4922
Closing this as the user [hasn't responded or given more information](https://docs.readthedocs.io/en/latest/contribute.html#initial-triage), feel free to reopen with more information if you are still having this problem :).

[2018-12-04 15:01] stsewd commented on #4942
You are using `use_system_site_packages: true`, which mean you already have some libs installed, you can check what libs are installed here https://docs.readthedocs.io/en/latest/builds.html#the-build-environment

[2018-12-04 15:07] stsewd commented on #4946
I guess you could reduce the number of images or generate the images outside rtd (I think someone did this in the past)

[2018-12-04 16:02] #1888 closed

[2018-12-04 16:18] #4866 closed

[2018-12-04 17:01] mrava87 commented on #4946
Thanks for suggestions. Could you explain how that would help? Would it help if I have a ply.close() at the end of each Sphinx-gallery example?

And if I generate them outside of rtd how can I then keep the Sphinx-examples in the documentation?

[2018-12-04 17:05] stsewd commented on #4946
https://github.com/rtfd/readthedocs.org/issues/3468

[2018-12-04 17:15] mrava87 commented on #4946
Mmh this sounds a poor man job trying to replicate what Sphinx-gallery (https://sphinx-gallery.readthedocs.io/en/latest/) does for you. This is used by many libraries like Matplotlib and sciiti-learn and they have tons of images. How do they get around?

[2018-12-04 18:05] uSpike commented on #4912
I think this problem will resolve itself once the next version of `pip` is released with PEP-517 support (I've heard in January 2019?).  It was merged - https://github.com/pypa/pip/pull/5743
Then, a project only needs to add
[code]
to the `pyproject.toml`, and the normal `pip install` should work.

[2018-12-04 19:45] mrava87 commented on #4946
Quick update. Things work now:

- added plt.close(‘all’), this didn’t solve the problem but the build run for longer before giving up
- remove most heavy computational examples and build is successful.

I guess the problem is that memory really goes above limit, but I wonder if it would be possible to explain how we can access the stdout and stderr of the Sphinx-build command, otherwise it’s a bit

[2018-12-04 19:46] mrava87 commented on #4946
Also I think the solution in the issue you linked should not be encouraged as it makes things may more cumbersome and just does not take advantage of a fantastic library which sphinx-gallery is :)

[2018-12-04 19:53] stsewd commented on #4946
Looks like we replace the output when it's killed

https://github.com/stsewd/readthedocs.org/blob/ff377cc2496bdb40df484296a70205383ddececa/readthedocs/doc_builder/environments.py#L274-L276

I guess we could keep the original output.

[2018-12-04 20:32] mrava87 commented on #4946
Up to you to decide of course but I personally think that would help a lot :)

Thanks for help!

[2018-12-04 20:43] stsewd opened #4957 "Keep the command's output when it's killed"
When a command is killed because of memory consumption we replace the output with a message

https://github.com/rtfd/readthedocs.org/blob/85d9a1fb236e2c2149358b1cf462159e523e80bb/readthedocs/doc_builder/environments.py#L274-L276

the output can be helpful to users to debug the build. I guess we should only show the error about the memory in the top? Or maybe just concatenated the output with that

[2018-12-04 20:45] stsewd commented on #4946
I think it's a good idea, I opened https://github.com/rtfd/readthedocs.org/issues/4957 to track that, closing this issue as the problem was solved.

[2018-12-04 20:45] #4946 closed

[2018-12-04 22:32] #4823 closed

[2018-12-05 03:56] iamarnavgarg commented on #4671
@stsewd

[2018-12-05 10:52] humitos commented on #4774
I started this process at https://github.com/rtfd/test-builds. I created the initial structure and I'm going to add some of those branches mentioned there also.

Feel free to include your owns and let me know if you want to discuss the structure.

[2018-12-05 11:47] humitos commented on #1410
I think it's not a problem using unicode chars on the URL.

Actually, we do support this for filenames: https://test-builds.readthedocs.io/en/unicode-filename/

but we do replace the unicode chars when they are in the version's name/identifier/slug: https://test-builds.readthedocs.io/en/d--branch/

We should probably keep the project's slug as ASCII.

[2018-12-05 15:45] monsij commented on #4944
Is a PR still required @coady

[2018-12-05 15:47] stsewd commented on #4944
@monsij yes, it is.

[2018-12-05 15:51] monsij commented on #4944
Could you describe what is to be done ? `-e` removal ..anything else?

[2018-12-05 15:53] stsewd commented on #4944
Just that https://github.com/rtfd/readthedocs.org/issues/4944#issuecomment-443633361

[2018-12-05 16:04] dojutsu-user commented on #4944
@monsij
Are you working on this?
If not, I would like to send a PR.

[2018-12-05 16:07] monsij commented on #4944
Yeah,i've started to work. Anyways you can continue. I'll find another :-) @dojutsu-user

[2018-12-05 16:11] dojutsu-user commented on #4944
@monsij
I was about to start the work.
You can continue and make a PR.

[2018-12-05 18:50] stsewd commented on #4948
Have you read this https://docs.readthedocs.io/en/latest/user-defined-redirects.html? I think there are some use cases there, not sure if that covers all your questions,

[2018-12-05 19:43] stsewd opened #4962 "Use `-c` option when calling sphinx"
We ask users to enter a `path/to/conf.py` file, but we only use the directory of this file (is used to set the cwd). We could use http://www.sphinx-doc.org/en/master/man/sphinx-build.html#cmdoption-sphinx-build-c

[2018-12-06 08:16] neoctobers commented on #810
+1

[2018-12-06 10:53] humitos commented on #3829
Even if we add `-S` to our `conda` commands, I think we won't get the desired behavior because packages will be skipped [_only if all_ the dependencies are satisfied](https://github.com/conda/conda/issues/5027#issuecomment-444671124).

I do think that we need to add the `-S` argument but it won't solve all the situations, though. So, after using `-S` the user will need to install all the dependenc

[2018-12-06 10:58] #4944 closed

[2018-12-06 11:43] faizanktk opened #4965 "Yii2 cookbook layout issue"
Open this link https://yii2-cookbook.readthedocs.io/logging-problems-and-solutions/

and check the issue

[2018-12-06 11:44] faizanktk commented on #4965
@ericholscher

[2018-12-06 12:15] humitos commented on #4965
Please, check this https://github.com/rtfd/readthedocs.org/issues/4893

I think it's duplicated.

[2018-12-06 15:32] stsewd commented on #4965
This is an issue with the mkdocs theme, you should report there https://github.com/mkdocs/mkdocs/ or use the rtd theme, which has a sidebar for the menu.

[2018-12-06 15:32] #4965 closed

[2018-12-06 16:30] stsewd opened #4966 "Make raw_config private"
In the config module we shouldn't mutate the original value, this is solved, but we are still exposing the `raw_config` as a public attribute, but we are mutating that attribute internally, we should make that private. And maybe expose the original too? We don't use that anywhere, so not sure.

Raised in https://github.com/rtfd/readthedocs.org/pull/4740#discussion_r239426405
Blocked by https://git

[2018-12-06 16:54] Nick-Harvey commented on #4948
Thanks for chiming in :). We are using the user-defined-redirects but as I'm sure you can imagine that at scale, it gets unruly fast. One idea for a solution that comes to mind, is to have a customizable redirect page. That way when a user finds old documentation via search, instead of maze page or old docs, they get a page that can say whatever and include the correct links.

[2018-12-06 17:02] stsewd commented on #4948
Do you mean like a custom 404 page? we have https://github.com/rtfd/readthedocs.org/issues/353 and https://github.com/rtfd/readthedocs.org/issues/2551

[2018-12-06 21:07] mueslo opened #4968 "Unclean package installation when virtualenv option is enabled"
## Details

* Read the Docs project URL: https://readthedocs.org/projects/fplore/
* Build URLs:
   * https://readthedocs.org/projects/fplore/builds/8212795/
   * https://readthedocs.org/projects/fplore/builds/8213217/

## Expected Result

Documentation builds fine as it did previously and as it does locally.

## Actual Result

Build errors.

[code]

and sometimes

[code]

[2018-12-06 21:40] stsewd commented on #4968
Can you try wiping the environment before build? `Versions` -> `Edit` -> `Wipe`

[2018-12-06 22:11] mueslo commented on #4968
That potentially fixed it.

I was looking for an option like that under the admin part of the control panel, but since it wasn't there, I assumed it clears it every run.

Now I'm getting new issues which do not occur locally, but I'm not sure yet why they occur (https://readthedocs.org/projects/fplore/builds/8213711/)

[2018-12-07 03:11] joelmiller opened #4969 "build failing due to old python version"
I'm trying to build some documentation (which has previously been successful).  My package relies on networkx.  I am getting the error message:

So I suspect the issue is that networkx now requires a higher version of python than it used to, but readthedocs is using 2.7.  How can this be fixed?

* Read the Docs project URL:  https://readthedocs.org/projects/epidemicsonnetworks/
* Build URL (if app

[2018-12-07 03:38] joelmiller commented on #4969
I was just coming back here to say I had discovered exactly that.

Thanks

[2018-12-07 03:43] #4969 closed

[2018-12-07 07:30] dojutsu-user commented on #4654
One doubt, by the terms `Project Admin`, `Version Admin`, did you mean the project and version admin interface provided by the django or the one which is on RTD like `readthedocs.org/dashboard/<project-slug>/edit/` ?

[2018-12-07 11:02] neoctobers opened #4970 "Question about multi-languages work flow, what should I do, after .po files finished."
I have read almost all the issues whose mentioned `translation` and `multi lanugages`.

And now, what I have done:

- Run `sphinx-quickstart` command to init the docs
- Wrote some `.rst` files in `docs/`, and `docs/path1`, and `docs/path2`...
- Run `sphinx-build -b gettext . _build/gettext` to generate the `.pot` files
- Run `sphinx-intl update -p _build/gettext -l zh_CN` to generate the `.po` fil

[2018-12-07 11:16] mueslo commented on #4968
I attempted to create a [minimum failing example based on matplotlib](https://github.com/mueslo/rtd_min_fail). However, this doesn't fail.

My workaround also succeeded (explicitly specifying `matplotlib~=2.2` in `docs/requirements.txt`. So it is definitely related to the way RTD first installs matplotlib 3.x and then 2.x.

[2018-12-07 14:21] smontanaro opened #4971 "Lots of off-domain references for underlying content"
At my place of employment, most off-site websites need to be whitelisted for access. I recently got *.readthedocs.io and readthedocs.org so enabled. From the spot checks I made, the individual package docs in the readthedocs.io domain work great (they should be mostly self-contained I think), but display of readthedocs.org is suboptimal. Looking at the Sources tab in Chrome, I see references to a

[2018-12-07 15:32] mueslo commented on #4968
@stsewd I belive this qualifies as a bug, not a support request

[2018-12-08 00:55] agjohnson commented on #4521
@rtfd/core, how do we feel about making this a v3.0 release item EOY?

[2018-12-08 03:37] davidfischer commented on #4521
I'm +1.

[2018-12-08 03:39] MIKNOTAURO opened #4972 "Git -> error: unknown option 'prune-tags'"
## Details
I'm getting this error: unknown option `prune-tags' after build my docs.

I saw the code inside
    vcs_support/backends/git.py

The fetch method has a flag '--prune-tag' which is not a valid flag in git.

I deleted that part and now everything works, but now I'm curious.

Did I miss something? or Am I wrong?

![image](https://user-images.githubusercontent.com/2102746/49681499-61d9b300-

[2018-12-08 10:35] dojutsu-user commented on #4972
Can this be related to the git version (it should be >=2.17) ??
This error is same as this ([comment](https://github.com/rtfd/readthedocs.org/issues/3775#issuecomment-437657207)).

[2018-12-08 12:17] dojutsu-user commented on #2662
@stsewd

Where the link is to be added, in this section: https://docs.readthedocs.io/en/latest/faq.html#i-get-import-errors-on-libraries-that-depend-on-c-modules ?

I am interested in submitting a PR for this issue.

[2018-12-08 16:45] stsewd commented on #4972
I'm guessing you are using a local installation, you need `git >=2.17`, see https://docs.readthedocs.io/en/latest/install.html#requirements

[2018-12-08 16:45] #4972 closed

[2018-12-09 06:40] parthi2929 opened #4974 "Failing to build from mkdocs repository though layout respected"
## Details
My local mkdocs build is successful. The docs section is part of my project repository and resides in ```mkdocs``` folder of my repository. When I try to deploy in RTD, I get the following build error.  Kindly help.

[code]

* Read the Docs project URL: https://readthedocs.org/projects/intro-to-statistics/
* Build URL (if applicable): https://readthedocs.org/projects/intro-to-statistics

[2018-12-09 07:14] parthi2929 commented on #4974
I then tried to place mkdocs.yml in the root directory as per [RTD build instructions for mkdocs](https://docs.readthedocs.io/en/latest/builds.html?highlight=mkdocs.yml#mkdocs). This time also, my local build was successful (yml appropriately updated to reference ```docs_dir``` inside mkdocs folder), but RTD build gives a different error as below.

[code]

Looks like we cannot use modified RTD the

[2018-12-09 10:47] dojutsu-user opened #4977 "Link update on FAQ page"
Link - https://docs.readthedocs.io/en/latest/faq.html#i-want-to-use-the-read-the-docs-theme-locally

Under the "I want to use the Read the Docs theme locally" subheading,  repo link for sphinx _rtd_theme is given as https://github.com/snide/sphinx_rtd_theme. It should be https://github.com/rtfd/sphinx_rtd_theme.

I am not sure on this change, this link might be intentional.
Will it be okay to chan

[2018-12-09 20:39] #3483 closed

[2018-12-09 20:39] #3484 closed

[2018-12-10 01:14] danielknell commented on #4912
except the build script   runs `python setup.py install --force` by default instead of a `pip install .` so pep-517 wont come into play?

[2018-12-10 08:22] humitos commented on #4774
I'm closing this issue since the repository is already created and most of their branches also. There are some cases that can be added in the near future as Bitbucket (with mercurial) repository also.

Although, I'm calling this done and we should continue extending it from the new repo.

[2018-12-10 08:22] #4774 closed

[2018-12-10 11:07] humitos opened #4978 "BuildEnvironmentWarning logged as error"
After #4804 got merged `BuildEnvironmentWarning` start being logged again as an error.

This is not a big problem but it's annoying when debugging since it uses our Sentry quota.

* https://sentry.io/read-the-docs/readthedocscom/issues/793207804/
* https://sentry.io/read-the-docs/readthedocs-org/issues/783202503/

Relating to #4590 since that could help us to avoid logging all of these.

[2018-12-10 14:12] humitos opened #4980 "Stable builds are triggered recursively"
On Sunday we found that a build for the `stable` version was triggered constantly (Example, http://readthedocs.org/projects/bugzilla/builds/)

@ericholscher hotfixed this with this commit https://github.com/rtfd/readthedocs.org/commit/83caf8fe8 to avoid the "Sunday problem", but we need to research and fix it properly.

We suspect that this could be introduced on #4433 and/or #4876.

[2018-12-10 14:39] humitos opened #4981 "Validate url from Webhook notification"
We are allowing `''` as URL for webhook notifications.

We need to add better validation to this form.

### Steps to reproduce it

1. Go to Admin -> Notifications
1. Click the Add button under the Webhook Notifications

Sentry: https://sentry.io/read-the-docs/readthedocs-org/issues/789512412/?referrer=github_plugin

[2018-12-10 14:46] basnijholt commented on #4778
@ericholscher, would it be possible to increase the timeout even more?

For some reason, the building is failing sometimes due to timeouts and other times succeeding. Maybe some of the used servers are slower than others?

[2018-12-10 15:38] dojutsu-user commented on #4981
Working on it.

[2018-12-10 15:55] ericholscher commented on #4774
This is super cool. I'd love to see links to each doc version on the README, and also document that this exists somewhere in the .org docs, so that users can perhaps also use them if needed. Another good thing would be to clean up our nagios checks to use repos that we control: https://github.com/rtfd/readthedocs-ops/blob/master/salt/community/nagios/fixtures/rtd-web.yaml -- they break every so of

[2018-12-10 15:58] ericholscher commented on #4774
Will make the later an issue in the builds repo

[2018-12-10 17:35] stsewd commented on #4912
@danielknell we do support installing the project using pip.

@uSpike I have read the pip issue and pep, but I wasn't able to understand it very well yet :/ will this replace pipenv too?

[2018-12-10 17:53] humitos commented on #4774
Done. Check it now.

I'm not sure that this could be useful for users. I don't have in mind a way to talk about this without making the document confusing for them. Maybe, it could be a NOTE in the developer section somewhere.

[2018-12-10 18:11] ericholscher opened #4985 "Remove the `LOCAL_GIT_BRANCHES` setting"
We introduced this here to make tests work, but it isn't how things work in production: https://github.com/rtfd/readthedocs.org/pull/4984

We should remove this setting, and make our tests work properly with remote repos. I see a couple ways we could handle this:

* The `make_get_branch` function could manipulate the git repo so that it has a *remote* branch instead of a local branch
* We could mo

[2018-12-10 18:12] ericholscher commented on #4778
Sure, will do that now.

[2018-12-10 18:13] ericholscher commented on #4778
I've also moved you to our priority build queue, which runs fewer builds at a time, so hopefully it will be more consistent in timing as well.

[2018-12-10 18:15] humitos commented on #4985
We should follow the same workflow that we do in production:

1. The repository is created by another person with all its branches: we can create a temporal repository
1. We clone it from there (localhost)
1. We start running our test over the cloned one instead of the originally created

That way, I suppose that branches will be remotes and the structure of the repository will be pretty similar t

[2018-12-10 18:17] stsewd commented on #4985
There are some tests that use the clone step, I guess we only need to put that step in our tests

[2018-12-10 18:19] #4980 closed

[2018-12-10 18:25] stsewd commented on #4974
So, we don't have a way of specifying a custom location for mkdocs yet, we only search in the project's root. This feature would be available in the v2 of our config file.

About the second error, what version of mkdocs are you using locally? I believe you already fixed the issue https://readthedocs.org/projects/intro-to-statistics/builds/8245770/ adding a requirements.txt file.

[2018-12-10 18:30] uSpike commented on #4912
@stsewd using pip + pep-517 might be able to install from a `Pipfile` at some point in the future, but AFAIK it is not on the road map any time soon.

[2018-12-10 18:37] parthi2929 commented on #4974
I am using latest mkdocs 1.0.4, and yes, once I added requirements.txt that got solved.

yes it would be better if you could also search in sub directories. Looking forward for that feature as that could help organize better the repo.

[2018-12-10 19:02] stsewd commented on #4974
We already have that feature implemented, but itsn't public yet, here are the future docs https://github.com/rtfd/readthedocs.org/pull/4451/files#diff-33bbde7fca852e881b51aa90f9f86b3fR243

[2018-12-10 19:02] #4974 closed

[2018-12-10 21:34] stsewd commented on #4977
Yes, we need to update the link, I believe there are another places that point to the `snide` username.

[2018-12-10 21:36] dojutsu-user commented on #4977
@stsewd
I grepped for 'snide' and didn't find another.
Will make a PR for this one soon

[2018-12-10 22:02] stsewd commented on #4968
Do you mean the install option? I'm guessing some residuals from the previous installation (if I understand correctly you change the versions, right?). If so, you should only need to wipe the environment to resolve that, we can't do that automatically because we don't know what packages are going to be installed, if we cache the virtualenv installation to save resources.

[2018-12-11 01:07] ianw opened #4986 "csrf required for triggering build via http auth authenticated webhook"
## Details

Hi,

In OpenStack, we've been using authentication with the webhook endpoints to trigger builds.

The way this has been working is that projects add a common ``openstackci`` user as an admin, and then in their project configuration inside our platform they add their webhook URL.

When new releases are made, our CI system uses the ``openstackci`` account (with the password only known to

[2018-12-11 02:28] SilleBille opened #4987 "Pandoc support"
## Details

* Read the Docs project URL: <not available yet>
* Build URL (if applicable):
* Read the Docs username (if applicable):

## Expected Result
This request may be turned down. But, giving my shot

I'm pretty new to readthedocs and I was impressed by the features. Thanks for this awesome project!
While researching, I came across [`pandoc`](http://pandoc.org/) which isn't supported by `read

[2018-12-11 10:18] humitos commented on #4974
@parthi2929 we can enable config V2 for your project. It's still in BETA but you can help us by testing it. Would you like us to enable it in your project so you can specify a different path for `mkdocs.yml`?

[2018-12-11 10:43] humitos commented on #4986
On 2018-12-05 we did a deploy: https://docs.readthedocs.io/en/latest/changelog.html#version-2-8-3 but I don't find anything relevant there. I need to research a little more what has happened here.

Also, I got a different error:

    $ curl -X POST -d "branches=datetime" -u humitos:$RTD_PASS https://readthedocs.org/api/v2/webhook/test-builds/56359/
    {"detail":"CSRF Failed: Referer checking fail

[2018-12-11 10:45] ianw commented on #4986
@humitos thanks - yes I saw that at first to.  If you add a "-e" with your URL to the request, it will set a referer.

I sort of had 3 steps to get to the csrf error; first it wanted a request-length>0, then the referer, then it failed with the csrf error

[2018-12-11 10:54] humitos commented on #4987
Hi @SilleBille! Read the Docs currently achieve 2 -- generate HTML from Markdown.

Also, Sphinx -- the builder that RTD uses -- has the ability to generate man pages but we are not doing that currently. Although, there is an issue already open for that #4458

Would it be enough for you to enable man page generation for Sphinx builder?

[2018-12-11 11:18] nit3ish opened #4989 "Forgot Email id, not able to recover git hub account by username"
Hi, my username is anu3rag and i forgot the email id associated with it, could you please help me to recover my account? Thanks

[2018-12-11 13:30] parthi2929 commented on #4974
sure, though am novice in these, this way I could contribute something back for amazing work you guys are doing.

[2018-12-11 15:43] humitos commented on #4974
@parthi2929 done! Please, follow the docs that @stsewd pointed you and use a custom path for your mkdocs.yml file to test how it works and let us know! Thanks!

[2018-12-11 17:20] RichardLitt commented on #4969
@joelmiller Glad you got it working. Thanks for following up.

[2018-12-11 17:21] RichardLitt commented on #4970
@neoctobers Thanks for following up. Glad you got it working.

[2018-12-11 17:22] #4977 closed

[2018-12-11 17:41] SilleBille commented on #4987
@humitos  thanks for the reply! To summarize my needs with a simplified diagram:

![image](https://user-images.githubusercontent.com/8215572/49818634-16edc300-fd28-11e8-91c4-9f1b8e51262f.png)

- `javadoc` is generated using the official javadoc package
- `man pages` are currently processed using pandoc
- `Documentation` can also be converted to HTML by pandoc. Using sphinx/mkdocs for just this wor

[2018-12-11 17:56] mrava87 commented on #4957
This would be very useful :) right now I need to blindly reduce the size of my example, make another pull request, rerun the build and hope :)

[2018-12-11 18:11] humitos commented on #4987
Thanks for the explanation.

I think this is a very fair feature request considering that we support `sphinx` and `mkdocs`. Why not `pandoc` also?

I don't have too much experience with `pandoc` (I've only used it to convert files between formats and it's great) and I don't know how much complicated it would be, but I'm sure that it's not an easy feature to add to our platform. On the other hand,

[2018-12-11 18:33] SilleBille commented on #4987
@humitos Thanks for an optimistic reply. The main concern for me is that I don't want my team to follow different formats to write down the documentation. I want them to follow consistent formatting across all the docs they write.

[2018-12-11 21:11] stsewd commented on #4968
I believe this is a sphinx-galery issue, when the package is installed in rtd they install an additional package https://github.com/sphinx-gallery/sphinx-gallery/blob/29d317b1674a08fc36a4e2ad35e183cdce8f1e39/setup.py#L20-L22, that package has a different version of matplolib https://github.com/mwaskom/seaborn/blob/f0349b1a7f1e022cb1da8b94f2e019f04eeed397/setup.py#L35, I'll try to replicate this lo

[2018-12-12 18:38] stsewd commented on #4367
https://github.com/rtfd/sphinx_rtd_theme/pull/545 was merged, should we wait for a new release of the theme or close this now?

[2018-12-12 21:18] stsewd commented on #4942
https://github.com/rtfd/readthedocs.org/issues/4942#issuecomment-444130442 what I mean with that is that you can skip the installation of some libs, that can help with the timeout

[2018-12-12 21:47] stsewd commented on #4257
Related https://github.com/rtfd/readthedocs.org/pull/4991

[2018-12-12 22:15] stsewd commented on #3839
We are only missing `git status` and `git submodule status` here

[2018-12-12 22:30] stsewd commented on #3751
We are already saving the config used on the db https://github.com/rtfd/readthedocs.org/pull/4749, I guess we can close this.

[2018-12-12 23:19] stsewd commented on #3839
But not sure if we want to replace those, the code looks more complex with git python p:

[code]

[code]

[2018-12-12 23:20] stsewd commented on #3839
If you think that we are ok with git status and git submodule status, we can close this issue.

[2018-12-13 09:01] dojutsu-user commented on #3689
Is this issue open?
I would like to submit a PR.

[2018-12-13 09:14] dojutsu-user commented on #3382
I am working on it.
Will submit a PR soon.

[2018-12-13 11:34] graup commented on #4920
@humitos can we get this PR merged? thanks

[2018-12-13 14:15] #4985 closed

[2018-12-13 16:19] humitos commented on #3839
I like the consistency: all `git` command or all `gitpython`. A mixture of both it's hard to maintain and to keep in mind. On the other hand here, there are `git` commands that we can't replace: those with `record=True`

The code maybe looks longer, but it's more Pythonic, I'd say and we are relying on an external library instead of a local and custom command.

I'm :+1: on migrating them also.

[2018-12-13 16:26] #4920 closed, assigned to nobody

[2018-12-13 16:41] byrnereese opened #4997 "Build fails with undefined filter "url""
## Details

* Read the Docs project URL: https://github.com/ringcentral/ringcentral-api-docs
* Build URL (if applicable): https://readthedocs.org/projects/ringcentral-api-docs/builds/8270734/
* Read the Docs username (if applicable): byrnereese

## Expected Result

I am trying to create a build for a branch called "bootstrap" in my account. I expect it to build without a problem.

## Actual Result

[2018-12-13 16:44] humitos commented on #4955
You can disable some formats, for example, to reduce the time for the builds. Here is a guide for this, https://docs.readthedocs.io/en/latest/guides/build-using-too-many-resources.html

I increased the build time to 1500 seconds. Let me know!

I strongly suggest you to read that guide and remove the formats that are not used.

[2018-12-13 16:48] dojutsu-user commented on #4997
I think that adding a `requirements.txt` file will solve the issue.
Related - [#4794 (comment)](https://github.com/rtfd/readthedocs.org/issues/4974#issuecomment-445516423)

[2018-12-13 16:56] stsewd commented on #4997
Probably you are missing a dependency or using a new version of mkdocs locally as pointed out above

[2018-12-13 17:04] byrnereese commented on #4997
I can confirm that this fixed my problem.

[2018-12-13 17:04] #4997 closed

[2018-12-13 17:06] byrnereese opened #4998 "Is there a way to create, package and utlize custom filters for RTD?"
I would like a way to create a custom filter for my RTD theme. I see that some filters are defined in theme.py inside mkdocs. Is there a way to define custom filters unique to my theme that can be utilized on RTD?

[2018-12-13 18:47] stsewd commented on #4998
The rtd theme for mkdocs is provided by mkdocs itself, if you are able to do that locally it shouldn't be a problem in rtd. I guess you need an extension?

[2018-12-13 20:48] remyabel opened #4999 "jQuery 2.0.3 has an XSS vulnerability"
## Details

* Read the Docs project URL: Any project hosted on RTD, i.e https://bootstrap-datepicker.readthedocs.io/en/latest/
* Build URL (if applicable):
* Read the Docs username (if applicable):

## Expected Result

Upgrade to jQuery 3.0, or backport the [fix](https://github.com/jquery/jquery/pull/2588)

## Actual Result

RTD uses vulnerable jQuery. See this [issue](https://github.com/jquery/jq

[2018-12-13 21:35] davidfischer commented on #4999
Thanks for reporting this. I confirmed that this is an issue on RTD. I'm looking into whether we are going to backport or upgrade and I'll update this issue in the next day with more information.

[2018-12-13 21:59] stsewd commented on #4932
So, this comes from allauth

https://github.com/pennersr/django-allauth/blob/master/allauth/templates/socialaccount/snippets/provider_list.html

Actually, we override that template https://github.com/rtfd/readthedocs.org/blob/master/readthedocs/templates/socialaccount/snippets/provider_list.html

Also, looks like we don't have css for a disabled button, I created one

![screenshot_2018-12-13 conne

[2018-12-13 23:14] davidfischer commented on #4999
I think we are going to take a two pronged approach to resolving this issue. Firstly, we will backport the fix into our hosted `jquery-2.0.3.min.js`. Secondly, new doc builds will no longer use this file and instead will use the version of jquery is bundled with Sphinx (https://github.com/rtfd/readthedocs-sphinx-ext/pull/52).

By default, RTD uses a modern version of sphinx which uses jQuery 3.2.1

[2018-12-13 23:31] stsewd commented on #4998
You can have a requirements.txt file with all your dependencies https://docs.readthedocs.io/en/latest/guides/specifying-dependencies.html

[2018-12-14 01:40] stsewd commented on #4932
Ok, figureout how to do this, I have to use a templatetag.

![screenshot_2018-12-13 connected services read the docs 1](https://user-images.githubusercontent.com/4975310/49978115-fe8fcb00-ff16-11e8-98f1-66b79388519a.png)

Still not sure if we want this, and I haven't test what happens when integrating accounts of the same service. The docs are not clear about that https://django-allauth.readthedoc

[2018-12-14 04:03] remyabel commented on #4999
Thanks. Nice response time and nice fixes.

[2018-12-14 10:31] dojutsu-user opened #5003 "Unable to install/start elastic search on local server"
Docs Link - https://docs.readthedocs.io/en/latest/custom_installs/elasticsearch.html

These are the outputs of commands that i tried to run
[code]
[code]
[code]
[code]
[code]
[code]
[code]
[code]

[2018-12-14 13:30] bmorris3 opened #5004 "Failed docs build help"
## Details

* Read the Docs project URL: https://arcesetc.readthedocs.io/en/latest/
* Build URL (if applicable): build #8276197 https://readthedocs.org/projects/arcesetc/builds/8276197/
* Read the Docs username (if applicable): bmorris3

## Expected Result

Expected the docs to build successfully.

## Actual Result

Failed with error:
[code]
The build details say:
[code]

[2018-12-14 14:00] stsewd commented on #5003
I was having the same problem when installing on travis https://github.com/rtfd/readthedocs.org/pull/4919#issuecomment-440807963, I guess it's because of the java version

[2018-12-14 16:16] dojutsu-user commented on #5003
I tried downgrading.
[code]
But still the same problem.
But ES6 works fine.

Is there any solution?

[2018-12-14 16:19] stsewd commented on #5003
You can use docker

[2018-12-14 17:05] #3226 closed

[2018-12-14 21:11] RichardLitt commented on #4997
@byrnereese Thanks for following up. Glad we got this fixed!

[2018-12-15 13:45] dojutsu-user commented on #5003
Thanks.
That was a nice idea.
Eventually, I have to create my own Dockerfile because the one on the docker hub doesn't come with `elasticsearch-analysis-icu:2.3.0`.
Anyone struggling with this error, here's the content of the dockerfile
[code]
@stsewd is there a need to document this?

[2018-12-15 17:57] dojutsu-user commented on #1440
Is this issue still open.
I am interested in sending a PR on this.

[2018-12-15 20:14] goerz opened #5006 "Show `pip freeze` during build"
It would be really nice if there was a `pip freeze` as part of the build process immediately before `cat docs/conf.py`

This would have made figuring out what went wrong in https://readthedocs.org/projects/krotov/builds/8281165/ much easier. It was a broken update of the nbsphinx package. While in principle, the `conda env create` tells me the installed versions of some of the packages, its output

[2018-12-15 20:17] goerz commented on #5006
Of course, it would be even better if the `readthedocs.yml` allowed to specify the install/build commands, the way that e.g. `.travis.yml` or `.appveyor.yml` do.

[2018-12-15 20:33] byrnereese opened #5007 "How to pass private config vars to RTD?"
## Details

* Read the Docs project URL: https://ringcentral-api-docs.readthedocs.io/en/bootstrap
* Read the Docs username (if applicable): byrnereese

## Problem Description

I recently created a mkdocs plugin (https://github.com/byrnereese/mkdocs-git-committers-plugin) that will display a list of contributors associated with a documentation page. It used the Github API which has aggressive API r

[2018-12-15 21:46] stsewd commented on #5007
Currently, there isn't, but it's on plans https://github.com/rtfd/readthedocs.org/pull/4899

[2018-12-15 21:46] #5007 closed

[2018-12-16 14:43] dojutsu-user commented on #4496
@humitos
I tried some css adjustments locally. Here's the results

1. When there are too many versions and translations
![ezgif-4-045218f8984e](https://user-images.githubusercontent.com/29149191/50054995-cbe00f80-016e-11e9-8600-50b0ea7c7e18.gif)

2. When there are limited versions and translations
![ezgif-4-8a20fdd2583f](https://user-images.githubusercontent.com/29149191/50055000-d69aa480-016e-11e

[2018-12-16 19:54] aanm opened #5008 "TeX capacity exceeded, sorry [input stack size=5000]."
## Details

Is it possible to increase TeX's input stack?

* Read the Docs project URL:

* Build URL (if applicable):
https://readthedocs.org/projects/cilium/builds/8283503/
* Read the Docs username (if applicable):

## Expected Result

The build to succeed

*A description of what you wanted to happen*

## Actual Result

*A description of what actually happened*

[code]

[2018-12-17 00:44] ianw commented on #4986
@humitos did you manage to find anything?

[2018-12-17 09:38] humitos commented on #5008
How do you normally do that?

[2018-12-17 11:03] humitos commented on #5004
Thanks for your report.

I checked the logs and it seems to be a temporary error when trying to create the docker container. I saw that your latest builds worked properly.

I'm closing it here. Feel free to reopen if you consider.

[2018-12-17 11:03] #5004 closed

[2018-12-17 15:36] stsewd commented on #5003
Not sure, I know that we suggest to use docker in the ES update https://github.com/rtfd/readthedocs.org/pull/4722

[2018-12-17 15:42] stsewd commented on #5006
I think this would be a good addition :)

Well, I think that is not the purpose of rtd (personal opinion), but our next version of the config file is more extensible and configurable.

[2018-12-17 17:03] #4999 closed

[2018-12-17 20:12] ericholscher commented on #4999
This is now deployed. 👍

[2018-12-18 02:31] vEpiphyte commented on #4713
@naor2013 You can use `conda` to do 3.7 at the moment if it is a pressing need.  See https://github.com/rtfd/readthedocs-docker-images/pull/73 for notes and a patch.

[2018-12-18 10:07] #3839 closed

[2018-12-18 10:14] #4257 closed

[2018-12-18 11:19] humitos commented on #4957
I suppose the reason why we put this pre-defined output is that when the command is killed, we don't get any output in return from docker.

[2018-12-18 12:53] parthi2929 commented on #4974
Hi, Sorry, I could not test it yet, what is the deadline for this test before we release?

[2018-12-18 15:11] stsewd commented on #4974
There's not a deadline, you can test it whenever you want :), just keep in mind that the schema will change after #4740 gets merged

[2018-12-18 16:22] stsewd commented on #4957
Interesting, I'll try to reproduce that locally and see

[2018-12-18 16:36] dojutsu-user commented on #4978
@humitos
I would like to take this issue up.
Any idea on how to start?

[2018-12-18 18:34] stsewd commented on #4957
So, after some attempts, I was able to reproduce and catch locally, this is what I found

[code]

We have some output, it may be helpful for debugging, and there is a `Killed` at the end, so I think we can append the message or just rely on the top message to communicate the error.

I'm going to keep investigating if there are some side effects.

[2018-12-18 23:31] goerz opened #5014 "Segfault on a significant percentage of conda installs"
For a significant number of builds (somewhere between 10-30% would be my estimate), builds that use `conda` fail with a segfault. Example: https://readthedocs.org/projects/weylchamber/builds/8294985/

I'm seeing the same behavior across all my projects.

[2018-12-18 23:42] stsewd commented on #5014
Conda is very heavy (consumes a lot of memory and time), there isn't much we can do. Same issue as https://github.com/rtfd/readthedocs.org/issues/4574

[2018-12-19 07:07] kmaehashi commented on #4955
Thank you for your suggestions and increasing the build time! Builds seems to woking stably now.
We will also consider removing the unused format.

[2018-12-19 09:30] smurfix opened #5016 "Error importing a module from pypi"
My project uses the Python module "anyio" (unversioned). it is supported for Python 3.5 and installable from PyPI. Nevertheless, RTD can't find it.

## Details

* Read the Docs project URL: http://aioserf.readthedocs.io
* Build URL (if applicable): https://readthedocs.org/projects/aioserf/builds/8296746/
* Read the Docs username (if applicable): smurfix
* Project source: https://github.com/smurfix

[2018-12-19 12:44] msarahan commented on #5014
Hi, I'm one of the conda maintainers. Sorry for the headache. The place where this failed is a strange place to run out of memory. At that point, it looks like it is just doing the final copying of files. We'll look into it and hopefully reduce the memory consumed by conda.

We are in the early stages of monitoring performance and memory usage using air speed velocity. Our benchmarks are at https:

[2018-12-19 12:45] msarahan commented on #4574
Hi, I'm a conda maintainer. Please see response at https://github.com/rtfd/readthedocs.org/issues/5014#issuecomment-448583257

We will look into this.

[2018-12-19 14:14] stsewd commented on #4955
Glad that it worked

[2018-12-19 14:14] #4955 closed

[2018-12-19 14:20] stsewd commented on #5014
@msarahan those are great news! thanks!

[2018-12-19 14:30] stsewd commented on #5016
Let us know if this can only work by having the `-pre` option, we could add that as an option in the yaml file. But this isn't so common I guess

[2018-12-19 15:15] smurfix commented on #5016
Well, frankly that option would help. I have no idea whether there are more projects like anyio with a prolonged pre-release phase, and its author isn't quite ready to cut a 1.0 version.

[2018-12-19 15:46] neewy opened #5017 "Projects depend on files in submodules for the config validation"
## Details

* Read the Docs project URL: https://iroha.readthedocs.io/ja/latest/index.html
* Build URL (if applicable): https://readthedocs.org/projects/iroha-ja/builds/8299696/
* Read the Docs username (if applicable): neewy

Our multilanguage docs are stored at https://github.com/soramitsu/localized_docs repo. All .rst files are symbolic links that are pointing to original files in Hyperledger I

[2018-12-19 16:01] stsewd commented on #5017
Sorry about this, we did some changes to separate the submodules step (so users can disable submodules, or clone only the subdmodules that are needed), now we first validate the requirements file, and then we clone the submodules. Not sure how to solve this, but I'll take a look soon.

[2018-12-19 16:09] stsewd opened #5018 "Add `--pre` option to pip install"
Pip by default only finds stable releases https://packaging.python.org/tutorials/installing-packages/#installing-prereleases

We can support packages with pre-releases only by adding the `--pre` option, we could add this as an option for the config file.

Not sure how many users could face this, or if there is a workaround and avoid the `--pre` option.

More background at https://github.com/rtfd/r

[2018-12-19 16:10] stsewd commented on #5016
I opened https://github.com/rtfd/readthedocs.org/issues/5018 to track that, and see if more users are facing the same problem.

[2018-12-19 16:32] stsewd commented on #5017
Not sure what you mean, current solution is to add the requirements file on the main repo

[2018-12-19 16:38] #4496 closed

[2018-12-19 16:55] neewy commented on #5017
@stsewd Could please tell me what step is right after `pip install -r requirements.txt?` in docs build pipeline?

[2018-12-19 17:08] neewy commented on #5017
I copied the file to each language folder. Now I revealed another issue (maybe I made a mistake somewhere, please correct if that's true):
`A pip requirements file needed to build your documentation. Path from the root of your project.`
I tried to reference the file several ways:
[code]

[2018-12-19 17:09] stsewd commented on #5017
After that we install the project if you have the `install project` option, and the we execute the sphinx-build command

[2018-12-19 17:12] stsewd commented on #5017
https://readthedocs.org/projects/iroha-de/builds/8300454/ this is the correct way, but I don't see the requirements file there https://github.com/soramitsu/localized_docs/tree/master/docs/de

[2018-12-19 17:13] stsewd commented on #5017
Sorry, now I see https://github.com/soramitsu/localized_docs/blob/master/docs/de/requirements.txt

[2018-12-19 17:15] neewy commented on #5017
@stsewd sorry for confusion

[2018-12-19 17:15] stsewd commented on #5017
And no again, if you check the commit, it was building from https://github.com/soramitsu/localized_docs/tree/36b37a4d0a91a793868582dac96812c2aa81b89a/docs/de, there isn't a requierements file there

[2018-12-19 17:18] stsewd commented on #5017
Could you please tell me the final value of `requirements file`?

[2018-12-20 03:15] atbaker opened #5020 "Abandoned project: twilio-salesforce.readthedocs.io"
## Details

* Read the Docs project URL: twilio-salesforce.readthedocs.io
* Build URL (if applicable):
* Read the Docs username (if applicable): atbaker

## Description

Hi there - I work at Twilio and I'm trying to gain control of the twilio-salesforce.readthedocs.io project. It was created a long time ago and is woefully out of date, but I don't believe any of the developers who set up this proj

[2018-12-20 14:06] humitos opened #5021 "Big output commands with multipart encoded are not logged"
After hotfixing #5000 we noticed that these commands that use multipart encoded forms, for some reason do not log these BuildCommand into the Build object, so they are not shown when accessing the Build details page.

More discussion with examples: https://github.com/rtfd/readthedocs.org/pull/5000#pullrequestreview-185539745

[2018-12-20 14:06] humitos opened #5022 "Write a serializer for multipart encoded forms"
In #5000 we are manually manipulating the request to send the data using `MultipartEncoder` directly to avoid an issue that we found when sending large data.

The proposal is a solution, but we think it could be cleaner if we write a Slumber serializer and we use it directly instead of touching the request at that level: https://slumber.readthedocs.io/en/v0.6.0/options.html#serializer

Also, once

[2018-12-20 14:38] humitos commented on #5020
Hi @atbaker! I just sent an email to the owner of that project to follow our policy: http://docs.readthedocs.io/en/latest/abandoned-projects.html

I'll come back here when I get a reply from the user and/or after 6 weeks without answer at all.

[2018-12-20 21:57] Syndace opened #5026 "Was CMake support removed?"
## Details

* Read the Docs project URL: https://readthedocs.org/projects/python-xeddsa/
* Build URL (if applicable): https://readthedocs.org/projects/python-xeddsa/builds/8307687/
* Read the Docs username (if applicable): Syndace

## Description

My project uses CMake to compile a library during the python package setup. Around four months ago it worked fine (for example [this build](https://read

[2018-12-20 23:00] mdraw commented on #4942
@stsewd I have set `use_system_site_packages: true` as an attempt to make installation less resource intensive. Neither setting it to `true` nor `false` fixes the problem for me. I have tried to keep dependencies at a minimum, but most of them really are necessary.

@humitos I have tried mocking some large dependencies with http://www.sphinx-doc.org/en/master/usage/extensions/autodoc.html#confval-

[2018-12-21 00:40] aanm commented on #5008
@humitos every build now, probably we have reached a limit with TeX?

[2018-12-21 00:55] greg-db opened #5027 "Request to increase memory limit for dropbox-sdk-python project"
# Details

* Read the Docs project URL: https://readthedocs.org/projects/dropbox-sdk-python
* Build URL (if applicable): https://readthedocs.org/projects/dropbox-sdk-python/builds/8263925/
* Read the Docs username (if applicable): dropboxapi

## Expected Result

The documentation build for the dropbox-sdk-python library builds successfully.

## Actual Result

The documentation build for the dropbo

[2018-12-21 00:59] stsewd commented on #5027
Some things you can try are https://docs.readthedocs.io/en/latest/guides/build-using-too-many-resources.html

[2018-12-21 01:15] #4957 closed

[2018-12-21 03:49] Jamim commented on #561
It looks like there is some regression, so it's broken again.
I believe that this issue should be reopened.

[2018-12-21 06:06] strophy opened #5029 "WARNING: html_static_path entry and Missing searchtools.js_t"
## Details

* Read the Docs project URL: https://docs.dash.org/en/latest/
* Build URL (if applicable): https://readthedocs.org/projects/dash-docs/builds/8309041/
* Read the Docs username (if applicable): strophy

I'm getting 2 build warnings that I can't seem to fix:

[code]

I've tried setting `html_static_path = []` as described in #1776 without success, but it is definitely still loading files

[2018-12-21 13:37] stsewd commented on #561
@Jamim Please give more information, like the project where you are seeing this

[2018-12-21 19:36] humitos commented on #5008
I'm sorry. I don't follow.

[2018-12-21 19:38] humitos commented on #5027
@greg-db after trying what Santos suggested, please if you still have issues let me know and I will increase the limits for this project. Thanks!

[2018-12-21 19:41] humitos commented on #5027
I guess that a problem could be that all the objects live in only one single huge file: https://dropbox-sdk-python.readthedocs.io/en/latest/moduledoc.html

Actually, that page almost kills my browser just to render it. I suppose that something similar happens with Sphinx. Maybe splitting into a page per module is a good idea.

[2018-12-21 19:57] julienmalard commented on #4089
FYI, this seems to be fixed now and unicode branch names are working fine!

[2018-12-21 19:57] humitos commented on #5026
Hi! `cmake` was not available, I checked all the docker images.

The thing is that the package `ref10` used to use `make` and `gcc` and now tries to use `cmake` and `make`.

From https://readthedocs.org/projects/python-xeddsa/builds/7632383/

[code]

and from https://readthedocs.org/projects/python-xeddsa/builds/8307687/

[code]

I hope it helps.

[2018-12-21 19:59] humitos commented on #4089
Thanks for the update!

[2018-12-21 20:06] Syndace commented on #5026
Oh boy, and I even wrote that myself :D Well thank you, sorry for bothering

[2018-12-21 20:07] #5026 closed

[2018-12-21 21:41] greg-db commented on #5027
It looks like splitting out the docs into multiple pages was sufficient. The latest build succeeded. Thanks all!

[2018-12-21 21:41] #5027 closed

[2018-12-22 11:18] humitos commented on #5027
@greg-db nice! Docs are easier to follow/read/surf now from my point of view and my browser doesn't get stuck when opening any page.

[2018-12-22 20:34] gerhardol opened #5030 "Cannot search due to old Jquery version being used with "-b readthedocs""
## Details

* Read the Docs project URL: https://git-extensions-documentation.readthedocs.io/en/master/
* Build URL (if applicable): https://readthedocs.org/projects/git-extensions-documentation/builds/8283885/
* Read the Docs username (if applicable): gerhardol

Documentation cannot be searched: https://github.com/gitextensions/gitextensions/issues/5948

## Expected Result

Search possible and th

[2018-12-23 08:50] humitos commented on #5022
@dojutsu-user well, I don't exactly know how to do it since I've never done it before, but the documentation linked in the description should guide you.

When instantiating the client, it passes the serializer:

    s = serialize.MySerializer()
    api = slumber.API("http://example.com/api/v1/", format="pickle", serializer=s)

[2018-12-23 09:57] humitos commented on #5030
I suppose that we introduced this bug at #5001 and https://github.com/rtfd/readthedocs-sphinx-ext/pull/52

I don't understand exactly why/how but those PRs touches the jQuery file and I suppose that something went wrong with the symlinks and it ended pointing to an old version.

But it's clear that this is not happening,

(from #5001)

The version your docs are using is 1.4.2, https://git-extensio

[2018-12-23 11:45] dojutsu-user commented on #5022
@humitos
Actually, slumber is always using the `default` serializer because the `format` parameter is not taking into the account. There's an open issue also:
https://github.com/samgiles/slumber/issues/131

So, I don't think that our requirement can be met at the moment with slumber.

[2018-12-23 12:03] gerhardol commented on #5030
The difference between the -b html and -b readthedocs builds is that html target copies the latest versioned files (also included) for jquery and underscore.

Confirming that it is possible to search when overriding the following files (from the versioned files generated by sphinx).

$ ls source/_static/
jquery.js  underscore.js

[2018-12-23 15:58] davidfischer commented on #5030
It looks like the build used Sphinx 1.7 which should copy jQuery v3.2.1. I don't yet see why it wouldn't copy it. However, I'm guessing this is an old jquery version from a *very* old build of the docs on Read the Docs.

[2018-12-23 15:59] davidfischer commented on #5030
I don't think this is an issue with symlinks because at least some docs are picking up the correct jquery version (eg. [our docs](https://docs.readthedocs.io/en/latest/_static/jquery.js)).

[2018-12-23 16:39] gerhardol commented on #5030
Both Sphinx -b html and the readthedocs includes:
[code]

Both reference jquery (and underscore) in the html header, without versions.

Both builds fail if the readthedocs extension is loaded

[2018-12-23 17:59] stephenfin opened #5031 "Shallow clone breaks build"
## Details

* Read the Docs project URL: https://readthedocs.org/projects/patchwork/
* Build URL (if applicable): https://readthedocs.org/projects/patchwork/builds/8314815/
* Read the Docs username (if applicable):

## Expected Result

The build, which utilizes the `reno.sphinxext` module, should work.

## Actual Result

The build fails due to missing tags. These are presumably missing due to the

[2018-12-23 18:13] stsewd commented on #5031
I'm guessing this is because the `reno` package needs the git history https://docs.openstack.org/reno/.

[2018-12-23 18:42] stephenfin commented on #5031
Indeed :disappointed:

[2018-12-24 08:53] humitos commented on #5031
@stsewd I think we should add a Feature flag for these cases to omit shallowing.

[2018-12-24 09:45] humitos opened #5032 "Setting default branch uses Version.slug instead of identifier"
## Details

* Read the Docs project URL: https://readthedocs.org/projects/test-builds/
* Build URL (if applicable): https://readthedocs.org/projects/test-builds/builds/8319150/
* Read the Docs username (if applicable): humitos

## Expected Result

Build the branch set as default branch as when it's built as [non default](https://readthedocs.org/projects/test-builds/builds/8307296/).

## Actual Res

[2018-12-24 09:50] humitos opened #5033 "git command fails but build doesn't fail"
## Details

I noticed this while reporting #5032

* Read the Docs project URL: https://readthedocs.org/projects/test-builds/builds/
* Build URL (if applicable): https://readthedocs.org/projects/test-builds/builds/8319150/
* Read the Docs username (if applicable): humitos

## Expected Result

Fail the build completely.

## Actual Result

`git` command fails, but the build continues and passes. This

[2018-12-24 10:40] humitos commented on #5022
Yeah, you are right.

Blocking on https://github.com/samgiles/slumber/pull/148

We could install that particular commit/revision in case we _really_ want to do it like this since the project looks kind of dead unfortunately :(

[2018-12-24 15:45] stsewd commented on #5033
I saw this when svn was failing some weeks ago, we need to verify the exit code and raise the proper exception.

[2018-12-24 16:10] stsewd commented on #5031
We have to options here, feature flag (this can only be added by the core team), or an option in the web interface (this can be handled by the user).

[2018-12-24 16:48] stephenfin commented on #5031
Yeah, I've been looking at this. I see both approaches were adopted for submodules, with bd364946aa providing the feature flag approach and the later bfa6bdb346 providing a config file based approach. I'd been adding a `git.shallow_clone` setting using the latter approach based on the idea that pretty much everyone using reno or similar tools would be affected. I'm not sure how the config file tie

[2018-12-24 16:52] stsewd commented on #5031
We can't have this option in the config file because the config file is parsed after the clone step. And we don't have the submodules option on the web because we are moving all per-version settings to the config only, all per-project settings will be available on the web.

[2018-12-24 17:02] stephenfin commented on #5031
Oh, of course 🤦 I guess web UI is the way to go so, though I'm not sure where to nestle that in.

[2018-12-24 19:42] humitos commented on #5031
Feature flag is the way to go. Admin option is overkill I'd say. I don't expect to have this problem too often.

[2018-12-25 10:17] stephenfin commented on #5031
See above. I've a pull request which should resolve this using the feature flag.

[2018-12-26 13:47] stsewd commented on #5031
@humitos I was thinking that we can use the providers API to fetch only the yaml, I think Travis does that.

[2018-12-26 16:34] stsewd commented on #5017
I'm not sure if this is a common workflow, having files to build docs in a submodule, I was thinking some possible solutions here:

- Add a `skip_validations` key to the config (it will only skip validations related to find a file)
- Split the validations, before and after we have the whole repo (submodules included). That way we have the submodules keys ready to use, and we can continue with the

[2018-12-26 16:58] stsewd commented on #5029
I can confirm that we inject the `_static` path value in the build step, and it doesn't exist, not sure why we do that, maybe we used to use this a time ago? I'm investigating more.

[2018-12-26 16:59] stsewd commented on #5029
Here we insert the static path https://github.com/rtfd/readthedocs.org/blob/5386e844ac96a211f4aa58e36a49e1a1e7da2b06/readthedocs/doc_builder/templates/doc_builder/conf.py.tmpl#L40-L40

Here is the value https://github.com/rtfd/readthedocs.org/blob/5386e844ac96a211f4aa58e36a49e1a1e7da2b06/readthedocs/doc_builder/backends/sphinx.py#L117-L117

https://github.com/rtfd/readthedocs.org/blob/5386e844ac96

[2018-12-26 17:49] stsewd commented on #5029
Ok, I found that we used to have an override there, but I guess it was deletes/moved to the theme/extension

[2018-12-26 17:53] stsewd commented on #5029
Found it https://github.com/rtfd/readthedocs.org/pull/1946

[2018-12-26 18:07] stsewd commented on #5029
The another warning (`copying searchtools... WARNING: Missing searchtools.js_t`) believe is bc another reason, related to the extension https://github.com/rtfd/readthedocs-sphinx-ext/blob/addf69becb2a8b34baf3449a86df91df7c4184c5/readthedocs_ext/readthedocs.py#L176-L180

[2018-12-26 18:19] neewy commented on #5017
At least PhpMyAdmin uses the same approach. We kinda copied their schema with symbolic links here: https://github.com/phpmyadmin/localized_docs

[2018-12-26 18:21] neewy commented on #5017
But they don't host it with readthedocs... Anyway, it should not be that hard to maintain requirements.txt in both repos (original and translation) and for now it solves issues with submodules

[2018-12-26 19:16] #5031 closed

[2018-12-26 19:43] ericholscher commented on #5031
**This is now deployed behind a feature flag, if anyone needs this functionality, just ask an admin.**

[2018-12-26 20:32] #4861 closed

[2018-12-26 20:41] #4934 closed

[2018-12-26 20:42] #4935 closed

[2018-12-26 20:47] #5032 closed

[2018-12-27 00:38] Juanlu001 commented on #4450
Has this been deployed already?

[2018-12-27 00:41] stsewd commented on #4450
Yes, it is

[2018-12-27 00:52] Juanlu001 commented on #4450
I ask because I pushed a tag and it was not discovered in RTD, and it has happened more times this year.

Maybe the problem is that my repository is configured with a GitHub Service ([which are being deprecated](https://developer.github.com/changes/2018-04-25-github-services-deprecation/)) instead of a webhook. However, [the documentation](https://docs.readthedocs.io/en/latest/webhooks.html#github

[2018-12-27 01:05] stsewd commented on #4450
Oh, yes, the docs should be updated, we need to listen to `delete` and create events on github too https://github.com/rtfd/readthedocs.org/pull/4876/files#diff-d4da38e842120f1e061ecec27ff050c4R175.

That's done automatically by rtd, you only need to do that if you created the webhook manually. If it's an old webhook created by rtd, you should resync the webhook.

[2018-12-27 12:40] humitos commented on #5031
@stephenfin done for `git-pw`, `patchwork` and `infrared`. Please, if you have any issue open a new one to continue the discussion there. Thanks!

[2018-12-27 13:05] humitos opened #5041 "Document Feature flag user can request us"
We have several Feature flags that can be applied to projects. Although, we don't have a document that explains that they are there and how to request them to be enabled.

List of Feature flags available,

https://github.com/rtfd/readthedocs.org/blob/dec39ba70315eca338359f8381af4610a3e56274/readthedocs/projects/models.py#L1018-L1029

We should write some docs around this mentioning them and explai

[2018-12-27 13:35] humitos commented on #5041
I think just a specific page under our docs is enough. Maybe another entry in the FAQ with a general question like: "I want a different configuration that's not available under Admin" or well, something better than that ;)

[2018-12-27 13:36] dojutsu-user commented on #5041
Okay.
Working on it.

[2018-12-27 16:45] stsewd commented on #4450
@humitos I think that's a manual step, but we could show a message maybe? But not sure how to identify the old webhooks.

[2018-12-27 17:13] humitos commented on #4450
Why it can't be automated?

All the project created _before_ the PR got deployed need to be re-synced.

[2018-12-27 17:38] ljmf00 commented on #1846
Trying the LFS hack by @swistakm and @AlexMAS and got an error.
![image](https://user-images.githubusercontent.com/5050669/50489158-0f077180-09fe-11e9-9681-3fe04b773ff6.png)
[code]
---
## Reference:
- [1] https://readthedocs.org/projects/aurorafoss-learn/builds/8327656/

[2018-12-27 17:43] stsewd commented on #4450
It may be projects that are already re-synced, but I suppose that shouldn't be a problem.

[2018-12-28 10:19] nadar commented on #4736
I do have the same problem, but the domain is set correctly:

[code]

[2018-12-28 11:12] stephenfin opened #5044 "Enable no shallow clone flag for 'patchwork'"
As noted in https://github.com/rtfd/readthedocs.org/issues/5031#issuecomment-450132974, the use of shallow clones breaks patchwork.readthedocs.io. While git-pw (and presumably infrared) are now functioning as expected, patchwork is still broken. Could someone check that the flag is definitely enabled for this project now?

[2018-12-28 11:19] cokelaer opened #5045 "How to claim an existing but non active project on RTD"
## Details

I wanted to create a new RTD project for one of my package on pypi but the name already exists on RTD.

However, it looks like a non active project with no builts. I do not know whether the owner will use it or not.

So, I would like to contact the owner or to claim this name for my project. What do you recommend , what shall I do ? I have read the RTD page https://docs.readthedocs.io/

[2018-12-28 11:24] dojutsu-user opened #5046 "Show active feature flags in project admin at readthedocs.org"
Users can open an issue to request for the feature flags.
I think it would be good to just show them the list of active feature flags for their project. It will avoid confusion that whether it is active or not or how many are active.

Related #5044

[2018-12-28 11:42] dojutsu-user opened #5047 "Error: [No such file or directory: 'pdflatex'] even after disabling the option in the project admin (local)"
I have disabled theses options in the admin
1. Create a PDF version of your documentation with each build.
2. Create a EPUB version of your documentation with each build.

Then also, every time when I tried to build the project, I get this error.
![screenshot from 2018-12-28 16-53-27](https://user-images.githubusercontent.com/29149191/50514031-a41f6e80-0ac1-11e9-8b13-6291a027d6e8.png)

## Steps to

[2018-12-28 12:53] stsewd commented on #5047
What project are you using? If the project is rtd, we have PDF enabled in the config file, v2 doesn't merge the values from the admin, it always take precedence the config

[2018-12-28 12:56] dojutsu-user commented on #5047
Yes i am using the rtd project (my forked).
Sorry, I wasn't aware of it and was trying to build in local using RTD.
Thanks for help.

[2018-12-28 12:56] #5047 closed

[2018-12-28 13:02] stsewd commented on #5047
See https://github.com/rtfd/readthedocs.org/pull/4451 for the v2 docs

[2018-12-28 13:02] humitos commented on #5044
`patchwork` has already enabled the feature flag.

If you take a look at the output from https://readthedocs.org/projects/patchwork/builds/8328012/ you will notice that there is no `--depth 50` argument.

It's probably failing for a different reason.

Also, I just triggered a new build and it passes: https://readthedocs.org/projects/patchwork/builds/8329977/

[2018-12-28 13:34] humitos commented on #4736
@nadar I checked the logs and I see that Cloudflare returned 409 (Conflict) when saving the Domain. I assume that this is because the cert is already requested/created at Cloudflare.

I also make a query to Cloudflare to double check its status and it says that the status is `pending_validation`.

I'm investigating a little more and asking my team mates because I'm not 100% about how it works :con

[2018-12-28 13:35] humitos commented on #4736
@nadar also, check David's response: https://github.com/rtfd/readthedocs.org/issues/4736#issuecomment-427663456

:point_up_2:

[2018-12-28 14:00] cokelaer commented on #5045
Here is the project's URL; https://fitter.readthedocs.io/en/latest/
Thanks

[2018-12-28 14:20] stephenfin commented on #5044
Weird. I tried on [another branch](https://readthedocs.org/dashboard/patchwork/version/stable-2.1/) and [the first build failed](https://readthedocs.org/projects/patchwork/builds/8330171/) but [the second passed](https://readthedocs.org/projects/patchwork/builds/8330173/). I wonder if the failed build is cleaning something up?

[2018-12-28 18:04] mrava87 commented on #4957
Hi,
I still seem to get the initial error message with no hint on where the build breaks. See attachment and link (https://readthedocs.org/projects/pylops/builds/8330708/).

I thought this was merged?

![screen shot 2018-12-28 at 19 01 54](https://user-images.githubusercontent.com/22675848/50523965-527fdf80-0ad3-11e9-9c64-66924e649e99.png)

[2018-12-28 20:15] mrava87 commented on #4957
I have tried to even rebuild the stable version which points to a commit at tag v1.1.0. If this built at some point I don't see how it is possible that it is not building anymore due to 'excessive memory consumption'. Do you sometimes grab bigger nodes than other times for the built in docker?

[2018-12-29 10:17] nadar commented on #4736
Yes, status is also pending in the control panel 😞 - since more then 2 days. So i assume something wen't wrong.

<img width="581" alt="bildschirmfoto 2018-12-29 um 11 15 32" src="https://user-images.githubusercontent.com/3417221/50537015-1beda780-0b5b-11e9-8aeb-c7150c503ca9.png">

[2018-12-29 10:58] humitos commented on #5045
@cokelaer I sent an email to the owner today. I'll come back when I got a response (or not). Thanks!

[2018-12-29 16:36] avishaymahluf commented on #5044
It also failed for me on Infrared [on the first attempt](https://readthedocs.org/projects/infrared/builds/8333018/), after I wiped the latest and retriggered the build [it passed](https://readthedocs.org/projects/infrared/builds/8333021/).
It seems that only after the wipe it cloned the whole repo instead of doing "git remote set-url" and "git fetch".

[2018-12-29 17:43] davidfischer commented on #4736
It was stuck waiting on verification. When I refreshed it, everything worked and it deployed correctly. Maybe we need a way to do that from the UI.

[2018-12-31 00:47] sg-s opened #5050 "How do I get readthedocs to use a custom 404 page?"
## Details

* Read the Docs project URL: https://xolotl.readthedocs.io/en/master/

## Expected Result

If I go to https://xolotl.readthedocs.io/en/master/fsdf, I expect to see the 404 page that is part of my theme (which is what I see when I build locally)

## Actual Result

Instead, I get the default readthedocs 404 page with the maze.

 I don't understand why the 404.html that is built as part o

[2018-12-31 13:45] dojutsu-user commented on #5046
I am a little confused on this.
Will this be okay to implement it or not?

[2019-01-01 13:01] delivrance opened #5051 "Builds failing for projects using the "typing" package"
## Details

* Read the Docs project URL: https://readthedocs.org/projects/pyrogram/
* Build URL (if applicable): https://readthedocs.org/projects/pyrogram/builds/8338798/
* Read the Docs username (if applicable): **delivrance**

## Expected Result

Build expected to succeed.

## Actual Result

Build fails.

## Description

Hi. I suspect there's a bug in the `typing` package shipped as built-in pac

[2019-01-02 08:03] humitos commented on #5050
Hi @sg-s and thanks for your report.

Currently, this is not possible.

There are more discussion around this and the problems of different implementations at #353 (actually, it feels this issue is a duplicated of that one)