[2018-09-13 15:57] agjohnson commented on #4623
This is a feature already built into RTD search. You need elastic search setup and the correct indexes. Unless there is a more specific problem with search indexing, I don't think there is much we can act on here. Perhaps stack overflow is better place for a support question like this?

Closing for now. If you have a bug report, feel free to reopen.

[2018-09-13 15:57] #4623 closed

[2018-09-13 16:01] stsewd commented on #4623
@agjohnson I tested this on the .org site, looks like it doesn't work there.

Main project: https://rtd-test-stsewd.readthedocs.io/en/latest/search.html?q=eric&check_keywords=yes&area=default

Subproject https://rtd-test-stsewd.readthedocs.io/projects/stsewd-demo/en/latest/

[2018-09-13 16:44] stsewd commented on #4623
This also doesn't work in the another way

Main project: https://rtd-test-stsewd.readthedocs.io/en/latest/search.html?q=change&check_keywords=yes&area=default#

Subproject https://rtd-test-stsewd.readthedocs.io/projects/stsewd-demo/en/latest/search.html?q=change&check_keywords=yes&area=default

[2018-09-13 20:41] mlncn commented on #4412
I couldn't find documentation on how to make this work.  I had hallucinated that it was working but in fact my builds have been reported failing since i added a `requirements.txt` file with a single line:

[code]

Ironically, the error message in the failing build is "No module named CommonMark".

Hmm, actually, on another project with the same requirements.txt line the error, right after `from Co

[2018-09-13 20:53] stsewd commented on #4412
You don't need all those requirements, from rtd, maybe you mean to add the requirements from the recommonmark repo. Anyway, I think you are facing this problem https://github.com/rtfd/recommonmark/pull/118

[2018-09-13 21:05] mlncn commented on #4412
@stsewd Thank you again for amazingly fast response!  Hmm, i'd expect that same error first, then.  But i realize what i need to do is get everything working in a virtualenv so that i can use a requirements.txt that i know works (right now pip freeze has every random pip thing i've ever installed on my computer, so i haven't wanted to use that).

[2018-09-14 13:48] invinciblycool commented on #4525
Taking this up. Confirming that the dataclasses should be immutable?
Also where do I refer for the defaults?

[2018-09-14 15:31] agjohnson commented on #4623
I'm seeing bad search results even just searching those projects for terms that should be locally indexed, so this probably is a problem with indexing in general, not a problem with this indexing feature.

For example, I get results that back down to Sphinx results here:
https://rtd-test-stsewd.readthedocs.io/projects/stsewd-demo/en/latest/search.html?q=Eric&check_keywords=yes&area=default

This t

[2018-09-14 16:03] stsewd commented on #4623
Just commenting that we solve this rebuilding the project

[2018-09-14 16:46] agjohnson commented on #4568
@humitos perhaps we don't even need a database to track this. our notification system should be able to deduplicate messages and only send one every 2 weeks. So on requests to the deprecated webhook endpoints, we create a notification for the project owners every two weeks.

@gjtorikian 24000 is way more than i would have guessed! it might help to have this information if it's not a pain to pull i

[2018-09-15 01:52] KengoTODA commented on #1340
to whom it may concern,

I created [a GitHub Probot app](https://github.com/KengoTODA/rtd-bot#get-url-of-staging-document-when-you-review-changes) that enables RTD build and share its document URL in PR. It may cover a part of your requirements, please check.

[2018-09-16 12:24] AdrianLxM opened #4637 "Unicode in link names not possible"
## Details

* Read the Docs project URL: https://androidaps.readthedocs.io/en/latest/
* Build URL (if applicable): https://readthedocs.org/projects/androidaps/builds/7792444/

The build fails if the link name has unicode in it.
[code]

An example is this file: https://github.com/openaps/AndroidAPSdocs/blob/68c9a48f65a26402b589191aa0462269e89e301f/docs/CROWDIN/de/Configuration/Preferences.md
... wh

[2018-09-17 15:05] femtotrader commented on #4421
Hi @humitos

Any news?

Kind regards

[2018-09-17 15:51] safwanrahman commented on #4247
Fixed by ##4635

[2018-09-17 15:51] #4247 closed

[2018-09-17 17:18] agjohnson opened #4638 "Deprecate `Project.documentation_type`"
Our config file is going to support per-version documentation types, so we need to make a few changes to support this logic. See #4486 for some background here. The two points where we are still using `Project.documenation_type` are in the `footer_html` return and in our resolver.

We can't remove the need for the data from this field, as we have some logic that determines file path based on the b

[2018-09-17 17:49] agjohnson commented on #4603
@stsewd what is the need to be able to see the tags? I don't think we need read access to them, just need to guide users to add them and use them.

I think what we want to document is "How to have conditional content in your documentation", which describes:

* Adding `tags.add('foo')` to your config
* Using `only` directive to make conditional content

I just tested this out, and it does work as I

[2018-09-17 17:51] agjohnson commented on #4594
Yeah, I'm about 100% not concerned with forks of RTD for our development roadmap. I'm a big :+1: on migrating to modern Django.

[2018-09-17 17:52] agjohnson commented on #4594
It is, but this isn't blocking us on deprecating.

[2018-09-17 17:56] agjohnson commented on #4594
I don't think there is anything to deprecate here, we'll just start redirecting links. 3 of those 4 endpoints are being deprecated anyways, so we just need to worry about the `/api` endpoint.

[2018-09-17 18:53] agjohnson commented on #4543
Agreed on lumping this into v3.0, moving discussion here to our on-going discussion on deprecation #4594

[2018-09-17 18:55] agjohnson commented on #4604
A better place to ask questions like this is perhaps Stack Overflow. Our issue tracker here is mostly frequented by just our core team, asking a larger community would probably yield better results.

[2018-09-17 18:55] #4604 closed

[2018-09-17 18:56] agjohnson commented on #4637
Also, consider filing this against the recommonmark package, as the parsing bug is triggered from that code.

[2018-09-17 19:04] agjohnson commented on #4630
Read the Docs doesn't do anything special to context data or really anything special at all to Alabaster. Not sure what would be changing this -- you can try a full wipe of the project, in the case that you recently changed the config option. Otherwise, let us know if you come across any other information that would help determine if this is a bug.

[2018-09-17 19:08] agjohnson commented on #4624
It looks like you're trying to publish to the same URL as your dashboard? You'll likely hit a number of problems with this. If `USE_SUBDOMAIN` doesn't work, you can try setting `PUBLIC_DOMAIN`. See our documentation for useful configuration options.

I'm going to close this here either way. A better place to ask this question is Stack Overflow, our core team doesn't have resources to support third

[2018-09-17 19:08] #4624 closed

[2018-09-17 19:51] agjohnson commented on #4612
I'm going to move this discussion to our theme, this isn't a problem with RTD code. We can't dictate the codepoints generated in documentation, so we're likely stuck dealing with a font issue instead. We're unlikely to switch out the font used by default, but we might be able to select a better CJK using CSS or conf.py.

[2018-09-17 19:51] #4612 closed

[2018-09-17 19:51] agjohnson commented on #4612
Moved to rtfd/sphinx_rtd_theme #670

[2018-09-17 20:11] AdrianLxM commented on #4637
@stsewd with python3 it works. Thank you very much!

[2018-09-17 20:11] #4637 closed

[2018-09-17 20:30] stsewd commented on #4549
@marcelstoer yes, this isn't deployed yet. All deployed code is merged in [rel branch](https://github.com/rtfd/readthedocs.org/tree/rel) (from master)

[2018-09-17 20:39] agjohnson commented on #4307
The top-right placement is a feature specific to documentation built with the latest version of our theme, so I'm :-1: on that placement. It's also deviating from current pattern of implementing feature as flyout menu options. We have the flyout menu for this case -- dynamic content dropped into static documentation.

I'd say that if you want this dropdown placement on your docs, you should overri

[2018-09-17 20:41] agjohnson commented on #4307
Accepting for now, but not in it's current state. We need to find a pattern that works for our flyout menu instead of in-doc.

[2018-09-17 20:51] agjohnson commented on #4600
This is more closely represents an operations issue, so paying a third party won't really help us get this implemented. It's not quite on our roadmap, though I have been pushing to focus on more i18n support, so I'm generally :+1: on an improvement like this in the short term.

We have a few issues open already regarding similar changes (some in our private operations provisioning), but to summari

[2018-09-17 20:52] agjohnson commented on #4600
Also, note that none of these changes happen in this code base, so I'll likely close this issue. We're tracking work internally though.

[2018-09-17 20:52] agjohnson commented on #3295
Closing as duplicate of #4600

[2018-09-17 20:53] #3295 closed

[2018-09-17 21:29] stsewd opened #4640 "Celery update breaks our code"
Today I reinstalled my virtual env, reinstalling the requirements noted this when building a simple project:

[code]

This is because of this change https://github.com/celery/celery/pull/4432, we need to:

1) downgrade celery
2) refactor our code

I'm trying 2 now

[2018-09-17 21:46] agjohnson commented on #4550
So I'm:

* +0 on dropping symlinks.  I'm :+1: on the idea, but weighing the work required to remove symlinks and develop features for our redirect application, I feel like this will be another distraction from building product features.
* +0 on moving files to s3/azure. We can sendfile to an external azure storage URL, but perhaps we first explore serving docs directly from blob storage first. Ser

[2018-09-17 22:03] agjohnson commented on #4475
Moved this to rtfd/sphinx_rtd_theme#671, this is a theme issue with CSS, not an issue with RTD. Looks like the styling of `ul` might not consider this usage on `genindex`. Closing here.

[2018-09-17 22:03] #4475 closed

[2018-09-17 22:07] agjohnson commented on #4474
This is a regression, automatic scrolling was already part of the navigation menu. This is a theme issue either way though. I'll move this issue into our theme tracker.

I don't recall if we have a scrolling option on our theme, but if not, you can change this with CSS. The theme is meant to scroll in this behavior however, so this is not buggy behavior. We won't be using fixed positioning for the

[2018-09-17 22:07] #4474 closed

[2018-09-17 22:35] agjohnson commented on #4468
This is because the best guess we have when docker kills something is looking for the `137` exit code, which usually indicates that memory was an issue. Unfortunately, we don't have a better way to determine this, so we're likely to get false positives. What happened here is project timed out, killing the process inside docker, reporting the exit code as `137`.

Not sure if there is a lot we can d

[2018-09-17 22:38] agjohnson commented on #4395
I'm going to close this issue for now. I think this is mostly resolved and our docs include instructions on how to resolve this issue if you hit it again.

[2018-09-17 22:38] #4395 closed

[2018-09-17 22:41] agjohnson opened #4641 "Support HTTPS redirect"
This is a placeholder issue, we've had a few requests to enable HTTPS always on, and hey why not HSTS as well, when HTTPS is checked on the project domain admin dashboard page.

Edit: for HSTS, see https://github.com/readthedocs/readthedocs.org/issues/4135 instead of this issue.

[2018-09-17 22:43] agjohnson commented on #3938
Opened #4641 to track changes to always redirect to HTTPS/enable HSTS

[2018-09-17 22:47] agjohnson commented on #4040
We don't host with Rackspace anymore. We're working on a solution for ipv6 eventually, but this feature isn't tracked in our issue tracker here. Closing this issue as duplicate.

[2018-09-17 22:47] #4040 closed

[2018-09-17 22:48] agjohnson commented on #4082
Closing this as not an issue with RTD.

[2018-09-17 22:48] #4082 closed

[2018-09-17 22:50] agjohnson commented on #3848
Closing this due to inactivity. I think we're unlikely to resolve these issues without a larger overhaul. Feel free to turn any of this into PRs if you'd like to see these fixed before then though.

[2018-09-17 22:50] #3848 closed

[2018-09-17 22:55] agjohnson commented on #1170
This ticket has gone a bit stale, so I'm just going to close this as an edge case users don't encounter a lot. It seems it's possible to switch VCS backends, you might just need to wipe your environment in between changes.

[2018-09-17 22:55] #1170 closed

[2018-09-17 22:59] agjohnson commented on #562
We've had this open for quite some time now, and I don't think there has been much enthusiasm over a feature like this. Given GDPR, I'm less inclined to keep data lying around indefinitely, and if we want this from an operation perspective, there are disk snapshots.

I'm :+1: on closing this as something we're highly unlikely to implement.

[2018-09-17 23:04] agjohnson commented on #1505
Marking this low priority for now, until we have a feature to show freshness. Without this piece, tracking modified date doesn't add much value.

[2018-09-17 23:05] agjohnson commented on #893
Moving this to #4001, where we discuss adding more version aliasing rules.

[2018-09-17 23:05] #893 closed

[2018-09-17 23:14] agjohnson commented on #2018
Following up, albeit late: we've had Dutch translations for a while now: https://www.transifex.com/readthedocs/readthedocs/language/nl/

[2018-09-17 23:14] #2018 closed

[2018-09-17 23:14] agjohnson commented on #2129
Think this has been implemented for a while now. Reopen if any of this is missing.

[2018-09-17 23:14] #2129 closed

[2018-09-17 23:17] agjohnson commented on #2705
This is a lot of code to fix static information we have to maintain anyways. Just going to close this

[2018-09-17 23:17] #2705 closed

[2018-09-17 23:28] agjohnson commented on #3915
Duplicate of #810

[2018-09-17 23:28] #3915 closed

[2018-09-17 23:29] #4477 closed

[2018-09-17 23:38] agjohnson commented on #4471
Thanks for the feedback @ewjoachim !

I think we're aiming to automate updating translations for our workflow, but we're not there yet.

I'll review some of the issues and note then in Tranisfex. I don't know if we have good answers for some of the issues.

Closing this here as I don't know if there are any other actionable changes besides `trimmed` updates

[2018-09-17 23:38] #4471 closed

[2018-09-18 00:01] agjohnson commented on #2588
Closing this due to inactivity. While the relationship between Celery and Kombu aren't obvious, it does at least illustrate our subproject feature. So, this change isn't entirely necessary unless someone wants to take this work on.

[2018-09-18 00:01] #2588 closed

[2018-09-18 00:02] davidfischer commented on #4641
I think we could turn on HSTS on readthedocs.org and readthedocs.io without issues.

I'm not sure we should do this for custom domains at all. I'm not strictly opposed to it, but I'm not sure we should do it, either. Turning on HSTS with a long max-age (a short max-age isn't useful) is a one-way street. You can't really go back. Once somebody's browser has received a response with HSTS for docs.ex

[2018-09-18 00:03] agjohnson commented on #2107
We have a few docs on managing i18n, but I think we still need a contributor doc. Adding this to our i18n milestone.

[2018-09-18 00:36] omidraha commented on #2652
Hi,
I configure my domain as below:

**Cloudflare:**

![screenshot_2018-09-18 dns omidraha com or omidraha com s account cloudflare - web performance security](https://user-images.githubusercontent.com/397672/45657462-c0456400-baff-11e8-86fd-f4218d99fd4e.png)

**rtd:**

![screenshot_2018-09-18 edit domains read the docs](https://user-images.githubusercontent.com/397672/45657503-dce19c00-baff-11e8-

[2018-09-18 00:46] stsewd commented on #2652
@omidraha please see https://github.com/rtfd/readthedocs.org/issues/2652#issuecomment-413268346

[2018-09-18 02:27] stsewd commented on #4640
Ok, this only happens in development (`CELERY_ALWAYS_EAGER = True`). I'm not sure how to _fix_ this, we need a way to pass `disable_sync_subtasks=False` down to the `get` method, but I found that `options` isn't used there...

https://github.com/celery/celery/blob/a1fb557b6ecc494514e3480518be57b985d0927d/celery/canvas.py#L1240

So, if there isn't another way of passing the `disable_sync` option, w

[2018-09-18 02:38] agjohnson commented on #4640
FWIW, I never use `ALWAYS_EAGER` in development. I used `contrib/supervisord.conf` to start all the services

[2018-09-18 03:46] strophy commented on #4307
Great to see this accepted, thank you! I think the flyout is an acceptable location, particularly if it makes sense from a design and logic point of view (dynamic vs. static content). But I would suggest some user-facing indication (e.g. globe icon) that settings such as this are actually available in the flyout menu. The current flyout is labelled `Read The Docs   v: latest` which does not provid

[2018-09-18 12:30] maarcingebala commented on #4246
Hey all, I've just stumbled upon the same issue in our project - our builds are failing due to RTD being not able to `pip install yarl==1.2.6`,  although such version exists and it's available on PyPi. I tried installing the package manually on my local using the same Python and Pip version as on RTD and it worked. Any idea what might be the issue?

[2018-09-18 14:39] stackexpress-shivam opened #4642 "Build failing with Never call result.get() within a task"
## Details

* Read the Docs project URL: http://104.248.56.254:8000/projects/shivam-demo

## Expected Result

*The build should pass*

## Actual Result

*Failing with following error*

18/Sep/2018 09:33:52] readthedocs.core.symlink:293[10250]: INFO (Build) [shivam-demo:] Symlinking Version: Version latest of shivam-demo (20)
[18/Sep/2018 09:33:52] readthedocs.projects.tasks:1201[10250]: INFO (Buil

[2018-09-18 15:10] stsewd commented on #4642
Thank you for filling up this issue, closing as duplicate of #4640

[2018-09-18 15:10] #4642 closed

[2018-09-18 15:11] stsewd commented on #4642
Also, you shouldn't use rtd on debug mode in production.

[2018-09-18 15:14] stsewd commented on #4640
I use supervisor sometimes, but it gets too heavy sometimes for my computer p:

So, should we update our installation guide?

[2018-09-18 15:15] stsewd commented on #4640
We already mention the redis installation there

[2018-09-18 15:29] stsewd commented on #4603
Got it, that should be in our guides section https://docs.readthedocs.io/en/latest/guides/index.html.

I'm not sure if there is a need to add tags from the rtd side, users already have access to the version from the conf.py file, maybe we can add that to the guide?

Not sure about `is_on_rtd` tag, I can't think of a use case for that, people mostly want to see the same docs locally as in rtd p: An

[2018-09-18 15:34] stsewd commented on #4468
mmm, I haven't see the code, but we could try to get the error from the latest command (I think we already inspect the output), so both error messages match. Right now is confusing for the users, and gives a wrong hint about the problem.

[2018-09-18 15:39] stsewd commented on #4638
- Add a Build.config json blob for storing config meta data (separate PR?)
- Make build update Build.config json blob

Those looks the same for me p: do you mean on 1) making something like we do with the build output? (store json files instead of the db) and 2) is to store on the db as a json field?

Anyway, I'm +1 for storing this information under a metadata field for the Build model, as we can

[2018-09-18 16:04] stsewd opened #4643 "Upgrade celery to >= 4.2"
We may need to do some changes before upgrading celery to 4.2, as we face some issues (https://github.com/rtfd/readthedocs.org/issues/4640).

Some options are:

- Require to run celery (`always_eager=False`) in dev
- Maybe this is a bug on celery?
   - Or maybe we can send a patch to allow to pass the `disable_sync_subtask` option as mention in https://github.com/rtfd/readthedocs.org/issues/4640#i

[2018-09-18 16:09] agjohnson commented on #4641
Yup, we've certainly hit this before. Let's focus on https first, we can come back to HSTS.

[2018-09-18 16:11] agjohnson commented on #4638
Sorry, no, i meant we need to add a field or fields to Build and the second part is making the API update these pieces on successful build.

If we don't have other metadata, we can also use a one-off field. But I think we're leaning towards storing more metadata (it would help greatly with debugging and UX around build).

[2018-09-18 16:16] agjohnson commented on #4603
Yup +1 on a guide for this.

They have access to the version, but most folks don't automate this or keep it up to date. I feel like we could be updating the version in conf.py for them. Hard to determine what is default and what is an intended value for `version` though, so we might not be able to automate this.

[2018-09-18 16:45] #4640 closed

[2018-09-18 21:05] stsewd commented on #4625
Closing as this isn't a rtd problem.

[2018-09-18 21:05] #4625 closed

[2018-09-18 21:06] stsewd commented on #3924
Closing this as the user [hasn't responded or given more information](https://docs.readthedocs.io/en/latest/contribute.html#initial-triage), feel free to reopen with more information if you are still having this problem :).

[2018-09-18 21:06] #3924 closed

[2018-09-18 21:09] stsewd commented on #3884
We migrate to Azure recently, the build process is a little faster, can you check if your docs can be built now?

[2018-09-18 21:10] stsewd commented on #3796
Closing this as the user [hasn't responded or given more information](https://docs.readthedocs.io/en/latest/contribute.html#initial-triage), feel free to reopen with more information if you are still having this problem :).

If you are still having the problem with memory/time limits, please open a new issue requesting more resources.

[2018-09-18 21:10] #3796 closed

[2018-09-18 21:11] stsewd commented on #3478
Closing this as the user [hasn't responded or given more information](https://docs.readthedocs.io/en/latest/contribute.html#initial-triage), feel free to reopen with more information if you are still having this problem :).

[2018-09-18 21:11] #3478 closed

[2018-09-18 21:13] stsewd commented on #3213
Closing this as the user [hasn't responded or given more information](https://docs.readthedocs.io/en/latest/contribute.html#initial-triage), feel free to reopen with more information if you are still having this problem :).

Also, you can check https://docs.readthedocs.io/en/latest/guides/build-using-too-many-resources.html

[2018-09-18 21:13] #3213 closed

[2018-09-18 21:26] juanrubio commented on #3213
Sorry, I forgot to report back!. Yes, builds are faster now. My builds are now completing in under 50 seconds. Thanks!.

[2018-09-18 21:52] agjohnson commented on #1386
Closing this due to inactivity, seems there isn't much here to act on. Feel free to reopen if you'd like to document this or make any improvements.

[2018-09-18 21:52] #1386 closed

[2018-09-18 21:56] agjohnson commented on #555
We'd probably implement this with our "collections" concept, otherwise I can't think of a UI that wouldn't be really complicated. Closing this and moving to #3784

[2018-09-18 21:56] #555 closed

[2018-09-18 22:04] agjohnson commented on #1922
So we haven't come to any conclusions here, and so far have been against prescribing arbitrary command execution. However, you can accomplish this effectively by using a Sphinx extension point in your conf.py and calling arbitrary commands there.

We haven't added arbitrary command execution to our v2 config file, so I'll say that it's probably not something we'd support directly. For that, I supp

[2018-09-18 22:04] #1922 closed

[2018-09-18 22:06] agjohnson commented on #1862
Cleaning up and closing this one as the support request is solved. I don't know if we have come across a similar error since, but if we have, it's rare.

[2018-09-18 22:06] #1862 closed

[2018-09-18 22:14] agjohnson commented on #2049
Also, another option is a sphinx extension, so that all of this happens inside Sphinx and it's own validation and warning system. I started down this path a while ago but didn't see a great amount of value in the basic regex sort of validation proselint provides.

More useful to authoring standards, but much harder to quantify in a meaningful way, are metrics like:

* Is this copy too complex?
* I

[2018-09-18 22:21] agjohnson commented on #2134
We have, or will have shortly, more docs on mocking -- both our janky homebrew suggestion and using autodoc_mock_imports.

Also, check out `sphinx-autoapi`, this is our extension that does AST traversal and skips execution entirely.

Closing this issue as it is addressed in auto-api and other places.

[2018-09-18 22:21] #2134 closed

[2018-09-18 22:33] stsewd commented on #2097
@agjohnson I think we can close this in favor of https://github.com/rtfd/readthedocs.org/issues/4354

[2018-09-18 22:44] stsewd commented on #2097
Yep, it's the same as #4354

[2018-09-18 22:44] #2097 closed

[2018-09-19 00:11] stsewd commented on #3974
I only see that we use `PublicTask` here

https://github.com/rtfd/readthedocs.org/blob/ba34164e28f56d0cb0ebc78cfb6ec801d0cae023/readthedocs/oauth/tasks.py#L24-L35

And we use that here

https://github.com/rtfd/readthedocs.org/blob/ba34164e28f56d0cb0ebc78cfb6ec801d0cae023/readthedocs/restapi/views/task_views.py#L58-L59

Not sure if we depend on this code in other parts (like on the .com site),
but

[2018-09-19 00:12] agjohnson commented on #1985
Okay, finally took care of this. The change to get this on the receipts was small, but annoying enough to do with Stripe. New receipts *should* have this in the PDF version (html version doesn't appear to have our information).

VAT is another issue, I suppose we just need to collect that on signup/charges. I'll repurpose this issue to get that added.

[2018-09-19 09:05] JoyMonteiro commented on #4618
The issue re-surfaced in our doc builds as well. It was building (HTML, not PDF) a few commits ago, but now even the HTML part is not going through.

https://readthedocs.org/projects/climt/builds/7807914/

[2018-09-19 15:11] agjohnson commented on #2733
This issue is probably pretty far off of our roadmap, so i'm going to close it as something we likely won't fix

[2018-09-19 15:11] #2733 closed

[2018-09-19 15:38] agjohnson commented on #2662
Also, i wonder if we can automate this list somehow, or document it in docker-images. The list of libraries is going to rot in our documentation.

[2018-09-19 15:40] agjohnson commented on #4504
I think we should probably switch the subscription handling on our side to either prorate and refund (which i thought was the application already, maybe it is), or to cancel the gold subscription at the end of the billing period.

[2018-09-19 15:44] agjohnson commented on #3974
Yeah, so this probably needs to be broken out into a stateful object instead of inside the task.

As far as i can remember, we only use the public task during remote repository syncing. I think we had planned on using it for build triggering, so we could update the status on the build list/output pages, but never got there.

[2018-09-19 15:45] agjohnson commented on #3784
I'm re-purposing this issue to address implementing this feature.

[2018-09-19 16:02] stsewd commented on #2662
The list of libraries was updated recently (and now we have a list for each image, which makes easier to update), we only need to update the `libevent` example as mention here https://github.com/rtfd/readthedocs.org/issues/2662#issuecomment-282170505

[2018-09-19 16:15] agjohnson commented on #2241
Not sure what this refers to, closing.

[2018-09-19 16:15] #2241 closed

[2018-09-19 16:17] agjohnson commented on #2144
This issue has been open for a while, and I don't think we'll have the resources to address an edge case like this. If anyone else wants to take this on, I'm happy to assign, but closing for now.

[2018-09-19 16:17] #2144 closed

[2018-09-19 16:20] agjohnson commented on #1661
Nope, i'll close this, i can't make sense of this one. I think the theme is a better place to handle this anyways?

[2018-09-19 16:20] #1661 closed

[2018-09-19 16:29] agjohnson commented on #1846
Implementing this in RTD will be non-trivial, but the suggested workaround would make a great guide topic in our `docs/guides/` documentation. I think we can at least start there, but adding another build step and configuration/etc for this is a sizeable amount of work.

[2018-09-19 16:31] agjohnson commented on #1669
Supporting VSO is a non-trivial amount of work, and there doesn't look to be much support in this thread for implementation. We partially support it currently, but it takes manual setup on both our community site and our commercial hosting. Perhaps we can add some documentation on this instead.

[2018-09-19 16:35] agjohnson commented on #407
Closing this as the latest image does have usable plantuml, our 18.04 image has an updated version and will be released soon.

[2018-09-19 16:35] #407 closed

[2018-09-19 16:36] agjohnson commented on #1797
Closing this due to lack of interest. I don't think this is an integration we'd focus core development on. Feel free to ask for assignment if you're interested in developing this.

[2018-09-19 16:36] #1797 closed

[2018-09-19 16:42] agjohnson commented on #2502
Closing this as this doesn't require admin intervention anymore. You can change users by creating the new user, assigning ownership of your projects to the new user, and finally deleting your old user.

[2018-09-19 16:42] #2502 closed

[2018-09-19 16:43] agjohnson commented on #2084
Closing this due to activity, feel free to kick off the process noted in our docs for abandoned projects if you'd like assistance.

[2018-09-19 16:43] #2084 closed

[2018-09-19 16:46] agjohnson commented on #1981
The abandoned project process is probably the best way to address this. The user, if implementing translations, should do so on the base project, not creating a hard fork. I'd pursue this path if this project is still problematic. Closing this issue due to inactivity for now.

[2018-09-19 16:46] #1981 closed

[2018-09-19 16:47] agjohnson commented on #2737
Our abandoned project policy would be the correct place to start here. Closing this issue.

[2018-09-19 16:47] #2737 closed

[2018-09-19 16:57] agjohnson commented on #1592
You should be able to test this locally. The underlying issue describes the cause as:

* Build queue goes down or is unreachable
* Push a webhook to the project
* Something removes the documentation or more likely the symlink
* Build never happens

Let's investigate the symlink step, this seems to be the culprit. It's getting triggered on project save.

[2018-09-19 17:00] agjohnson commented on #238
Yup, it is. Closing this issue.

[2018-09-19 17:00] #238 closed

[2018-09-19 17:02] agjohnson commented on #3462
If your account was deactivated, it was most likely due to abuse of RTD. Closing this issue

[2018-09-19 17:02] #3462 closed

[2018-09-19 17:14] agjohnson commented on #1644
I think momentum is pushing toward implementing this in #4001. I'm not sure if configuring `latest` will be an option, but I think we can have an alias for `latest` that allows us to keep internal representations, but allow public display to point to a different slug. Pushing this conversation to #4001.

[2018-09-19 17:14] #1644 closed

[2018-09-19 18:20] stsewd commented on #3974
So, we access the request object inside the class, we can't do something like https://github.com/rtfd/readthedocs.org/pull/3946/ (or at least I think so :grimacing:). So, I thinking in using a bound task http://docs.celeryproject.org/en/latest/userguide/tasks.html#bound-tasks

[2018-09-19 18:28] davidfischer opened #4648 "Improve Intro and Getting Started documentation"
I think the [introduction](https://docs.readthedocs.io/en/latest/) and [getting started guide](https://docs.readthedocs.io/en/latest/getting_started.html) could use a few improvements to make it easier for brand new users who may not already know about Sphinx/MkDocs/Markdown/RestructuredText and are just looking for a guide on how to write some docs.

I also think our introduction could stand some

[2018-09-19 18:28] agjohnson commented on #4363
This is perhaps a good candidate for a feature flag. We can test a small sample with this change. It is probably a slight speed up for builds, so might be a good addition. I'm putting this a few versions out though, it probably isn't a pressing priority right now.

If we notice build bugs, we can re-evaluate priority.

[2018-09-19 18:33] agjohnson commented on #4354
a `package` key is not just for dependencies, it's for installing from arbitrary paths in a repo:

[code]

This is useful for the case where either the package is not top-level or the repo contains multiple packages.

[2018-09-19 18:40] agjohnson commented on #4307
Agreed, I like the idea of at least some indication of language. Even just including the language code would be a start:

![image](https://user-images.githubusercontent.com/1140183/45773897-ca06be80-bc08-11e8-8d42-39aadb3dacf3.png)

Ultimately, with a re-implemented flyout menu, I think we will add more visual guides, and likely remove usage of things like language locale codes in place of descrip

[2018-09-19 18:40] n1ywb commented on #407
Thank you, everybody, for this, especially @agjohnson for seeing it through after all these years. Today my cup runneth over.

[2018-09-19 19:08] agjohnson commented on #4286
We don't do anything special with generated index files. If anything this data will make its way into our search, but I don't know if it would warrant it's own api endpoint

[2018-09-19 19:39] agjohnson commented on #1750
I think we're against dictating how any of these tools should be used. We have a number of docs on how to manage translations for your projects, including one under `guides/` that targets users making translations for their projects. This is probably a better place to help guide users.

[2018-09-19 19:39] #1750 closed

[2018-09-19 20:02] agjohnson commented on #1411
No, i think this describes the "View Docs" button on the version list page. I think this is resolved -- either we're doing the above logic already, or i probably removed the dropdown completely

[2018-09-19 20:02] #1411 closed

[2018-09-19 20:04] agjohnson commented on #3513
Sounds like we need to start with replicating some of the failure cases first, so we know what we're testing/changing.

[2018-09-19 20:06] agjohnson commented on #425
Yup, guidelines repo above contains the best images. It's probably best to make badges there. For anyone looking to take on this work, feel free to create an issue there with some mockups. Closing this issue due to inactivity, I think we can discuss more on our guidelines repo either way.

[2018-09-19 20:06] #425 closed

[2018-09-19 20:08] agjohnson commented on #2691
Closing, this isn't valid anymore as the source has moved.

[2018-09-19 20:08] #2691 closed

[2018-09-19 20:08] agjohnson commented on #2847
@humitos added a guide on managing translations. That was the piece i was looking to start with here. Closing this issue.

[2018-09-19 20:08] #2847 closed

[2018-09-19 20:11] agjohnson commented on #3434
Putting this on cleanup, but :+1: on keeping this low priority. Cleanup is already a low priority milestone, there are some higher priority cleanup tasks when we get to it.

[2018-09-19 20:12] agjohnson commented on #3108
Project has moved to rtd.com, closing this.

[2018-09-19 20:12] #3108 closed

[2018-09-19 20:16] agjohnson commented on #2798
We still don't have a lot of resources to allocate to an integration like this. I'm not familiar with VSTS, but as long as you can get an SSH Git URL to a public repository, you can attach this repository to a RTD project. The integration isn't as nice, and isn't one-click setup, but it works. It also requires manual set up of a webhook -- you can set up a generic webhook integration on your RTD p

[2018-09-19 20:18] agjohnson commented on #3696
Yeah, perhaps just setting `-r` to always True is the best.

[2018-09-19 20:19] agjohnson commented on #3743
We can use Celery task chaining to accomplish this probably.

[2018-09-19 20:22] agjohnson commented on #743
I think there are a few issues addressing this, but as we've discussed internally about this in the past, I think our context variables shouldn't override settings unless we are absolutely sure we want to force RTD behavior on the docs.

[2018-09-19 20:34] agjohnson commented on #3675
I've updated the logos!

[2018-09-19 20:34] #3675 closed

[2018-09-19 21:03] agjohnson commented on #3773
Sorry no one got to this. Could you supply your username?

[2018-09-19 21:07] agjohnson commented on #3396
This sounds like it can be reclosed then.

[2018-09-19 21:07] #3396 closed

[2018-09-19 21:09] agjohnson commented on #3605
I think breathe support is enough here. If not, I'm not sure when or if we'd get to supporting doxygen, so I suppose we can close this either way.

[2018-09-19 21:09] #3605 closed

[2018-09-19 21:09] stsewd commented on #3974
So, I was exploring this, I found that the same class is shared (same id), but the self.request object is different. I tested this creating two social applications and two users (one with GitHub and another with Gitlab) and using `rdb`. Maybe the `request` object isn't shared here? or I dit test this wrong?

Anyway, we can add this to https://github.com/rtfd/readthedocs.org/issues/3973 and be 100%

[2018-09-19 21:12] agjohnson commented on #3435
We're using django templates, and I don't think we've discussed any need to use jinja. Reopen this is you know of any solutions for django templates that are comparable. This will still be low priority cleanup on reopening

[2018-09-19 21:12] #3435 closed

[2018-09-19 21:14] agjohnson commented on #1800
This is also very easy to hit with mkdocs.

[2018-09-19 21:17] agjohnson commented on #3507
Nevermind. I think API driven flyout menu is what we actually want. We've discussed theme support and our flyout as well, and offering a flyout api that themes can consume probably would make the most sense.

[2018-09-19 21:27] agjohnson commented on #3738
Thanks for the information everyone! I see the project is building now, so perhaps the immediate error was resolved with these solutions. I would echo using mocking to anyone hitting a similar issue. Closing this for now, but speak up if this error is still a problem for you.

[2018-09-19 21:27] #3738 closed

[2018-09-19 21:31] agjohnson commented on #3025
This seems it can be closed. Our yaml config might soon have more options to configure these steps, but currently this case is a bit of an edge case.

[2018-09-19 21:31] #3025 closed

[2018-09-19 21:40] brianmay commented on #2144
In any case there is documentation on how to avoid this problem: https://github.com/pypa/setuptools_scm#usage-from-sphinx

[2018-09-19 21:47] agjohnson commented on #2857
Duplicate of #4454

[2018-09-19 21:47] #2857 closed

[2018-09-19 22:09] agjohnson commented on #4454
Thanks for the detailed information! We might be calling on you more to help because I don't think any of us are well experienced with latex, and the need to perform multiple passes on PDF build seems like a silly latex design from the outside.

A couple things:

* We definitely won't use the Makefile for building PDFs. It's too error prone for a general use case like ours -- Sphinx makefiles are

[2018-09-19 22:12] agjohnson commented on #3819
Closing this as a feature we likely wouldn't maintain. We are already bad enough at maintaining our styles, two would be infinitely harder for us to do well.

[2018-09-19 22:12] #3819 closed

[2018-09-19 22:27] agjohnson commented on #1703
Issue is still relevant, the translations are indeed gone though. None of the RTD docs translations are thoroughly translated :(

[2018-09-19 22:38] agjohnson commented on #4564
Also:

- [ ] Use sphinx-intl instead of maintaining resources by hand with `tx`

[2018-09-19 22:39] agjohnson commented on #4152
Translations are all updated in #4645 and are updated on transifex

[2018-09-19 22:41] agjohnson commented on #2844
#3329 is unrelated. It describes a feature that allows for Transifex integration for users.

Some of this is updated in #4645, there is invoke tasks for helping. Closing this in favor of #4463

[2018-09-19 22:41] #2844 closed

[2018-09-20 05:35] KengoTODA opened #4649 "Request to API: enable build for specific branch"
Hello,
thanks for providing so great web application! I'm using Read the Docs for [SpotBugs Documentation](https://spotbugs.readthedocs.io/en/stable/) and others. Here I have a request to RTD API:

## Expected Result

* API provides a feature to enable/disable build for specific branch.
* So I can use it to run build for the pushed Git branch automatically.

## Actual Result

* V2 API provides no

[2018-09-20 05:45] KengoTODA opened #4650 "Request to API: Get build activity for specific Git branch"
Hello,
thanks for providing so great web application! I'm using Read the Docs for [SpotBugs Documentation](https://spotbugs.readthedocs.io/en/stable/) and others. Here I have a request to RTD API:

## Expected Result

* API provides a feature to get build activity (running, succeeded, failed etc.) for specific Git branch.
* So I can call [GitHub Checks API](https://developer.github.com/v3/checks/)

[2018-09-20 08:20] techtonik commented on #1750
`rtfd` translations are here for the `f` sake. =)

[2018-09-20 11:05] tdegeus opened #4651 "Invalid "requirements_file": path requirements.txt does not exist"
## Details

* Read the Docs project URL:  goosempl.readthedocs.io
* Build URL (if applicable):
* Read the Docs username (if applicable): tdegeus

## Expected Result

Successful build.

## Actual Result

I get a similar error as in #4378 , while also here the `docs/requirements.txt` exists. The exact error that I get:

[code]

The problem persists when I have both a `docs/requirements.txt` and a `r

[2018-09-20 12:39] tdegeus commented on #4651
The problem was solved after resettings the requirements file settings in the advanced settings.

[2018-09-20 12:39] #4651 closed

[2018-09-20 12:57] tdegeus opened #4652 "Respect case"
## Details

* Read the Docs project URL:  goosempl.readthedocs.io
* Build URL (if applicable):
* Read the Docs username (if applicable): tdegeus

## Expected Result

I have a Python module that contains upper-case letters. I would like to autodoc the module, however it appears that the readthedocs converts everything to lower-case.

[2018-09-20 15:11] stsewd commented on #4286
Request from #4649

[2018-09-20 15:12] stsewd commented on #4649
We are discussing new api features in https://github.com/rtfd/readthedocs.org/issues/4286, I move this request there.

Also, this may be useful https://github.com/rtfd/readthedocs.org/issues/4001

[2018-09-20 15:12] #4649 closed

[2018-09-20 15:15] stsewd commented on #4652
Can you please link to the specific module and page? Also, does this behaviour happens locally? I don't think this is a rtd issue, but from autodoc.

[2018-09-20 15:18] stsewd commented on #4650
I think we have an internal undocumented API for query the build status, anyway, moving to #4286.

Also, you may be interested in https://github.com/rtfd/readthedocs.org/issues/1340

[2018-09-20 15:18] #4650 closed

[2018-09-20 15:18] stsewd commented on #4286
Request from #4650

[2018-09-20 15:20] stsewd commented on #1703
We have a guide for translations https://docs.readthedocs.io/en/latest/guides/manage-translations.html

[2018-09-20 15:27] jfbu commented on #4454
That is not such a problem for 'manual' type project because the numbering is reset after the table of contents, but 'howto' documents will have that problem.

[2018-09-20 15:28] tdegeus commented on #4652
@stsewd

* This happens for http://goosempl.readthedocs.io / https://github.com/tdegeus/GooseMPL
* There are no issues what so locally, the case is respected.
* It has so far only happened on *rtd*. Some snippets from the raw build are listed below, all displaying that *rtd* partially looses the upper-cases.

[code]

[2018-09-20 15:28] RichardLitt commented on #4625
@vivianyangsh If you feel that this is a RTD problem, though, feel free to comment. It's possible our docs aren't clear enough.

[2018-09-20 15:31] agjohnson commented on #4258
Blocking until .com update to 18.04

[2018-09-20 15:32] RichardLitt commented on #4648
I think this is a great idea, and needed. I still don't fully grok how to do this, either.

Aside: Is there a reason there are two milestones, `Documentation` and `Better User Documentation`? Could we join them?

[2018-09-20 16:03] ericholscher commented on #562
Yea, I'm +1 to close it. It's not something people really ask for, and except for like the internet archive, I don't have a solid usecase for it.

[2018-09-20 16:03] #562 closed

[2018-09-20 16:04] ericholscher commented on #1505
This is actually implemented in the new search code for search invalidation. So I'm gonna close this one as done. 👍

[2018-09-20 16:04] #1505 closed

[2018-09-20 16:47] stsewd commented on #4652
I can see that your package originally is in lowercase, also that you have some try..catch around lowercase and uppercase, not sure why. Anyway, your package is in lowercase.

I suppose this is working locally because you are using Windows (case insensitive filesystem)

[2018-09-20 16:52] stsewd commented on #4454
As far I can remember, Makefile generation is optional, also for windows I think they generate a bat file, so maybe some users can be updating one file or another and not both. Users may don't have a makefile, etc.

[2018-09-20 16:58] tdegeus commented on #4652
@stsewd

The `try ... except` are simply a workaround to get *rtd* working. But thanks for your remark! I had not realised that GitHub did not get informed of the case when I changed and pushed it (probably because my macOS is not really case sensitive).

Sorry for the false issue.

[2018-09-20 16:58] #4652 closed

[2018-09-20 17:03] stsewd commented on #4652
No worries!

[2018-09-20 17:33] stsewd commented on #4594
Can we include https://github.com/rtfd/readthedocs.org/issues/2663 here?

[2018-09-20 17:34] jfbu commented on #4454
A user may indeed have possibly broken custom Makefile related to using  `sphinx-build`. But I am talking here about the other Makefile which is created by `latex` builder together with quite a few other files and end up in `latex` build repertory. This is entirely of Sphinx devising it is not a user Makefile. I am not thinking about local builds by RTD user, but only about the builds offered by R

[2018-09-20 17:37] agjohnson opened #4654 "Add admin interface for reindexing a project search"
We have a management command for this, but a site admin command probably makes a lot more sense. Let's move the management command to a site admin feature.

Work required:

- [ ] On Project admin, a command that reindexes all active versions (project queryset and all attached active versions)
- [ ] On Version admin, a command that reindexes by version queryset instead
- [ ] Drop management command

[2018-09-20 17:57] eendebakpt commented on #4574
@frankier I have the same problem (see https://readthedocs.org/projects/oapackage/builds/7817015/)

[2018-09-20 19:45] frankier commented on #4574
Can this be converted from "Support" to "Bug" since it's happening for multiple people.

[2018-09-20 19:56] RichardLitt commented on #4574
@frankier It might be a bug; I'm not sure! One of the other maintainers will get to this as soon as they can. They'll relabel as needed. It's not clear to me how to resolve this.

[2018-09-20 20:42] akchinSTC commented on #3829
Are there plans to update the RTD images to latest conda and build processes to include the skip upgrade flag now that conda/conda#6845 has closed ?

[2018-09-20 23:08] stsewd commented on #4574
This is something happening during build time, I think this is triggered by excessive memory consumption (happens a lot with conda). Why is this happening randomly? Sometimes the builders are busy and other times they aren't.

I think we have an exclusive queue for projects that require more resources, but the team need to analyze the situation. Also, you can take a look at https://docs.readthedoc

[2018-09-20 23:17] stsewd commented on #3829
The new feature isn't released yet by conda https://github.com/conda/conda/blob/master/CHANGELOG.md#460-unreleased

[2018-09-20 23:20] akchinSTC commented on #3829
My mistake, confused conda package manager versioning with Anaconda distro.

[2018-09-21 03:44] techtonik commented on #1820
I am +1 on reticketing the issue. There were some changes since 2015 and the info needs to be researched again.

[2018-09-21 03:55] stsewd commented on #1820
Yeah, I don't think this is a bug, is more like an improvement, and it needs a design decision about how to deal with links to no editable versions (tags).

[2018-09-21 07:29] beruic commented on #2412
I just checked BTW. The deleted repository still appears in my list.

[2018-09-21 08:56] ericholscher commented on #4648
Some existing content which might be useful to steal:

* http://ericholscher.com/blog/2016/jul/1/sphinx-and-rtd-for-writers/
* https://sphinx-tutorial.readthedocs.io/

[2018-09-21 10:34] delivrance commented on #3478
Thank you @stsewd. I don't think I need a time increase anymore. I've stripped down some of the docs allowing the old builders finishing in under 800 seconds. Now I've noticed it indeed takes much less time (around 200 seconds), I might consider reverting the changes and see how it goes. Thanks again!

[2018-09-21 11:08] intelliant01 opened #4657 "Redirection from short to full URL not working"
## Details

* Read the Docs project URL: https://mss-doc.readthedocs.io/
* Build URL (if applicable):
* Read the Docs username (if applicable): maintainers cyberorg, shrenik

## Expected Result

mss-doc.rtfd.io should have redirected to mss-doc.readthedocs.io

## Actual Result

No redirection and no response.

However, the redirection works for all translation project URLs - https://mss-doc-gu.rtf

[2018-09-21 15:40] davidfischer commented on #4657
This is related to the HTTPS transition for custom domains, I believe. I think this was one of about a dozen projects that I emailed because the DNS for custom domains was misconfigured. Am I right in assuming that you previously used a custom domain mss-doc.cyberorg.info for this project? It looks like this isn't used any longer.

There was a misconfiguration in the DNS setup for mss-doc.cyberorg

[2018-09-21 15:44] davidfischer commented on #4657
Just to be clear, I emailed the address attached to the Read the Docs account with the username "cyberorg". This is the account listed as the maintainer of mss-docs.

[2018-09-21 18:28] intelliant01 commented on #4657
Yes, it works now. Thanks.

And I shall coordinate with @cyberorg to have the custom domain part fixed.

[2018-09-21 18:28] #4657 closed

[2018-09-22 13:50] Blendify commented on #3854
Checked again and everything seems to be removed, thank you.

On Wed, Sep 19, 2018 at 5:21 PM Anthony <notifications@github.com> wrote:

--
Aaron Carlisle

Project administrator for the Blender 3D Documentation Project
Email: carlisle.b3d@gmail.com
Website: https://blendify.github.io

[2018-09-22 16:13] segevfiner opened #4660 "SSL_ERROR_BAD_CERT_DOMAIN for assets.readthedocs.org"
Read the Docs is loading without static assets for me. When browsing to `assets.readthedocs.org`, I'm getting an an `SSL_ERROR_BAD_CERT_DOMAIN` (Firefox), meaning all `readthedocs.org` static assets don't load.

![image](https://user-images.githubusercontent.com/24731903/45919276-61834000-be9b-11e8-8810-8616c1caf4c3.png)

![image](https://user-images.githubusercontent.com/24731903/45919265-3c8ecd0

[2018-09-22 16:15] stsewd commented on #4660
Looks good from my side

[2018-09-22 17:32] segevfiner commented on #4660
`assets.readthedocs.org` gets resolved to `13.107.246.10` here.

[2018-09-22 17:53] davidfischer commented on #4660
Resolves to the same here.

I looked at this on a few different browsers (including a couple versions of FF) and it looks good to me. I'm guessing this was a temporary hickup on the Microsoft CDN. Are you still seeing it?

[2018-09-22 17:54] stsewd commented on #4660
Resolving to the same IP here too

[2018-09-22 18:01] segevfiner commented on #4660
Sadly yes... 😢

[2018-09-22 18:28] davidfischer commented on #4660
<Response [400]>

    '2.18.4'

[2018-09-22 18:30] davidfischer commented on #4660
At least one other user is reporting this issue on [twitter](https://twitter.com/_heartsucker/status/1043557933869682688).

[2018-09-22 18:32] segevfiner commented on #4660
Firefox 62.0 on Windows 10.0.17134.285 x64 and Chrome 69.0.3497.100 on Android 8.1

[2018-09-22 18:40] t-makaro opened #4661 "Trouble saving images during build"
## Details

Sphinx-gallery is trying to add support for images that are saved to disk when an example is run:https://github.com/sphinx-gallery/sphinx-gallery/pull/417#issuecomment-423748055

I am trying to get a prototype of this to work over at: https://github.com/t-makaro/animatplot/pull/14

My docs build works perfectly locally or on cirleci, but for some reason when run on RTD the image files

[2018-09-22 18:41] davidfischer commented on #4660
I just tested on Firefox 62.0.2 (MacOS) and Chrome 69.0.3497.100 (same version) on Android 9 without issue. This leads me to believe it is an issue with the CDN itself and not a browser incompatibility.

One more question, geographically which country is your connection coming from?

[2018-09-22 18:43] segevfiner commented on #4660
Israel.

[2018-09-22 18:51] t-makaro commented on #4661
If I switch to using matplotlib's imagemagickwriter to save the gif. Then the build fails completely: https://readthedocs.org/projects/animatplot/builds/7828320/

with:
[code]

[2018-09-22 19:05] davidfischer commented on #4660
Thanks. The user reporting on Twitter appears to be from Germany. I don't know exactly what Microsoft's setup is but I would have expected Israel and Germany to not hit the same edge.

[2018-09-22 19:06] heartsucker commented on #4660
Seeing this too (TLS error):

[code]

[2018-09-22 19:07] heartsucker commented on #4660
Also:

[code]

[2018-09-22 19:09] davidfischer commented on #4660
Thanks for the details @heartsucker.

[2018-09-22 19:27] davidfischer commented on #4660
Ok, I sshed into a bunch of different servers and found one (US East) that exhibits the issue. I don't think there's much I personally can do here so I'm going to try to escalate this to Microsoft.

[2018-09-22 21:48] stsewd commented on #4661
What are the requirements to use this feature? Maybe there is something that needs to be installed?

[2018-09-22 21:49] stsewd commented on #4661
I'll take a look on Monday

[2018-09-22 22:13] RudolfCardinal commented on #2139
I'm also having this problem: https://whiskerpythonclient.readthedocs.io/ . A local build shows the ``[source]`` links, but the RTD version doesn't. The project is configured to use ``setup.py install`` via the web interface, and has identical RTD settings (except also enabling "Give the virtual environment access to the global site-packages dir", because it looks for ``numpy``) as https://cardina

[2018-09-22 23:30] davidfischer commented on #4660
In case anybody runs across this, we are still seeing this very intermittently. If you have any details on your setup (browser, country/region, OS) that would be helpful.

The command to test this in OpenSSL is:

    openssl s_client -connect assets.readthedocs.org:443 -showcerts -servername assets.readthedocs.org | grep CN=

If you see `CN=assets.readthedocs.org` in the response, it's good. If in

[2018-09-23 06:52] t-makaro commented on #4661
The features are still under development I'm installing a dev version of sphinx-gallery by listing the git branch in the requirements file. As far as I can tell, it is installed properly it does run my example code and produces an image which it then adds to the auto-generated documents. (Ultimately, it uses matplotlib and Pillow to save the image to disk). The problem is that the gif isn't produc

[2018-09-23 09:37] heartsucker commented on #4660
Still seeing this in Berlin.

[code]

[2018-09-23 12:57] Juanlu001 commented on #4367
I created a repo with a much simpler test case to display the buggy behavior:

https://github.com/Juanlu001/rtd-js-test

Result:

https://rtd-js-test.readthedocs.io/

There are two branches (one with the RTD theme and one with Alabaster) and five notebooks that display four different combinations + an interactive widget.

* With the Alabaster theme, all the five notebooks are shown and no relevant

[2018-09-23 17:08] manikos commented on #4660
Same here for FF 62.0, Linux Mint. The `openssl` response is: `0 s:/CN=*.azureedge.net`.

[2018-09-23 21:37] romik-g commented on #4660
Same problem, same CN, same IP `13.107.246.10` at the end of CNAME resolve like in [comment above](https://github.com/rtfd/readthedocs.org/issues/4660#issuecomment-423803780). Slovakia.

[2018-09-24 04:11] spookylukey commented on #2139
@RudolfCardinal
My current `.readthedocs.yml` file, which works for my case, is:

    build:
      image: latest

    python:
      version: 3.6
      setup_py_install: true

In addition I have the `sys.path` hacking in `docs/conf.py`

[2018-09-24 05:27] int-ua commented on #4660
Ukraine, `13.107.246.10`, `CN=*.azureedge.net`, Firefox 62.0 on Kubuntu.

[2018-09-24 11:12] Ayesha2788 opened #4662 "Writing custom Tapology in Mininet, sudo python example1.py I get this error, python: can’t open file ‘example1.py’ : [Errorno 2 ] No such file or directory"
Can anyone help, please

[2018-09-24 11:19] 7mobile56 commented on #4662
ok  Google
2018年9月24日 19:12於 "Ayesha2788" <notifications@github.com>寫道：

[2018-09-24 14:54] stsewd commented on #4662
Please provide the rtd project and build url

[2018-09-24 16:43] davidfischer commented on #4660
I'm not able to reproduce this as of about an hour ago. I haven't gotten confirmation that it is resolved.

[2018-09-24 16:54] stsewd commented on #4661
I'm not familiar with the libs you are using, neither the process that they follow to generate the images, so I can't tell if this is a rtd problem. What commands are you using to build the docs locally?

[2018-09-24 18:05] stsewd commented on #4661
Nevermind about the above comment, I don't think the extension is the problem (looks like I just needed to refresh the page to trigger the gif). I'm thinkgin something related to the libs installed locally. Maybe the pandoc version?

[2018-09-24 18:45] stsewd commented on #4661
Our latest image is using `pandoc 1.16.0.2`

[2018-09-24 19:27] stsewd commented on #4661
Ok, I was able to build the docs correctly inside the docker container, still not sure what is happening inside the rtd code. But something must be failing silently.

[2018-09-24 20:52] stsewd commented on #4661
Just adding that the generated git is half the size from the one generated outside rtd. Maybe a permissions issue?

[2018-09-24 22:50] stsewd commented on #2646
I think we can close this in favor of https://github.com/rtfd/readthedocs.org/issues/4354

[2018-09-25 01:31] stsewd commented on #4661
So, I finally was able to replicate this inside the container, if I do all the steps using a virtualenv, the generated gif is static (one frame, half the original size, etc). If I do all the steps using the global python interpreter, then the gif is generated correctly. I'm not really sure why is this happening. Locally, I was able to generate the correct gif using a virtualenv.

[2018-09-25 03:16] KengoTODA commented on #4649
Thank you!

[2018-09-25 03:17] KengoTODA commented on #4650
Yes feature of my probot is similar with #1340, thank you

[2018-09-25 14:49] agjohnson commented on #4660
We got confirmation that the Azure team has repaired the CDN SSL termination. Can anyone still reproduce this issue or confirm the fix has worked? I wasn't able to reproduce this yesterday either, but that was locally here in the west US.

[2018-09-25 15:14] int-ua commented on #4660
Looks fixed here, thank you.

[2018-09-25 18:33] agjohnson commented on #4660
Going to close this then, but speak up if you're still hitting this issue still!

[2018-09-25 18:33] #4660 closed

[2018-09-26 13:10] mrocklin opened #4667 "Is it possible to serve pages from / rather than /en/latest?"
Asked a couple weeks ago on Stack Overflow.  I apologize for the repetition here: https://stackoverflow.com/questions/52385544/remove-en-latest-from-urls-by-default-in-readthedocs-org

For some smaller projects I don't care deeply about having different stable and latest versions, and I expect to only have documentation in English for the forseeable future (sorry).

I'm fine with having my site av

[2018-09-26 15:05] stsewd commented on #4667
I think that you want is single versions https://docs.readthedocs.io/en/latest/single_version.html

Reposting this to SO so more people can see the answer.

[2018-09-26 15:55] stsewd commented on #4077
I'll take a look at this after #4656

[2018-09-26 16:39] mrocklin commented on #4667
Thank you for the speedy response @stsewd .  Closing

[2018-09-26 16:39] #4667 closed

[2018-09-26 17:49] choldgraf commented on #4661
Hello! I'm one of the devs working with Sphinx Gallery. Could it be a difference in dependency versions? I think that there are some other ways to create gifs using matplotlib (with imagemagick I believe) so maybe that'll get it working

[2018-09-26 18:43] stsewd commented on #3743
Actually, we delete the versions when syncing the versions

https://github.com/rtfd/readthedocs.org/blob/4fbe0afde6bd0fc9fc14baee79dd361d68f714cb/readthedocs/restapi/utils.py#L134-L154

https://github.com/rtfd/readthedocs.org/blob/4fbe0afde6bd0fc9fc14baee79dd361d68f714cb/readthedocs/restapi/views/model_views.py#L196-L196

I'm not sure about chaining the tasks. What I understand, is that we access

[2018-09-26 21:07] t-makaro commented on #4661
@stsewd Thank you for taking the time to replicate the issue.

How could I install imagemagick for use on RTD? I did make one attempt to use imagemagick, but the build failed completely on RTD. (Imagemagick is also less good for my workflow).

[2018-09-26 21:14] stsewd commented on #4661
We have an open issue about adding imagemagick to the rtd docker images https://github.com/rtfd/readthedocs-docker-images/issues/70

[2018-09-26 22:09] stsewd commented on #1592
I can't replicate, I did this:

- Shutdown celery
- Trigger a manual webhook
- There is a build (triggered state)
- The docs are still showing and symlinks look good

I also tried shutting down celery in the middle of the build.

[2018-09-26 22:29] t-makaro commented on #4661
I presume that would require me to use the latest docker image (once it's added), but I was having trouble building on the latest docker image. #4446 Though I think that I may know away around it. I'll try to test that later.

[2018-09-27 12:20] nikolay-bushkov opened #4668 "A configuration file was not found (after 2.6.6 update)"
## Details

* Read the Docs project URL: https://readthedocs.org/projects/deeppavlov
* Build URL (if applicable): https://readthedocs.org/projects/deeppavlov/builds/7851428/
* Read the Docs username (if applicable): same as here.

## Expected Result

Successful build.

## Actual Result

Build failed even in the branch that was not updated. It seems that update to 2.6.6 break it. Any ideas how to f

[2018-09-27 12:39] sobolevn commented on #4668
I have also seen this error for several project.

I have also tried to specify config file manually in "Advanced settings", but it did not work.
I hope to see a patch! 🙏

[2018-09-27 14:57] agjohnson commented on #1991
So, to trigger this, we have middleware that tries to guess the project based on DNS. I'm not convinced this should be a feature of RTD. The lookup logic is supposed to be:

* See incoming request for domain that isn't our PUBLIC_DOMAIN and isn't already a Domain
* Do a DNS lookup on the domain
* Assume the domain is pointed to `<project_slug>.readthedocs.io` and parse it accordingly
* Bring up th

[2018-09-27 15:05] stsewd commented on #4668
I'm going to look at this now

[2018-09-27 15:06] agjohnson commented on #3610
Thinking about this a little more, I think you should be required to set the version to active before it can be set to  the default version. I think dropdown for default branch and default version are a great start. I see the following work:

* Populate a dropdown for both fields in the view
* Do form validation on fields and choices for active versions and existing branches

There are a couple th

[2018-09-27 15:43] williamfgc commented on #4668
I have the same problem since this morning: https://readthedocs.org/projects/adios2-adaptable-io-system-version-2/builds/7852603/

[2018-09-27 15:51] #4152 closed

[2018-09-27 15:52] stsewd commented on #3743
`symlink_project` access to all versions and a version is being deleted at the same time. So, probably the symlink would stay

[2018-09-27 16:27] stsewd commented on #4668
Ok, I found the problem (with @nikolay-bushkov's project at least). What happens if that you have a `.readthedocs.yml` file inside your `docs` dir instead of the root of your project (as the docs recommend https://docs.readthedocs.io/en/latest/yaml-config.html). This was working in the past because we try to find a rtd config in the whole project internally, and we didn't use this value to get the

[2018-09-27 16:29] stsewd commented on #4668
@sobolevn can you share your rtd project? Or see if your case is the same as above ^

[2018-09-27 16:30] stsewd commented on #4668
@williamfgc your case is the same as above https://github.com/ornladios/ADIOS2/blob/master/thirdparty/pybind11/pybind11/.readthedocs.yml

[2018-09-27 16:31] stsewd commented on #4668
You can solve this by moving your `readthedocs.yml` file at the root of your project.

[2018-09-27 16:55] stsewd commented on #1991
So, this happens if users cname us without creating a domain in the admin panel, right?

[2018-09-27 17:10] davidfischer commented on #1991
There are ~1k of these.

It is required to generate a certificate but `*.readthedocs.io` goes right to our load balancer and not to Cloudflare.

With that said, I'm +1 on removing this feature. If people want to use RTD with a custom domain, I don't think requiring them to put that domain in the dashboard is burdensome.

[2018-09-27 17:18] williamfgc commented on #4668
@stsewd Thanks for your help! I thought the build was restricted to ./docs/ that yml file is under thridparty. Can I set up a filter?

[2018-09-27 17:28] williamfgc commented on #4668
@stsewd yeah, I looked into the docs and I couldn't find anything related. IT could be a useful feature. For example, if we have two projects (user_guide, developers_guide) under the same repo, or like in my case if we depend on thirdparty that must not be modified? Since those are common scenarios, what's the best practice?

[2018-09-27 17:31] stsewd commented on #4668
So, we decide that we don't want to support this behaviour (and looks like it doesn't match our docs anyway). So, if moving the config file to the project's root solve this, we can close this issue, I'll open a new one to track the deletion of the logic that finds config files inside other directories.

[2018-09-27 17:35] stsewd commented on #4668
I think there are some ideas about having multiple configurations, but I don't think we are going to support that. As we will need to need to find a way to choose which project to run. This is the more close thing that we are going to support https://github.com/rtfd/readthedocs.org/issues/4354#issuecomment-422911487. Also, I think rtd is designed for one documentation per repo.

[2018-09-27 17:35] stsewd commented on #4668
We are going to remove the finding logic, so that should fix that case.

[2018-09-27 17:41] williamfgc commented on #4668
@stsewd great! Thanks! Keep up with the great work in rtd!

[2018-09-27 17:50] agjohnson commented on #1991
Correct

I'd say it is probably expected even

[2018-09-27 18:17] stsewd opened #4669 "Remove logic around finding a configuration file inside directories"
This should only search for a configuration file on the project's root.

https://github.com/rtfd/readthedocs.org/blob/6261427e662d9c3733568c33f760c5f5a2100c6d/readthedocs/config/config.py#L956-L956

As we can face some weird cases like a third party dependency having a `readthedocs.yml` file. Also, looks like travis only search for a configuration file on the root. And we have on our docs that we

[2018-09-27 18:23] invinciblycool opened #4670 "RuntimeError when refreshing accounts locally"
## Details
A RuntimeError is returned when `refreshing your accounts` is clicked because [get_task_data](https://github.com/rtfd/readthedocs.org/blob/6261427e662d9c3733568c33f760c5f5a2100c6d/readthedocs/core/utils/tasks/retrieve.py#L16) gets task result which results in a RuntimeError saying `*** RuntimeError: Cannot retrieve result with task_always_eager enabled`

## Steps to Reproduce

- Setup t

[2018-09-27 18:30] stsewd commented on #4670
I think this is a duplicate of https://github.com/rtfd/readthedocs.org/issues/4077, also, you need to create a social application in your local instance to be able to use that functionality.

[2018-09-27 19:13] agjohnson commented on #4590
This is cleanup milestone, deprioritizing for now.

[2018-09-27 21:17] davidfischer commented on #4648
I don't know the answer to this. Perhaps @agjohnson does?

[2018-09-27 21:25] #4219 closed, assigned to stsewd

[2018-09-27 22:35] agjohnson commented on #4354
Marking this design decision as we have a little bit more work to do on a schema addition for this, but i think i like the `python.install` as a list option. Let's decide schema to best support these few cases and then can figure out how soon we should prioritize things.

@rtfd/core this is good issue to chime in on for design decision

[2018-09-28 04:34] A-red-BREASTED-robin commented on #4654
hi

[2018-09-28 08:28] #4668 closed

[2018-09-28 08:35] sualko opened #4671 ""Edit on GitHub" url broken for sphinx projects"
## Details

* Read the Docs project URL: https://jsxc.readthedocs.io
* Build URL (if applicable): https://github.com/jsxc/documentation

## Expected Result
"Edit on GitHub", "View on GitHub" and so on should link to https://github.com/jsxc/documentation.

## Actual Result
Those links points to https://github.com/jsxc/documentation/blob/master/home/docs/checkouts/readthedocs.org/user_builds/jsxc/ch

[2018-09-28 08:36] sobolevn commented on #4669
Can we still provide a way to specify your `conf.py` location in the configuration?

Use-case: I have my application in root folder and my docs in `docs/` subfolder.
I do not want to have extra files that might interact with my app.

Real world example: https://github.com/wemake-services/wemake-python-styleguide

So, can we have an `conf_path` (or similar) option in `readthedocs.yml`?

[2018-09-28 11:49] xeroc commented on #1820
On my deployment, it wouldn't even work on `master` branch?
See http://how.bitshares.works/en/master/

[2018-09-28 13:43] #2328 closed

[2018-09-28 13:43] #4268 closed

[2018-09-28 14:30] stsewd commented on #4669
@sobolevn with our rtd configuration file v2, we have an option to specify the `conf.py` path (but you still need to put the readthedos.yaml in the root of your project). Right now you can to use the admin panel.

Our v2 will be available soon!

[2018-09-28 14:31] stsewd commented on #4669
This change has nothing to do with the `conf.py` file btw, it's about the `readthedocs.yml` file

[2018-09-28 15:47] pdavide commented on #4671
@stsewd I don't think this is a duplicate issue as this bug is appearing in sphinx based projects too.
In the #4482 the value for `conf_py_path` is changed from a relative to an absolute path. This is passed to the sphinx build context and then in used in the readthedocs default theme to [generate the "Edit on [VCS]" link](https://github.com/rtfd/sphinx_rtd_theme/blob/310043695f75cac495f8bde089a30

[2018-09-28 15:54] stsewd commented on #4671
oops, didn't see that your project is sphinx type. Yeah, that's a bug

[2018-09-28 16:02] pdavide commented on #4671
@stsewd that's not my project, I just noticed the same bug in a sphinx based project and commented this same issue instead of opening a new one.
Thanks for your commitment.

[2018-09-28 16:12] stsewd commented on #1621
This was implemented in our configuration file (v2), isn't available for users yet, but I hope it will be soon or at least for some users (we can add a flag to make it available to some projects).

[2018-09-28 16:12] #1621 closed

[2018-09-28 16:18] davidism opened #4672 "latest is reactivated on commit"
I've disabled the "latest" version. However, every time I push a commit to master, the version is reactivated on RTD. I'd like for the version to stay disabled even on new commits.

[2018-09-28 16:19] stsewd commented on #4214
With the new stuff added around config module, I think this would be a heavy refactor. So, probably we can close this, maybe consider using an external lib for v3 p:

[2018-09-28 16:27] stsewd commented on #4672
I guess this only happens via webhooks, as master is latest, then rtd builds that branch and activates latest.

[2018-09-28 16:28] davidism opened #4673 "Redirect full path to default version"
I'd like to be able to create versionless links to the documentation, for use in error messages, code comments, etc. For example, a message like `see https://click.palletsprojects.com/windows for more information`. I don't want to use URLs with versions because I would have to remember to modify all instances of it before releasing a new version.

Currently, only the root path redirects to the def

[2018-09-28 20:20] agjohnson commented on #4214
Sounds good!

[2018-09-28 20:20] #4214 closed

[2018-09-28 21:30] agjohnson commented on #4662
Reported this as spam.

[2018-09-28 21:30] #4662 closed

[2018-09-28 23:50] davidfischer opened #4679 "Improve the Build Process Documentation"
While working on #4676, I linked from the getting started guides and import guides to the [Build Process docs](https://docs.readthedocs.io/en/latest/builds.html). These docs could use improvement and simplifications

Here's some ideas:

* Detail common errors (out of memory, too much time) and what to do about it. We discuss these issues but we should use the *exact verbiage* in the error messages

[2018-09-29 01:59] qnzhou opened #4680 "ImportError: No module named 'breathe'"
## Details

* Read the Docs project URL: https://pymesh.readthedocs.io/en/latest/
* Build URL (if applicable): https://readthedocs.org/projects/pymesh/builds/7860648/
* Read the Docs username (if applicable):

## Expected Result

Build without error.

## Actual Result

There are several things that is likely wrong in the build:

1. RTD is `cat`ting the wrong `conf.py`.  The correct conf file is `d

[2018-09-29 06:44] techtonik commented on #1820
@stsewd are you sure looking at the BitShares docs:

[2018-09-29 13:13] stsewd commented on #1820
@techtonik @xeroc that's another bug, please see https://github.com/rtfd/readthedocs.org/issues/4671

[2018-09-29 13:28] stsewd commented on #4680
Sorry, you are facing https://github.com/rtfd/readthedocs.org/issues/4669. About submodules, I hope to get merged this PR https://github.com/rtfd/readthedocs.org/pull/4493 soon and make it available to users soon.

Probably we can close this issue, and follow up on the others.

[2018-09-29 13:30] stsewd commented on #4680
Also, a workaround is creating your `.readthedocs.yml` file in the root of your project https://docs.readthedocs.io/en/latest/yaml-config.html.

[2018-09-29 13:47] stsewd commented on #4668
Just in case, a workaround is creating your own `.readthedocs.yml` file in the root of your project.

[2018-09-29 19:49] Tillsten commented on #1195
Could it be that this problem resurfaced in the Python 3.6 image? Since it get a

```No module named '_tkinter'```

for a module importing matplotlib.

[2018-09-30 03:29] qnzhou commented on #4680
Thanks @stsewd , adding `.readthedoc.yml` does fix the problem, but it still feels like a mystery to me.  No where in `.readthedoc.yml` specifies the location of `conf.py`, and yet the problem goes away.

[2018-09-30 03:29] #4680 closed

[2018-09-30 03:39] stsewd commented on #4680
previously the conf.py value was only customizable from the web panel of a project, but we are changing some stuff to make a rtd configuration file v2, which can be used to specify the `con.py` path, isn't available to users right now. Anyway, all values are relative to this file, so that's the problem. With the last update we discovered this _hidden_ bug (we were reading a configuration file that

[2018-09-30 10:18] Neui opened #4684 "RTD wants me to set up webhooks on a now non-maintaining project"
## Details

* Read the Docs project URL: https://readthedocs.org/projects/wla-dx/

I owned the wla-dx documentation project but not the github repository, so RTD couldn't set up integration for it (or I just didn't do it, can't really remember). The point is I get the "The project wla-dx doesn't have a valid webhook set up, commits won't trigger new builds for this project."-warning. Now since it

[2018-09-30 16:40] jcmgray opened #4686 "sphinx 1.8.1 build errors with "Inconsistency detected by ld.so: dl-version.c: 224 ...""
## Details

* Read the Docs project URL: https://readthedocs.org/projects/quimb/
* Build URL (if applicable): https://readthedocs.org/projects/quimb/builds/7830573/ (first broken build)
* Read the Docs username (if applicable): ``jcmgray``

## Expected Result

The documentation built without hitch until it seems ``sphinx`` changed from ``v1.8.0`` to ``v1.8.1``. The actual [commit](https://github.c

[2018-09-30 16:52] ericholscher opened #4687 "Search code pagination is slow/broken"
The default `count` method on our ES "querysets" is [really slow](https://github.com/elastic/elasticsearch-dsl-py/blob/81d5b941355f5e00e36cfcde66fbe54313cb21eb/elasticsearch_dsl/search.py#L665-L682)

We have worked around this by exploiting a [behavior in Django](https://github.com/django/django/blob/stable/1.9.x/django/core/paginator.py#L66-L78) that just calls `len(queryset)` when `count()` is i

[2018-09-30 20:32] dojutsu-user commented on #3179
@ericholscher I would like to work on this issue.

[2018-09-30 20:50] dojutsu-user commented on #3179
I would like to work on this issue. Can anybody guide me as I am totally new here.

[2018-10-01 01:01] rsyi opened #4691 "Installation timeout"
## Details

Installation times out before docs can be built. Not sure if this is a common problem -- is there anything I can do to allow the build to occur more quickly? I tried disabling the epub and pdf compilations, but it doesn't quite help. It appears the installation fails during the `python install` step.

* Read the Docs project URL: https://pylift.readthedocs.io
* Build URL (if applicable

[2018-10-01 03:58] stsewd commented on #2725
I thinking about moving this request to https://github.com/rtfd/readthedocs.org/issues/4286, that sounds good?

[2018-10-01 05:37] invinciblycool commented on #4670
@stsewd Okay. Also I was able to reproduce the issue after creating a social application.

[2018-10-01 07:07] dojutsu-user opened #4692 "login_required decorator is used at the end of the functions."
In the file readthedocs.org/readthedocs/profiles/views.py, `login_required` decorator is used at the end of some functions and for some other functions, it used in the form of `@login_required`, which reduces the readability of the code.

[2018-10-01 09:23] humitos opened #4694 "django-cors-middleware package is obsolete"
We are using this package https://github.com/zestedesavoir/django-cors-middleware which says that it's a fork of https://github.com/ottoyiu/django-cors-headers because it was inactive.

Although, the `django-cors-headers` has an update 8 days ago and `django-cors-middleware`'s latest update is a year ago.

We may want to switch to the original package at some point.

[2018-10-01 09:29] humitos commented on #4492
@safwanrahman were you able to test this out with the new changes you were making to the whole search? Did you notice any difference with current production version?

[2018-10-01 09:52] humitos commented on #4477
@agjohnson did you close it by mistake? If not, what was the reason?

[2018-10-01 10:35] humitos commented on #4564
The idea is to replace the `tx config mapping-bulk` command by `sphinx-intl`?

More docs around this:

* http://www.sphinx-doc.org/en/master/intl.html#using-transifex-service-for-team-translation
* https://pypi.org/project/sphinx-intl/#optional-features

(I didn't see these options when writing this guide. In fact, it took me a while to write that mapping command :/)

[2018-10-01 11:54] jaraco commented on #2725
Yes. Works for me (to shift focus to v3 API).

[2018-10-01 11:58] jaraco commented on #4286
At a high level, ideally the API wouldn’t be a bolt-on consideration after the service is created, but would be the foundation on which a service is built, such that all actions available in the UI are also available in the API because the UI relies on the API to perform its operations. I realize such an approach may not be a good fit for this project in its current state, but it may be worth cons

[2018-10-01 12:57] dojutsu-user commented on #3594
@stsewd I would like to take this issue up. Can you guide me on this?

[2018-10-01 13:04] invinciblycool commented on #4641
@agjohnson Would like to take this up. Any pointers as to where to start?

[2018-10-01 13:16] humitos commented on #4421
I didn't get any response either. I removed the project. Thanks for your patience.

[2018-10-01 13:16] #4421 closed

[2018-10-01 14:03] humitos commented on #4042
I didn't get any reply from the user. I deleted the project.

[2018-10-01 14:03] #4042 closed

[2018-10-01 14:38] humitos commented on #3999
Not too much we can do here for now. Unassigning this. We will need to try in production with a newer version in the future :/

[2018-10-01 14:45] humitos commented on #4618
I just triggered `0.5.3` and `latest`.

Both failed because `NameError: name 'condition_details' is not defined` when executing some code under the ipython extension. This is not a RTD problem, so you should check it in your side.

I'm closing this issue since it doesn't seem to be related to RTD, but please feel free to reopen if you consider.

Also, let me know if you notice anything else and op

[2018-10-01 14:45] #4618 closed

[2018-10-01 15:15] stsewd commented on #4477
I think @agjohnson already update the translations https://github.com/rtfd/readthedocs.org/pull/4645

[2018-10-01 15:19] stsewd commented on #1621
I going to bring this to the team and see if we can select some projects to use the v2 of the config file, if not I'll open this till we are ready for that

[2018-10-01 15:30] stsewd commented on #1195
@Tillsten did you try specifying that requirement on your requirements.txt file? If you still think the problem is rtd related, please open a new issue with your rtd project link.

[2018-10-01 15:34] stsewd commented on #4684
If you click the `the project integrations` link, does it disappear?

Also, this seems like a bug, we should show this message to owners only, if a user is removed we need to clean the messages.

[2018-10-01 15:35] stsewd commented on #4684
/cc @humitos I think you are more familiar whit this part of the code.

[2018-10-01 15:37] stsewd commented on #1621
So, we are planning to activate this to some projects, if anyone is interested in test the beta of the v2 config, please comment with your rtd project :)

[2018-10-01 15:45] stsewd commented on #4691
The command that fails isn't that one (https://github.com/rtfd/readthedocs.org/issues/4288), so probably is failing when installing your requirements or building the actual html.

Did you read this https://docs.readthedocs.io/en/latest/guides/build-using-too-many-resources.html?

If that doesn't help, I'll investigate a little more. Also, you can request more time/memory is nothing else helps.

[2018-10-01 15:51] stsewd commented on #4686
Maybe this is a sphinx bug? Also, to pin dependencies using conda we have this https://github.com/rtfd/readthedocs.org/issues/3829 (we are waiting for a conda release)

[2018-10-01 15:54] stsewd commented on #4686
Not sure if this is the same https://github.com/sphinx-doc/sphinx/issues/5496

[2018-10-01 15:58] stsewd commented on #4641
@invinciblycool I think this can be solved only for the core team, as they have access to the servers

[2018-10-01 16:04] stsewd commented on #4670
Your local instance needs to be visible from the internet to make this work properly, closing in favor of https://github.com/rtfd/readthedocs.org/issues/4077

[2018-10-01 16:04] #4670 closed

[2018-10-01 16:05] Thor77 commented on #1621
I'm interested in testing it with [Blueproximity](https://readthedocs.org/projects/blueproximity/). The doc build is currently failing because of this bug.

[2018-10-01 16:05] stsewd commented on #4670
I use ngrok to test the github integration btw.

[2018-10-01 16:09] JiaweiZhuang opened #4695 "Fail to create conda environment"
## Details

* Read the Docs project URL: http://cloud-gc.readthedocs.io
* Build URL (if applicable): https://readthedocs.org/projects/cloud-gc/builds/7872181/
* Read the Docs username (if applicable): zhuangjw

## Expected Result

Builds worked normally 3 days ago.

## Actual Result

Since 2 days ago, the builds always failed with `CondaValueError: pip returned an error.`

This error happens for o

[2018-10-01 16:11] invinciblycool commented on #4670
Oh okay. Yeah I am familiar with `ngrok`. I will use it too. Thanks for the help.

[2018-10-01 16:11] stsewd commented on #1621
@Thor77 great! here are some docs of the v2 config file https://github.com/rtfd/readthedocs.org/pull/4451/files#diff-33bbde7fca852e881b51aa90f9f86b3f

I'll let you know when you can add the file to your project (we only need to activate a flag for your project)

[2018-10-01 16:27] stsewd commented on #4286
Request from #2725

[2018-10-01 16:27] stsewd commented on #2725
Ok, moved to https://github.com/rtfd/readthedocs.org/issues/4286#issuecomment-425972175

[2018-10-01 16:27] #2725 closed

[2018-10-01 16:31] stsewd commented on #3594
I updated my comment above https://github.com/rtfd/readthedocs.org/issues/3594#issuecomment-365070276

A link to will be needed https://read-the-docs-guidelines.readthedocs-hosted.com/branding.html

I think we still need a decision to where is the better place for this

[2018-10-01 16:33] stsewd commented on #4686
Not worries, I'll try to reproduce this locally later and see where the problem is

[2018-10-01 16:35] stsewd commented on #4695
I think it can be, I'll test this locally later

[2018-10-01 16:44] williamfgc commented on #4668
@stsewd adding .readthedocs.yml solved our issue. Thanks!

[2018-10-01 17:38] Neui commented on #4684
As the time I reported this, it didn't dissapear. I clicked on it multiple times. (One before writing the issue to see where it leads to me and multiple times to see what the message is for the issue)

However, I just opened RTD again and clicked on it and it then dissapeared. Did something changed? Note that I just did this on a Windows computer with Firefox where before I was using an Ubuntu com

[2018-10-01 17:40] stsewd commented on #4684
Nothing has changed, that is the default behavior.

[2018-10-01 18:38] stsewd commented on #3594
Maybe something like https://python.org? It says `Python Logo`

Also, I think @agjohnson or @davidfischer can help with the decision here

[2018-10-01 18:57] dojutsu-user commented on #4694
@humitos I would like to work on this issue. Can you please guide me on how to get started with this?

[2018-10-01 19:46] JiaweiZhuang commented on #4695
@stsewd Thanks! I switched to pip and the error is gone. But does this mean that I shouldn't use conda (also for other projects)?

The just-build page has another problem that the "Edit on GitHub" button was broken. That button was working before. Seems to duplicate #4671. Looks like there's already a solution #4696.

[2018-10-01 19:49] stsewd commented on #4695
If your project can be built using pip, that is preferred over conda, if you really need to use conda and it fails, you can request more time/memory for your project. And yes, #4696 fix that problem, hope we can deploy that soon.

[2018-10-01 20:08] browniebroke commented on #1911
The permalink for the broken from around that date:
https://github.com/rtfd/readthedocs.org/blob/e4958838a512b095d0bc8cdf8617c30cc9e489d4/readthedocs/core/views.py#L502

I don't know where this code lives now, but a quick search seems to point here:

https://github.com/rtfd/readthedocs.org/blob/8b7c2797f8ba152d277336146b708f246c1f1ad9/readthedocs/core/views/serve.py#L149

Just a small precision th

[2018-10-01 20:25] davidfischer opened #4698 "Remove $ before shell commands in docs"
The developers have a [preference](https://github.com/rtfd/readthedocs.org/pull/4676#discussion_r221400605) to not have a `$` before shell commands in the docs. This makes it easier to copy and paste from our docs. We should remove it everywhere. The following command should show it everywhere.

    grep -Ri "    $ " docs/*.rst docs/*/*.rst

[2018-10-01 20:31] houllette commented on #4698
@davidfischer I can take a stab at this!

[2018-10-01 21:55] stsewd commented on #3179
@dojutsu-user this should be fixed here https://github.com/rtfd/readthedocs.org/blob/2d9ca7df405a15c3e7e278c68c3fb9f98fe13d36/readthedocs/projects/forms.py#L646 I guess, but first, you should test that this behavior persists in the current version of rtd.

[2018-10-01 22:36] rsyi commented on #4691
Ah no I didn't see that page yet. I have functioning documentation now, thank you!

For those who come across a similar problem, here were my steps towards resolution:
* I added a `readthedocs.yml` file that set `formats: []` and `python: use_system_site_packages: true` and found that the build now gave me more informative error messages: https://readthedocs.org/projects/pylift/builds/7874640/
For

[2018-10-01 22:40] stsewd commented on #4691
Yes, rtd by default tries to install a requirements.txt file, you'll be able to skip that in our v2 of the config file https://github.com/rtfd/readthedocs.org/issues/1621#issuecomment-419146325, for now using a empty file is a workaround.

Can we close this issue?

[2018-10-01 22:54] rsyi commented on #4691
Great good to know. Thanks, and yes!

[2018-10-01 22:54] #4691 closed

[2018-10-02 00:41] stsewd commented on #4686
Conda is really heavy for my computer, I'm hitting my memory limit before the build ends :/

[2018-10-02 02:59] safwanrahman commented on #4492
@humitos I did not get chance, I will look into it as soon as we deploy.

[2018-10-02 03:05] safwanrahman commented on #4492
I suspect its related to the Domain object indexing. `requests.ReadTimeout` is a domain object. As we are not indexing domain object separately, it will not work on the upgraded search also.
It will  be fixed with #4289

[2018-10-02 05:00] dojutsu-user commented on #3179
@stsewd I registered a free domain and added the CNAME records (according to the docs) and then added the Domain in the readthedocs.org Admin Panel in CamelCase.

![screenshot from 2018-10-02 10-20-27](https://user-images.githubusercontent.com/29149191/46329777-2a482800-c62d-11e8-9595-5ae8e95fe396.png)

It is working, when I tried to go to [http://DOCS.DojutsuUserHelloWorld.Tk](http://DOCS.Dojutsu

[2018-10-02 05:07] stsewd commented on #3179
@dojutsu-user thanks for checking!

@AlbertMietus is this still a problem for you?

[2018-10-02 05:29] AlbertMietus commented on #3179
“DOCS” is not CamelCase!

Plz test with too; I think that was the part what triggered the bug (I filled). I can’t remember however the details

Next, when all test are ok, ...
It’s a good habit to check the code-changes between the then/now versions to verify code is indeed improved (To make sure; the test results isn’t changed by something else)

If & when, add a note to the bug report to summari

[2018-10-02 06:48] femtotrader commented on #4421
Thanks @humitos

[2018-10-02 07:31] Tillsten commented on #1195
Yes, I did. The problem seems to be identical to this issue: matplotlib is installed, but the default backend is set to tkagg (using tkinter), which is not available on the headless rtd-image. This problem can be fixed by changing the rc file like above or upgrading matplotlib to 3.0, which should fix that issues.

[2018-10-02 07:33] Tillsten commented on #1195
My current workaround is just import and setting the matplotlib backend in the sphinx `conf.py`  :

     import matplotlib
     matplotlib.use('agg')

[2018-10-02 09:38] leastprivilege commented on #4671
I can confirm that we have the same issue with Sphinx.

https://identitymodel.readthedocs.io/en/latest/client/discovery.html
edit points to
https://github.com/IdentityModel/IdentityModel2/blob/master/home/docs/checkouts/readthedocs.org/user_builds/identitymodel/checkouts/latest/docs/conf.py/client/discovery.rst

[2018-10-02 10:39] csezenoglu opened #4702 "Translation requires mo files"
## Details

* Read the Docs project URL: https://loop-antennas.readthedocs.io/en/latest/
* Build URL (if applicable):
* Read the Docs username (if applicable): csezenoglu

I completed the steps in "Manage Translations" subject [here](https://docs.readthedocs.io/en/latest/guides/manage-translations.html#manage-translations)

If I commit only po files, RTD did not build locale language html files, a

[2018-10-02 12:47] #4104 closed

[2018-10-02 13:08] ericholscher commented on #4354
I don't have a strong feeling here, but agree a list of possible options seems the most flexible. It lets us expand it in the future without having to change the syntax, which is a nice win.

[2018-10-02 15:12] stsewd commented on #1195
Thanks for sharing the workaround! I'll take a look to the docker images later

[2018-10-02 15:15] stsewd commented on #4671
I have a PR that fixes this https://github.com/rtfd/readthedocs.org/pull/4696, should be fixed in our next deploy.

[2018-10-02 15:22] stsewd commented on #3179
So, I can't enter to http://docs.mio-lang.org/ either http://DOCS.DojutsuUserHelloWorld.Tk, I'll test this with a domain I own later.

[2018-10-02 15:31] stsewd commented on #4702
I don't know much about translations yet, bu tI know @humitos has more experience dealing with translations

[2018-10-02 15:45] dojutsu-user commented on #3179
@stsewd I have changed the domain from camel case to lowercase. And now it seems to be working with me. Please confirm it from your side also.
And the domain is registered for 12 months. So, I don't think that this error is because of the domain.

[2018-10-02 15:47] stsewd commented on #3179
It works for me too! What was the exact domain that makes it fail?

[2018-10-02 15:56] dojutsu-user commented on #3179
@stsewd exact domain was **DOCS.DojutsuUserHelloWorld.Tk**

[2018-10-02 15:57] stsewd commented on #3179
Wasn't that the same that was working yesterday? :_

[2018-10-02 16:02] #1917 closed

[2018-10-02 16:03] dojutsu-user commented on #3179
@stsewd yes, this confusion might be from my side because CNAME records may take 2-3hrs to properly set up. And I tested it immediately. This might be the reason but I'm not sure about why it stopped working.

[2018-10-02 16:09] #4464 closed

[2018-10-02 16:12] #4671 closed

[2018-10-02 16:21] stsewd commented on #1195
I didn't see anything else on the docker images related to this, so, not sure how this was solved (maybe rtd wasn't using the docker images in that time?). We have a workaround, so, not sure if we should reopen. Maybe adding this to the faq?

[2018-10-02 17:19] #3696 closed

[2018-10-02 17:33] #3974 closed

[2018-10-02 18:37] #3973 closed

[2018-10-02 18:46] agjohnson commented on #4702
RTD doesn't do anything to generate the mo files, those are required to be checked into your repository, correct. If it's not clear in the guide, we should update the guide to mention checking these files in.

[2018-10-02 18:49] agjohnson commented on #4695
Both projects show the same failure:

[code]

This doesn't look resource related. Most likely, if not a problem with the formatting of your requirements, is a change in conda somewhere?

[2018-10-02 19:03] stsewd opened #4705 "Design around multiple configurations in one file"
Related code https://github.com/rtfd/readthedocs.org/blob/a98441717ea50b19fe6bb0f1ea52df092dbc8190/readthedocs/config/config.py#L988-L988

I'm not sure what use case has. Maybe a monorepo? But still, rtd doesn't support that workflow (more the one doc per project).

[2018-10-02 19:09] stsewd opened #4706 "Remove unused validations from v1 config"
`validate_base` and `validate_name` don't have any purpose here, and we rather re-purpose those for v2.

related code:

https://github.com/rtfd/readthedocs.org/blob/a98441717ea50b19fe6bb0f1ea52df092dbc8190/readthedocs/config/config.py#L282-L309

[2018-10-02 19:27] jfehrle opened #4707 "Slow menu updates; should be able to browse the menu without loading the page"
## Details

* Read the Docs project URL: https://coq.inria.fr/distrib/current/refman/proof-engine/vernacular-commands.html

When browsing the left-hand menu, clicking on a new top-level section can be slow (a couple seconds) because it loads the full document.  This is a long while just to see a few subentries in the menu. The user should be able to browse the menu without so much delay.

For exam

[2018-10-02 20:45] csezenoglu commented on #4702
Yes, I think some explanations can be added "Manage Translation" document.
There are two notes about documentations:
1. https://docs.readthedocs.io/en/latest/i18n.html

"Compiling to MO" section:

What does it mean exactly?

2. https://docs.readthedocs.io/en/latest/localization.html

Note:

This part needs some expansion.

[2018-10-02 20:54] JiaweiZhuang commented on #4695
@agjohnson  Good catch. I think I've found the issue: conda-forge/testpath-feedstock#7

[2018-10-02 21:03] stsewd commented on #4707
This issue should be on the [rtd theme repo](https://github.com/rtfd/sphinx_rtd_theme). Not sure if that would be possible, I'm not that familiar with sphinx internals.

[2018-10-02 21:05] stsewd commented on #4695
If this isn't a problem related to rtd, we can close this issue.

[2018-10-02 21:07] JiaweiZhuang commented on #4695
Sounds good to me

[2018-10-02 21:07] #4695 closed

[2018-10-02 21:21] jfehrle commented on #4707
Moved to https://github.com/rtfd/sphinx_rtd_theme/issues/681 in the rtd theme repo.

[2018-10-02 21:21] #4707 closed

[2018-10-02 21:23] cirospat opened #4708 ""View" or "Edit on GitHub" link doesn't take to the correct repo on Github"
![image](https://user-images.githubusercontent.com/3757525/46377664-7e88f180-c699-11e8-9ef4-5ac0e864abd7.png)

## "View" or "Edit on GitHub" link doesn't take to the correct repo on Github

* Read the Docs project URL:  [https://cirospat.readthedocs.io](https://cirospat.readthedocs.io)
* Build URL (if applicable):
* Read the Docs username (if applicable): cirospat

## Expected Result

*A descripti

[2018-10-02 21:30] #4233 closed

[2018-10-02 21:32] agjohnson commented on #4694
This issue is in our Cleanup roadmap, and so is currently off the roadmap for core team. We can't dedicate too many resources to helping out here, and this issue requires a lot of knowledge of how Read the Docs works. Feel free to take this on still, but perhaps a good place to start is in our docs:
https://docs.readthedocs.io/en/latest/install.html

More info on our roadmap:
https://docs.readthed

[2018-10-02 21:36] stsewd commented on #4708
Thanks for reporting, this is a duplicate of https://github.com/rtfd/readthedocs.org/issues/4671, it's already fixed, but we only need to wait for a deploy

[2018-10-02 21:36] #4708 closed

[2018-10-02 22:13] agjohnson commented on #4354
Note: my suggestion is that `python.install` is a list, not a dict. My example above would be a complex example with multiple packages/requirement files.

I do have a couple issues with add `method` to the schema.

First, this seems odd as package is the wrong nomenclature:

[code]

pipenv operates on paths, not on packages. I also don't think this does anything helpful, as this is going to be clo

[2018-10-02 22:27] agjohnson commented on #4705
I'm +1 on getting rid of the logic that searches for a readthedocs.yml file. I think we should only support one top-level config file, all of the other UX patterns are weird.

* Config in some other directory: why not just put it top level?
* Multiple configs: which one are we supposed to use?
* Config in submodule or something: why would you want to use it?

[2018-10-02 22:58] agjohnson commented on #1592
We can probably close this then. We hit this in production once, but haven't since.

[2018-10-02 22:58] #1592 closed

[2018-10-02 23:02] stsewd commented on #4354
I don't think is a good idea to support that, users should specify that on their requirements, setup.py, or pipfile. We want builds to be reproducible and the rtd config file will only work on rtd (and we also will need to take care of command injections).

I think `path` makes more sense for me.

[2018-10-02 23:09] stsewd commented on #4705
Oops, I think I put the wrong title here, for multiple configurations files the issue is #4669. This is for a configuration file with multiple configurations (yaml support having a top level dict)

[2018-10-02 23:21] stsewd commented on #3611
I'm closing this in favor of https://github.com/rtfd/readthedocs.org/issues/3610, we can't validate requirements.txt or setup.py files, as they require us to have a checkout of the project, we don't always have that (we remove checkout periodically)

[2018-10-02 23:21] #3611 closed

[2018-10-03 02:59] stsewd commented on #4638
So, I re-read and think I get it now p: I'm +1 for using a json field. Do we want to do something like output field (it's saved in other location as a json file)?

If we don't want to complicate things, I'm fine with on field too.

[2018-10-03 08:38] humitos commented on #4702
What this section says is correct. It's talking about "RTD Django application" not about "Project's documentation translation at RTD".

I think this is correct.

I'm in doubt with this. I suppose that `.mo` files are not required and they should be built automatically by Sphinx.

Sphinx docs: http://www.sphinx-doc.org/en/master/intl.html
Sphinx specific conf to auto generate `.mo`: http://www.sphi

[2018-10-03 08:41] francescozaia commented on #4671
Is there an expected timeframe for the next deploy? Sorry to bother but this is affecting some of our docs. Thanks!

[2018-10-03 09:22] humitos opened #4711 "Adopting a projected as gold user fails"
### How to reproduce it

1. sign up as Gold member
1. go to https://readthedocs.org/accounts/gold/subscription/
1. select the project that you want to adopt

### Expected Result

Adopts the project.

###  Actual Result

Fails with a 500.

https://sentry.io/read-the-docs/readthedocs-org/issues/587668658/

### The problem

This line

https://github.com/rtfd/readthedocs.org/blob/44e02def230b937e4eca3

[2018-10-03 10:37] naor2013 opened #4713 "Python 3.7 support"
When is Python 3.7 support coming for creating docs with RTD? Sphinx already supports it and we can create the docs ourselves with no issue but when using RTD, we get errors regarding missing imports that only exist in 3.7.

[2018-10-03 10:55] humitos commented on #4713
Hi @naor2013! Unfortunately, we don't have this into our roadmap yet.

I'm not sure if this could be part of our 4.0 Docker image or not: https://github.com/rtfd/readthedocs-docker-images

I think it shouldn't be a big change in the image (just add 3.7 from pyenv) but what is taking some time is testing and deploy the images.

[2018-10-03 11:14] humitos commented on #2952
I sent an email to the owner of this project. We will follow this policy, http://docs.readthedocs.io/en/latest/abandoned-projects.html

[2018-10-03 12:41] naor2013 commented on #4713
Thanks! Thanks. For now, we'll make our own docs so we can wait. take your time and keep doing an awesome job! :D

[2018-10-03 14:37] stsewd commented on #4671
We don't have a schedule for deploys, but I'd say next week or so

[2018-10-03 16:43] yashrsharma44 commented on #2430
Hey @humitos , can you please elaborate on the fact that you used the html_extra_path(), in sphinx or rtfd? Also can you describe how it is working for rtfd?

[2018-10-03 17:11] agjohnson commented on #4702
Tested this and the build step should in fact generate mo files. We do check all of these in on our docs and django translations for our own docs, but it shouldn't be necessary. There is something else going wrong.

My guess is that your locale is `tr_TR`, which is not a locale code we used. Turkish would be `tr` I believe. Try this and try to adding translated strings into your po files first. I

[2018-10-03 17:18] humitos commented on #4702
It's not that _we_ use, actually. It is a Sphinx thing: http://www.sphinx-doc.org/en/master/usage/configuration.html#confval-language

[2018-10-03 17:40] agjohnson commented on #4702
Well, sort of. We set the language via the project language choices:
https://github.com/rtfd/readthedocs.org/blob/master/readthedocs/projects/constants.py#L114-L259

These don't exactly map up with the Sphinx supported languages.

Also, the language value is mostly arbitrary, for example:

[code]

[2018-10-03 17:47] agjohnson opened #4718 "Setting a translation should verify the project has a locale for the language"
I think to avoid confusion, part of the translation UX upgrade should be verifying that the locale actually exists during the Sphinx build. A couple options:

* This is a sphinx ext feature
* This is part of our context data override?
* There is already an option for this in Sphinx, or we contribute it there?

The piece of UX that is not clear is when you use a locale code like `tr_TR`, but we use

[2018-10-03 19:49] agjohnson commented on #4638
No, we don't want to store this outside the build as we'll be using the data directly. Build command output goes to cold storage eventually as it's really only user facing output and is probably rarely accessed compared to how often we're storing it.

This would just be a json field on build model I think. If there is a reason to query any of this data, that might push us towards another model mec

[2018-10-03 19:55] agjohnson commented on #4354
Supporting package installation is not a strong requirement for this, but it's easy for us to implement if we're already making the above changes. Agreed it shouldn't be used often, but I'd rather offer it if it avoids users from having to maintain a separate requirements file just for docs dependencies.

I'm also considering non-python users when I say this. Having to explain dependencies and a r

[2018-10-03 21:40] stsewd commented on #3910
@pmoura your latest build is passing, did you change something?

[2018-10-03 21:46] pmoura commented on #3910
@stsewd Added a `.readthedocs.yml` file to limit formats to ePub and PDF (besides HTML). That triggered a new build that passed.

[2018-10-03 22:04] stsewd commented on #4354
Just for confirmation of what we have:

If a user wants to install from a `requirements.txt` file:

[code]

If user wants to install from setup.py

[code]

If user wants pip

[code]

This lets the spec open to pipenv too.

Also, maybe support both a list and one element for install? Not sure if we are going to hit many cases of monorepos.

I prefer `method` or `use`, that way we have a smaller spe

[2018-10-04 00:27] borsosgy opened #4719 "Archlinux Install Problem"
## Details
i want to install luma on Archlinux (RuneAudio OS)

* Read the Docs project URL:   I have : Luma.OLED Documentation Release 2.5.1 ---  PDF
* Build URL (if applicable):
* Read the Docs username (if applicable):

Install comes back with error:
error: Setup script exited with error: command 'gcc' failed with exit status 1

## Actual Result

*A description of what actually happened*

Comple

[2018-10-04 03:19] stsewd commented on #4719
Please be more specific what are you trying to archive.

[2018-10-04 04:34] dojutsu-user commented on #4694
@agjohnson Thank you for telling me. I am not that much familiar with the working of the RTD yet. However, if this issue remains open, I would be the one to work on this in future.

[2018-10-04 04:51] dojutsu-user commented on #4711
@humitos I would like to work on this issue.

[2018-10-04 04:59] stsewd commented on #4711
@dojutsu-user go ahead!

[2018-10-04 06:59] borsosgy commented on #4719
Hi stsewd,

first thanks for your answer.
I have tried to install the luma.oled-master, but the following issue occured.
----error: Setup script exited with error: command 'gcc' failed with exit status 1-----

The following commands were run:

pacman -Syy  --> OK
pacman -S python2 -->OK
pacman -S python2-pip -->OK
pacman -S gcc -->OK

python2 setup.py install --> error: Setup script exited with er

[2018-10-04 08:54] ericholscher commented on #4671
This should now be deployed. It will likely require a doc rebuild to fix.

[2018-10-04 09:07] francescozaia commented on #4671
It works indeed! Thanks a lot!

[2018-10-04 09:41] spinicist opened #4728 "Build failed at git clean stage"
## Details

Hello,
I am trying to swap from Github Pages (compiled with mkdoc) to ReadTheDocs (and Sphinx) for my C++ project. I wanted to do this in a separate branch before merging to master, but that appears to be failing because the `git clean` step fails (there is a directory in the master branch that no longer exists in the Sphinx branch).

* Read the Docs project URL: https://readthedocs.or

[2018-10-04 09:48] humitos commented on #2430
@yashrsharma44 what's the problem you are having? do you have an example?

The usage of `html_extra_path` is described in the Sphinx's documentation linked in my previous comment.

[2018-10-04 10:03] humitos commented on #4702
@agjohnson thanks for clarifying this.

From your last command output, we can see something that is key about the original issue reported:

[code]

[2018-10-04 10:13] humitos commented on #4354
@stsewd I think your previous comment is what we want.

Although, I'm marking some notes:

* you missed the `python.install.package` option
* I prefer `python.install.method` instead of `python.install.use` (use is too general to me)
* `python.install` should be always a list in my opinion

[2018-10-04 11:47] sualko commented on #4671
:tada: thanks for the quick fix :clap:

[2018-10-04 13:10] borsosgy commented on #4719
Hi stsewd,

I found the problem.
It was a pacman -Sy mpfr necessary.
I have luma.oled without any problem installed.

When i started the test client (test_ssd1306.py) without the OLED display, comes back with following:

root@runeaudio(rw):~/luma.oled-master/tests# python2 test_ssd1306.py
Traceback (most recent call last):
  File "test_ssd1306.py", line 6, in <module>
    from luma.oled.device imp

[2018-10-04 13:54] csezenoglu commented on #4702
It is ok now. Thank you for your interest. I think some detailed explanations should be added documentation. If you want I can add proper details.

[2018-10-04 14:22] agjohnson opened #4729 "Add user doc on what to do on common build failures"
Doc should be a more prominent doc than our FAQ and should include things like:

- [ ] When a build fails due to time out or memory constraints, what can I do? The common solution here is to reduce usage
  * You can mock out dependencies instead of installing and using the dependencies (we have a FAQ entry that is mostly hidden and needs to be expanded).
  * The next might be avoiding installation

[2018-10-04 14:40] agjohnson commented on #4719
Sorry @borsosgy, the core team doesn't have much resources to resolve issues on platforms we don't officially support -- currently, we only support Ubuntu LTS as that is what we use in production. Perhaps Stackoverflow would be a better community resource to figuring out general Python issues like this?

Closing this as an issue we can't focus on right now.

[2018-10-04 14:40] #4719 closed

[2018-10-04 14:47] agjohnson commented on #4713
You can also skip installation of those dependencies and mock them out in your docs. Agreed that 3.7 would be helpful though, I think we can add it to our 4.1 RC image. Moving this to rtfd/readthedocs-docker-images#72

[2018-10-04 14:47] #4713 closed

[2018-10-04 15:14] humitos commented on #4702
@csezenoglu great!

Feel free to open a PR with the detailed explanations that you think are needed into the docs. Appreciated!

[2018-10-04 15:57] #4455 closed

[2018-10-04 16:11] stsewd commented on #4728
The issue is because you have an invalid submodule https://github.com/spinicist/QUIT/blob/0d81abb965d9c1be0ccbd071d9ee453daad6e4db/.gitmodules#L10 and rtd fails when checking for submodules

[2018-10-04 16:12] stsewd commented on #4728
And thanks for using rtd!

[2018-10-04 16:16] humitos commented on #4728
@spinicist please, remove the submodule that @stsewd mentioned and try building again. It should work after that. If that's the case, please close this issue.

In case you find any different problem on your building after removing that submodule, please open a new issue.

Thanks and welcome home ;)

[2018-10-04 16:34] agjohnson commented on #4702
I opened #4718 to maybe address catching this as an error on our side. Perhaps we can do validation that the locale exists and warn the user.

This might also tie in with something like a transifex or weblate integration that could also warn that:

* Translations are out of date
* Translations are below a threshold of translated %

etc.

Glad your issue is fixed though!

[2018-10-04 16:34] #4702 closed

[2018-10-04 18:57] spinicist commented on #4728
Thanks at @stsewd and @humitos! That invalid submodule must have been hanging around for months 😳 I've excised it and it does now work.

Any idea why rtd didn't report the failing submodule step? When I looked at the raw logs, the last step kept saying it exited with status 0 which was confusing.

[2018-10-04 18:59] stsewd commented on #4728
That's another issue #4288

[2018-10-04 19:01] spinicist commented on #4728
Great - hopefully that will get resolved in the future.

Final question - is there a way to get rtd to skip the submodule checkout stage? For my project, I don't need the submodules to build the documentation.

Thanks for your fast responses, very much appreciated.

[2018-10-04 19:05] stsewd commented on #4728
We have that feature in our next version of the configuration file https://github.com/rtfd/readthedocs.org/pull/4493 (hope we have an opt-in or open beta soon), stay tuned!

[2018-10-04 19:06] spinicist commented on #4728
Good news, thanks again.

[2018-10-04 19:47] stsewd commented on #3032
I'm not sure why is this happening, you should be able to download a new version of CommonMark by adding it to your `requirements.txt` file. Have anyone tried to wipe the environment before testing with a requirements file? (versions -> edit -> wipe)

[2018-10-04 19:54] csezenoglu commented on #4718
I built with this command "sphinx-build -b html -D language=tr_TR . _build/html/tr_TR" while I have only "tr" folder in my root. Response:

loading translations [tr_TR]... done
loading pickled environment... done
building [mo]: targets for 0 po files that are out of date
building [html]: targets for 0 source files that are out of date
updating environment: 0 added, 0 changed, 0 removed
looking for

[2018-10-04 19:57] agjohnson commented on #4354
Agreed on all of that :+1: . `method` + `path` combination makes sense to me. We can start with the easier ones, and deal with pipenv support as a separate feature (though the schema is mostly defined now).

[2018-10-04 20:00] stsewd commented on #2740
Closing this as the user [hasn't responded or given more information](https://docs.readthedocs.io/en/latest/contribute.html#initial-triage), feel free to reopen with more information if you are still having this problem :).

Also, I also believe that https://github.com/rtfd/readthedocs.org/issues/2740#issuecomment-413361659 should fix this.

[2018-10-04 20:00] #2740 closed

[2018-10-04 22:16] agjohnson commented on #4594
I guess it probably does make sense to include this in our list of changes we should notify on. We can do this before v3.0 perhaps?

[2018-10-04 22:16] stsewd commented on #4672
The code that is changing the `active` attr is

https://github.com/rtfd/readthedocs.org/blob/35695d170ec7e1dfa2553bf70bc406e7c960409a/readthedocs/core/views/hooks.py#L40-L45

(here slug is `master`, but it triggers a build to `latest`)

I'll continue investigating why we are triggering a build to latest there, it may be a bug or some weird design.

[2018-10-05 12:19] humitos commented on #4728
Happy that you fixed your issue!

[2018-10-05 12:47] spinicist commented on #4728
Um, it fixed one issue but now I have another related one (sorry).

I have two branches - `master` and `sphinx` - in my github repo. When I pushed my updates to the `sphinx` branch and triggered a build, it all worked fine (https://quit.readthedocs.io/en/sphinx/). However, when I merged those changes to `master` and pushed, which is picked up by rtd as `latest`, I don't get my documentation, but t

[2018-10-05 15:41] stsewd commented on #4728
You can select a `conf.py` file from the web admin of your project `Admin` -> `Advanced Settings`

[2018-10-05 15:46] spinicist commented on #4728
I missed that setting. Hooray! It all works now.

[2018-10-05 15:46] #4728 closed

[2018-10-05 18:12] fv3rdugo commented on #4671
We use the default template, it has been necessary to modify a file and when it has been rebuild it has worked. The links to Edit Github are ok.  Thanks!

[2018-10-05 18:17] #4648 closed

[2018-10-05 23:57] stevepiercy commented on #1556
With the looming release of Pyramid 1.10a, we must revert to using only ASCII characters in its PDFs. I will be going to Tokyo for PloneConf 2018, and perhaps some of developers there can assist with this issue. Please let me know how I can help.

[2018-10-06 19:33] davidfischer commented on #4698
I think #4699 is almost there and there's just a few things left for @

[2018-10-07 04:12] ChaosCA opened #4736 "Domain HTTPS stuck pending validation"
## Details

* Read the Docs project URL: http://docs.owlgaming.net/
* Build URL (if applicable): https://gitlab.com/OwlGamingCommunity/docs
* Read the Docs username (if applicable): chaosmta

## Expected Result

Enabled always use HTTPS on the domain and it applies the SSL cert.

## Actual Result

The status is stuck saying "Pending" for > 12 hours. The domain is CNAME'd properly to the `readthedo

[2018-10-07 11:13] ericholscher commented on #3610
This shouldn't be the case. We should be removing them as they are removed in VCS: https://github.com/rtfd/readthedocs.org/blob/master/readthedocs/restapi/views/model_views.py#L196

[2018-10-07 12:32] Alig1493 commented on #3775
Is this issue still open?

[2018-10-07 13:42] ZRunner opened #4737 "Requirements.txt file not found"
## Details

* Read the Docs project URL: https://zbot.rtfd.io
* Build URL (if applicable): Last was https://readthedocs.org/projects/zbot/builds/7903502/
* Read the Docs username (if applicable): ZRunner
* GitHub URL: https://github.com/ZRunner/ZBot

For a few days, without having moved any configuration files, the compilation fails every time, supposedly because the requirements.txt file does not

[2018-10-07 14:52] stsewd commented on #3775
@Alig1493 there is an open PR  for this https://github.com/rtfd/readthedocs.org/pull/3943

[2018-10-07 15:15] stsewd commented on #4737
Please see https://github.com/rtfd/readthedocs.org/issues/4668#issuecomment-425157245 and https://github.com/rtfd/readthedocs.org/issues/4668#issuecomment-425646491

We have this issue open https://github.com/rtfd/readthedocs.org/issues/4669

[2018-10-07 15:49] davidfischer commented on #4736
Maybe DNS is very slow propagating, but the DNS does not appear to be correct from where I'm sitting.

    $ dig docs.owlgaming.net CNAME +short
    owlgaming.readthedocs.io.

This should return *just* `readthedocs.io` not a subdomain.

[2018-10-07 16:11] ChaosCA commented on #4736
Thank you! Your correct I had it setup incorrectly.

[2018-10-07 16:11] #4736 closed

[2018-10-07 17:02] ZRunner commented on #4737
It seems to work now. Thank you so much!

[2018-10-07 17:36] slippycheeze commented on #4458
For what it is worth, I'd certainly appreciate being able to obtain the `.info` format of documentation more easily than I can today -- which involves figuring out for each project the documentation build process, then running `sphinx-build -b texinfo ...` to generate the intermediate source appropriately.

Turning that into the final info format is equally simple:
[code]

The `makeinfo` tool is a

[2018-10-07 17:50] #4737 closed

[2018-10-08 03:01] MaslovaEV opened #4738 "Different images for a source project and its translations"
## Details
I have implemented a translation for my project using the instructions at [Manage translations](https://docs.readthedocs.io/en/latest/guides/manage-translations.html).  And as it is expected the translation shows the same images as in the source project.

But in my case, the translation requires other images.

Is there any way to specify images for a translation other than in the source

[2018-10-08 03:15] stsewd commented on #4738
This issue tracker is for issues related to rtd, for questions like this, you should use stackoverflow or sites like that. What you are asking looks like a sphinx feature or extension.

[2018-10-08 03:15] #4738 closed

[2018-10-08 10:11] Juanlu001 commented on #4367
By the way, one of the JS errors I'm getting contains the string `"/Users/anthony/dev/readthedocs.org/bower_components/jquery/jquery.js"`. Is this normal?

[2018-10-08 12:10] borsosgy commented on #4719
Hy Anthony,

thanks the Package and the Support. I switched to Raspbian --> All OKAY!

take care!

Anthony <notifications@github.com> ezt írta (időpont: 2018. okt. 4., Cs,
16:40):

--
Üdvözlettel:
Borsos Gyula

[2018-10-08 15:58] davidfischer commented on #4367
Can you tell me where you see this error? I don't see it on
https://rtd-js-test.readthedocs.io/
or
https://rtd-js-test.readthedocs.io/en/alabaster/

[2018-10-08 16:02] davidfischer commented on #4367
As to fixing the underlying issue, that will be done here:
https://github.com/rtfd/sphinx_rtd_theme/pull/545

Until then, try the workaround documented here:
https://github.com/rtfd/sphinx_rtd_theme/issues/328#issuecomment-420011564

In general, you get better performance by loading JS at the end of the page rather than in the head as loading JS blocks rendering until it is fetched. However, no ot

[2018-10-08 17:14] Juanlu001 commented on #4367
I see that error here: https://rtd-js-test.readthedocs.io/en/latest/Connected%20-%20require.js%20Hack.html

Glad to know https://github.com/rtfd/sphinx_rtd_theme/pull/545 is still under consideration, I was worried because the branch is lagging a bit behind :) The problem with the workaround is that it's not that easy to modify the output of nbsphinx, as it's not a `.rst` file where you insert the

[2018-10-08 17:57] davidfischer commented on #4367
Thanks. I see that in the error and that's very weird. However, I don't think that's the cause of the error.

[2018-10-08 19:24] choldgraf opened #4739 "Jquery needs to be included by the theme so the floating footer works"
## Details

* Read the Docs project URL: https://bids-specificaion.readthedocs.io/en/latest/
* Read the Docs username (if applicable): choldgraf

## Expected Result

The documentation is built as PDF/EPUB (since those boxes are checked on my advanced settings menu). Also, I expect to see the little floating window in the bottom-right since I'm hosting on readthedocs.

## Actual Result

There is no

[2018-10-08 19:35] stsewd commented on #4739
PDF and epub formats aren't supported by MkDocs. The floating box is an issue, though.

[2018-10-08 19:39] stsewd commented on #4739
Looks like jquery is missing when injecting the rtd's version selector (floating box)

[2018-10-08 19:42] choldgraf commented on #4739
ahh - it'd be helpful if it were made clear that PDF generation only works for Sphinx builds and not mkdocs...perhaps [here](https://docs.readthedocs.io/en/latest/features.html?highlight=pdf#pdf-generation) :-)

re: the floating box, do we need to specify jquery as a dependency somehow?

[2018-10-08 19:49] stsewd commented on #4739
We mention that here https://docs.readthedocs.io/en/latest/builds.html#mkdocs, I'm not sure if we need to mention that on the features pages, as it's a MkDocs limitation, not rtd.

I think we inject those dependencies somewhere (or maybe we assume that everyone is using jquery?) I need to check the code.

[2018-10-08 19:52] choldgraf commented on #4739
Sure - I'm just giving you some data from my personal path through that documentation...I didn't notice that statement about PDF on that page

[2018-10-08 20:59] davidfischer commented on #4367
It's definitely an oddity but that is not the source of the problem. The source of the problem is that `_` was used before `underscore.js` was loaded.

<img width="1026" alt="screen shot 2018-10-08 at 1 58 19 pm" src="https://user-images.githubusercontent.com/185043/46633357-46066f00-cb02-11e8-870c-a5158805bdc6.png">

[2018-10-09 10:04] humitos commented on #2740
@lhadjchikh hey! I added your project to a special build queue that will have more resources available. Let me know if you find that it did or did not work.

[2018-10-09 12:45] emodric opened #4741 "There was a problem with Read the Docs while building your documentation"
## Details

* Read the Docs project URL: https://netgen-layouts.readthedocs.io
* Build URL (if applicable): https://readthedocs.org/projects/netgen-layouts/builds/7912551/
* Read the Docs username (if applicable): emodric

## Expected Result

A build to succeed without an error message

## Actual Result

There's an error message about a problem with the build.

The error message is generic and I c

[2018-10-09 15:16] stsewd commented on #4741
You are not building pdf or epub, right?

[2018-10-09 15:18] emodric commented on #4741
Nope, only HTML.

[2018-10-09 15:19] stsewd commented on #4741
I'm not sure, it's failing o the last step, someone with access to the logs can take a deeper look.

[2018-10-10 08:06] humitos commented on #2740
After building this again in a dedicated queue after increasing its building time and it failed again. Build took 2392 seconds, which it's a lot of time!

I'd like to make this project to build under Read the Docs. Would you mind following what I said in my previous comment? That seems to be the proper solution, since the HTML build step succeed in my tests.

[2018-10-10 09:16] humitos commented on #1703
Since the middle/long term solution is to remove privacy levels, this issue doesn't make sense anymore and won't be fixed. Moving to #2663 as @stsewd mentioned.

I'm closing it here.

[2018-10-10 09:16] #1703 closed

[2018-10-10 09:20] humitos opened #4743 "Update/Remove privacy level docs page"
Although we are deprecating Privacy Levels in #2663 and #3781, we still expose the docs for this and it's completely broken and confuse our users.

https://docs.readthedocs.io/en/latest/privacy.html

I think we should take one of these actions:

1. remove that page completely
1. add a warning note saying that Privacy Levels are deprecated. Although, I think this doesn't make too much sense

Any ac

[2018-10-10 12:28] humitos opened #4745 "Validate conf.py before build docs"
This build https://readthedocs.org/projects/wagtail/builds/7918857/ produced a log into Sentry as an ERROR https://sentry.io/read-the-docs/readthedocs-org/issues/712546002/?query=is:unresolved which is annoying. These exceptions are raised to communicate a specific message to the user and shouldn't be logged as ERROR for us to take a look at.

There is some related work at #4495 and #4590.

[2018-10-10 13:11] humitos commented on #4741
I think it was a temporal error in the servers. It failed when creating the docker container for some reason.

I re-trigger you `latest` version and it should pass.

[ ... ]

I passed. I'm closing this issue. Please, feel free to reopen if you consider.

[2018-10-10 13:11] #4741 closed

[2018-10-10 14:34] stsewd opened #4746 "Suggests a v2 config file from the current options to help transition from v1 or web"
We don't have many settings on the conf file, but it will be a cool feature to have, and also it will help to migrate to v2.

It may depend on https://github.com/rtfd/readthedocs.org/issues/4638

Ref https://github.com/rtfd/readthedocs.org/pull/4732#discussion_r224063394

[2018-10-10 15:30] stsewd commented on #4745
I think this happens when we try to find a`conf.py` file for the user and we found more than one. With v2 we still keep the `find automatically` magic.

[2018-10-10 21:15] davidfischer commented on #4174
I checked our database for users with old passwords. We have no unsalted passwords. We have a ~3k (out of ~100k) users who are using old salted sha1. This means they haven't logged in since RTD upgraded to Django 1.4.

One possible option rather than adding a wrapped password hasher is to set an [unusable password](https://docs.djangoproject.com/en/1.11/ref/contrib/auth/#django.contrib.auth.models

[2018-10-11 01:40] lhadjchikh commented on #2740
Hi @humitos, thanks for your persistence! And sorry to not get back to this sooner! @chasebrewsky is maintaining this project now, but I submitted a PR ([#679](https://github.com/dunbarcyber/cyphon/pull/679)) to try to get it to build without additional formats. I'll let you know if we have any luck. Thanks again for your help!

[2018-10-11 08:13] pmoura commented on #3910
Got another build failed but the raw log shows that it succeeded (exit 0): https://readthedocs.org/projects/logtalk3/builds/7923185/

[2018-10-11 09:36] dasdachs commented on #3161
@agjohnson any news? What if you removed the global `robots.txt`.

[2018-10-11 09:52] ericholscher commented on #4174
I don't feel strongly here. I'm fine just unsetting their passwords and making them reset. I do wish there was a better way to show in the UI (eg. your password must be reset for security reasons) instead of just "wrong password" -- but I don't think it's worth the time to build that for the few users who might eventually login.

[2018-10-11 10:37] humitos commented on #2430
@yashrsharma44 there is an example at https://gl-rtd-project-a.readthedocs.io/en/robots.txt/robots.txt

which is this repo: https://gitlab.com/humitos/rtd-project-a/tree/robots.txt

I suppose that should help with this issue. Let me know.

[2018-10-11 10:37] humitos commented on #2430
@yashrsharma44 there is an example at https://gl-rtd-project-a.readthedocs.io/en/robots.txt/robots.txt

which is this repo: https://gitlab.com/humitos/rtd-project-a/tree/robots.txt

I suppose that should help with this issue. Let me know.

[2018-10-11 10:59] humitos commented on #3161
@agjohnson what's the status of this issue?

I'm not sure to clearly understand what's the action needed here.

1. if it's around Protected Privacy level, I think we can close it as won't fix since we are removing the privacy levels from Community site.
1. if it's about giving our users a way to upload by themselves a `robots.txt` I think the solution that I proposed at https://github.com/rtfd/rea

[2018-10-11 11:08] humitos commented on #2740
@lhadjchikh thanks!

I want this project to build in our platform ;)

[2018-10-11 11:44] dasdachs commented on #3161
@humitos the solution provided in [#2430 (comment)](https://github.com/rtfd/readthedocs.org/issues/2430#issuecomment-418471125) is not optimal:

I think the only viable option is using the "meta tags" method [[1]](http://www.robotstxt.org/meta.html)[[2]](https://support.google.com/webmasters/answer/93710). I am working on a workaround for [Astropy's docs](https://astropy.readthedocs.io/en/stable/)

[2018-10-11 14:08] humitos commented on #3161
@dasdachs I see. You are right.

If the workaround by using meta tags is a good one, maybe it's a good solution to be implemented by a sphinx extension. It's still a hack, but at least "an automatic one" :grimacing:

After reading the docs you linked, I don't see a solution coming from Sphinx or without a hack, so I think we should implement this from Read the Docs itself by adding a `robotstxt_fi

[2018-10-11 14:10] humitos commented on #2430
My solution proposed here seems it doesn't follow the standards and it doesn't work. Read https://github.com/rtfd/readthedocs.org/issues/3161#issuecomment-428924633 for more information.

[2018-10-11 14:38] humitos commented on #3161
This is not trivial.

With that file, we will need to do:

1. append our own set of rules to the custom `robots.txt`
1. sync the result to all our web servers
  * since this file will be _outside_ Sphinx output, we need adapt that code
2. modify the nginx rule to try serving first the custom `robots.txt` from the project/version and as a fallback serve ours

This raise another problem: we have one

[2018-10-11 15:36] stsewd commented on #3910
@pmoura hmm, that's similar to https://github.com/rtfd/readthedocs.org/issues/4741#issuecomment-428565609, maybe is worth investigating a little more.

[2018-10-11 22:49] dasdachs commented on #3161
The hack I found could be quite simple ([this](https://github.com/astropy/astropy/pull/7874#issuecomment-429138942)): add meta tags to files you don't want indexed.
But because of the global `robots.txt`, it would have no affect (refering to this answer from [Google](https://support.google.com/webmasters/answer/93710)). Some solution using YAML or a text box seems like the way to go.

[2018-10-11 23:01] davidfischer commented on #4174
I created a migration to set unusable passwords in #4750. It also upgrades to Django 1.11.16 (the latest LTS). I builds on @stsewd's excellent work. If needed, the 1 commit that makes the migration could be cherry picked from 9f2c9bdb1dfcca677b7efd9f22f697c929b4c223.

[2018-10-12 10:54] humitos commented on #3910
@pmoura I just checked the logs and I found that there is an internal timeout that has been happening a lot in the last past days. I'm not sure why yet, but I'm debugging.

[2018-10-12 11:08] humitos opened #4751 "Improve unexpected error message"
Many users are reporting / filling an issue in our issue tracker when this message is shown to them, which is logic because it's what the message says.

Although, I think we should improve this message saying something like "if this problem persists, please report..." or something similar to that. Otherwise, sometimes it's a temporal failure and we get tons of reports.

[2018-10-12 12:39] dojutsu-user commented on #4751
It can be changed to this -
"There was a problem with Read The Docs while building your documentation. This might be a temporary error. We suggest you to try again. If this problem persists, please report to us with your build id (1234).

[2018-10-12 14:11] humitos commented on #4751
"try again _later_.", maybe is better.

The rest is perfect to me.

[2018-10-13 01:11] earth-tone opened #4753 "New style blocks significant parts of the page depending on screen size"
## Details

At some screen sizes, significant parts of the page are blocked by the new styles. Depending on how large my browser window is, between 2-3 of the opening paragraphs are obscured. It looks like you're using Bootstrap (or at least the sizes at which content changes appearance are the same sizes as Bootstrap); if you are, then these are the styles governed by the "large" and "x-large" se

[2018-10-13 05:19] dojutsu-user commented on #4751
@humitos I found this error message in files located at `readthedocs/locale/` and `logs/debug.log`, should i change this line there too?

[2018-10-13 21:55] Seburath opened #4756 "python 3.7 compatibility problem"
## Details
This is the Fisrt Issue I publish, sorry If It have mistakes

Im trying to run my the readthedocs site on my machine, but I get an error.
On:
[code]

## Expected Result

Server running...

## Actual Result

[code]

[2018-10-13 21:58] Seburath commented on #4756
@stsewd make me understand that this is not urgent, so I will be working on this :)

[2018-10-13 22:02] stsewd commented on #4756
Just to be clear, this error only happens when running rtd with python 3.7, it works fine with <=3.6.

[2018-10-14 01:42] earth-tone commented on #4753
It's just the new CSS theme. The text is just obscured by the header.

Here's the URL: https://redditclient.readthedocs.io/en/latest/

My username is earth-tone. The project is MkDocs. I don't know how to build it myself locally, sorry.

[2018-10-14 11:13] eendebakpt opened #4757 "request for increased build time for project oapackage"
## Details

* Read the Docs project URL: https://readthedocs.org/projects/oapackage/
* Build URL (if applicable): https://readthedocs.org/projects/oapackage/builds/7937692/
* Read the Docs username (if applicable): eendebakpt

https://readthedocs.org/projects/oapackage/builds/7937692/

## Expected Result

The build should have completed succesfully.

## Actual Result

A timeout error was generated

[2018-10-14 17:18] dojutsu-user commented on #4025
@humitos This issue seems interesting to me. I would like to take this issue. Can you please guide me on how to get started with it.

[2018-10-15 08:19] humitos commented on #4751
@dojutsu-user no. Those files do not require modifications for this.

[2018-10-15 08:34] dojutsu-user commented on #4751
@humitos okay, I have made the PR, please review it.

[2018-10-15 09:29] dojutsu-user commented on #4025
@humitos thanks, but the development environment is already up, can you please tell me how to check if the email is verified or not.
Actually, I am not able to find the model for this

![screenshot from 2018-10-15 14-56-52](https://user-images.githubusercontent.com/29149191/46942410-e8869b00-d08a-11e8-9d5f-db13dd232bfa.png)

[2018-10-15 09:57] humitos commented on #4443
@eendebakpt hi! you may want to subscribe to this issue about adding `swig` to the image container: https://github.com/rtfd/readthedocs-docker-images/issues/15

Let's handle the timeout issue for now at #4757

[2018-10-15 10:04] humitos commented on #4757
@eendebakpt I just increased the time for building your project's docs. Let's see how it behaves. It should be enough now.

[2018-10-15 14:45] sriks123 commented on #4654
Hi @agjohnson I am interested to work on this issue. I just wanted to ask can someone who is new to this project can solve this issue?

[2018-10-15 14:53] stsewd commented on #4654
Thanks for the interest, I think this kind of depends on https://github.com/rtfd/readthedocs.org/pull/4722

[2018-10-15 15:08] stsewd commented on #4753
@earth-tone I think this is something happening with the latest version of mkdocs (or some update, as you say this was working before. You can install a previous version using a `requirements.txt` file  https://docs.readthedocs.io/en/latest/guides/specifying-dependencies.html

Closing as this is a problem with mkdocs, rtd don't touch or modify that theme.

[2018-10-15 15:08] #4753 closed

[2018-10-15 15:51] peendebak commented on #4757
@humitos Thanks for increasing the build time. Conda now installs properly, but I get a message `Command killed due to excessive memory consumption`. Can you also increase the memory limit?

https://readthedocs.org/projects/oapackage/builds/7942643/

There are no error details, so I cannot see exactly where in the installation the error is generated.

[2018-10-15 17:16] jcmgray commented on #4686
Closing as the docs now seem to be working - I've had a quick look in the logs but couldn't see any particular changes that might explain it. @stsewd thanks very much for taking a look!

[2018-10-15 17:16] #4686 closed

[2018-10-15 18:36] humitos commented on #4757
@peendebak I increase the mem limit also and the build passed.

Please, consider reading this guide and reduce the formats that you are building since all of them are not strictly necessary to help Read the Docs servers to not collapse: https://docs.readthedocs.io/en/latest/guides/build-using-too-many-resources.html

Thanks. Much appreciated.

[2018-10-15 18:36] #4757 closed

[2018-10-16 08:07] humitos commented on #4705
@stsewd I found this issue a bit confusing. Can you expand on the purpose of it and what it's needed to do/decide here?

[2018-10-16 10:25] raoshridhar90 opened #4764 "Artifacts aren't cleaned when changing from Sphinx to Mkdocs"
## Details

* Read the Docs project URL: https://readthedocs.org/projects/wait/
* Build URL (if applicable):
* Read the Docs username (if applicable): shridhar.rao

## Expected Result

HTML copy of what I see on **View Docs**

## Actual Result

HTML copy is of Sphinx document I was trying out
![what i see](https://user-images.githubusercontent.com/13954344/47010106-bf820b00-d15b-11e8-8f91-f3c437ad

[2018-10-16 11:12] aradi opened #4765 "Download role not appearing with Sphinx 1.8"
## Details

* Project URL: https://readthedocs.org/projects/aradi-rtdtest/
* Build URL: https://readthedocs.org/projects/aradi-rtdtest/builds/7948735/
* Read the Docs username: balint

## Expected Result

* Generating an HTML document with working download links.

## Actual Result

*Download links are missing in the HTML output.

[2018-10-16 11:40] xeroc commented on #1820
thanks for the link.

[2018-10-16 12:31] ericholscher opened #4767 "Create intersphinx modeling to store in database"
We should be capturing the metadata that is embedded in the Intersphinx data in each build. There are a number of features that we could build on top of this, but the first step is to start tracking it in a database.

## Uses

We have an existing example of how to use this data in our search indexing PR here: https://github.com/rtfd/readthedocs-sphinx-ext/pull/48.

Also could be used with #1812.

[2018-10-16 15:19] stsewd commented on #4765
I can see the download links here https://readthedocs.org/projects/aradi-rtdtest/downloads/ and
![screenshot_2018-10-16 test chapter rtd test documentation](https://user-images.githubusercontent.com/4975310/47027325-dcebb080-d12c-11e8-8a27-121999fa3418.png)

[2018-10-16 15:28] stsewd commented on #4764
Sorry, I don't understand your issue, can you please clarify a little more?

We have this getting started guides for sphinx or mkdocs here https://docs.readthedocs.io/en/latest/intro/getting-started-with-sphinx.html https://docs.readthedocs.io/en/latest/intro/getting-started-with-mkdocs.html

[2018-10-16 15:43] stsewd opened #4768 "Remove /embed endpoint"
Similar to #4731

https://github.com/rtfd/readthedocs.org/blob/604e1fa0374a0ba1b242b88e6f242eff77b7b6c3/readthedocs/restapi/urls.py#L66-L66

Raised in https://github.com/rtfd/readthedocs.org/pull/4731/files#r222783446

[2018-10-16 15:57] dojutsu-user commented on #4768
@stsewd Will it be okay if I take this issue.

[2018-10-16 16:21] stsewd commented on #4768
Sure

[2018-10-16 16:48] kael opened #4770 "HTML microdata: itemscope='https://schema.org/APIReference'"
## Details

https://docs.readthedocs.io/en/latest/ (example)

## Actual Result

Currently, API docs contain HTML microdata using the http://schema.org/Article context.

It is imprecise and confusing compared to other types of articles (Tech & News).

[code]

## Expected Result

There's a more precise context to describe API references https://schema.org/APIReference, although it's unclear what's i

[2018-10-16 16:53] stsewd commented on #4770
I think you should open this issue on the sphinx repo, this isn't handled by rtd.

[2018-10-16 17:49] remram44 commented on #4684
I am seeing this message even with a GitLab incoming webhook set (and working).

[2018-10-16 17:54] stsewd commented on #4684
@remram44 can you try to click on the link? It should disappear, but anyway I think the error should disappear when everything is ok.

[2018-10-16 17:58] remram44 commented on #4684
It did! Weird, I am sure I had clicked on it before (or middle-clicked).

[2018-10-16 18:00] kael commented on #4770
Well, searching a bit further, it seems it's [already implemented](https://github.com/rtfd/apitheme/blob/bc22c6d439f1f47832c80fc9a0b7722fc95cf549/apitheme/layout.html#L143) :tada:. But I cant' find any working example, after having searched in several RTD cases.

Should I migrate the issue to the other repo ? Or perhaps you could enlighten me ? Is there any working case using https://schema.org/AP

[2018-10-16 18:10] stsewd commented on #4770
I haven't used it (I don't even know about that repo), https://github.com/rtfd/apitheme#via-git-or-download those steps are the way to go (you need to copy the apitheme folder inside `docs/_themes/sphinx_rtd_theme`)

[2018-10-16 18:31] AndySomogyi opened #4772 "Build fails with no error message"
## Details

* Read the Docs project URL: https://mechanica.readthedocs.io/en/latest/
* Build URL (if applicable):
* Read the Docs username (if applicable): AndySomogyi

## Expected Result
I would expect the build to either succeed, or fail with an error message where I could track down and fit the error.

## Actual Result

The build initiates a git pull, but stops for no apparent reason with the l

[2018-10-16 18:38] stsewd commented on #4772
I guess this is because this submodule doesn't exists https://github.com/AndySomogyi/mechanica/blob/376aae18799adbfb09c0f0c16b7849f526c86d94/.gitmodules#L30

See https://github.com/rtfd/readthedocs.org/issues/4371

[2018-10-16 18:49] AndySomogyi commented on #4772
Yeah, that fixed it, thanks.

It would be kind of cool if the build process would give you an error about submodules.

[2018-10-16 18:55] kael commented on #4770
I'm actually looking for an online real case of https://schema.org/APIReference, perhaps there are some RTD already online though. Gonna keep looking. Thanks.

[2018-10-16 18:55] #4770 closed

[2018-10-16 19:01] stsewd commented on #4772
Yeah, we are going to do that on #4371

[2018-10-16 19:01] #4772 closed

[2018-10-16 19:15] humitos commented on #4705
I see...

So,

RTD does not support more than one doc per project, but if the repository has multiple translations the use will import the same repo many times as different (sub)projects. In that case, we may want to allow:

1. multiple YAML files
2. multiple configs on the same YAML file
3. none of the above and force to build all the projects with the same YAML since the only thing that should c

[2018-10-16 21:41] matt-chan opened #4773 "Builds timeout during cat conf.py"
## Details

Not sure if this is something I'm doing that's causing it to timeout, or if it's something that is RTD-side. All my builds are timing out and there's no meaningful output.

* Read the Docs project URL: https://readthedocs.org/projects/iodata/
* Build URL (if applicable): https://readthedocs.org/projects/iodata/builds/7952133/
* Read the Docs username (if applicable): theochem

## Expec

[2018-10-16 21:49] stsewd commented on #4773
This is because conda is very heavy, please try https://docs.readthedocs.io/en/latest/guides/build-using-too-many-resources.html If that doesn't work you can request more build time

[2018-10-16 21:50] stsewd commented on #4773
And it's probably falling when creating the docs, see https://github.com/rtfd/readthedocs.org/issues/4288

[2018-10-17 07:11] aradi commented on #4765
Sorry, my formulation was misleading. If you look at the generated HTML document https://aradi-rtdtest.readthedocs.io/en/latest/rtdtest.html, the links for the two files are missing, which were added via the `:download:` role to the RST-source. The original RST-source is:
[code]

[2018-10-17 08:00] humitos commented on #4288
I think it makes sense to save the command _before_ running with just the command that's going to be executed and _after_ it's has finished with all the details (end time, exit code, etc) or adding a custom message in the output if the command has failed. I'm not sure how easy would be the latter.

[2018-10-17 08:03] humitos commented on #4773
@matt-chan do you _really_ need to install all those dependencies to build just the docs? That's one of the most important questions. Are you using `numpy` and `cython` for building the docs? Maybe a simple `requirements.txt` file is enough, or even not needed at all for this docs.

[2018-10-17 08:25] humitos opened #4774 "Sample repos with multilple configs on branches"
It would be good to have a list of several repositories under GitHub, Bitbucket and GitLab with different branches with different configurations (YAML, no YAML, docker build image, python version, submodules, mkdocs, etc) that all the @rtfd/core have access to them. This way, we can add a new config option and see how it behaves.

This will allow us to trigger builds for all these branches and to

[2018-10-17 08:32] #4768 closed

[2018-10-17 11:08] invinciblycool commented on #4745
@stsewd So it this supposed to be fixed? If yes, I would like to take a stab at it.

[2018-10-17 11:23] #4711 closed, assigned to nobody

[2018-10-17 14:50] stsewd commented on #4745
@invinciblycool we can't validate this on the config module because we put None when rtd needs to find the file automatically, I think there is a case where rtd fails to find one or there are multiple config files, we need to dig a little more to see the entire flow and see how we want to fix this.

[2018-10-17 15:10] stsewd commented on #4765
The links are relative to the current file or if you want to put absolute links, it need to begin with `/`

http://www.sphinx-doc.org/en/master/usage/restructuredtext/roles.html#role-download

[2018-10-17 16:30] humitos commented on #557
@ericholscher What's your idea to accomplish this?

I'm thinking on installing the `sphinx-sitemap` extension by default (together with other default packages that we are installing) and add it when `append_conf` method is called with the user's `conf.py` plus the `site_url` setting with the `canonical_url` of the project.

What do you think? Is this the path to follow?

[2018-10-17 16:33] humitos commented on #4288
This issue is related (maybe duplicated) to an old one: #1863

[2018-10-17 16:35] humitos commented on #4288
This issue is related (maybe duplicated) to an old one: #1863

[2018-10-17 18:29] himanshuc3 commented on #4698
Is this issue closed. I am looking for a beginner issue!

[2018-10-17 18:53] stsewd commented on #4698
This issue is already taken, there is a PR opened https://github.com/UPC/ravada/issues/890

[2018-10-17 19:32] davidfischer commented on #557
There are a few challenges with sitemaps. One challenge is that a sitemap is normally at `/sitemap.xml` by default. You can also specify where it is in `robots.txt`. So the sitemap should not be language specific (although you can have sub-sitemaps). It won't be at `/$lang/latest/sitemap.xml`.

One possibility is to make https://project.readthedocs.io/sitemap.xml a dynamic page which scans the dif

[2018-10-17 19:43] davidfischer commented on #4764
I wrote this relatively recently and would love help on filling in the gaps. It is open source and you can find the getting started with mkdocs guide [here](https://github.com/rtfd/readthedocs.org/blob/master/docs/intro/getting-started-with-mkdocs.rst).

Actually when I look at this, I don't yet see what the problem is. Based on your repository, I think it should generate HTML like [this](https://

[2018-10-17 19:44] stsewd commented on #3181
I'm testing pipenv now, I found this:

- `--ignore-pipfile` will try to generate a lock file if one isn't found.
- When running `pipenv install`, it will generate a lock file.
- When running with `--skip-lock` it will install from pipfile, without generating a lock

If an error happens when generating the lock file, it doesn't install the dependencies (it may fail if there are incompatible depende

[2018-10-17 19:46] davidfischer commented on #4774
I moved my MkDocs repo under `rtfd` and everyone in core should have access. https://github.com/rtfd/rtd-mkdocs-test

[2018-10-17 19:49] himanshuc3 commented on #4698
OK. I would like to take any beginner issues but most of them have open PRs on them. I'll figure something else out i guess.

[2018-10-17 20:12] stsewd commented on #4764
So, I think I understand the problem here, your project is mkdocs type, mkdocs doesn't support pdf or epub generation. But, I can see that your project does have links to download pdf and epub.

So, I saw your builds, and I found that one of those was using sphinx, there were generated pdf and epub files. Then, when building back with mkdocs, those files aren't removed, so your project keeps servi

[2018-10-17 20:15] raoshridhar90 commented on #4764
@stsewd thank you! How do I clean those files is my question.

[2018-10-17 20:18] stsewd commented on #4764
I think a workaround can be building with sphinx again, but un-selecting the epub and pdf generation, then if you change back to mkdocs, those files should be removed. But this is a bug on rtd and we should fix it.

[2018-10-17 20:20] raoshridhar90 commented on #4764
What if I get rid of Sphinx? As someone who knows very little about Python, Sphinx has been excessively complicated for me. But I'll try your suggestion and close this open query when I do it. However, it's late in India so I'll get to it tomorrow!

Thanks!

On Oct 18, 2018 at 01:48, <Santos Gallegos<mailto:notifications@github.com>> wrote:

I think a workaround can be building with sphinx again,

[2018-10-17 20:56] jdillard commented on #557
@davidfischer You can also use a [sitemapindex](https://support.google.com/webmasters/answer/75712?hl=en) to manage multiple sitemaps. I'm not sure if the RTD build process could create that file (containing relative links to the sub-sitemaps) and place in the root directory.

[2018-10-17 21:03] jdillard commented on #557
@humitos I didn't realize there was already a [`html_baseurl`](http://www.sphinx-doc.org/en/master/usage/configuration.html#confval-html_baseurl) config value that could have been used instead of `site_url`, and was [thinking about switching](https://github.com/jdillard/sphinx-sitemap/issues/14) to using that instead (with a backwards compatibility check for `site_url`). I'm not sure if that would

[2018-10-17 22:38] davidfischer commented on #557
This is exactly what I'm thinking! It is possible that RTD could dynamically generate the root sitemap rather than creating/updating it when builds happen.

[2018-10-18 06:16] dojutsu-user opened #4777 "Make form for adopting a project a ChoiceField"
This is the form for adopting projects for Gold Members.

![screenshot from 2018-10-18 11-29-40](https://user-images.githubusercontent.com/29149191/47134225-9a130f80-d2c9-11e8-8c40-22a3e22dc002.png)

Currently the input field does not specify any idea about what to enter.
Although, the project's slug is need to be enter, but it is written nowhere which creates confusion and the user ends up enteri

[2018-10-18 06:42] dojutsu-user commented on #4777
@stsewd Will adding the `help_text` would be enough?

![screenshot from 2018-10-18 12-09-43](https://user-images.githubusercontent.com/29149191/47135702-f7f62600-d2ce-11e8-80cf-156558c4dcd6.png)

[2018-10-18 07:52] raoshridhar90 commented on #4764
Hey @davidfischer, I will definitely do it when I figure out this problem. Also, I think there are gaps in the ReadTheDocs documentation. MkDocs seems pretty straightforward. However, for now, the [link](https://wait.readthedocs.io/en/latest/about/) you attached seems to be broken, so I don't really know what you mean. Haha, wow. This is confusing.

[2018-10-18 07:54] raoshridhar90 commented on #4764
@stsewd, I tried that but same problem again. Doesn't seem to be making a difference. I hope that bug is ironed out soon then!

[2018-10-18 08:54] humitos commented on #557
Just to put all together and continue with the next step. We need to decide,

1. if we want to generate the sitemap for all the projects automatically ((by following what I said in this comment)[https://github.com/rtfd/readthedocs.org/issues/557#issuecomment-430697691]) or rely on the user to install and setup all of this.
1. if the `/sitemap.xml` will be a Django view that will search for all the

[2018-10-18 12:18] dojutsu-user commented on #3801
@humitos I would like to take this issue up.
If I'm not wrong, you probably want something like this

[code]

[2018-10-18 12:56] humitos commented on #4777
That field should probably be a `ChoiceField` where the user can only select the available options.

[2018-10-18 13:05] dojutsu-user commented on #4777
https://github.com/rtfd/readthedocs.org/blob/df85fefc5f59c7a00bcc1ffe23965efe75e8c895/readthedocs/gold/views.py#L108-L110

@humitos from the code, it seems that the user can adopt **any** project.

[2018-10-18 13:16] humitos commented on #4777
Mmm... OK. It doesn't make too much sense to me, since it's a weird case to want to support a project that you are not involved to.

So, if we want to keep this behavior, my solution of the `ChoiceField` doesn't fit here.

Another different approach, that we don't have in any other place I think, would be to use a field with autocomplete --not sure if we want that, though. Probably, no.

I'd say t

[2018-10-18 13:47] aradi commented on #4765
As the `_downloads` folder is in the same folder as the RST-source file (in `docs/`) it should work in my opinion. If I build the HTML locally using  sphinx 1.8, the download links in the generated HTML appear as expected. Further the build log on Readthedocs seems also to indicate, that the `:download:` role was used correctly, as the referenced files are copied:
[code]

[2018-10-18 14:29] basnijholt opened #4778 "Increase build time for adaptive"
## Details

* Read the Docs project URL:
http://adaptive.readthedocs.org
* Build URL (if applicable):
https://readthedocs.org/projects/adaptive/builds/7963306/
* Read the Docs username (if applicable):
basnijholt

## Expected Result

I hope the whole build will go through.

## Actual Result

Installing the packages takes 380s (from `environment.yml`) + 200s (standard rtd installation) = 580s. This

[2018-10-18 14:56] stsewd commented on #4765
I guess the `_downloads` folder is colliding somehow with the folder from sphinx?

[2018-10-18 17:51] davidfischer commented on #557
How about we do a combination of both! Here's my proposal:

* We make `/sitemap.xml` a Django view. When requested, it looks for `$lang/$version/sitemap.xml` files and includes them in a sitemapindex as @jdillard proposes.
* If no sub-sitemaps are found, instead it just has entries in the sitemap for all the different language/version combinations (as in the "example" section in the original propo

[2018-10-18 17:56] davidfischer commented on #4764
That's weird. It seems to be working for me even in incognito!

I still don't seem to understand this issue. I don't see the links to download an epub or PDF anymore.

<img width="1269" alt="screen shot 2018-10-18 at 10 55 13 am" src="https://user-images.githubusercontent.com/185043/47174020-68e41080-d2c4-11e8-9e6f-98ac892f12d7.png">

[2018-10-18 18:07] stsewd commented on #4764
@davidfischer If I recall correctly, we don't generate any type of download for Mkdocs projects, the download section shouldn't be there.

@raoshridhar90 rtd built the html files for download on sphinx always, it can only be disabled using a configuration file https://docs.readthedocs.io/en/latest/yaml-config.html#supported-settings The pdf and epub aren't there, so the previous step worked! So, I

[2018-10-18 18:32] stsewd commented on #4764
Is because of the same problem, you built wih sphinx once, rtd generated the download files, then when changing to mkdocs, rtd doesn't clean the previous files.

- We don't provide any downloads on Mkdocs (that's a limitation of mkdocs, not from rtd).
- You can use markdown with sphinx (downloads here are supported)

[2018-10-18 18:37] raoshridhar90 commented on #4764
Haha, cool. I'll play around with Sphinx a bit. Thank you so much for all the help. I hope you get that bug sorted out. Also, thank you so much; you guys are much friendlier and much more helpful than StackOverflow. Those dudes are rude!

[2018-10-18 21:17] stsewd commented on #3181
Pipenv doesn't support specify a custom Pipfile (we plan to support installations from other than roo directory). So, I'm planning to put that as an environment variable, the command looks like this

[code]

`--skip-lock` and `--ignore-pipfile` are options on the yaml file, `--ignore-pipfile` is on by default. Also, `--dev` is an option and is off by default.

With this we install the dependencies

[2018-10-18 22:10] luanfonceca commented on #4076
Hey @agjohnson, i would like to fix this one during the Djangocon sprint. It's okay?

[2018-10-18 22:29] wkerzendorf commented on #4449
@humitos I encountered that again on wsynphot.rtfd.io - I think it is definitely the memory requirement that kills us and I have seen it now a few times. I understand running this with more RAM will cost more. Is there a possibility that you would allow us to pay for more RAM. using conda is very convenient. Thank you!!!

[2018-10-19 07:01] aradi commented on #4765
I don't think so:
* On my local system, building with Sphinx 1.8 produces the right HTML page.
* I've renamed `_downloads` into `_mydownloads`. On my local system, it still works. On readthedocs it's still broken. Although Sphinx apparently recognizes the `:download:` role and the associated files
[code]
the appropriate links in the HTML page still do not show up.

[2018-10-19 08:03] matt-chan commented on #4773
I got it working. Sorry about that. There was a bug in my conf.py which ended up eating up all the build time. I couldn't see the error though because of #4288. I'll re-open next time if I really time-out.

[2018-10-19 08:03] #4773 closed

[2018-10-19 09:49] humitos commented on #2465
Another thing to consider is probably excluding the PRs from the search engines since we don't want people to arrive to these "in progress" docs.

Besides, I think we don't want to build each PR that's generated (otherwise we will end up with many stale docs versions that nobody will read or that will confuse users). We might want to build only those that touches some specific files (under docs/ f

[2018-10-19 14:21] Juanlu001 opened #4784 "Some builds are failing for no apparent reason"
## Details

* Read the Docs project URL: https://readthedocs.org/projects/telluric/
* Build URL (if applicable): https://readthedocs.org/projects/telluric/builds/7969592/
* Read the Docs username (if applicable): Juanlu001

## Expected Result

I have a build.

## Actual Result

It terminates with this meessage:

[code]

@drnextgis

[2018-10-19 15:07] ericholscher commented on #4778
Please reopen if it's still an issue.

[2018-10-19 15:07] #4778 closed

[2018-10-19 16:33] stsewd commented on #4773
@matt-chan glad that your docs are building again, can you please tell me what the problem was? Maybe other users are facing the same problem and I can help there.

[2018-10-19 17:15] stsewd commented on #4205
Yup, that's where it needs to be removed.

Actually, I was waiting to see if there are some efforts from the mkdocs side to bring back the json output, but I didn't find anything https://github.com/mkdocs/mkdocs/issues?utf8=%E2%9C%93&q=is%3Aissue+is%3Aopen+json

But, looks like we could have a workaroung to bring search for mkdocs https://github.com/rtfd/readthedocs.org/issues/4588#issuecomment-41

[2018-10-19 17:21] stsewd commented on #3181
Hey folks, I'm testing the pipfile support on rtd, can you please comment with a project that is using a pipfile (and have docs to build)? That will help me a lot on testing and bring a less buggy implementation p:

[2018-10-19 17:29] dojutsu-user commented on #4205
should I make a PR?

[2018-10-19 17:31] stsewd commented on #4205
I'd wait for another maintainer to confirm

[2018-10-19 21:40] matt-chan commented on #4773
The issue was a shell script I was calling from conf.py. I accidentally put a ```make html``` into it. It worked fine locally, but I forgot that RTD calls "make html" itself. It probably was going into an infinite loop.

[2018-10-20 12:07] basnijholt commented on #4778
Thanks a lot! 😇

The [documentation is awesome](https://adaptive.readthedocs.io/en/latest/docs.html#examples) now!

[2018-10-21 03:51] earth-tone commented on #4753
This has nothing to do with mkdocs. This is about CSS. Are you retarded?

[2018-10-21 03:53] earth-tone opened #4785 "New style blocks significant parts of the page depending on screen size"
Your new CSS blocks entire parts of the screen at some screen sizes, and your employees have closed the issues as "an mkdocs issue" to cover their own asses.

Since your service is now unusable, I'll have to find another.

[2018-10-21 03:55] earth-tone commented on #4753
I've opened a new issue, to let people know the real issue, which is that your employees are hiding these problems to cover their own asses.

[2018-10-21 04:33] earth-tone opened #4786 "New CSS style blocks top half of the page"
Your new CSS has made your service unusable. The top 1-3 paragraphs of the page are no longer visible, depending on screen size.

This is a very simple CSS fix, but when I submitted a [bug report](https://github.com/rtfd/readthedocs.org/issues/4753), I was told it was my fault by employees that appear to be trying to cover their own asses.

It is not my fault. It is a very simple CSS problem that

[2018-10-21 04:33] #4785 closed

[2018-10-21 12:54] basnijholt opened #4787 "prevent jQuery from being loaded twice"
## Details

* Read the Docs project URL: http://adaptive.readthedocs.org

## Expected Result

We **have** to load jQuery in the `<head>` [(to show interactive plots)](https://adaptive.readthedocs.io/en/latest/docs.html#examples) which is what we do by having [this in our `conf.py`](https://github.com/python-adaptive/adaptive/blob/master/docs/source/conf.py#L145), a custom [`layout.html`](https://g

[2018-10-21 14:01] davidfischer commented on #4753
I agree with @humitos and @stsewd. Build your project outside RTD and see for yourself.

[2018-10-21 14:06] davidfischer commented on #4786
@earth-tone, I'm going to use this time to remind you of the Read the Docs [code of conduct](https://docs.readthedocs.io/en/latest/code-of-conduct.html).

* Please choose your words more carefully and be respectful. Read the Docs is a free service with some full time people and some volunteers but insulting folks is not going to get them to help you with your problem.
* Members of Read the Docs tr

[2018-10-21 14:06] #4786 closed

[2018-10-21 16:33] stsewd commented on #4787
Maybe related to https://github.com/rtfd/readthedocs.org/issues/3063 and https://github.com/rtfd/readthedocs.org/issues/4367#issuecomment-427889953

[2018-10-22 08:39] humitos commented on #557
I like your proposal, @davidfischer

I think that we have something that it's _actionable_ now, and we can implement it. I'd love to see/get/receive a PR for this.

We will need to install a new dependency that could impact in the building time (not too much, though) but that could bring a new issue.

That was my only concern, but I think we are fine by installing and running this by default. It's

[2018-10-22 08:58] humitos commented on #4076
@luanfonceca yes, the loop is endless because the celery task the server executed crashed, so no proper result is returned to the front end and it keeps trying to get a response.

The solution would be to handle the proper exception risen in the server and continue the execution for the next social account.

[2018-10-22 09:02] humitos commented on #4449
@wkerzendorf I don't see any build with memory issues in your project.

Please, open a new issue by filling the template with the information requested and I will take a look.

[2018-10-22 09:03] humitos commented on #4449
@wkerzendorf I don't see any build with memory issues in your project.

Please, open a new issue by filling the template with the information requested and I will take a look.

[2018-10-22 12:45] joelanders opened #4788 "URLs in search results have unnecessary (and misleading?) path elements"
## Details

Hi, we host some multi-language custom-domain docs on RTD and noticed that the search results link to a kind-of funny URL (which nevertheless returns the correct content).

## Expected Result

Search for something, eg https://docs.deflect.ca/en/latest/search.html?q=deflect&check_keywords=yes&area=default

The results should look like https://docs.deflect.ca/en/latest/deflect_diy/index.

[2018-10-22 13:44] basnijholt commented on #4787
I fixed this issue using this commit https://github.com/python-adaptive/adaptive/commit/6cdd24e9d8f0e8ac4e981a10433acb9d1397690c.

Basically I added this code to my `conf.py`:
[code]

[2018-10-22 13:45] basnijholt commented on #3063
In https://github.com/rtfd/readthedocs.org/issues/4787#issuecomment-431839767 I encountered the same problem. I fixed it by (copy from that issue):

[code]

[2018-10-22 13:46] basnijholt commented on #4367
In https://github.com/rtfd/readthedocs.org/issues/4787#issuecomment-431839767 I encountered the same problem. I fixed it by (copy from that issue):

[code]

Using my setup I am able to correctly show plotly plots, for example https://adaptive.readthedocs.io/en/latest/docs.html#adaptive-learnernd.

[2018-10-22 14:36] humitos opened #4789 "Domain deletion task is failing"
This method,

https://github.com/rtfd/readthedocs.org/blob/df85fefc5f59c7a00bcc1ffe23965efe75e8c895/readthedocs/projects/models.py#L1030-L1034

deletes the Domain from the database and trigger a task called: `symlink_domain`. This task tries to get the Domain object using the `pk` from the database and it fails because the object was already removed.

I do see two different approaches here:

1. do

[2018-10-22 14:44] humitos opened #4790 "If mkdocs.yml is broken raise a specific exception and catch it properly"
Currently, we are raising `BuildEnvironmentError` which is too generic and produce the error to be logged into sentry when it's not an app bug but a user configuration problem.

https://github.com/rtfd/readthedocs.org/blob/df85fefc5f59c7a00bcc1ffe23965efe75e8c895/readthedocs/doc_builder/backends/mkdocs.py#L84-L87

We should raise something like `MkDocsYAMLError` (or a better name) and add it as a

[2018-10-22 14:58] humitos opened #4791 "Disable django.security.DisallowedHost from logging"
We have properly configured our `ALLOWED_HOST` setting and it's blocking some of these attacks properly. Although, this is spamming Sentry with many error logs.

Since this is not an error and I think we don't really need to take any kind of action, we should disable this from the logging as mentioned here:

https://docs.djangoproject.com/en/1.11/topics/logging/#django-security

Sentry query: http

[2018-10-22 15:02] basnijholt commented on #4787
This above solution fixed our problem, but I really consider it a hack.

The proper solution is in https://github.com/rtfd/sphinx_rtd_theme/pull/545.

I will close this issue now. @stsewd thanks for the prompt reply! 😄

[2018-10-22 15:02] #4787 closed

[2018-10-22 16:15] stsewd commented on #4788
I guess this is because you have https://readthedocs.org/projects/deflect-docs-russian/ as a subproject of https://readthedocs.org/projects/deflect-docs/, but looks like you only wanted it as a translation (which is already included as one). You only need to remove the subproject.

[2018-10-22 16:35] Juanlu001 commented on #4784
Yes, we restarted and it worked! Closing

[2018-10-22 16:35] #4784 closed

[2018-10-22 16:47] davidfischer commented on #557
I proposed that we **do not** add the extra sphinx extension for generating sitemaps by default. I think users should opt-in to it.

If users choose not to opt-in, the sitemap we display would just point to the active versions:

[code]

[2018-10-22 17:26] stsewd opened #4793 "Find out where/why rtd activates a version after building it"
Not sure how to classify this issue, but we kind of need to figure out why are we activating a version after building it, it may be a bug or it is by design.

Raised in https://github.com/rtfd/readthedocs.org/pull/4733#issuecomment-430012283

[2018-10-22 17:49] stsewd commented on #4523
We don't need this anymore https://github.com/rtfd/readthedocs.org/pull/4732#discussion_r222828007

[2018-10-22 17:49] #4523 closed

[2018-10-22 17:56] dojutsu-user commented on #4791
@humitos
I would like to work on this issue.

[2018-10-22 18:33] stsewd commented on #4765
I was looking a little more into this issue, I realized that you are using `.. only :: builder_html`, rtd uses a custom builder called `readthedocs`. So, you should use `.. only :: builder_html or readthedocs`. I tested this locally and it works

![screenshot_2018-10-22 test chapter rtd test documentation](https://user-images.githubusercontent.com/4975310/47311235-cd71d900-d5fe-11e8-8013-0a7ef6ad6

[2018-10-22 18:48] stsewd commented on #4739
So, I looked into the code, we inject the code for the floating footer https://github.com/rtfd/readthedocs.org/blob/a4291d17728b8df6b7a9ce57537c5d620416e485/readthedocs/doc_builder/backends/mkdocs.py#L106-L106, but we don't have jquery as an explicit dependency https://github.com/rtfd/readthedocs.org/blob/master/readthedocs/core/static-src/core/js/readthedocs-doc-embed.js

Not sure if we should ad

[2018-10-22 19:04] ericholscher commented on #557
Opt in sounds good -- we *should* however write a guide about how to enable it, documenting our integration and how users can enable it (once we build the integration :D)

[2018-10-22 20:12] stsewd commented on #4793
I think I found it

https://github.com/rtfd/readthedocs.org/blob/a4291d17728b8df6b7a9ce57537c5d620416e485/readthedocs/projects/tasks.py#L605-L610

/cc @humitos

Still not sure why we do that :man_shrugging:

[2018-10-23 01:12] claresloggett opened #4794 "Abandoned project name request"
I'm trying to import my github project https://github.com/claresloggett/ponder into readthedocs and name it "ponder". When I try, I get the error "Invalid project name, a project already exists with that name". However when I go to the corresponding readthedocs site, ponder.readthedocs.io, there is nothing there.

I'm new to readthedocs and don't know how to tell whether this is an error and there

[2018-10-23 02:51] stsewd commented on #4794
Hi @claresloggett, the project is https://readthedocs.org/projects/ponder/ it seems abandoned for me.

[2018-10-23 05:29] davidism commented on #4673
I'd rather not have to update these redirects as new releases occur either, as part of the draw of moving to RTD was that we could drop our custom bots and processes for building docs.

[2018-10-23 07:45] aradi commented on #4765
Works perfectly, thank you very much for your time! :smile:

[2018-10-23 07:45] #4765 closed

[2018-10-23 09:00] humitos commented on #3801
@dojutsu-user since this is a code that it's executed a lot, retrieving the whole Project object it may be overkilling since we not going to use that data anyway. You may just need to check if the project does exist with `.exists()` and using an if in this case.

[2018-10-23 09:08] humitos commented on #4793
@stsewd good work!

First of all, I think we don't need to send the `active=True` in that PATCH.

On the other hand, I come up with some questions:

* why we would build a version that it's not active?
* in case we want to build a version that it's not active, why we would like to mark it as active after building it?

@agjohnson @ericholscher you may remember some use case for this. Otherwise, I t

[2018-10-23 10:05] joelanders commented on #4788
Hi again, thanks for the tip, that does sound like it could be close to our problem. But when I try to view the subprojects of "Deflect Documentation," it says that it is already a subproject of "Deflect Documentation" (and the "view subprojects" link just points to the current page).

<img width="611" alt="deflect-docs" src="https://user-images.githubusercontent.com/1390211/47352818-053e5680-d6bb

[2018-10-23 11:29] #4174 closed

[2018-10-23 12:07] 73VW commented on #2251
Has anyone made progresses on this?

How can I help?

I was thinking about making a Gitter integration for Read the Docs but I saw that there was only the failure notification. It would be really nice if we could implement this then we could have all build status appear in Gitter activity tab just like for Travis or others.

[2018-10-23 12:49] humitos commented on #4673
@davidism your issue called my attention because I thought that we supported this.

I found a _hacky solution_, I think.

This URL,
* https://gh-rtd-project-a.readthedocs.io/redirect, will bring you to
* https://gh-rtd-project-a.readthedocs.io/en/redirect/redirect.html (being `/en` the default language and `redirect` the default version) --which I suppose it's what you want.

How I did it? I creat

[2018-10-23 14:24] mgeier opened #4797 "Can you please install the package "librsvg2-bin"?"
This would allow auto-converting SVG images to PDF images with the Sphinx extension https://github.com/missinglinkelectronics/sphinxcontrib-svg2pdfconverter.

There is an old issue about converting SVG to PDF which would be properly solved by this: #905.

Alternatively, *Inkscape* could be installed, but `librsvg2-bin` is much more lightweight, even more so since its dependency `librsvg2-2` seems

[2018-10-23 15:37] ericholscher commented on #4767
Have a working version of this locally. Now playing with integrations to build on top.

[2018-10-23 15:45] stsewd commented on #4788
Hmm, that's very weird, how long do you have that project created? Maybe in that time the validation wasn't there? If this is recent, it's a bug. Recreating the project sounds like the way to fix this, also, using a configuration file can help for the future (so, not screenshots for backup https://docs.readthedocs.io/en/latest/yaml-config.html)

[2018-10-23 16:34] #4388 closed

[2018-10-23 16:48] ericholscher commented on #1812
More details of the Wikipedia version: https://www.mediawiki.org/wiki/Page_Previews

[2018-10-23 16:50] #3610 closed

[2018-10-23 17:45] agjohnson commented on #4793
I'm lost on the two points above as well. I'd say we don't want to build it at all if its inactive, and we certainly shouldn't be changing active=True.

Perhaps this was a case to catch the initial import of a project? When the `latest` version is maybe not active yet? Just guessing at this...

[2018-10-23 23:15] agjohnson commented on #4705
I think our translations workflow needs to be ripped apart eventually. Adding a translation should not require a separate file on the repo. However, currently, you shouldn't need a separate config file for this, the language selector is in the admin UI.

We've discussed in other tickets, but translations will eventually just be another project setting (ie, just enable "Español" translation to your

[2018-10-24 04:14] isomorphisms commented on #2418
I needed to comment out the offending module.

[code]

where `# sphinx.ext.pngmath` was added by me.

[2018-10-24 09:05] RichardLitt commented on #2418
Thanks. Please open new issues, as this one is quite old. :)

[2018-10-24 09:11] RichardLitt commented on #4794
@humitos Can you take a look at this?

[2018-10-24 09:31] RichardLitt commented on #4698
@himanshuc3 If you can't find any that are open, let us know. We can probably make some more.

[2018-10-24 13:43] humitos commented on #4794
Hi all! I will start the process for Abandoned Project soon: http://docs.readthedocs.io/en/latest/abandoned-projects.html

[2018-10-24 16:02] humitos opened #4803 "move_files tasks depends on the Version from the db and fails"
Similar to #4789, we pass the `Version.pk` to the `move_files` task. If the version is removed before the task is executed, the task fails because the row is not in the database anymore.

The problem is at this line,

https://github.com/rtfd/readthedocs.org/blob/3fbb0c1a7c94bcc979f54d67fad8dc94f74854c8/readthedocs/projects/tasks.py#L838

We should handle this exception properly and do not fail the

[2018-10-24 16:24] dojutsu-user commented on #4803
@humitos I would to take this issue.
I think you want something like this

[code]

[2018-10-24 18:31] feuGeneA opened #4807 "readthedocs.yaml not respecting requirements_file directive"
## Details

* Read the Docs project URL: https://readthedocs.org/projects/0x-order-utils/
* Build URL (if applicable): (multiple, see below)
* Read the Docs username (if applicable): feuGeneA

I have two requirements, and they seem to be supported independently, but not together.

One requirement is that my docs be built from a folder that's deep within my repo source (specifically, `python-projec

[2018-10-24 19:01] stsewd commented on #4807
`requirements_file` is to indicate a requirements file only, it doesn't mean to change the working directory. But I think your problem is solved, this is from your build https://readthedocs.org/projects/0x-order-utils/builds/7994617

![screenshot_2018-10-24 0x-order-utils read the docs](https://user-images.githubusercontent.com/4975310/47454547-1a87b380-d795-11e8-9a80-6f9dc0a44fbf.png)

As you can

[2018-10-24 19:13] andy-maier commented on #4087
Hi, I'm sorry for not reacting on the request for more information. I verified today that the stable version of our project is recent on RTD, and also when releasing a new version of our project today, its stable version on RTD was built and is up to date now.

So it seems the new RTD version has solved the issue!

Thanks much!!

[2018-10-24 19:20] humitos commented on #4087
@andy-maier thanks for the update! I'm happy that your problem is solved ;)

[2018-10-24 20:02] stsewd commented on #4793
I tested this locally, removing active from the patch works, and it doesn't break things like the first import, as we create the latest and stable with `active=True`

https://github.com/rtfd/readthedocs.org/blob/dfc8fc9eba8dc9caae171ca0b3e8f6a71594e088/readthedocs/builds/managers.py#L37-L59

The only parts where we are triggering builds on inactive versions are: on webhooks (fix in #4733), and whe

[2018-10-24 20:47] eendebakpt commented on #4757
@humitos Thanks for increasing the limits. My documentation is building fine now!

[2018-10-24 20:47] eendebakpt commented on #4443
Fixed with #4757

[2018-10-24 20:47] #4443 closed

[2018-10-24 22:17] stsewd commented on #4363
Just putting some tests here

# Separated doctrees

[code]

# Shared doctrees

[code]

[2018-10-25 02:37] jaraco opened #4808 "Builds failing with NamespacePath has no attribute sort"
## Details

* Read the Docs project URL: https://readthedocs.org/projects/jaracoclipboard/
* Build URL (if applicable): https://readthedocs.org/projects/jaracoclipboard/builds/7996994/
* Read the Docs username (if applicable): jaraco

## Expected Result

Build should succeed without error.

## Actual Result

Build is failing during the virtualenv creation.

This issue started this evening sometime

[2018-10-25 02:42] jaraco commented on #4808
I see [another project exhibiting the same error](https://readthedocs.org/projects/jaracocollections/builds/7963873/).

[2018-10-25 08:01] humitos commented on #4793
In my opinion, I think that removing it from the `PATCH` is ok.

I don't think we want to move the check of the inactive version inside the `trigger_build` function. Do you have a different opinion?

[2018-10-25 08:10] 73VW commented on #810
Hello everyone, do you need help on this?

[2018-10-25 09:06] stsewd commented on #4793
Nope, same. Also, that is easier than touching the rest of the code p:

[2018-10-25 16:18] stsewd commented on #4808
If this is a problem with pip `9.0.1` then I'm not sure what we can do to fix this soon :/ pip comes from the docker images, so it can't be changed now, (I think we were able to change this with the v2 of the configuration file).

So, our docker images are as follow:

- v2 (the one that you are using), comes with pip `9.0.1`
- latest, comes with `9.0.3`

So, if this bug is fixed on that version of

[2018-10-25 16:23] stsewd opened #4809 "Add docs about Pipfile support"
Similar to the entry about Conda support, we should put one about Pipfile support. This should be done after https://github.com/rtfd/readthedocs.org/pull/4783 and https://github.com/rtfd/readthedocs.org/pull/4451

[2018-10-25 17:51] feuGeneA commented on #4807
@stsewd Thank you for the :star2:stellar:star2: support!  I've got everything working great now.

[2018-10-25 17:51] #4807 closed

[2018-10-25 18:55] stsewd commented on #4444
Looks like the same issue (or related) https://github.com/rtfd/readthedocs.org/issues/4051

[2018-10-25 22:15] stsewd commented on #4201
We have this migrations to apply before we can do something, the migrations for `integrations` are the trickiest

[code]

[2018-10-25 23:01] stsewd commented on #4043
We could return the invalid url here https://github.com/rtfd/readthedocs.org/blob/dfc8fc9eba8dc9caae171ca0b3e8f6a71594e088/readthedocs/vcs_support/backends/git.py#L117-L121 and shown that to the use, at least is a better hint.

I think the same, is there any way that users can trespass that? I mean, if we don't have their private keys, then we can't pull their code.

[2018-10-25 23:06] Moini commented on #3979
Tbh. I don't care very much about the 'how', but I would definitely like to see vector graphics used at readthedocs. I'm trying to build an Inkscape Manual here....

[2018-10-25 23:12] stsewd commented on #4751
@humitos I think your past self already filled this issue :D https://github.com/rtfd/readthedocs.org/issues/4010

[2018-10-25 23:39] stsewd commented on #3279
Not sure if this is something we can put on our yaml, per-version settings only. This looks like a project setting.

[2018-10-25 23:46] stsewd commented on #3137
We don't touch the mkdocs theme, and I don't see that we do something with the `site_url` setting, can you try building with a more recent version of mkdocs? Maybe that option wasn't supported in the version you were building? We need to check building the project again and see if this problem can be fixed using only mkdocs.

[2018-10-25 23:50] stsewd commented on #3137
Also, the docs linked are only valid for sphinx, we definely can do the same for mkdocs if `site_url` works on most of the versions of mkdocs

[2018-10-26 00:07] stsewd commented on #2275
This was already implemented in https://github.com/rtfd/readthedocs.org/pull/4486

[2018-10-26 00:07] #2275 closed

[2018-10-26 00:12] stsewd commented on #2233
@davidfischer I checked and there isn't a PR for rtd yet, so feel free to do it :)

[2018-10-26 00:18] stsewd commented on #4012
Thanks for reporting, I'm closing this in favor of https://github.com/rtfd/readthedocs.org/issues/4672, which I believe are the same problem. Also, I have a PR that fixes this https://github.com/rtfd/readthedocs.org/pull/4733, if after mergin/releasing youn notice the problem again, feel free to ask to reopen this issue, but I really think is the same problem (my pr doesn't fix this only for lates

[2018-10-26 00:18] #4012 closed

[2018-10-26 02:49] claresloggett commented on #4794
I've renamed this support request as it's now clear the project does exist but looks abandoned.

[2018-10-26 02:50] claresloggett commented on #4794
Thanks @RichardLitt @humitos  !

[2018-10-26 03:16] Surgo commented on #2275
Wow thank you so much :)

[2018-10-26 05:08] stevepiercy commented on #4012
OK, I've subscribed to both the issue and the PR, so I can track when it's ready. We just released Pyramid 1.10a1, and we'll soon do the same switcheroo as the final release of 1.9.

[2018-10-26 07:02] raoshridhar90 commented on #4764
@stsewd, I migrated completely to Sphinx from Mkdocs, but thanks for all the help!

[2018-10-26 08:22] hydrogo opened #4812 "Conda crashes with error 247"
## Details

* Read the Docs project URL:
http://rainymotion.readthedocs.io
* Build URL (if applicable):
https://readthedocs.org/projects/rainymotion/builds/8004144/
* Read the Docs username (if applicable):
@hydrogo

## Expected Result

Should just install the conda environment and make the documentation

## Actual Result

it crashes with error code 247

## Comments

I think that I have the same p

[2018-10-26 11:10] ericholscher commented on #4705
+1 on removing multiple configs in a single file. I don't see any use-case for this. I _do_ see value in being able to do something like defining multiple translations for a project, but I don't think having totally different configs in a single file make sense for that currently.

[2018-10-26 12:02] akdiem opened #4813 "html output in "Downloads" works, but readthedocs page does not display docstrings"
## Details

* Read the Docs project URL: https://readthedocs.org/projects/bloodflow/
* Build URL (if applicable): https://bloodflow.readthedocs.io/en/latest/
* Read the Docs username (if applicable): akdiem

## Expected Result

*I changed from using the Alabaster theme to the RTD theme and expect all of the RTD page to look like it. I also expect to see my project docstrings when clicking on the l

[2018-10-26 13:16] ericholscher commented on #4793
I guess I still don't understand -- what is the case that's happening where we are building a set of docs that we don't want to set to active?

[2018-10-26 13:32] EdenZhao778 commented on #2677
This problem due to webhook's  invailid request body, you could use the "doFilter(ServletRequest servletRequest, ServletResponse servletResponse, FilterChain filterChain)" method of the Servlet Filter to make the request to be a empty body such as '{ }' in your service if you use java.
If you are another kind of programming language developers,this solution is also applicable.

[2018-10-26 14:32] stsewd commented on #4793
@ericholscher here https://github.com/rtfd/readthedocs.org/issues/4672, but we have a fix for that ithub.com/rtfd/readthedocs.org/pull/4733, but the `active=True` in this code doesn't make much sense

[2018-10-26 14:37] ericholscher commented on #4793
I guess I just don't see the bug as "building activates the version", but more that we shouldn't be triggering the build for inactive versions in that case -- I think in general if we're building docs they should be activated, but I could see the argument for that happening in the code that calls the build, not the build itself.

[2018-10-26 15:01] stsewd commented on #4813
I just downloaded the docs, and look good for me

![screenshot_2018-10-26 artery fe 0 1 0 documentation](https://user-images.githubusercontent.com/4975310/47574715-d49e2d00-d905-11e8-8af2-8e46e10d0430.png)

But I think what you mean, is that this version is a `singlehtml`, rather than several pages as the ones you see on the web.

[2018-10-27 09:12] seguri opened #4815 "can't browse html offline docuentation"
## Details

* Read the Docs project URL: https://readthedocs.org/projects/borgbackup/downloads/

## Expected Result

Browse the offline documentation.

## Actual Result

I tested every html zip down to 1.1.3 and none of them loads successfully. `index.html` is stuck in a refresh loop. It still tries to contact external urls like app.travis-ci.org, assets.readthedocs.org, asciinema.org (the video d

[2018-10-27 12:55] humitos commented on #2663
I have some thoughts here:

* `Protected` projects involves a "hidden feature" that some people is using: keep _all the versions_ online but do no list/show deprecated/very old ones in the flyout menu.
  * I think it's a good feature to have/support. Maybe in a different way instead of privacy levels, but something to consider.
  * If we remove this privacy level, we don't have a way to have the s

[2018-10-27 13:00] humitos commented on #4594
I think we should default to Python 3 by adding `default=3` as database level also: #3070. Actually, I've already did this before but I closed it for some reason:https://github.com/rtfd/readthedocs.org/pull/4613

[2018-10-27 13:05] humitos commented on #4751
I really hate how GitHub search issues/prs work. I never find what I'm looking for.

[2018-10-27 15:48] akdiem commented on #4813
Hi, thank you for your response! So you can reproduce exactly what I'm seeing if I understood correctly, i.e. the download looks fine, but the webpage doesn't. How do I fix this? Because on the web none of my docstrings show up on any of the pages.

[2018-10-27 16:08] stsewd commented on #4813
Actually, I can see the docstrings on the web too

![screenshot_2018-10-27 arteryfe package artery fe 0 1 0 documentation](https://user-images.githubusercontent.com/4975310/47606376-72622c80-d9d8-11e8-9960-fd8a493b5605.png)

What I mean is that the downloaded page is just one big page and the web is several pages, but the content it's the same (as far as I can tell)

[2018-10-27 17:38] stsewd commented on #4594
@humitos it was because there is another PR already p: (https://github.com/rtfd/readthedocs.org/pull/3581)

[2018-10-27 19:01] stsewd commented on #4815
For asciinema and travis links, you should open an issue on the borg repo https://github.com/borgbackup/borg.

For the search, we have this open issue https://github.com/rtfd/readthedocs.org/issues/2637

Thanks for reporting.

[2018-10-27 19:01] #4815 closed

[2018-10-28 09:12] ijaureguialzo opened #4816 "Protected privacy level differs between html version and downloads"
## Details

* Read the Docs project URL: https://readthedocs.org/projects/lm-xml-apuntes/
* Build URL (if applicable): https://lm-xml-apuntes.readthedocs.io
* Read the Docs username (if applicable): ijaureguialzo

## Expected Result

When I set the project privacy level to protected, I was expecting any user would be able to download the resulting PDF or ePub clicking on the link.

## Actual Resul

[2018-10-28 13:56] kripnerl commented on #2271
I am experiencing the same error with https://readthedocs.org/projects/pleque/
It seems it is triggered due to the use of `pkg_resources`. There are two possibilities of the build :

- First is initiated by `git clone https://github.com/kripnerl/pleque.git .` and it passes.
- Second is initiated by `git remote set-url origin https://github.com/kripnerl/pleque.git`and it raises:

[code]

[2018-10-28 18:44] stsewd commented on #2271
@kripnerl please see https://github.com/rtfd/readthedocs.org/issues/4808

[2018-10-28 18:50] stsewd commented on #4816
I think that you are right, the same behavior should be present on the downloads page. Also, we are planning to remove the privacy levels from the community site https://github.com/rtfd/readthedocs.org/issues/4594

[2018-10-28 20:57] humitos commented on #4808
IMHO, I think that we should force to install the latest `pip` version always the initial step by running:

    pip install -U pip

So, if we are going to update the Docker versions more frequently, this won't have any effect. On the other hand, if we tend to make our Docker images stable and do not upgrade them very often (as we are doing now), it will always upgrade to the latest version which i

[2018-10-28 21:10] humitos commented on #4808
I was able to reproduce this issue by importing `jaracocollections` project into my local instance and running two builds of `latest` with `readthedocs/build:3.0` image. So, it seems that it's not a problem of the `pip` version itself but with "something else".

If you take a closer look: the first command from this build https://readthedocs.org/projects/jaracocollections/builds/7963873/ is `git r

[2018-10-28 21:32] humitos commented on #4808
It shouldn't fail because of this.

We don't have any kind of check to run the command if the venv doesn't exist or to not run it if it does.

Actually, I did a simple local test:

[code]

[2018-10-28 21:47] humitos commented on #4808
In fact, by upgrading `pip` before running the command that creates the venv doesn't work either. I added this command

    python3.6 -mpip install -U pip

and it still fail with the same problem and in the log I can see that it's still using pip 9.0.3 which I don't know why yet.

[2018-10-29 08:21] akdiem commented on #4813
Yes, now the docstrings are visible on the web too. Could this have been an issue with a cached version or something like that? Because when I opened the issue, they definitely weren't.

[2018-10-29 09:46] humitos opened #4818 "Webhook fails when project has multiple integrations"
If the project has configured multiple integrations for the same provider, this line fails

https://github.com/rtfd/readthedocs.org/blob/08a97bd5a316c0a6f18684e81b23e97e862b599c/readthedocs/integrations/models.py#L218

That line is called with `args=[]` and `kwargs={'integration_type': 'github_webhook', 'project': Project}`, so if there are more than one integration for `github_webhook` for that p

[2018-10-29 15:19] stsewd commented on #4813
Yeah, probably just a delay. Can we close this issue, then?

[2018-10-29 15:31] stsewd commented on #4812
Can you please point me to the new package that was installed? Maybe the new package is causing the build time or memory limit to exceed

[2018-10-29 15:43] humitos commented on #4812
Following all the path down in #4447 you will arrive to a conda issue itself: https://github.com/conda/conda/issues/5003

We depend on them to solve this issue of "eating memory". The server just kills the docker container because it's growing on memory a lot.

There is not too much we can do from our side.

I suggest you to subscribe to that issue and we should probably close this one here.

[2018-10-29 15:44] hydrogo commented on #4812
@stsewd sorry for misunderstanding, I didn't install the new package/packages, just added one row with additional package description to the main .rst file.

[2018-10-29 16:04] #4812 closed

[2018-10-29 16:49] stsewd commented on #4808
I think I found the problem.

Pip does support reading configurations from a `pyprojec.toml` file https://pip.pypa.io/en/stable/reference/pip/#pep-518-support, when creating the virtualenv pip installs some packages and the `pyproject.toml` file is read, by renaming/removing the file, I was able to build the project without issues.

So, I'm not sure what we can do here, maybe the new deps requires

[2018-10-29 16:56] willrogers commented on #3181
https://github.com/dls-controls/pytac uses Pipenv, has a pipfile, but also has a `rtd-requirements.txt` file for this exact purpose. It's at https://pytac.readthedocs.io/en/latest/.

Thanks for looking at this!