[2018-03-28 19:00] davidfischer commented on #3555
In terms of the build, a local build took 20 full minutes on my local CPU (core i7 2.3ghz). CPU was maxed 99%+ on a single core for almost all of the time (Yay, GIL). Memory usage was less than 200MB. All but a small percentage of the time was spent on the `writing output...` step.

This tells me a few things:

* You have a lot of docs - over 700 .rst files
* Memory does not appear to be a limitin

[2018-03-28 19:00] #3555 closed

[2018-03-28 19:01] stsewd commented on #3867
Seems related to #3842, I going to take a deeper look to the code to confirm.

[2018-03-28 19:23] tannewt commented on #3867
Thanks @stsewd !

[2018-03-28 20:35] brettcannon commented on #3841
Yep, I tried and it doesn't solve it: https://readthedocs.org/projects/gidgethub/builds/6959477/

[2018-03-28 20:38] stsewd commented on #3867
So, It looks like there is a problem with this submodule

https://github.com/adafruit/circuitpython/blob/6711c5c90d497ce68ea1df249d36b32bdf2f4c6c/.gitmodules#L36-L38

Now RTD is using `GitPython` to check submodules (before, it simply executed git commands and parsed the output).

Your submodule `freetouch2` is not found by `GitPython`, and also if I run `git submodule status` it doesn't appear.

[2018-03-28 20:42] stsewd commented on #3841
@brettcannon I can't see the build. Also, you need to rebuild for it takes effect.

[2018-03-28 20:44] tannewt commented on #3867
I didn't think the name mattered. I'll poke at it. Its not working correctly for me here either. Thanks!

[2018-03-28 21:19] brettcannon commented on #3841
I did and that's the link to the build failure.

[2018-03-28 21:21] stsewd commented on #3841
@brettcannon I can't see the build, I think is because you change the privacy level of the version, maybe?

[2018-03-28 21:25] stsewd commented on #3841
The latest build I see is from 4 days ago
![screenshot-2018-3-28 builds read the docs](https://user-images.githubusercontent.com/4975310/38057269-6dbab142-32a4-11e8-9f2b-9bd2a46d1648.png)

Can you try wiping and rebuilding the latest version?

[2018-03-28 21:32] tannewt commented on #3867
I had accidentally checked in files in the spot where the submodule was supposed to be. The build is going again after this fix: https://github.com/adafruit/circuitpython/pull/724/commits/19b0b414e6091f75991be178f0ff2accd6e11124

Thanks for the help debugging!

[2018-03-28 21:32] #3867 closed

[2018-03-28 21:33] RichardLitt commented on #3851
Thanks for letting us know, @Themanwithoutaplan!

[2018-03-28 21:37] RichardLitt commented on #3865
Interesting. I am going to reopen this until someone from core can look at that suggestion, just to make sure this doesn't get lost because it's in a closed issue. Core person: feel free to close this or open a new issue for logging if you think that makes sense!

[2018-03-28 21:43] RichardLitt commented on #3832
@ze We'll get to it when we have the time. :)

[2018-03-28 23:45] brettcannon commented on #3841
All the rest of the builds are private since I don't want users stumbling on to outdated docs. Rebuilding the latest version (which is tied to `master`) built find, but I still have a `stable` version which won't build and a `stable_d` version which is tied to the actual `stable` branch.

[2018-03-29 02:34] stsewd commented on #3841
@brettcannon can you try deactivating that version (no changing the privacy)? Then wipe and rebuild all your versions.

[2018-03-29 02:44] uncelvel opened #3871 "Support request: View Docs button redirect to localhost on local running instance."
## Details

I have been Install a local RTD but when using View Docs that redirect to localhost not be a Hostname i have been config of config file before. So that's issue i fillter have not in issue before.  Or i missing some where?.

![](https://i.imgur.com/EkmEiya.png)

## Expected Result
Click to ViewDocs button that redirect to http://**hostname**:8000/doc/pj/en/latest not a http://**localhos

[2018-03-29 05:50] ginkgm opened #3873 "Can I add some clues for the language selection?"
Hi readthe docs,

## Details
Now we have a readthedocs page, supporting two languages.
Readthedocs has a button at the left bottom side which can help jump to the same page of another language (or select the doc version). e.g. from en/a/1.html to zh_CN/a/1.html.
However, the button is too small for user to see it.
How can I make it unfolded by default, or modify my template to add one line points

[2018-03-29 07:36] jab commented on #3059
You could fix this issue right now by making http://foo.readthedocs.io redirect to https://foo.readthedocs.io. Isn't it worth doing that anyway?

It would mean an extra redirect in the foo.rtfd.org case, but the end result would be the same, and you could tackle the 1-step redirect from rtfd.org independently. This would be strictly better than the current behavior, isn't blocked by #328, and seem

[2018-03-29 07:38] jab opened #3874 "http -> https redirects"
http://foo.readthedocs.org should redirect to https://foo.readthedocs.org.

[2018-03-29 07:38] jab commented on #3059
Just opened #3874 to track this independently.

[2018-03-29 12:00] sdebionne opened #3876 "Problem while building your documentation"
## Details

* Project URL: https://readthedocs.org/projects/lima-doc/
* Build URL (if applicable): https://readthedocs.org/projects/lima-doc/builds/6962290/
* Read the Docs username (if applicable): same as GitHub

## Expected Result

My documentation builds fine locally. Only the branch `unsubmodule-doc` is supposed to work (not master) at this point.

## Actual Result

There was a problem with R

[2018-03-29 13:28] Themanwithoutaplan commented on #3851
Of course, it would be really nice if we didn't have to shoehorn APIDOC support into RTD like this.

[2018-03-29 15:53] humitos commented on #3399
I like this idea.

Adding a little more to this, I think we can make the `Build.error` a ForeignKey to a new model called `BuildError` and instead of storing always the same string in the database, re use them by linking to a `BuildError` instance since we are not having random errors anymore.

Besides, each of this `BuildError` (or the `Build` itself could have the logic to get the suggestion inv

[2018-03-29 16:20] agjohnson commented on #3399
I'd vote against a separate table, it probably isn't necessary. I think we want to add a `Build.error_id` that would point to an id on a build exception class. During display of the build, if a project has a `Build.error`, we display that (for legacy purposes, also for unhandled error cases). Otherwise, we do a lookup of `Build.error_id` -- this field should exist on all new builds. I think the er

[2018-03-29 16:32] davidfischer commented on #3874
This looks like a dupe of #3282.

[2018-03-29 16:33] #3874 closed

[2018-03-29 16:33] agjohnson commented on #3876
We see the following error here. I'm not sure if this is a wonky submodule config or a legitimate issue with our submodule handling:

[code]

This isn't the only build we notice this type of error on, so this is pointing to a bug. Could you elaborate on the submodule config? That might help us determine the cause here, as I'm not quite sure what this error is currently.

[2018-03-29 16:34] agjohnson commented on #3871
You likely need the `PUBLIC_DOMAIN` setting

[2018-03-29 16:36] agjohnson commented on #3870
I have another client that notices long Sphinx build times. I'd be curious what a profile on Sphinx looks like for either project. I'm not quite sure where it's spending time currently, though I have some ideas.

[2018-03-29 16:38] agjohnson commented on #3842
Tags and stable are working again. Closing.

[2018-03-29 16:38] #3842 closed

[2018-03-29 16:41] agjohnson commented on #3643
Is there a specific reason why BaseEnvironment shouldn't know about command reporting? It seems like the best place to implement this logic is in a shared base

[2018-03-29 16:43] agjohnson commented on #3186
This isn't actionable by non-core folks, so not a good first issue.

[2018-03-29 16:50] agjohnson commented on #3806
+1 on major version, if only to reduce the number of specs we're supporting. We will have a lot more backwards incompatible changes to support here though, so I think a lot of changes will be bumping major versions anyways. New feature additions to the spec shouldn't break anyone's config.

[2018-03-29 16:59] pineapplemachine commented on #2032
I am having a similar problem. However, in my case on the versions page it shows the correct commit even though visiting the "stable" docs still shows the docs from the previous v0.1.0 tag. I have verified that it is not a caching issue on my end.

![image](https://user-images.githubusercontent.com/7266412/38102313-8636d344-338b-11e8-976c-857898b0a096.png)

[2018-03-29 17:01] stsewd commented on #2032
@pineapplemachine can you provide the build url, and project?

[2018-03-29 17:03] pineapplemachine commented on #2032
@stsewd I fixed the problem a few minutes after posting! It was my own mistake, I had not rebuilt stable. (I wrongly assumed it would have rebuilt automatically)

_Sent from my Samsung SAMSUNG-SM-G891A using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2018-03-29 17:07] agjohnson commented on #3523
Yeah, i agree on priority here. This is a feature that i consider more important for commercial hosting, but I also haven't had any requests for this feature though.

[2018-03-29 17:09] agjohnson commented on #3523
Also, I think a lot of what I want to add would probably be more applicable as a django admin action instead of an on site admin only feature.

[2018-03-29 17:11] humitos commented on #3643
`BuildEnvironment` is the one that should know about recording a Build since it's the one used for building process.

`BaseEnvironment` is used not just for Build but also for VCS commands.

[2018-03-29 17:25] agjohnson commented on #2140
I'd avoid a settings.default given our already complex setting hierarchy. I think settings.base is the correct place for defaults.

+1 on making this our pattern going forward, and +1 on making refactoring this a non-priority cleanup task.

[2018-03-29 17:32] stsewd commented on #3842
@agjohnson other projects still has this issue, can be tracked on https://github.com/rtfd/readthedocs.org/issues/3837 anyway.

[2018-03-29 17:47] agjohnson commented on #3857
I forgot to follow up here. This fix went live on monday, so issues with relative submodule urls should be resolved.

[2018-03-29 17:47] #3857 closed

[2018-03-29 18:40] brettcannon commented on #3841
I've tried various approaches to deactivation and such and that doesn't seem to quite fix it.

[2018-03-29 22:41] dend commented on #3161
@agjohnson any momentum on this particular item? What is the current recommendation to NOINDEX/NOFOLLOW a site?

[2018-03-29 23:25] humitos opened #3879 ""View docs" from build detail page link is wrong"
When a build is completed a "View docs" link is shown

![captura de pantalla_2018-03-29_18-22-35](https://user-images.githubusercontent.com/244656/38118098-2a19358c-337e-11e8-868e-fc70ea0f45e4.png)

https://github.com/rtfd/readthedocs.org/blob/adb5392c47a1b3fe506524d898dd147b038d4140/readthedocs/templates/builds/build_detail.html#L57-L64

This link points to `/project/version/latest/` because the

[2018-03-30 01:38] jdillard commented on #557
I took the sitemap logic out of guzzle_sphinx_theme and made it an extension/package here: https://github.com/jdillard/sphinx-sitemap

It's my first time making a package, but several people are using it successfully and I have it running in a few production environments myself.

[2018-03-30 05:09] stsewd commented on #3879
Sorry, I missed that :/ I going to see if the link can be retrieved from the API or can be formed with some predefined information.

[2018-03-30 06:02] stsewd commented on #3837
@apcraig @irmen this was fixed on https://github.com/rtfd/readthedocs.org/pull/3843, can you try building again and see if your builds pass now?

[2018-03-30 16:07] apcraig commented on #3837
It works now for me.  Thanks.  I will close this issue.

[2018-03-30 16:07] #3837 closed

[2018-03-30 17:47] irmen commented on #3837
@stsewd no luck, the stable build is still stuck at the previous version's commit in my project. I don't know what to do to solve this (apart from recreating my whole project, which is not something I'd like to do)

[2018-03-30 20:36] mars1026 opened #3884 "Feedback/logging for build performance analysis"
## Details

* Project URL: http://www.github.com/plaidml/plaidml/
* Build URL (if applicable): https://readthedocs.org/projects/plaidml/builds/6965966/
* Read the Docs username (if applicable): vertexai

## Expected Result

The sphinx build takes 47 seconds on my unremarkable dev laptop, using a clean virtualenv using only the packages linked from docs/requirements.txt, so I expected that readthed

[2018-03-30 23:40] agjohnson opened #3885 "Document plantuml usage"
Document how to use sphinxcontrib-plantuml with RTD.

Because X11 isn't exposed through docker, java needs to be called in headless mode. Heck, we can likely set this in our conf.py template as well, so that users have the correct config.

To get it to work, you'll need:

[code]

Also, you need to run the `latest` image.

[2018-03-30 23:41] agjohnson commented on #2421
Closing due to inactivity

[2018-03-30 23:41] #2421 closed

[2018-03-30 23:44] agjohnson commented on #2425
Builds look more stable now on this project, and we haven't collected any build information. Closing this but feel free to reopen if there is anything we should look at.

[2018-03-30 23:44] #2425 closed

[2018-03-30 23:45] agjohnson commented on #2520
Closing due to inactivity.

[2018-03-30 23:45] #2520 closed

[2018-03-30 23:47] agjohnson commented on #2678
We've decided not to incorporate a feature like this. In the future I think we might be able to offer better search on our homepage for projects, but in reality, this is not the normal path for users to find documentation on our site.

Closing this as an off roadmap feature.

[2018-03-30 23:47] #2678 closed

[2018-03-30 23:53] agjohnson commented on #2808
The original issue looks cleared up, but looking into recent builds, your project has a broken git submodule configuration:

[code]

Closing this as not an issue with RTD, but feel free to reopen if you come across something we're doing wrong.

[2018-03-30 23:53] #2808 closed

[2018-03-30 23:54] agjohnson commented on #3094
Closing due to inactivity.

[2018-03-30 23:54] #3094 closed

[2018-03-30 23:57] agjohnson commented on #3124
Closing this as I don't think there is anything we can do with our current API. In future API versions, I assume we'll probably make this data closed off to the public. Querying the API should be a authed user function, and return should be *your* domains, not *everyone's* domains.

[2018-03-30 23:57] #3124 closed

[2018-03-31 00:00] agjohnson commented on #3192
You can also delete the integration from our side if you've connected your project at some point in the recent past.

Closing this as I don't think this is actionable anymore and I haven't replicated it since. I think the solution is to reconnect webhook if you are having trouble with webhooks.

[2018-03-31 00:00] #3192 closed

[2018-03-31 00:00] agjohnson commented on #3229
Closing due to inactivity.

[2018-03-31 00:00] #3229 closed

[2018-03-31 00:00] agjohnson commented on #2960
Closing due to inactivity.

[2018-03-31 00:00] #2960 closed

[2018-03-31 00:00] agjohnson commented on #2518
Closing due to inactivity.

[2018-03-31 00:00] #2518 closed

[2018-03-31 00:01] agjohnson commented on #2198
Closing due to inactivity.

[2018-03-31 00:01] #2198 closed

[2018-03-31 00:03] agjohnson commented on #2031
This seems like a workable solution for the issue. Closing due to inactivity.

[2018-03-31 00:03] #2031 closed

[2018-03-31 00:05] agjohnson commented on #2271
Closing this due to inactivity on the question raised by @stuartaccent. Unrelated discussion can be brought to a new ticket.

[2018-03-31 00:05] #2271 closed

[2018-03-31 00:09] agjohnson commented on #1843
Hoo boy. Rereading this thread was a rollercoaster. Glad it was resolved-ish!

Closing this for now.

[2018-03-31 00:09] #1843 closed

[2018-03-31 00:10] agjohnson commented on #2919
If this is a matter of an old Python, you can now build with python3.6 now as well. Our docs on our YAML config have more info.

Closing due to inactivity.

[2018-03-31 00:10] #2919 closed

[2018-03-31 00:15] agjohnson commented on #1863
Updated the description. I think this is probably a valid feature, but low priority

[2018-03-31 00:17] agjohnson commented on #2632
It sounds like the original issue was resolved. I think we have some more work to do on git parsing of this information though. Closing this issue as we have a few already around utf8 support.

[2018-03-31 00:17] #2632 closed

[2018-03-31 02:57] stsewd commented on #3873
Maybe putting a section on your main docs? Or indicate this on the README or the front page of your project?

Also, this would be an issue of the RTD theme https://github.com/rtfd/sphinx_rtd_theme. And this is a very popular theme, so I think probably most of the users know how to change the lang.

[2018-03-31 03:34] jakirkham opened #3886 "Option to build and preview PRs"
Would be great to have an option to build PRs and preview the results. Also would be good to have RTD builds included as a status check on commits.

[2018-03-31 03:49] stsewd commented on #3886
Duplicate of https://github.com/rtfd/readthedocs.org/issues/1340

[2018-03-31 04:35] stsewd commented on #2904
With the current implementation of redirects, we can have something like this in the yaml file

[code]

More information about redirects https://docs.readthedocs.io/en/latest/user-defined-redirects.html

[2018-03-31 18:55] stsewd commented on #2596
Everything works correctly on https://readthedocs.org/projects/intermine/search/?q=portal

The resulted URL is http://intermine.readthedocs.io/en/latest/webapp/linking-in/?highlight=portal
(without the `index` part).

Searching on the site http://intermine.readthedocs.io/en/latest/search/?q=portal&check_keywords=yes&area=default

The resulted URL is wrong http://intermine.readthedocs.io/en/latest/

[2018-03-31 19:27] stsewd commented on #2596
I can't replicate this on my local instance, I don't have elastic search set up, but the search works on your project, so, I think there is an overlapping with elastic search.

[2018-03-31 19:39] stsewd commented on #2776
Here is the relevant code, and looks like there is an explanation about this issue there.

https://github.com/rtfd/readthedocs.org/blob/393e31ad3a9aafee297df64f1a654ffcda7ef04a/readthedocs/doc_builder/python_environments.py#L369-L372

[2018-03-31 23:35] vfaronov opened #3887 "‘stable’ is built from branch instead of tag"
## Details

* Project URL: https://readthedocs.org/projects/httpolice/
* Build URL (if applicable): https://readthedocs.org/projects/httpolice/builds/6974496/
* Read the Docs username (if applicable): vfaronov

## Expected Result

The ‘stable’ version on Read the Docs should be built from the latest version tag that is not pre-release. Currently, this is [0.7.0](https://github.com/vfaronov/httpoli

[2018-04-01 02:18] qnzhou commented on #2808
Thanks @agjohnson !  I was wondering why the recent build fails.  Where did you find the error info?  I cannot find this error message from the logs.

[2018-04-01 02:43] goerz commented on #2776
It would work to to put a URL in the `pip` sub-section of `depencencies` in the conda env file, except that the RTD built process calls `pip install --ignore-installed ...` later on. That means it will complain about any pip packages it can't find on PyPI, even though they're already installed in the conda environment!

[2018-04-01 03:34] goerz commented on #3025
Using `setup_py_install: true` and `pip_install: false` in `readthedocs.yml` works, but it requires that the conda environment file lists *all* dependency packages that should be installed through pip. As an example:

[code]

[2018-04-01 03:45] stsewd commented on #3887
I import your project on my local instance, the `stable` version point to the correct commit. But I can see on your versions list `stable` points to a branch...

![screenshot-2018-3-31 versions read the docs](https://user-images.githubusercontent.com/4975310/38169633-01ee561a-3535-11e8-9168-38c363ef6d2a.png)

Did you try wiping the environment and building again? (you can do this on `versions`, `e

[2018-04-01 09:38] vfaronov commented on #3887
Just tried; didn’t help: https://readthedocs.org/projects/httpolice/builds/6975726/

[2018-04-01 09:39] vfaronov commented on #3887
Correction: I did actually have a `stable` branch for at least one brief period in the past, but that was a long time ago, and there have since been successful builds of the ‘stable’ version from tag.

[2018-04-01 16:29] stsewd commented on #3887
Did you try doing the wipe on the `latest` version?

[2018-04-01 16:32] stsewd commented on #3887
Also, I going to see if I can replicate this by deleting a branch on my local instance, related to https://github.com/rtfd/readthedocs.org/issues/3714 https://github.com/rtfd/readthedocs.org/issues/3729 https://github.com/rtfd/readthedocs.org/issues/2032 https://github.com/rtfd/readthedocs.org/issues/3763

Note: The some users solve this by deleting the project and creating it again (the same name

[2018-04-02 03:37] ericholscher commented on #557
Neat, this is definitely something we could incorporate into the standard build process.

[2018-04-02 03:51] stsewd commented on #3887
After playing around creating and deleting some branches/tags and resync the repo, I was able to reproduce the issue and ending with several unexisting versions and the stable version stuck on a previous commit.

### My versions list

![screenshot-2018-4-1 versions read the docs](https://user-images.githubusercontent.com/4975310/38182253-d59d8350-35fd-11e8-84cd-7fb147052ce0.png)

### My repo

[cod

[2018-04-02 06:38] vfaronov commented on #3887
@stsewd Thank you for debugging. This is not a big issue for me — I’m unlikely to have a new stable release anytime soon, and then I can easily just create the `stable` branch — so I’ll live with it for now.

[2018-04-02 15:13] jdillard commented on #557
Great! This has been a project to help me learn new things and I'm very much still learning, so let me know if you need anything from me.

[2018-04-02 16:59] humitos opened #3888 "`basic` attribute not used on `trigger_build`"
While debugging a unrelated different thing, I found that the attribute `basic` is not used at all when calling `trigger_build`.

https://github.com/rtfd/readthedocs.org/blob/7aa6f4d41acbc8b35b7f2b891496ae0ded9f68f8/readthedocs/core/utils/__init__.py#L101

I don't know what this was useful for (I didn't check the git log yet) but it's something that we can probably remove for cleanness.

[2018-04-02 17:19] humitos commented on #3483
@davidism Hi! I'm about to start working on this issue and I would like to have some more feedback from your side to know if by implementing the design proposed in #3490 will fit your needings or there is something else missing from our side to achieve this issue.

[2018-04-02 18:21] humitos commented on #3481
I'm taking a look at the discussion here and I think there are different cases here that should be considered:

1. inform the reader he is reading an "unreleased" version when seeing `latest`
   * this is not useful for all the projects, since there are project that uses `latest` as their main documentation and probably they won't want to see this note at all
   * not all the projects will want th

[2018-04-02 19:29] stsewd commented on #3837
@irmen please see https://github.com/rtfd/readthedocs.org/issues/3887#issuecomment-377848380 for more information

[2018-04-02 19:30] stsewd commented on #3841
@brettcannon please see https://github.com/rtfd/readthedocs.org/issues/3887#issuecomment-377848380 for more information

[2018-04-02 20:10] humitos commented on #3887
I suppose that we never deleted versions. I think the only way to do this is by deleting the project and re-importing.

Then I found this line from 2013

https://github.com/rtfd/readthedocs.org/blob/7aa6f4d41acbc8b35b7f2b891496ae0ded9f68f8/readthedocs/api/base.py#L101

which now is always raising an exception because the `_delete_versions` method doesn't exist. So, it seems that at some point it w

[2018-04-02 20:11] humitos commented on #3887
On the other hand, it seems there is an endpoint to delete non-existent versions in the repo: https://github.com/rtfd/readthedocs.org/blob/393e31ad3a9aafee297df64f1a654ffcda7ef04a/readthedocs/restapi/utils.py#L64-L85

[2018-04-02 20:15] stsewd commented on #3887
Yeah, I think this is what I saw a time ago

[2018-04-02 20:30] anilgursel opened #3890 "Fail. Check back in a bit!"
## Details

[code]

* Project URL: https://readthedocs.org/projects/squbs/  (I get the above error with this)
* Build URL (if applicable): https://readthedocs.org/projects/squbs/builds/  (I can actually access to this)
* Read the Docs username (if applicable):

## Expected Result

I would like to be able to access https://readthedocs.org/projects/squbs/ and not required to manually add the "builds

[2018-04-02 20:30] brettcannon commented on #3841
@stsewd thanks for the info. I can just live with being off the master (good motivation to make releases more frequently 😉 ).

[2018-04-02 21:15] irmen commented on #3837
@stsewd thanks for the pointer. I will have a look. It is not a big issue though unless it is still stuck when I publish the next release. We will see.

[2018-04-02 23:33] davidism commented on #3483
That appears to be documenting RTD's internal context. It mentions adding context to `conf.py`, but the problem with that is discussed above. This issue is about adding a field to the RTD admin form to provide context that is independent of the version being built. The version information was an example, but this could apply to arbitrary context a project wants to add.

[2018-04-02 23:44] stsewd commented on #3887
@humitos the `_delete_versions` was removed on a refactoring https://github.com/rtfd/readthedocs.org/commit/d11cc9f2a95054c5be3a53e9b47eb17d684f1d38#diff-aeef6dfbd37b07c9cc73482e8c2fb36eL95

[2018-04-02 23:47] #3886 closed

[2018-04-02 23:47] RichardLitt commented on #3886
Thank you, @jakirkham.

[2018-04-03 00:10] humitos opened #3891 "Trigger a build and wipe the same version"
I just realize that if you Trigger a Build on Version `N` and then go to the `N` Version details page and Wipe the version, you will be allowed to wipe it but you will get a weird error on the build.

![captura de pantalla_2018-04-02_19-10-25](https://user-images.githubusercontent.com/244656/38222303-86d27d1e-36a9-11e8-8722-ab223e2efe6d.png)

Not sure what is the solution here, but I wanted to cre

[2018-04-03 00:21] stsewd commented on #3887
Well, I have a missing migration and that was giving an error when deleting the versions, but still are some versions remaining (and now my stable branch is updated) @humitos maybe there is something similar on the rtd servers?

![screenshot-2018-4-2 versions read the docs](https://user-images.githubusercontent.com/4975310/38222500-b05af58e-36aa-11e8-8e70-f9c5a8643cf0.png)

[2018-04-03 00:27] stsewd commented on #3887
And as `2.0_a` and `2.0_b` has the same commit of `2.0` those aren't deleted. So the question is how they were created? Maybe something with my missing migration? I'm going to try to replicate the issue again.

[2018-04-03 01:13] humitos opened #3892 "500 when processing project.description via restructuredtext tag filter"
Accessing https://readthedocs.org/projects/pydbgen/ you will get a 500.

The error happen because the title overline is not accurate:

[code]

The important code sections.

Template:

https://github.com/rtfd/readthedocs.org/blob/393e31ad3a9aafee297df64f1a654ffcda7ef04a/readthedocs/templates/core/project_details.html#L79-L83

Python code:

https://github.com/rtfd/readthedocs.org/blob/393e31ad3a9aaf

[2018-04-03 01:27] stsewd commented on #3887
Afte applying the migrations I can't replicate the issue, but I learned that if some error happens here

https://github.com/rtfd/readthedocs.org/blob/393e31ad3a9aafee297df64f1a654ffcda7ef04a/readthedocs/restapi/views/model_views.py#L171

The database will end with inconsistencies, giving the above problems.

[2018-04-03 04:39] ericholscher commented on #3481
This is way too overcomplicated. I'd argue that we should _remove_ this feature, before we try to build such complexity into it. I've already tried in the past to automate "is this version supported?" and it proved impossible to do in a generic way.

In particular, setting this per-version seems like way too much overhead, and likely not something that is specifically useful for users. In particul

[2018-04-03 05:34] stsewd commented on #3570
@humitos I was submitting a PR to fix this, but I realize that this endpoint doesn't work at all. the `_sync_versions` and `_delete_versions` were deleted on https://github.com/rtfd/readthedocs.org/commit/d11cc9f2a95054c5be3a53e9b47eb17d684f1d38#diff-aeef6dfbd37b07c9cc73482e8c2fb36eL95

So always return an exception

https://github.com/rtfd/readthedocs.org/blob/393e31ad3a9aafee297df64f1a654ffcda7e

[2018-04-03 05:35] stsewd commented on #3570
Should this endpoint be deleted then?

[2018-04-03 06:01] stsewd commented on #3594
I found the guidelines on other repo https://github.com/rtfd/guidelines https://read-the-docs-guidelines.readthedocs-hosted.com/branding.html

[2018-04-03 07:32] sdebionne commented on #3876
Thank you for you kind support! It was indeed an issue with a ghost submodule. Deleting the submodule was the solution, not sure why I did not catch it when cloning and compiling locally. Thank you again.

[2018-04-03 07:32] #3876 closed

[2018-04-03 10:19] pevogam commented on #337
I encountered the same issue. I am not sure what is the meaning of creating a new issue and lose all the information already gathered here if it is the same issue in the end. @iblis17 Can you post here a link with your reopened issue then?

[2018-04-03 13:04] reox commented on #3756
just wanted to know if there are any news here? thanks in advance!

[2018-04-03 13:36] davidism commented on #3481
Given that the RTD context is documented now, and contains the version information necessary to implement this, that would be fine. It just means you need a custom theme of

[2018-04-03 15:58] jeancochrane commented on #3630
I haven't made much more progress on this, although I've tried pretty much every combination of Nginx config URIs that I can think of.

My suspicion right now is that the redirect is a red herring -- I'm guessing RTD sends back a canonical URL to the proxy, and when there is no domain then `slug.readthedocs.io` is the default domain. The crux of the issue seems to be that https://dedupe.io/develop

[2018-04-03 19:17] stsewd commented on #337
@pevogam I think the this is the issue https://github.com/rtfd/readthedocs.org/issues/2163

[2018-04-03 19:45] stsewd commented on #3799
Hi, @rajujha373 are you working on this issue?

[2018-04-03 19:55] pevogam commented on #337
@stsewd Thanks a bunch!

[2018-04-03 20:07] davidism commented on #3481
Extending the RTD theme  / template locally isn't particularly complicated, but it's not thoroughly documented on Sphinx's side. I'd recommend not making people do this just to get a dev / old version message. It seems like something that should already be part of the RTD theme since RTD is already doing a lot with the version information.

[2018-04-03 22:03] virtualtam commented on #1088
Hi,

This issue seems to have been fixed (and/or worked around) by #3361 and #3496, I can confirm the ReadTheDocs search module works properly with MkDocs for the [Shaarli Documentation](https://shaarli.readthedocs.io/en/master/) (ref. https://github.com/shaarli/Shaarli/issues/1033)

Thanks @d0ugal, @ericholscher and @humitos :)

[2018-04-03 22:46] stsewd commented on #3890
Related to #3892

[2018-04-04 00:16] humitos commented on #1088
@virtualtam I'm not very into mkdocs nor search, but, does your last comment mean that we need to close this issue or there is something else missing to track here?

(thanks for the update, though!)

[2018-04-04 00:26] humitos commented on #3890
@anilgursel Hi! The problem is your username which has some "weird" characters on it (allowed ones, though) but they are not allowed in the regex that resolves the URL for your profile.

https://github.com/rtfd/readthedocs.org/blob/393e31ad3a9aafee297df64f1a654ffcda7ef04a/readthedocs/profiles/urls/public.py#L10

We should probably change that regex to fit the allowed characters.

... checking the

[2018-04-04 00:31] stsewd commented on #3890
I think there is a PR for that issue https://github.com/rtfd/readthedocs.org/pull/3725

[2018-04-04 00:34] stsewd commented on #3890
@humitos the `.` is inside a character class, so it matches a literal `.`.

[2018-04-04 00:57] humitos commented on #2858
It seems that we are not deleting `Version` anymore and this chunk of code is broken: https://github.com/rtfd/readthedocs.org/issues/3887#issuecomment-378029743 has more information about this issue.

[2018-04-04 01:09] humitos commented on #3887
@stsewd I'm still a little confused here but I think that we are close to the solution.

Could you write a test case that makes this to fail? I will appreciate it :)

Removing that line of the `api_utils.delete_versions` will fix it and that test will pass?

[2018-04-04 01:14] humitos commented on #534
From my understanding this is happening because we don't remove the `Version` instances that are not matching to a branch/tag.

So, if the original branch was called `latest` we create a `Version` instance with the attribute `machine=False` (which means that this is not a version automatically created by RTD). Then, if you remove the branch from the git repository, we don't remove&create that `Ver

[2018-04-04 01:36] stsewd commented on #3887
@humitos I will write the test, but all this is because if some problem happens while syncing the versions, the database ends with inconsistencies (like having to versions with the same commit). We can't rollback the db because this operation is executed from the API. So, I think a solution could be writing the code in such way that can detect and fix these inconsistencies while syncing the new ve

[2018-04-04 01:39] stsewd commented on #3887
And I'm not sure why we are getting so many issues about this recently, maybe the servers (from the API) were down at this exact time?

[2018-04-04 01:53] #3699 closed

[2018-04-04 05:57] ericholscher commented on #3481
It's not a custom theme, it's a simple Sphinx extension that could implement the logic and render it on the pages. The hard part is *defining what versions are active/supported/newest*. We've had a number of bugs in our tries to do this automatically, so it seems like something that must be manual.

I think we could build an opt-in system that let users define which of their versions are supported

[2018-04-04 07:31] virtualtam commented on #1088
@humitos from a user's perspective, the search feature works for documentation generated with MkDocs and hosted on RTD, so I would suggest closing this issue (unless further changes are needed).

[2018-04-04 15:41] humitos opened #3900 "Error when recording commands with NULL (0x00) in the output"
I found that there are some `sphinx-build` commands that use NULL (0x00) character in the output and that output is used to hit the API endpoint https://readthedocs.org/api/v2/command/

This endpoint fails because

    ValueError('A string literal cannot contain NUL (0x00) characters.',)

We do some sanitization at https://github.com/rtfd/readthedocs.org/blob/40a4ff3337812621d3c26a0d93d783e097da5a

[2018-04-04 15:51] davidfischer commented on #3892
I made a small edit as this issue was referencing my fork of RTD.

[2018-04-04 19:35] robbert-harms opened #3903 "Valid webhook"
## Details

* Project URL: https://readthedocs.org/projects/mdt-toolbox/
* Build URL (if applicable): https://mdt-toolbox.readthedocs.io/en/latest_release/
* Read the Docs username (if applicable):

## Expected Result

Getting the automatic webhook to Github working again.

## Actual Result

I recently deleted a project from ReadTheDocs because I wanted to change the URL to a different name. Ever

[2018-04-04 22:06] humitos opened #3906 "No TeX files were found"
## Details

* Project URL: http://readthedocs.org/projects/pypy/
* Build URL (if applicable): http://readthedocs.org/projects/pypy/builds/6993675/

## Expected Result

Sucessful build.

## Actual Result

The error `No TeX files were found` was reported.

Two things here:

1. As this raises a `BuildEnvironmentError` the build is marked as FAILED:

https://github.com/rtfd/readthedocs.org/blob/786edd

[2018-04-05 00:13] stsewd commented on #3887
ok, I was able to replicate the issue with the repeated versions without raising any exceptions

- Create a tag and a branch with the same name (`1.0`)
- Build the docs on RTD
- Now we have 2 versions (`1.0`, `1.0_a`)
- Recreate the tag with another commit (`git tag -f 1.0`)
- Build the docs on RTD
- Now we have **3** versions (`1.0`, `1.0_a`, `1.0_b`)

The stable version is still updated.
Doesn't

[2018-04-05 05:54] stsewd commented on #3887
I was able to replicate the issue about the stable versions, looks like it loses his `machine created` attribute at some point.

And it was more easy to replicate that the other one...

- Import the project
- Create a tag named `stable`
- Build the docs on RTD
- And we end with a stable version stuck with the commit of the previous tag (`machine created` == `False`)

[2018-04-05 06:01] stsewd commented on #3887
On the previous step, I had a tag `1.0`. If the tag `stable` is the only created at the moment  also works

[2018-04-05 08:27] #3892 closed

[2018-04-05 11:01] rajujha373 commented on #3799
Hi, @stsewd . Yes, Im working on this issue. :)

[2018-04-05 15:13] lgarcin opened #3910 "Build failed"
Build #6995609 failed but I can't see any error in the build log.

Thanks for this great tool.

[2018-04-05 15:20] avanobberghen opened #3911 "Build fails - id 6997054"
## Details

* Project URL: https://readthedocs.org/projects/openimis/
* Build URL (if applicable): https://readthedocs.org/projects/openimis/builds/6997054/
* Read the Docs username (if applicable): openimis

## Expected Result

I'm trying to generate documentation from GitHub. I have a "docs" folder, a index.rst and a conf.py in my repository, and I can generate the (html) documentation locally w

[2018-04-05 16:59] stsewd commented on #3910
@lgarcin can you please provide the project and build URL?

[2018-04-05 17:09] jeancochrane commented on #3630
Finally got this working! I'm still not totally sure what the problem was, but changing the domain to https://docs.dedupe.io (i.e. using a reserved subdomain) caused everything to work as expected with no problems. I suspect something about the extended path of `/developers/library/` wasn't playing well with RTD.

Thanks for your help @humitos and @davidfischer! I really appreciate it.

[2018-04-05 17:09] #3630 closed

[2018-04-05 18:51] stsewd commented on #2968
So the problem here is to redirect to the default version of any translation when visiting `/{lang}/`.

[2018-04-05 18:58] stsewd commented on #3911
I was able to build your docs on my local instance, can you try building again?

[2018-04-05 19:09] mfrasca commented on #2968
yes, this is a better title for the issue. I guess it wasn't clear to me either, what was going on.

[2018-04-05 19:14] agjohnson opened #3914 "Add some rule based features around versioning and tags"
We already pin stable to the latest release version, but it would be interesting to have some rules around activating new versions as they come in as well. Some ideas for rules users could add:

* Automatically activate `M` major versions and `N` minor versions
* Don't activate beta releases
* Don't activate based on regex
* Activate based on regex (user provided regex could be a DOS attack vector

[2018-04-05 19:22] agjohnson opened #3915 "New translation objects"
I'm not yet sure how this plays with our project based translations, and maybe it's just supplementary, but translations shouldn't have to be a project-level object. On a base project, you should be able to just select the languages you want to build for, similar to versions.

Having a setting on a single project makes it far easier to manage translations, so i think this could help manage transla

[2018-04-05 19:58] humitos commented on #3914
I remember there was a similar issue reported by a user saying like they want to auto build new releases instead of going to RTD and activate them. I can't find it at the moment. Maybe there are more info/context/useful info there.

[2018-04-05 21:38] dsblank commented on #3738
Downgrading worked for me too. Thanks for reporting, and sharing work-around!

[2018-04-06 06:07] Strangehill opened #3917 "The localization dropdown incorrectly refers to "Taiwanese""
"Taiwanese" is a different language, the term used in the dropdown is more commonly and accurately referred to as "Traditional Chinese".

[2018-04-06 12:25] lgarcin commented on #3910
* Project
https://readthedocs.org/projects/bouquinpython/
* Build URL
https://readthedocs.org/projects/bouquinpython/builds/6995609/

[2018-04-06 15:58] pdp10 opened #3918 "pip 9.0.1 fails to process sphinx-autoapi"
## Details
I seem to have an error if I use sphinx-autoapi in my docs/requirements.txt file.
At the moment I have *disabled* the generation of the source code documentation because of this.

The generation of the source code documentation works fine on my local machine (Linux 64 bit, Python 3.6.5, pip 9.0.3).

* Project URL: https://github.com/pdp10/sbpipe
* Build URL (if applicable): #6991372
* R

[2018-04-06 19:44] drewejohnson opened #3919 "Build failed"
## Details
Attempting to build a tagged version of a project using the `stable` build, and I received the following error:

I noticed the project wasn't auto-triggering the stable build after the tag, but the latest and develop branch are contain the updated project code. I got this error after manually triggering the build

* Project URL: http://serpent-tools.readthedocs.io/en/latest/?badge=lates

[2018-04-07 07:44] #3255 closed

[2018-04-07 14:43] fsimkovic opened #3923 "UnicodeDecodeError: 'ascii' codec can't decode byte 0xc3"
## Details

* Project URL: https://readthedocs.org/projects/conkit/
* Build URL (if applicable): https://readthedocs.org/projects/conkit/builds/7001226/
* Read the Docs username (if applicable): fsimkovic

## Expected Result

The documentation to build successfully.

## Actual Result

[code]

[2018-04-07 15:27] Artanicus opened #3924 "Flaky build environment, AttributeError: _ep_map"
## Details

* Project URL: https://readthedocs.org/projects/python-cozify
* Build URL (if applicable): https://readthedocs.org/projects/python-cozify/builds/7006253/ vs. https://readthedocs.org/projects/python-cozify/builds/7006257/
* Read the Docs username (if applicable): Artanicus

## Expected Result
Build either passes or fails consistently.

## Actual Result
Build success seems random and eve

[2018-04-07 18:48] humitos commented on #3923
This doesn't see to be a problem with RTD code, but with `numpydoc`. Are you able to build the documentation locally? (outside RTD)

[2018-04-07 18:59] humitos commented on #3919
It seems it was a random failure.

All of your following builds worked properly. Even `stable`.

I didn't find any relevant issue with this that we can debug.

[2018-04-07 19:06] fsimkovic commented on #3923
Local builds work fine using the default `make html` command.

The version numbers of `sphinx` and `numpydoc` are below
[code]
[code]

[2018-04-07 19:08] drewejohnson commented on #3919
Sure enough, the tagged builds and stable builds have gone through :man_shrugging:

[2018-04-07 19:09] fsimkovic commented on #3923
Just to confirm, running with `numpydoc==0.8.0` the error is reproducible locally.

[2018-04-07 19:10] humitos commented on #3923
Yeap. You are using 0.8.0 in RTD. That's the problem.

You will need to pin it to 0.7.0.

I'm closing the isuse. Thanks for the update.

[2018-04-07 19:10] #3923 closed

[2018-04-08 05:45] goerz opened #3925 "Broken sidebar when using YAML config, conda, and pip_install"
* Project URL: https://qnet.readthedocs.io/en/latest/index.html#
* Build URL (if applicable): https://readthedocs.org/projects/qnet/builds/7008115/

I'm seeing a strange effect where the navigation sidebar is broken depending on the RTD configuration. The effect is that clicking on the "Read the Docs"/version at the very bottom of the sidebar does nothing (it should pop up the version selector). A

[2018-04-08 06:02] goerz commented on #3925
I can confirm that indeed the problem is that `sphinx_rtd_theme` is listed in `setup.py`. The commit https://github.com/mabuchilab/QNET/commit/df4b354255c3be2341bf0e18c01ae6238ba7673c also fixes the problem

[2018-04-08 07:10] goerz commented on #3925
I'm pretty sure this mess is caused in part by #3025

[2018-04-08 08:02] kmuehlbauer commented on #3925
@goerz I'm facing the same error. A bit confusing, though, because this behaviour was introduced sometimes after 28th of March.

You suggest to remove the `sphinx_rtd_theme` from the `readthedocs.yml` as a fix, right?

[2018-04-08 15:44] goerz commented on #3925
Yes (or rather, from the conda environment file that is referenced in `readthedocs.yml`).

More broadly, if you look at the details of the build process, you'll see that RTD installs the `sphinx_rtd_theme` automatically after setting up the environment (which is where the environments file is used), but before installing the package for which the documentation is being built. This is the line

[2018-04-08 16:15] kmuehlbauer commented on #3925
Yes, I thought about that particular conda install line before. I think I need to experiment a bit, since my setup is slightly uncommon.

I install all package dependencies via the conda-part of RTD (sphinx, sphinx_rtd_theme, sphinxcontrib-bibtex and nbsphinx included).
But then I pull in some other artifacts inside `conf.py`, where I also do a `pip install --no-deps` of the package I want the API

[2018-04-08 21:07] htgoebel opened #3926 ""Edit on GitHub" for "stable" points to commit-id"
## Details

* Project URL: https://readthedocs.org/projects/pyinstaller/
* Build URL:http://pyinstaller.readthedocs.io/en/stable/
* Read the Docs username: htgoebel

## Expected Result

The link behind "Edit on Github" should point to the blob under the most current tag (here: v3.3.1):
https://github.com/pyinstaller/pyinstaller/blob/v3.3.1/doc/index.rst

## Actual Result

1. The link points to a b

[2018-04-09 04:44] stsewd commented on #3926
Thanks for reporting, this issue is a duplicate of #1820

Also, RTD is moving to use `gitpython` instead of parsing the tags/branches manually, so I suppose that would fix the issue.

[2018-04-09 04:44] #3926 closed

[2018-04-09 05:02] stsewd commented on #3918
I can see your latest builds are passing https://readthedocs.org/projects/sbpipe/builds/, were you able to solve the issue?

[2018-04-09 05:27] stsewd commented on #3910
I was able to build your docs on my local instance, but I had to increase the memory and time limits.

[2018-04-09 05:38] stsewd commented on #2491
I think this can be also solved with https://github.com/rtfd/readthedocs.org/issues/1375

[2018-04-09 05:43] stsewd commented on #2032
Everyone having this problem, it is a bug (more information on #3887). The current solution is recreating the project (the same name can be used)

[2018-04-09 05:46] stsewd commented on #3763
I think this was because of this bug #3887.

[2018-04-09 05:47] stsewd commented on #1785
Everyone having this problem, it is a bug (more information on #3887). The current solution is recreating the project (the same name can be used)

[2018-04-09 06:17] stsewd commented on #2517
Looks like happened a lot of time seems the issue was created, sorry about that. @nathforge were you able to recover your account? Maybe you can try removing the GitHub app from https://github.com/settings/applications

[2018-04-09 06:28] stsewd commented on #3573
Closing this as a duplicate of #2243 (also moving the `community effort` label there)

[2018-04-09 06:28] #3573 closed

[2018-04-09 06:33] stsewd commented on #2297
I'm not sure if I understand the issue. Is this a problem on https://readthedocs.com? If so, you can contact to support for that.

[2018-04-09 06:50] stsewd commented on #3041
I think this is the same bug described in #3887. The current solution is recreating the project (the same name can be used)

[2018-04-09 06:56] stsewd commented on #2081
RTD doesn't support Windows right now (it depends on symlinks for generating the docs)

[2018-04-09 08:14] pdp10 commented on #3918
No, I didn't solve the issue. I simply:
- commented the Sphinx extension `autoapi-extension` which is required for generating the source code documentation using sphinx-autoapi;
- removed `sphinx-autoapi` from the requirements.txt used for generating the documentation.

Also, I noticed that I misspelled the title. It is `sphinx-autoapi`, not `sphinx-autodoc`. Now it's updated.

[2018-04-09 13:18] nephantes opened #3927 "Triggering problem"
## Details

* Project URL:  https://github.com/UMMS-Biocore/biocorepipe
* Build URL (if applicable): dolphinnext.readthedocs.org
* Read the Docs username (if applicable):

## Expected Result

Automatic triggering upon a push or a merge in the repository.

It doesn't trigger even there is a web hook etc in the repository

## Actual Result

This repository doesn't have a valid webhook set up, commit

[2018-04-09 14:39] humitos commented on #534
@stsewd does the fix that we talked the other day will fix this problem also, right? (we do have those 2 special cases to consider in the sync method: `stable` and `latest`)

If you haven't done yet, could you add a test case for the `latest` case also in #3887? Thanks.

[2018-04-09 15:02] humitos commented on #3841
@stsewd could you add a test case for this issue in #3913 also?

Besides the issue that you are reporting here, I think it's very bad UX to show things like `develop` (tag) and `develop_b` (branch). I understand that this is because the `slug` can't be repeated, but we should show to the user something nicer like `develop (tag)` and `develop (branch)` or similar.

[2018-04-09 16:44] humitos commented on #3763
Great! I'm closing this one since the original issue is already fixed and we have a fix proposal for the general rule. Thanks for reporting and help us to debug!

[2018-04-09 16:44] #3763 closed

[2018-04-09 16:55] humitos commented on #3918
`pip` is installed from the system level version of pip and included in the virtualenv created. Currently we have `9.0.1` at the system level.

I know that we have a `latest` build image that you can configure from YAML (http://docs.readthedocs.io/en/latest/yaml-config.html#build-image) but it seems that when it was created the pip version was still `9.0.1` :(

https://github.com/rtfd/readthedocs-

[2018-04-09 18:38] RichardLitt commented on #3919
Weird. Reopen if it happens again. Thanks for logging, anyway!

[2018-04-09 18:38] #3919 closed

[2018-04-09 18:39] RichardLitt commented on #3255
@orbingol Thanks for following up and letting us know that this is resolved!

[2018-04-09 20:03] FedeDP opened #3929 "Build failed"
## Details

* Read the Docs project URL: https://readthedocs.org/projects/libmodule/
* Build URL (if applicable): https://readthedocs.org/projects/libmodule/builds/7015103/
* Read the Docs username (if applicable): nierro

## Expected Result
Normal build of my own docs.

## Actual Result
Weird error:

Note that i did not touch anything related to docs in my linked github repo for that build.

[2018-04-10 02:03] doubleo2 commented on #2031
@agjohnson If you are referring to "RTD [taking] preference of tags over branches", I'm not sure how that is a workable solution to the original issue.

Choosing a lower semvar tag over a higher semvar branch as the stable version is useful when working on a pre-release version, not when trying to fix typos in the docs for an already released version.

I'm in a similar position as the OP, where th

[2018-04-10 05:32] stsewd commented on #2031
@doubleo2 you can use pre-release versions, so they aren't promoted as stable (you also can try using a post-release versions https://www.python.org/dev/peps/pep-0440/#post-releases).

[code]
That's how rtd choose the stable version, it this case the post-release will be chosen as the new stable (not sure if it's correct though).

[2018-04-10 05:34] stsewd commented on #3929
Can you try building your docs again manually? I think this was a temporal problem.

[2018-04-10 05:40] stsewd commented on #3841
Not sure if I understand the steps here, @brettcannon you create a tag named `stable` and then a branch named `stable`?

[2018-04-10 05:44] stsewd commented on #534
@humitos yeah, I think this is the same bug

[2018-04-10 06:55] FedeDP commented on #3929
Fixed thanks!

[2018-04-10 06:56] #3929 closed

[2018-04-10 07:39] akien-mga commented on #2971
I've had a quick look over the new documentation, but indeed as long as this stands, we can't customize much:

Wouldn't it be better for the Read the Docs context to be prepended to the user-defined `html_context`, to let users override it as they wish? If they break their RTD build with a bad custom context, it's their responsibility.

[2018-04-10 13:28] avanobberghen commented on #3911
Thanks for the support. I can also build them locally, but it fails on ReadTheDocs. I just tried again. Any clue?
![capture](https://user-images.githubusercontent.com/9592467/38559626-ce0522d8-3cd3-11e8-85ba-19971209e040.PNG)

[2018-04-10 15:18] humitos commented on #2465
In any case, if we serve the PR's built documentation, we should think about how cleanup these ones (e.g. remove the docs after the PR is merged/after a couple of days/etc) otherwise we will end up with Gigabytes of useless documentation.

[2018-04-10 15:40] humitos commented on #3911
I took a look at Sentry errors and I didn't find anything useful yet. At first sight it doesn't seems a problem with your repository, but I will need to research a little more to know what has happened.

[2018-04-10 17:37] #2297 closed

[2018-04-10 18:01] humitos opened #3931 "Integration resync webhook fails"
Steps to reproduce it:

1. Import GitLab project (do not use Manual Import)
1. Webhook are created sucessfully
1. Go to your GitLab project and remove the RTD integration from settings
1. Go to your Admin -> Integrations
1. Select your integration
1. Click on Resync

Message received:

The logs show:

[code]

This is happening because we are trying to _update_ a webhook in GitLab that it was manua

[2018-04-10 18:05] humitos commented on #3931
The same happen in GitHub:

[code]

[2018-04-10 18:28] humitos opened #3932 "No way back after deleting the webhook integration"
Steps to reproduce it:

1. Import GitHub project (do not use Manual Import)
1. Webhook is created sucessfully
1. Go to your GitHub project and remove the RTD integration from settings
1. Go to your Admin -> Integrations
1. Select your integration
1. Remove/Delete it

Now, at this point, you have a repository completely disconnected from GitHub: none of them knows the other part.

At this point,

1

[2018-04-10 18:57] humitos commented on #3587
@dplanella Hi! I think that I found the issue with this and I opened a PR at #3931 that I suppose that should fix the issue.

Can you check if you have a RTD webhook enabled under https://github.com/adafruit/adafruit-beaglebone-io-python/settings/hooks?

Also, can you check that you have an Integration under https://readthedocs.org/dashboard/adafruit-beaglebone-io-python/integrations/? (please, do

[2018-04-10 21:28] stsewd commented on #3841
@brettcannon thanks for the clarification, that is the actual bug that #3913 is going to fix. When you create a custom `stable` tag/branch, rtd doesn't update the stable version automatically (even removing that tag/branch), the current solution is to recreate the project. Hope to fix this before you need to take such action.

[2018-04-10 22:14] agjohnson commented on #3932
Ultimately, the number of folks hitting this is probably very low, so this will be low priority. Also, if the user intervened to disconnect the webhook, they can be responsible for manually fixing this as well -- and we have some directions here at least for now. Having a resync function on the webhook also addresses this issue, as that is the actual functionality you're going for.

[2018-04-10 22:27] #3931 closed

[2018-04-10 23:06] humitos opened #3936 "Show only relevant integrations and automate the setup on Admin"
When importing a project for a known service (Gitlab/Github/Bitbucket) the webhook/integration is configured automatically.

Then, going to `Admin -> Integrations -> Add integration` you have a dropdown to select between:

* Github
* Bitbucket
* Gitlab
* Generic

I'd say that we should only list _only_ the relevant ones: Generic + the one of the known service for that `Project.repo` URL and I have

[2018-04-10 23:14] humitos commented on #2561
We are now updating the webhook properly if we have it in our database. Also, if the webhook is in our database and does not exist in the service, when we try to update it we get a 404 and we re-create it. This is done in #3931.

I'm closing this one.

[2018-04-10 23:14] #2561 closed

[2018-04-10 23:47] stsewd commented on #2465
We can use this option from git (or gitpython) to check if a branch was merged https://git-scm.com/docs/git-branch#git-branch---mergedltcommitgt `git branch -r --merged master` or `git branch -r --no-merged master`,  on every build we can purge the merged branches. This would be like an additional protection since we can have this info from the GitHub webhook or from the API (pretty sure the other

[2018-04-11 18:00] brettcannon commented on #3841
@stsewd thanks for the info! I've just started pointing people at `latest`/`master` as the project is very stable at this point, so there's no major issue on my end to force a complete project recreation.

[2018-04-11 19:35] ryanpitts opened #3938 "Unable to use AWS Cloudfront as proxy to serve RTD project at custom domain via https"
I'm trying to use AWS Cloudfront as a proxy to securely serve [this RTD project](https://readthedocs.org/projects/the-field-guide-to-security-training-in-the-newsroom/) at a custom domain.

It feels like it _should_ work, and in fact it _almost_ works. Currently the custom domain forces all traffic to https, but then forwards to the secure readthedocs.io project domain instead of serving at the cu

[2018-04-11 22:52] humitos commented on #3938
The _key thing_ of that nginx configuration is the `proxy_pass`: http://nginx.org/en/docs/http/ngx_http_proxy_module.html#proxy_pass

With the current configuration, we are getting just a 302 from https://securitytraining.opennews.org/ pointing to the URL in RTD.

[2018-04-11 23:24] agjohnson commented on #3431
I proposed storing a metadata json blob with builds that includes the configuration we used to build. This could be just the yaml file, but i think it would be more helpful as a blob of all of the settings used in the build. This would be more useful than caching for query, as we can also display metadata around the build to users -- build image used, python version used, requirements file found,

[2018-04-11 23:25] agjohnson commented on #3431
Closing in favor of #3751

[2018-04-11 23:25] #3431 closed

[2018-04-11 23:34] agjohnson commented on #2904
I'm going to close this as there are two large reasons why this feature addition is difficult for us:

* Redirects are currently applied at the project level, not at the version level. You can have a different readthedocs.yml on each branch/version. I think per-version redirects make sense, but we'd have to undo a lot.
* We're not going to include features in our YAML file that alter database stat

[2018-04-11 23:34] #2904 closed

[2018-04-11 23:34] ryanpitts commented on #3938
thanks @humitos! There's not a direct way to define `proxy_pass` in the AWS Cloudfront config—I think the analog is setting the origin domain. Here's the relevant part of the Cloudfront distribution config:

![screen shot 2018-04-11 at 4 33 43 pm](https://user-images.githubusercontent.com/56477/38648466-298315e8-3da6-11e8-82a9-2e8ccb172d48.png)

It's a bit cut off in the screenshot, but the value

[2018-04-11 23:35] davidfischer opened #3939 "Consider removing Typekit Fonts"
Currently, readthedocs.org uses Adobe Typekit to load some fonts. These fonts are [Inconsolata](https://typekit.com/fonts/inconsolata), a SIL open font licensed monospace font and four versions of [FF Meta](https://typekit.com/fonts/ff-meta), a proprietary font that is also used on the Read the Docs logo.

I know there is some redesign work going on but I think we can get a quick win by swapping t

[2018-04-11 23:43] agjohnson commented on #1543
You can always create a placeholder `project/docs/src/conf.py` that does something like `import * from ..conf` -- or prepend the parent path to `sys.path`. Either way, solving this is probably unlikely in RTD, and is more of a Sphinx issue anyways. Closing this for now

[2018-04-11 23:43] #1543 closed

[2018-04-11 23:44] agjohnson commented on #1137
Closing for now, it sounds like this is solved.

[2018-04-11 23:44] #1137 closed

[2018-04-11 23:47] stsewd commented on #3279
RTD allow overriding the stable version by creating a branch or tag named `stable` (it's a little buggy right now #3913), isn't that what we want?

[2018-04-11 23:49] agjohnson commented on #1139
I'm not sure if this is a feature that we'll implement directly into RTD. Having the above solution in our docs would be a great step though! We have similar content under `docs/guides`.

If we implemented this anywhere, I think we could implement this in our YAML config.

[2018-04-11 23:51] agjohnson commented on #1120
Closing this issue, as the original issue is mostly solved. Still no plans to overhaul our downloads on our roadmap at this point either.

[2018-04-11 23:51] #1120 closed

[2018-04-11 23:53] agjohnson commented on #1621
We automatically try find requirements.txt. You should be able to explicitly set `requirements_file: null` in our yaml config, though I'm not sure if that triggers the auto-search or assumes we're explicitly not going to search for a file.

[2018-04-11 23:56] agjohnson commented on #1364
We've altered how we're installing our dependencies, and have also upgraded setuptools to a more recent release. Considering this issue closed.

[2018-04-11 23:56] #1364 closed

[2018-04-12 00:01] agjohnson commented on #1207
I'm -1 on reading from conf.py. Every single `conf.py` has a version and release which is likely not maintained in 95% of cases. We tie to VCS concepts wherever possible, so I don't think it makes sense to treat conf.py as canonical for this information. I've rather wanted to automate this through our conf.py template, rather then respect the version/release setting in conf.py.

I think we have so

[2018-04-12 00:01] #1207 closed

[2018-04-12 00:08] agjohnson commented on #3269
I'm closing here as this issue is duplicated in our server provisioning issue tracker.

[2018-04-12 00:08] #3269 closed

[2018-04-12 00:16] agjohnson commented on #714
While Read the Docs itself is open source, we have a number of closed source code/provisioning/etc  that will remain private. We don't benefit from liberally sharing this sort of work. This is not from nginx in fact, it's from another private project that we maintain. Closing here as the issue is duplicated there already.

[2018-04-12 00:16] #714 closed

[2018-04-12 10:27] Juanlu001 commented on #3148
I guess my particular problem is that I'm installing some extra requirements:

https://github.com/satellogic/telluric/blob/c62b757f5fed7789977a4c87f1cf31a181c59166/readthedocs.yml#L1-L5

And, among them, there's Sphinx:

https://github.com/satellogic/telluric/blob/c62b757f5fed7789977a4c87f1cf31a181c59166/setup.py#L44

The second `pip install` step in https://readthedocs.org/projects/telluric/build

[2018-04-12 17:42] esoergel opened #3941 "readthedocs.org build failure with little info"
## Details

All recent builds of the docs for [CommCareHQ](https://github.com/dimagi/commcare-hq) have failed, and I don't see any indication of what the issue is.  The docs build fine locally.  Here's what I did locally to attempt to fix or reproduce the failure:

1. Created a new virtualenv and installed only the requirements file specified on readthedocs.org
1. Upgraded to the latest version of

[2018-04-13 04:26] stsewd commented on #3903
Do you also remove the webhook from read the docs (`Integrations` on the admin section)?

[2018-04-13 04:38] stsewd commented on #3936
What about the people that want to add a webhook to a supported service without connecting their account? Also, wouldn't people think that rtd only supports _that_ provider (the one that is connected to their account)?

[2018-04-13 05:52] stsewd commented on #3900
I'm not sure if understand the issue, but I can't replicate with this

[code]

[2018-04-13 07:11] Sraw opened #3942 "Use method docstring from abstract base class if derived class has none"
## Details

Let's say I have the following two classes

[code]

## Expected Result

The docstring of `Derived.give` should be inherited from `Superclass.give`.

Which means it should be "Give out a ring".

## Actual Result

It is none.

## Some workground

Actually, it works in the latest sphinx.

See this comment: https://github.com/sphinx-doc/sphinx/issues/3140#issuecomment-323145028

[2018-04-13 12:46] Zac-HD commented on #3193
It would be fantastic if this also exposed an option for the package to install!

As part of our recent move towards a monorepo (Python + Ruby + Rust implementations, website, etc), [Hypothesis](https://github.com/HypothesisWorks/hypothesis) no longer has the `setup.py` in the repo root.  Our readthedocs build therefore failed (with the install option checked) or was missing included docstrings si

[2018-04-13 16:48] Peque commented on #2032
Just for reference: I did not need to recreate the project. Simply re-building `latest` and `stable` made readthedocs.org pull the latest tag correctly.

[2018-04-13 17:45] stsewd commented on #3942
Can you provide more information? Your project url, requirements file, etc.

You can use the sphinx version that you want by putting it on your requirements file

[2018-04-13 19:12] zerothi opened #3945 "Disable `--recursive` when cloning"
## Details

I would like to control how the `git clone` is performed. This is because I have sub-modules that contain large test files (to keep them from the repo it-self).
Hence when building the docs it will fetch these "huge" files, unnecessarily.

For your notice the travis build system disables recursive clones via:
[code]

* Read the Docs project URL: [sisl](www.github.com/zerothi/sisl)

[2018-04-13 20:54] davidfischer commented on #3564
As far as I can tell, these fonts are sent without compression regardless of whether the request says it can handle gzip compression. I will look to see if I can get this resolved.

[2018-04-13 21:14] esoergel commented on #3941
Perfect, that did the trick, thanks for your help!  For my own future reference, is there some place else I could've looked to get more info on the failure?  Or reproduction steps to identify that locally?

[2018-04-13 21:14] #3941 closed

[2018-04-13 21:36] stsewd commented on #3941
@esoergel at the moment not really :/ (at least that you run gitpython on your project)

https://github.com/rtfd/readthedocs.org/blob/6bd1c684a3e27172653a306fdc5352d76a7015be/readthedocs/vcs_support/backends/git.py#L78-L86

I'll see if there is a way of catching this error and show a proper message for the build failure.

[2018-04-13 21:39] esoergel commented on #3941
Okay, thanks, I was able to resolve the other failures myself, and the documentation is building as expected now, so I'm all set.  Thanks again for the prompt assistance.

[2018-04-13 21:56] davidfischer commented on #3917
Seems an easy enough change. Based on [Django's master setup](https://github.com/django/django/blob/5b589a4/django/conf/global_settings.py#L139-L140) it seems they use "Traditional Chinese" and "Simplified Chinese".

[2018-04-13 22:07] mikaem commented on #3925
I see this is as well [here](https://readthedocs.org/projects/shenfun/builds/7039643/). Any more ideas on how to fix this? I have tried removing sphinx from my part of the conda installation, but I cannot seem to shake it no matter what.

[2018-04-14 01:41] Juanlu001 commented on #3148
According to nbsphinx CI, it's tested against a variety of Sphinx versions,
so I'm still not sure what's happening. I will try to reproduce this issue
locally in a couple of weeks.

On Thu, Apr 12, 2018, 7:21 AM Manuel Kaufmann <notifications@github.com>
wrote:

[2018-04-14 04:09] zerothi commented on #3945
Exactly. Thanks!

[2018-04-14 04:09] #3945 closed

[2018-04-14 08:57] kmuehlbauer commented on #3925
@mikaem @goerz

I did not manage to get around this. For debugging I set up a [testing repo](https://github.com/wradlib/debug-docs) with `master` and `conda_pip` branch.

Whereas the `master` branch without readthedocs.yml works as expected. The simple approach with conda and a single (unneeded) dependency breaks.

- rtd project (https://readthedocs.org/projects/debug-docs/)
- working master (http

[2018-04-14 12:27] mikaem commented on #3925
@kmuehlbauer I've noticed that the build of @goerz that seems to [work](https://readthedocs.org/projects/qnet/builds/7034818/) is using sphinx_rtd_theme version 0.2.4 and no conda-forge. With mine and your latest builds we are using sphinx_rtd_theme 0.3.0 and conda-forge. So it's just the latest version of the theme that seems to be problematic.

[2018-04-14 12:31] kmuehlbauer commented on #3925
@mikaem Thanks! I'll use `defaults` now. Hang on a bit.

[2018-04-14 12:38] kmuehlbauer commented on #3925
@mikaem This is a bit weird, while in the last build https://readthedocs.org/projects/debug-docs/builds/7041419/ I explicitely define `defaults` (and wiped the build before), the readthedocs conda-part uses conda-forge channel which pulls in sphinx_rtd_theme 0.3.0. Any ideas?

[2018-04-14 12:46] kmuehlbauer commented on #3925
It will be upgraded anyway (https://readthedocs.org/projects/debug-docs/builds/7041427/). :cry:

[2018-04-14 13:08] kmuehlbauer commented on #3925
Sorry for the ping @humitos. I was searching to find anything related to this problem here and found via a chain of issues and pr [this](https://github.com/rtfd/readthedocs.org/pull/2876). Interestingly the `latest` build of [poliastro](http://docs.poliastro.space/en/latest/) is facing the same problem (broken sidebar), but without using conda at all.

I'm currently a bit at loss, how to proceed f

[2018-04-14 13:58] Peque commented on #3924
Same here. Seems to fail randomly and quite frequently. A couple of logs that failed in the last couple of hours:

- https://readthedocs.org/projects/mmsim/builds/7041587/
- https://readthedocs.org/projects/mmsim/builds/7041583/
- https://readthedocs.org/projects/mmsim/builds/7041522/
- https://readthedocs.org/projects/mmsim/builds/7041423/
- https://readthedocs.org/projects/mmsim/builds/7041307/

[2018-04-14 19:33] goerz commented on #3925
@kmuehlbauer for https://readthedocs.org/projects/debug-docs/builds/7041419/, don't include sphinx_rtd_theme in readthedocs_environment.yml. I find that it works if there are no sphinx-related packages installed during *any* part of processing readthedocs.yml (which includes readthedocs_environment.yml)

[2018-04-14 22:14] goerz commented on #3925
I might be mistaken, but it looks to me like in that particular build you’re using the commit https://github.com/wradlib/debug-docs/commit/d2c5d8e1ac3a04251aa1e3075384a0a1955a920c which *does* have sphinx_rtd_theme listed in the requirements. So it gets installed twice, once from your readthedocs_environment.yml and then again in the line that RTD adds automatically to the build process to install

[2018-04-14 22:38] goerz commented on #3925
I think they might have changed something on the RTD servers since I opened this issue: If you look at the older (working) build https://readthedocs.org/projects/qnet/builds/7008115/, you'll see that the line that RTD auto-inserts, i.e.

    conda install --yes --name latest mock pillow sphinx sphinx_rtd_theme

installs version 0.2.4, whereas in your build is install 0.3.0 (which presumably is bro

[2018-04-15 06:28] kmuehlbauer commented on #3925
@goerz Yes, it seems sphinx_rtd_theme v0.3.0 breaks the sidebar.

See also this issue here: https://github.com/rtfd/readthedocs.org/issues/3829

Ping @jakirkham, do you experience broken sidebars in one of your projects rtd docs?

[2018-04-15 13:07] ElishaBentzi opened #3949 "please someone that can guide me step by step to publish a word in readthedocs"
## Details

* Read the Docs project URL: mutualwelfare.org
* Build URL (if applicable): E-Nation.org
* Read the Docs username (if applicable):  Elisha

## Expected Result
Someone that can help me, to publish my word document in readthedocs

The document is in spanish and english
this is the spanish version: [https://docs.google.com/document/d/19S9JwXFvIP0jkWouiiI0xwLCT8Q2-_VBc6q7N_-m-kk/edit#headi

[2018-04-15 13:37] Artanicus commented on #3924
This issue seems to be the same one, but failing more consistently: https://github.com/home-assistant/home-assistant/issues/13898

[2018-04-15 13:40] RichardLitt commented on #3949
Hey @ElishaBentzi. I'm not sure of your use case - why do you want this document to be on Read the Docs? Are you looking to host the content somewhere?

Read the Docs only has two options for documentation formats - [reStructured text or Markdown](https://docs.readthedocs.io/en/latest/getting_started.html). Could you perhaps convert your doc into Markdown in a GitHub repository, and use that to [q

[2018-04-15 14:01] jessetan commented on #3925
This does not look like an issue in the theme itself. In the non-working branch http://debug-docs.readthedocs.io/en/conda_pip/ posted by @kmuehlbauer, the code that starts the theme code is `SphinxRtdTheme.Navigation.enableSticky()`, which is consistent with the 0.3.0 version of the theme.
The _actual_ theme code included is in `readthedocs-doc-embed.js`, which contains pre-0.3.0 theme code.
My gu

[2018-04-15 14:33] Blendify commented on #3925
@agjohnson can you take a look here?

[2018-04-15 14:43] kmuehlbauer commented on #3925
@jessetan Thanks for the explanation. I hope this can be solved somehow.

[2018-04-15 14:44] RichardLitt commented on #3949
Ok, that makes a bit more sense. Good luck converting it to Markdown, and then onto Read the Docs.

I think the quickstart guide will help you. For now, this issue isn't a bug or an issue with Read the Docs, so I am going to close it. You can read more about our reasoning for keeping support-like questions off of GitHub [here](https://docs.readthedocs.io/en/latest/support.html). A good place to go

[2018-04-15 14:44] #3949 closed

[2018-04-15 16:45] d2207197 opened #3950 "Support Python 3.6 interpreter"
## Details

* Read the Docs project URL: http://carriage.readthedocs.io/en/latest/
* Build URL (if applicable): https://readthedocs.org/projects/carriage/builds/7042295/
* Read the Docs username (if applicable): d2207197

## Expected Result and Actual Result

My project is Python 3.6 only, while currently readthedocs provides only Python 3.5.
`sphinx.ext.autodoc` failed due to Python 3.6 up syntax

[2018-04-15 22:43] SylvainCorlay opened #3951 "Importing a Repository from an organization"
I am having issues with the importing of new repositories.

 - the manual import results in documentation builds not being triggered upon commits
 - the regular import does not see the GitHub organization of the repository for which I am trying to start the build, although I am the owner of the organization.
 - the regular import is *very* slow to display the available repositories because it is e

[2018-04-15 22:53] stsewd commented on #3951
You can configure the webhook manually https://docs.readthedocs.io/en/latest/webhooks.html#webhook-creation

I think you may need to resync the projects with this button

![screenshot-2018-4-15 import a remote repository read the docs](https://user-images.githubusercontent.com/4975310/38784296-525389da-40d5-11e8-93b1-09da8f35025d.png)

About the usability problem, yeah you are right, and there is

[2018-04-15 23:14] SylvainCorlay commented on #3951
Thanks for your quick reply!

Thanks!

Unfortunately, it has not effect. I still don't see all of my github organization. Note that it takes minutes to load, and I presume that the conda-forge issue might be a factor here.

I have not been successful with that route yet, but I will try again.

[2018-04-15 23:58] jakirkham commented on #3769
Do you have any ideas what might be happening here, @tk0miya?

[2018-04-16 03:56] Sraw commented on #3942
My project url is here: https://github.com/Sraw/nswebdav

And the requirements file is here: https://github.com/Sraw/nswebdav/blob/master/docs/requirements.txt

Here is the related method: http://nswebdav.readthedocs.io/en/stable/source/nswebdav.html#nswebdav.async.AsyncNutstoreDav.close

Since this method is inherited from a base class, its docstring should also be inherited from that base class.

[2018-04-16 04:29] stsewd commented on #3942
@Sraw yes, you need to add the sphinx version on your requirements file, RTD installs `sphinx==1.6.5` by default.

You can also have another requirement file just for rtd if that is a problem for your project.

[2018-04-16 06:28] stsewd commented on #1954
@chief93 I'm not sure if still have this issue, but I really don't understand the steps you made to have 2 accounts.

What another account? (GitHub? rtd?)

Although, the original report (404 page) was already documented (rtd doesn't rename the README file to index anymore).

[2018-04-16 06:38] stsewd commented on #2174
There is the same issue reported here #3803 with more up to date information and also there is a PR in progress for adding the documentation #3881

So closing this in favor of the other one

[2018-04-16 06:38] #2174 closed

[2018-04-16 06:44] stsewd commented on #1602
@sih4sing5hong5 looks like you deleted the two projects, is this still an issue for you?

[2018-04-16 06:54] Sraw commented on #3942
Works.

Sincerely, I recommend to upgrade RTD's sphinx. This feature is really useful.

[2018-04-16 06:54] #3942 closed

[2018-04-16 07:02] stsewd commented on #2192
@MrMYHuang RTD gets that information dynamically from an API endpoint, so is always fresh, doesn't matter the build order. And I wasn't able to replicate this on my local installation.

[2018-04-16 07:08] stsewd commented on #2254
@jaraco I think this is related to #3913

[2018-04-16 07:12] stsewd commented on #2613
@NikitaEgorov the slugs are unique, I don't know how you ended with two projects with the same slug.

[2018-04-16 07:36] stsewd commented on #2510
Both links are 404 now, was the issue solved?

@humitos I think a task for this was added recently, right?

[2018-04-16 07:44] stsewd commented on #2792
Duplicate of #2243, closing in favor of the other issue.

[2018-04-16 07:44] #2792 closed

[2018-04-16 07:47] stsewd commented on #1673
Does this #3881 solves the issue? If so, we can close this one in favor of #3803

[2018-04-16 07:51] stsewd commented on #2962
@mccalv is this issue still a problem? I can see your last builds are successful https://readthedocs.org/projects/anpr/builds/

[2018-04-16 07:54] stsewd commented on #2151
@gbraad was the issue solved? I see you now use your docs with the `single-version` option.

[2018-04-16 07:58] stsewd commented on #3950
Feel free to reopen if that doesn't solve your issue.

Also, here is an example of a project using python 3.6 https://github.com/neovim/python-client/blob/master/.readthedocs.yml

[2018-04-16 07:58] #3950 closed

[2018-04-16 07:58] sih4sing5hong5 commented on #1602
Sorry, I moved the doc to gh-pages long ago.
Thank you for your concern.

[2018-04-16 08:02] stsewd commented on #3354
@samapico I think you may need to update your local installation to solve the issue.

[2018-04-16 08:04] stsewd commented on #3407
@humitos can help here.

[2018-04-16 08:06] stsewd commented on #1602
@sih4sing5hong5 just curious, was because of this issue?

Also, we can close this if isn't a problem for you anymore.

[2018-04-16 08:15] stsewd commented on #2782
You can see https://docs.readthedocs.io/en/latest/custom_installs/index.html for custom installations, also RTD doesn't support private git repositories out of the box, so you may need to fork it.

[2018-04-16 08:29] stsewd commented on #3459
@joachimwolff I see your lasts builds are successful https://readthedocs.org/projects/hicexplorer/builds/ were you able to solve the issue?

[2018-04-16 08:35] stsewd commented on #3027
This issue was already solved on #3201 (merged) as a continuation of #3077

[2018-04-16 08:35] #3027 closed

[2018-04-16 08:45] stsewd commented on #3503
@humitos this seems resolved. Can be closed, right?

[2018-04-16 08:52] stsewd commented on #3208
Does https://github.com/macdja38/discord.js/pull/8 solves the issue?

All the pages https://discordjs.readthedocs.io/en/latest/index.html now have this warning

![screenshot-2018-4-16 welcome to discord js s documentation discord js 8 2 0 documentation](https://user-images.githubusercontent.com/4975310/38799233-83ca74ac-4129-11e8-993d-2336f290124f.png)

[2018-04-16 09:06] stsewd commented on #3706
@giampaolo I see your lasts builds are successful. As mention on the linked issue (#3707) I think this was because of a temporal issue on the rtd servers at that date. Feel free to reopen if you considered.

[2018-04-16 09:06] #3706 closed

[2018-04-16 09:09] stsewd commented on #3717
@PoslavskySV indeed is the same bug. Closing this issue in favor of the other one (https://github.com/rtfd/readthedocs.org/issues/3715). Thanks for reporting.

[2018-04-16 09:09] #3717 closed

[2018-04-16 09:26] stsewd commented on #3011
Closing this as the original issue was solved https://github.com/rtfd/readthedocs.org/issues/3011#issuecomment-318275371

@chilibreaker can you tell us how you solve the issue? Thanks!

[2018-04-16 09:26] #3011 closed

[2018-04-16 11:08] SitiSchu commented on #3819
Theres this Stylish theme: https://userstyles.org/styles/142968/readthedocs

You could ask the author in the comments if you can use his css and include it as custom CSS(an official dark theme would still be better ^^)

[2018-04-16 11:53] berkerpeksag commented on #1673
django-haystack (there is also celery-haystack which I don't know its use case) is still listed in `requirements/pip.txt` so I think its usage should still be clarified in the installation guide. If it can be clarified in PR #3881 then we can close this one.

[2018-04-16 14:24] CAM-Gerlach commented on #3503
The RTD side of it, yes.  Thanks for your help @humitos et al!

[2018-04-16 15:17] #3503 closed

[2018-04-16 15:37] paulmueller opened #3952 "tracking on readthedocs.io not mentioned in "Ethical Ads" section of the documentation"
## Details

https://docs.readthedocs.io/en/latest/ethical-advertising.html

## Expected Result

According to this information, I would assume that there is no tracking on readthedocs.io.

## Actual Result

readthedocs.io always connects to
- google-analytics.com (see also #199 #1221)
- rackcdn.com (with a seemingly unique tracking id)

In addition, readthedocs.io stores a cookie for each subdomain

[2018-04-16 15:56] davidfischer commented on #3952
Arguably we should be more specific in those docs. Specifically by "we don't track you", we mean:

* we do not have a trove of user data we use to target advertising
* we do not keep track of every ad a specific user has clicked on for targeting purposes. We do keep track of clicks for billing purposes although it is not tied to the user data for logged-in Read the Docs users.

If you want to read

[2018-04-16 16:01] davidfischer commented on #3952
I see you edited the issue to mention a cookie.

In regards to the cookie, could you tell me what cookie is being stored? Other than the Google Analytics cookies, typically the only cookie being stored is a short lifespan CSRF token.

[2018-04-16 16:26] humitos commented on #3407
@pfalcon I sent an email to the account registered under `paul2`. Let me know if you receive that message.

[2018-04-16 16:39] davidfischer commented on #2602
I'm going to commit on getting a privacy policy in place by May 25, 2018. Read the Docs has contacted our lawyers about this and we are currently waiting to hear back but if they continue to lag I'll get one in place and then we can iterate on it.

[2018-04-16 16:46] paulmueller commented on #3952
Thank you for this thorough response.
- I can confirm that I can see the same string `216d72aca007988f34d7-7c4f8fef8f0aad53b9488757bc3dab78`` from rackcdn.com. It is shown by uBlock Origin on my PC. I could not make out any differences from when it is blocked to when it is not blocked. Therefore, I assumed it might be connected to tracking. No, I think this does not qualify as tracking. What kind

[2018-04-16 17:15] davidfischer commented on #3952
All our static assets are stored on Rackspace currently and media.readthedocs.org resolves there. The RackCDN URL is separate because it stores some static files that are **not** built during the Read the Docs' static asset pipeline (compiling JS/CSS, etc.). Mostly it is ad assets (static images) but some other files are there for the company like prospectuses.

A CSRF token is required to protect

[2018-04-16 17:27] iCrawl commented on #3208
No it doesn't.

The code in the branch he forked is not maintained anymore and will in most cases probably not even work anymore. Everything about this "branch" (which still resides in our repository btw, but then the docsite got snatched away from his fork) is not maintained anymore and potentially risky to use.

So no, we still would like to have full control over the docs site which is ours in

[2018-04-16 17:36] davidfischer commented on #3952
That 1x1 image is part of the Read the Docs Sphinx theme: https://media.readthedocs.org/css/sphinx_rtd_theme.css

[2018-04-16 17:55] davidfischer commented on #3952
Also, since you mentioned uBlock Origin, I'm just going to mention that we have a whitelist for advertising on Read the Docs if you are willing to whitelist us and/or the larger ad-supported open source community:
https://ads-for-open-source.readthedocs.io/en/latest/

[2018-04-16 18:07] davidfischer opened #3954 "GDPR Meta Issue"
The [GDPR](https://en.wikipedia.org/wiki/General_Data_Protection_Regulation) comes into effect on May 25, 2018 and Read the Docs is going to use this to get our house in order. Read the Docs currently does not plan to do anything different for EU citizens than for anybody else. We want to respect user privacy as much as possible and so we're going to apply the stricter protections mandated by the

[2018-04-16 18:49] stsewd commented on #3208
ok, sorry for the late response. I think @humitos may help to clarify some things here.

[2018-04-16 18:58] stsewd commented on #1673
I can see that haystack is still used only on the API v1

[2018-04-16 19:07] stsewd commented on #3845
@Legolasindar thanks for letting us know. I'm closing this issue then.

[2018-04-16 19:07] #3845 closed

[2018-04-16 19:55] RichardLitt commented on #3952
Might be worth adding some of this information to the docs page in question before closing this ticket. If we use Google Analytics, we should state why.

[2018-04-16 19:55] paulmueller commented on #3952
Thanks for the links. I am a strong supporter of whitelisting ethical ads.

Regarding google analytics, the thing is that you can never actually be sure that Google will anonymize IPs sent to them before they are stored (#3896). They are sent. I am not a lawyer, but especially in Germany, where you have to put your name and address on your site if your are even remotely connected to some kind of b

[2018-04-16 20:17] joachimwolff commented on #3459
At one point we had to fix dependencies to older versions, see commit history: https://github.com/deeptools/HiCExplorer/commits/master/docs/requirements.txt

It looks like that the fixation of the versions is no longer required, therefore I would say it is fixed.

@fidelram Can you tell us if it was just working or what needed to be changed for a fix? Thank you.

[2018-04-16 20:34] davidfischer commented on #3952
I'm actively working on a docs PR to address at least some of these considerations. I get this question enough where it is worth mentioning. Specifically it will:

* Document some of the ad targeting details
* Mention the use of GA

Currently, you can pay to disable ads on Read the Docs. This is what [Read the Docs gold](https://readthedocs.org/accounts/gold/) essentially does. We haven't marketed

[2018-04-16 21:31] paulmueller commented on #3952
Yes, I am aware of RTD gold.

With paying to disable "click-tracking" I mean the option to disable GA on all project pages related to an RTD gold subscription. I.e. not only disabling ads, but also disabling sending any data to GA (which I know you need to improve RTD).

[2018-04-16 22:07] davidfischer commented on #3952
Got it. The term "click tracking" is just a little unclear because it can mean a few different things. I just wanted to make sure I got what you meant explicitly and I think I do now. For example, since we bill advertisers based on clicks, we always have to count clicks unless we change our advertising model.

Right now I don't have a way to explicitly disable GA other than by running an ad blocke

[2018-04-16 23:05] davidfischer commented on #3952
Per @RichardLitt's suggestion, I added docs detailing this in #3955

[2018-04-17 04:06] ericholscher commented on #3208
Sorry for the slow response here. We currently don't have a policy in place that lets us take a project name away from an active user of that project on Read the Docs.

It sounds like we should have a policy in place, and from the research I've done, generally people will do this when the name in question is an owned trademark. That is the only way to really prove ownership, especially since we su

[2018-04-17 05:17] devsnek commented on #3208
as neither of the two parties have filed for a trademark, they are under first-to-use trademark law, which means @hydrabolt holds the trademark as @macdja38's project and docs are a fork of @hydrabolt's work under the same name.

[2018-04-17 06:02] hydrabolt commented on #3208
I think we're regressing here. We've already established that the user is not active and his project is not active.

I first emailed you guys in October, and I have been told 2 weeks ago that you guys are in the process of renaming the docs as suggested, an update on this would be nice.

[2018-04-17 07:06] agjohnson commented on #3208
I've already been in touch with everyone and we have a solution, I need to finalize the cutover this week.

the discordjs project is going to become discordjs-v8, as the project is named in the docs. discord the namespace will free up afterwards.

[2018-04-17 07:38] paulmueller commented on #3952
Thanks a lot! I believe *ethical-advertising.rst* should also get an update:

To clarify the GA point, maybe change this to something similar to:

- We don't track you. Our current advertising model relies on anonymized Google Analytics data though. For more information, see `:ref:advertising-analytics`.
- We don't sell your data
- We host everything ourselves, no third-party scripts or images

[2018-04-17 11:15] xrmx opened #3957 "tests failing with postgresql"
## Details

We're trying to run tests against postgres to match the database we use in production.

## Expected Result

tests pass

## Actual Result

With the following changes required to run tests against postgres https://github.com/rtfd/readthedocs.org/compare/master...italia:testspostgres?expand=1 tests fails with this https://travis-ci.org/italia/docs.italia.it/jobs/367583533

[2018-04-17 12:41] xrmx commented on #3957
This are logs against postgresql 9.6: https://travis-ci.org/italia/docs.italia.it/jobs/367631789

[2018-04-17 13:26] davidfischer commented on #3952
I do want to keep all the data on analytics together though so if and when we swap GA out I don't have to remember to update multiple places.

[2018-04-17 13:34] paulmueller commented on #3952
I think updating *ethical-advertising.rst* is important. If you worry about remembering this file, I would suggest a new issue "Swap out Google Analytics with own solution" with todo items as a checklist, including
`- [ ] remove GA reference in ethical-advertising.rst`.

[2018-04-17 15:28] xrmx commented on #3957
For the other 50% not fixed by the PR above i've tried this but that's not it:
https://github.com/italia/docs.italia.it/commit/fa3983666a786f8ca511e706c78955717090e636

Any help would be much appreciated

[2018-04-17 15:43] #3917 closed

[2018-04-17 15:54] davidfischer commented on #3832
I believe this is fixed in #3847.

[2018-04-17 15:54] #3832 closed

[2018-04-17 16:05] enric1994 opened #3960 "Add repository offline"
Greetings,

I am using the self-hosted version of RTD using [Docker RTD](https://github.com/vassilvk/readthedocs-docker)

I am also using Gogs, a self-hosted Git, where I have a lot of repositories offline.

I would like to import my repos docs in RTD. The Import manually seems to work only with Github online repos.

There is a way to **build** without import the repos from the internet? Maybe dro

[2018-04-17 18:55] humitos commented on #3574
I found the issue.

* The `Build` object is created immediately when it's triggered (that assign the `date` attribute to now)
* Then, after some time, the Celery worker take the tasks from the queue and execute it

So, the time where the build is created with the time that it's executed _are slightly_ different. In this case, it happen that for some reason Celery workers where busy for too much ti

[2018-04-17 18:55] #3574 closed

[2018-04-17 19:40] stsewd commented on #3960
You can do it, I import local repos with the `git://` protocol for development.

[2018-04-17 19:47] stsewd commented on #3957
As I know, RTD uses Postgres in production.

[2018-04-17 21:06] davidfischer commented on #3925
@jessetan is correct.

To get this working immediately, you should pin the RTD sphinx theme to `sphinx_rtd_theme<0.3.0` ([readthedocs.org does this by default](https://github.com/rtfd/readthedocs.org/blob/2c9e62d/readthedocs/doc_builder/python_environments.py#L247) but it can be overridden)

This is going to be a tricky one to resolve in a backwards compatible way. Here's my initial proposal:

* [

[2018-04-17 21:17] humitos commented on #3925
Unfortunately, this workaround won't work if you are using Conda because of #3829 :(

[2018-04-17 21:41] davidfischer commented on #3925
Boooo... Alright. I'll try to get this resolved ASAP.

[2018-04-17 23:24] borgstrom opened #3961 "Adding jazzband-bot to a project where credentials have been lost"
## Details

* Read the Docs project URL: https://django-simple-menu.readthedocs.io/en/latest/
* Build URL (if applicable):
* Read the Docs username (if applicable): fatbox / borgstrom / jazzband-bot

## Expected Result

jazzband-bot is added as a maintainer to the django-simple-menu project

## Actual Result

The project was created in an account that I no longer have access to.  I am not able to

[2018-04-17 23:34] davidfischer commented on #3961
Why do you no longer have access to that account? Did you lose access to the email and the password?

[2018-04-17 23:40] #2812 closed

[2018-04-17 23:40] borgstrom commented on #3961
@davidfischer -- The business was sold (including the domain name), and as such I do not have access to the email address for the fatbox user anymore.  The new owner did not want any of the open source software that the business produced so the projects ended up in my personal github account.

[2018-04-18 00:51] agjohnson commented on #3918
A quick test shows that a new pip doesn't resolve this bug. Is is usually the case, it's actually a setuptools problem. We can pin setuptools to the latest for this project for now. I think you're right that we should probably pin pip/setuptools to match our code in our docker images.

[2018-04-18 01:06] agjohnson commented on #3918
@pdp10 I've enabled a project flag that pushes the latest setuptools on your project. This should help, let us know how things look with the change to conf.py reverted.

[2018-04-18 01:09] agjohnson opened #3963 "Finalize on a new setuptools version"
We've been feature flagging the latest setuptools for a while on a portion of projects and have had more complaints due to the old version setuptools instead. We can probably call this test safe and either bump up or remove the feature flag. I lean towards:

* Pin setuptools to most recent minor release that matches the feature flag
* Increase the feature flag pin to the next version
* Leave sampl

[2018-04-18 07:51] ale5000-git opened #3964 "Auto-redirect .rst => .html"
## Details

* Read the Docs project URL: https://pycompatlayer.readthedocs.io/

## Expected Result

To have relative urls working correctly on github.com they must point to other .rst files but to have them working on readthedocs.org they must point to .html

An automatic redirect of *.rst => *.html on readthedocs.org would make them working on both places.

## Actual Result

Currently they point

[2018-04-18 07:57] #2431 closed

[2018-04-18 08:25] ttmc commented on #2431
:tada:

[2018-04-18 08:48] ericholscher commented on #3691
Closing this.

[2018-04-18 08:48] #3691 closed

[2018-04-18 08:52] stsewd commented on #3964
Any specific page that you have a relative url that we can look at?

[2018-04-18 09:55] svenevs commented on #3296
Hello, I wanted to report that recently I had to create a fake `setup.py` to get past this, **even though** I do **not** have the "Install your project inside a virtualenv using `setup.py install`" checked.

I'm trying to track down an unrelated bug, but the RTD project is here: https://readthedocs.org/projects/sphinx-rtd-tocdepth-confusion-demonstration

[2018-04-18 11:14] fidelram commented on #3459
We still have a different issue that suddenly appeared and that we can not replicate locally. The build passes but the documentation is incomplete. We are using sphinx-argparse to automatically capture the parameters of our python functions but this is no longer working. However, in an branch that has not been updated (the documentation branch) this worked fine.

The messages look like:

[code]

A

[2018-04-18 12:10] ale5000-git commented on #3964
For example on [this page](https://pycompatlayer.readthedocs.io/en/latest/intro.html), there is a link on `LGPL-3.0-or-later`.

[2018-04-18 12:13] Granitosaurus commented on #1990
For anyone who ends up here for py3.6 support it's officially available:
http://blog.readthedocs.com/python-36-support/

TL;DR:
create file `readthedocs.yaml` with contents in your project root:

    build:
        image: latest

    python:
        version: 3.6

[2018-04-18 13:07] #3952 closed

[2018-04-18 15:25] stsewd commented on #2968
I changing the title to be more accurate to the real issue

[2018-04-18 15:30] stsewd commented on #3960
If you do a `git clone git://localhost:3000/administrator/test_repo.git`, it works?

I use a custom git alias for serving git repos on local dev

https://github.com/stsewd/dotfiles/blob/3afb09b770780a5b7e1369ce38c8552c1983e6cd/gitconfig#L14-L15

[2018-04-18 15:42] flying-sheep commented on #1340
if i could at least activate all tags and branches as rtd versions, i’d be happy.

right now there’s no way to test a doc change without releasing a beta version on github (i.e. using a tag that looks like a version)

[2018-04-18 15:47] stsewd commented on #1340
@flying-sheep

You can actually build a branch/tag that hasn't a _version format_. If you create a branch/tag named `test`, that would be listed under the versions section, then you can activate and built it. If that isn't what you mean, sorry I did not understand it.

[2018-04-18 15:56] stsewd commented on #3964
@ale5000-git you need to use a sphinx role (ref or doc) to link between docs pages http://www.sphinx-doc.org/en/stable/markup/inline.html#role-doc

[2018-04-18 16:03] enric1994 commented on #3960
No, it don't work...
`errno=Connection refused`
Maybe Gogs don't support that protocol, or is my reverse proxy... So the problem is mine and not from RTD.

Thanks for your time!

[2018-04-18 16:03] #3960 closed

[2018-04-18 16:39] agjohnson commented on #3964
Yup, this looks to be a problem with your linking syntax. I don't think we'll support rst -> html redirection on Read the Docs. Closing this issue.

[2018-04-18 16:39] #3964 closed

[2018-04-18 16:43] davidfischer commented on #3925
Here's the modification to the theme: https://github.com/rtfd/sphinx_rtd_theme/pull/614
Here's the modification to `readthedocs-doc-embed.js`: https://github.com/rtfd/readthedocs.org/pull/3968

[2018-04-18 16:45] ale5000-git commented on #3964
@stsewd
@agjohnson

It must work also directly on GitHub so I must use only pure reStructuredText without sphinx extensions.
Any help?

[2018-04-18 17:56] humitos commented on #1621
This is still not working yet. There is a PR to handle this case at https://github.com/rtfd/readthedocs-build/pull/38

[2018-04-18 19:49] maroux opened #3970 "requirements_file isn't being respected"
## Details

* Read the Docs project URL: http://taskhawk.readthedocs.io/
* Build URL (if applicable): https://readthedocs.org/projects/taskhawk/builds/7062836/
* Read the Docs username (if applicable): maroux

## Expected Result

`requirements/dev-3.6.txt` should have been installed so the correct version of Sphinx could be pulled.

## Actual Result

`requirements/dev-3.6.txt` is NOT installed and

[2018-04-18 20:07] stsewd commented on #3970
In the 8th step of the build you can see that your requirements file is installed (`and also sphinx==1.7.2`). So, I'm not sure what's the problem here.

[2018-04-18 21:18] perone commented on #1767
I'm also facing the same problem: **"Command killed due to excessive memory consumption"** when pip is installing dependencies. What can be done ? @agjohnson how can the limit be increased ?

[2018-04-18 21:25] davidfischer commented on #1767
@perone, can you post more details preferably in a separate issue with some details? Which project is it for? How long does the build take to run locally? How much memory does it use locally?

Even large projects to do not generally take more than a few hundred MB of memory unless something is wrong.

[2018-04-18 21:28] maroux commented on #3970
Ah, sorry, evidently I can't read.

[2018-04-18 21:28] #3970 closed

[2018-04-18 21:33] stsewd commented on #3970
@maroux don't worry :+1:

[2018-04-18 21:45] perone commented on #1767
@davidfischer Hi David, I'm pretty sure that the problem is with PyTorch pip installation. It has a large file size:

`torch-0.3.1-cp27-cp27mu-manylinux1_x86_64.whl (496.9MB)`

However this shouldn't trigger a OOM killer right ?

[2018-04-18 23:26] mfrasca commented on #2968
@stsewd , are you sure it's clear enough?  or was the clearer option too long?
**redirect to the default version of any translation when visiting /{lang}/**

[2018-04-19 02:13] humitos commented on #1767
It seems there are more people with the same problem:

https://github.com/pytorch/pytorch/issues/1022

I also think that pip has some problems with big files. It's not the first time a read something similar.

[2018-04-19 02:15] humitos commented on #1767
Also, @perone, do you _need_ pytorch to build your docs? Maybe it's a good reason to have a separate requirements.txt file for RTD.

(and also save a lot of bandwith :) )

[2018-04-19 07:28] flying-sheep commented on #1340
This is what I mean, but I don’t see the tag appear in the versions section.

[2018-04-19 11:59] kira0204 opened #3971 "pip install -r"
Hi,

RTD is installing modules from `requirements.txt`and I can't understand why is it required, because of this my build is failing because some of the C library packages are not there.
Now is there any way to skip the installation of modules from requirements.txt file.

Thanks

[2018-04-19 14:41] RichardLitt commented on #2431
Thank you, @ttmc! :D

[2018-04-19 14:42] RichardLitt commented on #1990
I wonder if there is a place in the documentation to include this note from @Granitosaurus. @humitos What do you think?

[2018-04-19 15:42] pdp10 commented on #3918
@agjohnson  Thank you for this.
ReadTheDocs can now build the documentation without raising errors / warnings (see [https://readthedocs.org/projects/sbpipe/builds/7067560/](https://readthedocs.org/projects/sbpipe/builds/7067560/) ).

Said this, the source code documentation is not added to the main documentation, whereas it works fine when this is built locally (see [https://github.com/pdp10/sbpip

[2018-04-19 16:36] agjohnson opened #3973 "Refactor Task subclasses into decorated functions"
Breaking out the task steps in order to reduce shared state on the tasks means
that we no longer need custom classes here. We should reduce the Task subclasses
back down to decorated functions, which preserve the naming, queue, and other
properties of the task.

- [ ] project.tasks
- [x] core.util.tasks

[2018-04-19 16:38] agjohnson opened #3974 "Remove possibility for shared state in PublicTasks and friends"
Similar to the changes in #3946, we should break out the task steps to a
separate class to encapsulate state. Tests first will help determine if this is
prone to the same problem as the project.task Task subclasses.

[2018-04-19 16:40] #3963 closed

[2018-04-19 16:49] fidelram commented on #3459
Just pick any of the latest builds, for example:

https://readthedocs.org/projects/hicexplorer/builds/7067814/

And then go to the last item on the page.

[2018-04-19 18:53] #3879 closed

[2018-04-19 19:29] agjohnson commented on #3734
Seems this is not an issue anymore. Closing.

[2018-04-19 19:29] #3734 closed

[2018-04-20 05:06] stsewd commented on #1340
@flying-sheep rtd doesn't pull automatically tags via webhooks (#3546), so you need to build any current version (like latest for example) in order to rtd pull the new tags/branches.

[2018-04-20 08:26] ale5000-git opened #3979 "How make svg images static"
## Details

* Read the Docs project URL: http://pycompatlayer.readthedocs.io/en/latest/intro.html

## Expected Result

Hi,
I have some svg dynamically generated server-side by external services (badges).

Is it possible to automatically convert them to png to make them static when the documentation (html, pdf and others) is generated?

## Actual Result

Currently they are dynamic in the generated

[2018-04-20 08:30] flying-sheep commented on #1340
Thanks!

[2018-04-20 15:56] humitos opened #3980 "Project.documentation_type is `auto`"
We have 528 projects with the `Project.documentation_type` set in `auto` and this value is not allowed in the code.

This value is used, for example at: https://github.com/rtfd/readthedocs.org/blob/be4ff5b9c4fb6f8c4f8b093e98a1359491a52b1f/readthedocs/doc_builder/python_environments.py#L276

But the dictionary used to get the proper builder class doesn't have the `auto` value and make the build to

[2018-04-20 19:00] agjohnson opened #3984 "Use Celery Task event methods instead of updating at context manager level"
Raising this because of #3864 and some issues we hit today.

Currently we're using context managers to try to grab and report all the exceptions that we can. We could actually be using `Task.on_failure`[0], `Task.on_success`[1], and `Task.on_retry`[2] though. Instead of grabbing and reporting exceptions to users through the context manager, instead just bubble these up to Celery and update the bui

[2018-04-20 19:33] cjw296 opened #3985 "Build failed, said to report, so I am..."
## Details

https://readthedocs.org/projects/testfixtures/builds/7074250/

## Expected Result

Built docs ;-)

## Actual Result

Error
There was a problem with Read the Docs while building your documentation. Please report this to us with your build id (7074250).

[2018-04-20 19:54] cjw296 opened #3986 "Allow develop mode installation"
## Details

Here's the source control diff:

https://github.com/Simplistix/testfixtures/commit/2be6ef2e125cb2699231408d53bd26f7c24c9693

This resulted in https://readthedocs.org/projects/testfixtures/builds/7074328/

## Expected Result

Build successfully as before.

## Actual Result

[code]

[2018-04-20 20:26] cjw296 opened #3988 "conda environment.yaml using -e . in pip section doesn't work"
## Details

Here's the environment.yaml:

Here's the build: https://readthedocs.org/projects/picky-conda/builds/7074334/

## Expected Result

Environment to be correctly built, here's Travis doing it:

https://travis-ci.org/Simplistix/picky-conda/jobs/369093815#L1769

## Actual Result

CondaValueError: pip returned an error.

[2018-04-20 20:30] cjw296 commented on #3988
So, attempting to fix this, I made these changes to `.readthedocs.yml`:

https://github.com/Simplistix/picky-conda/commit/d58b62e4a045b22cea10d76b2aeb30e652c6f8b1

This then changes the problem to the one shown in https://readthedocs.org/projects/picky-conda/builds/7074413/:

[code]
...that looks a lot like #3986

[2018-04-20 20:35] cjw296 commented on #3985
Here's another one: https://readthedocs.org/projects/picky-conda/builds/7074668/

[2018-04-20 21:38] swainn commented on #3985
Same for us too: https://readthedocs.org/projects/tethys-platform/builds/7074517/

[2018-04-20 23:53] SylvainCorlay commented on #3985
Same here

[2018-04-21 00:15] humitos opened #3990 "Autoscale celery workers pool"
We were discussing the idea of using Celery Autoscale to manage the worker pool on the fly.

### The problem

Currently we have some celery workers with `concurrency` in .org and .com servers. We were having some different problems in both builders because of this and hitting some memory issues.

The thing is that if we allow 1Gb of memory for docker, and we have 4Gb, simple math gives us 4 celery

[2018-04-21 05:58] mauroservienti opened #3991 "edit_uri misbehaving when using mkdocs as rendering engine"
## Details

* Read the Docs project URL: https://readthedocs.org/projects/radical-documentation/
* Build URL (if applicable): —
* Read the Docs username (if applicable): mauroservienti

## Actual Result

I'm trying to setup documentation for our OSS project using Read The Docs, that is much much faster compared to what we're using now. We need to have the `Edit on GitHub` button on every page link

[2018-04-21 05:58] agjohnson opened #3992 "Ability to set env vars in project admin"
We should allow users to inject env vars that can be maintained outside of source code. The use case here would be inputting shared secrets like API access tokens which would then be injected into the build processes. Heroku does something similar.

Eventually, we might auto generate an auth token for our api and inject this in the same way, so that Sphinx can automatically have access to our API

[2018-04-21 06:00] mauroservienti commented on #3991
I raised an issue with MkDocs first, https://github.com/mkdocs/mkdocs/issues/1472. They state on their side everything is fine. However they don’t know which version of the engine RTD is using.

[2018-04-21 07:12] SylvainCorlay opened #3993 "Build logs unavailable"
## Details

* Read the Docs project URL: https://readthedocs.org/projects/ipyleaflet
* Build URL (if applicable): https://readthedocs.org/projects/ipyleaflet/builds/7076306/
* Read the Docs username (if applicable): SylvainCorlay

## Expected Result

I expect to see logs for the failed builds

## Actual Result

The content of the page is "latest (6938f2dbe0edc0b26c949b6d14bedead40d47772)".

[2018-04-21 07:14] boegel commented on #3993
It seems like I'm running into the same problem, see https://readthedocs.org/projects/easybuild/builds/7076258/

[2018-04-21 07:14] boegel commented on #3985
+1 https://readthedocs.org/projects/easybuild/builds/7076258/

[2018-04-21 07:29] stsewd commented on #3991
RTD is using `mkdocs==0.15.0` on your build

ok, I was able to replicate this, going to investigate more about it.

[2018-04-21 07:33] stsewd commented on #3991
By the way, the link to Edit on GitHub on the footer works perfectly.

[2018-04-21 08:13] stsewd commented on #3991
OK, the readthedocs theme is from mkdocs itself http://www.mkdocs.org/user-guide/styling-your-docs/#readthedocs, the theme you linked is used for sphinx projects only.

This is the code that controls the Edit button for mkdocs https://github.com/mkdocs/mkdocs/blob/e5c2459fdf58e55237fef914ac67a968c68d2a3f/mkdocs/themes/readthedocs/breadcrumbs.html#L16-L25

[2018-04-21 08:30] gouarin commented on #3985
same for us: https://readthedocs.org/projects/pylbm/builds/7076600/

[2018-04-21 08:56] stsewd commented on #3991
Anyway, this looks like a per page configuration https://github.com/mkdocs/mkdocs/blob/e5c2459fdf58e55237fef914ac67a968c68d2a3f/mkdocs/themes/readthedocs/breadcrumbs.html#L17

Maybe you want to check this http://www.mkdocs.org/user-guide/custom-themes/#pageedit_url and http://www.mkdocs.org/user-guide/configuration/#edit_uri. I think the rtd theme that mkdocs provide doesn't support the edit funct

[2018-04-21 08:58] stsewd commented on #3515
@grez911 I just see you deleted the whole custom theme, about the edit link please see https://github.com/rtfd/readthedocs.org/issues/3991#issuecomment-383276954

[2018-04-21 09:02] stsewd commented on #3985
Maybe a temporary problem on the server, please retry in a couple of hours and tell us if still doesn't work.

[2018-04-21 09:28] mauroservienti commented on #3991
@stsewd thanks for the prompt response. Yes, the edit link in the footer works fine, however it’s near to undiscoverable unfortunately. Its position is not intuitive.

I’ll go back to MkDocs to investigate the template issue. In the meantime we can proceed with the migration, since the footer edit link is a good enough workaround for us.

Thanks again. Feel free to close this one.

[2018-04-21 09:38] stsewd commented on #3991
@mauroservienti let's keep this open till we can confirm this is really a limitation from mkdocs' readthedocs-theme.

[2018-04-21 09:43] stsewd commented on #3993
@SylvainCorlay did you try building locally? How long (and much memory) does it take? I tried on my local instance and I had to increase the memory and time limit to build successfully (build took 1267 seconds).

[2018-04-21 09:58] stsewd commented on #3986
I can see in your latest unsuccessfully build that you have rtd configured to look for your requirements file, but it doesn't exists on that commit.

[2018-04-21 10:09] boegel commented on #3985
@stsewd This has been going on since yesterday, at least about 16 hours now, first occurrence for me was https://readthedocs.org/projects/easybuild/builds/7073819/

[2018-04-21 10:11] SylvainCorlay commented on #3985
@stsewd same here. This appears to be an issue since yesterday night on multiple repositories in multiple organizations.

[2018-04-21 10:12] SylvainCorlay commented on #3993
Yes, the docs build fine locally. The HTML build takes about half a second on my 6 years old macbook, and python takes up 46MB of memory during that time.

[2018-04-21 10:13] SylvainCorlay commented on #3993
@stsewd is the project that you tried ipyleaflet?

[2018-04-21 10:16] stsewd commented on #3986
Ok, about the original issue reported, seems like an error on your conf.py file https://github.com/Simplistix/testfixtures/blob/a5d96032ed148d0b478bcc47834733e3e1f5ceb9/docs/conf.py#L9

I think there is some difference when installing your project with and without the yaml file: it installs your project twice, with the requirements file and with the setup.py installation.

[2018-04-21 10:16] cjw296 commented on #3986
@stsewd - there's a few things going on, and it's why I was quite specific about build numbers:

1. Whenever you change settings, it triggers a new build. That's frustrating when you're changing settings so that the *next* commit pushed will work with them. I see no way to change settings in such a way that this doesn't cause breakage. I believe this was the cause of the following build failures:

[2018-04-21 10:34] stsewd commented on #3986
@cjw296 please see https://pythonhosted.org/pkginfo/distributions.html#introspecting-development-checkouts `pkinfo.Develop` only works on a _develop mode_ installation, which rtd doesn't take care when `python.pip_install` is true, I think you can still use your old requirements file with the yaml file keeping your desire behavior with the `requirement_file` option https://docs.readthedocs.io/en/l

[2018-04-21 10:35] SylvainCorlay commented on #3993
I started another build (https://readthedocs.org/projects/ipyleaflet/builds/7076823/), and I am getting

[code]

[2018-04-21 10:37] cjw296 commented on #3986
Right, hence [my comment](https://github.com/rtfd/readthedocs.org/issues/3986#issuecomment-383211644). I guess this becomes a feature request to add a `pip_develop` or `pip_editable` alternative to `pip_install`.

[2018-04-21 10:43] stsewd commented on #3986
Please change the issue title or create a new issue with the feature request (I think this is better, so we keep this issue as context)

[2018-04-21 10:46] SylvainCorlay commented on #3993
Starting it again yields no log at all
https://readthedocs.org/projects/ipyleaflet/builds/7076842/

[2018-04-21 10:52] stsewd commented on #3993
@SylvainCorlay yes, I tried `ipyleaflet`.

That's because the command is still running, on my local installation, I can see that this command is `conda env create ...` which gets killed due to excessive memory consumption, so I suspect the same is happening on rtd.

See #3613

[2018-04-21 11:06] stsewd commented on #3985
Just for recap

@cjw296's project issue was solved (or at least clarified) in #3986
@SylvainCorlay's project is being investigated for more details in #3993

@boegel  I can see that your docs never built successfully before (+4 months ago) https://readthedocs.org/projects/easybuild/builds/6829697/ here I can see that your problem is due to timeout limit, you can request to increment this for your

[2018-04-21 11:12] cjw296 commented on #3985
@stsewd - I thought I was pretty clear on #3986: I don't believe any of the build failures I reported here were as a result of other issues. Please take a look at the build urls, the wording suggests something unexpected has happened, maybe there's a traceback lurking on some rtd monitoring somewhere?

[2018-04-21 11:50] SylvainCorlay opened #3994 "Edit On GitHub link broken"
## Details

* Read the Docs project URL: https://readthedocs.org/projects/xleaflet/

## Expected Result

The link "Edit on GitHub" to point a valid URL.

## Actual Result

The link "Edit on GitHub" lacks the "blob" part

For example on page https://github.com/QuantStack/xleaflet//master/docs/source/index.rst,

the link points to

https://github.com/QuantStack/xleaflet//master/docs/source/index.rst

[2018-04-21 11:54] boegel commented on #3985
@stsewd Thanks for the feedback, much appreciated.

I must admit I've been ignoring those failing builds for a while, since the updated documentation did in fact get generated just fine @ http://easybuild.readthedocs.io/en/latest/. It doesn't anymore however...

For the most recent build, there's no trace that the failure occurs because of a timeout, and it shows a lot less steps (it seems like it

[2018-04-21 15:44] johnbywater commented on #3985
"Error
There was a problem with Read the Docs while building your documentation. Please report this to us with your build id (7077435)."

https://readthedocs.org/projects/eventsourcing/builds/7077435/

Also the 'latest' button, bottom left in the RTD theme, is dead. Also the interface is kinda generally confusing.

[2018-04-21 19:51] pllim opened #3995 "Doc build broken with cryptic message to report this to you (astropy)"
## Details

* Read the Docs project URL: https://readthedocs.org/projects/astropy
* Build URL (if applicable): https://readthedocs.org/projects/astropy/builds/7074563/
* Read the Docs username (if applicable):

## Expected Result

Successful build.

## Actual Result

Failure with the message, "There was a problem with Read the Docs while building your documentation. Please report this to us with y

[2018-04-21 19:52] pllim opened #3996 "Doc build broken with cryptic message to report this to you (jwst)"
## Details

* Read the Docs project URL: https://readthedocs.org/projects/jwst-pipeline/
* Build URL (if applicable): https://readthedocs.org/projects/jwst-pipeline/builds/7075515/
* Read the Docs username (if applicable):

## Expected Result

Successful build.

## Actual Result

Failure with this message, "There was a problem with Read the Docs while building your documentation. Please report thi

[2018-04-21 23:53] stsewd commented on #3985
@cjw296 yes, what I mean here is that your real issue was clarified since the issue reported here was only temporal for your project. I don't have access to the rtd servers, so I can't see the logs at the time.

[2018-04-21 23:58] stsewd commented on #3985
@SylvainCorlay thanks!

Feel free to open a new issue requesting more memory/time for your projects if the issue happens too often (maybe this time the servers were too busy) or if the dependencies are really required to build the docs of your project.

[2018-04-22 00:06] stsewd commented on #3985
@johnbywater

I think that is an issue with the latest version of the theme #3925 https://github.com/rtfd/readthedocs.org/issues/3925#issuecomment-382149693

[2018-04-22 00:15] stsewd commented on #3994
I think the is kind of related to #3925, I will take a further look later.

[2018-04-22 19:55] brycefrank commented on #3996
I am having a similar issue that fails on the same step, `git branch -r`

- Project URL: https://readthedocs.org/projects/pyfor-pdal-u/
- Build URL - https://readthedocs.org/projects/pyfor-pdal-u/builds/7077493/
- RTD Username: brycefrank

[2018-04-22 21:33] SylvainCorlay commented on #3993
I am seeing the same kind of issue (no build log) with a new project: xhale

https://readthedocs.org/projects/xhale/

The build takes one second to fail and there is no information whatsoever.

<img width="838" alt="screen shot 2018-04-22 at 11 32 50 pm" src="https://user-images.githubusercontent.com/2397974/39100142-83a0f9f4-4685-11e8-8f10-b45c3d166cca.png">

[2018-04-22 21:40] stsewd commented on #3993
@SylvainCorlay I can see that the failure is because of a bad configuration file

![screenshot-2018-4-22 xhale read the docs](https://user-images.githubusercontent.com/4975310/39100188-e81cd9e6-464b-11e8-8d85-4c28378530b5.png)

[2018-04-22 23:10] johnbywater commented on #3985
It's building for me again, thanks a lot!

[2018-04-23 00:54] adrn commented on #3995
I'm seeing the same on a few of my projects, for example:
* Read the Docs project URL: https://readthedocs.org/projects/pyia/
* Build URL (if applicable): https://readthedocs.org/projects/pyia/builds/7081331/
* Read the Docs username (if applicable): adrn

[2018-04-23 03:02] artakhak opened #3997 "I can't import my Sphinx doc project from github."
The project I am trying to import is at https://github.com/artakhak/IoC.Configuration.Documentation.  It shows in github projects (under "Import Repositories").

The steps I do in readthedocs.org are following.

-I click on plus button next to IoC.Configuration.Documentation in list "Import a Repository".
-On next page titled "Project Details" I check "Edit Advanced Options" and leave everything a

[2018-04-23 03:55] stsewd commented on #3997
First of all, there is nothing wrong with your project content. I just imported successfully on my local instance. I think maybe is something with your project name, I'm going to try creating a project like that on my account.

[2018-04-23 04:06] stsewd commented on #3997
Sorry, I'm not able to reproduce this issue with a project with the same name.

[2018-04-23 04:08] stsewd commented on #3997
Did you try importing manually your project? http://127.0.0.1:8000/dashboard/import/manual/

[2018-04-23 04:47] stsewd commented on #3994
This is a bug from the rtd theme, I'm fixing it on https://github.com/rtfd/sphinx_rtd_theme/pull/617

[2018-04-23 11:54] artakhak commented on #3997
HI stsewd ,

Thanks for responding quickly.

Yes I was trying the manual import option (not sure what non-manual option is, since I could use only this option).

[2018-04-23 11:56] artakhak commented on #3997
My previous comment was wrong. I wasn't importing manually before. Juts tried import manually too and it didn't work either (the same result).

[2018-04-23 12:17] SylvainCorlay commented on #3993
Thanks, this log appeared more than 20 hours after the build appeared as failing..

The new issue is that we don't see any log for most repositories when the build fails.

It started late last week, on multiple organizations and repositories: See e.g. the build for `pythreejs`: https://readthedocs.org/projects/pythreejs/builds/7083409/

<img width="819" alt="screen shot 2018-04-23 at 2 14 58 pm" s

[2018-04-23 12:29] #3994 closed

[2018-04-23 12:34] RichardLitt commented on #3995
Thanks. I'm not able to help with the error message - @humitos should be able to - but I wonder if the message could be improved. Would this be less cryptic?

"There was a problem with Read the Docs while building your documentation. This is most likely a problem with our system, not with you! If you would like to report this, please do so here (https://github.com/rtfd/readthedocs.org/issues/) and

[2018-04-23 12:35] RichardLitt commented on #3995
This is most likely related to https://github.com/rtfd/readthedocs.org/issues/3995.

[2018-04-23 12:36] RichardLitt commented on #3996
This is most likely related to https://github.com/rtfd/readthedocs.org/issues/3985.

[2018-04-23 13:09] achennu opened #3998 "Build failed now. Worked 1 week ago."
## Details

* Read the Docs project URL: http://microbenthos.readthedocs.io/
* Build URL (if applicable):
    * develop: https://readthedocs.org/projects/microbenthos/builds/7083608/
    * latest: https://readthedocs.org/projects/microbenthos/builds/7083645/

## Expected Result

Building and serving docs succeeds from either the master or the develop branch.

## Actual Result

Building failed on t

[2018-04-23 14:28] agjohnson commented on #3993
You need to refresh without cache, your browser is using an out of date JS asset. We should invalidate these assets somehow, but that's another issue.

[2018-04-23 14:31] SylvainCorlay commented on #3993
Thanks! This fixed the issue! I can see the logs now.

Although I am getting the infamous

[code]

[2018-04-23 14:31] agjohnson commented on #3995
As we learn how to catch more of these errors, the plan is to make these less general. This is a problem with RTD though, so there is no way for a normal user to remedy this, hence the generic error. We'll investigate on our side, but most likely related to bugfix release 2.3.9 and others from last week.

[2018-04-23 14:37] agjohnson opened #3999 "New Docker client returning timeout on EXEC"
https://sentry.io/read-the-docs/readthedocs-org/issues/533022676/

[code]

[2018-04-23 14:39] jmsmkn commented on #3998
I'm seeing the same thing for our builds (https://readthedocs.org/projects/evalutils/builds/7084112/), but this was after PyUp had upgraded Sphinx from 1.7.2 to 1.7.3. Rolling back Sphinx to version 1.7.2 did not fix it.

[2018-04-23 14:40] agjohnson commented on #3998
Just confirmed this is #3999. I'm going to roll all of the affected issues up there, feel free to follow along there.

[2018-04-23 14:40] #3998 closed

[2018-04-23 14:40] agjohnson commented on #3996
Just confirmed this is #3999. I'm going to roll all of the affected issues up there, feel free to follow along there.

[2018-04-23 14:40] #3996 closed

[2018-04-23 14:41] agjohnson commented on #3995
Opened #3999 to deal with this, I'm rolling all the reports up there.

[2018-04-23 14:41] #3995 closed

[2018-04-23 14:43] achennu commented on #3998
Thanks. I will subscribe to that issue.

[2018-04-23 14:44] agjohnson commented on #3993
Oops yeah, that's a new problem with docker from a deploy last week. I'll close the issue here as we're addressed the docker change in #3999

[2018-04-23 14:44] #3993 closed

[2018-04-23 14:52] stsewd commented on #3985
Hi everyone! I think we have the root of the problem https://github.com/rtfd/readthedocs.org/issues/3998#issuecomment-383599458, closing in favor of #3999

[2018-04-23 14:55] stsewd commented on #3997
Ok, I'm pinning @humitos here, maybe he can take a look at the logs on the server if any.

[2018-04-23 14:55] agjohnson commented on #3985
I haven't looked through the other issues that are tagging along on this report, but @cjw296 issue is not related (seemingly) to #3999.

[2018-04-23 15:13] stsewd commented on #3994
This should be fixed in the next release of the rtd theme.

[2018-04-23 15:55] SylvainCorlay commented on #3999
Note: I see that you closed the other issues, but the builds are still failing.

[2018-04-23 16:06] stsewd commented on #3999
@SylvainCorlay yes, they are, the problem isn't solved yet, the team is working on it :)

[2018-04-23 16:07] SylvainCorlay commented on #3999
gotcha, thanks!

[2018-04-23 16:34] agjohnson opened #4000 "Return stable version tag with stable version API/context data"
I found myself wanting this information in our documentation portal. I'd rather display the tag that `stable` points to, rather than `stable`. There are a few places where we could display this information differently:

* On the docs flyout menu (so return this information from the footer API)
* Inside the sphinx config (so return this information alongside the context data)
* In the API directly

[2018-04-23 16:50] humitos commented on #3999
I'm not sure why this is happening now.

We did a deploy with a newer version of `docker` python package (3.2.1) but there is nothing in the changelog that talks about timeouts: http://docker-py.readthedocs.io/en/stable/change-log.html and https://github.com/docker/docker-py/milestone/50?closed=1

I'm buiding `astropy` in my local instance for more than 10 minutes and it continues building (it's s

[2018-04-23 17:07] davidfischer commented on #3991
@stsewd I don't know if you've started on this one but I've been doing some work on mkdocs @ readthedocs lately and I can take this one if you haven't already.

[2018-04-23 17:23] agjohnson opened #4001 "Add version automation rules"
This feature will implement a series of project rules to manipulate new versions. It will focus on automation of activating versions to start, but will eventually aim to give users the ability to manage a version's state, aliases, and privacy without touching RTD on each new release.

The major use case we're targeting as a proof of concept is that users want to enable new tags automatically, by m

[2018-04-23 17:24] agjohnson commented on #4000
See #4001 for discussion on automated rules for versioning.

[2018-04-23 17:55] stsewd commented on #3991
@davidfischer I don't have any code, so feel free to take this one :)

[2018-04-23 18:55] boegel opened #4002 "request for increased timeout for http://easybuild.readthedocs.io + http://boegel-eb.readthedocs.io"
## Details

* Read the Docs project URL: http://easybuild.readthedocs.io + http://boegel-eb.readthedocs.io
* Build URL (if applicable):
  * last successful build before timeout issues: https://readthedocs.org/projects/easybuild/builds/6418666/
  * recent failed build due to timeout: https://readthedocs.org/projects/easybuild/builds/7049365/
* Read the Docs username (if applicable): `easybuild`

##

[2018-04-23 20:08] brittonsmith commented on #3985
I was also seeing the issue reported here, starting sometime on Friday, April 20, for example [here](https://readthedocs.org/projects/ytree/builds/7073861/). I managed to get things working again by updating my environment.yml file. I did this by creating a new conda environment, pip installing my package, and outputting the environment using `conda env export`.  That doesn't necessarily get to th

[2018-04-23 20:29] humitos commented on #3999
We noticed that this problem is not present on `docker==3.1.3`, so we are going to downgrade this package probably. Also, this only happened on the servers --I wasn't able to reproduce this locally even building big projects.

Besides, I noticed that most/all of the errors reported in Sentry are only for projects that uses `conda` and in the `conda env create` step.

[2018-04-23 20:31] standage opened #4004 "RTD warns of build failure, log offers few clews"
## Details

* Read the Docs project URL: https://readthedocs.org/projects/kevlar
* Build URL (if applicable): https://readthedocs.org/projects/kevlar/builds/7085704/
* <strike>Read the Docs username (if applicable):</strike>

## Expected Result

Documentation builds

## Actual Result

Build terminates with a failure message. Hard to see what the problem is, if any, from the build logs.

[2018-04-23 20:33] stsewd commented on #4004
Maybe related to #3999

[2018-04-23 20:49] standage commented on #4004
Perhaps. It looks like I'm seeing order of magnitude fluctuations in build time: +/- 70 seconds at best, and 500+ seconds at worst.

[2018-04-23 20:50] standage commented on #4004
My latest build passed, so I'll chalk this up to transient behavior that is being actively monitored and addressed. Thanks!

[2018-04-23 20:50] #4004 closed

[2018-04-23 20:55] johnbywater commented on #3985
I'm sorry, I said it was fixed, and the docs build for the new release, but "latest" builds from develop branch are failing again: https://readthedocs.org/projects/eventsourcing/builds/

[2018-04-23 20:55] humitos commented on #3999
There is another Sentry logs with project that fails at `pip install`: https://sentry.io/read-the-docs/readthedocs-org/issues/533186433/events/latest/

[2018-04-23 21:25] jesuxgslp opened #4005 "Incompatible dependencies when installing with pip 10"
## Details
Just try a clean local installation following the guide [installing-read-the-docs](http://docs.readthedocs.io/en/latest/install.html#installing-read-the-docs)

## Expected Result
clean installation

## Actual Result

django-haystack 2.8.1 has requirement Django>=1.11, but you'll have django 1.9.13 which is incompatible.

recommonmark 0.4.0 has requirement commonmark<=0.5.4, but you'll h

[2018-04-23 21:31] swainn commented on #3985
I attempted a build on latest again today and got the same result: https://readthedocs.org/projects/tethys-platform/builds/7086280/

[2018-04-23 21:33] stsewd commented on #4005
Please provide your project and build url

[2018-04-23 21:39] jesuxgslp commented on #4005
Actually is just a fresh readthedocs install  (local install) following the oficial guide  [installing-read-the-docs](http://docs.readthedocs.io/en/latest/install.html#installing-read-the-docs)

[2018-04-23 21:44] stsewd commented on #4005
Are you using virtual env or similar?

[2018-04-23 21:52] jesuxgslp commented on #4005
Sure, as the guide describe

    virtualenv rtd
    cd rtd
    source bin/activate

[2018-04-23 21:57] begriffs commented on #3792
Any decision about what to do, i.e. revert the breaking change, or store as `'foo'` rather than `['foo']`? The former sounds more straightforward even though it seems like somewhat unclean code.

[2018-04-23 22:05] stsewd commented on #4005
Looks like the latest update of haystack drop support for the Django version that rtd uses https://github.com/django-haystack/django-haystack/commit/514023e01136e9393112252fec7eb3b101932d0b#diff-2eeaed663bd0d25b7e608891384b7298L15

[2018-04-23 22:17] jesuxgslp commented on #4005
Thanks  meanwhile I will try django-haystack==2.7.0

[2018-04-23 22:29] humitos commented on #3756
We don't have news from `kotz` (my latest email wasn't marked as SPAM so, I suppose it was received)

We do have a policy for these times at http://docs.readthedocs.io/en/latest/abandoned-projects.html

05/26 will be 6 weeks from my email and will be considered _unreachable_.

[2018-04-23 22:42] begriffs commented on #3474
Is there a way for my pages to set a variable (`custom_canonical_url` or something) that readthedocs-insert.html.tmpl can read and use if present?

[2018-04-24 03:32] stsewd commented on #3997
What was your previous account? Maybe related to https://github.com/rtfd/readthedocs.org/issues/2953?

[2018-04-24 04:46] stsewd commented on #4005
@jesuxgslp mmm, yeah, I see. This is weird, recommonmark and commonmark were upgraded a long time ago https://github.com/rtfd/readthedocs.org/commit/64ee6f68472091895d0ad83ed0b072caaa5d5a77 https://github.com/rtfd/readthedocs.org/commit/cb219e890e969410178811485b0d2d43b8828a95

Can you tell me what pip version are you using?

[2018-04-24 04:49] stsewd commented on #4005
OK, I just tested it myself, I suspected, this is because pip 10, looks like is more strict about dependencies

[2018-04-24 06:29] stevepiercy opened #4008 "Exact Redirects changed behavior from working, now 404s"
## Expected Result

All of our previously working and configured Exact Redirects should continue to work.

## Actual Result

All of our configured Exact Redirects now result in 404s.

## Details

* Read the Docs project URL: https://readthedocs.org/dashboard/pylons/
* Build URL (if applicable): https://docs.pylonsproject.org/en/latest/
* Read the Docs username (if applicable): stevepiercy

At some

[2018-04-24 06:41] stsewd commented on #4005
I'm changing the title of the issue to be more explicit about the issue.

[2018-04-24 15:06] humitos commented on #3918
@pdp10 Hi!

I think the original problem regarding pip/setuptools is solved. Also, it should be solved in the general case by #3967. I'm closing this issue.

Regarding the "source code documentation not added", can you open a new issue for this, please? Also, can you be more specific? I mean, those PDFs look very similar to me and I didn't find any difference. What we should look at?

Thanks!

[2018-04-24 15:06] #3918 closed

[2018-04-24 15:29] pdp10 commented on #3918
Yes, it works now. I think my browser did not refresh properly when I posted my last comment as the two PDFs were different.

Thank you for your help.

[2018-04-24 16:09] humitos commented on #4008
Hi @stevepiercy, thanks for your report.

I think that you were affected by #3965. That PR fixes a bug and I understand that it's incompatible with your setup. Unfornately (for your setup), how is working now it's the correct way and you/we need to solve your problem in a different way now: re-writing your rules.

I need to understand what are your exact needing here:

1. if you need to fix any `/

[2018-04-24 17:56] artakhak commented on #3997
It was artakhak. I still would like to use that account if it works.

[2018-04-24 21:12] stevepiercy commented on #4008
@humitos thank you! This is not a rush. Let's see what the team comes up with in its internal discussion.

This project has only one version and language. It's primary purpose is to serve as redirects and mile markers to direct users to the correct resources and avoid 404s from old bookmarks, pages, and search engine indices.

Ideally backward compatibility would be maintained without configuratio

[2018-04-24 21:31] humitos commented on #3997
Did you use the "Import Manually" button?

![captura de pantalla_2018-04-24_16-30-14](https://user-images.githubusercontent.com/244656/39215242-cb9d3d78-47dc-11e8-8723-ff2ddd9914ce.png)

If the project is on Github, you could connect your github account to your read the docs username and import it using the _plus_ sign shown in the image.

[2018-04-24 21:34] humitos opened #4010 "Improve generic build error message"
@RichardLitt suggested an improved version of our generic message at https://github.com/rtfd/readthedocs.org/issues/3995#issuecomment-383559018

I like it more than the one we have at the moment.

I will always be "cryptic" since this message is shown only when we have no useful feedback to communicate to the user. That's why this message. In a perfect world, this message should never appear :)

R

[2018-04-24 21:36] stsewd commented on #3997
@humitos yes, he did that https://github.com/rtfd/readthedocs.org/issues/3997#issuecomment-383549508

[2018-04-24 21:40] xKeiro opened #4011 "Could not read Username for 'https://gitlab.com': terminal prompts disabled"
## Details

When I'm trying to "Build" I get the following error:
`Cloning into '.'... fatal: could not read Username for 'https://gitlab.com': terminal prompts disabled`

I'm really new to Git,  and ReadTheDocs (basically started learning them today), so I have no idea how to fix this issue, if somebody know what may be causing it, please let me know.

## Expected Result

A working document

## A

[2018-04-24 21:41] stevepiercy opened #4012 "Stable build reactivates upon project version release on GitHub"
## Expected Result

We expect that once we untick a box in the [project's Versions admin UI](https://readthedocs.org/dashboard/pyramid/versions/) that it stays that way for all releases.

## Actual Result

We suspect, but have not yet confirmed, that there is an unexpected behavior in RTD whenever we cut a new release of our project to GitHub. Here's what we think is happening.

* At our [project'

[2018-04-24 21:46] humitos commented on #4011
Is it a private repo?

In Read the Docs .org you can only import public repos.

[2018-04-24 21:54] humitos commented on #4012
Just adding more context here (I didn't jump too deep into the code yet) but it seems that we are updateing the stable version only if it's active:

https://github.com/rtfd/readthedocs.org/blob/324cfb8d27aa56dd55a7c1c56389554eec95893f/readthedocs/projects/models.py#L760-L767

So, if you have untick the `active` field, it _shouldn't_ be updated.

This is probably "bad UX": that green button always

[2018-04-24 22:15] xKeiro commented on #4011
Oh awesome, it worked! I'm so sorry for wasting your time on this, but I just couldn't figure out what was the problem. Thanks a lot!

[2018-04-24 22:15] #4011 closed

[2018-04-24 23:04] humitos commented on #4008
Yes. I think the Redirects section from the admin needs some love. It's very confusing how it works.

I just created a sample project locally to debug this and I finally understood the UI by debugging the code :)

Look at this example:

![captura de pantalla_2018-04-24_18-03-08](https://user-images.githubusercontent.com/244656/39218328-c2dd6336-47e9-11e8-9cf5-39ee1efa5687.png)

Then, if you open t

[2018-04-24 23:30] stevepiercy opened #4015 "Bump to at least Sphinx 1.6.6"
Sphinx 1.6.6 added support for `emphasize-lines` in PDFs.
https://github.com/sphinx-doc/sphinx/issues/1238

Currently RTD is at 1.6.5, so our PDFs are slightly less pretty than they could be.

[2018-04-24 23:43] humitos commented on #4015
If you need a different version of Sphinx, you can create a `requirements.txt` and pin the one you want.

On the other hand, we have a "feature" setting where we can mark your project to use `sphinx<2`. That's an admin setting that we need to enable in your project. Let me know if you want me to enable it for your project (providing its name) and I can do it. You test it, and let me know :)

[2018-04-25 01:49] stsewd commented on #4008
@humitos I thought that page redirects can only redirect to pages inside rtd :thinking:  https://docs.readthedocs.io/en/latest/user-defined-redirects.html#page-redirects

[2018-04-25 08:25] Juanlu001 commented on #3148
The new release of nbsphinx fixed the issue: https://github.com/spatialaudio/nbsphinx/issues/176#issuecomment-384201244

It was a problem with the epub builder. Sorry for bothering you with this long standing bug report that I should have studied better, and thanks for building an awesome product!

[2018-04-25 08:25] #3148 closed

[2018-04-25 08:26] boegel commented on #3999
Problem seems to be fixed now for me, thanks!

see https://readthedocs.org/projects/easybuild/builds/7094389/

[2018-04-25 08:56] SylvainCorlay commented on #3999
cc @gouarin

[2018-04-25 11:15] RichardLitt commented on #4004
Thanks @standage!

[2018-04-25 13:28] kmuehlbauer commented on #3925
@davidfischer Any news on this? As time goes by more and more docs are breaking.

[2018-04-25 14:50] gouarin commented on #3999
It also works for me now.

Thanks !

[2018-04-25 14:56] davidfischer commented on #3925
@kmuehlbauer, the proposed changes are awaiting review. Would you like to try them to see if they fix your issues?

[2018-04-25 15:03] humitos commented on #4008
Yes, please. So we track this specific thing in a separate issue (it may be a similar one, if you can take a minute to search before opening the new one, that would be great :D )

Also, when you know, please let us know what is the decision you made regarding this original issue and the redirects that do not work as you expect.

Thanks!

[2018-04-25 15:29] jouvin commented on #3039
+1, it would be a very nice new feature. And it would be good if we could also define a maximum number of versions to automatically built, if this is not a version explicitely selected. This would allow to prune old versions automatically.

[2018-04-25 15:42] kmuehlbauer commented on #3925
@davidfischer Sorry, but I do not have issues. And I have no idea how to test the behaviour on rtfd. The sidebar is broken on rtfd on all recent builds using sphinx_rtd_theme 0.3.0.

[2018-04-25 15:45] humitos commented on #3039
@stsewd this is something that could be considered in #3878

[2018-04-25 15:56] davidfischer commented on #3925
I know you are eager to get this fixed but I need to get some reviews of the proposed fix before it is merged. There are folks who will look at this but they are also busy. The more people looking at a particular fix or fixes on RTD in general, the better.

If you've never tested Read the Docs locally before, you would need to:

* Go through the [installation steps for a local instance](http://doc

[2018-04-25 16:02] humitos commented on #3985
@agjohnson I couldn't reproduce it locally. It builds properly in `latest` and `stable`.

@cjw296 can you confirm if you are still having this issue? If it's fixed, please close the issue.

To all the other people involved in this issue: we deploy a fix for the generic build error message yesterday and your builds should be fixed now. In any case that you are still experimenting errors, please ope

[2018-04-25 16:25] kmuehlbauer commented on #3925
@davidfischer Thanks for the pointers. I didn't know that rtd can be setup locally. Definitely worth a try.

[2018-04-25 16:32] Juanlu001 opened #4020 "Cannot display versions box"
## Details

* Read the Docs project URL: http://poliastro.readthedocs.io/en/latest
* Build URL (if applicable): https://readthedocs.org/projects/poliastro/builds/7097071/
* Read the Docs username (if applicable): Juanlu001

## Expected Result

*A description of what you wanted to happen*

When clicking the bottom-left `v: latest` arrow, I expected to see the menu, as it properly happens when manua

[2018-04-25 16:42] humitos commented on #4020
This is a known issue on `sphinx-rtd-theme==0.3.0` :disappointed:

You will need to modify your `requirements.txt` file to pin it as `<0.3` (please, update us if this fixes your issue)

We are working on it at https://github.com/rtfd/readthedocs.org/issues/3925#issuecomment-382452104. Please, subscribe there to get notifications.

Your latest `stable` (0.8.0) was built with `sphinx-rtd-theme-0.2.4

[2018-04-25 16:42] #4020 closed

[2018-04-25 16:45] davidfischer commented on #3925
Well, in the meantime, there is a workaround by using the `setup_py_install: true` option in our `readthedocs.yml` file (eg. https://github.com/mabuchilab/QNET/blob/ea06af5/readthedocs.yml#L10) which will use a pinned version (`sphinx-rtd-theme<0.3`).

[2018-04-25 17:06] agjohnson opened #4021 "Use xelatex automatically based on project language"
xelatex supports unicode input and better supports CJK character sets. We can make a pretty accurate guess on whether to use xelatex based on the project language.

[2018-04-25 21:07] stevepiercy opened #4023 "Page Redirect UI: Example and Outcome is misleading for external URLs"
## Details

From: https://github.com/rtfd/readthedocs.org/issues/4008#issuecomment-384130446

When creating a Page Redirect to an external URL, there are two issues:

1. The Example for `To URL:` does not indicate that a fully qualified URL is acceptable.
2. The Outcome preview of the redirect is misleading. It prefixes `/$lang/$version/` to the external URL, potentially misleading the user to thi

[2018-04-25 21:09] stevepiercy commented on #4008
Submitted #4023.

I was awaiting further response from your internal discussion:

Thank you!

[2018-04-25 21:51] humitos commented on #4008
@stevepiercy hey! I just updated our database to user all `Page Redirects` for your redirects. I tried some of them and they work as you want. Please confirm and close this issue if it's solved.

[2018-04-25 22:05] agjohnson commented on #4015
I think we can bump up the default sphinx default version and the feature flag version. I'm not certain which ones we pick, but if sphinx 1.7 looks well tested on the feature flag projects, I think we can pin 1.7 at least

[2018-04-25 22:51] stevepiercy commented on #4015
1.7.4 was released today. Make sure to [exclude 1.7.3 because it had a recursive import](https://github.com/sphinx-doc/sphinx/issues/4889).

[2018-04-25 23:02] stevepiercy commented on #4008
@humitos the redirects work, however the Admin UI does not reflect the changes you made in the database:
https://readthedocs.org/dashboard/pylons/redirects/

I think all the redirects should display the prefix of `/en/latest` to remove ambiguity.

![google chrome005](https://user-images.githubusercontent.com/102112/39277273-d0b3378e-48a1-11e8-9213-54502bac0e4b.png)

Thank you!

[2018-04-25 23:28] stsewd commented on #4008
@humitos just for clarification, all redirects also work for external links? If so, that isn't specified in the docs.

[2018-04-25 23:30] humitos commented on #4008
@stsewd I don't know if _all_. At least `Page` redirects. For the other, we need to check the source code.

[2018-04-26 00:01] ericholscher opened #4025 "Verify all our emails"
Currently email verification is optional for users. This means when they sign up, they get a verification email, but they can still sign in without it.

We should eventually get all our active users verified. It feels like the process should be the following:

* On login, check if the email address is verified, if not, we should resend their verification email, and show a message in the UI about v

[2018-04-26 00:16] stevepiercy commented on #4008
@humitos You're right. Please ignore my comment. I'm closing this issue as complete. Thank you for your assistance!

[2018-04-26 00:16] #4008 closed

[2018-04-26 01:15] shoyer opened #4026 "Broken search"
## Details

* Read the Docs project URL:  https://readthedocs.org/projects/xray/
* Built documentation URL: http://xarray.pydata.org/en/stable/
* Documentation source code: https://github.com/pydata/xarray/tree/master/doc

## Expected Result

Searching on our generated docs seems to be broken. For example, searching for the project name doesn't return any results:
http://xarray.pydata.org/en/lates

[2018-04-26 02:16] zachdeibert opened #4027 "Project Already Exists, But It Doesn't"
## Details

* Read the Docs project URL: zenith.readthedocs.io
* Build URL (if applicable):
* Read the Docs username (if applicable): zachdeibert

## Expected Result

When creating a project with a name that does not exist (reported by the [API](http://readthedocs.org/api/v1/project/?slug=zenith)), the project should be created.

## Actual Result

Project creation fails with "Invalid project name,

[2018-04-26 02:42] stsewd commented on #4027
The project exists https://readthedocs.org/projects/zenith/, it doesn't have any successful build, so maybe you want to check https://docs.readthedocs.io/en/latest/abandoned-projects.html if you want the name

[2018-04-26 02:47] zachdeibert commented on #4027
How would I go about starting the process for getting the name?

[2018-04-26 02:57] stsewd commented on #4027
@zachdeibert seems that this is the user https://github.com/seacen. @humitos can help you with the process.

[2018-04-26 03:28] stsewd commented on #3039
@humitos I don't understand this very clear :/. This seems like a global setting, those aren't going to be handled on the YAML file. Maybe https://github.com/rtfd/readthedocs.org/issues/4001 is better for this use case (If I believe is this)?

[2018-04-26 03:53] humitos commented on #4027
Maybe the project doesn't appear in the API response because its privacy level is "protected"

[2018-04-26 03:56] zachdeibert commented on #4027
Yeah, I just created a protected project and it only shows up in the API responses if I send my session token with it.  I didn't realize that protected could keep it out of that list.

[2018-04-26 05:27] steffengraber opened #4028 "Transfer ownership"
## Details

* Read the Docs project URL: https://readthedocs.org/projects/nest-simulator/
* Build URL (if applicable): https://nest-simulator.readthedocs.io/en/latest/
* Read the Docs username (if applicable): graber

## Expected Result

I'm working on https://github.com/nest/nest-simulator and like to update the documentation.

## Actual Result

Can not update the documentation, as the repository

[2018-04-26 05:31] goerz commented on #3925
@davidfische Actually, I don't think there currently is any workaround, at least not when using conda. Current broken built where I tried pinning the theme: https://readthedocs.org/projects/qnet/builds/7100055/

At this point, I'm just waiting for your patches to make it into the next release, and onto the RTD servers. The docs are just going to be broken until then. It's not the end of the world.

[2018-04-26 05:37] goerz commented on #4026
Same problem here, for https://readthedocs.org/projects/qnet/builds/7100055/

Looks like that [0.3.0 release](https://github.com/rtfd/sphinx_rtd_theme/issues/610) of the theme broke things pretty hard.

[2018-04-26 05:43] kmuehlbauer commented on #3925
@davidfischer I'm with @goerz, it's not the end of the world. Let's wait until this makes into the next release. But, as expected, the more projects get updated, the more reports about broken sidebar/search will find it's way here.

Anyway, great service! Keep up the good work.

[2018-04-26 06:15] stsewd opened #4029 "Better docs for redirects"
https://docs.readthedocs.io/en/latest/user-defined-redirects.html#redirect-types doesn't mention that `Page redirect` and `Exact redirect` can redirect to an external URL, not just to a rtd page https://github.com/rtfd/readthedocs.org/issues/4008#issuecomment-384107208.

Also, the `Exact redirect` has an undocumented feature

https://github.com/rtfd/readthedocs.org/blob/e36955f737b810cbda7a07326b9

[2018-04-26 11:11] stevepiercy commented on #4015
@humitos BTW, your suggestion worked, and thank you! I assumed wrongly that I could not override the Sphinx version, since it's at the core of what y'all do. Silly me.

[2018-04-26 14:43] humitos commented on #3999
A new docker version was released today: https://github.com/docker/docker-py/releases/tag/3.3.0

It says it fixes an issue with the timeout for `stop` and `restart`. It _may_ be related with our case...

[2018-04-26 14:59] lukehinds opened #4030 "Transfer Ownership"
## Details

* Read the Docs project URL: https://readthedocs.org/projects/bandit/
* Build URL (if applicable):
* Read the Docs username (if applicable): klondon

Hello,

I am developer from the Bandit project. We are currently migrating from OpenStack [0] to PyCQA [1]. While at OpenStack we hosted our own sphinx docs and so we had not noticed that someone had imported our github mirror [2] under t

[2018-04-26 17:10] #3939 closed

[2018-04-26 17:26] davidfischer commented on #3564
I'm thinking perhaps the easiest way to solve this is just to change the theme to bundle woffs instead of TTFs.

[2018-04-26 17:46] davidfischer commented on #3954
Our current plan with respect to logs is to:
* Retain only 10 days of logs which will be encrypted on rotation (days 2-10 will be encrypted). This will apply to .org as well as documentation sites. IPs and user agents will be present in the logs. 10 days is the limit of [EFF's DNT policy](https://github.com/EFForg/dnt-guide#3-how-to-limit-web-server-logs) which we are working toward from a complia

[2018-04-26 23:01] cjw296 commented on #3985
@humitos - these are intermittent failures, if you're confident the changes for the generic build error messages will provide better ways forward, feel free to close this.

[2018-04-26 23:01] #3985 closed

[2018-04-27 12:16] andy-maier commented on #2858
I also experience this issue on the python-zhmcclient project, and would like to register interest in its resolution.

[2018-04-27 14:44] rameshthoomu commented on #4026
Same issue here https://readthedocs.org/projects/hyperledger-fabric/builds/7107801/ -- Looking for a fix or workaround

[2018-04-27 15:28] isaacsultan opened #4034 "Import Error from module"
## Details

[build](https://readthedocs.org/projects/medembed/builds/7108602/)

I am importing a constant `DIR_PROCESSED` from `init.py`

The build fails like this:

[code]
My file structure

[code]
As such I added within conf.py:

`sys.path.insert(0, os.path.abspath('../../medembed'))`

[2018-04-27 15:35] humitos commented on #3756
@reox good news for you!

I just added you as Maintainer of http://readthedocs.org/projects/androguard/ since `kotz` never anwered my emails.

I'm closing this issue. Please, let us know if you have proper access and you can update those docs ;)

[2018-04-27 15:35] #3756 closed

[2018-04-27 15:38] reox commented on #3756
thanks! yep, everything works fine!

[2018-04-27 15:39] humitos commented on #3771
@rgov I see you as maintainer of pybluez under RTD project now. Did you know that?

I didn't added you or anything similar, so probably the original owner did it in silence?

In any case, yesterday was the time limit to reach the original user and today I was about to add you as a maintainer, so...

Please, confirm that you have access to the RTD project and if you can update the docs properly. Th

[2018-04-27 15:45] humitos commented on #4034
@isaacsultan hi! Thanks for your report.

This doesn't seem to be a problem with the RTD platform, but with your project itself. Just in case, are you able to build the docs locally in your computer?

[2018-04-27 15:50] isaacsultan commented on #4034
@humitos Hi, thanks for getting back to me so quickly. Somebody just helped me out with it on SO, it turns out I was missing `sys.path.insert(0, os.path.abspath('../../'))`

[2018-04-27 15:50] #4034 closed

[2018-04-27 17:11] SaraOgaz commented on #3925
@kmuehlbauer, what's the timeline for the next release? I have some documentation that I'm waiting to widely release until the search is fixed.  (None of the suggested work-arounds in this thread worked for my case).

[2018-04-27 18:00] agjohnson opened #4036 "Update build list to include an alert state"
As raised in #4018, a better UI for a queue backup would be to show the affected builds in an alert state:

* Show an alert state on each hanging build in the build list if build.state == triggered and build.date > 5m ago. No need for redis here
* Alert state should be very minimal, a FA icon -- ie https://fontawesome.com/icons/exclamation-triangle?style=solid
* Perhaps mouse over on icon shows a

[2018-04-27 20:11] humitos commented on #4030
@lukehinds hi! I'm assigning this to myself to take care of.

We do have a policy for this cases at http://docs.readthedocs.io/en/latest/abandoned-projects.html

I will contact `klondon` in the next week hopefully. Thanks

[2018-04-27 20:17] humitos commented on #4028
@steffengraber hi! I'm assigning this to myself to take care of.

We do have a policy for this cases at http://docs.readthedocs.io/en/latest/abandoned-projects.html

I will contact the user in the next week hopefully. Thanks

[2018-04-27 20:31] humitos commented on #3474
@begriffs isn't this what you want? http://www.sphinx-doc.org/en/stable/config.html#confval-html_context

[2018-04-27 21:32] #2879 closed

[2018-04-29 07:38] kira0204 commented on #3971
Hi @stsewd , sorry for the late reply.
I did not give the build and project url because I thought it's a general question.
https://readthedocs.org/projects/testthug/builds/7066425/ - this should suffice I guess.

Moreover I have `requirements.txt` for my tool but do not want to specify an extra `requirements.txt` for RTD. I am looking for ways in which I can disable the installment of the modules

[2018-04-29 11:18] tambry opened #4040 "IPv6 support"
## Expected Result

readthedocs.org website (and all subdomains) load when only IPv6 connectivity is available.

## Actual Result

The readthedocs.org website (and all subdomains) fail to load with the error "No IP addresses found".
This because there's no IPv6 addresses on DNS for the website, thus the browser has no IP addresses it can connect to.

## Fixing this

Fixing this involves enabling I

[2018-04-29 13:01] Phlya commented on #2858
I have a strange problem: among my tags in the project one contained a Cyrillic symbol which seemed to break the build. I removed that tag, and even re-created the project on readthedocs, but it is still listed in `git show-ref --tags` during the build, while if I do it from my computer it is not there anymore (or look at tags in the repo online).

[2018-04-29 18:03] stsewd commented on #2858
@Phlya did you try wiping the environment? This can be done in the `Versions` section, `edit` button

[2018-04-29 18:04] Phlya commented on #2858
Yes, that helped - sorry, forgot to mention when I figured it out.

[2018-04-29 18:25] stsewd commented on #3971
@kira0204 did you delete your project? I can't see your build or your project. RTD always look for a requirements file on your project (first on the `docs/` directory and then in the project root), that's a RTD feature, I think you can create an empty `requirements.txt` file in the `docs/` directory.

[2018-04-29 19:25] kira0204 commented on #3971
@stsewd I got my privacy level as `private` which I changed it now, sorry for the inconvenience. Also I provided a `conf.py` file in my `docs` folder to mock one of the modules (RTD FAQs suggested this) but I don't think RTD is reading my file because I think in the build it should mention something along the lines `cat /path/to/conf.py`

[2018-04-29 20:05] kira0204 commented on #3971
Update: Blank requirements.txt file works, but I would really love an option where I can select whether RTD should install requirements or not. Thanks @stsewd

[2018-04-29 20:05] #3971 closed

[2018-04-29 23:38] stsewd commented on #3971
@kira0204 yeah, that's part of the rtd _philosophy_, a user imports a project and should just work, I'll try to see if we can put this as an option for the yaml file.

[2018-04-30 20:13] humitos commented on #4002
Hi @boegel! I just increased the time limit in both projects 5 minutes. That should be enough for now. Let me know if you are still experiencing issues.

[2018-04-30 20:13] #4002 closed

[2018-04-30 20:41] boegel commented on #4002
Thank you very much @humitos! :+1:

[2018-04-30 21:46] #4015 closed

[2018-04-30 22:30] aaronmarkham opened #4042 "Support request: project deletion"
## Details

* Read the Docs project URL: https://newdocs.readthedocs.io

## Expected Result

Please delete this project. The MXNet project documentation is now here:
https://mxnet.incubator.apache.org/

[2018-04-30 22:41] davidfischer commented on #4042
If you own/maintain this project, you can delete it yourself at the following link:
https://readthedocs.org/dashboard/newdocs/delete/

[2018-04-30 22:41] stsewd commented on #4042
If you are the owner of the project you can do this in the `Admin` section, if not see https://docs.readthedocs.io/en/latest/dmca/index.html

[2018-04-30 22:56] humitos opened #4043 "Invalid submodule URL on public repositories"
Some time ago, we added a submodule URL validator as a security step in this commit: https://github.com/rtfd/readthedocs.org/commit/43de909b5. We allow different URLs scheme, and we protect ourself for those that we don't want to support.

Taking a look at Sentry error reports, I foundt that there are a couple of projects that have _invalid_ (for our rules) `git@github.com` submodules URLs for **p

[2018-04-30 23:17] humitos commented on #3215
@bendk Hi! We have a temporal flag to skip the checkout of all the submodules, so I added that flag to your `amara` project.

Later, when the PR pointed by @stsewd is merged, you will be able to configure it by yourself.

I'm closing this issue. Please, let me know if that fixes your problem or not.

[2018-04-30 23:17] #3215 closed

[2018-04-30 23:29] #2929 closed

[2018-05-01 00:18] aaronmarkham commented on #4042
We tried contacting the contributor that set it up, but he's been non-responsive for 26 days.
It seems a little heavy-handed to have to file a DMCA complaint, but I can request help from our legal department if that's your policy.

Thanks!

[2018-05-01 00:54] scottgigante opened #4045 "SVG graphics not rendered on readthedocs.org"
## Details

* Read the Docs project URL: http://phate.readthedocs.io/
* Build URL (if applicable): http://phate.readthedocs.io/en/dev/
* Read the Docs username (if applicable): scottgigante

## Expected Result

I included SVG graphics in my `index.rst` as below.

[code]

When running `sphinx-build html` on my local machine, I get the following.

![image](https://user-images.githubusercontent.com/8

[2018-05-01 01:02] stsewd commented on #4045
Your stable version is on commit f9d2f371, wich doesn't have the svg badges https://github.com/KrishnaswamyLab/PHATE/blob/f9d2f371f00ba193daa3fa455121696f8d3a6081/Python/doc/source/index.rst

You dev version has the commit with the svg badges http://phate.readthedocs.io/en/dev/

[2018-05-01 01:03] scottgigante commented on #4045
Hmm - let me restate the problem then - they don't appear on Firefox!

[2018-05-01 01:06] stsewd commented on #4045
Do you mean the badges aren't shown on http://phate.readthedocs.io/en/dev/? I'm using Firefox, maybe a cache thing, try `Ctrl + f5` to update the page.

[2018-05-01 02:54] scottgigante commented on #4045
Aha! You're right, it's a cache problem. Sorry for the noise!

[2018-05-01 02:54] #4045 closed

[2018-05-01 06:52] stsewd commented on #1085
Closing this since the comments app was removed #3802

[2018-05-01 06:52] #1085 closed

[2018-05-01 06:53] stsewd commented on #1084
Closing this since the comments app was removed #3802

[2018-05-01 06:53] #1084 closed

[2018-05-01 06:53] stsewd commented on #1077
Closing this since the comments app was removed #3802

[2018-05-01 06:53] #1077 closed

[2018-05-01 06:55] stsewd commented on #1075
Closing this since the comments app was removed #3802

[2018-05-01 06:55] #1075 closed

[2018-05-01 06:55] stsewd commented on #1076
Closing this since the comments app was removed #3802

[2018-05-01 06:55] #1076 closed

[2018-05-01 07:12] stsewd commented on #3979
This is a sphinx _issue_ https://github.com/sphinx-doc/sphinx/issues/4720

[2018-05-01 07:28] stsewd commented on #3459
@fidelram do you have checked the option ` Install your project inside a virtualenv using setup.py install` on the advanced settings of your project or try this https://github.com/sphinx-doc/sphinx/blob/master/sphinx/templates/quickstart/conf.py_t#L9

[2018-05-01 07:37] stsewd commented on #2958
Hi, I just saw your latest builds are passing, were you able to solve the problem? BTW, you can specify a requirements file with the sphinx version that you want.

[2018-05-01 07:53] stsewd commented on #3018
The bibliography is on page 155, citations are rearranged to the end of the document http://docutils.sourceforge.net/docs/user/rst/quickref.html#citations

[2018-05-01 08:15] jessetan commented on #3564
I've looked into changing the TTF file in the theme to WOFF(2) files, but I haven't found the exact same version of the lato font yet. Even if I use new TTF files I get a slightly different look in Chrome on macOS, probably due to increased hinting information in newer versions of the font.
Until we can get exactly the same visual appearance with WOFF, turning on gzip compression will save at leas

[2018-05-01 12:59] davidfischer commented on #3564
We bundled the woff files for the .org in this PR: https://github.com/rtfd/readthedocs.org/pull/3982

I generated these woff files on fontsquirrel.

[2018-05-01 13:31] bendk commented on #3215
Looks good so far, my first build failed but it was unrelated to the submodules.  Thanks for the good work!

[2018-05-01 13:50] molpopgen commented on #2958
I gave up on doxygen, at least for now.

On Tue, May 1, 2018, 12:38 AM Santos Gallegos <notifications@github.com>
wrote:

--

Kevin Thornton

Associate Professor

Ecology and Evolutionary Biology

UC Irvine

http://www.molpopgen.org

http://github.com/ThorntonLab

http://github.com/molpopgen

[2018-05-01 14:01] RichardLitt commented on #4045
Glad you got that sorted, @scottgigante! No worries.

[2018-05-01 18:02] stsewd commented on #2958
If the issue was because of the sphinx version, rtd now uses 1.7.x as default, and you can always pin the version that you need on your requirements file.

[2018-05-01 18:17] humitos commented on #4025
@rajujha373 please, go ahead and submit a pull request! :)

I suppose the description should be clear enough, but if you have any question, please ask.

[2018-05-01 19:40] lukehinds commented on #4030
Thanks @humitos !

[2018-05-01 19:41] lukehinds commented on #4030
Just noted, bullet [4] should have been https://readthedocs.org/profiles/klondon

[2018-05-01 20:49] fidelram commented on #3459
Thanks for your info. The problem was solved by adding a now 'mock' module. We don't know why there was not a more specific error.

[2018-05-01 21:01] stsewd commented on #3459
@fidelram ok, I'm closing this issue then, feel free to open a new one if you have another problem.

[2018-05-01 21:01] #3459 closed

[2018-05-01 23:27] ericholscher commented on #3925
Believe this should be fixed with our latest deploy.

[2018-05-01 23:52] davidfischer opened #4048 "Chrome font issue with woff2 file"
There is an issue loading the new Lato woff2 file on all of readthedocs.org. It looks like it then falls back to the woff file. This results in the page loading slower. The following is outputted to the console:

    (index):1 Failed to decode downloaded font: https://media.readthedocs.org/fonts/lato/lato-bold.woff2
    16:30:19.424 (index):1 OTS parsing error: Failed to convert WOFF 2.0 font to S

[2018-05-02 03:04] slel commented on #4026
Same issue for [**xtensor**](https://xtensor.readthedocs.io), a C++ library meant for
numerical analysis with multi-dimensional array expressions;
and even a search for "array" or "tensor" gets no result.

[2018-05-02 03:58] stsewd commented on #4026
I think the issue is already solved, please try refreshing your browser cache

[2018-05-02 04:02] rmzelle commented on #2652
(GitHub just announced official support for HTTPS for GitHub Pages served at custom domains. See https://twitter.com/github/status/991366832421523456)

[2018-05-02 04:42] davidfischer commented on #2652
@rmzelle, this is on our roadmap. I see a 5 step roadmap toward HTTPS everywhere on docs sites on RTD. Here's an outline: https://github.com/rtfd/readthedocs.org/issues/3282#issuecomment-369509347. Here's a PR for step 1: https://github.com/rtfd/readthedocs.org/pull/3987.

If you are interested in getting involved, you can start by reviewing the PRs in this area starting with https://github.com/rt

[2018-05-02 04:55] isankadn commented on #1909
Its deprecated from Django 1.10!
https://github.com/djangonauts/django-pgjson/issues/45

[2018-05-02 07:57] slel commented on #4026
Yes it works now. Thanks!

[2018-05-02 08:47] xrmx commented on #3765
Closing, we'll figure something on our own.

[2018-05-02 08:47] #3765 closed

[2018-05-02 10:12] akien-mga commented on #3555
@davidfischer Could I ask you to increase the timeout to 5400 for the following new localization projects?
[code]
Thanks in advance.

I might have another batch in the future, but for now I only create projects for locales with a good level of completion: https://hosted.weblate.org/projects/godot-engine/godot-docs/

[2018-05-02 12:49] omani opened #4050 "sphinx_rtd_theme has no syntax highlighting on readthedocs.io"
## Details

* Read the Docs project URL: https://triggerfs.io/en/latest/install.html#manual
* Build URL (if applicable):
* Read the Docs username (if applicable):

## Expected Result

Code syntax highlighting the same way I see it on my local machine when building the docs with sphinx-build.

## Actual Result

No code syntax highlighting. This is also the case for other readthedocs.io sites which

[2018-05-02 12:50] HadrienG2 commented on #4026
Fixed it for me too :)

[2018-05-02 14:06] omani commented on #4050
also the official theme websitehas no highlighting, as well: http://sphinx-rtd-theme.readthedocs.io/en/latest/demo/demo.html#code-blocks

[2018-05-02 15:06] jfgossage commented on #3258
@safwanrahman I am trying to understand what you mean by

 as I need to deal with this issue also.

[2018-05-02 15:26] Juanlu001 commented on #3925
Confirmed that this works again :) Thanks!

[2018-05-02 16:35] davidfischer commented on #4050
Syntax highlighting was added to the theme recently https://github.com/rtfd/sphinx_rtd_theme/pull/448. However, this version isn't yet the default version on Read the Docs. We are working through a few issues with upgrading the theme and we hope to have this as the default version in a few weeks.

In the meantime, you can pin the version to `sphinx_rtd_theme>=0.3.1` to get syntax highlighting.

[2018-05-02 16:36] safwanrahman commented on #3258
@jfgossage You can install readthedocs in a server or a local machine and thats your instance of readthedocs

[2018-05-02 16:40] davidfischer commented on #3555
@akien-mga  These are done!

[2018-05-02 16:55] agjohnson commented on #3925
I added rtfd/sphinx_rtd_theme#623, which addressed backwards incompatibility in the 0.3.0 release. 0.3.1 was released this morning and RTD was patched last night. You shouldn't have a problem building your projects with 0.3.0 and 0.3.1 now, and we have a more permanent fix coming soon.

Closing this for now, but reopen if you are still having trouble!

[2018-05-02 16:55] #3925 closed

[2018-05-02 16:57] davidfischer commented on #3954
As of today, we are only keeping 10 days of logs.

[2018-05-02 19:07] dusktreader opened #4051 "Build failing: installing wrong package as flask"
## Details

* Read the Docs project URL: https://readthedocs.org/projects/flask-praetorian
* Build URL (if applicable): https://readthedocs.org/projects/flask-praetorian/builds/7130412/
* Read the Docs username (if applicable): dusktreader

## Expected Result

A successful build of the docs.

## Actual Result

The build for my project's docs is failing. And, its...weird

When the build get's to th

[2018-05-02 19:16] PoslavskySV commented on #3715
Temporary workaround will be to add

[code]

in `conf.py`.

[2018-05-02 19:41] stsewd commented on #3715
@PoslavskySV thanks for sharing the workaround

@freakboy3742 I'll try to investigate the issue later, keep rocking with the beeware project!

[2018-05-02 20:02] davidfischer commented on #3954
Our privacy policy PR is here: https://github.com/rtfd/readthedocs.org/pull/3978

[2018-05-02 20:09] akien-mga commented on #3555
Thanks!

[2018-05-02 20:15] stsewd commented on #4051
Try with the name `Flask` (uppercase F), that's the registered name on pypi https://pypi.org/project/Flask/

[2018-05-02 20:25] davidfischer commented on #3954
Here's the code that governs when a user deletes their account: https://github.com/rtfd/readthedocs.org/blob/dc96c6d/readthedocs/profiles/views.py#L197-L213

It looks like this does in fact delete the user model (where the name and email is) and it does cascade to their social account connections (github/bitbucket) as well as their [user profile](https://github.com/rtfd/readthedocs.org/blob/dc96c6

[2018-05-02 20:54] safwanrahman commented on #4051
Have you tried running `python setup.py install` in your local machine with a fresh virtualenv? It must fail because you have added [`flask`](https://github.com/dusktreader/flask-praetorian/blob/master/setup.py#L31) with small charector. It seems like pypi is case sensitive so its not finding the package.
I have tried changing the name locally and the installation seems to be successful.

[2018-05-02 21:33] samlobel opened #4053 "Contradictory Documentation"
## Details

I'm looking at [the privacy page](http://docs.readthedocs.io/en/latest/privacy.html).
There's a note that says that private documentation is still viewable if someone has a URL.

But then, down below, under the Private header, it says that it will 404 if an unauthorized user tries to look.

These seem contradictory to me. But, I don't know much about the project so I'm hesitant to make

[2018-05-02 21:38] stsewd commented on #4053
The first paragraph is about the generated documentation, the second is about the project page. For example, the docs project https://docs.readthedocs.io/en/latest/ anyone who knows that url can view the docs, but only authorized users can see the project page https://readthedocs.org/projects/docs/.

The docs project is public by the way.

[2018-05-03 00:13] dusktreader commented on #4051
Ok, updating the case of the Flask dependency got the build past that part. Now, however, there's another weird error that's leaving me baffled:

https://readthedocs.org/projects/flask-praetorian/builds/7132433/

[code]

[2018-05-03 03:52] stsewd commented on #4051
Looks like an incompatibility between packages, I recommend putting an upper and lower version for your dependencies. This isn't a rtd issue.

[2018-05-03 04:48] stsewd commented on #3715
These seems a bug from the rtd-sphinx-extension project (https://github.com/rtfd/readthedocs-sphinx-ext), that's why is only visible inside rtd, and it only affects the first page of the docs (alphabetically ordered). I'll try to investigate why it doesn't affects to all projects, I think is something with the conf.py.

[2018-05-03 05:18] stsewd commented on #3715
So, this problem is becuase of the `sphinx_tabs.tabs` extension, wich somehow collides with the rtd extension. If the rtd extension is puted before the tabs extension on the list of extensions the problem is solved. I'll send a PR right now, but I'm not sure if this has some other implications, hope not.

[2018-05-03 05:30] mekrip opened #4055 "Java code highlighting not working"
## Details
Java-Color-highlight is working fine locally, but not working on RTD.

* Read the Docs project URL:  http://javaguide.readthedocs.io/en/latest/java/basic.html#hello-world

* Build URL (if applicable): https://readthedocs.org/projects/javaguide/builds/7133222/

* Read the Docs username (if applicable): pythondsp

## Expected Result

*A description of what you wanted to happen*

## Actual

[2018-05-03 05:39] stsewd commented on #4055
I think this is the same issue as https://github.com/rtfd/readthedocs.org/issues/4050

[2018-05-03 05:47] mekrip commented on #4055
Thanks, it's working fine after adding "sphinx_rtd_theme>=0.3.1" in requirements.txt

[2018-05-03 05:47] #4055 closed

[2018-05-03 08:37] mgiaco opened #4056 "Is there a way to use invoke to build the docs for rtfd?"
Hello,

In the repository I saw that you also use pyinvoke for some work. Is there a way to use invoke to build the documentation? I am very new to sphinx and read the docs.
I do have a project wich has an invoke task called "doc" which builds everything the right way. So I am looking for a way to call that on some commit hook or so.

So If I do any new commit to my repo read the docs should do so

[2018-05-03 08:44] omani commented on #4050
yes pinning worked for me. thank you.

feel free to close or keep it open for users to see.

[2018-05-03 13:45] prisae opened #4057 "Extension numpydoc - exception: cannot import name 'Directive'"
## Details

* Read the Docs project URL: http://empymod.readthedocs.io
* Build URL: https://readthedocs.org/projects/empymod/builds/7135202/
* Read the Docs username: prisae

## Expected Result

Build the docs when I commit a change to GitHub.

## Actual Result

I had no issues at all until yesterday. It started to fail, but not always.

If it fails, it fails with the following error:
[code]

The

[2018-05-03 15:59] SaOgaz commented on #3925
I can't seem to get it to work for me, it looks like it's still grabbing v0.3.0 of the sphinx_rtd_theme, is that the problem? I tried clearing the build config a few times before restarting it.  Currently trying to mess with forcing an update to 0.3.1 somehow in another branch.

build: https://readthedocs.org/projects/stak-notebooks/builds/7135343/

[code]

[2018-05-03 16:13] dusktreader commented on #4051
@stsewd I disagree. The package builds fine on travis.ci spanning 4 versions of python3 and on my local machine. This isn't an issue in the build/install of the package anyway. This error is happening while building the docs.

I can build the docs locally using the exact same build command less the readthedocs builder:
[code]
So, it seems that it is an rtd issue.

[2018-05-03 17:30] prisae commented on #4057
Thanks a bunch, that did do the trick!

[2018-05-03 17:48] stsewd commented on #4056
Sorry, rtd only executes the sphinx build command, there is no way to execute other commands. You can also use the rtd configuration file https://docs.readthedocs.io/en/latest/yaml-config.html to build your docs.

[2018-05-03 17:58] stsewd commented on #3925
@SaOgaz the rtd sidebar works as expected on your project for me, what is the issue? About the old version, maybe something to do with the `astroconda` channel (sorry, if I wrong, I'm not familiar with conda)?

[2018-05-03 18:15] SaOgaz commented on #3925
What the what, it's working now.  I wonder if my browser was pulling up a cached version somehow....  whoo, ignore my previous comments. Thanks rtd!

[2018-05-03 19:29] PoslavskySV commented on #3715
@stsewd  thank you very much for the feedback!

[2018-05-03 19:31] PoslavskySV commented on #4050
It works for me too, but I have also to add

[code]
in my `style.css` to make the background white again.

[2018-05-03 22:00] agjohnson commented on #3980
Sentry issue: [READTHEDOCS-ORG-CWX](https://sentry.io/read-the-docs/readthedocs-org/issues/533070699/)

[2018-05-03 22:00] agjohnson commented on #3980
Lets target this for this release, I'm seeing a lot of new errors around this project type, including ^

[2018-05-03 22:06] agjohnson commented on #4056
@mgiaco Is there anything special you are trying to do with invoke? It sounds like you might just need to configure your yaml config.

We may in the future offer a readthedocs-build command that manages a build of your docs through read the docs. We also had orignally wanted to break out our yaml config and surround it with a wrapper command, so users could have local, reproducible builds. If we s

[2018-05-03 22:09] #4048 closed

[2018-05-03 22:49] humitos commented on #3925
Since conda uses other channels, it takes some time to update when a new release is done

[2018-05-03 23:26] agjohnson opened #4058 "Create a YAML schema file to plan out our changes to our yaml spec"
I raised in #3878 a good way to start our YAML spec changes would be to write a schema:

We should start here so that we can formalize the tree structure and naming conventions, and provide some validation checks.

Work required here might be:

- [x] Start writing a schema file
- [x] Start review early, or separate this work into two PRs
- [x] Add tests around validation of our schema and some exa

[2018-05-04 11:34] avloton commented on #2613
I was faced with the same error. Thank you @NikitaEgorov  for solving the problem

[2018-05-04 14:42] stsewd commented on #4058
I was looking at https://json-schema-everywhere.github.io/yaml, seems like more standard, but there is only a js implementation :(, I'll try to see if the library is mature enough, maybe we can use it doing external calls.

[2018-05-04 18:04] davidfischer commented on #3954
In our WIP privacy policy (#3978), I have detailed all the 3rd parties with whom we share data and what is shared.

[2018-05-04 20:10] shoyer commented on #4026
Closing this since it's fixed for me, too (I'm not sure what happened)

[2018-05-04 20:10] #4026 closed

[2018-05-04 20:33] DmytroLitvinov commented on #3181
Hey guys.
Any news?

[2018-05-04 20:44] michal-gh opened #4061 "Locally hosted RTD instance doesn't allow git file:/// URLs"
## Details
I installed a local RTD instance according to the Installation guide and imported test project. Now, I want to import my git project manually,
## Expected Result

I expected that the instance should accept all valid Git URLs.

## Actual Result

When I enter file:///.../../x.git URL, the manual import page shows "Invalid scheme for URL" error. I checked that I can clone this URL from a t

[2018-05-04 20:46] xrmx commented on #3659
@humitos looks like this can be closed

[2018-05-04 22:34] RichardLitt commented on #4061
Makes sense to me. It should be easy to grep for the git logic we use for Git urls, and then to extend that to match this protocol. Would you be interested in helping with a PR?

[2018-05-04 22:34] RichardLitt commented on #4026
Thanks, @shoyer, anyway! :)

[2018-05-04 22:48] michal-gh commented on #4061
Yes, I can help with a PR. Let me look at the code...

sob., 5 maj 2018, 00:34 użytkownik Richard Littauer <
notifications@github.com> napisał:

[2018-05-05 00:16] davidfischer commented on #4061
These are disallowed on readthedocs.org for security reasons. If the work here gets completed it should probably be an option that is disabled by default.

[2018-05-05 16:27] michal-gh commented on #4061
`git file:///` URLs only make sense on local rtd instances, when the instance is on the same machine as a Git repo. They certainly are a security risk on a public-facing servers.
However, many people have their local repos on a development machine and may want to install a local instance and generate a set of docs. Currently, after installation of a new instance, it's impossible to manually import

[2018-05-05 20:55] JadeMatrix opened #4062 "Build fails for tagged versions"
## Details

* Read the Docs project URL: https://readthedocs.org/projects/show-cpp/
* Build URL: https://readthedocs.org/projects/show-cpp/builds/7145962/
* Read the Docs username: JadeMatrix

My most recent version release (0.8.4) failed to build on RTD but worked fine on my machine, so I did a little digging around.  It appears RTD is trying to pull all versions as branches rather than tags:

<i

[2018-05-06 07:05] stsewd commented on #4062
Have you seen if there is a version named `0.8.4_a` (inactive maybe) under the versions section of your project?

[2018-05-06 15:27] bwohlberg opened #4064 "Malformatted bottom navigation section"
## Details

* Read the Docs project URL: http://sporco-cuda.readthedocs.io/en/latest/index.html

The bottom navigation section that is usually collapsed into a small box with the text "v: latest" is displayed in expanded form at the bottom of the page, without any of the usual styling. Comparing the html source of this page and for those that are displayed correctly, the only obvious differences s

[2018-05-06 15:54] Blendify commented on #4050
The default style set by the theme is `default` however I think for older projects sphinx set the default to `sphinx` and would always override the theme. I do not think this is the case anymore though.

[2018-05-06 19:13] JadeMatrix commented on #4062
Actually yes, there are inactive `*_a` versions for all three — must have missed them yesterday.  Building `0.8.4_a` works — should I be using these versions for pre-releases then?

[2018-05-06 19:13] Teecloudy commented on #2746
Hi i'm having the same problem, im trying to import a .rst file from github into readthedocs manually but im receiving the error message:

This repository doesn't have a valid webhook set up, commits won't trigger new builds for this project.

Please help me on how i can import my github file to be viewed in readthedocs.

[2018-05-06 19:27] Teecloudy opened #4065 "Webhook activation failed. Make sure you have permissions to set it."
I created an srs.rst file on Github. I am trying to import it into readthedocs so the file can be accessed through the readthedocs but im receiving the error below:

This repository doesn't have a valid webhook set up, commits won't trigger new builds for this project.

Webhook activation failed. Make sure you have permissions to set it.

May you please help me how to get the permission because th

[2018-05-06 20:54] Paebbels commented on #2715
@ericholscher
There has been a pause in the development of PoC... So no ReadTheDocs builds have been run. Now I found a release plan and agreement to continue the work on PoC. Therefore I would like to continue using ReadTheDocs. As far as I can see, the limit for PoC has been set back to 15 minutes.

Can you explain this?
I would have been good to get a notification when our agreement ended.

---

[2018-05-07 00:45] konsumer opened #4066 "docs don't scroll on chrome"
## Details

* Read the Docs project URL: all

## Expected Result

The docs should scroll when they are longer than the visible webpage

## Actual Result

It doesn't scroll in Chrome `Version 66.0.3359.139 (Official Build) (64-bit)`. I tested in incognito to ensure it's not a plugin or something else local to my installation of the browser. Sidebar works fine. Seems to work ok on Safari `Version 11

[2018-05-07 06:29] konsumer commented on #4066
It appears it only happens with an experimental flag enabled in `chrome://flags`. I made another issue [here](https://github.com/nodemcu/nodemcu-firmware/issues/2366#issuecomment-386929049) (which was the original place I saw issue, and was frustrated that I couldn't read the NodeMCU docs.) I think I must have enabled this a while ago, and forgotten about it.

Mac: macOS 10.13.4 (17E202)
Chrome: V

[2018-05-07 14:00] RichardLitt commented on #2746
@Teecloudy That sounds like a different problem, related to [your webhook](https://docs.readthedocs.io/en/latest/getting_started.html?highlight=webhook#manually-import-your-docs). I would read the documentation on that a bit more; if you are still struggling, open a new ticket so we can help you there, as this one is closed. Thanks!

[2018-05-07 14:12] ale5000-git commented on #3979
Hi,
I got a reply in the sphinx issue:

How can it be fixed?

[2018-05-07 14:28] DougBurke opened #4067 "conda environment is not setting up expected env vars for gfortran"
## Details

* Read the Docs project URL: https://readthedocs.org/projects/sherpa-test/
* Build URL (if applicable): https://readthedocs.org/projects/sherpa-test/builds/7151907/

## Expected Result

To build the package using the compilers provided by conda (in this case `gfortran`).

## Actual Result

I want to build a Python package using conda and its version of gfortran - i.e. the `gfortran_lin

[2018-05-07 14:54] thijskramer commented on #4066
It could also be a bug in the latest Chrome, because I never had this issue before. I'm working on MacOS 10.13.4 (17E202) and using the 64-bit version of Chrome 66.0.3359.139.

When I disable the `overflow-x` rule on the `<body>` with Chrome Devtools everything works as expected.

[2018-05-07 16:04] giovannipizzi commented on #3220
I would add my +1 for having the `readthedocssinglehtmllocalmedia` be optional: for us this step is an issue, because a few days ago we updated a number of dependencies, and now while the HTML and JSON steps complete successfully, the `readthedocssinglehtmllocalmedia` fails (typically with "Command killed due to excessive memory consumption", but sometime - randomly - with a timeout).
See e.g. htt

[2018-05-07 16:48] pvcraven opened #4068 "Code samples no longer are doing syntax highlighting"
## Details

* Read the Docs project URL: https://readthedocs.org/projects/arcade-book/
* Build URL (if applicable): http://arcade-book.readthedocs.io/en/latest/chapters/15_searching/searching.html
* Read the Docs username (if applicable): professor_craven

## Expected Result

Expected code samples to have syntax highlighting.

## Actual Result

Code samples are in monospaced font, but no syntax hi

[2018-05-07 17:08] konsumer commented on #4066
My version is same. I also disabled `overflow-x` and got it working.

[2018-05-07 18:08] stsewd commented on #4068
You need to update the rtd theme on your requirements file (or create one). You can find more about this in https://github.com/rtfd/readthedocs.org/issues/4050

[2018-05-07 18:08] #4068 closed

[2018-05-07 19:14] stsewd commented on #4062
This is how rtd versions work: if you have a `v0.8.3` branch and then you have a tag of the same name, rtd will create two versions `0.8.3` and `0.8.3_a`. If you delete the branch/tag you just need to deactivate the version, then build the latest version to refresh the versions lists.

[2018-05-07 19:15] mgiaco commented on #4056
@agjohnson
Hi, and sorry for the late reply but it took some time to upload the project. There is nothing special I would like to do, I think. Okay maybe a little bit I use sphinx in combination with doxygen and breathe :-) Here is my project: https://github.com/liebherrnenzing/li_can_slv
Normally I use a `` git clone --recursive ... ``.
After that i setup python (3.5x) with my requironment.txt. T

[2018-05-07 19:15] stsewd commented on #4065
Please read https://docs.readthedocs.io/en/latest/webhooks.html and https://docs.readthedocs.io/en/latest/getting_started.html

[2018-05-07 19:17] stsewd commented on #3979
I'm not sure how the imagemagick plugin works, I'll try to search about that later

[2018-05-07 20:27] DougBurke commented on #4067
I edited the issue to include a link to the code that displays the environment variables.

[2018-05-07 20:46] stsewd commented on #4056
@mgiaco can you please paste the build url here?

[2018-05-07 20:48] stsewd commented on #4056
And yes, rtd clone your full repo, also submodules.

[2018-05-07 22:36] stsewd commented on #4062
I don't understand, there isn't a `0.8.4` version now and just `0.8.4_a`? If so, try disabling that (or both) and rebuilding latest then if you only have one tag named `0.8.4` (no branch named `0.8.4`), you should see only a version `0.8.4`, you can also try `wiping` the versions before building it.

[2018-05-07 22:37] stsewd commented on #4062
About the hash on the list, the ones that have a hash are usually a tag, the others a branch.

[2018-05-08 01:05] JadeMatrix commented on #4062
Yes, there was never a `0.8.4`, only `0.8.4_a`, which is the one I tried disabling then re-enabling after rebuilding `latest`.  For previous versions I have non-`_a` versions available, though these may be artifacts of having built docs while the version was in development.  Since RTD never picked up on my latest version branch for some reason, that may be why there is no `0.8.4` version left over

[2018-05-08 04:45] stsewd commented on #3659
This was solved on #3663

[2018-05-08 04:45] #3659 closed

[2018-05-08 11:41] mgiaco commented on #4056
Hello,

Now I got some errors fixed. Doxygen build is okay now but I do have problems with the _static files. I do not know what I am missing. I have tried to build the doc in a similar way to rtd. I tried this approach:

I have generated a virtual env with the requirements.txt in the sphinx folder called py35_lcs_doc

[code]
When I build it that way erverything is okay but on RTD there is a probl

[2018-05-08 12:33] ederag commented on #1951
Having `xvfb-run` on readthedocs would help a lot. A use case can be found in this [question on stackoverflow](https://stackoverflow.com/q/50203452/3565696).

[2018-05-08 16:31] humitos commented on #2715
Maybe it worth to take a look at https://readthedocs.com/pricing/

It also has email support :)

I'm not sure what's the monthly rate for 45/60 minutes, but you can send an email to the address listed there. Thanks!

[2018-05-08 16:34] humitos commented on #3220
@stsewd I think this should be added through a YAML setting. Eric mentioned the `formats` also, which I think it's the right place. What do you think?

[2018-05-08 16:56] Paebbels commented on #2715
Sorry, but paying 50$/month for an **open source** project is way to much!
I don't want to buy RTFD shares.

I was thinking of 20$/month at max to become a *Gold User*.

[2018-05-08 17:10] dusktreader commented on #4051
Seems like installing the wrong package instead of flask is still happening even with proper casing. See https://readthedocs.org/projects/flask-praetorian/builds/7136475/

[code]

[2018-05-08 17:55] stsewd commented on #3220
@humitos yeah, I was thinking the same here :)

[2018-05-08 17:57] csadorf commented on #3954
Do we need to obtain consent from users for each individual project in case that the project uses a Google Analytics Tracking ID?

[2018-05-08 17:59] stsewd commented on #2715
@Paebbels the $50/month is for the readthedocs.com service, for gold member you can do it from $5/month https://readthedocs.org/accounts/gold/subscription/

[2018-05-08 18:01] stsewd commented on #2715
Just for clarification, htttps://readthedocs.org (org) is the open source project, and there is https://readthedocs.com which is the commercial project (isn't open source).

[2018-05-08 18:04] Paebbels commented on #2715
That's clear. That's why I'm asking what is needed to get 45-60min compilation time for my open source project? I'm not paying a commercial account to run my open source projects.

[2018-05-08 18:16] humitos commented on #2715
@Paebbels I pointed to .com since I understood that there were two different repositories: one private and one public. Private repos are not supported in .org

Regarding the Gold membership, we are currently working on make it more clear and transparent. There is a PR in progress at https://github.com/rtfd/readthedocs.org/pull/4063

Also, from what I know, there is not direct support over email fo