[2019-12-01 08:21] manjotpahwa commented on #6411
You should be able to view the docs now.

[2019-12-01 08:25] manjotpahwa opened #6421 "Request to enable SEARCH_ANALYTICS feature flag for project scrybe"
## Details

* Read the Docs project URL: https://readthedocs.org/projects/scrybe-docs/
* Build URL (if applicable): https://readthedocs.org/projects/scrybe-docs/builds/
* Read the Docs username (if applicable): manjot

Request to try out the feature. Thanks!

[2019-12-01 08:37] manjotpahwa commented on #6411
Actually I figured out, it was related to the Do not track message that my Brave Browser enabled.

[2019-12-01 08:37] #6411 closed

[2019-12-01 13:58] humitos commented on #6420
We have had this issue before. It seems that PyTorch requires _a lot_ of memory to be imported or even installed.

Just in case, are you able to build your documentation locally (outside of Read the Docs)?

[2019-12-01 14:33] humitos commented on #6412
Hi @lukelbd! The main problem here is that `conda` consumes _a lot_ of memory to do the package resolution. We had this problem in the past and it's a known issue in the conda community.

I enabled to flags in your project that could help with this (the most important one, is to update conda at startup, since the latest conda release has some memory consumptions improvements).

I triggered a build

[2019-12-01 14:52] humitos commented on #6412
That didn't help too much. I had to increase the memory limit to 2.5Gb to make the `conda create env` step to pass.

The build is still failing because your `proplot` library is not properly installed in the `conda` environment created, so it failed when importing it from Sphinx. See https://readthedocs.org/projects/proplot/builds/10046893/

[2019-12-01 17:03] sunilkpai commented on #6420
I see, ok. Yes, I have indeed been able to use sphinx to build my docs locally.

[2019-12-01 18:59] KartikKapil commented on #6363
@stsewd here i have made a new json file with the help of python3 and made a new pull request  #6424 kindly review it and help me make any changes if needed :)

[2019-12-01 20:46] lukelbd commented on #6412
Thanks a lot!

I fixed the failed build by adding proplot to `environment.yml` with a

[code]

But now it fails because I've renamed some classes and class methods. I think it will run if I can call `make clean` on the RTD server. How can I do this?

[2019-12-01 20:51] lukelbd commented on #6412
It seems this error is related to #208 (which was posted by the astropy developers). Astropy released the little-known [sphinx-automodapi](https://sphinx-automodapi.readthedocs.io) plugin that I also use for ProPlot -- it imports your package and automatically figures out which classes + functions need to be documented, but when the class + function names change and you still have the auto-generat

[2019-12-01 21:12] lukelbd commented on #6412
Next we have a `KeyError: PROJ_LIB` issue associated with basemap as described in #5339. Basemap needs to use a custom environment variable, but since RTD does not use `conda activate`, this variable is unset. I'll copy their [hack](https://github.com/mkstratos/stj_pv/commit/9a4b19fdf3e442cd3f1bdf65b14cce9f53cd962a) into my `conf.py` and try again.

[2019-12-02 01:26] rafa-guedes commented on #6282
@ashleyzcy same issue here.. Have you had any luck?

[2019-12-02 02:57] ln2khanal opened #6425 "<PROJECT_ROOT>/media/json Generator"
## This is not a bug reporting!
Hello Team, I have been working on top of the RTD community version. We, as a team is unable to figure out how the `<PROJECT_ROOT>/media/JSON` gets generated. The reason I am asking is not just to know the directory and the file creation, it's rather problems created as some of the projects' content inside the directory gets deleted out, sometimes all the content ge

[2019-12-02 07:14] lukelbd commented on #6412
Perfect, [it's live](https://proplot.readthedocs.io/en/latest/)! Thanks for the help. Luckily it seems the `nbsphinx` step doesn't need any more memory than the `conda` step.

[2019-12-02 09:58] jontwo commented on #3489
What version has this bugfix? We are having the same problem at v2.8.2

[2019-12-02 15:39] stsewd commented on #6297
@pllim did you reopen the issue to still request the global `edit_on_github_branch` setting? Or is there something else?

[2019-12-02 16:35] stsewd commented on #6425
I think you are describing https://github.com/readthedocs/readthedocs.org/pull/6380

It's fixed in 3.10.0 https://docs.readthedocs.io/en/stable/changelog.html#version-3-10-0

[2019-12-02 16:37] #5856 closed

[2019-12-02 17:01] pllim commented on #6297
Yes, I did re-open it due to https://github.com/readthedocs/readthedocs.org/issues/6297#issuecomment-542862228 . Sorry for the confusion!

[2019-12-02 19:07] madelyngreyes commented on #6069
Do we have a status on the deployment of the possible fix by chance?

[2019-12-02 19:11] stsewd commented on #6069
@madelyngreyes it's already deployed. If you still have this problem, you should try rebuilding the version.

[2019-12-02 21:53] stsewd commented on #6297
@pllim so is the same requests as described in the description? or the one from the comment? (being able to not display the link)

[2019-12-02 21:56] pllim commented on #6297
Being able to **not** display the link would be a workaround solution for lacking a global setting, which I will accept. Does that make sense?

[2019-12-03 00:52] stsewd commented on #6421
Done! You can check it here https://readthedocs.org/dashboard/scrybe-docs/search-analytics/

[2019-12-03 00:52] #6421 closed

[2019-12-03 01:03] stsewd commented on #6415
When you trigger any build, before building the docs, we collect information about the repo, like branches and tags. If we detect a new tag or branch (and it's greater than the current stable, a build is triggered for the new stable). Or if the latest branch (master) changes, we trigger a new build to latest too.

Also, if you have set up the webhook to send the events when a tag or branch is push

[2019-12-03 01:36] stsewd commented on #6415
Ok, I think I understand better what you mean and what we are doing :D.

You were using the generic integration bc you are not using github, but a self hosted git server.
All the integrations receive the name of the branches/tags to build.

RTD can have more than one version linked to one name of a branch/tag. This is the case of LATEST and STABLE. The branch name `master` is linked to the version

[2019-12-03 02:14] stsewd opened #6427 "Fix logic to build internal/external versions on management command"
We are building only external/internal versions if we pass the `magic` word `external`/`internal`

https://github.com/readthedocs/readthedocs.org/blob/2a1b641469bc549f0de06baffb1831cb7a3bdd6b/readthedocs/core/management/commands/update_repos.py#L80-L101

But we first check if version isn't `None` or different than `all`

https://github.com/readthedocs/readthedocs.org/blob/06a2e65423a6e26e3226cda72

[2019-12-03 09:12] Flid commented on #6069
Our issue has been fixed after the release. Thank you!

[2019-12-03 13:33] chrisinmtown commented on #6415
Trying to follow @stsewd explanations. I guess that all changes on git branch "master" are exposed in RTD under the name "latest". Many teams use "master" branch as the development branch, so I think I follow. But what is "stable"?  Naively I read that word as implying a version has passed some kind of validation. But I don't see how RTD can possibly know about any such thing.

[2019-12-03 15:49] stsewd commented on #6415
@chrisinmtown you can read more about stable here https://docs.readthedocs.io/en/stable/versions.html

[2019-12-03 17:15] madelyngreyes commented on #6069
My issue was fixed as well, thank you!

[2019-12-03 20:19] zbeekman commented on #3181
My understanding is that pip is going to start supporting the `Pipfile` and `Pipfile.lock` formats at some point in the future. Either way, I find dependency management with Pipenv to be more intuitive and reliable than with pip, and I like the built in venv.

[2019-12-04 02:19] stsewd commented on #6304
We now don't query azure anymore https://github.com/readthedocs/readthedocs.org/blob/ae6aeb5837324b32e57623913f57fa9d9b216169/readthedocs/builds/models.py#L375-L399

[2019-12-04 02:19] #6304 closed

[2019-12-04 05:51] brianmay commented on #3181
@zbeekman Do you have a source for that understanding?

[2019-12-04 19:48] eseifert opened #6435 "Regain ownership of project “MADAM”"
## Details

* Read the Docs project URL: https://madam.readthedocs.io/
* Build URL (if applicable): https://github.com/eseifert/madam
* Read the Docs username (if applicable): eseifert

## Expected Result

When I am logged in I want to see the project in my list of projects.
When I am logged in I want to be able to edit the project.

## Actual Result

When I am logged in I don’t see the project in

[2019-12-04 19:53] stsewd commented on #6435
Hi, the maintainer of that project is https://readthedocs.org/profiles/mseifert/ Did you create that project and then give ownership to someone else?

[2019-12-04 20:00] eseifert commented on #6435
We worked on the project together, but I didn’t remember who created the readthedocs account. I will contact @seifertm. Could the project be transferred or should mseifert delete it and I re-add it?

[2019-12-04 21:02] stsewd commented on #6435
Yes, the project can be transferred, the user has to add you as owner from the admin.

[2019-12-05 20:36] eseifert commented on #6435
Thanks! That solved the issue.

[2019-12-05 20:36] #6435 closed

[2019-12-05 20:42] agjohnson commented on #3181
Thanks for all the input so far, everyone. This is helpful to have.

I feel the same way to a certain degree. RTD might be overly opinionated about process and tooling, but if we're looking to support the Python community at-large, we probably should have more flexibility in our workflow.

One option I've raised, and this option is not being actively considered at this moment, is to implement pipe

[2019-12-06 03:58] hujianli94 opened #6443 "Build error with build id #10075056"
## Details:

* Project URL: https://readthedocs.org/projects/Devops_blog/
* Build URL(if applicable): https://readthedocs.org/projects/devops-blog/builds/10075056/
* Read the Docs username(if applicable): hujianli94

## Expected Result

*A description of what you wanted to happen*

## Actual Result

*A description of what actually happened*

[2019-12-06 04:22] #6427 closed

[2019-12-06 05:16] hujianli94 opened #6444 "Build error with build id #10075252"
## Details:

* Project URL: https://readthedocs.org/projects/Devops_blog/
* Build URL(if applicable): https://readthedocs.org/projects/devops-blog/builds/10075252/
* Read the Docs username(if applicable): hujianli94

## Expected Result

*A description of what you wanted to happen*

## Actual Result

*A description of what actually happened*

[2019-12-06 05:44] hujianli94 opened #6445 "Build error with build id #10075252"
## Details:

* Project URL: https://readthedocs.org/projects/Devops_blog/
* Build URL(if applicable): https://readthedocs.org/projects/devops-blog/builds/10075252/
* Read the Docs username(if applicable): hujianli94

## Expected Result

*A description of what you wanted to happen*

## Actual Result

*A description of what actually happened*

[2019-12-06 05:54] rohitjha941 commented on #6343
@KartikKapil  Can I take this if you are not working on this?

[2019-12-06 07:23] honzajavorek commented on #3181
One of the reasons I started to use pipenv (and not poetry) back then was wider support for Pipfile in integrations - e.g. dependabot, GitHub (security warnings), Snyk, Heroku, or now.sh support Pipfile for specifying dependencies alongside requirements.txt, while support for pyproject.toml and poetry is still rare. Last time I checked I noticed dependabot now supports it, but I doubt about the ot

[2019-12-06 16:55] agjohnson opened #6446 "High memory build queue"
We already have a high resource build queue in use currently, however we could be doing more here to push projects towards these queues without intervention.

Probably the best marker we have right now is if the project is built with conda. This is a really good indicator that the project has higher resource demands, and should probably just get more memory and time, and be put into a special queu

[2019-12-07 18:34] keshavvinayak01 commented on #6217
@dojutsu-user This issue is still open right?

[2019-12-08 05:07] keshavvinayak01 commented on #6217
@dojutsu-user @stsewd can you confirm that this solved the issue?  https://github.com/readthedocs/readthedocs.org/pull/6447

[2019-12-09 09:02] apfelbox opened #6449 "Table layout broken?"
## Details

* Read the Docs project URL: https://www.doctrine-project.org/projects/doctrine-dbal/en/2.9/reference/types.html#mapping-matrix
* Build URL (if applicable): (?)
* Read the Docs username (if applicable): (?)

## Expected Result

I was browsing the Doctrine documentation, and as I saw the broken table, I decided to fix it.
However, the syntax for the table looks correct – is there someth

[2019-12-09 10:57] #2251 closed

[2019-12-09 15:04] #6395 closed

[2019-12-09 15:54] stsewd commented on #6449
Can you please provide a link to your read the docs project?

[2019-12-09 16:21] stsewd commented on #6446
That isn't true, actually, we use the config file to get the build image, so the docker image isn't created yet when we parse it. So, we can alter the build limits before creating the docker image based on the conda setting.

[2019-12-09 17:04] fxdgear opened #6450 "Generic Webhooks sent from Github fail with 403"
I am trying to hook github up to send push events via the generic webhook, why not use github integration? reasons. So we are working around this by trying to use the generic webhook.

Turns out when GH tries to send the request, I am getting a 403

[code]

I've setup the `secret` value in the webhook form to be the token provided by RTD UI for creating a generic webhook.

Thanks

[2019-12-09 17:04] #6217 closed

[2019-12-09 21:56] agjohnson commented on #6446
Yes, true, but if we have servers specifically set aside for 2-4G memory builds, we'd want builds to be moved to that build queue, hopefully seamlessly.

For instance, most builds could probably happen under low resource build servers, like 2G memory instances. There would be a high cost to spinning up all the servers with enough memory to build large projects.

[2019-12-10 01:36] stsewd commented on #6445
Closing as duplicated of https://github.com/readthedocs/readthedocs.org/issues/6444

[2019-12-10 01:36] #6445 closed

[2019-12-10 01:37] stsewd commented on #6443
Closing as duplicated of https://github.com/readthedocs/readthedocs.org/issues/6444

By the way, there is no need of creating a different issue for each build id.

[2019-12-10 01:37] #6443 closed

[2019-12-10 01:52] mdraw commented on #4942
@kiran-kate sorry for the late reply and thanks for asking. Actually by forcing sphinx 2.2 and making some changes to my setup.py I've finally managed to fix this problem (see https://github.com/ELEKTRONN/elektronn3/commit/a3555340b29050e80ee3f8307cf194f3b7f00f55 and https://github.com/ELEKTRONN/elektronn3/commit/69e2e003e3e627371fe74c14db5be1840fb3e541). Documentation builds are now very fast and

[2019-12-10 09:36] apfelbox commented on #6449
Hi @stsewd,

hmm, I thought I was browsing the docs on readthedocs, but apparently they are using their own rst parser / hosting setup.

Sorry for the noise!

[2019-12-10 09:36] #6449 closed

[2019-12-10 15:17] stsewd opened #6452 "Initialize all the attributes in build tasks on `__init__` method"
Move all the self attributes to the `__init__` method and work from there, right now we initialize the attributes around all the places.

https://github.com/readthedocs/readthedocs.org/blob/c2609f535981e871ff7fe979188cbbe141dd8bc3/readthedocs/projects/tasks.py#L216

https://github.com/readthedocs/readthedocs.org/blob/c2609f535981e871ff7fe979188cbbe141dd8bc3/readthedocs/projects/tasks.py#L301

Ref

[2019-12-10 21:04] kiran-kate commented on #4942
Thank you so much @mdraw, the trick worked for me too. It doesn't fail at installing pytorch now, but it is not generating docs for all the modules now. It is possible that my rtd requirements.txt does not have all the required packages since I didn't copy extra dependencies there, but was wondering if there is a way to check the exact log to see which imports might be failing.

[2019-12-10 21:08] stsewd commented on #4942
Yes, you can. You can see this in the build page, if you click over the sphinx-build step you can see if there is any warnings about missing imports

[2019-12-10 21:18] kiran-kate commented on #4942
Thank you @stsewd for such a prompt help. I found the problem and fixed it. So rtd works for my project too now, with the trick in setup.py to check for the environment variable READTHEDOCS and not install pytorch and including it as autodoc_mock_imports in conf.py instead. Thank you @mdraw for the exact details again.

[2019-12-13 03:22] siddacious opened #6455 "Subprojects page is throwing 502s"
## Details
This is the same issue as #6027, with the same project

* Read the Docs project URL:
https://readthedocs.org/projects/circuitpython/
* Build URL (if applicable):
* Read the Docs username (if applicable):
siddacious

## Expected Result
Going to https://readthedocs.org/dashboard/circuitpython/subprojects/
should load within a second or two

## Actual Result
Recently I will often get a 502

[2019-12-13 13:59] sjrowlinson commented on #6256
@stsewd Hi again, thanks very much for this. Unfortunately this error (of excessive memory consumption) has resurfaced even with these limits increased. Do you have any advice to get around this? I'm not aware of any of our dependencies being so large as to contribute a significant chunk of this 1200 MB limit but if it is anything I suspect that it will probably be `suitesparse` which is installed

[2019-12-14 09:40] sunilkpai commented on #6420
@humitos Any progress on this issue?

[2019-12-14 16:08] zzzeek opened #6456 "There is a potentially fraudulent copy of my documentation being hosted by unknown actors on readthedocs"
## Details

* Read the Docs project URL:

https://sqlalchemy-html.readthedocs.io/

* Build URL (if applicable):
* Read the Docs username (if applicable):

unknown

## Expected Result

This project should not exist.  SQLAlchemy's official documentation is at https://docs.sqlalchemy.org/ .

## Actual Result

A broken copy of my site with no attribution that is also pulling in copyrighted elements fr

[2019-12-14 16:27] adybbroe opened #6457 "Automatic build on pull request for Pyspectral"
## Details

Could you set the feature flag for automatic builds for PRs on our project, I suppose this is the flag EXTERNAL_VERSION_BUILD?

* Read the Docs project URL: https://pyspectral.readthedocs.io/
* Build URL (if applicable):
* Read the Docs username (if applicable): adybbroe

## Expected Result

*A description of what you wanted to happen*
I would like to have RTD automatically building pu

[2019-12-14 16:57] keshavvinayak01 commented on #6279
@stsewd @davidfischer  I'm taking up this issue seeing it's still open without a merge, okay?

[2019-12-14 17:33] davidfischer commented on #6456
Thanks for letting us know. Before going through formal takedown procedures, I simply emailed the user who controls it on RTD, pointed to this ticket, and asked them to take it down. Hopefully it is resolved easily but if needed we can take the next steps.

[2019-12-14 19:14] zzzeek commented on #6456
yup im assuming someone put it there when my site was down or something but id rather not have any copies that look just like my page floating out there if at all possible :)

[2019-12-15 03:45] davidfischer commented on #6456
The user responded and took down the forked docs. I'm glad we could get this resolved the easy way.

[2019-12-15 03:45] #6456 closed

[2019-12-15 15:02] zzzeek commented on #6456
thanks!

[2019-12-15 19:06] HeaTTheatR opened #6458 "Why was my project placed in spam?"
## Details
Why was my project placed in spam? Error - 406

<img src="https://habrastorage.org/webt/-4/dh/fd/-4dhfd4bcvce2pjxpeearchgm0m.png" />

* Read the Docs project URL: https://readthedocs.org/projects/kivymd/
* Read the Docs username (if applicable): KivyMD

[2019-12-15 22:19] wesinator opened #6459 "Italicized code sample in function definition section is rendered with Unicode smart quotes"
## Details

* Read the Docs project URL: https://yara.readthedocs.io/en/v3.11.0/modules/hash.html#c.md5
* Build URL (if applicable): https://github.com/VirusTotal/yara/blob/4df40fca364a8fdf29b2f84b2abac26cd16ca75f/docs/modules/hash.rst
* Read the Docs username (if applicable):

## Expected Result

Should render text with normal typed `" "` quotes, everywhere in rst code/function sections.

## Actu

[2019-12-16 01:50] chillancezen opened #6460 "Build exited due to time out"
## Details

* Read the Docs project URL:
* Build URL (if applicable):
https://readthedocs.org/projects/fortimanager-ansible-collection/builds/
* Read the Docs username (if applicable):
Linky
## Expected Result
success without timeout
*A description of what you wanted to happen*
Build exited due to time out

## Actual Result
Build exited due to time out

*A description of what actually happened*
it

[2019-12-16 09:12] KartikKapil commented on #6452
@stsewd  [class UpdateDocsTaskStep(SyncRepositoryMixin):](url) already has a __init__  method do i need to look for more attributes of the same class to be added to the __init__ method

[2019-12-16 11:04] humitos commented on #6420
@suanmeiguo no, I'm not sure there is something we can do. It would be good to have some benchmark about where/how/why pytorch requires that amount of memory to be installed. Although, that would be something that pytorch community could fix in case we found the reason.

[2019-12-16 13:33] humitos opened #6462 "Installing a package with setup.py does not pick the right dependency"
## Details

* Read the Docs project URL: https://readthedocs.org/projects/dasher/
* Build URL (if applicable): https://readthedocs.org/projects/dasher/builds/10120006/

## Expected Result

Build should work. Although, it sometimes work --the second time the build is triggered in the same build server (note the `git clone` is not the first command but the `remote set-url` subcommand is used instead

[2019-12-16 13:36] humitos commented on #6462
I was able to reproduce this issue locally by doing:

[code]

[2019-12-16 13:43] humitos commented on #6462
Using `../env/bin/python -m pip install dash` install the proper package.

On the other hand, using `pip` to install the package itself also picks the right package:

[code]

[2019-12-16 13:58] humitos commented on #6462
Executing the command `../env/bin/python setup.py install --force` twice makes the install to work. This seems like a bug in `setuptools` and not on Read the Docs.

[2019-12-16 15:26] stsewd commented on #3275
We still need to dig a little more here. Would be great if someone could test if this happens outside read the docs in a clean environment, and following the same commands on the build page

[2019-12-16 15:42] stsewd commented on #6256
@sjrowlinson I'll try to dig this a little more and try to activate a flag to run your project with the latest version of conda (there are some improvements related to memory consumption)

[2019-12-16 15:45] stsewd commented on #6455
Just loading the page https://readthedocs.org/projects/circuitpython/ I can see it takes a long time to load... I think this is because we are calling the resolver for each subproject (to get the docs URL). We need to optimize this somehow.

[2019-12-16 15:48] stsewd commented on #6279
@keshavvinayak01 as mentioned https://github.com/readthedocs/readthedocs.org/issues/6279#issuecomment-541231697  this should be more easy to implement for someone with access to stripe

[2019-12-16 15:49] stsewd commented on #6458
Hi @HeaTTheatR sorry about that, probably a mistake. I'll try to enable your project soon.

[2019-12-16 15:51] stsewd commented on #6459
@wesinator can you replicate this locally? Also, can you try with another theme? (like alabaster). If the problem persists, it's an issue from the autodoc side.

[2019-12-16 15:52] ericholscher commented on #5152
Sorry for the misleading ticket here. We are going ahead and deleting these projects, instead of filtering them out. Closing this issue.

[2019-12-16 15:52] #5152 closed

[2019-12-16 15:53] stsewd commented on #6460
@chillancezen please check https://docs.readthedocs.io/en/stable/guides/build-using-too-many-resources.html Let me know if the problem persists after following those suggestions, also make sure to only install the libs that are only required to build the docs.

[2019-12-16 15:55] stsewd commented on #6452
@KartikKapil we need to refactor all that code, maybe move it out of the tasks.py file. This isn't a good first issue if you are not familiar with the codebase, but feel free to try

[2019-12-16 15:57] mfaafm commented on #6462
I was also able to reproduce it locally and the bug only happens when installing with ``python setup.py install``.

This also explains why it worked locally and on the ci tests, since tox seems to install it with ``pip install -e .`` when the ``usedevelop=True`` is set. Installing it with pip works.

Still confused though, why it works in some cases then.
I tried to use ``setuptools==41.0.1`` to u

[2019-12-16 15:58] HeaTTheatR commented on #6458
@stsewd Thanks!

[2019-12-16 16:43] #6425 closed

[2019-12-16 18:13] KartikKapil commented on #6452
@stsewd i wanted to give it a try , thank you :)

[2019-12-16 19:05] wesinator commented on #6459
yep, seems the smart quotes rendering also happens in alabaster, even on its own doc page - https://alabaster.readthedocs.io/en/latest/#project-background
`Alabaster is a modified (with permission) version of Kenneth Reitz’s “krTheme” Sphinx theme`
vs.
https://github.com/bitprophet/alabaster/blob/33b4b203171e9fe0dc5515f0afabfb4f916323d5/docs/index.rst#project-background

[2019-12-16 22:25] stsewd commented on #6459
Ok, I dug a little here. Looks like is a thing from docutils https://docutils.sourceforge.io/docs/user/smartquotes.html#id5

If you want to have the original quotes you need to escape them or put the text into double `` so it gets rendered as code.

[2019-12-16 22:25] #6459 closed

[2019-12-16 23:15] sjrowlinson commented on #6256
@stsewd Thanks for taking the time to help with this. If it ends up being too much of a resource drain then I'll try switching to using Sphinx AutoAPI to avoid having to install the package - but that's mostly a last resort, as we may end up needing the package to be installed for some things.

[2019-12-16 23:32] stsewd commented on #6458
Done!

[2019-12-16 23:32] #6458 closed

[2019-12-16 23:37] stsewd commented on #6457
Done, please check https://docs.readthedocs.io/en/stable/guides/autobuild-docs-for-pull-requests.html#troubleshooting

[2019-12-16 23:37] #6457 closed

[2019-12-17 01:17] chillancezen commented on #6460
thanks for your guidance. I will try that

[2019-12-17 09:41] chillancezen commented on #6460
@stsewd
hi Santos,  the problem persists.
the library dependency is not the problem, I have over 1200 rst files, that might probably what the issue is.

could I have a way to increase the timeout threshold before it fails?
also cc @frankshen01
thanks in advance.
Link

[2019-12-17 10:59] humitos commented on #6460
Hi @chillancezen! If I understand correctly, Fortinet is a company and the documentation hosted is about one of its products. If so, you may consider to use our "Read the Docs for Business" (https://readthedocs.com) solution where you will have more resources to build your docs. Please, let me know if that makes sense. Thanks!

[2019-12-17 14:16] humitos opened #6464 "Deleting a branch on GitHub triggers a build"
When a branch is defined as an active version on Read the Docs, [deleting it from GitHub](https://github.com/readthedocs/test-builds/pull/8#event-2889925571) will [trigger a build on Read the Docs](https://readthedocs.org/projects/test-builds/builds/10130826/) which will fail because when trying to pull down that branch it will fail.

The [webhook received on Read the Docs](https://readthedocs.org

[2019-12-17 17:51] okwme opened #6467 "Account Recovery Inquiry"
## Details

* Read the Docs project URL: https://tendermint.readthedocs.io/en/v0.23.0/
* Build URL (if applicable):
* Read the Docs username (if applicable):

## Expected Result

This account was created by a previous employee of Tendermint, Inc. We are unable to contact the individual and are not sure which email address he used to register our readthedocs account. We have tried to reset the acco

[2019-12-18 01:09] wesinator commented on #6459
ah, thanks

https://github.com/readthedocs/readthedocs.org/issues/2940#issue-234941418  describes how to disable the smart quote rendering

[2019-12-18 01:47] agjohnson commented on #5321
We should probably prioritize finishing this and having some functionality for hiding versions however. Users currently don't have any way to accomplish this other than deactivating a version.

[2019-12-18 02:18] tannewt commented on #6455
@stsewd Let us know if there is a sponsor tier we can join to help get this fixed. I'm personally a gold member but we aren't as a company.

[2019-12-18 09:46] #6467 closed

[2019-12-18 10:52] Lokesh2703 commented on #5586
@stsewd Can I do renaming for Path Variables in `settings/base.py`

[2019-12-18 11:48] #6464 closed

[2019-12-18 12:32] humitos commented on #6455
Our [`resolve`](https://github.com/readthedocs/readthedocs.org/blob/5696cef02b231ad07951bfc8010f4a0f3671f707/readthedocs/core/resolver.py#L162-L198) method is doing 7 db queries to resolve each URL. Some of them are duplicated when resolving one URL and most of them are duplicated when resolving multiple URLs for subprojects of the same project. This method is probably a good place to take a look

[2019-12-18 12:52] stsewd commented on #5586
@Lokesh2703 what path variables? If you are going to rename a setting, make sure to have a way to show they are deprecated.

[2019-12-18 17:57] djhoese opened #6474 "Edit on GitHub incorrect for "latest" version"
## Details

* Read the Docs project URL: https://satpy.readthedocs.io/en/latest/
* Build URL (if applicable):
* Read the Docs username (if applicable):

## Expected Result

The link for "Edit on GitHub" should be a valid URL pointing to the correct file in the `master` branch for a project on GitHub when looking at the "latest" version.

## Actual Result

The URL for the latest version is `https:/

[2019-12-18 18:16] djhoese commented on #6474
Just noticed if I pass "?version=master" in the URL then the "Edit on GitHub" URL is correct.

[2019-12-18 19:03] agjohnson opened #6475 "Standardize proxito settings"
Currently, there is no base proxito settings file, there are copies of settings files just for docker, our ops has one off settings files, and i had to create a corporate settings file for proxito. This should be all standardized to make all of these settings more understandable.

- [ ] Make a `readthedocs.settings.proxito.base` with base settings
- [ ] Make a `readthedocs.settings.proxito.dev` fo

[2019-12-18 20:10] agjohnson commented on #6475
I keep forgetting that there are settings files in `/dockers/settings`. These would be much better off in `readthedocs/settings/main/docker.py` if we can.

[2019-12-18 20:21] stsewd opened #6477 "Warn users when building a version other than the default in a single version project"
We don't put any restrictions about single version projects.

Maybe showing a warning in the build output but keep building? Or just error and don't build?

Maybe don't show any other version in the list

![Screenshot_2019-12-18 Builds Read the Docs](https://user-images.githubusercontent.com/4975310/71120249-fd3c5280-21a9-11ea-81cb-2244ee52f73d.png)

[2019-12-18 20:22] djhoese commented on #6474
This seems to have fixed itself. The only change I made was setting the default branch from "---" in the web settings to "master", rebuilding, and refreshing my browser page while clearing my browser cache.

So my original issue seems to be fixed.

[2019-12-18 20:22] #6474 closed

[2019-12-18 20:27] stsewd commented on #6474
@djhoese sorry for the late reply. Glad you fixed it. Indeed, this was an old bug, rebuilding the docs should fix it.

[2019-12-18 20:43] djhoese commented on #6474
I had rebuilt a couple times and done a hard refresh. There may still be a bug related to the '---' default branch selection, but I guess you can just keep that in mind if this comes up with someone else's project.

[2019-12-19 08:23] rohitjha941 commented on #6475
Can I work on this?

[2019-12-19 13:20] joacorapela opened #6479 "Missing hyperlinks to source in RTD"
## Details

* Read the Docs project URL: https://svgpfa.readthedocs.io/
* Build URL (if applicable):https://readthedocs.org/projects/svgpfa/builds/10143120/
* Read the Docs username (if applicable):joacorapela@gmail.com

## Expected Result

My local build has hyperlinks to [source]. I expected that the RTD should also contain these hyperlinks.

## Actual Result

The RTD version does not have hyper

[2019-12-19 14:07] stsewd commented on #6335
@felix-hilden time has arrived! Let me know how do you want to handle this, give you permissions or rename the old project.

[2019-12-19 14:16] felix-hilden commented on #6335
I'd like to have permissions to the old project, please! I think the version numbered solution is better. And we are still considering what to do with the project together in the original repository.

It's too bad Plamere has been so inactive... But thanks a bunch for your help!

[2019-12-19 14:25] stsewd commented on #6256
@sjrowlinson I have increased time and memory, the build is passing now https://readthedocs.org/projects/finesse/builds/10143568/

[2019-12-19 14:36] stsewd commented on #6335
Done!

[2019-12-19 14:36] #6335 closed

[2019-12-19 16:44] stsewd commented on #6479
@joacorapela this is happening because rtd isn't using your conf.py and requirements file. This is because you are not using a configuration file and rtd is trying to guess and generating some defaults.

Please use a configuration file to be explicit in how rtd should build your docs https://docs.readthedocs.io/en/stable/config-file/v2.html

[2019-12-19 16:47] joacorapela commented on #6479
The orgininal problem happened while using autoapi. I switched to autodoc and I have the same problem. I put the sphinx files in my web server and it looks good, https://sccn.ucsd.edu/~rapela/svGPFA/, but I would prefer to use readthedocs.
J.

[2019-12-19 16:48] stsewd commented on #6479
@joacorapela yes, doesn't matter what extension you use. You should use a configuration file https://docs.readthedocs.io/en/stable/config-file/v2.html to tell rtd the location of your conf.py file and requirements file.

[2019-12-19 16:56] stsewd commented on #6363
Just for clarification, this issue isn't about to just change the extension of the yamale schema or port the yaml file to a json file. Neither to use the same validation used in yamale.

You have to find the proper attributes that match that validations in https://json-schema.org/learn/getting-started-step-by-step.html

[2019-12-19 17:17] sjrowlinson commented on #6256
@stsewd That's great! Thanks again for the help.

[2019-12-19 21:46] joacorapela commented on #6479
Thanks, it worked well for one built
https://readthedocs.org/api/v2/build/10145001.txt
but it failed on the next one
https://readthedocs.org/api/v2/build/10145528.txt

But I guess this is a different issue.
I will close the current issue and open a new one.

Thanks again, Joaquin

[2019-12-19 21:46] #6479 closed

[2019-12-20 09:44] swaldhoer opened #6483 "Update doxygen to 1.8.16"
## Details

* Read the Docs project URL: https://native-lua.readthedocs.io/en/
* Build URL (if applicable): https://native-lua.readthedocs.io/en/add-doxygen/index.html
* Read the Docs username (if applicable): swaldhoer

## Expected Result

Building the doxygen API documentation should fully work.

## Actual Result

Only the doxygen mainpage is included but the ``Data Structures`` and ``Files`` ta

[2019-12-20 14:01] joacorapela opened #6484 "Cannot build doc with torch in requirements or using "system_packages: true""
## Details

* Read the Docs project URL: https://svgpfa.readthedocs.io/
* Build URL (if applicable):https://readthedocs.org/api/v2/build/10145001.txt

## Expected Result

Build doc with torch dependency.

## Actual Result

I was able to build my documentation with torch
https://readthedocs.org/api/v2/build/10145001.txt but on the next built I
received the error message:

Please note that in https:

[2019-12-20 14:03] joacorapela commented on #6484
Solved this problem using mocking. That is, adding to my conf.py:
autodoc_mock_imports = ["torch"]

[2019-12-20 14:03] #6484 closed

[2019-12-20 14:11] willronchetti commented on #3634
For anyone looking at this, in the new version of the `.readthedocs.yml` file you would need to specify the install requirements like below (and not how stated above unless you're using the old version).

[code]

[2019-12-21 06:57] Blackcipher101 commented on #6038
@humitos  @stsewd Is this issue still valid can I work on it

[2019-12-21 12:02] ashadhaz commented on #5445
Hey @humitos I would like to work on this issue. Is it still open?

[2019-12-21 12:12] zilinc commented on #5253
I'm new to rtd. My use case is that I use private versions for debugging my docs (or as a preview as I fix things). Is there an alternative to it? Thanks in advance.

[2019-12-21 15:26] mertyildiran opened #6485 "Command killed due to excessive memory consumption"
## Details

* Read the Docs project URL: https://readthedocs.org/projects/dragonfire/
* Build URL (if applicable): https://readthedocs.org/projects/dragonfire/builds/10154041/
* Read the Docs username (if applicable): `mertyildiran

## Expected Result

Successful build.

## Actual Result

After [this commit](https://github.com/DragonComputer/Dragonfire/commit/297cf33b92ed3a0d9a207cee6a72638cd6a113

[2019-12-22 12:19] humitos commented on #5445
@ashadhaz yes, it's still open

[2019-12-22 12:22] humitos commented on #5253
@zilinc Hi! As mentioned in this issue, we are removing the support for private versions. In case you want to have "preview" of what a version will look like, you can ask to enable PR builder in your project. See https://blog.readthedocs.com/building-docs-for-pull-requests/

[2019-12-22 12:28] humitos commented on #6485
It seems your are installing a ton of dependencies. Some of them are heavy and are compiled each time a build is triggered, which is causing the memory issue.

I suggest you to not install any dependency that it's not needed to build your documentation: I suppose that `nltk`, for example, is not needed --among others. Usually, it's a good practice to have a separate `requirements.txt` file only fo

[2019-12-22 13:41] dibyaaaaax commented on #5935
hey @humitos, can I work on this?

[2019-12-22 17:50] humitos commented on #5935
@dibyaaaaax sure! go ahead :)

[2019-12-22 22:19] humitos commented on #6483
We have currently installed 1.8.13 (from Ubuntu Bionic). Do you know if there were significant changes between 1.8.13 and 1.8.16 to make this happen?

[2019-12-23 02:48] Blackcipher101 commented on #6363
@stsewd Can I work on this Issue?

[2019-12-23 20:50] Lokesh2703 commented on #4603
By just adding sphinx-tabs==1.1.13, I was able to get sphinx-tabs in my docs, Can I add this in doc
that the user had to add sphinx-tabs==1.1.13 to the requirements.txt file to use sphinx-tabs in their RTD
[requirements.txt](https://github.com/readthedocs/readthedocs.org/files/3996258/requirements.txt)

[2019-12-23 21:56] strefethen commented on #4770
FWIW, here's an example from Google:

https://search.google.com/structured-data/testing-tool#url=https%3A%2F%2Fcloud.google.com%2Fdatastore%2Fdocs%2Freference%2Fdata%2Frest%2Fv1%2Fprojects%2FbeginTransaction

[2019-12-24 13:57] humitos opened #6490 "-ext not available on docker-compose setup"
After removing the `GITHUB_TOKEN` to pull down and install `-ext` from the `Dockerfile`, we don't have available -ext anymore. This makes some features to not work when developing with docker-compose setup.

As a workaround for now, I'm executing:

[code]

This should be an invoke command (maybe at `up` or similar) to make -ext available while using docker-compose or we can pull down and install `

[2019-12-25 20:43] ashleyzcy commented on #6282
@rafa-guedes not sure if there is any solution out there...Good luck

[2019-12-26 13:22] humitos commented on #6282
I think the problem here is that the Read the Docs image used to build documentation does no have a fortran compilar (`gfortran`, for example). This is the Dockerfile we use to build the and I don't see a fortran compiler there: https://github.com/readthedocs/readthedocs-docker-images/blob/master/Dockerfile

[2019-12-26 13:26] humitos commented on #6282
You may want to [mock this module](https://docs.readthedocs.io/en/stable/faq.html#i-get-import-errors-on-libraries-that-depend-on-c-modules) in order to build your documentation. From the online content of your docs, I don't think you need that module for your docs. Otherwise, you can use [`autoapi`](https://sphinx-autoapi.readthedocs.io/)

[2019-12-26 13:37] patdaburu commented on #3634
With apologies for the delayed response:  I did use the `setup_py_install` option in `.readthedocs.yaml`.  There haven't been any updates to this project in a while, but the docs seem to be in working order.

[code]

[2019-12-28 10:58] swaldhoer commented on #6483
I installed doxygen 1.8.13 and I get the same wrong result as on RTD. So I am pretty sure the problem comes from an old doxygen version on RTD.

Version 1.8.17 got released these days and I got a correct documentation build locally with that version. So maybe updating to the latest version would be good. Is this possible?

[2019-12-29 18:25] #5717 closed

[2019-12-31 08:48] brunato opened #6496 "Wrong year in the PDF build"
## Details

* Read the Docs project URL: https://readthedocs.org/projects/elementpath/downloads/pdf/latest/
* Build URL: https://readthedocs.org/projects/elementpath/builds/10186071/
* Read the Docs username (if applicable): brunato@sissa.it

## Expected Result

PDF build with date `Dec 31, 2019`

## Actual Result

PDF build with date `Dec 31, 2020`

[2020-01-01 22:28] ashleyzcy commented on #6282
@humitos thanks. That works out nicely! i just added one line to mock all the required packages to import my modules.

autodoc_mock_imports = ["f90wrap", "_pyEMsoft", "_pyEMsoft","numpy"]

[2020-01-01 22:28] #6282 closed

[2020-01-02 03:00] siddacious commented on #6455
@humitos or whomever else; please let us know what we can do to help get this addressed. It's impacting part of our process for documenting our libraries

[2020-01-02 18:58] mikeshardmind commented on #6324
I'm curious if there's any more on this, or if we can opt our project into the same build as well in the meantime, we recently constrained to python3.8+ due to upstream issue in python which was fixed in 3.8

[2020-01-03 06:39] Daltz333 commented on #4641
Just an issue bump, since it was talked about being done (now last year).

[2020-01-03 21:23] thoward27 commented on #6324
I have not made any progress on my end. Currently, I am waiting on several other packages to get to 3.8 before I can test it. Can someone enable EXTERNAL_VERSION_BUILD for my account? As I understand it, that should try and build docs for PRs, which would let me test just RTD much faster.

[2020-01-05 22:58] #6368 closed

[2020-01-06 11:28] humitos commented on #6483
We usually only install the versions from Ubuntu and they have 1.8.13 currently. I suppose next Ubuntu 20.04 LTS version will include the newer. If so, our new image will have the new Doxygen by that time.

[2020-01-06 11:46] swaldhoer commented on #6483
Ok thanks, then I will try to use conda to get a newer doxgen on RTD.

[2020-01-06 11:51] humitos commented on #6324
@mikeshardmind please, let me know what's your project and I will enable the Beta Docker image that contains Python 3.8 in your project. Also, see https://github.com/readthedocs/readthedocs.org/issues/6324#issuecomment-553669309 for its configuration.

[2020-01-06 11:52] humitos commented on #6324
@thoward27 let me know what's  your project on Read the Docs and I'll enable it.

[2020-01-06 12:04] mikeshardmind commented on #6324
@humitos thanks for the response, RTD project link https://red-discordbot.readthedocs.io/en/latest/

[2020-01-06 12:12] humitos commented on #6324
@mikeshardmind done! please try it now and let me know if you were able to build with Py3.8

[2020-01-06 12:19] mikeshardmind commented on #6324
@humitos Thank you, the beta image appears to work as intended for us ([successful build](https://readthedocs.org/projects/red-discordbot/builds/10209276/)) and the docs are rendering as intended.

[2020-01-06 14:24] stsewd commented on #6496
Thanks for the report. Were you able to reproduce this issue locally? If so, isn't a Read the Docs problem. I can't remember if we do anything with the date from our side.

[2020-01-06 14:55] stsewd commented on #6363
@Blackcipher101 sure

[2020-01-06 15:06] stsewd commented on #4603
@Lokesh2703 this issue is about sphinx tags, not tabs https://www.sphinx-doc.org/en/master/usage/restructuredtext/directives.html#including-content-based-on-tags.

[2020-01-06 15:09] thoward27 commented on #6324
@humitos https://github.com/thoward27/grade

[2020-01-06 15:24] stsewd commented on #6324
Just for clarification, we still are in beta because people not using a configuration file or using a configuration file with `python: 3` will get python 3.8 instead of python 3.7. That could break some builds (bc of something like using async as identifier). Probably we want to communicate the update to users before making the change.

[2020-01-06 15:55] stsewd commented on #6038
@Blackcipher101 it's still valid, go ahead. You can check this old PR https://github.com/readthedocs/readthedocs.org/pull/6058 for suggestions.

[2020-01-06 16:25] humitos commented on #6324
@thoward27 I need your project on Read the Docs.

[2020-01-06 19:07] stsewd commented on #6450
Hi, sorry for the late reply. What happens here is: The secret isn't the same as the token.

The secret isn't shown in the integrations menu (rtd creates this secret automatically for you if you are using gitlab/github).

The token is something only used for the generic integration. That token needs to be sent as a post parameter. I don't think GitHub allows you to add a custom post parameter.

Yo

[2020-01-07 09:19] brunato commented on #6496
I've tried local build before open the issue and the PDF had the correct date.

[2020-01-07 09:38] brunato commented on #6496
Before opening the issue I also rebuilt the *stable* of another project that has failed a week before. The same problem happens:

* PDF download URL: https://readthedocs.org/projects/xmlschema/downloads/pdf/stable/
* Build URL: https://readthedocs.org/projects/xmlschema/builds/10186148/

Rebuilding the *latest* today all gone ok:

* PDF download URL: https://readthedocs.org/projects/xmlschema/down

[2020-01-07 10:31] piyushpalawat99 commented on #6490
I would like to work on this issue, can anyone guide me through it since I'm not completely familiar with the codebase yet?

[2020-01-07 10:35] humitos commented on #6490
Hi @piyushpalawat99! This issue is actionable only for Core Developers since it needs access to a private repository. Feel free to find another one. Thanks!

[2020-01-07 10:40] humitos commented on #6496
I'd guess that the year is calculated with one timezone (where it was already 2020) and the date with another one. We should find where that date comes from to solve this.

[2020-01-07 10:48] humitos commented on #6455
Hi @siddacious! I took a look at the code and it really needs a refactor. Although, it does not look as a small refactor or easy to attack. I got lost very quickly while trying to make some performance improvements. Unfortunately, I don't have the time or energy currently to focus 100% on this problem but I will keep thinking on a different approach for a solution (at least an acceptable hack) for

[2020-01-07 11:56] UnixedIT commented on #1877
the sames error! ,
please check this project:

https://bit.ly/39OVE7Q

 thank you.

[2020-01-07 12:04] UnixedIT commented on #3906
Same error!
please check this project:

https://bit.ly/39OVE7Q

thank you.

[2020-01-07 13:16] KartikKapil commented on #6096
@stsewd is this issue still open ?

[2020-01-07 15:16] stsewd commented on #6096
@KartikKapil yeah, but there is a PR in progress here https://github.com/readthedocs/readthedocs.org/pull/6143

[2020-01-08 15:34] Parth1811 commented on #5445
@ashadhaz are you still working on this issue? If not I would like to work on this.

[2020-01-08 16:23] Parth1811 commented on #5388
I'm starting work on this issue as I see no new updates recently. @namanbansal013 if you have made any progress, please do share with me.

[2020-01-09 05:25] NumesSanguis opened #6506 "ericholscher.com blog posts broken links"
## Details
All links I tried to https://ericholscher.com/blog are broken.

E.g.: https://ericholscher.com/blog/2016/jul/1/sphinx-and-rtd-for-writers/
Clickable link in "Getting Started with Sphinx" page: An introduction to Sphinx and Read the Docs for technical writers`

* Read the Docs project URL: https://docs.readthedocs.io/en/latest/intro/getting-started-with-sphinx.html

## Expected Result

R

[2020-01-09 05:29] NumesSanguis opened #6507 "Request: How-to guide on using autodoc with RTD to generate docs from code docstrings / type hints (link to Sphinx-RTD-Tutorial)"
## Details
### autodoc
I was trying to find information on how to auto-generated documentation from my code with docstring and type annotations. I couldn't find anything on the [`Getting Started with Sphinx`](https://docs.readthedocs.io/en/latest/intro/getting-started-with-sphinx.html) page, so I assumed RTD did not have such instructions.

Googling gave me the Sphinx documentation (hard to unders

[2020-01-09 11:08] humitos opened #6508 "Optimize sync repository task by not fully cloning the repository"
When triggering a build, besides the build itself, we do a sync of the versions we have in Read the Docs with the branches and tags in the repository (this is done by `SyncRepositoryTaskStep`).

At the moment, we are performing a full clone again just to query the branches and tags. This is usually not a big problem, but if the repository is big enough we are downloading it all again just for very

[2020-01-09 11:19] #4643 closed

[2020-01-09 14:07] stsewd commented on #6506
Thanks for the report. The links are missing `www`.

This should work https://www.ericholscher.com/blog/2016/jul/1/sphinx-and-rtd-for-writers/

We need to find all links pointing to that block and add the `www` subdomain.

[2020-01-09 14:10] stsewd commented on #6507
Thanks, a how to guide would be great to have

[2020-01-09 14:11] #6107 closed

[2020-01-09 14:14] stsewd commented on #6508
We only do a clone once, when building we use the current repo to query the tags/branches. We use `SyncRepositoryTaskStep` only when we receive a webhook that a branch/tag was added or removed.

[2020-01-09 15:30] ericholscher commented on #6508
Right, this is about optimizing the `SyncRepositoryTaskStep` code, since it can be called quite often, and when we clean builders after each task, it will use a ton of bandwidth.

[2020-01-09 18:12] Daltz333 opened #6510 "Request to enable SEARCH_ANALYTICS feature flag for project frc-docs"
## Details

* Read the Docs project URL: https://frc-docs.readthedocs.io/
* Build URL (if applicable): https://github.com/wpilibsuite/frc-docs
* Read the Docs username (if applicable): Daltz333

[2020-01-09 18:18] stsewd commented on #6510
This feature should have been already live after https://github.com/readthedocs/readthedocs.org/pull/6447/. Looks like we forgot to remove the `show_analytics` check in the template

https://github.com/readthedocs/readthedocs.org/blob/master/readthedocs/templates/projects/projects_search_analytics.html

[2020-01-09 18:43] Parth1811 commented on #6510
Hey, I would like to fix this. May need some help though :)
Correct me if I'm wrong, do we simply have to remove this `if` condition and delete the `else` block. Essentially always executing the `if` block

https://github.com/readthedocs/readthedocs.org/blob/013f7bee9a137630fa7f2520e474df8b0292cc5c/readthedocs/templates/projects/projects_search_analytics.html#L14-L58

[2020-01-09 18:46] stsewd commented on #6510
@Parth1811 yes. There is another check for `show_analytics` in that file that should be removed as well.

[2020-01-09 18:48] Parth1811 commented on #6510
Ok got it.

https://github.com/readthedocs/readthedocs.org/blob/013f7bee9a137630fa7f2520e474df8b0292cc5c/readthedocs/templates/projects/projects_search_analytics.html#L73

[2020-01-09 20:13] fxdgear commented on #6450
Ok thanks for the response. We were having some issues with the security team not wanting to clear `readthedocs` as a trusted vendor for allowing access through the GH integration.

so I figured I would try the generic route, to avoid the hassle but it would appear that it's not possible.

Thanks

[2020-01-09 20:13] #6450 closed

[2020-01-09 20:53] WardBenjamin commented on #6400
I do have several emails tied to the same Github account. I'll look further into AllAuth.

[2020-01-10 14:20] dibyaaaaax commented on #6506
can I work on this?

[2020-01-10 21:22] Mailaender opened #6514 "openra.readthedocs.org is already taken"
Hi, I want to solve https://github.com/OpenRA/OpenRA/issues/14225 with your awesome service. However someone already registered https://openra.readthedocs.io/ referencing a non-existing repository and deleted user name so I couldn't contact him first. Can you please free the sub-domain and project name?

[2020-01-11 06:00] s-t-e-v-e-n-k opened #6515 "Python 3 only code results in empty docs with no configuration file"
## Details

* Read the Docs project URL:
https://readthedocs.org/projects/pygithub/
* Build URL (if applicable):
https://readthedocs.org/projects/pygithub/builds/10208150/
* Read the Docs username (if applicable):

## Expected Result

That the build would have failed, or at least warned -- some of the source files used Python 3 only code constructs since that commit removed Python 2 support, but t

[2020-01-12 00:00] mplanchard opened #6516 "Transfer ownership or remove abandoned docs for pypiserver"
## Details

* Read the Docs project URL: https://pypiserver.readthedocs.io/en/latest/

Hi! I'm a maintainer of [pypiserver](https://github.com/pypiserver/pypiserver), and we recently realized we had a ReadTheDocs page that we didn't know about and which has not been updated in a very long time (see pypiserver/pypiserver#259). Currently it's owned by the [ror6ax](https://readthedocs.org/profiles/ro

[2020-01-13 15:08] stsewd commented on #6516
Hi @mplanchard, we usually follow this policy in cases like this https://docs.readthedocs.io/en/stable/abandoned-projects.html

[2020-01-13 15:15] stsewd commented on #6515
You can actually see warning in the sphinx build step

![Screenshot_2020-01-13 PyGithub Read the Docs](https://user-images.githubusercontent.com/4975310/72267113-826e2800-35ed-11ea-9fa3-7a0ea26b64e3.png)

We want to improve that https://github.com/readthedocs/readthedocs.org/issues/4226

[2020-01-13 15:18] stsewd commented on #6514
We follow this policy https://docs.readthedocs.io/en/stable/abandoned-projects.html for cases like this

[2020-01-13 15:55] #6038 closed

[2020-01-13 15:55] #6510 closed

[2020-01-13 18:58] Mailaender commented on #6514
Pinging @Rekojeht

[2020-01-13 21:18] agjohnson commented on #6475
@rohitjha941 this is a bad issue for a new contributor. It requires working on private repositories. Issues labels "Good first issue" are better targets. You also do not need approval of the core team to work on an issue.

[2020-01-13 22:36] rohitjha941 commented on #6475
@agjohnson  Thanks, Will look for  "Good first issue"

[2020-01-14 05:59] albertcolin opened #6521 "111"

[2020-01-14 08:55] ror6ax commented on #6516
Hi guys. I'm ok to transfer ownership to @ankostis

[2020-01-14 09:28] ankostis commented on #6516
No, please transfer it to @mplanchard.
I';m no longer involved with this project.

[2020-01-14 09:57] ror6ax commented on #6516
RTD people - I'm fine with that.

On Tue, 14 Jan 2020, 10:28 Kostis Anagnostopoulos, <notifications@github.com>
wrote:

[2020-01-14 12:24] #6521 closed

[2020-01-14 13:33] Rekojeht commented on #6514
It has been a long time.. forgot I was the maintainer of that initiative. Let's work together to make that resource the best it can be! :)

[2020-01-14 14:16] stsewd commented on #6516
@ror6ax you can do this by going to https://readthedocs.org/dashboard/pypiserver/users/ and add the user/s as owners, you can be removed after that.

[2020-01-14 15:11] stsewd commented on #6444
Hi, looks like the project was deleted https://readthedocs.org/projects/devops-blog/

[2020-01-14 15:35] Blackcipher101 commented on #6341
@stsewd can I sart working on the issue

[2020-01-14 15:36] stsewd commented on #6341
@Blackcipher101 this issue has the `Needed: design decision` label, we still need to decide how to resolve this.

[2020-01-14 17:02] #6506 closed

[2020-01-14 18:24] Mailaender commented on #6514
Ha, I found you in the OpenRA bug tracker. :) Can you point it to https://github.com/OpenRA/docs/?

[2020-01-14 18:27] Mailaender opened #6522 "Make the readthedocs template a GitHub template"
Hello, can you make https://github.com/readthedocs/template a GitHub template repository?

* https://help.github.com/en/github/creating-cloning-and-archiving-repositories/creating-a-template-repository
* https://help.github.com/en/github/creating-cloning-and-archiving-repositories/creating-a-repository-from-a-template

Sorry for posting it here, but the template issue tracker is disabled.

[2020-01-14 18:46] stsewd commented on #6522
Curious about the reason. That project is mostly to show some rtd features when you create a new account. Looks out of date with the current sphinx version (repo was updated 6 years ago)

[2020-01-14 18:59] Mailaender commented on #6522
It's what gets build when you click https://readthedocs.org/dashboard/import/manual/demo/

[2020-01-14 19:04] stsewd commented on #6522
Yes, it's only used for that.

[2020-01-14 19:08] Mailaender commented on #6522
Thought it would be a good idea to fork it and start there.

[2020-01-14 23:39] stsewd opened #6524 "Allow to re-trigger a build from the build page"
This is mainly for builds from a pull request (maybe would be good to add this to normal builds too?), sometimes the build fails for reasons that aren't related to the PR like https://readthedocs.org/projects/docs/builds/10259706/.

The status of the PR would be marked with the red X because of that. Travis and other services allow you to trigger a new build to refresh the status.

Currently, the

[2020-01-14 23:41] stsewd commented on #6524
The link gives 404 now because we delete all builds when the PR is merged/closed :D

[2020-01-15 11:22] rffontenelle opened #6525 "Bad link to fabfile.py in Internationalization page in documentation"
## Details

* Read the Docs project URL: https://docs.readthedocs.io/en/latest/development/i18n.html#transifex-integration
* Build URL (if applicable): n/a
* Read the Docs username (if applicable): n/a

## Expected Result

Clicking "fabric script" hyperlink should get to such script in the URL https://github.com/readthedocs/readthedocs.org/blob/master/fabfile.py

## Actual Result

Clicking such hy

[2020-01-15 12:13] Parth1811 commented on #5445
I am working on this issue as mentioned on IRC.

@stsewd how should this be fixed, there are two approaches:
1. Simply place `https` instead of `http` and expect the custom domain to have SSL.
2. In the `get_docs_url` method make a request and check if the domain has SSL and then proceed accordingly.

[2020-01-15 13:30] ror6ax commented on #6516
Done

On Tue, 14 Jan 2020 at 15:16, Santos Gallegos <notifications@github.com>
wrote:

--
<https://about.me/gregory.reshetniak?promo=email_sig&utm_source=product&utm_medium=email_sig&utm_campaign=edit_panel&utm_content=thumb>
Gregory Reshetniak
about.me/gregory.reshetniak
<https://about.me/gregory.reshetniak?promo=email_sig&utm_source=product&utm_medium=email_sig&utm_campaign=edit_panel&utm_conten

[2020-01-15 14:22] stsewd commented on #6525
We us invoke with a tasks.py file now https://github.com/readthedocs/readthedocs.org/blob/master/tasks.py.

[2020-01-15 14:27] stsewd commented on #6516
I can see @mplanchard as owner now https://readthedocs.org/profiles/mplanchard/. Feel free to re-open the issue if that isn't your user.

[2020-01-15 14:27] #6516 closed

[2020-01-15 14:36] rffontenelle commented on #6525
@stsewd Would you say it is enough to simply replace the URL then?

[2020-01-15 14:40] stsewd commented on #6525
Yeah, the paragraph and url should be updated.

[2020-01-15 16:34] pgunn opened #6526 "Build error with build #10263776"
## Details

* Read the Docs project URL: https://readthedocs.org/projects/caiman
* Build URL (if applicable): https://readthedocs.org/projects/caiman/builds/10263776/
* Read the Docs username (if applicable): caiman

## Expected Result

*A description of what you wanted to happen*
Builds complete (or fail with an error we might fix)

## Actual Result

*A description of what actually happened*
Surp

[2020-01-15 16:55] austin-plixer commented on #6496
This happened to us as well when buildign on the 31st, it was resolved in builds run this week

[2020-01-15 17:40] saadmk11 commented on #6524
I think we can show a `Restart Build` button on the build detail page for the `External` versions and it should be only available to the maintainers of the project.

[2020-01-15 19:04] pgunn commented on #6526
I tried trimming some packages out that are not needed to build the environment, but we'd have trouble trimming things down further. The most recent build got us:

[code]

[2020-01-15 21:21] pgunn commented on #6526
I've trimmed out as much as I can (this may be too small), and it's still running out of memory while trying to build the conda environment:

https://readthedocs.org/projects/caiman/builds/10266550/

I'm wary of building a new way to build our software to deal with this (particularly as we subclass some things in numpy and would like to only think about conda versioning, plus installing tensorflow

[2020-01-15 23:46] stsewd commented on #6526
Hi @pgunn if you have followed https://docs.readthedocs.io/en/stable/guides/build-using-too-many-resources.html in it's still running out of memory, I can try to increase the resources for your project tomorrow.

[2020-01-16 11:15] preetmishra commented on #6525
@stsewd Can I work on this?

[2020-01-16 12:40] Blackcipher101 commented on #6341
@stsewd fine

[2020-01-16 13:04] mikkelee opened #6528 "mocked import of pyodbc needs 3 builds to succeed"
## Details

* Read the Docs project URL: https://readthedocs.org/projects/correctocr/
* Build URL: https://readthedocs.org/projects/correctocr/builds/10270732/ (failed)
* Build URL: https://readthedocs.org/projects/correctocr/builds/10270737/ (failed)
* Build URL: https://readthedocs.org/projects/correctocr/builds/10270739/ (completed)
* Read the Docs username: mikkel.eriksen@gmail.com

## Expecte

[2020-01-16 13:55] rffontenelle commented on #6525
@preetmishra Hey, feel free to provide a pull request to solve this.

[2020-01-16 14:07] stsewd commented on #6528
@mikkelee the builds that failed were using a cached environment, you can see this by looking into the git clone step, it uses `git fetch` instead of `git clone`. The build that succeeded was in a clean environment. This isn't usually a problem, but it can be sometimes when the requirements change https://docs.readthedocs.io/en/stable/guides/wipe-environment.html

[2020-01-16 14:07] #6528 closed

[2020-01-16 15:21] stsewd commented on #6526
I have increased the build resources for your project. I triggered two builds and they succeeded https://readthedocs.org/projects/caiman/builds/10271346/ https://readthedocs.org/projects/caiman/builds/10271260/

[2020-01-16 15:21] #6526 closed

[2020-01-16 15:25] Blackcipher101 commented on #6452
@stsewd Can I give this issue a try

[2020-01-16 16:15] stsewd opened #6529 "Introduce sphobjinv as dependency for intersphinx operations"
Right now we are using the package from intersphinx itself to handle operations like this.

https://github.com/readthedocs/readthedocs.org/blob/0be5a61c457a1eb09265ca1962e7c76db1b6f02d/readthedocs/projects/tasks.py#L1433-L1484

Which as you can see, it doesn't have a great API. The `sphobjinv` package (https://sphobjinv.readthedocs.io/en/latest/) has a great API and can be used as a CLI too. We co

[2020-01-16 19:25] susanka068 commented on #6525
Is the isuue still open ?
then I'd like to work on this .

[2020-01-16 19:47] susanka068 commented on #6525
is the issue still open ! and if nobody is working on this ! can i work on this  ?

[2020-01-16 20:13] #5855 closed

[2020-01-16 20:46] rffontenelle commented on #6525
@susanka068 I seems @preetmishra wants to work on this, but check with him.

[2020-01-16 20:50] humitos commented on #6529
I'm :+1: on re-writing that section using this external library. It could be good to receive some help from the community here by marking this issue as Good First Issue.

[2020-01-16 21:19] susanka068 commented on #6529
I'd like to work on this issue

[2020-01-16 21:20] susanka068 commented on #6525
fixed this issue #6532 @rffontenelle

[2020-01-17 02:20] stsewd commented on #6525
@susanka068 you need to update the paragraph too.

[2020-01-17 03:31] preetmishra commented on #6525
@susanka068 I have already a attached a PR. @rffontenelle @stsewd Can you please review it? #6531

[2020-01-17 22:34] tswast opened #6534 "Document CWD from where RTD execute scripts"
## Details

I'm trying to build the Python docs for the protocol buffers package, but hitting a roadblock in the installation of the protobuf package. It attempts to generate Python code for some proto files in the C++ build, but these are unavailable, as only the `./python` directory appears to be copied over for the pip installation.

My `.readthedocs.yml`:

[code]

My `environment.yml`

[code]

[2020-01-17 22:45] tswast commented on #6534
Note: I tried creating symlinks, but still got an error that it couldn't find the file.

https://readthedocs.org/projects/tswast-protobuf/builds/10280409/

[code]

[2020-01-18 15:37] Blackcipher101 opened #6536 "Animation on "View the docs" Button"
## Details
The "view the docs" button should get an animation when you hover over it, as every other button on the page are animated it would make it look more standardised
gif can found at the bottom of the issue

## Expected Result
Animation when hovered over it

## Actual Result
No animation present

## GIF
![ezgif com-crop](https://user-images.githubusercontent.com/33775493/72666265-7e4f6980-3

[2020-01-18 15:41] Blackcipher101 commented on #6536
I am starting to working on the issue

[2020-01-18 16:34] KIC opened #6537 "tensorflow 1.x dependency kills build"
## Details

* Read the Docs project URL: https://readthedocs.org/projects/pandas-ml-utils/
* Build URL (if applicable): https://readthedocs.org/projects/pandas-ml-utils/builds/10283494/
* Read the Docs username (if applicable):

## Expected Result

Passing build

## Actual Result

Build fails to provide requirement

Collecting tensorflow==1.* (from -r requirements.txt (line 5))
  Downloading https

[2020-01-18 16:51] blueset commented on #6319
Would definitely like to see Noto CJK (`fonts-noto-cjk`, or even better `fonts-noto-cjk-extra`) appear in the next build environment image, and having them set as the default Serif and Sans-serif font for all CJK languages (or Chinese at least).

[2020-01-18 16:59] KIC commented on #6537
somehow i could get it work by fixing the tensorflow version to 1.13.2 but this is not the solution I would like to use. https://readthedocs.org/projects/pandas-ml-utils/builds/10283821/

[2020-01-18 19:04] fguillot opened #6538 "PDFs are not deleted from buildmedia.readthedocs.org when project is deleted"
I have deleted my project from "Read The Docs" a long time ago. But the PDF versions of the docs are still present and referenced in Google. These documents are obsolete. This creates confusion for my users.

Deleting a project from "Read The Docs" should automatically remove all associated artifacts on your object storage/CDN.

Examples:

- `https://buildmedia.readthedocs.org/media/pdf/miniflux/2

[2020-01-18 20:54] rffontenelle commented on #2107
Currently, there's a [Contributing to Read the Docs](https://docs.readthedocs.io/en/stable/contribute.html) page with a tiny section called [Helping on translations](https://docs.readthedocs.io/en/stable/contribute.html#helping-on-translations).

I would love to see mentions on translating Transifex resources "readthedocs" (software translation) and "readthedocs-docs" (documentation translation),

[2020-01-19 00:09] jtmoon79 commented on #3819
I was hoping this Feature might come along and be available for _all_ projects hosted at `readthedocs.io`.  Currently, my eyes burn reading them.

As for darkreader.org browser extension, I don't load any extensions in my browsers at home.  And at work, corporate security policy dissuades it.

[2020-01-20 01:13] protolambda commented on #6324
Hey all, I would like to build my new project using python 3.8, as it extensively uses the newer typing features, and it's simply not 3.7 compatible. Can the beta be enabled for my project?

Project link: https://github.com/protolambda/remerkleable
Read the docs: https://readthedocs.org/projects/remerkleable/

Thanks!

[2020-01-20 07:34] VilhelmPrytz commented on #6324
Does your documentation not support Python 3.7?

[2020-01-20 09:10] humitos commented on #6324
@protolambda done! see the output of a build with py3.8 at https://readthedocs.org/projects/remerkleable/builds/10290130/

[2020-01-20 09:23] humitos commented on #6319
@blueset I'm happy adding those font package to our image (I've already created a PR for that).

Also, what would be the default LaTeX preamble that we should include by default for Chinese language to use the most accurate font?

[2020-01-20 09:26] humitos commented on #6538
I think we introduce this bug when we moved from PDF on local disk to PDF on storage.

[2020-01-20 09:28] humitos commented on #2107
@rffontenelle I wrote a "Guide: Manage Translations" some time ago at https://docs.readthedocs.io/en/stable/guides/manage-translations.html. Would you like to take a look and open a PR with the suggested changes?

[2020-01-20 09:31] humitos commented on #3819
@jtmoon79 this is a closed issue. We already decided that we are not going to implement this feature. On the other hand, most of modern web browser come with a "Reading mode" where you can configure a dark mode there.

[2020-01-20 12:51] protolambda commented on #6324
@VilhelmPrytz Not exactly sure, but it failed on 3.7, since I wanted to install doc requirements through the setup.py, which requires 3.8. And then there also is autodoc with 3.8 types, and just the inconvenience about being limited to different python versions side by side.

@humitos Awesome, thank you :)

[2020-01-20 14:22] Borda opened #6540 "build Passed but Documentation not updated"
## Details

* Read the Docs project URL: https://readthedocs.org/projects/pytorch-lightning
* Build URL (if applicable): https://readthedocs.org/projects/pytorch-lightning/builds/10291191
* Read the Docs username (if applicable): Borda or waf04

### Expected Result

Updated documentation generated with Sphinx instead of MKDocs

### Actual Result

still, the old documentation generated by MKDocs

#

[2020-01-20 15:03] s-weigand opened #6541 "[DOC]: Broken link in the docs"
## Details

The docs contain a [broken link](https://docs.readthedocs.io/en/latest/yaml-config.html), which is referenced in [Local settings](https://docs.readthedocs.io/en/latest/development/design/yaml-file.html#local-settings) and [Spec](https://docs.readthedocs.io/en/latest/development/design/yaml-file.html#spec) subsections of the [YAML Configuration File](https://github.com/readthedocs/readt

[2020-01-20 15:19] stsewd commented on #6534
Probably is worth documenting this somewhere. Probably here https://docs.readthedocs.io/en/stable/builds.html

[2020-01-20 15:26] stsewd opened #6542 "Add checking the rtd github app on github on troubleshooting section of the PR builder"
Sometimes users don't give permissions to the RTD app over their organization, RTD can't send the commit status because of this.

https://github.com/settings/applications

[2020-01-20 15:34] stsewd commented on #6541
We actually have a redirect for that... Not sure why isn't working. And we should use the :ref: role here instead of raw links

[2020-01-20 15:47] stsewd commented on #6536
Not sure if that was part of the design. Also, we are working on a redesign of the site

[2020-01-20 15:53] tswast commented on #6534
I actually updated the paths to use `__file__`, but still got errors that the files don't exist. Are you sure that the `pip install` steps copy the whole repository? It seemed to copy just the `python` folder to a temp directory.

[2020-01-20 16:02] stsewd commented on #6534
@tswast we clone the whole repo and over that we execute the `pip install ./python` step. We don't copy things to the `/tmp` dir, looks like something from pip. You can try debugging this by executing the same steps from the build page in a clean environment.

[2020-01-20 16:08] stsewd commented on #6537
We can increase the build resources, but do you really need tensorflow installed to generate the docs? If not, you can try mocking it https://docs.readthedocs.io/en/stable/faq.html#my-project-isn-t-building-with-autodoc

[2020-01-20 16:25] stsewd commented on #6541
The redirect not working may be a bug introduced with proxito

[2020-01-20 16:45] YourMCGeek opened #6544 "Could not read username, terminal prompts disabled"
## Details

* Read the Docs project URL: https://readthedocs.org/projects/shadownode-rtd/
* Build URL (if applicable): https://readthedocs.org/projects/shadownode-rtd/builds/10292571/
* Read the Docs username (if applicable): YourMCGeek

## Expected Result

The docs should build as travis-ci has passed it and successfully built it.

## Actual Result

I'm provided with the following error ![](http:

[2020-01-20 16:48] stsewd commented on #6544
I can't access https://github.com/YourMCGeek/ShadowNode-RTD

[2020-01-20 16:49] YourMCGeek commented on #6544
I made a typo and now feel stupid :( Thanks for the quick reply though!

[2020-01-20 16:49] #6544 closed

[2020-01-20 16:50] tswast commented on #6534
Is it possible to do a `pip install -e ./python`? That would keep the install in-place.

[2020-01-20 16:53] stsewd commented on #6534
Currently, using the pip install option, no. But there is a workaround using a requirements file https://github.com/readthedocs/readthedocs.org/issues/6243#issuecomment-538079672

[2020-01-20 17:04] tswast commented on #6534
Thanks!

Am I doing something wrong? I don't see the `pip install -r python/docs/requirements.txt` step in:

https://readthedocs.org/projects/tswast-protobuf/builds/10292724/

Added in:

https://github.com/tswast/protobuf/commit/26e80c7f33fec1ed9e075fcc149d10e6ee1de4c2

Maybe I can't use conda and pip in the same build? I'd love to use conda to install some C++ dependencies rather than build them

[2020-01-20 17:06] tswast commented on #6534
Or maybe there's a way to run `setup.py develop` or `conda develop`?

[2020-01-20 17:07] stsewd commented on #6534
oh, when you use conda, you can't use some options from the python block https://github.com/readthedocs/readthedocs.org/pull/6509.

Is there a way of installing from a requirements file from conda?

[2020-01-20 17:07] tswast commented on #6534
I'll do some digging.

[2020-01-20 17:08] stsewd commented on #6534
We don't support those neither, but I'll attach those to the other issue, seems like something we could add.

[2020-01-20 17:10] stsewd commented on #6243
Attaching that there are similar options for conda and setup.py `setup.py develop`, `conda develop`

ref https://github.com/readthedocs/readthedocs.org/issues/6534#issuecomment-576362262

[2020-01-20 17:22] stsewd opened #6546 "Use explicit environment for tests"
Ref https://github.com/readthedocs/readthedocs.org/pull/6482#discussion_r367694530

[2020-01-20 18:42] #5673 closed

[2020-01-20 18:58] stsewd commented on #6534
Couldn't find any docs about this. But looks like conda just pass the package name to pip. So in theory this should work:

[code]

[2020-01-20 22:42] stsewd commented on #6540
I think I saw a similar case a while ago, I'll try to dig a little more this week.

[2020-01-21 03:26] jkochNU commented on #5810
I can confirm that this is still an active issue. I am constantly running into this with
[https://scqubits.readthedocs.io](https://scqubits.readthedocs.io)
Employing manual wipes appears to help, but I would not call it an ideal solution. Are there any updates or more sustainable workarounds?

[2020-01-21 08:37] Borda commented on #6540
@stsewd I am wondering if deleting the original project and creating it again would help... ?

[2020-01-21 12:23] humitos opened #6551 "Add `default_python_version` to `DOCKER_IMAGE_SETTINGS`"
We are currently configuring available docker images for builders at

https://github.com/readthedocs/readthedocs.org/blob/4d066309e8abd8b2fb2789c62e76f3f4b9ccf1ad/readthedocs/settings/base.py#L370-L389

At the moment, we don't have a way to pin which version of Python will be used by default on each of these images. This code says that the default Python version will be always the greatest on each

[2020-01-21 12:25] kevdagoat opened #6552 "Pip 20.0 Causes broken builds"
## Details

* Read the Docs project URL: https://hack-technicolor.readthedocs.io/en/stable/?badge=stable
* Build URL (if applicable):
* Read the Docs username (if applicable):

## Expected Result

Docs to successfully build.

## Actual Result

The build fails with a pip error.
![767D23CA-E489-4C10-9CB3-1282FA48549B](https://user-images.githubusercontent.com/42062334/72804739-14c89880-3c8c-11ea-9d8

[2020-01-21 12:46] p-l- commented on #6552
Hi there!

Same for [cea-sec/ivre](https://github.com/cea-sec/ivre): https://readthedocs.org/projects/ivre/builds/10297635/.

I followed the same path as @kevdagoat and saw pypa/pip#7217: The current only workaround is to downgrade pip.

[2020-01-21 13:15] GrahamDumpleton commented on #6552
Version 20.0.1 of pip has just been released and is said to perhaps fix this.

[2020-01-21 13:22] GrahamDumpleton commented on #6552
Possibly took a bit for latest pip to propagate through, but builds working okay for me now.

[2020-01-21 13:23] kerimoyle opened #6554 "Latest pip release fails"
## Details

* Read the Docs project URL:  https://readthedocs.org/projects/libcellml-tutorials
* Build URL (if applicable): https://readthedocs.org/projects/libcellml-tutorials/builds/10297974/  but the error was first encountered here: https://readthedocs.org/projects/libcellml-tutorials/builds/10297436/ when pip was updated

## Expected Result

Build without failing ... :)

## Actual Result

Cur

[2020-01-21 14:17] stsewd commented on #6554
Hi, you can force a clean installation by wiping the environment https://docs.readthedocs.io/en/stable/guides/wipe-environment.html

That will download the latest pip instead of using one from cache

[2020-01-21 14:17] #6554 closed

[2020-01-21 14:18] stsewd commented on #6552
Hi, looks like there is a new pip release that fixes the problem. If you are still getting pip 20.0.0, you can force a clean installation by wiping the environment https://docs.readthedocs.io/en/stable/guides/wipe-environment.html

[2020-01-21 14:18] #6552 closed

[2020-01-21 14:23] kerimoyle commented on #6554
Brilliant - thanks so much for the quick reply :)

[2020-01-21 14:27] Blackcipher101 commented on #6536
@stsewd should I work on this or continue with something else

[2020-01-21 14:40] stsewd commented on #6536
@Blackcipher101 issues with a design decision label need to wait to have a decision made from the core team before doing a PR

[2020-01-21 15:13] Blackcipher101 commented on #6541
@stsewd can I start working on the issue

[2020-01-21 15:29] blueset commented on #6319
I have tested Simplified Chinese (`zh-hans`, `zh_CN` on RTD), Traditional Chinese (`zh-trad`, `zh_TW` on RTD) and Japanese (`ja`). I came out with the following config for each of the languages:

## zh-hans
[code]

## zh-hant
[code]

<details>
<summary>About <code>zh-hant-hk</code></summary>
RTD currently doesn’t tell Hong Kong and Taiwan variants of Traditional Chinese apart, this portion would n

[2020-01-21 16:49] blueset commented on #6319
Preambles and samples for `zh-trad` and `zh-trad-hk` are updated as point # 2 above is resolved.

[2020-01-21 16:51] saadmk11 commented on #6551
It seems in `python_full_version` property we are tying to get the max for each major versions of python (`2`, `3`). So, If we add only one default version then how are we going to differentiate between python 2 and 3. for example, if user sets `2` as the version and we have `3.6` as default.

[2020-01-21 17:01] stsewd commented on #6551
@saadmk11 yeah, we should implement it like

[code]

[2020-01-21 17:20] sayanarijit commented on #6324
@humitos Hi... can you please enable the same for https://readthedocs.org/projects/viper-infrastructure-commander/ ?

[2020-01-21 18:21] Aricg opened #6559 "v3 api version-update method not working"
## Details
I am trying to activate/deactivate versions via the v3 api
https://docs.readthedocs.io/en/stable/api/v3.html#version-update

This is implemented per your docs, however does not appear to be
it working yet as this always returns a 404.

[code]

Code on our end:

[code]

## Expected Result

I can activate versions via the API

## Actual Result

API method returns 404.

[2020-01-21 18:27] stsewd commented on #6559
Believe there is a typo in the docs, it should be `projects/{project}/versions/{version}`

[2020-01-21 18:33] Aricg commented on #6559
Yep, there we go. thanks.

[2020-01-21 18:54] Aricg commented on #6559
Hi @stsewd  No longer returns a 404,
but its not updating the field.

[2020-01-21 18:56] Aricg commented on #6559
[code]

[2020-01-21 19:34] Aricg commented on #6415
So I re-read the docs, and /stable/ is only created if a tag is pushed, so I think the docs needs some clarification.

"Read the Docs supports two workflows for versioning: based on tags or
branches. If you have at least one tag, tags will take preference over
branches when selecting the stable version."

But /stable/ will never get created unless you do have a tag. so "take preference" doesn't ma

[2020-01-21 19:59] Aricg commented on #6559
Changed to bool, still no dice.

[code]
[code]

[2020-01-21 20:01] stsewd commented on #6559
I'll try to dig into this later.

If you only want to activate new versions based on something, you can use https://docs.readthedocs.io/en/stable/automation-rules.html btw

[2020-01-21 20:23] Aricg commented on #6559
@stsewd It works via curl, so I'm guessing its on our side right now, digging into it.
Did you remove 'privacy_level' from the api?

[2020-01-21 20:27] stsewd commented on #6559
@Aricg yes, we removed the `privacy_level` field, that's part of https://github.com/readthedocs/readthedocs.org/issues/3781

[2020-01-21 20:49] Aricg commented on #6559
@stsewd Hi if you forget the trailing slash on PATCH /api/v3/projects/(string:project_slug)/version/(string:version_slug)/
it should return a 404 and not a 204. :D  (it's fixed)

[2020-01-21 22:09] pmoura opened #6562 "ImportError: cannot import name 'PackageFinder' from 'pip._internal.index'"
## Details

* Read the Docs project URL: https://readthedocs.org/projects/logtalk3/
* Build URL (if applicable): https://readthedocs.org/projects/logtalk3/builds/10301484/
* Read the Docs username (if applicable): pmoura

## Expected Result

Build succeeding.

## Actual Result

Build fails.

[2020-01-21 22:11] stsewd commented on #6562
Please check https://github.com/readthedocs/readthedocs.org/issues/6554

[2020-01-21 22:11] #6562 closed

[2020-01-21 22:14] brunorijsman opened #6563 "Read-the-docs build fails with “cannot import name 'PackageFinder' from 'pip._internal.index'”"
## Details

* Read the Docs project URL: https://readthedocs.org/projects/cascade-python/
* Build URL (if applicable): https://readthedocs.org/projects/cascade-python/builds/10300025/
* Read the Docs username (if applicable): brunorijsman

## Expected Result

Build succeeds

## Actual Result

Build fails with following error message:

ImportError: cannot import name 'PackageFinder' from 'pip._inte

[2020-01-21 22:35] stsewd commented on #6563
Please check #6554

[2020-01-21 22:35] #6563 closed

[2020-01-21 22:45] brunorijsman commented on #6563
Thanks. The fix described in #6554 worked for me. I answered my own stack overflow question with the fix.

[2020-01-21 23:05] kevdagoat commented on #6552
Thanks all. I have forced built it and it is now working perfectly.

[2020-01-22 02:24] wayneyou opened #6565 "Inline reference in Chinese docs"
I tried to build docs written in Chinese, but it does work. For details, please refer to the zip folder.

[issue.zip](https://github.com/readthedocs/readthedocs.org/files/4094972/issue.zip)

The following is my repo on github:

https://github.com/wayneyou/nebula/blob/pdfcn/docs/1.overview/2.quick-start/1.get-started.md

[2020-01-22 04:48] huonw opened #6566 "Cannot wipe PR builder environment to fix "ImportError: cannot import name 'PackageFinder'""
## Details

* Read the Docs project URL: https://readthedocs.org/projects/stellargraph
* Build URL (if applicable): https://readthedocs.org/projects/stellargraph/builds/10303275/
* Read the Docs username (if applicable): huonw

We're using the beta PR builder (it's great :+1:), and unfortunately hit #6554 for those builds. We followed the instructions there to try to wipe the environment, but ther

[2020-01-22 09:48] humitos commented on #6565
@wayneyou can you describe exactly what's your issue? What's the actual behavior and what are you expecting?

[2020-01-22 09:54] humitos commented on #6566
Thanks for your report. This is definitely a problem, since there is no way to wipe an environment for a PR :)

I do not have a proper workaround to recommend you, and I'm not sure we are going to implement a way to wipe PRs environment since we are migrating to a different approach (without cache, maybe).

I can tell that this problem should be automatically fixed after one day without builds on

[2020-01-22 10:29] humitos opened #6567 "Minor improvements to El Proxito"
We have deployed el El Proxito and most documentation is being served through it now. Although, while deploying it we found some small bugs and edge cases that we quickly covered, introducing a shortcut or breaking a little the pattern that we had.

This issue is a way to collect these PR and this about how to refactor those cases to match the pattern that we already had:

* https://github.com/rea

[2020-01-22 12:18] Blackcipher101 commented on #6559
@stsewd is this bug still valid if yes can I work on it

[2020-01-22 12:30] Blackcipher101 commented on #6096
@stsewd Can I work on this issue

[2020-01-22 14:18] stsewd commented on #6541
Redirects are working again. Fixed in https://github.com/readthedocs/readthedocs.org/pull/6558

[2020-01-22 14:18] #6541 closed

[2020-01-22 14:18] Aricg commented on #6559
@Blackcipher101  Just the documentation needs to be updated to fix the typo
"it should be projects/{project}/versions/{version}" (versions not version)
There is already an issue about the privacy level stuff.

[2020-01-22 14:22] #6525 closed

[2020-01-22 14:33] stsewd opened #6569 "Check for conda constraints in the config file and raise an error"
Now we have docs for this https://github.com/readthedocs/readthedocs.org/issues/5388 but it would be better to tell users before building their docs.

This is a breaking change, since it will fail for docs that were passing. Maybe we could use a feature flag.

[2020-01-22 14:35] #5388 closed

[2020-01-22 14:35] s-weigand commented on #6541
Thanks

[2020-01-22 14:38] stsewd commented on #6096
@Blackcipher101 if so, please use https://github.com/readthedocs/readthedocs.org/pull/6143

[2020-01-22 15:14] humitos commented on #6569
I'd say that it's fine to introduce this and make those builds to fail. They are not working as the user expects anyways, and I don't think they would be too many.

[2020-01-22 17:13] sobolevn commented on #6566
Related: https://github.com/pypa/pip/issues/7620

[2020-01-22 19:03] pratyush911 commented on #6086
I would suggest using the conda installation. It worked for me, while I continued to face issues via the pip installation.

conda install -c conda-forge librosa

[2020-01-22 20:08] Aricg commented on #6554
Hi,
Wiping master or latest only fixes this for me for a single build, the next one fails with the same error.
All builds are triggered via the v3 api.
[code]

[2020-01-22 20:23] stsewd commented on #6554
@Aricg that's weird. Did you wipe only once? I can think of a reason where the wipe didn't propagate to all servers.

[2020-01-22 20:24] Aricg commented on #6554
@stsewd  I have done it multiple times to both stable and master to try to make it "take"

[2020-01-22 21:04] stsewd commented on #6540
@Borda are you still experimenting this problem? I can see files were updated yesterday in the servers

[2020-01-22 21:09] Borda commented on #6540
it seems that it is fine now...

[2020-01-22 21:09] #6540 closed

[2020-01-22 21:10] tswast commented on #6534
Success! https://readthedocs.org/projects/tswast-protobuf/builds/10309411/

Looks like I still need to update the output paths for `protoc`, but the docs at least build now. The trick was using `setuptools` instead of `pip` as the install method.

[code]

`pip` must be copying the directory to a `tmp/` folder, whereas `setuptools` doesn't.

[2020-01-22 21:16] stsewd commented on #6554
@Aricg can you please trigger a wipe for latest but don't trigger any build. I want to check the servers for something

[2020-01-22 21:57] huonw commented on #6566
Ok, thanks.

Unfortunately we have many PR pushes on weekdays so maybe it won't have a chance for deletion for a while. However, we usually don't have any new work on weekends, so maybe that'll give it a chance to be deleted.

[2020-01-22 22:08] stsewd commented on #6554
@Aricg I just did it by myself from the admin. I think I found the problem https://github.com/readthedocs/readthedocs.org/pull/6571

[2020-01-23 10:31] KIC commented on #6537
I needed it for type hints but now i have solved that differently. thx anyways!

[2020-01-23 10:31] #6537 closed

[2020-01-23 10:32] EDI-N opened #6573 "Build Fail"
## Details

* Read the Docs project URL: https://readthedocs.org/projects/docsclone4/
* Build URL: all last builds
* Read the Docs username: EDI-N

## Expected Result

Hello, I have a problem with my new project. It is a copy of old one ( https://readthedocs.org/projects/docs-ua/ ).

## Actual Result

Succesful build

[2020-01-23 11:13] EDI-N commented on #6573
Sorry, my fault

[2020-01-23 11:13] #6573 closed

[2020-01-23 14:28] peterjc commented on #6554
Like @Aricg in the last day or so I have tried wipe only for the problem to recur:
https://readthedocs.org/projects/thapbi-pict/builds/

It looks like the fix for #6571 was merged about 25 minutes ago, so hopefully the fix will go live shortly.

[2020-01-23 15:49] stsewd commented on #6554
@peterjc probably it will be live next week

[2020-01-23 15:51] peterjc commented on #6554
Thanks - I'll do a manual wipe as needed until then.

[2020-01-23 15:54] brockfanning commented on #6566
We're just using the standard setup, as far as I know (not sure what PR builder is) but we're also getting the same error on all builds (`cannot import name PackageFinder`) as of today ([example build](https://readthedocs.org/projects/open-sdg/builds/10314805/)). So I'm wondering if it is a more general problem.

[2020-01-23 15:57] stsewd commented on #6566
@brockfanning for normal builds, please check https://github.com/readthedocs/readthedocs.org/issues/6554#issuecomment-577409023.

[2020-01-23 16:50] adamsteinbok opened #6577 "Build fails to clone repo when behind a proxy (as of 3.11.3)"
My environment requires that I make requests to github via a http proxy. Up until `3.11.2`, the build respected the `http_proxy` environment variable set on my host. As of `3.11.3` this variable no longer seems to be respected.

e.g The following error is thrown when trying to build `https://github.com/rtfd/readthedocs.org`:

[code]

I had a quick look at the commit history and this seems to me to

[2020-01-23 17:59] preetmishra commented on #6559
@stsewd Has this been fixed? If not, can I work on this one?

[2020-01-23 18:39] stsewd commented on #6559
@preetmishra there is a PR already open

[2020-01-23 18:59] #6542 closed

[2020-01-23 20:42] stsewd commented on #6577
Are you using docker?

https://github.com/readthedocs/readthedocs.org/blob/cd7265f65f38d6be8ed790654bea4bc95db93c74/readthedocs/settings/base.py#L349-L350

[2020-01-23 22:33] humitos commented on #6319
@blueset THANKS, this is amazing!

I've already opened a PR to install the package fonts you mentioned in a previous comment.

I can't guarantee that we are going to include these preambles _by default_ on a Read the Docs build because they will probably need a lot of testing (and I'm not an expert on this topic to can manage it) but I'd like to add them as suggestion in our current guide https://

[2020-01-24 01:47] nikhilaravi opened #6578 "Build killed due to excessive memory consumption"
## Details

* Read the Docs project URL: https://pytorch3d.readthedocs.io/en/latest/overview.html
* Build URL (if applicable): https://readthedocs.org/projects/pytorch3d/builds/10317957/
* Read the Docs username (if applicable): nikhilaravi

## Expected Result

Completed build.

## Actual Result

Build failed due to excessive memory consumption.

We need to build a library which has C++ and CUDA k

[2020-01-24 01:48] nikhilaravi commented on #6578
@humitos  would you be able to help us increase the memory and resolve this issue?

[2020-01-24 02:05] nikhilaravi commented on #6578
Update: the build works now so no need for increased memory!! I unclicked the 'Install Project' box in advanced settings and that seemed to resolve the issue.

[2020-01-24 02:05] #6578 closed

[2020-01-24 03:38] preetmishra commented on #6551
@stsewd Will adding a `default_version` key next to `supported_versions` key in every build do the work? Also, which python version should be the default in every build? (the oldest one?)

[2020-01-24 14:23] humitos commented on #6578
Cool! Yeah, unfortunately, we don't have a good solution for installing pytorch at the moment :/

[2020-01-24 15:01] adamsteinbok commented on #6577
Ah, I should have mentioned, this issue occurs in both the docker and local build environments.

[2020-01-24 17:46] joaovitor3 commented on #6551
Anyone is working in this issue?
I have added `default version` using the latest python version listed in `supported versions`, as @preetmishra mentioned:

[code]

This solve this issue completely?

[2020-01-24 20:22] pllim opened #6580 "[Feature Request] Rerun/restart option for auto PR builder"
I have been using your auto PR builder feature and loving it. However, once in a while, the RTD run fails due to spurious error that usually goes away after a rerun (or restart, however you like to call it). When that happens in a build tied to a PR of a project that I have admin access to, the only way I know how to rerun it is to push a new commit or modify the existing commit and then force pus

[2020-01-25 02:55] preetmishra commented on #6551
@joaovitor3 Yes, I'd like to work on this issue, if it seems doable. I am waiting for the reply from @stsewd.

[2020-01-25 03:07] joaovitor3 commented on #6551
No problem, you can work on this @preetmishra
Thanks for the reply.

[2020-01-25 09:54] johannfaouzi commented on #6554
Is it possible to do a manual wipe for pull requests? I can't find a way to do so.

[2020-01-25 10:59] saadmk11 commented on #6580
One way to re-start a build is closing and reopening the PR.
related: https://github.com/readthedocs/readthedocs.org/issues/6524

[2020-01-25 11:04] humitos commented on #6554
@johannfaouzi currently, no. We don't support that yet.

[2020-01-25 11:27] Helveg opened #6582 "Autodoc extension not working on RTD"
## Details

* Read the Docs project URL: https://patch.readthedocs.io/
* Build URL (if applicable): https://readthedocs.org/projects/patch/builds/10325826/
* Read the Docs username (if applicable):

## Expected Result

[This page](https://patch.readthedocs.io/en/latest/patch.html) should document the modules in my package. It does so locally.

## Actual Result

The build log shows that it cannot i

[2020-01-25 11:31] Helveg commented on #6582
Ok, I added the wrong folder, and when I corrected that it still failed because of a missing dependency.

[2020-01-25 11:31] #6582 closed

[2020-01-25 12:11] thomaslevesque opened #6584 "Add a link back to the parent project in subprojects"
When I'm in a subproject, there's no link to the parent project, which makes it difficult to navigate back to it, short of modifying the URL in the address bar.

Of course, I could manually add a link, but it's not ideal, and anyway it would be nice to have a visual indication that we're in a subproject. For instance, in [FakeItEasy Analyzers](https://fakeiteasy.readthedocs.io/projects/analyzers/)

[2020-01-25 12:25] humitos commented on #2267
This could be implemented in El Proxito once we check for redirects before checking for existence of a file. See https://github.com/readthedocs/readthedocs.org/pull/6570/commits/a9dfbd08d1d492b7f5f478fd24428141e5969910 where we reverted this logic because it was incompatible with the current redirect behavior.

[2020-01-25 12:35] humitos commented on #4756
I believe this is not an issue anymore since we upgraded celery finally. On the other hand, we are now mentioning that 3.6 is the Python version to use: https://docs.readthedocs.io/en/stable/development/install.html#requirements

I'm closing it for now since we don't plan to officially support > 3.6 for now.

[2020-01-25 12:35] #4756 closed

[2020-01-25 12:37] humitos commented on #3775
Our code changed a lot since this issue was opened and we are going to remove a lot of this code in #6535 or a similar one, these days.

[2020-01-25 12:37] #3775 closed

[2020-01-25 12:42] humitos commented on #4300
I also like the idea of making this configurable by a setting, so we remove them from the middle of the code and we put all of them in the same place. I'm :+1: on this.

We will need to think about how we will implement these conditionals that depends on a FEATURE FLAG in the project itself:

https://github.com/readthedocs/readthedocs.org/blob/1998cf555303b8400b6ab98ed056b1cb061be88f/readthedocs/d

[2020-01-25 12:50] humitos commented on #4119
This checks have changed a lot now we are using the django storage to get manage them. Although, there are still some places that we can refactor or remove completely this check. Some code will be removed in #6535 or similar.

[2020-01-25 13:02] humitos commented on #4391
I'm closing this since I think we already achieved this by using docker compose: https://docs.readthedocs.io/en/stable/development/standards.html

[2020-01-25 13:02] #4391 closed

[2020-01-25 13:08] pllim commented on #6580
Ah, okay. I'll close this issue as duplicate then. Thanks!

[2020-01-25 13:08] #6580 closed

[2020-01-25 13:12] pllim commented on #6524
Hello. I was looking for this feature as well.

FWIW, I think allowing trigger for both failing and successful builds is useful. This is because sometimes as a maintainer, I want to know if new upstream release on PyPI would break an already successful PR build.

Also would be nice to have a "wipe cache" option. Currently some builds are failing due to invalid cache for pip 20.0. A wipe is necessa

[2020-01-26 04:05] bskinn opened #6585 "Python error on pip upgrade step in builds"
## Details

* Read the Docs project URL: sphobjinv.readthedocs.io
* Build URL (if applicable): https://readthedocs.org/projects/sphobjinv/builds/10328312/
* Read the Docs username (if applicable): bskinn

## Expected Result

A build that completed fine before should complete fine again.

## Actual Result

The build fails at the pip upgrade step due to an ImportError.

![image](https://user-images.

[2020-01-26 04:06] bskinn commented on #6585
Ah, whoops -- looks like this is the same as #6566, or closely related.

[2020-01-26 04:09] bskinn commented on #6585
Wiping the build environment seems to have worked for these failures. :+1:

[2020-01-26 04:09] #6585 closed

[2020-01-26 09:29] Blackcipher101 commented on #6343
@agjohnson should we check if Docker_Enabled=False and then call the function to build latexmk

[2020-01-27 08:34] stanislaw opened #6586 "ImportError: cannot import name 'PackageFinder' build error"
## Details

* Read the Docs project URL: https://filecheck.readthedocs.io/en/latest
* Build URL (if applicable): https://readthedocs.org/projects/filecheck/builds/10333035/
* Read the Docs username (if applicable): `stanislawpankevich`

## Expected Result

The docs get deployed to the https://filecheck.readthedocs.io/en/latest/ when I merge commits to master. The repo: https://github.com/stanislaw

[2020-01-27 08:59] stanislaw commented on #6586
I would like to add that it started happening ~20 hours ago:

[code]

[2020-01-27 12:27] humitos commented on #6586
Hi! Can you take a look at https://github.com/readthedocs/readthedocs.org/issues/6566, please? It seems it's duplicated.

[2020-01-27 12:27] #6586 closed

[2020-01-27 15:58] stsewd commented on #6584
I was thinking about this last week, I'm +1 on having this.

[2020-01-27 17:25] humitos commented on #6577
I think this is because we stopped passing _all the environment variables_ in this line https://github.com/readthedocs/readthedocs.org/pull/6482/files#r363697639 and we start passing just the ones _we_ needed.

[2020-01-27 17:37] stsewd commented on #6577
All env vars are passed if we don't set any when creating the build environment. I think we can use https://docs.readthedocs.io/en/stable/guides/environment-variables.html in cases like this. We only need to expose those env vars on the clone step too (currently we only expose them in the build step).

[2020-01-27 18:26] agjohnson opened #6587 "Add a permalink redirection in built docs"
Currently, permalinks in Sphinx are tied to a specific page, and you need to know the page to link to the permalink. One feature we've discussed and played around with in the past is using our internal models of SphinxDomain domain data (and other Sphinx references) to redirect reader users to the correct page + anchor based on a reference id.

There is some overlap with features here:

* User wan

[2020-01-27 20:16] rayluo commented on #4
Leaving a mark here to help future readers. If the [solution mentioned above](https://github.com/readthedocs/readthedocs.org/issues/4#issuecomment-168801691) by @pfalcon would NOT work for you, you should double check:

* the Integrations setting in your project inside ReadTheDocs
* and/or the webhooks in your repo's hoster, such as Github

In my case, somehow the integration has been broken for q

[2020-01-28 04:27] huonw commented on #6566
We just had a long weekend (88 hours) without any pushes/builds:

![image](https://user-images.githubusercontent.com/1203825/73235271-d4b06b00-41e1-11ea-9080-f4f0d1bc1777.png)

And, unfortunately, we're still hitting this, but somewhat inconsistently, e.g. for https://github.com/stellargraph/stellargraph/pull/730 :

1. https://readthedocs.org/projects/stellargraph/builds/10338264/ ✅
2. https://rea

[2020-01-28 10:17] SchoolGuy commented on #6554
This is breaking this PR https://github.com/cobbler/cobbler/pull/2254

The build environment cannot be wiped because this is (at least to my knowledge) not possible on PR's.

[2020-01-28 12:36] humitos commented on #6551
No. You need to also find where this needs to be used (I linked the code in the description). Please, add some tests for this and make sure that it picks the right Python version when building in your RTD instance.

See the comment from @stsewd at https://github.com/readthedocs/readthedocs.org/issues/6551#issuecomment-576778461

[2020-01-28 14:09] #6444 closed

[2020-01-28 14:16] stsewd commented on #6554
@SchoolGuy see https://github.com/readthedocs/readthedocs.org/issues/6566

[2020-01-28 16:21] Blackcipher101 commented on #6536
@stsewd Any updates on this? I have the all ready made the changes. If its fine with you, I can send the PR

[2020-01-28 16:51] stsewd commented on #6536
This still needs a design decision. Since we are working on the site redesign, this isn't a priority

[2020-01-28 23:21] ericholscher commented on #6567
I don't quite understand what this ticket is about? Is there an actual improvement in it?

[2020-01-28 23:28] vnmabus commented on #5836
Which information is needed?

[2020-01-29 01:22] stsewd commented on #5836
@vnmabus if you don't have anything like very complex settings in the admin, you can just create a new project with that name and delete the old one. But that wouldn't make a redirect for the other project.

[2020-01-29 04:56] AGJackie opened #6600 "Mkdocs Error：Config value: 'markdown_extensions'. Error: Failed loading extension "mdx_math""
## Details

Read the Docs project URL:https://readthedocs.org/projects/actuarygarden-articles/

GIthub project URL: https://github.com/AGJackie/ActuaryGarden-Articles

I use mkdocs, it work well in LocalBuildEnviroment, but when constructing in readthedocs, the following error is thrown when trying to build https://github.com/AGJackie/ActuaryGarden-Articles

/home/docs/checkouts/readthedocs.org/us

[2020-01-29 05:25] AGJackie commented on #6600
Already solved.
Added requrements.txt file in docs folder to install math0.6 version in readthedocs environment.
`python-markdown-math==0.6`

[2020-01-29 09:26] sankha555 commented on #6584
Hi,
I think this would be a great help to the user in project navigation. If the issue is still open for contribution, I would like to work on it.

[2020-01-29 09:35] Apich238 commented on #6086
`sudo apt-get install libsndfile1-dev`
from [here](https://github.com/resemble-ai/Resemblyzer/issues/5#issuecomment-528829927) worked for me

[2020-01-29 11:05] humitos commented on #6567
We already addressed the three of them that are listed. I'm closing it.

[2020-01-29 11:05] #6567 closed

[2020-01-29 11:22] dkfellows opened #6601 "Clarify notification text"
It is extremely unclear that notifications will clear when clicked on (see #5665). Can you at least change the wording of the notifications themselves to make it clear that left clicking on them is what will clear them? While that doesn't fix the underlying problem of stale notifications, it at least means that users (who are almost always not going to be familiar with the details of how notificat

[2020-01-29 14:56] #6600 closed

[2020-01-29 14:59] mechanomi opened #6604 "cannot import name 'PackageFinder' errors won't go away"
* Read the Docs project URL: https://readthedocs.org/projects/crate/
* Build URL (if applicable): https://readthedocs.org/projects/crate/builds/10348432/
* Read the Docs username (if applicable):

builds failing with:

[code]

I have seen other issue reports (e.g., https://github.com/readthedocs/readthedocs.org/issues/6554) that suggest the build issues we're having can be fixed by wiping the buil

[2020-01-29 15:02] stsewd commented on #6584
@sankha555 this issue has the label `Needed: design decision`, someone from the core team must take a decision first.

[2020-01-29 15:10] stsewd commented on #6604
Hi, sorry about that. Yesterday we found the problem https://github.com/readthedocs/readthedocs.org/pull/6598/, the fix well be released soon.

[2020-01-29 16:02] stsewd commented on #6604
Fix was deployed

[2020-01-29 16:02] #6604 closed

[2020-01-29 16:11] stsewd commented on #6566
With https://github.com/readthedocs/readthedocs.org/pull/6598, this may be fixed (installing the buggy version of pip). Wiping still isn't supported

[2020-01-29 16:14] stsewd commented on #5810
This maybe has been fixed by https://github.com/readthedocs/readthedocs.org/pull/6598. Let us know if you don't see this problem anymore.

[2020-01-29 19:33] preetmishra commented on #6551
@humitos Thanks for reverting back. I understood how `default_version` should be like from the comment.
I have a few more questions.
- Should the default python version be the same for every build or should it be different?
- Which python version should we choose? The oldest version (say 2 for python 2 and 3 for python 3 for `readthedocs/build:6.0rc1`) or the newest version (say 2.7 for python 2 a

[2020-01-29 22:14] vnmabus commented on #5836
Yeah, but that is the thing... I do not want to break existing links.

[2020-01-29 23:20] bramwelt opened #6616 "docs.opnfv.org is 'Not Found.'"
## Details

The entire documentation site for OPNFV is missing. The most recent builds have succeeded, and as far as I know DNS hasn't changed recently.

* Read the Docs project URL: opnfvdocsdemo.readthedocs.io
* Build URL (if applicable): https://readthedocs.org/projects/opnfvdocsdemo/builds/
* Read the Docs username (if applicable):

## Expected Result

Going to https://docs.opnfv.org/ returns

[2020-01-29 23:38] ericholscher commented on #6616
Seems like you're serving a CDN in front of this? What is the request you're sending to the backend?

[2020-01-29 23:44] ericholscher commented on #6616
Hitting our servers directly with the request works fine:

[code]

[2020-01-29 23:45] ericholscher commented on #6616
I can't debug this because your CDN is caching 404 statues.

[2020-01-29 23:55] ericholscher commented on #6616
We did just deploy some server changes on our side, but it seems this is being generated by Cloudflare based on the `x-cache: Error from cloudfront` header in the response -- but I can't really help debug it without more information.

[2020-01-30 00:06] ericholscher commented on #6616
I'd recommend pointing your domain at our servers to resolve this, and then we can try to fix it another way.

[2020-01-30 00:10] ericholscher commented on #6616
@bramwelt I've dumped traffic on our web servers, and I see you're sending this header:

[code]

This is causing the docs to not be found. If you remove this header, it should work.

[2020-01-30 00:31] ericholscher commented on #6616
@bramwelt I've deployed a temporary fix that should resolve this issue.

[2020-01-30 00:41] bramwelt commented on #6616
@ericholscher Thanks for the quick fix! :fireworks:  I'll report back to my team and see if we can't update our configuration to point directly at RTD. AFAIK we're doing a simple nginx reverse-proxy to serve on the custom domain, as we set this up way back when that was the recommended practice in order to [provide SSL](https://docs.readthedocs.io/en/stable/custom_domains.html#proxy-ssl).

[2020-01-30 00:50] bramwelt commented on #6616
Or maybe it's that that nginx reverse-proxy migrated to CloudFront and we're hitting the 'Cloudfront -> Cloudfront' issue. :thinking: In either case I'm closing this now that our issue is fixed.

[2020-01-30 00:50] #6616 closed

[2020-01-30 07:39] jmsmkn commented on #6324
@humitos Would you be able to enable it for https://grand-challengeorg.readthedocs.io/en/latest/ ?

[2020-01-30 16:08] mechanomi commented on #6604
thank you! <3

[2020-01-30 20:47] stsewd commented on #6324
Sorry for the late reply. Both projects are running with python 3.8 now

https://readthedocs.org/projects/viper-infrastructure-commander/builds/10357201/
https://readthedocs.org/projects/grand-challengeorg/builds/10357209/

[2020-01-31 17:53] DevilXD commented on #6324
Could I get Python 3.8 enabled for this one too?
https://readthedocs.org/projects/arez/

[2020-02-01 15:25] Sameeer12 commented on #5302
Hey @stsewd I am interested in working on this issue. Let's discuss how / where are we planning to show this config option?

[2020-02-02 06:47] cjolowicz commented on #1083
Here is another use case for this.

Currently non-setuptools builds (like Poetry) are supported via PEP 517. Unfortunately, these builds are not deterministic because lock files (like poetry.lock) are not taken into account.

(Of course, an alternative way to support this would be to extend the `python.install` configuration option to support additional package managers.)

[2020-02-02 12:43] swaldhoer commented on #6483
@humitos sorry but could you please have a look. I cant get the conda environment working:

- I added an RTD config file https://github.com/swaldhoer/native-lua/blob/add-doxygen/.readthedocs.yml
- I added a conda environment file, which works fine locally https://github.com/swaldhoer/native-lua/blob/add-doxygen/docs/environment.yml

But I get the following error on RTD:

[code]

I do not see a sol

[2020-02-02 13:46] humitos opened #6621 "Create redirects automatically on file renames"
It would be awesome if Read the Docs could detect that a file was renamed and automatically creates a redirect for this file, so the URLs for the old resource keeps working.

I did a small research about how to get this data from `git` and I found that it's possible to detect delete/add par files as a rename if more than X percentage of the file hasn't changed.

In the following example, the comma

[2020-02-02 19:02] Paebbels commented on #6324
My project pyVHDLParser is failing to build, due to Python 3.7 instead of Python 3.8:

[code]

This is a new project under development, so I started to use latest language features, because it will be medium outdated when my project gets to a stable release.

Please enable Python 3.8 for my project too.

If it's not so much effort, you can enable it for all my projects listed at ReadTheDocs :).

[2020-02-02 23:00] swaldhoer commented on #6483
I have not read the documentation well enough. I used
[code]
while this is documented:
[code]

Works as expected. Thanks.

[2020-02-02 23:00] #6483 closed

[2020-02-03 11:03] mgeier commented on #6305
Yes, please bring this feature back!

I was surprised that it is suddenly missing.

It is really confusing that it works when building locally and it stops working when built on RTD.

[2020-02-03 12:14] webknjaz commented on #5684
@safwanrahman @agjohnson I saw you mentioning migration to GitHub Apps earlier. This is a topic I'm interested in a lot so if there's any help with reviews of relevant PRs needed, feel free to ping me for help.

P.S. I'm developing a small framework for making GitHub Apps (something similar to Probot which is in JS) in Python. You can try out how it feels by following this tutorial: https://tutori

[2020-02-03 13:33] fmaussion commented on #6025
Dear Maintainers, dear @humitos  - our builds started to fail because of timeout errors again, without any significant change on our side: https://readthedocs.org/projects/oggm/builds/10371200/

I you have time I'd be grateful about any advice about what's going on. Thanks!!!!

[2020-02-03 14:39] stsewd commented on #5684
@webknjaz thanks, I have linked your comment in our internal ticket where we are tracking the migration

[2020-02-03 14:45] stsewd commented on #6324
@Paebbels which are the URLs of your projects or your rtd user?

[2020-02-03 17:38] Paebbels commented on #6324
@stsewd my user at ReadTheDocs is also called `Paebbels` and my projects are:

Projects with active Python 3.8 usage:
- pyAttributes
- pyVHDLParser

Projects going to use Python 3.8:
- pyTerminalUI
- pyTokenizer
- pyMetaClasses
- pyGenericPath
- pyHTTPInterface
- pyHTTPServer
- pyHTTPRequestRouter
- Semaphore-Microservice
- pyIPCMI

Thanks a lot in advance :).

[2020-02-03 17:46] fmaussion commented on #6025
OK, nevermind - I think the problem is on our side, sorry for the noise.

[2020-02-03 17:46] #6025 closed

[2020-02-03 19:22] mgeier commented on #6305
I've created https://github.com/readthedocs/sphinx_rtd_theme/pull/876 to show a way to get a "Hide Search Matches" link in the RTD theme (like other themes have already). With that, I think there is no reason to disable the search highlighting altogether.

[2020-02-04 12:19] achimnol commented on #6324
Could you please enable Python 3.8 for my projects as well? (username / slug ID)

 * joongi / aiotools
 * joongi / backendai-client-sdk-for-python
 * joongi / backendai-client-sdk-for-python-ko
 * lablup-devops / sorna

[2020-02-04 14:13] #6559 closed

[2020-02-04 14:15] cjolowicz commented on #6324
Would it be possible to open a separate ticket to track when Python 3.8 support is added? Subscribing here means that you get notified every time somebody requests enabling it for their specific project. Thank you :-)

[2020-02-04 14:28] humitos commented on #6324
Yes. Good idea.

**Please, if you need beta support for Python 3.8 contact us at support@readthedocs.org** indicating your username and the project you want to enable it.

[2020-02-04 14:29] humitos commented on #6324
@cjolowicz regarding official support for Py3.8, we need are blocked on #6551 that it's required for this first.

[2020-02-04 15:55] stsewd opened #6624 "Validate filenames for incorrect values before trying to serve it"
If you go to https://docs.readthedocs.io//// it gets a 404, which is correct (we could also redirect to /). But that's generating an error on sentry, we should at least catch it.

Ref https://sentry.io/organizations/read-the-docs/issues/1493620404/?project=1846644&referrer=alert_email

[2020-02-04 16:01] stsewd opened #6625 "Validate webhook URL"
We have errors like `Invalid URL '': No schema supplied. Perhaps you meant http://?`

Where users don't put `https://` to their urls. We could, add `https://` if it wasn't given before save it or ask explicitly to the user to put `https?://`

ref https://sentry.io/organizations/read-the-docs/issues/789512412/?project=148442&query=is%3Aunresolved

[2020-02-04 17:38] muryanto1 opened #6627 "Command killed due to excessive memory consumption"
## Details

* Read the Docs project URL: https://cdat-vcs.readthedocs.io/en/latest/
* Build URL (if applicable): https://readthedocs.org/projects/cdat-vcs/builds/10382549/
* Read the Docs username (if applicable): muryanto1

## Expected Result

Successful build

## Actual Result

I am trying to build the '**try_fix_doctest**' branch of our project.
but the build has been failing: https://readthedo

[2020-02-04 21:37] Paebbels commented on #6551
@humitos sorry, but you complete container build approach is wrong...

At first, containers include software and libraries they need to fulfill their purpose. Having all Python versions in parallel in on container is wrong.

At second, (Docker) containers are build in layers. You create a base container and on top you create variations. That's like a Git commit on branch `master` and having multip

[2020-02-05 07:22] mmaridev commented on #4338
+1

[2020-02-05 10:21] #6565 closed

[2020-02-05 12:08] humitos commented on #6551
Thanks for the tip, @Paebbels. There are other things to consider as well before changing how we handle our docker images. However, I think the effort we need for adding a config setting (current issue) is very low compared to changing all of this, and we will get the same benefit.

[2020-02-05 12:11] humitos commented on #6624
I think we should just catch the exception and raise/return a 404.

[2020-02-05 12:12] humitos commented on #6624
We may want to do that at the storage class level instead of every place where we do `storage.path` or `storage.url`.

[2020-02-05 17:05] muryanto1 commented on #6627
Please look at this build log: https://readthedocs.org/projects/cdat-vcs/builds/10377011/

Please look at 'try_fix_doctest' version, not 'latest' version.

[2020-02-05 17:29] stsewd commented on #6627
@muryanto1 please check https://docs.readthedocs.io/en/stable/guides/build-using-too-many-resources.html if nothing of that works for you, let us know so we can increase the resources for your project

[2020-02-05 17:48] muryanto1 commented on #6627
@stsewd I did. The rtd_environment.yml is the minimum that we need to be able to import our package.

[2020-02-05 21:34] muryanto1 commented on #6627
@stsewd https://readthedocs.org/projects/cdat-vcs/builds/10389686/  the build failed in the conda env create step due to excessive memory consumption.

I tried creating the conda env locally in a 1 GB docker container:
$ docker run -m 1000000000 -it readthedocs/build:latest

and then inside the container, I did:
docs@10082d0e95ce:~$ cd
docs@10082d0e95ce:~$ git clone -b try_fix_doctest https://gith

[2020-02-05 23:23] jack1142 opened #6631 "Requests from Webhook Notifications are missing `Content-Type` header"
## Details

* Read the Docs project URL: https://readthedocs.org/dashboard/jack1142-red-prs
* Read the Docs username (if applicable): jack1142

This is just a test RTD project with failing build to make it easier to reproduce for me.

## Expected Result

I would expect the request sent to webhook to contain `Content-Type` header set to `application/json`.

## Actual Result

No `Content-Type` heade

[2020-02-06 00:05] choldgraf opened #6632 "Static templates don't work in readthedocs"
## Details

* Read the Docs project URL: https://sphinx-copybutton.readthedocs.io/
* Read the Docs username (if applicable): choldgraf

Here is the PR where I added the functionality that is causing issues on the RTD site: https://github.com/choldgraf/sphinx-copybutton/pull/58

## Expected Result

I am trying to build a Sphinx extension that [uses Sphinx static file templating](http://www.sphinx-d

[2020-02-06 02:40] jsiwek commented on #5060
Since the last comment, we've observed some people getting confused about the existing/abandoned 'zeek' project and would like to pursue acquiring it again so we can direct users to the right place.

[2020-02-06 11:26] #6420 closed

[2020-02-06 16:26] #3275 closed

[2020-02-06 16:26] #6462 closed

[2020-02-06 16:51] stsewd commented on #6627
I have increased the build resources for your project. To 2G of ram, but it's still failing, 2GB is the max we can give to a project. I have also tried to update the latest version of conda before doing the build (it contains some improvements related to memory consumption).

If you really need to parse the docstrings from your project, I'd recommend using https://github.com/readthedocs/sphinx-aut

[2020-02-06 20:16] markcmiller86 opened #6634 "needs_sphinx = 2.3 not honored in conf.py"
## Details

* Read the Docs project URL:https://readthedocs.org/projects/macsio/
* Build URL (if applicable): https://readthedocs.org/projects/macsio/builds/10395273/
* Read the Docs username (if applicable): markcmiller86

## Expected Result

Begin process with sphinx 2.3.

## Actual Result

Begins with sphinx 1.8.5, gets partway through running `conf.py` and then upon `subprocess.    run(['pip',

[2020-02-06 20:27] stsewd commented on #6634
@markcmiller86 you need to declare your dependencies and their versions in a requirements file

https://docs.readthedocs.io/en/stable/guides/specifying-dependencies.html

RTD by default installs sphinx 1.8.

[2020-02-06 20:31] #6515 closed

[2020-02-06 21:27] markcmiller86 commented on #6634
Ok, I've done that and it seems to have fixed the html gen. Then, the PDF gen is failing...

https://readthedocs.org/projects/macsio/builds/10396127/

with error message like so...

[code]

I am using breathe and suspect the output from it is too much for the pdf gen workflow (which apparently uses latex) to digest. I don't necessarily *need* PDF generation here and so disabling it gets me back to

[2020-02-06 21:27] #6634 closed

[2020-02-07 06:49] alokmenghrajani opened #6637 "Build error with build id #10398225"
## Details:

* Project URL: https://readthedocs.org/projects/Subzero/
* Build URL(if applicable): https://readthedocs.org/projects/subzero/builds/10398225/
* Read the Docs username(if applicable): alokmenghrajani

## Expected Result

Successful build.

## Actual Result

Build errors after 9 seconds with no clear explanation of why it failed.

[2020-02-07 10:56] jorisvandenbossche opened #6638 "Build error with build id #10398995 (build doesn't even start)"
## Details

* Read the Docs project URL: https://readthedocs.org/projects/geopandas/
* Build URL (if applicable): https://readthedocs.org/projects/geopandas/builds/10398995/
* Read the Docs username (if applicable): jorisvandenbossche

## Expected Result

Succeeding build

## Actual Result

The build doesn't even start. It says "triggered" for a long time, and then after a while it says "This buil

[2020-02-07 12:05] #6460 closed

[2020-02-07 14:33] Aricg opened #6639 "Build error with build id #10397232"
## Details:

* Project URL: https://readthedocs.org/projects/lf-releng-global-jjb/
* Build URL(if applicable): https://readthedocs.org/projects/lf-releng-global-jjb/builds/10397232/
* Read the Docs username(if applicable): lf-rtd

## Expected Result

Build completes

## Actual Result

Build fails, last good build was 2 days 23h ago. No real error message that I can see.
is a .readthedocs.yaml requ

[2020-02-07 16:23] humitos commented on #6639
Hi @Aricg! The `.readthedocs.yml` is not required. This is an internal problem in our servers. We will take a look and come back with more information.

[2020-02-11 13:49] rgerhards opened #6645 "orphaned and outdated project blocks official doc"
## Details

* Read the Docs project URL: https://readthedocs.org/projects/rsyslog/
* Build URL (if applicable):
* Read the Docs username (if applicable): yml

## Expected Result

*The rsyslog project would like to include the correct and current documentation.*

## Actual Result

*somebody submitted our github URL and no updates since 2017* This delivers incorrect information to users.

[2020-02-11 17:57] quasiben opened #6647 "UCX-PY Excessive Memory"
## Details

* Read the Docs project URL: https://ucx-py.readthedocs.io/
* Build URL (if applicable): https://readthedocs.org/projects/ucx-py/builds/10420341/
* Read the Docs username (if applicable): quasiben

## Expected Result

Build Succeed

## Actual Result

Build Error:

would it be possible to increase the memory limit ?

[2020-02-12 12:26] humitos commented on #6645
Hi @rgerhards! We do have a policy for this at https://docs.readthedocs.io/en/stable/abandoned-projects.html. Did you try contacting the user? I will take care and start that process in the following days.

[2020-02-12 12:29] humitos commented on #6645
I'm pinging @yml here that seems to be the same user on GH and RTD.

[2020-02-12 12:31] humitos commented on #6647
@quasiben could you try reducing the number of `channels` listing the environment file? conda has a bug about leaking memory.

[2020-02-12 12:32] rgerhards commented on #6645
@humitos thx for the reply!

Not me personally, but a doc team member quite a while ago (1 year+) without success. We somehow lost focus on that issue and I just came across it again now and thought I give an github issue a try. Which looks good. :-)

Thanks also for guiding me with the process.

[2020-02-12 12:38] rgerhards commented on #6645
@humitos I checked my mail archive, we tried to contact yml at the Ende of 2017, begin of 2018 before we gave up. It looks like we dug out a related twitter profile, but also got no response. at that time. I've again tweeted today: https://twitter.com/rgerhards/status/1227572032226852867

The twitter profile also looks inactive.

[2020-02-12 13:36] quasiben commented on #6647
@humitos thanks for the suggestion.  I removed one channel (the other three I believe are still necessary) but I'm still getting the same build error.  We are downloading a dependency which is 500MB+ would this be a problem ?

[2020-02-12 16:17] #5810 closed

[2020-02-12 20:03] ivankravets commented on #6227
Hi @stsewd !

Sorry, we experience this issue again :( https://readthedocs.org/projects/platformio/builds/10428325/

Thanks in advance for your help!

[2020-02-12 21:42] muryanto1 commented on #6627
Hello, I tried to wipe out the build env, and triggered the build. It passed the conda env creation, and failed with the following: https://readthedocs.org/projects/cdat-vcs/builds/10429137/

/home/docs/checkouts/readthedocs.org/user_builds/cdat-vcs/checkouts/try_fix_doctest/docs/API/graphics/Jupyter/boxfill.ipynb: WARNING: Pygments lexer name 'ipython2' is not known
failed

Exception occurred:

[2020-02-12 21:53] stsewd commented on #6627
Looks related to missing dependencies, try to build the docs locally in a clean environment and see if you can reproduce it locally.

[2020-02-12 22:01] #6631 closed

[2020-02-12 22:01] ericholscher commented on #6631
This should be deployed next Tuesday.

[2020-02-12 23:42] khanspers opened #6652 "Markdown image "alt text" is not ending up in the right place in the resulting html"
## Details

* Read the Docs project URL: https://github.com/cytoscape/cytoscape-manual
* Build URL (if applicable): http://manual.cytoscape.org/en/latest/
* Read the Docs username (if applicable):

## Expected Result
Given this markdown:

\![Starter Panel](_static/images/Launching_Cytoscape/Welcome_38.png)

The "alt" text should look like this in the html:
<p>
<img src="_images/Welcome_38.png" alt

[2020-02-13 15:12] stsewd commented on #6652
@khanspers do you see the same result when you build the docs locally? If so, this isn't a Read the Docs problem, but a problem with the markdown parser.

Actually it seems is this https://github.com/readthedocs/recommonmark/issues/88

[2020-02-13 15:12] #6652 closed

[2020-02-13 16:52] humitos commented on #6652
@khanspers the issue seems fixed already. If it's not already in the latest `recommonmark` version, it will be in the next one. You could try installing `recommonmark` from `master` branch as a workaround for now. Let me know if that works :)

[2020-02-13 20:25] stsewd commented on #6638
I can see your builds are passing now. Probably was a temporal error on our side, last week we were having some problems with the builders.

[2020-02-13 20:25] #6638 closed

[2020-02-13 20:31] weaverba137 opened #6658 "Erroneous reports of bad webhooks?"
## Details

* Read the Docs project URL: https://fiberassign.readthedocs.io, https://desimodel.readthedocs.io
* Build URL (if applicable):
* Read the Docs username (if applicable): weaverba137

## Expected Result

No expectation here.

## Actual Result

When I log in to readthedocs, I see these warnings:

[code]

I replaced the fiberassign webhook today, but still see the warning.  desimodel was b

[2020-02-13 20:36] stsewd commented on #6658
@weaverba137 you need to click on the link of the notification in order for them to disappear. See https://github.com/readthedocs/readthedocs.org/issues/6601

[2020-02-13 20:36] #6658 closed

[2020-02-13 20:38] weaverba137 commented on #6658
Thank you, that works.

[2020-02-13 20:51] stsewd commented on #6637
Looks like an error when getting the submodules.

This submodule doesn't exist https://github.com/square/subzero/blob/68a7b51bcc128c831abc13758bd6501ce6ee0efe/.gitmodules#L4

This looks like a regression on gitpython or a new bug related to no-existing submodules

[2020-02-13 21:42] jorisvandenbossche commented on #6638
Yes, sorry I forgot to close this issue, the builds started running again

[2020-02-13 23:58] muryanto1 commented on #6627
Hello, I am making some progress https://readthedocs.org/projects/cdat-vcs/builds/10436453/
Is it possible to increase the timeout for the jupyter notebook cell execution?
I read from https://github.com/ipython/ipython/issues/8382 that the timeout is configurable.

[2020-02-14 03:33] Daltz333 opened #6659 "Build Timeout for frc-docs"
## Details

* Read the Docs project URL: https://frc-docs.readthedocs.io/
* Build URL (if applicable):
* Read the Docs username (if applicable): Daltz333

Source available at: https://GitHub.com/wpilibsuite/frc-docs

## Expected Result
Successful and consistent builds

## Actual Result
Nearly every other build times out on latex generation. Our project is quite large, and if its simply due to bein

[2020-02-14 16:10] Daltz333 commented on #6659
Update: Every build seems to be timing out with a local build working fine. Including latex. @stsewd sorry for the ping.

[2020-02-14 19:26] muryanto1 commented on #6627
Hello, I was able to pass the conda env creation in this build: https://readthedocs.org/projects/cdat-vcs/builds/10440567/
I then had to add one package to the docs/rtd_environment.yml, and since then I cannot seem to pass the conda env creation (it says using excessive memory consumption) even after I wiped out the build env and rebuilt.
Do I really use that much memory?
Can someone check? Thanks

[2020-02-14 23:24] davidfischer commented on #6659
I went ahead and bumped up your build time.

How long do the builds take locally? We also have a guide on what to do if your builds take too many resources that might be worth looking at: https://docs.readthedocs.io/en/stable/guides/build-using-too-many-resources.html

[2020-02-15 00:56] Daltz333 commented on #6659
They take about 12 minutes. We have about 1200 pages of documentation and some pages contain heavy latex.

[2020-02-16 09:37] Borda opened #6661 "missing anchor/perm links in RTD"
## Details

* Read the Docs project URL: https://readthedocs.org/projects/pytorch-lightning
* Build URL (if applicable): https://readthedocs.org/projects/pytorch-lightning/builds/10446397/
* Sphinx config: https://github.com/PyTorchLightning/pytorch-lightning/blob/master/docs/source/conf.py
* Read the Docs username (if applicable): Borda

## Expected Result

We have updated the config accordingly

[2020-02-16 17:23] jaraco opened #6662 "Add support for pre-install step"
## Details

* Read the Docs project URL: https://readthedocs.org/projects/setuptools
* Build URL (if applicable): https://readthedocs.org/projects/setuptools/builds/10445019/
* Read the Docs username (if applicable): jaraco

## Expected Result

There would be a hook that setuptools could invoke to bootstrap the source tree prior to attempting to install it.

## Actual Result

RTD attempts to insta

[2020-02-16 17:29] jaraco commented on #6662
If RTD had a hook that allowed overriding the entire install/build process, setuptools has a `tox -e docs` routine that builds the docs reliably. Could a plugin be written to invoke that behavior instead, providing a generalizable way for a client to define the larger process?

[2020-02-16 18:21] alokmenghrajani commented on #6637
Thanks, you are right, the submodule doesn't exist but it's also no longer needed since there's a directory with the same name.

Hopefully we'll now get a clean docs build. 🤞

[2020-02-16 18:21] #6637 closed

[2020-02-16 22:40] botherder opened #6663 "Domain redirect pointing to different website readthedocs project"
## Details

* Read the Docs project URL: http://viper-framework.rtfd.io/
* Build URL (if applicable): https://github.com/viper-framework/viper
* Read the Docs username (if applicable):

## Expected Result

The domain `viper.li` is configured to redirect to viper-framework readthedocs site. It is configured both on readthedocs.org, as well as on my Nginx to perform a proxy_pass as instructed.

## A

[2020-02-16 23:00] alokmenghrajani commented on #6637
That fixed the docs, thanks!

[2020-02-17 11:28] mayou36 opened #6664 "TensorFlow install: Command killed due to excessive memory consumption"
## Details

* Read the Docs project URL: https://readthedocs.org/projects/zfit/
* Build URL (if applicable): https://readthedocs.org/projects/zfit/builds/10451515/
* Read the Docs username (if applicable): mayou36

## Expected Result

It fails to install TensorFlow 2.1. Checking other, similar issues don't seem to really offer a solution. We would need to install it for the Typing.

The Docker con

[2020-02-17 12:51] humitos commented on #6661
Hi! I do see an anchor link in this page https://pytorch-lightning.readthedocs.io/en/latest/loggers.html#module-pytorch_lightning.loggers

is that what you are reporting? I'm not sure to understand it 100%.

[2020-02-17 12:56] humitos commented on #6662
Hi @jaraco! Thanks for reporting this. We have a long discussion internally about features like this and we haven't made a decision yet. We are discussing topics like "allowing user to run just random commands" and "allow to upload a pre-built HTML" which are related in some way to what you are needing at this point.

I don't have a good answer and we don't know when we are going to implement thes

[2020-02-17 12:59] Borda commented on #6661
I am talking about this twisted circles next to the header, and I do not see then even after passing over with cursor... I have tried Chrome and Mozilla browser
![docs-links-smalll](https://user-images.githubusercontent.com/6035284/74656014-a93ff100-518d-11ea-987a-93e036df49a7.png)

[2020-02-17 13:02] humitos commented on #6663
Are you sending the `X-RTD-SLUG`? What's the value of it? Can you share your NGINX configuration?

[2020-02-17 13:08] humitos commented on #6661
Yes. That's where I get the link that I pasted. It works for me on Firefox but it doesn't on Google Chrome. This is probably a bug of the theme.

[2020-02-17 13:49] Borda commented on #6661
for me using the same browser I see it in local docs but not in the RTD... @williamFalcon

[2020-02-17 13:54] botherder commented on #6663
Uh weird, I did not have an X-RTD-SLUG set before, and it worked nevertheless. Fixed it now, and it works fine. Thanks! Closing this.

[2020-02-17 13:54] #6663 closed

[2020-02-17 14:51] stsewd commented on #6627
We don't have a record of that, but we capture the error from docker, your project is currently with 2GB

[2020-02-17 15:04] stsewd commented on #6661
I can see it on firefox too, try running firefox without any extension.

[2020-02-17 15:40] stsewd opened #6665 "Drop mock dependency"
We are using

https://github.com/readthedocs/readthedocs.org/blob/59611eb3daffaa5c7b359c7d1eacc160ce7b4cbb/readthedocs/vcs_support/tests.py#L6-L6

In several places.

But in python3 we have `unittest.mock`, so we can drop this dependency

https://github.com/readthedocs/readthedocs.org/blob/59611eb3daffaa5c7b359c7d1eacc160ce7b4cbb/requirements/pip.txt#L76-L76

We need to replate all `import mock` t

[2020-02-17 17:26] stsewd opened #6666 "Make code work with new deps"
Had to downgrade a couple https://github.com/readthedocs/readthedocs.org/pull/6643/commits/4890dec54484f718ab2cd8979b65b6c779062d82

We need to update our code to these new changes.

We also need to test more the azure deps update https://github.com/readthedocs/readthedocs.org/pull/6643/commits/45694414392336701875b08d4f8a5ecaf0a08acd

https://github.com/readthedocs/readthedocs.org/pull/6643#discu

[2020-02-17 18:02] stsewd commented on #6639
I imported this project manually, and it passed. But it took some time, I guess it's failing bc of memory consumption or build time (we don't record the real build time if a command fails, only after that command).

[2020-02-17 20:03] neggert commented on #6661
I see missing links in Firefox on RTD, and also a bunch of errors in the JS console that look related. I suspect you're correct about a problem with the theme.

[2020-02-18 01:34] davidfischer commented on #6632
One thing I see is that your docs on Read the Docs build with Sphinx 1.8.5. That's our default Sphinx version although you can override it by specifying the version in your [requirements.txt](https://github.com/choldgraf/sphinx-copybutton/blob/3018dd7bfcc950b0e6f4debfc0e8e139b54de042/doc/requirements.txt)

[2020-02-18 03:48] choldgraf commented on #6632
I actually looked into this a bit further, and I think the problem was on my end, rather than with Sphinx. It was an issue with linking the template file in the `setup.py` script. I'll close this now because I think it is fixed!

[2020-02-18 03:48] #6632 closed

[2020-02-18 05:11] akheron opened #6672 "Project root URL redirects to different project"
## Details

* Read the Docs project URL: https://jansson.readthedocs.io/
* Build URL (if applicable):
* Read the Docs username (if applicable): akheron

## Expected Result

https://jansson.readthedocs.io should work and serve the Jansson documentation

## Actual Result

https://jansson.readthedocs.io seems to redirect to https://shellgui-docs.readthedocs.io/en/2.12/, which is a different project.

[2020-02-18 14:26] Aricg commented on #6639
@stsewd Can you increase the memory/build time for us? I believe that we are all paid up.

-->
lf-releng-common-packer2 weeks, 3 days ago failing
lf-releng-docs1 week, 6 days ago failing
lf-releng-global-jjb14 hours, 12 minutes ago failing
lfdocs-conf1 week, 5 days ago failing

[2020-02-18 15:33] humitos commented on #6672
@akheron it seems your project is marked as translation of `shellgui-docs`. Can you check this under "Admin" in your project's dashboard page?

If that's not correct, you may need to remove it as translation of that project.

Please, let me know if this works.

[2020-02-18 16:32] stsewd commented on #6672
Also, if you didn't add your project as translation of the other project. It may bc of an old bug where any user could add their project as translation of another project

[2020-02-19 03:50] luiscape commented on #6661
I agree with @neggert I think the issues here are with the theme (specifically, the JS library AnchorJS isn't being loaded correctly affecting the generation of anchor links).

[2020-02-19 04:33] luiscape commented on #6661
Ok so the issue here is an incompatibility of the theme used with the extension `nbsphinx`. The extension uses RequireJS to convert Jupyter Notebook widgets into documentation. When RequireJS is injected in the resulting `index.html` file it messes up the loading of other required libraries by the theme, AnchorJS among them -- hence no anchors.

A quick solution for this problem (as per [documenta

[2020-02-19 08:29] jack1142 commented on #6631
Looks like it works properly now, thanks!

[2020-02-19 09:07] akheron commented on #6672
It seems that my project is marked as a translation for shellgui-docs, but I didn't add it, and it seems I cannot remove the linking:

![translations](https://user-images.githubusercontent.com/70927/74818743-dca68b00-5307-11ea-85d4-2ef8cf38813a.png)

[2020-02-19 10:16] humitos commented on #6551
Done at https://github.com/readthedocs/readthedocs.org/pull/6653

[2020-02-19 10:16] #6551 closed

[2020-02-19 10:18] humitos commented on #6324
Hi all! We already have support for Python 3.8. You can use our `.readthedocs.yml` config file for this (see https://docs.readthedocs.io/en/stable/config-file/v2.html)

Summarizing, you need:

[code]

This was implemented at https://github.com/readthedocs/readthedocs.org/pull/6654

[2020-02-19 10:18] #6324 closed

[2020-02-19 10:42] humitos commented on #6672
@akheron I removed the translation manually.

As @stsewd said, this was an old bug in our code. Everything should be working now. Feel free to reopen the issue otherwise.

[2020-02-19 10:42] #6672 closed

[2020-02-19 12:11] #6265 closed

[2020-02-19 15:12] stsewd commented on #6661
@luiscape thanks for the explanation and workaround!

[2020-02-19 15:12] #6661 closed

[2020-02-19 16:08] Aricg commented on #6639
Actually, only the lf-releng-global-jjb job is failing due to mystery. The others just needed to be switched to python3

[2020-02-19 16:18] usask-rc opened #6677 "Automatically imported project not showing in projects list"
## Details

* Read the Docs project URL: https://radiam.readthedocs.io/en/latest/
* Build URL (if applicable):
* Read the Docs username (if applicable): usask-rc
* Github repo URL: https://github.com/usask-rc/radiam

After connecting GitHub to RTD, when I went to the page https://readthedocs.org/dashboard/import/ the project status was "already imported". However, it does not show up in the list o

[2020-02-19 16:22] stsewd commented on #6677
@usask-rc can you please attach some screenshots of what you are seeing? I think I have an idea, but just want to be sure

[2020-02-19 16:28] usask-rc commented on #6677
![Screen Shot 2020-02-19 at 10 27 47 AM](https://user-images.githubusercontent.com/19416365/74852726-9d297000-5302-11ea-990a-0c44af485e70.png)

[2020-02-19 16:29] usask-rc commented on #6677
![Screen Shot 2020-02-19 at 10 27 57 AM](https://user-images.githubusercontent.com/19416365/74852753-a61a4180-5302-11ea-90fe-4e2658a04d6e.png)

[2020-02-19 16:34] usask-rc commented on #6677
![Screen Shot 2020-02-19 at 10 33 45 AM](https://user-images.githubusercontent.com/19416365/74853290-5720dc00-5303-11ea-87d2-8dfb206b4cdb.png)

[2020-02-19 16:34] usask-rc commented on #6677
Last one (3 of 3) uploaded

[2020-02-19 19:05] #5058 closed

[2020-02-19 20:41] Aricg commented on #6639
Ignore this, the problem is with python dependencies on our side.

[2020-02-19 20:41] #6639 closed

[2020-02-20 11:32] humitos commented on #5291
A hacky implementation for this is happening at https://github.com/readthedocs/readthedocs.org/pull/6680

[2020-02-20 14:00] kiuru commented on #5810
@stsewd I'm still getting a old version of sphinx in the rtd. I have tried wipe and build my latest version multiple times, but I always get sphinx-1.8.5. I haven't define a specific sphinx version in the requirements.txt file, so I should get a latest version.

[2020-02-20 14:34] stsewd commented on #5810
If you don't specify a version, you get the default (1.8.5).

[2020-02-20 15:53] kiuru commented on #5810
Yes that was the problem. Now my sphinx's version has changed in the rtd! Thanks!

[2020-02-20 16:15] segevfiner commented on #6363
Still relevant, and has some contributor work towards it already.

[2020-02-20 16:24] stsewd commented on #6363
Yes, the PR is https://github.com/readthedocs/readthedocs.org/pull/6501/ it needs review, but this isn't a priority for core team at the moment. If someone has time and is familiar with json schema, feel free to help with review there

[2020-02-20 16:39] stsewd commented on #6227
@ivankravets sorry for the late reply, I can see some of your builds are passing, but not consistently. I have increased the build resources for your project.

[2020-02-20 16:39] #6227 closed

[2020-02-20 17:22] stsewd commented on #5060
@jsiwek I have contacted the user today, I'm waiting for a reply. If we don't hear anything in 6 weeks, we can give you access to the project.

https://docs.readthedocs.io/en/stable/abandoned-projects.html

/remind me about take action on this project in 6 weeks

[2020-02-20 18:43] pllim opened #6684 "Please set DONT_SHALLOW_CLONE for astropy 🙇‍♀️"
This is similar request as #5648 . Also see astropy/astropy#9967.

## Details

* Read the Docs project URL: https://readthedocs.org/projects/astropy/
* Build URL (if applicable):
* Read the Docs username (if applicable): pllim

## Expected Result

Software version reported on RTD page is the expected version (v4.1.dev...).

## Actual Result

Software version reported on RTD page is not the expecte

[2020-02-20 18:46] pllim commented on #6684
p.s. If this is already fixed, feel free to close.

[2020-02-20 18:49] Daltz333 opened #6685 "[Local Installation] Doc build uses 2.7 and so it fails"
OS: Ubuntu 18.04

Following the Instructions at https://docs.readthedocs.io/en/stable/development/install.html

and building the following project https://github.com/wpilibsuite/frc-docs.git

It keeps attempting to build using Python 2.7 (even though Python3.6 and Python3.7) are installed. The environment was created with Python3.6 per the instructions.

It fails on installing Sphinx 2.2.0 because

[2020-02-20 19:27] stsewd opened #6686 "Original user who imported the project is used to report commit statuses"
When a project has the PR builder feature enabled, they must check the webhook sends us the PR events and the Read the Docs auth app has permissions over the organization they are importing the project from.

The last thing is a problem when there are several members in the org, we use the credential from the user who first imported the project to report the commit status

https://github.com/readt

[2020-02-20 19:31] stsewd commented on #6684
Done!
https://readthedocs.org/projects/astropy/builds/10476111/

[2020-02-20 19:31] #6684 closed

[2020-02-20 19:35] pllim commented on #6684
Thank you, @stsewd !

[2020-02-20 19:38] stsewd commented on #6685
Please try using the new version of the config file, there you can specify the python version

https://docs.readthedocs.io/en/stable/config-file/v2.html

[2020-02-20 19:42] Aricg opened #6687 "Build only works in a fresh read the docs project"
## Details

Having trouble with builds of this project. did several 'wipes' of the  project to get a fresh environment.
* https://readthedocs.org/projects/lf-releng-global-jjb/builds/

To reproduce I forked the repo, created a fresh read the docs project, and triggered a build. Surprisingly it passed!
* https://readthedocs.org/projects/globaljjbdocstest/builds/

Read the Docs username lf-rtd

## E

[2020-02-20 19:44] stsewd commented on #6677
@usask-rc looks like the project on rtd is owned by https://readthedocs.org/profiles/axfelix/.

I think the user has permissions over your repo, so the user imported it first on rtd (this is allowed because the user has permissions over that repo).

This is also related to https://github.com/readthedocs/readthedocs.org/issues/2759

Solutions:

- Ask the user to give you permissions over the rtd pr

[2020-02-20 19:47] Daltz333 commented on #6685
I can give it a shot, however I thought documentation was built using 3.7 by default?

Our build at https://frc-docs.readthedocs.io/ works great, but locally it fails due to attempting to use 2.7

RTD limitations reserved to businesses limit us, and we are handling hundreds of thousands with a very small budget and can't afford the business plan. Hence the option to host locally since we have a ve

[2020-02-20 19:47] usask-rc commented on #6677
OK thanks for the update, I will contact Alex.  I don't think this behaviour is good, however this at least clears up my confusion.

[2020-02-20 19:47] #6677 closed

[2020-02-20 19:54] stsewd commented on #6687
I think it may be related to the number of active versions in your original project. We fixed two bugs related to this, so maybe this is a regression or another problem. I'll investigate a little more

[2020-02-20 19:58] Daltz333 commented on #6685
I have attached a link to the appropriate django log.

https://hastebin.com/obatubopin.sql

[2020-02-20 20:06] stsewd commented on #6685
It's creating a 3.7 virtual env

[code]

But looks like it's resolving to 2.7

[code]

Hope that can help you to debug further, doesn't look related to rtd, but the creation of the virtual env with the python version from your OS

[2020-02-20 20:08] Daltz333 commented on #6685
Yeah, when I enter the frc-docs venv folder, the configuration file specifies 3.7 but the actual python binary is 2.7 when ran. It's quite odd, as this is a vanilla Ubuntu install (post ``sudo apt-get update && sudo apt-get upgrade -y``

[2020-02-20 20:15] Aricg commented on #6687
@stsewd  Indeed that was it! removed 30 or so tags from active versions and the build completes.
Thanks!

[2020-02-20 20:15] #6687 closed

[2020-02-20 20:17] stsewd commented on #6687
Just for the record, this was the error from the logs

[code]

[2020-02-20 20:21] stsewd commented on #6687
And that was being call form

https://github.com/readthedocs/readthedocs.org/blob/2e100541ff5fdda1e0ddd213f499f14e2832b8b6/readthedocs/doc_builder/backends/sphinx.py#L124-L132

We should find a way to optimize that

[2020-02-20 20:33] Daltz333 commented on #6685
So, looks like just doing ``sudo apt-get install virtualenv`` was one of my issues. I had to do ``python3.7 -m pip install virtualenv==16.7.9``.

Greater than version 20 of virtualenv broke it because it complained of --no-site-packages not existing.

[2020-02-20 20:38] Aricg commented on #6687
Just my two cents, the U/I doesn't really support an endless number of versions anyways, perhaps rather than scale the api calls indefinitely, you may consider automatically dropping the oldest active version after a certain number (maybe 40 or so)

[2020-02-20 20:46] stsewd commented on #6687
Yeah, we are working on the UI. The other option may be great, but it would be an option users can opt in. Also, possible creating automatic redirects so the internet doesn't break

[2020-02-20 21:00] #6685 closed

[2020-02-20 23:07] mgasner opened #6688 "Reenable dagster.readthedocs.io"
## Details

* Read the Docs project URL: https://dagster.readthedocs.io/en/stable/

## Expected Result

Able to build new versions of our docs.

## Actual Result

Unable to build new docs, with the message:

[code]

[2020-02-21 04:17] choldgraf opened #6690 "Custom HTML5 translator not being run in readthedocs?"
## Details

We are building a Sphinx theme that uses Bootstrap.js, and thus have a Sphinx sub-class of HTML5Translator that does some extra translation to create proper bootstrap classes:

https://github.com/pandas-dev/pydata-bootstrap-sphinx-theme/blob/e6a52f9a52ed9ced23d3a8bbdafcdc9432ef8d66/pandas_sphinx_theme/bootstrap_html_translator.py#L29

The theme overrides the `html` translator so that t

[2020-02-21 17:08] ivankravets commented on #6227
Thanks, Santos! 🤝

[2020-02-21 18:52] davidfischer commented on #6690
Read the Docs does use a [custom builder](https://github.com/readthedocs/readthedocs-sphinx-ext/blob/545103dd7557e4e247241ca9f3374548171c52d9/readthedocs_ext/readthedocs.py#L324-L337) to add various hooks to integrate projects more closely with Read the Docs. This is almost certainly the reason why your builder is not being used. I don't think there is currently a way to override this. Is the goal

[2020-02-21 18:55] davidfischer commented on #6688
This project looks like it was triggering *LOTS* of builds that weren't in response to new commits. It was using hours of build time per day. What caused that to happen and have those issues been resolved?

[2020-02-21 19:05] rgerkin opened #6691 "Build fail due to timeout (not due to dependencies)"
## Details

* Read the Docs project URL: https://readthedocs.org/projects/neuronunit
* Build URL (if applicable): https://readthedocs.org/projects/neuronunit/builds/10482732/
* Read the Docs username (if applicable): rgerkin

## Expected Result

A build that succeeds.

## Actual Result

A build timeout.  I even made a new requirements file that stripped all dependencies, but the build times out af

[2020-02-21 19:16] mgasner commented on #6688
I don't know how to diagnose this issue. The webhook logs are only available for the past couple of hooks and all correspond to new commits. I see that there were a bunch of builds a week ago but I don't know how they were triggered or how to find out.

[2020-02-21 19:30] choldgraf commented on #6690
Ahh I see - thanks for the clarification. In our case, we are using the HTML5Translator because Bootstrap has several "container" classes that it uses for pre-defined CSS rules etc. Rather than re-writing a bunch of custom CSS rules for Sphinx's own container class names, we use the translator to convert the Sphinx container classes into ones that Bootstrap understands.

More generally, is it not

[2020-02-24 00:58] DominiqueMakowski opened #6692 "Command killed due to excessive memory consumption (despite minimum dependencies)"
## Details

* https://github.com/neuropsychology/NeuroKit
* https://readthedocs.org/projects/neurokit2/builds/10491079/
* RTD username: DominiqueMakowski

It fails with `Collecting package metadata (repodata.json): ...working... Killed   Command killed due to excessive memory consumption`

My [environment.yml](https://github.com/neuropsychology/NeuroKit/blob/master/docs/environment.yml) looks like

[2020-02-24 02:43] NumesSanguis commented on #6507
Any plans to add "Sphinx-RTD-Tutorial" or other tutorial to the docs?

[2020-02-24 08:12] GallowayJ commented on #6665
@stsewd I would like to work on this provide it hasn't already been done?

[2020-02-24 09:13] humitos commented on #6507
@NumesSanguis this is not currently in our roadmap, but it's definitely a good improvement to have a how to guide that talks about `sphinx-autodoc`. We are happy to accept a Pull Request with this guide.

[2020-02-24 09:44] humitos commented on #6691
Hi @rgerkin! This happen when trying to build the "htmlzip" file (all the documentation in just one file) which takes _a lot of resources_.

I recommend you to use our Config File V2 (https://docs.readthedocs.io/en/stable/config-file/v2.html) which by default disables this output format. That should be enough to make your builds to work.

[2020-02-24 09:48] humitos commented on #6690
Just in case that this may help you. I'm using a custom Sphinx Translator in my extension (https://github.com/readthedocs/sphinx-hoverxref/blob/master/hoverxref/extension.py#L116) but I had to install it as part of the `readthedocs` builder:

[code]

Maybe you can try that out in case you only need a translator and not a whole builder. Keep in mind that this is more like a hack and it's not offici

[2020-02-24 09:55] humitos commented on #5836
If you re-import your project under the new name, you can create an Exact redirect with `$rest` in the _old project_ pointing to the new URL. See https://docs.readthedocs.io/en/stable/user-defined-redirects.html#exact-redirects

[2020-02-24 15:10] stsewd commented on #5836
@humitos those would only work on 404

[2020-02-24 15:14] stsewd commented on #6665
@GallowayJ sure, go ahead

[2020-02-24 15:25] stsewd commented on #5060
@jsiwek user replied, and the project was deleted. You can create a project with that name now!

[2020-02-24 15:35] sergi-e opened #6693 "Tables have lost their format"
## Details

* Read the Docs project URL: https://github.com/carla-simulator/carla
* Build URL (if applicable): https://carla.readthedocs.io/en/latest/

## Expected Result
Until right now, tables looked properly. In fact, they still do when using mkdocs serve locally to preview the results:

![Screenshot from 2020-02-24 16-29-44](https://user-images.githubusercontent.com/59253112/75165955-75337580-

[2020-02-24 15:42] stsewd commented on #6693
@sergi-e please, make sure you are using the mkdocs version. I can see your previous builds were using

[code]

And the latest build

[code]

[2020-02-24 15:51] sergi-e commented on #6693
I updated to the latest mkdocs version and the tables look properly off-line however they don't in the documentation:
https://carla.readthedocs.io/en/latest/cameras_and_sensors/

[2020-02-24 19:56] rgerkin commented on #6691
@humitos Thanks for the suggestion, but it is still timing out.
Build: https://readthedocs.org/projects/neuronunit/builds/10496600
Current config file: https://github.com/scidash/neuronunit/blob/docs/.readthedocs.yml

[2020-02-24 20:11] humitos commented on #6691
I increased the building time allowed. Although, I think most of the time is used to document the API (since there is no too many documentation pages), so I suggest you to take a look at https://sphinx-autoapi.readthedocs.io/ (instead of `sphinx.ext.autodoc`) which will help you to improve the building time of the module API.

Let me know if this works.

[2020-02-24 21:06] humitos commented on #6691
Hrm... It failed even increasing the time to 1500s: https://readthedocs.org/projects/neuronunit/builds/10496823/

[2020-02-24 21:07] rgerkin commented on #6691
@humitos Yes, I saw that.  We are going to try to rebuild `conf.py` from scratch and see what we can make work.

[2020-02-25 04:03] sethaxen opened #6699 "Failure due to excessive memory consumption"
## Details

* Read the Docs project URL: https://readthedocs.org/projects/e3fp/
* Build URL (if applicable): https://readthedocs.org/projects/e3fp/builds/10499025/
* Read the Docs username (if applicable): sdaxen

## Expected Result

I expected the docs to successfully build

## Actual Result

The build failed with `Command killed due to excessive memory consumption`

[2020-02-25 04:05] sethaxen commented on #6699
Reading around, it looks like this is a known issue with conda, and enabling the `UPDATE_CONDA_STARTUP` feature may help.

It would also be nice to have the `EXTERNAL_VERSION_BUILD` feature enabled for testing build changes in pull requests.

[2020-02-25 06:34] bmorris3 opened #6700 "Build error with build id #10499561"
## Details:

* Project URL: https://readthedocs.org/projects/helios-k/
* Build URL(if applicable): https://readthedocs.org/projects/helios-k/builds/10499561/
* Read the Docs username(if applicable): bmorris3

## Expected Result

Docs should build (they do locally).

## Actual Result

[code]

[2020-02-25 07:05] t-book opened #6701 "How to get rid of _a naming?"
## Details

* Read the Docs project URL: https://geonode-test-docs.readthedocs.io/en/master/
* Build URL (if applicable): https://readthedocs.org/projects/geonode-test-docs/builds/10496005/
* Read the Docs username (if applicable): toni_schoenbuchner

## Expected Result

A documentation showing versions 2.8, 2.10, master

## Actual Result

2.8 gets named to 2.8_a this is strange as there are no ta

[2020-02-25 09:43] jorisvandenbossche commented on #6690
Note that we are using a custom *translator*, not builder. But yeah, since you register a translator for a certain builder, that's in practice still the problem.

More in general: the html that sphinx generates has some "conflicts" with how bootstrap expects the html to be (the "container" class is one example that bootstrap interprets differently, but eg also the classes added to tables are probl

[2020-02-25 15:52] stsewd commented on #6624
Also, azure has a limit in their filename lenght https://sentry.io/organizations/read-the-docs/issues/1451596963/?project=148442&query=is%3Aunresolved

[2020-02-25 16:43] rgerkin commented on #6691
@humitos Well it certainly [builds successfully](https://readthedocs.org/projects/neuronunit/builds/10498077/) when we remove `sphinx.ext.autodoc`, but of course then it is missing the API documentation.  We will look into `sphinx-autoapi`, but it is strange that autodoc times out on the readthedocs servers, because it only takes about 10 seconds more (relative to not including autodoc) on a regul

[2020-02-25 16:44] rgerkin commented on #6691
@humitos Well it certainly [builds successfully](https://readthedocs.org/projects/neuronunit/builds/10498077/) when we remove `sphinx.ext.autodoc`, but of course then it is missing the API documentation.  We will look into `sphinx-autoapi`, but it is strange that autodoc times out on the readthedocs servers, because it only takes about 10 seconds more (relative to not including autodoc) on a regul

[2020-02-25 16:52] humitos commented on #6691
Wow, 71 seconds without the `autodoc`! I don't have any advice from the top of my head right now about what it could be considering than you said locally it takes only 10s more.

[2020-02-25 17:17] davidfischer opened #6705 "Gold users seeing ads after Django2 upgrade"
After the Django 2 upgrade today, gold users are currently seeing ads. This is due to setting `SameSite=Lax` on our session cookie. The cookie is not sent with the ads API request.

While we could revert that part of this change, in the next couple weeks [Chrome is going to start not sending cookies for cross-domain requests](https://www.chromium.org/updates/same-site) even if `SameSite` is unset.

[2020-02-25 18:05] stsewd commented on #6700
Believe this is because your submodule doesn't exist

https://github.com/exoclime/HELIOS-K/blob/master/.gitmodules

(there is only a folder, not a submodule)

[2020-02-25 18:11] stsewd commented on #6701
Hmm, that's weird. Did you use to have a tag with that name, maybe?

Anyway, I think you can solve this by deactivating the `2.8_a` version and triggering a build on master or 2.10. The versions list should have a 2.8 version now (deactivated)

[2020-02-25 18:35] mgasner commented on #6688
Ok, I think we have a clue -- we inadvertently pushed a bunch of dead tags (used by our build tooling) to Github last week. This may have triggered a bunch of webhooks. This was user error and would have been mitigated if we had jad an automation rule in place to filter out tags with a given prefix, which we will put in place.

[2020-02-25 18:54] ChihweiLHBird commented on #6691
May we know which command that readthedoc was sucks on? Maybe we can try the same thing locally.

[2020-02-25 19:48] rgerkin commented on #6691
@humitos Is there something that executes between the listed commands on the build page, but which isn't shown?

[2020-02-25 20:08] t-book commented on #6701
Hi @stsewd thanks for your help! Now, I think I know what's going on. Before the docs pointed to https://github.com/GeoNode/geonode (I've changed the URI in administration to point to our new repositiory). There indeed a 2.8 tag exists and RDT still seams to use it in background. Unfortunately disabling Version 2.8_a and rebuilding master did not work. Still the branch is named 2.8_a pointing to o

[2020-02-26 05:57] WardBenjamin commented on #6400
As far as I'm aware, this is still an issue.

[2020-02-26 06:29] bmorris3 commented on #6700
That was the problem, thanks!

[2020-02-26 06:29] #6700 closed

[2020-02-26 10:19] humitos commented on #6691
The command that follow after `cat conf.py` is this one:

[code]

No.

Let me know if that helps.

[2020-02-26 10:30] humitos commented on #6691
I tried building it locally to debug this and double check if the problem is under Read the Docs or not. The `docs` branch passes without problems, so I suppose that you made some changes there to make it work. What would be the branch that I should use to test locally the timeout issue you had on RTD?

[2020-02-26 10:40] st-bender commented on #6699
Hi there,
sorry for jumping in but I had the same problem.
That's a pretty recent change apparently, using

[code]

instead of `latest` fixed it for me.

Cheers.

[2020-02-26 10:41] st-bender commented on #6692
Hi there,
Using
[code]
fixed it for me.

[2020-02-26 11:03] st-bender opened #6710 "Excessive memory use with 'latest' image (v6.0 broken builds)"
## Details
Version 3.12.0 (Date: February 18, 2020) introduced
"This version has two major changes:
It updates our default docker images to stable=5.0 and latest=6.0."

That's exactly when building the docs started to fail for me.
It seems that the new `latest` image leads to excessive memory consumption with `conda`, some people have reported that. #6699, #6692.

## Expected Result

Successful bu

[2020-02-26 11:22] DominiqueMakowski commented on #6692
@st-bender unfortunately, it seems that this trick didn't fix the problem for us:

https://github.com/neuropsychology/NeuroKit/blob/2dca06dcdbe7d530214c6267b0bd10d74dada8e4/readthedocs.yml#L1-L3

result: https://readthedocs.org/projects/neurokit2/builds/10507712/

[2020-02-26 12:42] st-bender commented on #6692
Hi,
sorry to hear that, but I believe you modified the wrong file. That's probably my mistake, the `image` has to be inside a `build` section of `readthedocs.yml` **not** the `environment.yaml` for conda. Mine looks like this:
[code]

[2020-02-26 12:55] DominiqueMakowski commented on #6692
Yup, that's what I realised, thanks a lot for the details!

But unfortunately, still fails 😞

[2020-02-26 14:24] sergi-e commented on #6693
@stsewd Hello, sorry to bother you, but the problem persists.
I think the build has been properly updated, as it figures like you said in https://readthedocs.org/projects/carla/builds/10501412/.
However, not only do tables still appear with wrong format online, but also indexes on the side bar have mostly disappeared. Everything looks ok when previewing the mkdocs off-line, but the online version

[2020-02-26 14:34] stsewd commented on #6400
Did you try changing the primary email? (on github and/or rtd)

[2020-02-26 14:36] st-bender commented on #6692
Sorry to hear that, but I see that it got a few steps further, it no longer stops at `conda create ...`. I am not sure if you need the last lines with the `python` section though (they are in my file to install the package). If you didn't need them before it's probably safe to remove them.

[2020-02-26 14:36] stsewd commented on #6693
I think this is likely a problem with unpinned dependencies, did you try replicating locally with a clean environment?

[2020-02-26 14:40] stsewd commented on #6692
@DominiqueMakowski make sure you use the latest version of the configuration file https://docs.readthedocs.io/en/stable/config-file/v2.html

Also, changing to the stable image may fix your problem. We released new images with the latest version of conda, which seem to be using more memory than before. Try checking https://docs.readthedocs.io/en/stable/guides/build-using-too-many-resources.html. If

[2020-02-26 14:47] stsewd commented on #6710
The latest image has the latest version of mini conda, which seem to consume more memory than before :man_shrugging:

The docs list only latest and stable.

It's possible, but not recommended or documented. The reason is the images are supposed to be backwards compatible or don't break the builds like this, but if that happens, then `stable` should be used.

Also, we don't plan to keep all images

[2020-02-26 14:58] stsewd commented on #6699
Unfortunately, the latest image is already using the latest version of miniconda available at the moment, so that won't help.

You need to contact us via email for that https://docs.readthedocs.io/en/stable/guides/autobuild-docs-for-pull-requests.html

[2020-02-26 14:59] stsewd commented on #6699
Also, you can read https://github.com/readthedocs/readthedocs.org/issues/6710 for more information related to conda, but we can increase the build resources for your project.

[2020-02-26 15:13] sergi-e commented on #6693
@stsewd I haven't tried yet, but right now I can say that the last build made failed right after a pull request merged some documentation: https://readthedocs.org/projects/carla/builds/10508699/

[2020-02-26 15:56] edi9999 opened #6712 "API to get active versions is slow, when injecting the sphinx context"
## Details

* Read the Docs project URL: https://docxtemplater.readthedocs.io/en/latest/goals.html
* Build URL (if applicable): https://readthedocs.org/api/v2/build/10386322.txt
* Read the Docs username (if applicable): edi9999

## Expected Result

I expect the build to succeed (or to fail with a clearer error message)

## Actual Result

The build stopped after 40 seconds, just after doing followi

[2020-02-26 16:02] sergi-e commented on #6693
@stsewd Now I have tried replicating in a clean system, installed mkdocs and the pages look the same to me, but different to the on-line versions.

[2020-02-26 16:03] stsewd commented on #6712
That isn't related, the first command is running a fresh clone, the second command is re-using a repo already on disk.

Also, thanks for the dates, we may have introduced something that makes the db operations slower or maybe we are just under high demand.

Also, I guess between those dates the number of versions of your project didn't increase? If they did, then the problem was just waiting to ha

[2020-02-26 16:11] edi9999 commented on #6712
Yes, there has been one version (new git tag) pushed between the failing and the succeeding build

[2020-02-26 16:14] edi9999 commented on #6712
I have quite a few versions now indeed (146 in total), but I would expect readthedocs to work even with 1000 of versions.

[2020-02-26 16:24] humitos commented on #6400
I don't think we can fulfill the expectations,

Read the Docs does not allow this. One GitHub account is tied to one User account on Read the Docs.

[2020-02-26 23:05] muryanto1 commented on #6627
I got it working. Thank you.
Closing the issue.

[2020-02-26 23:05] #6627 closed

[2020-02-26 23:28] muryanto1 opened #6715 "command killed due to excessive memory consumption"
## Details

* Read the Docs project URL: cdms.readthedocs.io
* Build URL (if applicable): https://readthedocs.org/projects/cdms
* Read the Docs username (if applicable): muryanto1

## Expected Result

read the docs build to pass

## Actual Result

I am getting Command killed due to excessive memory consumption
https://readthedocs.org/projects/cdms/builds/10511267/

Could you kindly update the cond

[2020-02-27 04:40] DominiqueMakowski commented on #6692
@stsewd I tried every combination but it is still throw the same error. How can we try increasing the resources?

[2020-02-27 08:49] st-bender commented on #6710
New is not always better, especially if something like this happens, basically affecting every project that uses conda to build the docs. And I have seen some projects that desperately try to fix their doc builds, not realizing that it's not them but the RTD update that causes the builds to fail. You should have noticed a significant increase in failed builds in your logs on the day and the day af

[2020-02-27 13:29] sergi-e opened #6716 "Discrepancies between offline and online: sidebar index"
## Details

* Read the Docs project URL: https://github.com/carla-simulator/carla
* Build URL (if applicable): https://carla.readthedocs.io/en/latest/
* Read the Docs username: sergi-e

## Expected Result

This is what I see when making my documentation build offline:

![Screenshot from 2020-02-27 14-16-40](https://user-images.githubusercontent.com/59253112/75449343-15300f80-596d-11ea-8301-de1561d

[2020-02-27 15:06] stsewd commented on #6701
@t-book looks like the project was deleted, do you still need to rename the version's slug? The previous step didn't work because the version is already pointing to the same branch/commit.

[2020-02-27 15:16] stsewd commented on #6659
@Daltz333 your latest builds are passing. Anything else we can do?

https://readthedocs.org/projects/frc-docs/builds/

[2020-02-27 15:21] stsewd commented on #6688
@mgasner thanks for the explanation, that makes sense for me. I have enabled your project.

[2020-02-27 15:25] stsewd commented on #6664
@mayou36 I have increased the build resources for your project. The html build is passing now, I'd recommend disabling the formats you don't need (specially `htmlzip`, that's the one that's consumes more memory) https://docs.readthedocs.io/en/stable/guides/build-using-too-many-resources.html#reduce-formats-you-re-building

[2020-02-27 15:25] #6664 closed

[2020-02-27 15:30] stsewd commented on #6647
@quasiben I have increased the build resources for your project, but looks like it's failing for another reason https://readthedocs.org/projects/ucx-py/builds/10515295/

[2020-02-27 15:37] stsewd commented on #6692
@DominiqueMakowski I have increased the build resources for your project, but it's failling for another reason https://readthedocs.org/projects/neurokit2/builds/10515329/

[2020-02-27 15:55] stsewd commented on #6699
@sethaxen I have increased the build time for your project, builds are passing now https://readthedocs.org/projects/e3fp/builds/10515436/

[2020-02-27 15:55] #6699 closed

[2020-02-27 16:53] rgerkin commented on #6691
@humitos That's right, I removed autodoc from the `docs` branch so that it would build (and changed the root from `index.rst` to `contents.rst` which is required later in the build).  I just created a new branch `docs-fail` which retains autodoc, so you can use that to test.  I also just tested `docs` and `docs-fail` again [here](https://readthedocs.org/projects/neuronunit/builds/10515566) and [he

[2020-02-27 17:01] stsewd commented on #6710
We are trying to solve the problem, but in the meantime we can increase the build resources for projects, so they don't get stuck.

We are testing downgrading conda just now. Also, we have been testing a couple of projects with the latest version of conda months before the release, and we didn't see any downside (actually it improved the build time in some projects)

[2020-02-27 18:58] quasiben commented on #6647
Thanks @stsewd . I fixed the additional build issues. Very much appreciate the resource increase

[2020-02-27 18:58] #6647 closed

[2020-02-27 20:09] stsewd commented on #6712
Again, thanks for the dates. I think the problem is https://github.com/readthedocs/readthedocs.org/pull/6602/ (that was released on February 4th https://docs.readthedocs.io/en/stable/changelog.html?#version-3-11-6)

So, our API is taking more than 5 seconds to connect and retrieve the data from the server. Hitting this code

https://github.com/readthedocs/readthedocs.org/blob/2e100541ff5fdda1e0ddd

[2020-02-27 20:13] 4flixt opened #6718 "Custom domain: Only Homepage redirecting"
## Details
We are using a custom domain for our project [do-mpc](https://www.do-mpc.com)
and selected "This Domain is the primary one where the documentation is served from."
As expected [do-mpc.readthedocs.io](https://do-mpc.readthedocs.io) redirects to our
custrom domain homepage.
However, every other page , e.g. [do-mpc.readthedocs.io/en/latest/](https://do-mpc.readthedocs.io/en/latest/) do not

[2020-02-27 20:34] stsewd commented on #6712
Some quick things we can do are:

- Add an option to the api to only return the fields we need (`project` is basically being returned for each version, and it's the same).
- Don't hit that api at all. We inject these versions in the sphinx context and put them in the footer. But online docs use the footer api to get all the versions, so those are replaced.

[2020-02-28 00:24] microprediction commented on #2356
https://colliderfeed.readthedocs.io/en/latest/.  Not showing. Build is fine.

[2020-02-28 00:30] microprediction opened #6720 "Build fine but no docs."
## Details

* Read the Docs project URL: https://colliderfeed.readthedocs.io/en/master/
* Build URL (if applicable):
* Read the Docs username (if applicable):microprediction

## Expected Result

See docs at https://colliderfeed.readthedocs.io/en/master/ after having verified successful build.

## Actual Result

Maze

[2020-02-28 04:09] stsewd commented on #6720
@microprediction your documentation is there, you just happen to missing adding a `index.rst` file.

https://colliderfeed.readthedocs.io/en/latest/configuration.html

You can check our sphinx guide https://docs.readthedocs.io/en/stable/intro/getting-started-with-sphinx.html

[2020-02-28 04:09] #6720 closed

[2020-02-28 10:42] AleG94 opened #6721 "Project domains starting with a number are broken"
## Details
Every project domain starting with a number (eg. 54street) doesn't show the documentation but instead `SORRY This page does not exist yet`.

It even happens for projects that do not exist. For example, look at the different behaviour of this two urls where both projects are not existent:

https://street54.readthedocs.io/en/latest/ (returns `Not Found`)
https://54street.readthedocs.io/en

[2020-02-28 10:45] EDI-N opened #6722 "html content directives"
## Details
Helo, there is the problem with html content creation: I like to add some "container" to RST, for example:
.. container:: idishnicheg
( https://docutils.sourceforge.io/docs/ref/rst/directives.html#container )
and use that directive:
https://wiki.edi-n.com/uk/latest/EDIN_DOCflow/edin_docflow/instruktsia-biznes-administratora.html#idishnicheg
It definatly worked last year...

* Read the D

[2020-02-28 15:02] humitos opened #6724 "Add CORS support on Azurite for docker compose"
Since https://github.com/readthedocs/readthedocs.org/pull/6709 we are pinning an Azurite image with seems it has support for CORS headers.

I've tried this already but CORS was not supported in Azurite at that time:

https://github.com/readthedocs/readthedocs.org/blob/572d3747fba765f17ed40d0678004215f4c3a0ef/dockerfiles/nginx/web.conf#L12-L16

To fix this issue, we need

* run a similar command on

[2020-02-28 16:13] #6716 closed

[2020-02-28 17:43] Daltz333 commented on #6659
Thank you, it works good in the meantime. We are investigating self-hosting as our project gets larger and larger (and we can't split things up and use intersphinx). Thank you for your support.

[2020-02-28 17:43] #6659 closed

[2020-02-28 18:15] humitos commented on #6691
I cloned the repo and try building it locally. I got different errors when running `sphinx-build` around modules not found even after installing the package `neurounit` itself.

I could help you more to debug this issue on RTD once the repository has a branch that I can test by myself.

[2020-02-28 18:58] jack1142 opened #6725 "Build fails because of unrecognized argument passed to virtualenv"
## Details

* Read the Docs project URL: https://readthedocs.org/projects/red-discordbot/
* Build URL (if applicable): https://readthedocs.org/projects/red-discordbot/builds/10523539/
* Read the Docs username (if applicable): jack1142

## Expected Result

Build should be successful.

## Actual Result

Build failed on creating virtualenv step:

[code]

[2020-02-28 19:32] rgerkin commented on #6691
@humitos Do you mean that you want a branch that is guaranteed to work locally for you, and then you can test it on RTD?  It works locally for me, but perhaps not in a clean environment.  I'll make whatever changes are necessary to get it running from a clean environment.

[2020-02-28 19:44] fepegar opened #6727 "Command killed due to excessive memory consumption"
## Details

* Read the Docs project URL: https://torchio.readthedocs.io/
* Build URL (if applicable): https://readthedocs.org/projects/torchio/builds/10523861/
* Read the Docs username (if applicable): `fepegar`

## Expected Result

A successful build.

## Actual Result

The command is killed when trying to install PyTorch:

[code]

I enabled the `Use system packages` option, I thought that would

[2020-02-28 19:50] humitos commented on #6691
I'm basically,

1. clonning the repo
2. switch to `docs-fail` branch
3. creating a virtualenv
4. installing sphinx
5. installing your package (pip install .)
6. running sphinx-build

That fails with issues.

If you can share a detailed list of full commands that need to be executed from a clean environment, I may be able to help on this.

[2020-02-28 21:45] humitos commented on #6718
We have already an issue opened for this at https://github.com/readthedocs/readthedocs.org/issues/3231

I'm closing this one as duplicated, but feel free to reopen if you think it's not.

[2020-02-28 21:45] #6718 closed

[2020-02-28 23:50] gvanrossum commented on #6725
I see this too for mypy (https://github.com/python/mypy/issues/8459)

[2020-02-28 23:56] jack1142 commented on #6725
I forgot to post an update but on our project we only really got it at the build I linked and [one other](https://readthedocs.org/projects/red-discordbot/builds/10523512/) that was ran around same time, it seems like it fixed itself later.

[2020-02-29 00:18] gvanrossum commented on #6725
I still think this requires some fix in readthedocs. [This code](https://github.com/readthedocs/readthedocs.org/blob/master/readthedocs/doc_builder/python_environments.py#L293) passes either `--no-site-packages` or `--system-site-packages`. But (as of now -- I don't know since when) virtualenv doesn't have a `--no-site-packages` flag, so readthedocs shouldn't be passing it.

As to why it sometimes

[2020-02-29 00:29] gvanrossum commented on #6725
Update: this disappeared (without specific mention in the ChangeLog) in virtualenv 20.0.0.

[2020-02-29 01:36] Daltz333 commented on #6659
Unfortunately we are a non-profit with a very small budget, but with a large amount of cloud compute power and bandwidth due to a partnership.

[2020-02-29 03:06] DominiqueMakowski commented on #6692
@stsewd Thanks a lot for your feedback! I have fixed the other reason (https://github.com/neuropsychology/NeuroKit/pull/137), but it's back again with the memory error (https://readthedocs.org/projects/neurokit2/builds/10525593/)

[2020-02-29 07:10] gaborbernat commented on #6725
Hello, you can still find the legacy (v16) documentation here https://virtualenv.pypa.io/en/legacy/reference.html. v20 aimes to be cli compatible with v16 baring some flags that have been deprecated for years now. https://virtualenv.pypa.io/en/legacy/reference.html#cmdoption-no-site-packages is one of this, so we've dropped it during the migration to the new major version. We're sorry if this caus

[2020-02-29 10:49] AleG94 commented on #6721
The #6726 pull request would only solve a part of the issue.

The main issue is that documentation is not shown for existing projects that start with a number. Even if documentation is there and build is successful, it will always show `SORRY This page does not exist yet.`.

Projects not starting with a number are fine instead.

[2020-02-29 14:18] fepegar commented on #6727
Seem to work now.

[2020-02-29 17:50] fepegar commented on #6727
It's actually still happening: https://readthedocs.org/projects/torchio/builds/10527801/

[2020-03-01 05:02] rgerkin commented on #6691
I was able to resolve this.  I'm not 100% sure what the source of the problem was, because I did several things (including reducing the number of warnings, and switching from `autodoc` to `sphinx-apidoc` as you suggested), but I think it was because in one of the modules imported by `autodoc`, there was a system call (using `os.system`) that was not returning control to the build process without u

[2020-03-01 05:02] #6691 closed

[2020-03-01 18:58] humitos commented on #6691
Excellent! This is awesome! From timeout to 85 seconds! :) -- Thanks for sharing the results.

[2020-03-01 22:32] humitos commented on #6725
Hi all! We did a release of our docker image that it's used to build the documentation, to fix another issue on Friday. Since we don't pin `virtualenv` on it, it got updated and we didn't realize that there was a breaking change. I think we rolled back this update, but I will double check this tomorrow with more time (from red-discordbot builds, it seems it's already rolled back because those buil

[2020-03-01 22:36] humitos commented on #6721
@AleG94 do you have an example of that case? what's the project's dashboard URL under Read the Docs? BTW, there is no project with slug `54street` registered under RTD --that project does not exist.

[2020-03-01 22:51] AleG94 commented on #6721
Both `54street` and `street54` are non-existent and were just mentioned to show how even non-existent projects are affected by this issue. To reproduce it, you can create a project with a slug that starts with a number and link it to the doc.

Here is a live example of the same exact RTD settings but on 2 different project slugs:

https://8pay.readthedocs.io/en/latest/ (returns error)
https://eigh

[2020-03-02 06:49] t-book commented on #6701
sorry @stsewd for my late reply. after several tries, we decided to set up a new environment and change the DNS. Doing so the _a naming disappeared. Thanks a lot for your help!

[2020-03-02 06:49] #6701 closed

[2020-03-02 07:23] sethaxen commented on #6699
Thanks, @stsewd!

[2020-03-02 15:15] stsewd commented on #6722
@EDI-N did you try building locally? If you see the same result, it isn't a read the docs problem, but probably a dependency.

[2020-03-02 15:18] stsewd commented on #6716
@sergi-e were you able to find the solution for this?

[2020-03-02 15:25] humitos commented on #6721
@AleG94 thanks for the info, you are right. I will try to debug this issue and see where is the problem.

[2020-03-02 17:40] nsheff commented on #989
You could really be more flexible and support projects that want one but not the other. You already have the capability, there's no reason not to enable all 4 options:

- single-version, single-language    <- current "Single Version" option
- single-version, multi-language    <- can't do it
- multi-version, single-language    <- can't do it.
- multi-version, multi-language    <- current default op

[2020-03-02 19:40] ericholscher commented on #6305
I'm 👍 on the theme change, at least. We talked about this and agree we should revert to the Sphinx original functionality and see if we can tweak it to just be better instead of remove it.

[2020-03-02 19:45] ericholscher commented on #6721
I'm deploying a hotfix that should fix this issue.

[2020-03-02 19:58] #6705 closed

[2020-03-02 20:17] #6721 closed

[2020-03-02 21:10] Aricg commented on #6727
I am seeing this as well.
https://readthedocs.org/projects/onap-doc/builds/10536866/

[2020-03-03 00:10] dhalbert opened #6730 "Build error with build id #10539114 + many more failures"
_All_ of our builds https://readthedocs.org/projects/circuitpython/builds/ having been failing for about four weeks now, though we only noticed today (should have looked harder). I found the "reset build environment button" while looking at some older builds, but clicking that didn't help.

The `circuitpython` project has many subprojects, but those are building OK.

## Details:

* Project URL: ht

[2020-03-03 11:38] EDI-N commented on #6722
So I think container-feature was deprecated and now **for people**:
https://docs.typo3.org/m/typo3/docs-how-to-document/master/en-us/WritingReST/Hyperlinks.html
use this example in text like anchor:
```.. _english-only:```
and call it with:
`...bla-bla-bla.html#english-only`
and
`english-only_` - inside those page

[2020-03-03 11:38] #6722 closed

[2020-03-03 15:54] tswast commented on #6727
I'm also encountering this as package installation time in the protobuf docs. https://readthedocs.org/projects/protobuf/builds/10540150/

[2020-03-03 16:09] pllim opened #6734 "[Feature Request] Please enable PR builder for spacetelescope/reftools"
Thank you!

## Details

* Read the Docs project URL: https://readthedocs.org/projects/reftools/
* Build URL (if applicable): N/A
* Read the Docs username (if applicable): pllim

## Expected Result

PR auto builder to run for a new PR on https://github.com/spacetelescope/reftools/

## Actual Result

It is not yet enabled.

[2020-03-03 17:33] humitos commented on #6734
I enabled it now. Please check out the documentation at https://docs.readthedocs.io/en/stable/guides/autobuild-docs-for-pull-requests.html

[2020-03-03 17:33] #6734 closed

[2020-03-03 17:50] pllim commented on #6734
Thank you!

[2020-03-03 19:26] jedbrown opened #6736 "Please set DONT_SHALLOW_CLONE for libCEED"
## Details

* Read the Docs project URL: https://libceed.readthedocs.org
* Build URL (if applicable): https://readthedocs.org/projects/libceed/builds/10545392/
* Read the Docs username (if applicable): jedbrown

## Expected Result

Full commit list so that `git describe` and `git shortlog -s` yield reliable information.

## Actual Result

Shallow clone.

[2020-03-03 19:34] jedbrown commented on #6736
There might be something else at play. `git log` produces _some_ output while `git shortlog` produces _no_ output. If shallow cloning was the only issue, I'd expect it to produce partial output. See here, for example. https://readthedocs.org/projects/libceed/builds/10545416/
I can't think of a reason why `git shortlog` would produce no output, and haven't been able to reproduce that locally. Do yo

[2020-03-03 20:29] Aricg opened #6737 "Command killed due to excessive memory consumption onap-doc"
## Details

https://readthedocs.org/projects/onap-doc/builds/10544473/
onap-rtd

Hello, we are transitioning from a monolithic docs repo with submodules to per project builds with sub-repos and intersphix linking, ONAP is a gold member. Can we have the memory limit increased for this project?

We are blocked on our transition due to these build failures currently.

[2020-03-03 21:09] ericholscher commented on #6730
This is caused by a timeout of our subprojects API, which you might have guessed. I will get a fix in for this in the next day or two.

[2020-03-04 09:58] cmacmackin opened #6740 "Build fails when trying to build Python extension module"
## Details

* Read the Docs project URL: https://peakingduck.readthedocs.io/en/develop/
* Build URL (if applicable): https://readthedocs.org/projects/peakingduck/builds/10544474/, https://readthedocs.org/projects/peakingduck/builds/10543237/
* Read the Docs username (if applicable): cmacmackin

_Note: all of this is being done on the development branch; the master branch does not yet have any sphi

[2020-03-04 11:18] cmacmackin commented on #6740
I have tried switching over to Conda, as this appeared to work in #3185, but this caused the builder to run out of memory: https://readthedocs.org/projects/peakingduck/builds/10549300/

[2020-03-04 15:48] cmacmackin commented on #6740
After some investigation I discovered that the compiler was using too much RAM. I was able to reduce the amount it used sufficiently by playing with configurations of its internal garbage collector. This was achieved with the flags `--param ggc-min-expand=10 --param ggc-min-heapsize=16384`.

[2020-03-04 15:48] #6740 closed

[2020-03-04 16:52] agjohnson commented on #6455
@siddacious we're going to get this on our short term roadmap, it's a pretty clear bug of our subproject handling. I think we understand what needs to change, but if there is a short term fix that can fix the bug for your projects, we'll see about temporarily putting that in place for your projects.

[2020-03-04 19:04] siddacious commented on #6455
@agjohnson Awesome, great to hear. Thank you!

[2020-03-04 19:33] ericholscher commented on #6730
The fix for this should now be deployed, and we have a working build: https://readthedocs.org/projects/circuitpython/builds/10552282/ -- sorry about this.

[2020-03-04 19:34] ericholscher commented on #6730
Of note, the current workaround is the `subprojects` list in your actual HTML build is empty. We update this via the API in production, so hopefully it shouldn't be an issue.

[2020-03-04 19:38] stsewd commented on #6712
@edi9999 your project should be passing now. We still need to fix the real problem, but your project won't fail now.

https://readthedocs.org/projects/docxtemplater/builds/10552321/

[2020-03-04 21:03] edi9999 commented on #6712
Thanks, I confirm that it works now !

[2020-03-04 21:04] edi9999 commented on #6712
I am reopening since you say that the real problem is still not fixed, feel free to close it as for me all is good.

[2020-03-04 21:19] humitos commented on #6740
Thanks for sharing the workaround!

[2020-03-04 21:22] humitos commented on #6736
I'm not sure to understand the issue. What's the problem that you are experimenting with shallow clone? Both builds you linked are passing without problems.

[2020-03-04 21:28] humitos commented on #6737
I saw you have `htmlzip` in your Read the Docs configuration YAML file. This format consumes _a lot of memory_ I'm not sure you will be able to build it without tweaking your docs (to make them smaller). Do you really need to build that output format? Can you try disabling it and running a build again to know if the build passes? Thanks!

[2020-03-04 21:32] jedbrown commented on #6736
The builds passed, but `git describe` and `git shortlog` do not behave as desired (resulting in empty author information). The behavior of `git describe` makes perfect sense and will be fixed if we can disable shallow clone (it's also easier to work around). I don't understand why `git shortlog` produces no output; I would expect it to produce partial output (from the commits in the shallow clone)

[2020-03-04 21:37] humitos commented on #6736
Where are those commands ran? Read the Docs do not run them.

Anyways, I enabled NO SHALLOW CLONE in your project as you asked for. Feel free to reopen the issue if you consider.

[2020-03-04 21:37] #6736 closed

[2020-03-04 21:39] jedbrown commented on #6736
We're running them to obtain information to be included in our docs. Thanks for the change; we'll give it a try.

[2020-03-04 22:07] humitos opened #6742 "torch, tensorflow and other big packages fail when installing"
We are currently failing all builds installing any of the following packages. They fail at the `pip install` step because OOM.

List of known packages that fail so far:
- pytorch
- torch
- tensorflow
- (another)

Unfortunately, we do no have a workaround currently. Increasing the memory limits has not helped a lot when tried. For now, we suggest you to follow our guide to reduce the resource consu

[2020-03-04 22:07] humitos commented on #6727
Closing in favor of #6742 --please, subscribe there.

[2020-03-04 22:07] #6727 closed

[2020-03-04 22:13] ericholscher commented on #6742
I believe the current plan is to roll out a large memory set of builders behind the `build:large` queue in our backend. Then we will give builds on those builders ~4GB of memory.

[2020-03-04 22:21] duncanmmacleod opened #6743 "Command killed due to excessive memory consumption despite trivial conda environment file"
## Details

* Read the Docs project URL: https://readthedocs.org/projects/ciecplib/
* Build URL (if applicable): https://readthedocs.org/projects/ciecplib/builds/10553221/
* Read the Docs username (if applicable): duncanmmacleod

## Expected Result

The build to pass

## Actual Result

[code]

I have reduced the conda environment file to just this:

[code]

and it still dies instantly. Any help is

[2020-03-04 22:24] tannewt commented on #6730
Thanks @ericholscher ! Totally fine that the subproject list is empty. Each repo has links directly to the subproject anyway.

[2020-03-05 01:23] KengoTODA opened #6744 "Hope that the response body format from public API will be consistent"
Thanks for hacking such a useful product! 👏

Especially the public API is awesome for who's motivated to automate workflow.
With help from your public API v3, [I successfully replaced puppeteer](https://github.com/KengoTODA/rtd-bot/pull/400) that makes my bot really fat and unstable.

Here I have a request for future development (API v4?), I hope it helps your hack and your community.

----

Curre

[2020-03-05 01:30] KengoTODA opened #6745 "Hope that Translates API returns language code of each project"
Thanks for hacking such a useful product! 👏

Especially the public API is awesome for who's motivated to automate workflow.
With help from your public API v3, [I successfully replaced puppeteer](https://github.com/KengoTODA/rtd-bot/pull/400) that makes my bot really fat and unstable.

Here I have a request for future development (API v4?), I hope it helps your hack and your community.

----

I hav

[2020-03-05 01:33] KengoTODA opened #6746 "Do I need to escape slugs and branches to invoke API?"
Thanks for hacking such a useful product! 👏

Especially the public API is awesome for who's motivated to automate workflow.
With help from your public API v3, [I successfully replaced puppeteer](https://github.com/KengoTODA/rtd-bot/pull/400) that makes my bot really fat and unstable.

Here I have a request for future development (API v4?), I hope it helps your hack and your community.

----

In my