[2018-02-22 08:29] dfranco commented on #3642
Hi @stsewd
You're right, the tag (v7.4.0) doesn't contain the docs/source folder yet.
I need to recreate this tag at the right commit.
Thanks for your help

[2018-02-22 08:29] #3642 closed

[2018-02-22 08:41] ajantiss commented on #2757
Ok sorry, I think it has been fixed, or I made something wrong at that time, I confirm @humitos that works perfectly fine after creating branch with such name !

You can close this ticket, it became irrelevant

[2018-02-22 08:41] #2757 closed

[2018-02-22 15:22] humitos commented on #2757
Thanks for the update @ajantiss. Glad it worked!

[2018-02-22 15:58] nkwate-kazim opened #3651 "Customize Django Admin for Title"
IMO, it would be better to removing the Django branding on the admin backend and also from the site title, replacing them with ReadTheDocs branding. If the community see it as a good idea, I can actually make a PR on that :laughing:

[2018-02-22 17:25] shubham76 commented on #3554
Hey @agjohnson @RichardLitt! Something like this is expected? I tried doing the first four on the list. I did not understand the last one. I would really like to work on it though.

![tests-demo _ read the docs](https://user-images.githubusercontent.com/14057588/36553605-c9771dfa-1822-11e8-8657-5427e091375e.png)

This is my first contribution to the project. I would really like to work on my mista

[2018-02-22 17:48] agjohnson commented on #3644
@stsewd i get the same results as you once i click on the build, but the build list page is where i see a failure.

![image](https://user-images.githubusercontent.com/1140183/36554941-defc2234-17bd-11e8-81ac-65e2c4a99eba.png)

Another clue: I can reproduce on first build of the project, not afterwards though.

[2018-02-22 17:58] humitos opened #3652 "Tip message on build page"
I just saw this when building a project's doc in my local instance.

![captura de pantalla_2018-02-22_12-55-46](https://user-images.githubusercontent.com/244656/36555397-e1952e3e-17cf-11e8-89e4-6997f5242d4c.png)

As far as I remember this tip should only be shown if the build has failed and the last command's output contains the `setup.py` word on it but now is shown even before the build has ende

[2018-02-22 23:08] agjohnson opened #3655 "AttributeError: 'SyncRepositoryTask' object has no attribute '_log'"
https://sentry.io/read-the-docs/readthedocs-org/issues/471122664/

[code]

[2018-02-22 23:25] RichardLitt commented on #3554
Thanks @shubham76! @agjohnson - what do you think?

[2018-02-23 00:01] Adul-Denature opened #3658 "Obat Sipilis Herbal Merk De Nature Resep Dokter"
Obat Sipilis Herbal Terbuat dari bahan herbal alami yang aman dan ampuh mengobati penyakit infeksi menular seksual
http://obatsipilisherbal.jigsy.com/
https://medium.com/@obatsipilisbpom
https://www.inspirasi.co/obatsipilisherbal
https://storify.com/infoobatsipilis
https://www.linkedin.com/in/sipilis-de-nature-ba5566159/
https://irmadenature.deviantart.com/
https://obatsipilisbpom.jimdo.com/
http:

[2018-02-23 00:17] humitos opened #3659 "Remove the 'bookmarks' app completely"
There is a django app `bookmarks` that can be completely removed since it's not used at all: https://github.com/rtfd/readthedocs.org/tree/e9d0d2ff5b70e1c0b58be512a6cf10e7c11930b3/readthedocs/bookmarks

[2018-02-23 00:19] humitos commented on #2173
This feature won't be available anymore and will be completely removed on #3659.

Please, reopen if you consider.

[2018-02-23 00:19] #2173 closed

[2018-02-23 02:02] #3658 closed

[2018-02-23 02:13] BenCook28 opened #3660 "Unable to Set Pin Through Either Mac Bridge or Chrome Extension, Bootloader Mode"
My Trezor only says "Welcome! Please visit trezor.io/start."  I did that, and the Trezor screen doesn't change even though I have both the Chrome Extension and desktop Bridge for Mac.  I'm connecting to a Macbook pro through a USB-C to USB adaptor.  I searched through Trezor's docs and Reddit and Github and an internet search and a Crypto Currency publication I subscribe to and haven't yet resolve

[2018-02-23 02:23] BenCook28 commented on #3660
Never mind, I had to install firmware first.  I finally noticed it on the, on a tab with the title TREZOR Wallet, but unfortunately I forget exactly where.

[2018-02-23 02:23] #3660 closed

[2018-02-23 02:37] stsewd commented on #3644
@humitos I think the problem is with a project without tags.

If I ran this command on a project without tags, the exit code is `1` (here the build is marked as failure).

![error](https://user-images.githubusercontent.com/4975310/36575270-1cf18bba-1818-11e8-9223-d0071a383827.png)

Then on another step the exit code is forced to be 0 (here is when the build goes back to the normality)

[2018-02-23 03:11] stsewd commented on #3220
I think the json build is to power the search. The `singlehtmlocalmedia` is to downloading the docs for reading offline, so I think this feature must not be removed.

[2018-02-23 03:14] edmorley commented on #3220
The download docs feature is not something we need, so would be fine with disabling that if disabling this build type on a project.

[2018-02-23 03:18] stsewd commented on #3220
But probably your users need it, or your project is very specific to work only online? Or this is for internal usage, perhaps?

[2018-02-23 03:24] edmorley commented on #3220
To me, the download docs feature is very niche, and not something I have ever used once on any read the docs project (both my own and those of packages I use). In particular, for certain projects it doesn't make sense. eg to use our project's "get a development environment set up" or "how to run data ingestion locally" guides, you need an internet connection for Virtualbox/Vagrant download, VM pro

[2018-02-23 11:13] MissSheyni opened #3662 "+989031964735"
## Details

* Project URL:
* Build URL (if applicable):
* Read the Docs username (if applicable):

## Expected Result

*A description of what you wanted to happen*

## Actual Result

*A description of what actually happened*

[2018-02-23 14:06] #3662 closed

[2018-02-23 14:16] RichardLitt commented on #3660
Thanks for logging and self-updating us, @BenCook28! Glad you got it working.

[2018-02-23 16:20] humitos commented on #3220
How does this affect you? I mean, is there any particular reason for what you want to remove/disable this feature?

I think we need to understand a bit more the situation, otherwise it will probably be marked as `wontfix`.

[2018-02-23 16:28] edmorley commented on #3220
Hmm trying to remember back I think it was because a few months ago we were seeing quite a few RTD automated build failures, some of which were due to concurrent builds racing with each other (eg #2901), so it seemed sensible to try and cut out as many unneeded parts of the build as possible, to reduce chance of overlap. (Plus as an added bonus, to consume fewer RTD resources)

However I understan

[2018-02-23 17:28] humitos opened #3664 "Upgrade django-pagination"
We are using a fork of the unmaintained `django-pagination` (https://github.com/zyga/django-pagination).

On the other hand, I found that there is another fork that maybe is more maintained at https://github.com/pydanny/dj-pagination

I opened an issue that the 3dparty repository at https://github.com/zyga/django-pagination/issues/42

Ref #2435

[2018-02-23 17:36] agjohnson opened #3665 "Clean up logging in project tasks"
Some of the classes are using a `_log` method that mangles the original caller for logging. These should call `log.info` directly.

[2018-02-23 17:37] #3655 closed

[2018-02-23 17:48] agjohnson commented on #3644
Another clue: if I build the same project, the second build doesn't initially show the build as failing in the build list, but if I quickly select the build, it's in a failed state by the end of the VCS commands:

![image](https://user-images.githubusercontent.com/1140183/36608417-01c1d074-1887-11e8-965d-b5b2006aafd8.png)

This also causes the page to stop loading the build commands from the API,

[2018-02-23 18:23] posita opened #3668 "Initially use virtualenv is checked, but is not functioning"
UPDATE 1: Okay, I think I know what's happening now. The setting "Install your project inside a virtualenv using `setup.py install`" was initially checked in the Advanced Settings UI, but was not honored. I had to uncheck it, save the settings, recheck it, and then save the settings again for that setting to take effect.

UPDATE 2: It looks like the [default value in the model is `False`](https://

[2018-02-23 18:31] posita commented on #3668
I tried unchecking the virtualenv setting for `django-emojiwatch`, saving the settings, starting a build, then checking it again, saving the settings again, and starting [another build](https://readthedocs.org/projects/django-emojiwatch/builds/6794774/), which seems to have fixed my issue. For some reason the box was checked initially, even though that setting wasn't honored.

[2018-02-23 18:41] jonathansberry opened #3669 "Webhook notifications URL size"
## Details
* Page URL: https://readthedocs.org/dashboard/meerkat-hermes/notifications/
* Username: jonathansberry
* Project: meerkat_hermes

## Expected result:
I want to setup a webhook notification to our software when a readthedocs build fails. I have a url which should do the trick.  When I visit it with a simple GET request in a browser the notification works perfectly. I want to submit the U

[2018-02-23 19:22] stsewd commented on #3669
I can't reproduce this on my local instance, but I checked on the .org site and indeed I can see the error page (500 error). Looking the docs for Charfield (also used by UrlField), there isn't a max length, perhaps this is setting up in production? @humitos can you confirm this?

[2018-02-23 19:27] stsewd opened #3670 "Documentation for build notifications using webhooks"
Right now there is only docs for build notifications using an email address. I think we could add an example here https://docs.readthedocs.io/en/latest/guides/build-notifications.html

It should contain the steps for adding the webhook and what parameters are sent.

[2018-02-23 19:41] stsewd commented on #2891
Maybe this was addressed on https://github.com/rtfd/readthedocs.org/pull/3650?

[2018-02-23 20:04] humitos commented on #2891
No. That issue is related to this one but doesn't close it.

There are many errors reported to Sentry that don't need attention at all but they are there anyway

[2018-02-24 05:29] shubham76 commented on #3554
I created this PR #3673. Please have a look.

[2018-02-24 09:58] bansalnitish commented on #3539
Hi @humitos, May I work on this!

[2018-02-24 12:04] RichardLitt commented on #3539
@bansalnitish It doesn't look like @humitos has opened a PR for this; he's only specified a need for it. I'd say go ahead! :)

[2018-02-24 12:07] bansalnitish commented on #3539
Thanks @RichardLitt!

[2018-02-24 16:58] madskinner commented on #3359
Sorry for the delay in responding they seem to have solved themselves, finger trouble at my end I guess.

[2018-02-24 16:58] #3359 closed

[2018-02-24 16:59] #3276 closed

[2018-02-24 18:22] pydanny commented on #3664
We use dj-pagination on a single project, but I have to admit it has a few glitches.

[2018-02-24 18:25] pydanny opened #3674 "Dashboard filtering of projects needs your own name"
## Details

* Project URL: https://readthedocs.org/dashboard/import/?
* Build URL (if applicable):
* Read the Docs username (if applicable): pydanny

## Expected Result

I want to be able to select my name as a filter and only see the 200-odd packages I list on Github.

## Actual Result

Because I cannot filter by my own name, I have to paginate through the entire 4000+ packages of conda-forge. Th

[2018-02-24 21:40] stsewd commented on #3674
There is already a PR on progress for this feature https://github.com/rtfd/readthedocs.org/pull/3548

[2018-02-24 21:52] stsewd opened #3675 "Put RTD logo on GitHub OAuth App"
The default logo is shown when confirming the app and also on the list of authorized apps.

On GitLab and Bitbucket the logo isn't shown (at least when confirming)

RTD vs other app on GitHub's apps panel

![screenshot-2018-2-24 build software better together](https://user-images.githubusercontent.com/4975310/36635459-0520f7e8-1983-11e8-94cf-0891834659cb.png)

[2018-02-25 01:16] stsewd commented on #1690
Hi, I wasn't able to reproduce this on my local instance or on the .org site. Is this still an issue for you?

[2018-02-25 01:56] aasis21 commented on #3610
Hello @humitos @stsewd, I would like to work on this issue. I have added autofill for  "Default version"  and "Default branch" form field.  But having some doubt in general. Does all configuration files need to be shown and for which branch of the project?  Furthermore, for "Default version", do we need to show `version.slug` or `version.verbose_name` ?  I have opened a basic PR regarding this, pl

[2018-02-25 02:41] stsewd commented on #2813
I'm solving this issue on the rtd-build repo https://github.com/rtfd/readthedocs-build/pull/38

[2018-02-25 05:04] kritisingh1 commented on #3675
Hi @stsewd can I take this up? Thanks!

[2018-02-25 05:11] stsewd commented on #3675
@kritisingh1 thanks for your interest on contributing! But this issue can only be solved by people with access to the rtd app.

[2018-02-25 05:13] kritisingh1 commented on #3675
Cool! No worries. I'll have a look at other issues. Thanks :)

[2018-02-25 18:34] bansalnitish commented on #3539
Hi @humitos, Can you please help me in reproducing this issue!

[2018-02-25 20:27] kchawla-pi commented on #3665
I would like to start on this. Any suggestions about where I should start, or anything I should know before I do?

[2018-02-25 20:29] kchawla-pi commented on #3665
Seems PR #3677 fixes this. Does it?

[2018-02-25 20:34] stsewd commented on #3665
@kchawla-pi yes, someone is already working on this issue.

[2018-02-26 00:44] humitos commented on #3539
@bansalnitish hey! What you need?

The idea is to add a link in the build page (showed when it fails) that opens an issue in this Github project.

(there is a link to the GH docs to generate that link in the description)

[2018-02-26 01:08] humitos commented on #3664
@pydanny thanks for your comment.

We don't use it in a heavy way, there are just a couple of pages that list

* the buils
* the projects
* search results (I think)

So, we won't probably be bitten for those glitches at this point and I think that the current version is more compatible with Py3 that the one that we have pinned at a specific commit.

(another option is to consider refactor this cod

[2018-02-26 01:16] humitos commented on #3669
@stsewd yeah, the same here.

The `max_lenght` by default is 200 (https://docs.djangoproject.com/en/2.0/_modules/django/db/models/fields/#URLField)

So, it should fail when validation the URL. Which is not doing for some reason at https://github.com/rtfd/readthedocs.org/blob/0e1112f96e3ba344271a44305028a811072fd10a/readthedocs/projects/forms.py#L485-L488

In production (PostgreSQL) it fails with t

[2018-02-26 01:50] humitos commented on #3220
Thanks for your update.

I'd say that is something that it's "a service" from Read the Docs and we shouldn't provide an option to disable it (if we think about the usage of resources).

On the other hand, if we found that this could be a problem as you mention (linked to another issue) we should take a look and see how this affects that.

[2018-02-26 03:55] pydanny commented on #3674
Thanks @stsewd.

I quit Conda-Forge so as to be able to not have their 4000+ projects listed along with mine. However, those repos are cached against my account so in RTD there is no change. Is there any chance that cache can be reset for just me?

Thanks for all your awesome effort!

[2018-02-26 04:53] Chirath02 commented on #3669
Hi @humitos I am new here, can I work on this issue?

From your description, I understood that the there the URL length is to increased(maybe 600 characters?) and there should be a form validation error if it goes beyond that.

[2018-02-26 05:26] Jigar3 commented on #3611
@stsewd How should I go about validating if the specified files are present or not?
Where and how should I check?
I am a litte confused. Can you help?

[2018-02-26 11:16] vmalloc opened #3678 "RTD build does not install dependencies properly"
The build mentioned below performs `python setup.py install`, but I can't see any of the dependencies being installed in the log. It ends up failing on a missing module which was not installed properly...

This seems to block all current builds of the project

## Details

* Project URL: http://slash.readthedocs.io
* Build URL (if applicable): https://readthedocs.org/projects/slash/builds/6804415/

[2018-02-26 11:26] bansalnitish commented on #3539
I got it @humitos, Thanks! I will be soon submitting a PR for the same!

[2018-02-26 13:54] sda399 opened #3679 ":ref: target not highlighted in navigation bar"
## Details

- inside a section
- create a label on a subsection A and link to it with :ref:, from another subsection B

## Expected Result

navigation bar highlights the the target subsection B

## Actual Result

navigation bar highlights the the source subsection A, where the :ref: in called

ref documentation:
http://www.sphinx-doc.org/en/master/markup/inline.html#role-ref

[2018-02-26 15:44] agjohnson commented on #3190
Yup! No one resolved this issue with an attached PR. Closing this.

[2018-02-26 15:44] #3190 closed

[2018-02-26 16:16] pydanny commented on #3664
Well, if you find any glitches with `dj-pagination`, let me know by mentioning `RTD` or `RTFD` in the issue. I'll move fixing them to the top of my priority queue.

It's the least I can do for you in return for all the awesomeness RTD provides to the universe.

[2018-02-26 16:30] pydanny commented on #3668
`Initially use virtualenv is checked, but it's a lie` is an abusive title for an issue. It's assuming the bug you encountered was intentional, which it was not. There's no way the RTD team would do anything intentional to make your day less pleasant.

A better title would be something on the lines of `Initially use virtualenv is checked, but is not functioning`.

[2018-02-26 17:34] agjohnson opened #3682 "Upgrade django-textclassifier"
We are currently using an older version of this package. This old version uses a central classifier file that is shared across all fields that use this validation. The file is also difficult to update, so we haven't been updating this.

The new version makes several changes:

* Moves classifier seed to database backed
* Each field has it's own classifier seeding, not shared anymore
* Replaces text

[2018-02-26 18:17] bansalnitish commented on #3639
@agjohnson I would like to work on this!

[2018-02-26 18:18] bansalnitish commented on #3652
@humitos I would like to work on this!

[2018-02-26 18:26] humitos commented on #3652
@bansalnitish nice! Let us know if you need something else to start working on it :)

[2018-02-26 18:26] stsewd commented on #3652
@bansalnitish I strongly believe this is because #3644 (that issue is already assigned to @humitos)

[2018-02-26 18:32] bansalnitish commented on #3652
Thank you @humitos @stsewd. Yes, I agree with you that this might be linked to #3644. I will find another issue to work on!

[2018-02-26 18:50] stsewd commented on #3674
@pydanny I don't have access to the database, maybe @humitos could help here.

This is also related to #1887

[2018-02-26 18:55] humitos commented on #3674
Mjm... I'd say that this is a bug. Currently the `sync` method for each service is only adding new repositories, but they are never deleted. So, it's not a _real sync_ :)

The code for Github service is at: https://github.com/rtfd/readthedocs.org/blob/0e1112f96e3ba344271a44305028a811072fd10a/readthedocs/oauth/services/github.py#L38-L48

Thought, I think this issue is different that the one that yo

[2018-02-26 18:56] stsewd commented on #3611
@Jigar3 This setting is for all the project, no per versions, so I think is better to validate with the files on the default branch. You can add this validation on https://github.com/rtfd/readthedocs.org/blob/0e1112f96e3ba344271a44305028a811072fd10a/readthedocs/projects/forms.py#L179

[2018-02-26 19:03] stsewd commented on #3679
Could you provide more information? (rtd project page, build url, etc). Otherwise this seems to me like a sphinx problem no rtd. Thanks!

[2018-02-26 19:11] stsewd commented on #3678
I can't see the build url, but I see your latest build https://readthedocs.org/projects/slash/builds/6804398/ and it's failing because you don't have that file on that version https://github.com/getslash/slash/tree/8943721bd25c0d98e2f2884510cbe908e86d03f5/doc

[2018-02-26 19:19] stsewd commented on #3668
When you click on submit, all the info on the form is saved. I think this issue is mostly to a corrupted environment or a previous build queued.

Please let us know if you have this problem again!

[2018-02-26 19:57] agjohnson opened #3684 "Add admin functions for wiping a version from web instances"
This is exposed to project owners, but an admin function here would be really helpful for debugging purposes. The existing view for wiping versions will likely need to be broken out to a reusable view for the admin function.

[2018-02-26 20:42] vmalloc commented on #3678
It was on a side branch. I pushed it to `develop` now to demonstrate -- the file now exists, yet the package itself being documented, for some reason, gets installed without its dependencies: http://readthedocs.org/projects/slash/builds/6807475/

As you can see in the build above, it runs `python setup.py install --force`, but no dependency appears in the output. The build fails on the missing dep

[2018-02-26 20:52] stsewd commented on #3678
@vmalloc that's because indeed that package is never installed https://github.com/getslash/slash/blob/4d502d6b40d36dec4ad564fcab962267e0f12125/setup.py

You need to specify the requirements on the `setup.py` script or referencing the `requirements.txt` file  from your root project on the `pip_requirements.txt` file from your `/docs` directory. Something like this:

[code]

But I recommend to put y

[2018-02-27 01:04] aasis21 commented on #3684
@agjohnson, I would like to work on this issue. Could use please elaborate it little more.

[2018-02-27 01:58] stsewd commented on #1534
Is this issue still relevant? I'm not sure of what lines we could remove since it just:

- Pass the source prefix to the context
- Set the rtd theme when there isn't one or when the default is given
- Add the rtd static path

If I understand correctly the html_context is used by the themes.
https://github.com/rtfd/readthedocs.org/blob/master/readthedocs/doc_builder/templates/doc_builder/conf.py.tm

[2018-02-27 04:46] vmalloc commented on #3678
The project uses `pbr`, and thus has its requirements in `requirements.txt`. It works correctly when installed with `pip` and also when using `python setup.py develop`. I'll investigate further - it's possible it's a pbr bug....

[2018-02-27 04:52] vmalloc commented on #3678
BTW - `pbr` was introduced in that project on April 2017... It has worked well since then across many releases - so I'm guessing something broke in RTD's environment very recently that caused this...

[2018-02-27 05:44] Chirath02 opened #3688 "Add cancel button to the admin delete project page"
## Details

* Project URL: http://localhost:8000/dashboard/project-name/delete/

## Expected Result
![screenshot_20180227_110252](https://user-images.githubusercontent.com/9161520/36712493-16b79a88-1baf-11e8-875e-6545e9fceeef.png)

Cancel button along with the Delete forever button.

## Actual Result

![screenshot_20180227_111038](https://user-images.githubusercontent.com/9161520/36712498-1cc42e00

[2018-02-27 05:45] Chirath02 commented on #3688
I got this working, but can someone help me with where I should include the CSS for this page?

[2018-02-27 05:46] stsewd commented on #3678
@vmalloc I don't know about `pbr`, sorry. But I can see that your requirements file is different

https://github.com/getslash/slash/blob/4d502d6b40d36dec4ad564fcab962267e0f12125/doc/pip_requirements.txt

https://github.com/getslash/slash/blob/a14d7ab412e197e44dde5537fe93a478a9d7abe3/doc/pip_requirements.txt

[2018-02-27 06:49] vmalloc commented on #3678
Reported to pbr as https://bugs.launchpad.net/pbr/+bug/1751997

[2018-02-27 06:50] vmalloc commented on #3678
Oh you're right - the old version explicitly installed the project via `-e .`...

Sorry - my bad. The pbr bug is real though, but unrelated to RTD. Thanks a lot!

[2018-02-27 06:50] #3678 closed

[2018-02-27 07:19] #3627 closed

[2018-02-27 07:31] agjohnson opened #3689 "Remove project description field"
I think we have good reason to just remove the description field. The dashboard page is public, but is not a reader focused page. This is extraneous UI for a maintainer dashboard page.

Having said that, we should evaluate what pulling this out looks like -- specifically:

* Can we simplify the import forms more by removing the description field?
* Does it make more sense to remove from modeling a

[2018-02-27 07:55] agjohnson opened #3691 "Our build system is broken"
Because of the flight from Bower, several of our dependencies are no longer found in the bower repository. We need to either install these build dependencies from npm and hope that our build system can take these new pieces without much work, or just blow up everything and move on to webpack + npm ahead of schedule. I have a mostly working solution, I'll continue wrapping up this work for now.

Cu

[2018-02-27 08:00] agjohnson commented on #3554
I'll raise my thoughts in the attached PR.

[2018-02-27 11:40] mxbi commented on #3411
Had the same error today. Worked on the third attempt just rerunning `make.bat html`, without wiping anything. Sphinx v1.5.6

[2018-02-27 12:26] DominikaK commented on #3691
Is this the issue that broke the builds on readthedocs.com as well? Should that one be reported separately?

[2018-02-27 13:22] tnir commented on #328
FYI: Wildcard support by LE delay: https://community.letsencrypt.org/t/acmev2-and-wildcard-launch-delay/53654

[2018-02-27 14:16] axnsan12 commented on #3411
@mxbi @glyg's fix was [merged into sphinx 1.6.6](https://github.com/sphinx-doc/sphinx/commit/5e4806a764ded263060afbbde70beced80867a22). You should update your Sphinx.

[2018-02-27 14:23] bansalnitish commented on #3434
Hi @humitos, may I take this up!

[2018-02-27 14:24] bansalnitish commented on #3426
@kchawla-pi Are you still working on this. If you are not may I take this up?

[2018-02-27 14:50] philrz opened #3692 "Build failure"
## Details

* Project URL: https://github.com/draios/python-sdc-client
* Build URL (if applicable): https://readthedocs.org/projects/python-sdc-client/builds/6812055/
* Read the Docs username (if applicable): philrz

## Expected Result

One of our builds failed recently and the failure didn't make sense to me, so I took its advice and clicked the button to have it reset the build environment, expe

[2018-02-27 14:53] justb4 commented on #3692
Same here, first build triggered via GitHub, then manually, output below, as per request reporting:

![image](https://user-images.githubusercontent.com/582630/36735335-39521100-1bd6-11e8-89ab-baaacc171760.png)

[2018-02-27 15:06] humitos commented on #3434
I think I misunderstood the solution here. @Blendify said to add `-` and `+` to the tags, but that syntax is Jinja and we are using Django templates. So, not sure what's the proposed solution on this one.

I think he is the right person to help you on this one.

[2018-02-27 15:07] Blendify commented on #3434
Go for it

On Tue, Feb 27, 2018 at 9:23 AM, Nitish Bansal <notifications@github.com>
wrote:

--
Aaron Carlisle

Picture taker | Bit cruncher | Pixel pusher | Document writer |
Project administrator for the Blender 3D Documentation Project

[2018-02-27 15:08] Blendify commented on #3434
Oh, not sure on Django, I will need to see if they use the same format.

On Tue, Feb 27, 2018 at 10:06 AM, Manuel Kaufmann <notifications@github.com>
wrote:

--
Aaron Carlisle

Picture taker | Bit cruncher | Pixel pusher | Document writer |
Project administrator for the Blender 3D Documentation Project

[2018-02-27 15:53] kchawla-pi commented on #3426
@bansalnitish I am.

[2018-02-27 16:03] ajatprabha commented on #3684
Hi @agjohnson, I'm new here! This enhancement is not completely clear to me, so I wanted to ask a few things:
1. Are you talking about a ModelAdmin action here by `admin function` or something different from out-of-the-box Django admin actions?
2. If yes, is it about adding the action to `readthedocs.builds.admin.BuildAdmin` or to `readthedocs.projects.admin.ProjectAdmin` (more likely I believe)?

[2018-02-27 16:39] stsewd commented on #3426
@kchawla-pi could you update the PR description with "Closes #3426"? so GitHub will link this issue and others can see that you are already working on this :)

[2018-02-27 16:45] stsewd commented on #3434
@Blendify I time ago I was looking for something similar, I didn't find it (are some solutions, but is too hacky or change too much the template), that's why I ended putting this in one line https://github.com/rtfd/readthedocs.org/pull/3585/files#diff-5b005b96cd9cbaa4d9fd9549faf0cfabR7

[2018-02-27 16:47] stsewd commented on #3692
@philrz  Could you try building again? Probably a temporal issue on the servers.

@justb4 can you provide the build url?

[2018-02-27 16:54] justb4 commented on #3692
Triggering now: http://readthedocs.org/projects/stetl/builds/6812961/

[2018-02-27 17:03] davidfischer commented on #3689
41% of our projects have a description. More than I thought! Among our featured projects on the homepage roughly half of them had a description and most of those were one-liners.

    In [2]: Project.objects.all().count()
    Out[2]: 80360

    In [3]: Project.objects.exclude(description=None).exclude(description='').count()
    Out[3]: 33073

The dashboard looks fine without the description I'd s

[2018-02-27 17:04] kchawla-pi commented on #3426
Thanks @stsewd . I will remember to do this in future contributions.
I have updated the pull request heading, though it is not getting hyperlinked.

[2018-02-27 17:37] stsewd commented on #3426
@kchawla-pi  you only need to update the PR description, no the tittle :)

[2018-02-27 17:53] humitos opened #3694 "Adding a Maintainer is shown as a Owner"
1. Go to your project's Admin page
1. Go to Mainteiners
1. Add a new mainteiner
1. Go to your project's detail page

The mainteiner is shown under a **Owners** title.

![captura de pantalla_2018-02-27_12-51-46](https://user-images.githubusercontent.com/244656/36745276-fe00626e-1bbc-11e8-8054-aa9e854bd3d1.png)

I think we should use the same word for this, either _Mainteiners_ or _Owners_ but not b

[2018-02-27 18:12] ajatprabha commented on #3694
Hi @humitos, I would like to implement this. Since I'm new here, can you please tell me the next step towards the process.

[2018-02-27 18:22] stsewd commented on #3694
This was a question I had the other day, if rtd differences between the main owner (who created the project) and others owners.

[2018-02-27 18:44] humitos commented on #3689
I'm :+1: on removing the description also.

I suppose that not too many people read it.

Although, I maybe we could support (in the future) a setting in the YAML file, something like:

[code]

and

[code]

Anyway, using the YAML or "just sourcing by default" will require a decision regarding what branch use for this (I suppose it could be `default_branch`).

On the other hand, having a configurabl

[2018-02-27 19:07] davidfischer commented on #3568
I'm going to close this as it doesn't appear to be a RTD issue.

[2018-02-27 19:07] #3568 closed

[2018-02-27 19:16] philrz commented on #3692
@stsewd: Yes, my build does complete now. Thanks for that.

Not sure if it's related, but hoping you could look at one other thing that's currently holding me up. For some reason, my docs build for `latest` seems to be consistently pointing at a branch called `teams-api`.

![image](https://user-images.githubusercontent.com/5934157/36749295-311155a4-1baf-11e8-8ef3-7d3215d79115.png)

The doc at http

[2018-02-27 19:23] Tareque16 commented on #3296
Where is this advance settings for :
![33148218-fb06aec6-cf98-11e7-945a-97d1a95cc114](https://user-images.githubusercontent.com/16764227/36749770-f02e518c-1c25-11e8-9990-b80472cf41ab.png)

[2018-02-27 19:25] ajatprabha commented on #3694
Hey @stsewd, from what I've inspected in the `Project` model, RTD doesn't differentiate between owner and maintainers. A user(maintainer/owner) can remove another user.
If A is an owner and B is a maintainer, B can remove A, because of `users` attribute (ManyToMany relation with `User` model) and logic implemented.

@humitos, I believe that's why you've considered this a UI enhancement and not a m

[2018-02-27 19:56] stsewd commented on #3296
@Tareque16  go to the admin panel of your project, and then to advanced settings.

[2018-02-27 19:59] stsewd commented on #3692
@philrz the _default branch_ is the one from your rtd project, no the one from GitHub, you can change that on Advanced settings of the admin panel of your project.

[2018-02-27 20:42] davidfischer commented on #3682
This looks pretty good to me. I did have a few notes:

* Unless I'm mistaken, it looks like the training data is loaded out of the DB each time we classify anything (https://github.com/agjohnson/django-textclassifier/blob/37bbd39/textclassifier/classifier.py#L61). Is there a lot of it? Will there be performance issues with that?
* Is the idea behind keeping the training data in the database to not

[2018-02-27 20:45] humitos commented on #3682
I've reading the source code and I liked it. I proposed three very simple PR.

One thing I would like to take a look is the migration of the data we already collected in the backend we are using currently. Otherwise, we will start from scratch.

In case we can't migrate the data we have now, I'd suggest to do a simple script that reads our current database and does some dumb test (`project.name.le

[2018-02-27 20:52] humitos commented on #3682
I think this should be used in the `project.name` field instead. In fact, I don't know why we are using it in the `description` field if the spammer can create a project without filling the description at all :)

[2018-02-27 21:19] humitos commented on #3682
I'm not sure that we have to worry about this... yet. I did a simple test with 10000 elements on a list with each item a random number of :

[code]

If the `json.loads` is what you were thinking. Regarding the `fit_transform` and the `fit` method; they maybe could be refactored to not loop twice over the same list. Also, both list could be a `set()` instead of a simple list --but I'm not sure that

[2018-02-27 21:24] philrz commented on #3692
Thanks @stsewd... my bad. I'm all set. Closing this issue.

[2018-02-27 21:24] #3692 closed

[2018-02-27 22:21] bansalnitish commented on #3434
@Blendify  @stsewd I searched for this, can we use the [spaceless](https://docs.djangoproject.com/en/dev/ref/templates/builtins/?from=olddocs#spaceless) tag or define a custom one like this: https://gist.github.com/jimmydo/842713.
Shall I give this a try?

[2018-02-27 22:31] bansalnitish commented on #3382
Hi @stsewd, I would like to work on this! Can you please get me started!

[2018-02-27 23:20] davidfischer commented on #3628
That URL is operated by New Relic, an error reporting provider. They appear to have updated their certificate. Shall I go ahead and close this?

[2018-02-28 00:11] stsewd commented on #3434
@bansalnitish this is what the documentation says about spaceless (I tried that tag, but still it didn't help too much)

And I'm not sure about that gist.

[2018-02-28 00:48] humitos commented on #3694
Yes. I'm talking about the UI (not the behind the scenes and django modeling).

[2018-02-28 04:14] ajatprabha commented on #3694
Should it be called owner or maintainer? In my opinion, maintainer is a better choice.

[2018-02-28 05:06] ericholscher commented on #3434
Not sure if this is worth focusing on currently. There is a lot of other cleanup that I would prioritize more than cleaning up HTML whitespace :)

[2018-02-28 05:28] ericholscher commented on #3382
I think we shouldn't automatically email/remove abandoned projects. I also think showing abandoned projects is lower priority. People who want a namespace are highly motivated, and will email us, so we should focus on executing that part first.

I think we should keep it light weight in terms of implementation so this isn't a lot to maintain. Perhaps just an admin-only button that says "email proj

[2018-02-28 05:29] ericholscher commented on #3382
At the end of the 6 week period, I renamed the project to `{name}-abandoned`, but I'm not 100% sure that's the correct thing to do.

[2018-02-28 05:31] ericholscher commented on #3382
I guess the primary thing I want to balance is the amount of work to build this, when it doesn't happen very often, with standardizing the execution. We could even just have a template in the docs, and not automate it within the software, as it has only happened a couple times so far.

[2018-02-28 05:39] stsewd commented on #3382
@ericholscher so suggesting a template for sending an email to support@readthedocs.org would be fine. I like the idea of keeping it simple for now.

[2018-02-28 10:50] xrmx opened #3696 "update_repos commands fails"
## Details

On a local rtd instance installed from git 09f8282be35c20dcca42c85d3f845bba8b784cfe, call `python manage.py repos pip` fails. The project data is from `python manage.py loaddata test_data`.

## Expected Result

Command to works fine

## Actual Result

[code]

[2018-02-28 10:59] xrmx opened #3697 "elastic search indexing not working on local installation"
## Details

On a local RTD version as `09f8282be35c20dcca42c85d3f845bba8b784cfe` each project build returns the exception below and thus search does not work.
Elastic search is from docker image "elasticsearch:1.5.2" which should match the elasticsearch-py 1.5.0 from requirements. Same result with elasticsearch:1.7.6 docker image.

## Expected Result

Elastic search indexes updated after project b

[2018-02-28 11:00] sda399 commented on #3679
here is an example of a link to a labeled section:
https://docs.readthedocs.io/en/latest/getting_started.html#in-rst

the navigation tree is not highlight correctly,
but the following link highlights 'in-markdown' section as expected:
https://docs.readthedocs.io/en/latest/getting_started.html#in-markdown

notice that 'in-markdown' label and title are approximately the same, and in-rst and 'in rest

[2018-02-28 14:31] Blendify commented on #3434
I agree, we can close this if needed.

On Wed, Feb 28, 2018 at 12:06 AM, Eric Holscher <notifications@github.com>
wrote:

--
Aaron Carlisle

Picture taker | Bit cruncher | Pixel pusher | Document writer |
Project administrator for the Blender 3D Documentation Project

[2018-02-28 14:54] humitos commented on #3679
I found something here. It seems there is an extra `span` labeled `in-rst` but the correct one is `in-restructuredtext`: https://docs.readthedocs.io/en/latest/getting_started.html#in-restructuredtext

![captura de pantalla_2018-02-28_09-51-53](https://user-images.githubusercontent.com/244656/36794017-2267c204-1c6d-11e8-8299-11f8b02d595b.png)

Also, another issue is that clicking twice in the `In r

[2018-02-28 15:05] xrmx commented on #3697
So this makes the indexing works fine but definetely not a fix

[code]

[2018-02-28 15:24] sda399 commented on #3679
might be.
Is there a GitHub to transfer an issue to another project? :sweat_smile:

[2018-02-28 15:56] bansalnitish commented on #3434
Maybe we can leave the issue open so that work can be done later and mark it as a low priority one!

[2018-02-28 16:32] willingc commented on #3691
@agjohnson Is this related or a different issue? `There was a problem with Read the Docs while building your documentation. Please report this to us with your build id (6818352).`

[2018-02-28 16:51] humitos commented on #3679
What we have done is just open a link in the other project and link it to here. Then close this one.

I'm not very familiarized with the Sphinx them, so I'm pinging @Blendify here since he is our rock star on this topic and maybe can help you in case you want to propose a PR ;)

[2018-02-28 17:01] humitos commented on #3691
I don't think this bug is affecting the builds or the existing code but, it _does_ affect the generation of the new code (minified js, etc).

@DominikaK I'd suggest you to contact the support email regarding .com

@willingc would you like to open a new issue with your problem by filling the template? Maybe I can help you.

[2018-02-28 17:04] xrmx opened #3699 "TestProject.test_conf_file_not_found fails on master"
## Details

With `09f8282be35c20dcca42c85d3f845bba8b784cfe`
[code]
fails

## Expected Result

Tests green

## Actual Result

[code]

[2018-02-28 17:07] davidfischer commented on #3434
While none of this is really high priority here's a few thoughts:

* The spaceless template tag (correctly) only removes spaces between tags. This means that spaces in `<p>         <span>text</span>    </p>` are stripped but spaces in `<span>\n   text\n             </span>` are not. Generally this is easily worked around by wrapping text in a span.
* For standardizing spacing in templates and JS f

[2018-02-28 17:08] willingc opened #3700 "Failed build"
## Details

* Project URL: https://readthedocs.org/projects/jupyterhub/
* Build URL (if applicable): https://readthedocs.org/projects/jupyterhub/builds/6818352/
* Read the Docs username (if applicable): willingc

## Expected Result

The docs would build.

## Actual Result

`There was a problem with Read the Docs while building your documentation. Please report this to us with your build id (681835

[2018-02-28 17:10] willingc commented on #3691
Thanks @humitos. I opened https://github.com/rtfd/readthedocs.org/issues/3700. It may be related to some changes to bower-lite on our side. Though I'm not sure why.

[2018-02-28 17:37] SLakhani1 commented on #3630
I would like to work on it any suggestions?

[2018-02-28 17:38] willingc commented on #3700
Weird. Now it's building as of the latest push to JupyterHub repo (though no doc changes). https://readthedocs.org/projects/jupyterhub/builds/6819251/

I'll leave this open for a couple of days and loop back and close if no issues for a few more days.

[2018-02-28 17:39] stsewd commented on #3700
Probably a temporal issue on the servers, @willingc thanks for reporting!

[2018-02-28 18:08] xrmx commented on #3699
Can this be caused by running the tests on an instance that has built pip documentation?

[2018-02-28 18:11] davidfischer commented on #3630
The two console issues are not relevant to the docs not loading. They are Adobe Typekit for loading a proprietary font and New Relic for error reporting. They are loaded on every readthedocs.org pageview and also on 404s. Typekit is used by readthedocs.org (normally not docs pages like dedupe.readthedocs.io) to load a font but requires the domain to be whitelisted which dedupe.readthedocs.io isn't

[2018-02-28 18:16] stsewd commented on #3699
@xrmx I think that for the tests a separate database is used, I can't replicate this issue on my local instance and the tests are all green on travis. What OS do you have?

[2018-02-28 18:41] xrmx commented on #3699
@stsewd was thinking more of the fact that there's a checkout of the pip docs or a build of the same around. The os is debian sid

[2018-02-28 18:43] bansalnitish commented on #3382
I am trying something simple for the start as suggested by @stsewd.
 I will submit a PR soon for the same and then we can discuss and make it better !

[2018-02-28 18:46] humitos commented on #3700
@willingc I checked out our Sentry and I found that there was an internal API call that returned 500 (Internal Server Error) with no explanation about it :/

That's all the "help" that I can bring you, haha!

So, probably as @stsewd said, a temporary error about CPU load/memory or similar.

[2018-02-28 18:58] Blendify commented on #3679
Yes please open a report for the theme. We have modified the javascript responsible for this since our the last release so I would recommend checking using our master version. Use `pip install -e https://github.com/rtfd/sphinx_rtd_theme/archive/master.zip`

[2018-02-28 20:03] willingc commented on #3700
Thanks @humitos for checking Sentry and @stsewd for the response about a temporary server error.

I'll close this and ping you folks if it happens again. Thanks!

[2018-02-28 20:03] #3700 closed

[2018-02-28 22:39] Blendify commented on #3679
Closing see  https://github.com/rtfd/sphinx_rtd_theme/issues/583

[2018-02-28 22:39] #3679 closed

[2018-02-28 23:38] ajatprabha opened #3701 "div tag not closed project_dashboard.html"
## Details
The `<div>` tag is not closed on line 27 here: [project_dashboard.html](https://github.com/rtfd/readthedocs.org/blob/master/readthedocs/templates/projects/project_dashboard.html#L27)

## Expected Result

[code]

## Actual Result

[code]

[2018-03-01 00:31] ajatprabha commented on #3694
@humitos, since this issue is considered under UI improvement, I've created a PR with taking maintainer as the word because it is used in other places as well. Can you please review it?

[2018-03-01 03:53] ericholscher commented on #3382
Yea, another simple addition would be to have a query that specified "abandoned", and have a small message on the project page. I'm all for keeping things simple to start.

[2018-03-01 04:32] #3701 closed

[2018-03-01 04:42] stsewd commented on #3699
@xrmx also make sure to run the tests while the instance isn't running (some tests fail because of this).

[2018-03-01 08:03] ericholscher commented on #3689
I guess my only thought about removing it is losing the ability for projects to specify status on the description. The primary use case I worry about losing is the "This is unmaintained" or "This project is now located here" or "this is a fork of XYZ" or similar.

I think having a description is quite a small bit of overhead, and there is a lot more valuable refactors we could be doing. I'd be cur

[2018-03-01 08:05] ericholscher commented on #3220
I'm +1 on making this optional. It should be allowed to be set in the `formats` setting?

[2018-03-01 08:08] ericholscher commented on #3282
+1 on this. I think it will be a multi-step process, but we should get started with it. The primary thing we want to avoid is linking to https pages when those pages have http images or similar, causing mixed content warnings. I think that might just be part of the process of the migration, but here is my thoughts:

* We start linking "View Docs" and similar to HTTPS for projects on `readthedocs.i

[2018-03-01 08:09] ericholscher commented on #3689
I guess the other big reason to remove the description field is *spam*. If this is a spam fighting measure, I'm +100 for it, and think that's heavily worth the downside outcomes.

[2018-03-01 08:23] xrmx commented on #3699
@stsewd wasn't running.

[2018-03-01 11:16] edmorley commented on #3282
The `upgrade-insecure-requests` CSP directive may help reduce the breakage:
https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Content-Security-Policy/upgrade-insecure-requests
https://community.akamai.com/community/web-performance/blog/2017/02/10/how-to-auto-upgrade-to-https-aka-avoid-mixed-content

(or at least provide a way to see what would break, via `Content-Security-Policy-Report-Onl

[2018-03-01 11:43] bmerry opened #3705 "Build failing with no logs"
## Details

* Project URL: https://spead2.readthedocs.io/en/latest/
* Build URL (if applicable): https://readthedocs.org/projects/spead2/builds/6823624/
* Read the Docs username (if applicable): bmerry-ska

## Expected Result

If the build fails I should be able to figure out why.

## Actual Result

It shows the following. Under each git command, there is a disabled horizontal scrollbar, but no te

[2018-03-01 11:43] giampaolo opened #3706 "Fail to build doc for psutil project"
https://readthedocs.org/projects/psutil/builds/6823342/
Not sure what the problem is. The output seems OK.

[2018-03-01 12:31] PoslavskySV commented on #3706
Having the same issues with my project: output is OK, local build is OK, but RTD fails

Failed builds:

https://readthedocs.org/projects/rings/builds/6823203/
https://readthedocs.org/projects/rings/builds/6823978/

[2018-03-01 12:53] PoslavskySV opened #3707 "Build 6824044 failed"
## Details

* Project URL: http://rings.readthedocs.io/
* Build URL (if applicable): https://readthedocs.org/projects/rings/builds/6824044/
* Read the Docs username (if applicable): PoslavskySV

## Expected Result

Build docs.

## Actual Result

There was a problem with Read the Docs while building your documentation. Please report this to us with your build id (6824044).

[2018-03-01 14:17] humitos opened #3708 "Improve project translation listing under admin tab"
Currently, under `Admin -> Translations` tab we have something like this to list "Existing translations"

![captura de pantalla_2018-03-01_09-14-23](https://user-images.githubusercontent.com/244656/36849037-f26a5b10-1d30-11e8-8fd4-349bc8db5640.png)

I think we want to change this to feel more like the rest of the site (considering some improves that @stsewd has already done in other pages with lis

[2018-03-01 14:29] DemetDemir1 commented on #1195
Hi,
this didn't worked for me
import matplotlib
matplotlib.use('Agg')

so instead I used:
import matplotlib.pyplot as plt.
plt.switch_backend('agg')

that worked. maybe it's helpful to someone else.

[2018-03-01 14:59] dfranco commented on #3707
I have the exact same problem
https://readthedocs.org/projects/bacula-web/builds/6824421/
Even wiping the build environment didn't help

[2018-03-01 15:05] PoslavskySV commented on #3707
@dfranco I also tried swiping and it didn't helped. I found that build sometimes succeed: out of my ~15 builds 3 have passed.

[2018-03-01 15:08] humitos commented on #3689
I liked to point that Eric raised here: "use the description field to communicate unmaintained projects" and that's important.

I saw other projects that has updated the whole documentation to just mentioned that the project was moved to another place. So, when you hit any page related to an old documentation you see just a link pointing to the new documentation page.

Another solution that I saw

[2018-03-01 15:17] justb4 opened #3709 "Build 6824762 fails"
## Details

* Project URL: http://smartplatform.readthedocs.io/en/latest/
* Build URL (if applicable): https://readthedocs.org/projects/smartplatform/builds/6824762/
* Read the Docs username (if applicable): geonovum

## Expected Result

Document built on GitHub commit/push.

## Actual Result

Build failures. Tried multiple times and have reset build env. Text:

[code]

[2018-03-01 15:21] keflavich opened #3710 "Build 6824799 failed"
* Project URL: https://readthedocs.org/projects/astroquery/
* Build URL (if applicable): https://readthedocs.org/projects/astroquery/builds/6824770/
* Read the Docs username (if applicable): keflavich

I got the following error, which I'm reporting as instructed:

"Error
There was a problem with Read the Docs while building your documentation. Please report this to us with your build id (6824799).

[2018-03-01 15:49] stsewd commented on #3708
We need to wait to https://github.com/rtfd/readthedocs.org/pull/3572 gets approved/merged so we can reuse the css classes.

[2018-03-01 15:54] stsewd commented on #3707
@PoslavskySV @dfranco @justb4 @keflavich and other people having the similar problem, probably this is a temporal issue on the servers as mention on https://github.com/rtfd/readthedocs.org/issues/3705#issuecomment-369574868

Maybe @humitos could help to see what happened.

[2018-03-01 16:40] jerome-labbe-sb commented on #3215
Hi, since the last update it's impossible for us to build our documentation anymore...
Just like OP, we need an option to skip submodules while having a .gitmodules file in our repo

[2018-03-01 17:09] stsewd commented on #3215
@jerome-labbe-sb maybe your problem is related to https://github.com/rtfd/readthedocs.org/issues/3707#issuecomment-369636647? By @humitos I know the rtd team is working on solving that problem.

[2018-03-01 18:13] algorys opened #3711 "Build 6825626 failed"
## Details

* Project URL: https://github.com/Alignak-monitoring-contrib/alignak-app
* Build URL (if applicable): https://readthedocs.org/projects/alignak-app/builds/6825626/
* Read the Docs username (if applicable): Algorys

## Expected Result

Build success on develop branch.

## Actual Result

This build was terminated due to inactivity. If you continue to encounter this error, file a support r

[2018-03-01 18:23] stsewd commented on #3711
Probably related to https://github.com/rtfd/readthedocs.org/issues/3707#issuecomment-369636647
And see https://github.com/rtfd/readthedocs.org/issues/3215#issuecomment-369661968

[2018-03-01 18:36] algorys commented on #3711
Thanks @stsewd, I will follow theses issues.

Strange thing is I've no submodule in my repository.

[2018-03-01 19:21] PoslavskySV commented on #3707
@stsewd I still can't build the project (already for about  24 hours since yesterday)

[2018-03-01 19:22] davidfischer opened #3712 "Improve URL resolver performance"
Our URL resolver (https://github.com/rtfd/readthedocs.org/blob/4d10f2e/readthedocs/core/resolver.py) which turns a `Project` and/or `Version` into a URL to their documentation needs some performance improvements to reduce or eliminate the number of database queries it makes.

This is particularly noticeable on the `footer_html` API call (https://github.com/rtfd/readthedocs.org/blob/ba71aa1/readthe

[2018-03-01 19:33] stsewd commented on #3707
@PoslavskySV The core team is solving the problem now https://github.com/rtfd/readthedocs.org/issues/3215#issuecomment-369661968

[2018-03-01 19:35] PoslavskySV commented on #3707
@stsewd Great! Thank you very much!

[2018-03-01 19:58] aasis21 commented on #3279
@humitos @ericholscher, I would like to take up this issue. For UI part we can give a `ChoiceField`, so that there is also no validation issue. What do you say?
And in `yaml` file, we can give a `stable_version:version_name `

[2018-03-01 20:54] mxbi opened #3713 "problem with Read the Docs: Build 6826343 failed"
## Details

"There was a problem with Read the Docs while building your documentation. Please report this to us with your build id (6826434)."

This happened after the build ran "git show-ref --tags", although no other error messages are anywhere in the commands.

* Project URL: https://readthedocs.org/projects/mlcrate/
* Build URL (if applicable): 6826434
* Read the Docs username (if applicable):

[2018-03-01 20:55] mxbi commented on #3711
I had this issue around the same time, resetting the build environment fixed it (although I am now getting a different error).

[2018-03-01 21:02] aasis21 commented on #3712
Hi @davidfischer, Can I take up this issue. I realize that the template calls `version.get_subdomain_url` which calls `project.get_docs_url` which further calls the `resolver` mentioned above. we should pass this resolved URL in template directly for reuse. Furthermore, the protocol in `resolver` function should be changed to `https`.

[2018-03-01 23:19] davidfischer commented on #3712
That's pretty accurate.

I'm not 100% sure that we should force HTTPS yet (see #3282). While every project hosted by `*.readthedocs.io` can and should use HTTPS, some docs use their own domain and not all of those support HTTPS (eg. http://docs.python-requests.org)

[2018-03-02 00:31] ugokingsley commented on #827
ger

[2018-03-02 02:24] sfdye commented on #3279
+1 for this feature, my build is failing because `stable` is not able figure out the latest tagged release

[2018-03-02 02:27] sfdye opened #3714 "Build 828171 is failing"
## Details

* Project URL: https://readthedocs.org/projects/pygithub/
* Build URL (if applicable): https://readthedocs.org/projects/pygithub/builds/6828171/
* Read the Docs username (if applicable): sfdye

## Expected Result
Build success for `stable` for the latest tag release `v1.37` on Github

*A description of what you wanted to happen*

## Actual Result
Build failed due to wrong version

*A d

[2018-03-02 03:40] RichardLitt commented on #3713
I believe this is part of a few errors caused on our side. Fixes are being worked on now: see #3707.

[2018-03-02 03:41] RichardLitt commented on #3709
I believe this is part of a few errors caused on our side. Fixes are being worked on now: see #3707.

[2018-03-02 03:43] RichardLitt commented on #3701
Thanks @ajatprahba!

[2018-03-02 03:46] RichardLitt commented on #3710
This is one of a number of similar issues. See #3707. We're on it.

[2018-03-02 03:50] RichardLitt commented on #3628
@davidfischer If it's not a bug anymore, seems like you should. :D

[2018-03-02 03:55] #3628 closed

[2018-03-02 08:12] algorys commented on #3711
Seems solved by resetting environment.

[2018-03-02 08:12] #3711 closed

[2018-03-02 08:23] dfranco commented on #3707
I confirm the problem is fixed for my project.

Thanks @stsewd and @PoslavskySV for your help.

[2018-03-02 08:26] bansalnitish commented on #3689
I would like to work on this issue !

[2018-03-02 10:00] PoslavskySV commented on #3707
I also confirm that the problem is fixed. Many thanks!

[2018-03-02 10:00] #3707 closed

[2018-03-02 11:24] justb4 commented on #3709
Doc is building now. Closing this one. Keep up the great work!

[2018-03-02 11:24] #3709 closed

[2018-03-02 12:17] jerome-labbe-sb commented on #3215
@stsewd unfortunately it doesn't seem to be related...

[2018-03-02 12:18] freakboy3742 opened #3715 "Page appearing without any template"
## Details

* Build URL (if applicable): http://toga.readthedocs.io/en/latest/background/commands.html
* Project URL: https://github.com/pybee/toga

## Expected Result

The normal RTD template and style should be applied to the page.

## Actual Result

The content is up to date, but the style has not been applied.

I can't see anything unusual about the markup on this page, and a local build doesn

[2018-03-02 14:54] enielse opened #3716 "Builds timeout: request for increased time limit"
## Details

* Project URL: https://readthedocs.org/projects/pygsti/
* Build URL (if applicable): https://readthedocs.org/projects/pygsti/builds/6830583/
* Read the Docs username (if applicable): enielse

The builds are timing out after 15 minutes.  By the end of 15 minutes the HTML build completes successfully, but the json (and local-media) build does not finish in time (see referenced build url)

[2018-03-02 15:31] PoslavskySV opened #3717 "Missed sphinx_rtd_theme.css on some pages"
## Details

* Project http://rings.readthedocs.io
* Build URL (if applicable):
* Read the Docs username (if applicable): PoslavskySV

## Expected Result

Page http://rings.readthedocs.io/en/latest/algorithms.html  should look normally with RTD style.

## Actual Result

Page http://rings.readthedocs.io/en/latest/algorithms.html  doesn't contain
`sphinx_rtd_theme.css` and looks ugly. Other project p

[2018-03-02 15:32] PoslavskySV commented on #3717
Probably also related to #3715

[2018-03-02 15:37] humitos opened #3718 "Add release date to changelog"
It would be very helpful to have the date of the release in the changelog published at http://docs.readthedocs.io/en/latest/changelog.html

Code ref: https://github.com/rtfd/readthedocs.org/blob/8fe25841803e31a559c1b3ddb12d7f06cdeb0674/tasks.py#L62

[2018-03-02 16:07] enielse commented on #3716
Update: I've been able to trim down the docs to get them to build within the 15-minute window, so some of the builds more recent than the one I referenced above pass.  I would still like the time limit to be extended, though, since this would let me build the "unabridged" version of my docs.

[2018-03-02 16:09] humitos commented on #3716
Hi! We were having some performance issues yesterday and we are trying to recover from them. So, probably your build will take less time today or tomorrow (just a guessing, though)

Please, wait some time and let us know again if this is still an issue for you.

JSON is used for the search, and there is an issue to track the idea of disabling local-media at #3220

[2018-03-02 16:19] humitos commented on #3710
This was a temporary issue which should be fixed now while the servers recovers from their load. I'm closing this one, but feel free to reopen if you consider. Thanks!

[2018-03-02 16:19] #3710 closed

[2018-03-02 16:20] humitos commented on #3713
This was a temporary issue which should be fixed now while the servers recovers from their load. I'm closing this one, but feel free to reopen if you consider. Thanks!

[2018-03-02 16:20] #3713 closed

[2018-03-02 16:29] rajujha373 commented on #3718
shall I take up this issue? @humitos

[2018-03-02 16:30] stsewd commented on #3215
@jerome-labbe-sb you can fill a new issue with more details about your problem, so we can help you.

[2018-03-02 16:52] humitos commented on #3714
You have two different things happening here:

1. The error reported by RTD is

[code]

Which is related to your own project, not RTD.

2. `v1.37` is not being selected as `stable` version automatically.  I'd say that this is not related to #3279 because it should be automatically by RTD since it's the general rule and that issue linked is to skip that general rule for some other consideration. An

[2018-03-02 17:05] davidfischer commented on #3712
I should mention that I welcome a PR for this. However, I will caution you that this will probably be a bit complex.

[2018-03-02 17:25] stsewd commented on #3696
I was able to replicate this on my local instance, I'm going to see what's happening.

[2018-03-02 18:18] RichardLitt commented on #3669
That sounds right to me, @Chirath02. We can work out more details in your PR (#3680).

[2018-03-02 18:20] RichardLitt commented on #1690
I am going to close this as being stale. @sergiopasra feel free to reopen if you still have this issue! Thanks for the follow up, too, @stsewd.

[2018-03-02 18:23] RichardLitt commented on #3718
@rajujha373 If you have a suggestion for how the code should look, open a PR! :D

[2018-03-02 18:29] RichardLitt commented on #3639
@bansalnitish Go ahead! :D

[2018-03-02 18:47] stsewd commented on #3696
I found that the error happens here

https://github.com/rtfd/readthedocs.org/blob/09f8282be35c20dcca42c85d3f845bba8b784cfe/readthedocs/doc_builder/environments.py#L205

This is the error that I catch from pdb `'{"build":["This field may not be null."]}'`

I'm going to investigate more deeper why build is None.

[2018-03-02 19:55] stsewd commented on #3696
I found the error, indeed is a bug on the code.

Here is called the task for update the docs, but from command line `record` is false, so `build` and `build_pk` are `None`

https://github.com/rtfd/readthedocs.org/blob/4b00f3ff2f1cfe89819d2dc3f0689f2fad53f4e3/readthedocs/core/utils/__init__.py#L131-L132

From the docstrings, says that if those parameters are `None`, the command isn't saved.

https:

[2018-03-02 20:25] jakirkham commented on #1902
Would think this is long since resolved. Probably safe to close.

[2018-03-02 20:28] jakirkham commented on #3075
Builds occur on a Docker image IIRC. So in a Linux environment. Hence it will search for Linux. Either you can try to relax your requirements so that the macOS only packages are not pulled in for doc building or you can try to build those packages for Linux (if possible).

[2018-03-02 20:34] willingc commented on #1902
@jakirkham I would go ahead and close. cc/ @agjohnson @humitos

[2018-03-02 20:53] agjohnson commented on #3689
I agree with @humitos on this, and think updating the docs is a better fix if a maintainer wants to stop updating their docs. The use case for deprecating your builds on RTD but not updating your docs to mention deprecation doesn't seem super likely.

I think we continue to view the dashboard page as a reader page, and it doesn't really function like that. Readers of a documentation project intera

[2018-03-02 20:57] agjohnson commented on #3689
Oh and I suppose what i meant by "what does our dashboard look like" is not what does it look like if we remove the field, but how can we improve the page without the description block there?

I think a more vertical version listing table would be a great addition, adding some metadata about version builds (failed, built, branch name, default? latest? stable?), version "freshness", and view docs l

[2018-03-02 21:00] humitos commented on #1902
@jakirkham @willingc do we have an example of a project that wasn't builing before because of this issue and now is building properly?

If I undertsand correctly, this wasn't an error because of RTD but an error in conda, right? If that's the case, we should check what version we are using on RTD to build and see if the issue is fixed in that version already.

[2018-03-02 21:00] agjohnson commented on #3220
This seems like something we could make optional, I don't see a problem with this.

The JSON build has to stick around for now though, as we aren't going to special case our search usage. Eventually this will be a single build pass, but requires us implementing an HTML + JSON single step Sphinx builder.

[2018-03-02 21:04] msarahan commented on #1902
It's not so much an error in conda as simply a property of packages.  When you build a package, you do so in a folder with a particular length.  Packages that embed paths in binaries then then cannot be installed into paths longer than that creation-time length.  About 2 years ago, the standard was 80 characters.  We changed it to 255.  Essentially all packages in the ecosystem have been rebuilt,

[2018-03-02 22:13] jakirkham commented on #1902
IOW this was a conda package issue (not a RTD issue) that has been resolved by improved tooling since used to rebuild many packages in the intervening time.

[2018-03-02 22:14] mbarnes-sb opened #3721 "Build #90721 Failed"
## Details

* Project URL: https://readthedocs.com/projects/starbreeze-ab-starvr-sdk/
* Build URL (if applicable): https://readthedocs.com/projects/starbreeze-ab-starvr-sdk/builds/90721/
* Read the Docs username (if applicable):

## Expected Result

Build should succeed

## Actual Result

git submodule update --init --recursive --force
Cloning into 'StarVRExample/AntilatencyPlugin'...
fatal: could

[2018-03-02 22:16] mbarnes-sb commented on #3721
@jerome-labbe-sb fyi

[2018-03-02 22:20] humitos commented on #1902
Thanks you all for the update. I'm closing this issue. Feel free to re-open if you consider :)

[2018-03-02 22:20] #1902 closed

[2018-03-03 01:06] sfdye commented on #3714
@humitos Thank you very much for your response

1. I am aware and this is already fixed in master, but as I said in the description the reason is because `stable` is pointing to the wrong sha, if it's pointing to master or 1.37 this failure should not appear.

2. Okay, what is the solution then?

[2018-03-03 05:17] jaredledvina opened #3724 "Transfer ownership of ansible-sensu"
## Details

* Project URL: https://readthedocs.org/projects/ansible-sensu/
* Build URL (if applicable): https://readthedocs.org/projects/ansible-sensu/builds/
* Read the Docs username (if applicable): jaredledvina

## Expected Result

Hi! Currently, the `ansible-sensu` repo has moved under the Sensu organization on Github. It appears, that ever since that move, the builds have never been kicked of

[2018-03-03 06:49] leticiaram commented on #1195
Hello, I am working in spyder in windows and this FINALLY worked for me:
Go to Tools>Preferences>IPython terminal>Graphs  (Menu names are an approximation since my spyder is in spanish)
Once here, uncheck the box "activate support".

Reestart and then type:

import matplotlib
matplotlib.use('TkAgg')
import matplotlib.pyplot as plt

#Example of plot saved to pdf file
a = [1, 2, 3, 4]
b = [2, 4, 6,

[2018-03-03 06:57] leticiaram commented on #1195
Hello.

In spyder to to
Tools>Preferences>IPython Termina>Graphs
Uncheck the box "Activate support"
Re-start spyder

After including:
import matplotlib
matplotlib.use('TkAgg')
import matplotlib.pyplot as plt

I FINALLY was able to obtain a pdf file that was not in blank after doing:
a = [1, 2, 3, 4]
b = [2, 4, 6, 8]
plt.plot(a, b)
plt.savefig('test.pdf')

[2018-03-03 14:35] enielse commented on #3716
Ok, thanks.  I'll try to full docs again some in a few days or so.

[2018-03-03 15:37] martinfletcher commented on #2798
Hi @joaobentes - I have not had much free time in the past 12 months due to projects and moving jobs.

This is still something that i would like to get stuck into though!

@agjohnson for me an issue on GitHub, or a slack channel would be the best means of collaboration. My python skills are a tad rusty, but would be able to gen-up quite quickly, and i know how the VSTS product works very well.

[2018-03-03 16:55] humitos commented on #3721
@mbarnes-sb Hi! Please, if you have a problem with readthedocs.com send an email to the support team instead of opening an issue under the .org repository. Support Team will help you over there.

I'm closing this issue.

Thanks.

[2018-03-03 16:55] #3721 closed

[2018-03-03 19:52] bansalnitish commented on #3689
@agjohnson May I give this a try!

[2018-03-03 20:29] stsewd commented on #3629
This was fixed (actually removed) on #3633 (merged).

[2018-03-03 23:03] stsewd commented on #3629
@RichardLitt with the current change (deletion) there isn't a rich editor, just a plain text area.

![screenshot-2018-3-3 edit project read the docs](https://user-images.githubusercontent.com/4975310/36940235-19a71cd0-1f0d-11e8-9cce-a66fb66e1f7c.png)

[2018-03-03 23:31] RichardLitt commented on #3629
Alright. Shall I close this, then?

[2018-03-03 23:41] stsewd commented on #3629
@RichardLitt I think so, I can't see any of those warning on the js console now and this is in-reproducible anyway because there is not buttons to click :smile:.

[2018-03-04 16:04] #3629 closed

[2018-03-04 22:34] Kobzol commented on #3062
I'm having the same problem. The docs for my repo worker a week ago, but then my repo server switched to a new certificate (EV certificate from Terena) and now all RTD builds fail on git clone with the gnutls_handshake error.

[2018-03-05 03:27] jaraco commented on #2725
Hi @scottnasello Thanks for the suggestion. I'm afraid it doesn't seem to suggest anything differently from what I'm doing above... which works to create the project in RTD, but it doesn't register a webhook within Github (where the repo exists) to signal when a commit is made so the docs can be rebuilt. In fact, your 'repo' URL doesn't look like a valid URL at all. It indicates a token, password,

[2018-03-05 03:34] jaraco commented on #2725
I've added [a bounty to this issue](https://www.bountysource.com/issues/43031585-api-project-creation) in the hopes of incentivizing its completion. The API should present the same functionality as the "Import Project" UI does, including automatic user ID resolution and installation of the relevant Github webhook.

[2018-03-05 07:55] Sraw opened #3729 ""stable" doesn't point to latest tag."
## Details
I have a tag named "0.0.4"(a new one) and a tag named "v0.0.3"(an old one).
I expect that "stable" will point to tag "0.0.4" instead of "v0.0.3".
But "stable" doesn't point to latest tag.

* Project URL: https://github.com/Sraw/nswebdav
* Build URL (if applicable): https://readthedocs.org/projects/nswebdav/versions/
* Read the Docs username (if applicable): Sraw

## Expected Result

In

[2018-03-05 10:41] Climbingholds opened #3731 "Climbing Holds"
Shahogen[ Climbing Holds](http://www.shahogenclimbingholds.com/best-climbing-holds-the-top-10-sets-for-2018/) is the home of the best sandstone climbing holds on the web. Not only are we one of the few sandstone climbing holds providers around but we are also one of the only ones whose service is of a superior quality.

[2018-03-05 12:19] Rapptz commented on #3460
Sorry for bumping this but my RTD builds have been failing for almost 3 months now.

[2018-03-05 13:27] ericholscher commented on #3689
I'm +1 on it then.

[2018-03-05 13:33] Randrian45 opened #3732 "Build fails for new project"
## Details

* Project URL: http://open-gpias.readthedocs.io
* Build URL (if applicable): https://readthedocs.org/projects/open-gpias/builds/6841210/
* Read the Docs username (if applicable): randrian

## Expected Result

*A description of what you wanted to happen*

ReadTheDocs should clone the repository and build the documentation.

## Actual Result

*A description of what actually happened*

Re

[2018-03-05 14:09] humitos commented on #3689
We could write a guide about this, inviting folks that don't want to maintain their documentation to make the last effort on communicating this properly to their readers.

[2018-03-05 14:34] humitos opened #3733 "Specific project not returned over API"
While trying to reproduce #3732 I found that the project with slug `open-gpias` is not found/returned by the API:

[code]

While, another project like `pip` is returned:

[code]

I _double checked_ this in the admin and the slug is correct:

![captura de pantalla_2018-03-05_09-29-42](https://user-images.githubusercontent.com/244656/36980245-c092ab2c-2057-11e8-86aa-e0250c250530.png)

Open GPIAS pro

[2018-03-05 15:09] WoLpH opened #3734 "Some builds fail with: `cannot import name 'Signature'`"
## Details

* Project URL: https://readthedocs.org/projects/progressbar-2
* Build URL (if applicable): https://readthedocs.org/projects/progressbar-2/builds/6841726/
* Read the Docs username (if applicable): wolph

## Expected Result

A successful build

## Actual Result

[code]

Note that building the same project again usually succeeds as can be seen in the build log: https://readthedocs.org/pro

[2018-03-05 16:16] jpic commented on #3069
Hi all !

I have [tried the solution](https://github.com/yourlabs/facond/blob/npm/readthedocs.yml) by @jflory7 but it still [fails when trying to execute jsdoc](https://readthedocs.org/projects/facond/builds/6842131/):

    FileNotFoundError: [Errno 2] No such file or directory: 'jsdoc'

Any clue welcome :)

[2018-03-05 16:46] stsewd commented on #3729
Looks like you disable all versions but latest and `0.0.4`.

But with the names you provide the code should be fine.

[code]

[2018-03-05 20:04] stsewd opened #3735 "Change "Submit" text on buttons to something more meaningful"
All the forms contains a button `Submit` to send the form, but is not always is the _best word_  (where `Save` or `Add` would make more sense).

Probably should be done after some other PRs related to the UI gets merged, so we avoid a lot of conflicts.

[2018-03-05 20:37] RichardLitt commented on #3689
@bansalnitish I don't see why you wouldn't be able to! As far as I know, no one else is looking actively fixing this in a PR right now, which means it is open game.  :)

[2018-03-05 20:39] #3731 closed

[2018-03-06 01:17] humitos commented on #3062
@Kobzol could you provide more information?

The report of this issue is several months old and I can't reproduce it locally. So, probably something is fixed with the SSL certificate.

[2018-03-06 01:42] Sraw commented on #3729
@stsewd Yes, I expect it should be fine too. But it really doesn't.
The reason why I disable other versions is because `v0.0.3` has some issues which would cause failed build. And that's also why I need to push a new version `0.0.4`.
For now, `stable` still points to `48dde04d` which is `v0.0.3`.

That is really strange, I cannot understand what happen.

[2018-03-06 01:52] humitos commented on #3729
Did you try by wiping your versions?

I imported this project in my local instance and I got the proper versions selected:

![captura de pantalla_2018-03-05_20-51-27](https://user-images.githubusercontent.com/244656/37009934-1677e638-20b7-11e8-98fb-aefffe98c3ed.png)

[2018-03-06 01:58] Sraw commented on #3729
@humitos I have tried wiping `0.0.4`, `v0.0.3`, `stable` and `stable`. None of them works.
Perhaps that is caused by my advanced settings?
I manually set a pip requirements file to `docs/requirements.txt`, use `CPython 3.X` Python interpreter and enable global site-packages.

[2018-03-06 02:32] stsewd commented on #3729
@Sraw I also was able to import the project correctly on my local installation. Did you try activating `stable` momentarily and building it again (also wiping and building again master)?

[2018-03-06 02:37] stsewd commented on #3732
I can't see your builds, I think it's because your project privacy level. I'll try to reproduce it on my local installation.

[2018-03-06 02:52] Sraw commented on #3729
I manually delete whole project in readthedocs and then reimport it. Now it works fine...

Hope I wouldn't meet this issue again, thanks everyone!

[2018-03-06 02:52] #3729 closed

[2018-03-06 03:28] stsewd commented on #3732
Sorry that you are having this problem on your new project, seems like a unicode error. This is because of this [file](https://bitbucket.org/randrian/opengpias/src/d7390c85f4e66f57c57707bf7c1fef120d825f88/open_gpias/GUI%20Playlist/schaue%20p%C3%BClaylist%20an.py?at=default&fileviewer=file-view-default). Any possibility that you can rename the file? Otherwise you need to wait for https://github.com

[2018-03-06 04:28] stsewd commented on #3732
I found a fix https://github.com/rtfd/readthedocs-build/issues/27#issuecomment-370658598, lets wait to get a reply on the other issue :)

[2018-03-06 04:36] bansalnitish commented on #3689
Thanks @RichardLitt, I am working on this!

[2018-03-06 07:45] Kobzol commented on #3062
Every build of my project fails with [this](https://readthedocs.org/projects/snailwatch/builds/6844080/) error:
[code]

I tried several projects that worked with a different certificate just a few weeks ago and all of them fail with the same error, so I'm pretty sure it's caused by the certificate. I know that some other tools that are accessing the website of my repo are having the exact same pro

[2018-03-06 07:47] Randrian45 commented on #3732
Thank you. I have removed the Unicode character in the filename and now it works :-). But nevertheless, it would be good to fix the bug, or at least provide a meaningful error message.

[2018-03-06 07:55] thjashin opened #3738 "Illegal instruction error"
## Details

* Project URL: http://readthedocs.org/projects/zhusuan/
* Build URL (if applicable):http://readthedocs.org/projects/zhusuan/builds/6845577/
* Read the Docs username (if applicable): thjashin

## Expected Result
I regularly update the repo and the docs should rebuild.

## Actual Result
In recent commits the building failed with the following error log when starting Sphinx:
[code]
My loc

[2018-03-06 08:41] ivankravets commented on #2971
@agjohnson could you fix that? Thanks!

[2018-03-06 12:28] #3688 closed

[2018-03-06 12:42] shubham76 commented on #3735
Hey @stsewd! I would like to work on this. Which other PRs are yet to be merged so that we can avoid conflicts with this one?

[2018-03-06 14:34] humitos commented on #3062
I can clone the repository without any problem in my computer, so it's definetly something on RTD. I'm not sure what, yet but I will ask to the other folks. Thanks for your report.

[2018-03-06 14:57] humitos commented on #3738
I imported your project in my local instance and I wasn't able to reproduce this issue. We will need more research on this.

[2018-03-06 15:14] thjashin commented on #3738
Thanks for taking a look. Anything I can help? I've been bothered for a while about this.

[2018-03-06 16:59] davidfischer commented on #3062
I checked the certificate on SSL Labs and it looks good. This issue appears to be an issue with Ubuntu 14.04 issue -- RTD's build servers are still on that -- and when they are upgraded this will resolve itself (see #3615). The same issue does not manifest on later versions.

[2018-03-06 17:01] RichardLitt commented on #3688
Thanks for this work, @Chirath02! Any reason you closed this?

[2018-03-06 17:07] RichardLitt commented on #3688
Closed due to https://github.com/rtfd/readthedocs.org/pull/3690#issuecomment-369289626.

[2018-03-06 17:09] RichardLitt commented on #3732
That would be a great idea for a PR! Would you be able to file that, @Randrian45?

[2018-03-06 17:58] agjohnson opened #3741 "Text on search buttons"
There are a few places we're using the copy "Go Crazy" in our UI. I know this is meant to be some light hearted, colorful language, but this term is insensitive, as is the case for most uses of the word "crazy". It's also poor UX as it's not clear what the button should do based on it's text, and I'm sure doesn't translate to other languages as it's more of an english slang term. We should change

[2018-03-06 19:39] flipdazed commented on #3734
For the others, I had this issue with `Sphinx-1.7.0` I upgraded to `Sphinx-1.7.1` and the import issue went away but my python env suddenly crashed after `reading sources ...` downgrading to `1.6.9` then worked fine again

[2018-03-06 20:41] humitos opened #3742 "Notify the user when deleting a superproject"
Now, when the user deletes a superproject (a `Project` that has subproject(s)) that Project is deleted but all the subprojects are "disconnected" from its parent and now become just regular Project (change the hierarchy from sub to project).

This means that the URL for those subproject changes also and probably other things are changed also.

We need to find a good pattern to handle this in a bet

[2018-03-06 20:49] humitos opened #3743 "Clean deletion of a Version"
When a Version is deleted, we are triggering `clear_artifacts` _and_ `symlink_project` but the later is triggered _before_ the object deletion; so, I think if the task is ran before it's effectively deleted the symlink won't be properly synced:

https://github.com/rtfd/readthedocs.org/blob/5472906a067adc60f42556108993255393408410/readthedocs/builds/models.py#L181-L187

To fix this we could chain s

[2018-03-06 21:41] humitos commented on #3644
I checked this again and I found something new:

1. I triggered a `stable` build
1. I kill my celery instance because it gets stucked
1. The build is in `Triggered`
1. I run celery again
1. I re-trigger the `stable` build
1. I get this error

Also, I have this crazy log in my `debug.log`

[code]

[2018-03-06 22:02] stsewd commented on #3732
@Randrian45 while trying to fix the issue https://github.com/rtfd/readthedocs-build/pull/45#issuecomment-370939759 I came up with some questions, hope you can help me with that. What OS did you use when creating the file? What is the default encoding of that OS?

Also, could you create a file outside mercurial with some especial characters and run this script? `python2 test.py` and tell me if that

[2018-03-06 22:04] humitos commented on #3644
I have more clues...

First, the issue happen when RTD doesn't find a `conf.py` and raises `ProjectConfigurationError`. That exception is being handled by our code by creating a `conf.py` based in a template, so we call `render_to_string` that returns a `django.utils.safestring.SafeText` the one that we pass to `safe_write` which encodes it to `utf8` and call `fh.write` with a `django.utils.safest

[2018-03-06 22:17] humitos commented on #3644
I just noticed that even after closing Celery, there were some celery process around and that probably made things goes that crazy.

[2018-03-06 22:29] agjohnson opened #3744 "Track the Docker image hash in readthedocs-environment.json"
We are doing some basic checks on python version change around our `readthedocs-environment.json` metadata file. We should also drop the build image SHA in there, so that if it ever changes, we know to wipe the build env.

For instance, we're saving here:
https://github.com/rtfd/readthedocs.org/blob/7be1b805d59c0683855f05a252850bba09287a20/readthedocs/doc_builder/python_environments.py#L150-L162

[2018-03-06 23:31] WoLpH commented on #3734
Setting the sphinx version to `<1.7.0` appears to work indeed, but I'm not sure what's causing it.
Looking at the stacktrace it appears to be internal to Sphinx but I have no problems building it locally

[2018-03-07 00:26] humitos commented on #3644
OK, I have two suppositions here:

1. go crazy with celery processes
1. this happen when running django and celery with Py3 and the project doesn't have a proper `index.rst` (or raise `ProjectConfigurationError` for some other reason that is not that terrible to abort the build).

I created a PR at #3745 that should fix number 2). I've been trying to replicate the error on that branch and I wasn't

[2018-03-07 00:35] humitos opened #3746 "Build FAILED with VersionLocked exception but it recovers"
If the build raises `Version locked, retrying in 5 minutes.` it's marked as FAILED.

Then, 5 minutes later, it's re-triggered and it changes it state to `Triggered`, `Clonning`, `Installing`, etc.

I suppose that we do want to re-trigger the build for the same version because it could happen that we receive two webhook one next to the other with different commits on it. So, the first build for tha

[2018-03-07 02:38] rajujha373 commented on #3741
@agjohnson  I am taking on this issue... Thanks :)

[2018-03-07 02:55] stsewd commented on #3735
@shubham76 I think #3572, #3548, #3445 are the PRs that you need to be aware while making changes. You can make an initial PR and if the changes crosses on some file, better wait to the others PRs are merged to continue on that file. Let me know if you need more help, also this was initial suggested by @davidfischer, so he can help you with the correct words on the buttons if you aren't 100% sure.

[2018-03-07 02:59] shubham76 commented on #3735
Okay. I'll start working on it!
Thanks!

[2018-03-07 03:16] davidfischer commented on #3735
I'm thrilled with this!

[2018-03-07 03:50] stsewd commented on #743
If this issue is about removing the "Edit on " button, there is a guide on the docs for that https://docs.readthedocs.io/en/latest/guides/remove-edit-buttons.html

[2018-03-07 03:52] stsewd commented on #3738
I tried to import your project on my local instance, but I got an memory limit error, so I think probably that is the issue. Related to #3613.

@humitos Do you have the default limits for memory and time on your local installation?

[2018-03-07 04:08] humitos commented on #3738
@stsewd I modified them using the `local_settings.py` with these values

[code]

[2018-03-07 04:09] stsewd commented on #3696
Thanks to @humitos I learn that this command is also used here
https://github.com/rtfd/readthedocs.org/blob/78b5781ad071de656451a262d39458c612c45be0/readthedocs/projects/management/commands/import_project_from_live.py#L69

So this command `python manage.py -r update_repos {repo}` works!

I'm not complete sure if `-r` should be always `true`, any case where we may not want to no record the build? I

[2018-03-07 04:11] humitos commented on #3613
We have some code written to try to catch this at

https://github.com/rtfd/readthedocs.org/blob/78b5781ad071de656451a262d39458c612c45be0/readthedocs/doc_builder/environments.py#L245-L253

but the problem is that even on a memory limit reached sometimes that exit code is not properly returned and some random things happened. Actually, I think that I added that look for `killed` in the output becaus

[2018-03-07 05:14] stsewd commented on #2646
@RichardLitt well now I think I have some more experience with the other project (sorry for taking a long time).

@Jigar3 I recommend you reading the spec of the yaml file here https://github.com/rtfd/readthedocs-build/blob/master/docs/spec.rst, also https://docs.readthedocs.io/en/latest/yaml-config.html (#3685 contains more accurate docs) so you have a little more of context of what this issue is

[2018-03-07 06:05] thjashin commented on #3738
@stsewd Can you paste the log here? It's strange that my project takes that much memory.
I set
[code]
to run `make html`. It doesn't seem to fail.

[2018-03-07 08:52] #2731 closed

[2018-03-07 09:53] rmihael commented on #2544
I'm having this trouble with account p.dmitriev@nimble.com. That is Gmail account with no 2FA. Other emails are coming smoothly.

[2018-03-07 10:32] vishrutkohli commented on #3741
Can I also work on this issue?

[2018-03-07 11:10] berkerpeksag commented on #3738
Looking at http://readthedocs.org/projects/zhusuan/builds/6828690/, the return code is 132 which means `sphinx-build` was interrupted by `SIGILL`. I don't rule out the OOM case since Python 2 is doing a poor job at handling OOM errors, but this might be caused by an extension module compiled with a flag that is not supported by CPU (or virtual CPU?) in our servers.

We probably need to check versi

[2018-03-07 11:31] Randrian45 commented on #3732
I did not create the file myself but received it from a colleague over the mercurial repository. I asked him what OS he did use, and he said that it probably was Windows 7, I think with German settings, or at least a german keyboard layout.
When I try to run your script on my computer, I do not get any fails when the directory contains files with special characters.

[2018-03-07 14:19] germartinez opened #3748 "There was a problem with Read the Docs while building your documentation"
## Details

* Project URL: **https://readthedocs.org/projects/gnosisjs/**
* Build URL (if applicable): **https://readthedocs.org/projects/gnosisjs/builds/6853414/**
* Read the Docs username (if applicable):

## Expected Result

*A description of what you wanted to happen*

ReadTheDocs shouldn't return a failed build ¿?
I can compile successfully my docs locally.

## Actual Result

*A description o

[2018-03-07 14:35] humitos commented on #3744
I agree with this idea.

I think we just need to add the `build.hash` option to the JSON file and check it again in the `is_obsolete` method.

`docker inspect` does the magic to get the `Id`:

[code]

I can take this one if you want and do it.

[2018-03-07 14:42] stsewd commented on #3732
@Randrian45 do you also use Windows?

[2018-03-07 14:45] humitos commented on #3651
Hi @nkwate-kazim! Thanks for your suggestion!

I think it doesn't worth the effort since it's an internal page that just a couple of people see it. I mean, I prefer to use your contributing time in something more valuable that you can pick from the issues list: a good place to start is "Good First Issue" tag.

[2018-03-07 15:21] Randrian45 commented on #3732
Yes, I also use Windows, but Windows10, with German settings.

[2018-03-07 16:05] humitos commented on #3732
I'd say that the file is corrupted: it's supposed that its name is in one encoding but it's in another. So, we try to read it's from the filesystem and it fails on decoding it.

We should probably have a try/except block for this and skip the corrupted files.

[2018-03-07 16:11] stsewd commented on #3748
I was able to build your docs successfully on my local instance, did you try wiping the build?

[2018-03-07 16:15] stsewd commented on #3748
Not, the build that pass is for `stable`. The `lates` versions fails with `Could not import extension sphinx_js (exception: No module named sphinx_js)`.

[2018-03-07 17:52] agjohnson opened #3751 "Add build metadata collection"
As we are pushing projects to use `readthedocs.yml`, we are losing the ability to query our database for builds that should be using a certain build container, python version, etc. Having a table that tracks the metadata for each build would be helpful for users as well as for debug and making design decisions on our side.

Some of the metadata we might track:

* Build image container
* Build imag

[2018-03-07 18:16] thjashin commented on #3738
@stsewd @berkerpeksag  I just updated the dev branch and found the memory error when [downloading tensorflow 1.6.0](https://readthedocs.org/projects/zhusuan/builds/6854833/).

[2018-03-07 18:21] agjohnson opened #3753 "Refactor where we are calling out to update symlinks"
There are a number of questions I don't think we have answers for around symlinking, and a number of bugs that are present because of this. Our patterns for when to update our symlinks are a bit inconsistent and so it might help to formalize on this.

Right now:

* Some symlinking happens on model save -- this makes sense as a central point for updating
* Some symlinking happens in tasks -- when b

[2018-03-07 18:55] #3748 closed

[2018-03-07 21:34] RichardLitt commented on #3741
@vishrutkohli I think that #3752 covers all of the needed changes. I would suggest looking for some other issues labelled 'Good First Issue' for now. :)

[2018-03-07 21:58] #3741 closed

[2018-03-07 22:32] agjohnson commented on #1556
So i believe the only missing piece is maybe the Symbola font family? Does rtfd/readthedocs-docker-images#61 address this correctly? We already install `texlive-xetex`, so i believe our `latest` image should support this. If our `2.0` image doesn't, our docs describe how to set `build.image` in our `readthedocs.yml`.

I'm not sure which parts of the `latex_elements` blob above are stylistic and wh

[2018-03-07 22:37] agjohnson commented on #3605
As far as I knew, breathe Just Worked.

I'd like to know what the support for breathe looks like with a modern version of our theme, if anyone knows of a project using both. I had a customer report that some of spacing on the breathe output looks wrong for them. This could be a Sphinx domain issue though, more likely.

[2018-03-07 22:42] skirpichev commented on #1556
@agjohnson, so rtfd could be configured to run xelatex instead of hardwired pdflatex?

[2018-03-07 23:31] Blendify commented on #3605
If I ever have free time I can try building our doxygen with breathe.

On Wed, Mar 7, 2018 at 5:37 PM, Anthony <notifications@github.com> wrote:

--
Aaron Carlisle

Picture taker | Bit cruncher | Pixel pusher | Document writer |
Project administrator for the Blender 3D Documentation Project

[2018-03-08 01:51] agjohnson commented on #3734
This looks to be something upstream with Sphinx. The exception is on an import to a Sphinx module, from a Sphinx module. I'd raise with them if the problem exists in latest Sphinx.

You can also try wiping your build environment in the case that there are old files present.

[2018-03-08 02:11] WoLpH commented on #3734
@agjohnson how can I wipe the build environment in RTD? I've already tried both with and without a virtualenv but that made no difference.

[2018-03-08 05:33] stsewd commented on #3460
@Rapptz have you take a look at https://github.com/sphinx-doc/sphinx/issues/3683? Seems like this was a bug on sphinx and was already solved, but with some changes on he requirements.

Also, I was trying to replicate your issue, but seems like your build now are falling for other reason.

[2018-03-08 05:38] thjashin commented on #3738
I did some experiments on the dev branch. When I set TF to 1.4.0 in the doc requirements file, everything works well ([build page](http://readthedocs.org/projects/zhusuan/builds/6857277/)). When I changed it to 1.6.0, the build failed with a MemoryError ([build page](http://readthedocs.org/projects/zhusuan/builds/6854833/)) or Illegal instruction ([build page](http://readthedocs.org/projects/zhusu

[2018-03-08 05:40] stsewd commented on #2085
@humitos now I came with a more simple solution p:. What about just checking the protocol? If it's `https?://` we put a link, otherwise, just plain text.

[2018-03-08 05:46] stsewd commented on #3738
@thjashin I'm glad that you have your docs working! And not really sure if with more memory your problem would go away, what @berkerpeksag mentions is also very valid (but the builds are executed within a docker container, so maybe a problem with the host?).

[2018-03-08 10:22] ericholscher commented on #3279
Isn't the way to do this to just create your own branch named "stable" and use that?

[2018-03-08 10:24] sfdye commented on #3279
@ericholscher I thought rtd will automatically pick up the latest release tag as `stable` version?

[2018-03-08 10:29] ericholscher commented on #3279
It should, but this ticket is about specifying it manually. If there is a bug in our version resolution, that is a separate issue.

[2018-03-08 10:30] sfdye commented on #3279
@ericholscher that would be my #3714

[2018-03-08 10:33] ericholscher commented on #3744
+1 on keeping any specific data that we can on disk, so we can do sanity checking against it.

[2018-03-08 12:40] berkerpeksag commented on #3738
Looking at the build logs shared by @thjashin in https://github.com/rtfd/readthedocs.org/issues/3738#issuecomment-371385013, I there are two different problems:

1. Getting `MemoryError` when installing tensorflow 1.6.0 (it looks like it randomly fails with `MemoryError`)
2. `SIGILL` after tensorflow 1.6.0 successfully installed (without getting `MemoryError`)

There are some reports about the sec

[2018-03-08 16:51] #2909 closed

[2018-03-08 18:05] bansalnitish commented on #3382
Hi @agjohnson, the PR which I have issued contains the points:
- To mark a project as abandoned
- Admin only option to send mail to project owner
- Tests for checking that only an admin is allowed to send email

The PR misses the following points:
- Abandoned project state as a sidebar item on project detail page.
- Changing the project slug to ``{project}-abandoned`` and notifying the user about

[2018-03-08 19:12] stsewd commented on #2971
RTD overrides the `html_context`

https://github.com/rtfd/readthedocs.org/blob/e923c0cdf7547e63b4d2a9ab2b5e69b527bb482b/readthedocs/doc_builder/templates/doc_builder/conf.py.tmpl#L76-L133

I think some values can't be allowed to be overridden by the user, but some values like

https://github.com/platformio/platformio-docs/blob/58574c074149656f1cfc5290122251ea6a5344c6/conf.py#L281-L285

make sense

[2018-03-08 19:37] agjohnson commented on #3689
@rtfd/core It sounds like we're on the same page regarding:

* We will remove the display from the project detail page
* We will remove the field from the project form
* We will remove the field from the admin dashboard form

Still undecided:

* Do we remove the description field in a migration?
* Do we remove the field from the API return (if it's there already)?

[2018-03-08 19:48] agjohnson commented on #3282
I agree with the steps laid out here. I'm going repurpose this task to deal with just `readthedocs.io` domains, as the other steps are mostly operations changes. I'll open up corresponding issues on our server provisioning repositories to deal with those.

[2018-03-08 20:15] Rapptz commented on #3460
Yes I've seen that issue before, it's not related to the current failures. I'm using the release version of Sphinx not the beta versions. The build is still failing with the stuff I have in the OP.

First failure is the websupport related: `Could not import extension readthedocs_ext.readthedocs (exception: No module named 'sphinxcontrib.websupport')` ([failing build](https://readthedocs.org/projec

[2018-03-08 20:43] agjohnson commented on #3382
@bansalnitish This issue is still in a design decision phase, we'll have some more guidance once we've come to some harder conclusions here.

I looked at the PR you started, but it has a few patterns I think we want to avoid:

* Automating `is_abandonded` -- projects that don't build within a year aren't necessarily abandoned, perhaps just unmaintained. We want to act as an archive in this case, n

[2018-03-08 21:03] bansalnitish commented on #3382
Sure @agjohnson, I will wait for the design decision to be made and then make the appropriate changes :tada:

[2018-03-09 00:50] humitos commented on #3738
@thjashin simple question: do you _really_ need TensorFlow to build your documentation? If it's not a strict requirement for building the docs, the better solution here is to not install it on RTD env. You can avoid installing it by using a `docs/requirements.txt` specific for RTD with only the packages needed to build your docs :)

[2018-03-09 00:55] humitos commented on #2085
@stsewd I like the idea; if you want to propose a PR, I can review it :)

[2018-03-09 01:09] humitos commented on #3714
I'm markng this a `Needed: replication` since it seems that we have a bug on our selection of the `stable` that it would be great to research a little more, but I'm not able to reproduce it.

[2018-03-09 01:17] humitos commented on #3689
I'd say yes. If we are not going to use it at all, there is no need to keep this in the database, but...

We are returning it (at least in v2):

https://github.com/rtfd/readthedocs.org/blob/d127ea5ce2cca4bf8c74f1889125b851d987f382/readthedocs/restapi/serializers.py#L13-L26

Mmm... Removing this will be a breaking change. I see two options:

* keep the data in the database and return it here
* remo

[2018-03-09 01:22] sfdye commented on #3714
@stsewd Thanks for the pointer. I know that might work, but really don't want to take such a destructive move.

[2018-03-09 01:26] humitos commented on #2971
We are trying to build a new context for similar issues at https://github.com/rtfd/readthedocs.org/pull/3490 . Would you like to take a look at and give us some feedback?

In fact, I added this note https://github.com/rtfd/readthedocs.org/pull/3490/files#diff-bcc75ef2283eeb5c14031ea7d530d5a8R155 exactly for the same reason that this issue raised here. So, if we want to allow changing this behaviou

[2018-03-09 01:26] sfdye commented on #3714
@humitos For our case, it involves renaming of the repo.

[2018-03-09 01:47] ericholscher commented on #3689
Hmm. I think we can keep it in the DB for now, but just remove it from all places. I think its a good "stepped deployment". If we remove it from the DB, we can't roll back, so I'm more comfortable just hiding it as a first step, waiting a bit, and then deleting it, just in case there is a downside to removing it, or people want it back.

[2018-03-09 01:55] thjashin commented on #3738
@stsewd @berkerpeksag Thanks for the comments and pointers. I guess the SIGILL problem would be solved in future versions of TF. As for the MemoryError, how about the [solution](https://github.com/rtfd/readthedocs.org/issues/3612) proposed by @stsewd ?

[2018-03-09 01:57] thjashin commented on #3738
@humitos Maybe I'm doing in the wrong way, but since there are plenty of `import tensorflow` in my source code, is there any way to let sphinx.autodoc generate api docs from doc strings without installing TF?

[2018-03-09 02:47] stsewd commented on #3738
@thjashin you could try mock TF https://docs.readthedocs.io/en/latest/faq.html#i-get-import-errors-on-libraries-that-depend-on-c-modules

[2018-03-09 03:02] thjashin commented on #3738
@stsewd Cool, thanks. I shall try this.

[2018-03-09 06:28] agjohnson commented on #3689
Keeping the field and hiding display/forms is a great solution for now, 👍 .

I also realized in #3754 that we are populating this automatically through GitHub/Bitbucket import, so that probably explains why so many projects have a description

[2018-03-09 07:43] sfdye commented on #3714
I finally get it working by deleting the project on rtd and importing again, thanks to advice from @stsewd . Don't think it's worth the effort to investigate and reproduce though, thus closing the issue. Re-open if anyone interested to dig in deeper.

[2018-03-09 07:43] #3714 closed

[2018-03-09 13:35] reox opened #3756 "Transfer/add ownership"
## Details

* Project URL: http://readthedocs.org/projects/androguard/
* Build URL (if applicable):
* Read the Docs username (if applicable): reox

## Expected Result

I'm working on https://github.com/androguard/androguard/ and like to update the documentation.

## Actual Result

Can not update the documentation, as the repository is owned by someone else, who is not part of the androguard develo

[2018-03-09 13:44] humitos opened #3757 "Split requirements/pip.txt for LocalBuildEnvironment and RTD specific"
Now, we have a big `requirements/pip.txt` that covers two big things:

* RTD project specific requirements (django, requests, docker, etc)
* local builds for user's documentation (mkdocs, etc) --these are used when building documentation _without_ docker

We want to remove the dependencies for building the docs outside Docker from the `pip.txt` file, so to accomplish this issue we need:

- [ ] cre

[2018-03-09 13:49] humitos commented on #3738
If you are using autodoc, you need to install it.

Otherwise, supposing that you don't need autodoc, you can mock it as http://docs.readthedocs.io/en/latest/faq.html#i-get-import-errors-on-libraries-that-depend-on-c-modules

[2018-03-09 14:25] ezdac commented on #3193
You should definitely mention this more in the build guides! Had I known about this it would have saved me a lot of trouble. (To be fair, I should probably have stumbled upon the yaml configuration if I would have done better research)

[2018-03-09 15:29] stsewd commented on #2032
Related to #3729, and #3714. The users solve the problem by deleting the project and creating it again (same name can be used).

[2018-03-09 15:44] #2085 closed

[2018-03-09 15:44] humitos commented on #3756
I sent an email contacting the owner of the project and linking this issue in the email. Hopefully we will have news in the next weeks.

[2018-03-09 16:26] stsewd commented on #3527
Should this be fixed on the query or when parsing the request data?

[2018-03-09 17:25] #3337 closed

[2018-03-09 17:37] humitos commented on #3751
I agree with this idea in general.

I also prefer JSONField because the reason you mentioned and besides because it's easy to make queries and rely completely in the db instead of end writting hacky chunks of Python to query what we want.

Creating a relation table, will involve more work on maintaining it (adding new fields / removing olds / making mistakes on the data type, etc). I prefer to avo

[2018-03-09 21:24] Jigar3 commented on #3757
I want to solve this issue. Can you help me get started

[2018-03-09 22:11] stsewd commented on #3735
Fixed on #3749

[2018-03-09 22:11] #3735 closed

[2018-03-09 23:10] agjohnson commented on #3682
These are some good points. Some thoughts:

* The training data will accumulate as we classify, but the validator doesn't make any attempt to limit the number of items trained. This could be added as an addition to the classifier potentially. The problem with this isn't necessarily the growth of the field, as these will potentially only be called on Project.save and Tag.save, which should be fairl

[2018-03-09 23:17] agjohnson commented on #3751
YAML -> dict -> JSON should be fine as we don't have any odd types in there like datetime.

Fun unrelated fact: python's `yaml` can decode `json` files. The opposite isn't true though.

All of this will need to be conditional in the templates, yeah. That is a downside to schemaless here. Writing these templates might be annoying, but we'll have legacy builds that are missing this data to worry abo

[2018-03-10 00:55] stsewd commented on #3757
@Jigar3 I think there is a very good description about the issue and the needed steps, there is something specific that you need help with?

[2018-03-10 01:23] agjohnson commented on #3287
@jimfulton I never heard back on the project, so I think it's safe to free up the namespace. I'll go ahead and make the change.

[2018-03-10 01:25] agjohnson commented on #3287
@jimfulton go ahead and try now, the project has been renamed

[2018-03-10 01:58] jimfulton commented on #3287
Thanks!

On Fri, Mar 9, 2018 at 6:25 PM, Anthony <notifications@github.com> wrote:

--
Jim Fulton
http://jimfulton.info

[2018-03-10 02:26] #3287 closed

[2018-03-10 02:33] benji-york commented on #3287
:man_dancing:

[2018-03-10 17:44] rmzelle commented on #2652
GitHub seems to be slowly rolling out HTTPS support for GitHub Pages, also using Let's Encrypt. See https://github.com/isaacs/github/issues/156#issuecomment-366543897 and the rest of that thread.

Would love to see HTTPS support for RTD custom domains as well!

[2018-03-10 22:16] mradamcox opened #3763 "Linking multiple projects to the same repo causing significant version problems"
_I'll preface this by saying that having two projects built from the same repo is not ideal, but it seemed like a clean workaround for not being able to do a full domain redirect from one (the original docs) to the new one._

## Details

* Project URL: arches.readthedocs.org
* Project URL: arches4.readthedocs.org
* Build URL (if applicable):
* Read the Docs username (if applicable): mradamcox

##

[2018-03-11 06:41] stsewd commented on #3763
mmm, I think this is related to #3729 and #3714, both users were able to solve this recreating the rtd project.

@humitos probably a bug caused by a recently regression or just coincidence? Three similar reports this week.

[2018-03-11 10:15] xrmx opened #3765 "Make it possible to search project names under a subset of projects"
## Details

We'd like to be able to restrict the search project to a project and its subprojects.
The code changes required are trivial as we are going to reuse code already available for the files search.
Required changes has been already made available in #3739, the commits are the ones prefixed with `search:`.

## Expected Result

Being able to search projects only under a subset of projects

#

[2018-03-11 23:29] jakirkham opened #3769 "-d/--maxdepth: invalid int value: '_build/doctrees-readthedocs'"
## Details

* Project URL: https://readthedocs.org/projects/dask-image/
* Build URL (if applicable):https://readthedocs.org/projects/dask-image/builds/6874253/
* Read the Docs username (if applicable): (same as GitHub)

## Expected Result

The docs would build.

## Actual Result

Snippet taken from the linked log above.

[code]

[2018-03-12 00:22] jonazc opened #3770 "Verify Email is not send - set verify manually"
I installed RTD on a shared host webserver. It works fine, but there seems to be a problem with the email module. However, thats why I can't set up a account, because the Email verification is not sent. I cannot see any errors in the log.

Where or how do I have to set the verification bit manually so I get get around this problem in the first place?

[2018-03-12 00:51] ericholscher commented on #3193
@ezdac updating our tutorial to use the YAML file would be a lovely contribution!

[2018-03-12 03:03] rgov opened #3771 "Request for project name: pybluez"
## Details

* Project URL: https://pybluez.readthedocs.io/en/latest/
* Read the Docs username: rgov

## Request

I am a maintainer of PyBluez, as seen here:

* https://github.com/orgs/pybluez/people
* https://github.com/pybluez/pybluez/commits?author=rgov

I would like to host our documentation on Read the Docs, but I noticed that https://pybluez.readthedocs.io is taken and not serving any content

[2018-03-12 03:40] shubham76 commented on #3770
The verification link will be there in the terminal. You can click on that to verify the account.

[2018-03-12 07:38] ericholscher commented on #3393
The existing logic is:

* RTD: https://github.com/rtfd/readthedocs.org/blob/master/readthedocs/projects/tasks.py#L730-L735
* Pydoc https://github.com/rtfd/pydoc.io/blob/master/pydoc/sphinx/__init__.py#L32-L55

The quick version is:

* Currently we run an _entire_ second build to output JSON from Sphinx, in order to support search
* We should output the JSON as an artifact of the build process
* Th

[2018-03-12 13:52] valdergallo opened #3773 "Account inactive"
Hi, I'd like to try out Readthedocs.io but it says my account is inactive when I log in.
Same problem as reported by various others such as #1541

[2018-03-12 14:05] rajujha373 commented on #3770
@jonazc You can add an **Email addresses** at the /admin page and check the verified checkbox for an email to be verified manually.

[2018-03-12 14:07] jonazc commented on #3770
I got the link from terminal like @shubham76 proposed!

[2018-03-12 14:07] #3770 closed

[2018-03-12 14:27] jeyca opened #3774 "Can't build versions - problem with custom port?"
I have RTD installed on a shared Webhost following these instructions:

https://docs.readthedocs.io/en/latest/install.html

Everything went through like a charm, I just had to change the server call by: `python manage.py runserver 127.0.0.1:61500` because I can't work on port 8000.

But there seems to be a problem while building a public version. I imported the demo project and it keeps staying li

[2018-03-12 14:55] humitos opened #3775 "Refactor tasks files"
We have a lot of lines of code in `projects/tasks.py` and maybe some of them doesn't belong there or they can be moved to `core/tasks.py`.

Tasks we can consider moving,

- [ ] fileify
- [ ] send_notifications
- [ ] email_notification
- [ ] webhook_notification
- [ ] remove_dir
- [ ] clear_artifcats
- [ ] clear_*_artifacts
- [ ] finish_inactive_builds

We want to refactor these files and take a lo

[2018-03-12 15:53] tkdchen commented on #2812
I have same problem. My case is

- `Requirement file` is empty in `Advanced Settings`
- I create `.readthedocs.yml` with this content and put it in the project root directory.
[code]
- There is a `requirements.txt` in the project root directory as well.

Actual result is same as the original report. readthedocs finds the `requirements.txt` and starts to install packages listed within it.

With the

[2018-03-12 16:10] stsewd commented on #3774
As mention on https://docs.readthedocs.io/en/latest/install.html (almost at the end)

[2018-03-12 16:33] tkdchen commented on #2812
After reading the code, I find I was wrong.

[code]

`.readthedocs.yml` is handled inside `install_package` as the last step.

But, I really think settings in `.readthedocs.yml` about requirements file and installing dependent packages should override the `install_user_requirements` rather than as extras.

BTW, the current behavior of handling `.readthedocs.yml` is not documented in https://docs.r

[2018-03-12 16:49] jaraco commented on #2812
I apologize for not seeing this message or responding sooner. The issue I have is the same as xflr6 described. We have a requirements.txt there for heroku to install the project, but those aren't the requirements needed to build the docs.

That's a better workaround than the one I found (setting the requirements file to another, empty file).

I suggest `.readthedocs.yml` should allow a `null` valu

[2018-03-12 16:55] jeyca commented on #3774
Ok I set this up in an additional `readthedocs/settings/local_settings.py`, but it still didn't work. Then I also changed two other variables like this:

    PRODUCTION_DOMAIN = '127.0.0.1:61500'
    SLUMBER_API_HOST = 'http://127.0.0.1:61500'
    PUBLIC_API_URL = 'http://rtd.mypage.com'

then it worked somehow, but still I have to deal with some problems:

**1. Variable docu**
Unfortunately, I do

[2018-03-12 17:54] jaraco commented on #2812
I find otherwise. In [this commit](https://github.com/yougov/velociraptor/commit/fbbedea8f2e937424bbaadcf16b9e0a96a53fa4f), I removed the explicit pointer to `docs/requirements.txt`, but the [RTD build failed](https://readthedocs.org/projects/velociraptor/builds/6878045/) when it tried to install reqs from `requirements.txt`.

So I'll be restoring that workaround.

[2018-03-12 19:49] stsewd commented on #3774
For the url `PRODUCTION_DOMAIN` should point to your production domain, not to localhost.

For the build problem is because your server don't have the libs for generate pdf and latex stuff (you can also configure rtd to build using docker https://docs.readthedocs.io/en/latest/development/buildenvironments.html or deactivate the pdf generation on your project admin panel).

Please see https://docs.

[2018-03-12 20:34] stsewd opened #3777 "Update docs about translations"
The docs here needs to be updated https://docs.readthedocs.io/en/latest/localization.html according the recent changes on translations (only can add translations where the user is owner)

[2018-03-12 20:37] stsewd opened #3778 "Additional validation when changing the project language"
Validate for translations when changing the project language, so we don't ended with inconsistencies and both symlinks can't point to the same project.

[2018-03-12 20:48] stsewd opened #3779 "Remove `autocomplete` js from templates"
On https://github.com/rtfd/readthedocs.org/commit/16f3527b7690345af0d028eb5bfb65eb95b5a4f0 the `autocomplete` js was removed (was not working), there are others templates with this js that should be removed too.

This https://github.com/rtfd/readthedocs.org/blob/master/readthedocs/core/static-src/core/js/autocomplete.js should be removed too?

[2018-03-12 21:19] stsewd commented on #2812
mmm, that's strange, I going to look at the code. Probably that is a bug.

[2018-03-12 21:41] humitos commented on #3779
Doing a simple grep I found other places where this is used. For example, at https://github.com/rtfd/readthedocs.org/blob/8f2d59cdcdee0050feece79465d1a6c5c903ecf5/readthedocs/templates/search/elastic_project_search.html

So, we will probably do more grep here to find other places also and decide if they should stay or should be removed.

Grepping by `autocomplete` and/or `ui-autocomplete` will be

[2018-03-12 21:58] stsewd commented on #2812
I found it, its a bug. The `break` here only breaks for the first inner loop, so it keeps searching for a `requirements` file on the root.

https://github.com/rtfd/readthedocs.org/blob/8c7123b4ba2b5401e3a351f124cf45b04975e503/readthedocs/doc_builder/python_environments.py#L255-L260

[2018-03-12 22:32] humitos commented on #3674
@pydanny just in case, the ability to filter by your own repos is already merged and working. It does not fix this issue but helps on filtering the respo :)

[2018-03-12 22:37] xflr6 commented on #2812
How about this?
[code]

[2018-03-12 23:03] humitos commented on #3396
I'm reopening this one to talk a little more.

I did a manual QA after the today's deploy and I'm not sure if the original issue is fixed or not. I think I'm confused.

Following the steps described in the description, I finally end with:

* http://rtd-project-a.readthedocs.io/projects/rtd-project-b/en/latest/ giving a 404 with the Maze and "This page does not exist yet"
* http://rtd-project-b.rea

[2018-03-12 23:53] ericholscher commented on #3396
`private` projects don't work at all on the .org, and we shouldn't try to support them.

[2018-03-12 23:58] ericholscher opened #3781 "Hide Privacy levels on the .org"
Currently we are still exposing privacy levels to users, but they don't work as intended. A refactor a long time ago broke "private" versions on the .org, and we don't have any real reason to support them, since all the branches are open source & public.

We should hide the UI around privacy levels, so that users stop setting things to private and then having them break.

[2018-03-13 00:00] ericholscher commented on #3753
💯 -- we definitely need to simplify this logic, but I agree that there isn't one obvious path forward.

[2018-03-13 00:12] stsewd commented on #3781
Related https://github.com/rtfd/readthedocs.org/issues/2663

[2018-03-13 00:18] stsewd commented on #2621
@atodorov this was part of a security bug (was already solved), now users can only add projects where they are owners as translation. And the circular project was also resolved. I'm not sure if now you can delete the project.

[2018-03-13 00:47] stsewd commented on #2812
@xflr6 I think that would work, will you like to make a PR? Also, some tests will be needed.

[2018-03-13 01:14] humitos commented on #3396
@ericholscher this is more a fix for the .com site, but as the code that handles privacy level is done in the .org site the issue/PR is reported here.

I did test this on my .com locally and it works, but what I think it's incorrect it's the description about how to reproduce it since it's not related to the "Project's privacy level" but the "Version's privacy level".

I mean, if I change the "Pro

[2018-03-13 02:43] humitos commented on #3769
Giving a little more of context, the command is called at https://github.com/rtfd/readthedocs.org/blob/8f2d59cdcdee0050feece79465d1a6c5c903ecf5/readthedocs/doc_builder/backends/sphinx.py#L195-L204

It's weird that it says `-d/--maxdepth` as it one is the short form and the other the long form, but the `sphinx-build` documentation says that `-d` is a path, not an int: http://www.sphinx-doc.org/en/m

[2018-03-13 03:20] MikeDacre commented on #3032
This issue now has a workaround implemented in `sphinx-argparse`: https://github.com/ribozz/sphinx-argparse/pull/84.

The issue still isn't *fixed* though, there still should be a way to use `CommonMark` greater than 0.5.4 in rtfd builds.

[2018-03-13 04:12] stsewd commented on #3779
@humitos I found 3 files (one is a comment, probably removing it would be a clean up :smile:) And also there is this function https://github.com/rtfd/readthedocs.org/blob/master/readthedocs/projects/views/public.py#L199 is really used this feature on the site? Or is abandoned?

[2018-03-13 06:47] jakirkham commented on #3769
Maybe it's coming from sphinx-apidoc?

https://github.com/sphinx-doc/sphinx/blob/2994c125132b6beb73c51de4cc224a2b1d55f741/sphinx/ext/apidoc.py#L325-L328

[2018-03-13 12:38] shubham76 opened #3784 "Collections of Projects"
The idea for this is stated [here](http://docs.readthedocs.io/en/latest/gsoc.html#collections-of-projects).
So here a collection of projects means the projects which a user finds interesting, he/she should be able to create a collection of those, right?
If that's the case then how to create an automatic collection using project's setup.py. Which project is being talked here?

Thank you so much for

[2018-03-13 14:10] stsewd commented on #3779
@rajujha373 let's wait to @humitos confirm us what is to be done with some files.

[2018-03-13 14:12] rajujha373 commented on #3779
Sure @stsewd :)

[2018-03-13 14:26] paugier opened #3786 "Error while cloning: abort: couldn't find mercurial libraries"
## Details

* Build URL (if applicable): https://readthedocs.org/projects/fluidsim/builds/6883162/
* Read the Docs username (if applicable): paugier

## Actual Result

The build failed because Mercurial does not seem to be installed on the server...

[2018-03-13 16:40] humitos commented on #3769
@jakirkham probably... do you know why this is happening? how do we use one `-d` (from Sphinx) or the other (from apidoc)?

[2018-03-13 18:08] mradamcox commented on #3763
Deleting and recreating the projects solved the problems I was having. I'll leave closing this ticket up to others, as I'm not sure if it actually points to a new or known bug.

[2018-03-13 19:10] humitos commented on #3786
This should be fixed now.

I'm closing the issue. Please, feel free to reopen if you still have the problem.

[2018-03-13 19:10] #3786 closed

[2018-03-13 20:18] stsewd commented on #3777
Reading the current docs, seems ok to me, because there is no mention of adding a project from other user, or nested translations allowed, so, I think with the current UI explains the limitations by itself.

[2018-03-13 21:41] #3664 closed

[2018-03-13 23:17] stsewd commented on #3346
I was able to build your docs successfully on my local instance (and also check on the .org site), can you try building again?

[2018-03-13 23:20] begriffs opened #3792 "Search result titles incorrectly include "(from project foo)""
## Expected Result

Search results should list the title of each page and a snippet.

[code]

## Actual Result

Each title ends with a note "(from project foo)"

[code]
[example](https://docs.citusdata.com/en/v7.2/search.html?q=testing&check_keywords=yes&area=default#)

## Cause

A recent commit to fix linter errors changed a `!=` operator to `!==`: https://github.com/rtfd/readthedocs.org/blame/e9

[2018-03-13 23:36] stsewd commented on #3792
Seems that the search functionality comes from a private repo https://github.com/rtfd/readthedocs.org/blob/d918a0fde1252ddbfa9c57dc6f196a207d65d9dc/readthedocs/restapi/urls.py#L95-L102.

[2018-03-14 02:25] humitos commented on #3792
@davidfischer seems that the linting PR around js code, breaks the search page results. It makes what @begriffs is saying here. Can you take a look at this?

[2018-03-14 03:31] RichardLitt commented on #3664
@ericholscher Do we have a list of great comments from really super nice people somewhere? If so, we should add this. :)

[2018-03-14 03:39] RichardLitt commented on #3784
I don't know the answer, but I do know that if you're kind enough to open an issue, than it is likely that other people didn't. We should edit the docs to include this information once we figure it out.

[2018-03-14 03:57] RichardLitt commented on #3757
@Jigar3 I think that @rajujha373 has taken a stab at it. Look at his solution; it should help you see how you could have done it. For now, I think that you don't need to help solve this one. I would suggest looking at some other issues which are currently open! Please always feel free to ask questions, but know that we are mostly volunteer run, and we may expect you to tinker around a bit sometime

[2018-03-14 04:20] shubham76 commented on #3784
Oh! Great! Thank you. :)

[2018-03-14 06:46] xflr6 commented on #2812
@stsewd I took a glimpse at the test setup: I don't think I'll find enough time to add that soon.

[2018-03-14 09:05] bansalnitish commented on #3792
We can revert this case as well as mark the check as a warning instead of error for fixing this issue.

[2018-03-14 09:18] veenamj opened #3794 "Request a workaround to redirect a sub-topic of an HTML page to a New HTML page."
## Details

* Project URL: Genearal Question
* Build URL (if applicable): NA
* Read the Docs username (if applicable): NA

## Expected Result

I need to redirect a subtopic of a page to the same topic that has been moved to the new page. Is that possible any way? ReadTheDocs Admin page only redirects page/exact redirects.

I have used the same cross-reference tag when I moved the subtopic to the n

[2018-03-14 09:51] rmihael opened #3795 "[Support] Can't reset password"
## Details

* Project URL: nimble.readthedocs.io
* Read the Docs username (if applicable): p.dmitriev@nimble.com

I am trying to reset the password for p.dmitriev@nimble.com through https://readthedocs.org/accounts/password/reset/.

## Expected Result

An email with a password reset link will arrive in p.dmitriev@nimble.com mailbox.

## Actual Result

No email arrived.

[2018-03-14 11:41] HannahVMeyer opened #3796 "Failure building documentation: "There was a problem with Read the Docs while building your documentation""
## Details

* Project URL: http://limmbo.readthedocs.io/en/latest/
* Build URL (if applicable): 6888310
* Read the Docs username (if applicable): HannahMeyer

## Expected Result
Successful build of documentation

## Actual Result
Error
There was a problem with Read the Docs while building your documentation.
Please report this to us with your build id (6888310).

The same error has occurred for bu

[2018-03-14 14:41] xrmx opened #3798 "Organizations to group a set of projects"
We (https://github.com/italia/) need to track the ownership of a set of project to an organization. That would mean something like have a view of e.g. all the aio-libs or pypa projects together.
That's a close match to RemoteOrganization but we need to augment it with some more fields like a title, description, short name, url, tags, and a whitelist of projects that we can hook to our RTD instance

[2018-03-14 14:47] ericholscher opened #3799 "Stop syncing `_static` directory for JSON"
Currently we are syncing the `_static` directory on our JSON builder. We should stop moving this across to the webs, because we never use it, and it's taking up _a ton_ of disk space. I've deleted it manually, but we should also make sure we stop syncing it in the future.

[2018-03-14 15:37] humitos commented on #3798
Hi @xrmx! I'm not 100% sure to understand your proposal but I think this could be similar to what we already have implemented in our corporate site (readthedocs.com); where you can create Organizations, add projects to the organization and manage different teams of users with different permissions over the docs: http://docs.readthedocs.io/en/latest/business/organizations.html

Is something like th

[2018-03-14 15:39] humitos commented on #3798
Another thing that could be related to what you are proposing here is `Collections of projects`, which is an idea under our GSoC program to be implemented: http://docs.readthedocs.io/en/latest/gsoc.html#collections-of-projects

[2018-03-14 15:43] xrmx commented on #3798
Yes something like that but AFAIK we don't  care about permissions much. We want this hierarchy:

docs projects -> umbrella project -> organization

docs is a subproject of umbrella and both need to be associated with an organization. Each organization will have an homepage and we want to being able to restrict search to projects of the same organization / umbrella project (see #3765)

[2018-03-14 15:46] humitos commented on #2707
@molpopgen some things regarding the build process has changed since this issue was reported and I see the last build was like a year ago. Can you try again to re-build your docs and let us know if the problem is still there?

[2018-03-14 15:58] shubham76 commented on #3775
Hey! Can I take this issue?

[2018-03-14 16:10] humitos commented on #3756
The email was marked as SPAM. I tried from a different account today. Let's see how it goes.

[2018-03-14 16:13] humitos commented on #3771
I sent an email to the owner today explaning the situation and linking this issue. Let's see how it goes.

[2018-03-14 16:34] molpopgen commented on #2707
@humitos, I no longer update this project, but I do work on a similar one replacing it.  RTD worked fine for that project for a while, but is suddenly plagued by problems again.  These issues came on w/o warning, and then suddenly seem to have gone away.

My current project is [this](https://readthedocs.org/projects/fwdpy11/).  I won't know if the build successes are luck or not until I make furth

[2018-03-14 17:00] #2707 closed

[2018-03-14 17:08] humitos commented on #328
Some good news, https://twitter.com/letsencrypt/status/973607502188195840

[2018-03-14 18:03] humitos commented on #3795
@rmihael can you check your SPAM folder or similar? Seems to be related to your own email account.

I just reset my own password and I got the proper email in my inbox.

[2018-03-14 19:12] RichardLitt commented on #3775
@shubham76 Go ahead! Make sure to link back to this issue in your PR (I normally do this in the body), especially if the PR only affects one of the subtasks and not the entire issue.

[2018-03-14 19:21] stsewd commented on #2812
@xflr6 don't worry, I'll take care of submit the fix with the tests.

[2018-03-14 20:34] humitos commented on #3779
I never touched the autosearch code, so to answer your question I would need to do probably exactly the same that you would need to do:

* check where that code is used
* think if it's correct that should be used there
* check against readthedocs.org if that code in that place works properly
* decide if it should stay or should be removed
* write some tests (if needed)
* remove the autocomplete co

[2018-03-14 22:03] rmihael commented on #3795
I checked all folders, no signs of this email. Other emails arrive just fine.

The only thing that is special about this account is that it was disabled for some time and now re-enabled. Could it be that your email delivery service applies some weird rules for such accounts?

[2018-03-14 22:13] humitos opened #3801 "Return 404 at SubdomainMiddleware level if project doesn't exist"
While deploying .com we found that `SubdomainMiddleware` doesn't check the existence of the project that it's injecting at `request.slug`.

So, any middleware that relies on this to do some extra work, will probably do something like `Project.objects.get(slug=request.slug)` and will fail.

We workarounded it by adding `try/except` block in the middleware that uses this, but we should probably just

[2018-03-14 23:31] orbingol commented on #3255
I think I figured this out. Since I am pretty sure that I haven't changed any settings after RTD integration of the repository, I am not sure why this has happened. It could be some GitHub issue, it could be something else or it could be the way things work or the things could have changed after I registered my repository to RTD, I have no information on that. However, I would like to explain how

[2018-03-15 04:16] #1893 closed

[2018-03-15 08:21] donpatrice commented on #2194
Did someone get this to work and would be so nice to share their experiences?

[2018-03-15 10:23] rajujha373 opened #3803 "Elasticsearch not working in local installation"
I am using readthedocs in my localhost but the problem here is that the search feature is not working and throws an exception everytime I search something.

Elasticsearch version 5.6.8 and i think it might be an issue related to the version of elasticsearch used. It would be great if the version to be installed shall be included into the [installation documentation](http://docs.readthedocs.io/en/l

[2018-03-15 13:27] stsewd opened #3806 "Specify version of yaml spec to use"
# Decision

Add version selection to schema. Schema version selection only uses major version, minor version is too granular. Current version is 1.0, work to complete spec will be under 2.0

Work required:
- [ ] Add version selection to all schema versions of the config file
- [ ] Work out a pattern to add multiple version parsing to the config file. How do we share config options that don't chang

[2018-03-15 16:36] krzychb opened #3807 "Two recent builds were terminated due to inactivity."
## Details

* Project URL: https://github.com/krzychb/esp-idf
* Build URL (if applicable):
  *  https://readthedocs.org/projects/esp-idf-kb-cn/builds/6896066/
   * https://readthedocs.org/projects/esp-idf-kb/builds/6896067/
* Read the Docs username (if applicable): krzychb

## Expected Result

Build should complete

## Actual Result

Build was terminated:

![image](https://user-images.githubuserco

[2018-03-15 16:41] stsewd commented on #3807
I see both build failed by timeout

![screenshot-2018-3-15 esp-idf-kb-cn read the docs](https://user-images.githubusercontent.com/4975310/37477426-b38c8790-2845-11e8-95a6-877f4900c084.png)

[2018-03-15 16:54] krzychb commented on #3807
Now I see the timeout as well.
This is strange the failure qualification has changed. I have not seen it before.

Thanks for looking into it this issue.

[2018-03-15 16:54] #3807 closed

[2018-03-15 20:11] krzychb commented on #3563
I do not see this issue anymore for some time already.
Happy to close it!

[2018-03-15 20:11] #3563 closed

[2018-03-15 21:46] YoungxHelsinki commented on #879
I had to put "https:~~" for youtube url.

[2018-03-15 22:34] stsewd commented on #3796
Hi, I import your project on my local instance and failed due memory limits, I think that's the problem you are experimenting. Note: I was able to build your docs successfully increasing the memory and time limit.

[2018-03-15 22:46] stsewd commented on #3794
Maybe this https://github.com/rtfd/readthedocs.org/issues/3465 is what you need?

[2018-03-15 23:30] agjohnson commented on #3775
This probably needs a little more hashing out before someone can jump in.

[2018-03-15 23:33] agjohnson commented on #3775
I raised this on the underlying PR comment already.

`readthedocs.core` is not an obvious spot for code, it doesn't mean much to me and has become a dumping ground for code. I'd prefer we look into a different pattern for moving these files around:

* Break up `readthedocs.projects.tasks` into submodules: `readthedocs.projects.tasks.build` or `readthedocs.projects.tasks.sync`, etc
* Move to an app

[2018-03-15 23:49] agjohnson opened #3810 "Installation instructions shouldn't mention python 2.7 anymore"
RTD runs on python 3! Drop the notice around using python 2.7 only.

Docs here:
http://docs.readthedocs.io/en/latest/install.html

[2018-03-15 23:51] stsewd commented on #3810
I was trying to change that on this PR
https://github.com/rtfd/readthedocs.org/pull/3631#discussion_r168938696

[2018-03-16 00:31] stsewd commented on #3738
@thjashin hey, I see your latest builds are passing, were you able to solve the issue?

[2018-03-16 00:35] stsewd commented on #3043
@petarmaric @guillochon can you try this https://github.com/rtfd/readthedocs.org/issues/3255#issuecomment-373564346?

[2018-03-16 00:35] stsewd commented on #2190
@jluttine can you try this #3255 (comment)?

[2018-03-16 00:52] guillochon commented on #3043
Yep that looks like the fix! Thanks @stsewd!

[2018-03-16 01:10] thjashin commented on #3738
@stsewd Thanks for asking. It passed because I'm using TF 1.4. I haven't got time to try the mock solution since I'm busy with other things these days. I will report in this thread once I try it.

[2018-03-16 01:20] rajujha373 commented on #3810
@agjohnson @stsewd @humitos installation docs for Readthedocs is missing out so much of information and in my opinion should be updated.
Like, I am stuck up with the version of elasticsearch to be used, tests always fail for python 36 (now I know because I was using py27 virtualenv). If there's a way I can contribute updating the docs, I would love to do so.

[2018-03-16 01:26] stsewd commented on #3810
@rajujha373 this PR #3631 aims to do that, can you take a look and tell if that covers your issues?. Also about elasticsearch, there is a discussion about dropping it from the installation guide for now, since in more cases isn't necessary for start to contributing.

[2018-03-16 02:50] orbingol commented on #3255
@agjohnson, removing/disabling `ReadTheDocs` service on the GitHub repo side definitely solves my problem. Although I've checked it once, there seems no multiple builds on the `devmaster` branch after the change. I also checked the RTD webhook options and I can only see the pushes that RTD receives as you said. Since the GitHub service is deprecated, I guess I can safely remove the service from th

[2018-03-16 05:53] ericholscher commented on #3664
@RichardLitt we don't! That sounds like a good idea though, as a morale boost for some days when we're feeling down. Perhaps similar to testimonials in our docs?

[2018-03-16 10:37] arh89 commented on #3769
I am seeing the same issue with a project that I work on - it seems to be either a bug or change in behaviour with the update from sphinx 1.7.0 to 1.7.1. Is there a straightforward way to force RTD to use v1.7.0?

[2018-03-16 10:48] rajujha373 commented on #3799
Hi @ericholscher , can you please provide more details regarding the issue. I am thinking to give a hit at it. :)

[2018-03-16 11:05] ericholscher commented on #3799
Sure. We currently copy JSON from the build servers to the web servers, so that we can reindex search results. That happens after the files are synced from the "json" builder to a place on the filesystem. That syncing is handled here:

* https://github.com/rtfd/readthedocs.org/blob/master/readthedocs/projects/tasks.py#L656-L660
* https://github.com/rtfd/readthedocs.org/blob/master/readthedocs/doc_

[2018-03-16 13:02] petarmaric commented on #3043
Sorry @stsewd, I can't test it as my project hasn't had any builds recently.

[2018-03-16 13:07] shubham76 commented on #3775
Okay! So we shouldn't move the code to `readthedocs.core` and instead to other submodules as you are suggesting.
In that case, I think I have messed up the PR. I'll start from scratch and try making changes as you had suggested [here](https://github.com/rtfd/readthedocs.org/pull/3804#issuecomment-373557172).

[2018-03-16 13:31] RichardLitt commented on #3664
@ericholscher Exactly. Maybe somewhere just internally at the company. It's a silly idea, but it helps you feel good. :) You'd know best on where to put it.

[2018-03-16 13:35] humitos commented on #3769
@arh89 yes, you can create a `docs/requirements.txt` (or similar) and pin the packages as you need and use the YAML config: http://docs.readthedocs.io/en/latest/yaml-config.html#requirements-file

[2018-03-16 14:04] rmihael commented on #3795
@humitos, can you suggest any other action that I can take? We cannot fix documentation because of this problem. Is it possible to change account's email to something else that belongs to our domain? devadmin@nimble.com will work for me. I can confirm this change from p.dmitriev@nimble.com mail.

[2018-03-16 16:57] cokelaer opened #3812 "sphinx build fails with "cannot import name 'TYPE_CHECKING' ""
## Details

* Project URL: sequana.readthedocs.io
* Build URL (if applicable): http://readthedocs.org/projects/bioconvert/builds/6901337/
* Read the Docs username (if applicable): cokelaer

## Expected Result

build with success

## Actual Result

error in the sphinx step with this error message:

[code]

I have looked around but could find much information.

Worked locally on a Linux box with Pyt

[2018-03-16 17:07] stsewd commented on #3812
The `TYPE_CHECKING` constant is from python 3.5.2. I think rtd is using a lower version.

https://docs.python.org/3.6/library/typing.html#typing.TYPE_CHECKING

[2018-03-16 17:13] stsewd commented on #3812
And according to Sphinx this is fixed on 1.7.2

http://www.sphinx-doc.org/en/1.7/changes.html#bugs-fixed

See also https://github.com/sphinx-doc/sphinx/issues/4725

[2018-03-16 17:21] humitos commented on #3812
@stsewd RTD uses Python 3.5.2 in the current Docker image.

@cokelaer your problem is that you are pinning Python 3.5.0 in your conda environment file: https://github.com/biokit/bioconvert/blob/master/environment_rtd.yml#L10 and trying to import `TYPE_CHECKING` from Python 3.5.0

So, in order to use the latest Sphinx you will need to upgrade your Python version. Otherwise, you need to downgrade yo

[2018-03-16 20:45] stsewd commented on #2646
@Jigar3 are you still interested or working on this issue?

[2018-03-17 01:58] jaredledvina commented on #3724
Any chance someone might have a few to take a look here? If I need to provide any additional information I'm happy too. (likewise if there's a better avenue to accomplish this, let me know!)

[2018-03-17 12:49] sabisoodart opened #3818 "What is a Vehicle Relocation Company?"
Sometimes in computer graphics, you have to promote depth of a long disaffect but arent practiced to bring along every the familial vehicles. These types of situations may come happening behind tallying jobs, in the military, past students going to university, or any number of growth instances. Rather than sell the vehicle or find just anyone to purpose it to your added destination, you may nonapp

[2018-03-17 16:11] ssbarnea commented on #3734
Any updates on this? I don't fancy having to pin-down sphinx version just to allow RTD to succeed doing the build.

[2018-03-17 17:48] ssbarnea commented on #2149
This bugs should be reopened, RTD fails to install correct version of sphinx, even if the project specifies it.

See https://readthedocs.org/projects/jira/builds/6905467/

[2018-03-17 18:14] stsewd commented on #3734
@WoLpH you need to go to `versions` and  then to `edit`, there is a `wipe` button.

@ssbarnea did you try wiping the env? Also you can have a requirements file just for rtd.

[2018-03-17 18:21] ssbarnea commented on #3734
@stsewd **Thanks!** Finally after using the magic wipe button, I was able to successfully build it.

Does this also means that we could try to use newer versions of sphinx like 1.7.1 without problems on RTD?

[2018-03-17 18:34] stsewd commented on #2149
Resolved on https://github.com/rtfd/readthedocs.org/issues/3734#issuecomment-373941644

[2018-03-17 18:35] stsewd commented on #3734
Yes, you can use the sphinx version that you need, just be aware of this Sphinx bugs https://github.com/rtfd/readthedocs.org/issues/3812, https://github.com/rtfd/readthedocs.org/issues/3769

[2018-03-18 14:08] ssbarnea commented on #1340
Any news on this? I do build sphinx docs with Travis on multiple projects but it seems that even if building docs with travis may succeed, it may not succeed on RTD, causing more trouble.

As I find much easier to build docs myself, fully integrated into CI pipeline, I am starting to wonder what are the real benefits of using RTD in this case, as it seems to be a PITA.

Did anyone managed to find

[2018-03-18 14:32] Peque commented on #1340
@ssbarnea Just add the documentation build to your tests (use `-W` if you want it to fail even with warnings).

[2018-03-18 14:48] ssbarnea commented on #3734
It seems that RTD triggers two builds when I push to master and one of them is failing with the Signature error. Look at https://readthedocs.org/projects/jira/builds/

If I cleanup and retrigger the build from RTD web interface it does succeed. I already spend more than half of the weekend trying to make RTF behave,... and still out of luck :(

[2018-03-18 16:42] rmagee commented on #1599
I had this same problem, turns out it was block quotes in one of my .md files.  Seems like this is still an issue.  Once I removed the block quotes it built.

[2018-03-18 17:17] xrmx commented on #3803
You should use a 1.x version of elasticsearch, I think 1.3.x is the one that should work. 1.5.8 did not work for me.

[2018-03-18 17:19] xrmx commented on #3803
Also see https://github.com/rtfd/readthedocs.org/issues/3697

[2018-03-18 20:00] ShalokShalom opened #3819 "Dark theme"
Is there a dark theme?

[2018-03-18 22:45] stsewd commented on #1599
@rmagee can you provide the build url? Or maybe open a new issue with more information, so we can help you.

[2018-03-18 22:54] stsewd commented on #3734
@ssbarnea there are two builds probably because you have activate two versions: `master` and `latest`, but `master == latest`, you can deactivate `master`. Also I see that `latest` is the one version that is failing, that's because you only wipe `master` (rtd makes a new environment for each version, doesn't matter if they are the same commit/branch). If you wipe `latest` probably you will no have

[2018-03-18 23:00] stsewd commented on #1340
@ssbarnea this is what you get from rtd for free :wink: https://docs.readthedocs.io/en/latest/features.html

I'm not sure how this feature would be integrated (rtd would have a lot of _temporal_ docs), you can have something like this for checking your builds

https://github.com/rtfd/readthedocs.org/blob/e73b266558af84745dd1cfc9e9dec7aa3e091dde/tox.ini#L21-L24

And maybe using `rstcheck` (somethin

[2018-03-19 08:58] cokelaer commented on #3812
I see.  I will try updating my recipes and let you know the outcome. thanks

[2018-03-19 09:13] cokelaer commented on #3812
it works. thanks. I'm closing this issue.

[2018-03-19 09:13] #3812 closed

[2018-03-19 14:07] ahmedakef opened #3820 "try to run RTD in my local machine"
## Expected Result

the project run smoothly after going with this [docs](http://docs.readthedocs.io/en/latest/install.html)
i am using windows 10
## Actual Result

[code]

[2018-03-19 15:32] davidfischer commented on #3819
Are you talking about a Sphinx documentation theme? Read the docs itself only produces one theme (https://github.com/rtfd/sphinx_rtd_theme) and it is not exactly a dark theme. However, if you look around I suspect there are dark themes.

Here's an incomplete list of Sphinx themes and what they look like:
https://github.com/rtfd/rtd-sphinx-themes-examples

[2018-03-19 15:59] RichardLitt commented on #3724
cc @humitos or @agjohnson?

[2018-03-19 16:00] RichardLitt commented on #3818
I've reported this as spam.

[2018-03-19 16:00] #3818 closed

[2018-03-19 16:33] ShalokShalom commented on #3819
I mean for readthedocs?

[2018-03-19 16:49] humitos commented on #3724
@jaredledvina hi! I just send and email to @cmacrae. Let's see if we have any sucessful reply.

[2018-03-19 16:54] davidfischer commented on #3819
There isn't. However, there is some significant UI changes in the works. While I can't promise anything,  would you be looking for?

[2018-03-19 17:46] ahmedakef commented on #3820
when i try to run `createsuperuser` i got this problem also

[code]

[2018-03-19 17:50] ShalokShalom commented on #3819
Sure :D

[2018-03-19 18:26] stsewd commented on #3820
@ahmedakef that's because you are running on git bash? Try running it on the windows cmd. But as I say, rtd doesn't work on Windows. And since this isn't a rtd bug, I think is best to ask on the gitter channel https://gitter.im/rtfd/readthedocs.org

[2018-03-20 11:49] xrmx opened #3825 "Search testing"
AFAIK I've taken a stab at writing some tests for search indexes and helpers. Code does not look pretty but works fine. Any hint from someone with more mocking experience than me is much appreciated.
The goal here is to test that we are constructing the query correctly.
On top of this it would be nice to have some integration testing, not run by default, so we can check that code works in practice

[2018-03-20 13:00] xrmx commented on #3825
Another option would be to mock urllib3 responses, that would be helpful for code that parses ES responses, not so sure for testing code that queries ES.

[2018-03-20 14:03] rmihael commented on #3795
@humitos, sorry to bother you, but this problem is blocking us. Is there anything that I can do to recover access to this account?

[2018-03-20 15:53] cdwilson commented on #3769
Pinning `sphinx==1.7.0` in `requirements.txt` fixed this for me also.  I'm getting the same error with 1.7.1.

[2018-03-20 19:53] agjohnson opened #3826 "Documentation search page subproject display is incorrect"
When searching for a term on our documentation, the search headings now have information from the wrong search index

For example:
![screenshot 2018-03-20 13 48 13](https://user-images.githubusercontent.com/1140183/37679154-bcae8482-2c45-11e8-8c3a-ddc994a5a4aa.png)

The addition of "(from project docs)" should only happen on a superproject search. This text indicates the project slug that the sear

[2018-03-20 20:04] stsewd commented on #3826
Isn't this a duplicate of https://github.com/rtfd/readthedocs.org/issues/3792?

[2018-03-20 20:14] agjohnson commented on #3826
Yup!

[2018-03-20 20:14] #3826 closed

[2018-03-20 23:44] humitos commented on #3795
@rmihael Hi! Don't worry. I don't know what's the process here, so I'm asking to not screw anything :)

I'm sorry that I don't have the solution yet.

[2018-03-20 23:47] humitos commented on #3792
Why `fields.project` is `['foo']` instead of just `'foo'` in first instance? Maybe that it's what needs to be changed, right?

[2018-03-21 00:01] davidfischer commented on #3795
@rmihael, I sent an email to `p.dmitriev@nimble.com` from my readthedocs.org email account. Please respond to that email to confirm your ownership over the account in question.

[2018-03-21 02:11] humitos commented on #2471
I think this issue can be closed in favor of https://github.com/rtfd/readthedocs.org/pull/3312

If you check all the issues linked in the description, most/all of the builds are in FAILED state with the message: "This build was terminated due to inactivity".

Is the implemention of this task missing something regarding this issue?

[2018-03-21 05:48] shimizukawa commented on #2444
+1 to redirecting old-branch to new-branch

[2018-03-21 05:54] tk0miya commented on #2444
+1

[2018-03-21 08:42] xrmx commented on #3820
On Windows 10 "Windows subsystem for Linux" might be your best bet.

[2018-03-21 09:31] cmacrae commented on #3724
Hi guys 👋 Sorry about the delayed response. Yes, I'm absolutely happy for ownership/permissions to be granted for this. Let me know if there's any action I need to take!

[2018-03-21 09:46] rmihael commented on #3795
@davidfischer, I just replied. Thank you for help.

[2018-03-21 13:31] barbara-sfx commented on #2444
@fgalan  I think you want to go into the Versions setting and change develop (which is what I imagine is there now) to master. In our case, $version = latest

![image](https://user-images.githubusercontent.com/17709550/37712525-8c9d2c44-2cea-11e8-9807-3464f7130a95.png)

[2018-03-21 14:52] xrmx commented on #3798
So I've digged a bit more in the code. It looks like that we can leverage RemoteOrganization and add our logic into a Custom GithubService. One change that would make this job easier is to make the `oauth.services.__init__.registry` and thus the `oauth.utils.SERVICE_MAP` overridable from a config file. Would you accept a PR doing that?

[2018-03-21 15:18] humitos commented on #3724
To grant permissions to @jaredledvina so he can update the docs, you have to go to https://readthedocs.org/dashboard/ansible-sense/users/ and add @jaredledvina user. Thanks a lot!

[2018-03-21 15:22] cmacrae commented on #3724
Thanks! All done - @jaredledvina

[2018-03-21 15:32] humitos commented on #3769
Thanks @cdwilson!

I'm closing this issue since it's not a RTD bug or similar but a problem between sphinx and apidoc, and we already have the workaround proposed by @cdwilson.

Feel free to reopen if you consider. Thanks!

[2018-03-21 15:32] #3769 closed

[2018-03-21 15:41] humitos commented on #3724
@cmacrae thanks a lot!

I'm closing the issue since I can see @jaredledvina as a member of the project now. In any case, feel free to reopen if you consider.

[2018-03-21 15:41] #3724 closed

[2018-03-21 16:34] davidfischer commented on #3795
Thanks I received it and sent a temporary password to that email. I'm glad we got this sorted out.

[2018-03-21 16:34] #3795 closed

[2018-03-21 16:38] rmihael commented on #3795
Thank you so much!

[2018-03-21 16:52] humitos commented on #3769
@jakirkham thanks for your report.

This is a different problem I'd say since here, even that you are pinning the sphinx version via conda YAML file, RTD is running this command _after_ yours:

     conda install --yes --name latest mock pillow sphinx sphinx_rtd_theme

and then `conda` upgrades the `sphinx` package to the latest version. Can you open a new issue with an explanation to track this s

[2018-03-21 17:06] jakirkham opened #3829 "Ability to pin Sphinx and friends in a conda environment"
## Details

* Project URL: https://readthedocs.org/projects/dask-image/
* Build URL (if applicable): https://readthedocs.org/projects/dask-image/builds/6925299/
* Read the Docs username (if applicable): (same as GitHub)

## Expected Result

We are [currently pinning Sphinx]( https://github.com/dask/dask-image/blob/3d68897828e7b234b80d85548fb82ca8791af098/environment_doc.yml#L9 ) with the expectati

[2018-03-21 17:07] jakirkham commented on #3769
Thanks @humitos. Agree that it is a different problem. Have raised as issue ( https://github.com/rtfd/readthedocs.org/issues/3829 ). Please let me know if there is anything else we should add to that.

[2018-03-21 17:17] humitos commented on #3829
In my comment https://github.com/rtfd/readthedocs.org/issues/3769#issuecomment-375014874 I mentioned that the problem is the order of the commands executed.

RTD first:

1. create the env using the `yaml` provided by the user
1. install the needed packages to build the documentation (`mock` `pillow` `sphinx` `sphinx_rtd_theme`)

The last step that installs these packages will UPGRADE them if they

[2018-03-21 17:42] jakirkham commented on #3829
cc @kalefranz

[2018-03-21 17:48] kalefranz commented on #3829
Until https://github.com/conda/conda/issues/6845 was filed, I hadn't recognized that we didn't cover that use case.  Right now, unfortunately, there's no good way :(

[2018-03-21 19:40] barbara-sfx opened #3830 "Can I redirect a tag in one doc to a tag in another doc?"
I know how to do a page redirect, and already have one that goes from one page to a tag on another page:

a.html --> b.html#tag

My question is, can I have multiple redirects from different tags on the same page? So for example:

a.html#tag-a1 --> b.html#tag-b
a.html#tag-a2 --> c.html#tag-c

?

[2018-03-21 19:54] stsewd commented on #3829
This is the relevant part of the code

https://github.com/rtfd/readthedocs.org/blob/673bfc7938d8d50d9bda39a62aed08ff41d481ed/readthedocs/doc_builder/python_environments.py#L333-L357

Where conda is installed first and then rtd installs its pip requirements

@humitos isn't an option pin the sphinx version like is done with the python environment?

https://github.com/rtfd/readthedocs.org/blob/673bfc

[2018-03-21 19:58] stsewd commented on #3829
Kind of related to #1364

[2018-03-21 20:44] humitos commented on #3829
@stsewd we decided to unpin them some time ago because we had incompatibility problems with conda https://github.com/rtfd/readthedocs.org/pull/2876

I think what we are doing now is correct, but we need `conda` to behaves like `pip` in that way of "ensure installed without upgrade"

I'm marking this as blocked on https://github.com/conda/conda/issues/6845 for now.

If there are someone with a bett

[2018-03-21 21:00] fgalan commented on #2444
A long time has passed since I needed this (October 2016). I'm not sure, but I don't remember that Versions settings that time. Has it been introduced recently (in the Octuber 2016 to now timeframe)?

[2018-03-21 21:02] barbara-sfx commented on #2444
Well, it's there now, so either it was there and you didn't know it, or it has in fact been added since then. I don't know which.

[2018-03-21 23:55] humitos commented on #3806
Thanks to raise this @stsewd! We chatted about this some weeks ago but we didn't opened an issue or write our thought anywhere, so this is a good start.

What would be the benefits of using a `2.x` version (minor) in the file instead of using just `2` or `3`?

[2018-03-22 03:33] stsewd commented on #3806
@humitos I was thinking something like the docker-compose.yaml spec https://docs.docker.com/compose/compose-file/. If is just introducing a new option or something "not breaking" we use a minor version, but if there is a big change on the spec, we use the mayor version, so this way we don't end with a _version 13_ too soon p:

[2018-03-22 04:11] molpopgen commented on #2707
Here is an example of a failed build: https://readthedocs.org/projects/fwdpy11/builds/6928074/

Nothing has changed about the RTD setup, and the only difference from the successful build of the same branch 3 weeks ago is a minor PR which passes on Travis (as well as on several of my own systems):  https://travis-ci.org/molpopgen/fwdpy11/builds/356684112

No idea why pthread is failing.

[2018-03-22 04:22] stsewd commented on #2707
Maybe some memory limit?

I will test this project on my local instance tomorrow.

[2018-03-22 07:26] rajujha373 commented on #3803
Thank you @xrmx .
 I downgraded the elasticsearch to version 1.3.8 and run <code> python manage.py reindex_elasticsearch </code> to make it running.

[2018-03-22 13:46] molpopgen commented on #2707
If so, then there's no indication of that in the latest build failure: https://readthedocs.org/projects/fwdpy11/builds/6928074/.

If you do test the project, the dev branch is the relevant one.

[2018-03-22 14:20] stsewd commented on #3803
@rajujha373 @xrmx would be awesome if you write a guide of how to make elastic search woking. Maybe under https://docs.readthedocs.io/en/latest/guides/index.html or on the `Developer Documentation` toctree.

[2018-03-22 14:21] xrmx commented on #3803
@stsewd I'll gladly write one once https://github.com/rtfd/readthedocs.org/pull/3787 is merged :)

[2018-03-22 14:28] stsewd commented on #2707
Yeah, there are several projects with the same problem, the current implementation can't detect all the memory limit errors #3613. I see you mention `doxygen` on some previous comment, maybe #3580 could help?

[2018-03-22 15:02] molpopgen commented on #2707
I no longer use doxygen.  The frustration here is that the failures are random, suggesting that limits are hit on some build nodes but not others maybe?

For this latest build, there's even less code to compile than the last successful build, and the point of failure seems to have been on one of the lighter files, too.

Is it possible to actually see detailed build logs?

[2018-03-22 17:08] humitos commented on #3806
Yeah, I also was thinking in something like `docker-compose.yml` :), but I think we can handle the semver (major and minor number) internally and only expose the major number to the users since I don't see any benefit on pinning to `2.1` instead of the latest `2.x`. So, using just `2` should be enough.

Then, if we make breaking changes, that will be version `3`; but we can still add features or f

[2018-03-22 17:23] stsewd commented on #3806
@humitos I was thinking to versioning the spec, not the implementation (so, in this case will be not bugs to fix, just modifications on the spec). I mean if the spec was something like this `versions: None` and then change to `versions: []` we only change the minor versions (it's a breaking change but no _too breaking_). Not sure if that make sense :grin:

[2018-03-22 17:59] stsewd commented on #2707
@humitos of what I understand the builds sometimes success and others not. And I was trying to build the docs on my local instance and got a memory limit error.

[2018-03-22 17:59] molpopgen commented on #2707
No.  That is an intentional part of the build system.  There are tests performed to determine if C++14 is available.  The test is based on a method provided by pybind11, upon which this project is based. If this error were the show-stopper, the build log would have ended there.

This repo is *known* to build correctly in conda systems, both on Travis and in the real word.  The C++14 detection also

[2018-03-22 18:02] humitos commented on #3612
This seems to be a problem specific to `pip` and not RTD.

In any case, if you don't needs `matplotlib` (or any other dependency) to build your docs you shouldn't make it required to build the docs by having a separate `requirements.txt` file.

The cache is useful for all the projects to not re-download the same packages all the time. So, we shouldn't add the `--no-cache-dir` option.

I'm closing

[2018-03-22 18:02] #3612 closed

[2018-03-22 18:12] humitos commented on #2837
@snowman2 many things has changed regarding the building process and I see your lastest builds (between nine-six month ago) were working properly.

I'm closing this issue here, but feel free to re-open if you consider. Thanks!

Yes.

[code]

[2018-03-22 18:12] #2837 closed

[2018-03-22 18:12] molpopgen commented on #2707
@stsewd Did it die at the same point as my last RTD build?

[2018-03-22 18:15] molpopgen commented on #2707
The failures seen in my latest build attempt of the dev branch end with this as the error:

[code]

Is that compatible with a memory limit error?  It really seems like an environment issue, and one that I cannot control.  I'm installing the dependencies via conda as I always do, using methods which work for Travis, bioconda, etc.

[2018-03-22 18:34] RichardLitt commented on #3803
Let's keep this open until there's a guide PR to close it, then. :)

[2018-03-22 18:47] humitos opened #3832 "Update quickstart from README"
In our Quickstart guide from the README, https://github.com/rtfd/readthedocs.org#quickstart-for-github-hosted-projects we are pointing to the user to use the "Manual Import" to import a project from GitHub.

We need to re-write it to use the steps to import a project from a GitHub linked account instead (basically, add the steps to link your account and remove the steps to setup the webhook).

[2018-03-22 19:41] stsewd commented on #2707
@molpopgen I tested your dev branch with memory limit increase, it fails on the same step now :/

[code]

[2018-03-22 20:02] molpopgen commented on #2707
@stsewd Thanks.  I strongly believe that there's something going amiss with setting up the RTD environments.  I just manually triggered a new build of the dev branch,which has had no new commits to it.  The build passed: https://readthedocs.org/projects/fwdpy11/builds/6932137/

[2018-03-22 20:06] #3644 closed

[2018-03-22 20:50] Peque opened #3833 "Build failed"
Not that it affected me, but in case it helps, and as readthedocs asks me to report an issue...

Build number 6932440.

![screenshot from 2018-03-22 21-48-41](https://user-images.githubusercontent.com/526577/37797706-d91ee310-2e1a-11e8-8020-1b86ad7f1364.png)

Thanks for this great tool! It usually works great. :blush:

[2018-03-23 02:17] rajujha373 commented on #3803
@RichardLitt  @stsewd Shall I write the guide for this then? @xrmx can update the guide once #3787 is merged :)

[2018-03-23 02:26] agjohnson commented on #3830
The anchor portion of the URL, that is `#tag-a1` etc, doesn't actually get transmitted to the server on request, it's only in the browser on the client side. You could do this by adding some custom javascript to your documentation however. The javascript would need to check for the page url and the anchor, and then redirect if there is a match.

Heading level redirects could be an interesting feat

[2018-03-23 02:33] agjohnson opened #3834 "Support mercurial subrepositories"
With a lot of the work we're doing in git submodules lately, we realized we don't support mercurial subrepositories. We should probably do that, as there probably isn't a huge reason not to.

This might involve bringing mercurial back in as a dependency so that we can get the repo configuration/etc through a native python binding.

[2018-03-23 02:35] agjohnson opened #3835 "Move core/validators"
I am not a fan of our `core` application as a lot of code is dumped there.

`core/validators` has some validators specific to projects that should be in a `project/validators` instead.

[2018-03-23 02:46] stsewd commented on #3803
@rajujha373 I'm not the one to said it, but looks like the PR that #3787 is based on (#3373) was marked as blocked a couple months ago

![screenshot-2018-3-22 upgrade search app to elastic search 5 4 by ericholscher pull request 3373 rtfd readthedocs org](https://user-images.githubusercontent.com/4975310/37808783-336f6138-2e1a-11e8-872a-aa53f53926f7.png)

So, I think is is safe to write the guide

[2018-03-23 09:11] QiayuanLiao commented on #2487
how to fix it?

[2018-03-23 11:50] rajujha373 opened #3836 "Build failing and stuck at Triggered state at local installation"
At the local installation of RTD when a new project is imported, the build is failing with the following error message.
<pre>
[23/Mar/2018 06:36:06] readthedocs.projects.tasks:284[14368]: ERROR An unhandled exception was raised during build setup
Traceback (most recent call last):
  File "/home/raj/Desktop/opensource/READTHEDOCS/readthedocs.org/readthedocs/projects/tasks.py", line 268, in run

[2018-03-23 12:07] humitos commented on #3803
I don't know. I'd wait for Eric to reply --who is the one that originally started this work.

[2018-03-23 12:33] rajujha373 commented on #3803
Cool @humitos , I am writing the guide then

[2018-03-23 15:34] gaborbernat commented on #2194
I did, does requires some modifications to the code. Will upstream it back over the next weeks, and also add documentation how to set it up.

[2018-03-23 16:11] stsewd commented on #3836
`setup_env'` is a method declared on the rtd source code, so you don't need to installed it. Did you change the port when running `python manage runserver`?

[2018-03-23 16:54] davidfischer commented on #2487
It's unclear precisely how this was fixed since that project no longer exists but I suspect he fixed it along these lines: http://www.sphinx-doc.org/en/stable/ext/math.html

[2018-03-23 17:05] varunotelli commented on #3832
Hey I'd like to take up this issue. But could you explain what exactly I need to do?

[2018-03-23 17:13] apcraig opened #3837 "Build fails to git checkout a specific hash/tag successfully"
## Details

* Project URL: https://readthedocs.org/projects/cice-consortium-cice
* Build URL (if applicable): https://readthedocs.org/projects/cice-consortium-cice/builds/6936625/
* Read the Docs username (if applicable):  apcraig

## Expected Result

Documentation would checkout and build for a tag.  This works fine with master and other branches, but not with tags.

## Actual Result

I am trying

[2018-03-23 17:22] #3744 closed

[2018-03-23 17:39] humitos commented on #3691
@agjohnson this seems to be fixed now. I removed all my local files and I didn't have any problem with re-building them again.

[code]

[2018-03-23 17:40] #3493 closed

[2018-03-23 17:47] #3482 closed

[2018-03-23 18:10] Kobzol commented on #3062
It works after server upgrade to 16.04 (https://github.com/rtfd/readthedocs.org/pull/3615) :-) Thanks!

[2018-03-23 18:42] humitos commented on #3062
@Kobzol nice! thanks for the update here. I'm closing this issue. Feel free to reopen if you consider ;)

[2018-03-23 18:42] #3062 closed

[2018-03-23 18:59] molpopgen commented on #2707
@stsewd -- my mistake!  I triggered a build of "latest", not "dev" yesterday.

[2018-03-23 19:03] agjohnson opened #3839 "Simplify vcs_support backend git by using GitPython"
We already started using GitPython for some submodules pieces. We should continue porting some of our hand rolled logic to use GitPython instead.

Pieces of `readthedocs.vcs_support.backend.git` we should definitely port:

* `parse_branches()` -- this supersedes a branch I started at #2997 to replace parsing this with a csvreader
* `parse_tags()` -- same silly code using a csvreader
* `find_ref()`

[2018-03-23 19:24] agjohnson opened #3840 "Improve regexes"
Raised in #3533, we could be doing better on our regexes in our vcs provider detection. There are some other sources for this information, so either we include these in our regex checks, or we rely on something more established so we're not maintaining this ourselves.

[2018-03-23 19:25] molpopgen commented on #2707
@stsewd I managed to get the dev branch working.  The trick was to remove gcc from the list of conda dependencies.  This removal results in using whatever built-in compiler happens to be there.

Not using the conda gcc may or may not be ok in general.  I'm unable to figure out what packages the RTD build environment is using, but if it is GCC >= 5, then there's the risk of link-failure when compil

[2018-03-23 19:57] molpopgen commented on #2707
@stsewd Installing gcc + libgcc from conda also fails.

It should probably be documented NOT to use the conda gcc.

[2018-03-23 20:04] humitos commented on #2707
It's 5.4.0. I pasted in my previous comment: https://github.com/rtfd/readthedocs.org/issues/2707#issuecomment-375398636

If you want to check any version of any package used to build the docs, you can pull the docker image used to build the docs:

    docker pull readthedocs/build:2.0

Then run bash on this image:

    docker run --rm -it readthedocs/build:2.0 bash

and use `apt` or whatever you w

[2018-03-23 20:13] molpopgen commented on #2707
@humitos -- Thanks.

So, having GCC 5.4 in the env is a feature or a bug, depending on the goals.  The feature is that you can use all of c++11 and most/all of C++14.  That's great.

The bug side is that RTD intends to support building docs for packages needing compilation, and that dependencies can be pulled in via conda.  The current conda compiler is GCC 4.8.5.  That gives you C++11, but not C+

[2018-03-23 21:44] irmen commented on #3837
Encountering the same issue. seems like the git checkout process for "stable" documentation releases tries to do something wrong to get the tag it needs to checkout.  This used to work.

[2018-03-23 22:19] brettcannon opened #3841 "Changing a tag to a branch leads to original and `_b` versions"
## Details

* Project URL: http://gidgethub.readthedocs.io
* Build URL (if applicable): N/A
* Read the Docs username (if applicable): brettcannon

## Expected Result

RTD to notice I changed a tag to a branch and then drop the old branch (in this case, `stable`).

## Actual Result

I now have a `stable` version for the now-deleted tag and a `stable_b` label for the branch. This breaks bookmarks fo

[2018-03-23 22:21] brettcannon commented on #3841
FYI I have temporarily turned off which version gidgethub.rtfd.io points to until/if this can be resolved (just in case people trying to diagnose what happened wonder why the site changed).

[2018-03-24 00:48] stsewd commented on #1820
@ThomasWaldmann (and other people having this issue) can you try re-building your project and see if the problem is solved?

According to https://github.com/rtfd/readthedocs.org/pull/3615#pullrequestreview-106594994 it should.

[2018-03-24 02:53] agjohnson opened #3842 "Stable versions are broken"
For instance: http://readthedocs.org/projects/docs/builds/6938938/

[2018-03-24 02:59] stsewd commented on #3842
Related issues https://github.com/rtfd/readthedocs.org/issues/3841, https://github.com/rtfd/readthedocs.org/issues/3837

[2018-03-24 03:12] humitos commented on #3842
Previous `stable` passing is this one: http://readthedocs.org/projects/docs/builds/6933018/

Note that the only difference is that now the `git checkout` command is adding the `origin/` to the commit. Guessing, I would say that maybe some output has changed between Git 1.9 and Git 2.7.4 that was upgraded with the Ubuntu upgrade (a couple of days ago). Not sure, anyway.

[2018-03-24 03:17] stsewd commented on #3842
@humitos I think it is due the git upgrade, on my local instance I can't reproduce this. But the checkout commands are different

![screenshot-2018-3-24 cice-consortium cice read the docs](https://user-images.githubusercontent.com/4975310/37859813-e53ba4e4-2ee7-11e8-9866-3f33f4e98da3.png)
![screenshot-2018-3-23 test-build read the docs](https://user-images.githubusercontent.com/4975310/37859814-e8

[2018-03-24 03:43] stsewd commented on #3842
Now I was able to reproduce this on my local instance with this project https://github.com/irmen/Pyro4

![screenshot-2018-3-23 pyoro read the docs](https://user-images.githubusercontent.com/4975310/37860022-8e0702be-2eeb-11e8-886a-408427782a20.png)

[2018-03-24 04:13] stsewd commented on #3842
Found it!

The error is here

https://github.com/rtfd/readthedocs.org/blob/f3c0c0aa33c6017951b900e540d61ef36ea71d4e/readthedocs/vcs_support/backends/git.py#L250-L252

This is because before `code` was the original `exit_code` of the command, but after #3831(I think) the original `exit_code` is lose. This is something I was wondering while writing tests on https://github.com/rtfd/readthedocs.org/pu

[2018-03-24 14:38] anarcat commented on #1820
i rebuilt the "stable" branch of the borg repo (not sure why i still have access to that, @ThomasWaldmann, btw ;), and we still see the issue.

[2018-03-24 14:43] anarcat commented on #1820
the tag links are a little better, but still ackward. e.,g. it goes to https://github.com/borgbackup/borg/edit/1.1.4/docs/usage/general.rst which says "Sorry, it looks like your fork is outdated!"

[2018-03-24 15:01] Legolasindar opened #3845 "How to add custom font in the rtd project (no local)?"
## Details

* Project URL: https://readthedocs.org/projects/1ra-manual-dentrenament-basic-de-combat/
* Build URL (if applicable): https://readthedocs.org/projects/1ra-manual-dentrenament-basic-de-combat/
* Read the Docs username (if applicable): Legolasindar

Sorry, i search in the oficial web, in google, in reddit, and others, but i cant found the solution for my problem, and i cant find any ofic

[2018-03-24 16:20] molpopgen commented on #2707
@humitos -- Related to this docker stuff, is there a specific set of commands one should use to attempt to build a package using the exact method that RTD uses?

A different project of mine is failing to build, and I cannot reproduce the error on any of my machines, nor can I find a "for dummies recipe" for building via Docker.  I see there's a `tasks.py` referred to [here](http://docs.readthedocs

[2018-03-24 18:22] rajujha373 commented on #3836
Yes, I did. I tried to run the server at
<code> 0.0.0.0:8080 </code>
 <code> 127.0.0.1:8000 </code>
<code> 0.0.0.0:8000 </code> and
<code> 127.0.0.1:8080 </code>
but with no success

[2018-03-25 01:06] molpopgen commented on #2707
@humitos I managed to build the dev branch of [my other project](https://github.com/molpopgen/pylibseq) in the Docker image.  Even though I probably didn't use the exact same commands, I reproduced the build failure there and pushed a fix for it that seems to work ok in general.

However, after the fix, there are still missing symbols errors when attempting to build the manual.  These are in a C++

[2018-03-25 03:56] shubham76 commented on #3775
Hey! So how many submodules should we have to move above mentioned files into?

[2018-03-25 06:34] stsewd commented on #3845
Maybe with this https://docs.readthedocs.io/en/latest/guides/adding-custom-css.html? So you can add a css with the custom font (from the `_static` folder or from the internet)

[2018-03-25 07:50] ze opened #3848 "Design Inconsistencies in Projects page and Other Oddities"
As mentioned in my discussion with @stsewd in #3844, there are some general design inconsistencies with the projects page and other small design tidbits.

I'll first mention any possible browser dependent issues, I don't have any confirmation if this is across all operating systems and browsers, but I'm currently on Ubuntu 17.10 Google Chrome 65.

- The text in all "button"s in the options div is

[2018-03-25 09:10] Legolasindar commented on #3845
Thanks but, the RTD creates conf.py, but not in my git repository. I cant found this file in anyway.
All documentation of RTD speak about local linux install RTD, but never about uses RTD web.
I not understand how extrat the conf.py and other to put in my git project.

[2018-03-25 09:22] Legolasindar opened #3849 "Fail on build PDF version"
## Details

* Project URL: https://readthedocs.org/projects/1ra-manual-dentrenament-basic-de-combat/
* Build URL (if applicable): https://github.com/CavallersDelCel/1RA_EBC/blob/master/docs/index.rst
* Read the Docs username (if applicable): Legolasindar

## Expected Result

Pass for version with PDF enabled.

## Actual Result

When i enable the PDF option, RTD not build well the final doc. This s

[2018-03-25 17:41] humitos commented on #2533
Since #3618, I'd say that this is not longer going to be implemented by RTD core team. I'm closing this here, but feel free to reopen if you consider.

[2018-03-25 17:41] #2533 closed

[2018-03-25 17:45] stsewd commented on #3836
@rajujha373 did you follow the instructions when changing the port?

https://docs.readthedocs.io/en/latest/install.html

Also here is a _better guide_ that maybe you can follow https://github.com/rtfd/readthedocs.org/pull/3631

[2018-03-26 01:20] humitos commented on #3842
Just a note for next week.

We should be careful with all the `record_as_success` that use the exit code to decide something.

[2018-03-26 11:28] Themanwithoutaplan opened #3851 "Build process failing on autodoc"
## Details

* Project URL: http://openpyxl.readthedocs.io/en/latest/index.html
* Build URL (if applicable): https://readthedocs.org/projects/openpyxl/builds/6944717/
* Read the Docs username (if applicable):

## Expected Result

The docs to be be buildt

## Actual Result

*A description of what actually happened*
[code]
The full traceback is available at the build. I don't know why the exception i

[2018-03-26 13:36] #3849 closed

[2018-03-26 14:00] gaborbernat commented on #3697
@xrmx do you get this error with ES 1.3.9 too?

[2018-03-26 14:06] xrmx commented on #3697
@gaborbernat Ii'm using elasticsearch from docker and there's no docker image for 1.3.9. Anyway I'm dog fooding the elasticsearch5 branch so if I think we can close this as dup of #3803.

[2018-03-26 14:36] rajujha373 commented on #3836
yes, @stsewd I followed the steps given at #3631 but sadly the problem still persists for me.

[2018-03-26 14:39] gaborbernat commented on #3697
I see. I'm using 1.3.9 and still getting this error. ES5 will be nice, might take a few days to merge though :thinking:

[2018-03-26 15:48] stsewd commented on #3849
Hi @Legolasindar were you able to solve the problem? Also, is better to provide the build url only, so the issue body isn't too large.

[2018-03-26 15:51] stsewd commented on #3836
There is something special with the network or the computer you are running? Also, can you try building without the `PDF` and `Epub` options enabled? (this is under the project admin section)

[2018-03-26 17:36] Blendify opened #3854 "Support request: project deletion"
## Details

* Project URL: https://blender-manual-i18n.readthedocs.io/ja/latest/
* Build URL (if applicable):
* Read the Docs username (if applicable):

## Expected Result

Can this project get deleted? This project has been moved to
https://docs.blender.org/manual/ja/dev/ and it would help our SEO if this project could be deleated.

[2018-03-26 17:38] stsewd commented on #3854
The first link you provided gives a 404.

[2018-03-26 18:13] humitos commented on #2707
@molpopgen nice that you found the problem and thanks for explained it to us.

If what you are saying here is the solution:

I think it would be great to open a specific issue to track this solution and I also invite you to propose a PR in the https://github.com/rtfd/readthedocs-docker-images repository, but also, we have to think "how the user will change that value from his documentation code" a

[2018-03-26 18:21] agjohnson opened #3856 "Reduce logging to Sentry"
We're error logging a number of things that shouldn't be error logs. This pollutes Sentry with a number of issues that aren't really our issue (build failures on pip/etc). We should clean up our logging here to reduce noise and get back to a reasonable number of logging events.

[2018-03-26 18:24] bramwelt opened #3857 "Docs build fails with "One or more submodule URLs are not valid.""
## Details

* Project URL: http://opnfvdocsdemo.readthedocs.io/
* Build URL (if applicable): First failure: http://readthedocs.org/projects/opnfvdocsdemo/builds/6933536/, Error message seen: http://readthedocs.org/projects/opnfvdocsdemo/builds/6940325/
* Read the Docs username (if applicable): opnfv-rtd

## Expected Result

Given our [.gitmodules](https://git.opnfv.org/opnfvdocs/tree/.gitmodules)

[2018-03-26 18:39] molpopgen commented on #2707
@humitos I'll see what I can do.  I have zero experience with Docker/containers in general, though, so it may be rough going.

[2018-03-26 19:37] stsewd commented on #3845
@Legolasindar when you create a sphinx project the `conf.py` file is created automatically, then RTD uses that file and add additional information. You can read https://docs.readthedocs.io/en/latest/getting_started.html#in-restructuredtext

[2018-03-26 19:50] Legolasindar commented on #3849
Ok thanks.
The problems are wrong reST format in some locations (tables, lists, etc..)

[2018-03-26 19:52] Legolasindar commented on #3845
But im not have linux. I not uses commands $ pip install sphinx sphinx-autobuild or something.
Im only creates .rst files (index and pages) in the Github.

[2018-03-26 19:58] samuelstjean opened #3858 "build error told me to report it"
## Details

* Project URL: https://nlsam.readthedocs.io/
* Build URL (if applicable): https://readthedocs.org/projects/nlsam/builds/6948069/
* Read the Docs username (if applicable): samuelstjean

## Expected Result

It worked on my random test branch

## Actual Result
It does not work once it was merged to master

*A description of what actually happened*

it just spits out this scary looking err

[2018-03-26 19:58] stsewd commented on #3845
@Legolasindar when you don't do a sphinx project RTD install it before building your docs, RTD uses sphinx to build your rst docs. So, to be able to use the custom font, you need to init a sphinxs project so you are able to configure it. Sphinx is multiplatform, you can run that command on Windows' cmd too, you can try this `python -m pip install ...` if the other command doesn't work.

[2018-03-26 20:16] begriffs commented on #3474
Just a nudge on this one. Is it difficult to have RTD add its own canonical link earlier in the document `<head>`?

[2018-03-26 20:42] stsewd commented on #3851
Did you tested it with `sphinx==1.6.5`? That is the sphinx version that rtd uses. You can use a mayor version by putting it on a requirements file.

From the changelog

https://github.com/sphinx-doc/sphinx/pull/3929/

[2018-03-26 21:47] stsewd commented on #3474
@begriffs after digging a little I found that you weren't really using the official rtd theme on the v1.7 verison, but a custom one. So, this behavior is from that theme https://github.com/citusdata/citus_docs/tree/v7.1/_themes/citus/layout.html#L75

[2018-03-26 22:22] begriffs commented on #3474
@stsewd thanks for taking the time to look into this.

The interesting thing is that the problem still exists on the newest version of the docs. This version uses the stock `sphinx_rtd_theme` theme.

* Example page with two canonical links - https://docs.citusdata.com/en/latest/articles/hll_count_distinct.html
* Now using standard sphinx_rtd_theme - https://github.com/citusdata/citus_docs/blob/mas

[2018-03-26 23:34] humitos opened #3861 "Default to `None` when the key doesn't exist in environment.json"
On #3793 we should handle different cases when calling `is_obsolete`:

1. `environment.json` doesn't exist -> False
1. the JSON doesn't contain a new key (use `None`) -> True
1. fail at parsing the JSON for some reason -> True

Ref: https://github.com/rtfd/readthedocs.org/pull/3793#discussion_r176828412

[2018-03-27 00:19] humitos commented on #2707
I'm not sure how is the correct way to solve this, but having a PR that "more or less" draws the idea is a good starting point. We will probably need to make a design decision with the rest of the core team also.

I think the most complicated point is how the user decide what version to use and how RTD source code communicates that decision to the docker container.

[2018-03-27 02:47] ze commented on #3832
Hey @humitos, I submitted a pull request 2 days ago, would you be willing to review it? #3847

Thanks!

[2018-03-27 02:50] stsewd commented on #3474
mmm, this is very strange, the html from your docs are very different from the one I get on my local installation, I'm not sure why. I can't replicate the issue, rtd always show only one canonical link.

[2018-03-27 02:58] begriffs commented on #3474
On some of the pages I intentionally add my own canonical link, so I'd expect those pages to have two such links. I was just hoping that my link would come last in the html so it would override the one provided by RTD.

[2018-03-27 03:02] stsewd commented on #3474
Anyway, looks like you can't override the `extrahead` from the `page.html` :/ what about creating a custom theme that inherits from the rtd? http://www.sphinx-doc.org/en/stable/theming.html#creating-themes

Or maybe did you try this https://github.com/rtfd/readthedocs-sphinx-ext/blob/master/readthedocs_ext/template-meta.py?

[2018-03-27 05:53] samuelstjean commented on #3858
That's, eh, peculiar. It did use to work on the single branch I was using to check if it was rendering correctly before though weirdly enough, it's giving me a bunch of trouble on C extension.

Is there anything I can do for the next time to avoid cryptic error codes? Or is there a way to figure out the problem? Going through the build logs did not seem to indicate anything useful regarding memory

[2018-03-27 08:48] Themanwithoutaplan commented on #3851
When testing locally with the same setup as RTD I get Sphinx 1.6.5 but I don't get the exception. This isn't surprising seeing as the import already reflects the change in packaging.

[2018-03-27 08:54] ericholscher commented on #2140
+1. We should move all the defaults into `base.py`, and remove our usage of `getattr`.

[2018-03-27 08:54] ericholscher commented on #2140
(This feels like cleanup, which I thought we were de-prioritizing though)

[2018-03-27 08:57] ericholscher commented on #3806
+1 to versioning the config file. I think a major version is fine for now. If we add an optional setting to a version, can't we just read it if a user defines it? I don't know if we need a specific version number in order to support that.

The versioning is generally only useful if there contradictory definitions of a concept (eg. `formats` changing defaults), so that a user can explicitly define

[2018-03-27 08:59] ericholscher commented on #3523
I'm +0 on adding it. I don't think RTD is so sensitive that we are a common attack vector. I'm much more worried about building authoring features before building something like this, unless it's simple to do with a pluggable Django app. Unless customers are specifically asking for this, I don't see it as a high priority (sadly).

[2018-03-27 09:39] xrmx commented on #3798
So I've found this `SettingsOverrideObject` which should do the trick without having to patch anything.

[2018-03-27 12:10] Legolasindar commented on #3845
Ok i maked all, but the text no get custom font. I set in the conf.py

[code]

I created custom.css with:

[code]

And in a one rst page i put:

`<span class="keys">F 0 M</span>`

Buts this code appear in flat text.

What im doing wrong?

[2018-03-27 14:48] Vafa-Andalibi opened #3863 "Changing the repository URL in project setting does not update the "Edit on Github" link on top right"
## Details

* Project URL: Cxhttp://cxsystem.readthedocs.io/en/master/
* Build URL (if applicable):
* Read the Docs username (if applicable):

## Expected Result

I have updated the project github URL in the setting, the new build is fine and is using the new URL, but the "edit on github" link on top right is still redirecting to the old repository.

## Actual Result

The "Edit in Github" should r

[2018-03-27 15:15] Vafa-Andalibi commented on #3863
yes, the build is with the new repo . The links in ReadtheDocs bar (lower left) that has the "On Github" section are fine, but not the link on top right .

[2018-03-27 16:17] stsewd commented on #3858
@samuelstjean see https://github.com/rtfd/readthedocs.org/issues/3613

[2018-03-27 16:23] stsewd commented on #3845
Can you provide a link to the full file?

[2018-03-27 16:35] Legolasindar commented on #3845
This is the index.rst, you can see the code below the image.
[https://github.com/CavallersDelCel/1RA_EBC/blob/master/docs/index.rst](url)

[2018-03-27 18:10] gaborbernat commented on #3186
@RichardLitt whoa re the main maintainers?

[2018-03-27 18:24] stsewd commented on #3186
@gaborbernat you can see it here https://docs.readthedocs.io/en/latest/team.html

[2018-03-27 18:44] stsewd commented on #3845
I can see that your css and font are on the server and on the page

![selection_003](https://user-images.githubusercontent.com/4975310/37987846-f432d370-31c4-11e8-8dc4-336b73ab84c1.png)

- http://1ra-manual-dentrenament-basic-de-combat.readthedocs.io/ca/master/_static/fonts/LinBiolinum_Kah.ttf
- http://1ra-manual-dentrenament-basic-de-combat.readthedocs.io/ca/master/_static/css/custom.css

So, pro

[2018-03-27 19:24] samuelstjean commented on #3858
I cleaned up the whole environment and now it's pseudo working, so good enough for me, thanks.

[2018-03-27 19:24] #3858 closed

[2018-03-27 19:30] stsewd commented on #3851
@Themanwithoutaplan This is from a virtualenv with sphinx 1.6.5

[code]

[2018-03-27 19:37] stsewd commented on #3863
@Vafa-Andalibi did you try wiping the environment? You can do this on the `versions` section (edit button)

[2018-03-27 19:46] Vafa-Andalibi commented on #3863
Worked like a charm :) thanks !

Just one more thing really quick, can I have that project transferred to my other account?
From this account:
REte7fXsNqgoutJPVOriDw
to this one:
VisualNeuroscience-UH

[2018-03-27 20:03] stsewd commented on #3863
If you are the owner of the project, I think you just need to add your other account as maintainer (`admin` section).

[2018-03-27 20:37] jpchen opened #3865 "build fails when pip installing dependency"
## Details

* Project URL: http://docs.pyro.ai/en/docs-upgrade/
* Build URL: https://readthedocs.org/projects/pyro-ppl/builds/6953678/

i am trying to install a python library (pytorch) from a wheel i have hosted on an s3 server. i have an [install script](https://gist.github.com/jpchen/32325c3e9c9944947dd3f6f1586c5829) that i run which has been tested separately. upon fixing rtd specific build pr

[2018-03-27 21:12] stsewd commented on #3865
@jpchen hi, why did you close the issue? Were you able to solve the problem?

[2018-03-27 21:46] jpchen commented on #3865
not really, but i did a workaround, and figured it wasnt worth your time deep diving into it.
what would be really helpful though is to output the immediate commands leading up to the error. if a command errors, that entire command and its output is not outputted in the build log and it becomes hard to debug.

[2018-03-27 21:51] RichardLitt commented on #3186
@rtfd/core thoughts?

[2018-03-27 21:57] jychoi-hpc opened #3866 "Cannot delete a project"
## Details

* Project URL: https://readthedocs.org/projects/adios-python/
* Build URL (if applicable):
* Read the Docs username (if applicable):

## Expected Result

I am trying to delete the above project but cannot.

## Actual Result

When I pressed the "delete forever" button, I got the following error:
[code]

[2018-03-27 23:19] davidfischer commented on #3866
Thanks for reporting this. I am investigating.

[2018-03-27 23:30] davidfischer commented on #3866
This is definitely a bug. Thanks again for reporting and there should be a fix shortly.

[2018-03-28 00:24] molpopgen commented on #2707
Do you mean an issue ticket rather than a PR?  I literally wouldn't know where to start a PR, given that I know zero about the RTD code repo, Docker, etc.  I can, however, raise this as an issue.

[2018-03-28 01:18] #3866 closed

[2018-03-28 01:19] ericholscher commented on #3866
Deploy should be going out to fix this in the next hour.

[2018-03-28 02:53] Vafa-Andalibi commented on #3863
Thank you !

[2018-03-28 02:53] #3863 closed

[2018-03-28 06:08] tannewt opened #3867 "Build failing and suggesting we contact you"
Please let us know what we can do to get it back going. Thanks!

## Details

* Project URL: https://readthedocs.org/projects/circuitpython/
* Build URL (if applicable): https://readthedocs.org/projects/circuitpython/builds/6954985/
* Read the Docs username (if applicable):

## Expected Result

The project to build. We build it successfully with Travis: https://travis-ci.org/adafruit/circuitpython

[2018-03-28 08:19] Legolasindar commented on #3845
Reviewing the code it seems that everything is fine.
But it's like RTD is not able to read HTML tags.

[2018-03-28 14:48] jeancochrane commented on #3630
Thanks for your replies @davidfischer and @humitos! Apologies that it's taken me so long to get back to work on this. Since I last checked in, we're now seeing consistent 404s on https://dedupe.io/developers/library/, although the RTD domain at https://dedupe.readthedocs.io/en/latest/ is still working fine.

@davidfischer: dedupe.io is our server, and it proxies back to RTD for SSL support as per

[2018-03-28 15:12] stsewd commented on #3845
@Legolasindar here is the error

[code]

The url should be inside quotes

[code]

[2018-03-28 15:17] Legolasindar commented on #3845
At first I had it with quotes, but it did not work either, I just removed the quotes in the last build.

I have this [stackoferflow](https://stackoverflow.com/questions/49530807/custom-font-with-css-not-work-in-sphinx-project) opened. The first answer work, but i need this work betwen text, not alone.

[2018-03-28 15:29] stsewd commented on #3845
I didn't note that you were using `<span class="keys">FM</span>`, yeah you should use the `raw` directive.

I just answered your question on stackoverflow so other people can see it. You need to use a custom role http://docutils.sourceforge.net/docs/ref/rst/roles.html#raw

So, this isn't a RTD problem.

[2018-03-28 15:46] Themanwithoutaplan commented on #3851
It seems the import is the problem. Adding a `try…except` resolves it.

[2018-03-28 15:46] #3851 closed

[2018-03-28 16:15] humitos commented on #3630
@jeancochrane not sure, but I think there is a problem in your NGINX setup, since when we access to https://dedupe.io/developers/library/ your server should be accessing to https://dedupe.readthedocs.io/ under the hoods and that URL works.

Seems that the problem is with your two extra locations (redirects) since this works: https://dedupe.io/developers/library but https://dedupe.io/developers/lib

[2018-03-28 16:22] humitos commented on #3630
Maybe I'm wrong :)

Another thing that I just found is this chunk of code:

https://github.com/rtfd/readthedocs.org/blob/adb5392c47a1b3fe506524d898dd147b038d4140/readthedocs/core/middleware.py#L83-L101

It seems that if you have a domain declared it will enter in the first if and then the `HTTP_X_RTD_SLUG` won't be read and that is why it may be failing.

Can you test by removing the domain from R

[2018-03-28 16:35] akien-mga commented on #3555
Additionally (as just mentioned on IRC), would it possible to increase the timeout of those new l10n repos to the same value? "godot-fr", "godot-es" and "godot-zh-cn". More will be coming but I'm starting with those three to define and test the translation workflow.

[2018-03-28 16:36] davidfischer commented on #3555
I increased your build timeout to 4800s (1.5hrs) so hopefully that won't happen again.

I'm syncing the docs now to try to figure out why they take so long and while I don't think I need to do anything on the translations, I'll double check.

[2018-03-28 16:41] akien-mga commented on #3555
Thanks a lot!

[2018-03-28 16:44] akien-mga commented on #3555
Note that the translations currently build fast because I removed 98% of the documentation while testing. I'll soon be adding back all the normal Godot docs to the translation repo, and then builds will take as long as in the main project.

[2018-03-28 16:45] davidfischer commented on #3555
Ahhh, that makes sense. I can go ahead and increase their time limit as well.

[2018-03-28 16:48] jeancochrane commented on #3630
Interesting idea! Removing the domain from the project settings causes https://dedupe.io/developers/library/ to redirect to http://dedupe.readthedocs.io/en/latest/. (I had removed the domain earlier to see if that was causing the issue -- I suspect that's why it looked like /developers/library/ was working, but /developers/library/en wasn't.) This is a lot better than the 404, but still not quite

[2018-03-28 18:14] humitos commented on #2471
I'm closing this issue here since. Feel free to reopen if you consider.

[2018-03-28 18:14] #2471 closed

[2018-03-28 18:42] davidfischer commented on #2955
I largely agree with most of this. However some of it may go into other places.

I don't think RTD should modify the HTML output of docs builds to this extent. If an author has put inline JS into their docs (using a retructuredtext `raw` block) it might depend on loading libraries before executing that inline JS. Moving JS and if possible CSS down would improve performance, but I think individual

[2018-03-28 18:52] stsewd commented on #3841
@brettcannon hi, I think this is because rtd does a `git fetch` before each build, so it can't know if a tag was removed. Did you try wiping the environment? Yo can do this under the `versions` option (edit button).

[2018-03-28 18:59] davidfischer opened #3870 "Improve Build Performance"
## Details

* Project URL: https://readthedocs.org/projects/godot

I don't mean to single out the Godot project but this issue is easily visible with their project because it has a long build time. A local build of the [Godot Docs](https://github.com/godotengine/godot-docs) took 20 full minutes on my local CPU (core i7 2.3ghz). CPU was maxed 99%+ on a single core for almost all of the time (Yay, G