[2019-08-29 20:04] stsewd commented on #6122
ok, I think I know what happened, I think you pushed the `Resync Integration` button. For some reason it doesn't resync the integration, but the integration is given a secret. I'll open a new issue with this steps.

[2019-08-29 20:11] stsewd opened #6123 "Resync doesn't work for manully created integations"
- Import a project from github
- An integration is created automatically, resync button works
- Create a new integration manually
- The resync button appears, but it doesn't create the webhook on the git repo.

When doing a resync, a secret is added/changed, but the webhook wasn't created on the repo, so is going to always ask for a secret and fail.

Ref #6122

[2019-08-29 20:11] #6122 closed

[2019-08-29 20:52] saadmk11 commented on #6123
Looks like there are some issues. Working on it!

[2019-08-29 21:02] di commented on #6122
Thanks! I did press it at one point, but I believe I didn't press it for the most recent integration.

FWIW, if I create the integration manually, it still says this at the top:

Even though that doesn't seem to be true.

[2019-08-29 21:13] stsewd commented on #6123
Also, we should change the message https://github.com/readthedocs/readthedocs.org/issues/6122#issuecomment-526360199

[2019-08-30 02:10] stsewd opened #6126 "Cache in footer view"
The footer view is assessed for each page view. We should make it faster :)

Ref: https://github.com/readthedocs/readthedocs.org/pull/6125#discussion_r319328817

[2019-08-30 07:26] ddutchie commented on #6119
For some reason the case of an extension can be a problem. I had an image that was .JPG and then i manually renamed to .jpg and GIT does not see this as a change. Had to manually delete items on the repo and readd them.

[2019-08-30 07:26] #6119 closed

[2019-08-30 17:33] agjohnson commented on #6070
I'm -1 on pagination and infinite scroll, or other patterns that continue showing inactive versions listed on this page. The pattern used here should be the same as our other CRUD UIs:

* The version list is *only* active versions
* A button at the top will lead to a form
* The form has an autocomplete text input to select the version, form submit adds `Version.active = True` to the selected versi

[2019-08-31 10:24] kpj commented on #6095
Thanks, that is a great suggestion!

I pulled the latest default image and tried executing `tree`:
[code]
It does not seem to be available.

Furthermore, the `sphinx-build` command is not found. After checking the [Dockerfile](https://github.com/readthedocs/readthedocs-docker-images/blob/master/Dockerfile), neither of those command is explicitly installed (if I understand correctly).

[2019-08-31 10:52] dojutsu-user commented on #5620
I am unblocking this as https://github.com/sabricot/django-elasticsearch-dsl/issues/170 is closed and django-elasticsearch-dsl is supporting elasticsearch version 7 (https://pypi.org/project/django-elasticsearch-dsl/)

[2019-09-01 13:25] saadmk11 commented on #4818
Currently we are using Integration `pk` to get the integration for the incoming webhook.
https://github.com/readthedocs/readthedocs.org/blob/34d1a1571b4fe6ad81876234f432b2cce9eb67f8/readthedocs/api/v2/views/integrations.py#L727-L731

So, There should not be any `MultipleObjectsReturned` error.

@humitos Can you please tell me when this error occurs?  In the incoming webhook or somewhere else?
e.g:

[2019-09-01 13:30] saadmk11 commented on #4818
Another place we use `Integration.objects.get` is `setup_webhook`.
In this PR https://github.com/readthedocs/readthedocs.org/pull/6124 I have made it so that we always pass a integration to `setup_webhook` method.
the only time the integration is not passed to it is when we import the project.

[2019-09-02 15:17] deshipu opened #6128 "This project is currently disabled and can't trigger new builds."
## Details

* Read the Docs project URL: http://pewpew.readthedocs.io
* Build URL (if applicable):
* Read the Docs username (if applicable): sheep

## Expected Result

A new build is triggered.

## Actual Result

The message "This project is currently disabled and can't trigger new builds." is displayed and no new build is triggered. Also, trying to change the repository URL to now correct value (

[2019-09-03 01:38] lepture commented on #6044
For https://docs.authlib.org/ it breaks the theme.

![image](https://user-images.githubusercontent.com/290496/64138183-e52d0700-ce36-11e9-805c-41285efb6cae.png)

[2019-09-03 13:07] dojutsu-user opened #6130 "Optimize json parsing for faster indexing in elasticsearch"
Optimizing the json parsing will result in faster indexing/reindexing.
https://github.com/readthedocs/readthedocs.org/blob/master/readthedocs/search/parse_json.py

[2019-09-03 14:30] humitos commented on #6130
I'm lacking context here. What are the ideas around this?

[2019-09-03 14:34] dojutsu-user commented on #6130
I don't currently have any "optimization ideas".
If you mean about this issue, when we do indexing of projects, json files are parsed and the relevant data is sent to elasticsearch, I believe that json parsing can be made more faster.
It will reduce the time taken for a project to get indexed into elasticsearch. Also, the time taken for indexing of all projects will also gets reduced.

[2019-09-03 15:05] humitos commented on #4818
All that I know about this issue is what I mentioned in the description and in my second comment. I lost track about it :disappointed:

_Maybe_ it's not valid anymore after the refactors that this code has suffered in the last months.

[2019-09-03 15:15] stsewd commented on #6095
@kpj you are missing the installation steps of the virtual env and python dependencies.

It's weird that `tree` doesn't exist :/ maybe the docker image doesn't include that command

[2019-09-03 15:28] stsewd commented on #6130
We use the json package from the std lib https://github.com/readthedocs/readthedocs.org/blob/master/readthedocs/search/parse_json.py#L93, not sure how we can improve that

[2019-09-03 15:54] humitos commented on #6046
I may be lacking some context here, but I think that having everything in the same place is the way to go. That's it "Automated Rules" in my mind.

There you can control what versions (internal or external) to build, activate, make stable, etc. I think it makes the UX clearer in the sense that you control everything from there instead of "some" from there and some others from the config file.

Bes

[2019-09-04 04:46] xobs opened #6134 "`Verify Email` link contains phishing (?) link"
## Details

* Read the Docs project URL: N/A
* Build URL (if applicable): N/A
* Read the Docs username (if applicable): xobs

## Expected Result

I received an email that contained the text `To verify your email address and finish setting up your account, please go to: https://readthedocs.org/accounts/confirm-email/...`, but the actual link is completely different.

## Actual Result

If you click

[2019-09-04 07:20] humitos commented on #6126
Cache keys should be improved to avoid potential conflicts: https://github.com/readthedocs/readthedocs.org/pull/6125/files#r320606597

[2019-09-04 08:16] kpj commented on #6095
Thanks for the advice!
I'll then provide a custom tree command in the notebook.

[2019-09-04 15:52] stsewd commented on #6134
Do you have the email of the sender? Did you request  the email verification?

[2019-09-04 16:14] stsewd commented on #6134
I just tested the email verification. It gives this link, but the actual link is `https://u11967345.ct.sendgrid.net/wf/click?upn=gAU4-2Btfh-...`
![Screenshot_2019-09-04 Verify your email address - stsewd gmail com - Gmail](https://user-images.githubusercontent.com/4975310/64272308-b2e9db00-cf04-11e9-99f6-5bf8e30f435b.png)

For me it redirects to the confirmation page.

I'll investigate why it link

[2019-09-04 16:32] davidfischer commented on #6134
This is most likely added automatically by our mail provider to track clicks on links. I don't think we need or want this.

[2019-09-04 16:35] ericholscher commented on #6134
I've now turned off all tracking in our email settings. It was previously tracking link clicks and mail opens, which seems like a terrible default :(

[2019-09-04 16:37] stsewd commented on #6134
Just checked, it links to the correct domain now.

[2019-09-04 16:37] #6134 closed

[2019-09-04 16:44] davidfischer commented on #6134
Thanks for the report @xobs and keep up all the good work on Fomu and Novena!

[2019-09-04 16:56] stsewd commented on #6128
Hi @deshipu, we need to investigate why the project was disabled before enable it. A common case is that the project was triggering a lot of builds.

[2019-09-04 18:30] deshipu commented on #6128
That doesn't seem to be the case here, though, there were 4 builds 5 months ago, and before that other 4 builds 9 months ago.

I think it may be related to the fact that I moved the repository on GitHub to a different organization and forgot to update the URL on readthedocs, but there are redirects in place for that.

Thank you a lot for looking into it!

[2019-09-04 18:32] deshipu commented on #6128
I just checked my other projects, and it seems like they are all disabled. So this is probably something related to my account?

[2019-09-04 18:39] stsewd commented on #6128
Oh, I see. A reason for that is that your account could have been marked as spam incorrectly. I'll try to look at this today

[2019-09-04 20:46] davidfischer commented on #6128
I unbanned your account and you should be good to go. We recently flagged a number of spam accounts but I don't see any reason why your account should have been flagged.

[2019-09-04 20:46] #6128 closed

[2019-09-04 20:52] deshipu commented on #6128
Thank you!

[2019-09-05 00:01] stsewd opened #6137 "List only built versions on the footer"
When a version is `built=False` our code links to the version detail page

https://github.com/readthedocs/readthedocs.org/blob/89a58a07716ccf5793e0a241be174d52d1f03c76/readthedocs/builds/models.py#L296-L303

This method gets called from `sort_version_aware`, here we are passing all active versions (including not built).

https://github.com/readthedocs/readthedocs.org/blob/89a58a07716ccf5793e0a241b

[2019-09-05 13:10] skirpichev opened #6138 "Support custom static files served at root URL (/)"
Currently, we can add robots.txt to the root of the project with
``
html_extra_path = ['robots.txt']
``
Unfortunately, this doesn't work with html files.  For example, I tried to add site verification file for the Google Console just as for the robots.txt.  File was added to the project root (e.g. it is present in the HTML zip archive), but can't be viewed via HTTP:
$ HEAD -d https://diofant.readt

[2019-09-05 14:55] humitos commented on #6137
Just want to note a use case of this.

Listing "`active` but not `built` versions" in the footer is _kind of a hidden feature_. Why? It allows people to list all the supported versions in the footer and create a `Redirect` pointing to a different hosting platform for old versions for example.

So, 1.x and 2.x are hosted at Read the Docs, but 0.8.x and 0.9.x are hosted in a different platform. You

[2019-09-05 15:01] humitos commented on #6138
Right. We do not serve files at root (URL `/`). `robots.txt` is a special case, that's why it's served.

There other ways to verify a that owns a site that you may want to use.

[2019-09-05 15:14] ericholscher commented on #6046
Yea, I think my main concern is that we're moving configuration out of the YAML file again, and into the database. The whole goal was to try and keep as much logic in the YAML as possible, and now we're drifting back the other direction :/

[2019-09-05 15:14] skirpichev commented on #6138
@humitos, the "other ways" - adding txt dns entry.  Maybe this option is available per user request?

Or you do mean something else?

[2019-09-05 16:12] stsewd commented on #6137
@humitos but when the version is `built=False` it links to the dashboard, so the redirect doesn't work there.

[2019-09-05 16:15] stsewd commented on #6138
Also, if you don't care about having different versions of your docs, you can mark the `Single version` option on the admin settings of your project, that way everything would be served from the root.

[2019-09-05 16:25] skirpichev commented on #6138
No, thank you.  This is not an option for me.

[2019-09-05 16:33] humitos commented on #6138
@skirpichev I saw there is a way to use `meta` HTML tag.

BTW, I suppose you are talking about https://support.google.com/webmasters/answer/9008080?visit_id=637032978747984544-1520634005&rd=1&hl=en

[2019-09-05 17:40] skirpichev commented on #6138
@humitos, are you sure there are?

I added meta tag to the index.rst.  It shown in the local version, right after the "charset" meta...  But on the rtfd.io - this tag absent...

[2019-09-05 17:58] humitos commented on #6138
@skirpichev I don't why RTD would behave different on the meta tags. Do you an example? It's hard to tell you otherwise.

[2019-09-05 18:04] humitos commented on #6138
Here you have a live example using a `meta:description` tag: https://test-builds.readthedocs.io/en/meta-tags/ on Read the Docs.

[2019-09-05 18:32] skirpichev commented on #6138
Sorry, forgot push to the origin :)  Thank you for help.  And patience.

It seems, you classified this as a support request.  I'm not ready to suggest a use case for such static files in /, except for the reported above (which has workarounds).  So, closing.

[2019-09-05 18:32] #6138 closed

[2019-09-05 21:56] humitos commented on #6095
`tree` command is not in `main` Ubuntu repository, it's in `universe`. It seems it's not installed by default on Ubuntu (server, at least) and we don't install it in our Docker image either.

We could add it to our image but we don't have a Docker image release planned yet, so it will take some time to be available on the servers.

[2019-09-06 05:17] ericholscher commented on #6130
I imagine it's the HTML parsing with pyquery that is the slow part.

[2019-09-06 05:33] dojutsu-user commented on #6130
I think most of it is because the HTML parsing but we can also use a faster `json` library for `json.loads`.
Like: https://github.com/ijl/orjson

[2019-09-06 16:21] cz-kialo commented on #6070
Just wanted to leave a comment here that this issue prevents us from defining more that one version (the default version) on readthedocs.com . Because of our continuous integration setup we have several ten-thousand tags in our repo on Github and the versions page just times-out with a 502 error.

A simple form to define a new version would be great.

[2019-09-06 18:18] agjohnson commented on #6046
I tend to agree that the best UX is in automation rules, and also want to be selective about what we're putting into the config file. Project level options are a good fit for the config file. This seems like a project level setting because what do we do when the config file in one branch specifies a different list of branches to exclude? Only using the config from the default branch seems like a b

[2019-09-06 21:00] dojutsu-user commented on #4452
@davidism
I think this is fixed now.
You can see the search results for `flask` project here: https://readthedocs.org/projects/flask/search/?q=render_template&type=file&project=flask&version=master

[2019-09-06 21:50] davidism commented on #4452
I'm referring to the ones within Sphinx, not from the readthedocs project page.

[2019-09-07 04:59] OK-UNDP opened #6151 "Unable to build docs with poetry"
## Details

* Read the Docs project URL: [MsGraphExporter](msgraphexporter.readthedocs.io)

## Expected Result

I have the V2 [.readthedocs.yaml](https://github.com/undp/MsGraphExporter/blob/feature/readthedocs/.readthedocs.yaml) in a feature branch of my project that defines:

[code]

Since I use `poetry` and extras defined in [pyproject.toml](https://github.com/undp/MsGraphExporter/blob/feature/

[2019-09-07 05:43] ax3l opened #6152 "CORS: Query from github.io Page"
## Details

* Read the Docs project URL: any
* Build URL (if applicable):
* Read the Docs username (if applicable):

Live page: https://ecp-warpx.github.io
Source: https://github.com/ECP-WarpX/ecp-warpx.github.io

## Expected Result

I am trying to query the public RTD API endpoint https://docs.readthedocs.io/en/stable/api/v2.html#project-versions from a [github.io page](https://pages.github.com/)

[2019-09-08 07:44] dojutsu-user commented on #4452
@davidism
The search results shown on the readthedocs project will be the same with Sphinx.
I have built a demo project for `flask` which uses Read the Docs's search.
https://flask-dojutsu-user.readthedocs.io/en/latest/search.html?q=render_template_string

[2019-09-08 16:12] #6061 closed

[2019-09-08 20:40] LeBarbouze commented on #6065
Hello guys @stsewd @humitos, thanks for your kind help. I implemented one of the workarounds proposed in #1846 and it works fine. I used the one with the Python git_lfs module. @humitos's reply with  calling the OS to download the git LFS client seems to be a valid solution as well, without the need to rely on another Python module.

I guess the incentive to implement Git LFS compatibility in Read

[2019-09-09 11:37] humitos commented on #6046
I remember from our old conversations that we said "Version level options are good for Config File and Project level are good candidates for DB".

I understand @ericholscher's point, but I think that it's preferable to have this _global_ settings in the DB to avoid triggering a build and having different settings on different versions that it's suppose to affect the Project globally.

[2019-09-09 11:39] humitos commented on #6065
@LeBarbouze thanks for the update on this! I'm happy you were able to figure it out.

[2019-09-09 11:39] #6065 closed

[2019-09-09 12:42] humitos opened #6154 "CORS problems around API"
We currently support [JSONP on APIv2 in the Footer HTML endpoint](https://github.com/readthedocs/readthedocs.org/blob/30e495504911d0720558a6b307c9cd05a7dbfffb/readthedocs/api/v2/views/footer_views.py#L80) only.

Supporting JSONP on APIv3 will allow to query the API from different custom domains.

Suggested at #6152

[2019-09-09 12:52] humitos commented on #6151
Hi @OK-UNDP! Can you link your project URL and build URL that it's failing?

We do install the packages with `pip` not with `poetry`. Using `extra_requirements: - docs` will produce this command `pip install .[docs]`.

There were some ideas to support poetry and pipfile (#3181) but considering the amount of work, we are not ready for it.

[2019-09-09 13:10] humitos commented on #6070
@cz-kialo please, if you are using Read the Docs for Business contact us via the support email (support at readthedocs.com) and we will help you with this there. Thanks!

[2019-09-09 14:00] dojutsu-user commented on #6130
pyquery by default uses `html` as its parser,
https://github.com/gawel/pyquery/blob/2351446c56d5c3df93e3fd81a2b828cf00e3b648/pyquery/pyquery.py#L225-L226

and it is quite slow.
I believe if we use [html5_parser](https://github.com/kovidgoyal/html5-parser), this might gets faster.

[2019-09-09 14:08] dojutsu-user opened #6155 "Use `modified` time instead of `created` time for recording search queries"
We should use `modified` time here and not the `created` time.
`modified` time gets updated automatically, so the query should also be changed.

https://github.com/readthedocs/readthedocs.org/blob/98a7ff1758d829323e5ef9949f57401f7103ec4e/readthedocs/search/tasks.py#L213-L214

https://github.com/readthedocs/readthedocs.org/blob/98a7ff1758d829323e5ef9949f57401f7103ec4e/readthedocs/search/tasks.py#L1

[2019-09-09 15:06] cz-kialo commented on #6070
@humitos thanks, we're already in contact with your support since some time, just wanted to make sure that the info is taken into account because this issue seems to get some attention at the moment.

[2019-09-09 16:16] stsewd commented on #6154
We shouldn't use jsonp for new code, we should use a CORS solution instead. And for public and read only endpoints.

[2019-09-09 16:24] stsewd opened #6156 "Link to previous GSOC projects"
We should link to these posts

https://blog.readthedocs.com/search-improvements/
https://blog.readthedocs.com/improved-search-and-search-as-you-type/
https://blog.readthedocs.com/building-docs-for-pull-requests/

Ref https://github.com/readthedocs/readthedocs.org/pull/6147#pullrequestreview-285461077

[2019-09-09 16:28] stsewd commented on #6151
@OK-UNDP please check https://github.com/readthedocs/readthedocs.org/issues/4912#issuecomment-469020243

[2019-09-09 17:57] humitos commented on #6154
@stsewd

Why not?

How is that solution?

[2019-09-09 18:04] stsewd commented on #6154
jsonp is to get around CORS, we are opening too much with that, I linked this in other of our projects (private). You can read the warning on this project for example https://jpadilla.github.io/django-rest-framework-jsonp/.

This lib is for handling CORS on django https://github.com/adamchainz/django-cors-headers

[2019-09-09 18:41] Aricg opened #6157 "api v3 is missing add a subproject"
## Details

Adding a project as a Subproject of another project is still a manual operation.

From the docs:
In the admin dashboard for your project, select “Subprojects” from the menu. From this page you can add a subproject by typing in the project slug.

The API v3 Only has the method for: "Subprojects listing"

## Expected Result

In order to take advantage of subprojects we will need an API m

[2019-09-09 19:02] skirpichev commented on #5391
@humitos, your current sitemap.xml can't be configured from the project side.  This may be handy if you want to disallow index for some versions (Google Search Console consider as an error that you submit URLs, which are blocked by robots.txt).

[2019-09-09 19:11] edyasikpo commented on #2569
I have been struggling with this issue for hours. thank you for sharing the answer.

[2019-09-09 20:13] humitos commented on #5391
@skirpichev I'm not really sure to follow your issue. Can you expand and give an example of what you are trying to do?

[2019-09-09 21:58] stsewd opened #6159 "Move `expandable_fields` to meta class"
We are using the old way, declaring `expandable_fields` at the class level instead of on the meta class.

Docs on https://github.com/rsinger86/drf-flex-fields

This file needs to be updated https://github.com/readthedocs/readthedocs.org/blob/master/readthedocs/api/v3/serializers.py

Ref https://github.com/readthedocs/readthedocs.org/pull/6158#discussion_r322472534

[2019-09-09 23:16] tapaswenipathak commented on #6126
Hi folks: I have added few PRs, let me know your thoughts https://github.com/readthedocs/readthedocs.org/pull/6148#issuecomment-529690680.

[2019-09-10 01:24] MaisaMilena commented on #5426
Creating a new webhook did not work for me. I figure out that in my case the Payload URL that was being generated (i.e readthedocs.org/api/v2/webhook/**my-lang**/96993/) was using the old name of my repository. I had recently changed my GitHub project's name from "my-lang" to "my-new-lang". So, to solve this I deleted the project and created it again.
- This [issue](https://github.com/readthedocs/

[2019-09-10 03:17] OK-UNDP commented on #6151
Hi @humitos, the latest build URL is [this one](https://readthedocs.org/projects/msgraphexporter/builds/9624490/). I also fixed the RTD [project URL](https://readthedocs.org/projects/msgraphexporter/) in the original post above.

[Pip 19.2.3 docs](https://pip.pypa.io/en/stable/reference/pip/#pep-517-and-518-support) mention  regarding PEP-517 that:

My `pyproject.toml` has the following backend de

[2019-09-10 04:32] stsewd commented on #6151
@OK-UNDP can you try updating/recreating the poetry.lock file?

This repo works on rtd, and the lock file looks kind of different https://github.com/zalando-incubator/transformer/blob/master/poetry.lock (I'm not familiar with poetry)

[2019-09-10 05:58] skirpichev commented on #5391
@humitos, I'm not sure it's a real issue, maybe a minor one.  But lets suppose you want to disable certain versions in the readthedocs docs.  Your docs [suggests this variant](https://docs.readthedocs.io/en/stable/faq.html#how-can-i-avoid-search-results-having-a-deprecated-version-of-my-docs) with robots.txt.  But project's sitemap.xml will still provide these "disallowed" versions.  Google Search

[2019-09-10 09:45] humitos commented on #5391
If you disable Versions from your Project, they are not going to be shown in the `sitemap.xml`.

For other more complex cases is this issue about. Examples,

* being able to define your own `sitemap.xml` instead of RTD generating one automatically for you
* creating a sitemap index at the root that points to other `sitemap.xml` from other directories

[2019-09-10 13:25] dino-bosnjic opened #6161 "Build is passing first time but failing every other time"
## Details

* Read the Docs project URL: This is private hosted server
* Build URL (if applicable): //
* Read the Docs username (if applicable): //

## Expected Result

Buld is passing every time.

## Actual Result

Build is passing just first time after creating new project. After first build, every other build is failing.  [Build failling](https://imgur.com/a/ULd7lmQ)

I have managed to force fu

[2019-09-10 15:45] #6108 closed

[2019-09-10 16:26] stsewd commented on #6161
Hi @dino-bosnjic, we don't support custom installations, you can read more about it here https://docs.readthedocs.io/en/stable/open-source-philosophy.html

Also, not really sure the problem you are having, there isn't much context. Make sure you have virtualenv installed for python2.x globally.

[2019-09-10 16:30] shahzebsiddiqui opened #6162 "Using Custom docker container for building rtd project"
## Details
Issue with readthedocs build https://readthedocs.org/projects/buildtest/builds/9638753/ because I want to use my custom docker container for building my project. My custom docker container is the following https://hub.docker.com/r/shahzebsiddiqui/readthedocs-docker-images so I tried adding this see https://github.com/HPC-buildtest/buildtest-framework/commit/53e78a56756e1c8a88397804fad88

[2019-09-10 16:34] stsewd commented on #6162
We don't plan on supporting custom docker images. If the package `Lmod` is very popular on several docs, we can put in on our docker images. Also, you can try mocking the lib https://docs.readthedocs.io/en/stable/faq.html#i-get-import-errors-on-libraries-that-depend-on-c-modules

[2019-09-10 16:39] shahzebsiddiqui commented on #6162
Yes please if you can add ``Lmod`` that would be great. The documentation is not clear on how the docker container is invoked in backend. For instance, the container I have needs to source ``source /etc/profile`` generally this is required in a login shell. In docker you can get a interactive shell with tty using ``docker exec -it`` but I still need to invoke /etc/profile.

To demonstrate my local

[2019-09-10 16:42] shahzebsiddiqui commented on #6162
Also please see lines the following lines in Dockerfile
https://github.com/shahzebsiddiqui/readthedocs-docker-images/blob/master/Dockerfile#L139
https://github.com/shahzebsiddiqui/readthedocs-docker-images/blob/master/Dockerfile#L141

I ran into issue so please see bug https://bugs.launchpad.net/ubuntu/+source/lua-posix/+bug/1752082 when installing Lmod

[2019-09-10 16:44] stsewd commented on #6162
We execute the commands you  see on the build page. We don't source anything from `/etc/profile/`. We can add the lib if it's heavy used on other projects/libs, if it's specific to this case we can't do that (we try to keep our docker images small).

Also, did you try mocking the dependency?

If that doesn't work, you can always try to execute any command on your `conf.py` file.

[2019-09-10 16:44] #6123 closed

[2019-09-10 16:48] shahzebsiddiqui commented on #6162
Hi @stsewd,
According to https://docs.readthedocs.io/en/stable/faq.html#i-get-import-errors-on-libraries-that-depend-on-c-modules i believe mock is only compatible with pypi packages. Lmod is not distributed as pypi. It is packaged as .rpm, .deb, etc...

[2019-09-10 16:52] stsewd commented on #6162
@shahzebsiddiqui I mean you can mock the module/lib that depend on/use that package

[2019-09-10 16:57] shahzebsiddiqui commented on #6162
Ok i will give it a try, I am not familiar with mock. Will this ignore the modules during import defined in ``MOCK_MODULES``. If that is the case should I set it to the top level package. According to http://www.sphinx-doc.org/en/master/usage/extensions/autodoc.html#confval-autodoc_mock_imports if i understand I should do to top-level package and not sub-modules. In this case ``MOCK_MODULES=["buil

[2019-09-10 17:04] stsewd commented on #6162
Yes, only the top level package

[2019-09-10 17:10] shahzebsiddiqui commented on #6162
Running into some issues. Here is the start of my conf.py

[code]

Getting a warning issue when building documentation
[code]

The issue is with sub-modules.

[2019-09-10 17:14] shahzebsiddiqui commented on #6162
My makefile has a target ``apidocs`` that i use to generate the apidocs using ``sphinx-apidoc``

[code]

The files are generated and can be found at https://github.com/HPC-buildtest/buildtest-framework/tree/devel/docs/api the issue is these files are generated and working without need of mock in my system. I want to generate the apidocs for buildtest and all its sub-modules but it doesn't work in

[2019-09-10 17:15] stsewd commented on #6162
Please use the sphinx setting, the other code is an old workaround

[code]

[2019-09-10 17:21] stsewd commented on #6162
Ok, If I understand `buildtest` is your package? Is `Lmod` used to generate the docs? I guess you can try to find a way to not execute Lmod when importing a module, but just when it is needed.

Also, as I said, you can also try executing the commands to install the lib on your `conf.py` file and using this env var https://docs.readthedocs.io/en/stable/builds.html#build-environment to only execute

[2019-09-10 17:53] shahzebsiddiqui commented on #6162
Yes ``buildtest`` is my python package. ``Lmod`` is a system package that is a dependency. It is not required for docs. In fact the docs are automatically created and .rst files are there. I will try to find way to redirect ``modules.rst`` the root of my api to retrieve the python files without having to import all python files.

[2019-09-10 20:29] stsewd commented on #4590
This is still valid. We are logging manually those exceptions to sentry

https://github.com/readthedocs/readthedocs.org/blob/72972b53e5bb2cc13235bc4223a7d3990f24d50f/readthedocs/doc_builder/environments.py#L606-L622

From projects/tasks.py we are re-raising some exceptions to don't fall into the genereal `Exception` block and don't log those (#6112).

And we haven't removed the old code :)

https:

[2019-09-10 23:15] jbragui opened #6165 "Error when compiling readthedocs project locally"
Hello. I am deploying readthedocs locally to host private projects documentation on my server however when I am compiling it shows me an error here: **python path/to/sphinx-build -T -b readthedocs -d _build/doctrees-readthedocs -D language=en . _build/html**

The error is: **python: can't open file 'path/to/sphinx-build': [Errno 2] No such file or directory** but when searching that path on my rea

[2019-09-10 23:22] stsewd commented on #6165
Hi @jbragui, we don't support custom installations, you can read more about it here https://docs.readthedocs.io/en/stable/open-source-philosophy.html

You should check the permission, with what user is your docs building.

[2019-09-10 23:25] jbragui commented on #6165
Hello @stsewd , so, in few words it is not possible to do what I want, right?

[2019-09-10 23:26] stsewd commented on #6165
It should be possible, but I'm not sure about the problem you are having. Stackoverflow can be a better place to ask.

[2019-09-11 06:27] dino-bosnjic commented on #6161
Thanks for much needed help. That is exactly it.

[2019-09-11 13:15] dojutsu-user commented on #5270
@humitos
We have removed the `highlight` url param, is this issue still valid?

[2019-09-11 13:53] humitos commented on #6154
Thanks @stsewd for the data!

We already have `django-cors-headers` installed and it seems that we have been using it already for Ads. Although, I think we can improve its settings and enable it on the API as well.

[2019-09-11 13:56] JediKev commented on #5880
If anyone runs into this error _and you're using UWSGI_, go to your UWSGI file and change:
[code]
TO
[code]

Restart UWSGI and NGINX (or Apache) and it should work without a hitch.

Cheers.

[2019-09-11 15:29] stsewd commented on #6161
Do you mean you were able to solve the problem?

[2019-09-12 06:01] saadmk11 commented on #5253
Hi, @kmaehashi. We have The PR Builder Feature in BETA now. You can learn more about it in this blog post: https://blog.readthedocs.com/building-docs-for-pull-requests/

[2019-09-12 06:20] kmaehashi commented on #5253
@saadmk11 Thanks for letting me know! I'll look into it.

[2019-09-12 09:25] carltongibson opened #6173 "Add 3.0.x version alias for Django docs."
## Details

    Project URL: https://readthedocs.org/projects/django/

## Request

As in #5537, please add version 3.0.x as an alias for the stable/3.0.x branch just like have for other branches.

[2019-09-12 14:51] #6173 closed, assigned to humitos

[2019-09-13 10:57] vidartf commented on #5546
@humitos I was finally able to try this out (fixing some other issues), but immediately [ran into an issue](https://readthedocs.org/projects/ipyscales/builds/9653487/):

[code]

[2019-09-13 15:17] jcampbell commented on #2013
I continue to observe this behavior (search results including deleted pages) in our hosted docs. Is there something that might account for that and/or could I provide useful diagnostic information to help identify/resolve the issue?

[2019-09-13 16:53] stsewd commented on #2013
@jcampbell please see https://github.com/readthedocs/readthedocs.org/issues/6069

[2019-09-13 18:54] davidfischer commented on #5855
I think there's a few bits here:

* Firstly, removing the "Downloads" link in the flyout menu that links to the downloads page of the RTD dashboard. For that, https://github.com/readthedocs/readthedocs.org/pull/6100 looks pretty good to me.
* Currently, when requesting a download the request is redirected to cloud storage (eg. `https://readthedocs.org/projects/docs/downloads/pdf/latest/` -> `https

[2019-09-14 02:21] tapaswenipathak commented on #5855
Hey @davidfischer: I can take a look. Thanks for writing notes.

[2019-09-14 02:22] tapaswenipathak commented on #5855
Hey @davidfischer: Thanks for the notes.

[2019-09-16 05:20] mik-laj commented on #5810
I have also been affected by this problem.
https://readthedocs.org/projects/airflow/builds/

[2019-09-16 06:48] dino-bosnjic commented on #6161
@stsewd  Yes, I've installed python2.x globally and that solved my problem.

[2019-09-16 06:55] lukelbd opened #6180 "Cannot set webhook up after deleting project and re-creating it"
I needed to nuke my entire readthedocs history (hundreds of versions), because my `docs/requirements.txt` file includes an unpublished fork of a Github sphinx extension, `git+https://github.com/lukelbd/sphinx-automodapi@tag`, and after a few hours of debugging I realized that the `pip install git+...` on the readthedocs server was not updating every file, even after giving the project new tags and

[2019-09-16 07:03] lukelbd commented on #6180
Nevermind I deleted the webhooks and re-created them, now it works.

Although would love if anyone has ideas on what went wrong with my `git+https://github.com/lukelbd/sphinx-automodapi@tag` line in my `requirements.txt` file? Was it a pip issue? I had no problem running `pip install git+...` on my own machine, it was just broken on the readthedocs server.

[2019-09-16 07:05] #6180 closed

[2019-09-16 07:06] lukelbd opened #6181 "Issues with git+https://github.com/username/repo@tag pip dependency in requirements.txt"
My `docs/requirements.txt` file includes an unpublished fork of a Github sphinx extension, `git+https://github.com/lukelbd/sphinx-automodapi@tag`.

After a few hours of debugging I realized that the `pip install git+...` on the readthedocs server was not updating every file, even after using new `tag`s and updating the version number in setup.py. In the end the only thing that worked was nuking th

[2019-09-16 07:12] lukelbd opened #6182 ""The project doesn't have a valid webhook set up", but webhook is working"
I get this message even though the webhook is working and documentation is being automatically generated after running `git push`.

Link to my project is [here](https://readthedocs.org/projects/proplot/builds/).

[2019-09-16 07:37] lukelbd commented on #6182
Nevermind, I clicked on the link and it went away. Found the solution [this old issue](https://github.com/readthedocs/readthedocs.org/issues/5665).

[2019-09-16 07:37] #6182 closed

[2019-09-16 12:16] jcampbell commented on #2013
Thanks for flagging that @stsewd : I have tried wiping and rebuilding, but to no effect (moved pages still show up twice in search results, with one link being broken); will comment on that issue.

[2019-09-16 13:23] #6161 closed

[2019-09-16 13:30] stsewd commented on #6181
Looks like a pip thing, not only with read the docs. You don't need to delete your project to clean de cache, you can wipe the build environment https://docs.readthedocs.io/en/stable/guides/wipe-environment.html (it gets deleted after some time automatically)

[2019-09-16 13:32] stsewd commented on #5546
@vidartf please check https://docs.readthedocs.io/en/stable/guides/build-using-too-many-resources.html

[2019-09-16 13:32] #5546 closed

[2019-09-16 13:35] stsewd commented on #5855
Maybe something like we do with .com? Adding a prefix `_/downloads`

[2019-09-16 14:03] jcampbell commented on #6069
Thanks @stsewd for flagging this still-open issue. We're observing this on the great expectations docs (https://great-expectations.readthedocs.io/en/latest/). Searching for a moved page shows both the new (working) and broken link. I have tried wiping and rebuilding to no effect.

[2019-09-16 15:04] vidartf commented on #5546
@stsewd This is conda install that is triggering the "out of resources", not my build. Would it be possible to add a flag for using [mamba](https://github.com/QuantStack/mamba) instead of conda for the install step?

[2019-09-16 15:09] vidartf commented on #5546
Note, the dependencies listed in my conda env are also quite limited:
- python=3.5
- nodejs
- numpy
- sphinx
- nbsphinx
- pip

If these are enough to trip the conda install, this flag (`CONDA_APPEND_CORE_REQUIREMENTS`) will probably never work?

[2019-09-16 15:26] vidartf commented on #5546
Seem like adding `- nodefaults` to the channels list in the environment file helps conda come within limits again. 👍

[2019-09-16 15:31] stsewd commented on #5546
@vidartf great, let us know if you still run out of resources.

[2019-09-16 16:17] vidartf commented on #5546
With builds now passing, it would be wonderful if the following projects could have the `CONDA_APPEND_CORE_REQUIREMENTS` option enabled as well:
- ipycombobox
- ipydatetime

[2019-09-16 16:30] stsewd commented on #5546
@vidartf done, let me know if you have any problem. Probably you should wipe the environment before triggering a new build on those projects https://docs.readthedocs.io/en/stable/guides/wipe-environment.html

[2019-09-16 18:14] davidfischer commented on #5855
That sounds fine to me.

[2019-09-16 20:30] lukelbd commented on #6181
I don't really know how to reproduce the issue so I guess I'll close this for now. May re-open at a later date.

Also yes I know about "wipe" but I needed to wipe *hundreds* of old versions that used the old version of the sphinx extension, and there is no way to "bulk wipe". Would really love it if you guys added that to the website.

[2019-09-16 20:30] #6181 closed

[2019-09-16 20:41] stsewd commented on #6181
@lukelbd we are testing removing all files (includes the virtual env) after each build, so wiping shouldn't be necessary when that option is active for all users

[2019-09-17 13:54] petersmithca commented on #3181
Is this still in the plans? My work uses pipenv exclusively.  And without its support, i need to build some hack to make things work

[2019-09-17 15:01] johannfaouzi opened #6188 "Unexpected HTML output of the RTD section in home page"
## Details

* Read the Docs project URL: https://pyts.readthedocs.io/en/update_doc_theme/
* Build URL (if applicable):
* Read the Docs username (if applicable): johannfaouzi

I am trying to move from the `sphinx_rtd_theme` theme to the `Alabaster` theme for one of my projects, and I have an issue regarding the section to change the branch, download the documentation, etc. It looks pretty ugly, and

[2019-09-17 15:36] stsewd commented on #6188
Maybe something to do with your custom css https://github.com/johannfaouzi/pyts/blob/update_doc_theme/doc/_static/custom.css, everything else looks correct.

[2019-09-17 15:48] stsewd opened #6189 "Only use post for delete actions"
While refactoring some views I realized that we are allowing `get` actions to delete some models/relations.

Some of them:

- https://github.com/readthedocs/readthedocs.org/pull/6185/files#diff-af56278e704a4143666c87270e9e6d5aR603
- https://github.com/readthedocs/readthedocs.org/pull/6175/files#diff-af56278e704a4143666c87270e9e6d5aR199

This should be done after those PRs are merged

[2019-09-17 16:10] johannfaouzi commented on #6188
Thank you very much for your quick reply, I will try to investigate.

[2019-09-17 17:02] #5888 closed

[2019-09-18 00:24] roycaihw commented on #6122
Thanks for reporting and fixing the issue! I also hit the problem today.

[2019-09-18 00:29] stsewd commented on #6122
Fix isn't deployed yet, after it's deployed you shouldn't have this problem :) (next deploy should be in one or two weeks)

[2019-09-18 08:50] johannfaouzi commented on #6188
I tried several things and the expected output only occurred when I disabled the whole custom CSS file:
[code]
Having an empty `custom.css` file does not work.

It means that it is currently impossible to use a custom CSS file and to have the nice output for the RTD section. I am reopening the issue, to see if a fix is possible.

[2019-09-18 09:15] johannfaouzi commented on #6188
Possibly related: https://docs.readthedocs.io/en/latest/development/design/theme-context.html

[2019-09-18 13:29] johannfaouzi commented on #6188
My bad, I put my custom CSS file in `html_context` instead of `html_css_files`. It works much better now. It is very well explained in the [documentation](https://docs.readthedocs.io/en/stable/guides/adding-custom-css.html).

[2019-09-18 13:29] #6188 closed

[2019-09-18 16:34] stsewd commented on #6152
I'm closing this in favor of https://github.com/readthedocs/readthedocs.org/issues/6154 where we are discussing how to deal with this.

[2019-09-18 16:34] #6152 closed

[2019-09-18 20:49] talaniz opened #6195 "index.md, theme not picked up from mkdocs.yml"
## Details
I've added documentation for our project, populated index.md and added nav to include index.md instead of index.rst but the index page is not being picked up.

* Read the Docs project URL:
https://readthedocs.org/projects/makisu/

* Build URL (if applicable):
https://readthedocs.org/projects/makisu/builds/9678236/

* Read the Docs username (if applicable):
talaniz

## Expected Result
in

[2019-09-18 21:42] stsewd commented on #6195
There are several warning on the build output

[code]

[2019-09-18 22:36] talaniz commented on #6195
I have a similar project with similar warnings, but didn't see any issue with the readme being used/created--
[code]
As these are warnings, nothing indicates that they are critical or preventing RTD from picking them up.

[2019-09-18 22:55] stsewd commented on #6195
I'm able to see the index on the side var

![Screenshot_2019-09-18 Home - Makisu](https://user-images.githubusercontent.com/4975310/65192666-7ad2b400-da3d-11e9-89dc-a36cb53987ca.png)

[2019-09-18 23:15] talaniz commented on #6195
That seems a bit inconsistent, when I go to click on the link, for `Home` on the sidebar it still takes me to the default theme and doesn't render the index.md page.

[2019-09-18 23:22] stsewd commented on #6195
I don't understand what you mean, index.md is the page that you are seeing on the screenshot.

[2019-09-18 23:58] talaniz commented on #6195
It seems inconsistent that you can navigate to the page using the sidebar. I cannot navigate using the sidebar and I still only get this page either when I directly navigate to the main page or try to navigate from the sidebar through another page
![image](https://user-images.githubusercontent.com/3004839/65196786-773b2f00-da35-11e9-8efa-a4ff3fa23d09.png)

[2019-09-19 00:03] stsewd commented on #6195
@talaniz ok. Are you using the read the docs theme or the default theme from mkdocs? I guess the read the docs theme. Anyway, looks like a cache issue, please try a hard refresh (ctrl + f5) or clean the cache from your browser.

[2019-09-19 07:28] Iamshankhadeep commented on #6159
only the `serializers.py` needs to be updated?

[2019-09-19 15:21] stsewd commented on #6159
@Iamshankhadeep if you find other files, feel free to update those too

[2019-09-19 23:35] talaniz commented on #6195
Yup, that was it. Thanks for pointing that out!

[2019-09-19 23:35] #6195 closed

[2019-09-20 05:11] lmannering opened #6197 "Invalid certificate chain for Ubuntu 18-supported certificate"
## Details
I'm getting the same error as #1885 and #2226. Our certificate is supported by Ubuntu 18, but not 16... I can git clone the repo on my mac without issue.

* Read the Docs project URL: data-central.readthedocs.io

## Expected Result

git clone over https

## Actual Result

Received the following error at the git clone step:

`// ... server certificate verification failed. CAfile: /etc/ss

[2019-09-23 12:06] godfryd opened #6201 "broken links in search results"
## Details

* Read the Docs project URL: https://readthedocs.org/projects/kea
* Docs site: https://kea.readthedocs.io/

When I do search for e.g. "configuration backend" I get broken links.
They are broken only on latest version. On v1_6_0 and when I'm building
and running Sphinx under my desk all is ok. I see that search engine
is different in RTD than in vanilla Sphinx.

## Expected Result

When

[2019-09-23 13:14] odscjames opened #6202 "Version Warning banner does not appear"
## Details

* Read the Docs project URL: https://odscjameswritessometestdocumentation.readthedocs.io

## Expected Result

I turned on "Show version warning"

I go to https://odscjameswritessometestdocumentation.readthedocs.io/en/v0-1-0/cats.html

It is not "latest" or "Stable".

So I expect to see a warning banner.

## Actual Result

I don't see a warning banner.

![Screenshot from 2019-09-23 14-1

[2019-09-23 15:27] stsewd commented on #6202
![Screenshot_2019-09-23 Versions Read the Docs](https://user-images.githubusercontent.com/4975310/65439380-aca49b80-ddec-11e9-83d3-88802e6df171.png)

You only have those versions. Master is latest, v0-1-0 is stable.

[2019-09-23 15:33] stsewd commented on #6201
Duplicate of https://github.com/readthedocs/readthedocs.org/issues/6069

[2019-09-23 15:33] #6201 closed

[2019-09-23 15:45] odscjames commented on #6202
I didn't realise it picked a stable automatically, sorry. I'll try and expand this and may re-open; this is actually me trying a simple reproduce of a problem we are seeing elsewhere in a much more complex setup.

[2019-09-23 15:57] odscjames commented on #6202
I have expanded this with another commit, and v-0-2-0. So now 0-2-0 should be the stable version and 0-1-0 the old version?

I'm still not seeing a banner on https://odscjameswritessometestdocumentation.readthedocs.io/en/v0-1-0/cats.html , as I would expect.

Can this be reopened? Thanks.

[2019-09-23 16:09] stsewd commented on #6202
Thanks. I can see that the api response is wrong

[code]

[2019-09-23 16:14] odscjames commented on #6202
Thanks!

[2019-09-23 18:23] stsewd commented on #6202
Ok, looks like we have tests, and the api response is correct. The problem is that your version isn't compatible with PEP 440 https://www.python.org/dev/peps/pep-0440/. Please check https://docs.readthedocs.io/en/stable/versions.html#how-we-envision-versions-working. If you name your version like `v0.2.0` it should work.

[2019-09-23 18:23] #6202 closed

[2019-09-23 18:28] stsewd commented on #6197
We actually use ubuntu 18 on our current docker images. I tried on my local computer (fedora 30)

[code]

[2019-09-24 10:14] odscjames commented on #6202
Ah, ok. Thank you.

[2019-09-24 17:10] stsewd commented on #4638
Just an update here, looks like we depend on the doctype on many places. I think we could get rid of it, but it may be a big refactor. So, I think moving the doctype to the version model is a better solution for now.

[2019-09-24 17:34] stsewd commented on #5318
Another use case is for users that have versions not compatible with pep 440, instead of renaming all of their versions, they can just rename the slug on rtd and automate this with automation rules. We want to allow users to edit the version slug first.

[2019-09-24 17:37] stsewd commented on #6117
Hi @szelesi, sorry for the delay here, can you please provide the project url? The name `Veeam Best Practise 9.5u4a` is a little ambiguous

[2019-09-24 17:42] stsewd commented on #4230
We already have this with sitemap. Closing

[2019-09-24 17:42] #4230 closed

[2019-09-24 17:46] stsewd commented on #6084
Looks like the code was removed https://github.com/e2nIEE/pandapower/commit/c4bfae906e93208f9af2eba77b17bf12a16a0a73#diff-ed7075fc60742be1be75555dcf20ce39

If you still see this in another part of your docs feel free to open a new issue.

[2019-09-24 17:46] #6084 closed

[2019-09-24 17:53] stsewd commented on #6114
I'm pinning @addisonlynch is case the user can just give you the project (or delete the project so the name is available). Looks like there is some contact information too https://github.com/addisonlynch/pyTD#contact

[2019-09-25 14:37] saadmk11 commented on #6090
@ericholscher  Do we want this to behave same as build list page `Build Version` button?
https://github.com/readthedocs/readthedocs.org/blob/3f3488f594c986c86246c686d587cac463c519e8/readthedocs/builds/views.py#L50-L80

And Will this `Resync` Button be available for all the version or only the active versions?

[2019-09-25 15:09] rfaircloth-splunk opened #6206 "RTD hosted repo build failure"
## Details

* Read the Docs project URL:
* Build URL (if applicable):
https://readthedocs.org/projects/splunk-connect-for-syslog/builds/9711095/

* Read the Docs username (if applicable):

## Expected Result

*A description of what you wanted to happen*

## Actual Result

*A description of what actually happened*
Error
There was a problem with Read the Docs while building your documentation. Pleas

[2019-09-25 15:30] stsewd commented on #6090
@saadmk11 the `Resync` button is only one for each project. The task only clones the repo and parse the tags and branches, so the versions are in sync.

[2019-09-25 15:46] stsewd commented on #6206
There is an error while parsing your submodules file

https://github.com/splunk/splunk-connect-for-syslog/blob/master/.gitmodules#L4-L5

It doesn't have a path or url.

Also, if you don't  need those subomdules, you can skip them using a configuration file

https://docs.readthedocs.io/en/stable/config-file/v2.html#submodules

[2019-09-25 19:52] rfaircloth-splunk commented on #6206
thanks a better error message would help but this totally makes sense thank you

[2019-09-25 19:52] #6206 closed

[2019-09-25 20:43] rdnielsen opened #6207 "PDF creation fails on dynamically-created badge image"
## Details

* Read the Docs project URL: https://readthedocs.org/projects/execsql/
* Build URL (if applicable): https://execsql.readthedocs.io/en/latest/
* Read the Docs username (if applicable): dreas.nielsen@gmail.com

## Expected Result

When a source document (RST file) contains a link to a dynamically-created badge, such as:

    .. image:: https://pypip.in/v/execsql/badge.png

The HTML is bu

[2019-09-25 20:53] stsewd commented on #6207
I think there are some settings you need to tweak on your conf.py file to support those images on the pdf. Are you able to build the pdf locally?

[2019-09-25 20:59] rdnielsen commented on #6207
I haven't tried to build the PDF locally.  I'll do that.

[2019-09-25 21:29] rdnielsen commented on #6207
There's an import error and a syntax error in the exception handler:

[code]

The import error may be due to running this on Windows; I'll try it this evening on Linux.  The Syntax error is in the Sphinx source.

[2019-09-26 01:32] pmantica1 opened #6208 "Definition list is not rendered in bold"
In https://graphql-compiler.readthedocs.io/en/latest/#the-graphql-compiler definitions lists are rendered in blue while in https://docs.readthedocs.io/en/stable/index.html they are rendered in bold. Do you know why this might this happens?

[2019-09-26 02:13] rdnielsen commented on #6207
With the following lines added to conf.py

[code]

The PDF is built successfully locally under Linux (Ubuntu 18.04) and Python 2.7.  During the build, the following error messages are issued:

[code]

And the correct images are not displayed in the PDF.  A red circle/slash image is displayed instead.  (Also, the document heading structure is incorrect, but that's a different issue.)

After turning

[2019-09-26 08:49] Zlopez opened #6209 "Mocked modules are ignored"
## Details
I'm trying to build documentation for our project, but I'm hitting issue with some modules. So I tried to mock them using your [guide](https://docs.readthedocs.io/en/stable/faq.html#i-get-import-errors-on-libraries-that-depend-on-c-modules), but according to the build output the mocked module is ignored.

I tried to first mock whole koji module, which doesn't work. After first try, I no

[2019-09-26 12:52] tlongers commented on #4338
Arrived here through https://github.com/readthedocs/readthedocs.org/issues/4315#issuecomment-402066050 after experiencing some difficulties in understanding how to configure RTD to handle multi-lingual documentation.

RTD's documentation on the current way to internationalise is /almost/ there, but I'm with the OP that there are some missing connections between the steps required to localise (gene

[2019-09-26 14:48] pmantica1 opened #6211 "Question: Is there are any way to remove the blank like before and after a list?"

[2019-09-26 15:36] stsewd commented on #6211
You should attach a screenshot :). Anyway, this isn't a Read the Docs problem, probably you  need some css https://docs.readthedocs.io/en/stable/guides/adding-custom-css.html.

A better place to ask this kind of questions are forums, like stack overflow

[2019-09-26 15:36] #6211 closed

[2019-09-26 15:42] stsewd commented on #6208
It's the sphinx version. The Read the Docs theme isn't ready for sphinx2 yet.  https://docs.readthedocs.io/en/stable/index.html  is using sphinx 1.8

[2019-09-26 15:42] #6208 closed

[2019-09-26 16:10] stsewd commented on #6207
@rdnielsen you need to install the extension on Read the Docs too, you can do it with https://docs.readthedocs.io/en/stable/guides/specifying-dependencies.html

[2019-09-26 16:35] stsewd commented on #5989
Yeah, I think even if we go for remove everything after build, this still is important to save us and the user build time.

[2019-09-26 17:38] stsewd commented on #6209
Please make use of the sphinx setting https://www.sphinx-doc.org/en/master/usage/extensions/autodoc.html#confval-autodoc_mock_imports

[2019-09-26 22:14] stsewd commented on #2347
There isn't a good way to determinate if the path is a language or part of the path. But what you want can be done with exact redirects.

- `/en/$rest` -> `/en/latest/`
- `/$rest` -> `/en/latest/`

[2019-09-26 22:14] #2347 closed

[2019-09-27 07:19] Iamshankhadeep commented on #6155
@dojutsu-user what do I need to know to start working on this issue?

[2019-09-27 07:45] Zlopez commented on #6209
@stsewd I used the `autodoc_mock_imports` and I have the same issue.

RP URL: https://github.com/fedora-infra/the-new-hotness/commit/910ab096ff6dcd4e86d3465a51d8469688847f97
Build URL: https://readthedocs.org/projects/the-new-hotness/builds/9720334/

[2019-09-27 13:36] dojutsu-user commented on #6155
Hi @Iamshankhadeep
You can start working on this (Just a little knowledge of django ORM is required)
I think the issue description mentions everything.
Feel free to ask any doubts/questions if you get stuck anywhere. :smiley:

[2019-09-28 07:18] trasher opened #6216 "PDF failed to build on my project, but work on another one"
## Details
* https://readthedocs.org/projects/galette
* https://readthedocs.org/projects/galette/builds/9723366/ (failing) and https://readthedocs.org/projects/galette-debug/builds/9723233/ (working)
* trasher

I have a problem trying to include a logo from a PDF file.

Someone sent me a patch (https://github.com/galette/documentation/commit/81f11cb9b51fe8039270ec0623b3ea4928a792a8) to include the

[2019-09-28 09:46] trasher commented on #6216
We've tested with the following YML config file, result is the same:
https://github.com/galette/documentation/commit/31a6673496f035ea956f7b9a7caf9df6712d5fe4#diff-0112b253036ac23d3e0ac498694769d7

[2019-09-28 22:38] trasher commented on #6216
Finally, another solution that is working on both cases has been found:
https://github.com/galette/documentation/commit/adf1204d962fd8abac1c04ff90ea6d0455d0456d

[2019-09-28 22:38] #6216 closed

[2019-09-30 14:54] dojutsu-user opened #6217 "Remove `SEARCH_ANALYTICS` Feature Flag"
Remove `SEARCH_ANALYTICS` Feature Flag

Ref: [#6192 (comment)](https://github.com/readthedocs/readthedocs.org/pull/6192#issuecomment-536587714)

[2019-09-30 18:22] felix-hilden opened #6218 "Abandoned project name disputes and PEP 541"
The RTD [policy](https://docs.readthedocs.io/en/stable/abandoned-projects.html) for abandoned projects lists a number of conditions to be met for an abandoned project to be renamed, allowing for another project to take over the name. I have a question specifically about one of them.

**The project has fewer than 100 monthly pageviews**

[PEP 541](https://www.python.org/dev/peps/pep-0541/), which r

[2019-09-30 18:31] stsewd commented on #6218
I'm not sure if I understood the question. Do you mean a project takes the old name on pypi but not on rtd?

I think the path here would be to rename the old project, and use the same name for the new project, and the new project could link to the old project in case someone needs the old docs.

[2019-09-30 18:37] felix-hilden commented on #6218
I think you did. A project takes over a name in PyPI, but possibly not in RTD.

I agree that also taking over the RTD name would be beneficial, but your requirement of less than a hundred views a month could be in conflict with it. A link to the old documentation would be appropriate as well, good point.

Thanks for the prompt reply!

[2019-09-30 20:12] stsewd opened #6221 "Remove /projects/"
All related code should be removed, that page isn't useful https://readthedocs.org/projects/

https://github.com/readthedocs/readthedocs.org/blob/1ce31662650d6defa434587ec0325f044052ee72/readthedocs/urls.py#L56-L58

[2019-09-30 20:15] stsewd opened #6222 "Remove rss feed"
All code related to this should be removed, isn't useful.

https://github.com/readthedocs/readthedocs.org/blob/1ce31662650d6defa434587ec0325f044052ee72/readthedocs/core/urls/__init__.py#L55-L66

[2019-10-01 00:12] lmannering commented on #6197
Sorry, I'm not sure what additional info is needed here from our side, can you please clarify? We can git clone on Mac Mojave 10.14.6 and Ubuntu 18.

[2019-10-01 00:42] drsimmo commented on #6197
A git clone of this repository also works with macOS High Sierra 10.13.6. It does not work with Ubuntu 16.04 or earlier.

The certificate from https:/dev.aao.org.au is from COMODO (now Sectigo) and was issued in December 2018.

[2019-10-01 05:23] Iamshankhadeep commented on #6155
@dojutsu-user never worked on django so trying to put together the pieces. I think we just need to change `obj.created` to `obj.modified` and `order_by('-created') ` to `order_by('-modified') ` right?

[2019-10-01 05:26] Iamshankhadeep commented on #6222
@stsewd What do I exactly need to do? and some links where I can study will be useful. Thanks.

[2019-10-01 05:30] bli25broad opened #6223 "Abandoned project name request: cumulus?"
I'm trying to import our team's github project https://github.com/klarman-cell-observatory/cumulus into readthedocs and name it "cumulus". When I search "cumulus", I found a project already exists with that name. However when I go to the corresponding readthedocs project, https://readthedocs.org/projects/cumulus/, there is nothing there. However, if I go to https://cumulus.readthedocs.io/en/latest

[2019-10-01 09:28] iambenzo commented on #6221
I'd like to pick this one up please

[2019-10-01 10:38] robredpath opened #6225 "Long project names and recent builds are too big to fit into project list"
## Details

* Read the Docs project URL: n/a
* Build URL (if applicable): n/a
* Read the Docs username (if applicable): opendataservices

## Expected Result

I expect the list of projects on https://readthedocs.org/dashboard/ to show all of the project titles and their most recent build times legible

## Actual Result

Projects with long names *and* recent build times that are long when written ou

[2019-10-01 13:05] saadmk11 commented on #6221
I think here we want to remove the `ProjectIndex` view which serves https://readthedocs.org/projects/ and Everything related to it.

https://github.com/readthedocs/readthedocs.org/blob/1ce31662650d6defa434587ec0325f044052ee72/readthedocs/projects/views/public.py#L40

[2019-10-01 13:09] saadmk11 commented on #6222
We need to remove this file:
 https://github.com/readthedocs/readthedocs.org/blob/1ce31662650d6defa434587ec0325f044052ee72/readthedocs/projects/feeds.py

and the URL's given above and see if anything else is there related to it and remove them.

[2019-10-01 14:22] iambenzo commented on #6221
Okay, thanks for the clarification.

I will have a go.

[2019-10-01 15:37] ivankravets opened #6227 "Build exited due to time out for PlatformIO Docs"
## Details

* Read the Docs project URL: http://docs.platformio.org/en/latest/
* Build URL (if applicable): https://readthedocs.org/projects/platformio/builds/9737736/

Is it possible to increase timeout for PlatformIO?

[2019-10-01 17:04] davidfischer opened #6229 "HTTPS -> HTTP redirect in URLs missing a trailing slash"
Under some circumstances, we are redirecting docs from HTTPS -> HTTP. We basically never want to do this.

[code]
This is most visible with dirhtml builds where a trailing slash is often omitted and curling `https://flask.palletsprojects.com/en/1.1.x/api/` directly is fine. This affects subdomain docs too (`*.readthedocs.io`) but in a different manner (HTTPS -> HTTP -> HTTPS again):

[code]

It af

[2019-10-01 17:14] davidfischer commented on #6229
Based on my reading, I think the fix may be to turn [`absolute_redirect off;`](http://nginx.org/en/docs/http/ngx_http_core_module.html#absolute_redirect) in nginx. It looks like nginx issues redirects under some circumstances and it uses the same `$scheme` as the request. Since SSL is terminated at the load balancer, the `$scheme` is `http` rather than `https`.

[2019-10-01 17:29] davidfischer opened #6230 "Custom 404 issue with dirhtml"
## Details

* Read the Docs project URL: https://readthedocs.org/projects/flask/

## Expected Result

When doing a dirhtml build and having a custom 404 page, the paths to static assets (JS/CSS) are broken unless the request ends with a trailing slash and is one level deep.

Note: I pointed the Flask maintainers (@davidism specifically) at the [sphinx-not-found extension](https://sphinx-notfound-p

[2019-10-01 17:46] #6159 closed

[2019-10-01 17:55] stsewd commented on #6223
You can try to contact to the user on your own and request permissions to the project. If you are unable to contact the user, we can contact the user with their email (this is the 6 weeks count). Looks like the project isn't maintained anyway.

Also the project is on https://readthedocs.org/projects/cumulus/, but looks like it is set to private (we are about to drop privacy levels too #6194)

[2019-10-01 17:57] stsewd commented on #6225
We are in the process of redesign the site, so probably this issue will be addressed there instead of fixing the current design.

[2019-10-01 20:33] keshav2212 commented on #6222
should we remove all the code of the above two functions as well ?

[2019-10-01 20:44] ekleinod opened #6232 "Sphinx error: missing master file"
## Details

* Read the Docs project URL: https://readthedocs.org/projects/refereemanager/
* Build URL (if applicable): https://readthedocs.org/projects/refereemanager/builds/9740136/
* Read the Docs username (if applicable): ekleinod

## Expected Result

I expected the documentation to be built.

## Actual Result

An error occurred:

    Sphinx error:
    master file /home/docs/checkouts/readthedo

[2019-10-01 20:55] stsewd commented on #6232
Your conf.py file is on ` docs/source/conf.py`, you should put that on your rtd config file https://gitlab.com/open-tt/refereemanager/blob/master/readthedocs.yml

[2019-10-01 21:13] ekleinod commented on #6232
D'oh, now I'm feeling really stupid, but I did not see the problem. Sorry for bothering you.

Thanks for the fast and brilliant response :grin:

[2019-10-01 21:13] #6232 closed

[2019-10-01 21:36] stsewd commented on #6227
Is the epub format required for your project? I think if you disable it the build could pass. https://docs.readthedocs.io/en/stable/guides/build-using-too-many-resources.html#reduce-formats-you-re-building

[2019-10-02 08:35] creatortz opened #6235 "Subdomain configuration problem"
Hi, I am using private readthedocs server.

I have enabled subdomains. I have a new domain set to example.docs.domain.com
Also, I have enabled Single version project, so in theory, my build will be visible on example.docs.domain.com page.

When I go to example.docs.domain.com page, the default readthedocs page is displayed.It should have been displayed my document build there.
After some digging a

[2019-10-02 09:41] ivankravets commented on #6227
Hi @stsewd. I've just disabled `epub` but it didn't help. See https://readthedocs.org/projects/platformio/builds/9742637/

PDF is important for us. Our docs has a lot of pages, maybe this is a problem. In any case, we generate good traffic for your service. We would be happy to stay with your service.

Is it possible to increase this timeout for PlatformIO?

[2019-10-02 09:42] ivankravets commented on #6227
Under "good traffic" - I mean "embedded developers", this is a unique audience.

[2019-10-02 14:42] stsewd commented on #6235
Hi, we don't give support for custom installations, a better place to ask this question can be stack overflow.

You can read more about this on https://docs.readthedocs.io/en/stable/custom_installs/index.html

Looks like you are missing these settings

https://github.com/readthedocs/readthedocs.org/blob/d4eeb1a61c476d7af38b4672c8a36c51b9ee25c7/readthedocs/settings/base.py#L42-L42

https://github.c

[2019-10-02 14:42] #6235 closed

[2019-10-02 15:04] stsewd commented on #6227
@ivankravets we are ok increasing the build time, but first I wan to try other options.

Do you need the htmlzip output? You can enable just the pdf output with https://docs.readthedocs.io/en/stable/config-file/v2.html#formats

[code]

[2019-10-02 15:09] ivankravets commented on #6227
Is it possible to configure this from "Advanced Settings" panel without creating extra YAML? I don't see this option.

[2019-10-02 15:11] stsewd commented on #6227
@ivankravets no, that's only possible using a configuration file.

[2019-10-02 16:07] Patil2099 commented on #6229
@davidfischer Can I work on this issue?

[2019-10-02 16:09] stsewd commented on #6229
@Patil2099 this requires access to our ops repo, that repo is private.

[2019-10-02 17:28] agjohnson opened #6238 "Move inactivate version list to standard CRUD UI pattern"
We are addressing a bug with our version display with #6224. This is an intermediate fix for a bug in the display, the final version to move towards would move us to a standardized pattern for our CRUD interfaces and probably isn't something we'd take on until we are using SUI and have a strong UI base to work from.

We have UI standardization notes about moving towards common UI patterns, so I wo

[2019-10-02 17:50] ivankravets commented on #6227
Wow! Full empty docs https://docs.platformio.org/en/latest/#

https://github.com/platformio/platformio-core/blob/develop/.readthedocs.yml

How to revert back? It seems we have huge problems now. We can't build a new version, and can't revert to old.

[2019-10-02 17:54] stsewd commented on #6227
@ivankravets you are missing to set up the sphinx configuration and probably the requirements installation too, check a minimal example at the beggining https://docs.readthedocs.io/en/stable/config-file/v2.html#configuration-file-v2

We put some defaults otherwise, that may not fit your project.

[2019-10-02 17:56] ivankravets commented on #6227
I remove that config, I'm not sure that it works correctly. I also disabled all formats from WEB. Let see if it works. We have a lot of files in docs and it makes problems for your servers. We will move docs to our server.

[2019-10-02 17:57] ivankravets commented on #6227
I tried differently - it does not work :(

See initial version https://github.com/platformio/platformio-core/commit/47ba1277338182b7618e55817f2dbe5fcb1b14c5

[2019-10-02 18:02] ivankravets commented on #6227
[code]

Build: https://readthedocs.org/projects/platformio/builds/9744430/

[2019-10-02 18:07] stsewd commented on #6227
@ivankravets you are missing to specify the requirements file or requirements that should be used to build your docs, and looks like you use submodules, you should include the submodules on the config file.

You can check https://docs.readthedocs.io/en/stable/config-file/v2.html#migrating-from-v1 to have an overview of what you should change, or read all the options.

[2019-10-02 18:10] stsewd commented on #6189
This is unblocked, anyone feel free to take this issue

[2019-10-02 18:12] ivankravets commented on #6227
How about to have default values? If a user does not specify some options, you will do the same what you do now without config.

I'm not sure that it's a good idea to write a full configuration file with Python, PIP, deps, etc. Tomorrow you change something in your config and docs again is offline. It's even better for you if we don't do this manually.

[2019-10-02 18:17] stsewd commented on #6227
@ivankravets we have some defaults, but not all projects fit that (you can check the default value on each option). Like we don't fetch submodules by default bc not all projects require that, or we don't try to install the first requirements file that we find (this was causing a lot of problems to some users). We also don't merge the options from the web interface when using a config file, this is

[2019-10-02 18:20] ivankravets commented on #6227
Default values are good for us. Is it possible to increase timeout just for our project? Or this value is global?

[2019-10-02 18:22] stsewd commented on #6227
@ivankravets yes, we can increase the build time for your project, but we would appreciate if you first try the other suggestions like disabling the formats that you don't need, since our resources are limited.

[2019-10-02 18:53] ivankravets commented on #6227
Do you have any ideas?

- https://github.com/platformio/platformio-core/blob/develop/.readthedocs.yml
- https://readthedocs.org/projects/platformio/builds/9745441/

[2019-10-02 19:04] stsewd commented on #6227
No, but thanks for disabling the other formats. I'll play increasing the build time now, I'll be triggering some builds on latest, please keep the changes for a minute.

[2019-10-02 19:10] ivankravets commented on #6227
Thanks! Should I close this issue?

[2019-10-02 19:22] stsewd commented on #6227
I have increased the build time to 20 minutes (it was timing out around 14). Builds are passing now https://readthedocs.org/projects/platformio/builds/9745570/

[2019-10-02 19:23] ivankravets commented on #6227
THANK YOU SO MUCH! 😊

[2019-10-02 21:12] ivankravets commented on #6227
It seems that 20 minutes is not enough :(
- https://readthedocs.org/projects/platformio/builds/9745987/

It takes a few minutes on my machine for the full build. However, I've not tested latex. The only html.

Could we increase to 30 minutes?

[2019-10-02 23:11] stsewd commented on #6227
This is weird, some times the build takes ~700 seconds and others +1200 seconds.

[2019-10-02 23:52] stsewd commented on #6227
I triggered 3 consecutive builds, all of them passed. Not sure if it is going to time out in another builds.

![Screenshot_2019-10-02 Builds Read the Docs](https://user-images.githubusercontent.com/4975310/66089613-b09b9080-e545-11e9-96e8-32ee1e636ed9.png)

[2019-10-03 01:49] bli25broad commented on #6223
@stsewd , thanks a lot! I have contacted the owner but got no replied. Please start the 6 weeks count.

Thanks,
Bo

[2019-10-03 06:11] rengel-de opened #6240 "Position of the navigation buttons"
## Problem

With longer text one always has to scroll to the bottom to reach the 'Previous' and 'Next' navigation buttons. This makes hard to quickly step through the documentation.

## Suggested Improvement

Put the navigation buttons at the top.

[2019-10-03 15:22] stsewd commented on #6240
Hi @rengel-de, you can see all option from the Read the Docs theme on https://sphinx-rtd-theme.readthedocs.io/en/latest/configuring.html

What you are looking is the `prev_next_buttons_location` setting.

[2019-10-03 15:22] #6240 closed

[2019-10-03 18:07] rengel-de commented on #6240
Thank you! And sorry, I'm just starting to use Sphinx.

On Thu, Oct 3, 2019 at 5:22 PM Santos Gallegos <notifications@github.com>
wrote:

[2019-10-03 18:18] bpeake-illuscio opened #6243 "Add option to use -e pip install"
Hi all,

I am running into an issue where my builds fail because I cannot perform an egg install with pip.

The way my project is structured, pip needs to have the -e flag set when pip installing in order to see my service's sub-modules, but I don't see any option to do this in the YAML settings.

Instead, during the build I get an error like this, since the library has no .egg:

`ModuleNotFoundEr

[2019-10-03 18:23] stsewd commented on #6243
This is the same as https://github.com/readthedocs/readthedocs.org/issues/3986, there is a workaround using a requirements fille with `-e .`

Not sure where we landed on this, I think we wanted to make this the default option.

[2019-10-03 18:36] bpeake-illuscio commented on #6243
Hi!

I'm looking at the YAML v2 documentation and I'm not sure I see how to add the -e to a requirements.txt install.

Here is my current config:

[code]

How would I modify it? Thank you!

[2019-10-03 18:58] stsewd commented on #6243
You need to create a `docs/requirements.txt` file with this content

[code]

And modify your yaml file like this

[code]

[2019-10-03 20:58] stsewd commented on #6197
This is from our docker images

[code]

If you know what is required to fix this, a PR should be done in https://github.com/readthedocs/readthedocs-docker-images

[2019-10-03 21:18] stsewd commented on #6223
I've sent the email today.

/remind me about take action on this project in 6 weeks

[2019-10-04 00:26] stsewd commented on #6223
I wasn't able to send the email to the one associated to the rtd account, it gives me an error. I'm pinning @msessa here. Let us know if you are ok giving permissions to @bli25broad over the Read the Docs project.

[2019-10-04 00:30] stsewd commented on #6218
We kind of are very flexible with the requirements as for now, I mean if it is a big project we are more cautious.

@felix-hilden do you have any other questions or a suggestion to update the policy? Or can we close this issue?

[2019-10-04 00:31] stsewd commented on #6209
Looks like it's failing on the installation step, when you mock a dependency, you need to exclude it from the installation.

[2019-10-04 00:34] stsewd commented on #6209
You can use either an environment variable https://docs.readthedocs.io/en/stable/builds.html#build-environment or a custom requirements file when building your docs on read the docs.

[2019-10-04 04:42] felix-hilden commented on #6218
That's all I wanted to know, thank you! I'll post the actual request when the time comes, if it does. For now, I'm satisfied with the information that it's possible.

[2019-10-04 04:42] #6218 closed

[2019-10-04 05:23] keshav2212 commented on #6217
I want to resolve this issue. Can you tell me how I proceed for it.

[2019-10-04 08:08] saadmk11 commented on #6217
You need to remove this
https://github.com/readthedocs/readthedocs.org/blob/58f833d97b760b39f53957771a991f0103bd325d/readthedocs/projects/models.py#L1446

And search the code to find where else its been used. and remove it in those places as well.

[2019-10-04 08:27] pauloxnet commented on #4094
I know this issue is closed, but I want to add information about the full-text search with Django and PostgreSQL

The website djangoproject.com has full-text search powered only by Django itself and  PostgreSQL.

We removed ES from the stack 2 years ago and now we have a simplified stack, faster indexing and great search performance.
https://github.com/django/djangoproject.com/pull/797

I'm workin

[2019-10-04 15:29] robredpath commented on #6225
Thanks @stsewd - I look forward to seeing the new design!

[2019-10-04 18:19] ivankravets commented on #6227
https://readthedocs.org/projects/platformio/builds/

Did you make any changes a few days ago? It has been working well for the last 3 years. Could we increase the timeout to 30min? It seems that it depends on general server loading. It's better to decrease CPU resources but increase timeout. So, builds will not fail. Thanks!

[2019-10-04 19:36] keshav2212 commented on #6217
Ok.

[2019-10-05 09:04] Zlopez commented on #6209
@stsewd Your PR did the trick, thanks for the help with this. :+1:

[2019-10-05 16:58] #6209 closed

[2019-10-06 22:16] damon-chem-e opened #6246 "Failed to import numpydoc"
## Details

* Read the Docs project URL: https://readthedocs.org/projects/byu-finance-library-finance-byu/
* Build URL (if applicable): https://readthedocs.org/projects/byu-finance-library-finance-byu/builds/9762330/
* Read the Docs username (if applicable): damonpetersen

## Expected Result

As stated in the RTD documentation, numpydoc can be loaded by specifying it in the extensions in conf.py,

[2019-10-07 15:25] stsewd commented on #6246
Can you please link me to that?

You need to tell to rtd to install that dependency too, check https://docs.readthedocs.io/en/stable/guides/specifying-dependencies.html#specifying-dependencies

[2019-10-07 15:28] damon-chem-e commented on #6246
https://docs.readthedocs.io/en/stable/faq.html#does-read-the-docs-work-well-with-legible-docstrings

[2019-10-07 15:38] damon-chem-e commented on #6246
I specified the requirements file, but RTD is not building the documentation for the class. Again, this builds perfectly locally.

contents.rst:
[code]

[2019-10-07 15:44] stsewd opened #6247 "Clarify to install dependencies if necessary in addition to edit the `conf.py` file"
Here https://docs.readthedocs.io/en/stable/faq.html#does-read-the-docs-work-well-with-legible-docstrings

More context on https://github.com/readthedocs/readthedocs.org/issues/6246#issuecomment-539067310

[2019-10-07 17:21] stsewd commented on #6246
[code]

That's from the build output, it builds locally for you because you have all the requirements from your project installed, you need to specify the same requirements on read the docs.

[2019-10-07 17:45] saadmk11 opened #6249 "Redirect /projects/ -> /dashboard/"
## Details
We should redirect `/projects/` -> `/dashboard/` after https://github.com/readthedocs/readthedocs.org/pull/6228 gets merged.
Ref: https://github.com/readthedocs/readthedocs.org/pull/6228#pullrequestreview-298292363

[2019-10-07 18:03] damon-chem-e commented on #6246
Thank you for your help! Looks like it is building fine now.

[2019-10-07 18:18] #6246 closed

[2019-10-07 18:37] stsewd commented on #6227
so, I found the problem.

We are testing using a new build server, looks like the I/O operations are slower than the others. I put your project out of that builder for now. I'm reporting this back to allow us to improve it.

[2019-10-07 18:47] #6221 closed

[2019-10-07 18:55] stsewd opened #6250 "Remove unused code from view and template"
Person isn't used, and we always expect to have `tags` in the context.

View

https://github.com/readthedocs/readthedocs.org/blob/0c69e7a0411d423cb7cbfc8e63fe0b5d530c7465/readthedocs/projects/views/public.py#L46-L62

Template
https://github.com/readthedocs/readthedocs.org/blob/master/readthedocs/templates/projects/project_list.html

Ref https://github.com/readthedocs/readthedocs.org/pull/6228#disc

[2019-10-07 18:56] #6247 closed

[2019-10-07 23:50] stsewd commented on #6117
Closing since we don't know the project to activate the flag. And we are going to expose that all users soon anyway https://github.com/readthedocs/readthedocs.org/issues/6217

[2019-10-07 23:50] #6117 closed

[2019-10-07 23:54] #4966 closed

[2019-10-08 02:06] bsipocz commented on #5253
do you have an ETA for this? We routinely used the "Protected" feature to hide our older versions, while keeping the direct lint to it alive. IMO the confusion could have been cleaned up with documentation rather than punishing with removal for those who it as intended.

[2019-10-08 03:02] stsewd commented on #5253
We don't have a specific date, but it's on our roadmap https://github.com/readthedocs/readthedocs.org/pull/6194

[2019-10-08 07:50] HyukjinKwon opened #6254 "Increase build timeout limit for Koalas project"
## Details

* Read the Docs project URL: https://readthedocs.org/projects/koalas/builds/
* Build URL (if applicable): https://koalas.readthedocs.io/en/latest/?badge=latest
* Read the Docs username (if applicable): HyukjinKwon

## Expected Result

Build pass without timeout

![Screen Shot 2019-10-08 at 4 50 19 PM](https://user-images.githubusercontent.com/6477701/66377027-bda7fc00-e9eb-11e9-868b-8e

[2019-10-08 07:52] HyukjinKwon commented on #6254
To speed up, I had to disable PDF build and EPUB build; however, we still intermediately face this timeout (which spams emails .. :( .. ).

Can I ask to increase the timeout?

[2019-10-08 07:54] HyukjinKwon commented on #6254
To speed up, I had to disable PDF build and EPUB build; however, we still intermittently face this timeout (which spams emails .. :( .. ).

Can I ask to increase the timeout?

[2019-10-08 08:46] humitos commented on #6254
Hi @HyukjinKwon! I just took a look at your builds and I found that that all the builds were executed on one the same server (build04). We are having an issue with this server (it's executing too many builds at the same time) that we hopefully fix soon.

[2019-10-08 09:00] HyukjinKwon commented on #6254
Thanks! I am actively working on that project. I will update if I happen to find out this issue isn't persistent anymore!

[2019-10-08 10:15] #6070 closed

[2019-10-08 15:22] stsewd commented on #6254
The project is failing for another reason now

[code]

The project doesn't have build04 as builder anymore.

[2019-10-08 15:39] #6249 closed

[2019-10-08 16:14] HyukjinKwon commented on #6254
It suddenly fails there. I'll check and update within few days.

[2019-10-08 16:32] sjrowlinson opened #6256 "Command killed due to excessive memory consumption"
## Details

* Read the Docs project URL: https://readthedocs.org/projects/finesse/
* Build URL (if applicable): https://readthedocs.org/projects/finesse/builds/9771507/
* Read the Docs username (if applicable): sjrowlinson

## Expected Result

Successful build.

## Actual Result

Build failed due to excessive memory consumption:

![failed_build](https://user-images.githubusercontent.com/16781733/6

[2019-10-08 16:44] stsewd commented on #6256
Looks like your project was building ~2 weeks ago. Any big changes around that time?

Also, looks like you are using a configuration file with settings that aren't supported when using conda https://github.com/readthedocs/readthedocs.org/issues/5388

[2019-10-08 17:04] sjrowlinson commented on #6256
The only change around that time which would affect the documentation building (I think) is the creation of quite a few more API documentation pages (around 40 or so) - so that `sphinx-autogen` (which I call recursively on all the docs/api directories via `conf.py`) has more work to do. It is after these new pages were created that I noticed the builds failing due to excessive memory consumption.

[2019-10-08 17:50] stsewd commented on #5867
The pyenv dir is in https://github.com/readthedocs/readthedocs-docker-images/blob/e417003de119e908352688c92ffa58838cb3b11c/Dockerfile#L157

[2019-10-08 18:41] stsewd commented on #5867
That would require a lot of work, probably we don't want that.

If I understand, your question is to know the path of the virtualenv? If so, we always create the virtualenv in `~docs/checkouts/readthedocs.org/user_builds/{project_slug}/envs/{version_slug}`

Looks like the easiest solution is to just use an updated version of cmake?

Feel free to put the best solution you consider in our faq page h

[2019-10-08 18:41] stsewd commented on #5867
And we expose the current project and version slug as env variables https://docs.readthedocs.io/en/stable/builds.html#build-environment

[2019-10-08 19:31] bli25broad commented on #6223
@stsewd , I haven't received any message from @messa.  Should we start to count for 6 weeks?

Thanks,
Bo

[2019-10-08 19:33] stsewd commented on #6223
I have already set the count, but I wasn't able to send the email to the one that is in their rtd account.

[2019-10-08 21:55] jasonyin opened #6260 "Build Timeout"
## Details

* Read the Docs project URL:https://oracle-cloud-infrastructure-python-sdk.readthedocs.io
* Build URL (if applicable):https://readthedocs.org/projects/oracle-cloud-infrastructure-python-sdk/builds/9773307/
* Read the Docs username (if applicable): jasonyin

## Expected Result

Build pass

## Actual Result

Timeout

## Comments

Same code which got doc build pass here: https://readthedo

[2019-10-08 22:28] stsewd commented on #6260
Hi @jasonyin, sorry for the problem. We are testing a different server to build docs. Your project should build fine now https://readthedocs.org/projects/oracle-cloud-infrastructure-python-sdk/builds/9773484/

ref https://github.com/readthedocs/readthedocs.org/issues/6227

[2019-10-08 22:33] #6260 closed

[2019-10-08 22:38] jasonyin commented on #6260
thanks @stsewd , I can confirm the issue resolved. BTW, is there a way for us to get notice for these kind of testing on production? So we can plan our release accordingly?

[2019-10-08 22:43] stsewd commented on #6260
We don't have a way to communicate that currently, we just sample random projects, but usually it shouldn't cause this kind of trouble.

[2019-10-08 23:11] stsewd commented on #6114
Also, I if you are unable to contact the user, we can follow our policy for abandoned projects https://docs.readthedocs.io/en/stable/abandoned-projects.html

[2019-10-08 23:58] stsewd commented on #5856
Only these are left

https://github.com/readthedocs/readthedocs.org/blob/master/readthedocs/profiles/views.py

https://github.com/readthedocs/readthedocs.org/blob/master/readthedocs/gold/views.py

The other ones are public views

[2019-10-09 00:48] addisonlynch commented on #6114
This is still in use...I'm sorry! I will be updating the project soon.

[2019-10-09 01:04] HyukjinKwon commented on #6254
Hi, the error was temporary. The problematic package started to install properly. https://readthedocs.org/projects/koalas/builds/9773902/

[2019-10-09 01:38] stsewd commented on #6114
@addisonlynch thanks for letting us know!

[2019-10-09 01:38] #6114 closed

[2019-10-09 05:48] Seedoorf opened #6261 "Night theme"
It can be difficult to read some documentation for a long time. Dark theme can solve this issue. For example, night/light theme switcher

[2019-10-09 10:20] eirrgang commented on #5867
The automated comment above links a possible FAQ addition, but I have not tested the documentation build for proper Sphinx rendering / aesthetics, and it would be worth retesting the advice. When/if I get around to doing that, I can issue a PR from that branch. (I won't be disappointed if someone beats me to it. ;-) )

[2019-10-09 10:25] humitos commented on #6261
Hi! Thanks for the suggestion.

This is something that Read the Docs won't implement in the near future at least. We already have a theme (https://github.com/rtfd/sphinx_rtd_theme) and takes us a lot of effort to maintain.

Also, there are other themes that could be used by the author of the documentation if they consider (like https://sphinx-themes.org/html/groundwork-sphinx-theme/groundwork/inde

[2019-10-09 10:25] #6261 closed

[2019-10-09 10:27] #6089 closed

[2019-10-09 10:42] humitos commented on #6207
Keep in mind that we don't use `rst2pdf` to build the PDF file. That extension won't work on Read the Docs, even if it's installed.

[2019-10-09 11:44] g1itch commented on #4465
Not working. It's still showing the maze.

[2019-10-09 13:24] humitos opened #6265 "Message about number of inactive versions shown"
The new version listing page with the filter to activate versions is really cool. Although, it hides that only the first 100 versions are shown:

https://github.com/readthedocs/readthedocs.org/blob/558e143743576ada85d9a0a4abb5cc0693d3181d/readthedocs/projects/views/public.py#L370

This could confuse users, thinking that we are showing all the inactive versions. To solve this, I think we could add

[2019-10-09 13:30] davidfischer commented on #6265
I'm on board with this. One pattern I've seen is to only show this message when there are 100 inactive versions.

[2019-10-09 14:01] #6189 closed

[2019-10-09 14:02] #3561 closed

[2019-10-09 14:03] #4914 closed

[2019-10-09 20:16] johanneskoester opened #6268 "Allow CORS from rendered page on readthedocs"
## Details

* Read the Docs project URL: https://snakemake.readthedocs.io/en/latest
* Build URL (if applicable):
* Read the Docs username (if applicable): johanneskoester

## Expected Result

I have included a raw HTML snippet, that is supposed to render a dynamic badge from https://badge.dimensions.ai. The rendering fails though, because a cross site scripting attempt is blocked due to CORS setti

[2019-10-09 20:27] stsewd commented on #6268
Hi, I can see the badge

![Screenshot_2019-10-09 Snakemake — Snakemake 5 7 0+6 g17c677b5 dirty documentation](https://user-images.githubusercontent.com/4975310/66517537-e8a45580-eaa8-11e9-8274-663b91c05971.png)

If there is a problem with CORS, the website that _owns_ the resource should allow to load that resource from `readthedocs.io`, no Read the Docs.

If you are trying to load a resource from

[2019-10-10 07:27] messa commented on #6223
You made a typo, I’ve never heard about cumulus :)

[2019-10-10 08:36] pmoura opened #6270 "Build error with build id #9781095"
## Details:

* Project URL: https://readthedocs.org/projects/logtalk3/
* Build URL(if applicable): https://readthedocs.org/projects/logtalk3/builds/9781095/
* Read the Docs username(if applicable): AnonymousUser

## Expected Result

Build marked as successful as the log shows that indeed it succeeded.

## Actual Result

Build marked as failed despite being successful.

[2019-10-10 09:51] humitos commented on #6270
It looks like a temporary error. It's the only build that has failed in the last +50 builds. It seems the server was overloaded. Nothing to worry about for now. Thanks!

[2019-10-10 09:51] #6270 closed

[2019-10-10 09:58] humitos commented on #6230
What would be the solution for this?

All the assets are relative in that HTML, which makes the trailing `/` mandatory --otherwise, it ended up in an upper level that the one it's expecting.

`sphinx-notfound-page` page solves this by making all the links absolute (see https://sphinx-notfound-page.readthedocs.io/not/found/page.html).

[2019-10-10 13:11] johanneskoester commented on #6268
Thanks @stsewd, that was a misunderstanding from my side then. I will contact the owners.

[2019-10-10 13:11] #6268 closed

[2019-10-10 14:29] stsewd commented on #5586
There are still more settings to rename

[2019-10-10 16:18] dwt2 opened #6271 "v3 API doesn't check if a subproject relationship already exists"
## Details

* Read the Docs project URL:
* Build URL (if applicable):
* Read the Docs username (if applicable):

## Expected Result

*Only one subproject relation should be allowed.*

## Actual Result

*When creating a subproject relationship, the v3 API does not check that there is not already a relationship and will allow the creation. Also, once there is more than one relation to the same proje

[2019-10-10 16:29] stsewd commented on #6271
Looks like we allow that on the GUI too, we only modify the queryset, but we don't really check if the subproject is valid

https://github.com/readthedocs/readthedocs.org/blob/2bd2daca8c1a1bd212cb55d38c487f6a28f26693/readthedocs/rtd_tests/tests/test_subprojects.py#L130-L130

You can do it from the edit button, does it give you an error?

[2019-10-10 16:36] dwt2 commented on #6271
Clicking the edit button gives me the fail whale.

[2019-10-10 17:01] stsewd commented on #6271
Which relationship do you want to delete? I can delete it manually for you.

[2019-10-10 17:04] dwt2 commented on #6271
Thanks, you can delete all four.

[2019-10-10 17:05] dwt2 commented on #6271
Thanks, you can delete all four. Account lf-oran, under dwproj.

[2019-10-10 17:17] stsewd commented on #6271
Done, let me know if it looks correct now

[2019-10-10 17:25] dwt2 commented on #6271
It does, thanks.

On Thu, Oct 10, 2019 at 10:18 AM Santos Gallegos <notifications@github.com>
wrote:

--
DW Talton
Release Engineering
The Linux Foundation

[2019-10-10 20:09] bli25broad commented on #6223
@messa , sorry for the typo!

[2019-10-10 20:10] bli25broad commented on #6223
@stsewd , since we cannot send the email, should we still wait for 6 weeks?

Thanks,
Bo

[2019-10-10 20:12] stsewd commented on #6223
Yes, let's just wait in case the github mention works

[2019-10-10 20:19] bli25broad commented on #6223
Sure thing. Thanks @stsewd .

[2019-10-11 01:12] HyukjinKwon commented on #6254
Hi, I still face time out intermittently. Can I ask to increase time out please? I am handling flakiness of `java-jdk=8` as well separately but this timeout affects the build more seriously.

[2019-10-11 09:47] humitos commented on #6254
Hi @HyukjinKwon! I increased time and memory for your project. I'm closing this issue. Feel free to re-open if you think it's needed. Also, let me know if it's building properly :)

[2019-10-11 09:47] #6254 closed

[2019-10-11 10:06] humitos commented on #6271
Good catch, @dwt2! Thanks for reporting this :)

[2019-10-11 11:09] HyukjinKwon commented on #6254
Thank you so much guys!

[2019-10-11 11:53] HyukjinKwon commented on #6254
![Screen Shot 2019-10-11 at 8 53 05 PM](https://user-images.githubusercontent.com/6477701/66649449-28b23680-ec69-11e9-8207-55f5dc705724.png)

Eh, sorry @humitos can you double check if the time is increased?

[2019-10-11 11:54] HyukjinKwon commented on #6254
Also, seems like I can't reopen this issue :(.
![Screen Shot 2019-10-11 at 8 54 01 PM](https://user-images.githubusercontent.com/6477701/66649495-48495f00-ec69-11e9-9787-2d4912526e48.png)

[2019-10-11 14:15] stsewd commented on #6254
Last builds are passing now

[2019-10-11 20:35] davidfischer opened #6279 "Add a yearly Gold membership plan"
Currently, all the options in the Gold app are monthly plans. A few companies and universities have asked for a yearly option as that fits better with grant budgets or with company finances.

There might be a few complications to investigate but the main bits of this might just be to add it to a form and connect it to a stripe subscription which is billed yearly.

## Screenshot
<img width="976" al

[2019-10-11 20:57] Iamshankhadeep commented on #6279
Can I work on it?

[2019-10-11 21:17] Iamshankhadeep commented on #5394
@stsewd is this still needed?

[2019-10-11 21:28] stsewd commented on #5394
Yes

[2019-10-11 21:33] davidfischer commented on #6279
I'm not sure what complications you might get into with Stripe but you are welcome to try and/or get it started.

[2019-10-13 02:20] HyukjinKwon commented on #6254
![Screen Shot 2019-10-13 at 11 18 01 AM](https://user-images.githubusercontent.com/6477701/66710032-34a61180-edab-11e9-94e2-e455af00fad3.png)

eh, seems still failing. Can I ask to increase the timeout?

[2019-10-13 03:20] stsewd commented on #6254
![Screenshot_2019-10-12 Builds Read the Docs](https://user-images.githubusercontent.com/4975310/66710459-7fd60b00-ed3e-11e9-96cb-1852ff6705a6.png)

[2019-10-13 05:34] kalekundert opened #6280 "Support flit for installing projects"
I have a project that I'm using [flit](https://flit.readthedocs.io/en/latest/) to install and publish, but I don't see a way to get RTD to install it.  The process for installing with flit is not much different than installing with pip, basically just running `flit install --symlink` rather than `pip install -e .`.

This feature request seems similar to #4783, which seems close to being merged.  I

[2019-10-13 09:50] humitos commented on #6280
Hi @kalekundert! We currently do not support other way of installing packages than using `pip`, `setup.py`, or `conda`. The support for pipfile was not merged for different reasons, but one of them is that because we are not sure if we want to support multiples ways of installing packages, given the small amount of people that we are maintaining the core.

There was an attempt or merging and deplo

[2019-10-13 14:46] Iamshankhadeep commented on #5394
Can I work on it then?

[2019-10-13 14:47] saadmk11 commented on #5394
Sure! Go Ahead :+1:

[2019-10-13 15:00] kalekundert commented on #6280
First, a disclaimer: Take everything I say with a grain of salt, because I didn't really know anything about any of it until last night.

After looking at this more closely, I don't think this feature request really makes sense.  The advantage of `flit` is that it uses `pyproject.toml` instead of `setup.py`, so it's easier to work with, has less boiler-plate, and is more modern.  `pip` can also us

[2019-10-13 18:52] thegtzz commented on #6250
hi, I'am new either in django or open source projects. What should I do with this issue exactly? Could you explain, please?

[2019-10-13 20:32] stsewd commented on #6280
Yes, you need to have a configuration file with `version: 2` in order to have the defaults described on that page. You can see this restriction at the beginning.

https://docs.readthedocs.io/en/stable/config-file/v2.html#version

[2019-10-13 21:46] kalekundert commented on #6280
Got it, thank you.

[2019-10-13 21:46] #6280 closed

[2019-10-14 04:14] ashleyzcy opened #6282 "fortran compiler issue"
## Details

* Read the Docs project URL: https://readthedocs.org/projects/pyemsoftreadthedocs/
* Build URL (if applicable): https://pyemsoftreadthedocs.readthedocs.io/en/latest/
* Read the Docs username (if applicable): ashleyzcy

## Expected Result

shows the module contents (functions, types)

## Actual Result
Failed to import module. I can not pip install the f90wrap (defined in the requirement

[2019-10-14 06:09] Iamshankhadeep commented on #5586
Do I need to change the name for all setting?

[2019-10-14 06:21] Iamshankhadeep commented on #5394
@stsewd do I need to refactor [this](https://github.com/readthedocs/readthedocs.org/blob/master/readthedocs/integrations/models.py) file only?

[2019-10-14 08:07] humitos commented on #6282
Hi @ashleyzcy! Can you be more specific about the issue that you are reporting? Are you able to build the docs locally? Are you installing all the dependencies properly on RTD? Isn't needed to setup an environment variable telling Python where Fortran compiler can be found?

[2019-10-14 08:32] #6271 closed

[2019-10-14 15:04] ashleyzcy commented on #6282
Yes. I am able to build locally. In order to import the modules, I need to have numpy (installed) and f90wrap (have some issue with this, which needs a Fortran compiler) installed. Thanks for the advice. I am currently setting up the environment variable for the conf.py. I will keep this post updated if I have any luck.

[2019-10-14 15:52] stsewd commented on #5586
@Iamshankhadeep yes, but please make separate PRs for each setting so the changes are easy to review.

[2019-10-14 15:54] stsewd commented on #5394
@Iamshankhadeep all files that are required for django polymorphic to work. You should read the django polymorphic docs. Also, maybe this isn't a good first issue to start if you are not familiar with django.

[2019-10-14 16:07] Iamshankhadeep commented on #5394
@stsewd  That's why I want to work on this issue and to learn Django, hope you all will support me while I learn about all the things that are new to me.

[2019-10-14 16:28] BingmingWong opened #6284 "error: command 'gcc' failed with exit status 1"
## Details

* Read the Docs project URL:http://python-online.cn
* Build URL (if applicable):https://readthedocs.org/projects/mings-blog/builds/9799650/
* Read the Docs username (if applicable):WONGBINGMING

## Expected Result

build successfully when i change the python interpreter from python 2 to python 3

## Actual Result

error: command 'gcc' failed with exit status 1

[2019-10-14 16:33] stsewd commented on #6284
Does your project work locally if you use python3?

[2019-10-15 05:04] BingmingWong opened #6289 "AttributeError: 'str' object has no attribute 'decode'"
## Details

* Read the Docs project URL:http://python-online.cn
* Build URL (if applicable):https://readthedocs.org/projects/mings-blog/builds/9799815/
* Read the Docs username (if applicable):WONGBINGMING

## Expected Result

Local build is successful in my PC( python 3.6.7)

## Actual Result

Exception occurred when I build in readthedocs, more exception detail is:

preparing documents... readin

[2019-10-15 06:46] HyukjinKwon commented on #6254
Thanks for checking it closely @stsewd

BTW, did the build in Read the docs decrease timeout lately?

Seems the builds started to fail again:

<img width="875" alt="Screen Shot 2019-10-15 at 8 43 59 AM" src="https://user-images.githubusercontent.com/6477701/66806546-1c0f3600-ef28-11e9-82ec-c286c557728e.png">
<img width="916" alt="Screen Shot 2019-10-15 at 7 41 32 AM" src="https://user-images.githu

[2019-10-15 07:30] ericholscher opened #6290 "Configure tests to raise Template SynaxError's"
We've hit issues with our templates that should be caught in the tests (https://github.com/readthedocs/readthedocs.org/pull/6274#event-2703801142). To fix this, we should ensure that our test suite is raising syntax errors in our templates. It doesn't look like there's an obvious way to do this, so we need to research this a bit more.

[2019-10-15 07:39] ericholscher commented on #5586
Let's please not do a large renaming of our settings in a random way. We really need to make sure we handle these right, and deprecate them properly. Just renaming things randomly is going to break a ton of downstream stuff for no real value.

[2019-10-15 09:30] xylodev opened #6291 "This project is currently disabled and can't trigger new builds"
## Details

* Read the Docs project URL: https://amazon-payments-advanced.readthedocs.io
* Build URL (if applicable):
* Read the Docs username (if applicable): xylodev

## Expected Result

I'd like to get a new documentation build from the latest changes committed to the git repository.

## Actual Result

In the "Builds" section, when I select "latest" version from the dropdown and I click on the

[2019-10-15 10:04] ssbarnea opened #6292 "rtd uses sphinx 1.8.5 even if it previously installed 2.2.0"
## Details

* Read the Docs project URL: https://github.com/pycontribs/jira/blob/master/.readthedocs.yml
* Build URL (if applicable): https://readthedocs.org/projects/jira/builds/9803343/
* Read the Docs username (if applicable): ssbarnea

## Expected Result

Successful build of docs using the requires sphinx 2.2.0.

## Actual Result

Based on the logs sphinx 2.2.0 is installed (docs extra) but af

[2019-10-15 11:24] humitos commented on #6292
You probably need to wipe the environment. Can you try that first? Thanks.

[2019-10-15 13:40] #6289 closed

[2019-10-15 15:56] stsewd commented on #6292
This looks like a cache problem, please try wiping the env before triggering a new build https://docs.readthedocs.io/en/stable/guides/wipe-environment.html

[2019-10-15 16:07] stsewd commented on #6254
No, we haven't. But looks like the conda step is taking a lot of the time

Do you need both channels?

https://github.com/databricks/koalas/blob/4022df3d97b3a9c12ed842cc1e7e0f43b100af56/dev/readthedocs-environment.yml#L6-L7

Conda gets slower depending on the number of channels.

Also, if you agree, we can try using the last version of conda for your project (there are some improvements to make it

[2019-10-15 16:19] stsewd commented on #6290
Didn't run the linter, but looks like something that may work

https://github.com/joostrijneveld/django-template-check

[2019-10-15 16:51] stsewd commented on #6291
Looks like your uses was banned by mistake, sorry about that. Everything should be working now, let me know if there is any other problem

[2019-10-15 16:51] #6291 closed

[2019-10-15 17:57] HyukjinKwon commented on #6254
Let me give a shot to don't use both channels (opened a PR https://github.com/databricks/koalas/pull/932). I will update you by EOD of tomorrow.

I will try `UPDATE_CONDA_STARTUP` as well.

However, I was wondering why it suddenly times out at 600 seconds instead of 900 seconds, which was used to be.

[2019-10-15 18:01] stsewd commented on #6254
Probably a bug on our code, sometimes if the command fails the command doesn't get updates on the db https://github.com/readthedocs/readthedocs.org/issues/4288

[2019-10-15 18:12] HyukjinKwon commented on #6254
Thanks, @stsewd, I will wait for the fix and follow what you guided first, and see what happens.

[2019-10-15 19:48] agjohnson commented on #5586
I brought up in slack that we should throw deprecation warnings for any of the old settings. We can do this with django's system checks probably. Deprecated settings should be well documented as well, otherwise it's very confusing what settings have changed.

[2019-10-15 20:57] ConstantinoSchillebeeckxSimpleRose opened #6293 "Build fails permission denied"
## Details

I'm using the trial account with a private python repo building docs with Sphinx. I've got no issues building docs locally, however the build is failing on RTD.

[code]

* Read the Docs project URL: private repo
* Build URL (if applicable): https://readthedocs.com/api/v2/build/250162.txt
* Read the Docs username (if applicable):

My `.readthedocs.yml` looks like:
[code]

My docs all li

[2019-10-15 22:20] stsewd commented on #6293
Hi @ConstantinoSchillebeeckxSimpleRose for issues on readthedocs.com, you should contact support https://readthedocs.com/support/ We'll be happy to help you there.

[2019-10-15 22:20] #6293 closed

[2019-10-16 12:14] Midnighter opened #6296 "Specify the Sphinx version"
## Details

* Read the Docs project URL: https://readthedocs.org/projects/cobra-component-models/
* Build URL (if applicable):
    1. https://readthedocs.org/projects/cobra-component-models/builds/9810044/
    2. https://readthedocs.org/projects/cobra-component-models/builds/9810057/
* Read the Docs username (if applicable):

## Expected Result

I have specified the Sphinx version in my `docs/requ

[2019-10-16 15:05] stsewd commented on #6296
We just call `pip install -r requirements` under the hood.

[2019-10-16 15:25] #6296 closed

[2019-10-16 15:29] Midnighter commented on #6296
My bad, and thank you for your support.

[2019-10-16 15:32] #6250 closed

[2019-10-16 16:18] dojutsu-user commented on #6126
@stsewd I think it will result in not having correct results for #6121. We are storing the page views count from the footer views. So if that is cached -- the page view count will not be correct.

[2019-10-16 17:01] pllim opened #6297 "Feature Request: Global edit_on_github_branch setting for all versions"
## Details

* Read the Docs project URL: https://readthedocs.org/projects/astropy/
* Build URL (if applicable):
* Read the Docs username (if applicable): pllim

cc @bsipocz

## Expected Result

"On GitHub -> Edit" option to only allow edit on `master` branch of the repo. We attempted this at astropy/astropy#9379 but realized that it would not retroactively apply to all the released versions we eve

[2019-10-16 18:47] jakirkham commented on #1340
What are the steps for setting this up for a repo currently?

[2019-10-16 19:19] peterthomassen opened #6299 "Menu hierarchy broken"
## Details

* Read the Docs project URL: https://readthedocs.org/projects/desec/
* Build URL (if applicable): https://desec.readthedocs.io/en/latest/

## Expected Result

In the menu on the left, submenus should expand correctly. For example, under the item "Retrieving and Manipulating DNS Information", there is an item "Creating an RRset". This section has subsections, and thus the menu item is p

[2019-10-16 19:20] stsewd commented on #1340
@jakirkham you mean locally or on the site? On the site you need to request a beta access https://blog.readthedocs.com/building-docs-for-pull-requests/

For a local installation you need to enable this flag for your projects `EXTERNAL_VERSION_BUILD`

https://docs.readthedocs.io/en/stable/guides/feature-flags.html

You can do this from the admin of `Features`

[2019-10-16 19:25] stsewd commented on #6297
Sorry, don't think this isn't possible without rebuilding all versions.

Don't think we have a pattern to edit old versions without rebuilding. You could branch those versions and add the change and push that new version to rtd and add a redirect from the old version to the fixed version.

We don't plan to add global setting on the configuration file, only per version settings.

[2019-10-16 19:36] pllim commented on #6297
Thanks for the quick reply. We'll think of other ways on our end.

[2019-10-16 19:38] bsipocz commented on #6297
@stsewd - The link live however in the same dropdown menu the list of versions, too. Isn't there a way to patch that box in the deployed versions?

[2019-10-16 19:39] stsewd commented on #6299
Hmm, this works fine on https://docs.readthedocs.io/en/stable/config-file/v2.html

Also, you should try creating a sphinx project (currently rtd is generating some default files for you)
https://docs.readthedocs.io/en/stable/intro/getting-started-with-sphinx.html It may be related to that.

And If this is a bug, you should report it to https://github.com/readthedocs/sphinx_rtd_theme

And finally,

[2019-10-16 19:44] stsewd commented on #6297
That link is generated dynamically yes, but we always display the link from the same version the user is reading, we are working in making that configurable (but only something like display or not that link, no to change the content).

You can patch that menu using a custom js file, but that requires re building the versions too.

[2019-10-16 19:47] bsipocz commented on #6297
Being able to not display that link would solve all our headaches, so I'm extremely happy to hear that you're working on making that possible.

[2019-10-16 19:47] jakirkham commented on #1340
Thanks for the detailed answer. Was meaning the site. Didn't know if things had changed in the past few months.

[2019-10-16 22:31] stsewd commented on #6254
I have enabled the flag, but it stills times out. I'm increasing the build time to 15 min

[2019-10-16 22:46] stsewd commented on #6254
Looks like is passing again, let me know if it keeps timing out

[2019-10-17 06:05] HyukjinKwon commented on #6254
Awesome!

[2019-10-17 07:35] maldag opened #6301 "Switch visibility of blocks based on only-directive"
## Details
This is a feature request for the following use case:
*  The developer of a manual wants to address different audiences in a single documentation.
   *  The comissioning department basically needs a short cheatsheet of what is to be done
   *  The service department needs the information above plus additional ideas of what errors can happen or explanation of how things are thought to be

[2019-10-17 09:52] drsimmo commented on #6197
Hi,
It turns out that this was caused by the way that gitlab required SSL certificates to be chained. I correct the order of the certificates (on https://dev.aao.org.au) and this has resolved the issue. I guess that git on a Mac is not strict about this?
Anyway, thanks!

[2019-10-17 13:56] stsewd commented on #6094
There is some work on this in https://github.com/readthedocs/readthedocs.org/pull/6295

[2019-10-17 14:10] stsewd commented on #6197
Great! Glad that you figured out :)

[2019-10-17 14:10] #6197 closed

[2019-10-17 14:13] stsewd commented on #6301
Is the request to allow users to specify what sphinxs tags to expose during build?

[2019-10-17 15:05] genzh opened #6302 "Build exited due to time out 450s"
https://readthedocs.org/projects/terralink-xde/builds/9817036/

please increase timeout build

[2019-10-17 15:16] stsewd commented on #6302
Please follow these suggestions first https://docs.readthedocs.io/en/stable/guides/build-using-too-many-resources.html. Also, if this is documentation for a private project, you may consider using readthedocs.com. All projects on readthedocs.org are public.

[2019-10-17 15:30] stsewd opened #6303 "Link to commit hash and PR on docs built from a PR"
When we build docs from a PR we put this banner

![Screenshot_2019-10-17 Read the Docs Documentation Simplified — Read the Docs 3 8 0 documentation](https://user-images.githubusercontent.com/4975310/67023717-e0f83880-f0c8-11e9-9c14-b8194b2ff3a6.png)

But the users don't know from what commit are those docs. It would be also helpful to link to the PR + show the commit.

[2019-10-17 18:42] ChoiByungWook opened #6304 "Build time out when hitting the api to get active versions"
## Details:

* Project URL: https://readthedocs.org/projects/sagemaker/
* Build URL(if applicable): https://readthedocs.org/projects/sagemaker/builds/9817944/
* Read the Docs username(if applicable): AnonymousUser

## Expected Result

Build succeed

## Actual Result

Based on the build history, the builds have been failing and passing inconsistently.

The following things are inconsistent when loo

[2019-10-17 18:58] PG-1 commented on #6086
Could you provide us which modules you had mocked?

[2019-10-17 21:17] stsewd commented on #6256
I've increased the build time to 15 min and memory to 1200 mb, build is passing now https://readthedocs.org/projects/finesse/builds/9818824/

[2019-10-17 21:17] #6256 closed

[2019-10-18 00:57] #6207 closed

[2019-10-18 01:50] makcedward commented on #6086
@PG-1
You may  check out my change from here.
https://github.com/makcedward/nlpaug/blob/master/docs/conf.py#L34

[2019-10-18 04:28] lpsinger commented on #5717
It looks like #1083 has not progressed. Is it possible to increase the memory allocation?

[2019-10-18 04:53] maldag commented on #6301
During the build process, the needed scopes would be accessible to administrators of the project only.

The end user needs a way to switch between scopes. For this I'm thinking about two ways:
*  Same procedure as languages or versions (different page, different content)
*  Put all paragraphs and boxes in collapsable boxes and only show content relevant to end user based an (cookie?)

[2019-10-18 17:03] agjohnson opened #6305 "Revert removal of search highlighting on documentation page"
The underlying PR #6087 removed the URL params necessary to add highlighting to the linked documentation page, a feature that is very helpful to users. There wasn't much context in the PR about why the change was required or why the solution we made was the correct one.

I would like to revisit this as I'm already missing the highlighting and there are probably better ways to address problems that

[2019-10-19 01:16] KelSolaar opened #6308 "Timeout seems to have reduced to 600 seconds."
## Details

* Read the Docs project URL: https://colour.readthedocs.io
* Build URL (if applicable): https://readthedocs.org/projects/colour/builds/9824912/
* Read the Docs username (if applicable): KelSolaar

## Expected Result

*A description of what you wanted to happen*

Build exited due to time out:

![image](https://user-images.githubusercontent.com/99779/67135832-99b1a980-f27a-11e9-9eeb-b54b

[2019-10-19 14:46] humitos commented on #6308
I think this bug was introduced when replacing the setting in #6040.

[2019-10-20 02:35] damon-chem-e opened #6310 "Autofunctions not working."
## Details

* Read the Docs project URL: https://readthedocs.org/projects/byu-finance-library-finance-byu/
* Build URL (if applicable): https://readthedocs.org/projects/byu-finance-library-finance-byu/builds/9827915/
* Read the Docs username (if applicable): damonpetersen

## Expected Result and Actual Result

Autofunction should propagate the documentation for my functions. It is working for an a

[2019-10-20 14:48] matfax commented on #6292
This is probably a duplicate of #5810

[2019-10-20 14:58] matfax commented on #5810
I can confirm that this happens with setuptools as well.

[code]

[2019-10-20 17:10] webknjaz opened #6311 "Allow setting open build env vars in"
## Details

* Read the Docs project URL: N/A
* Build URL (if applicable): N/A
* Read the Docs username (if applicable): N/A

## Expected Result

I want to be able to set public env vars via `.readthedocs.yml`.

## Actual Result

I can only do this in the web UI.

## Use-case

I have an in-tree Sphinx extension and import paths are set up via `tox`. Since RTD doesn't allow specifying a custom build

[2019-10-20 18:30] KelSolaar commented on #6308
I think that I had a build passing after the commit got merged, e.g. https://readthedocs.org/projects/colour/builds/9794465/, I'm not sure how long it takes for the code to get rolled to the production server though.

It is kind of a bummer because I was intending to release a new version of [Colour](https://github.com/colour-science/colour) over the weekend but won't be able because I don't have

[2019-10-21 07:47] maldag opened #6312 "Search Queries with Elasticsearch"
## Details
Using elasticsearch combined with RTD on a local hosted environment provides already a full-text search.

Is it possible to add simple Elasticsearch queries written here ?

https://www.elastic.co/guide/en/elasticsearch/reference/5.3/query-dsl-simple-query-string-query.html#_simple_query_string_syntax

[2019-10-21 09:57] vinci1it2000 opened #6313 "Increase build timeout limit for co2mpas project"
## Details

* Read the Docs project URL: https://readthedocs.org/projects/co2mpas/builds/
* Build URL (if applicable):https://readthedocs.org/projects/co2mpas/builds/9832378/
* Read the Docs username (if applicable): vinci1it2000

## Expected Result

Build pass without timeout
<img width="829" alt="Screenshot 2019-10-21 at 11 56 35" src="https://user-images.githubusercontent.com/11716821/67195754-

[2019-10-21 13:14] humitos commented on #6230
Similar to the case described in the original post:

* https://sphinx-notfound-page.readthedocs.io/notfound/
* https://sphinx-notfound-page.readthedocs.io/notfound

[2019-10-21 13:23] dojutsu-user commented on #6312
Hi @maldag
Yes you can take advantage of Simple Query String Syntax.
You can read more about this here: https://docs.readthedocs.io/en/stable/guides/searching-with-readthedocs.html

[2019-10-21 13:23] #6312 closed

[2019-10-21 16:43] stsewd commented on #6308
We don't deploy changes that often, usually once or twice per month https://docs.readthedocs.io/en/stable/faq.html#what-commit-of-read-the-docs-is-in-production

I've investigated this. The rename of the settings is correct, but we didn't pull the new changes for the ops repo, that's why it's using the defaults of `600` seconds.

[2019-10-21 16:43] stsewd commented on #6313
This is the same as https://github.com/readthedocs/readthedocs.org/issues/6308

[2019-10-21 16:43] #6313 closed

[2019-10-21 16:44] stsewd commented on #6302
Closing this in favor of https://github.com/readthedocs/readthedocs.org/issues/6308

[2019-10-21 16:44] #6302 closed

[2019-10-21 17:01] stsewd commented on #6310
You can check the output of the log

[code]

Looks like you should pin the version of numpy to a compatible one for your project

https://docs.readthedocs.io/en/stable/guides/specifying-dependencies.html

[2019-10-21 17:17] stsewd commented on #6301
Hmm, why versions don't work for this use case? or maybe even better, subprojects.

With versions, you can have distinct contents, but you need to keep updated both versions in the same repo, that may be hard to mantain.

With subprojects, you can have two repos, one with simplified information and another one with the full docs.

Another  solution, is using tags, you can have both texts in the sa

[2019-10-21 18:00] maldag commented on #6301
I was thinking about using things like the sphinx tags or sphinx tab. Thanks for pointing out the reference on using tabs.

Using different versions would be too confusing for end users since it's the same software / product version, but a different scope.

I haven't thought about using subprojects yet. Would that be a way to use the `foo` tag for project 1 and the `bar` tag in project 2?

[2019-10-21 19:06] stsewd commented on #6301
Yes

[2019-10-21 19:50] ericholscher commented on #6308
This should be fixed, sorry about that.

[2019-10-21 20:25] KelSolaar commented on #6308
No worries and thanks @ericholscher! I have a build that went through! <3

[2019-10-21 20:30] #6308 closed

[2019-10-21 21:56] danielcompton opened #6318 "Update CIDER's 302 redirects to 301s"
## Details

* Read the Docs project URL: http://cider.readthedocs.io
* Read the Docs username (if applicable): danielcompton, cc: @bbatsov

Can we please request that you change all of the 302 redirects for CIDER to 301s? We have migrated to a new docs platform and [setup redirects](https://github.com/clojure-emacs/cider/pull/2734) for all pages to their new homes. Thanks!

[2019-10-21 23:32] stsewd commented on #6318
Done! 28 redirects were changed.

[2019-10-21 23:32] #6318 closed

[2019-10-22 00:51] agjohnson commented on #5321
Sure, but if there is conflict in how these fields are used, they should be grouped under a single choice field, not necessarily all boolean attributes.

For instance, using the above as an example, if `live` and `hidden` result in overlapping outcomes, it doesn't make sense to treat these two attributes as separate boolean fields. They should be grouped under a single choice field so that it's no

[2019-10-22 01:40] iruletheworld opened #6319 "PDF not showing some traditional Chinese characters"
## Details

* Read the Docs project URL: https://readthedocs.org/projects/latex2img/
* Build URL (if applicable): https://readthedocs.org/projects/latex2img/builds/9837446/
https://readthedocs.org/projects/latex2img/downloads/pdf/latest/

Sorry to open this issue, but I have read a lot of the related issues and have googled a lot but still cannot get it fixed.

I am using the method in [#5453](htt

[2019-10-22 08:53] danielcompton commented on #6318
Thanks!

[2019-10-22 11:06] humitos commented on #6319
Thanks @iruletheworld for reporting this.

What font are you using locally?

Please, share any information that you may consider useful to debug this. I open the PDF and I can't really differentiate one character from another. It's really hard to me to notice if there is a character not rendering properly. That said, you may want to point us to the specific page, line and column to mention a wrong

[2019-10-22 12:41] Flid opened #6320 "404 in search after pages were moved"
## Details
* Read the Docs project URL: https://kedro.readthedocs.io/

When searching for something, for example, [databricks](https://kedro.readthedocs.io/en/latest/search.html?q=databricks&check_keywords=yes&area=default), there will be two entries in the output, but one of them leads to a 404 page.
The broken link is `https://kedro.readthedocs.io/en/latest/04_user_guide/11_working_with_databric

[2019-10-22 15:20] stsewd commented on #6320
Closing as duplicate of https://github.com/readthedocs/readthedocs.org/issues/6069

[2019-10-22 15:20] #6320 closed

[2019-10-22 15:26] Flid commented on #6069
Also affecting https://kedro.readthedocs.io, most of the search queries show the broken links first, since we've moved some stuff around.

[2019-10-22 18:07] rgov commented on #662
There's a newer RTD [API](https://docs.readthedocs.io/en/stable/api/v2.html#versions).

1. GET https://readthedocs.org/api/v2/project/?slug=requests
2. Pick a result and get its ID, e.g., 668
3. GET https://readthedocs.org/api/v2/project/668/active_versions/

The download links appear to be correct for all versions. The canonical URL field may not be correct.

[2019-10-22 18:37] #6069 closed

[2019-10-22 19:22] humitos commented on #662
@Kapeli Hi! This thread caught my attention because I've been working on a new APIv3 (see https://docs.readthedocs.io/en/latest/api/v3.html and https://github.com/readthedocs/readthedocs.org/pull/6169). It's currently on Beta and we are planning to make a stable release soon. Although, I'd love to know if you are still interested on having an integration between Dash and Read the Docs and what are

[2019-10-22 19:47] Kapeli commented on #662
@humitos Yes, the search endpoint is all that's needed now. If possible, the results should also include the language the project is in, so I can clearly show it in the interface.

[2019-10-22 20:20] iruletheworld commented on #6319
Hi @humitos , thanks for replying. I dig into the `ctex` manual and think I might have located the cause (the default `Fandol` font).

In here, I would:
- show the comparisons of local PDF and remote PDF with images
- attach MWEs to reproduce the issue locally
- quote possible `ctex` solution from the manual
- report the fixing progress to date (on going...)
- summrise the stuff so far and referen

[2019-10-22 21:16] humitos commented on #6319
Hi @iruletheworld! Thanks _a lot_ for your amazing report on this issue.

Did you change something in your repository regarding these settings? I found that the live PDF does not have the "F" in squares anymore in the title: https://buildmedia.readthedocs.org/media/pdf/latex2img-zh-cn/latest/latex2img-zh-cn.pdf

I'd like if you can create a branch in your repo with the correct settings that should

[2019-10-23 01:53] iruletheworld commented on #6319
Hi @humitos , about the "F", I think it is to do with the PDF reader. I've tried Adobe, and it wouldn't display the "F". But Foxit reader would do that. To make it more clear, I screenshoted using Foxit.

I've done another two things with the repo.
- edited the `conf.py` in master so the configs for Latex is just bare `ctex`
- created a branch called `debug_remote_pdf`. Please feel free to play wi

[2019-10-23 10:51] ericholscher commented on #6230
Yea, this just feels like an issue with their 404 page, not anything we can do about it.

[2019-10-23 13:38] #6284 closed

[2019-10-23 21:29] iruletheworld commented on #6319
# An (unperfect) Solution

Ok, after much trial and error, I've found an acceptable solution, only to zh-hant (TW) and neither zh-hant (HK) nor zh-hans (therefore unperfect).

I now believe this is a font problem on the server since changing to Debian available fonts does work (to an extend). The available fonts I found are [here](https://packages.debian.org/search?suite=default&section=all&arch=a

[2019-10-23 23:08] thoward27 opened #6324 "Python 3.8 Support"
## Details

Just trying to keep track of when you plan to support python 3.8. I really want to use the walrus operator in my code, but that currently breaks RTD.

Repository in question is https://github.com/thoward27/grade

## Expected Result

Python 3.8 to be available in the config file.

## Actual Result

Tis not available:
[code]

[2019-10-23 23:32] stsewd commented on #6324
We need to add the new version in our docker file https://github.com/readthedocs/readthedocs-docker-images/blob/master/Dockerfile and test that nothing breaks.

[2019-10-24 01:55] thoward27 commented on #6324
If you have an ETA and are willing to share it, I would greatly appreciate it!

Let me know if there's anything I can do to help move this along.

[2019-10-24 08:45] humitos commented on #6319
Would installing this package allow to use this font and render _all_ the characters properly?

This package does exist in Ubuntu 18.04 (bionic) --which is the one that we use in production: https://packages.ubuntu.com/bionic/fonts/fonts-wqy-zenhei

[2019-10-24 11:21] humitos commented on #6324
@thoward27 do you have a PR in your repo so I can use to test RTD with a 3.8 project?

[2019-10-24 15:54] eric-wieser opened #6328 "Pull request builds do not work correctly on paths containing spaces"
Compare:

https://external-builds.readthedocs.io/html/clifford/167/Example%201%20Interpolating%20Conformal%20Objects.html (page not found)

https://clifford.readthedocs.io/en/latest/Example%201%20Interpolating%20Conformal%20Objects.html (working fine)

At least at a first glance, the cause seems to be the spaces in the path name, as all the ones without spaces seem to work fine. Perhaps there's so

[2019-10-24 17:30] pgunn opened #6330 "Build error with build id #9855232"
## Details:

* Project URL: https://readthedocs.org/projects/CaImAn/
* Build URL(if applicable): https://readthedocs.org/projects/caiman/builds/9855232/
* Read the Docs username(if applicable): AnonymousUser

## Expected Result
*Report of success for the given log

## Actual Result
*Build is reported as failed (I don't see anything but warnings in the log)

[2019-10-24 18:02] stsewd commented on #6330
Hi @pgunn looks like a temporal error https://readthedocs.org/projects/caiman/builds/9855489/

[2019-10-24 18:02] #6330 closed

[2019-10-24 19:15] thoward27 commented on #6324
@humitos I do now!

[2019-10-24 21:00] laurenyu commented on #6304
any update? we're continuing to see a lot of transient failures, especially when multiple builds in the same project are run simultaneously

[2019-10-25 02:53] stsewd commented on #6304
It may be related to time outs, I'll increase the build time of the projects on monday

[2019-10-25 16:51] agjohnson opened #6331 "Handle dirhtml builds with El Proxito"
We might already have work around this, but raising here if not for tracking. Serving a dirhtml build doesn't work for paths that need the missing slash appended. There should be a redirect, and it sounds like we might need to make a second request to determine if the redirect is needed?

[2019-10-25 16:53] agjohnson opened #6332 "Handle serving README.html as default index file with Proxito"
One of the rules we support in nginx is serving of README.html after index.html is tried. We need to be able to support this either in code or with nginx. Opening the issue here, but we can move if it is going to be addressed with nginx configuration.

[2019-10-26 02:34] iruletheworld commented on #6319
The short answer is **No**. I have made a test [repo](https://github.com/iruletheworld/zh_hant_chars_tests). You can look into it for details. I would only state the results and conclusions here.

When using `fontset = ubuntu` with `fonts-wqy-zenhei` installed, WenQuanYi Zen Hei is used as the sans font. It doesn't look good but it resolves most of the characters. The problem is, with `fontset = u

[2019-10-26 16:05] KartikKapil commented on #5445
hello @humitos  i would like take this issue up what exactly do i need to do for this ???

[2019-10-26 16:09] KartikKapil commented on #6156
hello @stsewd i would like on this issue what exactly do i have to do for this??

[2019-10-26 16:24] dojutsu-user commented on #6156
Hi @KartikKapil
Thanks for your interest in contribution. :tada:

We have GSoC related details in our documentation here: https://docs.readthedocs.io/en/stable/gsoc.html
Each past GSoC project has a blog post which describes the project (links are in the issue description). It would be better to add a section in the documentation which provides links to these blog posts.

[2019-10-26 19:03] KartikKapil commented on #6156
sir @dojutsu-user i have made the changes regarding the previous GSOC projects i have added the links to the direct GSOC archive
added previous year gsoc projects #6333

[2019-10-27 00:57] damon-chem-e commented on #6310
Thank you. That is working. Now I am having issues adding images. It builds fine locally with images, but this build is having issues with images.

Build: https://readthedocs.org/projects/byu-finance-library-finance-byu/builds/9866202/

I have taken a look at the log file and moved the images to every location I can think of with the same result.

[2019-10-27 23:08] #6095 closed

[2019-10-28 09:31] humitos commented on #5445
Hi @KartikKapil! The requirements for this issue are in the description of the issue. Is there any particular point that you don't understand from there?

[2019-10-28 09:48] humitos commented on #6319
I'm impressed with all your analysis, thanks!

I still want to know if there is something that Read the Docs can do to help here and have a fully working PDF with all the Chinese characters (HK, TW and simplified). I understood that you can build the PDF in a perfect way in your local computer, so why we can't on RTD?

I understand that this seems the preferred way to suggest to our users, is that

[2019-10-28 09:56] humitos commented on #6162
We don't plan to support using a custom docker image for now. We have an ongoing discussion about supporting uploading docs already built instead that will help on many of this issues.

I'm closing this one for now. I'm opening https://github.com/readthedocs/readthedocs-docker-images/issues/112

[2019-10-28 09:56] #6162 closed

[2019-10-28 10:10] Flid commented on #6320
@stsewd And still the issue is not fixed. We've tried wiping out the branch, rebuilding it etc - still we see a bunch of 404 errors around, nothing has changed. Can you reopen the issue please?

[2019-10-28 10:13] Flid commented on #6069
@dojutsu-user Can you please confirm if the bug is actually fixed for you?
Nothing changed for our project.

[2019-10-28 10:15] KartikKapil commented on #5445
@humitos  i could not figure out that how to change the function get_docs_url to make sure it oints to the pages but does not redirect

[2019-10-28 10:32] humitos commented on #6328
For some reason, in the production container (`media/html`) 4 files are saved --note that the files with spaces are there:

![Screenshot_2019-10-28_11-30-56](https://user-images.githubusercontent.com/244656/67671602-8a1b1a80-f976-11e9-987a-bbf1cef58f1a.png)

On the other hand, in the external build container (`external/html`) only 2 files are saved --none with spaces:

![Screenshot_2019-10-28_11-3

[2019-10-28 10:55] humitos commented on #6069
It's fixed but it's not deployed yet.

[2019-10-28 12:21] eric-wieser commented on #6328
Are those screenshots of a view I can see myself, or an internal one?

Looks like Sphinx is doing something weird there by creating both sets of files...

[2019-10-28 17:28] iruletheworld commented on #6319
Thanks for the prompt reply!

I found that there is a Ubuntu package `fonts-noto-cjk (1:20170601+repack1-2)` https://packages.ubuntu.com/source/bionic/fonts-noto-cjk which seems to be an repackaging of of Google's `Noto CJK`  family. Since this is just Adobe's `Source CJK` in a different name (which is the one I use locally), it may very well be able to display all Chinese characters (well, all th

[2019-10-28 17:36] humitos commented on #6328
That's internal. It's our remote storage.

I had not time to test this out yet, but my guess is there was a change in the sphinx configuration or similar and this issue may not be related to RTD itself but with Sphinx (version or configuration).

[2019-10-28 17:43] stsewd commented on #6320
@Flid it's fixed, but the change isn't deployed yet

[2019-10-28 17:58] stsewd commented on #6310
Can you please link to the page/doc that have the images?

[2019-10-28 19:08] damon-chem-e commented on #6310
I have it under /docs/_static at the moment in my git repository.

[2019-10-28 19:09] stsewd commented on #6310
What pages are using those images?

[2019-10-28 19:09] damon-chem-e commented on #6310
regtables.rst

[2019-10-28 19:18] stsewd commented on #6310
The path should be absolute from the source dir or from relative to the file https://www.sphinx-doc.org/en/master/usage/restructuredtext/basics.html#images

You should use

[code]

Also, I saw all your html files in there, you shouldn't commit the generated files to your repo.

[2019-10-28 19:21] stsewd commented on #6328
Probably related to https://github.com/readthedocs/readthedocs.org/pull/6298

[2019-10-28 19:22] stsewd commented on #6328
I just did a test, both PR and _normal_ build are saved with underscore instead of spaces https://github.com/readthedocs/test-builds/pull/8 Checking how sphinx saves the files now

[2019-10-28 22:10] laurenyu commented on #6304
thanks for your help!

[2019-10-28 22:36] stsewd commented on #6328
Ok, I investigate the underlining problem, it's a bug on the version of django-storages that we are using (1.7.1). The bug is fixed here https://github.com/jschneier/django-storages/commit/2fbaa70ea21c12f3ce02cbe497b6f8085e34248b#diff-8837a54be44997b013e5c1b9bcc7d00bL104 (1.72)

We need to update the dependency.

[2019-10-28 22:39] stsewd commented on #6328
But before updating, we need to figure out this problem

https://github.com/readthedocs/readthedocs.org/blob/f5dbf2cec573bcc57ea4daa3cd4bf461cc8edce9/requirements/pip.txt#L106-L107

[2019-10-28 23:28] stsewd commented on #6328
I've checked all dependencies, didn't see anything pinned to an incompatible version. So my guess is that we needed to force an update instead of using the one from cache (in the deploy).

[2019-10-29 09:56] felix-hilden opened #6335 "Take over abandoned `spotipy`"
### Request
I'd like to transfer the ownership of the abandoned `spotipy` project ([RTD](https://spotipy.readthedocs.io), [GitHub](https://github.com/plamere/spotipy)) to myself ([RTD profile](https://readthedocs.org/profiles/felix-hilden/), [GitHub](https://github.com/felix-hilden/spotipy)) and move the original project to `plamere-spotipy`.

### Rationale
I have rewritten a Python package for th

[2019-10-29 10:01] humitos opened #6336 "Use .condarc to install extra packages"
`conda` has an option to install packages by default in all the environments created: https://docs.conda.io/projects/conda/en/latest/user-guide/configuration/use-condarc.html#always-add-packages-by-default-create-default-packages

It seems that we can use this option instead of what we are currently doing:

1. running an extra `conda install` command, or
1. appending our core requirements to the u

[2019-10-29 10:27] humitos commented on #6328
I've already figured out this issue in https://github.com/readthedocs/readthedocs.org/pull/6295/files#diff-ebacf6f6ae4ee68078bb16454b23247dR48-R56

So, we can just pin to those packages and it should work in production as well.

[2019-10-29 10:37] Flid commented on #6320
Oh riiiight. Thank you! Just found the changelog page, we'll keep an eye on it.

[2019-10-29 11:43] humitos commented on #6301
It seems that we already offered a solution to the user. Please, @maldag if there is something else missing here, let us know and re-open the issue.

[2019-10-29 11:43] #6301 closed

[2019-10-29 16:49] vsajip opened #6337 "Build of `latest` version fails because it tries to do `hg update --clean latest`"
## Details

* Read the Docs project URL: https://readthedocs.org/projects/distlib/
* Build URL (if applicable): https://readthedocs.org/projects/distlib/builds/9879428/
* Read the Docs username (if applicable): vsajip

## Expected Result

Build works correctly.

## Actual Result

Build fails because it tries to do `hg update --clean latest` which predictably fails with `abort: unknown revision 'la

[2019-10-29 17:53] laurenyu commented on #6304
@stsewd were you able to increase the build time yesterday? the failures have become more consistent now, but the error message simply says "There was a problem with Read the Docs while building your documentation. Please try again later. However, if this problem persists, please report this to us with your build id"

[2019-10-29 19:07] eli-darkly opened #6338 "RTD Python docs started including magic methods"
## Details

* Read the Docs project URL: https://launchdarkly-python-sdk.readthedocs.io
* Build URL (if applicable): not sure what this is
* Read the Docs username (if applicable): LaunchDarkly

## Expected Result

We're using `sphinx_rtd_theme`, and our `conf.py` file can be found [here](https://github.com/launchdarkly/python-server-sdk/tree/master/docs). Between the conf file and the Sphinx anno

[2019-10-29 19:12] stsewd commented on #6338
Hi @eli-darkly, if you build your project locally, what's the result? This looks like more a problem from the sphinx/autodoc side rather than Read the Docs.

[2019-10-29 19:16] humitos commented on #6337
The last command should be `hg update --clean tip`, right?

Did you create a `latest` tag or branch in that repository at some point?

[2019-10-29 19:18] eli-darkly commented on #6338
Ah yeah I bet that's it— Sphinx went to version 2.x on March 28. Our local build has a version constraint of `<2.0`; if RTD has gone to 2.x, I wouldn't be surprised if there are breaking changes in Sphinx's behavior.

That's a bit unfortunate though, since my expectation with a service like this is that it wouldn't update to an incompatible version of the tool.

[2019-10-29 19:19] eli-darkly commented on #6338
...Or maybe that's impossible, since our admin settings in RTD clearly specify a requirements file of `docs/requirements.txt`, and that is the same one with a `<2.0` constraint for Sphinx.

[2019-10-29 19:28] stsewd commented on #6338
We try to have some nice defaults, but to make sure nothing breaks, we recommend using a configuration file.

I can see that the version of sphinx used six months ago and today was `1.8.5`, but 8 months ago the sphinx version was `1.7.9`

[2019-10-29 19:30] stsewd commented on #6338
The command on the make files doesn't look like much different from the command used to generate the documentation on Read the Docs. Please try building the docs locally with sphinx 1.8.5 and let us know.

[2019-10-29 22:29] stsewd commented on #6337
Checked on the db, the branch isn't marked as machine created, I think this was from before whe changed how latest get's updated (users can create their own latest).

Anyway, this is because you have your default branch as `latest` in your project's settings https://readthedocs.org/projects/distlib/edit, it should be empty to get the default or the branch that you expect to be built.

[2019-10-29 22:33] stsewd commented on #6304
Sorry, I wasn't able to get to this yesterday, I'm checking now.

[2019-10-29 23:27] stsewd commented on #6304
Looking at this doesn't look like it's from timeout. Not sure what's causing it. I'm investigating a little more

[2019-10-29 23:30] eli-darkly commented on #6338
Dang— indeed, the problem shows up as soon as I upgrade to Sphinx 1.8.5 locally. Sorry, I missed that I was still running 1.7.9. So RTD is not doing anything inconsistent with the local build, and this must be a Sphinx issue. Thanks!

[2019-10-29 23:30] #6338 closed

[2019-10-30 00:07] stsewd commented on #6304
I wasn't able to reproduce this locally, but I found this in the logs

[code]

[2019-10-30 09:10] vsajip commented on #6337
OK, thanks. It builds as expected now.

[2019-10-30 09:10] #6337 closed

[2019-10-30 16:44] laurenyu commented on #6304
hmm was there anything around that line that might suggest what could be causing the 502 response?

[2019-10-30 16:48] stsewd commented on #6304
I'm investigating that. It's probably a slow query.

[2019-10-30 17:53] #6328 closed

[2019-10-30 18:56] stsewd commented on #6304
Looks like the slowness is because the amount of active versions your project has (149). I'm seeing the same on projects that have more than 100 active versions. This number of project with more than 100 active versions is really low, though. There are only 7 projects affected by this.

The explanation, we are hitting azure cloud storage to check if the epub, zip, pdf files exists https://github.c

[2019-10-30 21:38] laurenyu commented on #6304
Great, thanks for digging into this! I see #6278 has been merged - is there an ETA on when that will be released?

[2019-10-30 21:40] stsewd commented on #6304
@laurenyu the above PR is just one part of what needs to be done to reduce the number of queries.

[2019-10-31 10:59] humitos commented on #6324
@thoward27 In the next deploy, #6329 will be included and we will be able to test your project under our docker image 6.0rc1 which includes py3.8. Do you want to beta test it?

[2019-10-31 14:53] kiran-kate commented on #4942
@mdraw, I see that your project still has this problem. Does that mean there is no solution? We are facing the same issue and the mock_imports didn't work for me.

[2019-10-31 15:36] dojutsu-user commented on #5582
We can use this with [commonmark.py](https://github.com/readthedocs/commonmark.py)? It is a relatively small project.

[2019-10-31 21:00] #6156 closed

[2019-10-31 21:12] dojutsu-user opened #6341 "Combining Search View and Docsearch"
Currently we are serving the search results from two locations:

* Docsearch API (via DRF)
* Main Site Search (via Django Templates)

This creates many problems:
* Maintaing the same code in two place
* Adding a feature requires more work
* More code redundancy and code complexity.

It will be better if we have one API endpoint for both the use cases.

**Proposed Solution:**
For this, we can make

[2019-10-31 23:56] dwt2 opened #6342 "Account webhook alerts will not clear from the dashboard"
## Details

* Read the Docs project URL: https://readthedocs.org/dashboard/
* Build URL (if applicable):
* Read the Docs username (if applicable): lf-oran

## Expected Result

Some mechanism to clear the account alerts about webhooks.

## Actual Result

The account alerts don't go away, even after the project is deleted.

[2019-11-01 00:53] stsewd commented on #6342
You can clear them by clicking on the link.

See https://github.com/readthedocs/readthedocs.org/issues/5665#issuecomment-495185159 for more information

[2019-11-01 00:53] #6342 closed

[2019-11-01 11:41] humitos commented on #6341
I don't have the full context for this, but from the description, it seems a good path forward to me. I have some questions:

1. does this refactor involve too much work?
1. is required for this refactor "search-as-you-type in the main site" or that can be done in a separate work?

I'd say to go ahead with this if the combination is simple and does not change the current behavior. I don't think th

[2019-11-01 15:04] EsauMarduk commented on #6311
Keep this in house until its perfect are my thoughts.

[2019-11-01 17:37] agjohnson commented on #6305
Dammit bot, shut up.

[2019-11-01 23:47] agjohnson opened #6343 "Latexmk breaks builds outside when DOCKER_ENABLED=False"
For users setting up a new instance, we do not recommend that the user uses Docker. Therefore, our attempts to run latexmk fail every build.

To reproduce:
* Set DOCKER_ENABLED=False
* Don't have latexmk installed on your host system
* Run a build
* See the failure in build output

Core team uses Docker exclusively, so this is low priority. New contributors will hit this however. An easy solution

[2019-11-03 04:36] KartikKapil commented on #6217
@dojutsu-user  can i take up this issue , do i have to remove this from all the files or just manage.py??

[2019-11-03 07:53] fasionchan opened #6345 "why custom domain not redirected to https"
# Example

http://docs.fabfile.org/en/2.5/ should be redirected to https://docs.fabfile.org/en/2.5/

[2019-11-03 13:51] thoward27 commented on #6324
Sure, I'd love to. How can I go about doing so?

[2019-11-03 21:51] qwhelan opened #6346 "Please set DONT_SHALLOW_CLONE for bottleneck"
# Details
- Read the Docs project URL: https://bottleneck.readthedocs.io
- Read the Docs username (if applicable): qwhelan

Hi, I'm using `versioneer` and a special `sphinx` plugin to automatically cite contributors in the release notes, and the shallow clone is unfortunately interfering with both the versioning and thanking contributors. I'd appreciate it if `DONT_SHALLOW_CLONE` could be set for

[2019-11-04 08:35] humitos commented on #6324
@thoward27 Great! I will enable the new Docker image with Py3.8 support in your project once it's deployed and let you know.

[2019-11-04 10:18] humitos commented on #6346
Done! Let me know if anything!

[2019-11-04 10:18] #6346 closed

[2019-11-04 10:20] humitos commented on #6345
Hi! This is a known issue. See https://github.com/readthedocs/readthedocs.org/issues/4641#issuecomment-462847497 for more information. Thanks!

[2019-11-04 10:20] #6345 closed

[2019-11-04 11:44] ericholscher commented on #6341
I think the main concern is around shipping rendered HTML over the API. We're starting to move away from HTML API responses to JSON responses that are built on the client side. What are the benefits of the HTML approach, when we're using the JSON approach already in the doc pages?

[2019-11-04 16:01] stsewd commented on #6217
@KartikKapil you need to remove the flag from all files. You can take this PR as reference https://github.com/readthedocs/readthedocs.org/pull/6245

[2019-11-04 16:07] #6155 closed

[2019-11-04 20:03] qwhelan commented on #6346
Thank you!

[2019-11-05 21:13] keshav2212 commented on #6217
@stsewd there are still any mistake on that PR ?

[2019-11-05 21:57] stsewd commented on #6217
@keshav2212 test should pass, you can check the errors on the travis output, or running the tests locally https://docs.readthedocs.io/en/stable/development/tests.html

[2019-11-06 02:10] HyukjinKwon opened #6350 "Command killed due to excessive memory consumption"
## Details

5 days ago, the build started failing suddenly due to memory consumption. There has not been a big change in this project, in particular, about the dependencies. (build started to failed with the symptom below after https://github.com/databricks/koalas/commit/b16142886f8b75daae7d2f9dafd2b4ced8705a05, which looks pretty much unrelated with dependencies).

I read https://docs.readthedocs

[2019-11-06 12:06] krptic07 commented on #6343
Hi, Can i take up this issue ? And can anyone explain me a little bit what is to be done .

[2019-11-06 15:48] ericholscher commented on #6137
Yea, I think linking to the dashboard doesn't make sense. I'm happy to update the link to simply go to the docs page, and have it 404 if it isn't built. That enables the redirect logic that @humitos was talking about, and linking the dashboard is not useful for users basically ever.

[2019-11-06 15:54] #6229 closed

[2019-11-06 17:27] leon575777642 opened #6351 "Virtualenv used when installing custom package but not used during docs generation"
## Details

* Read the Docs project URL: https://github.com/PrincetonUniversity/prga
* Build URL (if applicable): https://readthedocs.org/projects/prga/builds/9921362/
* Read the Docs username (if applicable): leon575777642

## Expected Result

Custom module installed and importable when building the documentation.

## Actual Result

The log shows my custom submodule and its dependencies are succe

[2019-11-06 19:24] KartikKapil commented on #6343
@stsewd i would like to take up this issue ,

[2019-11-06 19:25] stsewd commented on #6343
Sure, feel free to send a pull request

[2019-11-06 19:26] KartikKapil commented on #6343
@stsewd  could you kindly guide me through it

[2019-11-06 20:18] bli25broad commented on #6223
Hi @stsewd , is the 6 week clock due next Monday or Tuesday?

[2019-11-06 22:38] stsewd commented on #6223
@bli25broad November 14th. That's 6 weeks since I tried to contact the user https://github.com/readthedocs/readthedocs.org/issues/6223#issuecomment-538132861

[2019-11-06 23:04] stsewd opened #6354 "Support option to invert match on automation rules"
While writing the docs for automation rules https://github.com/readthedocs/readthedocs.org/pull/6072. I found myself writing examples to _no match_ a pattern using a negative lookbehind, that looks complex and not easy to understand.

So I was thinking to have an option: apply action to versions that don't match the pattern. This would be a select box with two options `Match`/`Don't match` or `No

[2019-11-07 03:14] lepture commented on #6044
@stsewd is there a way to define where the ad should be placed?

[2019-11-07 04:18] davidism commented on #6044
According to https://docs.readthedocs.io/en/stable/advertising/ad-customization.html, a special div id will be replaced.

[code]

[2019-11-07 15:34] nijel opened #6356 "Failing builds without any obvious reason"
## Details

* Read the Docs project URL: https://readthedocs.org/projects/weblate
* Build URL (if applicable): https://readthedocs.org/projects/weblate/builds/9926874/
* Read the Docs username (if applicable): nijel

Today the documentation builds for Weblate started to fail without obvious reason.

Looking at the jobs list, there is one build which is marked as failed on the list, but it is compl

[2019-11-07 15:38] stsewd commented on #6356
Hi @nijel this may be a temporary issue. We are checking our servers now.

[2019-11-07 16:06] StykMartin opened #6357 "Build error with build id #9927405"
## Details:

* Project URL: https://readthedocs.org/projects/restraint/
* Build URL(if applicable): https://readthedocs.org/projects/restraint/builds/9927405/
* Read the Docs username(if applicable): martstyk

## Expected Result

Build failed for no reason

## Actual Result

Build should pass

[2019-11-07 16:09] stsewd commented on #6357
Looks like it was a temporal issue, your last build is passing now https://readthedocs.org/projects/restraint/builds/9927441/

[2019-11-07 16:09] #6357 closed

[2019-11-07 16:17] stsewd commented on #6356
Triggered a new build https://readthedocs.org/projects/weblate/builds/9927471/, it's passing now.

[2019-11-07 16:17] #6356 closed

[2019-11-07 16:50] swainn opened #6359 "Build failing on same commit that passed 4 weeks ago"
## Details

* Read the Docs project URL: https://readthedocs.org/projects/tethys-platform/
* Build URL (if applicable): https://readthedocs.org/projects/tethys-platform/builds/9927212/
* Read the Docs username (if applicable): swainn

## Expected Result

The docs build to pass.

## Actual Result

The docs build failed.

Failed Build: https://readthedocs.org/projects/tethys-platform/builds/9927212/

[2019-11-07 16:58] stsewd commented on #6359
I can see that the sphinx version is different, also, you don't have pinned dependencies, so an update on those may broke the build https://github.com/tethysplatform/tethys/blob/f423488647973bec42199c47a1b4e465ebab6bb9/docs/docs_environment.yml#L13-L23

Please try building the documentation locally, it doesn't look like a read the docs problem.

[2019-11-07 17:17] stsewd commented on #5717
@lpsinger we could increase it till 2GB, but not 4

[2019-11-07 17:41] stsewd commented on #6351
Last build looks good https://readthedocs.org/projects/prga/builds/9923974/

Probably that build was using a cached environment.

Let us know if you still see the problem, otherwise we can close this issue.

[2019-11-07 17:45] lpsinger commented on #5717
Darn. I guess we'll just have to wait for #1083 to be resolved.

[2019-11-07 17:56] stsewd commented on #6350
I've increased the build resources, but looks like it's failing for another reason https://readthedocs.org/projects/koalas/builds/9927943/

[2019-11-07 18:02] swainn commented on #6359
@stsewd thank you for the quick reply. I just rebuilt locally with a new conda environment and it worked without issue.

The version of the sphinx-materialdesign-theme that is says it can't find is the same in both the passing and failing build (0.1.11).

As far as I can tell the only version that changed is sphinx (2.2.0 to 2.2.1). But I tried a build with the sphinx version pinned to 2.2.0 and i

[2019-11-07 18:09] stsewd commented on #6335
Hi @felix-hilden I've sent the email to the user today. If the user doesn't reply I think we could just rename the old project to `spotipy-plamere`, and your project can link to that project saying where to find the old docs.

/remind me about take action on this project in 6 weeks

[2019-11-07 18:52] #6137 closed

[2019-11-07 20:15] HyukjinKwon commented on #6350
Thank you so much @stsewd . Let me try to investigate in my side first.

[2019-11-07 20:48] leon575777642 commented on #6351
Thanks for your reply. I added the path to the module into `conf.py` in the latest build as a temporary fix.

Actually I think this is highly possibly not an issue of readthedocs. I tried to reproduce the problem locally and found that `python setup.py install` couldn't install the modules into the virtualenv site packages. I'm still studying why, but I'll close this issue for now.

[2019-11-07 20:48] #6351 closed

[2019-11-07 21:34] HyukjinKwon commented on #6350
@stsewd, seems Python 3.8 is just uploaded into Conda as of https://github.com/conda-forge/python-feedstock/pull/274#issuecomment-548831867 but seems not so many packages supporting this. I suspect this is the root cause given the timing about the build failure (5 ~ 6 days ago).

Now, the build seems getting there: https://readthedocs.org/projects/koalas/builds/9928921/ -
it required to install CP

[2019-11-07 21:36] HyukjinKwon commented on #6350
I triggered the latest build against master just for the record (https://readthedocs.org/projects/koalas/builds/9929050/)

[2019-11-07 21:56] HyukjinKwon commented on #6350
Ohh, NVM. it started to pass. Thank you so much @stsewd!

[2019-11-07 21:56] #6350 closed

[2019-11-08 13:01] segevfiner opened #6363 "Publish configuration file schema to http://schemastore.org"
This will enable auto-completion & validation for the Read the Docs configuration file in various editors such as VS Code.

See http://schemastore.org

[2019-11-08 14:13] felix-hilden commented on #6335
Thank you for the reply and taking action!

The more I think about it the more just using a different version number seems appealing - if I've understood the feature. Do you agree or do you think renaming is still the best option, any previous experience with similar situations?

[2019-11-08 20:17] jmlarson1 opened #6364 "Extension sphinxcontrib.bibtex doesn't work, nor can it be built"
## Details

* Read the Docs project URL:
https://readthedocs.org/projects/libensemble/

* Build URL (if applicable):
https://readthedocs.org/projects/libensemble/builds/9934812/

## Expected Result
I am trying to use the `sphinxcontrib.bibtex` extension in my `conf.py`. It is unknown.

I have included
[code]

in `conda/environment.yml` and in `docs/requirements.txt`. In my `.readthedocs.yml`, I ha

[2019-11-08 21:01] swainn commented on #6359
I pinned the python version to 3.7 in my conda environment and in the .readthedocs.yml.

Upon closer inspection, it looked like the conda environment was trying to resolve packages for Python 3.8, but ended up installing Python 3.6 packages during the `conda install --yes --quiet --name latest mock pillow sphinx` step???:

[code]

[2019-11-08 21:01] #6359 closed

[2019-11-09 18:57] AlexKuhnle commented on #6256
For my repository I ran into a similar issue, but already in the very beginning when installing necessary requirements: [link](https://readthedocs.org/projects/tensorforce/builds/9937853/). Is there a way to prevent this from happening?

[2019-11-10 03:47] krptic07 commented on #2216
I want to take up this issue. Can anybody explain it to me, what i need to do?

[2019-11-10 12:56] eric-wieser commented on #6303
As I mentioned in the email that spawned this issue - I would go further with this:

* Have docs be linked at `https://external-builds.readthedocs.io/html/<project>/<pr>/<commit-sha>/index.html`, so that permalinks can be created to docs
* Create an alias at `https://external-builds.readthedocs.io/html/<project>/<pr>/latest/index.html`, which redirects to the above.
* Have some kind of reasonable

[2019-11-11 08:57] james-d-mitchell opened #6366 "Build time outs and wrong python requirements used when using cached versions"
## Details

* Read the Docs project URL:
https://readthedocs.org/projects/libsemigroups-test/

* Build URL (if applicable):

Ignored requirements build (version of Sphinx required is >=2.0, but the used version is 1.8.5)
https://readthedocs.org/projects/libsemigroups-test/builds/9942972/

Timed out build (although the doc is built, the raw logs show no errors):
https://readthedocs.org/projects/lib

[2019-11-11 10:09] humitos commented on #6364
Hi @jmlarson1! Thanks for the report. It seems that you are using the syntax for config v2 (https://docs.readthedocs.io/en/latest/config-file/v2.html) but you are not defining `version: 2` at the top of the file.

Also, take a look at your `python:` of that file. You are using a syntax that it's not allowed there: adding dependencies directly there.

[2019-11-11 12:10] james-d-mitchell commented on #6364
Also, you might want to add `sphinxcontrib.bibtex` to the list of extensions in line 61 of your `docs/conf.py` file.

[2019-11-11 13:24] jmlarson1 commented on #6364
@james-d-mitchell `sphinxcontrib.bibtex` is on line 61 of `docs/conf.py` on the branch `debugging/bibtex`, which is where the error is.

@humitos Thank you, I have now defined `version: 2` and removed the unallowed syntax. My `.readthedocs.yml` file is:
[code]
Yet, I still get an error at the end of the build that `Could not import extension sphinxcontrib.bibtex (exception: No module named 'sphinx

[2019-11-11 15:30] stsewd commented on #6363
The schema should be submitted here https://github.com/SchemaStore/schemastore.

I use schemastoer.org for autocompletion too :)

[2019-11-11 15:34] stsewd commented on #6364
@jmlarson1 when using conda, the python section is ignored. https://github.com/readthedocs/readthedocs.org/issues/5388

[2019-11-11 16:13] stsewd commented on #6335
That can be possible, but not easy, and maybe prone to errors. This is because all versions in rtd came from one repo. So, you'll need to point to the old repo, activate/build the versions, point to the new repo and build the new versions, but you should be careful to not have collisions (versions with the same name). Also, that is hard to replicate if needed in the future.

But if you mean just i

[2019-11-11 17:01] jmlarson1 commented on #6364
Thank you @stsewd . I would like to use `conda` so I now have the `.readthedocs.yml` file

[code]
and `conda/environment.yml` is

[code]
The `conda env create` step successfully builds `sphinxcontrib-bibtex`, but it is not picked up in the last build step:
https://readthedocs.org/projects/libensemble/builds/9945117/

Is there a way to ensure the environment is used?

Thank you for your help.
Jeff

[2019-11-11 17:15] stsewd commented on #6364
@jmlarson1 please try wiping the environment before triggering a build https://docs.readthedocs.io/en/stable/guides/wipe-environment.html

[2019-11-11 17:23] jmlarson1 commented on #6364
@stsewd I have wiped and I have the same failure:
https://readthedocs.org/projects/libensemble/builds/9945252/

(I even wiped/rebuilt twice for good measure.)
Thank you again

[2019-11-11 20:02] afortiori opened #6368 "Command killed due to excessive memory consumption"
## Details

* Read the Docs project URL: https://readthedocs.org/projects/relex/
* Build URL (if applicable): https://relex.readthedocs.io/en/latest/
* Read the Docs username (if applicable): afortiori

## Expected Result

I expected the build to build correctly

## Actual Result
When this command during build was run:
`/home/docs/checkouts/readthedocs.org/user_builds/relex/envs/latest/bin/python

[2019-11-11 20:19] felix-hilden commented on #6335
I think that's pretty much just it. We plan on publishing one more doc in the `2.x` series that has deprecation information and then from `3.0` on. So it could work. Let's see what the best solution would be.

[2019-11-12 12:16] jcampbell commented on #6320
@stsewd : this seems to affect enough sites that it's worth deploying the fix. Any chance you'd be willing to push the new release including the fix so we can also benefit?

[2019-11-12 14:13] stsewd commented on #6320
@jcampbell sorry you are having this problem, we are a small team so it makes it hard to deploy that often, but a deploy is planned for today, hope it goes smoothly

[2019-11-12 14:15] jcampbell commented on #6320
Thank you so much for the update--we *really* appreciate your great work!

[2019-11-12 16:12] KartikKapil commented on #6363
@stsewd In which file will i find the configuration schema

[2019-11-12 16:14] segevfiner commented on #6363
I'm not sure if there is even one written. Might be necessary to write one based on the documentation & code first.

[2019-11-12 16:15] stsewd commented on #6363
We have one based on `yamale`

https://github.com/readthedocs/readthedocs.org/blob/master/readthedocs/rtd_tests/fixtures/spec/v2/schema.yml

[2019-11-12 16:15] Aricg opened #6369 "Cannot edit/remove subproject when duplicate subprojects are defined."
## Details

sub-project relationship created with v3 api.
Cannot remove subproject when duplicate subprojects are defined.
https://readthedocs.org/dashboard/o-ran-sc-doc/subprojects/o-ran-sc-ric-app-mc/edit/

returns:
[code]

   Fail.  Check back in a bit!

## Expected Result

If a subproject listing already exists, refuse to create it a second time.
If duplicates do exist, allow user to remove th

[2019-11-12 16:20] stsewd commented on #6363
btw, this should be only done for v2, v1 is deprecated (not worth the effort)

[2019-11-12 16:22] KartikKapil commented on #6363
@stsewd thanks for the help

[2019-11-12 16:33] Aricg commented on #6369
Found a failure on our side that I believe led to the multiple sub-project relationship creations

https://jenkins.o-ran-sc.org/view/rtdv3-global/job/rtdv3-global-merge-master/230/console
Afaik this worked before, investigating our api implementation.

[2019-11-12 16:35] Aricg commented on #6369
[code]

Looking into our implementation now.

[2019-11-12 16:40] dwt2 commented on #6369
Reviewed this and confirmed Aricg's findings

[2019-11-12 16:45] stsewd commented on #6363
@KartikKapil it should be ported to JSON schema

[2019-11-12 16:52] KartikKapil commented on #6363
@stsewd alright thanks a lot

[2019-11-12 17:26] stsewd commented on #6369
This was already fixed in https://github.com/readthedocs/readthedocs.org/pull/6275, but the fix isn't deployed yet

[2019-11-12 17:29] stsewd commented on #6369
@Aricg I'll need to delete the duplicate subproject relatioship manually for you. Which one is it?

[2019-11-12 19:09] humitos commented on #6369
I just tested this and I think the fix just deployed worked. Please, let us know if it's still there. Thanks!

[2019-11-12 19:18] humitos opened #6372 "APIv3 browseable render should show only my projects in forms"
Although, we do check the user has permissions for the subproject they want to create for a project --we do show more projects than we should in the form itself.

This is an example, but there may be more. We should double check for other forms. These forms should only show the projects the user has access to.

![Screenshot_2019-11-12_20-16-30](https://user-images.githubusercontent.com/244656/6870

[2019-11-12 19:23] humitos commented on #6324
Hi @thoward27! We just deployed this. What's your project's url on Read the Docs? I can set the docker image with py3.8 support in your project.

Once this is set in your project, you don't have to use the `python.version` in your YAML file.

[2019-11-12 19:31] stsewd commented on #6320
@jcampbell @Flid the fix is deployed now, you need to trigger a new build to refresh the search index

[2019-11-12 20:14] jcampbell commented on #6320
I've wiped and rebuilt, and can confirm our search index is clean now. Thank you again, @stsewd !!

[2019-11-12 21:24] #6366 closed

[2019-11-12 21:39] Aricg commented on #6369
@stsewd  There are several listed here https://readthedocs.org/projects/o-ran-sc-doc/

[2019-11-12 21:40] Aricg commented on #6369
$ cat /tmp/foo   | sort | uniq -c
      1 o-ran-sc-ci-management
      2 o-ran-sc-it-dev
      3 o-ran-sc-it-otf
      1 o-ran-sc-it-test
      2 o-ran-sc-nonrtric
      1 o-ran-sc-portal-ric-dashboard
      1 o-ran-sc-pti-rtp
      1 o-ran-sc-ric-app-admin
      6 o-ran-sc-ric-app-mc
      1 o-ran-sc-ric-app-ml
      1 o-ran-sc-ric-plt-a1
      1 o-ran-sc-ric-plt-lib-rmr
      2 o-ran-sc-scp-ocu-

[2019-11-12 22:55] stsewd commented on #6369
@Aricg ok, I think I have deleted all duplicated subprojects. Let me know if I missed one

[2019-11-12 22:55] #6369 closed

[2019-11-12 23:30] stsewd opened #6373 "Refactor automation-rules.js to use knockout"
The script is using jquery for now, but we should use knockoutjs as the rest of the code

Ref https://github.com/readthedocs/readthedocs.org/pull/5996#discussion_r345471970

[2019-11-13 15:26] stsewd commented on #6368
Hi @afortiori, looks like you don't need all those requirements to build your documentation https://github.com/SamMahen/RelEx

Actually, I don't see any documentation in the repository. You may want to check https://docs.readthedocs.io/en/stable/intro/getting-started-with-sphinx.html

[2019-11-13 15:42] stsewd commented on #6107
Just a note here, we are in process to remove the privacy level from all projects https://github.com/readthedocs/readthedocs.org/pull/6194

[2019-11-13 15:58] stsewd opened #6375 "Support custom action for automation rules with webhook + api"
Currently, the actions to be run are only defined in code

https://github.com/readthedocs/readthedocs.org/blob/master/readthedocs/builds/automation_actions.py

Users can't set a custom action. We don't want to execute arbitrary code neither. But we can offer users to set a webhook that will be called on a match. Users can use apiv3 to do whatever they want to the version or project.

### Why don't

[2019-11-13 15:58] stsewd commented on #4001
The modeling and UI was already done. We have more specific issues:

- https://github.com/readthedocs/readthedocs.org/issues/5318
- https://github.com/readthedocs/readthedocs.org/issues/5319
- https://github.com/readthedocs/readthedocs.org/issues/6059
- https://github.com/readthedocs/readthedocs.org/issues/6354
- https://github.com/readthedocs/readthedocs.org/issues/6375

[2019-11-13 15:58] #4001 closed

[2019-11-13 16:34] thoward27 commented on #6324
@humitos my url is: https://grade.readthedocs.io/en/latest/

Let me know once you've updated the docker image

[2019-11-14 00:34] stsewd commented on #6324
@thoward27 I've enabled the new image for your project. If you use a configuration file, you can use `3.8` or just `3` as the python option https://docs.readthedocs.io/en/stable/config-file/v2.html#python and it will use python 3.8 to build your project.

Build using 3.8
https://readthedocs.org/projects/grade/builds/9959367/

[2019-11-14 06:47] merkledag opened #6378 "Local VM Install instructions - incorrect dependency information"
## Details
* Read the Docs project URL: https://docs.readthedocs.io/en/stable/custom_installs/local_rtd_vm.html

## Expected Result

Instructions for setting up local RTD should work. The instructions are provided here state that Python 2.7 is the required version: https://docs.readthedocs.io/en/stable/custom_installs/local_rtd_vm.html

## Actual Result

I installed the prerequisites on Ubuntu16.0

[2019-11-14 09:13] #6222 closed

[2019-11-14 09:48] karnicaa commented on #2251
Hi. Is this issue still open?

[2019-11-14 12:06] afortiori commented on #6368
I will include some more information which I apologize for leaving out. I have used Sphinx to generate documentation of the whole package, all of which is up and running on my computer. When I pushed the created documentation to Github and built the documentation on GitHub, some of the documentation was built (see here: [](https://relex.readthedocs.io/en/latest/relex.data.html) and here: [](https:

[2019-11-14 12:30] #6372 closed

[2019-11-14 13:59] bli25broad commented on #6223
Hi @stsewd , it's 6 weeks now.

[2019-11-14 14:21] stsewd commented on #6378
Hi @merkledag that document is maintained by the community, rtd team doesn't maintain that

https://docs.readthedocs.io/en/stable/custom_installs/index.html

You can follow more up to date instructions from here https://docs.readthedocs.io/en/stable/development/install.html

Please, feel free to update the other docs.

[2019-11-14 14:21] #6378 closed

[2019-11-14 14:25] stsewd commented on #6368
@afortiori please try to use a minimal requirements file to build the docs so we can try increase the memory limit from there.

[2019-11-14 14:30] stsewd commented on #2251
@karnicaa yes, there is a PR for it https://github.com/readthedocs/readthedocs.org/pull/5621

[2019-11-14 15:50] stsewd commented on #6223
@bli25broad which is your rtd user?

[2019-11-14 17:11] bli25broad commented on #6223
@stsewd , my rtd user name is bli25broad.

Thanks,
Bo

[2019-11-14 17:19] merkledag commented on #6378
Thank you @stsewd . Much appreciated.

[2019-11-14 19:43] stsewd commented on #6223
@bli25broad done, you are owner of the project now

[2019-11-14 19:44] #6223 closed

[2019-11-14 20:58] afortiori commented on #6368
I will try that.

[2019-11-15 06:38] danwos commented on #3885
Thanks for providing the needed plantuml command :+1:

The extension [Sphinx-Needs](https://sphinxcontrib-needs.readthedocs.io/en/latest) is using plantuml for some stuff and I have just added an installation section how to use it for rtd:
https://sphinxcontrib-needs.readthedocs.io/en/latest/directives/needflow.html#installation

If I find some time, I'll write the needed docs. But unfortunately n

[2019-11-15 08:22] Fiahblade commented on #4641
Any new updates on this?

[2019-11-15 13:40] jmlarson1 commented on #6364
After considerable effort, we were able to build our documentation with `sphinxcontrib-bibtex`. While the comment above says that "when using conda, the python section is ignored", we didn't observe this in practice (at least in how we were building). This would contradict some of the discussion on #5388.

In fact, when including both a conda section and a python section in `.readthedocs.yml`, we

[2019-11-15 14:25] Borda commented on #5253
the same problem also for https://torch-lightning.readthedocs.io/en/docs
from https://github.com/williamFalcon/pytorch-lightning/issues/465#issuecomment-554368986

[2019-11-15 18:44] davidfischer commented on #6229
We rolled the fix out to this this week (`absolute_redirect off`) and it seems to be working without issue.

[2019-11-16 00:12] shuds13 commented on #6364
I think we have resolved the issue:

.readthedocs.yml:

    version: 2

    conda:
        environment: conda/environment.yml

    sphinx:
        configuration: docs/conf.py

    build:
        image: latest

    formats:
    - pdf

    python:
        install:
        - method: pip
            path: .
            extra_requirements:
            - docs

conda/environment.yml:

    channels:
    -

[2019-11-16 04:32] sadaansaad commented on #6363
### Keybase proof

I hereby claim:

  * I am sadaansaad4 on github.
  * I am saadmoin4 (https://keybase.io/saadmoin4) on keybase.
  * I have a public key ASA2SzHzYcTT9hePS5-BVVg4uT_iOs8l4SWGEaFPe8pkMgo

To claim this, I am signing this object:

[code]

with the key [ASA2SzHzYcTT9hePS5-BVVg4uT_iOs8l4SWGEaFPe8pkMgo](https://keybase.io/saadmoin4), yielding the signature:

[code]

And finally, I am pr

[2019-11-16 04:32] sadaansaad commented on #6363
### Keybase proof

I hereby claim:

  * I am sadaansaad4 on github.
  * I am saadmoin4 (https://keybase.io/saadmoin4) on keybase.
  * I have a public key ASA2SzHzYcTT9hePS5-BVVg4uT_iOs8l4SWGEaFPe8pkMgo

To claim this, I am signing this object:

[code]

with the key [ASA2SzHzYcTT9hePS5-BVVg4uT_iOs8l4SWGEaFPe8pkMgo](https://keybase.io/saadmoin4), yielding the signature:

[code]

And finally, I am pr

[2019-11-16 21:03] 10110111 opened #6383 "Make the documentation pages easy to read in narrow-window browsers"
## Details
I'm surfing the web from a window with size 1000x850 px, and when I open some documentation powered by ReadTheDocs, it's quite hard to actually read the useful content due to the table of content taking a large chunk of the screen width — until you expand the window, which takes away screen space (not everyone has a high-res monitor yet). See the screenshot below.

I have to use an ad b

[2019-11-17 20:17] AndrewAnnex opened #6384 "typeerror numpy mocking not working?"
## Details

* Read the Docs project URL: https://readthedocs.org/projects/spiceypy
* Build URL (if applicable): https://readthedocs.org/projects/spiceypy/builds/9976362/
* Read the Docs username (if applicable): AndrewAnnex
* rdt.yaml file I am adding in a pr branch to attempt fixes: https://github.com/AndrewAnnex/SpiceyPy/blob/1290d90db6d71d6107eb1cf0410fd253d86639c1/.readthedocs.yml

## Expected

[2019-11-18 12:35] humitos commented on #5253
I think we can close this issue. We are not going to support PRIVATE versions on readthedocs.org --although, they will be fully supported on readthedocs.com

[2019-11-18 12:35] #5253 closed

[2019-11-18 12:40] #6292 closed

[2019-11-18 12:42] humitos commented on #6230
I'm closing this issue for now. Feel free to reopen if you consider that it's still valid.

[2019-11-18 12:42] #6230 closed

[2019-11-18 12:42] humitos commented on #6094
We can close this for now since it will be tracked in the linked PR.

[2019-11-18 12:42] #6094 closed

[2019-11-18 12:52] Borda commented on #5253
So pls disable such option.

[2019-11-18 12:53] humitos opened #6385 "Expand APIv3 docs showing all fields on POST/PATCH/PUT endpoints"
There are some endpoints in our APIv3 documentation that do not show all the possible fields that we can send to the server. As a example, [Project update](https://docs.readthedocs.io/en/latest/api/v3.html#project-update) only shows 2 when there are a lot more that you can send.

[2019-11-18 13:07] humitos commented on #5253
@Borda we are working on that. Thanks,

[2019-11-18 14:47] #6331 closed

[2019-11-18 14:47] #6332 closed

[2019-11-18 15:31] stsewd commented on #6230
@humitos it's still valid. I still can reproduce the examples from David. Or does the project need to trigger a new build?

[2019-11-18 15:34] davidism commented on #6230
I think I just need to enable that extension when building on Read the Docs. Haven't had a chance to work on the docs in a while, but I don't see how there's anything RTD can do for this.

[2019-11-18 16:21] harshit2608 opened #6386 "Building error"
BELOW IS THE BUILDING ERROR OUTPUT

Running Sphinx v1.8.5
loading translations [en]... done
making output directory...
building [mo]: targets for 0 po files that are out of date
building [readthedocs]: targets for 6 source files that are out of date
updating environment: 6 added, 0 changed, 0 removed
reading sources... [ 16%] docguide/indexdoc
reading sources... [ 33%] getting_started/editor/index

[2019-11-18 16:31] stsewd commented on #6386
Please follow the issue template when reporting a failure.

[2019-11-18 16:53] stsewd commented on #6364
So, the only part that isn't ignored from the `python` section is install with pip and setuptools. Python version, requirements file, etc, those are ignored.

Also, I think you can just use the `pip` section form the conda env file.

[2019-11-18 16:53] #6364 closed

[2019-11-18 17:01] stsewd commented on #6384
We use pip and virtualenv to build the docs.

Also, you can use conda in rtd too https://docs.readthedocs.io/en/stable/config-file/v2.html#conda

[2019-11-18 17:47] AndrewAnnex commented on #6384
@stsewd what other information do you need beyond what is contained in the logs at the build url?

I am not sure by what you mean about pip/virtualenv as that isn't the question I was asking, I was just using it to test to see if the version of numpy on the build worker (1.16.0) was somehow causing the typeerror.

[2019-11-18 17:49] stsewd commented on #6384
@AndrewAnnex I mean that you should try to replicate locally using pip as is done in read the docs

[2019-11-18 18:09] harshit2608 commented on #6386
Thnx for reply , but after adding this line ( master_doc = 'index' ) in conf.py it worked

[2019-11-18 18:09] #6386 closed

[2019-11-18 19:57] Aricg opened #6388 "Read the docs api v3 call for "Project Details" does not reflect what is in the U/I."
## Details

Read the docs api v3 call for  "Project Details" does not reflect what is in the U/I.

When querying the "Project Details"
https://docs.readthedocs.io/en/stable/api/v3.html#get--api-v3-projects-(string-project_slug)-

On a newly minted project, the api returns.

`
 'default_branch': 'master',
 'default_version': 'latest',
`

If you go to the U/I on a newly minted project
Default branch

[2019-11-18 20:07] stsewd commented on #6388
`---` is just a placeholder to indicate empty, so in the API should be `` an empty string.

Can you provide your rtd project? I need to check the builds, but I believe we build latest if master changes.

[2019-11-18 20:15] Aricg commented on #6388
Okay I have looked further and I think I have found the issue.

When you create a new project and trigger a build via the api of "master"

latest is not created, it is 404.

Since we never trigger 'latest' explicitly, you can find the docs at /master/ and never at /latest/

If you change the default version from ---- to master and then trigger /master/
latest is created, and matches what is in mas

[2019-11-18 20:19] Aricg commented on #6388
Here is an example of a newish project

https://docs.o-ran-sc.org/projects/o-ran-sc-it-dev/en/master/
https://docs.o-ran-sc.org/projects/o-ran-sc-it-dev/en/latest/

Documentation does not match.

[2019-11-18 20:21] Aricg commented on #6388
Builds are as follow.

It looks like the /latest/ version is  created on the first build. (or perhaps this is on project creation)

But then is never updated on subsequent builds via the api to master

Passed version master (html)6 days, 14 hours ago
Passed version master (html)1 week, 3 days ago
Passed version master (html)1 week, 3 days ago
Passed version latest (html)1 week, 3 days ago

[2019-11-18 20:25] Aricg commented on #6388
I have found that If I change default branch from "---" to "master"
It then it immediately builds /latest/
and then /master/ and /latest/ matches.

Also I think that after this change, subsequent builds via the api to /master/
also trigger /latest/ to update, but it does not show this explicitly in the build logs,
so I might be wrong there, I am going to try to test further.

[2019-11-18 20:54] Aricg commented on #6388
Oh my, I am actually completely wrong,

Changing the default branch in the U/I from --- to master just triggers latest to build once.
it does not cause latest to match what is seen when you navigate to /master/.

It seems like my options are,

enable the master branch for all project and remove the latest one.
or just trigger both to build.

You can close this.

[2019-11-19 15:23] #6059 closed

[2019-11-19 15:59] #6388 closed

[2019-11-19 17:11] stsewd opened #6392 "Put anchor when searching for inactive versions"
After filtering inactive versions you have to scroll down all active versions to find the search result. A simple anchor should fix this.

We are introducing one here https://github.com/readthedocs/readthedocs.org/pull/6276/files, so we could just make the change in that PR

[2019-11-19 17:37] stsewd opened #6393 "Keep history of matching versions and actions for automation rules"
Right now users can see "that something is happening" or the if the rules is working as expected by looking at the builds or versions tab. Having just one place to see this would be great. Maybe something like we do with integrations.

- [ ] Include a count and (truncated?) list of versions that match the current rule -- maybe in the listing page, but having a live reload list on the edit page wou

[2019-11-19 20:17] stsewd opened #6395 "Improve regex for semver in automation rules"
We have a very basic pattern, but on the semver faq they have a better one

https://semver.org/#is-there-a-suggested-regular-expression-regex-to-check-a-semver-string

This needs to be changed and with a comment to the link from where it came from.

https://github.com/readthedocs/readthedocs.org/blob/ff0ad67991e599f79e9d956a3733785ccb78c505/readthedocs/builds/constants.py#L113-L113

[2019-11-19 20:19] stsewd commented on #6395
We should keep the `v` at the beginning, isn't valid semver, but looks like it's very common

https://semver.org/#is-v123-a-semantic-version

[2019-11-21 18:12] #6310 closed

[2019-11-22 04:22] hanfu opened #6399 "Request to enable SEARCH_ANALYTICS feature flag for project zuchuanjiqixuexi"
## Details

* Read the Docs project URL:
* Build URL (if applicable):
* Read the Docs username (if applicable):

## Expected Result

*A description of what you wanted to happen*

## Actual Result

*A description of what actually happened*

[2019-11-22 16:43] piyushpalawat99 commented on #6395
I would like to start contributing to readthedocs, can I work on this issue?

[2019-11-22 23:09] WardBenjamin opened #6400 "Multiple accounts with same Github login?"
## Details

I currently have a ReadTheDocs account (blward) under a work email. I created a second account (benjaminloganward) for personal use, however since my Github account is tied to my work email, it doesn't seem like I can use it for my personal account. Is there a workaround, or can this behavior be changed? Cheers.

* Read the Docs project URL: N/A
* Build URL (if applicable): N/A
* Read

[2019-11-23 09:32] jorisvandenbossche commented on #5598
This started reappearing again a few days ago (conda giving memory problems):

[code]

I didn't note any change on our side (no additional dependencies, it's also failing on the stable docs that worked a few days ago), and also didn't see a conda change (eg new conda version) compared to the working builds of a few days ago. Is it possible something changed on readthedocs' end?

[2019-11-23 12:56] honzajavorek commented on #3181
@stsewd You previously mentioned we should comment with projects running on pipenv. I maintain https://github.com/pyvec/docs.pyvec.org and https://github.com/honzajavorek/cojeapi.

Both currently require developers of the docs to run `pipenv lock --requirements > requirements.txt` every time they mess with dependencies. Although we have CI to check that this file isn't out of sync, it is annoying

[2019-11-24 06:01] stsewd commented on #5598
@jorisvandenbossche check if the python version wasn't updated, I saw some problems related to that when python 3.8 was released

[2019-11-24 15:46] jorisvandenbossche commented on #5598
Python is pinned to 3.7 in the environment.yml file, so that shouldn't have changed I think.

[2019-11-24 17:12] KartikKapil commented on #6363
Friendly ping @stsewd :-)

[2019-11-24 17:47] Deech08 opened #6403 "Command killed due to excessive memory consumption"
## Details

* Read the Docs project URL: [https://readthedocs.org/projects/whampy](https://readthedocs.org/projects/whampy/)
* Build URL (if applicable): [https://readthedocs.org/projects/whampy/builds/10012491/](https://readthedocs.org/projects/whampy/builds/10012491/)
* Read the Docs username (if applicable): Deech08

## Expected Result

Completed build (such as in previous builds): [https://rea

[2019-11-25 14:47] humitos opened #6405 "Refactor redirects code"
After merging #6398 there are some Python logic code that can be almost completely deleted (`redirects.models.Redirect.redirect_*` methods).

Besides, [as Eric mentioned](https://github.com/readthedocs/readthedocs.org/pull/6398#discussion_r350192609) we can also remove the dependency of passing some attributes to `redirects.querysets.RedirectQuerySetBase.get_redirect_path_with_status`

[2019-11-25 16:35] stsewd commented on #6400
We use allauth https://django-allauth.readthedocs.io/en/latest/ to handle that. Not sure about a solution.

Maybe adding a secondary email?

[2019-11-25 17:11] stsewd commented on #6363
Not sure, since we'll need to run the json schema checker in CI. Let's just start by placing the json schema here https://github.com/readthedocs/readthedocs.org/tree/master/readthedocs/config/tests/fixtures /fixtures/specs/ and see what others think.

[2019-11-25 18:02] stsewd commented on #6399
Done!

[2019-11-25 18:02] #6399 closed

[2019-11-25 18:57] KartikKapil commented on #6363
@stsewd  i have made a pull request with .JSON file hopefully to get test cases for the same . #6406

[2019-11-25 18:58] stsewd commented on #5598
@jorisvandenbossche I've increased the memory limit to 1.5G https://readthedocs.org/projects/geopandas/builds/10018413/ Not sure why is using more resources now, maybe an increase of packages in the conda-forge channel?

[2019-11-26 00:04] stsewd commented on #6403
I have increased the memory limit, the buils is passing now https://readthedocs.org/projects/whampy/builds/10020125/

[2019-11-26 00:04] #6403 closed

[2019-11-26 00:20] Deech08 commented on #6403
Thanks!

[2019-11-26 18:04] stsewd commented on #3181
Hi everyone, sorry for the silence here. We are trying to decide if support pipenv or not.

- One thing is that pipenv isn't (or going to) adopting PEP 517 https://github.com/pypa/pipenv/issues/2787#issuecomment-416685889 like other tools like poetry or flit did (this allows us to just call pip and don't implement more options in the config file).
- Last release of pipenv was one year ago https://

[2019-11-26 18:40] Peque commented on #3181
I personally stopped using Pipenv (still using Conda and Poetry). I think going with PEP 517 may be the best choice.

[2019-11-26 20:50] brianmay commented on #3181
Pipenv is still the best supported option. Editors like pycharm and spacemacs supports pipenv. Dependabot supports pipenv. The only tool that I use that doesn't support pipenv is readthedocs.

I have no idea what will happen in the future. The fact pipenv hasn't been updated in over a year doesn't look good for pipenv. I see poetry[1] and flit[2] are actively maintained. Pip itself might be [impro

[2019-11-27 10:46] namanbansal013 commented on #5388
@stsewd I'd like to work on this issue. Should I add the constraints to docs of v1 too? Also, I'm not able to locate conda support page. Can you please guide me through it.

[2019-11-27 12:55] humitos commented on #6075
@astrofrog is this issue still happening to you?

[2019-11-27 13:50] manjotpahwa opened #6411 "Readthedocs integration with Google Analytics is not working."
## Details

* Read the Docs project URL: https://scrybe-docs.readthedocs.io/
* Build URL (if applicable): https://readthedocs.org/projects/scrybe-docs/
* Read the Docs username (if applicable): manjot

## Expected Result

*A description of what you wanted to happen*
I added the GA analytics code as per: https://docs.readthedocs.io/en/stable/guides/google-analytics.html and I also added the code to

[2019-11-27 15:02] petersmithca commented on #3181
In that case, is there any plans to support poetry? Currently I cannot use
the product with Pipenv or Poetry unless I hack the repo locally, and then
of course its overwritten on every update.

On Tue, Nov 26, 2019 at 2:04 PM Santos Gallegos <notifications@github.com>
wrote:

[2019-11-27 15:08] lukelbd opened #6412 "Command killed due to excessive memory consumption"
## Details

* Read the Docs project URL: https://proplot.readthedocs.io/en/latest/
* Build URL (if applicable): https://readthedocs.org/projects/proplot/builds/
* Read the Docs username (if applicable): lukelbd

## Expected Result

Successful build.

## Actual Result

Failed build. The conda environment solve step causes excess memory consumption.

I also have  `python.system_packages = True` in m

[2019-11-27 15:10] astrofrog commented on #6075
I think this is working now

[2019-11-27 15:10] #6075 closed

[2019-11-27 15:18] stsewd commented on #3181
You should be able to use poetry now https://poetry.eustace.io/docs/pyproject/#poetry-and-pep-517

[2019-11-27 15:20] petersmithca commented on #3181
I meant will read the docs work with poetry to build my documentation.

On Wed, Nov 27, 2019 at 11:18 AM Santos Gallegos <notifications@github.com>
wrote:

[2019-11-27 15:22] stsewd commented on #3181
Yes, we don't call poetry directly, but it's called with pip (that's PEP 517)

[2019-11-27 15:24] stsewd commented on #5388
@namanbansal013 starting with updating the v2 docs should be a good first step, we can see if it
s needed to update other places after that.

[2019-11-27 15:24] petersmithca commented on #3181
oh ok. cool thank you

On Wed, Nov 27, 2019 at 11:22 AM Santos Gallegos <notifications@github.com>
wrote:

[2019-11-27 16:11] stsewd commented on #6411
We use this file to setup google analytics view-source:https://assets.readthedocs.org/static/javascript/readthedocs-analytics.js

Your analytics code being used is in `READTHEDOCS_DATA.user_analytics_code` (js object)

The one used in your project is `UA-149467253-1`\

btw, I wasn't able to see your project at https://bitbucket.org/manjot-pahwa/scrybe-docs/

[2019-11-27 17:07] AndrewAnnex commented on #6384
I looked into this again by running the build again with a print statement to investigate the call to `numpy.str_` and I got the following outputs for `print(numpy.str_)` and `print(type(numpy.str_))`:
[code]

so it looks like the mocking is not poperly mocking this part of numpy, I don't have much familiarity with mocking in python so I am not sure how to work around this other than not mocking n

[2019-11-27 17:15] stsewd commented on #6384
Looks like mock doesn't work with isinstance

https://github.com/AndrewAnnex/SpiceyPy/blob/8f34f1dcdb682d1de087a22c4aa518cf95f825de/spiceypy/utils/support_types.py#L207

https://stackoverflow.com/questions/11146725/isinstance-and-mocking

This isn't a rtd problem, but a problem with the mock lib. You could adapt your code to make it work with mock. Or try building without mocking

[2019-11-27 17:16] #6384 closed

[2019-11-27 17:48] AndrewAnnex commented on #6384
Yep I agree with that, looks like I am making progress with the conda environment option. Thanks!

-Andrew Annex

[2019-11-27 18:14] fwitte opened #6413 "Build fails after restructuring"
Hey everybody,

I hope someone can help with my issue (if I am allowed to post this here): Currently I am restructuring my python package ([oemof/tespy](https://github.com/oemof/tespy/tree/fix/doc_tests)) and wanted to build one of the branches (fix/doc_tests) as latest. But the build always fails due sphinx missing out on the tespy.networks module. I already confirmed that the software version on

[2019-11-27 18:18] stsewd commented on #6413
Isn't missing networks here https://github.com/oemof/tespy/blob/3e0cff70c60ddc03ac18c12bb4f664da7c6dfe49/setup.py#L17?

[2019-11-27 18:22] fwitte commented on #6413
Wow, that was very fast. I think I'll need to drop work for today...
Thank you so much, oversaw that! Closing the issue.

[2019-11-27 18:22] #6413 closed

[2019-11-27 20:32] Aricg opened #6415 "How does read the docs detect tags and build /stable/ when triggering via the api?"
## Details

so, looks like the default behavior is this:
read the docs wants a /latest/ and /stable/

Stable follows /branch/ unless it sees a tag
then it follows the tag.

I don't really understand how the tag detection works if you are not using a webhook
When using the api is readthedocs going to see all the new tags? and automatically build /stable/ and if so how does it do this?

* https://do

[2019-11-28 10:26] humitos commented on #6405
@ericholscher I took a look at this today.

I'm not sure we can remove the `lang_slug` and `version_slug` from that method. It's used for `resolve_path` to get the full path to redirect to.

On the other hand, my idea of removing the `redirect_*` method may not be possible either. There are some Python logic there (like `re.sub` to remove a part of the URL) that I don't think we can easily move in

[2019-11-28 10:41] humitos commented on #6415
I don't know what this commands does behind the scenes. Although, if it's using APIv3 endpoint (https://docs.readthedocs.io/en/latest/api/v3.html#build-triggering), it _should not_ trigger a build for `stable` version, only for `amber`

[2019-11-28 16:25] Aricg commented on #6415
I think that the first time you build a branch it automatically builds stable, no?

[2019-11-28 16:35] stsewd commented on #6415
So, when we detect at least a tag, we give more priority to tags. When you trigger a build to any version, rtd clones the repo and gets the branches and tags from there. Then it updates the versions, when updating the versions, it checks if the stable version has changed (new tag or new branch with a version greater than the current stable), it also triggers a build to latest if master has changed

[2019-11-28 16:35] humitos commented on #5855
I think that PR removes the `ePub`, `PDF` and `HTML` links ("Download" section), not the `Downloads` link. I think we don't want that.

[2019-11-28 17:10] Aricg commented on #6415
@stsewd Can you be more specific?

If I trigger a build, say "latest" or "master" and there is a new ref tagged somewhere, read the docs lists all tags and branches internally and keeps track of that? so I could say only trigger /latest/ in my CI and new tags detected would automatically trigger /stable/ for me?

[2019-11-28 18:27] Aricg commented on #6415
"it also triggers a build to latest if master has changed. Hope that answer your question."

This statement adds to my confusion, my experience is that this does not hold true.
When a build was triggered via curl, using a the old method:
"generic api integration"
[code]
this returned for example:
[code]
So the previous behavior was to build latest and master from a call with
branches=master

when

[2019-11-28 19:28] #6385 closed

[2019-11-29 12:28] manjotpahwa commented on #6411
Unfortunately still not working, even after setting that option.

On Wed, Nov 27, 2019 at 9:41 PM Santos Gallegos <notifications@github.com>
wrote:

--

Manjot Pahwa

http://www.linkedin.com/in/manjotpahwa

[2019-11-30 21:53] sunilkpai opened #6420 "Readthedocs segmentation fault when pytorch is imported"
## Details

* Read the Docs project URL: https://readthedocs.org/projects/neurophox/
* Build URL (if applicable): https://readthedocs.org/projects/neurophox/builds/10045416/
* Read the Docs username (if applicable): sunilkpai
* Github URL: https://github.com/solgaardlab/neurophox

## Expected Result

I am using ReadTheDocs to build documentation for my project, and would like a clean build when us