[2019-06-04 20:21] stsewd commented on #5723
You can see the full details building your project locally with `sphinx-build -b html . _build/html`

[2019-06-04 20:46] stsewd commented on #5719
I've increased build memory and time for your project, I've triggered a couple of builds and look ok. The rtd branch is failing for another reason. Let me know if you find other problems.

[2019-06-04 20:46] #5719 closed

[2019-06-04 20:47] stsewd commented on #5693
Done, I've triggered a couple of builds of your project, and were successful.

[2019-06-04 20:47] #5693 closed

[2019-06-04 20:47] stsewd commented on #5693
Let us know if you find any other problem

[2019-06-04 20:54] stsewd commented on #5717
That's really a lot, I think 4GB is what our servers have.

I can see that your latest builds are successful, do you still need more resources for your project?

https://readthedocs.org/projects/ligo-virgo-public-alerts-user-guide/builds/

Also, please see https://docs.readthedocs.io/en/stable/guides/build-using-too-many-resources.html

[2019-06-04 21:44] lwasser commented on #5719
thank you @stsewd !! the build is working now. the RTD branch was a test so that is OK if it doesn't build. Many thanks for your help and time on this! i greatly appreciate it

[2019-06-04 21:55] epruesse commented on #5693
Thanks! Sorry - should have closed this.

[2019-06-04 23:23] #5238 closed

[2019-06-05 03:33] stsewd commented on #5709
I'll try to dig in to this tomorrow

[2019-06-05 05:30] typ1-brods commented on #5723
So, I have fixed all ERRORS. When locally building, there are only WARNINGS. Although, online building times out https://readthedocs.org/projects/androidaps/builds/9174827/

Any ideas? Maybe sth to do with this warning: "enable_auto_doc_ref" is deprecated?

[2019-06-05 08:45] humitos opened #5770 "Point users to commercial solution for private repositories"
Continuing with the idea of pointing our users to what they need, I think it's good to point to the Commercial solution at the Import Project page where they may be looking for for their private repositories.

I think that Travis does an excellent job for this.

![screenshot--2019 06 02-14-58-36](https://user-images.githubusercontent.com/244656/58942501-2ea97f80-877e-11e9-9f94-7d9bf4b69c2a.png)

I

[2019-06-05 09:13] humitos commented on #5050
@sg-s let us know if after changing the links it does work! ;)

[2019-06-05 15:50] stsewd commented on #5723
I'll continue investigating, now I can build your docs locally. One thing that comes to my mind is the command waiting for input or something weird like that.

[2019-06-05 16:19] geier commented on #5766
We don't require Sphinx 1.7.9, but that's the one that gets used according to the error message. On my machine, the docs also build fine with 1.8.5 (and 2.1.0, I didn't test more versions.)

[2019-06-05 23:29] #5104 closed

[2019-06-06 09:48] humitos commented on #5420
I'm closing this one in favor of #4603

[2019-06-06 09:48] #5420 closed

[2019-06-06 10:12] humitos opened #5771 "General improvements to our docs"
I received a lot of good feedback at Write the Docs Vilnius that we may want to consider and take care of it to improve our docs.

- Hard to find what they need in the docs
  - Titles could be improved with better keywords and less repetitive
  - ~~Toctree from index contains irrelevant content for this page~~
  - ~~Full toctree could be shown in a separate page~~
  - Consider the usage of `Contro

[2019-06-06 11:04] humitos commented on #5675
Kolibri project does this in an interesting way:

![Screenshot_2019-06-06_13-03-22](https://user-images.githubusercontent.com/244656/59028297-8964d900-885b-11e9-88ad-5d525ab3b535.png)

[2019-06-06 11:59] #2955 closed

[2019-06-06 12:06] struegamer commented on #3275
I encountered the same issue with a new project of mine.
Namespace package (`name/space/real_python_module_name/__init__.py`) can not be imported when using autodoc (like
[code]

Error message always:

[code]

Any fix for this?

Thanks

[2019-06-06 14:21] lpsinger commented on #5717
I added a temporary workaround that allowed me to skip the memory-intensive part of the build, but it's not a satisfying solution because it diminishes reproducibility.

The advice in https://docs.readthedocs.io/en/stable/guides/build-using-too-many-resources.html is helpful, but unfortunately not relevant in this circumstance, because the peak memory use is due to opening a particular astronomica

[2019-06-06 14:27] #5577 closed

[2019-06-06 14:38] cromefire commented on #5577
Works again somehow BTW

[2019-06-06 15:46] stsewd commented on #5420
We should update the other issue to include the other methods that are mentioned here

[2019-06-06 16:04] saadmk11 opened #5772 "Document Django Management Commands"
## Details

We should Document Django management commands for Readthedocs which are not currently documented.

The Documentation Could be something similar to this: https://docs.readthedocs.io/en/latest/settings.html

ref: https://github.com/rtfd/readthedocs.org/pull/5750#discussion_r290873570

[2019-06-06 16:17] stsewd commented on #5577
Thanks for the update!

[2019-06-06 18:40] stsewd commented on #5772
This is a duplicate of https://github.com/rtfd/readthedocs.org/issues/1526

[2019-06-06 18:40] #5772 closed

[2019-06-06 20:01] stsewd commented on #5717
We have a feature coming #1083. And yes, you can have a self hosted instance of Read the Docs https://docs.readthedocs.io/en/stable/custom_installs/index.html

[2019-06-07 02:55] stsewd commented on #5723
I was able to replicate this in my local instance of rtd, but I can't replicate it outside rtd. It gets stuck in

[code]

[2019-06-07 03:25] stsewd commented on #5723
I don't know why, but removing all `Building-APK.md` files make the build pass.

`find . -name Building-APK.md -delete`

[2019-06-07 03:39] stsewd commented on #5723
So, I removed all images in all `Building-APK.md` files and it pass.

`vim +g/Screenshot/d CROWDIN/bg/Installing-AndroidAPS/Building-APK.md`

[2019-06-07 03:55] stsewd commented on #5723
Actually, just removing the link to the image 41 in all `Building-APK.md` files makes the build pass.

[2019-06-07 04:12] stsewd commented on #5723
Actually (again, and finally), what makes the timeout is lines that have this form

[code]

(the comment just next to image, without space)

This makes the build happy

[code]
(note the space after the image)

It works putting the comment in any place but next to an image without spaces.

I don't know why times out only inside the container (we use docker to run the builds in Read the Docs), I can

[2019-06-07 04:12] #5723 closed

[2019-06-07 10:44] singingwolfboy opened #5774 "PDF fails to build"
## Details

* Read the Docs project URL: https://readthedocs.org/projects/flask-dance/
* Build URL (if applicable): https://readthedocs.org/projects/flask-dance/builds/9186993/
* Read the Docs username (if applicable): singingwolfboy
* Code: https://github.com/singingwolfboy/flask-dance

## Expected Result

PDF should be built correctly.

## Actual Result

Build fails at the `latexmk` step. Two we

[2019-06-07 16:06] #5646 closed

[2019-06-07 20:57] markcmiller86 commented on #5668
I have similar problem. I reorganized top-level index of my page tree and now when I do searches, I get duplicate hits; one for correct page and one for incorrect (404) page.

To duplicate...
1. go [here](https://visit-sphinx-github-user-manual.readthedocs.io/en/develop/)
2. Search for `cmfe`
3. You should see results depicted in attached picture below
4. Note first and third entries are duplicate

[2019-06-07 22:41] stsewd commented on #5668
I'll try to investigate this next week

[2019-06-08 00:29] svenevs commented on #5668
As a workaround, could users disable elastic search somehow and just keep the Sphinx search tools?

[2019-06-08 00:40] markcmiller86 commented on #5668
I'd even be ok with this if I had confidence that after some period of time, the old/invalid pages would no longer appear in searches because they staled. I don't think that is happening though because we've been experiencing this behavior for more than 30 days.

[2019-06-08 02:33] ionelmc opened #5778 "Set no shallow clone for python-hunter"
As noted in #5031, I'm asking to disable shallow clone for https://readthedocs.org/projects/python-hunter/

I need it to show proper version (using setuptools-scm now).

[2019-06-08 04:18] stsewd commented on #5778
Done, let us know if you find any other problem

[2019-06-08 04:18] #5778 closed

[2019-06-10 09:41] #5057 closed

[2019-06-10 10:53] humitos commented on #5673
What's exactly the idea behind 2? If I understand correctly, we call `gitpython` from inside Docker querying for all the info we need (branches, tags, commit hash, etc) and save all of that into a JSON file. Then, from the Host we read that file. Am I right?

[2019-06-10 11:45] humitos commented on #3474
I'd say that we should close this issue. The user has not responded in some time and we do have a way of override the canonical URL via the `html_context` after enabling a Feature Flag.

I do not see anything actionable from our side and I do not consider this a bug.

[2019-06-10 12:07] humitos commented on #5774
It seems there is a problem with the logo being a PDF file from https://github.com/singingwolfboy/flask-dance/blob/master/docs/conf.py#L219

Removing it (or changing it by its `.png` version) makes the PDF to pass.

I didn't find too much information about why this is happening, but some results from Google told me that this could be because the file is corrupted.

[2019-06-10 17:22] stsewd commented on #5673
@humitos yeah, something like mounting the script in `rtd/bin/get_vcs_information.py`

[2019-06-10 17:28] stsewd commented on #3474
@humitos did you try with this project? Because we inject this from the extension, also is unexpected that specific headers in the rst file are overridden

[2019-06-10 17:34] humitos commented on #3474
No, the user that report the issue is not active anymore and this does not seem to affect other users.

This is a completely different problem to solve, in case we want it.

[2019-06-10 17:39] humitos commented on #5673
I'm thinking that could be tricky. That script would need a Python environment with `gitpython` installed to be executed, right?

Another approach could be mixture of this: query git repository data from the host (using gitpython), and use this data from the container to run the git commands inside it.

[2019-06-10 19:21] singingwolfboy commented on #5774
[Switching to PNG worked!](https://github.com/singingwolfboy/flask-dance/commit/59c4c587231ebc8671cdf8623ecf132860562829) Thanks so much! 🎉

[2019-06-10 19:21] #5774 closed

[2019-06-10 21:54] #5481 closed

[2019-06-10 22:28] begriffs commented on #3474
Manuel Kaufmann wrote:

Hi, original bug reporter here. I do care about this issue, and have
seen some email updates about it, but haven't had a lot of time to look
into it.

Please do enable the feature flag which allows our project to override
headers that Read The Docs would ordinarily set. Any reason why that's
not the default behavior for all projects?

[2019-06-11 09:09] humitos commented on #3474
This is done. Please, test it and let us know.

Changing this default is a bigger task: we need to check that any project breaks.

[2019-06-11 11:08] letrend opened #5784 "Build error with build id #9163229"
## Details:

* Project URL: https://readthedocs.org/projects/CARDSflow/
* Build URL(if applicable): https://readthedocs.org/projects/cardsflow/builds/9163229/
* Read the Docs username(if applicable): roboy

## Expected Result

The build fails when checking out master

## Actual Result
Aborts and reports failure

[2019-06-11 15:51] stsewd commented on #5784
This is because this submodule doesn't exist or isn't proper configured

https://github.com/CARDSflow/CARDSflow/blob/e5ebf344ec177548397cec95ad52f18d08a15a00/.gitmodules#L34-L36

See #4371

[2019-06-11 15:51] #5784 closed

[2019-06-11 17:17] letrend commented on #5784
awesome, that solved the problem, thanks a lot!!!

[2019-06-12 03:15] meipasutri opened #5791 "Obat Aborsi 081901222272 Obat Telat Bulan Efektif"
Selamat Datang Di Situs Website Resmi Kami Penjualan Obat Aborsi Asli di Indonesia. Kami Adalah Penjual Obat Cytotec FDA USA Yang Sangat Terpercaya Untuk Membantu Masalah Menggugurkan Kandungan Dengan Produk Unggulan Kami Yaitu

( OBAT ABORSI CYTOTEC PENGGUGUR KANDUNGAN + OBAT PENDORONG JANIN + ANTIBIOTIK & OBAT PEMBERSIH RAHIM )

https://obataborsidokter.xyz

JUAL OBAT CYTOTEC – Obat Aborsi yang

[2019-06-12 03:16] meipasutri opened #5792 "Obat Penggugur Kandungan 081901222272 Obat Pendorong Janin 100% Efektif"
Selamat Datang Di Situs Website Resmi Kami Penjualan Obat Aborsi Asli di Indonesia. Kami Adalah Penjual Obat Cytotec FDA USA Yang Sangat Terpercaya Untuk Membantu Masalah Menggugurkan Kandungan Dengan Produk Unggulan Kami Yaitu

( OBAT ABORSI CYTOTEC PENGGUGUR KANDUNGAN + OBAT PENDORONG JANIN + ANTIBIOTIK & OBAT PEMBERSIH RAHIM )

https://obataborsidokter.xyz/obat-penggugur-kandungan/

JUAL OBAT C

[2019-06-12 03:17] #5792 closed

[2019-06-12 03:18] meipasutri opened #5793 "Obat Aborsi 081901222272 Obat Telat Bulan Efektif"
Selamat Datang Di Situs Website Resmi Kami Penjualan Obat Aborsi Asli di Indonesia. Kami Adalah Penjual Obat Cytotec FDA USA Yang Sangat Terpercaya Untuk Membantu Masalah Menggugurkan Kandungan Dengan Produk Unggulan Kami Yaitu

( OBAT ABORSI CYTOTEC PENGGUGUR KANDUNGAN + OBAT PENDORONG JANIN + ANTIBIOTIK & OBAT PEMBERSIH RAHIM )

https://obataborsidokter.xyz

JUAL OBAT CYTOTEC – Obat Aborsi yang

[2019-06-12 05:16] stsewd commented on #5017
Hi all!, a new release was made today, we don't validate files before cloning submodules.

[2019-06-12 19:02] #5699 closed

[2019-06-12 19:07] #5700 closed

[2019-06-13 02:10] stsewd commented on #5766
Hi, sorry for the late reply. I was able to replicate the error locally (outside Read the Docs).

`sphinx-build -b singlehtml . _build/singlehtml`

The normal build works (`html`), but the single html build fails, we build that kind of docs for download.
You can disable the `singlehtml` build using a configuration file https://docs.readthedocs.io/en/stable/config-file/v2.html#formats (`htmlzip` is

[2019-06-13 02:10] #5766 closed

[2019-06-13 11:26] akien-mga opened #5799 "Enable DONT_OVERWRITE_SPHINX_CONTEXT on further godot-* projects"
## Details

* Read the Docs project URL: all `godot-*` projects listed under https://readthedocs.org/profiles/Akien/
* Build URL (if applicable): n/a
* Read the Docs username (if applicable): Akien

## Expected Result

As discussed in #2971, the `DONT_OVERWRITE_SPHINX_CONTEXT` should be enabled manually by sysadmins for projects which need it.

I asked earlier to enable it for the `godot` repo, an

[2019-06-13 15:35] stsewd commented on #5799
Done, let us know if any problem

[2019-06-13 15:35] #5799 closed

[2019-06-13 17:03] #4266 closed

[2019-06-13 18:18] #4350 closed

[2019-06-13 19:43] #5668 closed

[2019-06-14 00:52] am2222 opened #5804 "can not install package"
## Details

* Read the Docs project URL: https://pydggrid.readthedocs.io/
* Build URL (if applicable): https://pydggrid.readthedocs.io/
* Read the Docs username (if applicable):
am2222
## Expected Result

Hi,
My project needs to be compiled to be able to use autodoc, How I can make it to be installed before compiling documentation on readthedocs server?

## Actual Result
In build log I face this e

[2019-06-14 07:57] markcmiller86 commented on #5668
So, I've re-built my docs in hopes that would have the intended effect associated with this comment in #5798

And, I am still getting same behavior as described above.

The correct (newer) URLs for valid RTD pages are...
[code]
Note the **`/gui_manual`** part of the path.

The **incorrect** (older) URLs for 404 RTD pages are...

[code]
which **do not** contain the **`gui_manual`** part of the path

[2019-06-14 09:23] stsewd commented on #5668
@markcmiller86 the pull request was merged, but it hasn't been deployed. Hope we can deploy the new version next week.

[2019-06-14 16:33] markcmiller86 commented on #5668
Oh, of course. What was I thinking? Thanks so much for the quick response!!

[2019-06-14 20:54] stsewd commented on #5804
Hi, you can use a configuration file to install your project

https://docs.readthedocs.io/en/stable/config-file/v2.html

This setting https://docs.readthedocs.io/en/stable/config-file/v2.html#packages

[2019-06-14 20:54] #5804 closed

[2019-06-15 17:47] #5659 closed

[2019-06-15 17:51] t-makaro opened #5809 "Different rendering on RTD vs local build"
## Details

* Read the Docs project URL: [nbconvert](https://nbconvert.readthedocs.io/en/latest/config_options.html)

On nbconvert's docs, we are getting different documentation rendering depending on whether we build locally or on RTD. This was not an issue for nbconvert <=5.4.0, but it is for nbconvert >=5.5.0.

Expected:
![image](https://user-images.githubusercontent.com/18018386/59554575-f2360

[2019-06-15 20:33] humitos commented on #5809
Hi! I think you are using Sphinx 2.x on RTD and a different version locally. Could it be?

I've seen this already and it was because of that

[2019-06-16 03:57] #5809 closed

[2019-06-16 17:12] zaneselvans opened #5810 "Pinning sphinx version sometimes fails"
## Details
I am attempting to set up RTD to build documentation for a project using a bunch of the pydata tools. I ran into resource constraints early on, and the RTD docs [recommended using the system versions](https://docs.readthedocs.io/en/stable/guides/build-using-too-many-resources.html) of numpy, scipy, pandas, etc. rather than putting them all in the requirements.txt for the doc environment

[2019-06-16 17:15] CorruptComputer opened #5811 "Web Based Documentation Editor"
## Details

* Read the Docs project URL: n/a
* Build URL (if applicable): n/a
* Read the Docs username (if applicable): n/a

## Expected Result

It would be awesome if we had the choice of a web based editor right in Read The Docs, this would help with people who aren't very familiar with Git. This could be done with GitHub Apps, when a user edits it from the web interface it could automatically c

[2019-06-16 17:34] sarathak opened #5812 "npm run build failed"
# I cloned and try build. it faild

[code]
same issue also reported on gulp github
i think we have to update gulp to latest version

https://github.com/gulpjs/gulp/issues/2324
https://stackoverflow.com/questions/55921442/how-to-fix-referenceerror-primordials-is-not-defined-in-node

[2019-06-16 17:47] dojutsu-user commented on #5812
You can use `nvm` to change node version on your system.
I am using node `v10.15.3` and npm `6.9.0` and it is running just fine.

[2019-06-16 17:53] dojutsu-user commented on #5811
I like the idea.
What are  your thoughts.... @ericholscher?

[2019-06-16 20:10] stsewd commented on #5811
I think we used to have this feature a long time ago, it was removed for some reason

[2019-06-17 09:04] #5447 closed

[2019-06-17 09:26] humitos commented on #5658
Our Docker images has `pypy` installed now and it's working for the first build. Although, if the environment it re-used pypy fails with this problem.

I think this is won't be a problem anymore since we are going to remove the environment on each build (behind a feature flag now, I think) and in the future we won't share anything.

So, this will probably automatically supported in the next months

[2019-06-17 14:09] stephenfin opened #5813 "Set no shallow clone flag for 'pwclient'"
Another project using 'reno' and therefore needing full git history.

https://pwclient.readthedocs.io/

[2019-06-17 16:51] ericholscher commented on #5811
Yea, this is definitely not something we have the skills or capacity to work on. It's a good idea, but perhaps someone else should make it :)

[2019-06-17 16:51] #5811 closed

[2019-06-17 17:09] stsewd commented on #5658
@humitos removing after build is more an experiment right now, so isn't definitive.

[2019-06-17 17:12] stsewd commented on #5812
I use nvm too. Closing as this isn't a Read the Docs issue.

Also, we'll be updating our frontend tooling soon

[2019-06-17 17:12] #5812 closed

[2019-06-17 17:12] stsewd commented on #5812
Also, see #4843

[2019-06-17 17:23] stsewd commented on #5810
This looks related to https://github.com/rtfd/readthedocs.org/pull/5107.

The builds have the same characteristics, the successful build don't use the cache https://readthedocs.org/projects/catalyst-cooperative-pudl/builds/9226025/

and the failed build use the cache https://readthedocs.org/projects/catalyst-cooperative-pudl/builds/9228210/

Till we have a solution, you can wipe the version before

[2019-06-17 17:46] humitos commented on #5811
I found this some time ago that could be helpful in case that someone wants to implement this: https://django-front.readthedocs.io/en/latest/

[2019-06-17 18:00] ericholscher commented on #5710
I think we can use the current pattern for now. Migrating can be a future item.

[2019-06-17 20:09] stsewd commented on #5813
Done, let us know if there is any problem

[2019-06-17 20:09] #5813 closed

[2019-06-17 20:50] davidfischer commented on #5675
I agree with this in theory but not strictly in practice. The big issue with docs.readthedocs.io is that it is the top level page. Clicking the logo or "home" goes to that page rather than to readthedocs.org. That is the reason why we need some marketing material ("what is RTD?" and "Why RTD") right at the top of that page.

Comparing our documentation with vaguely similar projects like [Travis CI

[2019-06-18 16:43] #5397 closed

[2019-06-18 17:18] stsewd opened #5821 "Use full_path to show search results"
This is a follow up of the discussion around #5785

Currently we are indexing the page name as `path` in ES, page name and path are different concepts.

- Page name doesn't include the file extension, path does.
- Page name is something used in sphinx internals to identify a page (doesn't matter the build output I guess)

We used to build the original path (with extension) using the doctype, but t

[2019-06-18 17:58] ericholscher commented on #5821
Yea, I think we need to do a full audit of our code and figure out all the different names we call these concepts. I suggest:

* `page` for the Sphinx concept (doc without extension)
* `path` for the Filesystem concept (path to file on disk)

Right now, in the embed API we're actually cutting the HTML off and expecting a `page` instead of a `path`:

https://github.com/rtfd/readthedocs.org/blob/826

[2019-06-18 18:11] stsewd commented on #5821
Thanks for the explanation, now it's more clear for me the use of page name!

[2019-06-18 18:53] remram44 commented on #5351
Why mark issues as stale if you're the ones not addressing them?

[2019-06-18 19:30] stsewd commented on #5810
I can confirm this is because of `system_packages: true`, I think we can fix this the same way the other ones.

[2019-06-18 19:34] stsewd commented on #5351
That's automatic, it's hard to find the problem if we can't replicate it locally.

[2019-06-18 20:10] stsewd commented on #5810
Using the method used to fix the similar problem doesn't work :/ this needs more research

[2019-06-18 20:27] wdoekes opened #5824 "Rename sipp-wip.readthedocs to sipp.readthedocs"
Hi!

Per #5403, it seems I can ask here if I want to rename a slug.

@rkday now holds https://sipp.readthedocs.io/ but I'd like to move https://sipp-wip.readthedocs.io/ there.

Rob, I assume you're okay with that?

Thanks!

[2019-06-18 21:07] stsewd commented on #5824
What you are asking is to have the slug `sipp` which is occupaid right now. You can follow https://docs.readthedocs.io/en/stable/abandoned-projects.html

Or if you both agreed and you don't need to keep any data from the other project, you could remove both projects and create a new one with the `sipp` slug.

[2019-06-18 22:07] rkday commented on #5824
I've deleted the old one; go ahead with the rename.

[2019-06-18 22:24] davidfischer commented on #5771
This is great and thanks for starting this!

Some of these are implemented in #5819 but there's still more work to be done. The ones in #5819 are:

    * Full toctree could be shown in a separate page
    * Toctree from index contains irrelevant content for this page
    * "About Read the Docs" should be placed at the bottom of the page
    * The landing page of the docs could be re-structured dep

[2019-06-19 01:36] agjohnson commented on #779
This is still valid, but we will be addressing this in a larger design project and it wouldn't make sense for anyone else to take this work on. We'll be moving to icon buttons for this particular reason however, and limiting the number of buttons in our UI listviews

[2019-06-19 02:03] agjohnson commented on #3231
Well, no, because that's not what the feature does currently :)

Because `canonical=True` does not currently redirect, we might need to be more careful about enabling a strict redirect like this. I'm not sure if that dictates that we need a separate option or not though, but I don't think we can assume a redirect is what the user wanted.

I'm guess this will be implemented in proxito, if anywhere.

[2019-06-19 02:13] agjohnson commented on #5247
Here is the main issue:
https://github.com/rtfd/readthedocs.org/pull/5246/files#diff-7faf5e6b86776ca9b80505230b669285R114

It simply looked for paths ending `search.html` for example. This would incorrectly catch files like `foo/search.html` or `foo_search.html`.

If we can't use file operations for this query in some way, we should at least be more strict about the root path. We should more expli

[2019-06-19 06:49] litnimax opened #5826 "uygfcl="
## Details

* Read the Docs project URL:
* Build URL (if applicable):
* Read the Docs username (if applicable):

## Expected Result

*A description of what you wanted to happen*

## Actual Result

*A description of what actually happened*

[2019-06-19 07:19] dojutsu-user commented on #5826
Looks like spam.

[2019-06-19 07:19] #5826 closed

[2019-06-19 12:58] wdoekes commented on #5824
Superb! :ok:

I'll go check if I can drop the -wip and recreate a new one.

[2019-06-19 13:09] wdoekes commented on #5824
Seems to work. Thank you all :)

[2019-06-19 13:09] #5824 closed

[2019-06-19 17:09] #2667 closed

[2019-06-19 17:09] #5675 closed

[2019-06-19 18:15] stsewd commented on #5397
hi @tweep, a release was made today, it fixes this issue. We are going to re-index the search index, so it should take time in see the correct results in all projects, but you can re-trigger a reindex for your projects just now triggering a new build for each version.

[2019-06-19 18:16] stsewd commented on #5668
@markcmiller86 we just did a new release today, you can clear the search index by triggering a new build to the version with the incorrect results, let us know if this fixes your problem.

[2019-06-19 19:10] ericholscher commented on #5771
I crossed out the issues we fixed in the main issue description 👍

[2019-06-19 19:10] ericholscher commented on #5771
Should we remove Config v1 from the TOC, similar to API v1?

[2019-06-19 20:08] MikeTheWatchGuy opened #5830 "Is there a max length allowed for markdown docs? My document abruptly stops."
## Details

* Read the Docs project URL: https://readthedocs.org/projects/pysimplegui/
* Build URL (if applicable): https://pysimplegui.readthedocs.io/en/latest/
* Read the Docs username (if applicable): PySimpleGUI

## Expected Result

My document is being cut off.  You can see the entire document here:
https://github.com/PySimpleGUI/PySimpleGUI/blob/master/docs/index.md

That is the document tha

[2019-06-19 21:19] markcmiller86 commented on #5668
Yes, it is fixed!! Thanks so much

[2019-06-19 21:20] markcmiller86 commented on #5668
Let me try that again, @stsewd ... yes it is fixed.

[2019-06-20 01:09] stsewd commented on #5830
Hi, we don't have that kind of limit. It could be a memory limit, but I don't see any warnings in the build https://readthedocs.org/projects/pysimplegui/builds/9247925/. Does it build correctly locally?

[2019-06-20 01:27] MikeTheWatchGuy commented on #5830
what do you mean build correctly locally?  I'm not an expert at this by any means.

[2019-06-20 01:28] MikeTheWatchGuy commented on #5830
I've noticed that by removing blank lines above the end, I am able to get more content.  Something's getting full feeling.

[2019-06-20 01:30] MikeTheWatchGuy commented on #5830
You can see the file that is being used clearly renders correctly and fully within GitHub.  It's just when it gets built and viewed on the ReadTheDocs page that it ends abruptly.

Both the table of contents on the left and the main text end at the same spot if that's any help.

[2019-06-20 01:35] stsewd commented on #5830
I mean installing mkdocs and building your docs in your computer, read the docs is using mkdocs to build your documentation, you can see all the steps in https://readthedocs.org/projects/pysimplegui/builds/9247925/.

Please take a look at https://docs.readthedocs.io/en/stable/intro/getting-started-with-mkdocs.html

[2019-06-20 03:52] MikeTheWatchGuy commented on #5830
Will do... thank you very much for giving me something to try!

[2019-06-20 08:20] Anushka-Maharjan opened #5832 "Email Address Forgotten"
Username: LogiSpark

I remember the password, but when I try to log in, a verification code is being sent to the email which I don't remember. Can I reset my email?

[2019-06-20 12:45] #5623 closed

[2019-06-20 12:50] humitos commented on #5771
I think that's the way to go. Remove them from the first sight but make them available if you look closer for them.

[2019-06-20 14:11] stsewd commented on #5832
Is `LogiSpark` your read the docs username? Looks like isn't registered https://readthedocs.org/profiles/LogiSpark/

[2019-06-20 18:23] potterwrit commented on #4603
Is anyone still working on this? If I understand correctly, we need documentation on how to add tags in RTD using Sphinx? I can take this issue :)

[2019-06-20 18:45] stsewd commented on #4603
@potterwrit yes, you can submit a PR!

[2019-06-21 04:59] SuryaGrandhi commented on #5610
No issues @stsewd we have tried a different format to get a workaround. Thanks for your efforts.

[2019-06-21 04:59] #5610 closed

[2019-06-21 06:44] catastrop opened #5835 "PDF generation ?"

[2019-06-21 06:51] stsewd commented on #5835
Could you please more descriptive?

I'm guessing you are looking for https://docs.readthedocs.io/en/stable/features.html#pdf-generation

Note: It's only supported by sphinx, mkdocs doesn't provide that feature.

[2019-06-21 06:51] #5835 closed

[2019-06-21 09:10] vnmabus opened #5836 "Rename slug of my project"
Hello,

Per #5403, it seems I can ask here if I want to rename a slug.

I currently have the page https://fda.readthedocs.io/en/latest/ . However, we changed the name of our project to brand it as a scikit. Would it be possible to have the documentation in https://scikit-fda.readthedocs.io/en/latest/ ?

Ideally I would want that the old page redirects to the new one, in order not to break the Inte

[2019-06-21 18:58] Abhi-khandelwal commented on #5770
Hi @humitos Can I work on this issue ?

[2019-06-21 19:45] dojutsu-user commented on #5770
@Abhi-khandelwal Go ahead :tada:

[2019-06-24 11:45] humitos commented on #3231
What's the point of having a `canonical=True` Domain and keep serving the docs under the non-canonical URL? I'm not sure to find a good answer to that. Although, I think this will affect people proxing to us, right?

Anyway, forcing the redirect will be a change in the feature as you said. So, I'm :+1: on adding an extra option `canonical_redirect=True` to enforce the redirect based on user desire

[2019-06-24 11:56] humitos commented on #5639
The user did not respond in time.

@soumitrakp you should be able to create `judi` project now. Feel free to reopen the issue if you have any problem.

[2019-06-24 11:56] #5639 closed

[2019-06-24 16:31] agjohnson commented on #3231
It's definitely the case that `canonical=True` was poorly named or poorly applied when we originally wrote the implementation. Ideally `canonical=True` would function the way you're describing. From our current perspective, `canonical=True` only affects how the resolver determines the domain for the project and pieces like search and auth on the commercial side -- it effecticely `primary=True`, no

[2019-06-24 16:34] soumitrakp commented on #5639
Thank you. I could create project 'judi' without any problem.
Soumitra

On Mon, Jun 24, 2019 at 7:56 AM Manuel Kaufmann <notifications@github.com>
wrote:

[2019-06-24 18:09] cas-- opened #5839 "Random failure for "project needs at least Sphinx v2.0""
## Details

* Read the Docs project URL: https://readthedocs.org/projects/deluge/
* Build URL (if applicable): https://readthedocs.org/projects/deluge/builds/9270025/
* Read the Docs username (if applicable): cas

## Expected Result

Automated builds pass

## Actual Result

Automated builds fail randomly (no changes to docs or docs config) with the following error which requires the build to be ma

[2019-06-24 18:27] stsewd commented on #5839
Thanks for reporting, this is the same as #5810

[2019-06-24 18:27] #5839 closed

[2019-06-24 21:37] ericholscher commented on #5673
I don't think installing gitpython in the build env is too much. We already have lots of other Python dependencies there. I think the bigger question is around architecture, and if we want more running in the build env. I think that seems like a reasonable approach, and we should at least put together a proof of concept, it shouldn't be too hard.

[2019-06-24 22:19] davidfischer commented on #3231
Generally, I favor redirecting to the canonical domain for *all* requests. Ideally, we should never serve the same documentation on two different domains. Serving the same thing in multiple places generally just yields confusion as well as being bad for SEO.

While I can understand the logic of not changing functionality on people, I can't really think of why anybody would set `canonical=True` and

[2019-06-25 06:52] Abhi-khandelwal commented on #5770
Actually I don't understand that which lists we are talking about ? is it that list when we try to import a project?

[2019-06-25 09:23] #3474 closed

[2019-06-25 11:00] dojutsu-user commented on #5770
@Abhi-khandelwal
yes..!!

[2019-06-25 11:26] humitos commented on #5770
@Abhi-khandelwal yes. In my mind, this message should go at the top of this page https://readthedocs.org/dashboard/import/

[2019-06-25 12:21] trombastic opened #5843 "Build error with build id #9274652"
## Details:

* Project URL: https://readthedocs.org/projects/PyScada/
* Build URL(if applicable): https://readthedocs.org/projects/pyscada/builds/9274652/
* Read the Docs username(if applicable): trombastic

## Expected Result

*A description of what you wanted to happen*

## Actual Result

*A description of what actually happened*

[2019-06-25 13:32] veenamj opened #5844 "Build error with build id #218632"
## Details:

* Project URL: https://readthedocs.org/projects/Qubole Data Service/
* Build URL(if applicable): https://readthedocs.org/projects/qubole-qubole-documentation/builds/218632/
* Read the Docs username(if applicable): dev+readthedocs@qubole.com

## Expected Result

*A description of what you wanted to happen*

## Actual Result

Builds failing with IOError: [Errno 26] Text file busy: '/hom

[2019-06-25 13:44] veenamj commented on #5844
There seems to be something because our account is on readthedocs.com. I'm closing this issue.

[2019-06-25 13:44] #5844 closed

[2019-06-25 13:48] stsewd commented on #5844
Hi, the error is because two builds where triggered at the same version simultaneity

[2019-06-25 13:52] veenamj commented on #5844
okay = @stsewd  - Thanks for letting me know!

[2019-06-25 13:52] stsewd commented on #5843
Hi, this is because your project has some unused submodules in https://github.com/trombastic/PyScada/blob/master/.gitmodules, see #4371

[2019-06-25 13:52] #5843 closed

[2019-06-25 14:55] trombastic commented on #5843
Thank you very much!

[2019-06-25 22:27] tlvu opened #5847 "How to use the readthedocs/build docker image locally to test build"
## Expected Result

A way to launch the same build as on ReadTheDocs website but locally to test build.

## Actual Result

Keep pushing to Github to trigger builds to test.  This surely waste resources on ReadTheDocs server and make the testing feedback loop longer.

[2019-06-25 22:29] stsewd commented on #5847
The easy way is to install read the docs locally

[2019-06-25 22:36] davidfischer commented on #5847
Easy...

More seriously, what are you looking to test locally? You can do a local Sphinx/MkDocs build on your system without pushing to RTD.

[2019-06-25 22:42] tlvu commented on #5847
Okay, let me just backup and explain why I need this.

In Ouranosinc/raven#148 we ran out of memory while doing the build.  I want to perform the same build, in the same docker image as RTD to see how much memory we need so I can request a sensible amount.

Also I am not looking to install RTD locally ... why should I when there's a docker image ... right?  Or am I missing something?

[2019-06-25 22:51] stsewd commented on #5847
It's mostly because all the commands come from the codebase, and we set some env variables, not really easy to follow all the code to have a container running _exactly_ the same.

[2019-06-25 22:53] stsewd commented on #5847
Can you link your project? So we can see if we can increase the memory/time limits

[2019-06-25 22:55] tlvu commented on #5847
The doc build is coming from this repo https://github.com/Ouranosinc/raven.

[2019-06-25 23:01] tlvu commented on #5847
I was trying to strip down what we need to install and with this very minimal environment.yml, I already run out of memory, see build url https://readthedocs.org/projects/raventlvu/builds/9278183
[code]

[2019-06-25 23:05] stsewd commented on #5847
which is the original read the docs project? I guess https://readthedocs.org/projects/raventlvu/ this one is for testing

[2019-06-25 23:07] tlvu commented on #5847
I have to ask my colleague for the original RTD project.  Yes https://readthedocs.org/projects/raventlvu/ is for testing.

[2019-06-26 13:54] Zeitsperre commented on #5847
Hi and thanks for spending the time looking into this issue for us!

The original project can be found at https://readthedocs.org/projects/pavics-raven/. It's been failing from bad configuration reasons for the past 3.5 months but I went in and tried to fix it a few weeks ago with a PR https://github.com/Ouranosinc/raven/pull/134. Since then, the issue has been a memory allocation error.

It could

[2019-06-26 14:42] stsewd commented on #3275
Common bot!

[2019-06-26 15:57] stsewd commented on #5830
@MikeTheWatchGuy hi, where you able to get it working?

[2019-06-26 16:04] stsewd commented on #5847
I've increased the memory limits to 1.5 GB, but it still runs out of memory. You could try using https://sphinx-autoapi.readthedocs.io/en/latest/reference/directives.html which extracts your docs without the need to install the project dependencies.

[2019-06-26 16:46] tlvu commented on #5847
That is what I've been testing on my https://readthedocs.org/projects/raventlvu/builds/9278183 and I was also running out of memory.  I still had to install a subset of the conda environment.  Probably I did it wrong and misuse or misunderstood that autoapi feature.  Still new to Sphinx docs and RTD.

[2019-06-26 17:01] stsewd commented on #5847
So, the autodoc feature of sphinx requires the project to be installed to extract the docs (because it actually executes the code). Autoapi extracts the docs in a static way (no need to run the code). So, when using autoapi, tou can skip the dependencies installation for the project.

You need to replace the directives of autodoc http://www.sphinx-doc.org/en/master/usage/extensions/autodoc.html to

[2019-06-26 17:44] huard commented on #5847
`docs/source/processes.rst` includes `autoprocess` directives, an autodoc extension we created to document PyWPS processes automatically from its attributes. However, these attributes are extracted from a class instance, so the autoapi option won't work.

[2019-06-26 18:33] martinberoiz opened #5851 "grant third party access to organization"
Hello,

I am member of two GitHub organizations:

https://github.com/toros-astro
https://github.com/ctmobservatory

A colleague granted third party access to toros-astro but he doesn't remember how. I want to do the same for ctmobservatory but I can't seem to find a way to grant third party access to readthedocs. I'm not sure if I need to request from within readthedocs or from within GitHub.

Any

[2019-06-26 18:39] stsewd commented on #5851
If you already connected your account, you should be able to see your org in https://readthedocs.org/dashboard/import/

[2019-06-26 18:53] MikeTheWatchGuy commented on #5830
YES!  I did get it working.  But I'm not entirely sure why.  I removed stuff that the tool StackEdit left at the end of the file as well as other cleanup stuff.   We're building the new readme using a Python program, so there could have been some kind of mismatch somewhere.

I'll go ahead and close this as it's working.  I want to make sure I can again easily find your instructions for building th

[2019-06-26 18:53] #5830 closed

[2019-06-26 19:16] agjohnson commented on #5851
If you don't see your organization in your list of importable repositories, a GitHub organization owner needs to authorize our application, it's not an action RTD takes.

See https://help.github.com/en/articles/approving-oauth-apps-for-your-organization for more information on granting this. Feel free to reopen if this is not what you're describing.

[2019-06-26 19:16] #5851 closed

[2019-06-26 19:19] agjohnson commented on #5710
It's on our roadmap, under our ops repo. I'm going to close this for now as it's on our radar already. I'll point our issue here as you added a lot of great information for the migration to GH applications.

[2019-06-26 19:19] #5710 closed

[2019-06-26 19:22] agjohnson commented on #5685
I'm going to close this, I think it goes against our goal of removing caching entirely. If we weren't on this path, it would be a helpful feature, but I think the benefits ephemeral build process bring will trump any gains by tuning caching

[2019-06-26 19:22] #5685 closed

[2019-06-26 19:25] agjohnson commented on #5684
We've decided to not block this work on migration to GitHub apps. We already have migrating to GH apps on our roadmap in a few months though, so we'll deal with the change then.

[2019-06-26 19:32] agjohnson commented on #5582
I'm -0 on type checking I suppose. It's nice to have in theory, but we're limited on engineering efforts and I'm not sure how much benefit the core team will really get out of static type checking compared to the amount of work that is going to go into adding and maintaining type checking annotations. We still haven't had a strong push to finish code style linting, so core team would be pretty unl

[2019-06-26 19:41] stsewd commented on #5582
Well, in python 3.7 type annotations got a lot better (lazy evaluation). I'm -0, we could try this with new projects.

Also, we currently use the `:type:` role in some docstrings, which isn't really checked by any tool (I don't like that)

[2019-06-26 21:04] humitos commented on #5582
I vote here is to test "how we feel it in a new small project". I wouldn't go directly to the main repository. It's good to have it but it's really verbose and we are not already using it anywhere, so we will have a learning curve that I think we can't afford at this moment in a big repository like this one.

I'm :+1: on using it in a new Sphinx extension or small project and have a new discussion

[2019-06-26 21:16] martinberoiz commented on #5851
thanks for the prompt reply, but I still have trouble because I am the owner of the organization and I know how to approve the request once the request is made, but I don't know how to initiate the request.

The link https://help.github.com/en/articles/approving-oauth-apps-for-your-organization explains how to approve the grant request, but I can't make it appear there in my organization settings

[2019-06-26 22:19] stsewd commented on #5851
@martinberoiz do you have the read the docs app listed in the `Authorized OAuth Apps` tab?

Do you see your org in https://readthedocs.org/dashboard/import/?
Did you try with the sync button in the above page?

[2019-06-26 22:22] stsewd commented on #5851
Also, what do you mean with "I can't find a way to request that in https://readthedocs.org/accounts/social/connections/"?

The `Connect to GitHub` button doesn't work?

[2019-06-27 00:30] agjohnson opened #5855 "Move in-doc download links away from project dashboard page"
In a focus to keep the reader user experience solely in documentation, we are planning on moving elements from the project dashboard and into in-doc UI. One of the places that we are pointing reader users into the project dashboard is with format download links.

- Change the location of the footer download links, don't point to the project dashboard
- We have these assets in our external storage,

[2019-06-27 00:51] agjohnson opened #5856 "Refactor view to class based views that use auth mixins"
Instead of using one-off and disparate methods for authorization, views should be refactored to use CBV and authentication mixins that already exist, such as `AuthMixin`. This will reduce the number of ways that we're performing authentication and make our authorization more unified.

[2019-06-27 01:10] wmay commented on #4067
I experimented with this and saw that the path to the conda environment is `/home/docs/checkouts/readthedocs.org/user_builds/<pkgname>/conda/latest/`, and the path to the package source code is `/home/docs/checkouts/readthedocs.org/user_builds/<pkgname>/checkouts/latest/`.

I got gfortran to work by including this code near the top of my `setup.py`:

[code]

As long as the conda environment name i

[2019-06-27 14:44] martinberoiz commented on #5851
Hi, thank you for your patience,

Yes, I have it in my personal account. It seems to imply there that if I have readthedocs listed in my Authorized OAuth Apps in my personal account (martinberoiz), this should also reflect in the organizations I am part of? But for some reason it will not show up in my organization `ctmobservatory`.

I see one of them (toros-astro) but not the other (ctmobservator

[2019-06-27 14:46] martinberoiz commented on #5851
OMG, never mind. I had to manually grant permission by clicking on readthedocs entry in https://github.com/settings/applications and then grant permission to each organization separately.

[2019-06-27 14:46] martinberoiz commented on #5851
Thanks for your help

[2019-06-27 16:07] #5426 closed

[2019-06-27 22:46] ericholscher commented on #5836
Sure, we can definitely do that. I will get the redirects setup and deployed next week. 👍

[2019-06-29 13:30] eirrgang opened #5867 "virtualenv in pyenv breaks FindPythonLibs.cmake"
At some point in the last six months, something changed that broke FindPythonLibs.cmake usage in C/C++ extension submodules. The pre-CMake-3.12 `find_package(PythonLibs)` was never a robust tool, but it used to work in RTD builds and now it does not.

Ref:
* previous success: https://readthedocs.org/projects/gmxapi/builds/8411516/
* current failure: https://readthedocs.org/projects/gmxapi/builds/9

[2019-06-30 11:56] williamfgc commented on #337
from [comment](https://github.com/readthedocs/readthedocs.org/issues/337#issuecomment-13445779)

happens.

saved me hours of frustration.

[2019-06-30 17:13] stsewd commented on #337
@williamfgc if you have a webhook setup with the proper permissions, you can get your branches updated on each push. See https://docs.readthedocs.io/en/stable/webhooks.html#webhook-creation

[2019-06-30 17:22] williamfgc commented on #337
@stsewd thanks for the follow up. rtd is working great with the new conda env feature. The related issue is that my new branch wasn't appearing (our webhooks are set up so all branches in upstream will be recognized) in the Inactive Versions menu. I was spending time trying several things, but the above line had the answer, a new Build must be triggered from rtd to sync with github for the very fi

[2019-07-01 12:55] mbargull commented on #5693
Indeed, `conda` is quite memory hungry. IIRC, the bulk of it stems from just two things:
1. Holding the entirety of the channels' repository data in memory (as Python objects).
2. Holding the SAT clauses in memory as Python `tuple` of `int`s.

Where 1. always takes up a big, albeit (somewhat) fixed amount of memory whenever channels are queried and the impact of 2. can sometimes be negligible or (

[2019-07-01 13:17] mbargull commented on #5693
xref: https://github.com/conda/conda/issues/8852

[2019-07-01 13:50] acecross commented on #2008
I'm having a similar issue with my Project: https://readthedocs.org/projects/impro/
Downloadable versions are build correctly, but the online version isn't updated.
Especially weird:
https://impro.readthedocs.io/en/latest/impro.analysis.html?highlight=analysis#module-impro.analysis
gives me the updated html while:
https://impro.readthedocs.io/en/latest/impro.analysis.html#module-impro.analysis
doe

[2019-07-01 15:05] stsewd commented on #2008
@acecross it may be cache/cdn, try cleaning your browser cache, or wait some minutes in case it's the cdn.

[2019-07-01 17:13] dojutsu-user opened #5870 "Change `rtfd` to `readthedocs` everywhere in the docs"
We have renamed the organisation from `rtfd` to `readthedocs`.
There are many places in our documentation where `rtfd` is present/used.
It would be good change `rtfd` to `readthedocs`.

[2019-07-01 17:35] agjohnson commented on #5855
A solution here should be able to hide the use of RTD completely -- no link to `buildmedia.readthedocs.org` or to the project dashboard downloads page. A couple of options here might be:

* Add files to the build output directory and reference via relative link
* Support custom domains in the resolution of the download links

[2019-07-01 18:40] pranay414 commented on #5870
@dojutsu-user I would like to take this up.

[2019-07-01 18:41] dojutsu-user commented on #5870
Go ahead. :tada:

[2019-07-02 05:13] stsewd opened #5875 "Remove django-guardian db"
Django guardian was removed #5863, but we still have the tables on the db. Probably we want to do this after the deploy and when we are sure that nothing is broken.

https://django-guardian.readthedocs.io/en/stable/api/guardian.models.html#std:model-UserObjectPermission

[2019-07-02 08:02] acecross commented on #2008
@stsewd Thanks for your support. It works fine right now. Probably was the browser cache.

[2019-07-02 11:09] humitos opened #5876 "Setup vale linter bot"
`vale` is a linter that we can add to our CI or even a GitHub bot to validate our documentation. This will allow us to avoid the usage of `RTD` instead of `Read the Docs` and other branding words, for example.

It would be pretty handy to setup it in our repository: https://github.com/apps/vale-linter

[2019-07-02 11:12] humitos commented on #5855
My vote would be this option, if it's not extremely complicated. This will allow us to have a better experience when "whitelisting" a set of documentation.

[2019-07-03 17:11] pranay414 commented on #5876
@humitos I've worked with github apps and I would like to work on this issue.

[2019-07-03 17:13] humitos commented on #5876
Please, go ahead. I've never done it before, so you will need to research a little to configure it by yourself. I can help you by reviewing the PR after that.

[2019-07-03 17:14] pranay414 commented on #5876
@humitos Sure, that'll be great.

[2019-07-03 18:38] stsewd commented on #5870
Closed by #5871

[2019-07-03 18:38] #5870 closed

[2019-07-04 06:15] pranay414 commented on #5876
@humitos can you tell me the list of lint checks that needs to be performed?

[2019-07-04 14:31] #5832 closed

[2019-07-04 16:00] TiDjY35 opened #5880 "No such file or directory: '$HOME': '$HOME'"
## Details

* Read the Docs project URL:
not compiled

* Build URL (if applicable):
* Read the Docs username (if applicable):

## Expected Result

when compile my project i've an error

python3.7 -mvirtualenv --no-site-packages --no-download /root/readthedocs.org/user_builds/th3/envs/latest
Traceback (most recent call last):
  File "/root/readthedocs.org/readthedocs/doc_builder/environments.py", l

[2019-07-04 16:28] BingmingWong opened #5881 "Build exited due to time out"
## Details

* Read the Docs project URL:http://python-online.cn
* Build URL (if applicable):https://readthedocs.org/projects/mings-blog/builds/9326916/
* Read the Docs username (if applicable): WONGBINGMING

## Expected Result

Build completes without error

## Actual Result

Build exited due to time out

[2019-07-04 19:33] gugarosa opened #5882 "Excessive memory consumption due to PyTorch"
## Details

* Read the Docs project URL: https://readthedocs.org/projects/recogners/
* Build URL (if applicable): https://readthedocs.org/projects/recogners/builds/9327672/
* Read the Docs username (if applicable): gthrosa

## Expected Result

The build should complete itself without any errors.

## Actual Result

The build is not completed due to 'Command killed due to excessive memory consumptio

[2019-07-04 22:30] stsewd commented on #5881
Please check https://docs.readthedocs.io/en/stable/guides/build-using-too-many-resources.html, looks like disabling the pdf build can help

[2019-07-04 22:31] stsewd commented on #5880
Please provide the build url and project page.

[2019-07-04 22:33] stsewd commented on #5882
Maybe can you try https://sphinx-autoapi.readthedocs.io/en/latest/? (it doesn't require to install the project to get the docstrings)

[2019-07-05 11:31] steveyang331 opened #5883 "Is it possible use " pip install 3rd Markdown extension ? How ?"
## Details
Some functions doesn't support by default, such as strikethrough, 3rd theme.

I need to install 3rd markdown extension. https://facelessuser.github.io/pymdown-extensions/installation/

but doesn't work when set extension to mydoc.yml

I don't know where , how to use "pip install " command line on xxx.readthedoc.io project.

## Expected Result

clear tell ppl where , how to use "pip inst

[2019-07-05 11:35] macagua opened #5884 "Error One or more submodule URLs are not valid:"
## Details

* Read the Docs project URL: https://readthedocs.org/projects/entrenamiento-frameworks-web-python/
* Build URL (if applicable): https://readthedocs.org/projects/entrenamiento-frameworks-web-python/builds/9329915/
* Read the Docs username (if applicable): macagua

## Expected Result

Given the [.gitmodules](https://github.com/Covantec/entrenamiento.frameworks_web_python/blob/master/.rea

[2019-07-05 13:37] gugarosa commented on #5882
Amazing suggestion @stsewd, thank you so much! I was able to build it and everything worked out perfectly. I will be closing this issue.

Best regards,
Gustavo.

[2019-07-05 13:37] #5882 closed

[2019-07-05 17:48] stsewd commented on #5883
Please see https://docs.readthedocs.io/en/stable/guides/specifying-dependencies.html

[2019-07-05 17:48] #5883 closed

[2019-07-05 17:50] stsewd commented on #5884
We don't support ssh urls for submodules yet, https only.

[2019-07-05 21:34] macagua commented on #5884
@stsewd Fixed with this commit [822277c](https://github.com/Covantec/entrenamiento.frameworks_web_python/commit/822277c5e37bd1639ea7154b2c046169a449a5ca). Thanks you!!!

[2019-07-05 21:34] #5884 closed

[2019-07-06 04:17] steveyang331 commented on #5883
It's really hard to understand. There's no any step by step document tutorial . I spent 3 hours try to figure it out. but failed.

Well. I show my every steps, please instruct me where's the wrong.
OR
Please check my repo  https://github.com/steveyang331/Steve_Yang

Thanks .

**Step 1**
Create **requirements.txt** in  " docs/requirements.txt".

**Step 2**
Add  MarkdownHighlight in requirements.txt

[2019-07-06 07:45] steveyang331 opened #5885 "Is it possible support custom css on mkdocs ?"
## Details

* Read the Docs project URL:  https://docs.readthedocs.io/en/stable/guides/adding-custom-css.html

I know custom css support Sphinx .

## Expected Result

support custom css on mrkdoc.

## Actual Result

I setup conf.py and css file .

In Advanced Settings:
    Python configuration file :  docs/conf.py

add css code to test.css file.

css code from https://facelessuser.github.io/pymdow

[2019-07-06 08:09] steveyang331 commented on #5885
Sorry , Please closed. I change the new theme. and then it works.

[2019-07-06 12:55] #5885 closed

[2019-07-07 17:07] Disinterpreter opened #5887 "Can't build with unicode"
## Details

* Read the Docs project URL: https://readthedocs.org/projects/unanimated-rus/
* Build URL (if applicable): https://readthedocs.org/projects/unanimated-rus/builds/9336886/
* Read the Docs username (if applicable): Disinterpreter

## Expected Result

Building OK

## Actual Result

I can't build my document, but a checker was return as okey

[2019-07-08 05:16] mzch opened #5888 "SocialApp matching query does not exist."
## Details

* Read the Docs project URL:
* Build URL (if applicable):
* Read the Docs username (if applicable):

## Expected Result
I installed Read The Docs locally but something wrong. What is wrong? Please advise me.

*A description of what you wanted to happen*
Can login Read The Docs instance via Github, GItlab or Bitbucket
## Actual Result
Error 'DoesNotExist at /accounts/github/login/'
*A d

[2019-07-08 06:46] dojutsu-user commented on #5888
Hi @mzch
Please see issue #2243

[2019-07-08 06:49] humitos commented on #5876
For now a simple list like,

[code]

that change it to `Read the Docs` it's fine. We can add more later once it's setup.

[2019-07-08 07:41] humitos commented on #5880
@TiDjY35 can you explain a little more your problem? It seems that the "Expected result" is an error as well.

[2019-07-08 07:54] humitos commented on #5887
@Disinterpreter `pdflatex` does not support Unicode. If you want to build your PDF with Unicode characters, you need to use `latex_engine = 'xelatex'` in your `conf.py` file. Let us know if that works.

[2019-07-08 07:55] humitos commented on #5887
We have a guide in our docs for this: https://docs.readthedocs.io/en/latest/guides/pdf-non-ascii-languages.html

[2019-07-08 07:56] mzch commented on #5888
Very good. Why don't you add these steps in your document?

[2019-07-08 08:58] humitos opened #5889 "Redirects on subprojects do not work"
Due to the way we get the `project.slug` from the `request` object (set by the `SubdomainMiddleware`), redirects instances for subprojects are never catched.

At this point,

https://github.com/readthedocs/readthedocs.org/blob/c91b332695eee93e32f86f9a18bce64f04480c1a/readthedocs/redirects/utils.py#L86-L88

`project` is the superproject instead of the subproject, and all the redirect instanced defi

[2019-07-08 09:09] geier commented on #5766
@stsewd thank you, this does indeed fix my problem!

[2019-07-08 09:51] humitos opened #5890 "Upgrade Sentry SDK for better Django integration"
Sentry shows this note:

![Screenshot_2019-07-08_11-49-38](https://user-images.githubusercontent.com/244656/60801054-90427c80-a176-11e9-8e3e-eb5dd3e85702.png)

From what I can read in the docs at first sight, it may need some changes in our configuration to allow this integration.

* https://docs.sentry.io/platforms/python/django/
* https://docs.sentry.io/platforms/python/

[2019-07-08 12:35] Disinterpreter commented on #5887
So, I want to fix the problem. But I never configured readthedocs before. Would you suggest where I can configure `conf.py`?

[2019-07-08 16:46] stsewd commented on #5888
@mzch feel free to add those steps to the docs, the custom installation steps aren't covered by the rtd team, but the community

[2019-07-08 16:51] stsewd commented on #5887
@Desinterpreter that's the sphinx configuration file https://github.com/fansub-collegium/unanimated-rus/blob/master/docs/conf.py.

Looks like you didn't created a sphinx project from the beginning, please check https://docs.readthedocs.io/en/stable/intro/getting-started-with-sphinx.html

[2019-07-09 07:43] Disinterpreter commented on #5887
Well done!
https://readthedocs.org/projects/unanimated-rus/builds/9344169/

[2019-07-09 07:45] Disinterpreter commented on #5887
Oh! Sorry, I need to open it again.
What's happened with cyrillic symbols?
https://buildmedia.readthedocs.org/media/pdf/unanimated-rus/latest/unanimated-rus.pdf

[2019-07-09 10:23] humitos commented on #5887
@Disinterpreter you need to specify a different font probably for that. This is not a problem of Read the Docs actually, but how the LaTeX process is configured.

You will need to read more about `latex_elements` and how to customize it in Sphinx. Here you have a guide for that: https://www.sphinx-doc.org/en/master/latex.html

[2019-07-09 11:57] colejarczyk opened #5896 "ERR_CERT_COMMON_NAME_INVALID for Custom Domain"
## Details

* Read the Docs project URL: docs.openloyalty.io
* Build URL (if applicable): no
* Read the Docs username (if applicable):divantespzoo

I've changed CNAME FROM readthedocs.org to readthedocs.io and then marked " Always use HTTPS for this domain" for docs.openloyalty.io

Currently status is pending_issuance and it's from a few days. What's wrong?

## Expected Result

Working HTTPS for c

[2019-07-09 13:16] Disinterpreter commented on #5887
Okay! I'll do it on few next days. Set up a `more information` label.

[2019-07-09 15:26] stsewd commented on #5896
Can you try saving the domain?

[2019-07-09 17:22] colejarczyk commented on #5896
Yes. Many times. I'm waiting almost a week. Tried everything I can. Without luck

[2019-07-09 17:33] stsewd commented on #5896
@davidfischer may help here

[2019-07-09 18:18] davidfischer commented on #5896
It looks like the domain openloyalty.io is using CAA records ([Let's Encrypt's docs](https://letsencrypt.org/docs/caa/), [Cloudflare's docs](https://support.cloudflare.com/hc/en-us/articles/115000310832-Certification-Authority-Authorization-CAA-FAQ)) to control which certificate authorities can issue certificates for it.

    $ dig CAA openloyalty.io
    ...
    ;; ANSWER SECTION:
    openloyalty.

[2019-07-10 07:32] colejarczyk commented on #5896
@davidfischer you're totally right! I thought it's enough to set CAA for subdomain but I had to set those on top level domain. Now it worked super fast (under a minute) and works like a charm.

I'm very thankful for your help :)

[2019-07-10 07:32] #5896 closed

[2019-07-10 13:04] eirrgang commented on #5867
It may also be sufficient to set the environment variable `CMAKE_PREFIX_PATH` to the `.pyenv/versions/<venv>/` directory containing so that when `FindPythonInterp.cmake` runs `find_program(PYTHON_EXECUTABLE NAMES ${_Python_NAMES})`, it looks in the correct directory first. I have not thoroughly tested this as a solution.

[2019-07-10 17:18] pranay414 commented on #5876
@humitos I went through the source code of `vale-linter-bot` and it currently lints only `markdown` files but we want it to lint `reStructured Text` right?

[2019-07-10 19:15] kb1lqc opened #5902 "Dockerized readthedocs.org Install Fails At migrate.py with SyntaxError"
## Details

Following both the Local VM install and the developer install I can't get a dockerized readthedocs.org to install correctly. More specifically I keep getting an error when I run the manage.py step.

https://docs.readthedocs.io/en/stable/development/install.html

Note, I have been forced to modify the steps to use python3 and specifically python3.5 as the documentation as written will A

[2019-07-10 19:20] stsewd commented on #5902
Read the Docs only works with python 3.6 (that's on the docs). We use `f`strings in our code, those are only supported in +3.6.

[2019-07-10 19:20] #5902 closed

[2019-07-10 21:34] kb1lqc commented on #5902
@stsewd What's the proper procedure for installation then? The docs I linked to still use Python 2 commands.

[2019-07-10 21:41] stsewd commented on #5902
I didn't find any mention of python2, in the virtualenv creation you can see that python3 is used.

Use python3.6 as it's mentioned in the guide

[2019-07-10 22:29] humitos commented on #5876
Yes, I've never used it though

Although, in the page that I liked in the description it says

[2019-07-11 01:48] kb1lqc opened #5905 "YML Configuration File Does Not Change Build Python Version"
## Details
A local Docker image built with the following Dockerfile results in builds that fail.

[code]

The `.readthedocs.yml` file that is copied onto the server includes a simple:
[code]

Finally, the `local_settings.py` file that is copied includes:
[code]

I have confirmed that the two files are placed correctly with `.readthedocs.yml` in the root folder of the git repository and `local_sett

[2019-07-11 03:15] Abby3017 opened #5906 "New Submodule added to autosummary not showing up in latest build"
## Details

* [Project URL](https://projectqabby.readthedocs.io/en/latest/projectq.setups.decompositions.html)
* [Build URL](https://readthedocs.org/projects/projectqabby/builds/9229385/)
* Read the Docs username (if applicable): Abby3017

I was building the docs for following [project](https://github.com/Abby3017/ProjectQ/). I have added in new submodule in [given file](https://github.com/Abby301

[2019-07-11 03:53] stsewd commented on #5906
The latest build was on june 17th, with commit `62ecf4dcf`
https://readthedocs.org/projects/projectqabby/builds/9229404/

Looks like the webhook isn't configured, please check the webhooks under the repo, This can help to locate the webhooks on rtd https://docs.readthedocs.io/en/stable/webhooks.html

Anyway, I triggered a build for the latest commit https://readthedocs.org/projects/projectqabby/bu

[2019-07-11 03:59] stsewd commented on #5906
https://github.com/Abby3017/ProjectQ/blob/655bc8dfb9853a5abf5b2c42b1ed07d7d5b4530c/docs/conf.py#L384

[code]

You can see the full log in https://readthedocs.org/projects/projectqabby/builds/9354819/

[2019-07-11 04:06] kb1lqc opened #5907 "View Docs Link Stuck at Localhost"
## Details
I've installed the latest build of Read the Docs using the developer installation method and the documents are building. However, I am starting the server with 0.0.0.0:8000 and can view the website and kickoff the builds with the IP/HOSTNAME:8000 from a remote computer on my intranet. I have changed the `local_settings.py` to the following

[code]
The documentation for RTD doesn't talk

[2019-07-11 04:17] stsewd commented on #5905
Hi @kb1lqc how are you building your project?

The project that you are building should have the configuration file https://docs.readthedocs.io/en/stable/config-file/index.html (not the Read the Docs source code). Read the Docs defaults to 3.7.

Also, the rtd core team doesn't give support for local installations, please see https://docs.readthedocs.io/en/stable/open-source-philosophy.html

[2019-07-11 04:19] stsewd commented on #5905
Also, the Read the Docs code is the one that has the restriction of python 3.6. The projects that are build with read the docs can use any other python version (but your local environment should have those python versions)

[2019-07-11 04:20] kb1lqc commented on #5905
@stsewd Thanks for the response. I am commenting that it appears the configuration file does nothing and isn't read. I followed the instructions at https://docs.readthedocs.io/en/stable/config-file/index.html and the build still tries to use Python 3.7 even though I'm clearly specifying 3.6.

[2019-07-11 04:22] kb1lqc commented on #5905
By build do you mean docker build or RTD build?

[2019-07-11 04:24] kb1lqc commented on #5905
Oh @stsewd that configuration file needs to be in the project your importing not in the git repo of `readthedocs.org`... that actually wasn't super obvious in retrospect. OK then why does this fail if I follow the instructions at https://docs.readthedocs.io/en/stable/development/install.html as it wants Python 3.7 but the documention makes absolutely no mention of Python 3.7 and just says in needs

[2019-07-11 04:31] stsewd commented on #5905
If you want to build with other python version, you should have those installed, you can use `pyenv` to have multiple python version in your system. There is quick mention of that in https://docs.readthedocs.io/en/stable/development/install.html#requirements

Feel free to update the guide to mention the other python versions.
Closing, as this was a misunderstanding of the usage of the `readthedocs

[2019-07-11 04:31] #5905 closed

[2019-07-11 04:33] kb1lqc commented on #5905
@stsewd yes the original question was a misunderstanding of the readthedocs.yml though I do believe the installation instructions are broken as following them and building one of the sample projects (readthedocs.org) simply breaks because Python 3.7 isn't available.

[2019-07-11 04:34] stsewd commented on #5907
You are missing the public domain setting https://docs.readthedocs.io/en/stable/development/settings.html#public-domain

Also, we don't offer support for custom installations, please see https://docs.readthedocs.io/en/stable/support.html and https://docs.readthedocs.io/en/stable/open-source-philosophy.html

[2019-07-11 04:35] stsewd commented on #5907
Also, you can take a look to all the settings in https://github.com/readthedocs/readthedocs.org/blob/master/readthedocs/settings/base.py

[2019-07-11 04:39] stsewd opened #5908 "Update note about other python versions in local installations"
That only mentions python2, but if users want to build docs with other python3.x versions, they should have those installed.

https://docs.readthedocs.io/en/stable/development/install.html#requirements

[2019-07-11 04:40] stsewd commented on #5905
Opened https://github.com/readthedocs/readthedocs.org/issues/5908

[2019-07-11 04:47] Abby3017 commented on #5906
Thanks for your reply.
This error you mentioned, in [sphinx-documentation](http://www.sphinx-doc.org/en/master/usage/extensions/linkcode.html), if the domain is 'py', the info dictionary is guaranteed to contain both 'module' and 'fullname' keys. This shouldn't come, I will check about this.

But the build that [succeeded](https://readthedocs.org/projects/projectqabby/builds/9229385/), its not sho

[2019-07-11 05:18] pranay414 commented on #5876
@humitos `Vale` is a CLI to lint plain text, markup (Markdown, reStructuredText, AsciiDoc, and HTML), and source code comments. On the other hand `vale-linter-bot` is a bot which runs `Vale` to lint only `Markdown` files. I think we can do one of the following things:
1. Fork `vale-linter-bot` and customise it to lint all types of file or maybe file an issue in that repo to resolve it.
2. Set up V

[2019-07-11 05:30] pranay414 commented on #5890
@humitos I'll would like to work on this. Please assign me.

[2019-07-11 08:50] humitos opened #5909 "Tip message for config file when already using it"
When the build fails, we are showing a message saying that using a `.readthedocs.yml` is the recommended way, even if the user is already using our config file.

![Screenshot_2019-07-11_10-48-08](https://user-images.githubusercontent.com/244656/61036444-6b921300-a3c9-11e9-8a6c-c99ab1821d98.png)

[2019-07-11 16:07] stsewd commented on #5907
Closing as this is a because a missing setting, not a read the docs bug.

Also, please feel free to update the custom installation guide https://docs.readthedocs.io/en/stable/custom_installs/index.html

[2019-07-11 16:15] stsewd commented on #5909
Hmm, I think this is a bug, because the build didn't reach the save config step, the config is empty. So rtd thinks it doesn't have a configuration file. Not sure how we can fix this, maybe only show the tip if the build success?

[2019-07-11 17:49] stsewd commented on #5906
Also, the build is being triggered for the master branch, not develop. You should activate the `develop` version under the `Versions` tab of your rtd project.

[2019-07-11 19:33] davidfischer commented on #5890
@pranay414 I don't know if this is a good issue since the actual sentry integration is in our private operations repository.

Separately, there are a number of improvements in the newer SDK that I'm interested in.

[2019-07-12 00:09] stsewd commented on #5673
So, looks like it doesn't matter if we install gitpython in the user env, bc we can't. We have a chicken/egg problem. We do all the git steps (get branches and tags) and after that we create the python env.

[2019-07-12 00:09] stsewd commented on #5673
But I think we can use the global python interpreter

[2019-07-12 01:25] stsewd commented on #5673
I have this silly POC https://github.com/readthedocs/readthedocs.org/compare/master...stsewd:stsewd/get-git-info-from-container

It works(1) in the local environment and docker, there are some things to decide:

- Use a virtualenv to install gitpython (we can refactor our current Virtualenv class to work without version, config etc) or just install it in the current virtualenv (local environment g

[2019-07-12 03:00] kb1lqc commented on #5907
@stsewd Happy to update docs when I know I have really figured it out. I changed PUBLIC_DOMAIN but the Read the Docsbuild I mentioned in my initial comments still shows localhost. Do I really need DNS settings as well external to this computer? I didn't think so. This strikes me as the link not being updated right. I did notice that building `pip` documentation actually points to the correct link.

[2019-07-12 17:03] stsewd commented on #5907
I think you are not using subdomains (or you don't need to). Try `USE_SUBDOMAIN = False`. Setting `PUBLIC_DOMAIN` to the same in `PRODUCTION_DOMAIN` works for me locally.

[2019-07-12 23:46] daianagan commented on #5253
@taradinoc or anyone was able to solve this? I am still gettig the same error...

[2019-07-13 05:04] dojutsu-user commented on #5253
@stsewd Seems like this is still valid. I am reopening the issue.

[2019-07-13 07:56] taradinoc commented on #5253
@stsewd This is still reproducible using the links in my last comment. https://mdl-language.readthedocs.io/en/sphinx/ gives me a "Permission Denied" error even though I'm logged in as the admin.

[2019-07-13 11:54] inty opened #5922 "Disable shallow clone for opmuse"
As per https://github.com/readthedocs/readthedocs.org/issues/5031 I'd like to disable shallow cloning for https://readthedocs.org/projects/opmuse/

Thanks!

[2019-07-13 15:11] cmhughes opened #5923 "readthedocs.yaml for sphinxcontrib-proof"
## Details

* Read the Docs project URL: https://github.com/cmhughes/latexindent.pl
* Build URL (if applicable): https://readthedocs.org/projects/latexindentpl/builds/
* Read the Docs username (if applicable): cmhughes

## Expected Result

I'm using a custom [`readthedocs.yaml`](https://github.com/cmhughes/latexindent.pl/blob/master/readthedocs.yaml) which I would like to install `sphinxcontrib-pr

[2019-07-13 22:10] dequation opened #5924 "FAul"
## Details

* Read the Docs project URL: https://python-textbok.readthedocs.io/en/1.0/Object_Oriented_Programming.html
* Build URL (if applicable):
* Read the Docs username (if applicable):

## Expected Result

Object aggregation example code running.

Code:

[code]

## Actual Result

`TypeError: add_course() missing 2 required positional arguments: 'course_code' and 'credits'
`

The issue is with

[2019-07-14 18:07] abbas2008 opened #5925 "Build error with build id #10"
## Details:

* Project URL: https://readthedocs.org/projects/lattindoc/
* Build URL(if applicable): https://readthedocs.org/projects/lattindoc/builds/10/
* Read the Docs username(if applicable): admin

## Expected Result

*A description of what you wanted to happen*

## Actual Result

*A description of what actually happened*

[2019-07-14 18:35] saadmk11 commented on #5925
You should add what kind of errors your are getting so that we can help you :)

[2019-07-14 20:04] dojutsu-user commented on #5925
@abbas2008
It would be very helpful if you could correct the `links`.
Currently, both of the links points to 404 pages.

[2019-07-14 22:07] stsewd commented on #5924
Hi @dequation, the code you mention is part of the _Object-oriented programming in python_ book/course. We (Read the Docs) only host that documentation, we aren't the authors of the content. You should report this to the repository in https://bitbucket.org/confluence/mscitpy.

[2019-07-14 22:07] #5924 closed

[2019-07-15 10:01] dojutsu-user opened #5927 "Fix the count of total projects shown on the homepage"
On the hompage (https://readthedocs.org/), we show the total count of the projects.

![Screenshot from 2019-07-15 14-23-42](https://user-images.githubusercontent.com/29149191/61207904-d6b64f00-a713-11e9-9388-8d7222a2a4d7.png)

This number also includes projects that are identified as spam.
It would be good if we exclude spam projects from it.

[2019-07-15 12:23] humitos commented on #5923
Use missed the `version: 2` setting in the YAML file. That's why.

Try that and report back. If the problem persists, feel free to reopen the issue. Thanks!

[2019-07-15 12:23] #5923 closed

[2019-07-15 12:41] akien-mga commented on #4603
I'm confused by this issue. The RTD config exposes `Tags` in the admin section:
![Screenshot_20190715_143933](https://user-images.githubusercontent.com/4701338/61216725-635e0e80-a70e-11e9-8d63-432b4bb4d745.png)

But they don't seem to be passed to Sphinx with the `-t` switch, so what's their use case? I just realized after a year that my i18n instances did not use the `.. only:: i18n` content I se

[2019-07-15 13:11] Iamshankhadeep commented on #5927
Can I work on it?

[2019-07-15 13:52] tapaswenipathak commented on #5855
Hello @agjohnson, @humitos: Interested in this ticket, doing.

[2019-07-15 13:54] tapaswenipathak commented on #5875
Hello @stsewd, Can I do take this?

[2019-07-15 13:55] tapaswenipathak commented on #5922
Hello @inty, @dojutsu-user, Doing.

[2019-07-15 14:00] saadmk11 commented on #5922
hi @tapaswenipathak, Thank you for your interest but this is a support ticket. You can checkout [Good First Issues](https://github.com/readthedocs/readthedocs.org/issues?q=is%3Aissue+is%3Aopen+label%3A%22Good+First+Issue%22) to get started.

[2019-07-15 14:02] saadmk11 commented on #5927
@Iamshankhadeep Go Ahead! :+1:

[2019-07-15 14:05] Iamshankhadeep commented on #5927
@saadmk11 can you guide me from where can I start?

[2019-07-15 14:10] saadmk11 commented on #5927
You can start from here and update the `project_count` queryset.
https://github.com/readthedocs/readthedocs.org/blob/e12f70dbc733389a62b08d7744062ebbe58ce6e6/readthedocs/core/views/__init__.py#L37-L46

[2019-07-15 14:17] BlackLight opened #5928 "Projects seem to break when git modules paths change"
## Details

* Read the Docs project URL: https://platypush.readthedocs.io/en/latest/
* Build URL (if applicable): https://readthedocs.org/projects/platypush/builds/9372854/

## Expected Result

When the path of a git module changes I'd expect the background logic to do the proper sync operations (change `.gitmodules`, prune the previous module, `git submodule sync`, `git submodule update`) and sea

[2019-07-15 14:32] saadmk11 commented on #5928
please see this : https://github.com/readthedocs/readthedocs.org/issues/5884

[2019-07-15 14:37] tapaswenipathak commented on #5922
Hello, I am doing tickets which interests me; @saadmk11 can I work on this?

[2019-07-15 14:53] saadmk11 commented on #5922
I'm sorry but this issue is only actionable by the core team. :)

[2019-07-15 15:27] stsewd commented on #4603
@akien-mga sorry for the confusion, these tags, are to _clasify_ the version, there are not sphinx tags.

Also, we are removing those tags in the next release https://github.com/readthedocs/readthedocs.org/pull/5864

Maybe you could use env variables to have this? https://docs.readthedocs.io/en/stable/guides/environment-variables.html

[2019-07-15 15:44] akien-mga commented on #4603
@stsewd Thanks, environment variables + some logic to parse them and append the Sphinx `tags` object should do the trick indeed for my use case.

[2019-07-15 15:51] stsewd commented on #5855
Hi @tapaswenipathak, this issue isn't a good first issue to start if you are not familiar with the project (also I think there is still a design decision to make).

Please feel free to ask any questions

[2019-07-15 15:55] stsewd commented on #5875
Sure! You should run the migrations after #5863 was merged to see what can be removed (or take a look at https://github.com/django-guardian/django-guardian/tree/devel/guardian/migrations), and make a migration removing those models.

[2019-07-15 15:58] stsewd commented on #5928
The error is because your `.gitmodules` file has a ssh url https://github.com/BlackLight/platypush/blob/f5ef9957de405278995002e3031c7ed6ec4d5842/.gitmodules#L9

We only support http urls at the moment (looks like we should improve the msg error)

[2019-07-15 15:58] #5928 closed

[2019-07-15 16:03] stsewd commented on #5922
@tapaswenipathak this can only be done from the admin panel of the project in production.

[2019-07-15 16:11] stsewd commented on #5922
@inty done, let us know if there is any problem. Please try first wiping before triggering a new build https://docs.readthedocs.io/en/stable/guides/wipe-environment.html

[2019-07-15 16:11] #5922 closed

[2019-07-15 16:56] stsewd commented on #5907
@kb1lqc hi, were you able to test the above setting?

[2019-07-15 17:29] akien-mga commented on #5799
Hi,

Reusing this ticket as it's related, but tell me if it would be better to file a new issue.

Could you enable `DONT_OVERWRITE_SPHINX_CONTEXT` on those three newly created instances, as well as bump their timeout to `5400` for #3555?

[code]

Thanks in advance!

[2019-07-15 17:46] stsewd opened #5929 "Remove usage of six"
Read the Docs runs with python 3.6 only, and we don't declare the six package as a dependency (guess it's a dependency of another package)

https://github.com/readthedocs/readthedocs.org/blob/e12f70dbc733389a62b08d7744062ebbe58ce6e6/readthedocs/projects/models.py#L1479-L1479

You can check the correct replace in https://six.readthedocs.io/

[2019-07-15 17:51] stsewd commented on #5799
Sure, I'll do that now

[2019-07-15 18:05] stsewd commented on #5799
Done, let us know if there is any problem

[2019-07-15 18:10] akien-mga commented on #5799
Thanks!

[2019-07-15 18:14] Abhi-khandelwal commented on #5929
Hello @stsewd Can I work on this issue?

[2019-07-15 18:16] dojutsu-user commented on #5929
@Abhi-khandelwal
Go for it. :tada: :smile:

[2019-07-15 18:27] Abhi-khandelwal commented on #5929
@dojutsu-user , Actually I got some doubt , Do I have to change `shlex_quote` to `shlex.quote` ?

[2019-07-15 18:55] #5929 closed

[2019-07-16 01:59] zaneselvans opened #5931 "Unable to keep build from attempting to compile a mocked module"
## Details
I am attempting to build documentation for a project that depends on packages that include code written in C. For the packages beyond those available via the Read the Docs `system_packages` setting (`numpy`, `scipy`, `pandas`, and `matplotlib`) which fail to compile, I am attempting to mock the modules/packages for import, using `autodoc_mock_imports` in my `conf.py`. However, there mus

[2019-07-16 03:47] BingmingWong commented on #5881
Thanks, your suggestion is helpful.

[2019-07-16 03:47] #5881 closed

[2019-07-16 07:53] cmhughes commented on #5923
Thanks for this. I've added version: 2 and now receive:

[code]

Any guidance would be gratefully received.

[2019-07-16 07:54] BlackLight commented on #5928
Thanks for the feedback, changing the submodule URL to https fixed it. I see two issues then:

- [Bug/unclear error] Would it be possible to fix the error with something that states "git/ssh URL schemas for submodules are not supported" instead of "One or more submodule URLs are not valid"?

- [Enhancement] Would it be possible to support git/ssh schemas for submodules as well? Not all the git rep

[2019-07-16 08:29] inty commented on #5922
@stsewd Works perfectly! Thank you very much.

[2019-07-16 09:58] humitos commented on #5923
@cmhughes great!

You need a `requirements.txt` file. Take a look at https://docs.readthedocs.io/en/latest/guides/specifying-dependencies.html

You don't have to use `extra_requirements` in the YAML file.

[2019-07-16 12:49] brinkpku opened #5934 "What database can I use except sqlite if I want to deploy rtd locally?"
At first, thanks for your excellent work!
I encountered some problems that very confused me and want to get help here.
## Details
I'm setting up an internal instance of a RTD server for my company. For Sqlite isn't stable in production, I am trying to deploy using mysql (ubuntu 18, mysql 5.7.26) as the database. I changed default character set to utf8/utf8mb4 for it can support Chinese.
Then I run

[2019-07-16 13:41] humitos opened #5935 "Add Python examples for API v3 documentation"
We already have cURL request examples for APIv3 docs at https://docs.readthedocs.io/en/latest/api/v3.html#get--api-v3-projects-

It would be awesome to have use `sphinx-tabs` to have multiple tabs. One with the cURL example we already have there and another Python tab with the same request using Python code with [Slumber](https://slumber.readthedocs.io/en/v0.6.0/)

If Slumber is not good enough fo

[2019-07-16 14:34] humitos commented on #5934
Hi @brinkpku!

We use PostgreSQL in production.

Why do you need a private installation of Read the Docs at your company? You may be interested in readthedocs.com. Let me know if that works for you.

That said, I want to let you know that we don't usually offer support for a local installation of Read the Docs at companies. You can read more about this at https://docs.readthedocs.io/en/stable/open

[2019-07-16 15:24] stsewd commented on #5928
Thanks for the suggestions. The main restriction is because we don't support private repositories in our community site. There are some ideas in how to support public repositories with `ssh` schema in https://github.com/readthedocs/readthedocs.org/issues/4043

I'm opening a new issue to improve the error message

[2019-07-16 15:26] stsewd opened #5937 "Improve msg error for submodules with invalid url schemas"
We only support `http` schemas, but the error message isn't clear about that. Here is a good suggestion: https://github.com/readthedocs/readthedocs.org/issues/5928#issuecomment-511708197

[2019-07-16 15:38] Iamshankhadeep commented on #5927
@saadmk11 can you please point out where is the `count()` function which is needed for `project_count` querry set?

[2019-07-16 15:52] stsewd commented on #5931
Yes, that requirement is being installed becuase of https://github.com/catalyst-cooperative/pudl/blob/5e075d40d76fcf70d763b3661d91c864026f8723/.readthedocs.yml#L22

You can use the `READ_THE_DOCS` environment variable on your `setup.py` file

https://docs.readthedocs.io/en/stable/builds.html#build-environment

[2019-07-16 16:11] saadmk11 commented on #5937
@pranay414 Sure, Go Ahead! :+1:

[2019-07-16 16:29] brinkpku commented on #5934
Thanks for ur reply. @humitos
My mentor assgined this task to me, because we want to provide docs hosted service to internal teams. We can't put our docs outside the intranet.
I'm appreciated for your extra help.

[2019-07-16 16:58] zaneselvans commented on #5931
Hmm. I added that `pip install` because otherwise the `pudl` package (which is what I'm trying to document!) wasn't getting installed and everything was failing. It seemed odd that additional action was required to get get my own package to install. Is there a different/better way to get the package you're trying to document installed? Some default I've totally missed that wouldn't create this com

[2019-07-16 19:30] cmhughes commented on #5923
Many thanks, I've resolved this now.

For reference, I used

readthedocs.yaml
=
[code]
with

documentation/requirements.txt
-
[code]

[2019-07-17 10:43] humitos commented on #5321
In my mind `hidden` takes preference over `live` when `hidden=True`. The other case, `live` takes preference over `hidden` when `live=False`. I don't think it's a problem.

[2019-07-17 10:47] humitos commented on #4743
We took a first step by removing the "Protected" level at #5833

[2019-07-17 10:48] humitos commented on #4694
I'm closing this issue. The packages has an update 21 days ago.

[2019-07-17 10:48] #4694 closed

[2019-07-17 12:43] humitos commented on #3906
This is not happening anymore in that project. Although, I'm not sure if it's still relevant since the PDF latex backend has changed to use `latexmk` now.

[2019-07-17 17:43] agjohnson commented on #3231
We never described `canonical=True` as a redirect feature to the user, so I don't think we can make this call for them.

We can pull data up on this as well, that would be a good place to start. We probably don't have many projects with multiple domains on either instance.

[2019-07-17 18:36] zaneselvans commented on #5931
Thanks for the explanation! I realized after you explained this why I had moved to installing our package rather than just adding it to `sys.path` -- I'm using `setuptools_scm` to automatically generate the package version, and to access it using `pkg_resources.get_distribution()` I need the package to actually be installed, not just importable. Conditionally including `python-snappy` in the `inst

[2019-07-17 18:36] #5931 closed

[2019-07-17 22:13] davidfischer commented on #3231
I agree that this is true, but I can't imagine what other functionality a user would hope for with `canonical=True`. I think our infrastructure was just not setup to handle this redirection properly before and now it can.

I don't think multiple domains matters in this instance. The redirection can occur (should occur IMO) even on a `readthedocs.io` subdomain. For example: `requests.readthedocs.io

[2019-07-18 09:17] kmaehashi commented on #5253
Same case here. https://docs.chainer.org/en/v6/ (v6 branch is set to Private) cannot be browsed even when I logged in as a maintainer account.

[2019-07-18 13:36] Abhi-khandelwal commented on #5927
@Iamshankhadeep Can I work on this issue ?

[2019-07-18 15:28] dojutsu-user commented on #5927
@Iamshankhadeep
You need to add a filter here -- https://github.com/readthedocs/readthedocs.org/blob/7be01d844b981635822d4df73f614ad2c3d71b8b/readthedocs/core/views/__init__.py#L45

@Iamshankhadeep @Abhi-khandelwal
Any one can submit a PR. :smile:

[2019-07-18 15:32] humitos commented on #5620
@dojutsu-user is there anything actionable on this issue now? I'm not sure, but I think it's not possible to upgrade now. In that case, we should add why it's not possible to upgrade and what are the problems here to track them, and propose a plan --or close it, instead of having it open without adding value.

[2019-07-18 15:44] humitos commented on #2216
This issue talks about [LatexBuildCommand](https://github.com/rtfd/readthedocs.org/blob/7be01d844b981635822d4df73f614ad2c3d71b8b/readthedocs/doc_builder/backends/sphinx.py#L374) and [DockerLatexBuildCommand](https://github.com/rtfd/readthedocs.org/blob/7be01d844b981635822d4df73f614ad2c3d71b8b/readthedocs/doc_builder/backends/sphinx.py#L386)

I'm marking this as Good First Issue to receive a contri

[2019-07-18 15:50] dojutsu-user commented on #5620
@humitos
I don't think upgradation should pose any problems.
During the whole gsoc period, I have been using Elasticsearch 6.7
[code]

I just read the `django-elasticsearch-dsl` is going to have a new release pretty soon -- https://github.com/sabricot/django-elasticsearch-dsl/issues/177#issuecomment-509733539 (But not for ES version 7)
I think we have to wait for few days until django-elasticsearc

[2019-07-18 15:58] humitos commented on #2049
I'm not sure if we want to go in this direction. It sounds more like a CI feature than a Read the Docs one to me.

I think it could be cool if we can integrate it in a way that differentiate us from just running running the tool from the command line. I'm imagining this as something that can be ran on Pull Requests and highlight sentences in-doc where problems are found by `proselint`, and maybe a

[2019-07-18 16:13] davidfischer commented on #2049
I think a Sphinx/MkDocs extension seems like the right approach.

[2019-07-18 16:34] humitos commented on #3613
I think we can close this issue for now since there is not much else we can do to catch _when_ a memory limit was reached.

If we have a plan to reach this goal, we should write it down here and re-open the issue.

[2019-07-18 16:34] #3613 closed

[2019-07-18 16:40] humitos commented on #1758
This is already fixed on docutils, but it's not released yet. It will be on 0.15: http://docutils.sourceforge.net/RELEASE-NOTES.html#release-0-15b-dev

[2019-07-18 19:40] stsewd commented on #5253
Hi all, we are planning to remove the privacy levels from the community site, since all projects hosted in readthedocs.org are public open source projects. If you are relying on this feature to host private versions, you should use readthedocs.com instead.

With that said, I don't think this bug isn't going to be fixed soon (the core team is going to put more effort into removing the privacy level

[2019-07-18 20:19] daianagan commented on #5253
Dear @stsewd,
Thanks for your reply. I didn't know that readthedocs.org was exclusively for open source projects, I thought readthedocs is an OS project itself but not that it was made for OS only also.
In my case I work as a Bioinformatician in a public hospital in Argentina and regularly I document patient's info which of course cannot be public. Another example are hospital's SOPs which cannot

[2019-07-18 20:32] jossklinik44 opened #5959 "Obat Aborsi Denpasar Bali 081215265852 Penjual Obat Aborsi Cytotec Asli Di Denpasar Bali"
OBAT ABORSI CYTOTEC — KLINIK ABORSI TUNTAS — OBAT PENGGUGUR KANDUNGAN
Obat Aborsi Cytotec  0812 1526 5852 | Jual Obat Aborsi | Obat Aborsi Cytotec | Obat Telat Bulan | Obat Pelancar Haid  | Obat Penggugur Kandungan
APOTIK : Kami Jual Obat Aborsi Cytotec  Hub : 081215265852  | Pin BB DB8F8EE8 | Jual Obat Aborsi Aman Cytotec | Obat Penggugur Kandungan Cytotec | Obat Pelancar Haid Tuntas. Dengan harg

[2019-07-18 20:32] jossklinik44 commented on #5959
OBAT ABORSI CYTOTEC — KLINIK ABORSI TUNTAS — OBAT PENGGUGUR KANDUNGAN
Obat Aborsi Cytotec  0812 1526 5852 | Jual Obat Aborsi | Obat Aborsi Cytotec | Obat Telat Bulan | Obat Pelancar Haid  | Obat Penggugur Kandungan
APOTIK : Kami Jual Obat Aborsi Cytotec  Hub : 081215265852  | Pin BB DB8F8EE8 | Jual Obat Aborsi Aman Cytotec | Obat Penggugur Kandungan Cytotec | Obat Pelancar Haid Tuntas. Dengan harg

[2019-07-18 20:35] #5959 closed

[2019-07-18 20:35] jossklinik44 opened #5960 "spam"
spam

[2019-07-18 20:36] #5960 closed

[2019-07-18 20:47] stsewd commented on #5253
@daianagan we do offer a discount for non-profitable organizations, and if that isn't enough or you have more questions, please write us to support@readthedocs.com

[2019-07-18 22:43] #5880 closed

[2019-07-19 04:33] pranay414 commented on #4924
@stsewd Can I work on this?

[2019-07-19 05:05] dojutsu-user commented on #4924
Hi @pranay414
Thanks for your interest in contribution.
This issue has a `Feature` tag -- https://docs.readthedocs.io/en/latest/roadmap.html?highlight=feature#triaging-issues

I would suggest to pick any other issue for now.

[2019-07-19 05:11] pranay414 commented on #2049
Can I work on this?

[2019-07-19 05:26] pranay414 commented on #4924
Oh okay!

[2019-07-19 08:32] kmaehashi commented on #5253
@stsewd Thank you for your reply! Let me explain our use-case.

We are currently developing in 2 branches; docs of `master` / `v6` branches are built as `latest` / `v6` version on RTD respectively. Our open-source project requires a bit complicated setup (building Python C++ extension modules that use CUDA), so we'd like to make sure that every commit of `master` / `v6` branches can be built succe

[2019-07-19 21:42] agjohnson opened #5964 "Search results missing context"
I got a search result for "environment variables" on our docs that got a hit, but gave back blank results:

![image](https://user-images.githubusercontent.com/1140183/61567136-b0f2b800-aa3b-11e9-932e-6a190e0e88f1.png)

There should probably be something matching in the results to match the output of the other results. I'm assuming this was a heading match and we're displaying that differently?

[2019-07-19 21:57] agjohnson commented on #5934
MySQL and MariaDB aren't directly supported, but I don't know of a reason they shouldn't work. Postgres is the way to go either way. If you need any further help on your private install, Stack Overflow might be a good place to follow up.

[2019-07-19 21:57] #5934 closed

[2019-07-19 21:58] agjohnson commented on #5925
Closing, there is not enough information to troubleshoot.

[2019-07-19 21:58] #5925 closed

[2019-07-19 23:17] stsewd commented on #5253
@kmaehashi would having build docs from a PR to preview the changes help with your use case? https://github.com/readthedocs/readthedocs.org/issues/1340

Also, we are going to have a replacement for `protected`, something like `hide` version, so those wouldn't be listed.

[2019-07-19 23:33] #5937 closed

[2019-07-20 08:28] dojutsu-user commented on #5964
@agjohnson
I am guessing that this is default sphinx search results, For some reason -- RTD search failed or there is some caching/network issue.
Did you search on the docs locally? If yes, then there might be two reasons:
- Elasticsearch was not running
- Docs are not properly indexed
- If elasticsearch was running and docs are indexed properly, it might happen that url was using `localhost` and

[2019-07-20 11:07] dojutsu-user opened #5966 "Support searching with facets."
Search facets will be useful in many ways.
They can be used to target the search inside a subproject.
For example: Celery has a subproject Kombu, so we can search in Celery docs, we can search inside Kombu docs, like: `subproject: kombu serializers`

[2019-07-20 11:09] dojutsu-user opened #5967 "Provide search analytics to users."
It would be good if the users have access to some Search analytics. It would help them to know what users are actually searching in their docs.

[2019-07-20 11:11] dojutsu-user opened #5968 "Order search results by most viewed pages"
Currently the order of the search results don't consider the `number of views` of a page.
It would be good if search results gets ordered based on the `number of views` parametere.

[2019-07-21 03:49] Iamshankhadeep commented on #5586
I see no one submitted PR on this issue can I work on it?

[2019-07-21 07:38] stsewd commented on #5586
@Iamshankhadeep sure!

[2019-07-21 16:08] JavierLuna opened #5972 "Mkdocs build passing but 404 when visiting the documentation webpage"
## Details
Tried building my project with mkdocs, starting with a simple `index.md` to check readthedocs integration. Build passes but when I try visit the documentation webpage, a 404 is returned.
Weird thing is I did the same steps with another repo from the ground up as a test and everything worked. These are the steps I performed in both scenarios:

1. Create Github repo (in my `datastorm` pro

[2019-07-22 12:28] humitos commented on #5968
Do you have an idea about how to implement this?

I have some questions:

- where will we store this data? Maybe in the HTMLFile object?
- this data needs to be considering when doing full re-index
- where this data will come from? how? is it a celery task querying the source of data every X minutes?
- once we have this data, how complicate is to add it to ElasticSearch to be considered when sorti

[2019-07-22 12:37] humitos commented on #5709
I want to confirm that following this steps locally: https://github.com/readthedocs/readthedocs.org/issues/5709#issuecomment-495370052 I'm able to see the images on the index output page

[2019-07-22 12:44] humitos commented on #5709
@alexpreynolds I triggered a new build on Read the Docs and images are not present: https://readthedocs.org/projects/bedops/builds/9405545/

Although, the scenarios are not the same. Your project is using Python2.7 to build the docs and no conda. In the steps that you described, Python3.6 _and_ conda are used.

Also, your Makefile is running

    find _build/../assets -type f -name "*.png" -exec c

[2019-07-22 12:49] humitos commented on #2049
@pranay414 sure! I suggest you to start writing a design document about how do you plan to implement this. I'm re-labeling this as Feature since it seems we want to go into a Sphinx/MkDocs extension direction.

You can get some inspiration for the design doc from https://www.freecodecamp.org/news/how-to-write-a-good-software-design-document-66fcf019569c/

[2019-07-22 12:53] humitos commented on #5620
This is blocked on https://github.com/sabricot/django-elasticsearch-dsl/issues/170

[2019-07-22 13:22] #5770 closed

[2019-07-22 14:21] stsewd commented on #5972
There is a warning in the build

Please provide the url for the other project too.

Also, you should use a configuration file, to be more explicit in how your project is built on read the docs https://docs.readthedocs.io/en/stable/config-file/index.html

[2019-07-22 15:18] dojutsu-user commented on #5968
@humitos
I don't have a answer to most of the points here.

HTMLFile object seems to be the right place -- but they get deleted adn recreated after every build, so we will lost all the data

We want the data into elasticsearch -- so maybe yes

We can use Google Analytics, I don't know if they have an API for this or something else.
Or we can just count it ourselves -- Increase a count of the page

[2019-07-22 16:19] #5927 closed

[2019-07-22 17:20] stsewd commented on #5545
Is this fixed with https://github.com/readthedocs/readthedocs.org/pull/5635?

[2019-07-22 21:21] chrisjsewell commented on #5545
For me yes, its working fine now. As I mention in the PR, perhaps a more comprehensive solution may be to include additional options in the `.readthedocs.yaml`, to control the flags used when pip installing. But I'll leave that for you to decide, if it is worth the effort 😀

[2019-07-22 22:01] JavierLuna commented on #5972
* Minimal repo with the same configuration which works fine: [https://github.com/JavierLuna/docstest](https://github.com/JavierLuna/docstest)
* Last build for that minimal repo: [https://readthedocs.org/api/v2/build/9407967.txt](https://readthedocs.org/api/v2/build/9407967.txt)
* Webpage of that minimal repo: https://docstest-jluna.readthedocs.io/en/latest/

Tried changing 'pages' to 'nav', passin

[2019-07-22 22:14] JavierLuna commented on #5972
Tried setting up the `.readthedocs.yml` but the same result, build passes but no webpage.

* Last build with `.readthedocs.yml`: https://readthedocs.org/api/v2/build/9408030.txt
* `.readthedocs.yml`: https://github.com/JavierLuna/datastorm/blob/docs/.readthedocs.yml

[2019-07-23 07:51] sergeylukin opened #5978 "Search not working"
## Details

* Read the Docs project URL: https://toolz.readthedocs.io/

## Expected Result
Search should show a list of matching doc chunks

## Actual Result
A search page shows, but no search result is displayed

[2019-07-23 08:53] dojutsu-user commented on #5978
Hi @sergeylukin
Thanks for bringing this issue to our notice.
There's some error with JavaScript.
I will open a PR with the fix.

[2019-07-23 10:01] vidartf commented on #5545
Should be ok in terms of this issue, but if somebody else has a similar issue, I would recommend them to comment on this issue to evaluate if further changes are needed 👍

[2019-07-23 12:11] jibunzel commented on #3803
Why did this guide disappear in rtd? I have been having issues with my elasticsearch not working for searching files and this guide would be helpful.

[2019-07-23 12:24] dojutsu-user commented on #3803
@jibunzel
Previous guide was removed because it got outdated.
You can find the new guide here: https://docs.readthedocs.io/en/latest/development/search.html

[2019-07-23 13:53] humitos commented on #1758
`docutils` 0.15 was released: https://pypi.org/project/docutils/

This is not blocked anymore :tada:

[2019-07-23 14:16] stsewd commented on #5545
@agjohnson any thoughts here?

I'm closing this one, but if needed we should open a new one proposing to use the config file to define what flags to use in pip.

[2019-07-23 14:16] #5545 closed

[2019-07-23 16:06] #4371 closed

[2019-07-23 16:07] #5887 closed

[2019-07-23 16:44] agjohnson commented on #5572
This was a feature that we cut from the first implementation of our config file, but i think it's important for users to have this functionality.

We rely too heavily on packaging patterns of yore, like pushing users towards requirements files, and this doesn't translate to a first class experience for users using more elegant solutions that exist for packaging now. I'd also advocate for enabling

[2019-07-23 16:57] agjohnson commented on #5964
No, this was prod docs, and was not Sphinx results. I'm getting results on our docs now for the search query, things look more correct.

My guess now is that this was stale javascript and our search page breaks with this. I won't rehash the need for versioning our static assets here, we've discussed this at length elsewhere.

We can probably close this, but should monitor the issue. If it was not

[2019-07-23 16:57] #5964 closed

[2019-07-23 17:30] #5978 closed

[2019-07-23 22:29] JavierLuna commented on #5972
Okay, I've literally copied and pasted the `mkdocs.yml` and the `docs` folder into a new repo, set the configuration the same as I've stated in this ticket and it works.

Webpage: https://datastorm-docs.readthedocs.io/en/latest/
Build: https://readthedocs.org/api/v2/build/9414363.txt
Repo: https://github.com/JavierLuna/datastorm-docs

[2019-07-24 16:15] stsewd commented on #5972
@JavierLuna sorry for the confusion. Somehow the `datastorm` directory was created with root as owner, so the webs couldn't write the generated html files. I have fixed this from the server side.

I triggered a new build https://readthedocs.org/projects/datastorm/builds/9419027/ and the docs are visible https://datastorm.readthedocs.io/en/latest/

Let me know if you still have any other problems.

[2019-07-24 16:15] #5972 closed

[2019-07-24 21:00] csernazs opened #5988 "Disable shallow clone for pytest-httpserver"
As per #5031 I'd like to disable shallow cloning for https://readthedocs.org/projects/pytest-httpserver/

It is using reno to manage release notes and I think it is failing because only the last 50 commits are pulled.

Thank you,
Zsolt

[2019-07-24 21:42] stsewd commented on #5988
Done, let us know if there is any problem

[2019-07-24 21:42] #5988 closed

[2019-07-24 21:45] stsewd opened #5989 "Allow to disable shallow clone from the project's settings"
We have a lot of this requests

https://github.com/readthedocs/readthedocs.org/issues/5988

I think we all agree that we should put this on the advanced settings tab.

The default option should be true. We can add a migration to migrate all projects that have the feature flag.

[2019-07-24 23:24] humitos commented on #5989
I think we added this because we had a problem of space in our builders and also most of the projects does not need it.

Also, I think the default should be to shallow clone and, when the user finds a problem, they can disable it.

Finally, if we are moving to isolated builds that will remove everything after each build, we can enable it by default --although, this will impact in the build time.

[2019-07-25 01:39] reece opened #5990 "New branch w/commit doesn't appear until a push to master"
## Details

* Read the Docs project URL: bioutils.readthedocs.io
* Build URL (if applicable):
* Read the Docs username (if applicable): reece

## Expected Result

When a new branch is created during a push *with a commit on the branch*, the branch should appear soon after and without an additional trigger under the versions tab.

I do NOT expect that empty new branches should appear (although that

[2019-07-25 03:06] stsewd commented on #5990
Is your webhook setup to listen to these events?

https://docs.readthedocs.io/en/stable/webhooks.html#github

[2019-07-25 03:16] stsewd commented on #5990
No, but if the versions were synced, the response should contain  `"versions": [master]` (or something not empty)

[2019-07-25 04:20] reece commented on #5990
@stsewd: I had not customized the push events. I did that, then repeated the reproduction steps and verified that the new branch showed up immediately. Issue solved. Thanks! Closing issue.

[2019-07-25 04:20] #5990 closed

[2019-07-25 06:20] csernazs commented on #5988
Thanks! That was quick.
I had to wipe the environment to re-trigger the clone command, after that it works fine.

[2019-07-25 08:57] k-okada opened #5991 "request for re-enabling jsk-doc"
## Details

* Read the Docs project URL: https://readthedocs.org/projects/jsk-docs/
* Build URL (if applicable):
* Read the Docs username (if applicable): kei_oakda

## Expected Result

due to our wrong settings, the jsk_docs project has been disabled. As suggested in https://github.com/jsk-ros-pkg/jsk_docs/issues/25,  i just have fixed the project doc/conf.py settings, so could you re-enable the

[2019-07-25 10:48] humitos commented on #5991
@k-okada great! Did you disable the build to be triggered every 10 minutes?

[2019-07-25 14:07] mudislandkid commented on #5907
Hi There,

I've recently installed RTD on a local installation for the first time. After much playing about I managed to get the 'view documents' button to point to my local ip by going into the project settings/domians and adding my local ip:8000 to it. If I just do that, nothing happens. If I check the box to say 'This Domain is the primary one where the documentation is served from' then when I

[2019-07-25 14:09] humitos commented on #5646
One part of this item was not done: remove build artifacts, because of a concurrency problem. See https://github.com/rtfd/readthedocs.org/blob/25191ff2f6b15e01eeb2617b239d724b04c98d78/readthedocs/projects/tasks.py#L1433-L1438

[2019-07-25 15:21] stsewd commented on #5907
@mudislandkid  I think you have `USE_SUBDOMAIN = True`

[2019-07-25 16:47] leonardder opened #5993 "Upload externally build docs using API"
## Details
For the [NVDA screen reader project](https://www.nvaccess.org/), I'm investigating hosting our developer docs on read the docs. A problem for us however, is that NVDA only runs on Windows and is highly dependant on it running on Windows. For example, we have a module that defines a C structure that relies on a ctypes.wintypes.DWORD field, but we can't mock ctypes.wintypes properly.

I'v

[2019-07-25 16:49] stsewd commented on #5993
Closing as duplicate of https://github.com/readthedocs/readthedocs.org/issues/1083

[2019-07-25 16:49] #5993 closed

[2019-07-25 18:44] ericholscher commented on #5821
We just ran into this again. Intersphinx data is storing URL's (so something like `/api/`), but we are storing actual HTML names in the `ImportedFile` models (`/api/index.html`). This caused us not to be able to map them on `sphinx_htmldir` builds.

[2019-07-26 04:25] kmaehashi commented on #5253
@steswd

Yes, that feature would be very useful for us.

Thank you, looking forward to see that feature!

[2019-07-26 06:58] TCY-LajeevP opened #5999 "Could not Checkout Time out error."
We are facing Timeout error while checkout from Git.
WE tried many times but it is failing every time.

ERROR: Timeout after 10 minutes
FATAL: Could not checkout 147e13a135f4f3b60b1e9cc02205b2d81822e2ae
hudson.plugins.git.GitException: Command "git.exe checkout -f 147e13a135f4f3b60b1e9cc02205b2d81822e2ae" returned status code 130:
stdout:
stderr:

[2019-07-26 07:11] k-okada commented on #5991
sure, I think I have removed these codes
https://github.com/jsk-ros-pkg/jsk_docs/commit/cb9ea3e1d6061207dea6847f9f1afbb8729fddf1#diff-684a0ceb2878d48b19612ca360e277ef

--
◉ Kei Okada

2019年7月25日(木) 19:49 Manuel Kaufmann <notifications@github.com>:

[2019-07-26 08:01] mudislandkid commented on #5907
@stsewd thanks for the suggestion, I've just double checked and no it is set to False. This is what I have: -

`    # Domains and URLs
    PRODUCTION_DOMAIN = '192.168.0.22'
    PUBLIC_DOMAIN = '192.168.0.22'
    PUBLIC_DOMAIN_USES_HTTPS = False
    USE_SUBDOMAIN = False
    PUBLIC_API_URL = 'http://{}'.format(PRODUCTION_DOMAIN)

    # Doc Builder Backends
    MKDOCS_BACKEND = 'readthedocs.doc_bui

[2019-07-26 08:38] adreyfus commented on #3819
conf.py:
[code]
[rtd_dark.zip](https://github.com/readthedocs/readthedocs.org/files/3434926/rtd_dark.zip)

[2019-07-26 14:05] stsewd commented on #5999
Please provide the read the docs project URL and build url

[2019-07-26 14:05] stsewd commented on #5999
Please provide the read the docs project URL and build url

[2019-07-26 15:42] ShalokShalom commented on #3819
https://darkreader.org/

[2019-07-27 04:08] davidfischer commented on #5070
I believe that both of these are mostly done in https://github.com/readthedocs/readthedocs.org/pull/5819. All the developer docs now live under `docs/development`, the are no longer linked from the front page directly (one must click to "contributing" first, and all the other docs are user facing.

[2019-07-27 07:04] MiracleYoung commented on #3354
Hi author, I'm newer for rtd, my question is how can I display the flyout?

I'm using sphinx now.

![](https://user-images.githubusercontent.com/12238303/33803016-eb559f00-dd53-11e7-9887-dcf028cb3abd.png)

[2019-07-27 15:23] tapaswenipathak commented on #5935
Hi @humitos: Is the ticket open? Can I add a PR?

[2019-07-27 15:23] tapaswenipathak commented on #5908
Hi @stsewd: Adding.

[2019-07-27 15:24] tapaswenipathak commented on #5888
Hi @stsewd: Adding.

[2019-07-27 15:25] tapaswenipathak commented on #5771
Hi folks: Can I work on the ticket or is the ticket internal?

[2019-07-27 15:26] tapaswenipathak commented on #5649
Hi @stsewd: Interested, taking.

[2019-07-27 17:03] stsewd commented on #3354
@MiracleYoung please provide the rtd project. It should just work

[2019-07-27 18:01] tapaswenipathak commented on #5922
sure, thanks for letting me know folks.

[2019-07-28 12:57] humitos commented on #5935
@tapaswenipathak yes, sure!

[2019-07-28 14:00] humitos commented on #3829
Hi everybody!

This issue has been opened for a long time and we tried different ways to achieve it. Unfortunately, most of them failed and we found that `conda` does not have the same behavior that `pip` has regarding packages that are already installed in the environment.

Now, we deployed a new [Feature Flag](https://docs.readthedocs.io/en/latest/guides/feature-flags.html) (`CONDA_APPEND_CORE_R

[2019-07-28 14:13] lucays opened #6006 "PDF some fonts not display for Chinese Janpanese mixed text"
## Details

* Read the Docs project URL: https://readthedocs.org/projects/ocg-rule/
* Build URL (if applicable):
* Read the Docs username (if applicable): 碎冰

## Actual Result

in output pdf, Japanese font display incorrently. some fonts become 'F'
and symbol like '①②③' dont display.
![J2_5JPVODDSC L55W~ ZZCI](https://user-images.githubusercontent.com/29814851/62007655-cf1a8f80-b182-11e9-8f54-154c

[2019-07-28 14:13] humitos commented on #5991
@k-okada I'm talking about this

![Screenshot_2019-07-28_16-12-38](https://user-images.githubusercontent.com/244656/62007832-8ba82d00-b152-11e9-8fb1-ee29cd9b35dd.png)

From https://github.com/jsk-ros-pkg/jsk_docs#how-to-trigger-the-build

You should remove that call to the webhook every 10 minutes to trigger a new build.

[2019-07-28 14:18] lucays commented on #6006
2 pictures above use following config:
[code]

and I tried use Japanese config:
[code]
Nothing (Chinese and Japanese and picture) will show...

[2019-07-28 14:43] humitos commented on #6006
If everything works as you want with the `pdflatex` engine, you can force it in your conf.py file by writing,

    latex_engine = 'pdflatex'

There is no need to use `xelatex` if it does not fit your requirements.

[2019-07-28 14:45] humitos commented on #6006
If you use Chinese and Japanese fonts, you need to include them both in the preamble setting. I do not know a good combination for that and it's out of the scope of the help that Read the Docs folks can give you.

I suggest you to make your question on StackOverflow or a similar platform.

[2019-07-28 15:01] lucays commented on #6006
although now switch back to pdflatex, some Japanese font still dont display...
seem some fonts missing in readthedocs server ?
I see, I will make a question on stackoverflow.

[2019-07-28 15:03] humitos commented on #6006
I don't think so. There are a ton of font installed on the build server. The thing is that you have to specify exactly which ones you want to use for Sphinx to find them.

Thanks! Feel free to reopen if you consider.

[2019-07-28 15:03] #6006 closed

[2019-07-29 04:36] k-okada commented on #5991
we have disabled that script and not longer required. removed from the
document ->  https://github.com/jsk-ros-pkg/jsk_docs/blob/master/README.md
--
◉ Kei Okada

2019年7月28日(日) 23:13 Manuel Kaufmann <notifications@github.com>:

[2019-07-29 08:47] humitos commented on #5991
Hi @k-okada! I re-enabled your projects. Thanks!

[2019-07-29 08:47] #5991 closed

[2019-07-29 11:07] Abhi-khandelwal commented on #5889
Hi @humitos,  Can I work on this issue ?

[2019-07-29 15:54] stsewd commented on #5649
@tapaswenipathak this issue has the `Needed: design decision` label. We need a desicion from the core team before implementing this.

[2019-07-29 16:08] agjohnson commented on #3746
This was never closed on a release with a fix, but I think we now have a regression on this as well. I have reports from readthedocs.com of these notifications going out -- and the same, the build finally continues once unlocked and the project will successfully build.

[2019-07-29 16:11] stsewd commented on #5889
@Abhi-khandelwal sure

[2019-07-29 16:46] Abhi-khandelwal commented on #5889
@humitos  Can you help me with refactoring in the middleware ?

[2019-07-29 17:29] davidism opened #6010 "Versions are sorted by ASCII rather than version or commit date"
## Details

* Read the Docs project URL: https://jinja.readthedocs.io/en/2.10.x
* Build URL (if applicable): https://readthedocs.org/projects/jinja/builds/9440202/
* Read the Docs username (if applicable): davidism

## Expected Result

During the build and in the rendered docs popup, versions are sorted in version order, newest to oldest. Baring that, since slugs might not be valid versions (2.10.

[2019-07-29 17:40] humitos commented on #6010
Hi @davidism! We are aware of this already.

We do sort the version using PEP440 (https://docs.readthedocs.io/en/stable/versions.html#how-we-envision-versions-working). Although, if the version does not follow this schema, it's ASCII sorted --as you found. In your case `2.9.x` makes `packaging.version.Version` to fail when initialized and so Read the Docs consider it as a non-valid version number.

[2019-07-29 17:45] stsewd commented on #5771
@tapaswenipathak sure

[2019-07-29 17:48] davidism commented on #6010
Hmm, I see what you mean with commit date. The way I handle sorting in the theme is a small wrapper that strips off a configured suffix first, so that they are valid sortable versions again.

[2019-07-29 17:56] humitos commented on #6010
Maybe we can fallback to numerical sorting if the version does not follow the PEP440 scheme with one of these proposal solution: https://stackoverflow.com/questions/2574080/sorting-a-list-of-dot-separated-numbers-like-software-versions --what do you think?

[2019-07-29 17:58] humitos commented on #6010
`natsort` seems to be what we want: https://pypi.org/project/natsort/#sorting-versions

[2019-07-29 18:41] davidfischer commented on #6010
@humitos Are you proposing ripping out `packaging.version.Version` from https://github.com/readthedocs/readthedocs.org/blob/4b38e8228f2df43cd81823139f525d999f6e4467/readthedocs/projects/version_handling.py#L15-L39 and instead use `natsort`? We could definitely test that. Alternatively, this does seem common enough where we could replace `.x` and call `parse_version_failsafe` again.

[2019-07-29 20:12] humitos commented on #6010
@davidfischer No. I'm "thinking aloud without looking at the code" that we could fallback to `natsort` when the version is not parseable by `packaging.version.Version`. I haven't taken a deep look yet.

[2019-07-29 22:28] tapaswenipathak commented on #5649
I see. Ok.

[2019-07-29 22:38] davidfischer commented on #6010
I put one possible solution into https://github.com/readthedocs/readthedocs.org/pull/6012.

[2019-07-30 11:03] saadmk11 opened #6014 "Connect Project with RemoteRepository Model to send Build Status Reports"
## Details

To send build status reports to the providers ((GitHub, GitLab, Bitbucket)) we need to get a users token for that project. To get the token we are currently using the `RemoteRepository` Model so that we can get the social account of the user (i.e: `project.remote_repository.account`).

But There are many legacy projects in ReadtheDocs that do not have a remote repository connected or t

[2019-07-30 11:57] humitos commented on #6014
I do see different things here:
- a. how to connect old imported projects to a RemoteProject? (Is is strictly required? --I think 1) does not need it)
- b. how to get a valid Token to make the call?
- c. how to communicate the User that their project is not connected?

I see 1) more robust in the way that the token used to make the call could change in time without issues (e.g. if the user who imp

[2019-07-30 12:56] saadmk11 commented on #6014
@humitos I agree with you. I think 1 is more cleaner approach and it will help us get around permission issues in most of the project. and I also don't see any big issue with No. 1.

[2019-07-30 17:07] ericholscher commented on #6014
I'm fine with #1, but what happens when a user tries to get PR builds working, they don't have a connected social account, and the PR builds just fail to work? We need to actively communicate the status of this to the user, and show them how to resolve the issue.

[2019-07-30 17:08] ericholscher commented on #6014
I think we probably need some kind of setting for PR builds that users can turn on and off, and if it's turned on, then we show the status of the GitHub connection on the project detail page.

[2019-07-30 17:14] saadmk11 commented on #6014
I think we could have a `Boolean Field` on the project model like `build_pr` and if its turned on and user does not have a social account connected we can show a notification to the user about this and suggest them to connect a social account to get the feature working properly.

[2019-07-30 17:44] ericholscher commented on #6014
@stsewd thoughts on whether this should be on the config file? It's a project-level setting, so I don't think it necessarily makes sense per-version on the config, so probably makes the most sense in the DB.

[2019-07-30 18:16] stsewd commented on #6014
So, travis does this in the config file to allow users to skip the CI on some branches.

- Do we want to offer that level of customization?
- do we have cases where the user only wants to report the status on some branches?
- Disabling the PR builder setting means don't report the status and not build the docs from the PR or just not report the status?

[2019-07-30 22:48] avandesa opened #6016 "*.readthedocs.io is down."
## Details

* Read the Docs project URL: simpy.readthedocs.io, phpspreadsheet.readthedocs.io, any project site
* Build URL (if applicable):
* Read the Docs username (if applicable):

## Expected Result

Visiting any readthedocs site opens the docs

## Actual Result

The request for the page times out.

I can ping readthedocs.io, but not any project-specific site.

[2019-07-30 22:53] stsewd commented on #6016
The team is looking into it now

[2019-07-31 00:19] ericholscher commented on #6016
This should now be resolved.

[2019-07-31 00:32] avandesa commented on #6016
Yep, looks like it's up. Thanks guys!

[2019-07-31 00:32] #6016 closed

[2019-07-31 11:57] humitos commented on #5890
Closing it from here since it's an -ops task and does not belong to this repo. I opened a PR where it belongs and we will be tracking it there.

[2019-07-31 11:57] #5890 closed

[2019-07-31 21:37] #5908 closed

[2019-07-31 21:56] #6010 closed

[2019-07-31 23:17] markcmiller86 opened #6021 "Trouble making custom 404 (not found) work"
## Details

* [Read the Docs project URL](https://visit-sphinx-github-user-manual.readthedocs.io/en/docs-markcmiller86_add_404_page_31jul19/index.html)
* Read the Docs username (if applicable): markcmiller86
* Source [GitHub Repo/Branch](https://github.com/visit-dav/visit/tree/docs/markcmiller86_add_404_page_31Jul19)

## Expected Result

Trying to make custom 404 (not found) page work following [t

[2019-08-01 01:05] stsewd commented on #6021
The page doesn't load CSS files because of

You need to install the extension, you can install it using https://docs.readthedocs.io/en/stable/guides/specifying-dependencies.html

[2019-08-01 01:54] markcmiller86 commented on #6021
Ok, thanks so much.

[2019-08-01 01:54] #6021 closed

[2019-08-01 05:49] ironWolf1990 opened #6023 "Build Failing"
## Details

* Read the Docs project URL: https://readthedocs.org/projects/machinelearning101/
* Build URL (if applicable): https://readthedocs.org/projects/machinelearning101/builds/9454568/
* Read the Docs username (if applicable): ironWolf1990

I am unable to figure out why my build is failing. Can someone please guide me !?

Thank you.

[2019-08-01 06:35] ironWolf1990 commented on #6023
I figured out the problem.

1. some images .png were not recognized as png images
2. few mathjax directives were also not recognized

[2019-08-01 06:35] #6023 closed

[2019-08-01 10:20] humitos opened #6024 "AttributeError when running a build"
## Steps to reproduce it

1. checkout `master`
1. remove the `.db` sqlite file
1. run migrations
1. create super user
1. import a project manually
1. trigger a build

## Actual result

This error is shown in the logs:

[code]

## Expected behavior

No error.

[2019-08-01 11:31] saadmk11 commented on #6024
We need to first run `python manage.py loaddata test_data` so that it sets the SLUMBER user and it will result in successful api calls :)

[2019-08-01 11:31] #6024 closed

[2019-08-01 11:32] fmaussion opened #6025 "Command killed due to excessive memory consumption"
## Details

* Read the Docs project URL: https://oggm.readthedocs.io
* Build URL (if applicable): https://readthedocs.org/projects/oggm/builds/9456071/
* Read the Docs username (if applicable): fmaussion

Hi! I'm here again, with our expensive conda builds (for the context, I already had performance related issues in the past: https://github.com/readthedocs/readthedocs.org/issues/5098 , https://gi

[2019-08-01 13:06] dhalbert opened #6027 "Subprojects page throwing 502"
https://readthedocs.org/dashboard/circuitpython/subprojects/ is returning a 502. It did work once, in the past 20 minutes, but all other times it has failed.

[2019-08-01 13:22] humitos commented on #6025
I'd like to take a look at this. Probably next week if I have some time. I think conda gets crazy when using multiple channels :/

My first attempt was to upgrade the `conda` version that your docs are using to build it (which they said that had some "memory leak" improvements), but I saw that your `oggm` project is already doing that :(

@fmaussion where I can see what packages will be installed

[2019-08-01 13:28] humitos commented on #6027
Hrm... I'm not seeing anything relevant in our Sentry logs yet.

As a note, I saw that `circuitpython` has like ~150 subprojects. So, that may be making the DB query to timeout.

[2019-08-01 14:42] saadmk11 commented on #6014
**Another approach for Communicating with the users:** We can send site notifications about the issue when the `send_build_status` tasks fails and let the users know that they might not have a social account connected with the appropriate provider or they don't have permission.

[2019-08-01 14:45] fmaussion commented on #6025
Thanks for your help @humitos !

your question motivated me to try to install the packages directly instead of via ``oggm-deps``. Our builds are now working!

Change in env: https://github.com/OGGM/oggm/pull/835/files

Build log: https://readthedocs.org/projects/oggm/builds/9457124/

Thanks for your help and sorry for the noise...

[2019-08-01 16:06] dhalbert commented on #6027
We do have a lot of subprojects :smiley:. I'm still seeing this: did you change anything about DB query timeouts, or perhaps the DB server(s) are just unusually loaded today? I'll try again during off hours.

[2019-08-01 19:13] bdice commented on #6027
Yes, I am seeing a 502 Error for https://readthedocs.org/ and https://readthedocs.org/dashboard/ as well. I also got one page to load before this error started appearing.

[2019-08-01 19:15] dojutsu-user commented on #6027
Hi @bdice
We are having some troubles with our servers and therefore the 502 error.
Currently the team is looking into it.
Thanks for your patience.

[2019-08-01 21:04] jpchen commented on #5990
same problem, i pushed a branch and i can see the success response from the webhook but the branch doesnt show up. FWIW i have a triggered build for a different branch thats just hanging, though that shouldn't be related?

[2019-08-01 21:08] stsewd commented on #5990
@jpchen we are having problems with the servers just now.

[2019-08-01 21:23] humitos commented on #6025
@fmaussion awesome! thanks for sharing the results!

[2019-08-01 22:39] gpotter2 opened #6030 "E-mail servers status"
Hi & sorry for bothering.

Could you please confirm that the e-mailing servers are working properly? (or maybe there is a delay that I'm not aware of ? :smile:) I can't manage to get the verification email :/

I tried both a Gmail address and custom hosted one, to no avail :/ (I checked the spams & server logs. It doesn't look like SpamAssassin catched it, nor that it was ever received :/)

Thanks

[2019-08-01 22:44] stsewd commented on #6030
Hi, sorry. The team in working into get email back again.

[2019-08-01 22:45] gpotter2 commented on #6030
Thanks for the quick answer!

[2019-08-01 22:49] davidfischer commented on #6030
Just to give a bit more details, we've gotten something like ten thousand signups today (usually we get less than a hundred) from many different IPs and our system sends an email verification to each one. Unfortunately, after not many of these, our email sender has shut us off and is requiring us to talk to them. We are trying to get in touch and hoping to just have it come back without switching,

[2019-08-01 23:41] bdice commented on #6027
It's working again for me -- thanks RTD team! :)

[2019-08-02 05:22] Iamshankhadeep commented on #5586
@stsewd work done,  review it please.

[2019-08-02 12:51] uweschmitt commented on #3275
I have the same issue that implicit name packages are not supported somehow.

[2019-08-02 16:36] ewdurbin opened #6036 "SSL Proxies no longer working"
## Details

* Read the Docs project URL:
  - packaging.python.org
  - devguide.python.org
  - warehouse.pypa.io
  - pip.pypa.io
  - etc.

## Expected Result

SSL termination configured per https://docs.readthedocs.io/en/stable/custom_domains.html#proxy-ssl loads our docs

## Actual Result

As of approximately 15:39 UTC 2019-08-02 this configuration is serving Cloudflare 403 pages.

[2019-08-02 16:36] ewdurbin commented on #6036
Additional context: In all instances above we are terminating TLS with Fastly.

[2019-08-02 16:56] agjohnson commented on #6036
Hrm odd. Probably related to a move to Cloudflare on the readthedocs.org that we just did this morning. We're getting flooded with spam.

I'm on #readthedocs on freenode if it's easier to debug there.

I'll poke around on domains for now.

[2019-08-02 17:00] agjohnson commented on #6036
@ewdurbin What address are you proxying to in fastly?

[2019-08-02 17:00] ericholscher commented on #6036
What url are you proxying to?

[2019-08-02 17:02] ewdurbin commented on #6036
looks like they are all configured to proxy to readthedocs.org. which I guess is now out of date. I tried readthedocs.io but it wasn't working.

curling around it seems we need them each to proxy to something different. i kinda overlooked the part in the proxy ssl where the subdomain needs to be handled.

attempting that now.

[2019-08-02 17:07] ewdurbin commented on #6036
got it, overlooked the subdomain portion in the Proxy SSL configuration. looks like we're good here.

thank you for quick responses!

[2019-08-02 17:07] #6036 closed

[2019-08-02 20:35] remram44 commented on #5351
This is really offensive. Makes me think that you don't care about users at all and are just waiting for them to go away.

[2019-08-02 20:35] remram44 commented on #5351
Having me re-state every month that yes I would still like you to look into my problems is really not cool.

[2019-08-02 21:02] stsewd commented on #5351
There isn't much we can do if we are not able to replicate the problem locally. The stale label is done by a bot, not from the read the docs team.

You can try to import your problem manually from here https://readthedocs.org/dashboard/import/manual/

[2019-08-02 21:09] remram44 commented on #5351
The robot was put in place by the Read The Docs team. Of course I'm not blaming the robot.

I don't understand how you can fail to reproduce that given you have access to the database. I don't know what step I can take to make this more reproducible. I gave you the ID of the account (mine) where this happens, you can do this get request and see what happens.. I cannot give more details apart from

[2019-08-02 21:10] remram44 commented on #5351
See you next month when your bot tells me my issue doesn't matter anymore, and I have to come back and say that it does to me.

[2019-08-02 23:19] agjohnson commented on #6030
Our current mail host, Mailgun, did not respond to us in a timely manner and we weren't any closer to resolution on the issue with them going into the weekend. I've moved our outbound mail to Sendgrid and mail should finally be sending again.

I tested a number of email notifications that we send, and they all seemed to go out okay. Let us know if any particular message doesn't seem to be sending

[2019-08-02 23:20] #6030 closed

[2019-08-02 23:48] humitos commented on #5351
Hey @remram44! We do Read the Docs with love. It's an OSS project and we also work on our free time to make it better. I suggest you to avoid any kind of message similar to the ones you wrote here.

We have a roadmap to follow. Our time is limited and we need to focus on the work that makes Read the Docs to keep working as is: free and open.

We do care about users, but here, it seems that _you_ d

[2019-08-02 23:50] humitos commented on #5351
Now, regarding your problem. It seems that one of the duplicated repositories in our DB is `conda-forge/r-expsmooth-feedstock`. This is definitely an inconsistency in our database that we need to clean up. I'm not sure how we get there yet, but I will probably have more information after research a little more and once you have said "I'm sorry" :)

[2019-08-03 00:17] humitos commented on #5351
Actually, for the records and when we come back to debug this, there are 2266 `RemoteRepository` duplicated for this user. Probably, just removing them and re-sync is the solution here.

[2019-08-03 00:19] remram44 commented on #5351
Thank you for taking a look. Would you consider removing the stale bot, which does nothing for your users or your image?

[2019-08-03 00:53] chenrui333 commented on #4463
I wonder if I can help with this, currently I am thinking of adopting the similar workflow in my company as well.

[2019-08-03 01:22] stsewd commented on #4463
Actually you can do that in travis https://docs.travis-ci.com/user/conditional-builds-stages-jobs/

Also, I just saw this https://docs.travis-ci.com/user/deployment/transifex/ (not sure if it's updated)

[2019-08-03 01:34] chenrui333 commented on #4463
good to know that they have deployment script.

[2019-08-03 01:34] chenrui333 commented on #4463
but we also need to pull the docs as well.

[2019-08-03 11:16] humitos commented on #5351
Thanks for the suggestion. We are not consider removing the bot for now.

I removed "Needed: replication" and marked the issue as "Accepted" now that we know the reason of this.

I also changed the title of the issue to be more descriptive.

[2019-08-03 11:16] humitos commented on #5351
This is the chunk of code that returns multiple objects,

https://github.com/readthedocs/readthedocs.org/blob/ef48c975fc003d2067625f4090bc791f11d0641c/readthedocs/oauth/services/github.py#L92-L96

[2019-08-03 20:41] humitos commented on #5771
I found [this article](https://www.divio.com/blog/documentation/) very helpful to organize all our docs in a structured manner that seems easy to follow as a whole (team/community) since it divides the type of page/document/article in four:

- tutorials
- how-to guides
- explanation
- technical reference

which seems to be a good pattern to follow and I think it fit with what we already have (type

[2019-08-03 20:53] humitos commented on #5909
Can we save the `config` into the Build after parsing it but before validating it?

[2019-08-05 04:19] davidism opened #6038 "yaml config uses "htmldir" instead of "dirhtml""
The Sphinx make target is called "dirhtml", but RTD's [yaml spec ](https://github.com/readthedocs/readthedocs.org/blob/93bcf8d19c367e1088893a4902b15a05d1ad190f/readthedocs/rtd_tests/fixtures/spec/v2/schema.yml#L99) uses "htmldir". RTD should match Sphinx for consistency. It can accept "htmldir" for compatibility, but should only document the correct name.

[2019-08-05 04:28] davidism opened #6039 "yaml config can't specify exact build image"
In order to keep builds reproducible, I want to specify versions to use. I can do this for requirements and Python, but not for the build image, which only has "stable" and "latest" values. This is looking far into the future, but if "latest" changes to an image that doesn't have the Python I've configured, and I need to rebuild the docs for some reason, the build will now fail. Names like "ubuntu

[2019-08-05 08:36] humitos commented on #3382
I'm marking this issue as Accepted since what we need to do is described at https://github.com/readthedocs/readthedocs.org/issues/3382#issuecomment-395885311

[2019-08-05 08:38] dojutsu-user commented on #3382
@humitos
There already a PR open -- #4995

[2019-08-05 08:48] humitos commented on #6039
Hi David! We had this discussion internally already and, as our Docker images are pretty big (~8gb each), supporting old versions "kind of forever" means a lot of space for this in our builders.

We only document `stable` and `latest` only because they should be enough for (most) users to build their docs. We don't do (or should not do) incompatible changes in our Docker images --although, since s

[2019-08-05 08:50] humitos commented on #6038
I agree with this suggestion :smile:

[2019-08-05 09:45] wtuemura opened #6041 "No theme for me?"
## Details

* Read the Docs project URL: https://readthedocs.org/projects/mamedoc/
* Build URL (if applicable): https://mamedoc.readthedocs.io/pt/latest/
* Read the Docs username (if applicable): wtuemura

## Expected Result
The normal RTD template and style should be applied to the page.
Page mirror:
http://mamedoc.epizy.com/

*A description of what you wanted to happen*

## Actual Result
No them

[2019-08-05 13:21] #5907 closed

[2019-08-05 13:21] #5709 closed

[2019-08-05 14:39] davidism commented on #6039
Thanks, I'll think about if I need to pin to "5.0" vs "latest".

[2019-08-05 14:39] #6039 closed

[2019-08-05 15:10] agjohnson commented on #6041
Looks like you replaced our theme with an overrides file and didn't include the overrides file. Make sure you aren't completely replacing our CSS if you are adding a CSS file.

Closing as this isn't an RTD bug.

[2019-08-05 15:10] #6041 closed

[2019-08-05 15:11] agjohnson commented on #6027
Closing. Seems like this was transient and related to Azure problems last week.

[2019-08-05 15:11] #6027 closed

[2019-08-05 17:08] wtuemura commented on #6041
Got the site to work now.

Thank you for the reply.

[2019-08-05 19:19] bpeake-illuscio opened #6043 "Organization-Level environmental variables"
Hello,

I use a pypi repository hosted through azure artifacts for my company's python packages. As such, to build documentation, I need to pass environmental variables: PIP_INDEX_URL and PIP_EXTRA_INDEX_URL to EVERY project in my organization, and update EVERY project when the password changes every few months for security reasons.

It would be awesome if I could set an organization-wide variable

[2019-08-06 09:40] humitos commented on #5658
I'm closing this issue since we are not going to "solve it". Currently, it's possible to build using `pypy3.5` Python version enabling the feature flag `CLEAN_AFTER_BUILD` into the project itself.

Take a look at this commit https://github.com/readthedocs/test-builds/commit/b3632d3af77db5f25b3629fbe11911104ae6638c that builds at https://readthedocs.org/projects/test-builds/builds/9476302/ (this is

[2019-08-06 09:40] #5658 closed

[2019-08-06 15:06] davidism opened #6044 "Fixed footer ad close button is obscured by scrollbar"
The floating ad has an "X" close link, but it is overlapped by the scrollbar. This happens on at least Firefox 68 and Chromium 76.

![Firefox example](https://user-images.githubusercontent.com/1242887/62551425-d4ca4200-b820-11e9-85f9-0132e2223b4d.png)

![Chromium example](https://user-images.githubusercontent.com/1242887/62551521-0511e080-b821-11e9-8dce-0b0bde11d43c.png)

[2019-08-07 00:37] stsewd commented on #6043
Hi @bpeake-illuscio. With "every project in my organization" do you mean organizations from readthedocs.com or from an account in readthedocs.org?

Yeah, I think that would be a good solution. We don't have something like a _global setting for all projects_. So not sure how having global env variables would fit.

[2019-08-07 03:40] tlvu commented on #5847
@stsewd The memory limit check seems to be buggy.  I have this passing build https://readthedocs.org/projects/pavics-raven/builds/9479705/ have more items in conda `environment.yml` than this failed build https://readthedocs.org/projects/pavics-raven/builds/9480361/ due to "`excessive memory consumption`".

I have managed to trim down the installs needed to only the following few packages https://

[2019-08-07 05:04] tlvu commented on #5847
I actually got our doc build to work on ReadTheDocs again, see PR https://github.com/Ouranosinc/raven/pull/167 but I hope the memory limit check is not an intermittent issue, as stated in my previous comment.

[2019-08-07 10:52] humitos commented on #5847
@tlvu Hi! The way that conda uses the memory is weird. We've been having problems with conda and OOM in the last months but there is not too much we can do.

Since conda says that their latest versions handle the memory in an smarter way, we added a flag (`UPDATE_CONDA_STARTUP`) for projects to update conda _before_ creating the command. If you are happy with that, I can enable it for you in your

[2019-08-07 11:19] fmaussion commented on #6025
@humitos if you agree I'd like to reopen this. In a sister project (with exactly the same env.yml) we are experiencing the memory issue at the conda step:

https://readthedocs.org/projects/rgitools/builds/9481900/

Any idea on how to make it more efficient?

[2019-08-07 16:32] #5906 closed

[2019-08-07 17:06] tlvu commented on #5847
@humitos yes for `UPDATE_CONDA_STARTUP` because why not :D

No for `CONDA_APPEND_CORE_REQUIREMENTS` since I want the initial `conda create` step to be as small as possible to not burst the memory limit for each step.  From what I understand, this option will add more packages to be installed to the initial `conda create` step to save a separate step which means the initial `conda create` step will

[2019-08-07 17:41] humitos commented on #5847
Done.

I triggered a new build at https://readthedocs.org/projects/pavics-raven/builds/9483814/. You can see that `conda` was updated before running create.

Yes. It will add the packages installed in the next step (`conda install`) into the `environment.yaml` file. Since we don't know why conda breaks on OOM, I'm not sure if this will be worse or better :smile:

We are not going to support provid

[2019-08-07 17:41] #5847 closed

[2019-08-07 17:47] humitos commented on #5847
In fact, it takes 280 compared with 845 without the flag (see https://readthedocs.org/projects/pavics-raven/builds/9483280/)

Also, the conda environment creation takes 163 seconds while without the flag it takes 473.

Please, confirm that this work properly because I'm seeing good improvements from outside.

[2019-08-07 17:54] tlvu commented on #5847
My case was not C modules so never thought to look there.

Yeah this would be a more natural location to document this "mock" trick  to decrease resource usage (install less stuff).

I am new to this project but I think we could not use autoapi, we had to use [autodoc](http://www.sphinx-doc.org/en/master/usage/extensions/autodoc.html).  I see old autoapi configuration in our sphinx [conf.py](https

[2019-08-07 17:55] tlvu commented on #5847
Yup, it works perfectly fine for us, thanks a lot.

[2019-08-07 18:23] humitos commented on #5847
I would appreciate if you can share the reasons. We are trying to improve it and any feedback that you may have would be really helpful to make it better.

[2019-08-07 18:31] tlvu commented on #5847
I'll let my co-workers @huard and @Zeitsperre elaborate why autodoc is chosen over autoapi since they've been around on this project much longer than me.

[2019-08-07 19:01] #5967 closed

[2019-08-07 19:22] saadmk11 opened #6046 "Add Configuration for PR Builder Through Config File"
So, travis does this in the config file to allow users to skip the CI on some branches.

- Do we want to offer that level of customization?
- do we have cases where the user only wants to report the status on some branches?
- Disabling the PR builder setting means don't report the status and not build the docs from the PR or just not report the status?

_Originally posted by @stsewd in https://git

[2019-08-07 19:27] #6014 closed

[2019-08-07 19:28] saadmk11 commented on #6014
The main objective of this issue has been filled by  #6017 and #6033. We can continue the discussion about Config file options for External versions from here #6046

[2019-08-07 21:06] humitos commented on #6025
@fmaussion I've already add the flag to update conda on startup but it still fails.

Is it possible to remove all the dependencies that are not needed to build the documentation from the [environment.yaml](https://github.com/OGGM/rgitools/blob/master/docs/environment.yml)? For example, with a quick look, it seems that `pytest` is not required.

[2019-08-07 21:12] humitos commented on #6025
Also, you may want to consider to no use conda `conda` at all to build these documentation. You can just use simple `pip` to install all the dependencies (I think) --maybe not `pyproj` since requires a library but maybe it's not required to build the docs anyway. We suggest to do this when possible if the problem of OOM is hit. See https://docs.readthedocs.io/en/latest/guides/build-using-too-many-

[2019-08-08 00:43] ericholscher commented on #6010
This is now shipped, let me know if it's resolved 👍

[2019-08-08 02:44] davidism commented on #6010
I checked https://jinja.palletsprojects.com/. 2.10.x sorts above 2.9.x, but now master sorts last.

[2019-08-08 03:06] stsewd commented on #6010
@davidism you need to activate the master version that says "latest"

![Screenshot_2019-08-07 Versions Read the Docs](https://user-images.githubusercontent.com/4975310/62672234-866f8d00-b95f-11e9-90fc-33e45ebf12ab.png)

[2019-08-08 03:21] davidism commented on #6010
Any chance since "latest" points to "master" that they both can sort higher? I've been deliberately using master so all docs versions would match branches, and it was sorting as expected before.

[2019-08-08 03:37] stsewd commented on #6010
Internally rtd creates a version named latest that points to master (that's how it gets sorted). You are using the _plane_ version of master.

My guess, like the other branches (2.x), master was failing too, so it was being sorted by the ascii value `('master' > '2.x') is True`.

I haven't tried this, but I think maybe you can still have master as latest. Can you try going to advanced settings and

[2019-08-08 04:06] stsewd commented on #6010
Nope, that doesn't work.

We should treat master and trunk (whatever master is in other VCS) like we do with latest, or show the real version name in the selector, not the slug

[2019-08-08 05:07] stsewd commented on #6010
Changing the slug to the real name is a big chance, I'm making a patch for the first option

[2019-08-08 05:30] kushthedude commented on #6038
@humitos I would like to work on it

[2019-08-08 05:31] dojutsu-user commented on #6038
@kushthedude
Go ahead. :tada:

[2019-08-08 05:33] stsewd commented on #6038
@kushthedude go ahead!

[2019-08-08 06:01] stsewd commented on #6010
PR at https://github.com/readthedocs/readthedocs.org/pull/6049

[2019-08-08 06:12] stsewd commented on #5875
So, we have two ways to remove the migration. We actually needed to execute the first one before the deploy :/

The first one removes all the migrations from the db, and the second one is the sql to execute directly on the db (in case we can't do 1).

All this commands should be run from the commit c907f03a9 (just before the one that removes the app)

[code]

[code]

[2019-08-08 08:11] tapaswenipathak commented on #5875
@stsewd Do you wanna let me finish the issue or you wanna take it on your head?

[2019-08-08 08:21] tapaswenipathak commented on #5771
Appreciate your thoughts @humitos, taking on my head and splitting the docs as per you described.

[2019-08-08 12:42] saadmk11 opened #6052 "Support GitLab for PR Builder"
## Details

As we have initially added support for GitHub, we need to start thinking about supporting other providers such as GitLab.

Initial building blocks were created for the PR Builder. Next Steps for supporting GitLab might be:

- [x] We do not set `'merge_requests_events': True` while creating a webhook for GitLab which does not give us access to merge request events. **We have to add this

[2019-08-08 14:28] dojutsu-user commented on #5978
Hi @sergeylukin
Fix has been deployed in the production and the search is working again.
https://toolz.readthedocs.io/en/latest/search.html?q=python&check_keywords=yes&area=default

Thanks for your patience.

[2019-08-08 15:32] stsewd commented on #5875
@tapaswenipathak this now needs a design decision. We need to execute the SQL or the command in the production server.

[2019-08-08 15:46] stsewd commented on #6052
There are some ideas around that here https://github.com/readthedocs/readthedocs.org/issues/5062 (it's about github, but the same applies)

[2019-08-08 15:57] saadmk11 commented on #6052
@stsewd I suppose we could do a automatic re-sync for GitLab through a Management Command.
Or maybe we can show a site notification to the users who have a GitLab project with PR Builder enabled that they need to re-sync their GitLab webhook to get the PR Builder Working.

[2019-08-08 17:40] ericholscher commented on #6052
This sounds good. I think to start we can just start setting the `merge_requests` on new gitlab connections. We can then worry later about how to reconnect them, after we have the rest of the code working I think.

[2019-08-08 17:41] saadmk11 commented on #6052
Yeah I was thinking the same :)

[2019-08-08 17:41] ericholscher commented on #6046
I think the config file feels like the right place for this. If we don't have a strong opinion, I think that copying what travis and others do here probably makes the most sense. So allowing it to be turned on in the config, specifying which branches to build against. The main downside is that it requires us to clone the code in order to figure out if we need to trigger a build, which feels a bit

[2019-08-08 18:50] ericholscher commented on #5875
Ran into an issue running the backwards migration in prod. Going to have to hand-run the SQL.

[2019-08-08 18:50] stsewd commented on #6010
@davidism master should be sorted first now

[2019-08-08 19:25] ericholscher commented on #3932
Can we not just call `attach_webhook` when we create the Integration?

[2019-08-08 19:34] icgood opened #6057 "Delete Account failure"
## Details

* Read the Docs project URL: N/A
* Build URL (if applicable):
* Read the Docs username (if applicable): icgood

## Expected Result

I went to "Delete Account", typed in my username to confirm, and I expected my account to be deleted.

## Actual Result

I received an error page containing the fail whale:

[code]

My account was not deleted, and I was still logged in when I went back to

[2019-08-08 20:18] davidism commented on #6010
Awesome, thanks!

[2019-08-08 21:59] AustinShalit commented on #4641
Hi folks,

Just looking to see if this issue made it onto the roadmap for an upcoming release.

Thank you!

[2019-08-08 22:26] davidfischer commented on #4641
@AustinShalit, this issue sort of has a few things going on with it. Specifically are you asking about HTTP -> HTTPS redirects for custom domains?

[2019-08-09 00:12] kushthedude commented on #5876
@humitos I would like to work on it, If there has been no progress made yet

[2019-08-09 00:24] AustinShalit commented on #4641
Sorry about not being clear.  Yes, I am talking about HTTP -> HTTPS redirects for custom domains.

[2019-08-09 00:59] stsewd commented on #6057
Yeah, accounts created before this release https://docs.readthedocs.io/en/stable/changelog.html#version-3-6-0 (July 16, 2019) can't be deleted because of https://github.com/readthedocs/readthedocs.org/issues/5875#issuecomment-519380737. We are working in fixing the problem.

[2019-08-09 01:09] stsewd commented on #6046
So, just putting more context here from the slack discussion.

Currently, we parse the config file after clone (this is so we can support manual import).
Given that, we can't put any setting that modifies if the PR should be build or not.

One option is having a global setting to enable the feature, and to have control over all pull requests, we can use the automation rules (extend them to support

[2019-08-09 05:07] stsewd opened #6059 "Write docs for automation rules"
This feature is about to be live, so it needs docs, explaining what it is, uses cases, etc

[2019-08-09 09:53] staugur opened #6060 "Triggered PicklingError after activating multiple versions"
Hey

## Details

* Read the Docs project URL: https://readthedocs.org/projects/saintic-test/
* Build URL (if applicable):      https://readthedocs.org/projects/saintic-test/builds/9491475/
* Read the Docs username (if applicable): staugur

## Expected Result

I want the documentation to build successfully, including tags, not just latest.

## Actual Result

In my documentation project, if a tag ot

[2019-08-09 10:49] saadmk11 commented on #3932
I have looked into this issue a bit. There are some things we need to figure out about this issue before we can proceed.

We can use `attach_webhook` as @ericholscher mentioned to update the webhook on the projects repo while creating an integration. but there are few cases to consider.

1. If the users imported the project manually and does not have permission to the repo and the the user tries t

[2019-08-09 13:41] johannfaouzi opened #6061 "Recent builds fail because of an error that was fixed a while ago"
## Details

* Read the Docs project URL: https://readthedocs.org/projects/pyts/
* Build URL (if applicable):
* Read the Docs username (if applicable): johannfaouzi

There is something a bit weird that is happening with the builds of my project: sometimes the build fails because of an error that was fixed a while ago, and I don't understand why this is occuring.

In my [api.rst](https://github.com/

[2019-08-09 14:30] ericholscher commented on #3932
That makes sense.

Not sure I follow here. I guess we should think through if we should even allow multiple of the same integration on the same project -- I don't see a great reason for it.

Won't the sync button be on the integration detail page? So, we'd just sync that one.

We should likely only try to automatically sync if we have a social account attached to that service for the user -- these

[2019-08-09 15:12] bpeake-illuscio commented on #6043
Sorry, I guess I meant organizations from readthedocs.com. I have about 20 libraries which all need the same variables changed regularly, and that number is only going to grow.

Thanks!

[2019-08-09 16:18] saadmk11 commented on #3932
I think this is a good idea. Now we are allowing the creation of multiple integrations for the same service, which I think has no use case.

If we give the ability to sync multiple webhook for the same provider. then the repo will have multiple webhooks attached to it and send the same event multiple times to our API from different hooks and we will build the same thing multiple times.

Yeah! I ag

[2019-08-09 18:57] raholler opened #6064 "Does not correctly rebuild docs after updating tag"
## Details

* Read the Docs project URL: https://econ-project-templates.readthedocs.io/en/stable/
* Build URL (if applicable): https://github.com/hmgaudecker/econ-project-templates/releases/tag/v0.1
* Read the Docs username (if applicable):

## Expected Result
I fixed some mistakes in a recent version of our project. After retagging and pushing the tag, and rebuilding the docs I expected the docs

[2019-08-09 20:31] raholler commented on #6064
So it seems, it now displays the correct docs. There seems to be some time lag. I am closing this issue.

[2019-08-09 20:31] #6064 closed

[2019-08-10 15:34] LeBarbouze opened #6065 "Images not displayed though compilation is successful"
## Details

* Read the Docs project URL: https://readthedocs.org/projects/tunacell/
* Build URL (if applicable): https://readthedocs.org/projects/tunacell/builds/9497770/
* Read the Docs username (if applicable): LeBarbouze

## Expected Result

I expect the images to be actually displayed, for instance here https://tunacell.readthedocs.io/en/latest/users/tutorial.html#calling-the-plotting-function

[2019-08-10 17:21] stsewd commented on #6065
Can you link to a page where you expect the image and isn't there? Also, take into consideration that images should have a relative path, since when you host  your docs on rtd, the pages are in `lang/version/`

[2019-08-10 20:57] humitos commented on #5684
@saadmk11 what's the status of this issue? I think it's OK to close it, but not as stale because everything is implemented, right?

[2019-08-10 21:24] LeBarbouze commented on #6065
Thanks for your quick reply.

Here's a link of a subsection where the image should be: https://tunacell.readthedocs.io/en/latest/users/tutorial.html#calling-the-plotting-function (scroll at the bottom of the subsection). I tried the relative path in the source document for this image. If you scroll down, there are a couple of images where I put the absolute path from the root directory (docs/ in t

[2019-08-10 21:35] saadmk11 commented on #5684
Yes, we can close this issue as everything discussed here has been implemented.

[2019-08-10 21:35] #5684 closed

[2019-08-11 08:46] LeBarbouze commented on #6065
@stsewd I've added links in the comment above, and also edited the issue description. Thanks for pointing to those details.

[2019-08-12 12:12] fmaussion commented on #6025
@humitos (and @ocefpaf and @jswhit because I think they might be interested in this). I just managed to do something that would have been impossible a year ago: I moved to a full ``pip install`` of packages such as rasterio / geopandas / pyproj / netcdf4 on RTD, and it works!

Here the requirements: https://github.com/OGGM/rgitools/blob/master/docs/requirements.txt

And the setup:

[code]

The pin

[2019-08-12 12:23] humitos commented on #6025
@fmaussion I'm happy that you find out a way to make it builds the docs on Read the Docs without conda. I would love if you can keep me posted (or I can subscribe to an issue in your repo) since I'm interested on tracking this kind of issues on Read the Docs and collect some ideas, workflow problems, etc to continue thinking in different solutions.

[2019-08-12 13:23] humitos commented on #3932
I'm :+1: in the listed use cases and comments from @ericholscher.

I see this as "two different type of webhooks"

1. the one that creates Read the Docs automatically
1. the one that creates the user manually

I'm interested in auto-resync 1) because we have everything to do it and fix it. The other ones, 2), there is not too much we can do there because we don't create those webhooks in the servi

[2019-08-12 13:28] huard commented on #5847
We're using an autodoc extension I wrote for PyWPS `Process` objects. The information required to document those objects is defined once an instance is created, so we really need to run some code to document each `Process`.

[2019-08-12 13:40] saadmk11 commented on #3932
So, We should only have the re-sync functionality for the webhook that is created by RTD on project setup?

If the initial webhook setup is valid we already provide a re-sync functionality on those cases. so we only need to have the re-sync functionality when the initial webhook attachment fails.

[2019-08-12 15:17] dojutsu-user commented on #5968
Some thoughts on this:

### Storing the data

We can store the data in a separate model. We can't store in HTMLFile model because these gets deleted and recreated after a build. Also, no use of ForeignKey because we don't want the relationships to be null when improted files objects are deleted and recreated.

### Updating the data

I believe we can have  API endpoint for it. Send a API request as

[2019-08-12 15:24] humitos commented on #5351
Hey @remram44! I think I fixed your issue.

Please go to https://readthedocs.org/dashboard/import/ and re-sync your social accounts clicking on the small arrows button.

Let me know if it works.

[2019-08-12 15:27] humitos commented on #3932
I think you are right. I'd say that we also need to be able "re-create" the webhook if it was removed (for some reason).

[2019-08-12 15:46] saadmk11 commented on #3932
Yeah I agree. But the issue is what should be the UX for normal webhook creation and RTD Project webhook creation and how should we distinguish between them for the users.

[2019-08-12 16:57] remram44 commented on #5351
Great news, thanks @humitos! I started the process, but it has been going for 5+ minutes. I will report back later.

I assume this is all because of the huge number of repositories in the conda-forge organization. Maybe there should be a way to prevent ReadTheDocs from enumerating repositories in specific organizations? (or you could blacklist this one since it is very much a special case, it has

[2019-08-12 17:09] humitos commented on #6061
Try wiping the version. It may be and old cache file interfering. Please, report back if it continues happening.

[2019-08-12 17:31] remram44 commented on #5351
It worked! Thank you so much @humitos. I don't know if the issue that made this happen was fixed, so I'll leave this for you to close (or not), but as far as I can see my problem is solved.

Thanks again!

[2019-08-12 17:46] humitos commented on #5351
Thanks! We believe the root cause of this is fixed and it seems that you were the only user hitting this problem. I will close it and we can revisit if it re-appears, but I don't think so.

[2019-08-12 17:46] #5351 closed

[2019-08-12 19:07] ericholscher commented on #3932
We should be able to re-sync any webhook we are able to re-sync. It doesn't matter when it's created. That's all we need to do.

* If I have a social account connected, and create a github webhook, it should auto-sync.
* If I have a social account connected, and a github webhook already created, it should have a re-sync button

[2019-08-12 21:13] ericholscher commented on #5968
I think we should likely update it via the footer API, not with JS. I think it should basically work exactly the same as the Search Analytics, except that we aggregate the counts by day for each (project/version/page) grouping. We should likely do the same for Search Analytics, where we aggregate the `count` on the model for each day by project, or at least project.

I think the main goals here ar

[2019-08-12 23:56] jack1142 commented on #561
@stsewd I can see this happening in Cog-Creators/Red-DiscordBot project on `V3/develop` version and `latest` version which uses `V3/develop` too:
https://docs.discord.red/en/v3-develop/
https://docs.discord.red/en/latest/

[2019-08-13 07:27] maldag commented on #5587
Is there any update on this feature?

[2019-08-13 10:18] humitos commented on #5587
Hi @maldag! Unfortunately, no. It's not in our roadmap currently. At this moment, I'd say that this is something that can be implemented by the community more than by the core team because the lack of time currently :disappointed:

[2019-08-13 11:18] saadmk11 commented on #3932
Makes sense.

But can I create another github webhook? if yes then i'll have access to create and auto sync as many webhooks as i want for a single repository the we don't want.

[2019-08-13 15:28] stsewd opened #6068 "Add pagination to version's page"
Currently, we list all versions in one page. This is a problem for projects that have thousands of versions (it's difficult to search the versions and very slow for the db)

https://readthedocs.org/projects/docs/versions/

[2019-08-13 16:01] dojutsu-user opened #6069 "Search index not updated after renaming/moving of a page"
#5845 renames [APIv3 Design Document](https://docs.readthedocs.io/en/latest/development/design/apiv3.html) from `Design of APIv3` to `APIv3 Design Document` but the search results still contains both results.

Related link: https://docs.readthedocs.io/en/latest/index.html?rtd_search=apiv3

![Screenshot from 2019-08-13 21-23-29](https://user-images.githubusercontent.com/29149191/62956950-7816ea80-b

[2019-08-13 16:30] agjohnson commented on #6068
I don't want to paginate that page. We shouldn't be showing disabled versions at all on that page. Adding enabled versions should work like all of our other model views. There should be a separate form view that has a dropdown/autocomplete text input that sets the version to enabled on submit.

This is the pattern that we're working towards with the UI overhaul, so we should start moving in that d

[2019-08-13 16:30] #6068 closed

[2019-08-13 16:58] ericholscher commented on #3932
For now people can create and resync as many as they want, I don't see a problem with this.

[2019-08-13 17:03] saadmk11 commented on #3932
@ericholscher sure! But we will receive multiple webhook requests for the same event and build the same thing multiple times.

[2019-08-13 17:12] stsewd opened #6070 "Version's page is slow"
Currently, we list all versions in one page. This is a problem for projects that have thousands of versions (it's difficult to search the versions and very slow for the db)

https://readthedocs.org/projects/docs/versions/

One idea is to don't list deactivated versions and use a form instead. Not really sure how that looks like, we still need a way to list all versions. If we put an auto complete

[2019-08-13 17:30] ericholscher commented on #3932
Sure, but that isn't the problem we're trying to solve here.

[2019-08-13 17:39] dojutsu-user commented on #6070
We can have infinite scroll?

[2019-08-13 18:01] humitos commented on #6057
This is fixed. You should be able to delete your account. Feel free to reopen if that's not the case.

[2019-08-13 18:01] #6057 closed

[2019-08-13 18:05] humitos commented on #3932
This issue is related to this other one as well: https://github.com/readthedocs/readthedocs.org/issues/5062

[2019-08-13 18:14] stsewd commented on #5875
This was fixed, we executed the drop sql in the db

[2019-08-13 18:14] #5875 closed

[2019-08-13 18:18] davidfischer commented on #5227
This is the path more or less that I'm taking in the private issue: https://github.com/readthedocs/readthedocs-ext/pull/249

Flagging/banning users would still be a manual process but at least the cleanup would happen automatically.

[2019-08-13 21:20] mrava87 commented on #5328
Hi,
trying to revive this discussion. In one of my projects (https://readthedocs.org/projects/pylops-gpu/) I use pytorch and the documentation used to build successfully last time I did it, now - likely because some of the dependencies have been updated - I get the usual ``Command killed due to excessive memory consumption`` error.

I understand that if ``torch`` is just needed in the package but

[2019-08-14 03:31] dojutsu-user commented on #5212
Closing this as the code related to its already deployed in production.
More info: https://blog.readthedocs.com/improved-search-and-search-as-you-type/

[2019-08-14 03:31] #5212 closed

[2019-08-14 03:33] dojutsu-user commented on #4281
Hi @barbara-sfx
We have now support for this and the code is already deployed to production a few days back.
You can find more info on our blog - https://blog.readthedocs.com/improved-search-and-search-as-you-type/
Thanks for your patience.
I am closing this issue.

[2019-08-14 03:33] #4281 closed

[2019-08-14 03:36] dojutsu-user commented on #504
Hi all
I am closing this issue as we have already worked on a Sphinx extension to provide "search as you type" functionality -- [readthedocs-sphinx-search](https://github.com/readthedocs/readthedocs-sphinx-search/)
More info on our blog: https://blog.readthedocs.com/improved-search-and-search-as-you-type/
Thanks for your patience.

[2019-08-14 03:36] #504 closed

[2019-08-14 05:08] TCY-LajeevP commented on #5999
we are not facing this issue now.

[2019-08-14 12:17] humitos commented on #5999
Thanks for the update.

[2019-08-14 12:17] #5999 closed

[2019-08-14 14:39] stsewd commented on #6069
There is this error on sentry, maybe related to this issue

[code]

It happens here

https://github.com/readthedocs/readthedocs.org/blob/e53af663c0996303c249743123b92ae886c1734f/readthedocs/projects/tasks.py#L1640-L1647

https://sentry.io/organizations/read-the-docs/issues/1144425753/?project=148442&query=is%3Aunresolved&statsPeriod=14d

[2019-08-14 18:48] minrock commented on #6024
Hi, I just got the same error, but now when doing the `python manage.py loaddata test_data` I'm facing this error

`django.db.utils.OperationalError: Problem installing fixtures: no such table: projects_project__old`

[2019-08-14 18:50] stsewd commented on #6024
@minrock you need to install the correct version of sqlite, see https://docs.readthedocs.io/en/stable/development/install.html#requirements

[2019-08-14 18:52] minrock commented on #6024
Thank you, didn't notice that

[2019-08-14 22:34] davidfischer commented on #6070
This page's performance is tied to https://github.com/readthedocs/readthedocs.org/issues/3712. Generally each active version results in ~3 extra DB queries because it links to those versions' docs. Having even a couple hundred inactive versions shouldn't matter, but active versions definitely will.

[2019-08-15 06:11] AustinShalit commented on #4641
@davidfischer It has been a week. I just wanted to make sure I didn't get lost in the notification noise.

[2019-08-15 14:15] hiddeco commented on #6069
Not sure if this is related, but for https://docs.fluxcd.io, we also notice that renamed files and files removed from git aren't removed from the index.

E.g. first result for this search: https://docs.fluxcd.io/en/latest/search.html?q=ignore&check_keywords=yes&area=default

[2019-08-15 22:21] davidfischer commented on #4135
Small update here: HSTS on `readthedocs.org` and `*.readthedocs.io` has been completely rolled out with a 1 year max age.

[2019-08-15 22:26] davidfischer commented on #4641
Sorry I missed this. For custom domains, this is a somewhat complicated feature and will require an architectural change on our side. Currently serving docs on a custom domain only serves static files. However, this change necessitates making sure that the cert for the domain is successfully deployed before doing the redirect. We have hundreds of custom domains that "work" but are not configured s

[2019-08-15 23:08] mrocklin commented on #4641
For others, we ended up working around this by adding a JavaScript redirect from http -> https in our sphinx theme.  It's not 100% perfect, but pragmatically it has been working out great.

https://github.com/dask/dask-sphinx-theme/blob/master/dask_sphinx_theme/static/js/custom.js

https://github.com/dask/dask-sphinx-theme/blob/8e25fe28390b28df7ab1c3f0e0c647f834c8a844/dask_sphinx_theme/layout.html

[2019-08-15 23:37] westurner commented on #4135
Thanks!

On Thursday, August 15, 2019, David Fischer <notifications@github.com>
wrote:

[2019-08-16 12:55] astrofrog opened #6075 "Error when trying to import repositories from GitHub"
## Details

When I try and import repositories from GitHub, I see the following error:

[code]

Screenshot:

<img width="828" alt="Screenshot 2019-08-16 at 13 54 50" src="https://user-images.githubusercontent.com/314716/63168952-76297300-c02d-11e9-9248-c99fdc68b861.png">

* Read the Docs username: astrofrog

## Expected Result

The page shows a list of repositories to import

## Actual Result

The

[2019-08-16 16:15] humitos commented on #6075
Thanks for reporting this. I've seen the same issue on #5351. I thought it was an exceptional case and I touched the database manually.

Now, this new report makes me think that there is something in our code that is creating duplicated `RemoteRepository` objects _or_ your account is old enough for where there was a bug in the code and we _were_ creating duplicated.

Are you part of GitHub/GitLab

[2019-08-16 16:26] JLLeitschuh commented on #4641
@mrocklin This still leaves you vulnerable to a downgrade attack where a potential attacker can strip our your custom JS logic and leave them in a downgraded state. Unfortunately, I'd argue that your solution gives a false sense of security when really, none is offered there.

[2019-08-16 17:19] astrofrog commented on #6075
I have 371 repositories and am part of 32 organizations so it could be related to that 😁

[2019-08-16 19:26] dojutsu-user commented on #6069
@hiddeco
Can you try wiping the version and then rebuilding the docs?
You can find the steps for it here: https://docs.readthedocs.io/en/stable/guides/wipe-environment.html

[2019-08-18 12:17] tapaswenipathak opened #6078 "Adding Contributor Covenant Code of Conduct"
Hey folks: having a Contributor Covenant Code of Conduct should be a must for open source project, more necessary for the heavily contributed. I am suggesting adding Contributor Covenant Code of Conduct from https://www.contributor-covenant.org/ or say anywhere from where the maintainers feels is appropriate for the readthedocs GitHub org.

[2019-08-18 18:13] stsewd commented on #6078
Hi @tapaswenipathak, we do have a code of conduct https://docs.readthedocs.io/en/latest/code-of-conduct.html

[2019-08-19 00:14] tapaswenipathak commented on #6078
Hey @stsewd: The doc looks great for following, thanks! Feel free giving a thought if you require a Contributor Covenant Code of Conduct from https://www.contributor-covenant.org/ as well.

[2019-08-19 00:14] #6078 closed

[2019-08-19 01:19] vnmabus commented on #5836
I am reopening this, at it is still pending.

[2019-08-19 15:47] stsewd commented on #5427
This was done in #5431

[2019-08-19 15:47] #5427 closed

[2019-08-19 16:21] stsewd commented on #1340
We have this feature in beta https://blog.readthedocs.com/building-docs-for-pull-requests/

[2019-08-19 16:24] stsewd commented on #1858
I think @davidfischer did some of this?

[2019-08-19 16:26] stsewd commented on #2464
Isn't this the same as #1340 and #2465?

We have the feature in beta https://blog.readthedocs.com/building-docs-for-pull-requests/

[2019-08-19 16:27] stsewd commented on #2465
We have this feature in beta https://blog.readthedocs.com/building-docs-for-pull-requests/

[2019-08-19 16:31] stsewd commented on #6065
I think maybe that's the problem. I don't have experience with git lfs, but I've seen this #1846

[2019-08-19 17:36] davidfischer commented on #1858
For docs pages, I did look at something close to this: https://github.com/readthedocs/readthedocs-sphinx-ext/pull/75

However, due to the way Sphinx works, we cannot just make jQuery async as some code relies on it. If you want jQuery to be async, that would require changes in Sphinx itself and in the base theme.

[2019-08-19 19:07] ericholscher commented on #5836
Bah, sorry for the delay here, do you still want this done?

[2019-08-19 20:10] vnmabus commented on #5836
Yes, please.

[2019-08-20 07:30] plaindocs opened #6083 "URL handling in PR builds (using `htmldir` builder)"
## Details

Looks like the URL handling for PR builds is off.

## Expected Result

When clicking "Conferences" (second link) in `https://external-builds.readthedocs.io/html/writethedocs-www/1055/index.html` the link is pointing at `https://external-builds.readthedocs.io/html/writethedocs-www/1055/conf/`.

## Actual Result

The PR build only understands that as

`https://external-builds.readthedocs

[2019-08-20 08:25] saadmk11 commented on #6083
We do not currently support `htmldir` builds URL Handling. You can add `index.html` after the url to see the doc for now. :)
e.g: `https://external-builds.readthedocs.io/html/writethedocs-www/1055/conf/index.html`

[2019-08-20 12:53] humitos commented on #2464
They are the same to me. I think we can close it.

[2019-08-20 12:53] #2464 closed

[2019-08-20 12:56] humitos commented on #6065
This is definitely the issue. I wrote a workaround some time ago to make it work under Read the Docs: https://github.com/readthedocs/readthedocs.org/issues/1846#issuecomment-477184259

Keep in mind that this is not officially supported by Read the Docs.

That said, let us know if you were able to make it work.

[2019-08-20 13:23] lschmelting opened #6084 "invisible code-blocks"
Hello,

I need some help to find out why some code-block appears normally when the html page is compiled locally, while it does not appear in the online documentation:

* .rst file on Github https://github.com/e2nIEE/pandapower/blob/develop/doc/opf/powermodels.rst

* RAW .rst file https://raw.githubusercontent.com/e2nIEE/pandapower/develop/doc/opf/powermodels.rst
## Details

* Read the Docs projec

[2019-08-20 13:52] lschmelting commented on #6084
Ok this is weird, at the moment it is displayed correctly (in Firefox). Me and another person both accessed the page at random moments in time and the code-block only shows up sometimes.

[2019-08-20 14:40] ericholscher commented on #5836
Just as a note, this will break all current links to the project. Hopefully in the near future we should be able to support automatic renaming & redirects, but currently it's all manual.

[2019-08-20 14:41] ericholscher commented on #5836
I can probably set them up in nginx for now, but it might break in the futute

[2019-08-20 14:59] vnmabus commented on #5836
Hum, I though that it was possible to redirect the old url to the new one. I do not want to break existing links 😢.

[2019-08-20 17:55] stsewd commented on #6084
I can't see the code blocks from firefox

[2019-08-20 18:45] dojutsu-user commented on #6084
@stsewd
I am not able to see in Chrome (Version 74.0.3729.157 (Official Build) (64-bit)) and Ubuntu 18.04.2 LTS.

![Screenshot from 2019-08-21 00-10-32](https://user-images.githubusercontent.com/29149191/63375095-bd569180-c3a8-11e9-96c8-1954f4cc2635.png)

[2019-08-20 18:59] #3932 closed

[2019-08-20 19:13] ericholscher commented on #1340
Going to call this one closed, as it's now in the codebase. We will slowly roll it out, but it's done 👍

[2019-08-20 19:13] #1340 closed

[2019-08-20 19:49] saadmk11 commented on #6052
Closing this as all the work for this issue has been merged.

[2019-08-20 19:49] #6052 closed

[2019-08-20 19:51] saadmk11 commented on #2465
Closing as this feature has been implemented. :)

[2019-08-20 19:51] #2465 closed

[2019-08-21 04:42] makcedward opened #6086 "sndfile library not found"
## Details

* Read the Docs project URL: https://testreadthedoc2.readthedocs.io/en/latest/
* Build URL (if applicable): https://readthedocs.org/projects/testreadthedoc2/builds/9543001/
* Read the Docs username (if applicable): Edward Ma

## Expected Result

After adding library dependency, expecting all libraries can be installed.

## Actual Result

My project uses librosa (for manipulate audio fi

[2019-08-21 10:58] hiddeco commented on #6069
@dojutsu-user already did this before I commented, without any effect.

[2019-08-21 11:51] humitos commented on #6086
Hi @makcedward! You may want to check out this FAQ: https://docs.readthedocs.io/en/stable/faq.html#i-get-import-errors-on-libraries-that-depend-on-c-modules

[2019-08-21 14:34] humitos commented on #5821
Sphinx calls this `docname` internally. I would be good if we use the same name for the same concept to avoid miss understandings.

Another useful concepts that may add some context here are: `labelid` (which are the ones used in `:ref:` role) and `sectionname`.

Besides, I'm not 100% sure, but `refdocname` seems to be what Sphinx uses for the filename path (containing the .html).

[2019-08-21 15:46] makcedward commented on #6086
@humitos
Thank you very much. The issue is fixed my adding mock modules. Also, building time is decreased as well.

[2019-08-21 16:08] stsewd commented on #6086
Thanks for letting us know

[2019-08-21 16:08] #6086 closed

[2019-08-21 19:26] geekRishabhjain commented on #5385
Hey, I am not able to figure it out yet. I use ubuntu. My SQLite version is 3.27.2. Beginner to SQL, how do I fix this issue?

[2019-08-21 19:31] stsewd commented on #5385
@geekRishabhjain you need sqlite < 3.26, check https://docs.readthedocs.io/en/stable/development/install.html#requirements

[2019-08-21 19:54] geekRishabhjain commented on #5385
I can't find any method for ubuntu. Can anyone please tell me any terminal command to install an older version of sqlite? And how to set my django project to use it instead of the former

[2019-08-21 20:50] Daltz333 opened #6089 "Compress output PDF"
## Details
I'd like to compress the output PDF/EPUB file using [ghostscript](https://www.ghostscript.com/). However, it seems that ReadTheDocs does some custom configuration to it's latex PDF generation. Building the PDF locally outputs the PDF with the following format ``/build/latex/firstroboticscompetition.pdf``, and ReadTheDocs outputs it with ``/en/latest/frc-docs.pdf``. My documentation is o

[2019-08-21 22:04] davidfischer commented on #6089
RTD always stores the PDF as `<project-slug>.pdf` so that's the answer to this oddity.

Are you running a post-build command or something to compress your PDF locally when you do it? I'm not sure if there's already a way to use ghostscript in Sphinx but there's probably a way to make an extension for it.

[2019-08-21 22:39] ericholscher opened #6090 "Add UI element for resyncing versions from VCS"
Currently we have a task that resyncs Versions from VCS:

https://github.com/readthedocs/readthedocs.org/blob/7fda1c0c36f3a498d55f503a09780fbe78928a88/readthedocs/projects/tasks.py#L217

We should create a button on the Versions page (/projects/<slug>/versions/) that lets users automatically trigger a resync. We usually try and resync versions whenever we get a new webhook from GitHub, but there a

[2019-08-22 09:10] kmaehashi opened #6092 "Request for increase build memory resource in Chainer project"
## Details

* Read the Docs project URL: https://readthedocs.org/projects/chainer/
* Build URL (if applicable): https://readthedocs.org/projects/chainer/builds/9549466/
* Read the Docs username (if applicable): kmaehashi

## Expected Result

Document build succeeds.

## Actual Result

Build fails for 9 times out of 10 with the following error:

[code]

Our project would like to publish documentati

[2019-08-22 12:48] humitos commented on #6092
I increased the memory for your project and triggered a new build of latest. It worked: https://readthedocs.org/projects/chainer/builds/9550366/

I just triggered a second one just in case, but I suppose that it will keep working.

Let us know otherwise.

[2019-08-22 12:48] #6092 closed

[2019-08-22 14:22] maldag opened #6094 "Docker in Docker"
## Details
I'm setting up a local build environment with readthedocs and like to wrap it up in an docker-compose file. There are several docker-compose files on github, but I don't know if readthedocs.org is made to use ENABLE_DOCKER for builds, when readthedocs itself is already being run in a docker environment.

Is this something you've thought about using the Docker-Py Api?

[2019-08-22 15:24] kpj opened #6095 "Using Jupyter's bash_kernel with nbsphinx"
## Details

I am integrating Jupyter notebooks into my Sphinx documentation using [nbsphinx](https://github.com/spatialaudio/nbsphinx).
This works fine for Python kernels, but fails for e.g. [bash_kernel](https://github.com/takluyver/bash_kernel).
The problem is that `bash_kernel` requires an additional installation step.

I have already added `bash_kernel` as a dependency to my requirements file

[2019-08-22 15:30] stsewd commented on #6095
Unfortunately that's the only way, we don't support executing arbitrary commands.

Maybe it could be done with an extension.

[2019-08-22 15:58] kpj commented on #6095
I see. As a test, I added the following to my `conf.py`:
[code]

The kernel is then available, but execution seems to fail: https://readthedocs.org/projects/project-manager/builds/9551548/
What would be the best way of debugging this?

[2019-08-22 16:09] stsewd commented on #6095
@kpj the best way is to execute the same commands locally and see if you can replicate the same error.

[2019-08-22 17:50] stsewd opened #6096 "Check use of `latest` for latest unreleased versions vs latest stable versions"
We should check this in our docs and help texts, it's confusing for some users.

[2019-08-22 18:08] stsewd commented on #6046
Also related to https://github.com/readthedocs/readthedocs.org/issues/2593

[2019-08-22 18:14] stsewd commented on #6096
Here is a place where it needs clarification https://docs.readthedocs.io/en/stable/versions.html#version-warning and on the advanced settings `Show version warning`.

It should mention that the banner links to the latest stable version.

[2019-08-22 18:55] pllim commented on #6046
Hello. I really like this feature and I have begun to roll it out to my projects. So, thank you very much!

In my workflow, I find something like `[skip rtd]` in the commit message to prevent it from running is more useful. This way, PR authors themselves can control it from commit to commit, without having to tinker with config files unrelated to the PR. This is akin to `[skip ci]` on Travis, App

[2019-08-22 20:47] pllim opened #6097 "Auto PR Build fails when branch force pushed"
## Details

* Read the Docs project URL: https://readthedocs.org/projects/synphot/
* Build URL (if applicable): https://readthedocs.org/projects/synphot/builds/9552745/
* Read the Docs username (if applicable): pllim

xref spacetelescope/synphot_refactor#214

## Expected Result

Successful build and a green check.

## Actual Result

Error in build and the check got stuck in the yellow "pending" pu

[2019-08-22 22:06] stsewd commented on #6097
Looks like we can't do a fetch when a commit was rebased, we need to do a clone instead.

[2019-08-22 22:16] humitos commented on #6094
Hi! There were different attempts for this with different implementations but none of them currently works. There is no documentation about these attempt either.

Unfortunately, this is not officially supported and there is not too much advice that we can give you :disappointed:

[2019-08-23 00:19] stsewd commented on #6097
I just tested this, the payload from the pull request doesn't include if the sync was done with a forced push.

We are testing always doing a clone #5680, but not sure if it would be released. Another option is to force a clone for the PR versions.

[2019-08-23 08:10] kpj commented on #6095
My apologies. I should have made clear that I already checked this setup locally, and it works fine.

In particular, I did the following:
[code]

I investigated the problem a bit more, and it turns out that the error code `127` indicates that the command `tree` cannot be found.
This might be a separate issue, but is there a way of providing it?

[2019-08-23 17:02] JediKev opened #6098 "Unable To Update Build"
## Details

Hello everyone. I have a local installation of RTD that has been running for over a year now without any issues. I recently added an SSL certificate for the main domain and somehow this broke the `update_build` function. I can see the payload being sent from GitHub, I can see the payload being delivered to RTD with `200 Success`, and I can see the build in Triggered state but nothing h

[2019-08-23 17:16] stsewd commented on #6098
Looks like you are using python2, Read the Docs only runs on python3.6 https://docs.readthedocs.io/en/latest/changelog.html#version-3-0-0

[2019-08-24 09:36] tapaswenipathak commented on #5855
Hi @stsewd: I just posted few questions in Gitter.

[2019-08-24 10:13] kushthedude commented on #4966
@stsewd As far as I can understand, We need to make `raw_config` private and show a `raw-config` example file ?

[2019-08-24 16:58] eirrgang commented on #5867
In environments where the Python installation is known to before invoking CMake, CMAKE_PREFIX_PATH does appear to be more robust. I don't know how to reliably get this information from the RTD build environment into the CMake call, though.

[2019-08-24 17:34] Daltz333 commented on #6089
Sphinx doesn't seem to expose a latex end event, and I'd like to run a post-build command.

[2019-08-24 20:49] humitos commented on #6089
@Daltz333 you may be interested in the `build-finished` event. See https://www.sphinx-doc.org/en/master/extdev/appapi.html#event-build-finished

[2019-08-25 02:30] Daltz333 commented on #6089
I dont believe there is a way to distinguish between HTML builds and latexpdf/epub builds

[2019-08-25 04:27] humitos commented on #2049
It's possible to easily implement this by replacing the source text from the reStructuredText file with a `:abbr:` for example (this could be easily replaced with a better tooltip, though).

[code]

Although, this easy implementation has some drawbacks/limitations since it does not understand reStructuredText and the replacement could be done inside a directive or a role that we don't want.

This

[2019-08-25 04:32] humitos commented on #6089
You will have the builder used at `app.builder`. For example,

[code]

or

[code]

[2019-08-25 16:09] humitos commented on #1812
I'm closing this issue.

We have the extension built already and a beta release was published. There is no big known issues currently.

In any case, we can track these problems on its own repository: https://github.com/readthedocs/sphinx-hoverxref

[2019-08-25 16:09] #1812 closed

[2019-08-25 16:35] humitos commented on #5546
Hi @vidartf cc @chrisjsewell

Yes. We do have a Feature Flag now that I can enable in your project if you want. This flag makes RTD to install all the dependencies in just one step using your own `environment.yml` file only (RTD dependencies are appended to the YAML file).

The flag is called: `CONDA_APPEND_CORE_REQUIREMENTS`

See https://docs.readthedocs.io/en/latest/guides/feature-flags.html

Le

[2019-08-26 01:13] kmaehashi commented on #6092
Thank you!

[2019-08-26 02:06] #6060 closed

[2019-08-26 06:10] maldag commented on #6094
I'd like to give you an update on this topic since I've got it working with docker in docker.

- I'm using RTD version 3.7.2
- Docker in Docker seems to be popular using jenkins as a build system, so I found some help searching for `Docker in Docker jenkins`

Anyways:

1. Run RTD via supervisord in docker as root. Setup supervisord to run the python process RTD as user docs:docs
2. The Docker API

[2019-08-26 18:19] dojutsu-user opened #6102 "Projects built with `htmldir` have invalid link for homepage in search results"
Projects that are built with `htmldir` have invalid link in search results to homepage.
For example: https://2.python-requests.org/en/master/search/?q=%22The+Contributor%22

This is related to #5821.

We are using `processed_json.path` for the search results, but the correct path is present in `full_path`.

https://github.com/readthedocs/readthedocs.org/blob/3c04a96b3a9ea8b68ecf270670080285c73c689

[2019-08-26 18:58] dojutsu-user commented on #5968
@ericholscher
This idea looks better, footer_api probably is the best place for it.
I will start working on it right away.

[2019-08-26 23:46] tapaswenipathak commented on #5855
Thanks for letting me know, I will add few things in the PR.

[2019-08-27 07:29] kpj commented on #6095
The error I get is:
[code]

Is there a way of debugging this phenomenon without repeatedly pushing slight modifications?

[2019-08-27 10:52] vidartf commented on #5546
@humitos This sounds promising! Would you mind enabling the flag on https://readthedocs.org/projects/ipyscales/ for now? Then if/when everything works smoothly I probably have a few more (~5 projects I think) if possible.

[2019-08-27 11:30] maldag opened #6107 "Global search on elasticsearch for private repositories"
I'm running a local instance of RTD (3.7.2) combined with elasticsearch.
Searching the whole RTD instance from the landing page also returns search entries belonging to private repositories. This seems to be a security flaw since the index probably doesn't care about access rights on the webpage.

The major goal I'm trying to achieve is hosting development and user documentation on the same server

[2019-08-27 14:35] kiran-kate opened #6108 "install_requires in setup.py points to a git url, but install on rtd searches pypi and fails."
* Read the Docs project URL:https://readthedocs.org/projects/lale/
* Build URL (if applicable): https://readthedocs.org/projects/lale/builds/9568011/
* Read the Docs username (if applicable): kiran-kate

The setup.py file in this project has a requirement that points to a public git url, using "git+<git_url>". This is a valid way to specify a dependency in python setup, and this installation works

[2019-08-27 22:21] saadmk11 commented on #6097
I'm closing this as the PR regarding this is merged. :)

[2019-08-27 22:21] #6097 closed

[2019-08-28 05:10] maldag commented on #6107
Yes, I did setup two projects with one version (latest) each. Project A is a public project with public version and project B is a private project with a private version.

Elasticsearch will index both (Autoindex set to true) and will return results from the private project when not logged in as an appropriate user.

[2019-08-28 07:30] maldag opened #6113 "Elasticsearch auto Index fails"
## Details
I'm running a local installation of readthedocs 3.7.2 with the following procedure:

[code]
Then I create a project and build the project using the `readthedocs/build:latest` docker image. This is also working. After completion of building the project the elasticsearch-index shall be automatically updated. Thus, I activated the following settings:
[code]

The log message after compiling

[2019-08-28 08:14] maldag commented on #6113
I've found a proper way for this, using `$> python3 manage.py search_index --create` to create an index in the first place resolves this chicken-egg problem.
Sorry for the noise ...

[2019-08-28 08:14] #6113 closed

[2019-08-28 08:24] chezou opened #6114 "Abandoned project request: pytd"
## Details

* Read the Docs project URL: https://readthedocs.org/projects/pytd/
* Build URL (if applicable):
* Read the Docs username (if applicable): chezou, @takuti

## Expected Result

We'd like to use the 'pytd' project name on RTD for our active project at https://github.com/treasure-data/pytd

The current 'pytd' project on RTD only hosts the initial generated page and seems using GitHub page

[2019-08-28 21:49] szelesi opened #6117 "Request to enable SEARCH_ANALYTICS feature flag for project Veeam Best Practise 9.5u4a"
## Details

* Read the Docs project URL:
* Build URL (if applicable):
* Read the Docs username (if applicable):

## Expected Result

*A description of what you wanted to happen*

## Actual Result

*A description of what actually happened*

[2019-08-29 07:01] #5112 closed

[2019-08-29 10:47] lschmelting commented on #6084
Any ideas what code change might help?

[2019-08-29 16:09] ddutchie opened #6119 "Missing Images"
## Details

* Read the Docs project URL: https://luxwalker.readthedocs.io/
* Build URL (if applicable): https://readthedocs.org/projects/luxwalker/builds/9583833/

## Expected Result

Images should show if shown in local build.

## Actual Result

Images are missing from my readthedocs build. Works fine when using make html.

See here https://luxwalker.readthedocs.io/en/latest/advanced/settings.htm

[2019-08-29 16:25] ddutchie commented on #6119
https://luxwalker.readthedocs.io/en/latest/extra/extra.html

Expected Result:

![image](https://user-images.githubusercontent.com/10877426/63958248-4bf29f00-ca8a-11e9-82a5-28118b3bfd4a.png)

Result:

![image](https://user-images.githubusercontent.com/10877426/63958274-5a40bb00-ca8a-11e9-913e-3be883f8c57d.png)

Just to clarify, it does not happen to all images.

[2019-08-29 17:31] Matthias84 opened #6120 "OPDS for browsing all manuals via eBook-Reader"
## Details

Hi , I use RDTD a lot to learn about python modules. Somethmes I download also PDFs/ePubs to read it offline at the PC (on travel, vacation ... with bad internet connectivity)

But what I think is missed, is a simple interface for eBook-Readers, to search for docs and download them. Luckily there is the [OPDS](https://opds.io) specification, that describes how to make use of RSS feeds,

[2019-08-29 18:52] di opened #6122 "Github Webhook"
## Details

* Read the Docs project URL: https://readthedocs.org/projects/python-packaging-user-guide
* Build URL (if applicable): n/a
* Read the Docs username (if applicable): `di`

## Expected Result

Webhook successfully integrates.

## Actual Result

The automated Github webhook for our project has been failing for the last ~4 months. When I logged in to https://readthedocs.org/dashboard/pytho

[2019-08-29 19:08] stsewd commented on #6122
The first part of the documentation makes reference to automatically created webhooks.
For webhooks that were created manually (second part of the docs) we don't allow users to put a secret yet.

Do you have your webhook on github with a secret set? This should be blank for manually created webhooks.

[2019-08-29 19:13] di commented on #6122
I do not. Here is the full request:

**Headers**
[code]

**Payload**
[code]

And the response:

**Headers**
[code]

**Body**
[code]

[2019-08-29 19:58] stsewd commented on #6122
Hmm, I just checked on the db, for some reason the integration was created with a secret. I just tested it with another project and the integration was created without a secret. I removed the secret from your integration.

When did you create the integration? Did you test recreating the integration? We can investigate more if this happens again, but I'm not able to replicate it now.